[2022-05-19 03:36] hicaistar commented on #8124
@longwuyuan  Is this so by designed or bug?

We also have the same problem, and only one ingress in our environment. And our configuration of ingress controller is :
    resources:
      limits:
        cpu: 500m
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 512Mi

[2022-05-19 03:39] nabokihms opened #8602 "More specific default backend message"
Hello, community ✋ I have a feature request regarding the default backend.

When you try to access the host which is not served by ingress-controller, you will end up landing on the default backend with the 404 error - default for nginx.
[code]

It might be confusing because Nginx is commonly used in many other applications and places (as far as I'm concerned, this is the most popular container).

[2022-05-19 06:13] longwuyuan commented on #8602
Does this work for your requirement https://kubernetes.github.io/ingress-nginx/examples/customization/custom-errors/#customized-default-backend

[2022-05-19 06:28] nabokihms commented on #8602
@longwuyuan, thank you for the quick answer! As I've mentioned above - yes, this is an option, yet I still need to deploy an external dependency all the time for, as I see it, a common use case.

[2022-05-19 06:44] longwuyuan commented on #8437
@esigo hope things are great.

We are facing the same checksum error when the project CI tries to build the image. Can yo advise how we can fix that. If you are on slack, kindly join here https://kubernetes.slack.com/archives/C021E147ZA4/p1652803381659469?thread_ts=1652791642.188709&cid=C021E147ZA4 .  Alternatively, kindly advise if you can access these build logs https://console.cloud.google.com/

[2022-05-19 06:52] longwuyuan commented on #8602
Do you have a PR in mind to change that text in default image used by the project

[2022-05-19 07:20] nabokihms commented on #8602
I thought about it, yes, but it is worth discussing first. Maybe anyone has concerns about changing this text, e.g., revealing information about services topology (fraud will know that there is an ingress controller in a Kubernetes cluster by requesting a random domain, which will help plan an attack).

[2022-05-19 07:22] longwuyuan commented on #8124
@hicaistar I am not a developer so my comments could be completely wrong on code aspects. But I am curious to know the complete context of what you are asking/telling/questioning.

- Yes, the leader only will update status because the alternative is multiple sources of updates. What is your question related to this ?
- The update internal is reasonable determined as per what you see. What is your

[2022-05-19 07:25] longwuyuan commented on #8602
Many users need more than just change in text so they build their own backend with own CSS and static stuff. Still what you say makes some sense. So if you want, then please kindly submit PR to change that text/page. But please do so in a way that requires least future maintenance.

[2022-05-19 09:17] kundan2707 commented on #6155
@iamNoah1  if no one is working on it i want to work on this .

[2022-05-19 09:38] longwuyuan commented on #8395
@vdboor I am curious to understand and clarify something.

- The helm chart is generic
- The Azure install recommendation is this manifest https://kubernetes.github.io/ingress-nginx/deploy/#azure
- That manifest is essentially a link to https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/cloud/deploy.yaml
- Putting provider specific configuration into the generic helm char

[2022-05-19 13:24] weh opened #8605 "Static kind manifest failes to deploy on kind 1.24.0"
**NGINX Ingress controller version** : 1.2.0
**Kubernetes version** : 1.24.0

**Environment**:

- **Cloud provider or hardware configuration**: local kind cluster
- **OS** (e.g. from /etc/os-release): kindest/node:v1.24.0
- **Install tools**:
  - kind cluster with 1 control and two worker nodes
- **Basic cluster related info**:

[code]
- **How was the ingress-nginx-controller installed**:
`kubectl

[2022-05-19 16:15] Tobrek commented on #8437
I finally got a local version of the nginx controller running with the opentelemetry sidecar.
Changes done to get it working can be checked at https://github.com/Tobrek/ingress-nginx/commit/555cb568026cbc25421b95e499a2df168105c0c8
Before anybody say something ... I know that this is no final solution. There are some open points (e.g. nginx.tmpl must be adapted to load the module when the sidecar i

[2022-05-19 16:22] j-zimnowoda commented on #8338
I see dozens of these kind of logs. It creates a lot of noise  and makes it difficult to analyse the logs :(

[2022-05-19 16:30] ElvinEfendi commented on #4972
/reopen

[2022-05-19 16:30] ElvinEfendi commented on #4972
/assign @fpetkovski

[2022-05-19 16:41] longwuyuan commented on #8605
as usual, awesome fantastic solution to a problem @BenTheElder 🙏

@weh , do you want to submit a PR that fixes our generate-deploy script to add that taint to all manifests, as per suggestion from @BenTheElder ?

[2022-05-19 20:05] esigo commented on #8437
Hi @longwuyuan, I joined the channel. I think the reason for the hash check failure is that for some reason the tar file is not downloaded. We can check this by adding `--fail-with-body` to the curl command. Is it possible to run your CI on some branch?

[2022-05-19 20:36] longwuyuan commented on #8437
Hi @esigo,
Thank you so much for messaging. Branching is complicated. We can wait to hear from Ricardo on the branch idea, but if you want we can put in a PR to add `--fail-with-body` to curl (you can do it or I can do it).

@rikatz please comment on branch idea.

[2022-05-19 20:39] longwuyuan commented on #8437
/priority important-soon

[2022-05-19 20:46] esigo commented on #8437
Looking into your log again, I believe the problem is on curl side.  The second line of the log I posted here is because of curl. The curl fails to download but the script keeps running and reports the error on hash. This can have many reasons, and it would be tedious and complicated to debug/troubleshoot as I have no access to the links you provided.
[code]
I would suggest switching to git, as it

[2022-05-19 20:50] longwuyuan commented on #8437
ok awesome. Will wait for your PR.
I am wonder if I copy/pasted that sha from the OT repo history or did you already look at it while doing your PR. I know for sure that I changed the sha, at least once, but that was much before talking to you.

[2022-05-19 21:32] BenTheElder commented on #8605
If not I'm happy to send a PR soon.

To elaborate a bit on the situation, just for context:
- kind specially removes the taints from single node clusters, so there is a schedulable node, these clusters should be unaffected, at least on the latest release
- kind does not remove the control-plane-node taints from multi-node clusters
- kubernetes / kubeadm migrated the taints and labels for the contr

[2022-05-19 21:54] longwuyuan commented on #8605
@BenTheElder :pray:

Noted the info you listed.
Just to add to that list ;
- We create a helm-chart with some generic config templates in CI
-  And then we do `helm template` on that chart to get our base for generating static manifests for 6-8 providers
- We bash script the creation of static manifests for different providers and different versions of K8s, using  https://github.com/kubernetes/ing

[2022-05-19 22:39] BenTheElder commented on #8605
I think the part I'm missing is, if it's desirable for any of the other deployments.

I think the answer is no, I don't see references to `node-role.kubernetes.io/master` elsewhere in the repo, and it is a bit unusual to do. I think only the kind manifest needs updating.

[2022-05-20 00:08] longwuyuan commented on #8605
True.

From the last time there was an issue related to the taint/toleration, I recall something similar but I had not checked then. So now that we are adding a toleration, I am hoping its only in the base deployment.yaml and hoping the script does not need a change. That is hope though, not confirmed status quo.

Thanks  & regards,
---
; Long Wu Yuan

[2022-05-20 00:27] longwuyuan commented on #8437
We have a new image. Thanks so so much @esigo . Promoting it now https://github.com/kubernetes/k8s.io/pull/3746. and will test it in chart as soon as available to see if the module loads

[2022-05-20 00:31] longwuyuan commented on #8437
/reopen

Will close after testing the opentelemetry module to load

[2022-05-20 01:57] longwuyuan commented on #8437
@esigo we have some progress but looks like no option but to ask you more questions. In summary, the otel modules loads from the new image built yesterday but its looking for the grpc module and fails.

Is the grpc module supposed to be in the image. Are we forgetting to copy the grpc module over ;

% k exec -ti ingress-nginx-controller-5f846c75b5-lc7lx -- sh
Defaulted container "controller" out o

[2022-05-20 02:13] longwuyuan commented on #8437
@esigo, I see that we have the module in the image ;
[code]

But the grpc module is not under /etc/nginx/modules. Instead its under /usr/lib and the `init_module.sh` is not copying it over to the `/modules_mount` location that the `ingress-nginx-controller` container in the pod is using to get shared modules.

Don't know the history of the `init_module.sh` script yet but do you want to alter build

[2022-05-20 06:38] longwuyuan commented on #8437
@esigo , on looking again, maybe we can just add another line 46 in Dockerfile, that looks  like ;
[code]

[2022-05-20 07:43] Tobrek commented on #8437
@longwuyuan just copying the libopentelemetry* files to /etc/nginx/modules didn't worked for me. Local path seems to be not in the lib search path. Also it would give strange structures if you copy the libs to /etc/nginx/modules in the sidecar container - init_module.sh would copy the files to /modules_mount/etc/nginx/modules/<filename>/<filename>.
Also when i understood it correctly, just these 5

[2022-05-20 08:12] FarhanSajid1 commented on #6506
Facing the same issue

[2022-05-20 09:37] Harmelodic commented on #7959
Not sure if it's still an issue or not, since we haven't even tried removing the hand-cranked `configuration-snippet`.

Will hopefully try that out soon and report back.

[2022-05-20 11:17] shuaiyy opened #8610 "How to set a proxy_set_header in annotation"
i want to add a custom header from cookie value,  and below ingress not worked

[code]

part of the nginx config :

[code]

[2022-05-20 11:31] longwuyuan commented on #8610
/close
Thanks,
---
; Long Wu Yuan

[2022-05-20 11:58] #8610 closed

[2022-05-20 14:20] usersina commented on #6140
This is the only setup that worked for me locally. However it's only accessible at `/prometheus/graph`. /prometheus redirects me to /graph for some reason.

[code]

[2022-05-20 15:16] jobinjosem1 opened #8611 "could not find service ingress-nginx-controller in namespace ingress-nginx"
I am getting error `could not find service ingress-nginx-controller in namespace ingress-nginx` while running kubectl ingress-nginx info. I know why because I am using a different name for my ingress-nginx-controller than the standard one.
I browsed the issue history and found this one  https://github.com/kubernetes/ingress-nginx/issues/8450 to add --deployument name to the command but that doesn'

[2022-05-20 15:50] longwuyuan commented on #8611
Please provide the information asked in the issue template and then reopen the issue.

/remove-kind bug
/close

[2022-05-20 15:50] #8611 closed

[2022-05-20 17:08] krixon-pg commented on #8084
This is important for using the ingress with Consul which uses the `consul-hashicorp-com-service-ignore` label rather than an annotation for specifying that the service should be excluded from Consul's service mesh.

https://www.consul.io/docs/k8s/annotations-and-labels#consul-hashicorp-com-service-ignore

[2022-05-20 17:40] esigo commented on #8437
@longwuyuan I thought the container will be used as it is, so I copied everything to:
`COPY --from=nginx /opt/third_party/install/lib /usr/lib`
this command should put every .so file needed to /usr/lib.
If you are using the .so files somewhere else we can simply use:
`COPY --from=nginx /opt/third_party/install/lib /etc/nginx/modules`
so that everything is copied to the same place. But then you nee

[2022-05-20 19:03] rmelick-vida opened #8613 "Support for secrets or environment variables in helm chart http-snippet"
# What do you want to happen?
I'm migrating our current deployment of `ingress-nginx` from a home built helm chart, to the official helm chart.

As part of our configuration, we have set up rate limiting, as described at https://www.nginx.com/blog/rate-limiting-nginx/.

We have a variety of backend locations, and would like to apply the same rate limiting to all of them, so we have configured that

[2022-05-20 19:07] longwuyuan commented on #8437
@tao12345666333 please check and comment for LD_LIBRARY_PATH situation as per above comment

[2022-05-20 19:55] longwuyuan commented on #8437
@rikatz the LD_LIBRARY_PATH situation above is special so please comment/advise

[2022-05-20 19:59] evandam opened #8614 "nginx-errors backend not returning custom json error responses"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: EKS 1.22
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): 5.4.188-104.359.amzn2.x86_64
- **Install tools**:
  - EKS with Terraform

[2022-05-20 20:47] evandam commented on #8614
Update: looks like it's actually a documentation issue, there's already a PR open https://github.com/kubernetes/ingress-nginx/pull/8558 that solves it, so can probably close this one out when the PR is merged 👌

[2022-05-20 22:05] jobinjosem commented on #8450
@strongjz I am having the same issue. Do you know where I can mention the --deployment flag? I tried it with the kubectl ingress-nginx lint command but it throws an error that --deployment is an unknown flag.

[2022-05-21 00:04] FarhanSajid1 commented on #6506
I’ve only seen this when I’ve added 2 dns entries:
example.com
api.example.com

Is there something that I’m missing?

[2022-05-21 09:52] #8605 closed

[2022-05-21 13:16] #8048 closed

[2022-05-21 15:20] renmcc opened #8615 "How to add header information in different locations"
Hello everyone, how to add different header information to different locations through the inress rule

[2022-05-21 15:23] renmcc commented on #8615
![Uploading B18215F6-11B2-49E4-8B33-A07F83CA7D2B.png…]()

[2022-05-21 15:24] renmcc commented on #8615
hello everybody help me

[2022-05-21 17:06] tao12345666333 commented on #8615
please translate into english, thanks

[2022-05-21 17:07] tao12345666333 commented on #8615
/remove-kind feature

[2022-05-21 18:18] #4972 closed

[2022-05-22 01:20] leanalcabasa commented on #4266
For anyone else, setting the base-href worked for me too

[2022-05-22 01:58] renmcc commented on #8615
nginx.ingress.kubernetes.io/configuration-snippet: |
  more_set_headers "Request-Id: $req_id";

This syntax is added to all locations. How do I write it if I want to add it to the specified location

[2022-05-22 01:59] renmcc commented on #8615
help me ,everyone

[2022-05-22 11:21] #8006 closed

[2022-05-22 17:41] anootakki opened #8617 "Nginx doesn't always reusing connections from the connection pool and trying to open new connections."
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):controller:v0.49.3

**Kubernetes version** (use `kubectl version`):v1.21.5-gke.1300

**Environment**:DEV

- **Cloud provider or hardware configuration**:Anthos
- **OS** (e.g. from /etc/os-release):RHEL 8.4
- **Kernel** (e.g. `uname -a`):4.18.0-305.12.1.el8_4.x86_64

**What happened**:
For the purpo

[2022-05-22 18:36] rittneje commented on #8259
not stale

[2022-05-22 21:48] longwuyuan commented on #8617
Affinity or keepalive could be related.
The info yo have provided is hinting at a behaviour but it would help if you write a step-by-step procedure that someone can copy/paste on a kind or a Minikube cluster. This will help in completing the triage.

Also, there is no information posted as per the issue-template. I will close this for now and you can reopen after you have posted info as per the is

[2022-05-22 21:48] #8617 closed

[2022-05-23 02:55] rittneje commented on #8264
not stale

[2022-05-23 03:19] renmcc commented on #8615
Is there anyone, please

[2022-05-23 03:34] longwuyuan commented on #8615
I think you can only set custom headers for all ingress currently.

Thanks,
; Long

On Mon, 23 May, 2022, 8:49 AM ren_mcc, ***@***.***> wrote:

[2022-05-23 04:50] longwuyuan commented on #8614
/remove-kind bug

Does this happen in v1.2.x as well ?

[2022-05-23 09:23] renmcc commented on #8615
Each of my locations needs different header information

[2022-05-23 09:25] bmv126 commented on #7916
/reopen

[2022-05-23 09:33] longwuyuan commented on #8615
Send header and do tcpdump -s 1024 -l inside pod. You will your header

Thanks,
; Long

On Mon, 23 May, 2022, 2:53 PM ren_mcc, ***@***.***> wrote:

[2022-05-23 09:55] aguacongas commented on #8584
I reopen because I did test on my local machine using docker desktop and I'm not enable to receive the client certificate in headers. `ssl-client-verify`is always none.

[code]

[2022-05-23 10:47] manibatra commented on #8615
You can use [configuration-snippet annotation](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#configuration-snippet) to add custom headers to the request. Unfortunately, this can't be done specifically for a path in a single Ingress resource. However, you can create multiple Ingress resources, each with different paths and headers to the incoming request.

[2022-05-23 11:40] wangyysde commented on #7234
@rikatz  Are you preparing a PR for this? I try to do it if you are not work for it.

[2022-05-23 11:59] rikatz commented on #7234
@wangyysde if you can work on it, I will be happy to review :) right now I'm not working on it

[2022-05-23 12:26] renmcc commented on #8615
I understand that each ingress resource corresponds to an nginx server. How to create multiple ingress resources when the nginx server is unique?

[2022-05-23 12:29] renmcc commented on #8615
<img width="693" alt="image" src="https://user-images.githubusercontent.com/18185044/169819404-bfa5c1d1-5278-4530-9a54-1c0a8d0862b4.png">

This is an nginx.conf example

[2022-05-23 12:30] longwuyuan commented on #8615
Sorry for asking again, have you actually sent a http request with some header and the pod is not able to see the header ?

[2022-05-23 12:30] renmcc commented on #8615
My requirement is to implement the above configuration through ingress

[2022-05-23 12:33] renmcc commented on #8615
Each location needs to be configured with a different header

[2022-05-23 13:57] meng-yu-github opened #8620 "no secret ingress-nginx-admission find"
Hi!
I used YAML for deployment of ingress-nginx, but pod did not start successfully.
[code]

**Information about deployed resources:**
[code]

**Information about pod/ingress-nginx-admission-create--1-pcgvw**
[code]

**Information about pod/ingress-nginx-admission-patch--1-zhh7d**
[code]

**Kubernetes version**
[code]

**Current State of the controller**
[code]

**What you expected to happen**:
I

[2022-05-23 14:42] venksel opened #8621 "failed load groupID due to invalid ingress class: IngressClass.networking.k8s.io "<<name>>" not found"
Hi there folks!

Currently using AWS EKS v1.22 with Nginx Ingress controller v1.1.2.

Ingress objects are currently using the annotation (kubernetes.io/ingress.class) to get to the appropriate Nginx controller. However, given the annotation may get deprecated down the line, so wanted to use IngressClass instead. However, IngressClass does not work as expected.

Here are the command-line arguments

[2022-05-23 14:48] longwuyuan commented on #8621
Replied on slack

Thanks,
; Long

On Mon, 23 May, 2022, 8:13 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-05-23 15:18] meng-yu-github commented on #8620
I want the status of the following two pods to be running
[code]

[2022-05-23 15:18] tall-dan commented on #8549
@longwuyuan Sure, I've set up an end-to-end example using minikube. The gist referenced below contains all the yamls for all the necessary objects. It can be found [here](https://gist.github.com/tall-dan/24e94e8548ea97fce4f577795a853a9f)

### Setup
[code]

### Example curls

#### Hitting stable (this behaves the way I want)
[code]

#### Hitting canary (this is where the issue lies)
[code]

### Not

[2022-05-23 15:20] longwuyuan commented on #8620
They are not expected to be running.
/close

[2022-05-23 15:31] #7885 closed

[2022-05-23 15:44] jabbrwcky commented on #8571
The operator uses [kubernetes/klog](https://github.com/kubernetes/klog) for its logging.

The log event format is described here: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md#logging-formats

[2022-05-23 16:32] #8068 closed

[2022-05-23 20:35] cayla commented on #257
For anyone finding this page years later, you can confirm the change is working by looking at the ingress-nginx logs for traffic to the ingress in question.  By default, the logging will show the backend IP that handled the request.  It's either an endpoint IP or service IP depending on the configuration.

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/log-format/

[2022-05-23 20:43] vijay-veeranki commented on #8388
Hi @damienleger @arthurk

We upgraded the chart from 4.0.19 to 4.1.1, and this configuration stopped working.

[code]

Did you try upgrading to the latest version of the chart, and see a similar issue I am facing now?

[2022-05-23 21:21] damienleger commented on #8388
Hi @vijay-veeranki . I'm afraid I cannot help you or anybody else, I decided not to use ModSecurity soon after writing this GIthub issue. I was running a PoC by then actually. Good luck with the issue you are facing.

[2022-05-24 06:41] longwuyuan commented on #8621
tracked here https://kubernetes.slack.com/archives/C09NXKJKA/p1653316587497959
/close

[2022-05-24 06:41] #8621 closed

[2022-05-24 06:53] longwuyuan commented on #8615
This feature is not available today. This https://gateway-api.sigs.k8s.io may bring the feature .
Please talk in Kubernetes slack for discussion as there are less resources to track issues here.

If you find a issue or problem with the currently available controller, feel free to reopen or create new issue with all info requested in issue template. Thank you.

/close

[2022-05-24 06:53] #8615 closed

[2022-05-24 06:59] longwuyuan commented on #8614
I will check the default backend , it must be just a vanilla nginx image. You can check too.

[2022-05-24 07:02] longwuyuan commented on #8614
The first line of the doc yo linked I think is referring to a custom default backend. Are you using a custom one ?

[2022-05-24 08:27] longwuyuan commented on #8425
For fqdn foo.bar.com if you have Prefix / and Prefix /apple, then Prefix / will match anything and everything sent to foo.bar.com (unless you have rules blocking that). Hence it will help if someone provides the required details because I still don't understand what is the problem to be solved.

[2022-05-24 10:38] invidian commented on #7626
/close

[2022-05-24 10:38] #7626 closed

[2022-05-24 12:42] kosta1221 opened #8626 "Add support for adding/accessing custom backend-specific properties as nginx vars in location blocks"
<h1>What do you want to happen?</h1>
I have a use case where I want to store additional (custom) info per path in a rule. Currently the default nginx template produces `location` blocks in a limiting way. I would like to be able to parse additional properties about the backend supplied to the ingress itself, by using a CRD perhaps instead of the Ingress resource.

The relevant flow in `location` b

[2022-05-24 13:07] fred214 opened #8627 "How to get controller docker image for the latest code?"
Hi,
Our scanner report `runc v1.1.1` has vulnerability for image `k8s.gcr.io/ingress-nginx/controller:v1.2.0`, I notice the latest code has upated to `runc v1.1.2`. For some reason we don't want to involve in source code, we copy the controller binary from the community docker image, where I can get the controller docker image for latest code?
I use `skopeo inspect docker://k8s.gcr.io/ingress-ngin

[2022-05-24 13:48] tao12345666333 commented on #8627
then you can wait for the next version release

[2022-05-24 15:22] YarekTyshchenko commented on #7466
Is there a workaround, manually specifying the paths to the certificates? I suspect they are not mounted, but loaded directly from secrets into memory via that lua script

[2022-05-24 15:58] lahigresa opened #8629 "Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": dial tcp 10.100.64.164:443: i/o timeout"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):
<details><summary> Client Version: version.Info{Major:"1", Minor:"24", GitVersion:"v1.24.0", GitCommit:"4ce5a8954017644c5420bae81d72b09b735c21f0", GitTreeState:"clean", BuildDate:"2022-05-03T13:46:05Z", GoVersion:"go1.18.1", Compiler:"gc", Platform:

[2022-05-24 16:01] evandam commented on #8614
Yes, I believe the image is from https://github.com/kubernetes/ingress-nginx/tree/main/images/custom-error-pages as used in the example from https://github.com/kubernetes/ingress-nginx/blob/main/docs/examples/customization/custom-errors/custom-default-backend.helm.values.yaml

[2022-05-24 16:05] rittneje commented on #8259
/remove-lifecycle stale

[2022-05-24 16:05] rittneje commented on #8264
/remove-lifecycle stale

[2022-05-24 17:03] #8629 closed

[2022-05-24 22:08] rikatz opened #8633 "Deprecate TLS v1.0, TLS v1.1 and SSLv3"
TLS v1.0 and TLS v1.1 is being deprecated in a lot of software:

Go v1.18 already removed it as a default: https://github.com/golang/go/issues/45428

Some SSL Libraries (OpenSSL, as an example) and some browsers already don't support it anymore.

We need to establish a plan to deprecate those and keep only TLS v1.2 to v1.3

[2022-05-24 22:11] avezov commented on #1260
/reopen

[2022-05-25 02:35] longwuyuan opened #8634 "update nginx base image containing custom LD_LIBRARY_PATH"
- While implementing opentelemetry support, we needed to add a custom LD_LIBRARY_PATH in this PR https://github.com/kubernetes/ingress-nginx/pull/8628
- There is a sequence of multiple PRs merged for implementing opentelemetry support
- This LD_LIBRARY_PATH was added to the nginx base image Dockerfile
- So now we have a new nginx base image
- Hence this issue to track update of nginx base image ta

[2022-05-25 02:48] longwuyuan commented on #8634
/assign

Need to change in multiple files
<img width="854" alt="image" src="https://user-images.githubusercontent.com/5085914/170169165-8e7ed646-28e6-489b-b984-1ff0291c97c1.png">

/remove-kind bug
/kind feature
/triage accepted
/priority important-soon

[2022-05-25 10:00] VengefulAncient commented on #3245
We tried getting this to work by adding
[code]
via `http-snippet`, and `access-log-params: "if=$loggable"`. There are no complaints about `map` or the above cyclical error, but it does fail the config check with `unknown "loggable" variable`. Has anyone managed to get this working at any point?

[2022-05-25 15:41] tao12345666333 commented on #8633
I think it's valuable and to be more secure

[2022-05-25 23:49] rikatz commented on #8633
agreed, not sure what approach we can take. Maybe for the next release a feature flag with tls disabled but being able to enable it, then removing on the other one

[2022-05-26 01:31] longwuyuan commented on #8437
Hi @esigo , This is he update after your PR to add LD_LIBRARY_PATH in the nginx docker file

- the LD_LIBRARY_PATH needs to include "/modules_mount/etc/nginx/modules/modules/"   # note 2 times "modules"
- currently LD_LIBRARY_PATH you set is "/modules_mount/etc/nginx/modules"       $ note 1 time "modules"
- I think we should put the LD_LIBRARY_PATH in /rootfs/Dockerfile and /rootfs/Dockerfile.chro

[2022-05-26 02:08] #8519 closed

[2022-05-26 02:08] fred214 commented on #8627
Thanks a lot

[2022-05-26 02:08] #8627 closed

[2022-05-26 05:50] ben5556 opened #8636 "Custom config not being applied to all server blocks"
I have the below custom config applied on nginx-ingress controller. `Values.yaml` file below:

[code]

However, after applying this I see some server blocks still have the setting 16k when it should be 256k as per above ?

Below is what I see on my nginx-ingress controller.

[code]

[2022-05-26 05:59] longwuyuan commented on #8636
Please write the exact command you used to install and configure the
controller, along with all any files etc. Idea is to reproduce this on a
kind or minikube cluster.

Thanks,
; Long

On Thu, 26 May, 2022, 11:21 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-05-26 06:11] ben5556 commented on #8636
@longwuyuan we installed this nginx ingress chart via Gitlab cluster management project (details [here](https://docs.gitlab.com/ee/user/infrastructure/clusters/manage/management_project_applications/ingress.html))

I'd expect Gitlab runs the standard helm installation and update based on the config file. Below is the latest release done via Gitlab. Logs attached for your reference

[code]

**helmf

[2022-05-26 06:13] ben5556 commented on #8636
<img width="522" alt="image" src="https://user-images.githubusercontent.com/39107453/170428122-ffdba5b2-088b-489b-ae07-6e9c7c22413d.png">
`Configmap` reflects the config settings correctly but it's not being applied on the controllers correctly.

[2022-05-26 06:23] longwuyuan commented on #8636
ok. that info is not extremely clear.
Could you look at the issue template and post the data as requested in the issue template. Basically the issue template asks for the current state which is highly informative.

Also, please post the nginx.conf of the controller pod in addition to `kubectl describe` of the controller pod.

The idea is if you can come up with a kind/minikube cluster on your lapt

[2022-05-26 06:24] longwuyuan commented on #8636
The ConfigMap itself, you can post as `kubectl describe cm <configmapname> -o yaml`
Thanks

[2022-05-26 06:26] ben5556 commented on #8636
@longwuyuan I will try replicate this on my laptop using minikube and get back soon. Cheers

[2022-05-26 06:37] ben5556 commented on #8636
**Configmap**

[code]

[2022-05-26 06:44] longwuyuan commented on #8636
ok, but before that can you copy/paste the exact command and the values file you will use for helm or the exact yaml manifest you will use.

The mystery here is the payload sent to the API-Server to do that deployment not being clear (but possible to ascertain after some hunting/digging in gitlab docs etc.)

So ideally, it will be appropriate to see the current state as I mentioned, according to t

[2022-05-26 07:04] ben5556 commented on #8636
Frustrating that I am unable to reproduce it on minikube. I will post the info you requested!

[2022-05-26 07:11] longwuyuan commented on #8636
the positive piece is you will get support here or from gitlab. but knowing the manifest/json-payload used to create controller is key (besides the nginx.conf that shows where 16k is set)

[2022-05-26 07:27] ben5556 commented on #8636
@longwuyuan irrespective of how the ingress controller was deployed, would it just not apply the `configmap` across all ingresses/server blocks ?

[code]

[2022-05-26 07:29] longwuyuan commented on #8636
list of ingresses only was for knowing if you possibly had contradicting annotations. so not important now.
also not important to see entire nginx.conf.

first aspect seems like you have 2 instances of ingress controller. Can you check and confirm ?

[2022-05-26 07:30] ben5556 commented on #8636
Yes I have 2 replicas of ingress controller running

[2022-05-26 07:31] longwuyuan commented on #8636
also you can come to the ingress-nginx-users channel of the kubernets.slack.com to make taking easy

[2022-05-26 07:32] longwuyuan commented on #8636
2 replicas of one controller instance or 2 installations of the controller ?  There are 2 deployments visible

[2022-05-26 07:34] ben5556 commented on #8636
Never mind I was able to invite myself. I will come on Slack cheers

[2022-05-26 07:43] ben5556 commented on #8636
[code]

[2022-05-26 10:12] #8636 closed

[2022-05-26 10:13] ben5556 commented on #8636
Lingering annotation on a specific Ingress was overriding the directive.

[2022-05-26 13:14] rittneje opened #8638 "nginx-ingress-controller chroot image does not allow access to /etc/ssl/cert.pem"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
1.2.0

**Kubernetes version** (use `kubectl version`):
1.21

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): AWS EKS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kops/

[2022-05-26 14:01] tao12345666333 commented on #8269
maybe we can discuss in https://github.com/kubernetes/ingress-nginx/issues/8633

[2022-05-26 16:13] byrneo commented on #8572
FWIW, for reference, I've also hit a similar issue. I specify this on some ingresses (as I'm sure others might too):

[code]

when i try to update to the chroot image, it fails due to:

[code]

[2022-05-26 19:57] mac-chaffee opened #8640 "Documentation for updating seccomp policy to allow chroot"
The chroot PR mentions that "If the admin adds / enables the seccomp feature with default profiles, ingress may stop working. This new approach NEEDS seccomp enabling "clone" syscalls": https://github.com/kubernetes/ingress-nginx/pull/8337

Since clusters [should be using seccomp profiles for security](https://media.defense.gov/2021/Aug/03/2002820425/-1/-1/0/CTR_Kubernetes_Hardening_Guidance_1.1_2

[2022-05-27 00:43] rittneje commented on #8030
/remove-lifecycle stale

[2022-05-27 02:55] billdegithub commented on #8358
我这边是修改deploy.yaml 中runAsUser: 101.
修改启动用户后，就报MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found
保留101用户启动就正常。。

[2022-05-27 05:40] esigo commented on #8437
Hi @longwuyuan Sorry for the late reply. I'm on vacation right now. I'll ask my sister if she could kindly take over from here.

@ssaei would it be possible to apply changes per @longwuyuan's suggestions, also please see my suggestions below.
thanks

[code]

[2022-05-27 06:37] ssaei commented on #8437
FYI @longwuyuan
https://github.com/kubernetes/ingress-nginx/pull/8641

[2022-05-27 06:51] longwuyuan commented on #8437
Thank you very much Sara Saei. So helpful.

Thanks,
---
; Long Wu Yuan

[2022-05-27 10:33] raj-saxena opened #8642 "How to update header_filter_by_lua_block in the location block"
We use helm-chart to deploy `ingress-nginx` on our GKE cluster.
We want to capture & log custom headers [similar to this issue](https://github.com/kubernetes/ingress-nginx/issues/6483) & tried by adding the following config to the chart:
[code]
However, when we try to update the deployment, the pod fails to start with the following error
[code]
Checking the file around the line (522) shows that th

[2022-05-27 11:29] bmv126 commented on #8642
I think you need to go via the custom plugin
https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/lua/plugins/README.md

[2022-05-27 11:52] #8081 closed

[2022-05-27 11:52] #8082 closed

[2022-05-27 14:35] tpoindessous commented on #8483
duplicate of https://github.com/kubernetes/ingress-nginx/issues/8194

[2022-05-27 20:37] mike-serchenia opened #8643 "nginx ingress version > 3.34.0 request_method OPTION"
[code]

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): 5.4.0-1067-gke #70-Ubuntu SMP Wed Mar 30 03:58:47 UTC 2022 x86_64 Linux

- **How was the ingress-nginx-controller installed**: helm
  - If helm was used then please show output of `helm ls -

[2022-05-28 04:05] rittneje commented on #8270
/remove-lifecycle stale

[2022-05-28 13:41] wadexu007 commented on #4909
Met same issue, solution: https://github.com/kubernetes/ingress-nginx/issues/6398#issuecomment-816225330

[2022-05-28 21:00] #7413 closed

[2022-05-29 02:00] #7096 closed

[2022-05-29 10:20] amitay-strattic commented on #7968
/remove-lifecycle stale

[2022-05-29 14:23] strongjz commented on #7884
/assign @khanjasir90

[2022-05-29 15:21] xvnpw opened #8644 "Attacker can bypass authentication build on ingress external auth (`nginx.ingress.kubernetes.io/auth-url`)"
This issue is created as outcome from HackerOne report: https://hackerone.com/reports/1357948

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
NGINX Ingress controller
  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Ku

[2022-05-30 01:28] longwuyuan commented on #8437
Hi @esigo @ssaei, @tao12345666333

Even after LD_LIBRARY_PATH is set to the location, nginx is still unable to load the grpc module. I am checking if nginx.conf itself needs some config. Below is my test
[code]

[2022-05-30 06:32] heylongdacoder commented on #6928
Some information sharing. By default, when controller received SIGTERM, it will directly issue a SIGQUIT to nginx process without waiting(https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/controller/nginx.go#L373). I tuned this parameter to 15 and the downtime seems to be reduced.

[2022-05-30 07:37] hifi opened #8647 "ListAndWatch timed out waiting for caches to sync"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.2.0

**Kubernetes version** (use `kubectl version`): v1.2x (happens on all, up to v1.23 tested)

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: kubeadm
  - `Please mention how/where was

[2022-05-30 08:55] smartbit commented on #8474
@strongjz you left out the second part of the sentence in [Is chroot a security feature?](https://www.redhat.com/en/blog/chroot-security-feature)

The conclusion of the 2013 RedHat article says _it creates a false sense of security_ and recommends SElinux instead:

Anyone recommendations for
- implementing Seccomp/SELinux/AppArmor eg. [Security Profiles Operator (SPO)](https://github.com/kubernete

[2022-05-30 12:58] ehaselwanter commented on #856
@wanwenli just stumbled across your post and possible solution. we do see the 499 in various setups and try to understand why. Are your proposed solutions still the way to go? Why are so few people reporting this 499 issue? Is it a network throughput issue?

any further insights would be super welcome :-)

[2022-05-30 16:15] mtparet commented on #6928
Yes @heylongdacoder and I think this value should be at least by default at 5s to mitigate common cases. The documentation should indicate that if there are any external load balancer directly connected to the pod, it should be increased to allow external draining before terminating nginx.

[2022-05-30 18:22] longwuyuan commented on #8644
What happens if you split that ingress object into 2 ingress objects, where one ingress routes to the public service and does not have the auth-url annotation, while the other ingress routes to protected-service and also has the auth-url annotation

[2022-05-30 22:21] rittneje commented on #8283
/remove-lifecycle stale

[2022-05-31 10:06] dmathieu commented on #5883
/remove-lifecycle stale

[2022-05-31 11:10] WMP commented on #8249
Anyone can fix this  issue?

[2022-05-31 11:48] vanimi commented on #8257
/remove-lifecycle stale

[2022-05-31 13:01] rittneje opened #8651 "suggested annotation-value-word-blocklist does not match default value from 1.0.5"
#8446 attempted to fix a typo in the docs for the `annotation-value-word-blocklist`. However, this change was not correct. The actual default value for this annotation in 1.0.5 included a backslash character, not a double quote. So it should have been changed to `\\` not `\"`.

https://github.com/kubernetes/ingress-nginx/blob/727f4cb9255bce1771db7a01fe515ca9d5121b18/internal/ingress/controller/con

[2022-05-31 13:13] rittneje opened #8652 "admission controller pod needs to log validation errors"
When upgrading to v1.2.0, we attempted to switch to the admission controller. A bunch of existing Ingress resources got marked as invalid due to an improperly configured `annotation-value-word-blocklist`. Consequently, none of these got reflected in the actual nginx config file.

The problem is that none of these errors got recorded in either the webhook pod's logs or the Ingress resources' status

[2022-05-31 13:22] rittneje commented on #8651
@sathieu The intent was for the suggested list to match what used to be the default under 1.0.5. Using the suggested blocklist currently defined in the readme actually broke everything for us, which was very surprising given that we were upgrading from 1.0.5.

I don't know what the rationale was for including single quote but not double quote in the first place. To be honest they both seem equally

[2022-05-31 13:32] ArchangelSDY commented on #8250
/remove-lifecycle stale

@iamNoah1 Any ETA to get this merged? This would reduce quite a few memory usage, especially when there are a lot of connections.

[2022-05-31 13:38] strongjz opened #8653 "Upgrade base nginx to supported version"
We need to upgrade the base version of Nginx to a support version, either 1.21 or 1.22

https://endoflife.date/nginx

https://kubernetes.slack.com/archives/CANQGM8BA/p1653988980804939

/kind feature

[2022-05-31 14:07] dkulchinsky commented on #7286
Hey @rikatz 👋🏼 sorry to jump on here again 😅 but we're finally upgrading to latest v1 of the controller and I wanted to make sure I understand how `grpc_set_header` is used.

If I understand correctly, if we have `proxy-set-headers` configured and a backend is marked as GRPC the `grpc_set_header` directive will be configured automatically? or I'm missing a step?

Thanks!

[2022-05-31 14:08] strongjz opened #8655 "Upgrade CI kind testing so we test against k8s 1.24"
Need to upgrade kind testing to [v0.14.0](https://github.com/kubernetes-sigs/kind/releases/tag/v0.14.0) so we can test against k8s 1.24 releases

https://github.com/kubernetes/ingress-nginx/blob/main/.github/workflows/ci.yaml#L223

/kind feature
/good-first-issue
/priority backlog
/triage accepted

[2022-05-31 16:46] NeckBeardPrince commented on #8499
BUMP

[2022-05-31 17:16] Ab-hishek commented on #8655
/assign

[2022-05-31 19:42] aug70 opened #8657 "Helm install ingressClass not created"
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.2.0
  Build:         a2514768cd282c41f39ab06bda17efefc4bd233a
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.10

-------------------------------------------------------------------------------

**Kubernetes version** (use `kubectl ve

[2022-05-31 22:50] bmv126 commented on #8657
You need to use https://github.com/kubernetes/ingress-nginx/blob/c32f9a43279425920c41ba2e54dfcb1a54c0daf7/charts/ingress-nginx/values.yaml#L109

Ideally you should have got error as both the charts are creating same resource name

[2022-06-01 02:04] aug70 commented on #8657
Thanks!

[2022-06-01 09:04] sanyamgoel1988 opened #8658 "Nginx Ingress does not return 401 response from Spring kerberos SSO application to browser"
I have a spring Kerberos authentication app running on baremetal kubernetes cluster and exposed via Nginx ingress.

<description>
The normal flow requires on user calling the authentication end point,
1. The server responds with a 401 due to SPNEGO endpoint.
2. The web browser contacts kerberos server to obtain a TGT or the service ticket
3.  This ticket is then forwared by the browser to the spri

[2022-06-01 10:04] iamNoah1 commented on #8250
@ArchangelSDY we are happy for any contribution, so feel free to open a PR.

[2022-06-01 10:06] ArchangelSDY commented on #8250
@iamNoah1 The PR is already there: https://github.com/kubernetes/ingress-nginx/pull/8266

Need an owner to take a look.

[2022-06-01 10:31] iamNoah1 commented on #8250
@ArchangelSDY sry did not recognize even though I commented there as well haha. Will ping someone :)

[2022-06-01 20:39] reinildes opened #8659 "Changing .Values.controller.name results in a certificate not valid for domain error"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
  Oracle virtual box

- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
[code]
- **Basic cluster related info**:

  - `kubectl

[2022-06-01 21:36] anders-swanson opened #8660 "Metrics service in Helm chart should have protocol in port name"
The controller-service-metrics port in the ingress-nginx helm chart is missing a protocol prefix for the K8s Service port name: https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/templates/controller-service-metrics.yaml#L34

The service port name should follow the convention of other ports, e.g., https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/te

[2022-06-02 02:08] longwuyuan commented on #8659
/remove-kind bug
/kind support

Hi, Its possible that controller.name is hardcoded. Can you provide details of the problem you are trying to solve.

[2022-06-02 02:10] longwuyuan commented on #8660
If this is because istio/kiali can not use a portNumber, then are you thinking of submitting a PR for this ?

[2022-06-02 03:31] SpecialYang commented on #8589
Using configuration-snippet is hard for migration to other ingress controller. I prefer to use annotations.

[2022-06-02 04:05] longwuyuan commented on #8589
@SpecialYang , what you are demanding is not available today.
I suspect that its not possible to have different protocols for different servers, because there is only one binding port 443, but its just a guess and not based on any code review.

[2022-06-02 04:29] bmv126 commented on #8653
Currently there is issue with nginx (the default way in which it is built using pcre2) and openresty modules.
Refer: https://github.com/openresty/lua-nginx-module/issues/1984

[2022-06-02 07:40] #8554 closed

[2022-06-02 08:47] sanyamgoel1988 commented on #8658
Here are the required details:

Kubernetes version **1.22**
Cluster type: **bareMetal**
Nginx version: **nginx/1.19.9**
Cluster structure: **3 master and 5 worker**

this is the ingress controller

[code]

[2022-06-02 09:54] longwuyuan commented on #8658
@sanyamgoel1988 hoping someone finds this info useful and helps you solve the problem.

Personally, I was hoping that ;
- You would provide the exact command from the list of options in the deployment documentation, so that someone could do the same install on their Minikube or kind cluster. This is for the controller
- You would provide a example app manifest that someone can copy/paste to deploy

[2022-06-02 10:10] sanyamgoel1988 commented on #8658
@longwuyuan  I understnd , I will add the entire deployments

[2022-06-02 10:58] kundan2707 commented on #7212
/remove-lifecycle stale

[2022-06-02 11:00] kundan2707 commented on #8298
/remove-lifecycle stale

[2022-06-02 13:38] reinildes commented on #8659
Hi @longwuyuan, thanks for replying.
I searched for "controller" in templates and didn't find any obvious place where it is hardcoded.

The values.yml file has controller.name set to "controller" so it should be possible for users to override it with helm :

[code]

I'm not trying to solve any particular problem. I just came across this issue.
As overriding controller.name is supported I would exp

[2022-06-02 13:47] longwuyuan commented on #8659
- There is not too many resources to track issues on GitHub. So maybe you can close this issue and move the conversation to Kubernetes.slack.com in the ingress-nginx-users channel, until you find a bug and then come reopen this issue.
- If you are getting a invalid certificate in response to a http request, then you need to show the state of the related objects with `kubectl describe <objectkind>

[2022-06-02 13:54] anders-swanson commented on #8660
Yes, I can submit a PR for this.

[2022-06-02 14:04] macmiranda commented on #8388
I've tried gazillions of combinations between `configMap` and `ingress` annotations. Nothing in that documentation makes sense to me.
I get that the snippet has precedence over the owasp setting but how do you override the settings in `/etc/nginx/modsecurity/modsecurity.conf`?
[code]
According to the documentation I should get Audit logs in JSON format sent to the STDOUT but I keep getting same ol

[2022-06-02 14:09] anders-swanson commented on #8660
It is. Istio/Kiali have a requirement that every port follow the naming convention `<protocol>[-name]`. Without the protocol prefixing the port name, Kiali is unable to display metrics on mesh traffic.

[2022-06-02 15:01] mac-chaffee commented on #8388
One possibility for the confusion is that updates to the modsecurity settings roll out slowly as the nginx workers restart. If there are long-lived connections keeping old nginx workers from restarting, then it can seem like changes to the modsecurity settings aren't doing anything.

But also based on [this thread](https://github.com/SpiderLabs/ModSecurity-nginx/issues/280) it sounds like there is

[2022-06-02 18:16] victor-sudakov opened #8662 "The environment-specific installation instructions don't cover K3S"
This is a documentation deficiency rather than a bug. The [environment-specific installation instructions](https://kubernetes.github.io/ingress-nginx/deploy/#environment-specific-instructions) cover many Kubernetes implementations but do not mention installing on K3S. Being essentially a bare-metal Kubernetes cluster with multi-node capabilities, K3S needs special treatment when replacing its defa

[2022-06-02 18:17] Ab-hishek commented on #4763
If nobody is working on it, I can start on it.
/assign

[2022-06-02 18:20] jasine opened #8663 "helm chart support namespace override for multi-namespace deployments in combined charts"
add namespace override for multi-namespace deployments in combined charts

https://github.com/helm/charts/pull/15202

What do you want to happen?

- helm chart of ingress-nginx support namespace override for multi-namespace deployments in combined charts
- https://github.com/helm/charts/pull/15202 adds a namespaceOverride parameter, which allows this chart to be used in cases where templating is u

[2022-06-02 18:23] jasine commented on #8663
#15202, since the pr is merged ,I will close this issue

[2022-06-02 20:47] agelosnm commented on #6506
extremely funny so many people facing this issue and no any proper answer has been added.

[2022-06-03 02:53] longwuyuan commented on #8662
/remove-kind bug
/kind documentation
/area docs
/triage accepted

Kindly move ahead with PR for the said paragraph on k3s.

[2022-06-03 03:01] longwuyuan commented on #8663
Apologies but I was curious to learn and understand what you mean by `multi-namespace deployments in combined charts` .

I am unable to relate to `installing objects from one instance of the ingress-nginx controller into multiple-namespaces`. All namespace scoped objects of one instance of ingress-nginx controller, require to be in one namespace. You can see that in the manifests.

I am unable to

[2022-06-03 03:46] jasine commented on #8663
@longwuyuan

when use `ingress-nginx` as other charts' dependency([Helm Dependency](https://helm.sh/docs/helm/helm_dependency/)), helm will install manifests of `ingress-nginx` to parent chart's  namespace, because `.Release.Namespace` is parent chart's namespace. so, if we want  `ingress-nginx` installed to a separated namespace, community of helm project recommend add `namespaceOverride` (https:

[2022-06-03 06:31] longwuyuan commented on #8663
Thanks for the information @jasine .

It will require dev skills to understand the changes proposed, by looking at the code. The idea is to describe everything in a simple easy way, so we can have some confidence that nothing breaks and maintenance will be easy.

Some aspects that are not understood clearly are listed below. So please comment in as much detail as possible on them ;

(1) Changing 3

[2022-06-03 07:44] zetaab commented on #8475
@lknite did you find way to use it? I am trying to implement something like

![image](https://user-images.githubusercontent.com/22482503/171810611-9185ac19-e91c-4155-8837-df2b02641220.png)

When I add all configurations, the problem is that ingress-nginx does NOT forward unauthenticated user to oauth-proxy. It just waits for response and timeout after like minute?

If I manually go to https://foob

[2022-06-03 09:07] cmoulliard commented on #8338
Is this problem fixed as this is really blocking ?

[2022-06-03 09:34] longwuyuan commented on #8663
@jasine Let us track this issue here and not in the PR.

If you sort of analyse the 5 aspects I had highlighted, you will understand that your proposed solution is not assuring that the problem will be solved.

- After you have  `namespaceOverride` feature available in the ingress-nginx controller helm chart, you will not be able to use the first, second or any other instance of the ingress-nginx

[2022-06-03 09:38] longwuyuan commented on #8475
I have used oath2 with ingress-nginx controller so there is no bug here.

If you can not provide information that is needed, then hard to comment. The issue template asks for information that helps.

[2022-06-03 12:53] jasine commented on #8663
@longwuyuan sorry, I did not get your point, why change namespace from user specified `.Release.Namespace` to another user specified  `namespaceOverride` has impact on `ingress-class`, users can also set `ingressClassResource.controllerValue` and other values as before, and create several instance of the ingress-nginx controller installation.

I have tested the chart with `namespaceOverride` on k3

[2022-06-03 14:32] longwuyuan commented on #8663
@jasine , thank you for the information.

Is it possible for you to copy/paste post info like below suggestion ;
- output of a newly created k3s cluster `kubectl get all -A -o wide`
- show your clone of your fork of ingress-nginx controller. just be show that your clone/branch has the changees
- do the install command with values file etc
- repeat `kubectl get all -n {namespaceof1stcontroller}`
-

[2022-06-03 16:41] vmpowercli commented on #2724
Followed @Ariseaz suggestion and I was able to redirect to https but it did not work when I enable Proxy protocol v2 on the NLB for forwarding the client real ip.

I was able to get it it fixed both https redirct and client ip by following this page
https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb
https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.

[2022-06-03 17:39] #8067 closed

[2022-06-03 18:39] #8097 closed

[2022-06-03 19:05] survivant opened #8666 "ingress path location change when second ingress path is created"
I found a little issue.  I deployed Keycloak in a new namespace and I wasn't able to reach it.  I got a 404, but the same chart was working fine on other namespaces.  The url is : https://dev5.cluster109.dynamic.local/auth

I compared all the ingress yaml, services, pods and they are all the same (of course).

Here what I found.   If I deploy only keycloak, the URL won't work and return a 404 but

[2022-06-04 00:39] #8105 closed

[2022-06-04 05:46] wanwenli commented on #856
I have not directly worked on k8s ingress for a while. As I commented in the past, I do _not_ think it's a network throughput issue. Rather, it's more like an issue in `NodePort`s.

[2022-06-04 05:55] longwuyuan commented on #8666
/remove-kind bug
/kind support

Hi, I think, the information relevant to the problem you are describing, is not posted. Troubleshooting requires info on the current live state of the objects and the event and the incoming http request details. I will list some below. Please post that info ;

- your entire curl command with -v and its response
- The logs of the ingress-controller pod in full after

[2022-06-04 09:10] jasine commented on #8663
@longwuyuan following is the test procedure as you requested:

![image](https://user-images.githubusercontent.com/1934966/171989423-c68e7b0e-59fe-4609-b719-b9e1ecd94a90.png)

![image](https://user-images.githubusercontent.com/1934966/171988700-7c3cc1c0-efad-4a44-8741-a509317e911a.png)

![image](https://user-images.githubusercontent.com/1934966/171990594-613d3cac-6d0a-400b-b6fe-0e343a24c003.png)

!

[2022-06-04 10:01] longwuyuan commented on #8663
@jasine thank you very much for the information. It helps.

But I think I have second thoughts. Basically, I was hoping that you will include the ingress-nginx controller helm chart inside some other chart. I think it is not absolutely required now, but if you think its not too much trouble, then please delete what you have posted above. Then re-post the information, using the ingress-nginx contro

[2022-06-04 10:57] jasine commented on #8663
@longwuyuan

I have tested with private chart of my company, which use ingress-nginx controller with `namespaceOverride` inside another chart. It's really a little trouble to make a chart to do all the tests and snapshots  again, I think as  showed in my snapshot, helm install with `namespaceOverride` value set is convincible.

there is a snapshot of `kubectl get all -n ingress-nginx-2` , you can

[2022-06-04 13:05] longwuyuan commented on #8663
@jasine thank you for the contribution and the information you have provided.

My thoughts are as follows ;

- I think this is a improvement because you said several other charts support the `namespaceOverride`. But the improvement is not demanded by a large enough number of users so it seems like a improvement just for your use case

- The changes are intrusive and from the perspective of changin

[2022-06-04 13:53] jasine commented on #8663
@longwuyuan

thanks for the long conversation,  I think this is quiet a simple problem, although I have changed 35 files, they are just text match and replacement, I did not modify them one by one.

`namespaceOverride` is now in official helm template, it means every helm chart created has the code snippet  added In my pr

I respect your serious attitude and concern, and let's wait for other devel

[2022-06-04 13:59] longwuyuan commented on #8663
@jasine thanks for your contribution and thank you for patience with my comments.

Some seemingly simple and harmless changes were merged earlier and later created complications hence my comments. On a high level, if this chart was a like a simple webserver or a api, then a upstream feature from helm like e `namespaceOverride` would be a  trivial change. But in my limited knowledge and awareness,

[2022-06-04 14:51] longwuyuan commented on #7328
/reopen
/priority important-longterm

[2022-06-04 14:52] longwuyuan commented on #7328
/help

[2022-06-04 16:44] #8104 closed

[2022-06-04 20:04] cjekin commented on #5385
In case it's useful to others:

I had the same thing, and it was nothing to do with Kubernetes Ingress Nginx. It was the Nginx server in my pod running the UI (Vue.JS in my case).

**Solution**:
1. Add an nginx.conf file to my UI app.
   `user  nginx;
    worker_processes  auto;
    error_log  /var/log/nginx/error.log warn;
    pid        /var/run/nginx.pid;
    events {
        worker_connections

[2022-06-05 11:53] #7582 closed

[2022-06-06 01:26] XiShanYongYe-Chang commented on #8297
/close

[2022-06-06 01:26] #8297 closed

[2022-06-06 01:56] panxia6679 commented on #8247
We hit the issue as well.

[2022-06-06 06:20] wangyysde commented on #7234
@rikatz ok ,then I will try to work on it.

[2022-06-06 06:20] wangyysde commented on #7234
/assign

[2022-06-06 11:37] selckin commented on #5858
For people finding this in google, think it doesn't support bcrypt and only md5 passwords with the username prefix

[2022-06-06 12:18] survivant commented on #8666
I did the steps again in a new namespace ``coucou``.  Here the logs that were missing.  I'll start by posting logs when keycloak is installed and post the logs when my second application is deployed

[code]

[code]

[code]

[code]

CALL to the service
[code]
[ingress-logs-keycloak.log](https://github.com/kubernetes/ingress-nginx/files/8844382/ingress-logs-keycloak.log)

[2022-06-06 14:09] longwuyuan commented on #8666
There is a redirect response with 308 but your curl is not using -L to follow that redirect

[2022-06-06 14:11] survivant commented on #8666
forgot that error, I know, I forgot to put https://  before the URL.  check the next lines, you will see the 404 errors

[2022-06-06 14:28] longwuyuan commented on #8666
I don't understand the problem that has to be solved. Wait for comments from others.
Maybe I am missing something important

- I see that you don't have a rule to match your http request. Maybe you can remove those regex after "/auth". I don't even know your `pathType` there is. Maybe you can comment on that. Copy/pasted line from controller log shows that 308 was response. I see that your client

[2022-06-06 17:38] ThatAIXGuy opened #8672 "where is the 0.51.0 documentation ?"
Where is the documentation for 0.51.0 ? I see it exists, but there is no documentation on it the changelog page
https://github.com/kubernetes/ingress-nginx/blob/main/Changelog.md

ingress-nginx/ingress-nginx	4.0.1        	1.0.0      	Ingress controller for Kubernetes using NGINX a...
ingress-nginx/ingress-nginx	3.41.0       	0.51.0     	Ingress controller for Kubernetes using NGINX a...
ingress-ng

[2022-06-06 18:17] Ramshield opened #8673 "ingressClassResource.default not working"
**Kubernetes version** (use `kubectl version`):
1.24.1

**Environment**:

- **Cloud provider or hardware configuration**: -
- **OS** (e.g. from /etc/os-release): debian 11
- **Kernel** (e.g. `uname -a`):  ` 5.10.0-14-amd64 #1 SMP Debian 5.10.113-1 (2022-04-29) x86_64 GNU/Linux`
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kops/minikube/kind etc. `
- **Bas

[2022-06-06 20:11] danielleiszen opened #8674 "gRPC-web upstreams do not behave the same with or without TLS termination"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
 image: nginx/nginx-ingress:2.2.2
helm.sh/chart: nginx-ingress-0.13.2

**Kubernetes version** (use `kubectl version`):
Client Version: v1.24.0
Kustomize Version: v4.5.4
Server Version: v1.21.11-gke.1100

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc

[2022-06-06 23:47] longwuyuan commented on #8673
/remove-kind bug
That is not a release of this project
/close

[2022-06-06 23:48] #8673 closed

[2022-06-06 23:53] longwuyuan commented on #8674
/remove-kind bug
Does the gRPC hello world example work ?

[2022-06-07 00:09] longwuyuan commented on #8672
/remove-kind bug
What problem are you trying to solve ? We are trying to encourage people to use version 1.X .

[2022-06-07 02:13] vibecoder opened #8676 "Subset hashing with the ability to stick requests to a pod within the subset if needed"
Currently , in the upstreamHashBySubset method, we can provide a key against which a subset of endpoints will be created for that particular key. The request is randomly assigned to a endpoint within the subset.

However sometimes, we would like to use the same endpoint in the subset for a subsequent API call attempt  (such as in a retry mechanisms or heavy sized API call which breaks the call int

[2022-06-07 02:16] longwuyuan commented on #8676
which annotation are you talking about ?

[2022-06-07 02:18] vibecoder commented on #8676
nginx.ingress.kubernetes.io/upstream-hash-by: "$http_SubsetKey"
    nginx.ingress.kubernetes.io/upstream-hash-by-subset: "true"
    nginx.ingress.kubernetes.io/upstream-hash-by-subset-size: "2"
    nginx.ingress.kubernetes.io/upstream-hash-by-subset-cookie-name: "SubsetCookie"

[2022-06-07 02:21] vibecoder commented on #8676
So the idea is to generate a "SubsetCookie=endpoint" after the first request which together with SubsetKey=Http header would allow for us to pinpoint the request to a particular endpoint within the subset if needed

[2022-06-07 02:30] longwuyuan commented on #8676
Is there a use-case specific to you or your Company that requires this feature ? If yes, can you describe the use-case in the context of a typical http request and its response that would depend on this feature. Curious to document this because it looks like you are referring to a workload scaled up with even more than 5-10 replicas asnd then you wanting stickiness to one specific replica from the

[2022-06-07 03:09] vibecoder commented on #8676
Yes, We are using this feature within our company to basically do just that.

We have a microservice which needs to load balance the incoming requests from almost 1000 users to 50 replicated pods. But then we want to limit the maximum amount of pods a user can request to a fixed size of 3 pods so as one user should not be able to crash all the 50 replicas with their high work load.

We have the su

[2022-06-07 03:27] longwuyuan commented on #8676
Thanks for information.
Interesting use-case.

I don't think that this use-case is common or the upstream-hash annotation was designed for something like this. I am unable to articulate why but but that is just my opinion because I can't understand the idea of `user requesting pods`. If I was doing it, I would take the user-id and spin up a workload with ingress object, uniquely named using the us

[2022-06-07 06:37] somnathpawar commented on #3746
This worked for me by just changing the `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"` with "service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "tcp" in the nginx ingress service annotations. It needs to switch the protocols at layer 4 instead of layer 7 according to OSI model.

[2022-06-07 11:17] longwuyuan commented on #8655
As per @tao12345666333 we are not ready for K8S version 1.24  https://github.com/kubernetes/ingress-nginx/pull/8667#issuecomment-1147151253

Why are we testing against K8S v1,24 if code is not ready for K8S v1.24 because of #8091

We even merged the PR that added K8S v1.24 to the ci.yaml matrix and co-incidentally all CI runs are failing on K8S v1.24 on main.

/reopen

[2022-06-07 11:56] longwuyuan commented on #8655
@Ab-hishek can you please look at the failing CI jobs for K8S v1.24. We have a slack discussion ongoing as well https://kubernetes.slack.com/archives/C021E147ZA4/p1654602861402769thread_ts=1654602027.797439&cid=C021E147ZA4

[2022-06-07 18:16] nu12 opened #8679 "Enable annotation for defaultBackend deployment"
I'd like to have annotations for the defaultBackend deployment. Annotations are useful to integrate the manifests generated by helm with other tools. In my particular case, I want to control the checks performed by `datree` and `kube-score` - which is done via the annotations

[2022-06-07 21:53] ThatAIXGuy commented on #8672
There is a 0.51.0 in the helm search - but no documentation for that.
Going to 1.x has kubernetes version implications (or at least did previously), but regardless, this is noting that there is no documentation for 0.51.0 - that is all. Best regards.
I'm testing 1.2.1 now w/K8s 1.20, 1.21 and 1.22 - thank you. I just wanted to see what the differences were between .50 and .51 to see if I should go

[2022-06-08 00:59] longwuyuan commented on #8672
strictly speaking docs are being maintained around 1.x usage. Growing to legacy branch .md files may show you 0.x related content. bug fixes are also not being back-ported anymore because we did that for 6 months after launching 1.x and announcing 6 months support of 0.x.

What precise docs are you looking for.
And yes, its possible that changelog update had issues in legacy branch (aka 0.x)

[2022-06-08 02:37] deepakzenduty commented on #8318
/close

[2022-06-08 02:38] #8318 closed

[2022-06-08 02:56] jasine commented on #8663
@longwuyuan it seems that no progress has made these days, can I do anything to help?

[2022-06-08 04:21] longwuyuan commented on #8663
@jasine there is work ongoing that is higher priority than new features so when there is a window of opportunity, pending PRs get reviewed. There is not much for you to do to make progress. We just need to wait. Thanks for the contribution as it helps so much.

[2022-06-08 07:47] svenbuerger commented on #8487
Are there any plans to implement a fix for this CVE in the forseeable future?

[2022-06-08 10:16] danielleiszen commented on #8674
Yes it does. And all my other services work that has a standard request-response like communication.
The problem is with gRPC streams only. And only over HTTPS.

[2022-06-08 13:28] sanyamgoel1988 commented on #8658
Ok so, I could find the issue. The issue was not with Nginx controller but  a mistake from my end.
The issue was I had not configured the krb5.conf file and so my spring auth service never reached the correct Domain controller.  On bare metal the default `/etc/krb5.conf` had this configured and therefore did not face this issue, Inside a pod this is not the case and was the cause no 401 sent to br

[2022-06-08 13:28] #8658 closed

[2022-06-08 15:11] spaced opened #8680 "chroot can not read from /dev/urandom"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ingress controller
  Release:       v1.2.1
  Build:         08848d69e0c83992c89da18e70ea708752f21d7a
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.10

image ingress-nginx/controller-chroot@sha256:a2af8784ac595ab351dae6d7becc6509a2c153feb2647e836e75

[2022-06-09 02:21] #7773 closed

[2022-06-09 02:56] longwuyuan commented on #8680
there was a recent PR related to this because while securing with chroot, I guess some required character device files changed to regular files https://github.com/kubernetes/ingress-nginx/pull/8619

[2022-06-09 02:57] longwuyuan commented on #8680
What problem are you trying to solve ?

[2022-06-09 07:21] flarno11 opened #8682 "Chrooted ingress controller fails to seed from urandom"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ingress controller
  Release:       v1.2.1
  Build:         08848d69e0c83992c89da18e70ea708752f21d7a
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.10

Image: ingress-nginx/controller-chroot:v1.2.1

**Kubernetes version** (use `kubectl version`):
v1

[2022-06-09 07:24] longwuyuan commented on #8682
Possibly same root-cause as I mentioned in https://github.com/kubernetes/ingress-nginx/issues/8680

[2022-06-09 08:19] spaced commented on #8680
@longwuyuan try to enable chroot feature

i investigated a bit more:
with kernel `5.17.9-300.fc36.x86_64`, fedora coreos `36.20220522.3.0`, `chroot` works as expected.

[2022-06-09 08:23] flarno11 commented on #8682
Sorry, missed that one. Duplicate of #8680

[2022-06-09 08:26] flarno11 commented on #8682
Sorry missed the other bug report

[2022-06-09 08:28] flarno11 commented on #8680
I have the same issue with RHEL 8.5 and cri-o 1.20:
[code]

with minikube i cannot reproduce the issue

[2022-06-09 08:30] longwuyuan commented on #8682
can we close this one and track in 8680 ?

[2022-06-09 08:32] longwuyuan commented on #8680
@flarno11 , it will save time if you confirm what is the user-id, when you execute dd. Is it www-data ?

[2022-06-09 08:43] spaced commented on #8680
i can confirm, user is www-data `101`.
we use `cri-o`, here the matrix:
- kernel `5.16.16-200.fc35.x86_64`, fcos `35.20220327.3.0`, crio `1.21.3` :red_circle:
- kernel `5.17.9-300.fc36.x86_64`, fcos `36.20220522.3.0`, crio `1.21.4` :heavy_check_mark:

[2022-06-09 08:44] flarno11 commented on #8680
yes it is as `www-data`
[code]

and yes, on minikube `dd bs=3 count=1 if=/chroot/dev/urandom` works

[2022-06-09 08:46] longwuyuan commented on #8680
ok, so don't know which kernel parameter impacts urandom inside a container. Have to wait for other comments. @flarno11 what kernel version is your RHEL ?

[2022-06-09 08:49] longwuyuan commented on #8680
The project just built the container on alpine. So am not entirely convinced the project can change anything in the chrooted docker image published to help mitigate on the v5.16.x kernel . But that is my opinion hence wait for other comments.

[2022-06-09 08:55] flarno11 commented on #8680
I've tested it these two versions so far:
[code]
Both have the same issue. Disabling SELinux also didn't help.

[2022-06-09 09:01] longwuyuan commented on #8680
I think you should come to kubernetes.slack.com  and ask in sig-node channel

[2022-06-09 09:17] andyli opened #8683 "Long global-rate-limit-key (over 200 chars)"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **Install tools**: [terraform-aws-modules/eks/aws v18.21.0](https://github.com/terraform-aws-modules/terraform-aws-eks/tree/v18.21.0)

- **How was the ingress

[2022-06-09 10:08] andyli commented on #8683
Feel free to take it as a feature request.

[2022-06-09 15:19] tao12345666333 commented on #8091
/assign

[2022-06-09 15:41] strongjz commented on #8487
/priority critical-urgent
/triage accepted

[2022-06-09 15:56] strongjz commented on #8683
/priority backlog
/triage accepted
/kind feature
/assign @rikatz

[2022-06-09 19:25] #8103 closed

[2022-06-10 00:34] longwuyuan commented on #8025
lifecycle/active
/reopen
/priority important-longterm

[2022-06-10 07:25] dwelch2344 commented on #8017
THANK YOU!  I've been wrestling this all night (complicated by the fact we needed ARM64 support, which slightly breaks the manual install methods) and this finally got us there :)

[2022-06-10 10:24] slehlib opened #8685 "nginx.ingress.kubernetes.io/backend-protocol":"HTTPS" not work"
version : Image:         nginx/nginx-ingress:2.2.2
kube version : v1.21.1
OS version; Red Hat Enterprise Linux Server release 7.9 (Maipo)

i have new application use https backend, i added the nginx.ingress.kubernetes.io/backend-protocol":"HTTPS"  annotation but ingress use http.
i have this msg in app log:
022-06-10 09:19:38 +0000 SSL error, peer: 10.233.102.237, peer cert: : #<Puma::MiniSSL::SSL

[2022-06-10 10:28] longwuyuan commented on #8685
The image name you posted is not a release of this project. Its certain that image is from the nginx.org controller . This happens often because of similar names
/close

[2022-06-10 10:28] #8685 closed

[2022-06-10 11:06] fsniper commented on #8161
There can be a few ways to go for this.
* Adding a owner reference to an helm managed resource, so kubernetes garbage collection removes the configmap after the owner resource is deleted
* Adding a post-delete hook job to helm chart which would delete the configmap at helm delete
* Adding a kubernetes lifecycle hook to cleanup at poststop - Which in multi pod situations would be pretty hard to do

[2022-06-10 15:48] danielleiszen commented on #8674
So, there is no error message in the logs. In case of HTTPS the nginx ingress controller buffers the stream response until the connection is closed. In case of finite streams it happens when the server ends the stream. In case of infinite streams (that we use) it happens when proxy-read-timeout expires.

Maybe it is some kind of misconfiguration, I really don't know. But any guidance is appreciate

[2022-06-10 15:55] danielleiszen commented on #8674
Is this possible that it is related to a previous bug?

https://trac.nginx.org/nginx/ticket/2229

[2022-06-10 16:01] cjcullen opened #8686 "CVE-2021-25748: Ingress-nginx `path` sanitization can be bypassed with newline character"
### Issue Details
A security issue was discovered in [ingress-nginx](https://github.com/kubernetes/ingress-nginx) where a user that can create or update ingress objects can use a newline character to bypass the sanitization of the `spec.rules[].http.paths[].path` field of an Ingress object (in the `networking.k8s.io` or `extensions` API group) to obtain the credentials of the ingress-nginx control

[2022-06-10 16:11] cjcullen commented on #8686
Fixed by #8623

[2022-06-10 16:11] #8686 closed

[2022-06-10 18:58] cooperbenson-qz commented on #6647
/remove-lifecycle rotten

Confirmed this is still happening

[2022-06-11 01:39] #8050 closed

[2022-06-11 20:38] githubstoreforme commented on #1731
Is this packet loss been solved?
I am experiencing the same on latest also when I tried the example from

https://github.com/nginxinc/kubernetes-ingress/blob/main/examples/tcp-udp

Let If I need to do any additional configuration here?

[2022-06-12 05:12] longwuyuan commented on #8033
/remove-help

[2022-06-12 05:50] #8138 closed

[2022-06-12 09:49] #8139 closed

[2022-06-12 21:10] rikatz commented on #8683
To be honest, I kind of don't feel comfortable with this. I'm worried that this actually doesn't solve the real problem which is using a JWT/oidc token as a key for global rate limit.

Probably a proper solution here is not to use the JWT token, but maybe use a key from it (like the uid? subject? name?).

This raises another problem: nginx today is not able to parse these tokens, but again, this i

[2022-06-12 21:13] rikatz opened #8687 "Deprecate Jaeger and Opentracing in favor of OpenTelemetry"
OTEL is around for a while. We even have a starting implementation in NGINX.

In an effort to simplify our code, the compilation times, etc we need to remove the features Jaeger and Opentracing and keep only opentelemetry.

To not break users, maybe we need to analyze when an old jaeger directive was used and configure otel to send proper traces. We need to check;

* Is OTEL compatible with Jaeger

[2022-06-12 21:48] rikatz commented on #8687
https://www.jaegertracing.io/docs/1.35/client-libraries/ <- Reference on the Jaeger clients being deprecated

[2022-06-13 11:40] rittneje commented on #8299
@longwuyuan This is a major bug. The only workaround at present is a custom snippet. You need to re-add the bug label and fix it ASAP. I will not be wasting my time filling out the useless information in your bug template.

[2022-06-13 12:48] spaced commented on #8680
i asked for advise at kubernetes.slack.com #sig-node but no response so far.
We decided to postphone enabling this feature until we rolling out new fedora coreos version to our clusters.
On the other side i still have a local cluster running (one node with a old kernel, one with a new kernel) for further investigation. Just ask me what i could check for or gathering additional logs.

[2022-06-13 13:31] Sohailjp commented on #8414
In my case the certificate didn't have subject alternate name. I have to regenerate key pair having subject alternate name to fix the issue.

[2022-06-13 18:43] rayterrill commented on #8127
Running into this same problem. :(

[2022-06-13 18:58] rayterrill commented on #8127
@zerkms did you end up throwing up a PR for this? if not I can put one together.

[2022-06-13 21:18] zerkms commented on #8127
@rayterrill I have not, I usually don't PR before a core team accepts they agree with a solution to save time for myself and for them.

[2022-06-14 09:19] longwuyuan commented on #8680
Hi @spaced, the project has some idea on what is going on here. But please trust that there is some really higher priority work in progress because of which attention to this issue will be delayed a bit. Thank you for your patience.

[2022-06-14 09:19] wuzhuoquan opened #8689 "canary doesn't work betweent paths"
**What happened**:
I deploy a service in my cluster with two versions, they provide two apis like this
| api |   return  |
| ---|---|
|   /hostname   |  return  podname   |
|   /version   |  return  "i am version v1" or "i am version v2"   |

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Env

[2022-06-14 09:52] longwuyuan commented on #8689
Hi,
Can you please explain the problem related to controller in detail. The
problem to be solved is not clear.

Thanks,
; Long

On Tue, 14 Jun, 2022, 2:50 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-06-14 10:04] Divine1 opened #8690 "Error: INSTALLATION FAILED: failed pre-install: timed out waiting for the condition in k8s `1.24.1`"
i'm trying to install `ingress-nginx` using `helm` on `k8s cluster`, but i receive below error
`Error: INSTALLATION FAILED: failed pre-install: timed out waiting for the condition`

i use `k8s` version `1.24.1 `(screenshot attached)
![image](https://user-images.githubusercontent.com/10482177/173551386-c10afb80-d2d1-498d-aa4a-d362445dd982.png)

i installed the k8s cluster using kubeadm
The commands

[2022-06-14 10:10] longwuyuan commented on #8690
Do you have kind or minikube. Please try to install on minikube or kind.
But please try 2 versions of K8S i.e v1.23.x and also v1.24.x on minikube
or kind. There is #8091 because of which support for v1.24 is flaky.

Thanks,
; Long

On Tue, 14 Jun, 2022, 3:35 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-06-14 10:15] Divine1 commented on #8690
@longwuyuan currently i destroyed that k8s cluster v1.24.1 and i have setup k8s cluster v1.22.9. v1.22.9 works fine for me as of now.

i already have a different project running on minikube k8s v1.22.9. i cannot create another one as of now.
i will try to check with v1.23.x tomorrow ..

[2022-06-14 10:52] longwuyuan commented on #8689
/remove-kind bug

[2022-06-14 10:53] longwuyuan commented on #8680
/triage accepted

[2022-06-14 11:22] longwuyuan commented on #8299
Hi @rittneje, you can add the label with `/kind bug` as you created the issue. Hopefully someone can work on this and update.

[2022-06-14 11:23] longwuyuan commented on #8690
/triage accepted

[2022-06-14 13:57] erikgb commented on #8690
Also failing on k3s version v1.22.10-k3s1, so I think the Kubernetes version is unrelated. I just checked the job-pod locally, and the issue seems to be related to certificates:

[code]

Any clues?

[2022-06-14 14:06] longwuyuan commented on #8690
@erikgb This is very confusing. The project folks are aware of election-id being a issue. Tracked in #8091. And that implies support on K8S v1.24 only and nothing else purely based on the deprecated api.

Certificate or other issues are incidental and specific to the install and not a bug in the controller as far as K8S version below v1.24.x .

[2022-06-14 15:02] nu12 opened #8691 "Helm chart: containerSecurityContext for defaultBackend has no effect"
**What happened**: defaultBackend.containerSecurityContext has no effect

**What you expected to happen**: [There is a containerSecurityContext placeholder in the helm values file for the defaultBackend deployment](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L825). I expected that editing this part of the code would generate a manifest with the appropriat

[2022-06-14 15:43] iamNoah1 commented on #6030
@tokers friendly ping. Any progress here?

[2022-06-14 15:43] iamNoah1 commented on #6155
Go for it

/assign @kundan2707

[2022-06-14 15:44] iamNoah1 commented on #6237
@kundan2707 before you start new work, maybe you should first finish this one first ;) Friendly ping about the state here :)

[2022-06-14 15:46] iamNoah1 commented on #6358
@brsolomon-deloitte @dhinesh-babu-bankbuddy I could not completely follow up on your conversation. Do you still consider this a bug?

[2022-06-14 15:47] iamNoah1 commented on #6458
/triage accepted

[2022-06-14 15:48] iamNoah1 commented on #6458
/priority important-longterm

[2022-06-14 15:52] iamNoah1 commented on #6752
/close for inactivity

[2022-06-14 15:53] #6752 closed

[2022-06-14 15:58] erikgb commented on #8690
@longwuyuan Sorry, my apologies. In my case, this was because of a MIM-problem after the [migration to registry.k8s.io](https://groups.google.com/a/kubernetes.io/g/dev/c/DYZYNQ_A6_c). Please ignore all my comments above.

[2022-06-14 16:08] #6973 closed

[2022-06-14 16:09] #7083 closed

[2022-06-14 16:13] igordcsouza commented on #4310
If you are reading it, try to restart your controller pods.

[2022-06-14 16:16] iamNoah1 commented on #7119
/lifecycle frozen

[2022-06-14 16:20] iamNoah1 commented on #7261
/assign @rikatz

[2022-06-14 16:22] iamNoah1 commented on #7283
/help

[2022-06-14 16:26] iamNoah1 commented on #7572
Friendly ping @kundan2707

[2022-06-14 16:36] RichardoC commented on #7119
@iamNoah1 how come this has been marked as Frozen?

[2022-06-14 16:51] alex123012 commented on #4763
@iamNoah1 Hi:)
I'm waiting for a decision/updates on this [PR](https://github.com/kubernetes/ingress-nginx/pull/8230)
I don't know what else is needed for this issue, maybe you can give further suggestions

[2022-06-14 17:42] longwuyuan commented on #8691
hi @nu12 , I think this could be a bug but needs triaging and verification. More updates could come after an attempt to generate manifest and look at details
/assign

[2022-06-14 17:45] longwuyuan commented on #8690
Thank you for updating. Glad not a concern.

[2022-06-14 18:15] iamNoah1 commented on #4763
ah ok @rikatz has to review :) I will ping him

[2022-06-14 18:29] knbnnate opened #8693 "Support "none" keyword in log-format escape configuration"
I would like the ingress-nginx ingress controller to support the native nginx functionality of disabling escaping characters in access logs. The specific requirement that is driving me here is that I'd like to log all of the request and response headers going through nginx in a json format. I've got set_by_lua_block and log_by_lua_block code to do that, and I've got my log-format-upstream set so t

[2022-06-14 22:39] RichardoC commented on #7119
Thanks!

[2022-06-14 23:43] rittneje commented on #8299
/kind bug

[2022-06-14 23:53] sahilrajput03 commented on #8047
https://github.com/kubernetes/ingress-gce/issues/109
That was a 4year old issue similar to this...

@Vyom-Yadav , can you check if you have some code handy that the new api works?. I will check this asap too.

[2022-06-15 01:19] tokers commented on #6030
Nope. I'm so sorry but I don't have enough time to go ahead.

[2022-06-15 01:19] tokers commented on #6030
/unassign

[2022-06-15 01:19] tokers commented on #6030
I just unassigned this issue from myself.

[2022-06-15 01:34] stefanlasiewski commented on #8686
For clarification, @cjcullen or someone else, can you explain how the suggested value in the documentation prevents this? The suggested value is as follows-- what part prevents a newline character?

[2022-06-15 04:10] bmv126 commented on #8686
@rikatz  / @longwuyuan
Any input on above comment ?

[2022-06-15 05:31] longwuyuan commented on #8691
It looks like you are right.
Feel free to submit a PR.
But like the other PR on default-backend, please help out in detailing all the information. For example, please run the controller with your changes locally using this https://kubernetes.github.io/ingress-nginx/developer-guide/getting-started/#local-build and copy/paste your manual test related configs, objects, http requests, logs etc

[2022-06-15 08:15] iamNoah1 commented on #6728
/help

[2022-06-15 08:18] guilhem commented on #6358
This is why I pushed this PR #7542

[2022-06-15 08:19] iamNoah1 commented on #6030
/help

[2022-06-15 08:28] iamNoah1 commented on #6358
ok thanks for clarifying. BTW when looking at this issue there is no PR linked, which is why you should fill the template when opening a PR, so that issue and PR are linked. Anyway, I pingee @rikatz to follow up here :)

[2022-06-15 08:29] iamNoah1 commented on #6358
#7542

[2022-06-15 09:00] tao12345666333 commented on #8687
Probably we also need to know how many people are currently using this feature.

[2022-06-15 10:32] rikatz commented on #8686
We patched the nginx and dropped the directives that could be used for this instead of relying on the regex :)

also if someone realizes there are missing points in regex and wanna help, please please open a PR and mark me improving that regex.

[2022-06-15 12:20] theadzik commented on #8166
Hi. I have a similar issue.

We have a synthetic test that checks all components of our solution, including creating and removing ingresses.

On the screenshot below you can see how the memory was quite stable, then I started the test to run overnight. Memory was steadily increasing until I disabled the test. It has been 3 hours since, and nginx did not clear the memory yet.

![2022-06-15_14-11-06

[2022-06-15 12:57] rikatz commented on #8687
Jaeger cli is deprecated so we can move this.

[2022-06-15 14:59] ArtemChekunov commented on #8215
@agorgl ,

Thanks a lot
It was very helpful

[2022-06-15 19:52] strongjz commented on #8672
Looks 51 didn't make it to the main branch changelog, it's on the legacy branch here https://github.com/kubernetes/ingress-nginx/blob/legacy/Changelog.md#0510

Looks like the controller-v0.50.0 tag didn't get created either.

https://github.com/kubernetes/ingress-nginx/compare/controller-v0.49.3...controller-v0.51.0

this was around the time we were moving to v1 from v1beta1, some things may have

[2022-06-15 19:52] #8672 closed

[2022-06-15 22:02] strongjz opened #8702 "Azure/go-autorest deprecation"
Azure/go-autorest is being deprecated. This issue is to track that for us. Looks like it is the krew plugin for auth in

"k8s.io/client-go/plugin/pkg/client/auth"

[code]

https://azure.microsoft.com/en-us/updates/support-for-azure-sdk-libraries-that-do-not-conform-to-our-current-azure-sdk-guidelines-will-be-retired-as-of-31-march-2023/

/priority long-term-important
/triage accepted

[2022-06-15 22:13] strongjz commented on #8653
/priority important-longterm
/triage accepted

[2022-06-15 22:14] strongjz commented on #8702
/priority important-longterm

[2022-06-15 22:23] strongjz commented on #7517
/triage accepted
/priority longterm-important

[2022-06-15 22:24] strongjz commented on #7517
/priority important-longterm

one day ill have the memorized and then it will change

[2022-06-15 22:25] strongjz commented on #7518
/priority important-longterm
/triage accepted

[2022-06-15 23:32] strongjz commented on #7684
Lots of specific things are needed for cloud deploys, so we generate specific manifests for that.

For the helm chart, those are usually are annotations, like the one you pointed out, which can be added values to the helm values.yaml https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L454

If someone wanted to use the helm chart on AWS they'd be responsible for

[2022-06-15 23:32] #7684 closed

[2022-06-16 00:01] ThatAIXGuy commented on #8672
Thank you @strongjz - this is how you respond and deal w/things - much appreciated! Have a great day - love the product and the work you all do

[2022-06-16 09:21] mve-git commented on #6634
/reopen
/remove-lifecycle rotten

We would love to have this implemented as well. We need to specify the max-connections for one pod.

[2022-06-16 09:35] mve-git opened #8705 "Support configuration of max_conns for sticky sessions"
We have implemented sticky sessions for our ingress nginx. Now we need to limit the maximum connections for a sticky session to avoid an overload on a single pod. In the documentations [https://docs.ovh.com/sg/en/kubernetes/sticky-session-nginx-ingress/](https://docs.ovh.com/sg/en/kubernetes/sticky-session-nginx-ingress/) and [https://kubernetes.github.io/ingress-nginx/examples/affinity/cookie/](h

[2022-06-16 11:13] gklasen commented on #2007
@seyal84 could you figure out your issue? I am at the exact same situation atm.

[2022-06-16 14:26] longwuyuan commented on #8166
can you copy/paste your test code here

[2022-06-16 16:33] #8158 closed

[2022-06-16 16:44] tavoda commented on #8353
/remove-lifecycle stale

[2022-06-17 08:00] cmush opened #8706 "Sticky Sessions / Affinity Cookie not working as expected"
**What happened**:

I've configured sticky sessions [as per the documentation](https://kubernetes.github.io/ingress-nginx/examples/affinity/cookie/) but my annotations are ignored and a client's subsequent http requests were randomly sent to all my pod/deployment's containers instead of the first one the client hit.

Scroll to the bottom of this issue to see nginx ingress controller logs that show

[2022-06-17 12:49] tanuj-soni2 commented on #7918
Can we have any workaround on this?

[2022-06-17 13:37] longwuyuan commented on #8706
@cmush on slack you posted kubectl output here but I don't see it.

In any case, affinity works for me. To know why its not working for you, you can help out by showing the information that is relevant to affinity config. Things like ;
- kubectl get svc,ing -A -o -wide
- kubectl describe ing -A -o wide
- curl command in full with -v and response output
- logs of the ingress-nginx controller pod
-

[2022-06-17 13:40] kevincox opened #8707 "Ingress status address is not updated when using "headless" service without hostNetwork"
**What happened**:
When creating a [headless service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) only one IP is assigned to managed Ingresses. See the example service:

[code]

This assigns only a single IP to the instance.

However switching to a NodePort service (even though the NodePort is never actually used so this is really just a big hack) correctly

[2022-06-17 13:47] kevincox commented on #8707
- kubectl get po,svc,ing -A -o wide

That is sensitive. If there are any relevant resrouces that I missed please let me know.

- kubectl describe ing -A

I included the relevant ingress. If you think other ingresses may be relevant please be more specific.

- Show how you installed the ingress-NGINX-Controller exactly and complete command etc, along with values file if any

See the original messag

[2022-06-17 13:50] kevincox commented on #8707
Actually it appears that this is slightly more complicated. It appears that when using a headless service that nginx-ingress simply doesn't update the endpoints at all. It appears as though in my previous testing there simply happened to only be one address before the change.

[2022-06-17 13:52] kevincox commented on #8707
A step-by-step procedure of what? Applying the provided kube resources and ingress should get you a working example of this problem.

[2022-06-17 15:14] EwanRoycroft commented on #8690
Same issue for me with k8s 1.24.2, helm 3.9.0.

[2022-06-17 15:44] kevincox commented on #8707
Following the instructions here https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#via-the-host-network seems to work. However this also exposes the metrics url (`/metrics`) and maybe other debugging information to the world which isn't really acceptable.

[2022-06-17 15:47] EwanRoycroft commented on #8690
I reverted my cluster to k8s 1.22, as suggested by @Divine1 in the OP, but am getting the same issue:
[code]

[2022-06-17 16:03] kevincox commented on #8707
So after investiagtion on what the options are here. The core of the problem appears to be that we have three similar setups and one doesn't work.

1. nginx-ingress running with `hostPort: 80` and a "fake" `NodePort` service works as expected.
2. nginx-ingress running with `hostNetwork` seems to work with either a fake `NodePort` or a headless `ClusterIP` service.
3. nginx-ingress running with `ho

[2022-06-18 07:51] #8124 closed

[2022-06-19 00:47] CharlieC3 commented on #8401
Until this is resolved, a temporary workaround I've found which works is to add the `custom-http-errors` annotation to the Ingress with the auth-signin and auth-url annotations.

e.g.
[code]

[2022-06-19 09:02] #8171 closed

[2022-06-19 10:03] #7959 closed

[2022-06-19 18:07] #8084 closed

[2022-06-19 19:07] #8172 closed

[2022-06-20 06:02] stevehipwell commented on #7570
/remove-lifecycle stale

[2022-06-20 09:58] tosi3k commented on #6017
/reopen

This is still not fixed and one can hit K8s control plane availability problems when there's a high churn on large services in the cluster and lots of `ingress-nginx-controller` replicas - apiserver needs to send notifications about `endpoints` changes to lots of watchers which often ends up with its overload.

[2022-06-20 15:24] zzq1314zll opened #8710 "Ingress address is empty"
I use this https://kubernetes.github.io/ingress-nginx/deploy/
then
[code]
address is empty?

[2022-06-20 16:02] #8710 closed

[2022-06-20 16:36] jsoref commented on #7627
/remove-lifecycle stale

[2022-06-20 20:18] tpoindessous opened #8712 "Metrics by controller ou by cluster instead of by ingress"
I have a lot of ingresses and when I scrape metrics, I got a lot of metrics, each attached to one of my many ingresses. For this kind of installation, I would to like to have a option to get metrics by controller (I have 4 pods) or by cluster.

In the meantime, I will look to prometheus expression (or another scrapper) to sum all the metrics to get only one metrics

Thanks !

[2022-06-20 20:50] kevincox opened #8713 "Redirect annotations are ignored on default backend."
**What happened**:

Create an ingress for the default backend like so:

[code]

**What you expected to happen**:

Requests hitting the default backend were redirected.

Instead this annotation was ignored. It is may be related to https://github.com/kubernetes/ingress-nginx/issues/1405. This also doesn't work for `nginx.ingress.kubernetes.io/temporal-redirect`.

A workaround is to use a snippet whi

[2022-06-20 21:24] kxgillispie commented on #8271
@longwuyuan could you please clarify where this is stated? I'm having difficulty finding this recommendation in the installation docs.

Thanks!

[2022-06-20 23:50] longwuyuan commented on #8713
/remove-kind bug
I could not reproduce the problem

[2022-06-20 23:58] longwuyuan commented on #8271
I would assume that the project publishing a command, in the AWS section of the deployment docs, that uses a yaml manifest, implies that. More so because the project actually generates and maintains that yaml manifests in variations for different Kubernetes Version even.

In case that implication is not good enough, you can submit a PR, to improve docs.

[2022-06-21 00:44] kevincox commented on #8713
Can you share the configuration you used?

[2022-06-21 01:28] kevincox commented on #8713
That appears to be creating an ingress for a specific domain rather than for the default-backend. I also don't see where the redirect annotation is being applied in your script.

[2022-06-21 01:52] longwuyuan commented on #8713
What is the image being used to create the pod at the backend and how did you create the svc for that pod ? Its not crystal clear as to what problem has to be solved here because I am able to get google.com landing page, even though I sent request to www.dev.mydomain.com.

Lets use the  response codes etc below. Can you write what you expect to see different from what is seen below ;
[code]

Maybe

[2022-06-21 05:22] #8145 closed

[2022-06-21 08:34] LucasBoisserie opened #8716 "[Helm Chart] Set loadBalancerClass in loadBalancer service"
## What do you want to happen?

Be able to set the `loadBalancerClass` params in kubernetes service

From Kubernetes doc:
`spec.loadBalancerClass` enables you to use a load balancer implementation other than the cloud provider default

In our use case, we use EKS and we want to deploy AWS Load Balancer Controller to have more annotations on service type LoadBalancer.

## Is there currently another

[2022-06-21 09:15] LucasBoisserie opened #8717 "[Helm Chart] Simplify ValidatingWebhook deployment/configuration with CertManager"
## What do you want to happen?

Simplify ValidatingWebhook Certificate and CA configuration like [Prometheus Operator](https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack)

Cert-manager is able to generate and to inject Certificate and CA inside ValidatingWebhook with annotations from Certificate Object. Cert-manager can also manage certificate rotation.

##

[2022-06-21 10:26] kevincox commented on #8713
See the manifests in the original post. Everything is there.

It is using the built-in default service, but I don't think that should even matter because it should never actually be hit with the redirect configured.

The response you provide looks correct **but is for a different configuration**.

[2022-06-21 11:17] wantdrink opened #8718 "[Helm Chart] Is it possible to disable http port 80 in values.yaml"
Hi there,

I'm using ingress-nginx-3.4.1 installed with helm on K8S 1.18.5.
I've enabled hostPort to be able to access 443 of these servers to request via ingress, also I commented all configs with keyword '80' in values.yaml. After installing the ingress I found that on those servers that controllers are running still open port 80.

`default backend - 404
`

As security required we need to stop r

[2022-06-21 13:44] longwuyuan commented on #8166
I asked because we need to pin point the use of the memory. Without knowing where he memory was used, there is not much to discuss.

Somene else was creating ingress objects in a while true loop with no sleep in bash and also without break. So that while seems logical to the person doing it, does not form any base for discussion (simply because if you do something in while true loop, without sleep

[2022-06-21 14:16] #8395 closed

[2022-06-21 20:40] strongjz opened #8722 "Replace httpexpect module to something internal or maintained"
Dependabot issue in github.com/valyala/fasthttp

Looks like their CI is falling, when dependabot tries to update it.

https://github.com/gavv/httpexpect/pull/107

Weaknesses
CWE-22
CVE ID
CVE-2022-21221
GHSA ID
GHSA-fx95-883v-4q4h

We may need to investigate removing github.com/valyala/fasthttp in our e2e testing

[code]

https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/defaultbacken

[2022-06-21 23:39] maximethebault opened #8723 "Helm chart: using publishService with pathOverride isn't publishing service anymore"
**What happened**:

We have a service deployed outside of the Helm chart, that we publish thanks to the "publishService.pathOverride" option of the Helm chart
After upgrading to the latest Helm chart version, our custom service isn't published anymore

**What you expected to happen**:

Our custom service published as it used to be

**Origin**

Helm chart release 4.0.7 introduced a change from the

[2022-06-22 06:00] siva5974 commented on #6100
This works fine for me. Thanks!

[2022-06-22 06:57] cmush commented on #8706
@longwuyuan I've updated the github issue with the requested output and some more info.

[2022-06-22 07:01] longwuyuan commented on #8706
Not sure what problem needs to be solved, based on the information posted here.

[2022-06-22 07:30] cmush commented on #8706
I have a deployment with 5 pods (let's name them A, B, C, D and E).
Internally they are load balanced using `ClusterIP` service (`httpsvc-service`).
External traffic is routed to `httpsvc-service` via nginx ingress controller and domain `service.io`.

Let's say there are 2 clients: @cmush and @longwuyuan
expected behavior:
- if @cmush makes a request to `service.io`, and pod A serves my initial re

[2022-06-22 07:44] cmush commented on #8706
I don't understand what you mean. Is there any more information I can provide that'd make things clearer. Perhaps I can dm you and explain in detail what I'm trying to achieve?

[2022-06-22 07:49] longwuyuan commented on #8706
When I test, I can get response from same pod for all curl requests. So affinity works for me.

I was hoping you can write step-by-step instructions for someone to copy/paste on their minikube/kind cluster, that will demonstrate that response is not coming from same pod, for all curl requests. Your instructions have to be complete and accurate in details related to creating the pod, creating the s

[2022-06-22 08:12] cmush commented on #8706
The steps I followed:
1. Install ingress nginx via helm chart: https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx (in my case I used the terrform helm provider)
2. Install an application that will act as backend (in my case this `httpsvc` which is an elixir phoenix app)
3. Create an ingress (with affinity annotations like the example above)
4. Access login route from browser, fill in

[2022-06-22 10:42] drigz commented on #4323
For anyone else who reaches this thread: If you see this error specifically with the number 4740180: `upstream sent too large http2 frame: 4740180`, I don't think it is a buffer size issue. Instead, nginx is trying to talk to a gRPC backend, but the backend is sending an HTTP 1.1 response. In some cases, it can indicate that your Go backend needs to support h2c (see https://kennethjenkins.net/post

[2022-06-22 11:08] longwuyuan commented on #8706
Without seeing a report from you that shows that affinity is broken, it will be effort without purpose. Can you show affinity is not working as real data and not just typed text. For example  this  link shows affinity working ;
https://github.com/kubernetes/ingress-nginx/issues/7778#issuecomment-941438989

I have made mistakes on this earlier so trying to be base all comments on data instead of as

[2022-06-22 12:35] technotaff-nbs opened #8725 "SYS_CHROOT capabilities added to pod, but "Operation not permitted" when chroot'ing."
**What happened**:

We have deployed helm chart v4.1.2, which deploys image v1.2.0 (chroot):

We have set chroot as true in our values file:

[code]

The SYS_CHROOT capability is enabled on the deployment, replicaset, pod and associated PSP:

pod (snippet)
[code]

psp (snippet)
[code]

**What you expected to happen**:
Pod would chroot into new fake root and operate as normal.

We are seeing the fo

[2022-06-22 13:01] PhilipSchmid commented on #8499
BUMP ;). I'm also interested in an answer here as I also don't see the reason why this is required - `NET_BIND_SERVICE` should be sufficient in my opinion.

[2022-06-22 14:41] sbeaulie commented on #5401
I updated from nginx-ingress to ingress-nginx in GKE, so if this helps anyone I needed to add a FW rule to allow 8443 from the API server to my nodes.

As per deploy instructions:
https://kubernetes.github.io/ingress-nginx/deploy/#gce-gke

I'm not sure why it was NOT needed in nginx-ingress.

[2022-06-22 15:37] longwuyuan commented on #8689
@ilcapatina one of the important reasons to delay progress is more relevant data on the problem.
For example, the current data in the issue requires that a developer research on this topic and then make lots of effort to try and get a environment that matches this use case. Only then there is some hope of reproducing the problem.

You can help out by actually using minikube or kind and reproducing

[2022-06-22 17:37] #7879 closed

[2022-06-22 19:32] ilcapatina commented on #8689
Hi @longwuyuan ,

I will try to include all details in here:

1. The initial deployment, service and ingress:
[code]
[code]

Deployed services at this stage:
[code]

Deployed ingresses at this stage:
[code]

The ingress-controller config at this stage:
[code]

Curl requests (I was not able to access the controller from my local so I had to port-forward the ingress controller svc on port 8000):
[co

[2022-06-22 19:42] strongjz commented on #8069
/remove-lifecycle stale

we need to add this to the release updates issue tracker that I have yet to make.

[2022-06-22 19:47] strongjz opened #8727 "Prometheus metrics need documentation"
There are no docs about the Prometheus metrics for the project.

https://github.com/kubernetes/ingress-nginx/pull/8726#issuecomment-1163225982

/kind documentation
/triage accepted
/priority backlog
/assign @nailgun

[2022-06-22 19:52] rikatz commented on #8727
/help

[2022-06-22 21:10] strongjz commented on #8727
I am going to close this one in favor of closing a much older one

https://github.com/kubernetes/ingress-nginx/issues/2924

/close

[2022-06-22 21:10] #8727 closed

[2022-06-23 01:06] longwuyuan commented on #8689
Thanks for the info. But personally, I don't see any usefulness, at all,  in what you have posted. Maybe some developers can find it useful. Lets hope & wait for other comments. But I think your data above is close to your use case. So maybe that is basis of your attempt. Lets wait and see what happens.

I am not sure if you would be interested to know, but if I attempt to reproduce canary config,

[2022-06-23 01:21] longwuyuan commented on #8689
FYI, its clear that you expect a value for the `path` field, in the ingress object spec, to influence the canary-annotation behaviour.

[2022-06-23 03:00] wuzhuoquan commented on #8689
@ilcapatina Hi licapatina
I have found the way to solve my problem after read the controller code and Lua script.
Create a new SVC for the original ingress backend can be work.
May be I show you the picture is more easy to understand.

![1](https://user-images.githubusercontent.com/49891988/175197876-9ca7c4e8-ed93-40f0-aa58-8e200ef4970e.jpg)

In the picture, ```Ingress 1``` and ```Ingress 2``` use

[2022-06-23 06:46] #8175 closed

[2022-06-23 07:20] Lyt99 commented on #8285
I'm a bit concerned that the PR #8726 would make the problem more serious, as it's a Summary metric.

[2022-06-23 07:55] longwuyuan commented on #8689
@wuzhuoquan, can this issue be closed since your problem is solved ?

[2022-06-23 08:30] ilcapatina commented on #8689
Hi @wuzhuoquan ,

Thank you for your detailed response.

I tried the solution you proposed and it works as expected.

In case it will be relevant for someone, this is what I had to deploy/change on top of what I presented in my previous comment:
1. Added a new service pointing to the frontend-v1 deployment:
[code]

2. Changed the ingress used as main ingress for the canary ingress, to use this new

[2022-06-23 08:33] longwuyuan commented on #8689
/close

[2022-06-23 12:57] auwaerter commented on #8718
I'm using

[code]
together with:

[code]
what is working perfectly fine for me. Anyway i have deactivated anything hostPort related.

[2022-06-23 14:30] strongjz opened #8729 "Tracking progress on 2022 community survey"
An open issue to track the progress of the community survey

https://github.com/kubernetes/community/issues/6657

/kind feature
/triage accepted
/priority critical-urgent

[2022-06-23 14:49] strongjz opened #8730 "Tracking Devstats for ingress-nginx"
Working on getting devstats for ingress-nginx project

https://github.com/cncf/devstats

/kind feature
/triage accepted
/priority backlog

[2022-06-23 15:01] strongjz commented on #8644
/triage accepted
/kind bug

[2022-06-23 15:05] strongjz commented on #8091
/priority critical-urgent

[2022-06-23 15:29] #8437 closed

[2022-06-23 15:49] Ed87 opened #8731 "502 and "Connection refused while connecting to upstream""
I have deployed a service and to be accessed via ingress but it appears the ingress is not working.

When I try a GET (from Postman) to my endpoint I get 502  Bad Gateway Error. I have managed to inspect the logs for the ingress controller and this is what I am getting :

`kubectl logs ingress-nginx-controller-57cb5gh78uj-abcfrt > app.log`

`192.198.123.115 - - [23/Jun/2022:15:14:50 +0000] "GET /b

[2022-06-23 16:29] DavidKittleSEL commented on #6358
I just wanted to mention that with the most recent ingress-nginx helm chart this solution needs to be modified to work correctly.
In "values.yaml" `plugins: "rewrite_fwd_headers"` needs to be a child of `controller.config`. Thanks @brsolomon-deloitte for this workaround!

[2022-06-23 17:40] tao12345666333 commented on #8091
I have submitted a PR #8733

I created `resourcelock.MultiLock` for  lock's migration.
Remove this in subsequent versions and use the Lease API

[2022-06-23 21:21] strongjz opened #8734 "Improving release process"
The current release process is manual in many places and cumbersome. This issue is for tracking the automation of those manual steps.

[Diagram for current process](https://lucid.app/lucidchart/113036fc-23fc-4f6d-a059-230808ef0020/edit?view_items=2Cis6mybQ0aG%2CnDis6WVPBNg9%2CxDisThpJjPJX%2CGDisiGCq6CUV%2CQDisselMCLw2%2CdEiszW1AobRE%2CAEis5jI6tDQl%2CPEisjsnx30On%2CXEistbPjMeTq%2C9EisrMMjy1rM%2CkFi

[2022-06-24 01:45] strongjz commented on #8729
https://www.surveymonkey.com/r/ingressngx2022

/close

[2022-06-24 01:45] #8729 closed

[2022-06-24 05:10] longwuyuan commented on #8731
Post info as per issue template

[2022-06-24 05:11] longwuyuan commented on #8731
/close

[2022-06-24 05:11] #8731 closed

[2022-06-24 05:52] Ed87 commented on #8731
Where is the issue template ?

[2022-06-24 06:56] longwuyuan commented on #8731
It's presented automatically on new issue creation. Also, better to ask
support in kubernetes.slack.io .

Thanks,
; Long

On Fri, 24 Jun, 2022, 11:22 AM Ed Tshuma, ***@***.***> wrote:

[2022-06-24 09:30] iamNoah1 commented on #8730
The goal is to have something like this for ingress-nginx: https://k8s.devstats.cncf.io/d/12/dashboards?orgId=1&refresh=15m

? @strongjz

[2022-06-24 17:03] tao12345666333 commented on #8734
Can we also add building ingress-ngjnx kubectl plugin to this process?

[2022-06-25 11:56] LoonyRules commented on #7747
I'm going to save the triage robot some time and close this issue now as I haven't came across this issue since we updated to 1.0.4 as mentioned [here](https://github.com/kubernetes/ingress-nginx/issues/7747#issuecomment-972755597). If anyone has issues in the future you should make your own issue and link back to this one if you feel like it's the same issue.

[2022-06-25 11:56] #7747 closed

[2022-06-25 12:15] #8184 closed

[2022-06-25 19:52] goors commented on #6506
Same here. I am running on 3 physical nodes.
Stuck in

[code]

[2022-06-25 20:07] dinobagio commented on #6506
Do you have any other ingress ?

Can you reach this ingress from outside your cluster ?

On Sat, 25 Jun 2022, 21:52 Nikola, ***@***.***> wrote:

[2022-06-25 20:53] goors commented on #6506
`Do you have any other ingress ?`

No, I do not.

`Can you reach this ingress from outside your cluster ?`

No, I can not since I am on `VPN` where `NodePort` of `32211` in this case is not accessible for ingress service.

When I do `curl 192.168.253.113:32211` while inside server, I can see nginx (controller page).

Ip `192.168.253.113` is assigned to ingress `test-ingress`.

[2022-06-25 22:34] dinobagio commented on #6506
@goors maybe you can give us the output of kubectl decribe for every item of your deployment, i.e. pod, service, ingress, ingress controller ?
Then the output of ip a/ip r, netstat -ltpn on your host, so that we can understand what is your network setup...

[2022-06-25 22:51] goors commented on #6506
`kubectl describe ingress echo-ingress`

[code]

`kubectl describe service example-service`

[code]

`kubectl describe deployment nginx-web`

[code]

`kubectl describe pod nginx-web-7b8556bdd-ndvmx `

[code]

`kubectl describe service ingress-nginx-controller -n ingress-nginx`

[code]

`kubectl describe pod ingress-nginx-controller-8fb79d7df-kkmqc -n ingress-nginx`

[code]

`ip a`

[code]

`ip r`

[2022-06-25 23:00] SJrX opened #8739 "Tweak docs for bare metal clusters"
Right now there are at least two Yaml manifests that you can use to install ingress-nginx.
1. `https://raw.githubusercontent.com/.../baremetal/deploy.yaml`
2. `https://raw.githubusercontent.com/.../cloud/deploy.yaml`

As I was going through the docs and trying to get setup with [A pure software solution: MetalLB](https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#a-pure-software-solution

[2022-06-26 00:40] goors commented on #6506
I can see

`Readiness probe failed: calico/node is not ready: BIRD is not ready: Error querying BIRD: unable to connect to BIRDv4 socket: dial unix /var/run/calico/bird.ctl: connect: connection refused`

./calicoctl node status

[code]

I have no clue how to fix that.

[2022-06-26 00:44] goors commented on #6506
That is resolved by

`kubectl set env daemonset/calico-node -n kube-system IP_AUTODETECTION_METHOD=interface=eth.*`

It says Estabilsihed now and there are no more errors but still I have that Scheduled for sync

[2022-06-26 01:02] goors commented on #6506
This is only error that is left in ingress controller pod:
`MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found`

[2022-06-26 07:30] dinobagio commented on #6506
@goors maybe you should redeploy your ingress controller now that you have your 3 nodes ready with I hope 3 roles (cp, etcd, w) among them ?

[2022-06-26 08:24] nabokihms commented on #8078
Closed in https://github.com/kubernetes/ingress-nginx/pull/8213

[2022-06-26 08:24] #8078 closed

[2022-06-26 12:30] goors commented on #6506
@dinobagio all I can do is `kubeadm init` and I have no idea how to force someone to master or similar. Do you have any docs for that?

[2022-06-26 13:04] dinobagio commented on #6506
@goors in this case how do you define what role you give to each oh these 3 nodes ?
Why do you even want to use 3 nodes instead of one that would do the 3 ? Maybe thats why..
I'm not an expert, unfortunately, and the issue solved when I deleted my second ingress.

[2022-06-26 13:05] goors commented on #6506
This all looks to me some firewall issue, but I am not sure what ports are needed because I do not understand that part
when you spin up ingress, what happens after that and what that message is `Scheduled for sync`.

[2022-06-26 16:22] dinobagio commented on #6506
From my understanding, "waiting for sync" means that it's waiting for one
ingress stream.
But if you cant reach it it explains why you see that.
What is weird in your case is that you don't have host ports in your
describes,
I've checked my cluster, and every describe shows that my nginx-controller
has host ports (80,443)
[code]
If I were you I would redo the kubeadm init on one node first.
then t

[2022-06-26 16:54] longwuyuan commented on #8739
What problem ineeds to be solved for the larger user-community is not clear. Baremetal usually implies that there is no LoadBalancer service from the provider of the cluster's underlying infrastructure. And this can be interpreted by different people differently.

[2022-06-26 17:56] SJrX commented on #8739
Yeah I was on the fence about whether to file a bug report or not.

Maybe the simplest change would be to change this sentence:

To better mirror the sentence under the NodePort version:

Maybe the former sentences could be.

[2022-06-26 19:17] goors commented on #6506
@dinobagio I tried it same thing.

[code]

`sudo ss -tlpn` gives me:

[code]
I dont see 80 or 443....

[2022-06-26 19:30] goors commented on #7043
Same here.

[2022-06-26 19:45] goors commented on #6506
I have changed ingress controller config.

I have set hostNetwork: true on Deployment part of controller config.

Here is paste bin if anyone have this same problem: https://pastebin.com/uwwtUtnU.

So here how it is:

1. all my services are type clusterIp
2. my ingress is hitting service as it should be
3. all requests/responses are from ingress.

@dinobagio thank you.

[2022-06-26 19:51] goors commented on #6506
Also there is a warrning

`MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found`

This can not be correct, maybe the order of commands in yml file are wrong since there is ingress-nginx-admission secret in ingress-nginx namespace.

[2022-06-26 20:01] dinobagio commented on #6506
@goors excellent news...glad I could help.
By the way I dont do kubeadm, I do rke clusters only up to now. It's aol done at once...seems much easier than kubeadm from what I can see.

[2022-06-27 02:49] rmehta1974 opened #8742 "upgrading nginx from .33 makes me loose all my certs"
We Use nginx version .33 , not sure how it was installed by previous admin, but now all the v1beta1 being deprecated, we wanted to upgrade the Nginx to newer versions, but it is not working , and is loosing all ,my certs, ie, if I had site, 111.delta123.com/gone, and had a valid cert, after upgrading , site comes with untrusted cert .. and my CertIssuer and stored certs are still good. If ,I roll

[2022-06-27 03:19] longwuyuan commented on #8742
Use https://kubernetes.github.io/ingress-nginx/deploy/

Discussed on slack.
/close

Thanks,
; Long

On Mon, 27 Jun, 2022, 8:20 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-06-27 03:19] #8742 closed

[2022-06-27 04:43] liu-xuewen opened #8743 "/bin/sh: /chroot.sh: Permission denied && caused: exec: "/e2e.sh": permission denied: unknown"
**What happened**:
## make kind-e2e-test

/bin/sh: /chroot.sh: Permission denied
The command '/bin/sh -c apk update   && apk upgrade   && /chroot.sh' returned a non-zero code: 126
make[1]: *** [image-chroot] Error 126

pod default/e2e terminated (StartError)
failed to create containerd task: failed to create shim: OCI runtime create failed: container_linux.go:380: starting container process caused

[2022-06-27 05:56] longwuyuan commented on #8743
and I just tried and `make kind-e2e-test` works for me so please provide exact and complete details as to what is the problem to be solved

<img width="998" alt="image" src="https://user-images.githubusercontent.com/5085914/175869352-85ea178e-1b3e-4dab-88f6-8ce2fbd34f45.png">

[2022-06-27 05:59] lushenle opened #8744 "Build nginx image [hunter ** INTERNAL **] No projects found | release v1.2.1"
**What happened**:

When I was building nginx image, the following error was thrown

[code]

This seems to be an error in the hunter compilation. However, no related issue was found in the [hunter repo](https://github.com/cpp-pm/hunter/issues).

**ingress-nginx version**

[code]

**Environment**:
- docker version
[code]

[2022-06-27 06:04] longwuyuan commented on #8744
/remove-kind bug

Post all the details of environment and steps taken to build image. There is no information here for anyone to analyse. You can also try this https://kubernetes.github.io/ingress-nginx/developer-guide/getting-started/#local-build .

Re-open the issue after you have posted the information that someone else can analyse for you

/close

[2022-06-27 06:04] #8744 closed

[2022-06-27 06:24] longwuyuan commented on #8690
/area stabilisation

[2022-06-27 06:24] longwuyuan commented on #8690
/area stabilization

[2022-06-27 06:27] longwuyuan commented on #8655
/area stabilization

[2022-06-27 06:29] longwuyuan commented on #8634
added ld-musl-x86_64.path file to controller container using Dockerfile
/close

[2022-06-27 06:29] #8634 closed

[2022-06-27 06:33] liu-xuewen commented on #8743
The running environment and configuration of each person are different. Generally, the sh file executable bit should be given：
https://stackoverflow.com/questions/38882654/docker-entrypoint-running-bash-script-gets-permission-denied

[2022-06-27 06:43] longwuyuan commented on #8743
During `make kind-e2e-test` I think there is coverage for chroot image so I still don't see the problem we need to solve here. If you have a unique environment, I don't think we should change the project code to suit just one environment.

What is the problem you are trying to solve ?  Are you trying to build the chrooted image locally ? If yes, have you tried the `make build image`

[2022-06-27 06:46] fred214 opened #8745 "Go-restful 2.9.5 vulnerability"
Hi
Our scanner report the binary ` nginx-ingress-controller ` has vulnerability [CVE-2022-1996](https://nvd.nist.gov/vuln/detail/CVE-2022-1996)

[code]
Do we have any updates to fix the vulnerability?

[2022-06-27 07:04] liu-xuewen commented on #8743
Synchronizing the remote development environment with Goland's deployment results in the loss of file execution permission?
local goland environment:
![image](https://user-images.githubusercontent.com/29445066/175878932-ce786728-7fef-4e5f-b513-06b48bae67e4.png)

the remote development environment:
![image](https://user-images.githubusercontent.com/29445066/175878773-2be404ec-8afe-4c34-a03e-7d0cba1

[2022-06-27 07:26] liu-xuewen opened #8746 "[server-snippet]nginx: [emerg] duplicate location "/" in /tmp/nginx/nginx-cfg"
**What happened**:
[code]

[code]
![image](https://user-images.githubusercontent.com/29445066/175883337-1482787a-298c-47c4-b237-6aa32b4080a7.png)

**What you expected to happen**:
[code]
success

need add server-no-root-location to enable server-snippet to configure root location

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes ve

[2022-06-27 07:26] dinobagio commented on #6506
It might be a warning that appeared in the past of the process but is not
current any more. A log of the error somehow.

On Sun, 26 Jun 2022, 21:51 Nikola, ***@***.***> wrote:

[2022-06-27 07:38] hoeg opened #8748 "Support multiple secrets for auth-tls-secret annotation"
Currently the `nginx.ingress.kubernetes.io/auth-tls-secret` annotation takes a single secret with a key named `ca.crt` (https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#client-certificate-authentication).
Kubernetes secrets can at most be 1MB (https://github.com/kubernetes/kubernetes/issues/19781) so this leaves us with an upper limit on the number of certific

[2022-06-27 07:39] longwuyuan commented on #8746
/remove-kind bug

Try to post information asked in the template and provide details of what problem needs to be solved.

[2022-06-27 07:43] LianwMS opened #8749 "Vulnerability for curl and libxml2"
Our scanner report the binary nginx-ingress-controller has vulnerability about curl and libxml2

- Alpine Linux has released a security update for curl to fix the vulnerabilities.<BR><BR>Affected versions:<BR>Alpine Linux 3.12<BR>Alpine Linux 3.13<BR>Alpine Linux 3.14<BR><BR><BR>Affected Package versions prior to 7.79.1-r1.Successful exploitation of this vulnerability could lead to a security brea

[2022-06-27 07:44] longwuyuan commented on #8745
Is it possible for you to post the full scan report with all details.

[2022-06-27 08:13] fred214 commented on #8745
Sure
[code]

[2022-06-27 08:15] fred214 commented on #8745
Sure,
[code]

[2022-06-27 08:19] longwuyuan commented on #8749
Can you please show the complete scan report

[2022-06-27 08:45] LianwMS commented on #8749
VulnerabilityId
500138
VulnerabilityName
Alpine Linux Security Update for curl
Risk
CRITICAL
AdjustedSeverity
8.6
ImageId
sha256:314435f9465a7b2973e3aa4f2edad7465cc7bcdc8304be5d146d70e4da136e51
ImageName
****
ScanResult
#table cols="3"
Package Installed_Version Required_Version
curl 7.79.1-r0 7.79.1-r1
VulnerabilityDescription
Alpine Linux has released a security update for curl to fix the vulnera

[2022-06-27 08:47] LianwMS commented on #8749
VulnerabilityId
500345
VulnerabilityName
Alpine Linux Security Update for libxml2
Risk
HIGH
AdjustedSeverity
6.5
ImageId
***
ImageName
***
ScanResult
#table cols="3"
Package Installed_Version Required_Version
libxml2 2.9.13-r0 2.9.14-r0
VulnerabilityDescription
Alpine Linux has released a security update for libxml2 to fix the vulnerabilities.<BR><BR>Affected versions:<BR>Alpine Linux 3.12<BR>Alpi

[2022-06-27 08:48] LianwMS commented on #8749
reply in above comment

[2022-06-27 09:08] xs233 commented on #4003
Could you give me a java example call?

[2022-06-27 14:13] amirschw commented on #8457
hi @kangtao, the external auth endpoint doesn't have to be inside the cluster, although it can be.

[2022-06-27 15:51] bmv126 commented on #8746
Root directive support is removed in latest version
https://github.com/kubernetes/ingress-nginx/pull/8624#issue-1245911476

[2022-06-27 15:58] Mohamed-Rafraf opened #8756 "Ingress don't load the website assests"
I have a kubeadm cluster and i am trying to deploy to static websites using ingress (after installing the metalLB and nginx-ingress controller )

After deploying the ingress, i find that the ingress don't load the website assets (the html file only)
Please any help !

[code]

[2022-06-27 16:20] PureKCJones commented on #4259
The solution you are using *should* stop disclosing software version in headers - validate that with curl -I <www.target.url>

To avoid disclosing headers in error messages, you would also need to create a custom error response page, and then point failed requests to it with --default-backend-service option.

[2022-06-27 16:54] #8756 closed

[2022-06-27 16:54] longwuyuan commented on #8756
/remove-kind bug

[2022-06-27 17:26] Bilel-NEJI opened #8757 "Ingress One Service and multiple paths/url - GET request 404 error code"
**What happened**:

When I send a request to a rest client endpoint (in order to fetch access token), I receive the 404 error message in browser's console
``` POST https://backend.rd.exemple.com/response 404  ```
I'm deploying my application in the cloud, inside a cluster on 03 pods:

**What you expected to happen**: I expected to receive the data the server

**NGINX Ingress controller version** (

[2022-06-27 18:28] nissy34 commented on #7857
/remove-lifecycle stale

[2022-06-27 18:30] f-ld opened #8758 "Partial metrics computation: only for first host rule of ingress"
**What happened**:

Some prometheus metrics like `nginx_ingress_controller_requests` are partially computed for some ingresses (explicitely: they are computed for first host rule, not for second host rule, see example below)

**What you expected to happen**:

I was expecting metric to be computed for all rules.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controll

[2022-06-27 19:40] kipper3d opened #8759 "Building nginx 1.19.10 issue with references to lua in modsecurity"
**What happened**:
modsecurity undefined references to parts of lua.

[code]

**What you expected to happen**:

Original build with alpine but utilizing oracle linux 8 as builder instead.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
ingress-nginx controller-v1.2.0

**Reproduce process
Running the build.sh on oracle linux 8 image - replaced

[2022-06-27 20:15] iusergii opened #8760 "Doc: AWS NLB idle timeout"
There is an unclear statement in documentation in regards to AWS NLB Timeout. It [says](https://kubernetes.github.io/ingress-nginx/deploy/#nlb-idle-timeouts) that `keepalive_timeout` must be **less** than NLB (`350s`).

With a default param of `75s,` my assumption is that the controller silently closes the TCP session after it. And once the request hit NLB, the session is "dead" and the client get

[2022-06-27 20:18] iusergii commented on #8760
[6036](https://github.com/kubernetes/ingress-nginx/issues/6036)
https://github.com/kubernetes/ingress-nginx/issues/5548#issuecomment-812816600

[2022-06-27 23:58] longwuyuan commented on #8759
/femove-kind bug

The project is in feature development freeze https://kubernetes.slack.com/archives/CANQGM8BA/p1656020331133589
Post feature-freeze, it will help if there is justification posted here for this. The resources required for such effort are not available.

/kind feature

[2022-06-27 23:59] longwuyuan commented on #8759
/remove-kind bug

[2022-06-28 03:52] janquijano commented on #7970
what was the solution for this using helm chart?

[2022-06-28 04:31] gauravkghildiyal commented on #8758
This seems to be the intended behaviour. Refer https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/#wildcard-ingresses for details.

[2022-06-28 05:32] gauravkghildiyal commented on #8713
I think this is working as intended (I'm not a maintainer of this repo though and they might have a different say) and the reasoning could be found in the issue that you linked to (#1406, [comment](https://github.com/kubernetes/ingress-nginx/issues/1405#issuecomment-333336305)):

To elaborate, what I believe is supposed to happen is that `nginx.ingress.kubernetes.io/permanent-redirect` should only

[2022-06-28 05:48] gauravkghildiyal commented on #6937
The issue seems to be a bit old, but I'm presenting my thoughts here to provide some closure to others who might see this.

I feel the problem at hand is that the metric itself could have multiple labels, and those labels could have multiple values. This makes it harder to initialize `nginx_ingress_controller_requests` for all combination of labels and values (maybe, some values might not even be

[2022-06-28 06:11] bmv126 commented on #8759
Most likely you are using incompatible lua version to build.

[2022-06-28 07:12] vikneshrajspui commented on #8599
Just to clarify are we saying nginx is yet to support `autoscaling/v2` on 1.23+? as I am also encountering similar problem `autoscaling/v2beta2 HorizontalPodAutoscaler is deprecated in v1.23+,`

[2022-06-28 07:49] aslafy-z commented on #8384
/remove-lifecycle stale

[2022-06-28 08:10] xs233 opened #8761 "How to use same path to route different grpc instances?"
I have two grpc service instances, which are on different machine, and client can connect to one of them according to business logic. I can realize it using a single nginx like follows:

[code]

When client need to call to server, client just set different authority header and don't need to change url. So it works well.

-----------------------------------------------------------------------------

[2022-06-28 08:21] tao12345666333 commented on #8599
Not yet supported.

we can do something compatible

[2022-06-28 10:42] f-ld commented on #8758
Indeed, good catch, I missed that part from the documentation, my bad.

Since in my case we do not care much about the hostname in metrics labels (since we mainly care about the group of hosts and so the ingress) then I could easily add this in my helm chart:
[code]
and my missing metrics are now visible (but without host label).

Thanks @gauravkghildiyal  for spotting this and for your quick resp

[2022-06-28 13:21] kipper3d commented on #8759
But its your build code that drives the version. I've only updated the build image to OL8 and the packages main set of packages to RPMs. The lua stuff is based on tar files that are downloaded and applied during the build process which has not changed.

[2022-06-28 14:50] #7884 closed

[2022-06-28 15:08] n-pedersen commented on #8499
Hi,
I'm also very interested in if "--set controller.image.allowPrivilegeEscalation=false" will have any negative consequences.
bump.

[2022-06-28 15:50] mirkoszy commented on #8247
+1

[2022-06-28 16:52] #8206 closed

[2022-06-28 19:41] junoriosity commented on #5831
@rblock-aw Could you write down the working config, because I am experiencing the same issue. :)

[2022-06-28 19:58] gauravkghildiyal commented on #8707
@kevincox
When you say options 1 and 2 work, but 3 doesn't, can you clarify what do you mean by "it works"? Does "it works" mean that you are able to send requests to some address and get a response? If yes, for all the three options, can you describe what is that "address" where you are making the requests to:
* is it the ClusterIP of the ingress pod
* is it the Node IP (in combination with a Nod

[2022-06-28 20:35] kevincox commented on #8707
"Works" means the Ingress has endpoints for the nginx pods.

I am making requests to the nginx service to the external IPs of the nodes specified in the Ingress status (via external-dns). So I think that corresponds to your second option. "the Node IP"

[2022-06-28 21:20] kipper3d commented on #8759
problem solved - I was missing lua-devel.

[2022-06-28 21:45] gauravkghildiyal commented on #8707
Thanks.
Can you share the `Service` and `Deployment` yamls for the configuration that does not work.

Also, since you claim to be making request to the Node IPs directly, why do you need the extra k8s `nginx-ingress` resource to begin with? The way I see it, you can just:
1. Get rid of the service resource
2. Change the nginx deployment to a daemon set (which you seem to have already done)
3. Conf

[2022-06-28 21:58] kevincox commented on #8707
You mean the Service and Deployment of a service that isn't being given the right endpoints? See below, but I think it is really basic.

<details><summary>Application Configs</summary>

Slightly trimmed for privacy, but if anything important is lost I can include more.

[code]

Note this is with a working config, so it got the right IPs.
</details>

That is a possible workaround but has a few down

[2022-06-28 22:11] prateek1192 commented on #8166
We are seeing the same issue after upgrading to k8s 1.22. Our nginx worked with 2G of memory when we were using the version v0.48.1 but after upgrade its not even stabilizing at 4G.

[2022-06-28 23:26] kevincox commented on #8713
The case you provided is basically ambiguous anyways. I think the kube Ingress is intended for a single IP per Ingress which ingress-nginx breaks. However in the case where you don't have multiple ingresses the custom snippet works so I don't see why the `nginx.ingress.kubernetes.io/permanent-redirect` rule would be any different. I would expect it to basically be a safe short-form for the redirec

[2022-06-29 01:04] fred214 commented on #8745
Hi, is there any updates?

[2022-06-29 04:23] gauravkghildiyal commented on #8713
I will let @aledbf verify the intended behaviour, since not allowing redirects to work in this was was explicitly disabled in [#1768](https://github.com/kubernetes/ingress-nginx/pull/1768/files#diff-4198ec010671801881244a8052177f31bcbc682c99fbd7391bceb136025c0568R949-R951)

And seeing this behaviour being forced explicitly, I feel that the fact you are using `configuration-snippet` to redirect is

[2022-06-29 04:48] gauravkghildiyal commented on #8707
Thanks for sharing. One correction there though - I actually wanted to the ingress-controller deployment and not the actual backend deployment. You can skip that since I feel the difference in our understanding lies somewhere else which I hope to clarify with some questions below.

---

* Can you elaborate the 1st point of the down side? What does "endpoints" mean here. Do you mean the list of `AD

[2022-06-29 04:52] LianwMS commented on #8749
Any update?

[2022-06-29 09:17] longwuyuan commented on #8461
its relatively easy to discover which process id is using port 80 with lost or netstat etc. That is outside the scope of this project.

It will help to see data that shows the installing the ingress-nginx-controller first spawns a process that occupies port 80 and then the installation of ingress-nginx-controller also spawns a second process that also wants to use bind to the same port 80. This is

[2022-06-29 09:40] SpecialYang opened #8762 "What's the difference between the default backend in annotation and default backend in ingress spec?"
Can anyone explain this? Thanks.

[2022-06-29 09:46] longwuyuan commented on #8762
You can use these links and get specific with your question. Support issues are not really the best place to repeat what is already documented ;

https://kubernetes.github.io/ingress-nginx/user-guide/default-backend/
and
`kubectl explain ingress.spec.defaultBackend`

/close

[2022-06-29 09:46] #8762 closed

[2022-06-29 09:52] aslafy-z commented on #8052
/remove-lifecycle stale

[2022-06-29 10:54] MathijsvanHeerden commented on #5690
Any news on this?

[2022-06-29 10:56] ensonic commented on #4095
And it is even flaky if using TLS, see https://github.com/kubernetes/ingress-nginx/issues/4836

[2022-06-29 14:05] kevincox commented on #8707
The ingress-controller deployment is in the original post under the "How was the ingress-nginx-controller installed" question.

Yes. To be precise I mean the status of the ingress.

[code]

It allows me to get nginx to update the statuses correctly without a useless cluster IP or node port.

In my case essentially random shuffling of the IPs is sufficient. I am not using the service directly but i

[2022-06-29 14:51] Serializator commented on #8748
What would be the suggested notation for this within the annotation, whilst keeping it BC?

A comma-separated string does the trick but in terms of templating using e.g. Kustomize this is not that friendly, though that shouldn't be the deciding factor per se.

[code]

@hoeg

[2022-06-29 14:56] rhythmshandlya opened #8764 "react app responds with a status of 404!"
minikube version: v1.26.0
docker version: v20.10.17
OS: Ububtu LTS 22.4

Ingress does not serve my react app, and the server responded with a status of 404 (Not Found) and a blank screen.
![image](https://user-images.githubusercontent.com/72724768/176460609-b5b1be86-6582-4d81-b78c-ea5a5512d409.png)

1. The application looks healthy and works just fine:
` docker run -p 3000:3000 rhythmshandlya/clie

[2022-06-29 15:00] chance2021 commented on #5401
Double check if there is any networkpolicy has been set

[2022-06-29 15:01] longwuyuan commented on #8764
/remove-kind bug

Could be that there is no rule to match the path `ticket.com/static`. You have not posted info as per request template. Better discuss this in Kubernetes.slack.com as there are not many resources here.

You can  reopen after you have posted information as per issue-template
/close

[2022-06-29 15:01] #8764 closed

[2022-06-29 15:02] Serializator commented on #8748
Do you mean the number of intermediate certificates in the certificate chain?

@hoeg

[2022-06-29 17:39] ottoyiu commented on #6017
The lack of EndpointSlices implementation is unfortunately impacting production for us now. Since Kubernetes v1.22, Services that exceed 1000 Pods/network endpoints, Endpoints are now being truncated to a maximum of 1000 items.

[2022-06-29 19:46] marshally opened #8766 "proxy-stream-next-upstream-tries annotation not respected"
**What happened**:

I have tried to set the `proxy-stream-next-upstream-tries` annotation on an nginx ingress controller and have been unable to change this from the default value of "3".

Because our ingress controller set up is quite complicated, I extracted the minimum config required to duplicate the issue in minikube. Our actual setup is EKS using the NLB+ingress-nginx annotations.

#### set

[2022-06-29 23:20] gauravkghildiyal commented on #8469
@cbanek
Can you please share the exact command that you are using to make the request to the ingress and see the response headers?

[2022-06-30 00:38] rittneje commented on #7698
/remove-lifecycle stale

[2022-06-30 05:42] longwuyuan commented on #8766
- You could tail the logs of the controller and edit the ingress object to add the `ingress.spec.ingressClassName` field to make it relevant
- Beyond that, yes as mentioned in the comment above, its not a annotation
- Not related directly but super important here is that you don't do `kubectl expose deployment hello-node --type=LoadBalancer --port=8080` (don't do service type LoadBalancer) if you

[2022-06-30 05:47] longwuyuan commented on #8766
/remove-kind bug

[2022-06-30 11:19] hoeg commented on #8748
I think the comma-separated list makes sense. Would

[code]
be more template friendly? So using a newline as delimiter instead?

[2022-06-30 11:20] hoeg commented on #8748
Exactly

[2022-06-30 14:26] proseti commented on #4060
Did you solve this issue @maxh8086? What was the cause?

[2022-06-30 23:05] srikanth-karkala-kr commented on #7041
I'm facing the same issue, can you help me that where did you add API server IP address? if possible please share with screen shot

[2022-07-01 12:58] evan-underdog commented on #8599
Is making the `apiVersion` field configurable not an option?

[2022-07-02 03:51] wantdrink commented on #8718
Thank you Benjamin.
It's helpful. I can change the port from using sensitive 80. And hope in
the future the chart can disable listening on 80 entirely.

On Thu, Jun 23, 2022 at 8:57 PM Benjamin Auwärter ***@***.***>
wrote:

[2022-07-02 04:10] rittneje commented on #8094
/remove-lifecycle stale

[2022-07-02 21:55] #8374 closed

[2022-07-02 22:13] strongjz commented on #8761
Use a different path for each service

[code]

/close

[2022-07-02 22:13] #8761 closed

[2022-07-02 22:24] strongjz commented on #4760
/lifecycle frozen

[2022-07-02 22:27] strongjz commented on #8745
@fred214 what scanner are you using? and what version of ingress-nginx?

[2022-07-03 08:30] goafabric commented on #8690
experiencing the same issue here when using kubernetes 1.24 inside docker .. helm chart fails

[2022-07-03 10:50] #8187 closed

[2022-07-03 16:50] linyinli commented on #6335
It's easy to go wrong, and actually we should do this:
For the ingress nginx 1.2.1, change the controller image from
`k8s.gcr.io/ingress-nginx/controller:v1.2.1@sha256:5516d103a9c2ecc4f026efbd4b40662ce22dc1f824fb129ed121460aaa5c47f8`
to
`registry.aliyuncs.com/google_containers/nginx-ingress-controller:v1.2.1@sha256:5516d103a9c2ecc4f026efbd4b40662ce22dc1f824fb129ed121460aaa5c47f8`

and change the w

[2022-07-04 01:58] fred214 commented on #8745
Hi @strongjz ,we use the commercial scanner Protecode, the controller binary comes from `k8s.gcr.io/ingress-nginx/controller:v1.2.1`

[2022-07-04 02:00] VictorWangwz opened #8777 "setting externalIPs make node unreachable"
**What happened**:

I am using nginx ingress controller for our bare mental cluster. I am using load balancer type and I changed the externalIPs to be a list of existing nodes IPs. After I did the change, all those nodes are unreachable: those nodes could not access other nodes, and traceroute gives !H (unreachable), while other nodes could access it. And all master nodes are in the IP list so all

[2022-07-04 02:14] longwuyuan commented on #8777
/remove-kind bug
There is no documentation that recommends the kind of config you described.
Please ask in  Kubernetes.slack.com or ask the author of the tutorial you are mentioning.

If you use the ingress-nginx-controller as per recommended deployment docs here https://kubernetes.github.io/ingress-nginx/deploy/, and you discover a bug or a problem, then kindly post information as requested in th

[2022-07-04 02:14] #8777 closed

[2022-07-04 03:21] VictorWangwz opened #8779 "setting externalIPs make node unreachable"
What happened:
I am using nginx ingress controller for our bare mental cluster. I am using load balancer type and I changed the externalIPs to be a list of existing nodes IPs. After I did the change, all those nodes are unreachable: those nodes could not access other nodes, and traceroute gives !H (unreachable), while other nodes could access it. And all master nodes are in the IP list so all mast

[2022-07-04 04:48] longwuyuan commented on #8779
Duplicate of https://github.com/kubernetes/ingress-nginx/issues/8777

[2022-07-04 08:50] BrentonWatt opened #8780 "GRPCS and SSL Passthrough Ignored"
**What happened**:

I cannot get gRPC traffic to make it through the ingress-controller. I have two Kubernetes clusters and am attempting to setup cross-cluster communication using gRPC and I do not want the ingress controller terminating TLS traffic and according to the docs I can forward traffic to my pod and have it terminated there by using the following annotation on my ingress:

`nginx.ingre

[2022-07-04 08:52] xs233 commented on #8761
I know how to use a different path, but I want to use same path as I have described previously.

[2022-07-04 09:26] longwuyuan commented on #8780
/remove-kind bug

Please post the information that is requested in the issue template and re-open the issue.

/close

[2022-07-04 09:26] #8780 closed

[2022-07-04 12:54] Yelijah opened #8782 "My Ingress nginx metrics lost some metrics，for example nginx_ingress_controller_requests"
My Ingress nginx metrics lost some metrics，for example nginx_ingress_controller_requests。anyone can help me?

my helm chart version is 4.1.4, and ingress nginx controller version is 1.2.1.

here is my mrtics:
[code]

[2022-07-04 13:19] longwuyuan commented on #8782
/kind bug
/triage accepted

@Yelijah, can you prove/show that that metric was there before.

I wonder if the label has changed.

@ekovacs , Hi, do you have any thoughts on this. Simple search showed #8225  so asking

[2022-07-04 14:53] rotem925 commented on #8705
I would like exactly the same. Need to limit the connections to 1 per pod.

[2022-07-04 15:05] KingJ commented on #8166
I've seen this happen on a few clusters within the last few weeks - like others in this thread, we are using v4.0.17 of the Helm Chart to deploy v1.1.1 of the Ingress Controller. We've been running this version without issue for several months, but these issues seem to have only started once we upgraded to 1.22. However, i'm not sure this is related or just coincidental. The only coincidence that

[2022-07-04 15:51] Constantin07 commented on #2003
/remove-lifecycle stale

[2022-07-04 17:22] longwuyuan commented on #8166
@KingJ , thanks for the update.
Obviously the information you have posted is a progress. Appreciate it because it takes effort and commitment to get to that stage.

I don't have gdb commands as I am not a developer. But "normal" gdb (from google search) is what I would do if I got my hands on that core dump. If possible, please upload the core dump to this ticket.

Secondly, there are some gdb com

[2022-07-05 01:12] Yelijah commented on #8782
It never succeed。。。

[2022-07-05 01:16] Yelijah commented on #8782
my prometheus and ingress-nginx are in different namespace，is it a problem？
But I  use curl to get metics, such as: 'curl ingress-nginx-controller-metrics:10254/metrics', it lost 'nginx_ingress_controller_requests' as well

[2022-07-05 01:34] tooptoop4 commented on #8621
can someone post the answer here? slack blocked

[2022-07-05 02:32] runzexia opened #8783 "CVE-2022-2068 & CVE-2022-1292"
In chart v4.1.4
![image](https://user-images.githubusercontent.com/31230341/177237792-1bd857d8-ff44-49dc-9b17-ee1296859d16.png)

[2022-07-05 03:22] runzexia commented on #8749
scan with BDBA also have curl issue
![image](https://user-images.githubusercontent.com/31230341/177243246-17d7325a-ff52-4716-bf02-ea5e3c85bdee.png)

[2022-07-05 05:43] longwuyuan commented on #8783
Something needs clarification. Where is this version of openssl coming from ? We have version 1.1.1o but the report is showing v1.1.1n-ro

bash-5.1$ date
Tue Jul  5 05:41:06 UTC 2022
bash-5.1$ hostname
ingress-nginx-controller-7c54d79885-mlnx8
bash-5.1$ apk list -I | grep -i openssl
WARNING: Ignoring https://dl-cdn.alpinelinux.org/alpine/v3.14/main: No such file or directory
WARNING: Ignoring http

[2022-07-05 05:46] runzexia commented on #8783
<img width="765" alt="image" src="https://user-images.githubusercontent.com/31230341/177257841-da3f2446-7221-414d-8a72-195c2af0b649.png">
controller:v1.2.1

[2022-07-05 05:57] longwuyuan commented on #8783
Your report is neither accurate nor detailed.

I have shown you the version of libcrypto and also the version of openssl using the `apk` command from inside the container pod. That is real data I can rely on as it is coming from the OS. Your report is a GUI and it reports a version of libcrypto that I can not see in the OS.

So the information you are providing is not enough. Can you help and show

[2022-07-05 06:03] longwuyuan commented on #8782
@Yelijah , you should not see any metrics if reaching the /metrics endpoint was a problem.

The question here is if that label/metric was ever working in the first place. Maybe we need to try installing a older version of the controller before #8225. So I asked if you were seeing the metric before.

[2022-07-05 06:39] hoeg commented on #8748
We could also just have the secret names separated by spaces?

[code]

and

[code]

[2022-07-05 06:58] longwuyuan commented on #8748
Wonder how this plays into `k explain ingress.spec.tls`

[2022-07-05 07:43] Yelijah commented on #8782
@longwuyuan this metcis:nginx_ingress_controller_requests is used by grafana dashboard(https://github.com/kubernetes/ingress-nginx/blob/main/deploy/grafana/dashboards/nginx.json)

[2022-07-05 07:50] longwuyuan commented on #8782
That I know.

I asked hoping to establish if #8225 has changed anything related to that metric or if it was not available by that label, even before #8255. Maybe we should try to install a version of controller before #8225 and check.

@ekovacs please comment if/when possible.

[2022-07-05 08:13] ekovacs commented on #8782
hi
without #8225 the logs were flooded by error logs of: inconsistent label cardinality errors besides the fact that the metrics was not initialized/available.

 my pr was basically fixing an incomplete earlier pr (#8201) that introduced that bug (expecting 6 metrics if i recall correctly, but was not updated to provide all 6, but only the original 4ish i think, there was no test catching it at th

[2022-07-05 08:27] runzexia commented on #8783
Thanks for quick response, you command is same for me.
I double check the scan report, found there are two openssl that maybe some parent layer has this issue
![image](https://user-images.githubusercontent.com/31230341/177284691-cbdf7f76-aa1d-4056-8ddc-75879e2aa215.png)
[controllerv121-2022-07-05-082655.pdf](https://github.com/kubernetes/ingress-nginx/files/9044683/controllerv121-2022-07-05-082655

[2022-07-05 08:27] #8783 closed

[2022-07-05 10:48] longwuyuan commented on #8748
`ingress.spec.tls` is a upstream kubernetes ingress object field from K8S KEP.

I was curious about how there would be multiple secrets, in one single ingress object, in the annotation, and then that field of the upstream K8S ingress object, would dynamically get re-configured, to change state to one of the secrets from that list.

[2022-07-05 11:44] hoeg commented on #8748
It just dawned on me that you are referring to the server TLS secret 😅 How does that relate to the certificate used to validate the client certificate used for mTLS? I think I am missing something here since I do not see the connection. We are talking about changing the `nginx.ingress.kubernetes.io/auth-tls-secret` annotation.

[2022-07-05 11:52] longwuyuan commented on #8748
True. That was my misunderstanding to begin with. They are unrelated.

[2022-07-05 13:42] mecseid commented on #3629
/reopen

[2022-07-05 13:49] mecseid opened #8784 "Configure auto_reload option of geoip2 module"
### What do you want to happen?
Manage the auto reload feature of GeoIP2 module: https://github.com/leev/ngx_http_geoip2_module#autoreload-default-disabled

### Is there currently another issue associated with this?
https://github.com/kubernetes/ingress-nginx/issues/3629

### Does it require a particular kubernetes version?
No.

[2022-07-05 16:36] Yelijah commented on #8782
I change my chart to 4.0.16, ingress nginx controller to v1.1.1. But i stil lost some metrics as title says
Anyone has ideas? Here is my chart values:
[code]

[2022-07-05 16:40] sjoukedv commented on #6602
For me it works with

[code]

And

[code]

Nevertheless, you still have the issue that the ingress controller enables fastcgi for every path and you cannot serve static files anymore.

[2022-07-05 17:23] longwuyuan commented on #8782
I will wait for comments from @ekovacs

[2022-07-05 18:21] ekovacs commented on #8782
@longwuyuan let me take a deeper look at the current codebase. i'll report back ASAP.

[2022-07-05 21:19] sameer-m-dev opened #8785 "CORS"
**What happened**:

**What you expected to happen**:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the

[2022-07-05 21:34] sameer-m-dev opened #8786 "CORS Headers missing when using auth-url and auth-signin with Oauth2-Proxy"
**What happened**:
I have added the following annotations in my Ingress definition
[code]

with the host configured as api.xyz.com and the OIDC issuers being keycloak

On doing a curl to https://api.xyz.com/api/v1/onboard/getAssociatedOrganization here is the response I have gotten from NGINX which does not include any kind of CORS-specific headers
[code]

This is causing issues in the browser sin

[2022-07-05 21:36] #8785 closed

[2022-07-05 21:36] sameer-m-dev commented on #8785
Unwanted

[2022-07-06 02:20] Yelijah commented on #8782
@longwuyuan @ekovacs I'am afraid my charts value has some problem, because I change my chart to 4.0.16, ingress nginx controller to v1.1, it also lost. Can u check out my chart values avove . Thank u very much!

[2022-07-06 04:10] longwuyuan commented on #8786
/remove-kind bug

- Please post the information asked in the issue template
- Please post all other related information like
  - kubectl describe ing -A -o wide
  - kubectl get svc -A
  - kubectl -n <ingresscontrollernamespace> logs <ingresscontrollerpod>
  - Your entire and exact curl command and its response with -v to access the application for which auth is configured
  - Any other related inf

[2022-07-06 04:11] longwuyuan commented on #8785
/remove-kind bug

[2022-07-06 04:13] longwuyuan commented on #8166
/kind stabilization

[2022-07-06 04:14] longwuyuan commented on #8166
/area stabilization

[2022-07-06 04:15] longwuyuan commented on #8166
/project Stabilisation Project

[2022-07-06 04:17] jstangroome commented on #8589
[OpenResty 1.21.4.1](https://openresty.org/en/ann-1021004001.html), or technically [lua-nginx-module v0.10.21](https://github.com/openresty/lua-nginx-module/releases/tag/v0.10.21), introduced the [ssl_client_hello_by_lua_block](https://github.com/openresty/lua-nginx-module#ssl_client_hello_by_lua_block) directive which would permit different TLS protocols and ciphersuites to be specified based on

[2022-07-06 04:29] longwuyuan commented on #8589
@jstangroome interesting info. Shows openresty values.

@SpecialYang, just curious, are you requiring to set TLS v1.3 in some ingress objects and TLS 1.2/1.1 in others ?

[2022-07-06 06:35] Ryu-code opened #8787 "How to configure nginx native configuration on nginx ingress?"
Who can tell me to put the following nginx configuration into nginx ingress?

nginx.conf:
server {
...
    location / {
        proxy_pass http://upstream/aaa/bbb/;
    }
...
}

It is easy to implement the above configuration on native nginx,but i dont know how to do on nginx-ingress.
anyone know, please help me,3Q

[2022-07-06 07:50] TomHellier commented on #7372
I think I mostly moved away from doing this when a security issue came up with nginx templates (CVE-2021-25742).

I used the oauth2-proxy to provide authentication for resources exposed in my cluster, and they added the ability to pass 'allowed_groups=foo_group' with the authentication annotation.

[code]

I was previously using a configuration-snippet like:
[code]
https://github.com/oauth2-proxy/

[2022-07-06 11:58] strongjz commented on #8787
Use https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#stream-snippet

/close

[2022-07-06 11:58] #8787 closed

[2022-07-06 12:17] strongjz commented on #6178
/lifecycle frozen

@evredinka which specific ELB are you using? Classic, ALB, NLB

 How did you install nginx?

[2022-07-06 13:29] broomfn commented on #6100
How do you specify the default ingress to use when if the ingress yaml doesn't specify it as described here...https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#setting-a-default-ingressclass

Is this what defaultBackend.enabled does?

[2022-07-06 13:33] broomfn commented on #6100
I think I've found it, it's controller.ingressClassResource.default="class"

[2022-07-06 16:05] strongjz commented on #6178
I tested on a 2 node m5.large eks 1.22 cluster with an ALB, Classic, and NLB on ingress-nginx v1.2.1 with one controller.

I did not see any 5XXs on my testing. If you have any other input params for the testing please let me know. Tracking down .01 or .1 % issues can be difficult.

- What is the size of data being uploaded to the servers?
- Any other configuration options to test?

Image testing:

[2022-07-06 16:19] freddyesteban commented on #8440
/remove-lifecycle stale

[2022-07-06 16:46] ShawnBian opened #8790 "ingress nginx pod liveness and readiness status 500"
**ingress nginx pod liveness and readiness status 500**:

error message:

kubectl describe pods nginx-ingress-1657122468-controller-69668f8fd6-m69bv

                             node.kubernetes.io/unreachable:NoExecute op=Exists for 300s
Events:
  Type     Reason     Age                   From               Message
  ----     ------     ----                  ----               -------
  Normal

[2022-07-06 17:56] longwuyuan commented on #6178
@strongjz rocking :-)

[2022-07-06 18:09] longwuyuan commented on #8790
If you really are using v0.34.1, then its not going to be practically possible to solve this problem in its current state. That is too old a version and its not supported any more to boot. From the looks of the error message, you could check if there is a broken CNI or other networking problems. But the support is best-effort and literally no changes/fix are possible on that version of the control

[2022-07-06 18:09] longwuyuan commented on #8790
/close

[2022-07-06 18:09] #8790 closed

[2022-07-06 18:11] longwuyuan commented on #8782
/area stabilization

@strongjz this needs Project Stabilisation tag

[2022-07-06 18:16] longwuyuan commented on #8749
/area stabilization

@strongjz this also needs Project Stabilisation tag

@runzexia the next release should update curl and several other binaries

[2022-07-06 18:37] longwuyuan commented on #8749
/area security

[2022-07-06 19:26] ekovacs commented on #8782
@longwuyuan I'm on holiday now so i have some time to invest here :). I'll try to come up with a solution/fix.

[2022-07-06 19:34] thomaschaaf commented on #5883
Is this resolved with the latest merged PR #8719?

[2022-07-06 20:40] mblaschke commented on #7811
bump

[2022-07-06 22:03] Tobrek commented on #5883
No. At least PR #8735 is still missing, to get a working open telemetry solution (using the sidecar). And after merging #8735 there is no specific configuration of the used open telemetry nginx module possible -  enable or disable it at all. Maybe there will be am additional pull request to enable the detail configuration for the module.

[2022-07-06 23:43] longwuyuan commented on #8782
@ekovacs wow, that will be so helpful. Thanks. Look forward to it. I wonder where this broke.

[2022-07-07 01:43] Ryu-code commented on #8787
annotations/Stream snippet is a four tier configuration. I want a seven tier configuration

[2022-07-07 07:27] evredinka commented on #6178
@strongjz

We use classic ELB in AWS

ingress nginx is deployed as kubernetes deployment (I'll omit related service account and cluster role definition):
[code]

pod configuration:
[code]

Test scenario per our issues should involve imitating slow client request. Slow in this case means request time > timeout time. For example:
- ELB timeout is 60 sec
- Nginx timeout is 55 sec (less than ELB)
- Cl

[2022-07-07 14:03] schmidtk commented on #8786
@longwuyuan

I can confirm the reported behavior. The information provided below should reproduce the issue. We've seen it on multiple versions of the ingress controller, currently with 1.2.0.

Our nginx ingress controller has the following configuration, with URL's updated for privacy reasons:

[code]

With the above configuration, we're making a request to our service with a curl command like:

[2022-07-07 14:58] schmidtk commented on #8786
/reopen

[2022-07-07 14:59] schmidtk commented on #8786
Sorry, robot. Worth a shot.

[2022-07-07 15:40] strongjz commented on #6017
/priority backlog
/triage accepted
/project Stabilization Project

[2022-07-07 15:55] longwuyuan commented on #8786
/reopen

[2022-07-07 16:00] longwuyuan commented on #8786
@schmidtk I recall a PR where we narrowed the scope of what a valid origin ought to be.
@theunrealgeek , if you get a chance, please comment on this.

If you can search and find, it will be great but I hope I will I will search for that PR and check if its related to you using a random `allowed-origin` of your choice.

[2022-07-07 16:45] longwuyuan commented on #8782
ok. That is v v v helpful info @ekovacs . But when I tested, I did have a ingress with the host field having a fqdn value, and yet at least the metric `nginx_ingress_controller_requests` was missing. I will test again as per your latest update. But yeah, we need to get to the bottom of this.

[2022-07-07 17:19] longwuyuan commented on #8786
Oh, that is important insight.

Now need to get some dev time on it. Its hard as we are on freeze for features but this seems like a bug. Will update.

/area stabilization
/kind bug
/triage accepted

[2022-07-07 23:36] danthegoodman1 opened #8791 "Helm template with custom values does not create deployment"
When using the helm chart version:
[code]

Running `helm template nginx nginx-stable/nginx-ingress -f values.yml` where `values.yml` is the default values found https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml, does not generate a deployment manifest.

If run without the `-f values.yml` the deployment manifest is created.

What is wrong with the values that ca

[2022-07-07 23:39] danthegoodman1 commented on #8791
Found the bug, https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L194 should be `deployment` not `Deployment`.

Figured this out by doing a `helm show values nginx-stable/nginx-ingress` and saw the difference. Making PR

[2022-07-08 00:13] longwuyuan commented on #8791
The URL https://github.com/nginxinc/kubernetes-ingress  is not of this Project

/close

[2022-07-08 00:14] #8791 closed

[2022-07-08 00:16] longwuyuan commented on #8791
This comment copy/pasted below needs clarity ;

[code]

<img width="670" alt="Deployment" src="https://user-images.githubusercontent.com/5085914/177891631-b4ccc6d0-fb01-4612-ab92-103225890bba.png">

This screenshot shows upperCase "D"

[2022-07-08 00:22] longwuyuan commented on #8786
/priority important-longterm

[2022-07-08 02:30] Yelijah commented on #8782
@ekovacs u are right, we i  have a ingress with the host field, i can get all metrics including nginx_ingress_controller_requests, but how can i skip this limit, or how  can i get this metic in all hosts? because i can't limit  host...

[2022-07-08 04:19] Yelijah commented on #8782
@ekovacs @longwuyuan Thank you for your time, i add arg metrics-per-host=false, then it fixed!

[2022-07-08 05:16] longwuyuan commented on #8782
Can you copy/paste that flag and also your curl. I still can not see it ;
[code]

[2022-07-08 07:59] lou-lan commented on #8734
+1, https://github.com/kubernetes-sigs/krew-index/blob/master/plugins/ingress-nginx.yaml krew index store used old version of ingress-nginx

[2022-07-08 11:29] Yelijah commented on #8782
**Here is my args but they seem to have nothing different from yours.**
  - args:
    - /nginx-ingress-controller
    - --publish-service=$(POD_NAMESPACE)/ingress-nginx-controller
    - --election-id=ingress-controller-leader
    - --controller-class=k8s.io/ingress-nginx
    - --ingress-class=nginx
    - --configmap=$(POD_NAMESPACE)/ingress-nginx-controller
    - --metrics-per-host=false

**my cur

[2022-07-08 11:43] longwuyuan commented on #8782
ok, I see it now.

I think we should document this because it will be hard for others to find. We should add this in the monitoring docs.

[2022-07-08 11:44] Yelijah commented on #8782
Thank you for your time again!

[2022-07-08 11:44] #8782 closed

[2022-07-08 14:15] longwuyuan opened #8794 "Document the flag --metrics-per-host, for the controller"
- This flag is not documented `--metrics-per-host`
- The details are available by reading https://github.com/kubernetes/ingress-nginx/issues/8782
- We need to document the behaviour of this flag in a way that its easily known
- Maybe we can put it here https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/ but open to discussion and opinions

/area docs
/kind documentation
/remove-kind

[2022-07-08 16:46] marcindulak commented on #8433
I believe this is the issue mentioned as "closed" https://github.com/kubernetes/ingress-nginx/issues/6028

[2022-07-08 16:49] chetak123 commented on #8794
/assign @chetak123

[2022-07-08 23:33] philnichol commented on #6030
hope you don't mind, I went ahead and raised a PR that should address this.

[2022-07-08 23:38] philnichol commented on #6030
/assign

[2022-07-09 00:28] longwuyuan commented on #6030
The project has decided to work on stabilization so new features are frozen for a period of 6 months. Please check the announcement made earlier.

[2022-07-09 01:37] tacerus commented on #1947
Hi, have you ever figured this out?

[2022-07-09 06:08] tao12345666333 commented on #8743
As @longwuyuan  said, I also don't see why we need this adjustment.

I suggest you can check the configuration of your environment in detail

[2022-07-09 06:31] tao12345666333 commented on #8746
yes.

So this is expected behavior.  I think we can close it

[2022-07-09 06:40] #8228 closed

[2022-07-09 11:05] longwuyuan commented on #8746
/close

[2022-07-09 11:05] #8746 closed

[2022-07-09 11:06] longwuyuan commented on #8779
/close

[2022-07-09 11:06] #8779 closed

[2022-07-09 11:15] longwuyuan commented on #8749
using alpine v3.16 is fixing curl & openssl but not libxml

[2022-07-09 12:37] #8091 closed

[2022-07-09 15:20] harry1064 commented on #8644
Hi @strongjz
I have gone through this issue. according to the nginx [documentation](http://nginx.org/en/docs/http/ngx_http_core_module.html#location) quoting here

but the $request_uri will still be the same as requested by the client.
As we are updating those two headers `X-Original-Url` and `X-Auth-Request-Redirect`, Should we add documentation regarding these field being updated in our docs ? A

[2022-07-09 15:20] harry1064 commented on #8644
/assign

[2022-07-10 07:07] harry1064 commented on #8786
Hi @longwuyuan
Checked the generated nginx.conf and found the location block generated for redirect of auth-sign URL
[code]
Inside this block even the CORS header set in parent request are not retained. Should we also add template which generate code to add headers related to CORS also inside the above block generation in `nginx.tmpl`?

[2022-07-10 08:29] longwuyuan commented on #8786
@harry1064 , I don't know yet.

You have the option to ;
- fork the project
- create a branch in your fork with this issue number as name of branch
- add your proposed new template to the branch
- Use this https://kubernetes.github.io/ingress-nginx/developer-guide/getting-started/#local-build to run your own image
- Create the ingress and add annotations as needed
- Check and verify results
- Upda

[2022-07-10 08:50] longwuyuan opened #8797 "make dev-env is broken"
- `make build image` and `make dev-env` broken https://kubernetes.github.io/ingress-nginx/developer-guide/getting-started/#local-build
-
% make clean && make dev-env
[dev-env] building image
..printing env & other vars to stdout
HOSTNAME=mypc
Darwin mypc 21.5.0 Darwin Kernel Version 21.5.0: Tue Apr 26 21:08:22 PDT 2022; root:xnu-8020.121.3~4/RELEASE_X86_64 x86_64
TAG=1.0.0-dev
TERM_PROGRAM=tmux
CO

[2022-07-10 09:54] #8007 closed

[2022-07-10 16:17] longwuyuan commented on #8797
Its because of this https://stackoverflow.com/questions/71849415/i-cannot-add-the-parent-directory-to-safe-directory-in-git

setting safe directory gets past that error.

Wonder what version of git do others have for whom this error is not happening.

[2022-07-10 16:47] longwuyuan commented on #8797
https://kubernetes.slack.com/archives/C021E147ZA4/p1657471130233799

[2022-07-10 16:48] longwuyuan commented on #8797
Second problem is a variable called $MAC_OS that is passing the flag "--load" . I have to blank the variable to make build work

[2022-07-10 16:50] tao12345666333 commented on #8797
https://git-scm.com/docs/git-config/2.37.0#Documentation/git-config.txt-safedirectory this one?

[2022-07-10 16:52] longwuyuan commented on #8797
Yes, because this is the error ;
[code]

And I just now added that to build.sh in my branch + blanked the variable $MAC_OS and I was able to build successfully

[2022-07-10 16:54] tao12345666333 commented on #8797
I think the configuration is user specific.
You can directly execute it locally
without adding it to the script

[2022-07-10 16:57] longwuyuan commented on #8797
I think I should be clear that that build happens in DIND, if I do `make dev-env`. So I can set safe dir locally if I attempt a hardcore build locally. That makes sense. But if I do `make dev-env` or `make build image` , it does not happen on native hardware os (MacOS in my case)  but the build happens in a container inside VM with DIND.

[2022-07-10 17:01] #8193 closed

[2022-07-10 21:07] rikatz commented on #8680
weird, so newer kernel works and old none. Can we assume this is a missing feature in cri-o capability that deals with chroot? I will try to investigate a bit more :)

[2022-07-10 21:15] rikatz commented on #8680
@flarno11 @spaced seems like an issue with cri-o version. We tested with containerd (our tests run with KinD that uses containerd).

@aojea has put some gist on how to run KinD with cri-o (https://gist.github.com/aojea/bd1fb766302779b77b8f68fa0a81c0f2), I can try running the tests and checking here, but I would ask:

* as per RHEL version, can you raise a ticket there asking if there is a patch fo

[2022-07-10 21:15] rikatz commented on #8680
/triage needs-more-information

[2022-07-10 21:21] rikatz commented on #8725
hum, is this something specific from EKS?
I'm not a huge fan of adding SYS_ADMIN but I also don't have an env to test on EKS :)

[2022-07-10 21:25] rikatz commented on #8722
[code]

Maybe we can try removing this module from this e2e test, let me see why is this used here

[2022-07-10 21:37] rikatz commented on #8722
/retitle Replace httpexpect module to something internal or maintained

[2022-07-10 21:56] rikatz commented on #8496
Latest version is using go 1.18 :)

/close

[2022-07-10 21:57] #8496 closed

[2022-07-10 22:08] strongjz commented on #8797
The MAC_OS var should have fixed this issue with the docker -u and -g.

[2022-07-10 22:09] strongjz commented on #8797
Run in docker script should stripped the -u and -g https://github.com/kubernetes/ingress-nginx/blob/main/build/run-in-docker.sh#L69

[2022-07-10 22:18] rikatz opened #8799 "Update NGINX and OpenResty to v1.21.4"
As part of the stabilization process, let's update NGINX and Openresty to v1.21.4

/triage accepted
/priority critical-urgent
/area stabilization

[2022-07-10 22:18] rikatz commented on #8799
/project stabilization

[2022-07-11 00:11] rikatz commented on #8797
Problem is that when this is called from outside.

We have to initialize this var because of set -o nonunset

I've added this in v1.24 test PR

[2022-07-11 00:17] rikatz commented on #8797
nah, this one is another error. Anyway I've fixed the unbound MACOS error ;)

[2022-07-11 00:21] tao12345666333 commented on #8799
let me check it

[2022-07-11 00:44] tao12345666333 commented on #8799
/assign

[2022-07-11 02:02] longwuyuan commented on #8797
I have limited understanding of this.

But my experience is that I had a perfectly working environment to run `make dev-env` and `make build image`. Now that is broken due to 2 reasons mentioned below.

(1) Since git version 2.35.2 there is a fix in git that requires use of safe.directory. My guess is that my environment was on older versions of git earlier. And now got got updated and the error i

[2022-07-11 03:03] longwuyuan opened #8800 "update kubectl in test-runner to v1.23 or v1.24"
**What happened**:
- Currently the test-runner has kubectl v1.21
- We are building releasing for v1.24 and soon v1.25 also so need to update/upgrade kubectl in test-runner to v1.24

**Environment**:
- CI pipeline of project

/area stabilization
/assign

[2022-07-11 03:34] longwuyuan commented on #8680
ah ok, I did not observer that its on cli-o.

[2022-07-11 04:10] tao12345666333 opened #8801 "Release v1.3.0"
Full diff

https://github.com/kubernetes/ingress-nginx/compare/controller-v1.2.1...main

[2022-07-11 06:31] hoeg commented on #8748
Is this something that we can make a PR for? 🚀

[2022-07-11 06:32] longwuyuan commented on #8797
/area stabilization

[2022-07-11 06:43] longwuyuan commented on #8748
@hoeg since this change will be a new feature, the project folks will review if the PR is for stabilization & performance. The project announced about going into feature-freeze for 6 months because it has become hard to maintain. Please do submit PR as that is added info for decision making. But you may have to wait as developer time is scarce.

I do see that if you have multiple users with unique

[2022-07-11 07:06] hoeg commented on #8748
Makes sense. I appreciate the transparency and it totally makes sense that this might take time to get merged 👍

[2022-07-11 09:20] aeimer commented on #5576
/remove-lifecycle stale

[2022-07-11 09:29] tim-hanssen commented on #3844
/reopen

[2022-07-11 09:50] tao12345666333 commented on #8801
I will dig into it

[2022-07-11 12:23] tao12345666333 commented on #7442
/remove-lifecycle stale
/assign

[2022-07-11 13:37] Serializator commented on #8748
@hoeg, are you working on this? If not I would like to give this a go and create a pull request for it.

[2022-07-11 13:54] thomaschaaf commented on #8760
@aledbf can you check if your fix might have been the wrong way around?

[2022-07-11 16:06] Volatus commented on #7627
/assign

[2022-07-12 02:40] harry1064 commented on #8786
/assign

[2022-07-12 02:52] longwuyuan commented on #8786
@harry1064 , before you conclude that a new template is enough, kindly help out and test for security by using random origin. There was a PR merged to not allow random origins. In fact it checked for more. Can't recall the PR number now but regardless, it will be important to figure out if generating headers allows for random origin or not.

[2022-07-12 03:04] harry1064 commented on #8786
@longwuyuan Yes sure. I will try find the PR and check it.

[2022-07-12 03:15] harry1064 commented on #8786
@longwuyuan Is this the PR you were talking about?

[2022-07-12 04:04] longwuyuan commented on #8786
Yes. And if I recall correctly there is one more by another author. Point
being some work was done to secure CORS so need to check if that is causing
missing headers. Normally, all headers are expected to pass through and be
visible on packet inspection.

Thanks,
; Long

On Tue, 12 Jul, 2022, 8:45 AM Harpreet singh, ***@***.***>
wrote:

[2022-07-12 06:18] uqix commented on #3941
Same situation here, had to create a separate ingress for http.

[2022-07-12 06:55] durga121 commented on #6269
Any update on this issue?

[2022-07-12 06:57] durga121 commented on #6269
When i follow this, the last specification is working.

[2022-07-12 09:51] thmanders opened #8813 "optional_no_ca without ca secret impossible to configure"
**What happened**:

Hello, I was using Nginx in a docker in the past and I had the mtls configuration

  ssl_verify_client optional_no_ca;
  ssl_verify_depth 5;

Now I migrated to the ingress gateway and it is not possible to get this configuration without the line

ssl_client_certificate                  /etc/ingress-controller/ssl/ca-axway-ssl-client-certificate.pem;

This causes problem with so

[2022-07-12 10:10] MattJeanes commented on #6381
I believe this is still a valuable addition to the chart

/remove-lifecycle stale

[2022-07-12 12:14] harry1064 commented on #8786
Hi @longwuyuan

being some work was done to secure CORS so need to check if that is causing
missing headers.

I have checked the implementation. It is not causing any issue. It is working as it should be.
As you can see in following lines
https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/template/nginx.tmpl#L1172-L1173
we need to add header again `add_header Set-Cookie $auth_c

[2022-07-12 13:14] longwuyuan commented on #8414
/close

Issue seems resolved as per above comments

[2022-07-12 13:14] #8414 closed

[2022-07-12 14:06] ali-alhajj98 opened #8816 "error retrieving k8s version: Get "https://10.96.0.1:443/version": dial tcp 10.96.0.1:443: i/o timeout"
I already installed flannel in my on-premise k8s cluster and it's working fine with neat logs. Right now am installing ingress-nginx using helm and i faced below error from the logs of the pod:

error retrieving k8s version: Get "https://10.96.0.1:443/version": dial tcp 10.96.0.1:443: i/o timeout

when issuing curl command to https://10.96.0.1:443/version from one of the nodes servers am getting b

[2022-07-12 16:08] inge4pres opened #8818 "Admission Webhook warns about faulty config, but does not block patching the configMap"
**What happened**:
Sending a `patch` with a faulty configuration in the `ingress-nginx-controller` configMap resulted in a Deployment being upgraded, despite the `[emerg]` message from the tested config.

**What you expected to happen**:
The patch request should've been stopped by `ValidatingAdmissionWebhook`.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controlle

[2022-07-12 17:48] #8816 closed

[2022-07-12 17:55] longwuyuan commented on #8818
Lets wait for other comments, but I would think that configMap is not part of the ingress api so would the admissionWebhook validate configmaps. Or is it expected to. And usually faulty values yaml changes are addressed with a `helm upgrade` execution with the corrected values.yaml (my opinion)

/remove-kind bug

[2022-07-12 18:07] longwuyuan commented on #8794
@chetak123 kindly update status on this. If you have questions, please ask in the ingress-nginx-dev channel on slack.

In case you are not working on this, kindly unassign yourself, so someone else can pick it up. Thank you for your time.

[2022-07-13 01:39] Ryu-code commented on #8787
i' dont know how to config nginx's conf to native ingress-nginx'conf

[2022-07-13 02:33] rikatz commented on #8801
/close

[2022-07-13 02:33] #8801 closed

[2022-07-13 02:34] rikatz opened #8819 "Migrate ginkgo to v2"
Ginkgo v1 is deprecated. We should migrate to v2

/area stabilization
/triage accepted
/priority important-soon

[2022-07-13 02:40] tao12345666333 commented on #8819
FYI: https://onsi.github.io/ginkgo/MIGRATING_TO_V2

[2022-07-13 02:46] tao12345666333 commented on #7929
OK, add this to my list.
(I missed the notification earlier

[2022-07-13 07:10] Why1092164058 commented on #5932
怎么搞，没找到问题点啊，没找到答案啊

[2022-07-13 07:11] Why1092164058 commented on #5932
我没成功欸

[2022-07-13 07:56] inge4pres commented on #8818
good day @longwuyuan 😄  thanks for the reply, I had a similar memory of the webhook not working on the configMap, but I was suggested in Slack to raise an issue anyway 🤷🏼
it would be nice though if those changes could be intercepted by the webhook as well: I think it would be possible in theory to extend the webhook to check also a specific configMap?

[2022-07-13 08:56] longwuyuan commented on #8818
hello @inge4pres , the project has become difficult to maintain because developers are not available to support all the features. There was a announcement 2 weeks ago to freeze-feature development and focus on stabilization and bug fixing. So this feature can be looked at after 6 months. Sorry since its not expected result but there is a survey out to ask what users want and expect. You can respon

[2022-07-13 11:46] ap-vishal commented on #8373
Also want to use ALB instead of NLB because there is no support for AWS WAF for NLB, only ALB is supported.

[2022-07-13 16:05] strongjz commented on #7212
/close

going to be working on as part of the release updates https://github.com/kubernetes/ingress-nginx/issues/8734

[2022-07-13 16:05] #7212 closed

[2022-07-13 16:06] #8655 closed

[2022-07-13 19:59] leonelvargas opened #8822 "Nginx Plus ingress controller - Service Account configuration with eksctl"
Hello I am currently trying to install the Nginx ingress controller with the Nginx plus image, purchased from AWS marketplace. I associated the Iam policy "AWSMarketplaceMeteringRegisterUsage" to a serviceAccount "nginx-ingress-controller".
But when I want to deploy the controller with Helm, I get the following error.
![nginx-1](https://user-images.githubusercontent.com/63625333/178816046-a3ff9861

[2022-07-13 20:51] longwuyuan commented on #8822
Software reported is Not related to this project

/close

[2022-07-13 20:52] #8822 closed

[2022-07-14 03:46] longwuyuan commented on #8794
@harry1064  any interest to take this up

[2022-07-14 04:29] adammw commented on #8016
There will continue to be other CVEs apart from the ones that can be easily patched/backported, would be good to get some consensus around supporting later nginx versions and what the blockers are.

[2022-07-14 04:31] longwuyuan commented on #8016
https://github.com/kubernetes/ingress-nginx/issues/8799

[2022-07-14 05:47] harry1064 commented on #8794
@longwuyuan  Yes, sure. I will take a look in to it.

[2022-07-14 08:29] hoeg commented on #8748
@Serializator Have not started yet. Would very much appreciate it if you gave it a go 🙏

[2022-07-14 09:43] carvido1 commented on #8499
Hello @PhilipSchmid . We have tried the non chroot version and this one works with the property `controller.image.allowPrivilegeEscalation=false`.
We use:
* K8S v1.22.6
* ingress-nginx helm chart v4.1.4 non chroot image
* AKS with standard LB
Hope this help some people to remediate the issue.

[2022-07-14 10:18] luigizhou commented on #8473
I don't expect a NAMESPACED configuration to affect the default GLOBAL behaviour of Nginx.
This should be flagged as a bug or there should be an explanation as to why this is intended behaviour.

[2022-07-14 10:45] harry1064 commented on #8794
Hi @longwuyuan
I just found that on the doc https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/#wildcard-ingresses
we already have this documented.
![Screenshot 2022-07-14 at 6 40 40 PM](https://user-images.githubusercontent.com/6297435/178964834-7f361a63-6561-4456-a160-8dc5bac814b5.png)

May be we can have the title more intuitive but the description part is clearly explaining the f

[2022-07-14 10:48] longwuyuan commented on #8794
ah ok. I did not even know that.
Thanks tons @harry1064
/close

[2022-07-14 11:13] tomasAlabes commented on #8520
@rikatz could you confirm if the latest release 1.3.0 / 4.2.0 contain these fixes? I couldn't find any CVE reference in the release notes.

[2022-07-14 12:45] #7848 closed

[2022-07-14 13:41] harry1064 commented on #8722
Hi @rikatz @strongjz
I have just checked in the code base that we are using httpexpect in `framework.go` and few other files. other E2E tests rely on this module too as we are using http client from this.

It will be a big effort to replace this module, right?

[2022-07-14 14:16] longwuyuan commented on #8690
The project released v1.3.0 of the controller with support for K8S v1.24.X .
Please check and update

/remove-kind bug

[2022-07-14 14:23] Volatus commented on #8166
@KingJ Could you provide me with the core file so I could look into debugging this? You can also reach me directly on the [Kubernetes Slack](kubernetes.slack.com) @Ismayil

[2022-07-14 16:17] ericdstein opened #8823 "Catch-all `server_name _` block of `/etc/nginx/nginx.conf` is being set to the upstream of the last ingress processed"
**What happened**:

Ingress variables and `$proxy_upstream_name` for catch-all `server_name _` block of `/etc/nginx/nginx.conf` are set from the upstream of the last ingress processed with a default backend defined in the ingress spec. This causes requests to any URL paths or hosts that the Ingress-NGINX controller doesn't understand to be sent to this upstream instead of a [global catch-all defau

[2022-07-14 17:23] longwuyuan commented on #8823
@harry1064 or @volatus, this may interest you

[2022-07-15 02:30] longwuyuan commented on #8705
Its not per pod but I wonder if this one https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#max-worker-connections. or this one https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#http2-max-requests  is related

[2022-07-15 05:03] harry1064 commented on #8823
@longwuyuan
I will take a look
/assign

[2022-07-15 07:11] ericdstein commented on #8823
I believe https://github.com/kubernetes/ingress-nginx/issues/8473 is same issue.

[2022-07-15 08:06] longwuyuan opened #8824 "Stop generating manifests for different K8S versions"
- https://github.com/kubernetes/ingress-nginx/pull/8162 had some attention on pre K8S v1.19 use-cases
- Part of the above PR was to start generating static yaml manifests for different versions of K8S
- Above change was a overkill and complication we did not need but select couple of users wanted
- Now we have stopped support for K8S v1.19
- So now its better to simplify, cleanup and stop the comp

[2022-07-15 08:08] longwuyuan commented on #8824
@Volatus , if this interests you, I can give provide any other info you need

[2022-07-15 08:13] longwuyuan commented on #8823
@harry1064 are you kubernetes slack in the ingress-nginx-dev channel. If yes, can you ping me there please. Thanks

[2022-07-15 09:57] goafabric commented on #8690
Sadly doesn't work for me:
- latest docker dekstop on Apple Silicon M1 with Kubernetes 1.24.1
- latest helm chat 4.20

Stil the same problem, helm charts hangs forever trying to install .. i will attach the logs though i can see nothing special in there.

Or is there something more we need to do ? Because the Changelog mentions something about special access rights.
Without telling what to do ...

[2022-07-15 10:05] harry1064 commented on #8823
@longwuyuan Yes, sure.

[2022-07-15 16:37] tao12345666333 commented on #8690
let me take a look

[2022-07-15 19:57] #8242 closed

[2022-07-16 08:58] #8245 closed

[2022-07-16 09:02] JavadHosseini commented on #5932
I handled it by renaming ingress-nginx-admission-token-xxxxxx secret to ingress-nginx-admission and then delete controller pod to recreate it.

[2022-07-16 09:59] #8093 closed

[2022-07-16 12:59] Paradoxis commented on #1316
This issue should really be revisited, writing down IP's without comments gets really hard to keep track of and could lead to security issues. Would it not be possible to just support both?

If YAML validation is the issue, it might be possible to just add a second annotation (eg: `nginx.ingress.kubernetes.io/whitelist-source-ranges` (note the additional s)) and concatenate them both to a single s

[2022-07-16 21:09] #7784 closed

[2022-07-16 21:09] #8156 closed

[2022-07-17 16:24] iusergii commented on #8760
@HsinHeng  thank you for the details. I'm raising that as I'm following the recommendation for keep_alive timeout ( 300s ) and periodically getting the connection timeouts since we migrated to NLB.
It seems the сonneciton flow has a bunch of moving parts:

- NLB (350s)
- Linux tcp_keep_alive (2h)
- kube-proxy/IPVS timeouts (900s)
- nginx

There is also an NLB limitation in case we have an "interna

[2022-07-17 18:32] Serializator commented on #8748
/assign

[2022-07-17 21:21] rittneje commented on #6287
/remove-lifecycle stale

[2022-07-17 22:09] Volatus opened #8828 "`hack/generate-deploy-scripts.sh` fails due to pathing issues"
This issue concerns development.

**What happened**:
Running `hack/generate-deploy-scripts.sh` fails with the following error.
[code]
**What you expected to happen**:
To not error out?

The scripts seem to be reading some wrong paths?

**How to reproduce this issue**:
Run the script?

[2022-07-17 22:10] Volatus commented on #8828
@longwuyuan related to #8824?

[2022-07-18 02:38] longwuyuan commented on #8828
I don't think so. I think there is a dependency on a python library
somwhete in that script and the name of the library required is not
ficumented in release.md. I will check and get back to you.

Thanks,
; Long

On Mon, 18 Jul, 2022, 3:40 AM Ismayil Mirzali, ***@***.***>
wrote:

[2022-07-18 03:45] 13567436138 commented on #3996
I face the same problem，how to solve？

[2022-07-18 05:23] tao12345666333 commented on #8828
Hi @Volatus I would like to know what is your OS?

The problem is essentially due to the fact that the sed used under Linux is GNU sed
And sed used under macOS is BSD sed.

The parameters and behavior of the two are not exactly the same.

https://github.com/kubernetes/ingress-nginx/blob/1ebb68983d4a7c6e35d103ce4ce50d0cb1c45f3d/hack/generate-deploy-scripts.sh#L58-L59

when we using GUN sed, we don'

[2022-07-18 05:27] Volatus commented on #8828
Well I have GNU sed earlier in my `$PATH`. `which sed` also points to my installation of GNU sed among the Brew packages. I'll triple check though.

[2022-07-18 06:41] riker09 commented on #1947
@tacerus If that question was directed at me then I have to disappoint you. I have abandoned this ingress a long time ago.

[2022-07-18 07:16] arpitaga21 opened #8831 "Getting continuous 404s for nginx controller which loads many ingresses."
**What happened**:

Nginx ingress controller pod is not able to serve all the routes and gives 404s. This is happening because one of the starting backend reload( because of many ingresses the backend reloads again and again) fails and the pod persists to throw 404s until explicitly the pod is reloaded using ```nginx -s reload```.

Error in the logs
[code]
Other info:
nginx.conf file is 15mb and 5

[2022-07-18 07:25] arpitaga21 commented on #8831
@aledbf This might be familiar to you

[2022-07-18 07:34] tao12345666333 commented on #8819
/reopen

[2022-07-18 08:13] qianlei360 commented on #6988
recurrent in v1.1.0
![image](https://user-images.githubusercontent.com/89175692/179470426-4a237a24-b831-4eff-a8b1-654500be75c4.png)

[2022-07-18 08:22] 87abhii commented on #7850
Any update on the issue

[2022-07-18 08:25] tacerus commented on #1947
I suppose it was, but my setup has since magically started to work fine!
Thank you for the reply!

[2022-07-18 12:32] NissesSenap opened #8839 "multiple ingress-nginx controllers chroot failed bind internal syslog"
**What happened**:

I'm running two controllers on my EKS cluster running on calico CNI (this forces me to overwrite a number of ports due to how the AWS CNI works in `hostNetwork: true`).
When running in the chroot mode I'm unable to start all my pods, my guess is that a port or something similar gets occupied when running one public and one private controller on the same node.

When running ingr

[2022-07-18 12:33] NissesSenap commented on #8839
I also saved the log from when i run the controller with chroot but in v1.2.1.
But it's more or less the same output but with the stack as well.

[code]

[2022-07-18 13:33] rikatz commented on #8839
Hey, just figured out. Can you try using the flag to configure right addressing?

https://github.com/kubernetes/ingress-nginx/blob/main/cmd/nginx/flags.go#L198

Because you are binding to hostNetwork, it will try to bind this port also on hostNetwork.

Also be aware that as soon as you are binding to hostNetwork this port will be exposed in your host and someone can push rogue messages to the logg

[2022-07-18 14:40] NissesSenap commented on #8839
Ahh just as I thought there was some flag to define some address.
Thanks allot for the quick response @rikatz!

I guess this possibility already exist when I don't run in chroot mode or isn't it public then?
I think I will have time to test this out tomorrow, if It works I will create a PR to make this available to the helm chart.

Trust me I don't want to run hostNetwork but the AWS CNI don't giv

[2022-07-18 17:08] rikatz commented on #8722
/assign @knabben

[2022-07-18 17:08] rikatz commented on #8722
Amim told me he will work on this :)

[2022-07-18 20:36] OmarHawk commented on #8195
/remove-lifecycle stale

[2022-07-19 01:42] tao12345666333 commented on #8799
I'm working on this 😄

[2022-07-19 01:47] Woovie commented on #5282
I am going to leave a comment here as this appeared high in Google results and I missed something that doesn't seem all that obvious or well documented.

Ensure your secret is in the same namespace as the actual Ingress, not the controller pod.

[2022-07-19 06:58] stefanandres commented on #5282
This is what is written in my first sentence :)

[2022-07-19 12:09] pparthesh commented on #6758
Deploy ingress-nginx pods on different kubernetes nodegroup.

[2022-07-19 14:33] #8246 closed

[2022-07-19 16:57] longwuyuan commented on #8839
/triage accepted

[2022-07-19 23:55] evanrich opened #8842 "under any kind of usage, controller success rate drops < 100%"
**What happened**:

I'm not sure if this is a bug or not, but with ingress-nginx deployed, any time I hit a service behind it, the success rate drops below 100%.  This is under extremely MILD usage as well, see screenshot:
![image](https://user-images.githubusercontent.com/518320/179866233-c78d8a91-e68d-4210-9fa0-1d9a500b64fc.png)

If you look at the non 4xx/5xx (so 200's) graph, it drops as low a

[2022-07-20 02:23] #8842 closed

[2022-07-20 02:23] evanrich commented on #8842
nvm

[2022-07-20 04:00] DataMinded commented on #8520
@rikatz @tomasAlabes
The new 4.2.0 definitly looks better, but there is a new [CVE-2022-30065](https://nvd.nist.gov/vuln/detail/CVE-2022-30065) in there.

In short : busybox (used in ssl_client, busybox) version 1.35.0-r14 has 1 vulnerability,
bumping to  busybox 1.35.0-r15 should fix the problem.

Who should we notify for a new build ?
Would be nice to see a perfect vulnerabilities score in prism

[2022-07-20 06:10] tao12345666333 commented on #8520
@DataMinded Which version of Alpine Linux contains this fix?

[2022-07-20 06:52] lapwingcloud opened #8843 "grpc authority pseudo header is set to upstream_balancer when service-upstream is true"
**What happened**:

I configured a grpc ingress like this

[code]

I also did instio inject into the ingress nginx , config

[code]

when I make a grpc ingress from local to the grpc ingress

[code]

I found that in the istio sidecar logs

[code]

the authority is `upstream_balancer`, and it causes the request to be `PassthroughCluster` instead of routed inside service mesh

this is the correspond

[2022-07-20 07:13] souravsekhar opened #8844 "error retrieving resource lock ingress-nginx/ingress-controller-leader: Unauthorized"
**What happened**:

I am seeing below intermittent errors in the nginx-controller pod logs running on AWS EKS version 1.21

7 [leaderelection.go:325] error retrieving resource lock ingress-nginx/ingress-controller-leader: Unauthorized

**What you expected to happen**:

The pods should not throw any errors

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --v

[2022-07-20 08:25] jchenship commented on #8843
created a repository to reproduce the issue https://github.com/jchenship/yages/tree/jchen-reproduce-nginx-grpc-authority