[2020-06-15 22:46] WilliamABradley opened #5721 "Custom Resource Definition or Annotation for TCP Services and UDP Services"
It would be nice to be able to define and expose TCP Services and UDP Services as a Custom Resource Definition. This is especially useful in situations like Terraform, where it is difficult to manage multiple TCP Services across multiple namespaces.

After patching these to expose an External Port, it is very difficult to do inside Terraform, and would have to be scripted instead. This process is

[2020-06-15 23:31] aledbf commented on #5721
@WilliamABradley thank you for the suggestion but I don't think this should be implemented.
Reasons:
- TCP/UDP support in ingress-nginx was added only as a last resort in bare-metal
- There is no official support for TCP/UDP in k8s Ingress
- The Ingress evolution has plans to add support https://github.com/kubernetes-sigs/service-apis
- The CRD approach requires permissions to create k8s objects (

[2020-06-16 00:07] WilliamABradley commented on #5721
@aledbf Can you link me the part that discusses TCP support for Ingress in the future? I can't find it.

TCP support is valuable outside of bare-metal environments, such as exposing a Database, or other TCP Service, which might be used in production, e.g. Some game server, or for debugging or test environments to be able to view the Database.

This would provide a helpful workaround for before off

[2020-06-16 00:10] aledbf commented on #5721
Still a PR https://github.com/kubernetes-sigs/service-apis/pull/186

[2020-06-16 00:14] aledbf commented on #5721
The use of a configmap is on purpose, to keep these features simple as possible and avoid to deal with things like conflict resolution or overlaps in port definitions. I am aware of the downside you point out in the initial description of the issue.

[2020-06-16 00:18] aledbf commented on #5721
One of the reasons why I always reject requests to add more things to the TCP/UDP feature is related to the NGINX reloads that we cannot avoid when the nginx.conf file changes. Not only for tcp/udp but because also breaks long-running HTTP requests.

[2020-06-16 06:56] PaulCharlton opened #5723 "PATCH method dies with `enable-modsecurity: "true"` default configuration"
Summary Observations:
PATCH method with JSON request body sent to ingress receives no response bytes on connection and connection is left open.

Connection is closed only when NGINX ingress is bounced due to server reload (on change of ConfigMap, pod deletion ... etc)

when Debug logging is enabled with
`SecDebugLog /dev/stdout`
`SecDebugLogLevel 4`

the debug log shows that phase 1 of the Modsecu

[2020-06-16 12:52] andreicojocaru commented on #5654
Ok, I got some time to work more on this issue and I managed to solve it at my end.

The change was mainly to enable RBAC in my Azure Kubernetes Cluster, and integrate it with Azure AD. Then, my users can login into AzureAD using `oauth2-proxy` and have NGINX forward the `Authorization` header to the Kubernetes Dashboard.

So, now my users can login into the Dashboard directly using their Azure AD

[2020-06-16 13:44] agile6v commented on #4430
@aledbf Can we support this feature in the next release?

[2020-06-16 13:46] agile6v commented on #4430
`stream_realip_module` is required.

[2020-06-16 15:23] fabio-510 commented on #4065
Solution for me was to switch to traefik.

[2020-06-16 17:06] PaulCharlton commented on #5723
Additional info:
The PATCH request body is a single JSON object, not terminated with a newline.   The size in bytes of that JSON object matches exactly the `Content-Length` header.  and `Content-Type: application/json;charset=utf-8`

[2020-06-16 18:19] PaulCharlton commented on #5723
Additional info:
adding EOL to the payload (and increasing the content length accordingly) is misbehaving in the same way

[2020-06-16 20:51] kcdevops46 commented on #5533
I pulled the nginx image from quay.io and push it to my private repo. I updated helm to reference nginx image from the private repo. When i deploy Ingress controller, i am getting liveness and Readiness failed with 500 Error.

[2020-06-17 06:17] pausa commented on #5718
@aledbf Thanks for your reply and you are perfectly right. Unfortunately I couldn't find the template, if you could point me to it, I'll gladly edit the OP to comply.

The values we set in the config map are:
[code]

[2020-06-17 06:45] kulong0105 opened #5728 "support regular expressions in hosts"
currently, only support regular expressions in paths，expect to support regular expressions in hosts

details： https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/

/kind feature

[2020-06-17 06:58] Bonjour123 commented on #4644
@alphara I did all what you suggested, but still getting the same error. Is there a way to get the faulty certificate ? Because reading "this certificate is valid for... not for" and not indicating which cert it is, is not very helpful to me ^^
Here is the log I get:

` kubectl get pods -v=10
I0617 08:42:45.331125    5622 loader.go:375] Config loaded from file:  /Users/lucas/.kube/config
I0617 08:

[2020-06-17 09:49] kulong0105 opened #5730 "Makefile: invalid image format for "clean-image" target"
**NGINX Ingress controller version**:
current master branch, latest commit: 5e88760de38e22bf1f21f4c24168ed3d2415978b

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need

[2020-06-17 09:50] #5654 closed

[2020-06-17 10:34] keriksson-rosenqvist opened #5731 "Make basic-auth work with the kubernetes.io/basic-auth type secret"
At present the basic-auth functionality defined [here](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/basic) requires the secret to have the key `data.auth`, however kubernetes secrets can have the type `kubernetes.io/basic-auth` which have the keys `data.username` and `data.password`. I would like the functionality to also support using a `kubernetes.io/basic-auth` typ

[2020-06-17 13:00] mhulscher opened #5732 "Chart 2.4.0 new default values breaks configurations without service"
**NGINX Ingress controller version**: 0.33.0

**Kubernetes version** (use `kubectl version`): v1.16.8-eks-e16311

**Environment**: n/a

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): official AWS EKS AMI
- **Kernel** (e.g. `uname -a`): 4.14.181-140.257.amzn2.x86_64
- **Install tools**: latest helm v3
- **Others**: n/a

**What happened**:

Upgrading from h

[2020-06-17 15:20] aledbf commented on #5728
Closing. This is not supported by the Ingress specification. The feature must be present there before we can add implement it.

[2020-06-17 15:20] #5728 closed

[2020-06-17 15:25] #5730 closed

[2020-06-17 15:32] kulong0105 commented on #5730
/cc @aledbf

I can fix this, but i really do not understand the purpose for "clean-image" target，remove base-image or local image？

[2020-06-17 15:56] yasreeb opened #5734 "Connection refused) while connecting to upstream, upstream: "http://127.0.0.1:8181/""
I'm getting 502 error messages while try to access my service.

![image](https://user-images.githubusercontent.com/67065553/84920503-e044f580-b0e0-11ea-84b1-583994a3035b.png)

Nginix pod logs shows:

**2020/06/17 15:42:54 [error] 37#37: *248 connect() failed (111: Connection refused) while connecting to upstream, client: 46.101.51.208, server: aqua.yasreeb.online, request: "GET / HTTP/1.1", upstre

[2020-06-17 16:48] aledbf commented on #5734
Closing. The image in the screenshot is from a different ingress controller.

The installation for ingress-nginx is located here https://kubernetes.github.io/ingress-nginx/deploy/

[2020-06-17 16:48] #5734 closed

[2020-06-17 17:43] cmluciano commented on #4621
Other than my comment on trying out the use-forwarded-headers option, I'm not able to provide much more feedback.

It's clear that there is a discrepancy between how AWS/Azure deal with adding configuration automatically differs but this is likely hidden behind a cloud controller that I don't have access and I don't have an AWS/Azure account to test myself.

[2020-06-17 18:53] k8s42 opened #5735 "NGINX 0.3.0 Issues in Kubernetes Cluster"
We host an API in our Kubernetes cluster which is accessed by another service in a Windows environment. The Windows service can call our API successfully in QA. In Stage, the call fails with:

Upon further research, I learned following:

**QA** NGINX version: ```0.26.0```
**Stage** NGINX version: ```0.30.0```

I launch our **QA** API in Chrome and it shows following cipher:
```Cipher: AES_256_GCM`

[2020-06-17 19:09] #4363 closed

[2020-06-17 21:01] nguse opened #5737 "Timeout changing kubernetes.io/ingress.class"
**NGINX Ingress controller version**:
quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.33.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2 (latest EKS managed node AMI)

**What happened**:

Edited existing ingress, `kubectl edit ingress`, and chan

[2020-06-17 21:04] aledbf commented on #5735
Closing. Please check https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#ssl-ciphers

[2020-06-17 21:04] #5735 closed

[2020-06-17 21:54] aledbf commented on #5737
@nguse this timeout comes from the api server, not ingress-nginx

[2020-06-17 23:17] nguse commented on #5737
Is this something that should normally work? I have not found any useful logs in the EKS API server logs or events or anything

[2020-06-17 23:27] aledbf commented on #5737
Yes, this works OOTB. This is the first report about this issue.

 Please check you have a rule that allows communication from the control plane to the port 443 on the nodes
It is described as a "Recommended inbound traffic" by Amazon and it could cause this kind of issues https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html

[2020-06-18 06:19] phidlipus opened #5738 "Validating webhook validate.nginx.ingress.kubernetes.io: annotation key has invalid format"
**NGINX Ingress controller version**: 0.33.0

**Kubernetes version** (use `kubectl version`): 1.16.9 & 1.18.3

**Environment**:

Bare-metal and minikube (for testing)
Installed from https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/baremetal/deploy.yaml and from the Helm Chart (chart: ingress-nginx-2.6.0) - ingress-nginx 0.33.0 in both situations

**What happened**:
I

[2020-06-18 06:52] yangjindong commented on #5525
@cmoulliard You need create default-http-backend related deployment and service under kube-system namespace as mentioned in the comment lines from source line.
[https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubectl/pkg/describe/describe.go#L2393](url)

[2020-06-18 10:30] steadysupply commented on #5107
@aledbf, is there an kubectl issue you can link us to?

[2020-06-18 13:09] digaobarbosa opened #5740 "ConfigMap with use-forwarded-headers: "true" causes status 400 on empty header"
**NGINX Ingress controller version**: 0.30.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.10", GitCommit:"575467a0eaf3ca1f20eb86215b3bde40a5ae617a", GitTreeState:"clean", BuildDate:"2019-12-11T12:41:00Z", GoVersion:"go1.12.12", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"15+", GitVer

[2020-06-18 13:37] agile6v commented on #5740
Hi @digaobarbosa Why don't you use a standard request header? When a non-standard header is received, returning 400 is as expected. It's not related to the use of `use-forwarded-headers`.

[2020-06-18 14:27] evilrussian commented on #4705
+1

[2020-06-18 15:05] digaobarbosa commented on #5740
It happens only as use-forwarded-headers=true.
With false, it is probably overwritten.

What do you mean as non-standard header? I did not understand this part.

We really did a workaround removing this header to move on, as we also think it is strange to send an empty header. But it seemed strange on the same request changing behaviour like this on use-forwarded-header true/false

[2020-06-18 17:07] strigazi opened #5741 "SSL passthrough does not produce access log"
**NGINX Ingress controller version**:
NGINX Ingress controller
  Release:       0.33.0
  Build:         git-589187c35
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.0

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.2", GitCommit:"59603c6e503c87169aea6106f57b9f242f64df89", GitTreeState:"

[2020-06-18 17:59] nguse commented on #5737
After a lot more debugging, I ended up getting an error message that helped:

[code]

The cause for the timeout is a network policy denying access to the newest controller that was stood up. The only thing I'm unsure of is, what is the source of this traffic? Is this the Kube API server trying to connect to the nginx ingress controller?

[2020-06-18 18:02] aledbf commented on #5737
Yes. The request is required for the validation webhook.

[2020-06-18 18:06] sylr commented on #5510
@jaredledvina if you use Helm < v3 on your cluster https://github.com/kubernetes/ingress-nginx/issues/5697 which will land in the next release should attenuate the problem.

[2020-06-18 18:14] nguse commented on #5737
Got it, thank you very much for the assistance!

[2020-06-18 18:14] #5737 closed

[2020-06-18 19:09] aledbf commented on #5741
Closing. There are no access logs because the traffic never reaches NGINX. Is just a pipe of the connection.

[2020-06-18 19:09] #5741 closed

[2020-06-18 20:36] aledbf commented on #5740
Closing. When you set `use-forwarded-headers: "true"` you are saying trust the content of the header, something that by default is disabled. Like @agile6v said, returning 400 is expected. Check if the error is returned by nginx or your application

[2020-06-18 20:36] #5740 closed

[2020-06-18 22:35] aledbf commented on #5634
Closing. The changelog contains a point in time link to the documentation. The link you mention is from Jul 2019
https://github.com/kubernetes/ingress-nginx/blob/master/Changelog.md#0250 and at that point in time the webhook required manual configuration, something is not required anymore.

[2020-06-18 22:35] #5634 closed

[2020-06-18 22:36] zepouet commented on #1809
Hello,

Just to understand if it is only with commercial edition for Nginx named Nginx Plus ? Thanks

[2020-06-18 22:39] aledbf commented on #1809
@zepouet no, support for externalName services is available since 2017 https://github.com/kubernetes/ingress-nginx/pull/629

[2020-06-19 00:13] aledbf commented on #5443
@vennb experimental support for s390x was added in release 0.33.0.

[2020-06-19 00:13] aledbf commented on #4918
@vennb experimental support for s390x was added in release 0.33.0.

[2020-06-19 00:14] aledbf commented on #3912
@abhaysingh1722 experimental support for s390x was added in release 0.33.0.

[2020-06-19 02:44] kundan2707 commented on #5738
```minikube start```

```kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/baremetal/deploy.yaml```

Method to deploy ingress-nginx in minikube is describes in deployement doc is followoing.
`minikube addons enable ingress`

I tried same **invalid-ingress.yaml** on minikube and it got created without any error

[code]

[2020-06-19 03:21] kundan2707 commented on #5493
/assign

[2020-06-19 04:27] filip-havlicek commented on #5738
@kundan2707 thank you.
This is not about deployment method. I used both methods (deploy.yaml and Helm Chart) on Minikube just for testing of validating webhook.

Do you have validating webhook correctly enabled? I don't think so, because in that case the invalid Ingress objects should be rejected and only valid Ingress objects will be allowed.

[2020-06-19 04:52] filip-havlicek commented on #5738
@kundan2707 which version of Minikube are you using?
I just tested `minikube addons enable ingress` on minikube version: v1.11.0 and it rejects invalid ingress object too and there is same fail in Kube-apiserver's logs. So it's really not about deployment method.

I don't know if you understand me. The validating webhook working fine - it rejects invalid objects and allows valid objects. It's work

[2020-06-19 07:44] strigazi commented on #5741
Thanks for your promt reply @aledbf !

Just a followup question since I found multiple issues about it, regarding IP logging.

It seems the proxy protocol is not working for ssl-passthrough.
According to PR #4770 (which mentions fixes #2397 closes #2380)
Others have issues getting the real/source-ip in the log of the their backend service: #4941
The suggestions here do not seem to work for ssl-pas

[2020-06-19 09:39] jisnardo commented on #5110
Solved with full chain certificate.

nginx.ingress.kubernetes.io/auth-tls-secret: qa/eidas-client-ca

[2020-06-19 09:39] #5110 closed

[2020-06-19 10:18] mikelo commented on #5287
/assign

[2020-06-19 10:23] mikelo commented on #5286
/assign

[2020-06-19 10:49] gaochundong commented on #2599
+1

[2020-06-19 10:59] nglynn opened #5746 "Stream (tcp/udp) services should honour error-log-level"
At the moment it's not possible to set the error log level for stream services (tcp or udp).

Users can currently set [error-log-level](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#error-log-level) in the configmap and it has the desired effect for http services in [`rootfs/etc/nginx/template/nginx.tmpl`](https://github.com/kubernetes/ingress-nginx/blob/f1f9

[2020-06-19 13:31] roksys commented on #5345
@Dyllaann I didn't set any limits for the pods. My problem was a bit different, nginx ingress controller was not able to reach Kubernetes API  through default `kubernetes` svc, which has an external endpoint (AKS setup). So I ended up overriding `KUBERNETES_SERVICE_HOST` env var on ingress controller container. ```--set controller.extr
aEnvs[0].name='KUBERNETES_SERVICE_HOST'  --set controller.extr

[2020-06-19 15:39] mikelo commented on #5297
/assign

[2020-06-20 02:57] logicbomb421 opened #5748 "TCP service PROXY toggling not working"
**NGINX Ingress controller version**: `0.23.0`

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux (taken inside controller pod)
- **Kernel** (e.g. `uname -a`): `Linux nginx-ingress-controller-7945cc9845-hcwsc 4.14.138+ #1 SMP Tue Sep 3 02:58:08 PDT 2019 x86_64 GNU/Linux

[2020-06-20 06:32] alphara commented on #4644
Hi @Bonjour123,

I assume you solve a different problem but try to include IP address 192.168.99.100 to the list of the hosts for issuing a certificate.

[2020-06-20 16:22] JanJannos opened #5750 "Using Nginx.ingress (Kubernetes) with Skaffold and running Next JS produces “Your connection is not private” under HTTPS in Chrome"
I'm running Skaffold with a few apps in Development :

**Skaffold.yaml**

[code]
**Dockerfile of client :**

[code]
**client-depl.yaml**

[code]

**Ingress-srv:**

[code]

When executing skaffold dev from command line everything is compiled perfectly :

I've added the domain in Hosts file in Windows etc folder :

[code]

However when typing in Chrome **ticketing.dev** I get :

Your connection is P

[2020-06-20 17:33] PaulCharlton commented on #5723
additional triage notes in : https://github.com/SpiderLabs/ModSecurity/issues/2341

summary of what I have observed:

Nginx ingress with no modsecurity/external_auth. -> works
Nginx ingress with either modsecurity or external_auth. -> works
Nginx ingress with both modsecurity and external_auth. -> hangs session until broken by client
3a) modsecurity logs warning "invalid request body" (Rule #92017

[2020-06-21 07:58] mac2000 commented on #4674
Not sure if this issue is a right place but wish to comment it instead of creating new one, somehow ingress controller does not use provided wildcard tls and uses "Kubernetes Ingress Controller Fake Certificate" instead for requests without SNI

e.g.:

[code]

when using `curl -v https://demo.dev.contoso.com/` is see following:

[code]

but trying to use `openssl s_client -connect demo.dev.contoso

[2020-06-21 15:45] aledbf commented on #4674
Check my comment. This is related to SNI https://github.com/kubernetes/ingress-nginx/issues/4674#issuecomment-569493421
You can use set a different default SSL certificate adding the flag [--default-ssl-certificate](https://kubernetes.github.io/ingress-nginx/user-guide/cli-arguments/) in the ingress controller deployment

[2020-06-21 21:22] alexandrsemak opened #5753 "Annotation(Configuration-Snippet) for multiple Ingress with the same hosts"
Hello guys, I am trying adjust on fly `nginx.conf` via temporary ingress with the same hosts(so I already have ingress with specific host but I want temporary add second ingress with already exist host but with additional `location` config):
[code]
so ingress-controller doesn't merge new change for `nginx.ingress.kubernetes.io/server-snippet` works fine.
I can make this changes via ConfigMap and `

[2020-06-22 06:47] mac2000 commented on #4674
@aledbf sorry I did not mention this, default certificate on ingress will not solve this - in my case there is multiple domains, e.g.: *.dev.contoso.com, *.test.contoso.com, *.staging.contoso.com, etc

Indeed we can put default cert but it will work only if we are talking about single domain per cluster in my case error will be the same with only difference that instead of fake certificate error w

[2020-06-22 07:06] nglynn commented on #5425
I am also encountering this issue. FWIW in my case I expect my application to occasionally have no upstreams available by design so this is causing major problems.

[2020-06-22 10:44] mikelo commented on #5287
/unassign

[2020-06-22 12:13] tombroi commented on #4238
I am getting the same error on version 0.25.1

[2020-06-22 12:28] mailprak opened #5754 "Ingress IP address fluctuates between LB external IP address and private node IP."
**NGINX Ingress controller version**: 1.7.1

**Kubernetes version** (use `kubectl version`):  1.15.7

**Environment**:

- **Cloud provider or hardware configuration**: OCI
**What happened**:

Ingress IP address rotates between LB external IP address and private node IPs
There are more than one Ingress Controller with different class name .
The controller: publishService is set to true on both the

[2020-06-22 12:29] jgato commented on #4909
Something similar happens to me. The situation is: I have several services:
service.domain.com
service2.domain.com
using https and a self signed certificate. To resolve these domains, I have added some entries to my /etc/hosts. In that way everything is working ok, I am forwarded to the proper service, receiving a different self-sigende cert each.
But, now that I have real DNS, I am no longer usin

[2020-06-22 14:00] moolen commented on #5593
For other people stumbling upon this: the `ingressclass.spec.controller` field is a well-known, domain-prefixed value that is hard-coded into `nginx-ingress`. [See here](https://github.com/kubernetes/ingress-nginx/pull/5410/files#diff-885a515d98c2c89a7f6a2f10768a21d8R130).

Here's an example ingressclass. note that the `name` must match `--ingress-class` flag in your deployment.
[code]

[2020-06-22 14:01] #4892 closed

[2020-06-22 14:05] aledbf commented on #5754
@mailprak there is no version 1.7.1. How are you installing the ingress controller?

[2020-06-22 14:07] mailprak commented on #5754
Thank you. Using terraform.

[2020-06-22 14:11] aledbf commented on #4674
@mac2000 when a client without SNI support sends a request it will be redirected to a default nginx server block. In there you can have one SSL certificate. This acts as a fallback.

[2020-06-22 14:12] aledbf commented on #5754
@mailprak please post the helm command you are using

[2020-06-22 14:14] rangapv commented on #2471
Yes Please!

This --watch-namespace does not seem to work... I am going to post the error log ...

Ingress -controller defintion:
            preStop:
              exec:
                command:
                  - /wait-shutdown
          args:
            - /nginx-ingress-controller
            - --publish-service=ingress-nginx/ingress-nginx-controller
            - --election-id=ingress-contro

[2020-06-22 16:27] mac2000 commented on #4909
#4674 and this one is kind of related not even sure which one is correct

[2020-06-22 16:27] aledbf commented on #4674
@mac2000 the GKE controller create separated instances per ingress definition. Is not comparable with ingress-nginx where we share the definitions by default. You can have one deployment per wildcard domain, using the ingress.class annotation, sharing N definitions for a subdomain like `*.dev.contoso.com`, setting the default SSL certificate there. Each deployment will create a different LB.

[2020-06-22 16:28] #4430 closed

[2020-06-22 16:29] aledbf commented on #4674
@mac2000 default backend != default SSL certificate. What I've been mentioning is a flag in the deployment, not related to the default backend.

[2020-06-22 18:18] alexandrsemak commented on #4901
Hi @aledbf i am looking for the same feature for testing real traffic in dev cluster so works fine:
[code]
Is it possible merge this two annotation via second(temporary) ingress with the same host.

[2020-06-22 20:37] amargherio commented on #5720
I've gathered up some additional evidence/support on this. I supplied the PEM validator mentioned in the original issue post, the OpenSSL output for the wildcard in question (and the output for the expired wildcard that this problem one replaced, both cut from the same issuing), as well as the certificate PEM itself.

<details>
<summary>cert-tester.go</summary>
<p>

[code]
</p>
</details>

<detail

[2020-06-23 00:01] logicbomb421 commented on #5748
I did a bit more investigation locally with NGINX and RabbitMQ. When I create a basic `stream` block without `proxy_protocol` on, I am able to successfully connect to an AMQP backend:

[code]
AMQP libraries attempting to connect to `amqp://localhost:12345` work without issue here.

When I add the same `proxy_protocol` values I see generated in my example conf in the issue description, I end up wit

[2020-06-23 00:20] audip commented on #3898
Hey @aledbf , I'm happy to work on it and submit a PR with the fix. Can you describe what you mean by make histograms optional? Are you referring to having a configuration option to enable/disable these histogram?

https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/metric/collectors/socket.go#L129

[2020-06-23 03:10] adamxy commented on #5583
kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission

[2020-06-23 05:07] #5188 closed

[2020-06-23 06:39] thamaraiselvam opened #5755 "Few metrics are missing in Ingress nginx"
**NGINX Ingress controller version**:  quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.30.0

**Kubernetes version** (use `kubectl version`): Server Version: v1.14.10-gke.27

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): Container OS
- **Kernel** (e.g. `uname -a`): Linux nginx-ingress-controller-5485cb45c7-48qfp 4.14.138

[2020-06-23 09:03] rblock-aw opened #5756 "Mismatch in docs between installing through Helm vs upgrading afterwards"
**NGINX Ingress controller version**:
0.33.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersi

[2020-06-23 09:47] jgato commented on #4909
my problem was solved, my fault. It was a problem with the DNS server :(

[2020-06-23 10:43] rangapv opened #5758 "nginx ingress controller fails when -watch-namespace FLAG added to controller"
**NGINX Ingress controller version**: NGINX Ingress controller Release:0.32.0

**Kubernetes version** (use `kubectl version`):
$ kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d64eec7fe40", GitTreeState:"clean", BuildDate:"2020-05-20T12:52:00Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
Server Ver

[2020-06-23 12:25] mac2000 commented on #4674
Thank you for clarification, I went here from microk8s which just gives us just `microk8s enable ingress`, if I understand your point correct - we gonna need to deploy multiple ingress controllers (each with its own wildcard cert set as default one and bound to separate ip address) and then in our application deployments use correct ingress controller or as mentioned before having multiple cluster

[2020-06-23 12:29] pmghong commented on #5511
@wuzhuoqing  we've met the same problem,in my case , ingress node has 200000 TIME_WAIT connetions which limit by net.ipv4.tcp_max_tw_buckets = 200000.
could you please share your configurations about upstream-keepalive-requests and upstream-keepalive-connections ?

[2020-06-23 13:12] aledbf commented on #4674
@mac2000 only if you have clients without SNI support.

[2020-06-23 13:17] #5756 closed

[2020-06-23 13:22] aledbf commented on #5758
I don't see the error

[2020-06-23 13:24] aledbf commented on #5758
Not sure how you installed the ingress controller but you need to make sure you can get namespaces
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/aws/deploy.yaml#L146-L151

[2020-06-23 14:13] dannyburke1 commented on #2007
Any updates on when this might be fixed, or a version that it is patched in? I've also tried everything, running version 0.20.0 and having no luck.

[2020-06-23 14:17] kvaps commented on #2007
@dannyburke1 solution described in https://github.com/kubernetes/ingress-nginx/issues/2007#issuecomment-374856607 is working fine in current release

[2020-06-23 14:20] rangapv commented on #5758
Hi,
I have the deploy.yaml with the Roles that you mentioned intact.
The ingress-nginx works perfectly fine if the --watch-namespace is not added to the args in the Deployment part. Infact I could run multiple ingress controller this way. But the moment I add the --watch-namespace it crashloops. I checked the deploy.yaml you pointed to the one I am using and there is no issue in the Roles part of

[2020-06-23 14:27] dannyburke1 commented on #2007
Hey @kvaps thanks for your response.

When copying/pasting that (in vim) and applying it says that it can't be applied due the hyphens being used:

`name part must consist of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character (e.g. 'MyName',  or 'my.name',  or '123-abc', regex used for validation is '([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9]')`

If I rep

[2020-06-23 16:09] wuzhuoqing commented on #5511
@pmghong part of our helm chart values
[code]

[2020-06-24 04:09] Sargababu opened #5765 "How to configure rewrite-target annotation to extract the path stripping off the first part"
I am trying do path based routing in my eks deployment using nginx controller and ingress. My ingress manifest is as below

[code]
the actual service have two endpoints /health/live and /execute. with the ingress path as /abc , when ever nlb/abc/health/live or nlb/abc/execute is called by user internally it should rewrite to /health/live and /execute. This is what i am trying to achieve

I tried r

[2020-06-24 04:23] #5765 closed

[2020-06-24 04:43] senthilrameshjv commented on #3524
Hello,
It doesn't seem to work for me. I am trying to forward a tcp traffic (from a java application to a java server) and I can't use LB or Node Port service types.

I modified hostnetwork=true in the nginx-ingress daemonset similar to below

[code]

and also created a config map
[code]

And here is how my ingress looks

[code]

But when I try to connect to 192.168.0.114:9996, I get connection cl

[2020-06-24 06:18] jiafeicat opened #5766 "Multiple WebSocket services backend on ingress-nginx"
---
name:  Multiple WebSocket services implement   forwarding like nginx-virtualhost according to domain
about:  Multiple WebSocket services
title: 'Multiple WebSocket services implement   forwarding like nginx-virtualhost according to domain'
labels: triage/support
assignees: ''
---
[code]
gate-101002.ebibi.com    gate-101005.ebibi.com  have same port 20000 and  resolve to 178.91.123.132.

 can i

[2020-06-24 07:21] kenntun opened #5767 "Internal error occurred: failed calling webhook, No firewall between VM"
There are no firewall on these k8s cluster. Thus, all traffic allowed

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: ingress-test
  annotations:
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - host: test.fra.net
    http:
      paths:
      - path: /
        backend:
          serviceName: test
          servicePort: 80

Error from server (InternalError): error

[2020-06-24 07:25] #5766 closed

[2020-06-24 08:13] happywzy opened #5768 "how to solve problem that request URL contains Chinese characters but mandatory urlencode?"
if request url contains chinese  characters , just like `http://test.com/test?params=你好`
- if backend services exposed through `ingress-nginx` , The backend service will receive the `params` is `%E4%BD%A0%E5%A5%BD`,
- if backend service don't exposed through `ingress-nginx` , such as `kube Cluster IP`, it will receive the `params` is `你好`. which is  the program needs.

so, How to config to avoid t

[2020-06-24 08:32] mortyac opened #5769 "Issue with installing 2.7.1 - No matches for ValidatingWebhookConfiguration"
Hello, running into some issues installing the latest release.

**NGINX Ingress controller version**: 2.7.1

**Kubernetes version** (use `kubectl version`): 1.15.12

**Environment**: VM

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux Server release 7.7 (Maipo)
- **Kernel** (e.g. `uname -a`): 3.10.0-1062.12.1.el7.x86_64
- **Install too

[2020-06-24 10:25] marcinkoperski commented on #5540
@ElvinEfendi Hi. Do you know when this problem is going to be addressed ? We're facing an issue with EWMA because our upstream servers have overload protection built-in (it responds with HTTP 429 "Too Many Requests" when it's close to overload). The effect with EWMA is that our almost overloaded upstream server quickly responds with 429 which causes even more traffic to go there due to EWMA algori

[2020-06-24 14:05] aledbf commented on #5768
@happywzy please post the ingress definition you are using

[2020-06-24 14:13] jontro commented on #2007
I'm seeing nginx connections resets at the exact 60s mark with the ingress-nginx controller.

Using the following annotations on the grpc service.
[code]

ngnix-ingress ConfigMap
[code]
I'm setting up a bidirectional grpc stream

It looks like nginx is doing the connection reset by looking at nbl metrics

[2020-06-24 14:27] oassuncao opened #5771 "NGINX always return the fake certificate"
**NGINX Ingress controller version**: 0.28.0

**Kubernetes version** (use `kubectl version`): 1.17.2

**Environment**:

- **Cloud provider or hardware configuration**: Local and Datacenter
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04 LTS x86_64
- **Kernel** (e.g. `uname -a`): 4.15.0-66-generic SMP

**What happened**:

I created an Ingress the certificate was generated correctly and in the se

[2020-06-24 14:31] RomainWilbert commented on #3746
I have the same issue on Azure / AKS :(

I have no special configuration for ingress.

First WebSocket request fails with error message: Error during WebSocket handshake: Unexpected response code: 400

If i expose the service with LoadBalancer it works fine, so it looks like a configuration missing on the ingress side ?

[2020-06-24 14:54] aledbf commented on #5771
That is not possible. When a client does not support SNI only one SSL certificate can be used (you don't have enough information to which domain the request is associated).

The only workaround is to have different deployments per domain, setting the --default-ssl-certificate flag with the correctcertificate.

[2020-06-24 15:03] Cryptophobia commented on #3746
@RomainWilbert , 400 means Bad Request and probably returned by nginx-ingress.

Did you try adding these headers to the ingress object of your  service?

[code]

[2020-06-24 15:04] Arsen-Uulu opened #5772 "how to see what metrics are exposed by ingress-nginx? is there any annotations that allow prometheus to scrape them?"
/triage support

[2020-06-24 15:13] aledbf commented on #5772
No. There is no support for custom prometheus metrics

[2020-06-24 15:27] #5769 closed

[2020-06-24 15:27] aledbf commented on #5769
@mortyac please update to 2.8.0

[2020-06-24 15:39] Arsen-Uulu commented on #5772
@aledbf so there is no way to scale ingress-nginx with prometheus-adapter custom-metrics?

[2020-06-24 15:51] aledbf commented on #5772
@Arsen-Uulu what are you trying to do exactly? what query are you trying to build?

[2020-06-24 16:35] RomainWilbert commented on #3746
This does not help. I don't think we have do configure this because the correct headers are already set in nginx generated configuration.

[2020-06-24 17:06] Arsen-Uulu commented on #5772
@aledbf I've installed ingress-nginx and exposed metrics on 10254.
[code]
I can see the metric `nginx_ingress_controller_nginx_process_requests_total` in Prometheus Dashboard.

if I add these annotations to each ingress would in work?
[code]
then I wanted to install `prometheus-adapter` to write queries for this metric `nginx_ingress_controller_nginx_process_requests_total` to scrape them from Pro

[2020-06-24 17:08] aledbf commented on #5772
No. The annotations should be configured in the ingress-nginx service. That's it. The prometheus metrics like nginx_ingress_controller_nginx_process_requests_total do not require any special configuration. The ingress controller returns all the metrics.

[2020-06-24 17:29] Arsen-Uulu commented on #5772
`enable-vts-status: "true"` this annotation is not valid correct?

[2020-06-24 17:53] aledbf commented on #5772
No since [0.16.1](https://github.com/kubernetes/ingress-nginx/blob/master/Changelog.md#0161)

[2020-06-24 20:41] ElvinEfendi commented on #5280
IMHO we should not be passing `X-Request-Id` as is from the parent request (client request). When doing an external authentication NGINX initiates a _new_ request to the auth server, it is not the same request as the original client request. If you want to relate the two, a better approach would be to pass the original request id as `X-Parent-Request-Id`.

[2020-06-24 22:23] rittneje commented on #5280
@ElvinEfendi I completely disagree. You are just making it needlessly complicated. It is all being done as part of the same request. Plus, what happens if the auth service itself makes some external call? Now it needs to forward both headers.

[2020-06-24 22:56] ElvinEfendi commented on #5280
This is why people created distributed tracing. Misusing Request ID like that is not a solution for distributed tracing.

[2020-06-24 23:57] #4926 closed

[2020-06-25 00:58] #4948 closed

[2020-06-25 02:00] aledbf commented on #5295
Closing. This issue is not related to this ingress controller

[2020-06-25 02:00] #5295 closed

[2020-06-25 08:45] ajay-bp commented on #5555
thanks @aTGuz for asking this, had the same issue.

[2020-06-25 09:58] markivancho commented on #4642
Seems like it's not working now; If I set in template
[code]
generated nginx conf has
[code]

[2020-06-25 09:58] markivancho commented on #4642
/reopen

[2020-06-25 13:49] xtophe02 commented on #5750
Hi,
Where are you running your kubernetes? shouldn't ticketing.dev pointing your kubernetes VM?

[2020-06-25 13:51] mjooz commented on #2724
@walkafwalka, ran into the same issue as you with apps which depend on X-Forwarded-Port. Solution below sets proxy_port instead of server_port which comes by default. In my case Jenkins with Keycloak redirection had port 8000. This solved it:

`location-snippet: |
    set $pass_server_port    $proxy_port;
  server-snippet: |
    listen 8000;
    if ( $server_port = 80 ) {
       return 308 https:/

[2020-06-25 14:37] prabhatnagpal commented on #5270
Those guys who are having issues in making server-alias work. I was also facing the same issue that even after using 2 different ingress yamls, one having all the rules and a wildcard DNS domain and other having just the hostnames which will be included in server-alias annotation. I used the following configuration in configmap of nginx ingress controller:-
[code]
And created the following configm

[2020-06-25 15:32] Scong opened #5780 "lua udp socket read timed out, context: ngx.timer"
**NGINX Ingress controller version**:
0.28.0
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.6-beta.0", GitCommit:"e7f962ba86f4ce7033828210ca3556393c377bcc", GitTreeState:"clean", BuildDate:"2020-01-15T08:26:26Z", GoVersion:"go1.13.5", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+",

[2020-06-25 19:15] msaspence commented on #3444
@Izopi4a did you have any luck with this in the end?

[2020-06-25 19:46] ajoysinha opened #5790 "nginx-ingress is not working with istio [ istio-proxy ]"
I am trying to implement a system using following architecture using AWS EKS [kubernetes]

---> client call -- Load Balancer --> nginx-ingress --> [ istio proxy --> micro service ]

Note : [ istio proxy --> micro service ] part is service deployment with istio proxy.

I have deployed nginx-ingress using
[code]

My code is as below

**Deployment and Service**
[code]

**Ingress Object**
[code]

I ha

[2020-06-25 19:46] Izopi4a commented on #3444
@msaspence nope, but I didn't try tbh. Both test were identical - yet the difference so big, so I start using traefik, as this test was suspicious.

//p.s. i think its just cuz traefik is multi-threading a lot

[2020-06-25 20:11] aledbf commented on #5790
In ingress-nginx that is `/`.

[2020-06-25 20:24] aledbf commented on #5780
@Scong please update to 0.33.0. Between the two versions, the luajit dependency and nginx were updated.

[2020-06-25 21:01] kubealex opened #5793 "nginx-controller pods in ImageInspectError due to unqualified notation with cri-o"
**NGINX Ingress controller version**:

Any

**Kubernetes version** (use `kubectl version`):

1.18.x
**Environment**:

- **Cloud provider or hardware configuration**: vms
- **OS** (e.g. from /etc/os-release): centos7
- **Kernel** (e.g. `uname -a`): any
- **Install tools**: kubeadm
- **Others**: cri-o as container runtime

**What happened**:

Using unqualified images in the pods results in an error

[2020-06-25 21:05] aledbf commented on #5793
@kubealex I am sorry but I don't understand what are you reporting exactly.
How are you installing the ingress controller? The pull command you are showing is not related to ingress-nginx

[2020-06-25 21:15] kubealex commented on #5793
Using an unqualified image Is not allowed by default on cri-o, so using unqualified names in the respurces created results in an error, like in:

https://www.github.com/kubernetes/ingress-nginx/tree/master/deploystaticproviderbaremetaldeploy.yaml

As you can see, you refer to images like:

image: jettech/kube-webhook-certgen:v1.2.0

In the admission job and:

image: jettech/kube-webhook-certgen:v1

[2020-06-25 22:41] #5793 closed

[2020-06-26 01:34] kundan2707 commented on #5738
@filip-havlicek  Yes, I checked validating webhoot was not correctly enabled

[2020-06-26 01:37] kundan2707 commented on #5738
@filip-havlicek  I am using minikube version: v1.11.0
Yes i understand. After corretly configuring validating webhook I am also getting same message

[2020-06-26 02:51] kundan2707 commented on #5755
/assign

[2020-06-26 03:00] kundan2707 commented on #5500
/assign

[2020-06-26 03:49] Bo0km4n commented on #5755
Can you show me applied ingress yaml?
I guess may be you didn't specify ingress host.

[2020-06-26 03:55] Bo0km4n commented on #5755
If you didn't specify ingress host, ingress status is as below:
[code]

When `HOSTS` parameter is `*`,
execute this if statement: https://github.com/kubernetes/ingress-nginx/blob/d82585917c845e598a2cd5d2c4291ce891b5e5b4/internal/ingress/metric/collectors/socket.go#L233-L235
So you can't see some metrics such as `nginx_ingress_controller_request`

[2020-06-26 04:55] aedorado commented on #5755
Hi @Bo0km4n this is a sample ingress in my `minikube`

[code]

And I also verified that all our ingress in the production cluster have HOSTS defined. However in both the cases, I am getting the same issue that some of these metrics are missing.

[2020-06-26 06:25] Bo0km4n commented on #5755
@aedorado I see.
If do you exec curl command like as: `curl localhost` ?
You should specify host of header like this: `curl -H "host: hello-world.info" localhost`.
Therefore, ingress controller recognize host value,  and then it outputs some metrics.
Please try it.

[2020-06-26 06:35] Bo0km4n commented on #5755
/assign

[2020-06-26 09:02] kenntun commented on #5767
Any one can help??? I still cannot use it?!

[2020-06-26 09:03] idobry commented on #856
Hey @zuc,
We have the exact layout in our EKS `AWS ELB > INGRESS > POD (2 containers: nginx and php-fpm)` and facing the same errors only with production traffic.
I wonder how you solved this issue, which parameters you had to increase? ("increasing php-fpm child process values")
Really appreciate your response!

[2020-06-26 12:35] adrianmoisey commented on #4972
/reopen

[2020-06-26 16:14] amargherio commented on #5720
I've added some steps into the original issue that I believe will reproduce the issue. I'm also working through getting a clean cluster to test with as well to see if I can reproduce in a more controlled fashion.

[2020-06-26 17:01] jainbhavya65 commented on #5506
@aledbf I am using an older version of the Nginx controller proper is that it will restart before utilizing all the resources allocated to it. can you please suggest me something how can I stop Nginx controller to restart ?

[2020-06-26 18:02] aledbf commented on #5506
Removing the memory limits?

Also, updating to the latest version could help to reduce the utilization

[2020-06-27 05:47] PaulCharlton commented on #5723
definitive workaround:
add use-http2: false to the Nginx listen block.

At this point, we can write a unit test that sets conditions: (1) "POST + non-empty body", (2) side-car sub request Auth, (3) modsecurity enabled, (4) force HTTP2 + TLS session. iterate until the unit test works.

[2020-06-27 08:27] jainbhavya65 commented on #5506
@aledbf can please explain to me when Nginx ingress controller will restart  by giving "corresponds to SIGTERM"

[2020-06-27 20:28] getvivekv commented on #2096
Changing it o  **nginx**.ingress.kubernetes.io/whitelist-source-range works for me. However, is there any way to whitelist multiple ranges?

[2020-06-27 22:06] rittneje commented on #5280
The reason for request ids is so that if something goes wrong, I can easily fetch all the logs pertaining to that particular request. Consequently, if it isn't passed to each backend service involved in the processing of that particular request, then it is of extremely limited utility. Meanwhile, true distributed tracing is more focused on monitoring performance issues and other statistics aggrega

[2020-06-27 23:06] #4986 closed

[2020-06-28 03:29] happywzy commented on #5768
[code]

[2020-06-28 03:50] aledbf commented on #5768
@happywzy you don't have a path defined in the backend. You can remove the annotation ` nginx.ingress.kubernetes.io/rewrite-target: /`. That should be enough

[2020-06-28 03:58] happywzy commented on #5768
@aledbf remove the annotation`nginx.ingress.kubernetes.io/rewrite-target: /` has no effect.

[2020-06-28 04:00] aledbf commented on #5768
@happywzy please post the ingress controller pod log

[2020-06-28 04:47] happywzy commented on #5768
@aledbf
[code]

[2020-06-28 07:44] mahmoudshirivaramini opened #5809 "Download and install the ingress-nginx plugin"
**Kubernetes version**: Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
- **OS**:  Ubuntu 20.04 LTS
- **Kernel**: 5.4.0-37-generic
- **Install tools**: krew v0.3.4

**What happened**:
F

[2020-06-28 08:14] kenntun opened #5810 "Configure ingress failure"
I can not create the following svc. There are no firewall betwwen master and worker node. As they are on the same servers
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: cafe-ingress
spec:
  tls:
  - hosts:
    - cafe.example.com
    secretName: cafe-secret
  rules:
  - host: cafe.example.com
    http:
      paths:
      - path: /tea
        backend:
          serviceName: tea-svc

[2020-06-28 10:00] Bonjour123 commented on #4644
Ok, I will surely try. Thanks for the help !

[2020-06-28 14:10] nandeeshb09 opened #5812 "Server side event is not working and getting error."
Hi Team,

We have the api which will create cluster and wait for the status until it creates and execute a query in database.

We tried this through ingress and getting timed-out.

And we have set in ingress rule as below:

nginx.ingress.kubernetes.io/configuration-snippet: |
      location / {
          proxy_set_header Connection "";
          proxy_http_version 1.1;
      }
 nginx.ingress.kuber

[2020-06-28 14:11] nandeeshb09 opened #5813 "server side event is not working and getting error net::ERR_INCOMPLETE_CHUNKED_ENCODING"
Hi Team,

We have the api which will create cluster and wait for the status until it creates and execute a query in database.

We tried this through ingress and getting timed-out.

And we have set in ingress rule as below:

nginx.ingress.kubernetes.io/configuration-snippet: |
      location / {
          proxy_set_header Connection "";
          proxy_http_version 1.1;
      }
 nginx.ingress.kuber

[2020-06-28 16:17] aedorado commented on #5755
I get the response below:

[code]

[2020-06-28 18:41] aledbf commented on #5812
@nandeeshb09 please remove the configuration-snippet. Those settings are not required.
You need to also have `nginx.ingress.kubernetes.io/proxy-send-timeout: "600"`

[2020-06-28 18:42] aledbf commented on #5813
Closing. You cannot define a new location using the configuration-snippet annotation. The content of the annotation is added inside an existing location.

[2020-06-28 18:42] #5813 closed

[2020-06-29 00:57] Bo0km4n commented on #5755
@aedorado localhost address is example and depends on your environment.
Please specify ingress IP address that allocated by your Kubernetes cluster.

[2020-06-29 04:12] emillionchandra commented on #1984
I got 2 certificates, actual cert & ingress fake cert

fixed the issue by adding `nginx.ingress.kubernetes.io/secure-backends: "true"`

[2020-06-29 05:23] aedorado commented on #5755
Thank you @Bo0km4n

In this case address is not there

[code]

[2020-06-29 06:35] nandeeshb09 commented on #5813
If we use the same location also , its giving error. And is there any direct annotation for server side events.

[2020-06-29 07:37] lidajia opened #5814 "plugin function name 'header' should be 'header_filter' in docs 'Custom Lua plugins'"
**NGINX Ingress controller version**:
0.33
**Kubernetes version** (use `kubectl version`):
1.18
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
In docs 'Custom Lua plugins', plugin function 'header' can't run in 'header_filter_by_lua' processing phases

**W

[2020-06-29 08:35] ajoysinha commented on #5790
It works ..thanks

[2020-06-29 08:35] #5790 closed

[2020-06-29 08:58] #5768 closed

[2020-06-29 15:25] aledbf commented on #5814
@ElvinEfendi ping

[2020-06-29 17:36] ranjanprj commented on #5767
I'm facing same issue since few days myself in our production server. It worked well before but then this error started to show up.
We disabled all firewall in master as worker nodes. Yet the issue persists.

Is this a bug ?

[2020-06-29 18:05] Bo0km4n commented on #5755
@danderson Please note your environment and manifests(Service, Deployment, Ingress)

[2020-06-29 19:28] bvandewalle commented on #4869
Is there a way to make this generic for all ingresses ? (not only the ones with the snippets)

[2020-06-29 21:18] biqas opened #5816 "Seeing repeated error"
I see on NGINX logs ever few minutes the same error:

I0629 21:14:53.010125       6 controller.go:155] Backend successfully reloaded.
I0629 21:14:53.010198       6 controller.go:164] Initial sync, sleeping for 1 second.
2020/06/29 21:14:54 [error] 3423#3423: *33433 client intended to send too large body: 35469098 bytes, client: 127.0.0.1, server: , request: "POST /configuration/servers HTTP/1.1",

[2020-06-29 22:11] #4808 closed

[2020-06-29 22:36] aledbf commented on #5816
Closing. You can remove this issue adjusting the size of the lua shared dictionary size/s using https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#lua-shared-dicts
Something like `lua-shared-dicts: "configuration_data: 40"`

[2020-06-29 22:36] #5816 closed

[2020-06-29 22:58] biqas commented on #5816
@aledbf in my case this helped:
lua-shared-dicts: "certificate_data: 20" I have many servers and many certs.

thx.

[2020-06-30 01:49] aledbf commented on #5810
How are you installing the ingress controller? It seems the admission controller is not installed https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/cloud/deploy.yaml#L250

[2020-06-30 01:54] aledbf commented on #5809
@mahmoudshirivaramini please use `kubectl krew install ingress-nginx`

[2020-06-30 01:54] #5809 closed

[2020-06-30 02:15] kenntun commented on #5810
I install ingress controller as following

helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
helm repo update
helm install rhrepo ingress-nginx/ingress-nginx

I find the issues did not appear on CentOS 7, Only appear in RedHat Linux 7

[2020-06-30 02:21] kenntun commented on #5810
API Server logging

W0630 02:16:56.406301       1 dispatcher.go:133] Failed calling webhook, failing closed validate.nginx.ingress.kubernetes.io: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post https://ingress-nginx-controller-admission.ingress-nginx.svc:443/extensions/v1beta1/ingresses?timeout=30s: Service Unavailable
W0630 02:16:56.410014       1 dispatcher.go:133] Failed cal

[2020-06-30 02:24] caiohasouza commented on #5748
@logicbomb421 for me works adding only one "PROXY" config, example:

`tcp:
  8140: "stage/puppet:8140:PROXY"`

If i add 2 "PROXY" configs it don't works.

[2020-06-30 04:26] vsxen commented on #5738
same question. Admin webhook will not forbid the error nginx conf (ingress object)

[2020-06-30 05:18] vsxen commented on #5738
API group is err in doc

https://github.com/kubernetes/ingress-nginx/blob/nginx-0.30.0/docs/deploy/validating-webhook.md
[code]

https://github.com/kubernetes/ingress-nginx/commit/0dce5be743ae012dc5b22c1cf4b91dcdb8b64d88

[2020-06-30 06:52] ThatAIXGuy opened #5820 "[notice] 885#885: ModSecurity-nginx v1.0.0 - [emerg] 885#885: invalid value"
**NGINX Ingress controller version**:
.22 / reproduced error output with .33 (.33 hasn't failed yet)

**Kubernetes version** (use `kubectl version`):
1.15.5
**Environment**:
NonProd
- **Cloud provider or hardware configuration**:
VMWare/PKS (Pivotal Kubernetes Service)
- **OS** (e.g. from /etc/os-release):
Ubuntu
- **Kernel** (e.g. `uname -a`):
- **Install tools**:NA
- **Others**:
NGINX setup with

[2020-06-30 06:55] ThatAIXGuy commented on #5820
Actually just validated duplication of NGINX failure with .33
ingress-standard-ctlr-648fcb4568-4xr5v   1/1     Running            0          11h
ingress-standard-ctlr-648fcb4568-8gctc   1/1     Running            0          11h
ingress-standard-ctlr-648fcb4568-bv5xb   1/1     Running            0          11h
ingress-standard-ctlr-648fcb4568-k29qv   1/1     Running            0          11h
ingres

[2020-06-30 09:02] quadrinho opened #5822 "Ingress - TLS Error wrong signature size"
**NGINX Ingress controller version**: 0.27.0

**Kubernetes version** (use `kubectl version`): 1.14.7

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Hello, we tried to call  ingress sending a Certificate (Mutual Authentication) using this command:

curl -v

[2020-06-30 09:48] icefluo opened #5824 "Azure app wildcard certificate connect to nginx ingress controller"
Hey i created wildcard certificate on azure how should i connect it to azure kubernetes services
When i download the certificate it is in .pfx format and kubernetes need .crt , .key to setup secret

/triage support

[2020-06-30 13:04] ElvinEfendi commented on #5814
oh @agile6v beat me to it :)
I'm going to close my PR

thanks for the report @lidajia

[2020-06-30 14:41] aledbf commented on #5824
Please use the template issue when opening a new issue.

This is not related to ingress-nginx itself. You should ask in the #provider-azure slack channel

[2020-06-30 14:41] #5824 closed

[2020-06-30 15:01] aledbf commented on #5820
You need to enable the validation webhook (something is enabled by default since 0.32.0)
How are you installing the ingress controller?

[2020-06-30 15:02] Scong commented on #5780
Upgraded to 0.32.0 (corresponding with most recent helm chart available). Will close issue and reopen if it happens again.

[2020-06-30 15:02] #5780 closed

[2020-06-30 15:03] aledbf commented on #5820
If you don't have the webhook enabled, the configuration is persisted without any validation (this is not in the scope of ingress-nginx). The only fix is to remove the invalid value/s

[2020-06-30 16:04] ThatAIXGuy commented on #5820
OK - thank you - I did read about the webhook in the .32 documentation, but this was a simple test to see if the problem existed in new versions or was an old version bug. I'll look at the webhook documentation and deploy accordingly.

[2020-06-30 16:10] aledbf commented on #5820
The webhook is the only way to avoid setting invalid values in annotations

[2020-06-30 16:10] #5820 closed

[2020-06-30 18:29] bvandewalle opened #5829 "Span name with Opentracing: Use the whole host, path and request"
I'm using nginx-ingress integration with opentracing and Datadog and it works fairly well.

One issue I have is that the span name seems to only be the `path` of the request.
As my `nginx-ingress` is configured with a lot of ingresses (with a lot of different `hostnames` ), it makes it difficult to know which host was called exactly without looking in the attributes.

What does the community think

[2020-06-30 18:32] bvandewalle commented on #5829
I found an old  issue and PR related to this:
https://github.com/kubernetes/ingress-nginx/issues/4116
https://github.com/kubernetes/ingress-nginx/pull/4118

[2020-06-30 20:04] brettjenkins opened #5830 "Websockets closed after 15 minutes"
/triage support

Moving from an IIS based reverse proxy to a K8S based reverse proxy as step 1 of moving stuff into k8s (the next will be slowly moving the services into docker containers within k8s)

I'm having issues with websockets - the connection seems to be closed after roughly 15 minutes, no matter what I set the attributes to. Here is my config:

[code]

I'm running k8s locally, using Meta

[2020-06-30 20:08] aledbf commented on #5830
Check the ingress controller pod logs to see if the upstream (your app) is closing the connection.

[2020-06-30 20:16] aledbf commented on #5829
@bvandewalle if you take https://github.com/kubernetes/ingress-nginx/pull/4118 and, squash and passing e2e test that PR LGTM

[2020-06-30 20:25] bvandewalle commented on #5829
Thanks @aledbf , will do!

[2020-06-30 20:39] brettjenkins commented on #5830
Hey,

So the logs show this a load of static files from the app on first load along with:

`10.0.1.92 - - [30/Jun/2020:20:06:36 +0000] "GET /api/websocket HTTP/1.1" 101 954235 "-" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/83.0.4103.116 Safari/537.36" 523 366.402 [default-hass-80] [] 10.0.1.37:8123 0 366.402 101 c121ea073d13e27e2e16a6d41b03f416`

and t

[2020-06-30 21:55] rblock-aw opened #5831 "Autoscaling always runs max nr. of controller pods"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**: Azure AKS

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): don't know
- **Install tools**: Helm
- **Others**:

**What happened**:
I installed ingress-nginx using
[code]
In particular, I've enabled the autos

[2020-06-30 23:09] aledbf commented on #5831
You need to adjust the reference values to your workload. The only reason we set defaults is to avoid probe failures in nodes with high CPU/RAM utilization.

[2020-07-01 05:56] aedorado commented on #5755
Hey @Bo0km4n can you be little more elaborate?

[2020-07-01 07:07] Bo0km4n commented on #5755
@aedorado Ok,
Tell me which you are using kubernetes environment such as microk8s, minikube, kind.
I want to see yaml manifests of Deployment resource and Ingress resource you applied.

[2020-07-01 09:09] AramshamFedaykin opened #5834 "How to get env var or custom annotations ?"
Hello, I'm trying to add oidc. I followed this example : https://www.elvinefendi.com/2019/11/22/ingress-nginx-openidc-plugin.html
I started with a version 0.32.0, here's my dockerfile :

FROM quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.32.0
USER root
RUN apk update
RUN apk add unzip
RUN luarocks install lua-resty-http
RUN luarocks install lua-resty-session
RUN luarocks install

[2020-07-01 09:14] #5529 closed

[2020-07-01 14:02] #5814 closed

[2020-07-01 14:37] aledbf commented on #5834
That is because nginx does not read env variables.

[2020-07-01 14:38] aledbf commented on #5834
Not sure what you mean

No. That is not supported. You need to add go code for that.

[2020-07-01 14:42] Trimack commented on #4736
Why has this been ignored? I don't think this is a kubernetes issue but rather the controller. I have just run in the same problem with Nginx Plus 1.7.2. How do the examples provided in https://github.com/kubernetes/ingress-nginx/blob/master/docs/examples/auth/external-auth/README.md work? Is it nginx open source only thing?

[2020-07-01 15:39] MMeent opened #5835 "Default ciphers not available"
For both v0.30.0 and v0.32.0, I've seen the following behaviour:

config:
[code]

Using this config on a domain with a 2048-bit RSA-key, we're only seeing the following cipher suites when running `nmap --script ssl-enum-ciphers -p 443 <servername>` on our server

[code]

... which seems incomplete, seeing that the default list of ciphers is 8 entries:

[code]

This is kind of annoying, as one of o

[2020-07-01 15:51] aledbf commented on #5835
@MMeent you can adjust the ciphers https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#ssl-ciphers

[2020-07-01 16:29] MMeent commented on #5835
yes, i've done that, and got the same results as you got [here](https://github.com/kubernetes/ingress-nginx/issues/5490#issuecomment-622613458) - it's not showing the DHE ciphers, which I had expected based on the default configuration.

[2020-07-01 17:17] aledbf commented on #5835
DHE ciphers are not returned by openssl by default.

You could try to add the annotation `nginx.ingress.kubernetes.io/ssl-prefer-server-ciphers: "false"` in the ingress you have to accept what your client sends.

[2020-07-01 17:44] kanolato commented on #4058
In case someone bums into this you will have to update the role for the controller:
[code]
The name of the forbidden ConfigMap can be updated there, in this case: `ingress-controller-leader-staging`

[2020-07-01 18:36] #5002 closed

[2020-07-01 19:25] rblock-aw commented on #5831
Ok. That fixed it. I did not find anything about this in the documentation (though I must admit I am not well versed with the way HPA works and what the usual practices are, maybe I would've deduced this if I knew more about this topic).

[2020-07-01 19:25] #5831 closed

[2020-07-01 21:46] ngealy commented on #5206
I had the same problem and I fixed it by changing the ingress-nginx service targetport for https from https -> http.

![Screen Shot 2020-07-01 at 5 43 25 PM](https://user-images.githubusercontent.com/5767957/86294511-a97fdc80-bbc2-11ea-94a9-e933fdaf1773.png)

[2020-07-02 00:33] rdoering commented on #3511
@IoakeimSamarasGR Could you please share your whole annotation?

I am using the following annotation without success
`annotations:
      kubernetes.io/ingress.class: "nginx"
      nginx.ingress.kubernetes.io/affinity: "cookie"
      nginx.ingress.kubernetes.io/session-cookie-name: "MYSERVICE"
      nginx.ingress.kubernetes.io/session-cookie-expires: "172800"
      nginx.ingress.kubernetes.io/sessi

[2020-07-02 05:05] aedorado commented on #5755
[code]

[2020-07-02 05:06] aedorado commented on #5755
[code]

[2020-07-02 05:06] aedorado commented on #5755
[code]

[2020-07-02 05:09] aedorado commented on #5755
All of the above are from minikube, but we are having the same problem on our GKE clusters as well.

[2020-07-02 06:24] AramshamFedaykin commented on #5834
Ok tanks, here's what I ended up working :
            {{ if index $ing.Annotations "oauth2/discovery" }}
            {{ $discovery := index $ing.Annotations "oauth2/discovery" }}
with oauth2/discovery the annotation in the ingress

[2020-07-02 06:24] #5834 closed

[2020-07-02 08:24] nandeeshb09 opened #5837 "Which is the latest stabel version after 0.17.1"
Hi Team,

Need a help on version stability , as we are upgrading ingress controller from 0.17.1 to latest stable version.

Please suggest us which one will be the most stable version? That would be more helpful.

[2020-07-02 08:43] liqlin2015 opened #5838 "nginx configuration was constantly updating"
**NGINX Ingress controller version**: 0.23.0

**Kubernetes version** (use `kubectl version`): v1.17.0

**Environment**: OCP 4.4.10

- **Cloud provider or hardware configuration**: NO
- **OS** (e.g. from /etc/os-release): CoreOS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

nginx configuration was consistently updating.
[code]

We did not change any ingress

[2020-07-02 12:35] aledbf commented on #5838
Closing. Please update to 0.33.0. The version 0.23.0 was released on Feb 27, 2019. A lot of fixes and changes introduced since that version

[2020-07-02 12:35] #5838 closed

[2020-07-02 12:36] aledbf commented on #5837
Closing. The page https://github.com/kubernetes/ingress-nginx/releases contains the releases. [Latest is 0.33.0](https://github.com/kubernetes/ingress-nginx/releases/tag/controller-0.33.0)

[2020-07-02 12:36] #5837 closed

[2020-07-02 12:47] korablin opened #5839 "Nginx image URL referenced in docs is invalid"
[Nginx image readme](https://github.com/kubernetes/ingress-nginx/tree/master/images/nginx) file references an image that is not presented in registry:
[code]
Looks like proper tags are missing:
https://quay.io/repository/kubernetes-ingress-controller/nginx?tab=tags

`/kind documentation`

[2020-07-02 12:48] korablin commented on #5839
@aledbf , guess you are the only one who is maintaining it right now? Could you take a look, please? ^^

[2020-07-02 12:53] #5839 closed

[2020-07-02 13:01] korablin commented on #5839
that was super fast, thanks @aledbf !

[2020-07-02 13:17] SomaticIT commented on #4314
/reopen

Is it still not possible?

[2020-07-02 13:54] MMeent commented on #5835
I've looked around, and found that setting `ssl_dhparams` is nescessary to get DHE-based cyphers working in nginx. This was hidden somewhat deep inside the nginx-documentation, and I couldn't find any other documentation regarding this limitation, neither in this repo or while searching online.

But, thanks for the help, I've solved it by configuring DH parameters as per https://github.com/kuberne

[2020-07-02 13:54] #5835 closed

[2020-07-02 14:09] rgime commented on #5385
Yeah, Did you ? @enricovittorini
I am with the same problem. How did you fixed that ?

My ingress rules. Got from the NGINX Ingress example.

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: bot-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernet

[2020-07-02 15:56] #4998 closed

[2020-07-02 22:03] #4622 closed

[2020-07-03 00:50] #5670 closed

[2020-07-03 02:28] Bo0km4n commented on #5755
@aedorado I confirmed some metrics in minikube.

I note steps taken below:

### Set up ingress
[code]

deploy service and ingress

[code]

[code]

And then, exec curl command for expose some metrics

[code]

To confirm nginx metrics, enter shell of ingress controller

[code]

[code]

In the ingress nginx controller, access to metrics path

[code]

[2020-07-03 04:08] kundan2707 commented on #5822
/assign

[2020-07-03 04:09] kundan2707 commented on #5755
/unassign

[2020-07-03 07:32] sid226 opened #5841 "update kube-webhook-certgen image 1.2.0 -> 1.2.2 in deploy.yaml"
Need to update kube-webhook-certgen image 1.2.0. -> 1.2.2 in [deploy.yaml]( https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/baremetal/deploy.yaml)

kube-webhook-certgen has been updated recently  to 1.2.2 for adding s390x support.

https://github.com/jet/kube-webhook-certgen/issues/15

https://hub.docker.com/r/jettech/kube-webhook-certgen/tags

[2020-07-03 08:22] trnl commented on #4972
/reopen

[2020-07-03 09:37] luarx opened #5842 "Old yaml manifests deletion without documentation"
I have just a small question about the commit called **_Cleanup deploy docs and remove old yaml manifests_** https://github.com/kubernetes/ingress-nginx/commit/fd23ebc6d186554d4d8f8890a82392b5724caee9 (@aledbf )

I was using the template `deploy/static/with-rbac.yaml` with AWS but I do not see that the AWS template is similar to the previous template.
Main points:
- New AWS template considers that

[2020-07-03 14:31] aledbf commented on #5842
That is incorrect. The only reason you see those is because the static deployments are generated with `helm template` using a [script](https://github.com/kubernetes/ingress-nginx/blob/master/hack/generate-deploy-scripts.sh). No helm requirement.
The goal with the cleanup was consistency between the different deployment methods, one manifest, and simplify the maintenance of the manifest.

What is t

[2020-07-03 14:43] savitadwr opened #5844 "rate limiting"
I installed nginx controller, following steps from https://docs.nginx.com/nginx-ingress-controller/installation/installation-with-manifests/
Then configured rate limiting with following annotation in ingress resource which is not working:

`nginx.ingress.kubernetes.io/limit-rpm: "1"`

I have got two nginx-controller pods and got 200 responses on more than 20 requests in a minute

[2020-07-03 16:44] aledbf commented on #5844
Closing. The installation link is for a different ingress controller. Please check https://kubernetes.github.io/ingress-nginx/deploy/

[2020-07-03 16:44] #5844 closed

[2020-07-03 20:50] #5841 closed

[2020-07-04 03:06] lidajia opened #5847 "ingress config not effective when rule.host is empty（not set）and canary is enabled"
**NGINX Ingress controller version**:
0.33.0
**Kubernetes version** (use `kubectl version`):
1.18.0
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
ingress config not effective when rule.host is empty（not set）and canary is enabled.

error in ingress-nginx：

[2020-07-04 03:21] gnurik commented on #2840
I wound up using annotation `nginx.ingress.kubernetes.io/use-regex: "true"` and then using regex at the path definition to avoid copy/pasta repetition for backend for each individual path. e.g.:

[code]

[2020-07-04 05:58] lidajia opened #5848 "only one canary ingress effective when multi canary ingresses created"
**NGINX Ingress controller version**:
0.33.0
**Kubernetes version** (use `kubectl version`):
1.18.0
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
only one canary ingress effective when multi canary ingresses created

**What you expected to happen**:
all c

[2020-07-04 07:08] SwatantraYadav commented on #4498
@bilalmalik777 Can you please share the solution? I am hitting the same issue:
`*598957 connect() failed (111: Connection refused) while connecting to upstream, client: 10.240.0.6`

[2020-07-04 17:05] PuneeshMotwani commented on #5681
Am facing the same problem. Currently we are logging 99% unnecessary logs

[2020-07-04 23:34] thirumurthis commented on #5583
I got the same error:
[code]

after deleting the `kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission` now the ingress rule got created.

[2020-07-05 11:18] Bo0km4n opened #5850 "Conflicting `version` directory and `VERSION` file in APFS"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Mac OS Catalina 10.15.3
- **Kernel** (e.g. `uname -a`):
- **Install tools**: git, zip
- **Others**:

**What happened**:
I cloned this repository, but master branch state is already deleted VERSION file.
So I

[2020-07-05 15:20] #5850 closed

[2020-07-05 20:51] agill17 commented on #3826
@phisco and @ElvinEfendi Does this mean we no longer have to set the ingress annotation `nginx.ingress.kubernetes.io/force-ssl-redirect: "true"` and just setting `use-forwarded-headers: "true"` achieves http->https redirection?

[2020-07-06 00:06] sslavic commented on #3457
Do I get it right, https://github.com/kubernetes/ingress-nginx/pull/4531 (shipped with 0.26.0) practically reverted changes made for this issue in https://github.com/kubernetes/ingress-nginx/pull/3684 (shipped with 0.23.0) ?

[2020-07-06 00:26] aledbf commented on #3457
@sslavic yes

[2020-07-06 00:56] saipraveen-a commented on #5278
/close

[2020-07-06 00:56] #5278 closed

[2020-07-06 07:21] wenbor33 opened #5852 "Question: Is subset equal to virtual node on ConsistentHashRing?"
upstream-hash-by-subset maps requests to subset of nodes instead of a single one, doesn't it decrease nodes on ConsistentHashRing? what is the benefit of this?

[2020-07-06 09:16] sslavic commented on #3457
This could improve situation https://github.com/kubernetes/ingress-nginx/pull/5832 once released.

[2020-07-06 09:19] IoakeimSamarasGR commented on #3511
@rdoering Here are the annotations that worked for me:

`annotations:
    nginx.ingress.kubernetes.io/auth-tls-verify-client: "on"
    nginx.ingress.kubernetes.io/auth-tls-verify-depth: "1"
    nginx.ingress.kubernetes.io/auth-tls-secret: default/{{ .Values.ingress.caTls.caSecretName }}
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header X-SSL-CERT $ssl_client_escaped_c

[2020-07-06 09:41] zaharidichev commented on #5198
@aledbf We are still running into this problem. Namely, I have the following resource:

[code]

I find the `l5d-dst-override` header to be set to `".default.svc.cluster.local:"` We are using ` 0.33.0`

[2020-07-06 13:00] bilalmalik777 commented on #4498
@SwatantraYadavi have a whole solution how can i share with you? honestly speaking I can't recall what was a problem I was facing at that time. Just share with me your email or you can send me an email I will share with you couples of working yaml files.
Email: bilal_cs@outlook.com

[2020-07-06 19:02] oxr463 commented on #5390
Try adding a ConfigMap to your `nginx-configuration` as follows:

[code]

[2020-07-06 19:36] kibs opened #5854 "ExternalName service cannot be used as default-backend"
**NGINX Ingress controller version**:
 0.33

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0dec0200d64eec7fe40", GitTreeState:"clean", BuildDate:"2020-05-21T14:51:23Z", GoVersion:"go1.14.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16+", GitVersi

[2020-07-06 22:22] Routhinator commented on #5748
Confirming this is not working as expected anymore for me either:

[code]

That should be decoding proxy-protocol for the service and it's not

First PROXY is for DECODE, Second is for ENCODE.. so with a single proxy I should get a decoded stream that the ssh port can accept

[2020-07-06 22:48] Routhinator commented on #5748
It looks like the ingress-nginx config is failing to properly configure the `upstream` block for these TCP services when the `:PROXY` is added:

[code]

It should be directing the connection to the proper service IP, but there's just a placeholder.

[2020-07-06 22:51] Routhinator commented on #5748
I'm using 0.33.0 and it's still happening for me.

[2020-07-06 23:04] aledbf commented on #5854
Does it seem the service you are creating has no ports defined? Please make sure you have one (without it, the ingress controller does not know where to send the traffic)

[2020-07-06 23:14] Routhinator commented on #5748
I've done quite a few tests here, and none of the combinations of syntax are resulting in a properly configured upstream for the TCP service. It's always:

[code]

I've tried the below incantations:
[code]

[2020-07-06 23:48] Routhinator commented on #5748
Hmm, actually in my case I finally noticed that the TCP port on the Digital Ocean load balancer was being created wrong, and was being created as an HTTP port.. manually converting it to a TCP port after installing the helm change fixed it, so I guess that upstream_balancer block is supposed to look like that.

Not sure if the incorrect port type for the TCP port is a Digital Ocean bug or a ingres

[2020-07-07 00:11] andloh commented on #5654
Hi @andreicojocaru
Care to share your configuration :) ?

I get 401 from the dashboard when logging in with the access token from azure, with the Authorization Header.
When i try to access the api with the same token via curl/kubectl i also get 401. So it's a issue with the token i believe. Token Config for app registration aslo claims the group scope.

My user is cluster-admin and kubectl with a

[2020-07-07 03:23] rgime commented on #5385
Nevermind. Fixed. Doing nothing. Just rebooting everything...

[2020-07-07 04:09] gajus opened #5858 "What is the correct format for nginx.ingress.kubernetes.io/auth-secret-type: "auth-map""
I am not able to figure out what is the correct secret format to use with `auth-secret-type: auth-map`.

I've read https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#authentication It says:

I've created a secret where key is username and password is produced using `echo 'foobar' | openssl passwd -crypt -stdin | base64`.

[code]

This secret is referenced as suc

[2020-07-07 04:36] kibs commented on #5854
Okay that makes sense, but an external name service cannot have ports defined. Thanks for clarifying

[2020-07-07 08:10] andreicojocaru commented on #5654
Hi @andloh, I'll put here the configuration I have, maybe it helps.

I've provisioned my AKS cluster using Terraform, so I made sure to enable the Azure AD RBAC like described here: https://www.terraform.io/docs/providers/azurerm/r/kubernetes_cluster.html#role_based_access_control

Also, using the Terraform `addon_profile` section you can turn off the Kubernetes Dashboard that comes with AKS by de

[2020-07-07 10:08] andloh commented on #5654
Hi, Thanks for sharing you configuration. I have compared my config with yours and made som changes...but still no luck :/
We are also using terraform to provision AKS, and we have rbac enabled and are using the AAD integration (Preview) (https://docs.microsoft.com/en-us/azure/aks/managed-aad)

Can you please share some info about your "App Registration" in azure? Do you have something custom conf

[2020-07-07 10:32] andreicojocaru commented on #5654
When I've created the AKS clusters the `managed` Azure AD integration was not available so I'm not sure how to configure this properly. From what I read in the documentation, it seems the integration takes care of creating the Client/Server AD apps, so I'm assuming you're right in sending `null` at the `app_*` values.

Would be interesting if you could find out what application the managed AD inte

[2020-07-07 10:56] andloh commented on #5654
Thanks again!

The wierd thing is...i can't find an associated application registration.

I added " Directory.AccessAsUser.All to the API permissions, but no luck.
![image](https://user-images.githubusercontent.com/21281033/86770179-92bd0800-c050-11ea-9c1a-5db2756b5d25.png)

Could you share your token with me please? When you are signed in go to /oauth2/auth and look for the response header `Autho

[2020-07-07 11:06] andreicojocaru commented on #5654
The JWT headers:
[code]

The JWT body:

[code]

As you can see I remove the sensitive information also changed the body of some properties with `xxxxx`.

The cookie sent as part of the request to `/oauth2/auth` is like this:

[code]

It's basically a session ID that will use the Redis backend to retrieve the full cookie value.

[2020-07-07 12:20] andloh commented on #5654
Hi, Thanks again.

I managed to find the Application Registration that the integration creates. But it's a Enterprise Application, and it was hidden, had to search for the ID.
It seems like its not possible to add a reply url in a Enterprise Application, so I can't reuse it.
I will open a support case against MS to verify.

So I think the problem is that my application registration does not have a

[2020-07-07 12:45] aledbf commented on #5854
Yes, it can have ports.

[2020-07-07 12:49] #5854 closed

[2020-07-07 14:34] aledbf commented on #5858
That works for basic auth. You need to use `htdigest` or [htdigest.py](https://github.com/samizdatco/nginx-http-auth-digest/blob/master/htdigest.py) to generate a valid password.

The format of the secret is the same: `user:<password>`
In this case:
[code]

[code]

[2020-07-07 14:34] #5858 closed

[2020-07-07 16:55] ranjith-ka opened #5860 "Nginx nodeport configuration"
[code]

If i don't want to specify the default backend how to ignore that settings ?  or any example I can run some default service for GRPC TCP mode ?

[2020-07-08 07:34] frgomes opened #5863 "Documentation on multiple ingress controllers on distinct namespaces"
**Describe the bug**
Installation procedure for multiple ingress controllers is not clear enough for the use case of ingress controllers running on distinct namespaces. In particular: it is not clear how non-namespaced resources should be shared across multiple ingress controllers.

Looks like multiple ingress controllers would be trying to share the resources below:
 * clusterroles.rbac.authoriza

[2020-07-08 07:48] frgomes commented on #5863
I have another proof of concept which I succeeded to launch multiple ingress controllers on distinct namespaces.

The difference between this approach here and the other approach (not shown here) is that the other approach creates a distinct ``ClusterRole`` for a new ingress controller being deployed.

In other words: once again, I took a non-documented.

[2020-07-08 08:05] cugykw opened #5864 "Monitor metrics <nginx_ingress_controller_requests> is not `host` tag"
I want to aggregate some monitoring indicators by host，but I found that the ‘nginx_ingress_controller_requests’ indicator has no host label.

/kind feature

[2020-07-08 08:08] cugykw commented on #5864
I‘m not sure if there are any special considerations?

[2020-07-08 09:15] AramshamFedaykin opened #5865 "luarocks install not working with 0.33"
Hello, I was able to build a custom image from 0.32 with luarocks like this :

FROM quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.33.0

USER root

RUN apk update
RUN apk add unzip

RUN luarocks install lua-resty-http
RUN luarocks install lua-resty-session
RUN luarocks install lua-resty-jwt
RUN luarocks install lua-resty-openidc

COPY nginx.tmpl /etc/nginx/template

Now with the

[2020-07-08 10:09] aledbf commented on #5865
@AramshamFedaykin since 0.32.0 luarocks was removed due to issues building the docker images with buildx.
You can add the next lines to your dockerfile

[code]

[2020-07-08 10:09] #5865 closed

[2020-07-08 10:26] terrafying commented on #3859
still doesn't work

[2020-07-08 10:37] snwfdhmp commented on #3859
I confirm it is still broken.

Hospitals in France uses this kind of authentication everyday and they have to downgrade their softwares to support Client Certificate Authentication.

You are responsible for vulnerabilities in our medical systems. **Please do something.**

[2020-07-08 10:38] snwfdhmp commented on #3859
@aledbf

[2020-07-08 11:06] #5842 closed

[2020-07-08 13:44] marcoroganovic commented on #1066
Hi :)

I'm using Rancher on top of Kubernetes, and I'm trying to pass the country code header to my workloads. I have enabled use-geoip2 inside ConfigMap, added licence key as an argument, but still can't get header value inside the container, do you maybe know what I'm missing here since?

Kind regards!

[2020-07-08 13:54] aledbf commented on #1066
@marcoroganovic please open a new issue describing what are you doing (please use the template issue)

[2020-07-08 14:07] marcoroganovic commented on #1066
@aledbf Thanks for your reply.
I've decided to ask on Slack after I read the guidelines for questions.

[2020-07-08 15:27] juliohm1978 commented on #3859
It's been working for me ever since. Any chance we can get steps to reproduce your issue?

[2020-07-08 15:36] aledbf commented on #3859
@juliohm1978 thank you for the help :)

[2020-07-08 21:49] aledbf opened #5870 "Document release process"
**1.  [nginx](https://github.com/kubernetes/ingress-nginx/tree/master/images/nginx)**

- Open pull request
- Merge
- Wait for [cloud build](https://console.cloud.google.com/cloud-build/builds?project=k8s-staging-ingress-nginx)

**1a. Promote images:**

- Open pull reques to promote staging image:
    - add [sha - version](https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/images/k8s-stagi

[2020-07-08 22:11] #5720 closed

[2020-07-08 22:22] quadrinho opened #5872 "WSS KO with Ingress - 502 bad gateway"
**NGINX Ingress controller version**:0.27.0

**Kubernetes version** (use `kubectl version`): 1.14.7

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Hello,

i try to configure on nginx (on AKS cluster and a balancer created when i install the ingress

[2020-07-08 23:14] aledbf commented on #5872
If you use that annotation all the others are omitted.
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#ssl-passthrough

These are not valid annotations.

[2020-07-08 23:15] aledbf commented on #5872
That means your application closed the connection.

Are you sure your application support TLSv1.2?

[2020-07-08 23:23] quadrinho commented on #5872
@aledbf

About the support TLSv1.2, i try a connection with openssl and the connection shows that protocol:

CONNECTED(00000003)
depth=0 C = US, ST = CA, L = Mountain View, O = WSO2, CN = localhost
verify error:num=20:unable to get local issuer certificate
verify return:1
depth=0 C = US, ST = CA, L = Mountain View, O = WSO2, CN = localhost
verify error:num=21:unable to verify the first certificate

[2020-07-08 23:27] aledbf commented on #5872
You are setting `nginx.ingress.kubernetes.io/proxy-ssl-name: wssproxy`
http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_ssl_name

[2020-07-08 23:28] aledbf commented on #5872
Remove:
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/websocket-services: wso2apim-with-analytics-apim-service
    nginx.org/websocket-services: wso2apim-with-analytics-apim-service

Change:
    nginx.ingress.kubernetes.io/proxy-ssl-name: localhost

[2020-07-08 23:28] quadrinho commented on #5872
Now i try with this config but the problem persists:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "1800"

[2020-07-08 23:32] quadrinho commented on #5872
@aledbf

i try to modify the ingress following your suggestions:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/backend-protocol: HTTPS
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
    nginx.ingress.kubernetes.io/proxy-send-timeout:

[2020-07-08 23:34] aledbf commented on #5872
@quadrinho if you see the same error in the log, check your application (why is closing the connection)

[2020-07-09 08:03] ant-giannone opened #5874 "mTLS | how to with self-signed cert for client and ssl Certificate Request with empty CA by server"
Hello.

I work on a project that provides an mTLS scenario,
but the clients need to use self-signed certificate during the handshake phase.

It is a scenario expected by oauth2 / openID.

I need to instruct nginx so that the SSL Certificate Request message contains the list of supported CAs as empty.

The ssl protocol provides this option that allows clients to submit a self-signed certificate and

[2020-07-09 12:23] snwfdhmp commented on #3859
My configuration is described here: https://github.com/kubernetes/ingress-nginx/issues/3880

[2020-07-09 12:35] snwfdhmp commented on #3859
Do you need more information ? I'd be happy to help.

[2020-07-09 13:48] junaid18183 commented on #4385
I can confirm Its working on "0.32.0", here is my config -

`enable-modsecurity: "true"
 enable-owasp-modsecurity-crs: "true"`

And below is my ingress annotation
`  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/modsecurity-snippet: |
      SecRuleEngine On`

[2020-07-09 13:56] afsilvasantos opened #5875 "How to serve custom .html error pages?"
Hi all.

I have an Nginx Controller running in an Azure Kubernetes Cluster. I have some routing rules and security checks to access the services, and whenever a non authorized request is made, Nginx is showing the default error pages. I wanted to present an error page that hides the kind of error and represents the organization whose services belong.
I have been reading through the documentation a

[2020-07-09 14:19] juliohm1978 commented on #3880
@snwfdhmp
Were you able to try using `ssl-ciphers` in the config map as a global configuration? The `server-snippet` could be conflicting with the defaults rendered by the controller in nginx.conf.

The curl test used by @yaominator is a nice quick way to test the scenario without much effort.

It can also help to review the fully rendered nginx.conf to make sure the `ssl_ciphers` directive is ind

[2020-07-09 17:24] ivanovUA commented on #5345
Same issue for me on EKS. No any limits.
quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.26.1
Exit Code:    137

[2020-07-09 17:59] parmar-gaurav commented on #3993
it worked for me

[2020-07-10 01:20] kundan2707 commented on #5500
I tried with "portmap" CNI plugin Calico and no problem observed

[2020-07-10 01:26] kundan2707 commented on #5847
/assign

[2020-07-10 07:05] TBBle commented on #5501
The auth-tls secret used by NGINX Ingress only needs the Root CA in ca.crt. The certificate passed into the client should contain the client's certificate, plus any intermediate certificates. If you check the client certificate, it probably already has the Intermediate CA certificate in it, after the Client Certificate.

This happens to match the way that cert-manager issues such certificates, see

[2020-07-10 10:21] dannyburke1 commented on #2007
I'm not sure on the exact fix here, but seemingly redeploying the ingress and updating nginx seems to have sorted it for me.

[2020-07-10 10:23] opensourceonly commented on #5401
@aledbf This issue still occurs

[2020-07-10 11:29] marcboivin commented on #5583
@adamxy's solution worked for me to, but why? What was wrong in my config? I'm also using MetalLB. Will this be a recurrent problem?

Regards,

[2020-07-10 12:55] jontro commented on #2007
Adding client_body_timeout was the key fix for me here. This needs to be put in the documentation somewhere since it was hard to find
[code]

[2020-07-10 14:12] KSVarun opened #5882 "kubernetes-dashboard through ingress-nginx is always giving 404"
**NGINX Ingress controller version**:
_$ helm list_
[code]

**Kubernetes version** (use `kubectl version`):
_$ kubectl version --short_
[code]

**Environment**:
AWS - Ubuntu

**What happened**:
With the below config for ingress

**ingress.yaml**
[code]

_$kubectl describe ing_
[code]

Navigating to _https://ELB_IP/dashboard_ gives 404 page not found

**What you expected to happen**:

Expecting to

[2020-07-10 16:53] gsolomin commented on #3869
Hey @sei-jmattson, could you show an example of your ssl_ciphers row with seclevel, I'm trying to do the same thing, but still getting error

[2020-07-10 19:03] geekette86 commented on #5875
https://kubernetes.github.io/ingress-nginx/user-guide/custom-errors/

[2020-07-10 19:51] hairyhenderson opened #5883 "Support for OpenTelemetry in addition to OpenTracing?"
The [OpenTracing support](https://kubernetes.github.io/ingress-nginx/user-guide/third-party-addons/opentracing/) is super useful, however recently OpenTracing has merged with the [OpenTelemetry](https://opentelemetry.io) project, and it seems like many more integrations will be possible.

To my knowledge there doesn't yet exist an OpenTelemetry equivalent to the [nginx-opentracing](https://github.

[2020-07-11 10:02] JorgeGuerrero-dev commented on #4385
Yes, I also confirm Its working on "0.32.0", problem solved! Thanks!!!!
The @junaid18183 works for me!

[2020-07-12 13:53] joekendal opened #5884 "error when applying patch: field is immutable"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

[code]
- **Install tools**:  Docker Desktop

**What happened**:

[code]

[2020-07-12 17:47] rust84 opened #5885 "invalid image ID error with nginx-controller chart 2.11.0"
**NGINX Ingress controller version**:
v0.34.0

**Kubernetes version** (use `kubectl version`):
v1.17.7

**Environment**:
k3s

**What happened**:

When deploying the nginx-ingress controller helm chart 2.11.0 I noticed an error in the Flux logs. The release is deployed successfully however I see the error again with each sync.

`2020-07-12T17:20:25.474929454Z stderr F ts=2020-07-12T17:20:25.4746621

[2020-07-12 18:34] rust84 commented on #5885
Apologies I meant to post this in the Flux github. This is not an nginx issue please close.

[2020-07-12 18:34] #5885 closed

[2020-07-12 18:53] #4754 closed

[2020-07-13 06:22] Rahul7794 opened #5886 "nginx ingress not working with grpc services"
I am trying to get nginx ingress running as a Reverse proxy for my gRPC service.

my deployment.yml file looks like

[code]
my svc.yml file looks like

[code]
my ingress.yml file looks like

[code]

When I do get ingress I get
[code]

When I hit the alb arn with port 80, then I get 400 error similar to this

`"PRI * HTTP/2.0" 400 157 "-" "-" 0 0.040 [] [] - - - - 9098e278e6c5ee7e1a2a4ecf02c6c2a1`

[2020-07-13 09:34] afsilvasantos commented on #5875
Hi @geekette86
Yeah i understand that example now
Is it possible to change the default backend on a current running ingress controller?

[2020-07-13 15:36] geekette86 commented on #5875
Source: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#default-backend
[code]
@afsilvasantos

[2020-07-13 15:39] bpoudel1210 commented on #4723
We are also having same issue on the controller version `0.32.0`

[2020-07-13 20:17] #5076 closed

[2020-07-13 20:41] aledbf commented on #5883
@hairyhenderson interest sure, but I would prefer to know what is going to happen with nginx-opentracing first.
From the three plugins [we use](https://github.com/kubernetes/ingress-nginx/blob/master/images/nginx/rootfs/build.sh#L28-L32), only datadog is being actively maintained. Also, the three use different versions of the same libraries, something that introduces additional time to build the i

[2020-07-13 20:50] aledbf commented on #5884
@joekendal I cannot reproduce this problem
[code]

[2020-07-13 20:55] aledbf commented on #5886
You don't have a TLS section, without that GRPC will not work. https://github.com/kubernetes/ingress-nginx/issues/4095#issuecomment-506736342

[2020-07-13 20:55] aledbf commented on #5886
@Rahul7794 do you have more services? Why are you not defining a `host` in the ingress rule?

[2020-07-13 21:18] #5077 closed

[2020-07-13 21:25] joekendal commented on #5884
This was caused by my attempts to resolve this issue with namespace deletion hanging #19317 and in following those suggestions was still unable to resolve it and left my kubernetes in a dsyfunctional, corrupted state of which i could not be bothered to spend hours trying to fix.

Solved it only by deleting all kubernetes data and resetting to factory settings. Which is less than ideal, but didn't

[2020-07-13 21:26] #5884 closed

[2020-07-14 00:34] aledbf commented on #5198
@zaharidichev thank you for the report. I will open a PR to fix this issue.

That said, what's the use case for an ingress without a host field? I asked because, without that field, paths cannot be repeated, and accessing an ingress controller by an IP address is not the "correct" approach.

[2020-07-14 00:54] Rahul7794 commented on #5886
@aledbf I have updated the Ingress YAML file. I have added the TLS section and still, I am facing the same issue.

my ingress yml file looks like:

[code]

I have a grpc client written in go, and when I hit the server with the alb arn on port 443 it still return 400
` [14/Jul/2020:00:43:39 +0000] "PRI * HTTP/2.0" 400 157 "-" "-" 0 0.031 [] [] - - - - 1704fb9e97219681ec53b95887bf6c95`

I tried port

[2020-07-14 02:07] aledbf commented on #5886
@Rahul7794 I cannot reproduce the issue

**Create a cluster using kind:** https://kind.sigs.k8s.io/docs/user/ingress/#create-cluster
**Install ingress-nginx:** https://kind.sigs.k8s.io/docs/user/ingress/#ingress-nginx

[code]

[code]

[2020-07-14 02:40] Rahul7794 commented on #5886
@aledbf the grpc curl is done from the cluster right? `grpcurl -v -insecure $MY_IP.xip.io:443 hello.HelloService/SayHello`

[2020-07-14 02:44] aledbf commented on #5886
No, my machine

[2020-07-14 02:45] Rahul7794 commented on #5886
I am getting `Failed to dial target host "127.0.0.1.xip.io:443": dial tcp 127.0.0.1:443: connect: connection refused`

[2020-07-14 02:46] aledbf commented on #5886
Please check the kind links

[2020-07-14 06:21] nhoughto commented on #4469
I'm hitting what looks like this on 0.30.0

[code]

[2020-07-14 06:27] Rahul7794 commented on #5886
I tried the `https://kind.sigs.k8s.io/docs/user/ingress/#create-cluster` but no success. I tried with the fortune teller example and I was not able to run that too.

Ingress definition :
[code]

but still ending up getting `Failed to dial target host "127.0.0.1.xip.io:443": context deadline exceeded`
when I run `grpcurl -insecure $MY_IP.xip.io:443 build.stack.fortune.FortuneTeller/Predict`

[2020-07-14 09:40] sadjunky commented on #3202
@tusciucalecs IPs are not whitelisted for TCP services, an alternative would be to create a separate firewall for the TCP services and whitelist the IPs at the firewall level.

[2020-07-14 12:03] davi5e commented on #5882
Same issue when using named ports with a NodePort Service (type Local).

Was OK in 1.19.0 (chart version 2.10.0), it manifests after I upgraded to 2.11.0. I had to rollback and keep using the previous version for the time being.

[2020-07-14 12:59] jimvandervoort opened #5889 "Suggestion: Support more secure default configuration to prevent IP Spoofing for badly configured backends"
ingress-nginx should support more headers commonly used to determine client ip-address. Currently only `X-Forwarded-For` and `X-Real-Ip` are set to the client ip address. This can prevent some IP Spoofing attacks in badly configured applictions.

I've recently come accross some application code that used something very similair to [this answer on Stack Overflow](https://stackoverflow.com/a/55790):

[2020-07-14 13:25] jzhang046 opened #5890 "Release 0.34.0 Break Regex Paths"
**NGINX Ingress controller version**: 0.34.0

**Kubernetes version** (use `kubectl version`): v1.9.6

**What happened**:
With #5691 merged and released in 0.34.0, following issues have occurred:
* The behaviour is not consistent with the [documentation](https://github.com/kubernetes/ingress-nginx/blame/master/docs/user-guide/ingress-path-matching.md#L115), in which it says that

* Regex path does

[2020-07-14 18:15] mrahbar opened #5891 "Rate limiting of stream (aka tcp services) endpoint"
/triage support

I previously asked this question in the kubernetes channel #ingress-nginx without any answer.

[2020-07-14 18:25] aledbf commented on #5891
The TCP/UDP features are kept to the minimum. This is because Ingress never considered L4, something that is being done in the next iteration [service-apis](https://github.com/kubernetes-sigs/service-apis)

The links you posted apply to Ingress definitions.

[2020-07-14 18:58] nivak47 opened #5892 "Unable to use a certificate created by the backend server, when using nginx ingress controller"
I have an ingress controller that is responsible for routing traffic to the backend services. Each service is run as a container and exposes 8443. Externally the deployment exposes 40000, which is routed to 8443.

There are three such services. I have modified each service to be configured for HTTPS over 8443, and when run individually as a stand alone container, it works fine (SSL included), but

[2020-07-14 19:25] gfokkema opened #5893 "Load balancing ignores topologyKeys defined by ServiceTopology featuregate"
By default the Nginx Ingress controller seems to ignore all settings related to the [ServiceTopology feature set](https://kubernetes.io/docs/concepts/services-networking/service-topology/).

Judging by the [Nginx #service-upstream](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#service-upstream) documentation this is because the service definition is bypasse

[2020-07-14 19:32] karan-kapoor90 opened #5894 "Path or hostname based routing not working on Docker for Mac"
**NGINX Ingress controller version**: Release - v0.34.0; nginx version - nginx/1.19.1

**Kubernetes version** (use `kubectl version`): Docker for Mac; kubernetes 1.16.5

**Environment**:

- **Cloud provider or hardware configuration**: MacBook Pro
- **OS** (e.g. from /etc/os-release): Mac OS Catalina 10.15.5
- **Kernel** (e.g. `uname -a`): Darwin Kernel Version 19.5.0: Tue May 26 20:41:44 PDT 2020

[2020-07-14 19:39] psanders commented on #5366
@RagingPuppies

Thanks a lot! That help me with the issue.

[2020-07-14 19:49] aledbf commented on #5893
That is correct.

If you want to use ServiceTopology you should use the service-upstream annotation. The most important downsides are described in [known-issues](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#known-issues)

Please check https://github.com/kubernetes/ingress-nginx/blob/master/docs/enhancements/20190815-zone-aware-routing.md

[2020-07-14 20:08] mrahbar commented on #5891
Thanks for clarifications. As I understand your point there is no "official" (or planned) way of supporting rate limiting for L4 services. I'm fine with that. I have to find my way around that. I think feature creep can be harmful for the project would a pull request on this matter have a chance of being merge?

[2020-07-14 20:12] aledbf commented on #5891
First, apologies if that is your perception. Please check https://github.com/kubernetes/ingress-nginx/issues/5721

[2020-07-14 20:24] #5772 closed

[2020-07-14 20:35] gfokkema commented on #5893
Thank you very much for the informative comment!
So the feature I was trying to hint at was already fully specced.

I did think to search the list of issues, but was not aware of the enhancements documents.
There seem to be some changes in naming with regards to that enhancement in 1.17, but I guess there's no need for this issue then :)

[2020-07-14 21:12] aledbf commented on #5894
This is docker for mac thing/issue.

If you use `host: app.127.0.0.1.xip.io` it works fine

[2020-07-14 23:38] hairyhenderson commented on #5883
@aledbf ok... that _may_ be orthogonal, though obviously it would be good to have the OpenTracing libraries up-to-date. I've noticed that the Jaeger client was [recently updated](https://github.com/jaegertracing/jaeger-client-cpp/releases/tag/v0.6.0), so it may be useful to bump that.

From an outsider's perspective it _seems_ that a bit more effort is being put towards OpenTelemetry right now, wh

[2020-07-14 23:40] aledbf commented on #5883
I agree with that. Now convince @rnburn to write a new nginx module :wink:

[2020-07-15 00:11] hairyhenderson commented on #5883
@aledbf I have no relationship with @rnburn and I'm sure he's under no obligation to listen to me 😉

There's also a feature request https://github.com/opentracing-contrib/nginx-opentracing/issues/132 that may make it even easier to use ingress-nginx with opentelemetry, as it would solve the propagation issue. I'm just putting it here for reference.

[2020-07-15 00:12] aledbf commented on #5883
I am aware of that issue :) https://github.com/kubernetes/ingress-nginx/issues/5716

[2020-07-15 01:48] sharkymcdongles commented on #5607
I would be inclined to agree with you on the above points except for the fact the Nginx ingress already does try to include such audit ass covering with the modsecurity rules being supported out of the box via configmap among other things. I also see no reason form a functionality standpoint to return anything when navigating to an ingress controller directly via the IP because this can be used to

[2020-07-15 01:58] JohnGalt1717 commented on #5607
And I might add, the argument about whether or not it’s a security issue is immaterial.  A huge portion of the use of this ingress is for sites that must be pci dss compliant.

Hence it doesn’t make a hill of beans difference if it is or isn’t. I tested 5 certification systems that are certified by pci to do so. 100% of them fail you if they get a self-signed cert back.

Hence the only reasonable

[2020-07-15 11:09] kmindi commented on #4911
/remove-lifecycle stale

[2020-07-15 14:56] aledbf commented on #5248
@lruslan please comment in #4352

[2020-07-15 15:02] afsilvasantos commented on #5875
Hi @geekette86
So i managed to make a custom default backend work, but only partially. I have a server-snippet in my Ingress resource, which blocks all IP's except some. And i wanted to present a custom 403 error page, however, i managed only to present 404 or 502 error pages and i can't understand why.

This is my Ingress annotations (simplified for security reasons):
`nginx.ingress.kubernetes.io

[2020-07-15 18:12] #5890 closed

[2020-07-15 19:53] mikalai-t commented on #5401
@andrei-matei Kelsey's cluster works perfectly even without additional CNI plugins and kubelet SystemD services installed on master nodes. All you need is to add a route to Services' CIDR `10.32.0.0/24` using worker node IPs as "next-hop" on master nodes **only**.
In this way I've got `ingress-nginx` (deployed from "bare-metal" manifest) and `cert-manager` webhooks working, but unfortunately not t

[2020-07-15 20:53] aledbf commented on #5890
@jzhang046 we just release 0.34.1 reverting that change. I am adding new e2e tests to avoid this problem in the future

[2020-07-16 06:28] waelghaith opened #5902 "gRPC client can't reachable gRPC server"
**NGINX Ingress controller version**:
Helm chart version: nginx-ingress-1.40.3
APP VERSION: 0.32.0

**Kubernetes version** (use `kubectl version`):
EKS v1.16.8

**Environment**:

- **Cloud provider or hardware configuration**:
      AWS
- **Others**:
   nginx-ingress Loadbalancer: ELB & NLB
   TLS Termination with cert-manager

**What happened**:
When I work with a gRPC [example](https://kubernete

[2020-07-16 10:02] boxcee commented on #5583
Yeah, seems like an odd approach to just delete something.

[2020-07-16 12:41] appunni-dishq opened #5903 "Are we deprecating "whilelist" from ingress as it is a racial stereo typing ?"
Is there any ETA for supporting a new term with backward compatibility until next major release ?

[2020-07-16 16:47] jeisen commented on #2924
As long as overriding the buckets is optional and documented clearly (with potential caveats), I would also strongly benefit from expanding/replacing the latency buckets. We have some high-latency ingresses where we would like to differentiate between 11s and 30s, and we'd consider dropping some of the smaller buckets to get there.

Ideally, the more powerful feature would be to allow setting buck

[2020-07-17 06:52] saktthevel opened #5904 "routing context path"
i want to access my application by this below url
http://xxxxxxxx.ap-south-1.elb.amazonaws.com/contextpathone/health/ping
while accessing with http://nodeip:nodeport/contextpathone/health/ping its working fine

i used below config to my ingress
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/use-r

[2020-07-17 09:38] KuangJie7 commented on #2059
Facing the same problem...
Is there any way to solve this?

[2020-07-17 11:18] praseodym commented on #5325
Because there's no easy fix for this in ingress-nginx, we've updated Linkerd docs with a note to only use numeric ports: https://linkerd.io/2/tasks/using-ingress/

[2020-07-17 11:18] #5325 closed

[2020-07-17 11:21] guptapranjal9587 opened #5910 "ssl_client_certificate and how Secret from Ingress is utilized."
`ssl_client_certificate                  /etc/ingress-controller/ssl/ca-namespace-secretName.pem;`
 I want to know how this directive comes in generated `nginx.conf` and how and when Ingress rule is utilized during creating this directive inside.
The problem I am facing is that I have Ingress in 2 namespaces `ns-a` and `ns- b` and in `nginx.conf` only` ns-a `is present.
`nginx.ingress.kubernetes.i

[2020-07-17 12:16] dddddai opened #5912 "Should they use RWMutex?"
Should they use RWMutex instead of Mutex to avoid the contention between readings?

https://github.com/kubernetes/ingress-nginx/blob/55820ef1e8b93efd207cced1f9d0e3006fed1d95/internal/net/ssl/ssl.go#L513-L518

https://github.com/kubernetes/ingress-nginx/blob/29c5d770688b04d0a8beedf70aebd76990332d56/internal/ingress/controller/store/objectref.go#L82-L130

If it's necessary, I am willing to contribut

[2020-07-17 13:44] #5108 closed

[2020-07-17 14:45] #4954 closed

[2020-07-17 16:35] abjrcode commented on #2724
I came across this although I am NOT using `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"`.
I have an `NLB` listening on `HTTPS` & `HTTP` which forwards requests as `HTTP` to NGINX which I have configured in turn to forward all traffic to port `http` (`80`).
My ingress is configured with `"nginx.ingress.kubernetes.io/force-ssl-redirect": "true"` for SSL redirection and I am gett

[2020-07-17 20:54] yashraj021 commented on #5750
Yo. click on the window and just type "thisisunsafe".

[2020-07-17 22:32] Bessonov commented on #3593
/remove-lifecycle stale

[2020-07-18 04:48] Rahul7794 commented on #5668
@DandyDeveloper I have recently opened a support/triage ticket for running nginx ingress with grpc service [here](https://github.com/kubernetes/ingress-nginx/issues/5886).
Can you please let me know what I am doing wrong in my setup. I am not able to make it work.

[2020-07-18 09:21] kmindi commented on #5238
/remove-lifecycle stale

[2020-07-18 12:37] dorongutman commented on #3427
@michaelgeorgeattard how did you manage to do the reverse proxy to cloudfront eventually?

[2020-07-18 13:07] #5116 closed

[2020-07-18 18:12] #5118 closed

[2020-07-18 18:12] #5121 closed

[2020-07-19 07:30] frittentheke commented on #4705
/remove-lifecycle rotten

[2020-07-19 08:26] #4486 closed

[2020-07-20 03:46] KongZ commented on #2724
@abjrcode It is on my answer. It is the complete solution. Just configure `ingress-nginx` value file and your app ingress according to my coment.

https://github.com/kubernetes/ingress-nginx/issues/2724#issuecomment-593769295

[2020-07-20 07:19] pierluigilenoci commented on #4621
/remove-lifecycle rotten

[2020-07-20 07:19] pierluigilenoci commented on #4621
/reopen

[2020-07-20 09:21] AmitBenAmi opened #5915 "ValidatingWebhookConfiguration should apply to ConfigMap and not just Ingress creation/update"
The `ValidatingWebhookConfiguration` only validates the ingress resources upon `CREATE/UPDATE`, but the `ConfigMap` resources also should be validated for incoming configuration changes.
The current workflow handles misconfigurations coming from ingress (like invalid conditions and unknown variables in the NGINX configuration), but it doesn't work for misconfigurations coming from the `ConfigMap`

[2020-07-20 09:35] alexpovel commented on #4665
Second this. I cannot be sure, but I suspect the link has moved to <https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/cloud/deploy.yaml>.

[2020-07-20 12:04] frgomes opened #5916 "Attempt to acquire IP from cloud provider is forbidden"
## Describe the bug
We need multiple namespaces have the ability to obtain separate IP addresses allocated from the cloud infrastructure.
We've employed instructions (slightly adapted) from https://kubernetes.github.io/ingress-nginx/examples/static-ip/ ended up on error

  No namespace with name j1111cc5555 found: namespaces "j1111cc5555" is forbidden: User "system:serviceaccount:ingress-nginx:ing

[2020-07-20 12:05] frgomes commented on #5916
Maybe duplicate of kubernetes/ingress-nginx#5758 ?

[2020-07-20 12:06] frgomes commented on #5916
As found on #5758, I've double checked that the role mentions permission to access namespaces:

[code]

[2020-07-20 12:24] aledbf commented on #5916
The example is for GCP. There is no support for static IP addresses in DO
https://www.digitalocean.com/docs/kubernetes/how-to/configure-load-balancers/

[2020-07-20 12:26] aledbf commented on #5916
Not sure what do you mean with that. The ingress controller does not allocate any IP address. It only uses the kubernetes IP address from the service references in the flag `--publish-service` to update the ingress status field

[2020-07-20 13:40] frgomes commented on #5916
@aledbf

https://www.digitalocean.com/docs/kubernetes/how-to/configure-load-balancers/

Right. I've changed the YAML so that it asks for a load balancer, obtaining a dynamically allocated IP address.
This is working fine as usual.

 Yes, correct. The service allocates the IP address. This is happening as expected as shown in step 3.
[code]

Rephrasing what I would expect to see: I would expect to

[2020-07-20 14:22] frgomes commented on #5916
@aledbf: I'm installing an ingress controller as usual on namespace ``ingress-nginx``.  Then I'm trying these two yaml files as above, which I would expect would deploy another load balancer (which works) and would deploy a second ingress controller. I will double check everything tonight, I will do some additional tests and try some variants and let you know tomorrow.

[2020-07-20 15:29] Nick-Bishop-042020 opened #5917 "Version 1.41.0 May Have Broken SSL Wild-Card Cerificate"
**NGINX Ingress controller version**: 1.41.0

**Kubernetes version** (use `kubectl version`): 1.15.11

**Environment**: DEV, QA and UAT

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: After deploying NGINX chart using version 1.41 stopped working with error:

de

[2020-07-20 16:14] aledbf commented on #5917
Closing. Please check the latest version 1.41.1 where the issue is fixed.

[2020-07-20 16:14] #5917 closed

[2020-07-20 16:15] aledbf commented on #5917
Also, from the txt you posted, you don't need the rewrite annotation, a `- path: /` works just fine

[2020-07-20 16:22] Nick-Bishop-042020 commented on #5917
What was the issue?  Do you have a link to it please?

[2020-07-20 16:23] aledbf commented on #5917
https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.34.1

[2020-07-20 17:59] #5057 closed

[2020-07-20 21:08] abjrcode commented on #2724
Thank you @KongZ for your suggestion. I will provide some more guidance for people coming across this and more options as I had a chance to take a thorough look at the code.

There are two choices for load balancers, at least when it comes to AWS.
I am assuming you want to terminate TLS at the load balancer level and we're dealing strictly with HTTPS & HTTP. If you are interested in TCP, UDP then

[2020-07-20 22:34] amarsgithub opened #5918 "Unable to talk to multiple backends using different ingress'"
## Problem

So I have two different services running in two different namespaces -- the first service is called GSO and the second service is called SLK. The GSO is a service that's able to process grpc requests, and the SLK service is able to process http requests. I have one ingress-nginx controller deployed, and I am only able to hit the endpoint of one service at a time. In other words -- when

[2020-07-20 23:21] invince commented on #1824
That's true. The stable/nginx-ingress works not the nginx/nginx-ingress

[2020-07-21 05:16] charlie6679 opened #5919 "Unable to use ClusterIP type of ingress-controller service on k8s"
/Does anyone know how to use the clusterIP type of ingress-controller service?

I use "kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.34.1/deploy/static/provider/baremetal/deploy.yaml" to set up the ingress controller, but there are two kinds of service. (from https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal)

The NodePort can work.
I want to

[2020-07-21 08:24] MengqiWu opened #5920 "Why use "location ~*" on has rewrite or regex"
controller generate nginx.conf location use "~*" when has rewrite annotation, why ?

how can we use rewrite on common location ?

https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/template/template.go#L378

[2020-07-21 09:16] nandeeshb09 opened #5921 "Too many redirect issue on 0.32 ingress controller version."
Hi Team,

Need a help on this, as we are trying to upgrade ingress controller from 0.17.1 to 0.32.

post upgrade we are facing too many redirect issue and in ingress rule below are the annotations which we are using.

kubernetes EKS version: 1.14.9
ingress controller: 0.32

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    field.cattle.io/publicEndpoints: '[{"addresses":[""

[2020-07-21 10:12] Yangstatus commented on #5921
Please refer to the link below. This document may be helpful to you.

https://kubernetes.github.io/ingress-nginx/examples/rewrite/

[2020-07-21 10:55] nandeeshb09 commented on #5921
@Yangstatus  We had referred provided link only and force redirect is working in 0.17.1 version , but not in 0.32 version.
Anything we need to add extra thing in annotation.

[2020-07-21 11:00] sbalinen opened #5922 "Pass client certificate to the backend service"
Hello,

We have an spring boot java application running on kubernetes which is being accessed through ingress. We have an requirement for which we have to pass the client certificate to the backend spring boot applicaiton which is running on HTTPS. When i directly hit the pod using curl and passing the certificate it's working fine. But when hitting it through the Ingress URL it's failing and thro

[2020-07-21 11:47] aledbf commented on #5910
@guptapranjal9587 the directive ssl_client_certificate is not supported in locations
http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_client_certificate

[2020-07-21 11:47] #5910 closed

[2020-07-21 11:48] aledbf commented on #5920
Please check https://github.com/kubernetes/ingress-nginx/pull/5691#issuecomment-647826084

[2020-07-21 11:48] #5920 closed

[2020-07-21 11:49] aledbf commented on #5921
There is no tls section in the ingress. That annotation will not work.

[2020-07-21 11:50] aledbf commented on #5921
@nandeeshb09 how are you installing the ingress controller?

[2020-07-21 11:51] aledbf commented on #5919
Download https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.34.1/deploy/static/provider/baremetal/deploy.yaml and change `type: NodePort` with `type: ClusterIP`

[2020-07-21 11:51] #5919 closed

[2020-07-21 11:52] #5893 closed

[2020-07-21 12:07] nandeeshb09 commented on #5921
@aledbf We have yaml files and installing it through kubectl commmand.

[2020-07-21 12:12] aledbf commented on #5921
@nandeeshb09 please provide more details. What you said is not very informative.
What steps did you follow?
https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb
or
https://kubernetes.github.io/ingress-nginx/deploy/#tls-termination-in-aws-load-balancer-elb

Are you terminating SSL in the LB?

[2020-07-21 12:13] aledbf commented on #5921
Did you update the image? Or a new deployment?

For that upgrade path, you need a new installation

[2020-07-21 12:57] nandeeshb09 commented on #5921
@aledbf Il give you the more details here.
Did you update the image? Or a new deployment? -- Yes edited the image directly.

As we have ingress controller which will be create classic load balancer(CLB) not ALB nor NLB.
Current version which we have 0.17.1 in production and its working with this annotation(nginx.ingress.kubernetes.io/force-ssl-redirect: "true") without an issue.
Tried to upgrade f

[2020-07-21 13:02] aledbf commented on #5921
@nandeeshb09 like I mentioned in a previous comment, for that upgrade path you cannot just update the image, you need a new deployment. Please use https://kubernetes.github.io/ingress-nginx/deploy/#tls-termination-in-aws-load-balancer-elb if your intention is to terminate TLS in the load balancer.

[2020-07-21 13:02] #5921 closed

[2020-07-21 18:47] ky-to opened #5925 "SSL Server cert in Ingress controller is not working"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeState:"clean", BuildDate:"2020-03-25T14:58:59Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"17"

[2020-07-22 00:28] djagannath-asapp commented on #5667
We had to roll our masters and the IPs in our Kubernetes API got stale due to a DNS issue. Ingress nginx couldn't talk to the API and then it cleared out all of the backends.

[2020-07-22 06:13] lachlancooper opened #5928 "SSL expiration metrics are not removed when TLS is disabled"
**NGINX Ingress controller version**: 0.28.0

**Kubernetes version** (use `kubectl version`): v1.15.11-eks-af3caf

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): 4.14.173-137.229.amzn2.x86_64
- **Install tools**: Helm v2.14.3
- **Others**: cert-manager v0.13.1

**What happened**:

We ini

[2020-07-22 06:16] #5719 closed

[2020-07-22 06:16] mpolenchuk commented on #5719
fixed by means of deployment scripts

[2020-07-22 08:04] 123BLiN commented on #2924
What I don't understand is why to remove useful metrics instead of hide them under the flag which defaults to false, leaving users with the only options to collect them from pods directly and having actually the same high cardinality metrics in Prometheus but with much more efforts?
Also, I think some part of the users collect metrics with Prometheus to just send them to the remote storages like V

[2020-07-22 10:26] Constantin07 commented on #5690
Even with canary deployment set to 0 I'm still getting log errors.

[2020-07-22 12:28] lbs-rodrigo commented on #5401
@aduncmj I found this solution https://stackoverflow.com/questions/61365202/nginx-ingress-service-ingress-nginx-controller-admission-not-found

kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission

[2020-07-22 14:46] gjf20 commented on #5758
Hello,

I ran into a similar problem a while back and found a workaround for the issue.  In my situation, my cluster was provisioned on GKE with Kubernetes version 1.14.10 and we wanted to use the nginx ingress controller in limited namespaces.  This was a public cluster.  I downloaded the [file indicated](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.34.1/deploy/static/

[2020-07-22 16:40] opensourceonly commented on #5401
@aduncmj  i did the same, thank you for sharing the findings. I m curious if this can be handled without manual intervention.

[2020-07-22 17:58] sbsends commented on #5902
@waelghaith Hey, we are having the identical issue on AWS. From the testing we have done, it seems like an AWS specific nginx deployment may be the problem (https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.34.1/deploy/static/provider/aws/deploy.yaml).

Have you made any progress?

[2020-07-22 17:59] sbsends commented on #5886
@Rahul7794 Hey, we are having an identical issue on AWS. From the testing we have done, it seems like an AWS specific nginx deployment may be the problem (https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.34.1/deploy/static/provider/aws/deploy.yaml).

Are you using AWS?

Have you made any progress?

[2020-07-22 19:59] derekargueta commented on #3659
@ElvinEfendi I'm interested in contributing the implementation, should I open a new issue to track that?

[2020-07-22 20:33] waelghaith commented on #5902
I solved the issue
Ingress service LoadBalancer Network type  + gRPC client must be working with secure channel and terminate SSL on Nginx Ingress
Ingress config:

[code]

[2020-07-22 20:33] #5902 closed

[2020-07-22 23:51] Rahul7794 commented on #5886
@sbsends hey, Yes I am using AWS, and I haven't made any progress on the issue, I cannot just make it work.
Meanwhile, I just moved on to use Envoy with headless service in Kubernetes and it serves my purpose. For info on using Envoy you can refer (here)[https://blog.markvincze.com/how-to-use-envoy-as-a-load-balancer-in-kubernetes/]

[2020-07-23 03:14] jroper commented on #5496
Here's my ugly configuration snippet to work around:

[code]

[2020-07-23 03:35] Rahul7794 commented on #5886
@sbsends you can also refer [here](https://medium.com/@rhlkmr089/grpc-eks-and-envoy-4675afd788b7) for Envoy setting if you are looking to move ahead with other Ingresses.

[2020-07-23 05:09] reaperhero opened #5929 "proemtheus federate timeout"
[code]

the package is very big

my prometheus config:
[code]

kubectl version
[code]

When I annotate ingress-nginx-Endpoints to capture job, the memory drops from 9G to 300M, and My version of Ingress-nginx-Endpoints is 0.18.0. Can you take a look? Thank you very much

[2020-07-23 05:46] namsoila commented on #5918
Maybe add the `kubernetes.io/ingress.class: "nginx"` and annotation to both since it is missing in the second Ingress. Might also change `nginx.ingress.kubernetes.io/backend-protocol: "GRPC"` to `nginx.ingress.kubernetes.io/backend-protocol: "GRPCS"` if needed.

[2020-07-23 05:55] namsoila commented on #5886
May want to set a specific path value for the grpc service that aligns with the proto file. Currently you have an empty path value or `path: /`.

Examples:
[code]

This allows the ingress to route the grpc requests specifically to the service.

In [this](https://github.com/kubernetes/ingress-nginx/issues/5886#issuecomment-657995369) case the ingress class annotation are not complete whereas [here]

[2020-07-23 06:54] waelghaith commented on #5886
Your gRPC working with a secure channel ?!
What is Nginx Ingress LoadBalancer type ?!

[2020-07-23 13:49] zillaer opened #5930 "The port 80 timeout when create ingress in last version"
**NGINX Ingress controller version**:0.34.1

**Kubernetes version** (use `kubectl version`):1.14.9

**Environment**:

- **Cloud provider or hardware configuration**:baremetal
- **OS** (e.g. from /etc/os-release):centos7.7
- **Kernel** (e.g. `uname -a`):3.10.0-957.12.1.el7.x86_64
- **Install tools**:deploy.yaml
- **Others**:daemonset

**What happened**:
The port 80 timeout when create ingress

**Wh

[2020-07-23 16:16] sharkymcdongles commented on #5607
I tried the suggested return 444 and created an nginx.tmpl:

`{{ $all := . }}
{{ $servers := .Servers }}
{{ $cfg := .Cfg }}
{{ $IsIPV6Enabled := .IsIPV6Enabled }}
{{ $healthzURI := .HealthzURI }}
{{ $backends := .Backends }}
{{ $proxyHeaders := .ProxySetHeaders }}
{{ $addHeaders := .AddHeaders }}

# Configuration checksum: {{ $all.Cfg.Checksum }}

# setup custom paths that do not require root acce

[2020-07-23 16:32] JohnGalt1717 commented on #5607
If you return anything it will come back with a cert and you'll be failed by PCI. No reponse or an otherwise valid cert is your only option. They will accept any cert that is time valid and issued by a global CA. (including let's encrypt)

[2020-07-23 16:40] aledbf commented on #5607
@sharkymcdongles the SSL part is done in lua https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/lua/certificate.lua#L226

you need to change this part
[code]

[2020-07-23 17:29] sharkymcdongles commented on #5607
Is this even possible to target from the custom go templating without
building my own image/binaries?

Because if I have to build it on my own that seems a bit much for such a
simple change. I can do that sure but then I need to maintain this for
every update etc.

On Thu, 23 Jul 2020, 18:41 Manuel Alejandro de Brito Fontes, <
notifications@github.com> wrote:

[2020-07-23 17:40] sharkymcdongles commented on #5607
Never-ending I can just create another cm and mount it there. Silly
question.

On Thu, 23 Jul 2020, 19:29 Bryan Carmichael, <bryanfcarmichael@gmail.com>
wrote:

[2020-07-23 18:08] #4222 closed

[2020-07-23 21:09] sharkymcdongles commented on #5607
Tried your solution @aledbf and get:

[code]

[2020-07-23 21:18] sharkymcdongles commented on #5607
@aledbf just to be clear I did exactly as you pasted. I created a configmap from the lua file you linked after I edited it to have your change:

`k create cm certificate-lua --from-file=/tmp/certificate.lua`

I then edited the Nginx values to have extra mounts like for the nginx.conf template:

[code]

Please let me know what I am doing stupid 😄

[2020-07-23 21:35] aledbf commented on #5607
@sharkymcdongles you need to mount the file in the directory, like
[code]

[2020-07-23 22:36] sharkymcdongles commented on #5607
@aledbf Thank you! I knew I was doing something stupid. 😅

Somehow though with the lua change for the SSL it now has made it to where the return 444 for the nonSSL takes me to the first server block after the default host for some reason.

What I have for the default after template generation:

[code]

Here is a slightly bigger paste:

[code]

Not quite sure where it is going wrong or why it is ta

[2020-07-23 22:58] aledbf commented on #5607
@JohnGalt1717 use the next patch to change the template. Only this change is required
[code]

[2020-07-23 23:39] sharkymcdongles commented on #5607
@aledbf thanks now it works! I realize now that I had accidentally begun adding a second if clause to try to solve the issue with the SSL not returning and forgot to revert. After removing it as you suggested it works fine.

Amazing stuff! Thanks so much! I do agree with @JohnGalt1717 that adding this as a oneliner configmap toggle is probably the best option, but it is way less urgent since I hav

[2020-07-23 23:43] aledbf commented on #5607
This is documented https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/custom-template/
Basically what you did. A more automated thing could lead to unexpected behavior.
from the page: `Please note the template is tied to the Go code. Do not change names in the variable $cfg.`
There is no way to bypass that with the current approach of using a go template. You need to test th

[2020-07-24 00:09] sharkymcdongles commented on #5607
You are correct, and Iagree it should thoroughly be tested first. That
being said once I do test and have it working for sure, I have no way to
roll the settings out without manually adding configmaps that are then
referenced by the values yaml for extravolumes and extramounts. A helm
template should he able to template anything it might need or depend on in
my opinion as the goal is a single unit

[2020-07-24 00:12] aledbf commented on #5607
Right. The problem here is the go template comes from the docker image. Not sure is there an easy way to copy the template from the image.

[2020-07-24 02:19] kundan2707 opened #5932 "MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found"
**NGINX Ingress controller version**:0.34.1

**Kubernetes version (use kubectl version)**:1.18.1

**Environment**:

**Cloud provider or hardware configuration**:baremetal
**OS** (e.g. from /etc/os-release):ubuntu16.04
**Kernel** (e.g. `uname -a`):4.4.0-184-generic.x86_64
**Install tools**:deploy.yaml

**What happened**:
ingress-nginx-admission-create and ingress-nginx-admission-patch started intia

[2020-07-24 02:23] kundan2707 commented on #5932
/kind triage/support

[2020-07-24 02:33] kundan2707 commented on #5493
/unassign

[2020-07-24 03:23] zillaer commented on #5930
Delete the validatingwebhookconfigurations can reslove this case

[2020-07-24 03:23] #5930 closed

[2020-07-24 03:52] sharkymcdongles commented on #5607
I don't want to copy it from image and have it in chart. It can just be
documented that people can create cms from files in rootfs dir in github to
overwrite and change behaviour (with a bunch of warnings naturally). Then
they can supply the templates base64ed and then the template will generate
a configmap with a key that can be reffed and mounted in the correct place.
Base64 just because putting

[2020-07-24 08:07] benpettman commented on #3717
Will this be fixed?

[2020-07-24 09:38] zeeZ commented on #5922
This sets `proxy_set_header ssl-client-cert        $ssl_client_escaped_cert;` in the nginx config. It doesn't actually do client authentication with the backend, but passes the client's certificate as a `ssl-client-cert` header.

nginx cannot do client certificate authentication with the backend by using the client's certificate, because it does not possess the key.

You'll have to go the [SSL pas

[2020-07-24 10:05] sbalinen commented on #5922
@zeeZ   Thanks for responding. I was able to figure out a way. Same what you have explained. I have one more question is it possible to enable Client certificate authentication only for a particular URL on a host instead of all URL's

[2020-07-24 11:52] esc-ga commented on #4888
/remove-lifecycle stale

[2020-07-24 13:26] aledbf commented on #5932
The secret is created after this two jobs finish.

[2020-07-24 13:26] #5932 closed

[2020-07-24 13:33] afsilvasantos commented on #5875
Nobody that can help? @aledbf

[2020-07-24 13:37] aledbf commented on #5875
The 403 status code is returned by your app or you are using another annotation?

[2020-07-24 13:46] afsilvasantos commented on #5875
Hi @aledbf
It is returned by the Nginx, the default Nginx page is shown. I am creating an Ingress resource that points to a service with a wrong Service port (which results in 502 Bad Gateway).
But as soon as i apply the Server snippet for IP blocking, it stops showing the error page i setup in the custom backend image.

The annotations are just the ones above.

[2020-07-24 13:48] aledbf commented on #5875
Ok, that's the issue. The annotation `nginx.ingress.kubernetes.io/default-backend` is applied inside the nginx location for the path in the ingress and the server-snippet is above that (never reaches the location to get the custom error configuration)

[2020-07-24 13:50] afsilvasantos commented on #5875
Ok, makes sense. Is there a way to overcome that? Like applying IP blocking for location?

[2020-07-24 13:53] aledbf commented on #5875
Use [whitelist-source-range](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#whitelist-source-range) or you can try to more the server-snippet to a configuration-snippet (not sure how are you writing the blocking)

[2020-07-24 13:59] afsilvasantos commented on #5875
I do write the server snippet as if it was the nginx.conf file: `allow x; allow y; deny all;`
I can try whitelist-source-range. About the configuration-snippet, can i apply these allow/deny rules to a specific location? Like:
[code]

[2020-07-24 14:38] afsilvasantos commented on #5875
I will close this, as the whitelist-source-range works fine for my use case. If you can please explain the configuration-snippet i would appreciate. Thanks for your help @aledbf !

[2020-07-24 14:38] #5875 closed

[2020-07-24 15:01] aledbf commented on #5875
Check the generated configuration with the whitelist-source-range annotation (you don't need to define a new location)

[2020-07-24 15:06] #5829 closed

[2020-07-24 15:14] aledbf commented on #4917
Closing. Please use a similar approach to https://www.elvinefendi.com/2019/11/22/ingress-nginx-openidc-plugin.html

[2020-07-24 15:14] #4917 closed

[2020-07-24 21:41] guanzo commented on #4121
I managed to get it working by only deleting the nginx service, and recreating it with `externalTrafficPolicy: Local`, rather than deleting the entire helm installation. Note that your k8s provider may also delete the underlying LoadBalancer. I was unsure of that and took a huge risk by deleting the service.. but it worked out :). I'm on GKE.

[2020-07-25 05:28] bluehtt commented on #5401
you can try this.  https://github.com/kubernetes/ingress-nginx/pull/5445
this worked for me.

[2020-07-25 05:29] bluehtt commented on #5401
https://github.com/kubernetes/ingress-nginx/issues/5401#issuecomment-656603086

[2020-07-25 05:33] bluehtt commented on #5401
https://github.com/kubernetes/ingress-nginx/issues/5401#issuecomment-656603086

[2020-07-25 05:34] chiragggupta90 opened #5934 "Unable to access gaming app mario from nginx ingress node port/cluster IP"
**NGINX Ingress controller version**:
0.34.1
**Kubernetes version** (use `kubectl version`):
1.13

**Environment**:
Ubuntu
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Hi Team, I am running nginx ingress on kubernetes 1.13  and able to access pod (basic one. e.g. giving

[2020-07-25 05:35] bluehtt commented on #5401
@opensourceonly  This worked for me, you can try it.  https://github.com/kubernetes/ingress-nginx/pull/5445

[2020-07-25 06:38] aadatkhanna opened #5935 "AWS ELB with nginx controller https routing issue(400 The plain HTTP request was sent to HTTPS port)"
Hi,

I have deployed one nodejs based application and configured nginx ingress controller  to access it using NodePort service type. I am able to access application using both http as well https but when I change the service type to LoadBalancer(AWS NLB). I get http page but when accessing https page it gives 400 error.

I am using path based routing in ingress

Nginx Controller version
==========

[2020-07-25 12:49] #5129 closed

[2020-07-25 13:51] #5177 closed

[2020-07-25 20:57] ramilexe commented on #5771
Hi @aledbf
Isn't possible to determine which SSL certificate to use based on Host? Or selecting a certificate occurs before reading headers?

[2020-07-25 21:28] carnei-ro opened #5936 "NGINX enable/disable lua plugins per Ingress object"
I recently added the "hello-world" plugin to my Ingress Controller (I mounted the volume and activated it in configMap).
As far as I could tell, this plugin will run on all routes that I create (on all objects of the "kind" Ingress).
Is it possible to choose the set of plugins that I want to run through Annotations of the Ingress?
e.g.: Ingress `app-root` does not run any plugin, however in Ingres

[2020-07-25 21:38] aledbf commented on #5771
@ramilexe no because this is done during the SSL handshake http://nginx.org/en/docs/http/configuring_https_servers.html#sni

[2020-07-25 21:40] aledbf commented on #5771
Closing. This works as expected. SNI is a requirement and a fallback certificate can be configured with a flag.
If you want to not return one you need to use a similar approach to https://github.com/kubernetes/ingress-nginx/issues/5607#issuecomment-663271865

[2020-07-25 21:40] #5771 closed

[2020-07-25 22:19] aledbf commented on #5936
@ElvinEfendi ping

[2020-07-26 00:57] aledbf commented on #5935
You are setting annotations are not required or useless for what you are trying to do

Please check the installation for TLS termination in the LB here
https://kubernetes.github.io/ingress-nginx/deploy/#tls-termination-in-aws-load-balancer-elb

You don't have a TLS section, these annotations have no effect

This means you want to terminate TLS in the pod, not the LB. Remove it

You are using a rew

[2020-07-26 00:57] #5935 closed

[2020-07-26 00:58] aledbf commented on #5935
Do you have more ingress definitions? Why you are not setting the host field?

[2020-07-26 02:55] realdream opened #5937 "Does latest ingress-nginx support new ingressClassName api"
acorrding to https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class

The newer ingressClassName field on Ingresses is a replacement for that annotation, but is not a direct equivalent. While the annotation was generally used to reference the name of the Ingress controller that should implement the Ingress, the field is a reference to an IngressClass resource that contains a

[2020-07-26 04:30] aadatkhanna commented on #5935
@aledbf , here are few more details

1. I want to access my application using http and https via NLB endpoint. I don't care about hostname for now hence I am not setting it. In the future it can awslb.example.com. Do you think it is mandatory to mention host in ingress object and that may be the reason why my setup is not working as expected?
2. Like I said I am running a nodejs based application

[2020-07-26 04:38] aadatkhanna commented on #5935
why is this issue closed?

[2020-07-26 04:53] aadatkhanna commented on #5935
@aledbf , I tried your suggestions regarding the annotation but it didn't fix my issue.

[2020-07-26 07:59] cabal-daniel commented on #5206
For anyone stuck, I got it to work with the stable/nginx-ingress helm chart with these configurations right out of the box: https://github.com/helm/charts/tree/master/stable/nginx-ingress#aws-l4-nlb-with-ssl-redirection

[2020-07-26 09:43] johnmikel commented on #5750
But why? What does your comment achieve?

[2020-07-26 09:52] yashraj021 commented on #5750
Ingress uses the self signed certificate and chrome doesnt like it. So just to bypass that error in development environment, you have to press any where in the open tab, and type "thisisunsafe".

[2020-07-26 12:52] jayunit100 opened #5938 "Docs for K8s external and internal IP spaces and smoke testing ingress functionality"
XRef: https://github.com/kubernetes/kubernetes/issues/92999

- Where do we curate docs and support around how to use Ingress controllers with different `ADDRESS` types for k8s?  Seems like theres some confusion around this.
- Is there an nginx conformance test of some sort that can probe an ingress controller that it is functioning properly (by using the same data path that end users might use)?

[2020-07-26 12:54] jayunit100 commented on #5938
cc @mseewooth

[2020-07-26 13:40] wanwenli commented on #856
Hi @zuc, this issue really bothers my team and me, but eventually we have found a way to _bypass_ it, after experimenting many solutions.

Firstly, let me rule out a few potential causes:
* Various timeouts, including proxy-read-timeout, proxy-send-timeout, proxy-connect-timeout (neither setting them in the annotations of the controller or individual ingress helps) and idle timeout on the classic

[2020-07-26 15:25] johnmikel commented on #5750
Handy tip! Thank you so much!

[2020-07-26 16:16] #5176 closed

[2020-07-26 17:28] frgomes commented on #3206
I'm struggling with with kind of trouble for weeks. Literally for weeks.
I'm a software developer but I'm not interested by Go at all. From this perspective, I'm not a software developer, since I'm not even interested on installing Go in my computer, much less changing the code and rebuilding the image as suggested above. From this perspective, I'm just an end user. And, as an end user, I don't ha

[2020-07-26 18:07] frgomes commented on #5916
@aledbf  : I'm clueless.

1. I've reinstalled the cluster from scratch and, as before, the (default) ingress controller (on namespace ``ingress-nginx``) works fine as expected.

2. Then I've undeployed the ingress controller and added ``--watch-namespace=ingress-nginx`` so that it will not react to deployments involving other namespaces.

3. I've restarted the ingress controller and it works as ex

[2020-07-26 19:13] aledbf commented on #5916
@frgomes I am not sure how are you modifying the manifests. Please check what I did

[code]

[2020-07-26 20:51] aledbf commented on #5938
@mseewooth please check the bare-metal considerations https://kubernetes.github.io/ingress-nginx/deploy/baremetal/

To clarify, there is no connection between kubectl, Ingress objects, and the Ingress status field populated by ingress controllers.

By definition, Ingress only supports port 80 and 443, something is hardcoded in kubectl. Keep in mind the ingress object has no context of the ingress

[2020-07-26 20:58] aledbf commented on #5938
I think the link https://kubernetes.github.io/ingress-nginx/deploy/baremetal/ is what you are asking?

I can point to the test for the update of the ingress status but not sure that will make this clear.
The page https://kubernetes.github.io/ingress-nginx/user-guide/cli-arguments/ contains a description of the flags to define the source for the IP/FQDN to use.

By default, we set the flag `--publi

[2020-07-26 21:39] frgomes opened #5939 "Memory consumption of multiple ingress controllers, hundreds or thousands of them"
I would like to share a single ingress controller and a single load balancer among all customers needing only OSI Layer 7 connections.

Those customers needing OSI Layer 4 must have a separate ingress controller and a separate load balancer for their exclusive access, in addition to access to the shared infrastructure for OSI Layer 7 connections.

![Diagram](http://www.plantuml.com/plantuml/png/dP

[2020-07-26 21:44] frgomes commented on #5916
@aledbf : Thanks a lot for your kindness and prompt response :+1:

I think there's some misunderstanding on my part. I explain:

Some time ago I was able to create multiple ingress controllers. I did almost exactly what you did, in fact. So, If I know how to do that and if I was successful before... what the hell I'm asking here in this issue?

Well, I was trying to reduce the memory footprint inv

[2020-07-26 21:44] #5916 closed

[2020-07-26 21:52] aledbf commented on #5939
What do you mean by "fight against..."

If you want one ingress controller, there is no way to avoid watching all namespaces.

One ingress controller per namespace using the flag `--watch-namespaces` is the easiest way to reduce the scope and limit the required resources.

[2020-07-26 21:53] aledbf commented on #5939
How much memory are we talking about?

Keep in mind if you enable things like modsecurity, the memory requirements could be up to 4 times the normal scenario without it

[2020-07-26 22:19] frgomes commented on #5939
In the docs: "Deploying multiple Ingress controllers, of different types (e.g., ingress-nginx & gce), and not specifying a class annotation will result in both or all controllers fighting to satisfy the Ingress, ..." ... but I guess it does not really apply in this case, correct?

The documentation says:

Lets suppose this configuration:
 * the shared ingress controller exposes ingress-class ``ngi

[2020-07-26 22:21] aledbf commented on #5939
ok, that should clarify we are talking about the ingress status field value. That's it. You can have N ingress controllers using the ingress definition but only one should be used to set the status

[2020-07-26 22:25] aledbf commented on #5939
No. If you set the annotation ingress.class, only one ingress controller will use it, unless both are configured with the same `--ingress-class` value.

[2020-07-26 23:28] aledbf commented on #5937
Closing. Yes, IngressClassName is supported since [0.31.0](https://github.com/kubernetes/ingress-nginx/blob/master/Changelog.md#0310)

https://github.com/kubernetes/ingress-nginx/pull/5410

[2020-07-26 23:28] #5937 closed

[2020-07-27 00:53] aledbf commented on #5935
@aadatkhanna please check the link of the deployment for TLS termination in the load balancer.

The error is related to `service.beta.kubernetes.io/aws-load-balancer-ssl-ports: https` sending the traffic to the port 443.
Basically, you are sending HTTP traffic `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: http` to a port expecting HTTPS.

Please check the definition of the link I

[2020-07-27 00:54] aledbf commented on #5935
Also, if you use NLBs, there is no way to redirect HTTP to HTTPS. This is a known side effect of NLBs being an L4 load balancer

[2020-07-27 04:53] LYU2026 opened #5940 "tf serving restful client ingress config"
In tensorflow serving restful api, the initial configuration of Restful port is 8501, how to config the Ingress yaml file to attach containers's path: "http://localhost:8501/v1/models/${MODEL_NAME}:predict" from the outside using a domain web path. thanks

[2020-07-27 09:04] wknapik commented on #4188
/remove-lifecycle stale

[2020-07-27 09:35] GaramNick opened #5941 "AWS EKS migrating to Application Load Balancer results in 308's"
I depoyed a TLS terminating load balancer (`deploy/static/provider/aws/deploy-tls-termination.yaml`) on AWS EKS based on commit `82997a9711a8921d73dd71646fa6c3e3fbb28ab2`

**NGINX Ingress controller version**: 0.34.1

**Kubernetes version** (use `kubectl version`): 1.16.8

**Environment**:

- **Cloud provider or hardware configuration**: AWS `eks.2`
- **OS** (e.g. from /etc/os-release): AMI `1.16.

[2020-07-27 10:02] kingli-crypto commented on #5755
@Bo0km4n Why are metrics filtered out in this case. I have an ingress where host is not specified (empty key) and I am not getting these metrics.

[2020-07-27 11:49] aledbf commented on #5940
Reading the docs https://www.tensorflow.org/tfx/serving/api_rest it seems
`POST http://host:port/v1/models/${MODEL_NAME}[/versions/${VERSION}|/labels/${LABEL}]:predict`

you can create a service for the tensorflow rest API using one path for `/v1/models/`

[2020-07-27 11:49] #5940 closed

[2020-07-27 11:50] aledbf commented on #5940
@LYU2026 please use the #ingress-nginx kubernetes slack channel to ask these questions. Thanks

[2020-07-27 15:21] rofreytag commented on #1759
/reopen

It is still not possible to generate secure cookies

[2020-07-27 20:18] brettjenkins commented on #5830
I worked this out in the end, I adjusted the pfsense pending timeout to a higher number, and it worked fine - seems pfsense wasn't liking passing websockets through itself to a different subnet

[2020-07-27 20:18] #5830 closed

[2020-07-27 22:23] pedrobertao commented on #5668
Please update documentation for gRPC with SSL

[2020-07-27 22:32] williamzhao87 opened #5944 "Redistribution of load with balanced affinity-mode cookie"
Hi,

I have a question about `nginx.ingress.kubernetes.io/affinity-mode` for sticky sessions as the documentation isn't very clear to me about this:

"The affinity mode defines how sticky a session is. Use `balanced` to redistribute some sessions when scaling pods or persistent for maximum stickyness."

So under what criteria and how often do the sessions get "redistributed" when using `balanced`

[2020-07-28 05:06] jaimehrubiks commented on #5755
Same issue here, we only use one host and we don't specify its name.

[2020-07-28 05:47] Bo0km4n commented on #5755
If you don't specify the host name, nginx convert destination host parameter to Pod IP.
This means that the number of time series data will not be duplicated by the host, and the number of time series data will explode.

Maybe, I guess above the code is filtering metrics by host parameter for those reason.
If you want get those metrics, you should specify host parameter. Even if there is only one

[2020-07-28 11:00] evmimagina commented on #5058
Same problem here, same behaviour, deploying on AKS, kubernetes version 1.17.7 .

NGINX Ingress controller
  Release:       v0.34.1
  Build:         v20200715-ingress-nginx-2.11.0-8-gda5fa45e2
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.1

-------------------------------------------------------------------------------

I0728 10:51:24.519834       6 flag

[2020-07-28 13:04] wuchenyanghaoshuai opened #5945 "how to deploy ingress-controller"
hello guys
i want use ingress-controller for my k8s cluster
but i don't find the yaml to fix it
i want know how to deploy ingress-controller for my kubeadm k8s cluster
this url   https://kubernetes.github.io/ingress-nginx/deploy/  i don't know which command is for me
help me
thanks all

[2020-07-28 13:07] aledbf commented on #5945
@wuchenyanghaoshuai from the [Table of contents](https://kubernetes.github.io/ingress-nginx/deploy/) choose the environment where you are installing the ingress controller.
The link shows one `kubectl` command that you can copy.

[2020-07-28 13:07] aledbf commented on #5945
Please use the #kubernetes-novice or #ingress-nginx Kubernetes slack channel to ask this kind of question. Thanks

[2020-07-28 13:12] aledbf commented on #5425
/assign @ElvinEfendi

[2020-07-28 13:54] akashmantry opened #5947 "Uneven distribution of load when nginx ingress scales"
Hey guys, I have been running some load tests with this setup on AWS: NLB->Nginx Ingress->Golang Server. I use HPA and Cluster Autoscaler to scale both Nginx and the golang app based on CPU. After the pods scale, I observe that new Nginx pods don’t receive any requests while the requests are evenly distributed among the golang pods. After sometime when the old nginx pods get evicted (run out of me

[2020-07-28 20:01] chrko commented on #5012
/remove-lifecycle rotten

Still a problem if using client cert auth. Implementing side loading crl files by url I would call a very appreciating solution.

[2020-07-29 02:15] essh commented on #3713
/remove-lifecycle stale

[2020-07-29 04:15] kingli-crypto commented on #5755
@Bo0km4n This PR has made per host metrics optional https://github.com/kubernetes/ingress-nginx/pull/3594. So I think even if we remove the restriction for mis-matched hostname, the number of series will not explode.

Please correct me if I am wrong, I am new to all this.

[2020-07-29 05:34] ldco2016 commented on #5872
<head><title>502 Bad Gateway</title></head>
    <body>
    <center><h1>502 Bad Gateway</h1></center>
    <hr><center>nginx/1.19.1</center>
    </body>
    </html>

But I don't believe the problem is there. I have four different yaml files.

The auth deployment file:

    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: auth-depl
    spec:
      replicas: 1
      selector:

[2020-07-29 06:57] dinhanhhuy commented on #4665
/reopen

[2020-07-29 08:33] dmitrii-clarifai opened #5948 "nginx.ingress.kubernetes.io/service-upstream is not working"
**NGINX Ingress controller version**:
ingress version 0.34.1
helm chart version 2.11.1

**Kubernetes version** (use `kubectl version`):
v1.16.9

**What happened**:

I beileve ingress-nginx in not respecting the `nginx.ingress.kubernetes.io/service-upstream: "true"` annotation.
I have 2 ingress objects that's points to the same service on differents paths.
First one doesn't have annotations.
Second

[2020-07-29 08:48] pascalhobus commented on #5863
In the above yaml, you need to look for "namespace=" and replace the namespace 'ingress-nginx' with your namespace name. The root cause was, that you missed to apply a patch.

[2020-07-29 08:51] pascalhobus commented on #5932
Could be related to this item: #5863

[2020-07-29 09:09] dmitrii-clarifai commented on #5948
As a workaround I can create exactly same 2nd service and point the gRPC ingress to it with 'service-upstream' annotation, then ingress correctly using the service upstream.

[2020-07-29 10:28] bukowa opened #5949 "Region for Load Balancer while installed via Marketplace"
I have nodes in LON1 region but marketplace install of ingress creates load balancer in USA, why ? 👍
How can i change region?

[2020-07-29 10:33] #5949 closed

[2020-07-29 10:42] marcostvz commented on #4902
I had to apply your workaround to make it work, thanks for your comment @PuneeshMotwani

[2020-07-29 11:31] BenjaminToth opened #5950 "Proxy_set_header and more_set_headers wont work"
**What happened**:

this is the yaml file for the ingress

`
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: headertester
  namespace: devops-staging
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_set_header

[2020-07-29 12:52] mrturkmencom commented on #3976
None of suggestions work correctly. FYI

[2020-07-29 19:54] aledbf commented on #5222
Closing. You need to disable the port in redirect in your nginx. It's enabled by default
http://nginx.org/en/docs/http/ngx_http_core_module.html#port_in_redirect
(what the use-port-in-redirects does in ingress-nginx)

[2020-07-29 19:54] #5222 closed

[2020-07-29 20:16] akashmantry commented on #5947
The problem was with HTTP 2. I switched to HTTP 1.1 and scaling worked properly.

[2020-07-29 20:16] #5947 closed

[2020-07-29 23:05] kundan2707 commented on #5932
Thses jobs got finished still same error exists
[code]

[code]

[2020-07-30 00:20] frgomes commented on #5939
@aledbf : What I meant is that both services would be satisfied (and should work). Thanks a lot for you help!

For the benefit of people landing here, the shell script below configures one ingress controller watching all namespaces and another ingress controller watching only a single namespace:

[code]

[2020-07-30 00:20] #5939 closed

[2020-07-30 00:59] jurgenweber commented on #5748
I am having issues with this also, I need the tcp service to decode:

I found the code; https://github.com/kubernetes/ingress-nginx/blob/e4c4edd626446f0d1c39d68ee731e23f068aa608/internal/ingress/controller/controller.go#L302-L310

I have in the helm chart values:

[code]

The configmap looks good:
[code]

I am on 2.11.1 and I upgraded to 2.11.2 ( the helm chart versions)
AWS EKS 1.7

it then all s

[2020-07-30 05:07] LYU2026 commented on #5940
Thanks for your reply. It's one way to solve this inssue using a service to forward the request. but when run the docker using `docker run -it .... tfserving:latest`, the sevice is builded automatically. This is I want to know:  Is  there a possibility to set up the service  just configuring the ingress only? thanks.

[2020-07-30 08:07] Hermsi1337 commented on #5780
Hey @Scong and @aledbf  , we're currently facing the exact same issue.

But tbh we don't really know how to investigate this behaviour further.
Maybe you guys have any tipps?

Our ingress-controller-log is full of messages like this:
[code]

Our environment looks like this...

Kubernetes:
[code]

Ingress:
[code]

Many thanks !

Regards

[2020-07-30 08:20] janlud opened #5954 "Helm chart: Allow overriding of servicemonitor label selector"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm/argocd
- **Others**:

**What happened**:

Installed ingress-nginx with helm through ArgoCD. Enabled metrics and servicemonitor in the chart. Then

[2020-07-30 09:54] stefan-kolb commented on #4985
/remove-lifecycle stale

[2020-07-30 10:43] galaktipus commented on #5126
Any relevant commit for the issue? I couldn't find one regarding the issue number #5126

[2020-07-30 11:14] atoptsoglou commented on #5126
I had the same question. I went through the changelog and I saw no reference of the CVE instead I saw another CVE and a sentence which looks like with this issue. My guess was that there is a typo. Did a pull request https://github.com/kubernetes/ingress-nginx/pull/5955/commits/ed81ee3b757b817ad314ab419c420dfcf8c25b09 to see if this is indeed the case. If it is, then the relevant commit should be

[2020-07-30 11:33] aledbf commented on #5126
@atoptsoglou that's correct. The description in the CVE is missing the part of privileges related to secrets.

[2020-07-30 13:02] krishna1250 opened #5956 "How can i create internal load balancer in aws eks using ingress-nginx controller?"
/triage support

[2020-07-30 13:16] aledbf commented on #5956
Add the annotation `service.beta.kubernetes.io/aws-load-balancer-internal: "true"` to the ingress-nginx service

Also, this gist contains most of the annotations related to AWS https://gist.github.com/mgoodness/1a2926f3b02d8e8149c224d25cc57dc1

[2020-07-30 13:16] #5956 closed

[2020-07-30 15:51] JohnGalt1717 commented on #5311
/remove-lifecycle rotten

[2020-07-30 17:34] Bo0km4n commented on #5755
@kingli-crypto Thanks for giving information. In case of disabling `metrics-per-host` option, you may be able to show some metrics removed by above codes without indicating host parameter.

[2020-07-31 01:59] shrgupta773 opened #5959 "Rate limit lookup is not shared across nginx pods"
**NGINX Ingress controller version**: v0.34.1

**Kubernetes version** (use `kubectl version`): v1.18.4

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Alpine Linux v3.11
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm
- **Others**:

**What happened**: Installed nginx ingress controller using helm and enabled rate-limiting at

[2020-07-31 03:53] aledbf commented on #5959
Closing. This works as expected. There is no shared state between ingress-nginx pods.

[2020-07-31 03:53] #5959 closed

[2020-07-31 06:54] qingwave opened #5960 "Parse annotation failed return a error or event?"
What do you want to happen?
Now,  ingress annotation parse failed will replaced by default value, it doesn't work as we expected.
[code]

same problem in https://github.com/kubernetes/ingress-nginx/issues/2007

Should we return the parse error, create a event of ingress or admit failed by webhook?

/kind feature

[2020-07-31 08:01] kingli-crypto commented on #5755
@Bo0km4n No that's not the case. I disabled `metrics-per-host` and the metrics does not show up.

[2020-07-31 08:56] jvrplmlmn commented on #5287
@temal- was this addressed with https://github.com/kubernetes/ingress-nginx/pull/5534?

Or are you referring to this particular code block:

https://github.com/kubernetes/ingress-nginx/blob/cb877a754bd26559b3b906a307787062f704bf73/rootfs/etc/nginx/template/nginx.tmpl#L418-L422

Let me know otherwise as I might be able to contribute this.

[2020-07-31 12:44] kingli-crypto commented on #5755
Turns out there is a existing PR for this issue https://github.com/kubernetes/ingress-nginx/pull/4139

[2020-07-31 16:18] kbreit opened #5962 "Helm chart should be added to hub.helm.sh"
I am was looking to upgrade from stable/nginx-ingress to kubernetes/ingress-nginx via Helm and didn't see the kubernetes/ingress-nginx at https://hub.helm.sh/. This repository should be added with possibly the stable/nginx-ingress repositories removed.

/kind feature

[2020-07-31 16:21] kfox1111 commented on #5962
I don't think they can remove stable/nginx-ingress from hub.helm.sh without removing all of stable.

+1  for having ingress-nginx listed in hub.helm.sh though.

[2020-07-31 17:21] rocketraman commented on #4058
I just ran into this too. The error message is confusing: it refers to "configmaps" which don't exist, and users which do and already have the permission the message says it doesn't.

The answer is indeed to add a value to the resourceName for the `Role`. The value that has to be added to the `Role` consists of the "election id" and the "class" i.e. if the election id is `--election-id=ingress-int

[2020-08-01 02:49] 2339478391 opened #5963 "@2339478391: The following test **failed**, say `/retest` to rerun all failed tests:"
@2339478391: The following test **failed**, say `/retest` to rerun all failed tests:

Test name | Commit | Details | Rerun command
--- | --- | --- | ---
pull-ingress-nginx-gofmt | ad30d533f4e5e6026a9cbccbd6198a03e3e860ed | [link](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/ingress-nginx/5913/pull-ingress-nginx-gofmt/1288299875355594756) | `/test pull-ingress-nginx-gofmt`

[Full PR

[2020-08-01 02:49] 2339478391 commented on #5963
it seems gofmt did't work

[2020-08-01 03:01] aledbf commented on #5963
Closing. Please follow the instructions of the link
[code]

[2020-08-01 03:01] #5963 closed

[2020-08-01 03:57] answerquest commented on #3976
Hi, just for benefit of folks working with Openshift : Instead of ingress, I created an openshift Route. No YAML needed, they had a straightforward wizard in the openshift console. After creating, in its settings there are "Annotations". I added: key: `haproxy.router.openshift.io/timeout` , value: `5m` and saved. That increased my deployment's gateway timeout limit to 5 minutes instead of default

[2020-08-01 08:38] 2339478391 commented on #5963
thanks

[2020-08-01 12:34] #5208 closed

[2020-08-01 13:11] grandfield opened #5964 "Warning when configuring VirtualServerRoute proxy"
**NGINX Ingress controller version**:
1.8.0

**Kubernetes version**

[code]

**Environment**:

- **OS** Window 10 Professional

**What happened**:

In the [Cross-Namespace Configuration ](https://github.com/nginxinc/kubernetes-ingress/tree/v1.8.0/examples-of-custom-resources/cross-namespace-configuration) example, I tried to add a [Proxy Action](https://docs.nginx.com/nginx-ingress-controller/conf

[2020-08-01 13:16] grandfield commented on #5964
Sorry, I logged this bug on the wrong project. It was meant for nginxinc/kubernetes-ingress. Apologies.

[2020-08-01 13:16] #5964 closed

[2020-08-02 16:35] bcba25 opened #5966 "rewrite-target doesn't work as intended"
After setting up a simple ingress service, I've been trying to reach my API using different ways but non of them hit the destination. I'm new to Kubernetes and this is my first time configuring the ingress-nginx.

[code]

I've tried different configuration settings as you can see in the path section, but was only able to hit /api, other path's like /api/values/all not working.

The code below is p

[2020-08-02 16:54] aledbf commented on #5966
@bcba25 one of the downsides of using annotations is that we cannot specify the scope of where should be used.
The first example you posted should be something like

[code]

Also, you are not setting the host field? Why?

[2020-08-02 19:12] wantdrink commented on #5500
hi @nnz1024, @kundan2707
I've set

hostNetwork = false

  hostPort:
    enabled: true
    ports:
      http: 80
      https: 443

  kind: DaemonSet

controller.service.type: LoadBalancer

After deployment ingress-nginx in my 'test' namespace and before creating my test ingress, I found the 80/443 is not opened in all worker nodes.
Any guidance for an example chart value.yaml is appreciated.

[2020-08-03 06:35] liminghua999 opened #5968 "apply ingress rule error after install ingress-nginx: x509 certificate is not valid ingress-nginx-controller-admission.ingress-nginx.svc"
[code]

[2020-08-03 07:24] bcba25 commented on #5966
@aledbf it works!! Thanks!! But it's a little bit annoying that I can't combine two routes together with annotations.
This is my first time setting up the project using k8s and ingress controller, I'm doing it on minikube mac os thus don't have any domain. Can I specify different hosts on my minikube or its only for production ?

[2020-08-03 07:24] #5966 closed

[2020-08-03 11:38] aledbf commented on #5966
Yes, you can. You can use something like http://nip.io to define hosts like
`client.<YOUR MACHINE IP>.nip.io` or `server.<YOUR MACHINE IP>.nip.io`

[2020-08-03 17:06] nnz1024 commented on #5500
@wantdrink Can you please
1. Provide contents of all config files from `/etc/cni/net.d/` at any worker node?
2. Check is binary `/opt/cni/bin/portmap` present on worker nodes?

[2020-08-03 20:25] ismailyenigul commented on #5206
NLB supports TLS termination https://aws.amazon.com/blogs/aws/new-tls-termination-for-network-load-balancers/  (24 JAN 2019)
I don't get why ingress-nginx documentation refers to ALB to terminate TLS at https://kubernetes.github.io/ingress-nginx/deploy/#aws
I think the documentation is outdated and written when NLB does not support TLS
I had the same issue in the subject and fixed by changing http

[2020-08-03 21:29] ismailyenigul commented on #5935
Yes!  You can't redirect http to https  in the ingress services annotations @aledbf
But You can redirect `http to https` with the ingress annotations with  `nginx.ingress.kubernetes.io/force-ssl-redirect: "true"`
Ref: https://github.com/kubernetes/ingress-nginx/blob/585569b6380b22d5b93dfcfd85c710402369465d/docs/user-guide/nginx-configuration/annotations.md#server-side-https-enforcement-through-red

[2020-08-03 21:38] ismailyenigul commented on #5935
@aadatkhanna
The problem with HTTP 400 error is in nginx ingress service https port settings.
Change `targetPort: https` to `  targetPort: http` in https section.  and use only http in the ingress settings.
So

[code]
to
[code]

[2020-08-04 05:02] wantdrink commented on #5500
Hi @nnz1024 , here is the /etc/cni/net.d/10-flannel.conflist in all of the worker nodes (my local k8s cluster installed with kubeadm including 3 nodes in controller plane and 3 worker nodes, network type in vmware is NAT).
OS: CentOS 7.7
Kernel: 3.10.0-1127.10.1.el7.x86_64

[code]

also the binary exists:

`-rwxr-xr-x 1 root root 3072360 Jun 23 20:10 /opt/cni/bin/portmap
`

Thanks.

[2020-08-04 06:12] liminghua999 commented on #5401
------------------------------
 I have the same quest about :

how do you make the setup?

please help me

[2020-08-04 07:15] moljor commented on #5401
@liminghua999 If you check the deploy yaml, the patch job should "make the validatingwebhookconfiguration good". It exists to update it with the secret.

[2020-08-04 07:33] liminghua999 commented on #5401
@moljor

[code]

[2020-08-04 07:45] moljor commented on #5401
@liminghua999
check https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/baremetal/deploy.yaml and the last 2 batch jobs. It creates and updates everything. (no need to create a secret yourself)

Otherwise reading a bit of the k8s documentation might be helpful if you want to do things yourself: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-

[2020-08-04 07:49] ismailyenigul commented on #2724
Thanks @KongZ it works fine with NLB
Here is the changes I did for the one who does not use charm.
I deployed ingress-nginx from https://github.com/kubernetes/ingress-nginx/blob/controller-v0.34.1/deploy/static/provider/aws/deploy.yaml

1. Edit Configmap with
` kubectl edit configmaps -n ingress-nginx ingress-nginx-controller`
Add the following lines (Note: `data` section does not exist by default

[2020-08-04 10:08] nielsslot commented on #5464
I can still reproduce this issue with Ingress Nginx 0.34.1.

/remove-lifecycle stale

[2020-08-04 11:17] knyttl opened #5970 "X-FORWARDED-FOR and X-ORIGINAL-FORWARDED-FOR"
Since upgrading to current nginx-ingress via bitnami helm chart (it was well outdated):
[code]

The `X-FORWARDED-FOR` header contains an IP of LoadBalancer and other IPs are missing. After googling I added to my configmap:

[code]

However this seems to have no effect as the `X-FORWARDED-FOR` still contains only single LoadBalancer IP.

I noticed there is also `X-ORIGINAL-FORWARDED-FOR` header, wh

[2020-08-04 12:18] ppanyukov commented on #5238
Guys, what is the workaround for this? I'm hitting this at the moment, and the only way to effect the change is to restart pods. Which is kinda not cool for production, yes?

[2020-08-04 14:27] aadatkhanna commented on #5935
@ismailyenigul,

Thanks for replying.

I already got this working by making http as you also mentioned but the things is this is not end to end https. Why https port is not working? However https work directly if access via node port. I wanted to know why is it not working when we bring a LB in front.

My use case want both http and https to work independently and when I say https it should be ful

[2020-08-04 19:31] EliHarper commented on #1171
Lol, "om nom nom cookies" - you're awesome.

[2020-08-04 20:10] nnz1024 commented on #5500
@wantdrink All looks OK. What does `iptables -t nat -vnL CNI-HOSTPORT-DNAT` show? And, if there is a rule with a target named like `CNI-DN-xxxxxxxxxxxxxxx`, what `iptables -t nat -vnL <target_name>` will show?

[2020-08-04 20:21] bukowa commented on #3996
Workaround does not work for me.

[2020-08-05 01:35] nitinkansal1984 opened #5972 "redirect does not work as expected"
/triage support

[2020-08-05 01:36] nitinkansal1984 commented on #5972
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: myingress
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/use-regex: "true"
  namespace: mynamespace
spec:
  tls:
  - hosts:
    - jupyter.example.com
    secretName:

[2020-08-05 06:14] hs0210 opened #5973 "can not curl the service"
**NGINX Ingress controller version**:
  Release:       v0.34.1
  Build:         v20200715-ingress-nginx-2.11.0-8-gda5fa45e2
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.1

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.0", GitCommit:"9e991415386e4cf155a24b1da15becaa390438d8", GitTreeS

[2020-08-05 06:58] HJK181 opened #5974 "http2_push_preload does not respect affinity cookie"
**NGINX Ingress controller version**:
0.32.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.1", GitCommit:"d647ddbd755faf07169599a625faf302ffc34458", GitTreeState:"clean", BuildDate:"2019-10-02T17:01:15Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14", GitVersi

[2020-08-05 08:43] wantdrink commented on #5500
Hi @nnz1024 ,

[code]
No records found.

[2020-08-05 09:53] dirkmueller opened #5975 "Transition to GeoIP2 by default"
According to

https://github.com/kubernetes/ingress-nginx/blob/ca74f9ad7d9a9072071dc94bfb8b5eb64f1e1fb0/docs/user-guide/nginx-configuration/configmap.md

currently geoip is enabled by default and geoip2 is disabled by default. Given that geoip2 does nothing unless the database files license key is embedded, I think we should flip the default and move away from geoip1 to geoip2.

Geoip1 is no longe

[2020-08-05 11:34] aledbf commented on #5973
Closing. Works as expected.

Test using `curl 193.XXX.XXX.104:30788 -H 'Host: webapp.test.com'`

[2020-08-05 11:34] #5973 closed

[2020-08-05 14:41] aledbf commented on #5974
You are mixing two things here. The sessionAffinity has no meaning in Ingress. Keep in mind that configuration acts at the k8s service level and ingress-nginx bypass the service and go direct to the pod (endpoints)

[2020-08-05 14:52] foggy-glasses opened #5976 "Ingress routes to default-http-backend intermittently"
/triage support

Hello,

I am trying out deploying multiple kubernetes-ingress-nginx in a single namespace on my EKS cluster in AWS. Both of them use the same type of controller with the difference being the hosts they server.

Ingress A serves _docs.xyz.com_ and Ingress B serves _dev-docs.xyz.com_. There are 2 separate deployments which serve each of these ingress and they are part of the same na

[2020-08-05 17:25] ppanyukov commented on #5238
OK for those using terraform, I found a workaround. The idea is run this command if the values of add-headers changed:

[code]

Now in Terraform, the hack is like this:

First, declare headers a s var.

[code]

Then do the regular helm thing:

[code]

And finally, do a shell exec to reload things. Note that this will only run if there are changes in the header.

[code]

Not ideal but kinda works.

[2020-08-05 21:18] jeffrey-hui opened #5977 "Feature: Download Maxmind Databases from Custom/Secondary Location"
# Feature
I'd like to suggest adding the ability to select the download location of GeoIP Maxmind Databases. At Shopify, we access our Maxmind databases from a cloud location and have an inhouse solution that refreshes those files periodically from Maxmind.

We load databases into our ingress controllers through at image build time but I was working on being able to pull "updates" from our cloud l

[2020-08-05 23:46] aledbf commented on #5977
ok, this kinda makes sense.

We already have two flags `--maxmind-license-key` and `--maxmind-edition-ids=GeoLite2-City,GeoLite2-ASN`
This new feature could be added with a new flag `--maxmind-download-url` with some restrictions:
- if --maxmind-license-key is configured we send the value with the query argument `license_key`
  (up to the user to do this or not, or do something with the value)
- t

[2020-08-05 23:47] aledbf commented on #5977
@ElvinEfendi ping

[2020-08-06 00:56] ElvinEfendi commented on #5977
I think we will also need something like `--maxmind-provider` to specify whether the files should be downloaded from i.e GCS and `--maxmind-provider-credentials` to specify credentials to authenticate against the DB files provider endpoint.

We can start with GCS support but I'd like to see an extendable interface here to potentially support S3 too if someone requests.

[2020-08-06 00:58] aledbf commented on #5977
ok, that could be in a different iteration. Having those dependencies not only will increase the dependencies but also open the door to other requests like GCP IAP support.

[2020-08-06 01:13] hs0210 commented on #5973
Thanks for your review @aledbf . I tried ```curl 193.XXX.XXX.104:30788 -H 'Host: webapp.test.com'```, but got same result.
[code]

[2020-08-06 01:16] aledbf commented on #5973
`curl 193.XXX.XXX.104:30788/home -H 'Host: webapp.test.com'`

(I missed the path you defined /home)

[2020-08-06 01:35] hs0210 commented on #5973
@aledbf It still got 404.
[code]

[2020-08-06 01:37] aledbf commented on #5973
@hs0210 why are you removing the `:` from the Host? It should be ` 'Host: webapp.test.com'`

[2020-08-06 01:43] hs0210 commented on #5973
@aledbf Sorry, my careless. But it still got 404 when I ```curl 193.XXX.XXX.104:30788/home -H 'Host: webapp.test.com'```, maybe some other errors?
[code]

[2020-08-06 01:44] aledbf commented on #5977
@ElvinEfendi I think mounting a volume would be more efficient.

[2020-08-06 01:45] aledbf commented on #5973
@hs0210 please check the ingress controller pod logs `kubectl logs -n ingress-nginx <pod>`

[2020-08-06 01:58] hs0210 commented on #5973
@aledbf  The log is as follows.  I searched ```Error``` and found ``` W0805 05:22:35.968846       7 controller.go:829] Error obtaining Endpoints for Service "ingress-nginx/webapp": no object matching key "ingress-nginx/webapp" in local store```, I am not sure if this have an impact.
[code]

[2020-08-06 02:01] aledbf commented on #5973
that means the app is returning 404.

namespace: ingress-nginx
service: webapp
port: 80
pod IP:port 100.125.251.26:80
status code returned 404

[2020-08-06 02:09] hs0210 commented on #5973
@aledbf  But if I ```curl 100.125.251.26:80```, it got the result as follows. What should I do to get right result through ```curl 193.XXX.XXX.104:30788/home -H 'Host: webapp.test.com'```
[code]

[2020-08-06 02:14] aledbf commented on #5973
Right, what happens when you run ` curl 100.125.251.26:80/home`?
I am sure it returns 404

[2020-08-06 02:15] aledbf commented on #5973
Please check the rewrite example https://kubernetes.github.io/ingress-nginx/examples/rewrite/

[2020-08-06 03:29] liminghua999 commented on #5968
No one meet this  error??
I try the k8s cluster (install by kubeadm)
[code]
apply ingress rule still  report same error ;

If I disable webhooks ,then I apply ingress rule,it is OK;

[2020-08-06 06:12] HJK181 commented on #5974
Oh, ok ... I didn't knew. This means that the serviceName you define in the spec.rules.host is only used to the fetch the available endpoints and not for sending request to the backend?

Do you think I should raise a ticket at https://trac.nginx.org/nginx/ ?

[2020-08-06 06:16] hs0210 commented on #5973
@aledbf Thanks, It works.  But I am not clear why should use ```nginx.ingress.kubernetes.io/rewrite-target ``` this annotations. Colud you give me some guidance? Thanks a lot.

#### rewrite-ingress.yaml
[code]
#### result
[code]

[2020-08-06 11:23] betabandido opened #5978 "Requests get redirected to latest created ingress instead of the default backend for non-matching hosts"
**NGINX Ingress controller version**: 0.34.1 and 0.32.0

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-16T00:04:31Z", GoVersion:"go1.14.4", Compiler:"gc", Platform:"darwin/amd64"}

Server Version: version.Info{Major:"1", Minor:"

[2020-08-06 11:26] aledbf commented on #5975
This will be done once geoip2 is supported OOTB in NGINX itself https://trac.nginx.org/nginx/ticket/1857

[2020-08-06 11:45] aledbf commented on #5973
@hs0210 the path you define in the ingress is not stripped, i.e., the service receives the same URL (and that doesn't exist in nginx). With the rewrite-annotation you can adapt the path to what you have in your app

[2020-08-06 13:20] bcba25 commented on #5966
@aledbf thanks for advice!

[2020-08-06 13:38] aledbf commented on #5978
@betabandido please post the ingress yaml definitions you are using

[2020-08-06 13:39] aledbf commented on #5978
Also, you should try to reproduce this using a local cluster with kind https://kind.sigs.k8s.io/docs/user/ingress/

[2020-08-06 13:48] aledbf commented on #5978
Please check the configuration for the helm chart with TLS termination in the LB
https://github.com/kubernetes/ingress-nginx/blob/master/hack/generate-deploy-scripts.sh#L90-L123

[2020-08-06 14:29] betabandido commented on #5978
This is one the ingress definitions generated by the GitLab CI/CD (URLs and IPs are redacted):

[code]

All the other ingresses look pretty much the same (as they are generated by the GitLab auto deploy app).

I will do that, and try to reproduce the issue (I won't be able to use GitLab in this case).

https://github.com/kubernetes/ingress-nginx/blob/master/hack/generate-deploy-scripts.sh#L90-L123

[2020-08-06 15:17] aledbf commented on #5978
Yes, but keep in mind NLBs are L4 LB

[2020-08-06 18:37] khalfan123 opened #5981 "Queries Regarding Ingress-nginx WAF"
Hi Guys,
I am going to enable  WAF rules in ingress-controller, so before that, I have some queries regarding this, can you please shed some light on this.
Question1: In case if i enable WAF in ingress-nginx, which layer it will support i.e layer 7 or layer 5?
`  annotations:`
`    kubernetes.io/ingress.class: nginx `
`    nginx.ingress.kubernetes.io/enable-modsecurity: "true" `
`    nginx.ingress

[2020-08-06 18:58] aledbf commented on #5981
All the traffic that reaches NGINX (defined in an Ingress rule)

Yes. Why not?

That is up to you. Keep in mind once traffic arrives, if ModSecurity is on, it will inspect it.
If you can avoid that, the better

[2020-08-06 19:13] rahulwagh opened #5982 "nginx ingress controller crashloopbackoff exit code 255"
**NGINX Ingress controller version**: 1.8.0.

**Kubernetes version** (use `kubectl version`): Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e08b245ab19037", GitTreeState:"clean", BuildDate:"2020-07-15T16:58:53Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
I have set up local kubernetes cluster usin

[2020-08-06 19:36] aledbf commented on #5982
Closing. That is a different ingress controller https://github.com/nginxinc/kubernetes-ingress/

[2020-08-06 19:36] #5982 closed

[2020-08-06 20:19] dirkmueller commented on #5975
Interesting, thank you for the explanation. So geoip is not a default module for nginx either, it is even disabled from compilation by default. Why is it enabled by default on the ingress side?

[2020-08-06 20:24] aledbf commented on #5975
The module is part of nginx http://nginx.org/en/docs/http/ngx_http_geoip_module.html

No particular reasons besides being a historical default

[2020-08-06 20:45] dirkmueller commented on #5975
Yes, it is part of nginx documentation, still it is disabled from compilation by default.

Can we disable geoip without enabling geoip2?

[2020-08-06 20:46] aledbf commented on #5975
Yes, please check https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#use-geoip

[2020-08-06 21:28] Nuru opened #5983 "Feature: Annotation to disable HTTP2 per host"
This feature has been requested and attempted a few times, but keeps losing steam.

- Support per-ingress http2 setting through annotation #2189
- Add http2-host-blacklist config flag #2482
- Annotation support for http2 #2402

I would like to revive it because it should now be relatively easy to implement and there are precedents for it.

Specifically, I would like to have the annotation `nginx.i

[2020-08-06 21:34] derekperkins commented on #3914
/remove-lifecycle rotten

[2020-08-06 22:09] aledbf commented on #5983
@Nuru thank you for writing this request with some context and analysis of the previous attempts.
My only concern is how we can avoid issues/complains with "allow HTTP2 support on port 80 or any non-TLS port".

[2020-08-06 23:11] Nuru commented on #5983
@aledbf wrote

A few ways:
1. The same way this has been avoided with the `use-http2` ConfigMap setting: by [documenting](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#use-http2) that it toggles support "in secure connections".
2. By documenting why HTTP/2 is not supported on non-TLS connections and/or linking to some relevant issues
   - https://github.com/k

[2020-08-07 01:43] #5230 closed

[2020-08-07 03:44] dsindatry commented on #5533
Even i see the same issue. My image and tag looks ok . I am using helm
image:
    repository: quay.io/kubernetes-ingress-controller/nginx-ingress-controller
    tag: "0.32.0"

[2020-08-07 06:08] khalfan123 commented on #5981
Thank you for the help @aledbf.
I have one more question.
Where can I find a feature list of Nginx WAF that is being used in Kubernetes Nginx ingress? can you please share?
like:
SQL-injection protection.
Cross-site scripting protection.
Protection against other common web attacks.

[2020-08-07 06:34] #5590 closed

[2020-08-07 09:28] nnz1024 commented on #5500
@wantdrink Looks like there is no established hostPort mappings on this node. Can you show `spec` section of your ingress-nginx-controller daemonset? Command will look like `kubectl -n ingress-nginx get daemonset ingress-nginx-controller -o yaml`. There must be lot of data, but we interest only in `spec` section.

[2020-08-07 09:47] sharkymcdongles commented on #5962
@kfox1111 What is the difference between the stable chart and this one?

[2020-08-07 11:42] aledbf commented on #5981
@khalfan123 please check https://github.com/kubernetes/ingress-nginx/blob/master/images/nginx/rootfs/build.sh#L378-L417

[2020-08-07 18:31] betabandido commented on #5978
I tried to reproduce the issue with "kind", using a setup as close as possible to the one in EKS. The NGINX configuration file suffered from the same "problem." That is, the wildcard server was not the first one whenever there was an ingress resource with a host rule starting with a digit (number).

However, in this case requests were correctly routed to the default backend whenever a non-matching

[2020-08-07 19:18] aledbf commented on #5978
That's because of the NLB

[2020-08-08 04:02] maxisam commented on #3770
IMHO, I think it is wrong to deprecate nginx.ingress.kubernetes.io/add-base-url

This is the case nginx.ingress.kubernetes.io/add-base-url can solve.

[2020-08-08 13:54] mds1455975151 opened #5985 "Error from server (InternalError): error when creating "nginx-svc.yaml": Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post https://ingress-nginx-controller-admission.ingress-nginx.svc:443/extensions/v1beta1/ingresses?timeout=30s: context deadline exceeded"
https://github.com/kubernetes/ingress-nginx/blob/controller-v0.34.1/deploy/static/provider/baremetal/deploy.yaml

**NGINX Ingress controller version**: controller-v0.34.1

**Kubernetes version** (use `kubectl version`):v1.17.0

**Environment**:

- **Cloud provider or hardware configuration**:  Exsi 3node*4core*8GBmemory*50GB disk
- **OS** (e.g. from /etc/os-release):
NAME="CentOS Linux"
VERSION="7

[2020-08-08 15:02] takyon77 commented on #2384
Like @JohnGalt1717 it seems that TLS 1.3 is not showing when trying to enable it:

[2020-08-08 15:02] aledbf commented on #5985
@mds1455975151 please make sure the node/s where the k8s control plane is running can reach the node/s where the ingress controller pod is scheduled.

[2020-08-08 19:21] davidkarlsen commented on #5962
@ChiefAlexander @kfox1111
I added some fixes to https://github.com/helm/charts/pull/22823 so that it follows https://github.com/helm/charts/blob/master/PROCESSES.md - deprecated charts don't show up on helm hub. It would be great with a PR towards https://github.com/helm/hub to get this one listed there for visibility.

[2020-08-09 06:28] gaoshuai2020 commented on #5585
I got this issue, too. Seems the pod can not communicate with the IP address in other namespaces.

[2020-08-09 13:25] agile6v commented on #5287
Hi I think this could be closed.  Thanks.

@jvrplmlmn @aledbf

[2020-08-09 13:43] aledbf commented on #5287
/close

[2020-08-09 13:43] #5287 closed

[2020-08-09 15:10] rittneje opened #5988 "NewNginxCommand does not use NGINX_BINARY env var"
https://github.com/kubernetes/ingress-nginx/blob/351248fabbd89a11d46ed9bd8b77aeb2e94262dc/internal/ingress/controller/util.go#L75-L78
https://github.com/kubernetes/ingress-nginx/blob/351248fabbd89a11d46ed9bd8b77aeb2e94262dc/internal/ingress/controller/util.go#L92-L98

As you can see, `NewNginixCommand` is simply hard-coded to use "/usr/local/nginx/sbin/nginx". There are no other references to `NGI

[2020-08-09 16:06] #5988 closed

[2020-08-10 11:55] manuelbuil opened #5991 "Unexpected failure reloading the backend: kill(27, 1) failed (13: Permission denied)"
**NGINX Ingress controller version**: v0.34.1

**Kubernetes version** (use `kubectl version`): v1.18.4

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): SUSE SLES15-SP2
- **Kernel** (e.g. `uname -a`): 5.3.18-22-default
- **Install tools**: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.34.1/deploy/static/provider/a

[2020-08-10 12:49] aledbf commented on #5991
@manuelbuil do you have additional PodSecurityPolicy or additional components to restrict the deployment?
(I cannot reproduce the issue in kind or kops)

[2020-08-10 13:45] manuelbuil commented on #5991
@aledbf thanks for replying! There are no psp configured (No resources found) and I am using the Roles and ClusterRoles defined in `https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.34.1/deploy/static/provider/aws/deploy.yaml`. Do you know what should be in place to allow the www-data user in the container to kill the process it started? I could look for that and check

[2020-08-10 13:55] aledbf commented on #5991
@manuelbuil please use kubectl describe against the ingress-nginx pod and post the output.

`kubectl get pods <ingress-nginx pod> -o yaml` (just to check what is there)

[2020-08-10 15:48] tgerczei commented on #4182
/reopen

[2020-08-10 16:13] jaalle opened #5992 "ServiceAccount name in file "psp.yaml" does not match ServiceAccount name in file "deploy.yaml""
Hello,

When attempting to deploy NGINX Ingress controller on a Kubernetes v1.16.2 cluster as documented here:
https://kubernetes.github.io/ingress-nginx/examples/psp/

File "psp.yaml" documented here:
https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/docs/examples/psp/psp.yaml

expects a ServiceAccount with name "nginx-ingress-serviceaccount":

[code]

However, the service account

[2020-08-10 16:25] jaalle opened #5993 "ServiceAccount "ingress-nginx-admission" not defined in file "psp.yaml""
Hello,

When attempting to deploy NGINX Ingress controller as documented here:
https://kubernetes.github.io/ingress-nginx/examples/psp/

File "psp.yaml":
https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/docs/examples/psp/psp.yaml

does not define a RoleBinding for ServiceAccount "ingress-nginx-admission".  As a result, the deployment fails.  For the deployment to succeed, file "ps

[2020-08-10 19:57] davidnortonjr-sps opened #5995 "Ingresses with auth-url annotation add authentication configuration to default backend."
**NGINX Ingress controller version**: v0.34.1

We saw this when we tried to upgrade from v0.22.0 It appears in v0.34.1, but I was able to reproduce the issue starting in v0.23.0.

**Kubernetes version** (use `kubectl version`): 1.18.3 (also seen in 1.16.8)

**Environment**:
- **Cloud provider or hardware configuration**: minikube (also saw the issue in EKS)
- **OS** (e.g. from /etc/os-release): Bu

[2020-08-10 21:23] andelhie opened #5996 "Unable to deploy second nginx ingress controller to ingest syslog"
**NGINX Ingress controller version**: 1.8.0

**Kubernetes version** (use `kubectl version`):Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-13T18:08:14Z", GoVersion:"go1.13.8", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitVersion

[2020-08-11 02:09] momon opened #5997 "Omitting last slash in url redirects to port 8080"
My apologies if this isn't the right place to ask this but after 24 hours of tests I seem to be stuck on this and can't figure out exactly what is wrong.  I found several related issues and all point to the same solution, but having implemented it, makes no change in my environment.

I am using helm:

[code]

My application is actually a wordpress install.  Everything works dandy, except when I tr

[2020-08-11 02:27] rra commented on #5547
/remove-lifecycle stale

[2020-08-11 03:43] momon commented on #5997
Not the case, I extensively checked.  The wp config file is pointed to https://127.0.0.1 and there are no URL specific settings in the database that would redirect to port 8080 (if it was it would have also redirected with the slash).

The redirect as can be seen by the provided code above is being handled by nginx, check here:

[code]

nginx is trying to re-direct the /wp-admin to http://domain.c

[2020-08-11 07:34] manuelbuil commented on #5991
@aledbf I can confirm this is an issue related to apparmor and not related to ingress-nginx, so I think I can close it. Thanks for your support

[2020-08-11 07:34] #5991 closed

[2020-08-11 09:40] NICK-DUAN commented on #5401
so, what's the solutions?

[2020-08-11 09:42] rgachet opened #5998 "Error while pulling the docker image"
Hi,

**NGINX Ingress controller version**: 0.34.1

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.1", GitCommit:"b1b29978270dc22fecc592ac55d903350454310a", GitTreeState:"clean", BuildDate:"2018-07-17T18:53:20Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"16", GitV

[2020-08-11 11:01] aledbf commented on #5998
Should be `--set controller.image.tag=v0.34.1`

Please check the [Changelog](https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.34.1)

[2020-08-11 11:01] #5998 closed

[2020-08-11 11:02] aledbf commented on #5997
The [port_in_redirect](https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L396) directive is disabled

[2020-08-11 11:46] rgachet commented on #5998
Thank you, you are right, i used to set a version without 'v' prefix until 0.32.0 without problem 👍

[2020-08-11 12:01] loozhengyuan opened #5999 "Incorrect error message format"
**NGINX Ingress controller version**: v0.34.1

**What happened**:

I was running `ingress-nginx` and encountered some configuration errors. When checking the logs, I found that the error message seems to be wrong:

[code]

**What you expected to happen**:

In my setup, the service is `ingress-nginx-controller` and the namespace is `ingress-nginx-dev`. So I expected this to have been:

[code]

/kin

[2020-08-11 13:46] betabandido commented on #5978
@aledbf Since I made the suggested changes, the default backend service has been properly working. So, unless you believe the order of servers in the Nginx configuration file is important, I suppose we can close this issue.