[2018-04-10 23:32] zhjchen commented on #1947
0.12.0 works fine. However I have some nginx logging issue. there is no event logged when I do curl/query our service behind nginx controller.

https://github.com/kubernetes/ingress-nginx/issues/2329

[2018-04-11 07:51] gyliu513 commented on #2295
@aledbf even after apply your patch, we still have the same issue, can you help check?

[2018-04-11 09:12] miaoshixuan opened #2330 "crash when tls secret only contains a ca.crt"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-04-11 09:30] oilbeater commented on #2295
only this patch cannot fix the problem, you should also update the nginx.tmpl in https://github.com/kubernetes/ingress-nginx/pull/2263.
However I see the master nginx.tmpl still leak some lua part if enable waf , this part should also be removed @aledbf

[2018-04-11 09:49] aledbf commented on #2330
@miaoshixuan please post the pod logs

[2018-04-11 12:30] #2330 closed

[2018-04-11 14:14] dan-force opened #2332 "Header "Ssl-Client-Dn" missing in 0.12.0 (compared to 0.11.0)"
**NGINX Ingress controller version**: 0.12.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeState:"clean", BuildDate:"2017-12-21T06:34:11Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9+", GitVersion:

[2018-04-11 14:34] dan-force commented on #2332
Running some further tests, I am not even sure that client certificate validation is working with 0.12.0 the same way it was done with 0.11.0.

[2018-04-11 15:01] ArcticSnowman commented on #1674
Updated keepalived example https://github.com/kubernetes/contrib/tree/master/keepalived-vip

[2018-04-11 15:48] Spindel commented on #2003
It's currently hardcoded to False for SSL Passthrough objects

`internal/ingress/controller/nginx.go`

                        //TODO: Allow PassthroughBackends to specify they support proxy-protocol
                        servers = append(servers, &TCPServer{
                                Hostname:      pb.Hostname,
                                IP:            svc.Spec.ClusterIP,

[2018-04-11 18:08] barovic commented on #39
@aledbf is there a way of receiving an `HTTP/2` request over **https** via NGINX Ingress, and using `ssl-passthrough`, receiving an `HTTP/2` request in the pod?

I'd like to keep the protocol as HTTP/2 not HTTP/1.1 between NGINX Ingress Controller and the pod. Any way of achieving this?

[2018-04-11 20:38] praseodym opened #2334 "Support for nginx stream server traffic status (sts) module"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

Currently ingress-nginx has [support](https://github.com/kubernetes/ingress-nginx/blob/17f6996941234a7a5bcc3fbf45daf7199a5899c0/docs/examples/customization/custom-vts-metrics-prometheus/README.md) for the [virtual host traffic status (vts) module](https://github.com/vozlt/nginx-module-vts) through which HTTP(S) servic

[2018-04-11 20:45] pnovotnak opened #2335 "Support for gunzip module"
_If this is a FEATURE REQUEST, please:_
  - _Describe *in detail* the feature/behavior/change you'd like to see._

My company would like to be able to turn on [gunzip](http://nginx.org/en/docs/http/ngx_http_gunzip_module.html) without mucking with custom configurations. Our preference would be to allow this to be set globally or on individual `ingress` objects.

Is this something that will be acce

[2018-04-11 20:55] praseodym opened #2336 "Add nginx stream proxy configuration directives"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

Currently ingress-nginx [supports TCP and UDP services](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/exposing-tcp-udp-services.md) but does not allow configuration of [stream proxy directives](http://nginx.org/en/docs/stream/ngx_stream_proxy_module.html) like `proxy_buffer_size`. For performance

[2018-04-11 21:11] aledbf commented on #2332
@gnufied there is an issue in 0.12.0 (#2259) fixed in master.
Please use `quay.io/aledbf/nginx-ingress-controller:0.354`

[2018-04-12 07:58] cjlarose commented on #2188
Relevant issue on the golang Github https://github.com/golang/go/issues/23995

The fix appears to be https://golang.org/cl/96378, which was merged into Go 1.10

[2018-04-12 12:11] liggetm opened #2338 "UDP TX drops every 10min when rate exceeds 15-20Kbps"
**NGINX Ingress controller version**:
0.12.0
(from quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.12.0)

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.4", GitCommit:"7243c69eb523aa4377bce883e7c0dd76b84709a1", GitTreeState:"clean", BuildDate:"2017-03-07T23:53:09Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"l

[2018-04-12 12:15] aledbf commented on #2338
@liggetm please check the pod logs searching for "reloading" and checking the timestamp against the drop of traffic to see if that's the issue.

[2018-04-12 12:18] saravanakumarangamuthu opened #2339 "panic: runtime error: invalid memory address or nil pointer dereference"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): yes

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATU

[2018-04-12 12:46] #2295 closed

[2018-04-12 14:44] liggetm commented on #2338
@aledbf thanks for coming back to me.  I didn't see any reloading at the same timestamp, but I did see alerts when I increasing the logging to verbose.
[code]
Looking at the documentation it appears that the defaults are 16384 worker_connections per worker-process (@ 1 worker process per cpu).   I'll try to increase the worker_connections, but I don't fully understand what it means in relation to

[2018-04-12 15:17] saravanakumarangamuthu commented on #2339
it works with quay.io/aledbf/nginx-ingress-controller:0.354 image.

Thanks Manuel Alejandro @aledbf

[2018-04-12 15:18] himeshladva-ni commented on #2000
@m1schka How are you creating an ALB when using `ingress-nginx`? I've had to switch to use `alb-ingress` in order to get an ALB and not the classic ELB. Not got the redirects working just yet though..

[2018-04-12 15:20] #2339 closed

[2018-04-12 15:51] himeshladva-ni commented on #2000
@aledbf thanks, that's what i've ended up using. i was just intrigued as @m1schka mentioned he's using an ALB but it doesn't quite line up with what the supplied yaml file would do (create an ELB).

[2018-04-12 16:46] m1schka commented on #2000
Sorry for the confusion, with ALB I meant the classic load balancer with `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"` and network load balancer I meant `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "tcp"`

[2018-04-13 01:26] aledbf commented on #2338
@liggetm please check the generated nginx.con searching the value of `worker_rlimit_nofile`
You can do this using `kubectl exec <ingress pod> cat /etc/nginx/nginx.conf`

[2018-04-13 07:15] dan-force commented on #2332
Can confirm that `quay.io/aledbf/nginx-ingress-controller:0.354` fixes the issue. Will wait for next master release and continue using 0.11.0 for now. Thanks for the quick help!

Closed.

[2018-04-13 07:15] #2332 closed

[2018-04-13 07:25] CharAct3 commented on #349
Try [this link](https://github.com/kubernetes/ingress-nginx/blob/faf80ad89a1e49113cc9791f0137e2f5a542487a/controllers/nginx/configuration.md#rewrite)

[2018-04-13 15:05] aledbf commented on #2222
@rnburn any update on this?

[2018-04-13 17:09] rnburn commented on #2222
Hey @aledbf - I have plans to put in a fix based off of this answer I got on the nginx mailing list:
http://mailman.nginx.org/pipermail/nginx-devel/2018-March/011008.html

[2018-04-13 18:08] veeshall commented on #1681
Exact same issue! I am using another ingress (haproxy), but same setup (ssl-passthrough + same certs) and traffic basically hits the same pod (to which the initial tunnel HTTP/2 session was opened). Is the only option to offload SSL?

[2018-04-13 18:13] tomxor commented on #1850
@aledbf one of the advantages (in the case of JWT) is that you get to save an additional hop for every request which can end up being bottleneck. we've extended this project by adding a simple JWT script + some custom annotations to control the auth policy per ingress. not sure about ldap or others, but this was a relatively small change. given the popularity of JWT and the current lack of a worki

[2018-04-13 18:14] aledbf commented on #1850
NO :)

Please wait, we are going to revamp the auth support in the controller.

[2018-04-13 18:15] tomxor commented on #1850
any public place this is being tracked? :)

[2018-04-14 14:57] narayanprusty opened #2349 "Ingress not working when kubernetes.io/ingress.class used"
**NGINX Ingress controller version**:
NGINX Ingress Controller version: 0.12.0

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:

I want to have multiple ingress controllers. Each pointing to a different backend service. I am trying to use kubernetes.io/ingress.class class annotation but it's giving 502 error. If I remove kubernetes.io/ingress.class then it works all fine

[2018-04-15 17:10] jeunii commented on #1467
I am new to Ingress. My Ingress file is :

[code]

My 2 services are :

[code]

My ingress describe command shows me :

[code]

All this is deployed on CentOS VMs and am using Kubernetes version 1.9.5

But I am not getting an EXTERNAL-IP or an ing ADDRESS.

[2018-04-16 07:33] felixPG commented on #1467
@jeunii my workaround was create a service for the ingres controller with externalIP

[2018-04-16 13:19] jeunii commented on #1467
@felixPG  thank you for your reply. Since I am new to Ingress on K8S I have just one question. Does the Ingress controller and the apps I want controlled by the Ingress controller have to be in the same name space ? Could you recommend me a good doc that can help me understand this concept ?

[2018-04-16 13:46] r7vme opened #2354 "SSL proxying accidentally stop working"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**: 0.12.0

**Kubernetes version** (use `kubectl version`): 1.9.5

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): CoreOS 1632.3.0
- **Kernel** (e.g. `uname -a`): 4.14.19-coreos
- **Install tools**: [aws-operator](https://github.com/gi

[2018-04-16 14:09] aledbf commented on #2354
Do you have the flag `--enable-ssl-passthrough` present in the deployment?

[2018-04-16 14:47] r7vme commented on #2354
Yes,

[code]

[2018-04-16 15:34] valeriano-manassero opened #2355 "VTS Upstream groups not working with --enable-dynamic-configuration"
Using `--enable-dynamic-configuration` causes Nginx Vhost Traffic Status on /nginx_status to show only one upstream group:

This group metrics are never updated too.
This is due of LUA taking care of load balancing of the only upstream group declared in nginx.conf.
But this behavior completely eliminates any backend metric.

I already tried to workaround this but without luck. Have you any ideas o

[2018-04-16 15:49] r7vme commented on #2354
@aledbf also question, do we need `--enable-ssl-passthrough` if we already have [AWS ELB proxy protocol enabled](https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html)?

[2018-04-16 16:53] aledbf commented on #2355
We are aware of this limitation

Not yet. I think we need to start porting some features like this one and Prometheus to LUA land using a custom module using go as the backend of the module to avoid the limitations of [LUA dictionaries](https://github.com/knyar/nginx-lua-prometheus#caveats) for this kind of tasks

[2018-04-16 16:55] aledbf commented on #2355
@ElvinEfendi ping

[2018-04-16 23:42] aledbf commented on #2247
@bilalyasar please check 0.13.0

[2018-04-16 23:43] aledbf commented on #2225
Closing. Please update to 0.13.0

[2018-04-16 23:43] #2225 closed

[2018-04-17 04:29] mrrandrade opened #2357 "panic: runtime error: invalid memory address or nil pointer dereference"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): same in title. found closed issue #233

[2018-04-17 09:08] aledbf commented on #2357
@mrrandrade please post the complete stack trace to get the context where this is happening.

[2018-04-17 10:22] arjanschaaf opened #2359 "prometheus metrics names & grafana dashboard availability"
We have been running a setup with this nginx ingress controller in combination with a prometheus deployment. When we started out, we rolled out an additional container running the https://github.com/hnlq715/nginx-vts-exporter/ container which export the data from `:18080/nginx_status/format/json` into prometheus. This works good enough including a nice basic dashboard containing the data: https://

[2018-04-17 10:50] eranreshef commented on #1939
@gyliu513 did you also modify something in the nginx ingress config to match these node changes?

[2018-04-17 11:02] gyliu513 commented on #1939
@eranreshef no, but only `sysctl -w net.core.somaxconn=32768`

[2018-04-17 11:07] liggetm commented on #2338
Thanks @aledbf - my config shows `worker_rlimit_nofile 201874;` - after setting the `max-worker-connections: 65536` the issue with the traffic appears resolved.
When you say that `max-worker-connections` cannot exceed `worker_rlimit_nofile` - do you mean the total number of worker connections (ie `worker_processes` * `worker_connections`)?

[2018-04-17 11:11] jonaseck2 opened #2360 "Multiple ingress resources with path causes ordering issues"
**NGINX Ingress controller version**:
0.12.0, 0.13.0

**Kubernetes version** (use `kubectl version`):
v1.9.6-gke.0, v1.9.2 (docker-for-mac)

**Environment**:

- **Cloud provider or hardware configuration**: 1.9.6-gke.0, docker-for-mac-18.03.0-ce-mac58
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Added two separate ingr

[2018-04-17 11:13] aledbf commented on #2338
Yes.

[2018-04-17 11:14] aledbf commented on #2338
Can we close this?

[2018-04-17 11:16] rikatz commented on #2357
@aledbf The following is our full stack trace:

[code]

We're using ingress as the following:

[code]

[2018-04-17 11:16] aledbf commented on #2360
@jonaseck2 please check the service selector.
If you check the generated nginx.conf file you will see
[code]

which means the selector is not correct or you replica count is 0

[2018-04-17 11:17] rikatz commented on #2357
Sorry, @mrrandrade is testing with 'enable-dynamic-configuration=false' and 'enable-ssl-passthrough=true', and I'm testing with the opposite (dynamic=true, passthrough=false)

[2018-04-17 11:25] rikatz commented on #2357
@aledbf same problem.

We're using K8s 1.7.15 here.

[2018-04-17 11:25] aledbf commented on #2357
@rikatz apologies. Please try `quay.io/aledbf/nginx-ingress-controller:0.357`

[2018-04-17 11:27] jonaseck2 commented on #2360
My bad, kludged the kubectl run command. This doesn't reproduce the fault.

[2018-04-17 11:28] #2360 closed

[2018-04-17 11:30] aledbf commented on #2359
@arjanschaaf I am building a Grafana dashboard. Before the next release, I will add the json file and a mention in the docs.

[2018-04-17 11:32] rikatz commented on #2357
@aledbf this is the same image right? (the same version)? I'm removing the old one here.

[2018-04-17 11:33] rikatz commented on #2357
OK, now it's online. I'm going to check the generated nginx.conf here

[2018-04-17 11:34] arjanschaaf commented on #2359
Excellent: looking forward to it! 😄

[2018-04-17 11:36] aledbf opened #2362 "WIP: Missing checks in test"
- [x] Add rules without HTTP paths (#2399)
- [x] Dynamic configuration should return 503 if there is no [endpoints](https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L1077)
- [ ] Add tests for modsecurity (sending bad traffic, not just enabling the module)
- [ ] Verify ForceNamespaceIsolation feature
- [ ] Add tests for Equals method in stucts
- [ ] Add e

[2018-04-17 11:39] rikatz commented on #2357
@aledbf now it's working. The old problem in #2225 still exists, but as this is nothing stopping me from using Ingress now (only I cannot use dynamic reloads) I'll take a look at that later.

[2018-04-17 11:54] rikatz commented on #2225
@aledbf @ElvinEfendi I was able to take a look into the posted JSON here, and it's somehow related also to buffer size as mentioned [here](https://github.com/kubernetes/ingress-nginx/issues/2225#issuecomment-375097569)

The thing is that we have more than 700 Ingress Objects (and secrets, and services, and etc etc) and I don't think 10m is enough in this case.

In PR #2309 there's a mention about

[2018-04-17 12:02] rikatz commented on #2225
Setting this to 100m is not enough, although the whole JSON have 289k by now.

After the JSON printed in the Log, there are the following log lines:

[code]

Are these SSL errors somehow related to dynamic reconfiguration?

[2018-04-17 12:09] aledbf commented on #2225
No

[2018-04-17 12:31] liggetm commented on #2338
Yes, thanks @aledbf for all your help!

[2018-04-17 12:31] #2338 closed

[2018-04-17 12:56] ArnaudLevaufre opened #2364 "Deployment patch for custom service deployments should include prometheus scraping configuration annotations"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): **no**

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): **gce scrape prometheus**

**Is th

[2018-04-17 13:40] ElvinEfendi commented on #2225
@rikatz `configuration_data` is a shared Lua dictionary where we keep the list of backends with their properties(endpoints and etc.)

I don't think this is configurable for that specific `/configuration` endpoint.

this tells me 10m is not enough.

---

We are working on a more general solution for this to make dynamic configuration to work even when Nginx can not buffer the whole payload in memor

[2018-04-17 14:50] rikatz commented on #2225
@ElvinEfendi I did this and sent to @aledbf . Its size is 300k.

[2018-04-17 15:30] floriantraber commented on #2218
@oilbeater have you made progress on that task? If not I would look into it in the next few days.

[2018-04-17 15:38] oilbeater commented on #2218
@floriantraber just go ahead.

[2018-04-17 16:42] Stono opened #2367 "ModSecurity broken with 0.13.0"
Hey,
With the latest release, modsecurity seems to have broken, we're seeing this error:

[code]

I'm still investigating the cause...

[2018-04-17 16:47] #2364 closed

[2018-04-17 16:53] Stono commented on #2367
It looks like the latest release you've switched back from the performance branch to master in this commit: https://github.com/kubernetes/ingress-nginx/commit/13d390ebb0c6fa96c363fcf4549edc4835cd343e#diff-bd50bd51e758b65562491458b5a6f46dL242

I'm wondering why you made this change?  I'd done quite extensive testing on the branch of modsecurity and the crs to ensure compatibility.

[2018-04-17 16:54] aledbf commented on #2367
The branch was removed from the modsecurity repo

[2018-04-17 16:55] Stono commented on #2367
Bugger, we're in a difficult position then because modsec in `0.13.0` currently gets the container stuck in a CrashLoopBackoff

[2018-04-17 17:30] ElvinEfendi commented on #2367
@Stono have you considered using https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md#lua-resty-waf? It comes with ModeSecurity CORS and you can also configure a custom rule per ingress.

[2018-04-17 17:32] Stono commented on #2367
@ElvinEfendi thanks but we have whole infrastructure, CI/CD, integrations into ELK built around modsecurity,

[2018-04-17 17:37] aledbf commented on #2367
@Stono I am trying to see the change in the rules but is not "simple"

[REQUEST-912-DOS-PROTECTION.conf.diff.txt](https://github.com/kubernetes/ingress-nginx/files/1920929/REQUEST-912-DOS-PROTECTION.conf.diff.txt)

[2018-04-17 17:38] Stono commented on #2367
@aledbf I know... I've cross linked an issue on ModSecurity too so hopefully they can assist.  It's a minefield trying to find compatibility between CRS and ModSecurity.

Might be worth adding some sort of integration test btw that ensures a sever with ModSec enable can boot (which should at the moment fail).

[2018-04-17 17:39] aledbf commented on #2367
Already added :)  https://github.com/kubernetes/ingress-nginx/issues/2362#issue-315020432

[2018-04-17 17:41] Stono commented on #2362
Here's an example sql injection request that should return a 403 if `SecRuleEngine On` is enabled:

[code]

[2018-04-17 17:43] aledbf commented on #2362
@Stono well, I will use your post for inspiration :wink:
https://karlstoney.com/2018/02/23/nginx-ingress-modsecurity-and-secchatops/

[2018-04-17 19:07] Stono commented on #2367
@aledbf check the comments on the modsec issue I raised - can you do a test build with that commit?

[2018-04-17 19:13] aledbf commented on #2367
I just saw the comment. I'll try to build an image using that commit

[2018-04-17 20:01] antoineco commented on #2349
It seems like the backend has 1 endpoint and the location is added properly, so the ingress class matches:

[code]

Could you attach the generated nginx config? (/etc/nginx/nginx.conf)

[2018-04-17 21:47] aledbf commented on #2362
@Stono please use `quay.io/aledbf/nginx-ingress-controller:0.360`

[2018-04-17 23:00] azman0101 commented on #2359
Hi,

I've fix `Nginx VTS Stats` which may certainly be improved:
[code]

[2018-04-18 07:02] Stono commented on #2367
Morning @aledbf - that works beautifully!
Can I suggest chopping a `0.13.1` release just because it is so broken for people using it at the moment (which feels like just me hahaha).

[2018-04-18 13:00] aledbf commented on #2367
I am planning to release 0.13.1 in a couple of days

[2018-04-18 13:06] Stono opened #2371 "Advice around ingress secret cross-namespace"
Hey!
I know this has been briefly discussed before on https://github.com/kubernetes/ingress-nginx/issues/2170 - but it's something that's hit us to so i'm wondering if there's any way we can work around it?

At a high level, we have say 100 applications all deployed onto the same cluster, being handled by ingress-nginx.  They all share the same FQDN of: `app-name.dev.k8.ourcloud.io`, and all need

[2018-04-18 13:07] Stono commented on #2367
Brill :-) I'll use `0.360` until then.
Thanks for your work as always!

[2018-04-18 17:46] jesseshieh opened #2373 "Partitioning or sharding"
**Is this a request for help?**
No
**What keywords did you search in NGINX Ingress controller issues before filing this one?**
partitioning, sharding

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Feature request

**What happened**:
I'm running N nginx ingress controllers and they are working well, but as my product scales, I think I'm going to need to partition or shard the ingr

[2018-04-18 17:47] aledbf commented on #2373
@jesseshieh you can do this using the annotation `kubernetes.io/ingress.class` to achieve the partitioning.

[2018-04-18 17:48] aledbf commented on #2373
@jesseshieh or you need something different?

[2018-04-18 18:12] jesseshieh commented on #2373
Thanks @aledbf! That is exactly what I needed!

Just to throw out another idea: what do you think about using a consistent hash of each ingress in addition to the ingress class? Then each of N ingress controllers can claim a section of the hash space "automatically" which could make adding and removing ingress controllers a bit easier since you wouldn't have to change/add ingress classes. I admit

[2018-04-18 18:30] aledbf commented on #2373
Interesting idea but you are missing a point, who is going to handle this? All the controllers need to know each other and forward the traffic for the hash they do not "own" (acting as a reverse proxy).

[2018-04-18 18:30] #2373 closed

[2018-04-18 19:55] sschwenker commented on #1815
IMO.  What about having 4 cases then?

**Mode 1: Direct from Wan**
No proxy or other headers added.  This implementation should probably strip any proxy headers.

**Mode 2: Proxy from Wan**
Implements Proxy headers for back end.

**Mode 3: from a LB speaking X-Forwarded-For headers**
Same as above

**Mode 4:  from a LB speaking Proxy Protocol**
Same as above.

For configuration, I would recommend

[2018-04-18 22:45] spiffxp commented on #883
/remove-help
I don't think this meets [the criteria for `help wanted`](http://git.k8s.io/community/contributors/devel/help-wanted.md). Please add back via `/help` if I'm incorrect

[2018-04-18 23:52] kushwiz opened #2375 "0.13.0 - auth-tls-secret is broken"
backend_ssl.go:48] error obtaining PEM from secret coffee-system/ingress/client-cert: error retrieving secret coffee-system/ingress/client-cert: secret coffee-system/ingress/client-cert was not found

[code]

[2018-04-19 00:15] kushwiz commented on #2375
Reverted fec3ddc6cc117607a641932f32ef44c8e8fcb20a and built the image locally.

I don't see the error anymore.

[2018-04-19 09:26] narayanprusty commented on #2349
`daemon off;

worker_processes 4;
pid /run/nginx.pid;

worker_rlimit_nofile 261120;
worker_shutdown_timeout 10s ;

events {
    multi_accept        on;
    worker_connections  16384;
    use                 epoll;
}

http {
    real_ip_header      X-Forwarded-For;

    real_ip_recursive   on;
    set_real_ip_from    0.0.0.0/0;

    geoip_country       /etc/nginx/GeoIP.dat;
    geoip_city

[2018-04-19 11:53] aledbf commented on #2375
@antoineco ping

[2018-04-19 12:29] antoineco commented on #2375
This secret name contains a slash and is therefore invalid:

[code]

How could it ever work?

[2018-04-19 12:53] mengjieli0726 opened #2376 "The ingress service can't access if ingress exclude FQDN"
Env:

Kubernetes 1.10
Ingress:  0.12.0

1.  Create deployment and service using the below yaml file

[code]
[code]

2. Create ingress with setting FQDN

[code]
3. Verify the ingress service by curl command
[code]

If not set the FQDN in ingress,  the ingress service can't access as above.
But set the FQDN in ingress, the ingress service can access successfully.
<img width="1033" alt="image" src="h

[2018-04-19 13:09] aledbf commented on #2375
Yes. This is my fault.

I think we need to support both schemes assuming the ingress namespace when the format is not 'ns/name'

[2018-04-19 13:11] aledbf commented on #2376
Running that you will be redirected to the default backend. You need to specify the `Host` header

[2018-04-19 13:37] mengjieli0726 commented on #2376
@aledbf , same error after added `host` header.
[code]

[2018-04-19 14:01] antoineco commented on #2375
Alright, I'll tokenize the result of `ParseStringAnnotation()` instead of always assuming ingress.Namespace ([code ref](https://github.com/kubernetes/ingress-nginx/blob/nginx-0.13.0/internal/ingress/controller/store/store.go#L546)).

[2018-04-19 14:27] r7vme commented on #2354
Some clarifications, correct me if i'm wrong.

First, i was able to do SSL passthru *without*  `--enable-ssl-passthrough` flag, because we already have [proxy protocol configured](https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/enable-proxy-protocol.html) in AWS ELB . Here is the [ingress manifest](https://gist.github.com/r7vme/24c5fe19a008575cecfa9bfebf4f61ca). Behind i run nginx

[2018-04-19 15:17] oilbeater commented on #2376
Meet the same issue. If no host field in ingress rule, http traffic will be redirect to https. Not sure if it's a bug or by design.

[2018-04-19 15:35] oilbeater commented on #2376
It will redirect to https scheme and back to same service in ingress rule
[code]

@aledbf

[2018-04-19 15:37] oilbeater commented on #2376
here is the generated nginx.conf part for the ingress that only has path but no host.
[code]

[2018-04-19 15:43] aledbf commented on #2376
@oilbeater this works as expected. The default backend contains a default SSL certificate, that is why you are being redirected to https. Please add the flags `-L -k` to curl.

[2018-04-19 15:49] oilbeater commented on #2376
Use -L -k the traffic will hit `proxy_pass http://default-eyewitness-terrier-kubernetes-dashboard-443;` not the default-http-backend upstream

[2018-04-19 15:52] oilbeater commented on #2376
I think the reasonable behavior when an ingress rule has path field but no host field is no redirect to https as nginx can match the rule. Only traffic that has no math ingress rule should redirect default backend

[2018-04-19 16:13] dcherniv opened #2378 "lua-resty-waf breaks nginx even in simulate mode"
**NGINX Ingress controller version**:
0.13.0

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
GCP

- **Cloud provider or hardware configuration**:
GCP
- **OS** (e.g. from /etc/os-release):
container os
- **Kernel** (e.g. `uname -a`):
`Linux nginx-ingress-controller-5d6959bbb8-drq8x 4.4.86+ #1 SMP Thu Dec 7 20:11:11 PST 2017 x86_64 GNU/Linux

**What happened**:
Lua-resty-waf

[2018-04-19 16:31] ElvinEfendi commented on #2357
@rikatz we are working on a fix, will update you once we have it ready.

[2018-04-19 18:16] berk-can commented on #2292
same issue here, I need to get whatever response body is generated by auth service but cannot get dynamically. It would be very helpful if there is any workaround for solving the problem

[2018-04-19 19:05] #2354 closed

[2018-04-19 19:28] #2367 closed

[2018-04-19 20:06] dcherniv commented on #2378
@ElvinEfendi
[code]
I can't reproduce on my test cluster. The issue only manifests when i promote the controller to our dev environment.

Will get back to this ticket with more info.
Another important bit of info we use squid for outgoing calls to the controller.

[2018-04-19 21:41] Dm3Ch opened #2381 "Need help with realization of proxy protocol for ssl passthrough"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): request for help

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

I'm trying to make

[2018-04-19 21:41] Dm3Ch commented on #2381
https://github.com/kubernetes/ingress-nginx/pull/2380

[2018-04-19 22:04] dcherniv commented on #2378
@ElvinEfendi
Some more information that might be helpful. The below is from my resulting config file. It seems that SIMULATE option only applied to access_by_lua_block.
And it seems that all of the rest of the filters dont have `waf:set_option("event_log_level", ngx.WARN)`
I'm new to lua-resty-waf but wouldn't the below configuration produce the exact effect that i observed?
That is the request wa

[2018-04-19 22:10] Dm3Ch commented on #2381
/help

[2018-04-19 22:32] aledbf commented on #2371
@Stono the new wildcard support in cert-manager or just event secrets with wildcard certificates has been always an issue.

I know how painful is this becomes.

I am open to suggestion. Reading [IngressTLS definition](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L574) I don't see why we could not implement something like #2382.

Just to be clear, I've always be

[2018-04-19 22:48] Stono commented on #2371
I really, really would like this.
We have work that essentially blocked due to this complexity :-(

[2018-04-19 22:56] #2375 closed

[2018-04-19 23:05] kfox1111 commented on #2371
Permissions are the main issue I can think of. how do you prevent a user from accessing another users secrets?

[2018-04-19 23:12] aledbf commented on #2371
If you can restrict this tuning the RBAC permissions you give to the ingress controller

[2018-04-20 01:54] ElvinEfendi commented on #2378
@dcherniv in the example at https://github.com/p0pr0ck5/lua-resty-waf#synopsis it explicitly mentions that options will be inherited. Also the default mode is SIMULATE(https://github.com/p0pr0ck5/lua-resty-waf#mode) so I don't understand why you're seeing this issue.

[2018-04-20 01:59] ElvinEfendi commented on #2378
@dcherniv at this point I'd try setting `error-log-level` to `debug`(https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/configmap.md#error-log-level) and see if there's anything standing out in the logs.

[2018-04-20 03:14] dgregoire opened #2384 "Enable tls 1.3 in the nginx image"
FEATURE REQUEST

TLS1.3 in nginx, add the right ciphers to the default config, add TLS1.3 to the tls config string.

I can help if needed!

[2018-04-20 03:38] dcherniv commented on #2378
I will try to reproduce tomorrow via Postman, maybe it's doing something that i cannot reproduce with curl.

[2018-04-20 10:09] antoineco commented on #2371
@Stono: From what I can see there is [no validation performed on the `SecretName` field](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/validation/validation.go#L372-L391), the following spec is perfectly valid:
[code]
Therefore we could accept the `ns/ name` form without breaking the spec like @aledbf said.

[2018-04-20 10:16] Stono commented on #2371
True, I suppose playing devils advocate though there is an implicit
contract between the ingress and the controller.

Ingress-nginx would interpret that as namespace/secret, if the consumer
then moved to another controller for the same ingress it would be
interpreted as secret, with a / in the name.

I'm all for it though, because this is a mega annoying problem haha

On Fri, 20 Apr 2018, 11:09 am

[2018-04-20 10:43] antoineco commented on #2371
Right, the absence of validation leaves a lot of room for interpretation. I think it's fine because:

1. the Ingress spec is to date insufficient anyway (the way every controller implements its own set of custom annotations is the direct result of this)
2. the [`kubernetes.io/ingress.class` annotation](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/annotations/class/main.

[2018-04-20 10:44] Stono commented on #2371
I'm sold.  Let's do it 👍

On Fri, 20 Apr 2018, 11:43 am Antoine Cotten, <notifications@github.com>
wrote:

[2018-04-20 11:37] Dm3Ch opened #2387 "Problem with fsnotify.v1 dependency"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-04-20 13:31] oilbeater commented on #2387
maybe we should add a dep check in ci to make sure all dependency are valid and up to date

[2018-04-20 13:42] aledbf commented on #2387
That is not required because the dependencies are in the vendor directory.

[2018-04-20 14:13] andrewlouis93 commented on #2387
Have some context on this. Looks like `dep` is likely searching for the source of that package in github.com/go-fsnotify/fsnotify (in particular flows); see: https://github.com/golang/dep/blob/338675da19c738092aea0be66bfaa591810feb56/gps/deduce.go#L281

@sbfaulkner put together a fix by making the repository name explicit wherever that package is referenced. I believe it's on the way :)

[2018-04-20 14:26] sbfaulkner commented on #2387
I'll submit a PR shortly... it's a two line change (and a big vendor folder update)

[2018-04-20 14:55] antoineco commented on #2371
/assign @antoineco

[2018-04-20 14:58] aledbf commented on #2371
@antoineco just in case, I want input from more users.

[2018-04-20 14:59] antoineco commented on #2371
Sure, I'll just push a quick proposal that we can put on hold.

[2018-04-20 15:07] #2357 closed

[2018-04-20 16:13] gertcuykens opened #2391 "nginx.ingress.kubernetes.io/grpc-web: "true""
Now that grpc is released can we also have grpc-web build directly into the ingress-nginx controller please. https://github.com/grpc/grpc-web

[2018-04-20 16:35] aledbf commented on #2391
@gertcuykens can you be more specific?
If you annotate an Ingress with `nginx.ingress.kubernetes.io/grpc-backend: "true"` it will use grpc in nginx
If the gRPC service requires TLS `nginx.ingress.kubernetes.io/secure-backends: "true"` will use grpcs

[2018-04-20 16:51] aledbf commented on #2371
A side effect of implementing this is that we need to allow multiple namespaces in the flag `--watch-namespace` to avoid `* (all)` or just one namespace to limit the scope

[2018-04-20 17:04] gertcuykens commented on #2391
Yes but grpc-web does a bit more magic translating grpc in to a grpc dialect browser can understand too. So instead of going from a nginx kubernets ingress to a other nginx proxy and finally the grpc service I think the grpc-web proxy can be build into the ingress controler directly enabling it with a new grpc-web anotation  https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/nginx/grpc_

[2018-04-20 17:09] aledbf commented on #2391
@gertcuykens that sounds reasonable.
Can you help adding that module to the [build script](https://github.com/kubernetes/ingress-nginx/blob/master/images/nginx/build.sh) of the nginx image ?

[2018-04-20 17:24] Stono commented on #2371
Perhaps I'm missing something, but granting access to a service account
which has access to read the secrets is no different than granting the
nginx ingress service account permissions to read the secret in the first
place?

On Fri, 20 Apr 2018, 6:21 pm kfox1111, <notifications@github.com> wrote:

[2018-04-20 17:30] aledbf commented on #2371
Besides the security aspect, you should use multiple ingress controllers deployments if you have multiple tenants because there is no way to limit resources between them (a concept it doesn't mean anything in nginx).

and nginx-ingress would read the tenant's service account secret, and retrieve the tenants secret using it.

You already gave permissions to the ingress controller to access the whol

[2018-04-20 17:58] antoineco commented on #2371
I'm a bit puzzled about the intention behind `forceNamespaceIsolation`. Objects outside of the watched namespace(s) never make it to local stores, so referencing them has no effect. @aledbf would you care to clarify?

[2018-04-20 19:09] kfox1111 commented on #2371
Thats what I'm saying. give nginx-ingress only access to see ingress objects in every namespace. no secret access at all by default. Then, the end user can create a serviceaccount with access to the secrets they want access to. Then give rbac permission to nginx-ingress's serviceaccount access to use the users's serviceaccount. Then nginx-ingress uses that serviceaccount to access the secrets the

[2018-04-20 20:08] kfox1111 commented on #2371
hmm.... yeah, you are right. there still would need to be some kind of check that validated the user updating the ingress had access to the service account.

[2018-04-20 20:15] kfox1111 commented on #2371
What about a webhook admission controller? It could allow/block ingress annotation creates/updates.

[2018-04-20 21:53] iponnam opened #2393 "ingress-nginx pod security policy missing from the ducomentation"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: BareMetl
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
- **Others**:

**What happened**:
Followed the document [

[2018-04-20 23:41] aledbf commented on #2189
@nicknovitski you cannot disable http2 per Ingress (path). If you disable http2 is for all the locations.
This is because http2 directive is in the listen section of the nginx.conf file

[2018-04-21 00:25] elliotkennedy opened #2394 "nginx-ingress does not start due to a panic when calling store.k8sStore.ListIngresses since upgrading to 13.0"
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**:
13.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:55:54Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"li

[2018-04-21 00:37] aledbf commented on #2394
Closing. This is a duplicate of #2357
Please try quay.io/aledbf/nginx-ingress-controller:0.358

[2018-04-21 00:37] #2394 closed

[2018-04-21 07:27] antoineco commented on #2393
Which ones exactly? All the ones from the gce directory you linked?

Would you mind sharing the exact error message you saw? It should include the reason why Pods were not scheduled.

[2018-04-21 11:44] aledbf commented on #2371
Sure but this is something you should build for you cluster as an additional controller and not inside this ingress controller because we cannot assume everyone wants the same restrictions and also we cannot assume there is only one ingress controller in the cluster

[2018-04-21 16:42] #2378 closed

[2018-04-21 20:39] Dm3Ch commented on #2381
/remov

[2018-04-21 20:39] #2381 closed

[2018-04-21 20:41] dm3ch opened #2397 "[Pull request] Add ability to use proxy-protocol for ssl-passthrough"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): YES

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): ssl-passthrough proxy-protocol

---

[2018-04-21 21:28] aledbf commented on #2247
Closing. Please reopen if the issue persists after the update to 0.13.0

[2018-04-21 21:28] #2247 closed

[2018-04-21 23:10] praseodym opened #2400 "Add basic security context to deployment YAMLs"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request

Currently, the ingress-nginx pod runs as root and lets nginx drop privileges for workers. This is alright from a security point of view, but breaks pod security policies that have a `MustRunAsNonRoot` rule set. Kubernetes has no indication that the pod needs to run as root, and will apply the restrictive pod security polic

[2018-04-22 17:47] Dm3Ch commented on #808
I've got same problem.
When I'm enabling proxy-protocol I'm getting proxy protocol header error for requests on 80 port.

The problem is that I can't disable proxy protocol because if i'll disable it, I will break client IP detection for https (because I need to use ssl-passthrough for some backends).

The only way I see is to use haproxy for proxying traffic for 80 port using proxy-protocol.

May

[2018-04-22 17:48] Dm3Ch commented on #808
@aledbf ^

[2018-04-23 07:56] mengjieli0726 commented on #2376
@aledbf, my question  is similar with @oilbeater ,   the nginx have not any rule to match it which no host field,  Do you have any suggestion about it? thanks so much

[2018-04-23 09:48] lkirill opened #2403 "livenessProbe failed when dynamic-configuration enabled in 0.13.0"
**NGINX Ingress controller version**: 0.13.0

**Kubernetes version** (use `kubectl version`): v1.8.11

**Environment**:

- **Cloud provider or hardware configuration**: Bare-metal
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): 4.9.0-6-amd64
- **Others**: hostNetwork: true, --ingress-class=service

**What happened**:
Pod with ingress started, but

[2018-04-23 10:40] lkirill opened #2404 "dynamic-configuration: attempt to index local 'backend' (a nil value) in 0.12.0-0.13.0"
**NGINX Ingress controller version**: 0.12.0 and 0.13.0

**Kubernetes version** (use `kubectl version`): v1.8.11

**Environment**:

- **Cloud provider or hardware configuration**: Bare-metal
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): 4.9.0-6-amd64
- **Others**: hostNetwork: true, --ingress-class=service

**What happened**:
with --enable-dynam

[2018-04-23 13:11] stevewolter opened #2405 "gRPC servers cannot use dynamic HPACK"
**NGINX Ingress controller version**: 0.13.0
**Kubernetes version** (use `kubectl version`): v1.8.8-gke.0
**Environment**: GKE

**What happened**:

I ran a golang gRPC server behind an nginx ingress. Many (but not all) RPCs fail with 502. nginx logs show "upstream sent invalid http2 table index: 64 while reading response header from upstream".

**What you expected to happen**:

No error.

**How to

[2018-04-23 13:21] zegl opened #2406 "Disable access log for TCP services"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Feature request.

I'm using ingress-nginx to proxy TCP services, everything is working fine, but I'd like to have the option to disable the access logs for one (or all) of the TCP backends.

Nginx is creating lots of logs like this one: `[23/Apr/2018:12:58:49 +0000]TCP200000.001`. As they are not very informative I'd like to remove them c

[2018-04-23 14:54] olvesh opened #2407 "auth-tls-pass-certificate-to-upstream does not work for GRPC"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): grpc cert

---

**Is this a BUG REPORT

[2018-04-23 14:57] aledbf commented on #2407
@olvesh thank you for the report. Right now we don't set headers for gRPC. I think we just need to add a helper to check if the proxy_pass directive will be grpc_pass or not and change proxy_set_header to grpc_set_header

[2018-04-23 15:07] olvesh commented on #2407
Sure, our fix was a hack to see if it worked, not intended as a proposal for a solution.

Is there a variable available in the template to signal that an grpc_pass is active for the `server{..}` directive? I see that the `grpc_pass` directive is built in the go code, but it wasn't immediately apparent if that fact was available in the template via the `TemplateConfig` struct.

[2018-04-23 15:08] aledbf commented on #2407
No

[2018-04-23 15:13] olvesh commented on #2407
I don't immediately see how much work this is, not too familiar with the ingress-nginx codebase, but I can probably take a stab at this later in the week / next week.

Would be very glad for any pointers on how a solution should work though.

[2018-04-23 16:02] kfox1111 commented on #2371
Thats fair. What about about a reference controller though? I think the multitenant use case is pretty common. The code will be pretty specific I think to nginx-ingress (no other ingress has the great annotation support I think).

[2018-04-23 16:39] ElvinEfendi commented on #2404
Hey @lkirill please start ingress-nginx with `--v=2` and provide the full logs from the pod.

[2018-04-23 17:31] nicknovitski commented on #2189
Ah, I think I understand: different Ingress resources can create location config blocks inside the same server config block, so there's no way to translate an annotation on one Ingress resource into behavior that only effects the paths created by that resource.  Is that it?

What I was hoping for is a clean way to disable http2 on an entire server block.  We get some traffic from clients effected

[2018-04-23 17:41] aledbf commented on #2189
Exactly

Yes, that makes more sense because is configured in the configuration configmap and it's easy to track where this is.

[2018-04-23 18:31] lkirill commented on #2404
Version 0.13.0 works only if I disable liveness/readiness probes (https://github.com/kubernetes/ingress-nginx/issues/2403)
So, I cut out huge part of another hostnames in `server`, `Event` and `posting backends configuration` sections

[code]

[2018-04-23 20:24] yvespp commented on #2371
Another way to handle this would be to have a default tls cert(s) per ingress controller. Only the ingress operator would have to rights to set this up.

Here is an old pull request that implemented that: https://github.com/kubernetes/ingress-nginx/pull/1099
With that pull you don't have to specify that you want ssl, it is alway enabled and uses the default tls cert. Maybe that needs to be changed

[2018-04-23 20:36] gianrubio commented on #2371
This didn't solve the problem, you could have multiple wildcard certificates (for multiple domains) running in the same nginx.

[2018-04-24 02:33] rajatjindal commented on #2359
looking forward for it.

[2018-04-24 12:02] rlees85 opened #2412 "ingress-nginx does not reload when TLS secrets are changed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): TLS, certificate, reload

Loads of iss

[2018-04-24 12:05] aledbf commented on #2412
@rlees85 please update to 0.13.0. This version fixed issues with update of secrets

[2018-04-24 13:30] rlees85 commented on #2412
@aledbf didn't notice 0.13.0 had already been released. Tried upgrading, so far so good.... looks like an easy one, apologies for opening a new issue over this.

I should note though, its so far so good using the `--default-ssl-certificate=` method.

[2018-04-24 13:45] sbrandtb commented on #314
As far as I understand, part of this ticket is done by adding `force-ssl-redirect` to the configmap (or ingress) and `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: '*'` to the service.

However, HSTS is not working in such cases because `nginx.tmpl` is explicitly asking for an SSL certificate being set:

[code]

I see two solutions here:

* Introduce `force-hsts` configuration flag

[2018-04-24 14:12] jpswade opened #2415 "Nginx Ingress does not route on Docker for Mac"
**NGINX Ingress controller version**: 0.13.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCommit:"9f8ebd171479bec0ada837d7ee641dec2f8c6dd1", GitTreeState:"clean", BuildDate:"2018-03-21T15:21:50Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"

[2018-04-24 14:41] jpswade commented on #2415
I'm also seeing this:

[code]

I think it's all related...

https://github.com/istio/istio/issues/4847
https://github.com/kubernetes/ingress-nginx/issues/2188
https://github.com/kubernetes/federation/issues/255
https://github.com/kubernetes/helm/issues/3873
https://github.com/golang/go/issues/23995
...
https://github.com/docker/for-mac/issues/2811

This seems to be the dependency here... Will test

[2018-04-24 15:29] oilbeater commented on #2376
Read some code and finally understand what the `server` and `backend` really mean in ingress-nginx. All backends belonging to ingress rules without host are captured by default server. The default server is configure with ssl, so the traffic match the ingress rule will also be redirected to https.

IMHO the ingress rule without host and the default server should be separated. We should build a ser

[2018-04-24 16:04] aledbf commented on #2376
You can only have one rule without host.

What's the difference?

[2018-04-24 16:16] oilbeater commented on #2376
another option is can we disable https on default server

[2018-04-24 16:44] aledbf commented on #2376
We cannot do that. If a user makes an HTTPS request and there is no SSL certificate on `server_nam _` then NGINX will use the first server (as appears in nginx.conf) with a certificate to fulfill the request, something we don't want.

[2018-04-24 16:49] aledbf commented on #2376
What are you trying to do?

Why are you using Ingress if don't want to handle multiple domains? What's your use case?

[2018-04-24 17:51] #1667 closed

[2018-04-24 17:53] aledbf commented on #2405
Closing. Please check response in nginx ticket

[2018-04-24 17:53] #2405 closed

[2018-04-24 17:54] aledbf commented on #2412
Closing.

[2018-04-24 17:54] #2412 closed

[2018-04-24 19:09] antoineco commented on #2415
You need to expose ingress-nginx behind a Service of type `LoadBalancer` for Docker for Mac to expose it on port 80. Is that what you did?
ref #2409

[2018-04-24 19:11] antoineco commented on #2415
This is because Docker for Mac requires you to use `--insecure-skip-tls-verify`. This is a question related to Helm specifically, not ingress-nginx.

[2018-04-24 19:12] antoineco commented on #2349
Thanks @narayanprusty, looking into this.

[2018-04-24 20:49] kushwiz commented on #2375
Can this fix be released?

[2018-04-24 20:51] aledbf commented on #2375
@kushwiz we are planning to release a new version this Friday.

[2018-04-25 00:19] chino opened #2418 "restrict sub domain of rbac users?"
I'm wondering if it could be possible to restrict what vhost entries users are allowed to publish to so that they don't collide with one another in a multi-tenant cluster.

For example imagine mapping services to a certain convention such as,`<service>.<namespace>.ingress.example.com`  either automatically or by simply rejecting the user from breaking that convention based on what namespace the in

[2018-04-25 00:26] kfox1111 commented on #2418
That would be useful to us here too.

[2018-04-25 02:28] oilbeater commented on #2376
We use it in a private environment and has no dns service. We run ingress in host network mode and use host_ip/path to handle traffic to different service that provide by our kubernetes distribution.

For simplicity you can think that we bootstrap a kubernetes cluster and install some application(console, monitor, cicd pipeline and others). We want to expose the application through ingress, as nod

[2018-04-25 03:17] #2418 closed, assigned to nobody

[2018-04-25 03:36] aledbf commented on #2418
@chino please check this comment for a technical reason why this is not possible https://github.com/kubernetes/community/issues/1486#issuecomment-350741039

[2018-04-25 03:48] zheddiewen commented on #180
How can i add proxy_set_header X-Forwarded-Proto $scheme in nginx-ingress

[2018-04-25 06:58] meeee commented on #314
/remove-lifecycle stale

[2018-04-25 08:21] chenquanzhao opened #2419 "traffic split by request header or cookie"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-04-25 09:04] antoineco commented on #2400
That sounds relevant and pretty harmless to me. Would you care to send a pull request with that change?

[2018-04-25 09:04] antoineco commented on #2403
oing @ElvinEfendi

[2018-04-25 09:25] antoineco commented on #2419
At first glance it seems like something you would have to implement using a custom nginx.conf template.

[2018-04-25 09:58] Stono commented on #1951
@aledbf is there still a plan to do this?  If so can we make sure it isn't auto closed?

[2018-04-25 11:45] aledbf commented on #2250
Closing. Please reopen if you still have this issue (also send how to reproduce it)

[2018-04-25 11:45] #2250 closed

[2018-04-25 11:46] aledbf commented on #1951
You need to comment with the command /remove-lifecycle stale

[2018-04-25 11:46] aledbf commented on #1951
/remove-lifecycle stale

[2018-04-25 20:48] aledbf commented on #2415
@jpswade please follow the [Docker for mac](https://github.com/kubernetes/ingress-nginx/tree/master/deploy#docker-for-mac) guide

[2018-04-25 20:48] aledbf commented on #2415
Closing. Please reopen if you still have issues after using the mentioned guide

[2018-04-25 20:48] #2415 closed

[2018-04-25 21:36] joshsouza opened #2420 "Feature request: Allow custom Lua snippets"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): lua, custom

---

**Is this a BUG REPO

[2018-04-25 23:25] aledbf commented on #2420
@joshsouza I am not sure we should start adding this lua feature without a planning of what we want to support and how we are going to test it (from a dynamic lua point of view)

[2018-04-25 23:26] aledbf commented on #2420
ping @ElvinEfendi

[2018-04-26 03:59] diazjf commented on #2074
@d-lobo @aledbf I was recently testing this out and this feature works properly for me.
Version: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.13.0

[code]

provides `proxy_redirect                          ko.com ok.com ;` in the `/coffee` path.

Maybe 1 of the 2 scenarios occurred:

1. The annotation was used incorrectly.
2. The service did not have any endpoints.

Check the l

[2018-04-26 04:26] diazjf commented on #2074
I could see where there may have been some issues with the annotation. I put up a PR https://github.com/kubernetes/ingress-nginx/pull/2423 to fix some instructions on the annotation.

[2018-04-26 08:12] chenqz1987 commented on #2419
Yeah... But that can be configured by Ingress Controller will be better. And by the way, will we support this policy by ingress to split traffic by request header or cookie in the future?

[2018-04-26 09:04] chenqz1987 commented on #2419
For instance, there is a running service named svcA, and then we has deployed a new service version named svcB, and they are in the same domain host, but we want to split partial traffic from new clients by version keyword in the header to svcB.

[2018-04-26 09:16] chenqz1987 commented on #2419
In other words, we may call it A/B test scenario.

[2018-04-26 09:49] oilbeater commented on #2419
It seems like content based routing in istio https://istio.io/docs/tasks/traffic-management-v1alpha3/request-routing.html#content-based-routing

[2018-04-26 09:53] antoineco commented on #2419
I was expecting more details like the content of the header and the routing strategy to infer from it. In other words: how would you do it manually on a standalone nginx instance.

[2018-04-26 09:58] oilbeater commented on #2419
For nginx along this task seems impossible. We did similar things before by design a DSL
to describe how a request should be route and use nginx with lua to parse the DSL rules and compare rules with every request

[2018-04-26 13:09] ahume opened #2425 "Custom errors from backend do not retain the correct `Content-Type` header"
**Is this a BUG REPORT or FEATURE REQUEST?**:

BUG

**NGINX Ingress controller version**:

v0.13.0

**Kubernetes version**:

v1.9.6

**Environment**:

GKE/COS

**What happened**:

I have a default backend that is serving custom error pages. These are served via the ingress-controller successfully, although the responses from the ingress-controller do not retain the `Content-Type` header from the r

[2018-04-26 13:40] JordanP opened #2426 "Add an annotation to turn off 'rewrite_log'"
We are running Nginx with thousands of request/s and are using rewrite rules. Because rewrite_log is hard coded  to 'on' (https://github.com/kubernetes/ingress-nginx/blob/c37ed7ecb62b7b9a2aa89f2320332acda60e9bba/rootfs/etc/nginx/template/nginx.tmpl#L300) our logs is full of this kind of lines `[notice] 1881#1881: *634371 rewritten data: "/XX", args: "", ...`

Would it be possible to add an annotat

[2018-04-26 13:56] Eddman opened #2427 "External Auth fails if the external auth service returns big headers"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

If the External Auth service returns for instance cookies that are bigger then 4Kb the request fails. See more details below.

**NGINX Ingress controller version**:
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-re

[2018-04-26 15:49] joshsouza commented on #2420
Totally understandable @aledbf, which is why I created a feature request. This is for consideration, and I'm providing a prototype PR for one way to achieve it, but as I lack the bigger vision for where things are going here I definitely think that the team should consider whether it's appropriate and how to support it.

[2018-04-26 16:01] aledbf commented on #2420
We need to write this in a proposal and include the doc in this repository.
Give us some time to prepare this and I will post a comment here so you can provide any feedback or suggestion in that PR

[2018-04-26 16:31] aledbf commented on #2426
@JordanP I think we need to switch the default and add an annotation to enable the log.

[2018-04-26 16:39] JordanP commented on #2426
Maybe I be lazy and submit a PR that switch the default to off and leave the annotation part to someone else ? ^^

[2018-04-26 16:41] aledbf commented on #2426
@JordanP sorry but no. We cannot lose that feature.

[2018-04-26 16:51] JordanP commented on #2426
Got you. I'll try to give it a shot in the coming weeks :p

[2018-04-26 18:04] ElvinEfendi commented on #2404
@lkirill ^ is most likely the reason. Before https://github.com/kubernetes/ingress-nginx/pull/2408 we weren't reading the request body from temporary file. This issue should now be fixed in master. @aledbf is going to release a new version tomorrow and you can use that image to test it out.

Looking forward to hear your experience. Thanks for reporting this!

[2018-04-26 18:04] ElvinEfendi commented on #2403
@antoineco I think this is related to https://github.com/kubernetes/ingress-nginx/issues/2404 and I have address it at https://github.com/kubernetes/ingress-nginx/issues/2404#issuecomment-384734713.

[2018-04-26 18:32] ElvinEfendi commented on #2362
is done now:
https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/lua/balancer.lua#L171

[2018-04-26 18:45] ahmettahasakar commented on #2225
I keep getting the following error:

unexpected error generating SSL certificate with full intermediate chain CA certs: Invalid certificate.

The certificate seems perfectly fine when verified with ssllabs.com. What is the reason for invalid certificate warnings? If I can not fix it, is there a way to disable them?

![screen shot 2018-04-26 at 19 44 24](https://user-images.githubusercontent.com/25

[2018-04-26 18:54] #2427 closed

[2018-04-26 19:23] pv93 opened #2429 "HTTP -> HTTPS redirect not working"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** NGINX ingress ssl-redirect

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**: `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.13.0`

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**: GKE

- **Cloud provi

[2018-04-26 20:15] racyber commented on #2207
Does this feature is part of the 0.13.0?
I'm using helm to install ngnix and currently the values are:
repository: quay.io/kubernetes-ingress-controller/nginx-ingress-controller
tag: "0.13.0"

[2018-04-26 20:25] racyber commented on #2207
@aledbf cool thanks!

the annotations docs is out of date, this flag is missing.

[2018-04-27 02:44] #2429 closed

[2018-04-27 03:48] #1718 closed

[2018-04-27 09:25] csabakollar commented on #2225
Having the same problem as @ahmettahasakar
`E0427 09:24:52.887180       9 backend_ssl.go:146] unexpected error generating SSL certificate with full intermediate chain CA certs: Invalid certificate.`

[2018-04-27 09:27] ahmettahasakar commented on #2225
I figured it out. Some certificates don't support it apperantly. You need to set --enable-ssl-chain-completion = false . Then it stops

[2018-04-27 09:31] csabakollar commented on #2225
Thanks @ahmettahasakar

[2018-04-27 12:27] chenqz1987 commented on #2419
@antoineco For instance, my partial server conf is:
[code]

If I curl http://mini-echo.io with request header 'Version: 2', it will proxy pass to upstream default-old-nginx-80, but if I curl without request header 'Version: 2', it will return 503 error page.

[2018-04-27 12:44] chenqz1987 commented on #2419
I think it's a very good feature, and can support gray deploy and A/B test scenario.

[2018-04-27 13:48] ElvinEfendi commented on #2225
@ahmettahasakar @csabakollar can you give some more details about how these all related to `--enable-dynamic-configuration`?

[2018-04-27 13:51] ahmettahasakar commented on #2225
It isn't. I saw @rikatz 's message and wrote my solution in case someone needs it.

[2018-04-27 13:52] csabakollar commented on #2225
google took me here and I saw @ahmettahasakar is having the same problem... pure coincidence :)

[2018-04-27 17:27] #2426 closed, assigned to nobody

[2018-04-27 18:47] gtaylor opened #2441 "Add annotation for per-Ingress keepalive_timeout adjustment"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* keepalive
* keep-alive

**What happened**:

We had a single application that does not handle nginx's keepalives well. It looks like you can only disable keepalives globally via the configmap approach.

**What you expected to happen**:

[2018-04-27 18:49] aledbf commented on #2441
@gtaylor yes, this makes sense. Included in the TODO list for the next release.

[2018-04-28 00:11] ElvinEfendi commented on #2403
@lkirill please test quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.14.0 and let us know if you're still seeing this issue.

[2018-04-28 00:11] ElvinEfendi commented on #2404
@lkirill please test quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.14.0 and let us know if you're still seeing this issue.

[2018-04-28 00:14] ElvinEfendi commented on #2225
@rikatz could you test `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.14.0` and let us know if you're still seeing this issue.

[2018-04-28 01:07] zivagolee commented on #2375
@kushwiz Looks like this didn't make it into 0.14.0?

[2018-04-28 01:12] aledbf commented on #2375
@zivagolee this is included in 0.14.0

[2018-04-28 02:29] rikatz commented on #2225
@ElvinEfendi ok, will try next week :)

[2018-04-28 03:15] zivagolee commented on #2375
@aledbf ah, didn't see it in the changelog. thank you!

[2018-04-28 04:11] kinglion811 opened #2444 "ingress-nginx version 0.13 for grpc not work"
I deploy my ingress-nginx fllow https://github.com/kubernetes/ingress-nginx/blob/master/docs/deploy/index.md
and I deploy the example fllow https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples the example can work with http curl.
but when I deploy myself ingress by useing grpc it not work.
the deployment and ser

[2018-04-28 09:33] kinglion811 commented on #2444
I check my nginx config, I find

--------------------
listen 80 default_server  backlog=511;

listen [::]:80 default_server  backlog=511;

set $proxy_upstream_name "-";

listen 443  default_server  backlog=511 ssl http2;

listen [::]:443  default_server  backlog=511 ssl http2;
-------------------------

why the port of 80 don't http2?
should set http2 for port 80?
I deploy my nginx fllow https://w

[2018-04-28 10:45] lkirill commented on #2404
@ElvinEfendi Yep, seems like 0.14.0 had fixed this issue. Thank you!

[2018-04-28 10:46] lkirill commented on #2403
@ElvinEfendi Yep, seems like 0.14.0 had fixed this issue. Thank you!

[2018-04-28 12:53] #2403 closed

[2018-04-28 12:53] #2404 closed

[2018-04-28 12:55] aledbf commented on #2444
You need to use SSL. Using http2 on port 80 breaks http traffic

[2018-04-30 05:07] yeganx opened #2450 "ingress-conroler pod restart"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-04-30 05:10] yeganx commented on #2450
additionally I tested with and without RBAC solutions but same error.

[2018-04-30 15:40] embano1 opened #2452 "Document recommended QoS resource settings"
**FEATURE REQUEST**

Browsing through the issues, it seems that some people apply QoS resource settings (cpu/mem requests/limits) to the controller. However, neither the docs nor the deployment manifest for the controller mention best practices for applying resource settings.

In addition (also correctly mentioned by @aledbf in some issues), `worker_processes` should be aligned accordingly.

Pleas

[2018-04-30 16:10] aledbf commented on #2452
@embano1 not sure about adding this right now. The reason is right now we have two things running in the same pod, the ingress controller (go process) and nginx. The go process ram has some relation with the number of object in the k8s cluster but usually starts with 27MB. On the other side, the nginx rsource could change during the lifetime of the pod because of the reloads, that when occur you w

[2018-04-30 16:13] aledbf commented on #2452
@embano1 that said maybe we can define some defaults but not sure if this could lead to new issues (like the ones that started after the sysctl tuning https://github.com/kubernetes/ingress-nginx/pull/2077)

[2018-04-30 18:12] embano1 commented on #2452
Thx,

I understand your objection. However, currently if someone deploys the controller not understanding Kubernetes QoS behavior, this could lead to unintended consequences, especially in PROD environments.

If we don't want to set limits, let's go with burstable w/out limits. So we at least decrease OOM likelihood for MEM and increase CPU scheduling time for the processes.

An alternative would

[2018-04-30 18:15] aledbf commented on #2452
That makes sense because it will not kill the pod.

Honestly, I prefer this if this if we suggest the user run the controller without limits to get an idea of what's the requirement in their cluster and show how can be adjusted.
Makes sense?

[2018-04-30 18:32] aledbf commented on #2452
Just open a PR with your proposal. I think this could be a new document in this directory https://github.com/kubernetes/ingress-nginx/tree/master/docs/user-guide

[2018-05-01 00:15] mattalberts commented on #2441
👍

[2018-05-01 13:33] #1922 closed

[2018-05-01 15:01] aledbf commented on #2371
Closing. This change breaks the currently enforced isolation. The issue with multiple namespaces and secrets could be solved in cert-manager. In any other case is up to the user to copy the secrets between namespaces (this could be an usecase for a custom controller to avoid manual tasks).

ping @munnerz

[2018-05-01 15:01] #2371 closed

[2018-05-01 15:03] Stono commented on #2371
Interestingly, fyi we have migrated to cert manager and letsencrypt.

On Tue, 1 May 2018, 5:02 pm Manuel Alejandro de Brito Fontes, <
notifications@github.com> wrote:

[2018-05-01 18:06] bfin commented on #1094
@stp-ip  The ingress-nginx controller is built with the headers-more-nginx-module so you can use the `more_clear_headers` directive to completely remove the server output header:

[code]

https://github.com/openresty/headers-more-nginx-module#more_clear_headers

[2018-05-02 04:33] chalvern commented on #2444
@aledbf I have the same problem ,  but as far as I learn, gRPC should work without SSL. gRPC use h2c(without ssl) instead of h2 (with ssl)

[2018-05-02 04:47] kinglion811 commented on #2444
@aledbf do I have  to use ssl？If I don’t want to use ssl. which method can set the ingress nginx config to set

listen 80 default_server backlog=511 http2;

listen [::]:80 default_server backlog=511 http2;

I set http2 of port 80 in ingress-controller container by myself,but the controller will clean http2 for port 80.

[2018-05-02 04:48] aledbf commented on #2444
@kinglion811 you need to use a custom template

[2018-05-02 07:26] kinglion811 commented on #2444
@aledbf  I change the template like this：
listen {{ $address }}:{{ $all.ListenPorts.HTTP }}{{ if $all.Cfg.UseProxyProtocol }} proxy_protocol{{ end }}{{ if eq $server.Hostname "_"}} default_server {{ if $all.Cfg.ReusePort }}reuseport{{ end }} backlog={{ $all.BacklogSize }}{{end}} http2;
        {{ else }}
        listen {{ $all.ListenPorts.HTTP }}{{ if $all.Cfg.UseProxyProtocol }} proxy_protocol{{

[2018-05-02 07:52] akx opened #2458 "Document upgrading ingress-nginx"
I couldn't find documentation on how to upgrade ingress-nginx to a newer version.

Based on the diff in https://github.com/kubernetes/ingress-nginx/commit/acaf3d8c04c3576bc3677bf83a91605e094ad98f#diff-58912cfc006ed8b1c4409cc848894935R21 I assume it's just a matter of changing to the new version in the `nginx-ingress-controller` deployment, but I'd like confirmation before applying that change :)

[2018-05-02 14:45] girbea opened #2460 "Ingress HTTPS to HTTPS redirect"
**NGINX Ingress controller version**: nginx-ingress-controller:0.14.0

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.0", GitCommit:"6e937839ac04a38cac63e6a7a306c5d035fe7b0a", GitTreeState:"clean", BuildDate:"2017-09-28T22:57:57Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1"

[2018-05-02 14:46] benley commented on #1874
yes: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#default-backend

[2018-05-02 17:48] AssafShaikevich opened #2461 "Ingress controller dropping websocket connections when performing backend reload"
**NGINX Ingress controller version**: 0.12.0 and 0.14.0

**Kubernetes version** (use `kubectl version`): v1.8.0

**Environment**: aws with elb

- **Cloud provider or hardware configuration**: aws m4 medium
- **OS** (e.g. from /etc/os-release):16.04.1 LTS
- **Kernel** (e.g. `uname -a`): 4.4.0-119-generic x86_64 GNU/Linux
- **Install tools**: kops
- **Others**:

**What happened**: Ingress controller

[2018-05-02 17:53] ElvinEfendi commented on #2461
To my knowledge this is how Nginx behaves on reloads. That being said you can enable dynamic mode using `--enable-dynamic-configuration` to avoid reloads on backend changes.

[2018-05-02 18:01] kfox1111 commented on #1944
I'm needing this feature as well.

[2018-05-02 21:32] JordanP commented on #2461
Or use the `worker-shutdown-timeout` directive in your configuration config map

[2018-05-02 21:33] JordanP commented on #2458
Yes. But be careful if you have a custom config template.

[2018-05-02 23:50] octete opened #2463 "X-Forwarded-Host header is copied into the Host header"
**Is this a request for help?**

Yes, and maybe a bug report. I wanted to explain the situation that I'm seeing, before filling a bug report, or asking for some configuration changes.

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

I have found related entries:

https://github.com/kub

[2018-05-03 03:57] pcj commented on #2391
@gertcuykens grpc-gateway is a proxy that converts textual JSON http/1.1 requests to protobufs which are then relayed to a grpc backend, but it is totally separate from grpc-web.

grpc-web, however, works like this:

1. Given a protobuf request message, convert it to binary form using javascript running in a browser.  Take that Uint8Array, add headers and trailers, and take that "framed" binary co

[2018-05-03 04:03] edbergavera commented on #605
The one suggested here works in our situation but the ff. annotation doesn't work:

`nginx.ingress.kubernetes.io/permanent-redirect: https://www.google.com`

[2018-05-03 05:13] aledbf commented on #2458
@akx usually, only a change in the version is enough but as @JordanP said you also need to check if the template was modified between releases if you use a custom template.

[2018-05-03 05:15] aledbf commented on #2463
@octete please update to 0.14.0

[2018-05-03 05:35] aledbf commented on #2460
@girbea what's the issue exactly?

[2018-05-03 06:27] aledbf commented on #2460
@girbea, please post the logs from the ingress controller to see the reason. One issue could be the SSL Ciphers nginx is using to establish the connection with your jetty app server. What JDK are you using?

[2018-05-03 06:36] girbea commented on #2460
[logs-from-nginx-ingress-controller-in-nginx-ingress-controller-74679f96b8-kxcj2.txt](https://github.com/kubernetes/ingress-nginx/files/1969814/logs-from-nginx-ingress-controller-in-nginx-ingress-controller-74679f96b8-kxcj2.txt)
Attached you can find the logs which I extracted from the Kubernetes Dashboard. The JDK that the Applications use is: 8u151.

[2018-05-03 09:27] marklee77 commented on #2463
we still have this in the nginx.tmpl in 0.14.0:
[code]

[2018-05-03 12:10] AssafShaikevich commented on #2461
Thx for the replay @JordanP and @ElvinEfendi  ,
using --enable-dynamic-configuration still causes less offten but still happening
to our understanding websockets should be persistent connections handling to the backend
are we wrong to use nginx to proxy these connections ?
can we do somthing like nginx -s reload to keep the connections alive ?

[2018-05-03 12:41] aledbf commented on #2461
Ok, can you tell us what are you chaning? Maybe you are deploying a new version of your app?

This is not an issue with nginx in particular, you will face the same issue with other load balancers. The issue here is that you need to drain the connections before replacing the old pods (once kubernetes removes the pod from ready we cannot do anything about it)

Please check https://github.com/kuberne

[2018-05-03 12:41] aledbf commented on #2461
That is what happens now.

[2018-05-03 12:54] AssafShaikevich commented on #2461
@aledbf actually because the ingress controller is a cross-cluster service (lots of pods from diffrent namespaces are reversed from it ) each time a change event is triggered by it causes a reload and there for disconnects our WebSocket.
for example, we have our websocket pod working and clients connected to it ,
then we deploy a new http service pod with a new ingress rule in a different namespac

[2018-05-03 13:06] #2458 closed

[2018-05-03 15:48] JordanP commented on #2461
You may want to read http://danielfm.me/posts/painless-nginx-ingress.html and especially the "Ingress Classes To The Rescue" section.

[2018-05-03 18:25] ralphrodkey commented on #2349
I'm seeing the same issue with the latest stable chart (nginx-ingress-0.18.0). When I specify something like `--set controller.ingressClass=nginx-internal`, I get output from the ingress controller like this:
[code]
When I remove the custom ingressClass, everything works as expected.

[2018-05-03 21:15] antoineco commented on #2349
@narayanprusty I tried to reproduce this without success. I think either your backend was not ready and NGINX returned a 502, or the backend itself returned that error. Besides the `nginx.conf` you posted does not correspond to the error you mentioned; the example uses the default backend, while the logs reference a service called "aixiapbc".

I started a controller with `--ingress-class=foo` and

[2018-05-03 21:24] #2323 closed

[2018-05-03 21:27] aledbf commented on #2302
Closing. Please update to 0.14.0 and reopen if the issue persist

[2018-05-03 21:27] #2302 closed

[2018-05-03 22:12] ralphrodkey commented on #2349
@antoineco Sorry, I can see that I didn't mention that I was updating the annotation on my deployment to match what the ingress controller was expecting.

This fails:

- Install nginx-ingress-0.18.0 with `-set controller.ingressClass=nginx-internal`
- Create a deployment with `kubernetes.io/ingress.class: nginx-internal`
- The ingress controller logs `ignoring add for ingress XXXXXXX based on anno

[2018-05-03 22:19] antoineco commented on #2349
@ralphrodkey the annotation must be set on the `Ingress` objects, not `Deployments` (see my example above).
`with value <empty string>` means the annotation is not set properly.

[2018-05-03 22:58] pcj commented on #2391
@gertcuykens Looks like you already filed an issue on grpc-web, sorry I didn't see that.  Discard whatever background commentary was not useful.

[2018-05-04 11:27] aledbf opened #2468 "Add information about NGINX image"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

This additional information is useful for end users

[2018-05-04 12:49] antoineco commented on #2349
Glad it helped! 👍

[2018-05-04 17:29] rikatz commented on #2225
@ElvinEfendi Now that's working :) Tested with 0.14.0

Thanks guys for the great job. Will also test the resty-waf :D

[2018-05-04 18:13] andrewwippler commented on #555
I have stumbled across this issue in my search for how the `path` is translated by the ingress controller - if any regex was added to the path string before it was consumed by the ingress. After reading this thread, I understand it is not manipulated in any way.

What got me confused about this path were how the docs described it:
[code]
To me, this sounded like the string was being manipulated by

[2018-05-04 20:03] pkelleratwork opened #2469 "???? - Deployment documentation moved! See (/docs/deploy)[../docs/deploy/index.md]. ????"
where did the documentation go?

https://github.com/kubernetes/ingress-nginx/tree/master/deploy

[2018-05-04 20:26] aledbf commented on #2469
Here https://github.com/kubernetes/ingress-nginx/blob/master/docs/deploy/index.md

[2018-05-04 20:28] aledbf commented on #2469
@pkelleratwork please also check https://kubernetes.github.io/ingress-nginx/deploy/

[2018-05-04 20:42] pkelleratwork commented on #2469
awesome - thanks @aledbf

[2018-05-04 20:42] #2469 closed

[2018-05-04 20:47] nicknovitski commented on #2189
I have code that I'm pretty sure works. I only have to add e2e tests for it.

[2018-05-04 21:04] darose opened #2471 "watch-namespace appears to be running into RBAC permissioning errors"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

No; a bug report, near as I can tell.

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

"

[2018-05-05 03:05] pkelleratwork opened #2473 "Pod Constant error - It seems the cluster it is running with Authorization enabled (like RBAC)"
**NGINX Ingress controller version**:0.14.0

**Kubernetes version** (use `kubectl version`): 1.9.3

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): KOPS default
- **Kernel** (e.g. `uname -a`):
- **Install tools**: KOPS, kubectl
- **Others**:

**What happened**: deployed ingress controller. Pod errors with

$ kubectl logs ingress-nginx-con

[2018-05-05 03:13] whmzsu opened #2474 "Is there an example for accessing https service behind the nginx ingress ????"
Is there an example for  accessing https service  behind the nginx ingress ????

The accessing  a http service behind the nginx ingress  example  worked as expected !!!
But there was no official  https example  for  ingress  kind yaml file  or  I missed somewhere ??

[2018-05-05 03:41] #2473 closed

[2018-05-05 08:01] aledbf commented on #2474
@whmzsu please check https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#secure-backends

[2018-05-05 11:10] kwojtaszek commented on #2043
I can confirm that issue exists in 0.14.0, generic block with no ssl included is generated for this specific scenario:
[code]

[2018-05-05 19:45] Chehai opened #2475 "Support grpc_read_timeout and grpc_send_timeout"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): grpc timeout

---

**Is this a BUG REP

[2018-05-06 01:47] whmzsu commented on #2474
@aledbf thanks for advise!!

Still have some problem. now I can access the dashboard through http from ingress address .  Any way  to access it through https from ingress address ????
[code]

[code]
[code]

[2018-05-06 14:35] aledbf commented on #2471
@darose the default deployment files use objects from the namespace where the ingress controller is installed. This should be indicated in the docs. Apologies for that.

If you use `--watch-namespace foo` you need to deploy the default backend and configmap in the amespace `foo`

[2018-05-06 14:39] aledbf commented on #2204
Closing. Please update to 0.14.0. We changed how the secrets are synced. Please reopen if the issue still persists

[2018-05-06 14:39] #2204 closed

[2018-05-06 14:43] aledbf commented on #2190
No, you still will receive event updated from changes in endpoints. This does not means the ingress controller reloads. When this happens you will see `ingress backend successfully reloaded...` in the pod logs

[2018-05-06 15:53] towolf commented on #2204
Seems to work with 0.14.0, thank you.

[2018-05-06 20:38] rfer opened #2476 "Ingress upstream incorrectly updated on Service without Selector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm trying to expose a Service that has no Selector on Ingress (with Kubernetes official Nginx Controller).

The Service without the Selector works fine when I set it as NodePort, and it uses the Endpoint that I define manually.

However, once I setup an Ingress resource pointing to this service I cannot get it working.

[2018-05-07 06:27] jpalomaki commented on #1709
@aledbf I also see the error described by @whereisaaron

[2018-05-07 17:43] aledbf commented on #2476
@rfer please post the endpoint object yaml definition

[2018-05-07 18:15] aledbf commented on #2444
Closing. I am considering enabling http2 on port 80 if all the paths in the server are grpc services but this could break if you start with just one grpc service and then add another path/s for http

[2018-05-07 18:15] #2444 closed

[2018-05-07 20:53] JulienCarnec commented on #2008
/remove-lifecycle stale

[2018-05-07 21:01] #1797 closed

[2018-05-07 22:30] AndrewMorsillo commented on #2230
I am being impacted by this. Users accessing the non-www domain is messing up my analytics data. Any workarounds? I can't find any.

[2018-05-07 22:58] kwuite commented on #1980
Thank you for finding this bug! I can finally run a multi-pod cluster with meteor node framework without having problems with image uploads. Images where being uploaded to all nodes but now with session affinity I am without problems.

[2018-05-08 06:58] jpalomaki commented on #1709
@aledbf will do

[2018-05-08 08:48] rfer commented on #2476
Added Endpoints resource to original post.

[2018-05-08 09:37] xianlubird commented on #2419
+1

[2018-05-08 09:56] jpalomaki commented on #1709
@aledbf running 0.14.0, I still get `error obtaining PEM from secret app/swagger-htpasswd: no keypair or CA cert could be found in app/swagger-htpasswd` for a secret that contains basic auth credentials (i.e. no TLS certificate secrets). Relevant ingress annotation:
[code]

[2018-05-08 12:45] aledbf opened #2480 "WIP: Roadmap to 1.0"
- Web administration UI
- ~~Kubectl plugin https://gist.github.com/aledbf/db25dbc723fc7d71345a9657abfd766d~~
- Installation UX (plugin)
- Help debugging Ingress errors

- Monitoring:
  - ~~prometheus~~ #2726
  - ~~grafana~~ #2771

- Minikube:
  - ~~change from RC to Deployment~~

- Autoscaling:
    - HPA with custom metrics

- Dynamic Configuration without reload
    - ~~Zero-downtime deployment f

[2018-05-08 15:08] mumoshu commented on #2444
@aledbf Can we alternatively introduce a dedicated annotation like `nginx.ingress.kubernetes.io/http2-listener: "true"` to delegate decision of forcing http2 to users? This way, no one will break if unexpectedly anyway 🤔

[2018-05-08 15:11] aledbf commented on #2444
@mumoshu the problem with that proposal is that you could have two ingresses for the same host and different paths, with true in one and false in the other and we end up in the same situation we have now

[2018-05-08 15:13] aledbf commented on #2444
Just in case, there is a PR to provide autodetection but is not merged yet https://forum.nginx.org/read.php?29,278877,278929#msg-278929

[2018-05-08 15:31] kfox1111 commented on #2480
Is the web ui something different then kube-dashboard? If so, why?

Is installation ux different then a helm chart?

What does migration to CRD's mean? Likewise, removing annotations?

[2018-05-08 15:36] aledbf commented on #2480
You only get the same feature than `kubectl get ingress`, i.e. you don't get information about the service, port, tls, annotations, etc...

Yes, setting up the controller should not require knowledge of go templates or yaml files

Migrate the current configuration in the configmap and annotations to CRDs to provide the semantics we cannot express with annotations where everything is a string.

[2018-05-08 16:10] kfox1111 commented on #2480
So, is that reason to create a new ui, or a reason to enhance kube-dashboard to support those things?

helm does not require you to know go templates or yaml files. As an op, a proliferation of how to install things can be difficult to handle. When the installation tools are nestable like helm charts are, you can more easily tie all the things together. For example, you could make a helm chart tha

[2018-05-08 16:25] aledbf commented on #2480
https://github.com/kubernetes/ingress-nginx/issues/109
https://github.com/kubernetes/dashboard/issues/1832

This requires a change in the Ingress spec located in k8s core. I don't see this happening any time soon.

For simplicity, the CRD name is the same one than the Ingress so you don't need an annotation. Using an annotation to point to a specific CRD should also be supported.

This is an examp

[2018-05-08 16:53] rajatjindal opened #2481 "support redirect to a custom 404 url rather than using default backend"
Feature Request

Describe *in detail* the feature/behavior/change you'd like to see.

I've an ingress resource with Host: 'website.mycompany.com' using tls cert for website.mycompany.com

The ingress controller is using a default backend, but we have not configured a default ssl.

Now if user reaches our ingress controller with https://unknown.mycompany.com, he is redirected to default backend and

[2018-05-08 21:00] wincus commented on #2461
For future reference ... setting `worker-shutdown-timeout` long enough ( 24hs ) fixed the issue for me on version https://github.com/kubernetes/ingress-nginx/releases/tag/nginx-0.9.0

[2018-05-08 21:29] ElvinEfendi commented on #2461
just want to note that `worker-shutdown-timeout` might have unexpected side effect - every time Nginx receives reload signal it will spin up new configured number of workers without shutting down the current one until 24 hours pass or there's no active connection anymore. And if you have controller reloading Nginx enough times then you can get your pod OOM killed.

[2018-05-09 02:28] mumoshu commented on #2444
@aledbf Ah, made sense!

So, even my proposed annotation was in-place, one needs to ensure separating nginx-ingress-controller by customizing and differentiating ingress classes? Sounds like too much compared to  benefit...

I'll check the ong PR for nginx. Thanks for the pointer

[2018-05-09 02:56] 0312birdzhang commented on #250
still in `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.13.0`
[code]

[2018-05-09 07:18] Miouge1 commented on #180
@zheddiewen there is an example here: https://github.com/kubernetes/ingress-nginx/blob/87d1b8bbf28265386b339e65d8943d8c3f8582ed/docs/examples/customization/configuration-snippets/ingress.yaml

[2018-05-09 11:43] rikatz commented on #250
@0312birdzhang what's your kubernetes version?

[2018-05-09 12:54] mumoshu commented on #2325
@aledbf Hi. Thanks for maintaining nginx ingress!

Just wondered if we really need the secure communication thing.

How about ingress controller just periodically writes rendered nginx.conf to a configmap? Then the nginx pod could mount the configmap as a volume, watches for change with inotify/fsnotify, and feed the config via Lua on update?

[2018-05-09 13:04] aledbf commented on #2325
I thought in that and the issue I found is the permissions over that configmap. We not only need to dump the nginx.conf but also the SSL certificates

[2018-05-09 13:31] mumoshu commented on #2405
@stevewolter @aledbf Hi. You concluded this to be a bug in nginx. JFYI but it seems like one in grpc-go.

We already have an issue in https://github.com/grpc/grpc-go/issues/1928, and the PR is in-p at https://github.com/grpc/grpc-go/pull/2045

That being said, using a grpc-go built from the PR head would solve this issue.

Anyway, this is a bug outside of ingress-nginx. I just wanted to leave a no

[2018-05-09 13:40] 0312birdzhang commented on #250
@rikatz sorry it's my fault, the endpoints has been deleted, so the log is right.

[2018-05-09 15:11] posix4e opened #2483 "Ingress no longer support basic-auth"
AUTH
---

BUG REPORT

**NGINX Ingress controller version**:
Upgraded from last google beta 0.9.0 b15 -> 0.14.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5249e14daa22bf", GitTreeState:"clean", BuildDate:"2017-12-07T16:16:03Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"

[2018-05-09 15:16] posix4e commented on #2483
Here's the snippit from the ingress controller's nginx.conf
[code]

[2018-05-09 15:35] posix4e commented on #2483
Woops using wrong old annotations

[2018-05-09 15:35] #2483 closed

[2018-05-09 21:43] distol opened #2485 "Bug: No $namespace, $ingress_name and $service_name vars in servers generated by from-to-www-redirect annotation"
There are no `$namespace`, `$ingress_name` and `$service_name` variables defined for servers generated for redirects (from/to www): https://github.com/kubernetes/ingress-nginx/blob/nginx-0.14.0/rootfs/etc/nginx/template/nginx.tmpl#L440-L468 . So it's impossible to use them in logs and so on.

[2018-05-10 00:43] shigy123456 commented on #2476
targetPort: http
Is this configuration right? The port number is "HTTP"?

[2018-05-10 03:30] shigy123456 opened #2487 "4 layer port problem"
**NGINX Ingress controller version**:0.9.0-beta.11
**Kubernetes version** (use `kubectl version`):1.8.2
**Environment**:centos7.4

**What happened**:
When publishing a four-tier port using tcp-service, you can't distinguish between namespaces, which is a problem,For example: 3306 corresponds to mysql under the default namespace,Cannot use 3306 in kube - system namespace , only 3307,It is configure

[2018-05-10 11:28] aledbf commented on #2487
Closing. This works as expected. You cannot expose multiple services on the same port

[2018-05-10 11:28] #2487 closed

[2018-05-10 11:32] aledbf commented on #2485
Closing. This works as expected. Redirect from-to-www-redirect annotation applies to all the Ingresses in a server.

[2018-05-10 11:32] #2485 closed

[2018-05-10 12:37] ajayaa opened #2489 "Ability to specify a different base url"
Here is a scenario:

non-k8s nginx reverse proxy -> k8s nginx ingress controller

The non-k8s nginx reverse proxy serves at https://foo.com and the k8s nginx serves at https://bar.com. I want to be able to specify https://foo.com as the base url in k8s nginx so that all the request to k8s nginx come via non-k8s nginx reverse proxy rather than directly.

TBH, I am not sure if this even makes sense.

[2018-05-10 13:04] aledbf commented on #2489
Closing. You need to change the response in the non-k8s nginx reverse proxy.

That is what you need to do

[2018-05-10 13:04] #2489 closed

[2018-05-10 16:26] #2284 closed

[2018-05-10 20:49] Stono opened #2491 "Gracefully retry when waiting for LoadBalancer to get IP"
Hey,
I've noticed on a fresh deployment, the initial deploy of ingress-nginx results in 4 or 5 crashes, whilst waiting for the Service to be allocated an IP address from the cloud provider:

[code]

[code]

It'll stop crashing once the service has an IP.

It'd be nice if the retry wait for this was just a retry timer, rather than a crash reboot loop?

[2018-05-10 22:50] aledbf commented on #2491
@Stono I already have a PR to change this behavior. Thanks for the report

[2018-05-11 01:07] mattwilliamson commented on #1360
Yes, this is super frustrating. Regex worked when you add the rewrite annotation, but then you lose the url....

[2018-05-11 07:02] bluecmd opened #2492 "gRPC shared with HTTP in a single ingress"
**FEATURE REQUEST**

**NGINX Ingress controller version**:
`0.14.0`

**What happened**:
I have a gRPC service that also has a web frontend. I would like to have them on the same Ingress to share DNS and TLS certificates.

**What you expected to happen**:
I expect that I can do something like:
[code]

When I tried to for example split the ingress in two - one gRPC with a path of `/myrpcservice.MyRp

[2018-05-11 09:52] ean opened #2493 "Support grpc_set_header"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
grpc_pass_header

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**NGINX Ingress controller version**:

0.14.0

**Kubernetes version** (use `kubectl version`):

1.8.8

**What happened**:

Header forwarding to gRPC backend

[2018-05-11 11:01] muratsplat commented on #1885
Yes, `nginx.*` namespace can not handle by GKE..

[2018-05-11 12:12] jpalomaki commented on #1709
@aledbf should this issue be re-opened?

[2018-05-11 12:16] qrpike commented on #1794
Also having this issue. Works fine on 0.9.0, when trying to upgrade to 0.13.0 it fails with:

[code]

[2018-05-11 12:19] qrpike opened #2494 ""client_max_body_size" directive invalid value"
**BUG REPORT**:

**NGINX Ingress controller version**:
0.13.0

**Kubernetes version** (use `kubectl version`):
1.9.6

**Environment**:

- **Cloud provider or hardware configuration**:
 - Self hosted, Dell 620's. PXE Boot
- **OS** (e.g. from /etc/os-release):
 - CoreOS Stable
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When using version 0.9.0 setting the

[2018-05-11 12:50] aledbf commented on #2494
@qrpike please check the value using `kubectl exec <ing pod> cat /tmp/nginx-cfg219046792`

[2018-05-11 12:51] aledbf commented on #1709
@jpalomaki no. Please open a new issue

[2018-05-11 14:45] ajayaa commented on #2489
Cool. That worked! Thanks.

[2018-05-11 21:42] Rishka opened #2496 "auth-signin and auth-url annotations not working"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
no
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
auth-url

---

**Is this a BUG REPORT o

[2018-05-11 21:46] Rishka commented on #2496
dup of #2483

[2018-05-11 21:46] #2496 closed

[2018-05-11 22:14] kent-williams opened #2497 "gRPC client response http1.x server"
---

**BUG REPORT** :

**NGINX Ingress controller version**:
0.14.0

**Kubernetes version** (use `kubectl version`):
1.10.2

**Environment**:

- **Cloud provider or hardware configuration**:
Baremetal via juju
- **OS** (e.g. from /etc/os-release):
ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
4.4.0-116-generic
- **Install tools**:
- **Others**:

**What happened**:
Continue to get the following gRPC

[2018-05-12 02:06] pcj commented on #2497
Hi Kent, looking at this.  At first glance, I'd recommend the following:

1. As a sanity check confirm the pod is working:

[code]

[code]

Also, increase the logging on the nginx controller.  Here's mine:

[code]

(may also compare outcome using this image (quay.io/aledbf/nginx-ingress-controller:0.348) to 0.14, though I doubt that would be the cause)

[2018-05-12 02:12] pcj commented on #2492
See https://github.com/kubernetes/ingress-nginx/issues/2284#issuecomment-378542265

[2018-05-12 03:01] kent-williams commented on #2497
Hi @pcj , many thanks for the help!

I actually wasn't able to grab the image as you just pointed out. I'm just using an gRPC test image of my own that has a single response like yours. It works just fine using NodePort and no Ingress.

This is the full output from the client:
[code]
The port-forward command output. Is it suppose hang? Had to ctrl-c to exit.
[code]
More verbose controller output f

[2018-05-12 04:02] Jacky2 opened #2499 "nginx.ingress.kubernetes.io/server-snippet can't work !"
**NGINX Ingress controller version**:
0.14.0

**Kubernetes version** (use `kubectl version`):
1.9.3

**What happened**:

this is my kubernetes yaml configure，
I add this configure
    nginx.ingress.kubernetes.io/server-snippet: |
        if ( $http_x_forwarded_proto != 'https' ){
          return 307 https://www.example.com;
        }

but it does't configure in nginx-ingress pod

---
apiVersion:

[2018-05-12 06:41] bluecmd commented on #2492
@pcj Ok, can you confirm it should work with paths? As stated above when I tried that the `grpc_pass` statement ended up inside the server block and not a `location /myrpcservice.MyRpcMethod/` block. I'm happy to try again to find a repro case if that is intended to work correctly today.

[2018-05-12 12:11] aledbf commented on #2497
Fixed

[2018-05-13 08:27] Stono commented on #2491
Ahh awesome @aledbf
It causes us some issues during testing/CI, do you have a ballpark ETA on a release date?

[2018-05-13 08:34] Stono opened #2500 "Unexpected behaviour when certificate is not found"
Hey!
Just looking for a bit of advice of if this can be changed by config, or if it's a bug?

We have an ingress, like the one below, which uses `cert-manager` to generate it's certificate.  We also have `ssl-redirect: "true"`, and `hsts: "true"` in our nginx config, because we do not want traffic ever going on port 80.

Now, when a new ingress comes along it takes cert-manager a couple of minutes

[2018-05-13 13:41] aledbf commented on #2491
@Stono please test `quay.io/aledbf/nginx-ingress-controller:0.362`

[2018-05-14 06:50] jpalomaki opened #2506 "Recurring log entry: "Error obtaining PEM ..." for a secret not used for TLS"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**NGINX Ingress controller version**:

0.13.0 and 0.14.0

**Kubernetes version** (use `kubectl version`):

1.9.6-gke.1

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): cos

**What happened**:

This is repeated in logs:
[code]

**What you expected to happen**:

Nothing

[2018-05-14 06:50] jpalomaki commented on #1709
@aledbf See https://github.com/kubernetes/ingress-nginx/issues/2506

[2018-05-14 07:13] #2491 closed

[2018-05-14 11:08] marcusramberg opened #2507 "OAuth not setting cookie properly with rd= set"
**NGINX Ingress controller version**: 0.14

**Kubernetes version** (use `kubectl version`):
1.9.7-gke.0

**Environment**:

- **Cloud provider or hardware configuration**: Google container engine
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

external auth fails to set a cookie when ?rd=... is added to signin_url - If I

[2018-05-14 11:51] mikksoone commented on #2355
Any update on this? Is the plan to fake it for VTS or use custom monitoring solution that provides similar data via prometheus etc?

[2018-05-14 13:25] ElvinEfendi commented on #2355
@mikksoone we are expecting to have something by the end of this month. The plan is to implement something similar to what VTS provides in Lua.

[2018-05-14 13:44] mrmm opened #2508 "Long upload failed l"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-05-14 13:45] #2508 closed

[2018-05-14 13:45] Stono opened #2509 "ingress-nginx stopped updating ingress controller IP's"
Hey,
Today we had ingresses that were being created, and not being assigned the IP address of the ingress-nginx service:

[code]

Nginx was updating its config:

[code]

But it was never assigning the IP address to the ingress controller.

We eventually restarted the ingress-nginx instances (of which we run two), and it then worked:

[code]

Feels like potentially something to do with leader elect

[2018-05-14 14:41] aledbf commented on #2492
Closing. This works as expected. Please check my previous comment.

[2018-05-14 14:41] #2492 closed

[2018-05-14 14:46] aledbf commented on #2509
@Stono please check the logs after `I0514 13:39:27.663644` searching for `updating Ingress`
If you see more than one for each Ingress could mean you have multiple controllers with different election id or there is an issue with the leader election.

[2018-05-14 14:52] Stono commented on #2509
@aledbf we didn't see updating Ingress in either of our two instances of ingress-nginx, so it looks like neither believed it was the leader!

[2018-05-14 14:53] bluecmd commented on #2492
@aledbf Can you confirm https://github.com/kubernetes/ingress-nginx/issues/2492#issuecomment-388534588?

[2018-05-14 14:54] aledbf commented on #2509
@Stono what k8s are you running?

[2018-05-14 14:55] aledbf commented on #2492
@bluecmd yes. Just in case you don't need the `nginx.ingress.kubernetes.io/grpc-backend: "false"` annotation in the http service (that's the default).

[2018-05-14 14:55] bluecmd commented on #2492
Ok, I'll retry what I did in https://github.com/kubernetes/ingress-nginx/issues/2492#issuecomment-388534588 and see if it was just having a bad day. I got it to work by having my gRPC service at / and adding a specific path for every non-gRPC, but the opposite would be marginally better.

[2018-05-14 14:58] Stono commented on #2509
1.9.7 on GKE

[2018-05-14 15:55] mrmm opened #2510 "Long file upload result to connection closed"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-05-14 15:59] aledbf commented on #2510
@mrmm you need to update the proxy timeouts https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-timeouts
At least the send and read timeouts. The default values are too low (60 seconds). You can do that in the ingress using the mentioned annotations or in the configuration configmap

[2018-05-14 16:09] mrmm commented on #2510
@aledbf I have set proxy timeouts annotation to :
[code]
And the final config in nginx.xonf is :
[code]

[2018-05-14 16:11] aledbf commented on #2510
@mrmm did you adjust the timeouts in kong too? https://getkong.org/docs/0.13.x/proxy/#3-proxying-upstream-timeouts

[2018-05-14 16:17] mrmm commented on #2510
@aledbf Kong Upstream read and send are set to `3600000` (60min) for the specific service.

[2018-05-14 16:29] aledbf commented on #2510
@mrmm please post the ingress controller pod logs

[2018-05-14 16:29] aledbf commented on #2510
@mrmm also please update to 0.14.0

[2018-05-14 16:32] chriswessels commented on #1815
+1. We're after Mode 1.

[2018-05-14 18:39] stevewolter commented on #2405
Thanks for the pointers, much appreciated.

[2018-05-14 22:14] #2231 closed

[2018-05-15 08:31] mrmm commented on #2510
@aledbf
Nginx log format is :
`{ "time": "$time_iso8601", "remote_addr": "$proxy_protocol_addr", "x-forward-for": "$proxy_add_x_forwarded_for", "request_id": "$request_id", "remote_user": "$remote_user", "bytes_sent": $bytes_sent, "request_time": $request_time, "status": $status, "vhost": "$host", "request_proto": "$server_protocol", "path": "$uri", "request_query": "$args", "request_length": $req

[2018-05-15 09:00] pieterlange commented on #2510
`2018/05/15 07:58:32 [error] 26831#26831: *11915033 upstream prematurely closed connection while reading response header from upstream, client: 1.1.1.1, server: api.domain.co, request: "POST /v1/dataupload/stream HTTP/1.1", upstream: "http://100.98.221.116:8000/v1/dataupload/stream", host: "api.domain.co"`

So kong (or the backend behind that) closed the connection, not nginx ingress.

[2018-05-15 11:27] aledbf commented on #2510
Also check the duration `"duration": 3674.704`. It seems you need to increase the timeout.

[2018-05-15 15:54] johnmshields opened #2513 "Custom errors do not work with dynamic configuration enabled"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**: 0.14.0 (helm chart 0.18.1)

**Kubernetes version**:

[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9 (stretch)
- **Kernel** (e.g. `uname -a`): Linux weblife-nginx-nginx-ingress-controller-7c68785bd-zj4nk

[2018-05-15 16:50] #2506 closed

[2018-05-15 17:12] kent-williams commented on #2497
@pcj, Is anything popping out to you here? Can I provide anything else?

[2018-05-15 23:44] pcj commented on #2497
Looks like you may have mis-spelled the annotation `inginx.ingress.kubernetes.io/ssl-redirect`.

[2018-05-16 00:34] thockin commented on #555
I don't think fixing this overall is hard, it just needs someone who has
time to follow it through :(

On Fri, May 4, 2018 at 11:13 AM Andrew Wippler <notifications@github.com>
wrote:

[2018-05-16 02:50] chenqz1987 commented on #2419
@aledbf I am working for this feature, and I will fire a PR in the next week.

[2018-05-16 08:40] kargakis commented on #2132
We are still seeing this even with the new annotation.

/reopen

[2018-05-16 08:44] kargakis commented on #2132
Versions:

kubernetes v1.9.7
quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.14.0
k8s.gcr.io/defaultbackend:1.3

[2018-05-16 08:44] kargakis commented on #2132
/assign

[2018-05-16 08:44] kargakis commented on #2132
/reopen

[2018-05-16 08:44] JordanP commented on #2507
Same for me, the OAuth2 proxy didn't work anymore after #1164 For some reasons I cant remember, I was led to believe this is related to https://github.com/bitly/oauth2_proxy/pull/427

Anyway, the simple fix for me was to `s/error_page 401 = {{ buildAuthSignURL $location.ExternalAuth.SigninURL }};/error_page 401 = {{ $location.ExternalAuth.SigninURL }};/` in `rootfs/etc/nginx/template/nginx.tmpl`

[2018-05-16 08:45] kargakis commented on #2132
/unassign

[2018-05-16 08:46] kargakis commented on #2132
/kind bug

[2018-05-16 09:51] prasenforu opened #2518 "Adding host as a endpoint in kubernetes ingress"
FEATURE REQUEST : Adding host as a endpoint in kubernetes ingress

Not sure if that features is available or not.
I am using nginx-ingress controller in kubernetes (1.8) with following image,
''gcr.io/google_containers/nginx-ingress-controller:0.9.0-beta.4''

If I go to Kubernetes Dashboard in endpoint nothing showing

![image](https://user-images.githubusercontent.com/19322497/40109697-8b8ef1ea-5

[2018-05-16 11:01] imduffy15 opened #2519 "nginx-ingress-controller crash loops a few times before starting successfully"
**NGINX Ingress controller version**:

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: Google kubernetes engine

**What happened**:

Using https://github.com/kubernetes/charts/tree/master/stable/nginx-ingress I deployed nginx-ingress with the following values.yaml

[code]

The nginx-ingress-controller pods crashloop

[2018-05-16 11:26] aledbf commented on #2519
Closing. Please update to 0.15.0

The reason of the restarts is related to the not availability of the load balancer (it's being provisioned). In 0.15.0 we change the strategy and the ingress status will be updated once the LB info is available

[2018-05-16 11:26] #2519 closed

[2018-05-16 13:39] dohnto opened #2520 "BindAddress is converted to bytes"
**NGINX Ingress controller version**:

0.15.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Fedora 27 Workstation
- **Kernel** (e.g. `uname -a`): 4.15.12-301.fc27.x86_64
- **Install tools**:
- **Others**:

**What happened**:

I have deployed nginx-ingress using upstream kub

[2018-05-16 14:17] nathankodilla opened #2521 "Allow auth-tls-verify-client to be set without auth-tls-secret"
Feature Request: Allow auth-tls-verify-client to be set without auth-tls-secret

In the template https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L746-L754 if the ca cert is not set then none of the other fields get set. In our use case we require the client cert fingerprint to be sent to the upstream server and not to be verified in nginx. We previously

[2018-05-16 14:57] vic3lord commented on #2171
Having the same issue with 0.15.0

[2018-05-16 15:15] joshsouza commented on #2420
Any ETA on this?
I have a workaround for the issue we are trying to solve with this suggestion that I'd like to avoid, but if it will take more than a few weeks for this to go through proper process, I'll go ahead an pull the trigger on the workaround. If it won't take that long, we're ok holding off for the right solution.

[2018-05-16 15:27] ElvinEfendi commented on #2420
@joshsouza we don't have a concrete plan yet. Could you describe your use case?
We wanna build a proper plugin system. The current idea is to introduce CRD where users configure their plugin written in Lua and the controller automatically configures it.

[2018-05-16 15:27] #1831 closed

[2018-05-16 15:49] derekperkins commented on #2420
I want to use it for two main use cases around auth:
- to implement Auth0 - https://github.com/maxamante/auth0-nginx
- to extract custom jwt fields and inject them into headers #1850

[2018-05-16 16:10] chirangaalwis opened #2522 "Define Ingress rules using the same host/path for multiple protocols"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

Currently, I am trying to define Ingress rules using the same host/path for multiple protocols. Elaborating this further let's assume that we have a service `s1` which exposes ports `p1` and `p2`, respectively. The two pairs use different protocols as follows:
[code]
We intend to use the same host/path `h1/x` to access the

[2018-05-16 17:49] kent-williams commented on #2497
@pcj Thanks for catching that! Unfortunately it doesn't seem to have fixed the issue.

I continue to get ```StatusCode.UNAVAILABLE, Trying to connect an http1.x server``` with the gRPC client.

Do you get an address listed on your ingress?
[code]

[code]
nginx ingress controller log tail
[code]

[2018-05-16 18:18] aledbf commented on #2520
@dohnto I am sorry but I cannot reproduce this issue. Just in case the only setting in the configmap should be `bind-address: 10.255.19.7`

[2018-05-16 19:19] #2520 closed

[2018-05-17 02:52] qiujian16 opened #2527 "proxy-buffer-size annotation is not shown in the annotation documentation"
**NGINX Ingress controller version**:
master

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
We have an annotation nginx.ingress.kubernetes.io/proxy-buffer-size (https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/annotations/proxy/mai

[2018-05-17 05:52] dohnto opened #2529 "BindAddress is not respected during initial port availability check"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**NGINX Ingress controller version**: 0.15.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: on premise
- **OS** (e.g. from /etc/os-release): Fedora 27 WS
- **Kernel** (e.g. `uname -a`): 4.15.12-301.fc27.x86_64
- **Install tools**:
- **Others**:

**What happene

[2018-05-17 07:41] amardomingo commented on #2230
Since we only have one relevant domain, we worked around this by using the "correct" certificate as the default tls ( '--default-ssl-certificate' ), but we are also being impacted by this.

Any other workaround or correct way to do this?

[2018-05-17 07:48] foxylion opened #2530 "Link the docs from the repository"
Hey!
I think it would be great if the new docs under https://kubernetes.github.io/ingress-nginx/ are just linked in the repository. This would help to discover the docs quite quickly. :-)

![image](https://user-images.githubusercontent.com/2699280/40163581-75d1b7b0-59b7-11e8-902f-4a53a3fc1c48.png)

[2018-05-17 10:34] jpalomaki commented on #2494
I also saw this while upgrading from 0.14.0 to 0.15.0 (rolling deployment via `kubectl edit deployment`, running in GKE, 1.9.6-gke.1).

For me, some of the configured values initially contained an empty string:
[code]
An nginx restart/reload (during the rolling update) seems to have fixed it though (this is the same pod as above):
[code]
Looking at the specific nginx config block where an empty va

[2018-05-17 11:42] tinkaalgogoi commented on #1567
We have to add **_

_**
[code]

[2018-05-17 12:01] aledbf commented on #2530
Closing. Fixed. Thanks for the suggestion!

[2018-05-17 12:01] #2530 closed

[2018-05-17 12:05] foxylion opened #2532 "Allow override of custom error pages status codes per ingress configuration"
Hey!

I would suggest adding a feature to allow overriding the defined http status codes in the config map with a custom list of status codes on a per ingress configuration level (annotation based). This will allow to restrict the allowed status codes of a backend even more, or to loosen the allowed status codes a bit.

**Background about why we need the feature**

We are currently using the custo

[2018-05-17 12:52] gyurobenjamin commented on #2249
I'm getting this issue with release version: 0.14.0 on azure

[2018-05-17 13:01] #2407 closed

[2018-05-17 13:01] #2493 closed

[2018-05-17 14:06] aliostad commented on #2474
Thanks @aledbf
My problem fixed.

[2018-05-17 14:08] aliostad commented on #1947
I [found out](https://github.com/kubernetes/ingress-nginx/issues/2474#issuecomment-386788314) you need to add annotation
[code]

[2018-05-17 15:32] gianrubio commented on #2359
@aledbf are you working on this issue? Otherwise I have time to build dashboards and prometheus alerts for nginx ingress

[2018-05-17 15:37] aledbf commented on #2359
That would be awesome if you have the time

[2018-05-17 16:38] dgregoire opened #2535 "FEATURE REQUEST: set cors access-control-allow-origin to incoming origin"
In many cases, a public api is desired with the ability to run commands with public credentials, but the default cors allow-origin is set to '*' which will not allow a request with credentials to be exposed by the browser.

[code]
A knob in the annotations to allow this and copy the origin into the outgoing request would be super nice!

[2018-05-17 16:40] aledbf commented on #2535
@dgregoire please check https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#enable-cors

[2018-05-17 17:28] dgregoire commented on #2535
@aledbf yes - that

[code]
if you sent a fetch() request with credentials to an ingress rule setup with the default "*", the browser wont expose it to the running script because wildcards are not allowed on `allow-origin: "*"`. It would be super nice to have a knob that copies the incoming `Origin: host.com` header to the outgoing allow-origin header.

[2018-05-17 19:32] aledbf commented on #2222
@rnburn thank you for the update, the new [json file](https://github.com/opentracing-contrib/nginx-opentracing/pull/37/files#diff-04c6e90faac2675aa89e2176d2eec7d8R44) makes sense.

Sure. First let me update the nginx image (I am updating the modules)

[2018-05-17 20:18] zegl commented on #2406
I'm willing to contribute this feature. How would you suggest handling configuration options for L4 services?

I'm not a fan of the `:PROXY:PROXY` option, as it doesn't scale very well with the number of options. Using `:PROXY:PROXY:NOLOG` / `::NOLOG` or something similar to disable access logging is an easy way to solve the problem, but it's not a very nice way.

Could we use some sort of key/val

[2018-05-17 22:50] aledbf commented on #2522
HTTP connection: h1/x:80 ---> s1:p1
HTTPS connection: h1/x:443 ---> s1:p2

That is not supported

[2018-05-17 22:51] aledbf commented on #2522
Closing. The supported scheme is port 80 and 443 (then there is a TLS section) for the same service/port.

[2018-05-17 22:51] #2522 closed

[2018-05-18 08:14] ryanfields opened #2538 "Add annotation to configure CORS Access-Control-Expose-Headers"
**Is this a request for help?**: No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): cors expose headers

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**NGINX Ingress controller version**: latest

**What you expected to happen**:
Expected to find an a

[2018-05-18 15:09] r7vme opened #2539 "nginx-based ssl passthrough support with SNI"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

At the moment ingress controller implements own [proxy](https://github.com/kubernetes/ingress-nginx/blob/f92f5f80e4fe6fbd08565affb509bed914163362/internal/ingress/controller/tcp.go#L58-L114) for ssl passthrough cases. It runs in own go routine that does three things:

1. [extracts SNI](https://github.com/kubernetes/ingress

[2018-05-18 15:36] aledbf commented on #2539
Agree. The issue with that approach is that you lose the source IP address (client).

[2018-05-18 15:41] aledbf commented on #2539
@r7vme the problem is that using the sni preread feature implies the use of an upstream so you receive a connection from nginx itself

Please check https://github.com/kubernetes/ingress-nginx/pull/614/files#diff-b7803798d356c6c17a90d93cc58bdbaaL480

[2018-05-18 15:54] r7vme commented on #2539
I think with "piping" you also receive connection from ingress-controller? That's why PROXY protocol is in place, to keep initial client IP.

[2018-05-18 16:05] r7vme commented on #2539
In our case, we don't need PROXY support in ingress as we use either ELB or Nginx. Are there are many people using ingress-controller w/o load-balancers in front?

Not top priority, but having ability to skip additional layer (Go based proxy) in data path would be great. Unfortunately we still need `ssl-passthru`, so we can not disable it completely.

[2018-05-18 16:07] aledbf commented on #2539
I want to change that but losing the source IP address is a deal breaker.

[2018-05-18 16:13] r7vme commented on #2539
Definitely, but i think it's possible to make Go proxy optional for cases, when PROXY protocol enabled on load balancer (ELB, HAProxy). In general, do you think will it work? I can work on PR based on initial implmentation [here](https://github.com/kubernetes/ingress-nginx/pull/614/files#diff-b7803798d356c6c17a90d93cc58bdbaaL480)

[2018-05-18 17:14] rikatz opened #2541 "Question about dynamic reloads feature"
**Is this a request for help?** No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature request / feature explanation

**NGINX Ingress controller version**: 0.15

**Kubernetes version** (use `kubectl version`): 1.7.15

[2018-05-18 17:17] aledbf commented on #2541
The dynamic reload feature works for changes in the endpoints (pods).

[2018-05-18 17:17] aledbf commented on #2541
@rikatz the next step is to avoid reloads for secrets

[2018-05-18 17:17] aledbf commented on #2541
ping @ElvinEfendi

[2018-05-18 17:35] rikatz commented on #2541
I'm just wondering how to reload NGINX secrets without reloading it :)

[2018-05-18 17:38] aledbf commented on #2541
Lua :)

[2018-05-18 18:32] rikatz commented on #2541
@aledbf nice. I'm trying to understand this better. I've seen that there's no files anymore for balancers, and I'm wondering also how this impacts in memory consumption.

This is a hash table loaded into memory by Lua, right?

[2018-05-18 18:41] aledbf commented on #2541
@rikatz you should see an increase of ~10MB of ram in nginx https://github.com/kubernetes/ingress-nginx/blob/2baad5d0066dd2d6e7f9ff196d42ab227b55d8de/internal/ingress/controller/template/template.go#L191

[2018-05-18 19:20] rikatz commented on #2541
@aledbf Thanks! I'm pretty away from the project, will take some time in sunday to take a look into this new feature to see if I can be helpful in this part :)

[2018-05-18 19:20] #2541 closed

[2018-05-18 19:27] ElvinEfendi commented on #2541
@rikatz the idea is that instead of creating file in the container the controller will post certificate into a Lua endpoint where Lua will store in a shared dictionary inside Nginx. Then using Lua we will dynamically serve certificates from the memory.

[2018-05-18 19:42] #2074 closed

[2018-05-18 19:59] kfox1111 commented on #2539
I use nginx-ingress without a lb in front.

[2018-05-19 10:16] Stono commented on #2318
I think this is actually a dupe of my older issue https://github.com/kubernetes/ingress-nginx/issues/1951, i'll close the older one in favour of this

[2018-05-19 21:43] decoursin commented on #1334
@lghinet Did you ever figure this out?

[2018-05-20 18:48] Stono opened #2545 "Content-Length > 462, with external auth enabled = timeout"
Hey,
I've been battling with this literally all day, and cannot for the life of me get to the bottom of why it may be happening, so I've opened this issue in the hope you might have some ideas.

We have the following setup:

  - ingress-nginx v0.15.0
  - modsecurity on
  - oauth2-proxy external auth

Our nginx configuration is:

[code]

We are seeing any request with a content-length of 462 or hig

[2018-05-20 18:53] Stono commented on #2545
I've attached `error-log-level=debug` logs from good and bad requests:

[good.log](https://github.com/kubernetes/ingress-nginx/files/2020578/good.log)

[bad.log](https://github.com/kubernetes/ingress-nginx/files/2020579/bad.log)

[2018-05-20 19:06] aledbf commented on #2545
@Stono two questions:
- if you disable the external oauth authentication, it works?
- can you post part of the generated nginx.conf where I can see the external auth? (replace any private information)

[2018-05-20 19:11] Stono commented on #2545
Hey @aledbf - thanks for getting back to me:

- Yes, disabling external oauth and it works fine.

[code]

And the upstream:
[code]

[2018-05-20 20:17] Stono commented on #2545
@aledbf - I've narrowed down the issue to modsecurity.

This problem is only present when `enable-modsecurity: "true"`

[2018-05-20 20:56] Stono opened #2546 "Ability to disable request-id generation"
Hey,
I've noticed [this line](https://github.com/kubernetes/ingress-nginx/blob/aa256ac8876fc7542994945ae5ca9f494f127e14/rootfs/etc/nginx/template/nginx.tmpl#L278) where a request-id is generated, if one is not found in the request.

I actually need this to **not** happen, as the request-id it generates is invalid in my system, as it is generated by envoy (sidecar) on the way "out" of nginx, which

[2018-05-20 21:16] sazo opened #2547 "Ingress controller crash on boot - arm arch"
**Is this a BUG REPORT** :

**NGINX Ingress controller version**: kubernetes-ingress-controller/nginx-ingress-controller-arm:0.13.0

**Kubernetes version** (use `kubectl version`): 1.9.7

**Environment**:

- **Cloud provider or hardware configuration**: Raspberry PI 3
- **OS**: Raspbian GNU/Linux 8 (jessie)
- **Kernel** : Linux node01 4.4.50-hypriotos-v7+ #1 SMP PREEMPT Sun Mar 19 14:11:54 UTC 201

[2018-05-20 22:39] aledbf commented on #2546
Yes, sound like a good idea. By default, this should be enabled.

[2018-05-21 06:51] Stono commented on #2546
Cool, i'll give it a go and see how I get on!

[2018-05-21 20:05] Stono commented on #2546
@aledbf any chance you could take a look at my PR and maybe build a test image for me?  I really need this feature as it's screwing up my tracing!

Thanks

[2018-05-21 20:39] Stono commented on #2546
Works a treat!  Thanks @aledbf

[2018-05-21 20:55] #2546 closed

[2018-05-22 03:47] glennslaven opened #2550 "Support MaxMind GeoIP2"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): geoip geoip2

---

**Is this a BUG REP

[2018-05-22 15:49] JordanP opened #2552 "Question: lua-resty-balancer and upstream-hash-by"
Hi guys,
So call me a fool but I'd like to give the `enable-dynamic-configuration=true` a shot in production here.

But some of my Ingresses run with `ingress.kubernetes.io/upstream-hash-by: "$1"` where the `$1` is a capturing group of rewrite regex (injected with `ingress.kubernetes.io/configuration-snippet`)

Question is: would that work with `lua-resty-balancer` ? I could give it a try but rele

[2018-05-22 16:18] ElvinEfendi commented on #2552
Hi @JordanP,

yes, it should work. You don't need that commit unless you're using session affinity annotation.

By the way, we at Shopify run ingress-nginx in dynamic mode for most of our services.

[2018-05-22 16:46] JordanP commented on #2552
Great that it should !

I am not using session affinity but running with 0.15 doesn't work. All my requests are always sent to the same upstream server. You sure this function https://github.com/kubernetes/ingress-nginx/blob/nginx-0.15.0/rootfs/etc/nginx/lua/util.lua#L7 would work if `ngx_var` is literally `$1`. With `lua-resty-balancer`, the rewrite rule will be evaluated before the selection of

[2018-05-22 17:39] ElvinEfendi commented on #2552
I've not tried regex group capturing myself but according to https://github.com/openresty/lua-nginx-module#ngxvarvariable

therefore I said it should work. If you can post here the exact configuration you use I can try to regenerate locally.

[2018-05-22 22:32] windsea commented on #1885
I am using GKE v1.9.x and the basic auth didn’t work (I have turned off glbc already)

[2018-05-23 03:12] scher200 commented on #1885
Also, do not forget to have your "basic-auth" named secret published in the same namespace as your ingress.

[2018-05-23 07:45] Stono commented on #1885
I'm confused where this "doesn't work on GKE thing comes from"....
I use GKE (1.9.7) and my annotations all look like `nginx.ingress.kubernetes.io/service-upstream: "true`

[2018-05-23 08:20] gugu opened #2555 "There is no way (according to the docs) to specify secure-backends for some upstreams. Currently it is all or none option"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-05-23 09:39] JordanP commented on #2552
So I manage to come up with a nice and easy reproducer :)

Take this file here: https://github.com/kubernetes/ingress-nginx/blob/master/images/echoheaders/echo-app.yaml (bump the replicas to 2 or 3) and add the following ingress:
[code]

Now without `--enable-dynamic-configuration` if you `curl --resolve tototest.XXX.XX:80:PUB_IP http://tototest.XXX.XX/toto/$i/foobar` several times with different

[2018-05-23 09:40] dohnto commented on #2529
Can anyone confirm that this is a bug a **how** should this be addressed? It's possible that I can implement it if you direct me.

[2018-05-23 10:32] attiinfante opened #2556 "Nginx Ingress Removing all instances of the real client IP from headers no matter what i do"
**Is this a request for help?**
Bug

**What keywords did you search in NGINX Ingress controller issues before filing this one?**
Nginx ingress removing Client IP from headers

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**NGINX Ingress controller version**:
Tried all this images, all with the same results:
 quay.io/aledbf/nginx-ingress-controller:0.148
 quay.io/kube

[2018-05-23 12:52] aledbf commented on #2555
Closing. This works as expected. If you need to apply the `secure-backends` to just one (or more) create different Ingress rules.

[2018-05-23 12:52] #2555 closed

[2018-05-23 14:33] muhammadnasr commented on #2097
@pkelleratwork I believe this issue can be solved by enabling session affinity.
Did you try that https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/affinity/cookie
?

[2018-05-23 15:16] bmv126 opened #2557 "Issue accessing ingress K8s resource from outside the K8s cluster"
BUG REPORT:

I have deployed the nginx ingress successfully. Now I have created the K8s ingress resource.
Below is the ingress resource yaml file:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: test-ingress
  annotations:
    ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - http:

[2018-05-23 19:28] aledbf commented on #2557
@bmv126 please check the browser console for errors. Maybe you need to add the [add-base-url](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#rewrite) annotation if your application if searching for absolutes resources

[2018-05-24 01:57] attiinfante commented on #1067
Hi there,
Still cannot get this to work, using Kubernetes 1.10 and the same configs as @rolftimmermans
use-proxy-protocol cannot be set to "true" otherwise no pages load, errors in the logs on the controller like this: Error while reading PROXY protocol, client: 10.244.1.1, server: 0.0.0.0:443

Client is always 10.244.x.x (internal Ip) or if I set: externalTrafficPolicy: Local in the Ingress Servi

[2018-05-24 07:46] Dieler commented on #1759
/reopen

It is still not possible to generate secure cookies which I think is a serious issue.

[2018-05-24 07:49] Dieler commented on #1759
@pvl7 Hi, I've tried to reopen this issue but it seems that only the author is allowed to do so. Could you please reopen it?

[2018-05-24 08:01] pvl7 commented on #1759
Cannot re-open as wasn't closed by myself.

@fejta could you help please?

[2018-05-24 09:27] gheist opened #2561 "0.15.0 on baremetal K8 doesn't allocate an external IP address when using kubeless"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubeless
---

**Is this a BUG REPORT or F

[2018-05-24 09:28] gheist commented on #2561
Followed https://github.com/kubeless/kubeless/blob/master/docs/http-triggers.md and https://github.com/kubernetes/ingress-nginx/blob/master/docs/deploy/index.md

[2018-05-24 11:06] Thubo commented on #2154
@aledbf Can you explain how to do that? According to code I linked above I can see no way to introduce custom headers into the auth location.
As far as I can see the configuration snippet (I guess you wanted to point your link to https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md#configuration-snippet) is not applicable the the auth location.

[2018-05-24 11:08] Thubo commented on #2190
I do see this reload message and the nginx performs a reload - otherwise this wouldn't be an issue....

[2018-05-24 11:26] aledbf commented on #2190
@Thubo please update to 0.15.0.

[2018-05-24 12:44] YouriT opened #2562 "Obfuscate sensitive data from access logs"
**Is this a request for help?**: Yes

**What keywords did you search in NGINX Ingress controller issues before filing this one?**: log, obfuscate, sensitive

---

**FEATURE REQUEST**:

Access logs can contain sensitive data. It would be nice to be able to filter out that from logs out of the box. This can be done though an additional configmap key and an `if` statement before the `log_format` conf

[2018-05-24 14:39] jessfraz opened #2563 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2018-05-24 14:59] #2563 closed

[2018-05-24 15:07] JordanP commented on #2562
I  am not sure it's great idea. I am not sure this will be widely used, we already have a lot of annotations and having sensitive info in URLs is bad practice anyway because you can't control the whole chain of proxies and network equipment from the client to the server.

[2018-05-24 15:09] JordanP commented on #2419
Would using the "upstream-hash-by" annotation work ?

[2018-05-24 18:46] DustinChaloupka commented on #619
Can this be reopened? Without something like an annotation to set what type of match the `location` should use that is not just a prefix match, the `rewrite-target` annotation needs to be used. However, using the `rewrite-target` has some other specific properties of its own. For instance, if I wanted `location`s like the following:

[code]
so that paths like the following would all go to differen

[2018-05-24 19:27] mwasilew2 opened #2567 "ingress controller is picking up a change in nginx config map, but it takes a while to apply it to nginx.conf"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
configmap
nginx
reload
whitelist

---

**

[2018-05-24 19:34] aledbf commented on #2567
@mwasilew2 please check the prefix of the annotations contains nginx

[2018-05-24 21:36] pv93 opened #2568 "NGINX ingress on GKE: GCP Load balancer does not include node with nginx controller in its backend"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
backend, gke, gke backend, gcp load balancer

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**NGINX Ingress controller version**:
0.14.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**: GKE

- **C

[2018-05-25 05:02] aledbf commented on #2562
Closing. You can customize the content of the log using [log-format-upstream](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#log-format-upstream) to filter what you want to expose.

[2018-05-25 05:02] #2562 closed

[2018-05-25 05:04] aledbf commented on #2567
Closing. Please check the `--annotations-prefix` flag https://kubernetes.github.io/ingress-nginx/user-guide/cli-arguments/
Please reopen if the issue persists if the flag and the annotations are correct.

[2018-05-25 06:45] m-cameron opened #2571 "Support IP2Location LITE"
This is a feature request.

Is there a plan to support IP2Location LITE geolocation in kubernetes nginx? We have seen the Maxmind support is ready. The existing nginx support is available https://github.com/ip2location/ip2location-nginx

[2018-05-25 08:58] claudiuchis commented on #1171
I used [this post](https://qa.lsproc.com/post/access-control-allow-origin-multiple-origin-domains) to inject a snippet, which does the job really well:

`    nginx.ingress.kubernetes.io/configuration-snippet: |
      if ($http_origin ~* (^https?://([^/]+\.)*(localhost:4200|admin.example.com))) {
          set $cors "true";
      }

      # Nginx doesn't support nested If statements. This is where

[2018-05-25 09:58] #2499 closed

[2018-05-25 10:17] mwasilew2 commented on #2567
I'm not sure what annotations you're reffering to. I'm guessing you're talking about annotations added to ingress k8s objects ( https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/ ) and the flag that tells controller "how to find them in the ingress objects" (the doc you linked above).

I'm using the configmap for providing a whitelist cause I want the rules to b

[2018-05-25 10:20] mwasilew2 commented on #2567
just an FYI, I can't reopen an issue

[2018-05-25 12:15] rikatz commented on #2513
Adittionally, we're facing some strange behaviour: when backend returns an 500 Error code (and not ingress by itself), it keeps trying the full cycle of upstreams and enters in a loop instead of having a direct error.

This can be simulated having a NodeJS backend that always returns a 500 Error code, than scaling it up to 4 replicas, enabling the dynamic update and then calling the ingress.

In t

[2018-05-25 14:15] ElvinEfendi commented on #2513
Thanks for the detailed report.

@johnmshields the fix should be straightforward I'll fix it sometime soon.

@rikatz https://github.com/kubernetes/ingress-nginx/pull/2554 should fix the issue you're seeing. In the meantime you can avoid that issue by adjusting `proxy-next-upstream` and `proxy-next-upstream-tries` accordingly.

[2018-05-25 14:42] gianrubio commented on #2128
@aledbf Indeed this is the solution, does the `Store` store data in memory or for each query it will query k8s api?

[2018-05-25 14:50] aledbf commented on #2128
No, the Store contains a local copy of the required objects but even with that the operation will be expensive.
Just in case we are going to refactor the prometheus metrics, removing the vts module as the source of the data and use lua in the log phase (after the request was returned) to update the metrics. In that case, we don't need the local store because nginx has all the fields we need and if

[2018-05-25 14:50] aledbf commented on #2128
@gianrubio once I get a working PR with the described change I will request you a review of the prometheus part

[2018-05-25 16:10] aledbf commented on #2568
Closing. This is not related to the ingress controller itself but with k8s cluster issue in GKE.

[2018-05-25 16:10] #2568 closed

[2018-05-26 16:20] johnmshields commented on #2043
@aledbf Can this be re-opened? The comments above show the issue. It works fine if you come in on `http` but if the client comes in on `https` then the connection cannot be made so the redirect cannot occur.

[2018-05-26 21:45] aledbf commented on #2518
Closing. You need to update the DNS provider to point to your cluster. If you are running in a cloud provider, you just need to use a service type=LoadBalancer and update the DNS

[2018-05-26 21:45] #2518 closed

[2018-05-26 21:56] aledbf commented on #2510
Closing. Please reopen if the issue persists after updating the timeout.

[2018-05-26 21:56] #2510 closed

[2018-05-26 21:57] aledbf commented on #2471
Closing. Please reopen if you have more questions

[2018-05-26 21:57] #2471 closed

[2018-05-27 01:27] prasenforu commented on #2518
Is it possible to to give a example of above ingress.

[2018-05-27 01:45] aledbf commented on #2518
@prasenforu if you follow any of the cloud provider examples https://kubernetes.github.io/ingress-nginx/deploy/#aws Kubernetes will provision a load balancer in front of the ingres controller and useing `kubectl get ingress -o wide` will display the CNAME or IP address

[2018-05-27 12:17] prasenforu commented on #2518
I got your point.

What I am expecting what I will write in ingress.yml as host that should reflect in endpoint.

[2018-05-28 00:17] #2468 closed

[2018-05-28 05:13] chhetripradeep opened #2576 "AWS ELB got recreated by nginx ingress"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
Yes

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): elb, recreated, aws

---

**Is this a

[2018-05-28 06:16] #1874 closed

[2018-05-28 08:19] YouriT commented on #2562
@JordanP the use case can be wider than hiding sensitive data, it can be about removing useless informations from the logs. But if you think there will be no wide adoption, fine.

@aledbf I'm not sure how that solves the user case. Your reference is more of a all or nothing approach rather than filtering part of the `$args` out. The only way to do it as of today seems to define a new template.

[2018-05-28 13:27] sheerun commented on #2170
@aledbf Is there a followup issue for changing the spec?

[2018-05-28 13:54] aledbf commented on #2576
@chhetripradeep the ingress controller does not create cloud resources. This is done by Kubernetes and that's why you don't see anything relevant in the log. Please check the log of the cloud controller manager.

[2018-05-28 13:54] aledbf commented on #2576
Closing. This is not related to the ingress controller itself.

[2018-05-28 13:54] #2576 closed

[2018-05-28 15:57] chhetripradeep commented on #2576
@aledbf Thank you very much. I will check the relevant logs.

[2018-05-28 16:21] grebois commented on #2096
Not working in 0.15.0

[2018-05-28 20:58] Stono commented on #1932
Hey!
I've just realised this seems to be *exactly* what I was observing in https://github.com/kubernetes/ingress-nginx/issues/2545

@logicfox did you get anywhere?

[2018-05-28 20:58] Stono commented on #1932
/remove-lifecycle rotten

[2018-05-28 22:03] logicfox commented on #2545
I logged #1932 for the very same problem. Disabling one of external auth or ModSecurity or http/2 produces a working combination. But enabling all three reproduces the issue reliably. We decided to disable ModSecurity to overcome this problem and I didn't narrow down this issue to the 463 bytes request.

However, I'd be happy to help fix this problem. Let me know if you need anything from me.

[2018-05-28 22:04] Stono commented on #2545
Yeah we have disabled modsecurity too.
If I had any idea where to start with fixing it I would, but I don't :'(

On Mon, 28 May 2018, 11:03 pm Aditya Sundaramurthy, <
notifications@github.com> wrote:

[2018-05-28 22:05] logicfox commented on #1932
@Stono no, we eventually turned off ModSecurity to overcome this problem. I'll be happy to help.

[2018-05-29 05:07] sevensees opened #2578 "Cannot request relative path correctly."
---

**Is this a BUG REPORT** (choose one):

Cannot request resources with relative path on a page.

**NGINX Ingress controller version**:

0.15.0

**Kubernetes version** (use `kubectl version`):

1.10.1

**Environment**:

- **Cloud provider or hardware configuration**: virtual machine
- **OS** (e.g. from /etc/os-release): ubuntu 16.04 LTS
- **Kernel** (e.g. `uname -a`): Linux bogon 4.4.0-116-gene

[2018-05-29 06:28] jaggerwang opened #2579 "The path rewrite rule is not working."
**NGINX Ingress controller version**:
0.14.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate:"2018-04-19T00:05:56Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10+", GitVersion:

[2018-05-29 11:39] sevensees commented on #2578
According to [this](https://stackoverflow.com/questions/11521011/why-base-tag-does-not-work-for-relative-paths) post, `<base>` tag would not work when the `href` is assigned absolute path.

[2018-05-29 13:07] aledbf commented on #2578
Closing. This is working as expected. Your links are absolute, not relative, so the base tag has not effect.

[2018-05-29 13:07] #2578 closed

[2018-05-29 15:54] pdeveltere commented on #2007
+1

`nginx.ingress.kubernetes.io/proxy-connect-timeout: number` is not working for me aswel

[2018-05-29 17:01] mattalberts commented on #2170
@aledbf @sheerun @aku105
During my evaluation of 0.14.0 and 0.15.0, I noticed that the ingress spec (as consumed by the nginx controller) would allow a mini-version of the issue described above without any patching (supported now).

 - configure the controller with ```--default-ssl-certificate``` set to your wildcard cert
 - define all ingress spec with hosts but do not specify the secretName

The

[2018-05-29 21:15] aledbf commented on #2579
@jaggerwang you need to add nginx as a prefix to all the ingress annotations

[2018-05-29 22:35] toolboc commented on #2547
@sazo , looks like the image is missing lua-cjson as required by lua-resty-waf

This needs to be fixed in the arm build script, for now you can hop into your container and run:
[code]

or pull my image which handles this dependency:

```docker pull toolboc/nginx-ingress-controller-arm:0.15.0```

[2018-05-30 04:25] linux17kartik opened #2580 "ingress domain based routing is not working in browser but I'm able to curl the URL on ingress controller pod successfully."
Hi There,

**I have installed the ingress controller using the link:**
https://cloud.google.com/community/tutorials/nginx-ingress-gke
which is up and running

NAME TYPE CLUSTER-IP EXTERNAL-IP PORT(S) AGE
nginx-ingress-controller LoadBalancer X.X.X.X X.X.X.X1 80:123/TCP,443:456/TCP 1d

After that I have installed and exposed the application as nodePort, bot app up and running.

**Ingress Rules are

[2018-05-30 06:46] jaggerwang commented on #2579
@aledbf There is no such annotations in "https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/", and those annotations is added by GKE automatically.

Here is my original ingress file.

[code]

[2018-05-30 07:42] helloagain-dev opened #2582 "Requests timeout when externalTrafficPolicy is set to Local"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
I am not sure whether this is a bug or if it is configured incorrectly. I already tried to ask on #kubernetes-users slack channel 3 times, but nobody responded.

**What keywords did you search in NGINX I

[2018-05-30 11:19] aledbf commented on #2580
What's the output when you use curl from your PC? `curl -v  X.X.X.X X.X.X.X1 -H 'Host: foo.com'`

[2018-05-30 11:24] jpswade opened #2584 "Not reachable (Docker for Mac)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-05-30 14:24] jpswade commented on #2584
Restarting Docker seemed to spring it back to life.

[2018-05-30 14:24] #2584 closed

[2018-05-30 14:25] aledbf commented on #2584
Next time please check the pod logs to get the reason of why is in state of CrashLoopBackOff

[2018-05-30 20:54] pkelleratwork opened #2585 "brotli configmaps not working"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-05-30 21:18] aledbf commented on #2585
@pkelleratwork not sure what are you doing here.
All the settings should be defined in THE configuration configmap you have configured in the ingress controller deployment. Something like:

[code]

[2018-05-30 21:19] aledbf commented on #2585
Closing. Please reopen if you still have issues after setting the configuration

[2018-05-30 21:19] #2585 closed

[2018-05-30 21:21] aledbf commented on #2582
@helloagain-dev please check the cloud controller manager logs. The ingress controller itself does not create or change cloud resources. That is done by Kubernetes.

[2018-05-30 21:21] #2582 closed

[2018-05-30 23:04] v1r commented on #509
Hi there,  the hot reloading does not work in nginx-ingress-controller:0.15.0.
When applying a new config, the only thing I see in logs is:
`I0530 22:42:55.436915       7 controller.go:177] ingress backend successfully reloaded...`

Inspected the /etc/nginx/template/nginx.tmpl and  I can confirm that the template does not change.

Any help would be appreciated to make hot reloading works again?

[2018-05-30 23:16] aledbf commented on #509
@v1r please open a new issue

[2018-05-31 02:09] pkelleratwork opened #2587 "brotli not appearing in configmap after applying"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-05-31 02:16] #2587 closed

[2018-05-31 08:01] linux17kartik commented on #2580
Thank you very much for your response aledbf!!!
Please find the result for the asked query.

curl -v http://X.X.X.X -H 'Host: foo.com'

* Rebuilt URL to: http://X.X.X.X/
*   Trying X.X.X.X...
* TCP_NODELAY set
* Connected to X.X.X.X (X.X.X.X) port 80 (#0)

< HTTP/1.1 404 Not Found
< Server: nginx/1.13.12
< Date: Thu, 31 May 2018 07:55:26 GMT
< Content-Type: text/plain; charset=utf-8
< Content-Leng

[2018-05-31 08:17] jpds commented on #2494
I've also hit this while doing a helm upgrade:

[code]

[2018-05-31 08:45] sazo commented on #2547
@toolboc Thanks! Looking forward to see the PR merged :)

[2018-05-31 10:55] atkaper commented on #2463
We are also suffering from this "feature" (bug), we have an apache httpd server in front of the ingress nginx (due to legacy setup of environment), and it's mod_balancer does exactly this, it adds a comma separated list of host names to the x_forwarded_host header, breaking the upstream http host header.

[2018-05-31 19:30] #2547 closed

[2018-05-31 21:46] jpalomaki commented on #1815
FWIW, running in mode 1 (behind GCE network LB), specifying:
[code]
 and using a custom `nginx.tmpl` with these parts minimally customized:
[code]
seems to do the trick for me. See https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/custom-template.md and https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl.

[2018-05-31 23:06] geun commented on #2419
+1

[2018-06-01 00:40] Nowaker commented on #2170
Thanks @mattalberts. While this is far from ideal (you can only have *one* default certificate), it's better than nothing.

That said, the spec should be updated to address the issue of using secrets from different namespaces. Wildcard certificates should be stored in the ingress controller's namespace, and Ingress resources from different namespaces should be allowed to reference them. What is th

[2018-06-01 08:36] odinsy commented on #2535
@dgregoire
Did u solve the problem in another way?

[2018-06-01 10:00] dgregoire commented on #2535
@odinsy
Thanks, good idea!

@aledbf
How do you feel about having the controller handle that case?

[2018-06-01 14:39] alexlokshin commented on #2171
Same issue with 0.14.0, 0.15.0, but not 0.9.0.

[2018-06-01 15:55] redbaron opened #2593 "watch namespace prevents configmap from being read"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG

**NGINX Ingress controller version**:

0.15.0

**Kubernetes version** (use `kubectl version`):

[code]

**What happened**:

--watch-namespace makes nginx ingress controller to skip configmap if it is not in the watched namespace

**What you expected to happen**:

configmap is picked up regardless of --watch-namespace. Documentation i

[2018-06-01 17:19] toolboc commented on #2557
@bmv126

Perhaps this error is due to the way you are referencing the .css file, it may very well be getting picked up as text/html as your error message indicates.

For a potential solution, see: https://stackoverflow.com/questions/2190459/the-stylesheet-was-not-loaded-because-its-mime-type-text-html-is-not-text-c

[2018-06-01 20:44] josdotso opened #2594 "Nginx 1.14.0"
What is ETA on this ingress-nginx implementing this version or later of nginx? Thanks!

[code]

[2018-06-01 20:48] aledbf commented on #2594
Closing. We are already using 1.13.12 (== 1.14.0 and the latest version)

[2018-06-01 20:48] #2594 closed

[2018-06-02 00:16] josdotso commented on #2594
Thanks @aledbf  .. This makes sense. Ref: https://github.com/nginx/nginx/commits/branches/stable-1.14

[2018-06-02 14:42] toolboc commented on #2359
Here is a dump of the output from the `:10254/metrics` endpoint.  This shows which metrics are being published for Prometheus with a description for each method in the 'HELP' section.  Most of these are 'go process' and 'go memory stat's.  There are only three that are specific to ingress-nginx operations `ingress_controller_config_last_reload_successfull`, ` ingress_controller_config_last_reload_

[2018-06-02 14:52] gianrubio commented on #2359
Did you enable vts metrics?

On Sat, 2 Jun 2018 at 16:42, Paul DeCarlo <notifications@github.com> wrote:

--
Giancarlo Rubio

[2018-06-02 15:00] toolboc commented on #2359
@gianrubio,

vts metrics are enabled and loaded:
![image](https://user-images.githubusercontent.com/2018336/40877731-62b1411e-664b-11e8-8a65-4b7e1adc7d2f.png)
![image](https://user-images.githubusercontent.com/2018336/40877773-d0ec9700-664b-11e8-9985-767c2a8fe823.png)

[2018-06-02 16:12] aledbf commented on #2359
@toolboc are you using the dynamic configuration flag? If that's the case there is no prometheus metrics (yet)

[2018-06-02 16:41] toolboc commented on #2359
@aledbf

I am not using `--enable-dynamic-configuration`  so it [should be disabled by default](https://github.com/kubernetes/ingress-nginx/blob/bad526bd54a8fc01da9bc37df5617375f8c95fbf/docs/user-guide/cli-arguments.md):

![image](https://user-images.githubusercontent.com/2018336/40878633-376cea18-6659-11e8-8489-62f4950ad5a0.png)
,

[2018-06-02 18:19] Stono opened #2596 "Too many config reloads"
Hey hey @aledbf
Our internet ingress controllers will be handling circa 200 ingress hosts.  Most of these apps continuously deploy thus updating the ingress metadata labels with the current release version, even if the ingress `spec` hasn't actually changed.

Unfortunately updates to ingress labels, still result in a backend reload in nginx:

[code]

We only have about 10 services on here at the m

[2018-06-02 18:41] toolboc commented on #2359
@aledbf

Perhaps I have something misconfigured or there is something else going on, I am noticing the following appears in the logs after enabling vts:

`vts.go:207] unexpected error obtaining nginx status info: unexpected error scraping nginx vts (unexpected error scraping nginx : Get http://0.0.0.0:18080/nginx_status/format/json: EOF`

[2018-06-02 18:59] aledbf commented on #2596
@Stono please add the flag `--v=2` in the ingress controller deployment to see exactly what's triggering the reload. Changing labels should not be the reason why that's happening.

[2018-06-02 19:01] aledbf commented on #2359
@toolboc please use `kubectl exec <ingress pod> curl -v  http://0.0.0.0:18080/nginx_status/format/json` to see the response from the vts module

[2018-06-02 19:05] Stono commented on #2596
@aledbf it appears to be because of the order of the vhosts:

[code]

It's the same number of hosts, just ordered differently.

[2018-06-02 19:06] Stono commented on #2596
I suggest some sort of sort by id on the bit which renders these upstreams

[2018-06-02 19:15] aledbf commented on #2596
@Stono please use `quay.io/aledbf/nginx-ingress-controller:0.366`

[2018-06-02 19:16] Stono commented on #2596
OK, give me a few mins

[2018-06-02 19:32] Stono commented on #2596
It still reloads @aledbf - but nothing in the log output:

[code]

[2018-06-02 19:44] aledbf commented on #2596
@Stono please use `quay.io/aledbf/nginx-ingress-controller:0.367`

[2018-06-02 20:01] Stono commented on #2596
Same again!
[code]

[2018-06-02 20:26] Stono commented on #2596
Any ideas what it may be?  I'm going live with a bunch of stuff on Monday so wondering if we're going to be able to fix it by then?

[2018-06-02 20:34] toolboc commented on #2359
@aledbf

No response, it is as if there is no service being created on port 18080:

[code]

[2018-06-02 21:58] #2596 closed

[2018-06-03 04:08] cugblack commented on #2578
@aledbf     I got same problem,the base tag has not effect. What should i do to  solve it?

[2018-06-03 14:09] aledbf commented on #2190
Closing. Fixed in #2598
You can use the temporal image ` quay.io/aledbf/nginx-ingress-controller:0.370` to test the fix until the next release

[2018-06-03 14:09] #2190 closed

[2018-06-03 14:45] aledbf commented on #2476
Closing. In your service definition `targetPort: http` but your endpoint is usint port 8080. You need to change targetPort to 8080

[2018-06-03 14:45] #2476 closed

[2018-06-03 17:51] harper1011 commented on #1623
@JinsYin This works fine, but could you share some documentation about why this help?

[2018-06-04 07:43] MIBc opened #2599 "Services "ingress-nginx" not found"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-06-04 08:54] tubzby commented on #2599
Same log with kubernetes v1.10.3,  ingress: nginx-ingress-controller:0.15.0, about 10 logs per second, that's too much.

Also use command"
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/mandatory.yaml" to deploy, but deploy as "DaemonSet".

[2018-06-04 09:07] MIBc commented on #2599
@tubzby  I will try DaemonSet.
I find it is useful to create a nodeport ingress-nginx service.

[2018-06-04 09:11] tubzby commented on #2599
I used DaemonSet with hostNetwork: true.

[2018-06-04 09:16] MIBc commented on #2599
@tubzby So a DaemonSet ingress-nginx-controller with hostNetwork: true has the same error log?

[2018-06-04 09:18] tubzby commented on #2599
Yes. so far is just annoying logs, ingress is working.

[2018-06-04 10:41] renaudguerin commented on #2043
Experiencing this as well, with certs generated by cert-manager (ex kube-lego)

Pretty serious issue IMHO, this makes from-to-www-redirect unusable with TLS.

The spec.tls.hosts entry in my ingress has both www.foo.com, foo.com, and a 3rd domain, and the resulting cert does have all 3 domains.

So, the problem definitely seems to be in the generated nginx config.

[2018-06-04 12:57] aledbf commented on #2599
You missed the baremetal step https://kubernetes.github.io/ingress-nginx/deploy/#baremetal

[2018-06-04 12:57] #2599 closed

[2018-06-04 13:08] #1943 closed

[2018-06-04 14:46] marklee77 commented on #2463
Just to reiterate here: https://httpd.apache.org/docs/2.2/mod/mod_proxy.html#x-headers

```Be careful when using these headers on the origin server, since they will contain more than one (comma-separated) value if the original request already contained one of these headers. For example, you can use %{X-Forwarded-For}i in the log format string of the origin server to log the original clients IP add

[2018-06-04 15:17] aledbf commented on #2509
@rfranzke where are you running the cluster? what version of the ingress controller are you using?
Please use `quay.io/aledbf/nginx-ingress-controller:0.370`

[2018-06-04 15:21] rfranzke commented on #2509
@aledbf I'm running the `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.15.0` image. How is your image different? Did you fix the issue? Have you contributed that back?

[2018-06-04 15:22] aledbf commented on #2509
@rfranzke that image contains the next release.
The new image contains (among other things, an updated client-go version)

[2018-06-04 17:26] aledbf commented on #2474
Closing. To access the dashboard using https you need to add a TLS section
Please check https://kubernetes.github.io/ingress-nginx/examples/tls-termination/README/

[2018-06-04 17:26] #2474 closed

[2018-06-04 18:52] artemzakharov commented on #2230
@djhmateer It might be at this point. I opened this issue after a comment by @aledbf on the older one suggested that the behavior was intentional and I simply needed a wildcard certificate to fix things, but that turned out to be wrong, so I thought this was a separate issue altogether. In any case, we'll see if this issue persists when the original one is resolved.

[2018-06-04 21:00] #1877 closed

[2018-06-05 04:20] BigXin opened #2604 "Feature request for A/B TEST or blue-green deploy"
**This is a  FEATURE REQUEST**

**NGINX Ingress controller version**:

`0.13.0`
`0.15.0`

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): `CentOS 7.4`
- **Kernel** (e.g. `uname -a`):
`Linux k8s01-master 3.10.0-514.26.2.el7.x86_64 #1 SMP Tue Jul 4 15:04:05 UTC 2017 x86_64 x86_64 x86_64 GN

[2018-06-05 09:26] Stono opened #2605 "Use FQDN for Kubernetes master, or allow the use of a specified CA certificate"
Hey,
Because we used ingress-nginx with envoy (via istio), I could do with ingress-nginx using the FQDN for the kubernetes master, rater than the ip.

The default behaviour, with in-cluster configuration is:

[code]

If i explicitly set `--apiserver-host` to `https://kubernetes.default.svc.cluster.local` but then I get `I0605 09:21:55.724435       1 main.go:189] unexpected error discovering Kubern

[2018-06-05 10:18] desaintmartin commented on #2359
@aledbf @gianrubio there is already this dashboard for grafana: https://grafana.com/dashboards/3050 but I haven't found / wrote Prometheus alerts.

[2018-06-05 12:12] YvonneArnoldus commented on #2096
I'm using quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.14.0

I'm always getting a 403 when I add nginx.ingress.kubernetes.io/whitelist-source-range : "x.x.x.x" where x.x.x.x is the Ip I get from https://whatismyipaddress.com.

[2018-06-05 12:41] zedtux commented on #2192
@aledbf your link is broken and your anchor doesn't exists in the /docs/deploy doc.

[2018-06-05 12:41] aledbf commented on #2192
@zedtux https://kubernetes.github.io/ingress-nginx/deploy/

[2018-06-05 14:58] gertcuykens opened #2606 "grpc-external-auth"
In go you can add grpc metadata like this

https://github.com/grpc/grpc-go/blob/master/Documentation/grpc-metadata.md

Can we have grpc external authentication annotations based on metadata added to the grpc connection please?

[2018-06-06 00:29] jmhodges opened #2610 "GCLB: tls secrets have invalid names"
**Kubernetes version** (use `kubectl version`):

Server is v1.10.2-gke.3 (the GKE default now, I believe)

- **Cloud provider or hardware configuration**:
GKE

**What happened**:
Updating a tls Secret used in a GCLB Ingress is failing. Error from a `kubectl describe ingress apps`:

  Warning  Sync    5m (x941 over 4d)  loadbalancer-controller  Cert creation failures - k8s-ssl-69d4fb7e3d37d4e1-3275

[2018-06-06 00:31] jmhodges commented on #2610
Ugh, sorry, I thought this was the repo for all Ingresses. (I got linked to it from and old Google Cloud ticket I had opened https://issuetracker.google.com/issues/36658900)

[2018-06-06 00:31] #2610 closed

[2018-06-06 05:42] valeriano-manassero commented on #2355
There are some progress on this?
Thank you.

[2018-06-06 08:09] xuzhiop commented on #2604
try add annotation like this:
nginx.ingress.kubernetes.io/configuration-snippet : |
        if ( $svc-backend = "svc-blue" ) {
                proxy_pass http://nginx-green/
                break;
             };

[2018-06-06 10:15] petoknm commented on #2529
I have the same problem. Trying to run two ingress controllers on the same machine with different bind-addresses.

[2018-06-06 11:49] codepitbull commented on #1809
I think the discussion in here is a little misleading as there is one crucial part missing.
First of all, using Ingress as a reverse proxy for an arbitrary HTTP service works with the following config:
`kind: Service
apiVersion: v1
metadata:
  name: proxy-static
spec:
  type: ExternalName
  externalName: storage.googleapis.com

---

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: pr

[2018-06-06 11:52] aledbf commented on #2355
@valeriano-manassero yes, please check #2608

[2018-06-06 11:55] #2044 closed

[2018-06-06 13:20] pragmasoft-ua commented on #1809
The showstopper for me was that nginx.ingress.kubernetes.io/rewrite-target annotation is global per ingress, whereas I use it for both backend api and frontend, and only frontend needed to be rewritten.

[2018-06-06 13:48] aledbf commented on #1809
@pragmasoft-ua just create two ingress rules, one for the frontend and another for the backend api and only apply the annotation to the frontend rule

[2018-06-06 14:05] pragmasoft-ua commented on #1809
I tried this earlier and reported on this above:

Will probably need to try again, that was quite a long ago

[2018-06-06 17:00] codepitbull commented on #1809
But how did you get around the GCS-asuthentication? Or did you just make the bucket contents public?

[2018-06-06 19:43] pcj opened #2612 "Restart nginx controller?"
For debugging purposes, I want to `kubectl exec -it nginx-controller bash`, update the `/etc/nginx/nginx.conf`, and restart nginx.  How do I restart it? (don't want to delete the pod)

[2018-06-06 19:45] aledbf commented on #2612
Running `nginx -s reload` from the container.

[2018-06-06 19:45] #2612 closed

[2018-06-06 19:45] aledbf commented on #2612
@pcj please use the slack channel #ingress-nginx to ask questions.

[2018-06-06 21:59] thomascooper commented on #2043
I am having the same issue using nginx-ingress-controller:0.14.0. If I visit the root domain i receive a cert error (its serving the Kubernetes Ingress Controller Fake Certificate).

I use https://github.com/jetstack/cert-manager (very similar and based on kube-lego).

Here is my ingress config:
[code]

[2018-06-06 22:10] thomascooper commented on #2043
For those interested in a short term work around, I add the following annotation to get it to work as I need for now:
[code]

[2018-06-06 23:52] joshphp opened #2613 "Documentation: Using custom-error-pages for 5xx codes unclear"
**What keywords did you search in NGINX Ingress controller issues before filing this one?**
custom_errors, custom-errors

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Documentation issue

**NGINX Ingress controller version**: 0.15.0

**Kubernetes version** (use `kubectl version`): 1.9.7

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /e

[2018-06-07 03:35] BigXin commented on #2604
@xuzhiop  Thanks a lot ,  it works great !

[2018-06-07 03:35] #2604 closed

[2018-06-07 09:57] pragmasoft-ua commented on #1809
I just made them public

[2018-06-07 11:33] codepitbull commented on #1809
Thanks for clarifying.

[2018-06-08 09:13] kongyi-ibm commented on #1759
@pvl7 Are you enable the session affinity with https ?  Does it works ?  I tried it, but just http work.

[2018-06-08 13:37] MMeent opened #2615 "Feature request: multiple log_formats"
**FEATURE REQUEST**:
Please add a configmap/annotation option for custom log formats for use in specific Ingress resources. This is currently possible by manually updating the template file, but that is not scalable across versions. Updating the template file is required due to log_format only being allowed to be specified in the `http`-block, but there is no direct annotation/configmap option to

[2018-06-08 14:35] aledbf commented on #2615
Closing. Please check https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#log-format-upstream

[2018-06-08 14:35] #2615 closed

[2018-06-08 15:14] MMeent commented on #2615
I have checked that, and that only only allows for the configuration of the upstreaminfo log format. If I wanted another format, I'd have to configure that like the following:
[code]
and then configure the ingress resource with configuration-snippets. While that (probably) works, I don't think I should rely on unescaped strings to get my logging format available for my Ingresses to configure using

[2018-06-08 15:20] aledbf commented on #2615
@MMeent you can use [http-snippet](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#http-snippet) in the configuration configmap to avoid using a custom template

[2018-06-08 21:14] engaugusto commented on #1406
hey @k8vance88 could you give me a hint how do you solve it ?

[2018-06-08 21:35] #1647 closed

[2018-06-08 21:40] #2550 closed

[2018-06-09 23:27] bsukramlitt commented on #2580
Hello I have a very simular issue but can't resovle it.
I enabled --v=5 logs on nginx side and see the request to my ingress dns entry like:
[code]
I can also see in the looks that nginx directly requests the default backend which response 404 for sure.

My ingress is very simple like
[code]

And what I don't get is why its not working :). Url reachs the backend and doesn't get routed anyways
Plea

[2018-06-09 23:27] bsukramlitt commented on #2580
any ideas? version is 0.20.1 helm chart

[2018-06-09 23:35] anilreddyv commented on #2171
Having same issue with 0.9.0, 0.10.0, 0.15.0. Using K8 version 1.8.11

[2018-06-10 08:11] ProProgrammer commented on #646
Further to what @rutsky mentioned in [his comment](https://github.com/kubernetes/ingress-nginx/issues/646#issuecomment-297081714) if you are using nginx ingress controller specifically and your annotations start with nginx as follows:
[code]

Your annotation should start with `nginx.` and hence should read as `nginx.ingress.kubernetes.io/configuration-snippet` as opposed to `ingress.kubernetes.io/

[2018-06-11 07:04] chestack opened #2621 "Nginx ingress controller(configured with "custom-http-errors") should return original error code instead of 200"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug about custom-http-errors

**NGINX Ingress controller version**:
any version with "custom-error-code" configuration

**What happened**:
Now nginx return 200 instead of real error http codes if configured custom-http-errors
ref: https://github.com/kubernetes/contrib/issues/2285

**What you expected to happen**:
Return real http error co

[2018-06-11 08:21] ekryski commented on #2045
I think I'm actually seeing this issue without having a wildcard `host`, only a wildcard in the `tls` group. I've added more details [this issue](https://github.com/jetstack/cert-manager/issues/571#issuecomment-396154435) over on the `cert-manager` repo.

[2018-06-11 10:52] HamzaK8s opened #2622 "Nginx ingress does not add sticky session to the upstream"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-06-11 11:38] pvl7 commented on #1759
This is my ingress rule:

`
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    ingress.kubernetes.io/affinity: cookie
    kubernetes.io/ingress.allow-http: "true"
    kubernetes.io/ingress.class: nginx
  creationTimestamp: 2017-05-23T14:20:01Z
  generation: 1
  name: www-ingress
  namespace: application
  selfLink: /apis/extensions/v1beta1/namespaces/application/ingresses/ww

[2018-06-12 06:22] antoineco commented on #2621
@aledbf this can be closed.

[2018-06-12 06:44] antoineco commented on #2096
/assign antoineco

[2018-06-12 07:02] idirouhab commented on #2096
If I use a configmap like this one it works:

[code]

[2018-06-12 07:14] idirouhab commented on #2096
I'd confirm that, in my case was my mistake.
I didn't add the `nginx` prefix.

[2018-06-12 08:11] antoineco commented on #2622
@HamzaK8s the annotation prefix is `nginx.ingress.kubernetes.io` on recent versions, unless you changed it using the `--annotations-prefix` flag. Could you try to make that change and check your config again?

[2018-06-12 08:48] michelvocks commented on #2463
We also faced the same issue. One service (using Zuul) proxy request to another service. It seems like Zuul (or our apache in front of it) sets a comma separated list to the x_forwarded_host header which returns a 400 (Bad Request) response.

[2018-06-12 10:27] HamzaK8s commented on #2622
@antoineco  you right it was annotation problem,

[2018-06-12 10:53] #2621 closed

[2018-06-12 11:06] #2527 closed

[2018-06-12 11:07] antoineco opened #2626 "[proposal] route-based stickiness in front of application servers"
_Discussed with @aledbf on Slack. I'm creating this issue to get a sense whether anyone is interested in that feature or not._

_Feel free to share use cases and requirements. Please avoid responding with "+1" and just use GitHub reactions._

#### Introduction

Servlet containers such as Tomcat and Jetty often take care of issuing session cookies - commonly named `JSESSIONID` - which can be used b

[2018-06-12 11:21] antoineco commented on #2613
You're right, the example and documentation seem outdated.

I'd also like to mention this page: https://kubernetes.github.io/ingress-nginx/user-guide/custom-errors/.

This is not the case by default.

The only up-to-date reference to that feature seems to be https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#custom-http-errors.

[2018-06-12 11:40] antoineco commented on #2567
Could you please provide the controller logs, especially the part supporting this:

(and surround code snippets with \`\`\`(your_code)\`\`\` to improve readability :slightly_smiling_face:)

[2018-06-12 11:59] antoineco commented on #2567
Usual suspect: an `Equal()` function returning `true` when it should not.

[2018-06-12 12:13] antoineco commented on #2593
@redbaron could you check https://github.com/kubernetes/ingress-nginx/blob/a74c34dbf179756dce746953161f3e8100dd25e6/docs/user-guide/cli-arguments.md and tell me whether the updated flag description makes more sense?

[2018-06-12 12:30] marklee77 commented on #2463
We just force x-forwarded-host to be the appropriate value in our edge proxies, but it would be nice if this behavior could be fixed to be complaint with the header documentation. It's not even a real standard, so at the least the ingress needs to parse x-forwarded-host and only set host if the contents are valid.

[2018-06-12 12:49] antoineco commented on #2613
/assign antoineco

[2018-06-12 12:50] antoineco commented on #2567
/assign @antoineco

[2018-06-12 13:02] antoineco commented on #2096
@grebois could you confirm this is happening with the latest version when using the correct annotation prefix? (`nginx.ingress.kubernetes.io/`)
Also please provide more information about your environment, and make sure the NGINX access logs do display the expected external IP.

@YvonneArnoldus that's most likely because NGINX interprets the incoming traffic as coming from a  load balancer IP inste

[2018-06-12 14:09] joshphp opened #2627 "Bug: Setting proxy-body-size not working globally"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** proxy-body-size, client-max-body-size,

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**NGINX Ingress controller version**: 0.15.0

**Kubernetes version** (use `kubectl version`): v1.9.7

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os

[2018-06-12 14:52] antoineco commented on #2567
@mwasilew2 I can reproduce what you described.

Procedure (on the current `master`):

1. Edit the ConfigMap and add the mentioned setting
  a. `kubectl edit cm nginx-configuration`
  b. set `whitelist-source-range: 127.0.0.1` and save
  c. the following log entries are printed
[code]
2. Display the NGINX config
  a. `kubectl nginx-ingress-controller-7dbfc54c45-mt2kx -- cat nginx.conf`
  b. whiteli

[2018-06-12 14:54] antoineco commented on #2567
/kind bug

[2018-06-12 14:55] antoineco commented on #2096
related: #2567

[2018-06-12 14:56] antoineco commented on #2613
/kind documentation

[2018-06-12 14:56] antoineco commented on #2593
/kind documentation

[2018-06-12 15:05] redbaron commented on #2593
new description reflect reality better. Current behaviour is something I'd like to change though, it makes little sense to require that ConfigMap lives in same namespace as watched Ingress resources.

[2018-06-12 15:08] redbaron commented on #2593
There should be separate watcher/Informer for ConfigMap which have to be fully synced before reporting ready, this not only decouples it from `--watch-namespace` flag, it also ensures that no unintended configuration is generated. Given *very* dangerous default of HSTS enabled it is even more important to have all safety measures in place to avoid unintended state

[2018-06-12 15:10] ruettimac opened #2628 "SSL Passthrough does not pass along client certificate"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**BUG REPORT**:

**NGINX Ingress controller version**:
0.15, 0.10

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d5

[2018-06-12 15:11] aledbf commented on #2593
We are not going to introduce new watcher/informers for configmaps.

You are right about this.

[2018-06-12 15:11] aledbf opened #2629 "Wait for configuration configmap before passing health checks"
https://github.com/kubernetes/ingress-nginx/issues/2593#issuecomment-396625376

[2018-06-12 15:14] aledbf commented on #2628
Closing. This works as expected. Please check https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#ssl-passthrough

Basically, NGINX is not involved at all when you use SSL passthrough

[2018-06-12 15:14] #2628 closed

[2018-06-12 15:17] antoineco commented on #2627
/kind bug

[2018-06-12 15:56] antoineco commented on #2613
/status in-progress

[2018-06-12 18:05] redbaron commented on #2593
why? configmap is just implementation detail of how this particular ingress controller operates, therefore more often than not it belongs to same namespace where ingress controller is running.  Either way , configmap parameter explicitly accepts  namespace, making it distinct from where watched Ingress resources are.

It is not that extra informer is resource consuming or requires a lot of code ei

[2018-06-12 18:09] aledbf commented on #2593
@redbaron after the next release we are going to start the migration to CRDs and the first step if the change of the configmap.

That applies only to small clusters. Keep in mind that informers cannot watch a particular list of objects.

[2018-06-12 20:30] rocketraman commented on #2497
I have the same issue. The `nginx.conf` in the ingress is configured with `grpc_pass` as expected.

I thought the reason for this, in my case, might be the Azure Load Balancer in front of the ingress corrupting the HTTP/2 request, BUT, even with a port forward directly to the ingress pod, I get the same error:

[code]

on the node-based client (it also fails with a java client, though with a diffe

[2018-06-12 21:35] mwasilew2 commented on #2567
yup, that's it, I was getting the same behaviour and the exact same logs (I assume you no longer need mine)

[2018-06-12 21:42] redbaron commented on #2593
Configmap is specified with namespace, so it can be an informer limited to a single namespace.

[2018-06-12 22:03] #2613 closed

[2018-06-12 22:19] finkbit opened #2631 "nginx-ingress-controller can't route between nodes"
I followed the docs here https://kubernetes.github.io/ingress-nginx/ to set this up my deployments (AWS)

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug?

**NGINX Ingress controller version**:
nginx-ingress-controller:0.15.0

**Kubernetes version** (use `kubectl version`):
v1.9.6

**Environment**:
AWS
- **Cloud provider or hardware configuration**:
AWS
- **OS** (e.g. from /etc/os-r

[2018-06-13 00:54] finkbit commented on #2631
Thanks @aledbf I'm guessing it's a network issue then because I'm not able to curl from the node either. I'm new to kubernetes. It looks like my IP tables are forwarding correctly but something is dropping/not routing. I understand if you can't help me here. o7

[2018-06-13 01:45] barockok commented on #2419
+1

[2018-06-13 02:13] aledbf commented on #2631
@finkbit I think you should ask for advice in the kubernetes-novice slack channel.

[2018-06-13 02:13] aledbf commented on #2631
Closing. This is not an issue with the ingress controller but network related.

[2018-06-13 02:13] #2631 closed

[2018-06-13 03:42] miaoshixuan commented on #2627
you should set `proxy-body-size` in your configmap not `client-max-body-size`.

https://github.com/kubernetes/ingress-nginx/blob/nginx-0.15.0/docs/user-guide/nginx-configuration/configmap.md#proxy-body-size

[2018-06-13 09:23] mikksoone opened #2632 "BUG: --enable-dynamic-configuration=true doesnt support multiple external auth headers"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one):** BUG REPORT

**NGINX Ingress controller version**:0.14.0
**Kubernetes version (use kubectl version)**:

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS (e.g. from /etc/os-release)**: Ubuntu
- **Kernel (e.g. uname -a)**: 4.4.65-k8s #1 SMP Tue May 2 15:48:24 UTC 2017 x86_64 Linux
- **Install tools**: Kops

[2018-06-13 09:28] mikksoone commented on #2632
@ElvinEfendi ping

[2018-06-13 11:36] ray1888 opened #2633 "nginx-ingress-controller pod always backoff"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-06-13 12:11] ray1888 commented on #2633
error log is something like this
[code]

[2018-06-13 12:53] joshphp commented on #2627
Correct @miaoshixuan, I updated the issue to reflect that, an example configmap is below:
[code]

[2018-06-13 13:30] dengqingpei1990 opened #2635 "/etc/nginx/nginx.conf don't apply changes when ingress's annotations update"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
`No`
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
`annotations change`
---

**Is this a

[2018-06-13 14:09] joshphp commented on #2627
This appears to be working now, not sure if it took longer than expected to load or I had an improper configuration early on. Closing bug.

[2018-06-13 14:09] #2627 closed

[2018-06-13 14:30] antoineco commented on #2627
/remove-kind bug

[2018-06-13 14:33] antoineco commented on #2635
You're right, `ServerSnippet` is not compared for equality inside https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/types_equals.go.

/kind bug

[2018-06-13 15:16] #2635 closed

[2018-06-13 15:35] michaelgeorgeattard opened #2637 "Using service of type `ExternalName`"
Hi,

I am trying to create a reverse proxy that points to a completely external host.

I tried setting up a service of type `ExternalName` and an ingress that points to this service.

My question is, how do I set the service/ingress to be reachable externally?

[2018-06-13 15:36] aledbf commented on #2637
Closing. Please check this example https://github.com/kubernetes/ingress-nginx/pull/629#issue-116679227

[2018-06-13 15:36] #2637 closed

[2018-06-13 15:37] aledbf commented on #2637
@michaelgeorgeattard for questions and support please use the #ingress-nginx channel in the Kubernetes Slack

[2018-06-13 17:27] #2195 closed

[2018-06-13 17:29] matth-boise commented on #2044
@aledbf  fyi, i finally made the switch to use proxy protocol with the ELB and we have not seen the 408/504 problem for about 100 builds.  (we have not seen the 000 error for several months.)  thanks again!

[2018-06-13 19:32] pkelleratwork opened #2640 "ingress-controller not attaching to node instances"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-06-13 19:39] antoineco commented on #2633
Doesn't look like your Kubernetes cluster is properly configured, the logs you posted are the logs from `kubectl`, not from `ingress-nginx`:

[2018-06-13 19:41] antoineco commented on #2640
Could you inspect the LoadBalancer service with `kubectl -n ingress-nginx get svc` and show its full status either with `describe` or `get -o yaml`?

[2018-06-13 21:54] schmitch commented on #2096
actually I use `metallb` as the k8s LoadBalancer and the access log actually always prints the IP of the  k8s nodes instead of the correct access IP, so in my case the whitelist does not work because of that.

[2018-06-14 00:20] suman-ganta commented on #1810
Hey @DocValerian, I'm running into the problem you described. Wondering there is any solution found?

[2018-06-14 01:39] ray1888 commented on #2633
i find out why it goes wrong , because i hvaen't use dns to advertise the apiserver in the cluster and i do not specify the apiserver endpoint , when i specify it , it work

[2018-06-14 01:39] #2633 closed

[2018-06-14 01:43] pkelleratwork commented on #2640
@antoineco
I've narrowed down the error to changing the following service annotation from the default 3600 to 7200.
the default setting =
[code]

I increased to 7200 and it fails. - errors below state it cannot go above 4000.
`service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: '7200'`

here is the output from describe svc with 7200
[code]

here is the output from the yaml
[code]

[2018-06-14 06:31] antoineco commented on #2640
Like the message says, 4000 is the maximum you can set for this flag. You're using 7200.

Change it back and it should work.

You also created the service 1m ago, but it can take longer than that before the LB is ready.

[2018-06-14 08:21] worldsayshi commented on #2007
After way to much trial and error and frustration. Some tips that might work for others who venture here:

- `nginx.ingress.kubernetes.io/proxy-connect-timeout` did not work for me. Nothing changed in the nginx configuration in the ingress controller. No errors were shown. Removing the initial `nginx.` did work. Ending up with these annotations:

[code]
- If you want to inspect what the end result

[2018-06-14 08:48] obeyler opened #2642 ""ingress-nginx" => "nginx-ingress""
To Verify installation the documentation wrote

kubectl get pods --all-namespaces -l app=ingress-nginx --watch

On default deployment it not "ingress-nginx" but "nginx-ingress"

[2018-06-14 09:28] DocValerian commented on #1810
Hi @suman-ganta, sorry, but I have no solution.
I think, back then, we worked around it by copy/pasting the still valid certs from our old blue/green cluster and the issue disappeared. So maybe kube-lego related... However, we are in the process of migrating to the cert-manager project anyways and haven't seen this issue in the meantime.

[2018-06-14 12:01] aledbf commented on #2640
Closing. This is not an issue with the ingress controller itself.
The limit of 4000 is documented [here](https://docs.aws.amazon.com/elasticloadbalancing/latest/classic/config-idle-timeout.html)

[2018-06-14 12:01] #2640 closed

[2018-06-14 13:13] #557 closed

[2018-06-14 13:13] #2128 closed

[2018-06-14 13:13] #2355 closed

[2018-06-14 13:16] aledbf commented on #2355
@valeriano-manassero just in case, please don't use this change yet, we need to clean up some things.

[2018-06-14 13:30] aledbf commented on #2642
@obeyler this works

[code]

[2018-06-14 13:30] aledbf commented on #2642
@obeyler what's the problem you see?

[2018-06-14 13:52] pkelleratwork commented on #2640
thanks guys.

[2018-06-14 15:23] antoineco commented on #2642
ref #2641

The Helm chart sets `nginx-ingress`, but the default in this repo is `ingress-nginx`.

Like @aledbf said in the mentioned PR, it'd be great if someone could fix that in the Helm repo.

[2018-06-14 19:57] antoineco commented on #2567
Note, that bug is amplified by #2634.

[2018-06-14 22:27] jonathansant opened #2647 "[bug] Nginx dropping websocket connections"
**NGINX Ingress controller version**:
0.15.0

**Kubernetes version** (use `kubectl version`):
1.10.3

**Environment**:

- **Cloud provider or hardware configuration**:
AWS
- **Install tools**: Kops

**What happened**:
Websocket connections are getting closed intermittently between 10sec~40sec. In the link  below you can find the full details of the issue posted in the SignalR repo:

https://github

[2018-06-14 22:30] aledbf commented on #2647
@jonathansant from the linked issue I see annotations define like `ingress.kubernetes.io`. That should be `nginx.ingress.kubernetes.io`

[2018-06-14 22:33] jonathansant commented on #2647
@aledbf thanks for your reply but the annotations have since been updated to:

[code]

[2018-06-14 22:35] aledbf commented on #2647
@jonathansant can you post the ingress and deployment of this example?
(In order to reproduce this issue)

[2018-06-14 22:37] aledbf commented on #2647
@jonathansant how are you installing the ingress controller?

[2018-06-14 22:37] jonathansant commented on #2647
Ingress:

[code]

ConfigMap:

[code]

[2018-06-14 22:39] jonathansant commented on #2647
@aledbf following the steps in the AWS section here: https://github.com/kubernetes/ingress-nginx/blob/master/docs/deploy/index.md

[2018-06-14 22:41] aledbf commented on #2647
@jonathansant do you have a docker image for https://github.com/claylaut/signalr-websocket-connection-issue ?

[2018-06-14 22:44] jonathansant commented on #2647
No, but all you need to do:
- clone
- launch `index.html`
- press the connect button

[2018-06-14 22:45] aledbf commented on #2647
@jonathansant sure but in order to help I need to spin up an ingress controller and simulate the `hades-common-nodeport` service.

[2018-06-14 22:48] aledbf commented on #2647
@jonathansant I am requesting this because usually the error is in the websocket server, not in nginx.
This is an example https://github.com/kubernetes/ingress-nginx/issues/1609#issuecomment-340096599

[2018-06-14 22:49] jonathansant commented on #2647
The script in the repo simulates a **client** connecting to our server. By pressing connect you will be hitting our dev environment.

We tried connecting directly to the socket server (skipping the ingress) and the connection does not drop.

[2018-06-14 22:55] jonathansant commented on #2647
we are also sending a list of headers that the server receined if the helps. Please, tell me what else you need to help you out with the issue.

We also noticed that when we deploy some syntax errors in the nginx configuration, ironically enough the socket connection is retained. Although a restart of the pods results in the pods not starting.

[2018-06-14 23:05] aledbf commented on #2647
That's expected, there is no versioning of the configuration. This means if you change something while the controller it's running, the configuration is not going to be replaced and keep working but if you kill the pod it will not start.