[2021-07-14 13:45] longwuyuan commented on #7348
Would you want to try option 2 and see how it goes. Thanks, 
--
; Long

14 Jul 2021, 18:47 by ***@***.***:

[2021-07-14 13:50] Leonardo-Ferreira opened #7349 "TLS not working when using wildcard cert"
Im having a little bit of a problem setting up TLS using a wildcard cer.

My certificate has a common name for `*.acme.com` and 8 SAN such as `systemA.acme.com`  and `systemB.acme.com`. These I will refer to as "included-in-san.acme.com"

When setting up TLS for the DNSs specified on the SAN list, its all good, but when I try to take advantage of the wildcard common name, i get a “Kubernetes Ingre

[2021-07-14 14:36] crosvera commented on #7113
@amir-enote sorry for the late response.

this annotation: `service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "https"` needs to be pointing to 443.

[2021-07-14 15:21] longwuyuan commented on #7346
Hi,
Am curious about one aspect here.
- this is the ingress-nginx-controller project
- ingress-controller processes ingress objects
- an ingress object has a backend service as one of its fields in the spec
- the backend service of a ingress object is explained in the docs like this:
    * Service: A Kubernetes Service that identifies a set of Pods using label selectors. Unless mentioned otherwise

[2021-07-14 15:29] longwuyuan commented on #7349
/remove-kind bug
/triage needs-information
Remove annotations for regex and rewrite target. Set path to just /. Put all 8 fqdn subject alternatives of cert in ingress.spec.rules.host as well as ingress.spec.tls.host ... Then test all 8 names in curl request. Update results

Since this is moved to slack, it is expected to get more progress there. https://kubernetes.slack.com/archives/CANQGM8BA/p162

[2021-07-14 16:37] LoonyRules commented on #7348
Hello, that did help us fix the issue where our websockets weren't getting the same certificates as our ingresses. We had to make a wildcard certificate so anything without TLS defined will just default to that.

I feel like there should be a configuration option for this thought and that we shouldn't just rely on a default ssl certificate option?

[2021-07-14 17:24] longwuyuan commented on #7348
PRs welcome.

If you have no more questions, kindly close the issue.

[2021-07-14 18:08] bsod90 commented on #7346
Yep, I'm using the service of type `externalName` as an ingress backend, isn't this supported?
https://kubernetes.github.io/ingress-nginx/e2e-tests/#service-type-externalname these are some tests I found that suggest ExternalName services are supported...

[2021-07-14 18:27] justinrush commented on #7329
it appears this is expected behavior based on how nginx handles merging config when multiple ingress records define the same host. proxy-ssl-* annotations appear to be server/host specific.
https://kubernetes.github.io/ingress-nginx/how-it-works/#building-the-nginx-model

[2021-07-14 18:27] #7329 closed

[2021-07-14 18:56] grtrout opened #7352 "Can't determine a way to add new exposed port (e.g., 5432 for Postgres) in values.yaml to propegate to the created Service K8s resource"
**NGINX Ingress controller version**: v0.47.0

**Kubernetes version** (use `kubectl version`): v1.20.7

**Environment**: Kubernetes / Helm

**What happened**:

Using the values.yaml file, I am trying to add a value somewhere so that I can expose a new port in the created "ingress-nginx-controller" service. The corresponding section of values.yaml, I believe, would be .controller{}.service{}.ports{

[2021-07-14 21:00] Varun-garg commented on #4213
something like this works for helm with values.yaml
[code]

[2021-07-14 21:30] Leonardo-Ferreira commented on #7349
I updated the ingress to better reflect which names would require the wildcard part of the cert and which names are present in the SAN

[2021-07-14 21:40] Leonardo-Ferreira commented on #195
Having the same issue... created a new question about it: #7349

[2021-07-14 23:52] bhasinkaran commented on #5720
Yes, so as context I'm using Azure Key Vault with certificates. It turns out that when I run kubectl edit secrets, I see some encrypted form (not the actual certificate/pkey values). Also, my certificate is issued from a root authority to two intermediate authorities before directly being issued to me. I manually downloaded my certificate and found that when I created a secret with the private key

[2021-07-15 03:24] longwuyuan commented on #7346
https://github.com/kubernetes/kubernetes/issues/103675

Additional Advisory

A similar attack is possible using Ingress implementations that support forwarding to ExternalName Services. This can be used to forward to Services in other namespaces or, in some cases, sensitive endpoints within the Ingress implementation. If you are using the Ingress API, we recommend confirming that the implementatio

[2021-07-15 03:36] jackchuong opened #7354 "Annotation satisfy any fail"
**NGINX Ingress controller version**:
NGINX Ingress controller
  Release:       v0.47.0
  Build:         7201e37633485d1f14dbe9cd7b22dd380df00a07
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.20.1

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aa

[2021-07-15 04:19] longwuyuan commented on #7354
Can you confirm that you expect no Login authentication from whitelisted ip address? Thanks, 
--
; Long

15 Jul 2021, 09:06 by ***@***.***:

[2021-07-15 06:24] longwuyuan commented on #7349
shoe ;
- `kubectl describe ing <ingressname>`
- your curl command in full and its response
- logs from the controllerpod related to your curl

Or close this issue and talk in slack because there are more people there

[2021-07-15 06:33] longwuyuan commented on #7352
Can you confirm that you don't want to use this https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/#exposing-tcp-and-udp-services ?

/remove-kind bug
/kind feature

[2021-07-15 06:35] longwuyuan commented on #7354
/remove-kind bug

[2021-07-15 08:12] jackchuong commented on #7354
Yes.

[2021-07-15 08:24] longwuyuan commented on #7354
whitelist works at ip-layer. I don't think whitelist function involves checking authentication headers. I am checking. But are you able to achieve what you want on  upstream nginx ?

[2021-07-15 08:33] longwuyuan commented on #7354
Yeah ... your expectation is not reasonable in the sense that this is the nginx module used https://nginx.org/en/docs/http/ngx_http_access_module.html  so that is only OSI layer3 and authentication is not in layer 3.

I will be happy to learn anything new if you have data proving otherwise. We can also wait for other expert comments. But I think you should clsoe this issue and come discuss this in

[2021-07-15 08:58] jackchuong commented on #7354
Hi,
I read this document : https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#satisfy
It explain "how to use" for every Annotation : whitelist-source-range , auth-type , specially satisfy
By default, a request would need to satisfy all authentication requirements in order to be allowed. By using this annotation, requests that satisfy either any or all authentica

[2021-07-15 09:05] longwuyuan commented on #7354
I could be wrong but whitelist checks ip address like a acl. And that is layer 3. Auth is not layer 3 so your expectation seems like your need but not in line with the feature of whitelist annotation. Thanks, 
--
; Long

15 Jul 2021, 14:28 by ***@***.***:

[2021-07-15 09:10] PoojaGidaveer commented on #7285
Please refer to below screenshot
![image](https://user-images.githubusercontent.com/33653955/125762049-c6476f43-e79f-486c-bd73-f54d7fe3006e.png)

[2021-07-15 09:13] longwuyuan commented on #7285
Change date range because I get non zero valuesThanks, 
--
; Long

15 Jul 2021, 14:40 by ***@***.***:

[2021-07-15 09:46] PoojaGidaveer commented on #7285
As we said above we are running load test which is passing via connectivity_proxy ingress and reaching to nodecap_ingress. But we are only seeing metrics of nodecap ingress.. That's the reason we have raised this issue to understand if there is any missing configurations
![image](https://user-images.githubusercontent.com/33653955/125767492-70ada283-8ca0-4509-894a-614700d27a52.png)

[2021-07-15 09:52] longwuyuan commented on #7285
Ah apologies, I don't even know what those 2 types of ingresses are. Can you point me to some documentation that describes what those 2 types of ingresses are ?

Also, would you care to share screen on zoom and show what you are talking about ?

[2021-07-15 12:05] PoojaGidaveer commented on #7285
Kindly share your email id so that we can send MS Teams blocker and have a discussion over the call.. please let us know your convenient time

[2021-07-15 12:08] longwuyuan commented on #7285
I don't have msteams. Zoom works for me. Timing is GMT +5.30 12Noon to 6PM for 30 minute or more as per needThanks, 
--
; Long

15 Jul 2021, 17:36 by ***@***.***:

[2021-07-15 12:35] containeers opened #7356 "Example usage documentation doesn't work with latest api version networking.k8s.io/v1"
The basic usage.md examples doesn't work with API version v1, it needs to be updated with  apiVersion: networking.k8s.io/v1

**NGINX Ingress controller version**: 0.47.0

**Kubernetes version** (use `kubectl version`): 1.19

**Environment**: EKS

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux
- **Kernel** (e.g. `uname -a`): Linux ip-10-x-x-x.

[2021-07-15 12:54] grtrout commented on #7352
@longwuyuan Yes, that is what I am trying to accomplish. I am able to do it by following those instructions. However, I am trying to make changes to the values.yaml file so that I don't need to separately change the Service/LoadBalancer resource. That is, I want the resource to have the additional element already added to the .spec{}.ports[] array.

Here is a simplified example of what I hope the

[2021-07-15 15:35] longwuyuan commented on #7352
try this ;
- create a file called myvalues.yaml with below content
[code]

- `helm repo update`
- `helm template myingresscontroller0 ingress-nginx/ingress-nginx --value myvalues.yaml` > myproposedmanifest.yaml
- Peruse the file myproposedmanifest.yaml and look for stuff like screenshots shown below

![image](https://user-images.githubusercontent.com/5085914/125815430-de8b5b62-f3e3-4742-90b3-9a0d9

[2021-07-15 15:43] longwuyuan commented on #7356
/assign

[2021-07-15 15:43] longwuyuan commented on #7356
/area docs

[2021-07-15 16:38] vosmax opened #7357 "enable-global-auth is not available as ConfigMap option"
**NGINX Ingress controller version**: v0.47.0

**Kubernetes version** (use `kubectl version`): 1.18

**What happened**:

**enable-global-auth** option behavior is described in this [document](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/annotations.md#global-external-authentication) in _global-external-authentication_ section.
ingress-inginx does not

[2021-07-15 16:49] kranthikumar-kvs-by opened #7358 "Error creating the Nginx controller deployment using kubectl"
Error creating the Nginx controller deployment using kubectl

Executing this command on Windows Command Prompt connected to AKS Cluster -
kubectl apply -f https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/cloud/deploy.yaml

_error: error parsing https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/cloud/deploy.yaml: error converting YAML to JS

[2021-07-15 18:23] cehoffman opened #7359 "Included path, method, and status as tags on request count metrics"
Include the path, method, and status tags as exists on the request/response duration metrics for the request count metric. This will allow alerting on request failures at a granular enough level to be actionable and get request rate for backend application entrypoints.

/kind feature

[2021-07-15 18:51] kd7lxl commented on #7358
Be sure to use Github's raw API to fetch yaml without UI.

[code]

[2021-07-15 18:59] kd7lxl commented on #7359
This could significantly increase the number of time series exported to Prometheus, which would impact performance/operation of Prometheus. It should be optional and probably not default.

From https://prometheus.io/docs/practices/naming/#labels:

[2021-07-15 19:19] cehoffman commented on #7359
Yes it could, but for the default case of one path per ingress it is the same. When creating multiple paths in an ingress, you likely (as we do) want per path request counts to properly calculate if a given path is experiencing high request traffic or error rates.

[2021-07-15 19:51] sharms commented on #6758
We resolved this by disabling NLB Client IP Preservation

[2021-07-15 20:42] tao12345666333 commented on #7358
And you can see docs/deploy/index.md

[2021-07-15 20:43] tao12345666333 commented on #7358
/remove-kind bug

[2021-07-15 21:27] kevgrig commented on #7229
@kundan2707 [Instructions](https://kubernetes.github.io/ingress-nginx/deploy/#digital-ocean) still show the error:

[code]

[2021-07-16 05:12] tao12345666333 commented on #7357
Thanks for report.
Let me take a look.

/assign

[2021-07-16 09:13] jackchuong commented on #3480
Hi,
Is this issue fixed ? I still cannot combine Basic Authentication with Access Restriction by IP Address by Annotation satisfy any.
NGINX Ingress controller version:
NGINX Ingress controller
Release: v0.47.0
Build: 7201e37
Repository: https://github.com/kubernetes/ingress-nginx
nginx version: nginx/1.20.1

Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"

[2021-07-16 11:21] zaval1976 opened #7363 "Problem with webhook"
**NGINX Ingress controller version**:

NGINX Ingress controller
  Release:       v0.47.0
  Build:         7201e37633485d1f14dbe9cd7b22dd380df00a07
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.20.1

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", GitCommit:"dff82dc0de47299ab66c83c626e

[2021-07-16 11:38] #7356 closed

[2021-07-16 13:28] #7197 closed

[2021-07-16 13:28] #7285 closed

[2021-07-16 13:54] longwuyuan commented on #6758
hi, can you close this issue and come talk about it on kubernetes.slack.com in the ingress-nginx-users channel. There are many developers and engineers who may have insight and not all of them would be looking here.

/remove-kind bug
/triage needs-information

[2021-07-16 14:22] baudlord commented on #6822
Hey! This issue hit me recently, and I think @esteban1983cl's solution should be readily available on the Helm chart, configurable via a bool value maybe. Either that, or adding it to the chart's documentation.

I could check out your contributor's documentation and work out a PR if you guys want.

For your specific use case, maybe `force-ssl-redirect` is a better [solution](https://kubernetes.git

[2021-07-16 15:47] yordanovagabriela opened #7367 "Custom default backend doesn't work if invalid HTTP method is provided"
**NGINX Ingress controller version**: 3.33.0 Helm version

**Kubernetes version** (use `kubectl version`): 1.21

**Environment**:

- **Cloud provider or hardware configuration**: GCP, Gardener
- **OS** (e.g. from /etc/os-release): alpine linux v3.13
- **Kernel** (e.g. `uname -a`): 5.10.25-linuxkit

**What happened**:

We are experiencing some issues trying to configure a custom default backend for

[2021-07-16 16:13] ervinb commented on #3717
@juliohm1978 I tried the `upstream-hash-by` workaround you've mentioned, but it doesn't seem to work (using the attached `echoserver` deployment).

[code]

<details>
  <summary>backends info</summary>

`kubectl ingress-nginx backends -n kube-system` ([ingress-nginx](https://kubernetes.github.io/ingress-nginx/kubectl-plugin/)).

[code]
</details>

<details>
  <summary>NGINX conf (probably irrelevan

[2021-07-16 16:25] patsevanton commented on #4186
/reopen

[2021-07-16 16:44] patsevanton opened #7368 "Support upstream max_fails/fails_timeout/weight like nginx ngx_http_upstream_module offered"
**What do you want to happen?**
Upstream didn't have health check related settings, like nginx official offered

**Is there currently another issue associated with this?**
https://github.com/kubernetes/ingress-nginx/issues/4186

**Anything else we need to know:**
Although we could use kubernetes readiness probe to make ready pods appears in upstream server list, we still need a way to configure th

[2021-07-16 17:54] v4ld3r5 commented on #7240
Hi,
Facing the same issue as well:

[code]

[2021-07-16 20:12] rsitavares commented on #6996
I'm having the same issue. Using healm:

`NAME                        	NAMESPACE    	REVISION	UPDATED                             	STATUS  	CHART                              	APP VERSION
aws-load-balancer-controller	kube-system  	9       	2021-07-16 15:56:40.753045 -0300 -03	deployed	aws-load-balancer-controller-1.2.3 	v2.2.1
ingress-nginx               	ingress-nginx	2       	2021-07-16 16:51:03

[2021-07-17 04:27] longwuyuan commented on #7367
/remove-kind bug
/triage needs-information

Can you help some more with reproduce steps. For example:
- Definitely copy/paste your exact curl command and its reponse
- Maybe create a github repo and autobuild a image of the custom-default-backend, at hub.docker.com
- Put the content of /error-pages in this issue
- Any other help to reproduce quickly at will by anyone

[2021-07-17 04:33] longwuyuan commented on #7363
hi, more information may be needed to understand or reproduce the problem. Can you help out with a simple test as described below ;
- Install minikube on laptop as per docs
- create a simple default minikube cluster as per docs `minikube start`
- Install Metallb and then install ingress-nginx-controller using helm chart on minikube
- Alternatively install ingress-nginx-controller using the the bar

[2021-07-17 07:03] longwuyuan commented on #7358
/lifecycle stale

[2021-07-17 07:05] #6857 closed

[2021-07-17 07:15] longwuyuan commented on #7354
hi, this has been discussed in https://github.com/kubernetes/ingress-nginx/pull/3649
I will keep checking

[2021-07-17 11:06] #6866 closed

[2021-07-17 20:46] strongjz commented on #7279
Agreed with @longwuyuan , if you do find an issue please reopen and add more details.

/close

[2021-07-17 20:46] #7279 closed

[2021-07-17 21:17] strongjz commented on #7176
This is documented behavior

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#client-certificate-authentication

TLS handshakes occur after a TCP connection is opened as well.

   will not process the request due to something that is perceived to be
   a client error (e.g., malformed request syntax, invalid request
   message framing, or deceptive request rout

[2021-07-17 21:17] #7176 closed

[2021-07-17 21:21] strongjz commented on #7116
Is this still an issue or not?

/triage needs-information

[2021-07-17 21:31] strongjz commented on #7091
/kind feature

[2021-07-17 21:33] strongjz commented on #7037
/close

[2021-07-17 21:33] #7037 closed

[2021-07-17 21:53] strongjz commented on #7320
/priority backlog

[2021-07-17 21:54] strongjz commented on #7240
/priority backlog

[2021-07-17 22:05] strongjz commented on #7354
The way I read [statisfy](http://nginx.org/en/docs/http/ngx_http_core_module.html#satisfy) directive is that it would allow the connect after the authentication based on IP.

The first hurdle is auth, required by auth-type: basic, satisfy any checks for other modules, which in this case is whitelist-source-range, that uses ngx_http_access_module.

I don't think it works how are you trying to get i

[2021-07-17 22:31] strongjz commented on #5970
Glad to hear it was resolved.

It also documented more here. https://kubernetes.github.io/ingress-nginx/user-guide/miscellaneous/#source-ip-address

/close

[2021-07-17 22:31] #5970 closed

[2021-07-17 22:38] strongjz commented on #5238
@rohitagarwal003 and @hobti01 what version of k8s and inigress-nginx are you using? Does this issue still exist in v0.48.1?

Thanks

/triage needs-information
/priority backlog

[2021-07-18 02:29] longwuyuan commented on #7354
@jackchuong can you please add your nginx.conf from the controller pod here.

[2021-07-18 03:49] tao12345666333 commented on #7318
#7319 has been merged. Should we close this? This will be available as soon as the v1 goes GA.

[2021-07-18 06:15] #6816 closed

[2021-07-18 08:04] jackchuong commented on #7354
I will add it tomorrow , you need full of nginx.conf from the controller pod or just the part which is created by my ingress rule ? Because nginx.conf is too long and I don't know how to upload it here .

[2021-07-18 08:13] ansilh commented on #6748
/remove-lifecycle stale

[2021-07-18 08:48] zerkms commented on #5667
/remove-lifecycle stale

[2021-07-18 10:42] Jishun opened #7370 "Ingress canary service responded when sending a request with a canary header to an ingress controller that does not have a matching canary enabled ingress resource."
Use case:
while trying to replace only one of the many API endpoints with a new implementation , trying to leverage ingress canary to switch over certain calls by header over to a new hosting, with keeping the majority of the calls as how they were

approach tried: for example if the call has a header `Canary` with value `enabled`, route the traffic to "new" service,  otherwise route it to the old

[2021-07-18 11:15] #6878 closed

[2021-07-18 12:04] longwuyuan commented on #7354
I want to check the directives related to annotations and any other annotation related infoThanks, 
--
; Long

18 Jul 2021, 13:35 by ***@***.***:

[2021-07-18 12:10] longwuyuan commented on #7370
Please add information like ;
Kubectl describe of ingress
Kubectl describe of svc backend
Kubectl describe of pod backend
Kubectl logs of your curl command
Exact complete curl command and response
Thanks, 
--
; Long

18 Jul 2021, 16:13 by ***@***.***:

[2021-07-18 15:07] longwuyuan commented on #7354
I have tested this and the annotation "nginx.ingress.kubernetes.io/whitelist-source-range: my IP/32" works perfectly for me.

I suspect that the ipaddress you see in the logs of the ingress-nginx-controller, in the first column of the log message, is not the same ipaddress that you have configured in the annotation for whitelist.

[2021-07-18 15:19] longwuyuan commented on #7354
/triage needs-information

[2021-07-18 21:31] TomHellier opened #7372 "global-auth should allow the ability to set ingress local auth-snippets"
I am using ingress-nginx, and oauth2-proxy with dex to authenticate users trying to access urls, I can configure `global-auth-response-headers`, `global-auth-url`, and `global-auth-signin`. I was expecting to be able to use `auth-response-headers` and `auth-snippet` on Ingresses and be able to configure on a per-ingress basis which headers are passed to downstream services, and crucially, use auth

[2021-07-19 02:07] jackchuong commented on #7354
Hi Long,
I really appreciate you taking the time. To be clear, I reiterate
the annotation "nginx.ingress.kubernetes.io/whitelist-source-range: my IP/32" works perfectly for me
the annotation "nginx.ingress.kubernetes.io/auth-type: basic" works perfectly for me also
the annotation nginx.ingress.kubernetes.io/satisfy: "any" (to combine 2 above annotations) doesn't work
It should works as my request

[2021-07-19 02:35] longwuyuan commented on #7354
If you look at my ingress, I am using the satisfy annotation all three times. Correct ip address in whitelist, successful author with response 200. wrong ipaddress 401.

So compare the ipaddress in first column of ingresscontrollerpod log for your curl with your whitelist ip address. 

You have not shown log of your curl and your whitelisted ip, so nobody but you can do that comparison. 

Thanks, 

[2021-07-19 03:40] jackchuong commented on #7354
You are right
This is curl log
[code]

This is nginx ingress controller pod log
`10.240.0.4 - - [19/Jul/2021:03:33:02 +0000] "HEAD /test.php HTTP/1.1" 401 0 "-" "curl/7.29.0" 97 0.000 [jackchuong-web-frontend-service-80] [] - - - - e3b1cbed198ddc4939b5ba1bfc665281`

Source IP is my AKS node IP (10.240.0.4), I tried to add externalTrafficPolicy but it fails
[code]
How can I fix it ?

[2021-07-19 04:34] jackchuong commented on #7354
I fixed it, I uninstall old nginx ingress controller and reinstall a new one with static public IP address (Azure) , with adding these values :
`helm install nginx-ingress ingress-nginx/ingress-nginx --namespace ingress --set controller.replicaCount=2 --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux --set controller.ser

[2021-07-19 04:45] longwuyuan commented on #7354
yeah, that flag works ;
[code]
Please close this issue if no other questions

[2021-07-19 04:49] #7354 closed

[2021-07-19 05:00] longwuyuan commented on #7370
/remove-kind bug
/triage needs-information

[2021-07-19 07:03] zaval1976 commented on #7363
Hi.

Reassembled the kubernetes cluster on version 1.21.2 and problem is gone.

[2021-07-19 07:22] longwuyuan commented on #7363
Thanks for update. Please close the issue. Thanks, 
--
; Long

19 Jul 2021, 12:33 by ***@***.***:

[2021-07-19 07:26] #7363 closed

[2021-07-19 09:00] maethes opened #7373 "Bearer Authorization header is removed from request to backend service"
Hi,

Could you hlep me configuring my ingress-controller correctly?

I am using the following ingress controller to route requests to the right services in my kubernetes cluster.
Not sure why - the Authorization header is not being passed to the backend service - which causes my application to always send 401.

`
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-controller

[2021-07-19 09:54] longwuyuan commented on #7373
hi,
Please discuss this at kubernetes.slack.com in the ingress-nginx-users channel as there are more developers and engineers there.

[2021-07-19 12:25] maethes commented on #7373
in my request I was using https://someting.de instead of https://www.something.de. When using the www in front of it, everything works as expected.

[2021-07-19 12:25] #7373 closed

[2021-07-19 12:27] maethes commented on #7373
Link to slack conversation:
https://kubernetes.slack.com/archives/CANQGM8BA/p1626690186004900

[2021-07-19 13:54] chestack commented on #6609
came into this issue with same log "failed to list * ...  write tcp ...  write: broken pipe" which ingress-api failed to list apiserver anymore.

ingress-controller version: 0.30.0

[2021-07-19 14:37] longwuyuan commented on #7352
/remove-kind feature
/lifecycle stale

[2021-07-19 14:38] longwuyuan commented on #7348
/lifecycle stale

[2021-07-19 14:39] longwuyuan commented on #7348
/remove-triage needs-information

[2021-07-19 14:41] longwuyuan commented on #7349
@Leonardo-Ferreira can this issue be closed ?

[2021-07-19 14:59] Jishun commented on #7370
@longwuyuan this can be reproduced with the following example :

- Define 2 services as backends
    1.  proxies to google.
    2. proxies to bing
- define 2 ingresses,
    1.  routes to google-service, as the main ingress,  rule as host name + prefix path `/`
    2. have canary enabled , rule as host name + exact match `/products`, canary triggered with header "canary", value AAAA or BBBB

attemp

[2021-07-19 17:44] longwuyuan commented on #7370
I think the example got complicated.

I also can guess roughly what you are attempting. But the best comments can come only based on `kubectl describe ingress` and `kubectl describe service` in addition to the actual curl command with the headers and all other details.

I will try to reproduce with what I can assume, but I know for a fact that canary feature works as expected. I suspect you have 2

[2021-07-19 18:23] #6888 closed

[2021-07-19 18:56] longwuyuan commented on #7370
You can see in below screenshot 2 http requests with curl, both requests to the same hostname and the same path, but curl without canary header gets response from nginx and curl with canary header gets response gets reposne from http ;

![image](https://user-images.githubusercontent.com/5085914/126212442-a946547f-0c2b-4b68-99f8-917e21a3a315.png)

[2021-07-20 00:32] Jishun commented on #7370
@longwuyuan thanks for trying,   did you try the exact scenario ? I think what's shown in the screenshot is the typical case which is simpler,
what I wanted to achieve is ,
- Have an API service `google-service` that serves many endpoints, which is covered by one ingress `primary-ingress` with prefix route `/` to cover all
- Implement a secondary API service `bing-service` that replaces one of the

[2021-07-20 00:40] bsod90 commented on #7346
Thanks, @longwuyuan for the notice, although I don't think we're exposed to this vulnerability as we're the only users of our Ingress API.

On the other note. I think I can reproduce this issue more or less reliably in my environment. To me, it looks like the scenario is simple:
- The Ingress rule gets added first (at that time the backend service is not yet present)
- The Service is added a secon

[2021-07-20 02:41] longwuyuan commented on #7370
You can expect that it will only work on /products, but  your request got matched to a different rule.

You have not shown your http request so nobody can tell you why it matched another rule. You can try to use the main pod as nginx:alpine and canary pod as httpd:alpine to demonstrate the problem.

There is no data here that proves a bug. My suggestion is that you close this issue and please disc

[2021-07-20 04:07] Debanitrkl commented on #7261
/assign

[2021-07-20 04:08] sanicheev commented on #5234
Have this PR opened for a while: https://github.com/kubernetes/kubernetes/pull/98827
Not sure why they dont want to merge it

[2021-07-20 04:39] Jishun commented on #7370
sorry @longwuyuan but I don't understand what you suggest,  "You have not shown your http request" , the request is the simplest get request , with the header present or now, just the same as what you did in your screenshot,  the canary header affects the results obviously on requests to both `/products` and `/`

the example code will reproduce the issue,  it involves 3 ingresses,
I appreciate tha

[2021-07-20 04:46] Jishun commented on #7370
if you change the paths in the 2 ingresses in your example to some subpath under `/` but not the root itself. then add another "bigger scoped" ingress that uses  Prefix root path `/` , you'll find this new "root " "bigger scoped" ingress is affected by the canary header

[2021-07-20 05:08] Jishun commented on #7370
services:  I didn't define pod, as I found this with ExternalName services,
![image](https://user-images.githubusercontent.com/12438914/126264673-6916ab4b-bc5a-4df8-a1c4-a94e74fcee79.png)
ingresses :
![image](https://user-images.githubusercontent.com/12438914/126264761-2020c8eb-1451-4dff-a9ef-64b7fbd1a210.png)

![image](https://user-images.githubusercontent.com/12438914/126264835-e12b8334-9371-4a5

[2021-07-20 06:30] patsevanton opened #7377 "Feature request: Automate generate kind issue or clusterissue when install application and ingress.enable if use letencrypt"
Hello! Thanks for awasome ingress controller.

Feature request: Feature request: Automate generate kind issue or clusterissue when install application and ingress.enable if use letencrypt.

For example:
[code]

Thanks!

[2021-07-20 06:40] heangratha opened #7378 "Ingress access externalservice"
Hi I tried to configure ingress access external service as subpath of my domain Here is my configure but could not make it work

service.yaml
[code]
ingress.yaml
[code]

My end result should be
https://my-domain.com/rest/v2/countries/all
The same as https://restcountries.eu/rest/v2/all

[2021-07-20 07:06] Jishun commented on #7370
you are trying again with only 2 ingresses, yes with 2 ingresses they work well,  but they broken the third ingresses which isn't in your example.

on top of your example, simply add another ingress with a prefix match of the root path `/`, you'll see the root path is controlled by the canary header too,  which is supposed to happen only on path `/products`

it's the 3rd ingress in addition to the

[2021-07-20 07:39] longwuyuan commented on #7370
I can try to do that but I want you to give me the yaml for the 3rd ingress resource. That way I will not make a mistake. Thanks, 
--
; Long

20 Jul 2021, 12:36 by ***@***.***:

[2021-07-20 08:27] elghazal-a commented on #6896
We encounter the same issue on EKS with 0.44.0. We thought that downgrading to 0.43.0 will fix the issue but it didn't. The issue doesn't seem to happen in our preprod env while the only difference is the load

[2021-07-20 08:53] Jishun commented on #7370
thanks!
the example code I pasted had all the resources that's needed to reproduce it from my side
Happy to combine the 2 parts and past it here, you can apply it or replace the namespace then apply to try
[code]

[2021-07-20 08:57] longwuyuan commented on #7370
is this the 3rd one ?

[code]

[2021-07-20 09:12] Lord-Y commented on #5738
I'm still having the issue with 0.48.1 and chart 3.34

[2021-07-20 09:13] Jishun commented on #7370
yes

[2021-07-20 09:33] longwuyuan commented on #7370
3rd ingress is not creating problem for me. See below screenshot ;

![image](https://user-images.githubusercontent.com/5085914/126296729-6adc459b-f806-4eaa-9f39-ed070afbe91d.png)

[code]

[code]

[code]

Does this match your test or is something wrong in this test ?

[2021-07-20 09:37] Jishun commented on #7370
test should be against the root path
`curl http://canary.dev.devopsdragon.com/`
`curl http://canary.dev.devopsdragon.com/ -H "canary: AAAA"`

[2021-07-20 09:51] longwuyuan commented on #7370
new test to root path result ;
[code]

The second curl you are asking to test is invalid because there is no ingress resource configured with canary annotations for path value "/"

[2021-07-20 09:53] Jishun commented on #7370
have you tested the second curl at all?  that's where the problem shows up

[2021-07-20 09:56] longwuyuan commented on #7370
what is the reason to send a invalid http request ?

[2021-07-20 09:57] Jishun commented on #7370
it's a valid http request, try it please

[2021-07-20 10:11] longwuyuan commented on #7370
You need to explain this in some elaborate detail. Please explain why you will send a http request with path value - "/" and also header "canary", when you have not created a ingress resource with canary annotations and path value = "/" .

When I do send the request you suggested, I get response from the canary backend httpd pod, as seen in screenshot below ;

![image](https://user-images.githubus

[2021-07-20 10:14] longwuyuan commented on #7370
Also, it is now clear that there is no data showing a bug here ? My suggestion is that you close this issue here now, and take a different approach to solvintg this problem as described below.

 Please discuss this at kubernetes.slack.com in the channel ingress-nginx-users with the develoeprs and engineers there. If you find this to be a bug, then you can re-open this issue and add the data relate

[2021-07-20 10:15] Jishun commented on #7370
did you see that with your ingress of rule on path `/products` , the result from `/` are also controlled by the header ?

the ingress rule is an Exact match of path `/products` , if the header is AAAA, it presents service2 to `/products` ,
so  how does service2 come into play  on `/` path by any chance ?

[2021-07-20 10:44] longwuyuan commented on #7370
that should be explained by the server block and the location block under the server block, in the nginx.conf ;
[code]

Seems like a very valid catch. But the header parsing seems to go into the lua code of the controller and I have zero ability there. But can you change the title of the issue and state what you expect to happen when you send a request with a canary header to a ingress controller

[2021-07-20 10:53] Jishun commented on #7370
thanks! does this title look happy to you ?
have we agreed that this is not a logical behavior that should be corrected? hope I expressed everything clear

[2021-07-20 10:55] ly123-liu opened #7379 "can ingress-nginx use lua dynamiclly configure location or servernames"
ingress-nginx has use lua to dynamiclly load upstream servers,  will ingress-nginx in the futrue  consider to use lua to dynamiclly load configurations like server names, locations server-snippet ?

since nginx reload can impact keep-alive clients,  issue: https://trac.nginx.org/nginx/ticket/1022

will ingress-nginx in the futrue consider to use lua to dynamiclly load configurations with no reload

[2021-07-20 11:11] longwuyuan commented on #7370
No. I looked at the controller code. I can not understand much. But from the annotation docs and the code, I am convinced that either you can have canary routing "true" for a hostname Or you  can use a different hostname for your google-service backend (my httpd:alpine backend). 

Someone who understands the code has to comment now I suppose. 
Thanks, 
--
; Long

20 Jul 2021, 16:23 by ***@***.***:

[2021-07-20 11:17] Jishun commented on #7370
the documentation of the canary feature says it matches the rule with host name and path,  are you suggesting that it should only match with host name because this is what you see it behaving ?

give me a reason why I would want to use canary if I can use a different hostname

do you think the fact that
"service2 came into play at path `/` when the only place that points to service2 is the one can

[2021-07-20 11:22] longwuyuan commented on #7370
Talk at kubernetes.slack.com in the ingress-nginx-users channel please. There are several developers and engineers there. Thanks, 
--
; Long

20 Jul 2021, 16:47 by ***@***.***:

[2021-07-20 11:32] yordanovagabriela commented on #7367
Hi,

please check this repo with an example app which demonstrates the issue  👉 https://github.com/ZdravkoGyurov/ingress-default-backend

### Steps to reporoduce issue
#### 1. Execute `make setup && make install`
#### 2. Execute below HTTP requests
`curl http://localhost/api` [*working example*]

![image](https://user-images.githubusercontent.com/9025233/126315438-5b8db160-7232-4e02-a612-a59d00ac6

[2021-07-20 11:37] yordanovagabriela commented on #7367
/kind bug
/remove-triage needs-information

[2021-07-20 11:54] longwuyuan commented on #7367
This helps. 
Please show the kubectl describe of the  controller deployment, where you did these curl commands. Need to know if the controller  default-backend feature was enabled. Thanks, 
--
; Long

20 Jul 2021, 17:02 by ***@***.***:

[2021-07-20 12:22] yordanovagabriela commented on #7367
[code]

[2021-07-20 12:33] #6891 closed

[2021-07-20 12:46] iamNoah1 commented on #6611
@kfirfer can you please consider closing this issue.

[2021-07-20 12:47] iamNoah1 commented on #6755
@yuenwah can you please confirm if it is still an issue for you, if not considering to close this issue.

[2021-07-20 12:59] amichai-upstream opened #7380 "No Headers in request"
**NGINX Ingress controller version: 3.34.0

Kubernetes version: v1.20.7

Helm V3

Environment*:

- **Cloud provider: Azure
- **OS: ubuntu

What happened**:

no headers in Request

**What you expected to happen**:

I am using Helm, according to to [documentation](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/customization/custom-headers) and [here](https://github.com/kuberne

[2021-07-20 13:03] andrewrotherham commented on #6506
@tianhe-oi   you were spot on ! I had an ingress with the same name in a different name space...once I'd got rid of it, I could browser to my app just fine.  .just do `kubectl get ingress --all-namespaces`  to check

[2021-07-20 13:12] longwuyuan commented on #6506
/lifecycle rotten

[2021-07-20 13:44] hobti01 commented on #5238
Hi @strongjz , please see the discussion in the PR that was to implement code for this and was not implemented https://github.com/kubernetes/ingress-nginx/pull/4030

@aledbf requested that I open a new issue (this one) to capture the result of the previous issue (enhancement request) that has a PR that was not merged.

I'm not aware that the logic has ever been implemented, therefore it would neve

[2021-07-20 14:16] longwuyuan commented on #7380
/remove-kind bug
Please add exact commands and links on how to reproduce

[2021-07-20 14:24] amichai-upstream commented on #7380
edited

/kind bug

[2021-07-20 14:24] rikatz commented on #5238
Hi,

As stated in #4030 the implementation should be more simple than that, but we have no intent right now of prioritizing this due to:

* Priority to release ingress-nginx v1 dropping API v1beta1 support
* Fixing long standing time bugs that impact in Ingress performance

I'm open to reviewing some simpler implementation, but right now I don't think we can deal with this, so the issue will be a

[2021-07-20 14:26] longwuyuan commented on #7380
/remove-kind bug
/triage needs-information

Please add steps and commands to reproduce the issue. Adding headers seems to be working

[2021-07-20 14:33] amichai-upstream commented on #7380
Adding headers works, but appear only in response and not in request!

/

[2021-07-20 14:40] strongjz commented on #6847
/close

[2021-07-20 14:40] #6847 closed

[2021-07-20 14:43] strongjz commented on #6054
I agree with @kundan2707

@Giancarlo1974 if you have an issue again feel free to reopen with new information

/close

[2021-07-20 14:43] #6054 closed

[2021-07-20 15:19] longwuyuan commented on #7367
hi, just checked the Makefile. It is not agnostic. As per my earlier request, can you use hub.docker.com and autobuild the server and the default-backend image there on dockerhub ?

[2021-07-20 15:26] longwuyuan commented on #7367
Also if i enabel the default backend and send a request with method -X "1", then I get a expected 400 response and not the 500 inrternal server error

![image](https://user-images.githubusercontent.com/5085914/126351432-cb18b0eb-b112-462a-a030-237891b00569.png)

so I think that a properly configured default-backend works as expected

[2021-07-20 16:40] strongjz commented on #5401
There we're some issues fixed with https://github.com/kubernetes/ingress-nginx/pull/7255

Can you try v0.48.1 and report back if there is still an issue.

[2021-07-20 16:46] strongjz commented on #6027
/help
/priority important-longterm

[2021-07-20 16:50] strongjz commented on #6191
/area helm
/help

[2021-07-20 16:52] strongjz commented on #6191
/assign @kd7lxl

[2021-07-20 16:56] strongjz commented on #6027
@rikatz mention for you to look at later.

[2021-07-20 16:57] kd7lxl commented on #6191
I am trying to understand this issue... Have you tried `forceUpgrade: true` https://github.com/fluxcd/helm-operator/issues/249#issuecomment-578681490 and is there something that prevented it from working?

[2021-07-20 16:59] kd7lxl commented on #6191
/label lifecycle-needs-information

[2021-07-20 17:09] kd7lxl commented on #6191
/lifecycle needs-information

[2021-07-20 17:12] kd7lxl commented on #6191
/triage needs-information

[2021-07-20 17:17] kd7lxl commented on #6191
/assign @kd7lxl

[2021-07-20 17:41] rikatz commented on #6027
/assign

[2021-07-20 19:36] #6611 closed

[2021-07-21 03:15] adou0510 commented on #6798
If the number of ingress changes is relatively large, this problem occurs, and finally it has to be deleted validating webhook.

in eks we have same problem,we have more than 10000 ingress

[2021-07-21 04:30] retr0h commented on #6199
@dhirencsharma did you fix this?

[2021-07-21 04:31] retr0h commented on #6199
/reopen

[2021-07-21 06:17] longwuyuan commented on #7380
Hi, I used the controller.proxySetHeader config and I can see my customHeader in the http request received in the pod. Screnshot below shows tcpdump on right showing my header ;

![image](https://user-images.githubusercontent.com/5085914/126440248-d54eb84b-fdc5-4f9c-b7bc-9a36b15ddcdb.png)

The addHeader config is for adding header in response to the client but you mentioned above that you want to

[2021-07-21 07:34] yordanovagabriela commented on #7367
Hi,

the images are pushed to docker hub.

You can run:
`helm dep update . && helm upgrade ingress-default-backend . --install --namespace idb --create-namespace`
to start the example application.

repo 👉 https://github.com/ZdravkoGyurov/ingress-default-backend

[2021-07-21 07:37] longwuyuan commented on #7367
Thank you. I was trying to create dockerhub repos for them.

[2021-07-21 12:07] iamNoah1 opened #7383 "test"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

/kind bug

[2021-07-21 12:07] #7383 closed

[2021-07-21 12:30] longwuyuan commented on #7367
I can confirm this behaviour.
But I don't know if "invalid method" is appropriately needed to be handled by the ingress controller or even "invalid method" request has to be allowed to bo to an upstream (even if it is a default-backend upstream and not the "workload" upstream) .

I would think its more secure and reasonable that the ingress-controller does not route a "invalid method" request to a

[2021-07-21 12:44] amichai-upstream commented on #7380
Thanks for your answer!
tried almost the same in my env and it does not work
here is my value.yaml

kind: HelmRelease
metadata:
  name: nginx-ingress-external
  namespace: nginx
  annotations:
    fluxcd.io/automated: "false"
spec:
  releaseName: nginx-ingress-external
  helmVersion: v3
  chart:
    repository: https://kubernetes.github.io/ingress-nginx
    name: ingress-nginx
    version: 3.34.0

[2021-07-21 12:50] knyttl opened #7384 "Nginx pods regularly restarts and cause short downtimes"
We have five controller replicas set with default helm values:

[code]

You can notice the restart count on two of the pods.

`describe pod` on the first (which restarted two minutes before) says:

[code]

Is there a way to debug this? I always just notice this once the incident is just over (it lasts usually just few tens of seconds).

[2021-07-21 13:14] longwuyuan commented on #7380
Your values file makes no sense to me. Maybe it's valid, maybe not. For example go to the official complete values file and check if there is any fluxcd related key:value pair. I will check later.
But this is proof that there is no big in that config. So maybe you can talk about this at kubernetes.slack.com in the ingress-nginx-users channel. Because there are developers and engineers there using

[2021-07-21 13:17] longwuyuan commented on #7384
You are not using a release of this project. Please close the issue. If you install a release of this project, then you can reopen and information for someone to help you analyze. Thanks, 
--
; Long

21 Jul 2021, 18:20 by ***@***.***:

[2021-07-21 14:35] #7384 closed

[2021-07-21 15:32] longwuyuan commented on #7380
/assign

[2021-07-21 15:33] longwuyuan commented on #7370
/assign

[2021-07-21 15:33] longwuyuan commented on #7367
/assign

[2021-07-21 15:34] longwuyuan commented on #7352
/assign

[2021-07-21 15:34] longwuyuan commented on #7352
/close

[2021-07-21 15:34] #7352 closed

[2021-07-21 15:36] longwuyuan commented on #7358
/close

[2021-07-21 15:36] #7358 closed

[2021-07-21 15:37] longwuyuan commented on #7348
Closing for now as default cert resolved the problem
/close

[2021-07-21 15:37] #7348 closed

[2021-07-21 15:39] longwuyuan commented on #7340
closing as script mentioned does the job. Please reopen if it does not
/close

[2021-07-21 15:45] longwuyuan commented on #7349
/assign

[2021-07-21 15:53] longwuyuan commented on #7275
/close

[2021-07-21 15:53] #7275 closed

[2021-07-21 15:54] longwuyuan commented on #7272
/assign

[2021-07-21 16:11] chance2021 commented on #3556
Thanks @aledbf !  My issue happened when I used curl to communicate with vault. It turns out that my vault was disabled tls. I just redeployed the vault with tls enabled and it works perfectly now! Thanks

[2021-07-21 17:18] kd7lxl commented on #6191
I was unable to reproduce with with a recent version of helm.

[code]

[2021-07-21 17:50] amichai-upstream commented on #7380
I dont want to bother you to mucu, but I will try one last time.
the flux values are not related.
the value file will look like this:
(with the right indentation )

image:
digest: ''
proxySetHeaders:
X-Forwarded-For: "$proxy_add_x_forwarded_for"
X-Real-IP: "$remote_addr"
X-Forwarded-Proto: https
real-ip-header: proxy_protocol
use-forwarded-headers: "true"
use-proxy-protocol: "true"
MyCustomHeader0

[2021-07-21 17:50] bstrdsmkr commented on #6495
@aledbf This is still a problem, can you /reopen this?

[2021-07-21 18:46] longwuyuan commented on #7380
- Please confirm that your installation of the ingress-nginx-controller is in-line with the documented deployment instructions. AWS is here https://kubernetes.github.io/ingress-nginx/deploy/#aws  and Azure is here https://kubernetes.github.io/ingress-nginx/deploy/#azure

- Please show the current values. Post the command and output of `helm -n <namespaceofingresscontroller> get values <helmrelease

[2021-07-21 22:48] #7340 closed

[2021-07-21 22:49] james-woods-mnf commented on #7340
Solution provided

[2021-07-22 02:17] zhaogaolong commented on #6798
The problem is to get the full amount of ingress verification, not the incremental verification of ingress, which leads to a huge performance degradation when the number of ingress is very large (1000+).

[2021-07-22 06:43] amichai-upstream commented on #7380
USER-SUPPLIED VALUES:
controller:
  image:
    digest: ""
  ingressClass: nginx-public
  proxySetHeaders:
    MyCustomHeader0: customValue0
    X-Forwarded-For: $proxy_add_x_forwarded_for
    X-Forwarded-Proto: https
    X-Real-IP: $remote_addr
    real-ip-header: proxy_protocol
    use-forwarded-headers: "true"
    use-proxy-protocol: "true"
  service:
    externalTrafficPolicy: Local
    hostNet

[2021-07-22 07:47] longwuyuan commented on #7380
Can we talk in slackThanks, 
--
; Long

22 Jul 2021, 12:13 by ***@***.***:

[2021-07-22 08:46] #6860 closed

[2021-07-22 11:47] #6852 closed

[2021-07-22 13:01] longwuyuan commented on #7380
resolved in slack
/close

[2021-07-22 13:02] amichai-upstream commented on #7380
/close

[2021-07-22 13:02] #7380 closed

[2021-07-22 13:06] longwuyuan commented on #7318
Yes we should close it

[2021-07-22 13:51] pablitovicente commented on #5932
The fix by @AliBeddah worked for me too! why is that being downvoted?

[2021-07-22 20:51] #7301 closed

[2021-07-22 20:51] #7316 closed

[2021-07-23 02:44] SaltedEggIndomee opened #7389 "No ELBs create on AWS. No errors."
I have a Kubernetes 1.21.3 cluster running in vanilla mode in AWS (not using EKS or Kops).

I have set up IAM instance profile on all Nodes based on https://cloud-provider-aws.sigs.k8s.io/prerequisites/

I installed the ingress-nginx operator based on the instructions in https://kubernetes.github.io/ingress-nginx/deploy/#aws

The operator starts up successfully but it's Service is stuck in Pending

[2021-07-23 03:25] longwuyuan commented on #7389
This is not a problem with the controller. Please close the issue and talk at kubernetes.slack.com in the #provider-aws channel and get the help on integrating K8s with cloudprovider. The intree provider uses a flag to the kubelet. Google search should reveal a blog from Scott Lowe on this. Scott Lowe also is on slack. Thanks, 
--
; Long

23 Jul 2021, 08:14 by ***@***.***:

[2021-07-23 10:29] besha100 commented on #7147
This is possible if you do it on the Nginx controller configmap, but it will affect all ingresses. It would be good to have it only for specific ingress

[2021-07-23 15:41] dannystaple commented on #5968
I've seen this where I'd accidentally introduced quotes into the class-name for the controller in the args for Deployment-ingress-nginx-controller.yml - doing some substitution so I could consider multiple controllers (on different network segments). Don't put quotes there, and avoid underscores.

The log for the ingress controller deployment will show: ```Invalid value: "ingress-controller-leader

[2021-07-23 16:42] jrudley commented on #7253
I have the same issue as well

[2021-07-24 04:37] longwuyuan commented on #7389
Being discussed on slack https://kubernetes.slack.com/archives/C0LRMHZ1T/p1627011663318200  @SaltedEggIndomee , you could close this issue as the discussion is happening on slack. Thanks

[2021-07-24 05:16] longwuyuan commented on #7378
Hi,
The request is forward to that externalName but there is a TLS error.
restcountries.eu seems to be protected by cloudflare so I think error I am seeing below is expected.

![image](https://user-images.githubusercontent.com/5085914/126858198-450b44f1-2775-4c1d-8d3f-2509260945ee.png)

So now you need to show all the related details like logs and curl command etc

/triage needs-information

[2021-07-25 03:54] mingfang commented on #5457
I'm still seeing this problem with v0.32

[2021-07-25 04:41] longwuyuan commented on #5457
I am running controller version 0.47 .0 and I can successfully create a ingress with path as / and it appears in nginx.conf under the server bock of the host value of my ingress.

[2021-07-26 07:29] cybaj commented on #5385
@Sekru You can try below.
[code]

[2021-07-26 08:03] fatedier opened #7390 "Requests failed for a little while after changing service port name"
**NGINX Ingress controller version**:
v0.48.1

**Kubernetes version** (use `kubectl version`):
K8s 1.18

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): minikube linux
- **Kernel** (e.g. `uname -a`): Linux minikube 4.19.182
- **Install tools**:
- **Others**:

**What happened**:

I changed one service port name from `name` to `http-name` beacu

[2021-07-26 09:51] longwuyuan commented on #7390
This is not a bug but its a enhancement or a feature.
PRs welcome
/kind feature

[2021-07-26 09:56] longwuyuan commented on #7390
/remove-kind bug

[2021-07-26 13:17] stefanoborini opened #7391 "Annotation for redirection created only once in the wrong place"
**NGINX Ingress controller version**: Not sure

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVe

[2021-07-26 13:35] stefanoborini commented on #7391
Adding to the above, I tried to `kubectl delete -f foo.yaml` and the rule in the catch-all has been replaced with the one from bar. It seems that only the annotation of the most recent apply is preserved. ``kubectl apply -f foo.yaml`` does not restore the foo rule in the catch-all location.

[2021-07-26 13:54] strongjz commented on #7389
Closing this issue, if you get the cloud controller up and running, and are still having issues with ingress-nginx, feel free to reopen with more details.

Thanks,
James
/close

[2021-07-26 13:54] #7389 closed

[2021-07-26 14:00] NissesSenap opened #7392 "Improve helm hostNetwork usage with multiple ingress-nginx instances"
In short I want it to be easier to use `hostNetwork: true` or update ports in general.

Using the current helm chart it's kind of hard using `hostNetwork: true`, especially if you have multiple instances of ingress-nginx (private & public) you need to change allot of ports and update allot of yaml.

My understanding of ingress-nginx is that even if features is not defined they are still started, f

[2021-07-26 14:02] NissesSenap commented on #7392
Would you be interested in a PR of some helm templates so you as a helm user don't have to go through the same pain as I did?
The bad thing with it is of course that it will make the helm chart more complex and more cases will be covered but hopefully it will be easier to use.

Another solution could be to just update the docs and give my example values.yaml file.

What do you think?
I'm happy to

[2021-07-26 14:41] longwuyuan commented on #7392
My 2 Cents is having this information available & published seems extremely useful to the niche use case of hostPort users. You could consider a docs PR in the examples section, if it seems ok.

Adding to default chart or default values yaml seems intruding on users who avoid hostPort usage for security and complexity.

[2021-07-26 18:13] #6899 closed

[2021-07-26 19:39] jonnytest1 commented on #6048
can someone give me a guide on how to change the default ports ? (i know whats running on port 80/443 on my node but i dont would prefer running the ingress on other ports)

[2021-07-26 20:15] #6902 closed

[2021-07-27 00:18] #6909 closed

[2021-07-27 05:05] #6954 closed

[2021-07-27 05:26] tao12345666333 commented on #6988
#6990 has been merged. let's close this one.

/close

[2021-07-27 05:26] #6988 closed

[2021-07-27 05:34] tao12345666333 commented on #7142
Thanks for feedback. Let's close this.

/remove-kind bug
/close

[2021-07-27 05:34] #7142 closed

[2021-07-27 05:36] tao12345666333 commented on #7142
/kind support

[2021-07-27 12:04] iusergii commented on #4818
Also would love to have this. Puzzled about how to parse the log in a mixed format.
/remove-lifecycle rotten

[2021-07-27 12:47] tao12345666333 commented on #7016
/area helm

[2021-07-27 13:54] parswebserver opened #7395 "i cant see x-real-ip in pod"
hi

i use nginx-ingress in kubernetes
i have a problem
i cant see real client ip in x-real-ip field

i run echoip in kubernetes cluster pod and my problem is, when i open domain in browser i see pod ip in x-real-ip !

my kubernetes version is v1.21.2
ingress version is 1.12.0

[2021-07-27 16:33] paalkr commented on #7395
How to enable client-IP discovery using `x-forwarded-for` and `x-real-ip` depends very much on your infrastructure and environment.

- What type of load balancer (L4/L7) do you use in front of nginx
- Where do you terminate SSL
- Have you configured proxy-protocol (https://kubernetes.github.io/ingress-nginx/user-guide/miscellaneous/#proxy-protocol)
- Have you enabled real ip module and configured

[2021-07-27 16:56] paalkr opened #7396 "http2 potentially broken with version 0.48.1"
**NGINX Ingress controller version**:
0.48.1

**Kubernetes version** (use `kubectl version`):
1.18.19

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):  Ubuntu 20.04.2 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1045-aws
- **Install tools**: kOps 1.20.1
- **Others**: Ingress deployed using latest helm chart

**What happened**:
Concurrent htt

[2021-07-27 16:56] mattroark commented on #4061
Helm Chart Version: [2.13.0](https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx/2.13.0)
Nginx Ingress Controller Version: [v0.35.0](https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.35.0)
Kubernetes Version: [v1.15.12](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.15.md#v11512)
Docker Version: [v18.09.9](https://docs.docker.com/engine

[2021-07-27 17:55] longwuyuan commented on #7395
I suspect you are not using a release from this project. Please check the docs of this project and confirm that you are using a release from this project. Thanks, 
--
; Long

27 Jul 2021, 19:24 by ***@***.***:

[2021-07-27 19:10] longwuyuan commented on #7395
/close

[2021-07-27 21:18] paalkr commented on #7396
OK, I think tracked down the root cause. A change to HTTP/2  behavior introduced with nginx 1.19.7 lead to our problems.
http://nginx.org/en/CHANGES
[code]

The problem is described here http://mailman.nginx.org/pipermail/nginx/2021-May/060697.html and here https://trac.nginx.org/nginx/ticket/2155

In our current setup we had defined `keep-alive: "0"` which prior to nginx 1.19.7 worked with http/2

[2021-07-28 03:50] longwuyuan commented on #7396
Yes, the explicit description and impact on http2 in that doc section will help. 
Combining changes in #7376 would complicate things. My thought is wondering if you can submit a PR. 
Thanks, 
--
; Long

28 Jul 2021, 02:49 by ***@***.***:

[2021-07-28 05:16] longwuyuan commented on #7395
/remove-kind bug

[2021-07-28 07:30] ecktom commented on #5609
/remove-lifecycle stale

[2021-07-28 09:40] glourenco commented on #6986
/remove-lifecycle rotten

[2021-07-28 09:41] glourenco commented on #6986
/remove-lifecycle stale

[2021-07-28 09:51] tao12345666333 commented on #6986
Since there is no meaningful discussion here, we might as well close it and use #6985 for tracking and discussion.

/close

[2021-07-28 09:51] #6986 closed

[2021-07-28 10:23] longwuyuan opened #7397 "docs for migration to apiVersion networking.k8s.io v1"
**NGINX Ingress controller version**:
all builds once k8s v1.22 is released

**Kubernetes version** (use `kubectl version`):
v1.22 and above
**Environment**:
all supported environs
- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
As per #7341, we need docs for the migration t

[2021-07-28 10:24] longwuyuan commented on #7397
/remove-kind bug

[2021-07-28 10:24] longwuyuan commented on #7397
/kind docs

[2021-07-28 10:24] longwuyuan commented on #7397
/kind documentation

[2021-07-28 10:30] longwuyuan commented on #7397
/assign
/priority important-soon

[2021-07-28 10:32] Tibingeo commented on #4259
I added server-tokens: "False" in cm,  Even then it's not working
[code]
<img width="257" alt="Screenshot 2021-07-28 at 4 01 28 PM" src="https://user-images.githubusercontent.com/16147643/127308143-29b0863e-57dd-4fd8-a53e-7fa77231a1f6.png">

[2021-07-28 10:34] #6773 closed

[2021-07-28 10:34] #6029 closed

[2021-07-28 10:35] longwuyuan commented on #7397
Use the advise below ;
------------------------------------------
TODO:

Fix helm chart tests
Write migration guide (looking for some community help!)
Migration guide is mostly about explaining how ingress class works, and scenarios, like:

If you are migrating from v0.X to v1.0, and you have only one ingress deployment in your environment, you can use the --watch-without-ingress-class flag (expla

[2021-07-28 10:41] tao12345666333 commented on #6812
/remove-lifecycle stale

[2021-07-28 10:41] tao12345666333 commented on #6812
@zekth can you open a PR for this?

[2021-07-28 11:52] tao12345666333 opened #7398 "Things to do before the v1 version is released"
In order to facilitate our v1 release, we need to list some planned things for follow-up.

## Existing issues:
- [x] #7456
- [x] #7430 - Need to release a new helm chart that supports --watch-without-ingress-class
- [x] #7418 - PR to jettech/kube-webhook-certgen was put. If no answer is made on time, we can fork this right now, and then once the PR is merged return into the upstream.

## changes

[2021-07-28 12:02] tao12345666333 commented on #7398
/cc @rikatz @strongjz

[2021-07-28 12:13] rikatz commented on #7398
I don't  know if we can create a pre-release helm chart the same way we do with releases here in Github.

One like "this is the latest but you need to install it manually"

Is that possible?

[2021-07-28 12:19] rikatz commented on #7398
https://artifacthub.io/docs/topics/annotations/helm/

Maybe we can cut a helm 4.0 pointing to controller v1.0, kubeVersion >=1.19, and the annotation of pre-release

@strongjz thoughts?

[2021-07-28 12:19] tao12345666333 commented on #7398
As far as I know, it should not work.

Once released, even if it is a pre-release status in GitHub, our helm repo will not distinguish it.

But I'm happy to try it.

[2021-07-28 13:11] besha100 commented on #7147
Edit
@mpanne  This is working, you just need to remove the double-quote
So it should be
nginx.ingress.kubernetes.io/configuration-snippet: |
  proxy_ignore_client_abort on;

[2021-07-28 15:19] strongjz commented on #7395
@parswebserver   ingress version is 1.12.0 looks to be a version of https://github.com/nginxinc/kubernetes-ingress and not this community-supported project. I would open an issue there if you still have problems getting the real IP.

/close.

[2021-07-28 15:22] strongjz commented on #7318
/close

[2021-07-28 15:22] #7318 closed

[2021-07-28 17:03] zekth commented on #6812
Working on it.

[2021-07-28 17:08] cooperbenson-qz commented on #6647
Ran the test again and confirmed the issue still exists on v0.48.1 of the controller

<details>
<summary>Test output</summary>

[code]
</details>

/remove-lifecycle stale

[2021-07-28 17:40] #6722 closed

[2021-07-28 21:57] rittneje commented on #7083
/remove-lifecycle stale

[2021-07-28 21:59] jtstrohl opened #7400 "Unauthenticated HTTP GET / request to ingress controller returns Namespace and Service Name information"
Whether the request succeeds (e.g., HTTP 200) or not (e.g., HTTP 503), a simple HTTP GET / request to the ingress controller on the listening port returns a JSON response containing the Kubernetes Namespace, Service Name, and Endpoints information, even to a completely unauthenticated user.  Volunteering this information could benefit an attacker in making more progress in probing the cluster, and

[2021-07-28 22:02] rikatz commented on #7400
Hi,

Can you please show me how you've made the deployment? Port 30080 should be local only for Go program to program the Lua side.

Thanks

[2021-07-28 22:14] jtstrohl commented on #7400
Thanks for your quick response @rikatz -

Sorry, I incorrectly pasted the example above from another person's post who had the same JSON response..... (my example is identical except for the port).  My port is actually 31062, which appears to have been randomly generated at provision time.  When you say "how you've made the deployment", what do you mean exactly?  E.g., yaml file?  I guess I assume

[2021-07-28 22:15] pdiaz commented on #4760
/remove-lifecycle stale

[2021-07-28 22:15] unixfox commented on #4760
/remove-lifecycle stale

[2021-07-28 23:05] strongjz commented on #4760
we have just upgraded to nginx 1.20.1 and from here https://quic.nginx.org/README it looks that HTTP/3 is still experimental so not until there is a stable release will we be implementing HTTP/3.

[2021-07-28 23:47] tao12345666333 commented on #7398
@rikatz  After a quick verification, it can be realized, as long as the version number conforms to this specification. https://semver.org/#spec-item-9

https://github.com/helm/helm/blob/e9e6b07f62e2bb5067afe79782ba3dd85efbd00e/cmd/helm/install.go#L92-L103

[code]

[2021-07-29 00:22] frittentheke commented on #4763
/remove-lifecycle stale

[2021-07-29 02:45] callum-p opened #7402 "No metrics reported when custom error page is used"
**NGINX Ingress controller version**:
0.48.1

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.11", GitCommit:"c6a2f08fc4378c5381dd948d9ad9d1080e3e6b33", GitTreeState:"clean", BuildDate:"2021-05-12T12:27:07Z", GoVersion:"go1.15.12", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"19", GitVers

[2021-07-29 04:42] longwuyuan commented on #7400
@jtstrohl The issue creation process provides a template for filling in related information and it seems either you were not presented that template or you deleted it all.

When you use the hostname "localhost", it implies a bunch of things that are related, that we don't need to discuss just yet, but it leaves people uninformed and guessing on several aspects. To make things better, request your

[2021-07-29 04:45] longwuyuan commented on #7391
/remove-kind bug

[2021-07-29 04:55] longwuyuan commented on #7391
@stefanoborini, very likely you can achieve the redirection you want with just the annotation and without the config snippet.
But first things first so please add below info like requested ;

- kubectl get nodes,ing -A -o wide
- kubectl get all -A -o wide | grep -i ingress
- @jtstrohl The issue creation process provides a template for filling in related information and it seems either you were not

[2021-07-29 07:36] vladimirkhs commented on #5401
Stumbled upon this issue with controller: v0.48.1. Solved by rolling back kube-webhook-certgen to v1.2.2 (the problem was on version 1.5.1)

[2021-07-29 07:49] #6651 closed

[2021-07-29 08:17] stefanoborini commented on #7391
@longwuyuan I am sorry but most of what you ask contains confidential information.

Version is:
Client Version: version.Info{Major:"1", Minor:"15", GitVersion:"v1.15.3", GitCommit:"2d3c76f9091b6bec110a5e63777c332469e0cba2", GitTreeState:"clean", BuildDate:"2019-08-19T11:13:54Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVer

[2021-07-29 08:20] stefanoborini commented on #7391
@iamNoah1 I have no idea what an infra is, or helm. I did not install the kube cluster. My IT did.

[2021-07-29 08:27] longwuyuan commented on #7391
my bad, I had not typed as per md formatting. Now edited, please look at the command list one more time, above

[2021-07-29 08:50] #6829 closed

[2021-07-29 08:50] #6837 closed

[2021-07-29 09:51] #6892 closed

[2021-07-29 12:54] #6918 closed

[2021-07-29 13:33] kundan2707 commented on #7229
/assign

[2021-07-29 13:58] Tibor17 commented on #5401
@strongjz
After upgrading the addon, the ingress did not fail.
[code]
In prior, I updated Minikube and k8s too, `minikube-upgrade.sh 1.22.0`. I use the latest versions, did NOT rollback `kube-webhook-certgen`.

[code]
Verify the addon:
[code]

Then verify the upgrade by using the [test](https://v1-17.docs.kubernetes.io/docs/tasks/access-application-cluster/ingress-minikube/).

[2021-07-29 15:24] jtstrohl commented on #7400
@longwuyuan -

I will have to reach out to our DevOps team to get the requested information, although, from a security perspective, I am not sure how sensitive some of this information may be and whether I can provide it publicly here...

I guess I was expecting (hoping) that the community would be able confirm whether this JSON response to an HTTP request made to the K8S node could be configured

[2021-07-29 16:58] #6825 closed

[2021-07-29 17:10] basanaguk commented on #7400
@jtstrohl I just tried running curl on my local cluster with fresh install of ingress-nginx-controller and I could not see same response.

[code]

For security reasons you may not wish to provide all details asked by @longwuyuan  but some of the non sensitive details about environment would help narrowing down the issue and anyone in community might be able to reproduce with similar setup. Mainly,

[2021-07-29 19:39] xavipanda commented on #7268
this is fixed on v0.48.1 its that shellscript on the validationwebhook and some other wrongdoings behind it.
tested, and confirm same as the commit said.. 4s ~ for large amount of ingresses. Give it a try @alexfanat86 .. maybe u can get out the binary of the 0.48.1 image and put it inside ur old ingress, the OP that provided this contribution made it initially for 0.46 so u can give it a try.

[2021-07-29 19:41] rikatz opened #7407 "Improve e2e tests checking if backends are properly working"
Some e2e tests checks if the nginx generated template contains the expected string, but does not properly tests if it's really working.

Some examples:
* [ ] https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/annotations/backendprotocol.go @ritwizsinha
* [ ] https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/annotations/disableaccesslog.go @yashikabadaya
* [ ] https://githu

[2021-07-29 19:43] rikatz commented on #7407
Please leave this issue for first time contributors :)

Also, the above is an example, we need to check what tests lacks some backend testing and add into them

[2021-07-29 20:05] sandipanpanda commented on #7407
I want to work on this issue. Can you assign me?

[2021-07-29 20:10] rikatz commented on #7407
sure. Which file? I want to separate one file per new contributor :)

[2021-07-29 21:22] wasker opened #7408 "Add e2e test for canary affinity behavior (sticky/legacy)"
Only UTs exist for canary affinity behavior implementation, need to add e2e test for canary affinity behavior.

/kind feature

[2021-07-29 21:22] wasker commented on #7408
@rikatz Please assign this to me.

[2021-07-29 21:23] #3717 closed

[2021-07-29 21:40] chrispytoes opened #7409 "Helm chart value controller.ingressClass has no effect"
**NGINX Ingress controller version**: helm chart v3.34.0, ingress-nginx v0.48.1
**Kubernetes version**: server v1.20.7, client v1.21.0
**Environment**:
- **Cloud provider or hardware configuration**: DigitalOcean
- **Install tools**: Helm, GitLab CI pipeline - image: `alpine/helm:latest`

**What happened**:
I have an existing `ingress-nginx` controller installed in my cluster, that is already bein

[2021-07-29 21:42] wasker commented on #7408
/area test

[2021-07-29 23:20] rikatz commented on #7277
/close

Closed in #7341

[2021-07-29 23:20] #7277 closed

[2021-07-30 03:32] maybe-sybr opened #7410 "1.0.0-beta.1 rejects admission review for valid v1 Ingress"
**NGINX Ingress controller version**: 1.0.0-beta.1

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Local usernetes cluster, amd64 host
- **OS** (e.g. from /etc/os-release): Fedora 34
- **Kernel** (e.g. `uname -a`): `5.13.4-200.fc34.x86_64`
- **Install tools**:
- **Others**: helm v3.5.2

**What happened**:

I grabbed a minim

[2021-07-30 03:45] amargherio commented on #5720
Editing the secrets should have the base64 encoded versions of all of the values (unless you've already decoded them).

Is the root used a private one? If so, you may need to chain your certificate, both intermediates, and the root together into the `tls.crt` field.

I'd check the value you're getting from Key Vault and make sure that the wrong cert didn't get placed there.

[2021-07-30 10:45] rikatz commented on #7408
/assign @wasker

[2021-07-30 12:07] #6923 closed

[2021-07-30 13:20] 0x53A commented on #2371
This would be really useful to have, if there are security concerns, could this be off-by-default and behind a switch?

I really don't want to either have to copy secrets around, or use a custom controller just for something as simple as that.

[2021-07-30 14:13] chrispytoes commented on #7409
Update: I found the comment in the `values.yaml` where it says that providing a custom `values.yaml` will not work if the `controller.image.repository` value is not set. I set it to `https://k8s.gcr.io/ingress-nginx/controller`, but it was still doing the same thing. I then tried installing the chart directly, without my parent chart and that worked perfectly.

I do still want to use my parent cha

[2021-07-30 14:53] #7409 closed

[2021-07-30 19:14] #6924 closed

[2021-07-31 07:48] ritwizsinha commented on #7407
I would like to work on it, I am still learning the basics with daily sessions with @longwuyuan, I would like to improve tests for this
file  https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/annotations/backendprotocol.go

[2021-07-31 16:21] #6915 closed

[2021-07-31 20:24] Nan2018 opened #7412 "failed request when uploading large files"
**NGINX Ingress controller version**:
helm.sh/chart=ingress-nginx-3.34.0

**Kubernetes version** (use `kubectl version`):
client: v1.21.1; server: v1.20.8-gke.900

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS
- **Kernel** (e.g. `uname -a`): Linux DESKTOP-TBJ41UI 5.4.72-microsoft-standard-WSL2
- **Install tools**: hel

[2021-08-01 00:58] dmitry-mightydevops opened #7413 "unable to setup ingress-nginx controller with UDP load-balancing"
**NGINX Ingress controller version**:
- helm.sh/chart: ingress-nginx-3.34.0
- 0.47.0

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: `AWS EKS 1.21.1`

**What happened**:

Unable to upgrade existing install of nginx with support UDP load balancing.

[code]

**What you expected to happen**:

Should be supported per documenta

[2021-08-01 01:04] longwuyuan commented on #7413
Hi, Please show the values file being used with the helm upgrade command.

On Sun, Aug 1, 2021 at 6:28 AM Dmitry Semenov ***@***.***>
wrote:

--
; Long Wu Yuan

[2021-08-01 01:06] longwuyuan commented on #7413
/remove-kind bug
/triage needs-information

[2021-08-01 01:15] longwuyuan commented on #7412
/remove-kind bug
/triag needs-information

hi, please post the following information ;

- kubectl get all,nodes,ing -A - wide
- kubectl -n <ingresscontrollernamespace> describe po <inresscontrollerpod>
- kubectl -n <ingresscontrollernamespace> describe svc <ingresscontrollerservice>
- kubectl -n <appnamespace> describe po <applicaionpodname>
- kubectl -n <appnamespace> describe svc <applicationsvc

[2021-08-01 01:17] longwuyuan commented on #7412
/triage needs-information

[2021-08-01 01:19] dmitry-mightydevops commented on #7413
values:

[code]

[2021-08-01 01:33] longwuyuan commented on #7413
I think the error is indicating that tcp, udp, http2 all together can not be multiplexed. But details are needed. Can you please show ;
[code]

[2021-08-01 02:05] dmitry-mightydevops commented on #7413
[code]

[2021-08-01 02:09] dmitry-mightydevops commented on #7413
And the jitsi application (that uses RDP streaming) details:

[code]

[2021-08-01 04:10] longwuyuan commented on #7413
Please come discuss this at kubernetes.slack.com in the ingress-nginx-users
channel.

Thanks,
; Long

On Sun, 1 Aug, 2021, 7:39 AM Dmitry Semenov, ***@***.***>
wrote:

[2021-08-01 08:23] VengefulAncient commented on #7103
/remove-lifecycle stale

[2021-08-02 01:18] callum-p commented on #7402
Closing this issue as I see you should really use the custom http error annotation and a special backend service.

[2021-08-02 01:18] #7402 closed

[2021-08-02 03:55] nehaLohia27 commented on #7407
@rikatz I would like to work on this file
https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/annotations/disableaccesslog.go

[2021-08-02 06:09] karezza commented on #6506
Experiencing this also.  Clean kubernetes install with baremetal style install of ingress.  I have not setup a loadbalancer such as metallb, maybe that will help?  Interesting how it is saying "Scheduled for sync" and just hanging there.

[2021-08-02 08:46] alexfanat86 commented on #7268
We don't use admission controller in that place. Or maybe I don't get what you mean?

[2021-08-02 12:41] gdsoumya commented on #7407
@rikatz would like work on https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/annotations/clientbodybuffersize.go

[2021-08-02 12:44] mpanne commented on #7147
Hi @besha100,
I tried it with and without double-quotes but still could not find the option `proxy_ignore_client_abort` in the `/etc/nginx/nginx.conf`.

[2021-08-02 12:56] vdiravka commented on #1890
Thank you very much!!!!!!!!!!!!!!!!!!!! :)

[2021-08-02 13:23] Velociraptor85 opened #7414 "Change seperator char of $proxy_upstream_name to be able to differentiate namespace and service in log format"
With the $proxy_upstream_name in the [log-format](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/log-format/) one gets the information in the log where the request is passed to.
But due to the separator used (dash -) on can not tell for sure to which namespace/service the request is passed as both namespace and service could have that character in their name.

for exampl

[2021-08-02 13:57] VinayagamBabu commented on #1377
Hi @evgeny-s  / @mrahbar  , I am trying to print the request body after external authentication. I always get the request_body variable as empty. Please let me know if we have any option to print the $request_body in logs.

[2021-08-02 14:05] pierluigilenoci commented on #7105
@ingress-nginx-maintainers could someone please take a look?

[2021-08-02 14:07] pierluigilenoci commented on #7105
/remove-lifecycle stale

[2021-08-02 14:10] unixfox commented on #6973
/remove-lifecycle stale

[2021-08-02 16:23] Nan2018 commented on #7412
- kubectl get all,nodes,ing -A - wide
[code]
- kubectl -n <ingresscontrollernamespace> describe po <inresscontrollerpod>
[code]
- kubectl -n <ingresscontrollernamespace> describe svc <ingresscontrollerservice>
[code]
- kubectl -n <appnamespace> describe po <applicaionpodname>
[code]
- kubectl -n <appnamespace> describe svc <applicationsvc>
[code]
- kubectl -n <appnamespace> describe ing <applicati

[2021-08-02 16:39] yashikabadaya commented on #7407
I'd like to take up https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/annotations/disableaccesslog.go.

[2021-08-02 16:44] bhumijgupta commented on #7407
I'd like to take up https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/annotations/sslciphers.go

[2021-08-02 16:56] Nan2018 commented on #7412
It seems the error only occurs when sending request with postman to ingress with large file upload. The following two scenarios actually work:
1. postman to application pod
2. curl to ingress

Not sure if this is a postman issue or ingress

[2021-08-02 17:06] rikatz commented on #7407
Added names to the description.

Will later check more tests needing to be evolved

[2021-08-02 17:50] longwuyuan commented on #7407
gRPC test should be broken because we removed the old gRPC app.

Thanks,
; Long

On Mon, 2 Aug, 2021, 10:37 PM Ricardo Katz, ***@***.***>
wrote:

[2021-08-02 19:18] rikatz commented on #7407
/reopen

[2021-08-02 20:44] rikatz commented on #7105
/good-first-issue
/area helm

Is someone wants to work on this one, is just a matter of adding the new fields in values.yaml and referencing them in the files at issue description

[2021-08-02 20:44] rikatz commented on #7105
/triage accepted

[2021-08-02 22:45] danielhoherd opened #7416 "CVE-2021-3121 in github.com/gogo/protobuf v1.3.1 (fixed in v1.3.2)"
**NGINX Ingress controller version**: 0.48.1

**Kubernetes version** (use `kubectl version`): v1.18.17-gke.1901 (irrelevant)

**Environment**:

- **Cloud provider or hardware configuration**: GKE (irrelevant)
- **OS** (e.g. from /etc/os-release): cos (irrelevant)
- **Kernel** (e.g. `uname -a`): N/A (irrelevant)
- **Install tools**: Terraform
- **Others**:

**What happened**:

[code]

**What you ex

[2021-08-03 02:37] maybe-sybr commented on #7410
Closing this. I did some more sanity checking and I'm guessing that cef147a24 is probably what fixed this issue and I was hitting it because I was using the published chart rather than the version sitting on the dev-v1 branch here. I did deployments with that chart and with the `baremetal/deploy.yaml` and both appeared to work fine. Interestingly, it seemed like the v1beta1 ingress got "upgraded"

[2021-08-03 02:37] #7410 closed

[2021-08-03 02:42] maybe-sybr opened #7417 "[v1] Example ingress YAML uses v1 but old serviceName/Port for backends"
**NGINX Ingress controller version**: 1.0.0-beta.1

**Kubernetes version** (use `kubectl version`): Not relevant but 1.21+ server

**What happened**:
Found while attempting to work out if #7410 was actually a bug or my fault. I copied some example YAML from `docs/user-guide/basic-usage.md` and it appears to have been updated to use `apiVersion: v1` but not the new backend YAML spec. It looks like

[2021-08-03 03:20] maybe-sybr opened #7418 "[v1] jettech/kube-webhook-certgen is not compatible with 1.22+"
**NGINX Ingress controller version**: v1.0.0-beta.1

**Kubernetes version** (use `kubectl version`): 1.22+ server (usernetes v20210708.0)

**Environment**: Bare metal usernetes

- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Fedora 34
- **Kernel** (e.g. `uname -a`): 5.13.6-200.fc34.x86_64
- **Install tools**: usernetes, helm
- **Others**:

**What h

[2021-08-03 07:51] ljns opened #7419 "Deployment fails with Helm on Kubernetes 1.21+, "PodDisruptionBudget is deprecated in v1.21+""
**NGINX Ingress controller version**: 0.47.0

**Kubernetes version** (use `kubectl version`): v1.21.1

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **OS**: Ubuntu 18.04.5 LTS
- **Kernel**: 5.4.0-1051-azure
- **Install tools**: Helm 3.0.3 (also tested on 3.6.3), ingress-nginx-3.34.0

**What happened**:

Using the ingress-nginx helm chart on a cluster running Kubernetes v1

[2021-08-03 07:55] yuswift commented on #7419
/assign

[2021-08-03 08:31] dignajar commented on #7261
Hi, I have the same warnings and exit 1 when I use the annotation `nginx.ingress.kubernetes.io/auth-signin` and Nginx tries to reload the configuration.

Tested in nginx-ingress version 0.47.0 and 0.48.1.

[code]

[2021-08-03 08:33] longwuyuan commented on #7261
There is a PR open on this.

On Tue, Aug 3, 2021 at 2:01 PM Diego Najar ***@***.***> wrote:

--
; Long Wu Yuan

[2021-08-03 09:17] yuswift commented on #7416
I can't find where do we import the `github.com/gogo/protobuf v1.3.1` package in the `go.mod` file. Could you point it out? Thanks.

[2021-08-03 14:15] kverstr commented on #7016
I agree this should be an option, I know how to create a public and private LB in the manifest file by adding the correct annotations(AWS)... But this helm chart is basically not useable right now because we don't want the ingress to be publicly available.

[2021-08-03 15:08] iamNoah1 commented on #5401
@Tibor17 @vladimirkhs @strongjz can we then consider this issue as obsolete?

[2021-08-03 15:23] iamNoah1 commented on #5012
/label needs-priority @rikatz @strongjz

[2021-08-03 15:26] iamNoah1 commented on #5496
@matthewhartstonge @tokers can we consider to close this one?

[2021-08-03 15:40] iamNoah1 commented on #7416
@danielhoherd friendly reminder

[2021-08-03 15:41] iamNoah1 commented on #5547
@rra can you please more information

/triage needs-information

hi, please post the following information ;

[code]

[2021-08-03 15:43] iamNoah1 commented on #5575
/triage needs-information

@blodan  can you please more information

[code]

[2021-08-03 15:47] iamNoah1 commented on #7391
@stefanoborini friendly reminder

[2021-08-03 15:49] iamNoah1 commented on #7379
Hi @ly123-liu , please post the following information:

[code]

[2021-08-03 15:49] iamNoah1 commented on #7379
/triage needs-information

[2021-08-03 15:51] danielhoherd commented on #7416
@iamNoah1 @yuswift I'm an end user with no specific knowledge about how this software is built. If the package isn't used it seems reasonable to remove it.

[2021-08-03 15:52] r0bobo commented on #7047
/remove-lifecycle stale

[2021-08-03 15:53] iamNoah1 commented on #7296
@xiaozhangcoach friendly reminder

[2021-08-03 15:55] iamNoah1 commented on #7416
@strongjz @rikatz can you help here?

[2021-08-03 15:56] iamNoah1 commented on #7269
@Nikosef friendly reminder

[2021-08-03 16:04] danielhoherd commented on #7416
I found [an issue comment](https://github.com/kubernetes/ingress-nginx/issues/5510#issue-612969089) with some profiling shell scrollback that shows k8s.io/ingress-nginx/vendor/github.com/gogo/protobuf/proto.Unmarshal being called.

[2021-08-03 16:13] rikatz commented on #6482
/priority important-urgent
/triage accepted

[2021-08-03 16:13] rikatz commented on #6482
/priority important/critical-urgent

[2021-08-03 16:19] iamNoah1 commented on #6482
/help
/good-first-issue

[2021-08-03 16:20] rra commented on #5547
I think you added this to the wrong issue? This issue doesn't involve uploading a file and isn't a bug; it's a request for new behavior with `auth_request` subhandlers.

You can easily reproduce the problem reported in this ticket by standing up a pod that simply echos incoming HTTP request headers, creating a service for it, and then creating an ingress that points to it as its `auth_request` han

[2021-08-03 16:21] rikatz commented on #6951
/assign @longwuyuan
/unassign @kundan2707

[2021-08-03 16:25] rikatz commented on #6969
/remove-lifecycle rotten

[2021-08-03 16:25] rikatz commented on #6969
/assign

[2021-08-03 16:28] rikatz commented on #7079
Not sure if this is a bug, need to check.

/assign @tao12345666333

[2021-08-03 16:43] iamNoah1 commented on #5547
you are right @rra sorry. However thanks for the additional info.

/label needs-priority

[2021-08-03 16:44] rikatz commented on #5609
/help
This seems "simple" to implement, in a way of:
* Adding a common .conf file in rootfs with the snippet to detect and return the gRPC errors
* Changing the template to add this errors when backend=gRPC

/triage accepted
/priority backlog

[2021-08-03 16:47] rikatz commented on #6340
/assign @tao12345666333

[2021-08-03 16:48] rikatz commented on #7395
/cl

[2021-08-03 16:48] rikatz commented on #7395
/close

[2021-08-03 16:48] #7395 closed

[2021-08-03 16:56] rikatz commented on #7416
and where is gogo/protobuf used? :D

[2021-08-03 16:57] rikatz commented on #7416
Maybe we should update libraries, let me take a look

[2021-08-03 17:03] rikatz commented on #7416
Yeah, we need to update the libraries :/

I'll do this here and check later.

[2021-08-03 17:10] rikatz commented on #7416
/assign

[2021-08-03 17:40] gaffneyd4 commented on #6107
@benpettman Did you ever figure out what was wrong?

[2021-08-03 18:40] kingdonb commented on #7418
I encountered this issue through the 4.0.0 chart (beta) that was just released, I think I was able to resolve it by disabling the `admissionWebhooks.patch.enabled` chart field value as you suggested 👍

The Kubernetes cluster is 1.22.0-rc.0

[2021-08-03 19:41] ahawkins commented on #6103
Getting the same error with this image: `k8s.gcr.io/ingress-nginx/controller:v0.47.0`:

[code]

[2021-08-03 19:44] longwuyuan commented on #6103
We have PR wip on it.

Thanks,
; Long

On Wed, 4 Aug, 2021, 1:11 AM Adam Hawkins, ***@***.***> wrote:

[2021-08-03 20:53] benpettman commented on #6107
@gaffneyd4 nope

[2021-08-03 21:31] matthewhartstonge commented on #5496
@iamNoah1 hmm, I think we're going to have to go with no...

- [Revert "feat: multiple-cors-allow-origin support" #7168](https://github.com/kubernetes/ingress-nginx/pull/7168)
- [multiple-cors-allow-origin support is incorrect, only one Origin header can be set](https://github.com/kubernetes/ingress-nginx/issues/7162)

[2021-08-03 21:59] rikatz opened #7429 "Check failing jobs"
Jobs are failing since yesterday:

https://testgrid.k8s.io/sig-network-ingress-nginx#test

Need to check what's going on, probably we forgot to change from master to main

[2021-08-03 22:10] aojea commented on #7429
/cc

[2021-08-03 22:14] Jonas18175 opened #7430 "Pods failed to start after upgrade chart to 4.0.0"
**NGINX Ingress controller version**: 1.0.0-beta.1

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-21T20:21:49Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"20", Gi

[2021-08-03 22:15] wenhuwang commented on #6482
/assign

[2021-08-03 22:16] rikatz commented on #7430
OK, this is weird.
Thanks for raising this!

/priority critical-urgent

[2021-08-03 22:16] rikatz commented on #7430
@longwuyuan @tao12345666333 if one of you wake up before me :)

[2021-08-03 22:22] rikatz commented on #7429
Converted PR https://github.com/kubernetes/ingress-nginx/pull/7401 to draft so bot will stop doing CI tests while we are finishing things.

Maybe I need to try to merge from my fork to that later :)

[2021-08-04 00:13] maybe-sybr commented on #7418
I actually hit some further issues late yesterday with the `admissionWebhooks.patch.enabled: false` value applied. I have to sanitise this output slightly since it's an internal deployment, the main difference being that it is an ingress backed by an actual service and using a rewrite rule. Hopefully I haven't missed any other subtleties.

Applying a templatised YAML for one of my charts:
[code]

[2021-08-04 01:15] ly123-liu commented on #7379
%> kubedq logs -f nginx-ingress-internal-5dd7d67c54-ltj6m -n tp-master | grep reload
I0525 09:49:02.490160       7 controller.go:174] Configuration changes detected, backend reload required.
I0525 09:49:03.047894       7 controller.go:192] Backend successfully reloaded.

[2021-08-04 01:41] kingdonb commented on #7418
That's what I'm seeing as well. At first glance it looked like disabling the patch hook solved the problem, but it only stopped the ingress controller from crashing. I got the same x509 errors you saw after that, you're not doing anything wrong (or we both are!)

[2021-08-04 02:10] tokers commented on #5496
PR was reverted as the implementation is not right 😂

[2021-08-04 05:13] yuswift commented on #7430
@Jonas18175 Hi, I tested the upgrade from 3.35.0 to 4.0.0 with the following command:
[code]
Unfortunately, I couldn't reproduce it.
Could you provide more details? Thanks.

[2021-08-04 05:39] longwuyuan commented on #7430
/remove-kind bug
/triage needs-information

[2021-08-04 05:50] tao12345666333 commented on #7430
Can you provide the version you are using before?

And the commands you use to perform the upgrade

It is true that the `--controller-class` parameter does not exist in the previous version

[2021-08-04 06:04] jfbrennan commented on #5496
@tokers It has to resolve to a single origin or `*`. What we're asking for is some magic that does this resolution for us either from a csv or regex.

[2021-08-04 06:18] KnicKnic commented on #6663
/reopen

[2021-08-04 06:22] KnicKnic commented on #6663
@liqlin2015 did you find a solution, I found you can workaround this with custom templates. See https://www.intel.com/content/dam/www/public/us/en/ai/documents/Inference-Scaling-in-Kubernetes-Whitepaper.pdf See Page 10. Although I would like an option that doesn't require modifying nginx

[2021-08-04 07:38] kundan2707 commented on #7417
/assign

[2021-08-04 07:42] dharmendrakariya commented on #6506
same issue!! can anybody please help here?

[2021-08-04 08:15] kundan2707 commented on #7292
@pezzak  can you share steps to reproduce it?

[2021-08-04 08:29] bhumijgupta commented on #7105
I would like to pick this up
/assign

[2021-08-04 10:18] bhumijgupta commented on #7105
@rikatz
Do we need to add 2 separate configurable resources one for each `job-patchWebhook` and `job-createSecret` or just a single configuration that can be applied to both the job containers with key like `controller.admissionWebhooks.resources`?

[2021-08-04 11:20] Jonas18175 commented on #7430
I used the 3.35.0 as latest version I autoupdate that with argocd. ArgoCD successfully deployed the 4.0.0 - but all sites goes down on a prod cluster only some worked. I updated the config and tried again, but the sites can't came online - but the pods are ready. So I removed the argocd app and deployed it normally via helm, but i don't know the version possible 3.33/3.34/3.35 - I run helm repo up

[2021-08-04 12:32] iamNoah1 commented on #6506
/remove lifecycle-rotten

[2021-08-04 12:34] iamNoah1 commented on #6506
/remove-lifecycle rotten

[2021-08-04 14:36] tao12345666333 commented on #7105
@bhumijgupta I recommend using two separate configurations

[2021-08-04 16:43] workhorse2020 opened #7435 "Round robin not happening for UDP from static src and dst ip/port"
**NGINX Ingress controller version**: 1.21.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS**
[code]

- **Kernel** (e.g. `uname -a`):
`4.18.0-193.28.1.el8_2.x86_64 #1 SMP Fri Oct 16 13:38:49 EDT 2020 x86_64 x86_64 x86_64 GNU/Linux
`
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happe

[2021-08-04 17:29] sayalimohdikar1992 commented on #6655
trying to apply an ingress object but getting the same error.
`kubectl apply -f C:/Users/mohad/OneDrive/Desktop/hulk -n hulk
`Warning: extensions/v1beta1 Ingress is deprecated in v1.14+, unavailable in v1.22+; use networking.k8s.io/v1 Ingress
Error from server (InternalError): error when creating "C:/Users/mohad/OneDrive/Desktop/hulk": Internal error occurred: failed calling webhook "validate.ngin

[2021-08-04 18:16] longwuyuan commented on #7435
Hi,

If you look at this https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/ , you will see some explicit reference that "ingress does not support TCP or UDP".

This ties back to https://nginx.org/en/docs/http/load_balancing.html .

UDP LoadBalancing can get very complicated to implement in the ingress-nginx controller.

We can wait and see other more elaborate and det

[2021-08-04 20:24] maxisam commented on #7430
I have this issue by uning helm chart as well.

[2021-08-05 00:40] apolovov commented on #7286
There is a special directive in Nginx for it — [grpc_set_header](http://nginx.org/en/docs/http/ngx_http_grpc_module.html#grpc_set_header), so I think, it doesn't work.

[2021-08-05 00:55] apolovov opened #7436 "Improve upstream-vhost annotation to affect gRPC upstreams"
There is [nginx.ingress.kubernetes.io/upstream-vhost](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#custom-nginx-upstream-vhost) annotation. It works only if [backend-protocol](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-protocol) is HTTP or HTTPS. But if I use GRPC, this annotation does nothing.

The gRPC

[2021-08-05 01:12] dkulchinsky commented on #7286
Yep, indeed it doesn't (tested recently), in any case using `proxy-set-headers` we cover 90% of our ingresses and for now the GRPC ones are adding the required annotation manually, but generally would be great to have a simple flag to add these headers.

[2021-08-05 03:08] longwuyuan commented on #7436
I think because
http://nginx.org/en/docs/http/ngx_http_grpc_module.html#grpc_set_header is
a different directive than proxy_set_header. Will check.

@***@***.*** ***@***.***> would you you want to discuss
this.

/kind feature

Thanks,
; Long

On Thu, 5 Aug, 2021, 6:26 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-08-05 05:07] kundan2707 commented on #7253
@pbradly  Have you tried solution suggested by @jrudley
If it works to you then please close this issue

[2021-08-05 05:09] kundan2707 commented on #6508
/close

[2021-08-05 05:09] #6508 closed

[2021-08-05 05:23] kundan2707 commented on #7229
@kevgrig link update in Digital Ocean instructions: https://kubernetes.github.io/ingress-nginx/deploy/#digital-ocean
You can close this issue now.

[2021-08-05 06:56] yueyongyue opened #7438 "/tmp/prometheus-nginx.socket ESTAB a great many, nginx-ingress pod will restart"
**NGINX Ingress controller version**:
nginx-ingress-controller:0.30.0
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:14:22Z", GoVersion:"go1.13.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1

[2021-08-05 08:38] Lyt99 opened #7439 "increasing memory usage & workqueue may not work as excepted"
**NGINX Ingress controller version**: 0.30.0 & 0.44.0

**Kubernetes version** (use `kubectl version`): v1.20.4

**Environment**:

- **Cloud provider or hardware configuration**: Alibaba Cloud
- **OS** (e.g. from /etc/os-release):Alibaba Cloud Linux (Aliyun Linux)
- **Kernel** (e.g. `uname -a`): 4.19.91-23.al7.x86_64
- **Install tools**: install from console
- **Others**:

**What happened**:

I hav

[2021-08-05 08:42] tao12345666333 commented on #7439
Thanks!

/priority important-soon

[2021-08-05 08:42] tao12345666333 commented on #7439
/assign

[2021-08-05 10:03] olafnorge opened #7442 "Helm Chart installs fails with: metadata.name must be no more than 63 characters"
**NGINX Ingress controller version**: `0.47.0`

**NGINX Ingress Helm Chart version**: `3.34.0`

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: `AWS EKS`
- **OS** (e.g. from /etc/os-release): `Amazon Linux 2`
- **Kernel** (e.g. `uname -a`): `5.4.129-63.229.amzn2.x86_64`
- **Install tools**: `Terraform Helm Provider`
- **Oth

[2021-08-05 10:09] slukianets commented on #5106
I fixed the same issue, just created default vhost name with name "rabbitmq" not "/" and added this name to connection string `amqp://<user>:<pass>@host/vhost`. i use rabbitmq operator for kubernetes in this case it looks like
[code]

[2021-08-05 10:14] Debanitrkl commented on #7442
/assign

[2021-08-05 10:14] Debanitrkl commented on #7272
/assign

[2021-08-05 10:16] Debanitrkl commented on #7442
Hi @olafnorge thanks for raising this I'm looking into this, will get back to you soon🙌

[2021-08-05 10:19] Debanitrkl commented on #7442
/triage-needs-information

[2021-08-05 10:40] tao12345666333 commented on #7442
because some Kubernetes name fields are limited to this (by the DNS naming spec)

/remove-kind bug

[2021-08-05 10:43] tao12345666333 commented on #7442
you should change your svc name length.

/close

[2021-08-05 10:51] olafnorge commented on #7442
Ähhhm, I could do so but still this is not obvious. To what length should I shorten it? I mean, if you introduce other suffixes my truncation may not be sufficient anymore.

I agree this is an easy fix if I have to do it but the underlying issue still persists.

/kind bug
/reopen

[2021-08-05 11:10] tao12345666333 commented on #7272
/assign

[2021-08-05 11:26] tao12345666333 commented on #7442
I have given you the reason.
This restriction is not on ingress-nginx, but on Kubernetes

Deeper, this is because following rfc1123 https://datatracker.ietf.org/doc/html/rfc1123
So there is nothing we can do here.

Needs to be shorter than 63

[2021-08-05 12:03] olafnorge commented on #7442
I am not sure if we are on the same page.

In https://github.com/kubernetes/ingress-nginx/blob/helm-chart-3.34.0/charts/ingress-nginx/templates/_helpers.tpl#L38 is the function `ingress-nginx.controller.fullname` with the content:
[code]

This function is truncating the name to 63 characters already and is being used inside the templates of the helm chart. So far so good.

BUT in the following tem

[2021-08-05 12:23] #7419 closed

[2021-08-05 13:23] #7253 closed

[2021-08-05 14:44] SylvainMachard opened #7444 "Error: unknown flag: --watch-namespace"
Hi,

I try to install more than one nginx-ingress on GKE, I follow installation guide :
helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
helm repo update

But when I try to specify watch namespace:
helm install\
        nginx-ingress-first \
        stable/nginx-ingress \
        --create-namespace \
        --namespace nginx-ingress-first \
        --watch-namespace my-names

[2021-08-05 15:18] tobiasgiese opened #7445 "Binding port 80/443 is not possible with allowPrivilegeEscalation=false"
**NGINX Ingress controller version**: v0.48.1

**Kubernetes version** (use `kubectl version`): v1.21.3

**Environment**:

- **Cloud provider or hardware configuration**: on-premise / Canonical OpenStack
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS
- **Kernel** (e.g. `uname -a`): 5.10.0-1038-oem
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

In our hardened Kubernetes e

[2021-08-05 15:19] tobiasgiese commented on #7445
If it's okay for you, I can open a PR for this. I already *fixed* our ingress-nginx-controller Dockerfile.

[2021-08-05 15:41] fracarvic commented on #7418
Maybe you have installed ValidatingWebhookConfiguration from previous helm installation. I deleted mine with

[code]
and install 4.0.0 helm chart with `admissionWebhooks.patch.enabled: false` and  can create new ingress resources without errors.

[2021-08-05 16:20] kevgrig commented on #7229
@kundan2707 Thanks!

[2021-08-05 16:20] #7229 closed

[2021-08-05 17:44] bhumijgupta commented on #7416
If it helps, from go mod graph, we can see that the vulnerable module is a dependency of the following modules.
[code]

[2021-08-05 19:14] #6666 closed

[2021-08-05 22:31] #7105 closed

[2021-08-05 22:40] rikatz commented on #7436
I would accept a PR for this without any problem :)

Here is what to change:
https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/template/nginx.tmpl#L1222-L1228

We have an if, verifying if the directive is  {{ if not (eq $proxySetHeader "grpc_set_header") }}

I don't know the implication of removing this if, and why it happens BUT the file is there :)

[2021-08-05 22:42] rikatz commented on #7436
@kd7lxl wdyt about this?

[2021-08-06 00:32] kd7lxl commented on #7436
https://github.com/kubernetes/ingress-nginx/issues/3706#issuecomment-495157068 describes why the current behavior was chosen.

I'm not familiar with all the nuances of rfc7540, but I think the appropriate behavior for a reverse proxy with an upstream-vhost override would be to rewrite the `:authority` header for gRPC backends rather than the `Host` header.

[2021-08-06 01:38] TheDutchMC opened #7446 "Controller fails to start on fresh cluster"
**NGINX Ingress controller version**:  3.34.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Supermicro X10; 2x E5-2620; 64Gb mem
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04 Focal Fossa
- **Kernel** (e.g. `uname -a`): `Linux kube-artemis-m1 5.4.0-80-generic #90-Ubuntu SMP Fri Jul 9 22:49:44 UTC 2021 x86_64 x86_64 x86

[2021-08-06 05:09] bhumijgupta opened #7447 "Run Kubernetes job in CI pipeline on v1.21.1 cluster as well"
Currently in the github actions CI pipeline, the Kubernetes job runs on v1.16.15, v1.17.17, v1.18.19, v1.19.11, v1.20.7 but not on 1.21.1 cluster. I think since ingress-nginx and kind both support 1.21.1 clusters, we should run the CI test on that cluster as well.

Ref: https://github.com/kubernetes/ingress-nginx/blob/6f0401fc735303a6f5c8381af5b1866e25721977/.github/workflows/ci.yaml#L162

This ca

[2021-08-06 05:34] longwuyuan commented on #7447
Need K8s v1.22 as well.  Someone can PR into the dev-v1 branch for v1.22
as well.

But one intention is to use GH-Actions native tooling 100%, so that so
each branch produces own artifact. Also intention is there to automate
the CI 100% with GH-Actions tooling. Only the releasing procedure to
have 1 tiny manual step for publishing.

On 06/08/21 10:39 am, Bhumij Gupta wrote:

--
Thanks,
--
; Long

[2021-08-06 06:44] splooge commented on #7446
I have the same problem.  Same exact logs as the above poster from the ingress-nginx-controller pod.  It was working fine on a 1.21.3 cluster but as soon as I upgraded it to 1.22 is when the issue started happening.  Kubeadm install/upgrade, Focal 20.04, 5.4.0-80-generic kernel, but unlike OP, I installed through helm. I tried uninstalling and reinstalling, but the helm install just fails at that

[2021-08-06 07:38] sysnet4admin opened #7448 "k8s.io/client-go@v0.20.2/tools/cache/reflector.go:167: Failed to watch *v1beta1.Ingress: failed to list *v1beta1.Ingress"
**NGINX Ingress controller version**:
[code]
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
  - BareMetal(VM Enviroment)

- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
  - Not special

- **Others**:
  - None

**What happened**:
I have encountered  `reflector` still

[2021-08-06 07:53] TheDutchMC commented on #7446
Downgraded the cluster back to 1.21.3. The exact same manifest now works. So seems to be an issue with nginx + K8s 1.22.0

[2021-08-06 08:16] #6943 closed

[2021-08-06 08:26] stefanoborini commented on #7391
@iamNoah1 Finishing a sprint. I'll resume work on this next week.

[2021-08-06 09:18] cleveritcz commented on #7448
I see this in version 0.43 also

[2021-08-06 09:23] longwuyuan commented on #7446
For Kubernetes version 1.22, can you try the beta release of the ingress-nginx-controller ?

[2021-08-06 09:23] longwuyuan commented on #7446
/remove-kind bug
/kind feature

[2021-08-06 09:30] longwuyuan commented on #7448
If your kubernetes version is 1.22, can you try the beta release of the controller and provide feedback https://github.com/kubernetes/ingress-nginx/releases/download/helm-chart-4.0.0/ingress-nginx-4.0.0.tgz

/remove-kind bug
/kind feature

[2021-08-06 09:41] sysnet4admin commented on #7448
@longwuyuan Thank you for your advice. I am afraid to say that I can't use helm in my environment.
In my humble view, it is in the fixed code in reflector related. so it could fix easy to do.

[2021-08-06 09:46] longwuyuan commented on #7448
Ok. Can you try this one and give feedback. https://github.com/kubernetes/ingress-nginx/blob/3c0bfc1ca3eb48246b12e77d40bde1162633efae/deploy/static/provider/baremetal/deploy.yaml

[2021-08-06 10:01] sysnet4admin commented on #7448
Oh...it fixed and a little remained error(due to probably uptime) but it looks good.

[code]

For your reference (webhook)
[code]

[2021-08-06 10:08] longwuyuan commented on #7412
If curl works, then it is not likely to be a ingress issue because you already have the required annotation configured. You can confirm that with the nginx.conf inside the pod and the log message when the curl is successful.

I suggest please close this issue and come talk at kubernetes.slack.com in the ingress-nginx-users channel

[2021-08-06 10:12] longwuyuan commented on #7444
/good-first-issue

You can try the "scope:" key in the values file as seen here and update the results ;

[2021-08-06 10:19] sysnet4admin commented on #7418
@kingdonb @fracarvic  yes it wokred after removing `ValidatingWebhookConfiguration` `ingress-nginx-admission`

[code]

[2021-08-06 10:24] sysnet4admin commented on #7448
And ingrss.yaml is worked after removing `ValidatingWebhookConfiguration`
[code]
#7418 is related issue in my view.

**File: ingress.yaml **
[code]

[2021-08-06 10:32] sysnet4admin commented on #7448
And then it won't work..
Probably due to bottom logs.
[code]

[2021-08-06 11:19] longwuyuan commented on #7448
Yes, please create/use IngressClass

[2021-08-06 11:42] akshitgrover commented on #7444
@longwuyuan
Can I take this up
Since, It is docs update, I guess this is a suitable starting point for me to contribute more in the future

[2021-08-06 11:47] sysnet4admin commented on #7448
@longwuyuan Thank you for your very kindness.
However ingressclass already applied by this code bundle..
https://github.com/kubernetes/ingress-nginx/blob/3c0bfc1ca3eb48246b12e77d40bde1162633efae/deploy/static/provider/baremetal/deploy.yaml

[code]

[2021-08-06 11:54] longwuyuan commented on #7448
From your ingress, can you please remove the annotation "nginx.ingress.kubernetes.io/rewrite-target: /" and add the annotation for the ingressclass. Then update here with result

[2021-08-06 12:16] #6938 closed

[2021-08-06 12:22] sysnet4admin commented on #7448
Remove from Ingress (metadata is remained)
[code]

Add in ingressclass
[code]

And revitalize nodeport (i.e. remove and create)
[code]
But it failed.
And controller logs like below:
[code]

+ here too.
[code]

[2021-08-06 12:55] olafnorge commented on #7442
@Debanitrkl you wrote that you're going to have a look. Did you have time to do so already?

[2021-08-06 12:57] rikatz commented on #7436
So the behavior is right?

[2021-08-06 13:03] rikatz commented on #7448
Hi @sysnet4admin

So for ingress v1, some things have changed with Ingress Class:
* If you have only one ingress controller running in your environment and you still want to use ingress class, you should add the annotation "ingressclass.kubernetes.io/is-default-class" in your ingress class, so new Ingress objects will have this one as defaulted
* If you don't care about ingress class, or you have

[2021-08-06 13:12] rikatz commented on #7447
/help
/good-first-issue

Remember, when adding the CI jobs that we have one branch for v0.X, other for v1.X and that we must be available at https://hub.docker.com/r/kindest/node/tags?page=1&ordering=last_updated

[2021-08-06 13:13] rikatz commented on #7444
/assign @akshitgrover

Go for it :)

[2021-08-06 13:14] rikatz commented on #3511
/remove-lifecycle stale
/lifecycle frozen

[2021-08-06 13:22] nehaLohia27 commented on #7447
/assign

[2021-08-06 13:32] longwuyuan commented on #7447
Hi Neha, so good to see you assign. Can you please update some timelines
and milestones. Just brief one liners on what you will achieve by when. We
have to make controller v1.0.0 release ASAP so asking. And do you need
pairing with someone.

Thanks,
; Long

On Fri, 6 Aug, 2021, 6:52 PM Neha Lohia, ***@***.***> wrote:

[2021-08-06 13:38] sysnet4admin commented on #7448
@rikatz  I appropriate your help.
It solve by 2nd option and I aim to try 1st option due to my curiosity :)
Here is the result of 2nd option.
[code]

[2021-08-06 13:57] sysnet4admin commented on #7448
1st options is worked on properly too. but it should(?) remove ` ValidatingWebhookConfiguration` `ingress-nginx-admission` to apply ingress backend configuration.

Here is the result of 1st option.
### Check before run
[code]
### Actual run
[code]

[2021-08-06 14:23] akshitgrover commented on #7444
@SylvainMachard
The docs might have been a bit misleading

So,  --watch-namespace is a flag for the nginx-ingress controller CLI/binary which is why when we use it with helm CLI it will not work. However, With helm we can map a values.yaml field value to that of the ingress-nginx-controller deployment YAML.

To supply a value for the --watch-namespace flag of the nginx-ingress controller CLI/binar

[2021-08-06 14:45] muka commented on #7448
I am following the test here using helm  with v1.0.0-beta.2 but helm doesn't return from the install command and in the ingress controller pods I see

[code]

[2021-08-06 14:45] rikatz commented on #7416
Thanks :D

I'm updating all here and will run trivy again (checked and confirmed with trivy)

[2021-08-06 15:21] nehaLohia27 commented on #7447
@longwuyuan I am doing this changes. should be done in sometime.

[2021-08-06 16:38] rikatz commented on #7447
#7452 fixes this as well

[2021-08-06 16:40] bhumijgupta commented on #7447
Closing this issue. Thanks @nehaLohia27

[2021-08-06 16:40] #7447 closed

[2021-08-06 16:51] kingdonb commented on #7418
I can confirm, the 1.0.0-beta.0 image works for me with the 4.0.0 chart, as long as I disable admission webhooks globally.

Disabling the patch hook by itself was not enough. I think the other hook must depend on the certificates. I'm sure this will have to be resolved somehow before the 1.0.0 final can be released.

But I am currently using Kubernetes 1.22.0, Cert-manager 1.5.0-beta.0, and ingres

[2021-08-06 17:39] rikatz commented on #7429
/close
This was due to a conflict between branches, will fix locally and create a new PR

[2021-08-06 17:39] #7429 closed

[2021-08-06 17:47] rikatz commented on #7396
@paalkr do you mind sending a PR to the docs, as @longwuyuan proposed?
Thanks!

[2021-08-06 17:54] rikatz commented on #6896
Hi folks.

We are planning some actions on this:
* We are updating all the Lua* stack (and other modules) in nginx and planning to release a new version later next week.
* As soon as we can get rid of the v1 madness (probably next week as well) I plan to start doing some tests with debian-slim instead of alpine

To help me reproduce this:
* Does this case occurs in an environment with too many ing

[2021-08-06 17:58] rikatz commented on #6896
fyi this is the PR updating luajit and everything else: https://github.com/kubernetes/ingress-nginx/pull/7411

[2021-08-06 18:25] rikatz commented on #7448
weird, will test the helm here.

About the migration, we are starting to document, and as you are brave users already helping us on this, wdyt? https://github.com/kubernetes/ingress-nginx/pull/7441#pullrequestreview-724594966

[2021-08-06 18:53] rikatz commented on #6951
/assign @longwuyuan

[2021-08-06 19:02] rikatz opened #7456 "Fix ingressClass in helm charts for dev-v1"
New helm charts for dev-v1 (https://github.com/kubernetes/ingress-nginx/tree/dev-v1) does not supports adding the flags of ingressClass to controller:

https://github.com/kubernetes/ingress-nginx/blob/dev-v1/charts/ingress-nginx/templates/controller-daemonset.yaml#L75 and https://github.com/kubernetes/ingress-nginx/blob/dev-v1/charts/ingress-nginx/templates/controller-deployment.yaml#L79

as a use

[2021-08-06 19:03] rikatz commented on #7456
/triage accepted
/priority important-soon

[2021-08-06 19:10] laghoule commented on #6896
We have issue with our big cluster (633 ingress). It segfault at startup, without load (load was not transferred yet)
Other clusters are fine (<200 ingress)
Same version of K8S (EKS 1.19)

[2021-08-06 19:40] rikatz commented on #7445
thanks @tobiasgiese will take a look

[2021-08-06 19:43] rikatz commented on #7445
ok, confirmed here! thank you!

[2021-08-06 19:45] #7445 closed

[2021-08-06 19:49] rikatz commented on #6896
@laghoule thanks! This helps me to generate some scenarios and simulate!

[2021-08-06 20:13] #7416 closed

[2021-08-06 20:28] rikatz commented on #7446
ingress v0.48 is not supported in k8s v1.22 due to deprecation of networking.k8s.io/v1beta1 API

As @longwuyuan stated we are working on the ingress v1 (now beta) that should work on k8s 1.22, to be released probably next week

[2021-08-06 20:31] rikatz commented on #7430
Please merge the helm_values.yml with https://github.com/kubernetes/ingress-nginx/blob/dev-v1/charts/ingress-nginx/values.yaml#L81-L85 and let us know if this works!

TODO: We need to document the new parameters and their needs

[2021-08-06 20:31] rikatz commented on #7398
Other things that needs to be fixed before release:
* https://github.com/kubernetes/ingress-nginx/pull/7411
* https://github.com/kubernetes/ingress-nginx/pull/7441
* https://github.com/kubernetes/ingress-nginx/issues/7456
* https://github.com/kubernetes/ingress-nginx/issues/7430

[2021-08-06 22:14] Jonas18175 commented on #7430
When I add the two fields name: nginx and controllerValue: "k8s.io/ingress-nginx" to ingressClassResource - the pods get running, but all sites has 503 error - I set default: true on the ingressClassResource - so I think there should no additional steps to set it up, because it should be the default controller.

[2021-08-06 22:36] Jonas18175 commented on #7430
Sorry the test with the v1.0.0-beta image not worked - because:
[code]

[2021-08-07 09:46] akshitgrover commented on #7456
@rikatz
I would like to take this up
I might need some help, Will ping here in case

[2021-08-07 09:47] akshitgrover commented on #7456
/assign

[2021-08-07 09:51] akshitgrover commented on #7456
--controller-class already takes value for controller.ingressClassResource.controllerValue (https://github.com/kubernetes/ingress-nginx/blob/dev-v1/charts/ingress-nginx/templates/controller-deployment.yaml#L87)

Though, --watch-ingress-without-class flag is not present in the helm template
I'll add the same both in deployment and daemonset

[2021-08-07 10:10] longwuyuan commented on #7456
Read a lot

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.22/#ingress-v1-networking-k8s-io

https://github.com/kubernetes/ingress-nginx/pull/7441
Other related

On Sat, Aug 7, 2021 at 3:21 PM Akshit Grover ***@***.***>
wrote:

--
; Long Wu Yuan

[2021-08-07 12:10] akshitgrover commented on #7444
@SylvainMachard
You can ping in [#ingress-nginx-users](https://kubernetes.slack.com/app_redirect?channel=ingress-nginx-users) channel on slack if face any other issues

[2021-08-07 13:03] akshitgrover commented on #7444
/remove-kind bug

[2021-08-07 16:01] longwuyuan opened #7461 "docs for the helm chart of the ingress-nginx-controller"
Docs should be available for all the configurations possible with a values file for the helm chart installation, of the ingress-nginx-controller.

Here is the documentation example of a table of configurations, https://artifacthub.io/packages/helm/bitnami/mysql
Here is a documentation example of a bulleted list of configurations, https://www.consul.io/docs/k8s/helm

Related but not associated All

[2021-08-07 16:02] longwuyuan commented on #7461
/remove-kind feature

[2021-08-07 16:16] longwuyuan commented on #7461
/good-first-issue

[2021-08-07 16:23] sandipanpanda commented on #7461
/assign

[2021-08-07 16:27] RichardoC commented on #7119
/remove-lifecycle stale

[2021-08-07 16:38] akshitgrover commented on #7461
I would like to take this up @longwuyuan
Should I wait for the triage on this
Thank you
/assign

[2021-08-07 16:44] longwuyuan commented on #7461
Please feel free to go ahead. Also add the config, that you worked on,
which is only present in the dev-v1 branch. Release is coming shortly
anyways.

If you want me or anyone else to to do some part, let me know.

If you have a question on any key and value, please ask in dev channel.

It will be nice if we can make it all look like the mysql example.

On 07/08/21 10:09 pm, Akshit Grover wrote:

[2021-08-07 20:28] #6762 closed

[2021-08-07 20:56] paalkr commented on #7396
Sorry for the delayed answer. Yes, I will submit a PR with some changes to the documentation.

[2021-08-08 09:52] akshitgrover commented on #7461
Sure thing
I'll start working on this
I'll reach out to you if I need some help
Thank you

[2021-08-08 10:07] g10f commented on #6664
/kind feature

[2021-08-08 11:11] rikatz commented on #7418
/priority critical-urgent
/assign
Cc @tao12345666333 @strongjz before the v1 release this also should be fixed

[2021-08-08 11:42] tao12345666333 commented on #7418
/cc

yep. we need to discuss a solution.

* submit a PR for the project/ fork it

* Use other solutions

[2021-08-08 16:30] longwuyuan commented on #6664
hi,
It looks like a new annotation has to be created for this after investigating the impact and also need to isolate per ingress and avoid having it impact globally.
Currently the project engineers are occupied with the release of v1.0.0 of the controller that has some complicated changes due to K8s v1.22 release (deprecation of beta versions of ingress api).

Please expect some attention on this

[2021-08-08 16:36] longwuyuan commented on #6951
@rittneje & @carletes, can you please help out with some precise information on reproducing this.

I am not certain how a per ingress rule would end up in a server block outside of the server block that the host spec of the ingress resource is configured for. So without making guesses, please help out and add a ingress resource definition to this issue, so that I can try to reproduce the problem.

[2021-08-08 16:37] longwuyuan commented on #6951
/remove-kind bug
/triage needs-information

[2021-08-09 07:54] robinelfrink opened #7465 "Custom errors served from random namespace if same name"
**NGINX Ingress controller version**: v1.0.0-beta

**Kubernetes version** (use `kubectl version`): v1.19.8

**Environment**: Not relevant (happens on Kubespray-cluster as well as Talos)

- **How was the ingress-nginx-controller installed**:
  Helm: `ingress-nginx-3.34.0`

**What happened**:

When adding custom error annotations to ingresses, and using custom-error-services with the same name in di

[2021-08-09 08:28] muka commented on #7448
By disabling the admission hook in the yaml values I got the ingress working again. Will check #7441 if we can help

[2021-08-09 09:35] SylvainMachard commented on #7444
Hi @akshitgrover,

Yes ! It works fine, as expected.
Thanks a lot

I agree, documentation is quite confusing.
Last week, I made some test adding --set controller.scope.namespace= but as soon as I didn't set "--set controller.scope.enabled=true" parameter is not take into account. I didn't have any warn about unused parameter.
Regards.

[2021-08-09 09:45] rbrondgeest commented on #4944
Same issue here, multiple pods running but our logs indicate that in som cases (i guess with 3 pods of which 1 failed with maximum of 3 retries, the odds are 1 in 9 (3x3)) the request fails after consistently calling the failed node.

[2021-08-09 09:51] stefanoborini commented on #7391
The information is heavily redacted. Can you work with this amount of information?

kubectl get nodes,ing -A -o wide

[code]

If it's ok, I continue.

[2021-08-09 10:04] longwuyuan commented on #7465
/remove-kind bug

Hi, please show ;
[code]

/triage needs-information

[2021-08-09 10:13] longwuyuan commented on #7391
Hi, yes.

But if yo udo it on a minikube cluster, you can send us all information in a way that we can exactly copy/paste and reproduce

[2021-08-09 10:38] kayrus opened #7466 "Support LUA to fetch TLS certificates for TCP/UDP stream listeners"
Currently LUA logic to fetch certificates is supported only for HTTPS listeners:

https://github.com/kubernetes/ingress-nginx/blob/8b2db80433ac653bc5c98bffaa863e619c5563c0/rootfs/etc/nginx/template/nginx.tmpl#L892-L899

Having a `ssl_certificate_by_lua_block` block in `stream` section would be appreciated.

/kind feature

ref #6402

[2021-08-09 10:39] robinelfrink commented on #7465
Note: I've redacted some data.

Logs of nginx-controller pods are after a `rollout restart daemonset`, showing requests to `hello-one.<mydomain>` serving errors from the custom-error pod in `ns-two`.

`kubectl get ns,all,nodes,ing -A -o wide`
[code]

`kubectl -n ns-one describe deployment`
[code]

`kubectl -n ns-one describe pod`
[code]

`kubectl -n ns-one describe svc`
[code]

`kubectl -n ns-one

[2021-08-09 10:46] stefanoborini commented on #7391
Installing minikube gives me a whole set of additional errors I don't want to deal with:

[code]

$ minikube start
[code]

[2021-08-09 11:15] robinelfrink commented on #7465
Here is the generated `nginx.conf`.

I'm curious about the `set $proxy_upstream_name "custom-default-backend-nginx-errors";` that is the same for every custom error block.

[code]

[2021-08-09 11:43] longwuyuan commented on #7391
ok then, i will try a different way.
Is it possible to achieve wht you want by using only rewrite-target annotation and NOT using any config snippet ?

[2021-08-09 11:46] stefanoborini commented on #7391
Ok guys sorry I'm tired of pasting hundreds of lines of output for a trivial issue. These are the two ingress setup files:

Ingress app1:

[code]
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
    name: app2-ingress
    annotations:
        kubernetes.io/ingress.class: nginx
        nginx.ingress.kubernetes.io/proxy-read-timeout: "1800"
        nginx.ingress.kubernetes.io/proxy-send

[2021-08-09 12:33] longwuyuan commented on #7391
Hi @stefanoborini ,

(1) What is the `complete curl command` or the `complete http request` you want to send to the kubernetes cluster ?
(2) What is the desired final request that the ingress-controller should change it to ?
(3) Its not appropriate for me to make a "baseless" comment about the directives that configured in your nginx.conf. If you provide the `kubectl describe ing <ingressname>` of

[2021-08-09 13:05] stefanoborini commented on #7391
(1) (2)
[code]

should redirect to
[code]
respectively. Nothing else.

(3)

[code]

(4) sure, let me tell my boss that I'll spend the next month learning a new programming language I never used, a completely unknown environment, deploy all the complexity related of making it work, understand the code that does this part, find out how to integrate a potential change in your code, wait who knows how

[2021-08-09 13:46] akshitgrover commented on #7444
@SylvainMachard
We are working on updating the documentation, You can track the same at #7461
Since the issue is resolved I'll close this issue

If there is anything else you can reach out to us via [#ingress-nginx-users](https://kubernetes.slack.com/app_redirect?channel=ingress-nginx-users) slack channel
/close

[2021-08-09 13:47] akshitgrover commented on #7444
@longwuyuan
Can you close this issue
I don't have enough permissions to do so
Thank you

[2021-08-09 13:48] akshitgrover commented on #7456
@rikatz @longwuyuan
Since the PR is merged, We are good to close this issue right?
Thank you

[2021-08-09 14:11] longwuyuan commented on #7391
That is not a bug. Come talk in kubernetes.slack.com using the
ingress-nginx-users channel.

Thanks,
; Long

On Mon, 9 Aug, 2021, 6:36 PM Stefano Borini, ***@***.***>
wrote:

[2021-08-09 14:47] hjkatz opened #7468 "Add support for loading and configuring LightStep as the opentracing backend"
Integrate the lightstep backend for opentracing (see: https://github.com/opentracing-contrib/nginx-opentracing and https://github.com/lightstep/lightstep-tracer-cpp).

Example PR: https://github.com/kubernetes/ingress-nginx/issues/1808

No

Not to my knowledge

/kind feature

[2021-08-09 15:38] longwuyuan commented on #7456
yes
/close

[2021-08-09 15:38] #7456 closed

[2021-08-09 15:38] longwuyuan commented on #7444
/close

[2021-08-09 15:38] #7444 closed

[2021-08-09 15:50] IAXES commented on #5401
@iamNoah1 Hmmm, maybe not yet: I'm reproducing this lately with `KIND` (i.e. v1.21 release of `kindest`). My only workaround at the moment is purging the web hook via `kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission`. I'll post a minimal working example this evening.

[2021-08-09 16:17] kavyabgowda commented on #1750
flag provided but not defined: -update-status
flag provided but not defined: -report-node-internal-ip-address

I'm getting this error when I try to enable in a daemonset nginx ingress config.

[2021-08-09 16:28] longwuyuan commented on #7465
(1) This does not make much sense. Need more details on this ;
[code]
Because yo have this ;
[code]
So I expect that you would try this ;

[code]
or

[code]

[2021-08-09 16:36] longwuyuan commented on #7465
This is not proved to be a bug from the data available so far. Please come talk at kubernetes.slack.com in the channel ingress-nginx-users.

[2021-08-09 20:42] rikatz commented on #7418
I've reached @vsliouniaev on Slack before thinking about fork or other solutions.

I'm ready to submit a PR, just checking if it works as expected here :)

[2021-08-09 20:44] rikatz commented on #7418
Folks, can you please test the webhook with image:

rpkatz/kube-webhook-certgen:v1.5.2

And check if the problem persists? If this is solved, I'm going to submit a PR to the original project

[2021-08-09 21:02] rikatz commented on #7418
fyi patch works: helm install --set controller.admissionWebhooks.patch.image.image=rpkatz/kube-webhook-certgen --set controller.admissionWebhooks.patch.image.tag=v1.5.2 --devel ingress-nginx ingress-nginx/ingress-nginx

Gonna open the PR here

[2021-08-09 21:25] rikatz commented on #7430
so, what you need to do is actually add a --watch-ingress-without-class on your deployment.

the default:true on ingressClassResource only works for new objects, but old ones will still not have a ingressClassName. You can try changing the value in your spec, or in your deployment add that flag above that this should work.

The new helm chart is already merged but not released (https://github.com/

[2021-08-09 22:51] longwuyuan commented on #7430
I feel we need some discussion and decision on cherry picking the chart,
the migration doc and that blog edit because several issues have been
submitted around this topic. But I wait for what you all think.

Best regards,

; Long

On 8/10/21 2:56 AM, Ricardo Katz wrote:

[2021-08-09 23:35] rikatz commented on #7398
@kd7lxl see the description as well, added the required cherry picks before merging

[2021-08-09 23:38] maybe-sybr commented on #7418
That `helm install` command appears to work fine for me, @rikatz. Output from the controller pod serving from a simple static landing page service for your reference:
[code]

Thanks for chasing this up!

[2021-08-10 02:18] rikatz commented on #7418
Great news. Thank you all for sticking with us :)

 I’m expecting some answer on this by tuesday this week (aka tomorrow in my timezone) and will discuss with other maintainers the best approach so this wont be a showstopper.

Will keep this issue open right now, as there’s no official solution yet

[2021-08-10 07:11] Stono commented on #6896
@rikatz as I mentioned above, we can observe notably high CPU under load (almost double) so you should be able to reproduce that relatively easily with some load testing and then switching versions (https://github.com/kubernetes/ingress-nginx/issues/6896#issuecomment-788886910).

[2021-08-10 08:51] filidorwiese commented on #6055
Thanks @liarco for this great solution!

Bonus tip: instead of changing the helm chart you can also create a `patch.yml` containing:

[code]

and update with:

[code]

[2021-08-10 09:28] fracarvic commented on #7418
Tested helm chart 4.0.0-beta.1 with webhooks enabled
[code]
and works perfectly, can create new ingress resources without problem.

Thanks.

[2021-08-10 12:03] zryfish commented on #7090
Sorry for the delay, been busy lately. I've made a draft PR https://github.com/kubernetes/ingress-nginx/pull/7472, which can watch namespaces only matches the selector given(through `--watch-namespace-selector` flag). It's just an initial PR, still lots of tests code to be written.  Open to suggestions and any kind of feedback, just want to make sure I'm heading in the right direction.

[2021-08-10 12:11] robinelfrink commented on #7465
I'm `curl`-ing through a `haproxy`-server.

[2021-08-10 13:28] longwuyuan commented on #7465
HAProxy or Nginx-ReverseProxy are less known uses cases and not even documented.

The known use-cases are  ;
- Cloud-provider provisioned LoadBalancer
- Baremetal env with Metallb
- nodePort

as documented here https://kubernetes.github.io/ingress-nginx/deploy/

/remove-triage needs-information

[2021-08-10 14:14] rikatz commented on #7320
/reopen

[2021-08-10 14:14] rikatz commented on #7320
https://github.com/kubernetes/ingress-nginx/pull/7473 <- updating the images in Makefiles

[2021-08-10 14:39] cledavid opened #7474 "Add an Arg in the controller-deployment to make default-ssl-certificate usefull"
Hi,

The key default-ssl-certificate is defined in the value.yaml of the chart but is not used.
In the case where we would like to have a default ssl certificate (*.domain.com) owned by nginx and passed to the different ingresses, this is not possible at the moment with the chart.

I think adding this :
[code]
in templates/controller-deployment.yaml in the args (L81+) shoud do the trick

/kind fea

[2021-08-10 14:45] #7474 closed

[2021-08-10 16:52] #7412 closed

[2021-08-10 20:10] wyndigo commented on #6849
I'm curious, since you don't support clustered memcached, what is the failure behavior if Memcached is down/unreachable?

[2021-08-10 20:55] shahriak opened #7476 "SSL passthrough failing service calls"
Hello,

I am using Linkerd with Ingress-nginx in SSL passthrough mode. Below is my ingress config. I have set --enable-ssl-passthrough in my deployment resource for ingress controller as well.

[code]

Error I am seeing:

[code]

[code]

[2021-08-10 21:22] chance2021 commented on #5513
Hi, I managed to update the "large-client-header-buffers" in the nginx via configmap. Here are the steps I have followed..

1. Find the **configmap name** in the nginx ingress controller pod describition
[code]
Note: In my case, the namespace is "test-namespace" and the configmap name is "test-nginx-ingress-controller"

2. Create a **configmap yaml**
[code]

**Note**: Please replace the **namespac

[2021-08-11 05:19] longwuyuan commented on #7476
Hi,
There is not enough information here. When you created the issue, there is a default template generated that lists the information that can help. Please look at that and add information so someone can help you resolve this.

[2021-08-11 05:19] longwuyuan commented on #7476
/remove-kind bug
/triage needs-information

[2021-08-11 05:36] robinelfrink commented on #7465
My issue is not with getting traffic to ingress-nginx.

From the master node:

[code]

Then after removing the annotations from the Ingress in namespace `ns-two`:

[code]

[2021-08-11 06:00] longwuyuan commented on #7465
If you look at the logs of the ingress-controller, you may find some information related to the request and the backend it was routed to.

[2021-08-11 06:42] #7476 closed

[2021-08-11 07:22] longwuyuan commented on #7465
Hi, I need to thank you for this issue. i have reproduce the problem.
We are pre-occupied with a release that addresses the deprecations of older api in K8s v1.22.
I will keep track of this and update.

Basically, if the name of the app, the default-backend, the ingress object is the same, then the response is coming from a default-backend from another namespace.

We have not hit this so far in my

[2021-08-11 07:23] longwuyuan commented on #7465
/kind bug

@bhumijgupta let me know if you want to pair with me on this

[2021-08-11 07:45] longwuyuan commented on #7465
Hi,
Thank you for the PR as well. The test your personal image wobin/ingress-nginx:backend-name passed in my cluster as well. Apologies for the delay, I should have tried to reproduce sooner.

[2021-08-11 07:47] dharmendrakariya commented on #1067
https://www.yellowduck.be/posts/k8s-getting-real-ip-digital-ocean/

[2021-08-11 07:47] robinelfrink commented on #7465
No problem. We have a prefectly fine workaround with not using the same Service name for `custom-default-backend`.

I'm currently trying to make the tests for the PR pass.

[2021-08-11 08:51] longwuyuan commented on #1067
Please discuss on slack at kubernetes.slack.com in the Digitalocean-k8s
channel.

Thanks,
; Long

On Wed, 11 Aug, 2021, 1:17 PM dharmendra kariya, ***@***.***>
wrote:

[2021-08-11 09:37] tiejunhu commented on #4944
same issue here, some of the timeout requests are retried, some not. so solution so far.

[2021-08-11 11:38] jonaskello opened #7480 "Jobs still starting on Windows nodes"
As mentioned in #6302 and partly resolved in PR #6305 some pods start on Windows nodes and get stuck when using the helm chart version 3.35.0.

Specifically I now have the pod `ingress-nginx-admission-create-8hlv4` stuck on a Windows node.

The PR in #6305 added nodeselector for linux for the controller pod but there are two more places where it needs to be added for the admission create and patch

[2021-08-11 11:56] jonaskello commented on #7480
I was able to solve it for now using this override for the values:

[code]

Since these jobs/pods cannot run on Windows I think the above should be included as the default.

[2021-08-11 11:59] longwuyuan commented on #7480
Your suggestion seems like the right thing to do.

Can you submit a PR.

--
Thanks,
; Long

On 11/08/21 5:26 pm, Jonas Kello wrote:

[2021-08-11 12:19] jonaskello commented on #7480
I signed it

[2021-08-11 12:30] tao12345666333 commented on #7480
I prefer to remind in the document, rather than set as the default value

[2021-08-11 14:56] shybbko opened #7483 "GKE External TCP LB is created with a forwarding rule for a range of ports instead of a set of ports"
**NGINX Ingress controller version**: 0.48.1

**Kubernetes version**:
[code]

**Environment**:
GKE running on kernel 5.4.109+ with Docker 19.3.15.
The environment was created by Terraform 0.14.11 and Helm 3.5.2.

**Deployment mechanism**

Terraform invokes Helm:
[code]

while also overriding some default values:
[code]

which basically creates a service definition like below (this is a cropped out

[2021-08-11 15:22] longwuyuan commented on #7483
hi, On that specific cluster, will you be able to follow the docs  https://kubernetes.github.io/ingress-nginx/deploy/#gce-gke  and try this manifest   https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.48.1/deploy/static/provider/cloud/deploy.yaml   instead of the helm chart, and update the results here. thanks

[2021-08-11 15:23] longwuyuan commented on #7483
/remove-kind bug
/triage needs-information

[2021-08-11 15:28] shybbko commented on #7483
@longwuyuan are you trying to establish whether the issue is cluster-related? I am seeing this on multiple clusters (GCP projects) in my organisation and am certain that the issue is between the Helm chart and Google Kubernetes Engine.

If that's not what you're trying to establish though then I can check the manifest, no problem ;)

[2021-08-11 15:39] longwuyuan commented on #7483
I think your description is very informative and the summary is very helpful.

I am trying to get data into this issue so people looking at this will have info to work with. Appreciate your co-operation.

It will will help if you remove the currently installed controller using helm so all objects installed by helm-chart are gone, before you attempt this manifest.
It will also help, if you do not u

[2021-08-11 15:45] longwuyuan commented on #7483
ok. Appreciate the help. Thanx.
/assign

[2021-08-11 15:46] longwuyuan commented on #7465
/assign

[2021-08-11 19:15] bbhenry commented on #3202
@michaelgeorgeattard Is the shared loadbalancer an internal one and is it using Network loadbalancer? I have the same use case but I am using the classic loadbalancer, and nginx did not update those additional ports to the ELB nor security groups.

[2021-08-11 19:31] kayrus commented on #7466
@aledbf could you please estimate this task? Quick fix doesn't work, since `certificate.lua` requires `resty.http`, which cannot be imported in the stream nginx section.

[2021-08-12 06:08] beefsack commented on #5401
We were able to remove our dependency on this workaround from our development environments over the past couple of weeks, so the issue is resolved for our use case.

[2021-08-12 10:38] olafnorge commented on #7442
@tao12345666333 @Debanitrkl sorry for bothering you again. Any updates here? Have been able to check what I posted [here](https://github.com/kubernetes/ingress-nginx/issues/7442#issuecomment-893403258)?

[2021-08-12 10:46] gadekarnitesh commented on #6136
Hi
I am trying to preserve the client IP for UDP. using following custome properties:

controller:
  ingressClass: udp-ingress
  proxySetHeaders:
   proxy-protocol: "True"
   real-ip-header: "proxy_protocol"
  service:
    enableHttp: false
    enableHttps: false
    externalTrafficPolicy: Local
udp:
 162: "default/snmp:162"

but not working for me.

can someone please me on this.

[2021-08-12 10:49] gadekarnitesh commented on #6163
@kskalski  is it possible to get real client IP for UDP>
I am create the ingress controller using following properties but not working.
`
controller:
  ingressClass: udp-ingress
  proxySetHeaders:
       proxy-protocol: "True"
      real-ip-header: "proxy_protocol"
  service:
    enableHttp: false
    enableHttps: false
    externalTrafficPolicy: Local
udp:
 162: "default/snmp:162"`

[2021-08-12 10:55] gadekarnitesh commented on #3447
could you please share the example it will really help for me.

Thanks

[2021-08-12 11:41] anurag4516 commented on #6506
Any Update on issue  .. We are also facing same

[2021-08-12 14:07] oranerez opened #7484 "Enhance datadog tracer functionality"
Current datadog support is low in options comparing to installing datadog trace agent on environment.
If possible would like to get the option to include the basic environment variables to support better datadog logging and tracing:

DD_VERSION
DD_LOGS_INJECTION

source:
https://docs.datadoghq.com/getting_started/tagging/unified_service_tagging/?tab=kubernetes
https://docs.datadoghq.com/tracing/co

[2021-08-12 18:07] #7407 closed

[2021-08-12 18:09] rikatz commented on #5883
@msschl can you confirm comment from @miry does not work your for you?

https://github.com/kubernetes/ingress-nginx/issues/5883#issuecomment-818570161

Also there's some instrumentation module for OTEL right now, if someone proposes to work on a PR for this I can review it.

[2021-08-12 19:21] rikatz commented on #7140
This was due to changes in the manifests from v0.X to v1. Can you please try again?

Thanks

[2021-08-12 19:32] kingdonb commented on #7418
Just tested helm chart 4.0.0-beta.2 with all of my customizations removed, with the included image and with re-enabled admission webhooks. It's working for me. 👍

[2021-08-12 20:28] longwuyuan commented on #7465
/reopen

Hi @robinelfrink  , I am reopening this after bot closed it with your previous PR merged. Reason being the importance of the fix. But the e2e tests are still a pending task. Wanted to talk to you about it. When you get a chance, please ping me on slack. Thanks.
; Long

[2021-08-12 20:37] fracarvic commented on #7418
Tested helm chart 4.0.0-beta.2 with default admission configuration from chart and all is working well.

[2021-08-12 20:42] longwuyuan commented on #7418
Thanks for updating @kingdonb @fracarvic

[2021-08-12 21:18] jogindercc commented on #6293
I'm facing same 403 from default_backend pod when using https in the query parameter of URI.

example request1: works fine.
https://api.example.com/example/v1/cutomepage?url=abc.com/custompage2&a=bcustomepage=2
example request2: 403 from default backend.
https://api.example.com/example/v1/cutomepage?url=https://abc.com/custompage2&a=bcustomepage=2

[2021-08-12 21:29] jogindercc opened #7488 "HTTP code 403 from default_backend"
**NGINX Ingress controller version**:
nginx-ingress-controller:0.29.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.17", GitCommit:"f3abc15296f3a3f54e4ee42e830c61047b13895f", GitTreeState:"clean", BuildDate:"2021-01-13T13:21:12Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Majo

[2021-08-13 00:44] maybe-sybr commented on #7418
@longwuyuan - the new chart also works for me with all of my changes reverted and replaced with a simple `--version 4.0.0-beta.2` option. Thanks!

[2021-08-13 01:28] longwuyuan commented on #7418
Thank you for updating @maybe-sybr

[2021-08-13 01:43] longwuyuan commented on #7488
/remove-kind bug
Can you add all related information related to the issue here.

[2021-08-13 01:44] longwuyuan commented on #7488
/triage needs-information

[2021-08-13 01:48] longwuyuan commented on #7418
/close

[2021-08-13 01:48] #7418 closed

[2021-08-13 01:51] longwuyuan commented on #7480
/close as this https://github.com/kubernetes/ingress-nginx/pull/7481  is merged

[2021-08-13 01:52] longwuyuan commented on #7480
/close

[2021-08-13 01:52] #7480 closed

[2021-08-13 03:46] briantopping commented on #7418
Happy to report success as well. Thanks to the team for your hard work getting this quickly resolved!

[2021-08-13 08:31] longwuyuan commented on #7418
@briantopping thank you

[2021-08-13 09:00] Lirt commented on #7445
Hello, do I understand correctly that with this merged fixed I am able to bind to port 80 with `allowPrivilegeEscalation: false`?

Any chance to release this fix as patch release?

[2021-08-13 09:03] tobiasgiese commented on #7445
@Lirt, that's correct.
Unfortunately, I don't know if this fix will be released as a patch. Maybe @rikatz can answer this?

[2021-08-13 09:09] #6960 closed

[2021-08-13 12:02] rikatz commented on #7445
It will be present in the next v0.x release :) to be released probably today (I'm on PTO today but folks will work on this)

[2021-08-13 14:19] constb commented on #5496
I think this needs to change: https://github.com/kubernetes/ingress-nginx/blob/807fd692097ad2dcc113d9f7716186b961b85a2c/internal/ingress/annotations/cors/main.go#L39

[2021-08-13 19:30] nareshkota2008 opened #7491 "An ingress resource was unable to foward HTTPS traffic to the application that is listening for HTTPS traffic"
Hi Team,

Issue:
A service exposed via an ingress resource was unable to forward HTTPS traffic to the application that is listening for HTTPS traffic. When the same service is exposed using a Loadbalancer service, the service is NLB is able to forward the HTTPS traffic and the application is reachable.

service.yaml

[code]

INgress:
[code]

[2021-08-13 19:53] longwuyuan commented on #7491
Please discuss this at kubernetes.slack.com in the ingress-nginx-uses
channel. Thanks.

On 14/08/21 1:00 am, nareshkota2008 wrote:

--
Thanks,
; Long

[2021-08-14 02:26] longwuyuan commented on #7398
- /docs/deploy/index.md has hardcoded links to v0.47.0 in the dev-v1 branch.
- /docs/deploy/upgrade.md , docs/examples/static-ip/nginx-ingress-controller.yaml also need updated links that are hard-coded now

[2021-08-14 07:58] gkapkowski commented on #7413
Hi, is there any update on this? I'm having the same issue

[2021-08-14 18:14] freshteapot commented on #7418
Out of curiosity...

What is the command you are using to install the "specific version"?

[code]

[code]

I am trying

[code]

But the Changelog is still 3.34.

I do note a continued issues around "--version" over https://github.com/helm/helm/issues/8739.
But I cant ignore people in this thread saying it worked.

Even when I do fetch without untar, the tar image references the old Changelog and m

[2021-08-14 21:33] longwuyuan commented on #7418
--devel

Thanks,
; Long

On Sat, 14 Aug, 2021, 11:44 PM Chris, ***@***.***> wrote:

[2021-08-15 08:53] longwuyuan opened #7495 "improve RELEASE.md"
Improve the /RELEASE.md with more details.

[2021-08-15 09:50] longwuyuan commented on #7495
/assign

Thanks,
; Long

On Sun, 15 Aug, 2021, 2:23 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-08-15 15:35] longwuyuan commented on #7495
/area docs

[2021-08-15 23:10] maybe-sybr commented on #7418
@freshteapot

The chart's changelog doesn't appear to have been updated yet. Check the `Chart.yaml` instead. I use `helm pull ingress-nginx/ingress-nginx --version <exact_version>` and it pulls the one I asked for.

[2021-08-15 23:36] dmitry-mightydevops commented on #7413
No, unfortunately mixing of TCP/UDP services is not working.

[2021-08-16 00:26] #6963 closed

[2021-08-16 01:27] #6876 closed

[2021-08-16 04:46] longwuyuan commented on #7418
Can you check the release we made 2 days ago and update ;
% helm search repo ingress --devel
NAME                            CHART VERSION   APP VERSION     DESCRIPTION
ingress-nginx/ingress-nginx     4.0.0-beta.3    1.0.0-beta.3    Ingress controller for Kubernetes using NGINX a...
[~]
%

[2021-08-16 09:23] tobiasgiese commented on #7445
Should I create an PR to update the Helm charts [values.yaml](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L18-L19) and the [static provider manifests](https://github.com/kubernetes/ingress-nginx/tree/main/deploy/static/provider) (i.e., set `allowPrivilegeEscalation=false` and the image `tag` & `digest`)?

[2021-08-16 09:32] Lirt commented on #7445
Would be great to include it in the `0.x`, until `1` has stable release.

[2021-08-16 10:36] rikatz commented on #7430
So the new helm chart already have option to enable watching all without ingress class.

Can we close this issue?

[2021-08-16 11:02] RenatoBrittoAraujo commented on #7344
Hi! Is this issue being developed or is it stale @Debanitrkl? If it's stale, I would like to take it, if possible.

[2021-08-16 11:19] Debanitrkl commented on #7344
@RenatoBrittoAraujo yes you could take it

[2021-08-16 11:20] ati46 opened #7497 "Request 404 after canary is enabled"
I want to use canary to achieve different heard pointing to different services. The request can reach the backend service when the canary is not used, and the request keeps 404 after the canary is enabled
kubectl: 1.21.3
ingress-nginx/controller-v0.48.1
yaml content:
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: dev-ingress
  namespace: dev
  annotations:
    nginx.ingress.kuber

[2021-08-16 11:34] #6974 closed

[2021-08-16 16:52] RenatoBrittoAraujo commented on #7344
/assign

[2021-08-16 17:06] longwuyuan commented on #7497
/remove-kind bug

Hi, because of a scheduled release, most engineers are pre-occupied. Please come to kubernstes.slack.com and discuss this. Thanks

[2021-08-16 17:07] longwuyuan commented on #7497
/triage needs-information

[2021-08-16 17:36] #6980 closed

[2021-08-16 18:33] therc opened #7498 "Pick an endpoint by $subdomain name"
I want foo.example.com to go to pod example/foo, bar.example.com to go to example/bar, etc. using just one headless service and one ingress.

If you create

1. a headless service without ClusterIP, but with a label selector
2. pods with both hostname and subdomain fields set in their spec, plus the selector's labels
3. a wildcard host ingress

you get almost there:
* the endpoints for the service

[2021-08-16 18:34] #6901 closed

[2021-08-16 19:46] freshteapot commented on #7418
@maybe-sybr thank you. This worked. A nice alternative to "fetch --untar".
Now I have it down and verified the Chart.yaml (Another fine tip!).
I will try again, to understand what my next user error is :).

The error

How I got here

[code]

More output

[code]

## values file

[code]

The issue still seems to be linked to:

- MountVolume.SetUp failed for volume "webhook-cert"
- secret "frontdoor-

[2021-08-17 01:26] CosmosNi opened #7500 "How to get source_ip in stream for UDP"
hello,When I use ingress reverse proxy UDP,I can only get the IP address of the ingress,How can I solve this problem.

this is my yaml:
apiVersion: v1
kind: ConfigMap
metadata:
  name: udp-services
  namespace: ingress-nginx
data:
  9000: "default/trap-process:8888"

example:
source_ip: 172.12.5.10
Ingress ip: 10.225.12.10
serviceA ip: 10.223.12.11

source_ip -> Ingress_ip ->service_ip

i want get

[2021-08-17 10:34] utamas commented on #7079
@tao12345666333 please let me know if I can help you in any ways in evaluating this issue

[2021-08-17 11:55] rikatz commented on #7079
Hey @utamas

We are on a code freeze before releasing v1 GA, so after this we will return into checking PRs :D

Thanks, and keep the contributions coming :)

[2021-08-17 14:25] gtskaushik commented on #5496
This is a much needed implementation

[2021-08-17 14:39] iamNoah1 commented on #5496
@tokers @matthewhartstonge @jfbrennan @constb @gtskaushik we accept are happy for any contributions.

[2021-08-17 14:52] iamNoah1 commented on #6178
Hi @evredinka @tschirmer @VladyslavKurmaz can you confirm that this bug exists with newer versions of ingress-nginx?

[2021-08-17 15:09] strongjz commented on #7500
This is documented here. https://kubernetes.github.io/ingress-nginx/user-guide/miscellaneous/#source-ip-address

/close

[2021-08-17 15:09] #7500 closed

[2021-08-17 15:18] strongjz commented on #7417
Any update @kundan2707 ? Do you have a PR open for this?

[2021-08-17 15:21] strongjz commented on #7417
I see, there is some confusion, I apologize, the examples in main are pre v1 updates. We are working on getting everything switched over for the ingress-nginx v1 update to support v1 ingress and k8s > 1.19.

We are tracking that here https://github.com/kubernetes/ingress-nginx/issues/7398

/close

[2021-08-17 15:21] #7417 closed

[2021-08-17 15:22] strongjz commented on #7396
@paalkr do you have PR opened for this yet?

[2021-08-17 15:24] iamNoah1 commented on #6545
Hei @danfromtitan with the hint from @ecktom (thanks for that one) do you still consider this feature request? Or do you want to see some documentation for such a scenario? Otherwise please consider closing this issue.

[2021-08-17 15:25] evredinka commented on #6178
@iamNoah1 Let me check today or later this week

[2021-08-17 15:33] iamNoah1 commented on #6822
@baudlord we are happy for any contribution. Go for it :)

[2021-08-17 15:33] iamNoah1 commented on #6822
/remove-lifecycle rotten

[2021-08-17 15:54] iamNoah1 commented on #6506
/help

[2021-08-17 15:58] #6545 closed

[2021-08-17 16:50] strongjz commented on #4760
/priority important-longterm
/triage accepted
/lifecycle active

[2021-08-17 16:50] strongjz commented on #3898
/assign @longwuyuan

[2021-08-17 16:52] strongjz commented on #5012
/triage accepted
/priority longterm-backlog

[2021-08-17 16:52] strongjz commented on #5012
/priority backlog

[2021-08-17 16:54] strongjz commented on #5667
/assign @rikatz

[2021-08-17 16:54] strongjz commented on #5667
/lifecycle active

[2021-08-17 16:56] strongjz commented on #6287
If we add logging about the shutdown, would that be enough?

[2021-08-17 16:57] iamNoah1 commented on #6287
@rittneje reminder

[2021-08-17 17:29] janosi opened #7502 "The new v1.0.0 IngressClass handling logic makes a zero-downtime Ingress controller upgrade hard for the users"
**NGINX Ingress controller version**: v1.0.0 vs 0.4x

**Kubernetes version** (use `kubectl version`):
1.19, 1.20, 1.21, 1.22

**Environment**:

- **Cloud provider or hardware configuration**: Not relevant, the problem is generic for all users
- **OS** (e.g. from /etc/os-release): Not relevant
- **Kernel** (e.g. `uname -a`): Not relevant
- **Install tools**: Not relevant
- **Basic cluster related i

[2021-08-17 17:30] janosi commented on #7502
@rikatz @strongjz Please check this issue. I created it according to our agreement on the SIG Network Ingress meeting on 17th August 2021.

[2021-08-17 18:10] rittneje commented on #6287
@strongjz Yes, assuming those logs would be sent to the main container's stderr/stdout.

[2021-08-17 20:15] VladyslavKurmaz commented on #6178
@iamNoah1 In our case, it just confirmed next bulletproof rule: in 99,9% cases the issue is on our side.
In our AWS  k8s cluster, we have two types of node pools and there was network configuration issue between them.
That is why the same configuration Nginx ingress + our application worked fine using Digital Ocean and did not using AWS.
After hotfix everything works fine.

[2021-08-17 21:06] iAnomaly commented on #4479
Indeed this needed even for using the currently supported `enable-real-ip` ConfigMap key if you also want to configure `real_ip_recursive` as per the [Module ngx_http_realip_module documentation](http://nginx.org/en/docs/http/ngx_http_realip_module.html#real_ip_recursive).

[2021-08-17 21:08] iAnomaly commented on #4479
@yelhouti Would you mind reopening this with a `/reopen` comment?

[2021-08-17 21:11] yelhouti commented on #4479
/reopen

[2021-08-18 08:26] paalkr commented on #7396
Yes, now I do.

[2021-08-18 10:08] artemkoru commented on #7108
We need the same feature too! Thanks!

[2021-08-18 10:40] imranrazakhan commented on #7448
@muka I tested beta3 and it works without disabling admission hook, I only have to add `--watch-ingress-without-class=true`

[2021-08-18 12:18] longwuyuan commented on #7108
What are the thoughts on ensuring that the sidecar is incapable of creating problems.

[2021-08-18 12:47] SungYil opened #7504 "MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found"
**NGINX Ingress controller version**:  https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.48.1/deploy/static/provider/aws/deploy.yaml

**Kubernetes version** (use `kubectl version`):  GitVersion:"v1.22.0"  GoVersion:"go1.16.6", Compiler:"gc", Platform:"linux/amd64"

**Environment**:

- **Cloud provider or hardware configuration**: aws ec2 ubuntu
- **OS** (e.g. from /etc/os-re

[2021-08-18 13:00] longwuyuan commented on #7504
/remove-kind bug
/triage needs-information

Please add output of `date && kubectl version` here

[2021-08-18 13:04] SungYil commented on #7504
output of date && kubectl version
[code]

[2021-08-18 13:16] longwuyuan commented on #7504
Your reply came as email but not updated here so copy/pasting ;
[code]

Please try this and provide feedback  https://github.com/kubernetes/ingress-nginx/blob/dev-v1/deploy/static/provider/aws/deploy.yaml

[2021-08-18 13:21] SungYil commented on #7504
I've tried kubectl apply -f https://github.com/kubernetes/ingress-nginx/blob/dev-v1/deploy/static/provider/aws/deploy.yaml
`error: error parsing https://github.com/kubernetes/ingress-nginx/blob/dev-v1/deploy/static/provider/aws/deploy.yaml: error converting YAML to JSON: yaml: line 120: mapping values are not allowed in this context`

[2021-08-18 13:34] KarsonAlford commented on #7461
I attempted to follow these instructions https://docs.nginx.com/nginx-ingress-controller/installation/installation-with-helm/.  They do not work.  I eventually found the instructions you link to from Getting Started here https://kubernetes.github.io/ingress-nginx/deploy/ and they do work.

Will the docs.nginx.com documentation be updated also?

[2021-08-18 13:38] longwuyuan commented on #7504
This is a known issue and the yaml I suggested above should have worked. Because it is not working, your help is needed in the form of information that is detailed.
`kubectl get all,nodes,ing -A -o wide`
`kubectl get events -A -o wide`

[2021-08-18 13:44] SungYil commented on #7504
kubectl get all,nodes,ing -A -o wide
[code]
kubectl get events -A -o wide
[code]

[2021-08-18 13:47] longwuyuan commented on #7461
@KarsonAlford ,This github repo relates to https://kubernetes.github.io/ingress-nginx/ .. THe link you posted is not related to this repo or the project.

[2021-08-18 13:51] longwuyuan commented on #7504
Uninstall what you have now using the same YAML that was used to install it.

Only when you have cleaned away all the old installation, you are better off trying the URL I suggested.

[2021-08-18 13:54] SungYil commented on #7504
When I installed the yaml file you gave me, I deleted the current ingress-controller and tried it, but the error occurred.

[2021-08-18 14:02] longwuyuan commented on #7504
This error ;
[code]
Install with -v=8 and copy/paste al lthe info here. maybe some helpful info can be seen there

[2021-08-18 14:19] SungYil commented on #7504
Where should I give the -v option?.....
I tried kubectl apply -f https://github.com/kubernetes/ingress-nginx/blob/dev-v8/deploy/static/provider/aws/deploy.yaml , but I get a 404 error
I'm just learning kubernetes so I'm sorry I'm not very good at it...

[2021-08-18 14:33] longwuyuan commented on #7504
Please close the issue and come discuss this on slack at kubernetes.slack.com in the ingress-nginx-users channel.

[2021-08-18 15:53] villesau commented on #4825
How can this be applied on per route basis?

[2021-08-18 20:27] longwuyuan opened #7506 "Release v0.49.0"
Release v0.49.0

/assign

[2021-08-18 20:29] longwuyuan commented on #7506
4. PREPARE for a new Release

    This involves editing of several different files. So carefully follow the steps below and double check all changes with diff/grep etc., repeatedly. Mistakes here impact endusers.

a. Make sure your git workspace is ready

    Get your git workspace ready

        If not using a pre-existing fork, then Fork the repo kubernetes/ingress-nginx

        Clone (to lapto

[2021-08-18 21:29] marcportabellaclotet-mt opened #7507 "Add more Additional available variables in log format"
Currently, log format accepts 4 Additional available variables :
- $namespace
- $ingress_name
- $service_name
- $service_port
It would be great, if log format could read additional service information. For example service labels.
This would be useful for track our application version using labels. If this information can be viewed in ingress logs, would be useful to us.

/kind feature

[2021-08-19 00:44] wswind commented on #6634
workaround : https://stackoverflow.com/questions/48659392/edit-max-conns-in-kubernetes-ingress-ngnix

This is also a very important feature for me.

[2021-08-19 02:28] wswind commented on #6634
the workaround https://stackoverflow.com/a/48693860/7726468 is no working anymore, the nginx template (v4.8.1) has changed to:
[code]
Is there any way to set the max_conns? Anyone can help?

[2021-08-19 02:31] wswind opened #7508 "any workaround for upstream max_conns?"
the workaround https://stackoverflow.com/a/48693860/7726468 is no working anymore, the nginx template (v0.48.1) has changed to:
[code]
Is there any way to set the max_conns? Anyone can help?

_Originally posted by @wswind in https://github.com/kubernetes/ingress-nginx/issues/6634#issuecomment-901560348_

[2021-08-19 08:29] wswind commented on #7508
max_conns is very import for me to prevent service backend to be overloaded, is there a workaound to make this work with ingress nginx controller?

[2021-08-19 13:19] darox commented on #7448
Has this something to do with ?
`8 reflector.go:138] k8s.io/client-go@v0.20.2/tools/cache/reflector.go:167: Failed to watch *v1beta1.Ingress: failed to list *v1beta1.Ingress: the server could not find the requested resource`

[2021-08-19 13:32] longwuyuan commented on #7508
Please show the details of the cluster and the controller as requested in the template of a new issue.

[2021-08-19 13:54] kayrus commented on #7466
@yelhouti could you please assign someone to estimate this task?

[2021-08-19 16:29] yelhouti commented on #7466
@kayrus ??

[2021-08-19 19:32] shybbko commented on #7483
@longwuyuan Apologies that it has taken so long. I couldn't be meddling with the cluster that I originally used when reporting the problem so I had to carve out some time to spin up a test one. But now the test cluster is online and we can break it any time we need.

I was managed to replicate the issue on the new test cluster by using both methods:
- by using Terraform & Helm exactly as in the or

[2021-08-19 20:34] lz000 commented on #5373
/reopen

[2021-08-19 20:35] lz000 commented on #5373
I'm having the same issue. What did you end up doing? @teddybdc @hyperbolist

[2021-08-19 21:37] teddybdc commented on #5373
I never resolved it.  To my knowledge it is not possible.  I mentioned in the original writeup that we were porting a legacy application into Kubernetes and trying to get initial support for it without modifying it.  Since I wrote that we eventually modified the application to share session state so that it doesn't matter which pod the requests go to.  This was always understood to be the "correct

[2021-08-20 01:47] yongjie-gong opened #7510 "New ingress-controller should not mandate the cluster level permission on IngressClass"
**NGINX Ingress controller version**: v1.0.0-beta.1

**Kubernetes version** (use `kubectl version`): 1.21.0

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):  CentOS Linux release 7.6.1810 (Core)
- **Kernel** (e.g. `uname -a`): Linux shc-sma-cd56.hpeswlab.net 3.10.0-957.5.1.el7.x86_64 #1 SMP Fri Feb 1 14:54:57 UTC 2019 x86_64 x86_64 x86_64 GNU

[2021-08-20 09:37] olafnorge commented on #7442
@tao12345666333 @Debanitrkl did you have time to take another look?

[2021-08-20 09:48] wswind commented on #7508
This custom template for ingress nginx controller is an old workaround for setting **nginx upstream max_conns** from [stackoverflow](https://stackoverflow.com/a/48693860/7726468), since  the official annotation does not support it :
[code]
But the new version of ingress controller no longer create "upstream" section for every backend as the comment says , it's dynamic using lua.
So any suggestions

[2021-08-20 09:52] Debanitrkl commented on #7442
Hey I took a look at this couldn't find any problems with the ingress-nginx, I suggest you to have a discussion with other developers in the slack.

[2021-08-20 10:10] jjafrih commented on #7448
I was facing the same issue on Kubernetes version 1.22, this helm release worked for me. However, I had to disable "ValidatingWebhookConfiguration".

[2021-08-20 10:46] kayrus commented on #7466
@yelhouti mixed you up with repo maintainers

[2021-08-20 14:50] #7372 closed

[2021-08-20 16:03] #7272 closed

[2021-08-20 20:08] rikatz commented on #6573
/remove-lifecycle stale
@cpanato people asked me to ping you :P

[2021-08-21 00:39] longwuyuan commented on #7483
Hi @shybbko ,
Thank you very much for this information.

I seems odd that you have 2 deployments and yet have 3 services (related to the ingress nginx controller). While this will impact which ingress gets honored by which controller instance, the first reason for opening this issue is still different.

I think next step is to have a discussion in the community meeting. These occur once every 2 we

[2021-08-21 07:39] longwuyuan commented on #7510
/remove-kind bug

- There will be more documentation related to controller v1.X.X when it is released as GA.
- That documentation will explain the need for a ingressClass.
- You can use controller v1.X.X with a flag to the controller startup args like `--watch-without-ingress-class `
- Old versions of the ingress related api gets deprecated in K8s v1.22 so for we are releasing v1.X.X of the contro

[2021-08-21 09:23] iamNoah1 opened #7516 "Licence Scan is failing with 54 Problems"
On the readme there is a licence scan badge which is failing. According to the following link, we have 54 problems with licences: https://app.fossa.io/projects/git%2Bgithub.com%2Fkubernetes%2Fingress-nginx/refs/branch/master/62f9dc951647b589efd2244760b5a4b5736e184f/preview

/kind cleanup

[2021-08-21 09:24] iamNoah1 commented on #7516
/remove-kind bug

[2021-08-21 10:01] fblgit commented on #6798
We have same problem, ingress admission validation degrades after 100+ ingresses.. at 1000~ it takes 7s just to run nginx -t, at 2000~ it takes 12-13s~
This PR should fix your problem, I don't think there is any other way to actually get the admission to work fast on a fleet with so many ingresses..

https://github.com/kubernetes/ingress-nginx/pull/7514

[2021-08-21 10:21] fblgit commented on #6245
Yes, race condition on ngx_merge contexts.  It stills happens on 0.48.1, mostly on large nginx.conf
@iamNoah1 I can confirm this stills existing. But it only happens on large nginx.conf,

[2021-08-21 10:40] akshitgrover commented on #7510
@longwuyuan
This was discussed in #ingress-nginx-dev channel before @yongjie-gong filed the issue
@rikatz asked to file an issue

Also, I think the issue here is not regarding the use of IngressClass but the hard requirement of Cluster level permissions required for it. Basically, There can be a use case where we need to enable the ingress controller to implement Ingress objects only on a few name

[2021-08-21 12:12] rikatz commented on #7510
Yeah we need to fix this, at least for v1.0.1.

My suggestion right now is try to fetch the cluster scoped ingress class, if it fails per access denied do not fetch them to store and warn users about current permission not supporting ingress class

We should also start looking at how to support namespaced ingress classes

[2021-08-21 12:35] rikatz commented on #7510
/milestone v1.0.1

[2021-08-21 12:36] rikatz commented on #7448
we have improved the validation webhook container as well.

I'm closing this, as apparently the v1 beta3 solves what was described here but feel free to reopen!

[2021-08-21 12:37] rikatz commented on #7448
/close

[2021-08-21 12:37] #7448 closed

[2021-08-21 12:48] rikatz opened #7517 "Implement GatewayAPI in Ingress NGINX"
We need to start thinking about Gateway API (https://gateway-api.sigs.k8s.io/) in Ingress NGINX.

A good approach here would be to understand the internal controller data model  (https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/types.go) and how can we reconcile Gateway API objects into the internal model.

I'm aware that probably we will need some evolution into this datamod

[2021-08-21 12:49] rikatz opened #7518 "Optimize Image generation"
We should optimize image generation:
* Split mod_security from nginx
* split opentracing from nginx

After the above happens, we need to:

**After** merging this PR, we should:
* [ ] Create a new e2e test runner (https://github.com/kubernetes/ingress-nginx/blob/main/images/test-runner/Makefile) based in Debian image (we need to fix the Dockerfile to use apt instead of apk as well)
* [ ] Add the ne

[2021-08-21 12:50] rikatz opened #7519 "Support namespaced IngressClass"
Namespaced Ingress Class is already in Beta.

We should support it and allow users to use it instead of cluster scoped Ingress Class

[2021-08-21 12:56] rikatz opened #7520 "Migrate to go v1.17"
Due to some vulnerabilities in go v1.16 we should migrate code to go v1.17

It is probably easy, but by the same time annoying to do:

* Migrate go.mod
* Migrate all the image runner files
* Release a new e2e test runner image
* Promote the image
* Change in test-infra
* Make a new release with go v1.17
* Promote the release

[2021-08-21 12:56] longwuyuan commented on #7506
Closing becaue dup of https://github.com/kubernetes/ingress-nginx/pull/7509#discussion_r691925410

[2021-08-21 12:56] #7506 closed

[2021-08-21 12:57] longwuyuan commented on #7510
https://github.com/kubernetes/ingress-nginx/issues/7519

[2021-08-21 13:10] cpanato commented on #6573
@ToucanBran
Thanks for this Issue, are you willing to update the documentation to reflect the point you mention? I think you are the best person to come with some nice updates in the docs. what are your thoughts on that?

[2021-08-21 13:10] cpanato commented on #6573
/unassign

[2021-08-21 14:18] rikatz commented on #6969
@jarrettprosser hi,

Can you please test with the new ingress controller? we've fixed some bugs in this

Thanks

[2021-08-21 15:33] yuswift commented on #7520
I think we also need to upgrade github ci workflow to 1.17.

[2021-08-21 16:00] tao12345666333 commented on #7520
/help
/good-first

[2021-08-21 16:00] akshitgrover commented on #7510
@rikatz
I'd like to take this up
As I understand, We need to do away with the hard requirement of Get permissions for IngressClass objects, If permissions are not present we'll just issue a soft warning in the logs

And for v1.0.1 we'll be supporting Namespaced IngressClasses, Being tracked in #7519 as @longwuyuan tagged in the previous comment

[2021-08-21 16:01] tao12345666333 commented on #7520
/good-first-issue

[2021-08-21 16:02] tao12345666333 commented on #7520
Should we make this for only v1 or both v0.x and v1?

[2021-08-21 16:24] longwuyuan commented on #7520
oh, I just that he image runner is explicit in K8s version
[code]

[2021-08-21 20:42] #7398 closed

[2021-08-21 21:03] tao12345666333 commented on #7430
/milestone v1.0.0

[2021-08-21 21:13] tao12345666333 commented on #7430
I think we can close this. Feel free to reopen this if necessary.

/close

[2021-08-21 21:13] #7430 closed

[2021-08-22 01:46] rubenssoto commented on #4641
@yuvraj9 Could you configure prestodb with ingress nginx?

Could you help me?

Thank you

[2021-08-22 05:43] longwuyuan commented on #7413
hi @dmitry-mightydevops , if yo ucome talk about this at kubernetes.slack.com in the ingress-nginx-users channel, it is likely that several developers and engineers there will comment on it.
Exposing UDP services using the ingress-controller works as per my  test. I followed the docs.
It is likely that you have a listener not capable of UDP. Or there could be other reasons.  Discussing on slack ma

[2021-08-22 05:44] longwuyuan commented on #7413
/remove-triage needs-information

[2021-08-22 05:44] longwuyuan commented on #7413
/kind support

[2021-08-22 08:06] longwuyuan commented on #7508
hi, show the information relted to the cluster, controller, configmaps etc as requested in the template of the issue creation template. The information you have provided leaves others to guess about the problem and the solution.

Otherwise close the issue and discuss this on slack at kubernetes.slack.com in the ingress-nginx-users channel. thanks

/kind support

[2021-08-22 08:08] longwuyuan commented on #7510
/kind feature

[2021-08-22 08:10] longwuyuan commented on #7497
/remove-triage needs-information
/kind support

[2021-08-22 08:13] longwuyuan commented on #7491
/kind support

[2021-08-22 18:34] rikatz commented on #7510
@akshitgrover go for it :)

For now, we should not panic when ingress class is forbidden, but instead disable it

Ping me in slack if you need some help!

[2021-08-22 18:35] rikatz commented on #7510
/kind bug
/remove-kind feature

I think this is a bug, as we don't support namespaced ingress class yet, and we should not stop users of using the ingress-nginx if they don't have cluster wide permission for ingress class :)

[2021-08-22 18:48] rikatz commented on #6896
We have released a v0.49 with all Lua stuff updated.

I will test here, but if someone is willing to help and provide some tests as well, please be my guess :)

[2021-08-22 18:55] rikatz commented on #7502
So, my proposal is:
* If we prioritize the annotation over the class, does this work? If so, the correction is easy and we can in a future feature release (like 1.1 or 1.2) change this behavior
* If not, we should think in a better approach. In my personal opinion, rolling back to old ingress class behavior (watching the name instead of the controller spec) is doable, but would require a huge amou

[2021-08-22 19:56] rikatz commented on #7520
@yuswift promoted the images.

Now your PR should be (all in one):
* Change the go.mod
* Change ci.yaml
* Change all the test-runner references to point to `k8s.gcr.io/ingress-nginx/e2e-test-runner:v20210822-g5e5faa24d@sha256:55c568d9e35e15d94b3ab41fe549b8ee4cd910cc3e031ddcccd06256755c5d89`

Let me know when we can merge this :)

[2021-08-22 20:25] rikatz commented on #6896
OK, so so far what I can see from both ingresses (new and v0.45) I can see some race conditions while writing the file:

The CPU usage in v0.45 is much higher than in v1.0.0-beta3 also.

Will leave the environment running for a bit and check later.

There are 600 Ingresses objects, pointing to the same service. Maybe I need to add some more spice into this?

[code]

[2021-08-23 01:40] yuswift commented on #7520
Thanks for your suggestion. I've committed them in #7521

[2021-08-23 02:03] wswind commented on #7508
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`): v1.21.4

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.2 LTS
- **Kernel** (e.g. `uname -a`):  Linux k8s-master 5.4.0-81-generic
- **Install tools**:
  - kubeadm
- **Basic cluster related info**:
  - `kubectl version`   v1.21.4
  - `kubectl ge

[2021-08-23 02:20] wswind commented on #7508
What I want is to limit `max_conns` nginx already have in `Module ngx_stream_upstream_module` : <https://nginx.org/en/docs/stream/ngx_stream_upstream_module.html>

limits the maximum number of simultaneous connections to the proxied server (1.11.5). Default value is zero, meaning there is no limit. If the server group does not reside in the shared memory, the limitation works per each worker proce

[2021-08-23 04:12] longwuyuan commented on #7508
Does this help in any way https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#max-worker-connections  ?

[2021-08-23 04:16] wswind commented on #7508
No, It's not the same thing.  I'll try slack later, thanks.

[2021-08-23 04:32] longwuyuan commented on #7508
- You are repeatedly referring to a software that is not a release from this project
- This link is the nginx.org controller https://docs.nginx.com/nginx-ingress-controller/configuration/ingress-resources/advanced-configuration-with-annotations/
- This issue and this github repo is NOT related to the nginx.org controller
- This github repo is for https://kubernetes.github.io/ingress-nginx/
- The a

[2021-08-23 04:48] wswind commented on #7508
I know the difference between the two projects.  The referenct to nginx.com doc is only for explanation.
There is a dup feature request already https://github.com/kubernetes/ingress-nginx/issues/6634

I just want to know if there could be any workaround for setting max_conns with nginx tmpl.

[2021-08-23 07:39] akshitgrover commented on #7510
Sure thing
I'll assign it to myself
/assign

[2021-08-23 07:56] shybbko commented on #7483
[code]
Might be so. Didn't care much about this quite honestly. Will investigate when time allows.

[code]
Should I do something here? Or will the issue be discussed by the project mainteners anyway?

[2021-08-23 09:24] yueyongyue commented on #7438
goroutine  infinitely many

[2021-08-23 11:24] longwuyuan commented on #7483
I will bring it up. But if you join, we could get some insight and also
have some direct talk with you. I am still trying to think through on why
more reports have not come in. Thanks.

Thanks,
; Long

On Mon, 23 Aug, 2021, 1:26 PM shybbko, ***@***.***> wrote:

[2021-08-23 12:16] utamas commented on #7079
Hi @rikatz,

I'll start working on a PR, once it's confirmed that above described behavior is considered to be a bug (or a feature that should be amended).

[2021-08-23 13:27] bmv126 opened #7527 "run-ingress-controller.sh expects ingress controller pod to be running"
**NGINX Ingress controller version**: 0.48.1

**Kubernetes version** (use `kubectl version`):
[code]

**What happened**:
Used the run-ingress-controller.sh to launch with ingress-controller locally in docker.
The ingress-controller did not start as it expected `POD_NAME="invalid-namespace"` to be running.

[code]

**What you expected to happen**:
To run without any issues

**How to reproduce it**:

[2021-08-23 14:32] laghoule commented on #6896
Deployed on one of our non-critital ingress class.
It start without segfault this time. I will test on other more high load ingress somewhere this week. I will report back.

[2021-08-23 15:01] iamNoah1 opened #7528 "Add Information about triage process to contribution docs"
New contributors who want to help with issue triage should have some guidelines on how to do it.

/kind feature

[2021-08-23 15:01] iamNoah1 commented on #7528
/area docs

[2021-08-23 15:18] longwuyuan commented on #7527
/remove-kind bug
There is not enough information in the issue to be certain of a bug.
Maybe you can add all the related information hat is listed in the template of a new issue for a bug. That could help folks who want to help you.

[2021-08-23 15:35] janosi commented on #7502
I am afraid, prioritization of the annotation would not help :( The annotation has been in deprecated state since 1.18 and for that reason many users have started using the IngressClassName field instead. Those Ingresses do not have the annotation. That is, we would end up in requesting a mass Ingress update from the users, which update is not a long term solution either, as the annotation is depr

[2021-08-23 17:20] loudmouth commented on #7396
I'm unsure if my comment should be in this thread, so I apologize for the noise, but is it possible this could affect rate limiting as well?

Since our upgrade to 0.48.1 rate-limiting with the ingress annotations no longer seems to be applied per IP in a consistent manner—I've been unable to confirm yet, but it appears that limits are applied per replica per IP?

Anyway, part of why I ask here is

[2021-08-23 17:28] countablecloud commented on #2170
@glothriel Do you mean broken metrics on (1.) the ingress controller and/or cert manager pods or (2.) on all the deployments linked to that ingress (or 3. both...)? I'm contemplating using their hack as a method for getting around LetsEncrypt limits and I can theoretically tolerate 1 but, 2 or 3 are kind of deal breakers if it means no metrics from any of the workloads in the cluster that use this

[2021-08-23 17:38] glothriel commented on #2170
@countablecloud only some ingress controller metrics, afair it was connected to using wildcard hostname, not to the hack itself. We switched to haproxy due to that as ingress metrics were a must for us.

[2021-08-23 18:06] longwuyuan commented on #7527
/assign

[2021-08-23 18:13] longwuyuan commented on #7495
closing as merged https://github.com/kubernetes/ingress-nginx/pull/7525

[2021-08-23 18:13] #7495 closed

[2021-08-23 18:18] longwuyuan commented on #7508
/assign

[2021-08-23 18:21] longwuyuan commented on #7446
/assign
@TheDutchMC if this is no longer an problem, you can close this issue or update any change in status here

[2021-08-23 19:32] TheDutchMC commented on #7446
Yep it's fixed

[2021-08-23 19:32] #7446 closed

[2021-08-23 21:26] rikatz commented on #7520
@yuswift please cherry pick your PR to legacy branch!

Thanks!

[2021-08-23 21:30] davidamin opened #7530 "Support wildcard matching with SSL Passthrough"
When using SSL Passthrough, wildcard hostnames don't seem to match. It would be helpful to be able to match on wildcards, the same way we can when defining hosts that do terminate SSL in Nginx

#4332 seems to have made the same request but was closed.

To the best of my knowledge, this would not require a particular kubernetes version.

/kind feature

[2021-08-23 22:34] drmaciej commented on #7059
/remove-lifecycle rotten

[2021-08-24 01:58] #6482 closed

[2021-08-24 02:06] zerkms commented on #6237
/remove-lifecycle stale

[2021-08-24 03:48] kycfeel commented on #6504
It is still happening with the latest `v1.0.0-beta.3` image.

[code]

This is being a pretty serious issue since Kubernetes dropped the support for `networking.k8s.io/v1beta1`. from v1.22. For the Kubernetes cluster with v1.21 or lower version on `s390x` machine, it could use the older ingress-nginx image (`v0.40.2` or older AFAIK), but it does not work from the latest v1.22 due to the Ingress API

[2021-08-24 04:57] longwuyuan commented on #6504
The recent release activity has taken a lot of focus.
S390 is hard to come by.
Can we check what image you have.
Can you add the command and the output of ;
[code]

[2021-08-24 05:03] kycfeel commented on #6504
@longwuyuan Yeah sure. Here is the information.

[code]

[code]

[code]

[2021-08-24 05:09] longwuyuan commented on #7530
Just for clarity sake, can you please show ;
(1) A manifest for a ingress object here
(2) A curl request to use that ingress
(3) A curl request to the pod from inside the cluster bypassing the ingress

Thanks,
; Long

[2021-08-24 10:44] longwuyuan commented on #7438
The information you have provided is not enough.
I don't see those many connections if I create a backend service and a ingress object.
The version of the ingress controller 0.30.0 is very old. There are many changes since then.
Please install the current   release of  the Ingres-NGINX controller and update.
If problem still exists, please help and provide manifests and configs that we can use to

[2021-08-24 11:45] kundan2707 commented on #6602
/help-wanted

[2021-08-24 12:05] #7408 closed

[2021-08-24 15:10] osela commented on #5510
@aledbf is there any progress with this approach? or a label selector approach as @jaredledvina suggested would still be the way to go?

[2021-08-24 16:44] akshitgrover commented on #7510
I guess @yongjie-gong has already raised a PR
/unassign
/assign @yongjie-gong

[2021-08-24 17:01] akshitgrover commented on #7519
@rikatz
The issue I was working on initially, There is already a PR raised for it by another contributor
Since This is on the same lines, I'd like to take this one up
I hope it's fine
Thank you

[2021-08-24 20:27] rikatz commented on #7520
/close

[2021-08-24 20:27] #7520 closed

[2021-08-24 20:28] rikatz commented on #7519
@akshitgrover unfortunatelly I misunderstood the concept of Namespaced Ingress Class, which does not exists (what exists is the namespaced parameters) :/

I'm going to close this issue as this is not "doable" but we can discuss other things for you to work as well :)

/close

[2021-08-24 20:28] #7519 closed

[2021-08-24 20:29] rikatz commented on #6896
Thanks @laghoule and please keep me posted!

[2021-08-24 21:46] r0bobo commented on #7315
@ThisIsQasim We have seen and reported this exact same issue as well as described here https://github.com/kubernetes/ingress-nginx/issues/7047.

@longwuyuan Please don't derail this issue the same way as you did when we reported it.

Maybe this should be closed as a duplicate of our issue, but it is definitely still a bug!

[2021-08-25 00:04] longwuyuan commented on #7397
PR merged so closing https://github.com/kubernetes/ingress-nginx/pull/7524

[2021-08-25 00:04] #7397 closed

[2021-08-25 02:11] longwuyuan commented on #7315
Ah, sorry if my comments were not helpful.
To make improvements and fix a bug if any, we need to avoid misinformation or lack-of-details. Hoping we can get some information that helps to solve this and the other issue.

[2021-08-25 03:53] MarkMckessock opened #7538 "Second controller with controller-class configured listens to incorrect IngressClass"
**NGINX Ingress controller version**: v1.0.0

**Kubernetes version** (use `kubectl version`): v1.20.7+k3s1

**Environment**: Bare-metal

- **Cloud provider or hardware configuration**: 3x RPi 4GB + R610
- **OS** (e.g. from /etc/os-release): k3OS v0.20.7-k3s1r0
- **Kernel** (e.g. `uname -a`): 5.10.52-v8+ (aarch64)
- **Install tools**:
  - k3s
- **Basic cluster related info**:
[code]

- **How was th

[2021-08-25 04:33] longwuyuan commented on #7538
hi,
Thanks for the detailed information.

Can you kindly check if the known issues like https://github.com/kubernetes/ingress-nginx/issues/7510 and https://github.com/kubernetes/ingress-nginx/issues/7502 are related .

Also, one other request is, can you kindly edit the data related related to the ingress objects in your report above and actually replace the current text with the output of `kubect

[2021-08-25 04:48] longwuyuan commented on #7538
/assign

[2021-08-25 05:00] r0bobo commented on #7315
I have described the exsct problem in the code and how to reproduce it in
the issue I opened.

On Wed, Aug 25, 2021, 04:11 Long Wu Yuan ***@***.***> wrote:

[2021-08-25 06:24] longwuyuan commented on #7538
Hi, Just as an update, I was able to reproduce the problem and see the error messages in the logs exactly as you described.

Then after reading this,  https://kubernetes.io/docs/concepts/services-networking/ingress/#deprecated-annotation ,
- I edited my ingress object configuration.
- I removed the annotation as it is documented as deprecated
-  And instead I used the ingressClassName field in the

[2021-08-25 06:37] longwuyuan opened #7539 "improve v1.0.0 FAQ for migration to apiVersion 'networking.k8s.io/v1'"
**NGINX Ingress controller version**:
v1.0.0
**Kubernetes version** (use `kubectl version`):
v1.19+
**Environment**:
Cloud & On-Premises
- **Cloud provider or hardware configuration**:

**What happened**:
There are multiple known issues with using Ingress-NGINX v1.0.0
There are multiple less known use cases and migration cases to v1.0.0

**What you expected to happen**:
Helpful FAQ and docs are av

[2021-08-25 07:26] oana-s commented on #7446
How can I install the beta version, when the last available is v0.49
[code]

Thank you!

[2021-08-25 07:30] longwuyuan commented on #7446
Please run helm repo update. Then check what version is visible. We
released v1.0.0

Thanks,
; Long

On Wed, 25 Aug, 2021, 12:56 PM Oana Samfirescu, ***@***.***>
wrote:

[2021-08-25 11:02] Deichindianer commented on #7538
I've been having similar issues with v1.0.0 - played with a lot of different configuration that all lead to the same behaviour as described, an ingress reserved for a specific ingressClass which was working under v0.48.1 is now being served by another controller.

Currently I've got a configuration where the [documentation for running multiple controllers](https://kubernetes.github.io/ingress-ngin

[2021-08-25 11:09] benjamin-tucker commented on #7502
Doing this worked for me.  Superficially, fixed all broken old & new ingresses on my dev system before too many people noticed - YMMV.

[code]

 The process in the container is:
[code]

[2021-08-25 11:18] xiazemin commented on #5968
Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": an error on the server ("") has prevented the request from succeeding

[2021-08-25 12:11] kundan2707 commented on #7528
/assign

[2021-08-25 12:12] kundan2707 commented on #7528
@iamNoah1
There is help available for troubleshotting here
https://github.com/kubernetes/ingress-nginx/blob/main/docs/troubleshooting.md
Development processs available here
https://github.com/kubernetes/ingress-nginx/blob/main/docs/developer-guide/getting-started.md
Please specify what else process you want to be in doc.

[2021-08-25 13:56] laghoule commented on #6896
Ok, on startup on one of my ingress-controller with 405 ingress:
[code]

[2021-08-25 14:03] fculpo commented on #3245
/reopen

[2021-08-25 14:14] fculpo commented on #3245
I also face this with http-snippet

[code]

[2021-08-25 14:27] iamNoah1 commented on #7528
Hei @kundan2707 I did not mean troubleshooting or development guidelines. What I meant is guidance on how to do issue triaging. i.e. Where to start with triaging (oldest or newest), which labels to filter for, which labels to apply, etc.

[2021-08-25 16:24] RicardsRikmanis commented on #6780
Echoing this. Kinda important if you want to shield your origin via CDN and still process actual client IPs. Has there been any consideration of adding such feature?

[2021-08-25 19:38] longwuyuan opened #7543 "docs on using multiple instances of Ingress-NGINX in one cluster are outdated"
**NGINX Ingress controller version**:
v1.0.0
**Kubernetes version** (use `kubectl version`):
v1.19.0
**Environment**:
All
- **Cloud provider or hardware configuration**:
All
- **OS** (e.g. from /etc/os-release):
**What happened**:
https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/  is in conflict with https://kubernetes.github.io/ingress-nginx/#i-have-more-than-one-controller-

[2021-08-26 03:02] lazybetrayer opened #7546 "validating webhook should ignore ingresses with a different ingressclass"
**NGINX Ingress controller version**: v1.0.0

**Kubernetes version** (use `kubectl version`): v1.20.9

**Environment**: Bare Metal

**What happened**:

Before v1.0.0, there's a check to skip validating ingress with a different ingressclass:
https://github.com/kubernetes/ingress-nginx/blob/f3c50698d98299b1a61f83cb6c4bb7de0b71fb4b/internal/ingress/controller/controller.go#L224

In v1.0.0, this code

[2021-08-26 08:52] darox opened #7547 "Ports not exposed on bare metal installation"
**NGINX Ingress controller version**: v1.0.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: VMs on Esxi 7.x
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): Linux kub-master-1 5.4.0-81-generic #91-Ubuntu SMP Thu Jul 15 19:09:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: V

[2021-08-26 09:20] OceaneLonneux-CAL opened #7548 "MountVolume.SetUp failed for volume: chown not supported by windows"
**NGINX Ingress controller version**:  26.1

**Kubernetes version** (use `kubectl version`): 1.21.2

**Environment**: CLI

- **Cloud provider or hardware configuration**: Azure
- **OS**: Windows
- **Install tools**: Terraform

- **How was the ingress-nginx-controller installed**: Helm

- **Current State of the controller**: Running

- **Current state of ingress object, if applicable**: The `*-ngin

[2021-08-26 09:41] #7547 closed, assigned to kundan2707

[2021-08-26 13:03] dev-samples opened #7550 "Incorrect nginx version in 0.48.1"
In this table:
https://github.com/kubernetes/ingress-nginx#support-versions-table

it says:

Ingress-nginx version: v0.48.1
k8s supported version: 1.21, 1.20, 1.19
Nginx Version: 1.20.1

But when I install

[code]
So seems **0.48.1** is actually using nginx **1.19.10** and NOT **1.20.1** as described here:

https://github.com/kubernetes/ingress-nginx#support-versions-table

So:

1. Am I doing some

[2021-08-26 17:10] #7550 closed, assigned to longwuyuan

[2021-08-26 19:09] royrijkers opened #7551 "Exposing TCP services did not work after applying configmap and servise"
**NGINX Ingress controller version**: 1.0.0

**Kubernetes version** (use `kubectl version`): v1.20.8

**Environment**:

- **Cloud provider or hardware configuration**: DigitalOcean
- **Install tools**: `kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.0/deploy/static/provider/do/deploy.yaml`
  - `Please mention how/where was clsuter created like kubeadm/k

[2021-08-27 13:57] kenorb opened #7553 "CrashLoopBackOff on AKS after cluster resume"
**NGINX Ingress controller version**: ingress-nginx:3.36.0

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Basic cluster related info**: AKS
  - `kubectl version`
  - `kubectl get nodes -o wide`

[code]

- **How was the ingress-nginx-cont

[2021-08-27 16:52] strongjz opened #7554 "Community discussion on project name and confusion with Nginx INC. projects"
Throughout the project, there has been confusion around the name with the F5 Nginx Inc open-source and Nginx+ projects.

https://docs.nginx.com/nginx-ingress-controller/intro/nginx-ingress-controllers/

- https://github.com/nginxinc/kubernetes-ingress/issues/1910
- https://www.reddit.com/r/kubernetes/comments/pcexjt/nginx_ingress_controller_v100_is_released_it/
- https://kubernetes.slack.com/archi

[2021-08-27 20:38] fredthomsen opened #7555 "Missing documentation reference for preserve-trailing-slash annotation"
**NGINX Ingress controller version**:
v1.0.0
**Kubernetes version** (use `kubectl version`):
v1.19.0
**Environment**:
All

**What happened**:

Documentation does not note the functionality implemented by #7144, `nginx.ingress.kubernetes.io/preserve-trailing-slash` annotation.

**What you expected to happen**:

A reference of this annotation in docs here:  https://github.com/kubernetes/ingress-ngin

[2021-08-28 04:11] longwuyuan commented on #7551
Please close this issue and open a issue with DigitalOcean or talk in slack in the DO channel. You need to integrate with DO  and then the service of type LoadBalancer created by the Ingress-NGINX will get its external IP from DO LB

[2021-08-28 06:07] fnkr commented on #5983
I need this too. Can we have this reopened please?

[2021-08-28 06:50] shurup commented on #7554
As the author of the original issue mentioned here, I am really excited to see this initiative! Thank you, James, and I hope for the best solution for everyone.

[2021-08-28 10:08] mohammed-fuad opened #7557 "Unable to install multiple helm ingress-nginx releases for different namespaces"
**NGINX Ingress controller version**: ingress-nginx-4.0.1

**Kubernetes version** (use `kubectl version`):
- Client Version: v1.21.3
- Server Version: v1.19.11

- **How was the ingress-nginx-controller installed**: helm release

[code]

  - output of `helm ls -A`
![image](https://user-images.githubusercontent.com/4893599/131213845-1dbbd257-e78e-4774-937c-62bfd41a4749.png)

  - If helm was used the

[2021-08-28 10:21] longwuyuan commented on #7557
Please create a new ingressclass and set the ingressclass on the second
instance of controller.

Thanks,
; Long

On Sat, 28 Aug, 2021, 3:38 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-08-28 10:22] longwuyuan commented on #7557
/assign

Thanks,
; Long

On Sat, 28 Aug, 2021, 3:51 PM Yuan, ***@***.***> wrote:

[2021-08-28 10:35] mohammed-fuad commented on #7557
I already did that

[code]

and executed helm install again, but errors still exist
[code]

I recreated the first existing chart for development ingressClass and I noticed it's still mapped to nginx class

![image](https://user-images.githubusercontent.com/4893599/131215196-0c3ceed3-01ab-4f47-afd0-8b1027213108.png)

[2021-08-28 10:44] #6929 closed

[2021-08-28 10:44] #6925 closed

[2021-08-28 11:07] bhumijgupta commented on #7555
/assign

[2021-08-28 13:04] longwuyuan commented on #7557
There is one known issue related to namespaced Ingress-NGINX. But to know your use case we need more information.
Can you please post the below information and not screenshots. You can redact but plz keep the config intact;
[code]