[2022-03-24 17:26] damienleger opened #8388 "Misleading & clumsy ModSecurity doc"
hello,

I'm on nginx 1.1.1 and I've been struggling with the ModSecurity documentation. I wanted to explain why since usually the doc is clean, but for ModSecurity it isn't really.

Atm on the website there are:
- [1] https://kubernetes.github.io/ingress-nginx/user-guide/third-party-addons/modsecurity/ -> entry doc for the modsecurity feature
- [2] https://kubernetes.github.io/ingress-nginx/user-g

[2022-03-24 18:54] jdiegosierra commented on #8312
@murilolobato The topology of my cluster is private. All my worker nodes are in private subnets but with Nat Gateways in public subnets for access to my nodes. I have all the security groups full open.

What I found very strange is, only health checks works for the node the pod is running with, so If I kill the Pod and Kubernetes runs the pod in another node then the health checks change. Do you h

[2022-03-24 19:45] strongjz commented on #8312
This is working as it should,

Nodeport will open the port for nginx on all the nodes in the cluster and forward traffic.

The default service type on install is servicetype type: LoadBalancer

https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L499

The targetPort is 80 and 443 and we don't set the externalTrafficPolicy https://github.com/kubernetes/ingress-ngi

[2022-03-24 19:45] #8312 closed

[2022-03-24 20:50] jdiegosierra commented on #8312
Thanks @strongjz, now I understand it!!!

Just for giving more information to other people. Before @strongjz explanation, I used a bastion to check connection to health check ports and I noticed that it was not a problem with communication, is just the ingress controller returning 503 status code for nodes which dont have the pod.

<img width="610" alt="image" src="https://user-images.githubuserco

[2022-03-25 07:41] longwuyuan commented on #8383
Hi @mrszop ,

For someone to look at this, they will need to reproduce the problem. I am not certain that there has been any recent changes to whitelistist codepath. Would you be able to write a step-by-step procedure, that someone can use to copy/paste from, on their Minikube or kind cluster. Multiple source ip-address can be created by `ifconfig eth0:1 x.x.x.x` for example.

This kind of step-by

[2022-03-25 12:50] jhrcz-ls commented on #7738
@dmitry-mightydevops hi, this i'm fighting now with similar issue. but this isse was closed with no deails how it was solved or found not a bug.

i found, that when adding some wrong snippet, it fails to validate and then returns "0" in the metrics, but when i fix it by removing the wrong snippet and bringing it to previous state, metrics still return "0" and not expected "1".

i suspect that this

[2022-03-26 00:03] symbl-ay commented on #8194
For those of us on macbooks and podman, I've modified the Makefile target for `run-in-docker` to skip the options that work on my machine. Make sure you let podman know that your home directory is available for mounts.

[code]

[code]

I noticed that the "vv" bug was fixed, so that's no longer an issue. Thankfully, I didn't have to add `sed` anywhere to my script otherwise it might have been too m

[2022-03-26 02:40] venkatmarella commented on #8166
@rmathagiarun @longwuyuan  we see the same behavior after upgrading the ingress helm chart to 4.0.17.

[2022-03-26 04:57] #7852 closed

[2022-03-26 05:13] longwuyuan commented on #8166
I am not certain how to proceed. We need a step-by-step procedure to reproduce the problem and then gather information as to where the memory is getting used.

[2022-03-27 02:26] brunzefb commented on #6135
Hi -- faced the same issue, with a bitnami chart.  I looked at the chart which had
[code]
Note the last two lines:  we have 2 selectors trying to match 2 labels, nginx does not seem to like that.  I changed it to
[code]
And things magically started to work.  Nginx hooked up the rabbitmq pod on to nginx's associated ELB, the external-dns module took over and gave me a route53 dns entry, and login t

[2022-03-27 12:15] kwiatkowskimarcinb opened #8389 "The rule value needs to be wrapped in quotation marks to work"
https://github.com/kubernetes/ingress-nginx/blob/5298448865bd6bc742ca3eacd52e8bdb9a3eda81/docs/deploy/index.md?plain=1#L96

Correct command:

[code]

## Environment details

Mac OS Monterey 12.3 - Minikube

[code]

[2022-03-27 14:07] #7815 closed

[2022-03-27 16:51] fred214 opened #8390 "Dose annotation support enable proxy-protocol?"
Hi,
According to document [#use-proxy-protocol](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#use-proxy-protocol), I found we can enable proxy-protocol via configmap, but I want to know if the annotation support enable proxy-protocol, I cannot find any proxy-protocol in annotation section, and not sure the document is the latest.
Dose annotation support enabl

[2022-03-27 16:57] longwuyuan commented on #8389
I am able to create a ingress without quotes.
Please write down step-by-step instructions that someone can copy/paste on their kind/minikube cluster to see that not using quotes fails creation of ingress. If you use -v=8 you can see debug logs so pose the error here

[2022-03-27 19:07] #7758 closed

[2022-03-27 22:19] kwiatkowskimarcinb commented on #8389
I think I've found out what was causing an issue - I use zsh shell by default and it does not work without quotation marks in zsh (even verbosity 8 didn't show much). Once I switched to bash, it did create it - find out more below:

[code]

[2022-03-27 23:16] longwuyuan commented on #8389
/close

Thanks,
; Long

On Mon, 28 Mar, 2022, 3:50 AM Marcin Kwiatkowski, ***@***.***>
wrote:

[2022-03-27 23:16] #8389 closed

[2022-03-28 01:28] longwuyuan commented on #8390
I don't think so because its not visible in the docs at https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/

I am not certain how proxy-protocol can be enabled only for selected ingress objects.

[2022-03-28 06:32] nabokihms commented on #8078
/remove-lifecycle stale

[2022-03-28 06:50] kwiatkowskimarcinb commented on #8389
Thanks @longwuyuan
Anyway, please mind the lack of the asterisk character in your command - that might cause the issue in zsh

All the best!

[2022-03-28 07:16] bm-skutzke opened #8391 "Add nodeSelector for admission jobs to Helm chart flags"
The Helm chart provides the flag `controller.nodeSelector` for the controller pod which allows to assign it to nodes with a specific label.
It would be nice to have a `nodeSelector` flag for the admission jobs (create/patch) too, e.g.:
`controller.admissionWebhooks.patch.nodeSelector`.

[2022-03-28 07:20] longwuyuan commented on #8389
@kwiatkowskimarcinb, please read the specs and docs and continue this discussion on the Kubernetes slack.

For example there is nothing to mind or unkind here because that command sets the pathType field value to  "Exact", so a "*" asterisk character is not a factor at all, when the pathType is "Exact" .

[2022-03-28 09:08] MirkoPs opened #8393 "Wrong path in Ingress-nginx example dockerfile"
There is an error in the path referenced [HERE](https://github.com/kubernetes/ingress-nginx/blob/5a52d99ae85cfe5ef9535291b8326b0006e75066/images/go-grpc-greeter-server/rootfs/Dockerfile) from [official documentation](https://kubernetes.github.io/ingress-nginx/examples/grpc/#step-1-create-a-kubernetes-deployment-for-grpc-app).

The link to the example app isn't in raw format so an error is thrown w

[2022-03-28 09:21] longwuyuan commented on #8393
I think you want the link to the this https://raw.githubusercontent.com/grpc/grpc-go/91e0aeb192456225adf27966d04ada4cf8599915/examples/features/reflection/server/main.go

Can you submit a PR please

[2022-03-28 09:22] longwuyuan commented on #8393
@indhupriya if you are interested in this, I can pair with you

[2022-03-28 10:13] eXeDK commented on #8339
Any idea when a new release with this patched will be released?

[2022-03-28 13:57] rkubik-hostersi commented on #7574
I have the same issue for internal LB

[2022-03-28 15:49] Tobrek commented on #8348
I checked my settings based on a helm dry run with and without the extra module. I also checked the ports, but there seems to be  nothing special for the module.
`kubectl -n ingress-nginx describe pod ingress-nginx-controller-7c8446ff4c-zzg9n
Name:         ingress-nginx-controller-7c8446ff4c-zzg9n
Namespace:    ingress-nginx
Priority:     0
Node:         minikube/192.168.49.2
Start Time:   Mon, 28

[2022-03-28 16:20] dmathieu commented on #8348
Do you have logs of the container?

[2022-03-28 16:50] dmathieu commented on #8348
You're getting logs from the main pod here. What are the logs for the opentelemetry sidecar?

[2022-03-28 17:39] Tobrek commented on #8348
Rsy to ask, but how did I get the logs from the sidecar?

[2022-03-28 17:56] longwuyuan commented on #8383
<img width="1332" alt="image" src="https://user-images.githubusercontent.com/5085914/160458204-63b3300a-401d-4232-8d69-5f5907c478cb.png">

[2022-03-28 21:14] mrszop commented on #8383
What a ride. Testing this now: https://bityl.co/BWB5:

[code]

[2022-03-29 03:42] Vyom-Yadav commented on #8047
@longwuyuan Thoughts?

[2022-03-29 06:14] avinashbo commented on #8144
Was in the same situation and did not realise that the problem lies in the shared `--election-id` across multiple controllers. Instead ended up solving the status problem by using `ingressClassByName: true` everywhere as per [this FAQ guide](https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster) and it worked even i

[2022-03-29 06:55] avinashbo commented on #7985
I found the explanation for my problem here: https://kubernetes.github.io/ingress-nginx/examples/affinity/cookie/#caveats
Although the docs do not explicitly mention this, `upstream-hash-by` is also working the same way. When multiple ingress objects point to the same k8s service/backend, the first created ingress object dictates `upstream-hash-by` behaviour for all such ingress objects.

[2022-03-29 06:55] #7985 closed

[2022-03-29 08:12] mimmus commented on #8144
In my experience, setting "ingressClassByname" is not enough.

[2022-03-29 08:21] dmathieu commented on #8348
By adding `-c opentelemetry` to your `kubectl logs` command.
See https://kubernetes.io/docs/tasks/debug-application-cluster/debug-init-containers/#accessing-logs-from-init-containers

[2022-03-29 09:51] dmathieu commented on #8348
That folder will have to be created before the module can run.
Unfortunately, when I look into doing that, I get stuck by the issues in #8381. I'll take another look soon.

[2022-03-29 09:57] longwuyuan commented on #8381
@dmathieu , WIP for releasing new controller with alpine:3.14.4 and OT 1.2.0

[2022-03-29 09:58] longwuyuan commented on #8348
https://github.com/kubernetes/ingress-nginx/issues/8381#issuecomment-1081670498 <https://github.com/kubernetes/ingress-nginx/issues/8381#issuecomment-1081670498>

Thanks,
; Long Wu Yuan

[2022-03-29 11:20] vdboor opened #8395 "Support extraEnvs for job resources in helm chart"
I'd like to have support for an `controller.admissionWebhooks.extraEnvs` value in the Helm chart.
Currently, there is an `controller.extraEnvs` variable, but this is not applied for any jobs that are part of the pre-install hooks.

The reason for this is that Azure Firewall blocks any connectivity to the API server, unless the proper FQDN is used in the TLS/SNI request. This means the Nginx pods c

[2022-03-29 11:40] mteodori commented on #7938
@pierluigilenoci did you find some workaround? I am stuck at version 3.x as I cannot find a way to replace this plus server-snippet can be applied only once from what i can read in docs - thanks

https://github.com/Alfresco/acs-deployment/blob/14267f391ca344d9edc9daec8ad3c92919b289b5/helm/alfresco-content-services/templates/ingress-repository.yaml#L17-L26

[2022-03-29 11:41] fred214 commented on #8390
Thanks for reply, after some research, I understand that a port only can work under proxy-protocol or not, so the argument must belong to nginx, not a Ingress. But here I mean there are two way to pass the argument to controller, the annotation and configmap, now that there is no annotation for proxy-protocol, I will use the configmap. Thanks a lot.

[2022-03-29 11:41] #8390 closed

[2022-03-29 12:21] pierluigilenoci commented on #7938
@mteodori the default value is now empty so the problem is gone unless you manually add a filter.
I simply filtered out all the dangerous keywords except the ones I need.
In my specific case, I allow the use of `location`,`{`,`}`,`'` and `\`.

From my values file.
[code]
Old default value (https://github.com/kubernetes/ingress-nginx/pull/7874/files)
[code]
In your case you need to allow just `loca

[2022-03-29 14:31] iamNoah1 commented on #7857
/priority backlog

[2022-03-29 16:17] strongjz commented on #6928
/assign @theunrealgeek

[2022-03-29 16:19] davidcodesido commented on #8137
Hi @mac-chaffee, I'm running into a similar issue and I used the solution as yours but added a comment above the Include with a version number to increase it whenever  I modify the long-modsecurity-snippet. However, this trick doesn't seem to work all the time. Did you look into it more? How did you solve it?

[2022-03-29 16:21] strongjz commented on #8393
/good-first-issue
/help-wanted
/triage accepted
/priority backlog

[2022-03-29 16:24] strongjz commented on #8384
/good-first-issue
/help-wanted
/triage accepted
/priority backlog

[2022-03-29 16:25] strongjz commented on #8391
/good-first-issue
/help-wanted
/triage accepted
/priority backlog

[2022-03-29 16:33] mac-chaffee commented on #8137
That's what I do, and it works every time for me. Although I'm not running the latest version of ingress-nginx. A newer version changes how the custom rules are loaded which may break this method.

I'd recommend looking exactly at the generated nginx.conf file and the way that modsecurity handles config overrides, because it's not straightforward unfortunately.

[2022-03-29 16:34] jhrcz-ls commented on #7738
for detecting potential configuration failure i found this (or slightly modified) query and metric more appropriate:
[code]

now i see on the dashboard when something is wrong and when someone rollbacks his change, ingress there is no change detected anymore and so no reload is required, and dashboard reacts how it should.

sadly i expected to combine the `nginx_ingress_controller_config_last_relo

[2022-03-29 21:22] alubbock opened #8401 "DefaultBackend doesn't work when auth-signin and auth-url annotations set"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.1.2

**Kubernetes version** (use `kubectl version`): v1.22.7

**Environment**:

- **Cloud provider or hardware configuration**:
- **Basic cluster related info**:
  - `kubectl version`
[code]
  - `kubectl get nodes -o wide`

- **How was the ingress-nginx-controller installed**:
  - If helm was u

[2022-03-30 02:58] haijun2022 commented on #8393
Hi @longwuyuan [Long Wu Yuan](https://github.com/longwuyuan) I'd like to work on this if no one is taking it. thanks!

[2022-03-30 03:31] longwuyuan commented on #8393
Appreciated. Please assign to yourself and go ahead. Good luck.

Thanks,
; Long

On Wed, 30 Mar, 2022, 8:29 AM haijun2022, ***@***.***> wrote:

[2022-03-30 07:09] longwuyuan commented on #8401
@alubbock I think a developer needs to investigate something on the lines of a callback URL, after auth.

Would it be possible for you write a step-by-step procedure, that someone can use to copy/paste and reproduce on a kind/minikube cluster. This will help in closing the triage on this problem. If you do write this step-by-step procedure, please ensure to provide all the auth related stuff that

[2022-03-30 07:31] jseparovic commented on #5227
Not the most elegant solution, but I just copied the full "location /" block from the pod's nginx.conf for the same Ingress and changed it to /auth/admin, then added the allow/deny at the top. Seems to do the trick. I really don't like it though. Is there a better way? I have the same requirement to block traffic to keycloak's admin interface.

[2022-03-30 08:30] larsduelfer commented on #8092
Any progress on this issue? We are facing a similar issue since upgrading the ingress controller helm chart a while ago. Funny enough, existing ingress configurations still work. We are just facing this problem, when trying to add new ingresses. For us, it seems to be a bug on the validation logic of the admission webhook since we have ingress configurations (populated the nginx.conf of the contro

[2022-03-30 11:21] rittneje commented on #6728
/remove-lifecycle stale

[2022-03-30 11:29] rittneje commented on #8373
@fred214 Using an ALB with EKS is described here. https://docs.aws.amazon.com/eks/latest/userguide/alb-ingress.html

 But that would be used in lieu of ingress-nginx entirely.

[2022-03-30 14:01] avinashbo commented on #8144
Surprising, as I was able to test it out successfully. I could fix the sync status either by using a unique `--election-id` for each controller or by having `ingressClassByName: true` on non default ingress controllers. But sticking to using a unique `--election-id` as it makes more sense with multiple controllers on nginx v1

[2022-03-30 18:57] cebidhem commented on #8239
Thanks a lot for your feedback on this issue @calexandre , I was currently trying to achieve exactly the same thing for an use-case I have and I was really struggling. Your workaround works nicely for me too.

However as mentioned, this is far from being ideal because of the wildcarding, and indeed it would be much more easier to only have to think about the ingress objects.

Basically, with the `

[2022-03-30 21:01] rrileyca commented on #6973
I'm trying to just deploy an almost-vanilla version of the chart and getting this error. Anyone have a workaround?

[2022-03-30 21:03] rrileyca commented on #8109
You might want to rotate your keys now :-)

[2022-03-31 03:37] longwuyuan commented on #8393
/assign @haijun2022

[2022-03-31 05:37] #7861 closed

[2022-03-31 06:24] xianzheTM commented on #8388
The document really confuses me.
![image](https://user-images.githubusercontent.com/25103583/160989372-f1773f9f-696d-46f3-a1b8-735574798e05.png)
I want to block the request with' class' in the URL. But this writing didn't take effect. So I began to wonder if I should configure every ingress.

[2022-03-31 08:59] levimm commented on #8052
@xom4ek Does this config work for ingress object with ssl-passthrough annotation? It seems the configuration only fix the scenario for ingress without passthrough annotation.

[2022-03-31 17:07] discostur commented on #7077
@MisterTimn did you find any solution for your problem?

[2022-03-31 17:14] MisterTimn commented on #7077
After multiple different setups (different CNIs, configurations) we switched to Traefik and haven't looked back.

[2022-03-31 19:14] SaurabhGarg1 opened #8408 "Misleading information on grafana dashboard about percentile latency metric"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.1.2

**Kubernetes version** (use `kubectl version`): 1.23.2

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kops/minik

[2022-03-31 20:48] #7858 closed

[2022-03-31 22:32] rittneje commented on #7698
/remove-lifecycle stale

[2022-03-31 23:55] #8348 closed

[2022-04-01 04:17] haijun2022 commented on #8393
@longwuyuan  thanks, just double checked the latest code, looks it has already been fixed couple months ago. Here is the [Pr](https://github.com/kubernetes/ingress-nginx/pull/8001/files ) .

In this case ,  this issue can be closed!

[2022-04-01 04:49] longwuyuan commented on #8393
/close

[2022-04-01 04:49] #8393 closed

[2022-04-01 04:49] longwuyuan commented on #8393
@haijun2022 if you want to work on other issues in the project, let me know and I can pair with you or provide other help

[2022-04-01 05:46] longwuyuan commented on #8408
Hi @SaurabhGarg1 , are you interested in submitting a PR to solve this

[2022-04-01 05:52] #7862 closed

[2022-04-01 06:41] SaurabhGarg1 commented on #8408
Hi @longwuyuan, Yes I have been working on it, I will submit a PR soon

[2022-04-01 06:53] #7871 closed

[2022-04-01 08:07] ph4s3r commented on #6567
I created a clusterIP svc for nginx and added a /healthz path to the ingress that resolves to the clusterIP. Without some workaround you cannot get your nginx ingress controller work since in AKS if your health check does not respond Azure terminates new connections (all connections for Basic LB and only new ones for SLB - https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-p

[2022-04-01 08:08] ph4s3r commented on #6567
I created a clusterIP svc for nginx and added a /healthz path to the ingress that resolves to the clusterIP. Without some workaround you cannot get your nginx ingress controller work since in AKS if your health check does not respond Azure terminates new connections (all connections for Basic LB and only new ones for SLB - https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-custom-p

[2022-04-01 09:38] mit006 opened #8412 "not able to attach multiple rules to ingress"
Currently I have the Ingress resource which allows the rule (lets say rule A) based on IP ranges

[code]
I need to allow 1 more rule (lets say Rule B) to allow traffic if it contains a particular header (Not sure if below should be added under configuration-snippet or server-snippet):

[code]
How can I keep both the rules and ensure one does not override the other. If any of the Rule A or Rule B i

[2022-04-01 10:03] mimmus commented on #7569
Hi @longwuyuan ,
changing

- controller.electionId
- ingressClassResource.name
- ingressClassResource.controllerValue

is not enough?

[2022-04-01 10:17] longwuyuan commented on #7569
@mimmus hi,

Did you install with helm ? If yes, then ;

(1) I see that line 100 of /charts/ingress-nginx/values/yaml has a key electionID. I think this works.
(2) Line 106 has ingressClassResource.name. This works too.
(3) Line 112 has ingressClassResource.controllerValue. This works too.

But we have not documented multiple instances of the ingress-nginx controller in one namespace yet. I think

[2022-04-01 10:50] indrajithgihan opened #8413 "SSL certificate is not picked by Nginx Ingress controller and rendering as a fake certificate"
SSL certificate is added to ingress resource as a secret but when accessing the ingress via https URL it is showing as fake certificate. But when the same certificate added under Nginx gloabl config --default-ssl-certificate it works. There is no error in Nginx ingress controller log as well.

NGINX Ingress controller
  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8c

[2022-04-01 10:52] longwuyuan commented on #8413
Please add information as per the issue template and then reopen the issue
/close

[2022-04-01 10:52] #8413 closed

[2022-04-01 10:55] longwuyuan commented on #8375
Fixed in https://github.com/kubernetes/ingress-nginx/pull/8411

[2022-04-01 11:03] PeterAndreus opened #8425 "Ingress rewrite-target annotation affects ingress across whole namespace"
### What happened?

In my project i need rewrite one path in ingress, so i looked at documentation:
https://kubernetes.github.io/ingress-nginx/examples/rewrite/

My ingress:
[code]
another Ingress specification:
[code]

Rewrite works fine, access to reg services too.
**HOWEVER**
When there is rewrite target annotation i can access even `foo.bar.sk/regSomething/url`. If i disable rewrite target ann

[2022-04-01 11:28] indrajithgihan opened #8414 "Ingress nginx controller showing Kubernetes Fake certificate when the ingress is properly configured with SSL certificate"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf

**Kubernetes version** (use `kubectl version`):v1.21.9

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.6 LTS
- **Kernel** (e.g. `-`):5

[2022-04-01 11:47] longwuyuan commented on #8414
fake certificate usually occurs when the tbs secret is not matching rule or absent or faulty etc.

your post is not easy to read because the data is not posted as code snippet. Can you please change format to code snippet wherever its data about cluster. it may help see the state of the ingress and the secret.

[2022-04-01 11:48] longwuyuan commented on #8414
/remove-kind bug
/kind support
/good-first-issue

[2022-04-01 11:52] longwuyuan commented on #8414
this command ;
[code]

And complete curl command exactly as used in addition to the controller pod logs for the curl command are critical here but that information is not available. You can post that to help others to understand the problem better

[2022-04-01 11:55] nick-deroo-privitar commented on #4909
Thank you, I had to add the host entry to my spec.rules to get this working, but also had to upgrade my ingress-nginx version.

helm delete <release-name>
helm repo add nginx-stable https://helm.nginx.com/stable
helm install nginx-ing nginx-stable/nginx-ingress

[2022-04-01 12:48] mimmus commented on #8373
I think that NLB is the best choice: layer7 functionalities are carried out by Nginx.

[2022-04-01 12:56] mimmus opened #8416 "Nginx ingress controller no more updates its AWS resources (loadbalancer listener, target group, security group)"
nginx-ingress is no more updating its AWS resources  (loadbalancer listener, target group, security group) if something changes in its configuration or in cluster topology.
For instance, I enabled http port 80, a listener is added to the NLB but target group health-checks fails because corresponding security group was not modified with the new port.
Another example: new nodes are added to the clus

[2022-04-01 14:29] strongjz commented on #8231
Due to the high demand on the team and the number of things in flight with current versions, we can not maintain and manage such older versions. If you need to patch that system, everything you need to do that is in the images/nginx to patch it.

/close

[2022-04-01 14:29] #8231 closed

[2022-04-01 14:30] strongjz commented on #7816
/close

[2022-04-01 16:57] strongjz commented on #8321
patched in https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v.1.1.3

/close

[2022-04-01 16:57] strongjz commented on #8339
patched in https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v.1.1.3

/close

[2022-04-01 16:58] #8321 closed

[2022-04-01 18:38] hahewlet commented on #8339
@luryus noted that "v0.50.0 image ships with openssl 1.1.1l."

@strongjz Will a new image be created for 0.50.0 as well?

[2022-04-02 03:59] rikatz commented on #7286
/lifecycle frozen

[2022-04-02 04:40] tao12345666333 commented on #7286
/cc

[2022-04-02 10:32] lentzi90 opened #8419 "The tag for v1.1.3 has an extra dot"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.1.3

**What happened**:

Previous tags look like `controller-vx.y.x`, e.g. `controller-v1.1.2`. The latest has an extra dot after "v": `v.1.1.3`.
This can break certain scripts and bots used to pull in new versions automatically, not to mention that it can be confusing when typing it manually a

[2022-04-02 11:09] #7749 closed

[2022-04-02 11:11] tao12345666333 commented on #8419
/triage-accept

[2022-04-02 11:12] tao12345666333 commented on #8419
/triage-accept

[2022-04-02 12:08] dcriado commented on #8419
This issue also affects some URLs in the Installation Guide, as the links to v1.1.3 don't include the dot.

[See docs](https://kubernetes.github.io/ingress-nginx/deploy/)

[2022-04-02 12:44] tao12345666333 commented on #8419
/triage accepted

[2022-04-02 12:46] tao12345666333 commented on #8419
/cc @rikatz @strongjz

[2022-04-02 12:54] rikatz commented on #8419
Can you create the PR and notify me? Tks :)

[2022-04-02 16:07] DiptoChakrabarty commented on #8391
Hi @strongjz I am interested in working on this however would like to get some clarity on what I am supposed to do
There is a `controller.admissionWebhooks.patch.nodeSelector` field in the values file , should a  similar `controller.admissionWebhooks.create.nodeSelector` be created

https://github.com/kubernetes/ingress-nginx/blob/ad47d49216b9460c299b267a69b710659044b863/charts/ingress-nginx/value

[2022-04-02 19:43] strongjz commented on #8419
It is now fixed https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.1.3

Thank you for bringing this to our attention.

-James

[2022-04-02 19:43] strongjz commented on #8419
/close

[2022-04-02 19:43] #8419 closed

[2022-04-02 21:02] Skaronator commented on #8416
Definitely not a bug with ingress-nginx since AWS is responsible for updating the AWS resources when you change the Kubernetes object. The in-tree Kubernetes AWS controller is really limited from the features, and updating resources is probably not supported at all. Since the in-tree code has been deprecated for a long time, it doesn't receive any new features. I recommend that you switch to the n

[2022-04-02 23:13] #7880 closed

[2022-04-03 01:57] longwuyuan commented on #8416
/remove-kind bug

[2022-04-03 03:33] rittneje commented on #8094
/remove-lifecycle stale

[2022-04-03 05:13] #7883 closed

[2022-04-03 09:15] #7876 closed

[2022-04-03 15:47] cfifua opened #8423 "AWS Fargate support (similar to ALB-ingress)"
Please, extend the ingress-nginx controller in order to be used with the NLB -> AWS Target Group, without the need to use kube-proxy on Node Group or self-managed instances (because now you have to).

So far, the ingress controller configuration runs well on AWS Fargate, if you set `allowPrivilegeEscalation: false`, then you have to somehow add Fargate instances into the Network Load Balancers Tar

[2022-04-03 18:11] mimmus commented on #8416
Sorry but it's not quite the case, there has to be something that updates the various components.
When I install ingress-nginx by its Helm chart:
- it creates a ELB/NLB load-balancer
- it creates a listener with 443 port
- it creates a target-group with **all** worker nodes behind (with the right service port P)
- it updatesalso  worker nodes' Security Group with port P

Certainly, target-group is

[2022-04-03 18:17] lappanna commented on #3914
Does ` nginx.ingress.kubernetes.io/auth-url` annotation work with `nginx.ingress.kubernetes.io/backend-protocol: GRPCS` backend now?

[2022-04-03 20:04] lappanna opened #8424 "Need clarification on how to use external-auth as user and passwd does not get replaced"
I have an ingress with below annotations
[code]
which is created as per below document
https://github.com/kubernetes/ingress-nginx/tree/main/docs/examples/auth/external-auth

I see that the auth-url  always gets called with user as user and passwd as password instead of being passed with the userid and pwd from url.

Eg:  grpc+tls://userl:pwdl@somehost:443
For the above example I expect the extern

[2022-04-03 21:04] #7840 closed

[2022-04-04 00:07] rittneje commented on #8299
@longwuyuan Re-add the bug label to this issue. This needs to be fixed.

[2022-04-04 04:43] longwuyuan commented on #8425
Can you try pathType value as Exact and update.

Thanks,
; Long

On Mon, 4 Apr, 2022, 9:00 AM Peter Andreus, ***@***.***>
wrote:

[2022-04-04 05:13] PeterAndreus commented on #8425
Exact should not be considered as solution because different logic in working with url, but even with "Exact" pathType this bug occurs and i can acces urls i should not.

I tried:
      - path: /ba
        pathType: Exact

and with rewrite-target rule in different ingress i can access http://foo.bar.sk/banana/test

[2022-04-04 05:26] longwuyuan commented on #8425
(1) Please provide the information that is requested in the issue template
(2) Please post the output of `kubectl describe ing -A -o wide`
(3) Please post the exact curl command and its output
(4) Please post the logs of the controller pod that are related to your curl command(s)
(5) You are not discussing the fact that you are using regexp group $2 and not $1 but the requested url you posted does

[2022-04-04 06:10] longwuyuan commented on #8424
/remove-kind bug
/kind support

I think it will help if you post the information requested in the issue template.
After that, I think you can help by showing output of `kubectl describe` and `kubectl logs` command for the curl command you typed to try the feature and the verbose response to that curl command. You will also need to show the logs of the ingress-nginx controller that relate to your c

[2022-04-04 06:11] longwuyuan commented on #8424
You may also get many people to look at this if you discuss this at Kubernetes.slack.com in the ingress-nginx-users channel. There are less resources here and there are lots of people on slack, who can potentially help you get a solution.

[2022-04-04 06:15] longwuyuan commented on #8412
Does it work if you combine with rules in one snippet ?

/remove-kind bug
/kind support

[2022-04-04 06:40] PeterAndreus commented on #8425
(1) I provided all necessary, mandatory informations. Edited first post to delete parts that are not related to this issue
(2) working with Example setup i posted in first comment:
Example-ingress

<details>

[code]

</details>

Example-ingress2

<details>

[code]

</details>
(3):

The only correct response that should occur based on example-ingress2

[code]
Response that should NOT occur based on

[2022-04-04 06:57] longwuyuan commented on #8425
Are you expecting a request for this url **`http://foo.bar.sk/banana/app/test/whatever`** to match the rules configures in the ingress object called  **`example-ingress2`** ?

[2022-04-04 07:04] PeterAndreus commented on #8425
Thats the point that url should **not** match rules in **`example-ingress2`**

However when there is rewrite-target annotation in **`example-ingress`** (different ingress in same namespace) that url is accessible via match in **`example-ingress2`**

[2022-04-04 07:05] longwuyuan commented on #8425
do you see both rules configured for the same server block in nginx.conf ?

[2022-04-04 07:12] longwuyuan commented on #8425
When the see the `kubectl describe` output of example-ingress2 and the requested URL as **`http://foo.bar.sk/banana/app/test/whatever`**, I suspect the existence of string "ba" in the path, right after `/`, is a match.  If yo can show `kubectl get ing example-ingress2 -o yaml` maybe we can know more as to why you think there should not be a match.

[2022-04-04 07:22] longwuyuan commented on #8425
also, did you even try a curl exactly as described in the documentation you have referenced. Maybe you should configure your ingress for the exact same path as shown in the example, and with exact same pathType and then send a request for the exact same URL as described in example.

Its not a apples to apples comparison, if you compare path **"/aaa/bb"** with the path you have configured. Also its

[2022-04-04 07:47] bm-skutzke commented on #8391
The documentation shows only the field `controller.admissionWebhooks.patch.nodeSelector."kubernetes.io/os"` which is set to `linux` by default. I'd like to have the field `controller.admissionWebhooks.patch.nodeSelector` to be set to a custom node label. And yes, `controller.admissionWebhooks.create.nodeSelector` should also be there.

[2022-04-04 07:48] PeterAndreus commented on #8425
Generated nginx.conf with rewrite-target annotation (templating is messed up with this, so i upload at pastebin):
https://pastebin.com/raw/vxLxjDz3

Generated nginx.conf without rewrite-target annotation:
https://pastebin.com/raw/ARPg2bpr

So yes, both rules are in same server block. Notice differences in location rules as i mentioned in first post

`kubectl get ing example-ingress2 -o yaml`
<deta

[2022-04-04 08:51] longwuyuan commented on #8425
This update has information but like I have been hinting, can you show the log for this curl command request.

My request is that in one single post here, please show the entire information related to one http request. That means ;
- kubectl get ing -A -o wide
- kubectl describe ing -A
- kubectl get sec -A -o wide | grep -I ingress
- logs
- curl command with `date` prefix

In your last curl comman

[2022-04-04 09:12] PeterAndreus commented on #8425
`$ kubectl get ing -A -o wide`
<details>

[code]
</details>

`$ kubectl describe ing -A`
<details>

[code]
</details>

[code]
CURL:
[code]
LOGS of bannana pod
[code]

[2022-04-04 09:36] PeterAndreus commented on #8425
As i said problem is in generated nginx.conf that i pasted in previous comment **not** in ingress configuration:
nginx.conf when no rewrite-target is applied has this location rules:
[code]
so only **foo.bar.sk/ba** or **foo.bar.sk/ba/** is match

However nginx.conf when rewrite-target is applied in **any** ingress has this location rules:
[code]
so **anything** that starts with **foo.bar.sk/ba**

[2022-04-04 10:44] longwuyuan commented on #8425
of-course the first matching rule will get processed.
I responded to you on slack https://kubernetes.slack.com/archives/CANQGM8BA/p1649052053515279

[2022-04-04 10:47] longwuyuan commented on #8425
how did you install ingress-nginx controller ? On which environment are you running the cluster ? Please post the information requested in the issue template. The screenshot below does not show how you installed ingress-nginx controller

<img width="835" alt="image" src="https://user-images.githubusercontent.com/5085914/161528512-176f6e19-65c2-4ddb-8407-d852ea11abc4.png">

[2022-04-04 12:27] #8416 closed

[2022-04-04 13:10] antoineozenne commented on #8027
/remove-lifecycle stale

[2022-04-04 14:46] mrszop commented on #8383
this works as expected. can be closed

[2022-04-04 14:46] #8383 closed

[2022-04-04 16:41] mimmus commented on #8416
I was able to fix my problem (a couple of permissions missing on the nodes' role).
Now the question is about the overall state of nginx-ingress project: this lack of clarity causes some concern to us and I'm asking if we need to look at aws-lb-controller or at the other ingress-nginx project developed by Nginx itself.

Anyway, thank you for your support.

[2022-04-04 18:31] #7483 closed

[2022-04-04 18:48] kmindi opened #8429 "Bump alpine base image to adress CVE-2018-25032 (Don't get fooled by 2018, was patched end of march 2022)"
Hi,

I posted already to your security mailing list and the following PR was mentioned that it should have fixed the CVE: https://github.com/kubernetes/ingress-nginx/pull/8386 (using alpine 3.14.4, https://alpinelinux.org/posts/Alpine-3.12.10-3.13.8-3.14.4-released.html). I was encuraged to post an issue if I disagree.

**Yet, CVE-2018-25032 is first patched in alpine 3.14.5 (https://alpinelinux.o

[2022-04-05 05:04] madforstrength opened #8432 "1-byte memory overwrite vulnerability"
Current nginx version is 1.19.10, this version has "1-byte memory overwrite vulnerability"
Please upgrade nginx to v1.20.1 to fix this vulnerability.

Ref:
https://nginx.org/en/security_advisories.html

[2022-04-05 05:05] longwuyuan commented on #8429
It was discussed here https://kubernetes.slack.com/archives/CANQGM8BA/p1649065041805109

We are on 1.2.12-r0 and it seems that is mitigation enough. I will close the issue now based on this information.
You can re-open the issue if it is still required to be open but kindly add additional information that helps makes progress
![image](https://user-images.githubusercontent.com/5085914/161682007-3e0

[2022-04-05 05:05] #8429 closed

[2022-04-05 05:12] longwuyuan commented on #8432
- Please post the link to the CVE
- Please use this command and provide some info that shows that the required patch is not applied
[code]
- Someone has to investigate if we used nginx src bits v1.19.10 but also patched for the vulnerability that you are talking about

[2022-04-05 05:24] madforstrength commented on #8432
CVE link:
https://mailman.nginx.org/pipermail/nginx-announce/2021/000300.html?_ga=2.14944246.1321766309.1649134590-1697474456.1649134590

[2022-04-05 05:34] longwuyuan commented on #8432
In the cloud build logs I can see this ;
[code]

The advisory is from 25th may 2021 so patch was ready back then.

Maxim Dounin [mdounin at mdounin.ru ](mailto:nginx-announce%40nginx.org?Subject=Re%3A%20%5Bnginx-announce%5D%20nginx%20security%20advisory%20%28CVE-2021-23017%29&In-Reply-To=%3CYK0aOsIB/GyqLlr6%40mdounin.ru%3E)
Tue May 25 15:39:38 UTC 2021

I personally am going to assume that we down

[2022-04-05 05:42] longwuyuan commented on #8432
And I see a patch file with the words "resolver" in its name here https://github.com/kubernetes/ingress-nginx/blob/main/images/nginx/rootfs/patches/nginx-1.19.9-resolver_conf_parsing.patch, that is dated September, so someone with nginx skills/knowledge needs to confirm if that is the patch from the advisory that you linked.

[2022-04-05 05:47] madforstrength commented on #8432
I found the patch for fixing this vulnerability:
https://github.com/kubernetes/ingress-nginx/blob/main/images/nginx/rootfs/patches/patch.2021.resolver.txt

Is this included in v1.1.3?

[2022-04-05 10:05] discostur commented on #6141
Thanks for your hint @sab24 with pinning the worker processes to a lower value like 2x or 4x via config file:

[code]

Per default nginx-ingress is set to "auto" which means it spawns as many processes as cores are detected. I run into the same issue but only with crio - not reproducable with docker.

I opened up a issue at crio project #jfyi

https://github.com/cri-o/cri-o/issues/5779

[2022-04-05 10:08] discostur commented on #7077
@MisterTimn could be that i run into the same issue like you (which first showed up at random timeouts in configured ingress objects). I found a workaround for the problem over here:

https://github.com/kubernetes/ingress-nginx/issues/6141

And my full story / more details are here:

https://github.com/cri-o/cri-o/issues/5779

@longwuyuan i think the issue might be related to crio and not to ingre

[2022-04-05 10:39] viju2008 opened #8433 "Feature Request Circuit Breaker Functionality"
Circuit breaker functionality in NGINX ingress controller (ingress-nginx)

The issue is closed could not see any solution. Became stale

No

[2022-04-05 13:13] iamNoah1 commented on #2003
/triage accepted

[2022-04-05 15:12] hebestreit commented on #8339
@strongjz When testing the update for v0.51.0 I noticed some issues.

The latest Chart version v3.41.0 hasn't been released because of a failed step in the CI pipeline.

[code]

https://github.com/kubernetes/ingress-nginx/runs/5807081527?check_suite_focus=true#step:4:32

So I tried to set the image tag manually inside my `values.yaml` to apply the security fix which didn't worked because you need

[2022-04-05 15:53] GerryWilko commented on #8376
I have added a new flag as an ingress annotation and to the global configuration called `set-proxy-intercept-errors`.

Setting this to `false` will stop setting `proxy_intercept_errors` in the nginx config.

Due to this silly CLA system in place for contributions it makes it very difficult for me to contribute this directly...

https://github.com/GerryWilko/ingress-nginx/tree/patch-1

[2022-04-05 19:16] vprasanth commented on #2173
`secure-backend` was replaced with `backend-protocol`. However I'm not sure which version deprecates it -- though it's been about 3 years so might be safe to just use `backend-protocol` :)

Recent docs: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-protocol

[2022-04-05 19:27] alubbock commented on #8401
Hi @longwuyuan @kundan2707, I've created a gist with steps to reproduce the issue on minikube: https://gist.github.com/alubbock/9ea752599037b101a1257a7aca7039e6

I tested it on minikube 1.25.2 on MacOS 12.3, but I experienced this issue on a Linux cluster too so I'd guess it's not platform specific.

Please let me know if there's anything else I can provide to help.

[2022-04-06 01:52] gclawes commented on #8177
Any chance of someone looking at this?

[2022-04-06 03:25] pulsemusic commented on #6155
+1 for DaemonSet support for baremetal k8s infras.

[2022-04-06 04:21] shafeeqes commented on #8091
/remove-lifecycle stale

[2022-04-06 04:58] chirangaalwis commented on #7283
/remove-lifecycle stale

[2022-04-06 05:33] oct28-yjkim opened #8437 "An error occurred between opentelemetry modules"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- baremetal, kubernetes on centos7
[code]

- **Cloud provider or hardware configuration**:

- **Kernel** (e.g. `uname -a`):

[code]
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kop

[2022-04-06 05:57] longwuyuan commented on #8401
@nishant-jain-94 , tagging you as per slack chat

[2022-04-06 06:08] longwuyuan commented on #8437
/remove-kind bug
/kind feature

@dmathieu, based on the PR you submitted earlier, wondering if you have any comments on this

[2022-04-06 06:19] longwuyuan commented on #8177
Hi @gclawes ,

There is lack of resources & developer time. This seems like a reasonable improvement. Lets hope the developers get time to come around and look at this.

/triage accepted

[2022-04-06 06:22] longwuyuan commented on #8339
/reopen based on above comment

[2022-04-06 06:23] longwuyuan commented on #8339
/re-open

[2022-04-06 06:23] longwuyuan commented on #8339
/reopen

[2022-04-06 06:26] longwuyuan commented on #8375
/close

[2022-04-06 06:26] #8375 closed

[2022-04-06 07:13] oct28-yjkim commented on #8437
@dmathieu
currently i try manually build
[code]

[2022-04-06 07:21] dmathieu commented on #8437
It looks like some modules are built in the sidecar, but aren't moved into the main image.
We need to figure out which those ones are and make them available.

[2022-04-06 07:51] oct28-yjkim commented on #8437
@dmathieu
I got a err message

[code]

Is this a related error?

[2022-04-06 08:07] omkar111111 opened #8438 "Wildcard redirect behaviour"
This is my config
[code]

Using this config routes such as 'a.omkar-app.com' and 'b.omkar-app.com' are routed correctly to the service but routes such as 'a.b.omkar-app.com' results in 404 Not Found by nginx.

What I want is that routes such as 'a.b.omkar-app.com' and 'a.c.omkar-app.com' be routed to my service.
Why this happens?
This is because the generated nginx.conf has the following regex in

[2022-04-06 08:08] longwuyuan commented on #8437
We can edit the Dockerfole for opentelemetry under /images and promote
again. What would be a good way to get a list of missing modules.

Thanks,
; Long

On Wed, 6 Apr, 2022, 1:21 PM oct28-yjkim, ***@***.***> wrote:

[2022-04-06 09:38] VsevolodSauta commented on #6523
I'm also affected by this issue. Hope on some activity on it.
/reopen

[2022-04-06 13:15] nrobert13 opened #8439 "status is reporting wrong? number of connections."
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): COS
- **Kernel** (e.g. `uname -a`): `Linux ingress-nginx-machines-controller-7f54d7c564-zv5fp 5.4.144+ #1 SMP Sat Sep 25 09:56:

[2022-04-06 13:35] mit006 commented on #8412
No @longwuyuan , I am not able to make it work.

[2022-04-06 17:14] freddyesteban opened #8440 "Stale external backend when changing service type from ExternalName to ClusterIP"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Observed in GKE, but replicated in local kind cluster running on a macbook
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: h

[2022-04-06 19:20] mihaigalos commented on #5401
Hi @tehKapa, what resource do you apply this to? Can you post a yaml containing the spec? Thank you.

[2022-04-06 20:09] strongjz commented on #8432
If it is in the rootfs folder, it is included in the build process.

/close

[2022-04-06 20:10] #8432 closed

[2022-04-06 20:46] strongjz commented on #8232
@tobernguyen is every working fine? If not please reopen and comment here.

/close

[2022-04-06 20:46] #8232 closed

[2022-04-06 21:02] strongjz commented on #8339
Thanks for the heads @hebestreit

Should be resolved in https://github.com/kubernetes/ingress-nginx/pull/8441

[2022-04-06 23:54] marpada commented on #5401
On EKS, a security group rule needs to be added on the Node Security Group tcp/8443 from the Cluster Security Group.

[2022-04-07 01:15] rittneje commented on #8373
I've never used a classic load balancer, but there is a table from AWS that highlights some of the differences. https://aws.amazon.com/elasticloadbalancing/features/#Product_comparisons

Also classic load balancer is deprecated and will be "retired" in August. https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/migrate-classic-load-balancer.html

[2022-04-07 04:44] longwuyuan commented on #8440
/remove-kind bug
/kind feature

[2022-04-07 04:57] longwuyuan commented on #8439
Hi @nrobert13 ,

If I use this doc https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/ on a kind cluster, will I be able to reproduce this problem ?

/remove-kind bug

[2022-04-07 05:00] longwuyuan commented on #8438
/remove-kind bug
spec allows single wildcard match only

<img width="591" alt="image" src="https://user-images.githubusercontent.com/5085914/162123431-a7d2e95e-6bca-47bc-af99-fd62c07dd2f9.png">

/close

[2022-04-07 05:01] #8438 closed

[2022-04-07 05:02] longwuyuan commented on #8439
/kind support

[2022-04-07 05:02] longwuyuan commented on #8437
/kind bug
/triage accepted

[2022-04-07 07:04] tehKapa commented on #5401
is the global configmap. you can apply it when you install ingress via helm. like this `helm install ingress ingress-nginx/ingress-nginx -f myconfig.yml`

myconfig.yml:
[code]

[2022-04-07 07:08] dmathieu commented on #8437
The exact missing module isn't clear to me here (I'm also not a C developer).
The likely thing is that those modules are installed when the image is built. But lost when we move things into the core container.

[2022-04-07 07:19] longwuyuan commented on #8437
ok will check. Wonder if the build is against glib and run is against musl.
/assign

[2022-04-07 07:20] longwuyuan commented on #8412
/assign

[2022-04-07 07:32] longwuyuan commented on #8425
on a zoom session, it was determined that the problem to be solved is whitelisting based on path.

Hence use of whitelisting annotation on a ingress object that shared host with other ingress objects but the path is unique.

[2022-04-07 10:07] nrobert13 commented on #8439
@longwuyuan , thanks for the reply. You don't need to setup the prometheus/grafana stack for this. if you shell into the nginx controller you can pull the metrics, see my snippet in the `What happened` section.

[2022-04-07 10:57] ganchito55 commented on #3077
I have the same problem, given this architecture
Client => Gzip body => Nginx => Plain text body => API

Is gunzip configuration the one that can do that?

[2022-04-07 11:46] hebestreit commented on #8339
@strongjz thanks for the fast reaction. The fix works. :+1:

[2022-04-07 11:54] longwuyuan commented on #8339
/close

[2022-04-07 11:54] #8339 closed

[2022-04-07 14:43] dinobagio commented on #6506
Hi, facing the same issue. How do we get invited to the slack channel ?

[2022-04-07 16:05] longwuyuan commented on #6506
@dinobagio  slack.k8s.io

[2022-04-07 16:11] dinobagio commented on #6506
Thanks...I'm in ! And asked for help there !

[2022-04-07 17:08] #7468 closed

[2022-04-07 17:22] longwuyuan commented on #8439
Hi @nrobert13 ,

I think its the resource utilisation on your setup. I don't see this problem on my Minikube test ;

<img width="869" alt="image" src="https://user-images.githubusercontent.com/5085914/162260913-5ad8c832-1630-4b33-8b11-251e355bd19e.png">

[2022-04-07 21:24] bbensky commented on #6821
Thanks - this helped me!

[2022-04-08 00:21] mblaschke commented on #7811
/remove-lifecycle rotten

[2022-04-08 05:23] nrobert13 commented on #8439
@longwuyuan thanks for looking into this. I suspect the behaviour is related to the persistent connections ( see my ingress resource snippet ). The clients are opening a keep-alive connection to nginx, and nginx keeps them alive towards the upstream ( backend ) with the `nginx.ingress.kubernetes.io/proxy-read-timeout: "14400"` .  At the time the connection count bumps, we see big amount of `RESET`

[2022-04-08 05:40] longwuyuan commented on #8437
https://github.com/open-telemetry/opentelemetry-cpp-contrib

[2022-04-08 05:44] longwuyuan commented on #8439
I agree. What you describe (keepalives) and multiple other use-cases will not have been instrumented into the metrics I think. It looks a deep dive will be required and a appropriate instrumentation for managing such custom configs will need to be developed.

The ingress-nginx project have enough resources to do this kind of development now. Would be interested in submitting a PR on this. I am not

[2022-04-08 05:50] longwuyuan commented on #8160
Please reopen the issue and add the information asked in issue-template, if required.
/close

[2022-04-08 05:50] #8160 closed

[2022-04-08 05:51] longwuyuan commented on #7569
Please reopen if required
/close

[2022-04-08 05:52] #7569 closed

[2022-04-08 05:54] longwuyuan commented on #7896
Please reopen if this is still an issue. We are working on some documentation related to canary deployments
/close

[2022-04-08 05:54] #7896 closed

[2022-04-08 06:40] wangshu3000 commented on #8160
Have figured out the root cause, i'm using SSL passthrought, the ingress controller would not know the path when establishing tls connection, so cannot support multiple path.
Thanks.

[2022-04-08 08:48] fred214 opened #8445 "Should use HPA or VPA for ingress-nginx?"
Hi, recently I plan to enable HPA or VPA on ingress-nginx
- HPA, need experience set desiredMetricValue, otherwise maybe cause autoscaler shake.
- VPA, can auto scale down, possible cause traffic disconnetion
Is there a best practice on autoscaler, which type should I use?
From network traffic angle, it's better to use HPA that can get more network capacity, I want to know when the load is high, w

[2022-04-08 09:17] sathieu commented on #7837
Proposed a PR #8446.

[2022-04-08 12:48] sTb1337 commented on #7261
Having same issue with version: 4.0.19 from https://github.com/kubernetes/ingress-nginx/releases/download/helm-chart-4.0.19/ingress-nginx-4.0.19.tgz

[2022-04-08 12:55] longwuyuan commented on #7261
@JacekDuszenko are you working on this ?

[2022-04-08 13:16] albanm commented on #4635
I know I am very late but I would also like a clarification. Should we expect some breakage on safari if activating brotli ? Shouldn't a browser not compatibile with brotli not send 'br' in accept-encoding ?

[2022-04-08 13:22] omkar111111 commented on #8438
@longwuyuan
Do you know of a way to match hosts such as 'a.b.omkar-app.com' or 'a.c.omkar-app.com' or is it not possible?

[2022-04-08 15:38] fsilvani92 opened #8448 "Support Kubernetes Secrets as a source for configuration"
I am currently trying to set an Authorization header. The contents of this header should probably be stored in a kubernetes secret. For some configuration items like tls-certs, the api provides specific annotations that read secrets, but I wouldn't expect an implementation like this for every possible annotation, especially because the configuration I want to set "proxy_set_header" is not yet supp

[2022-04-08 16:10] bnu0 opened #8449 "Premature readiness probe success due to race condition in check for backends initialization, causing 404s"
**NGINX Ingress controller version**
[code]

**Kubernetes version** (use `kubectl version`): 1.21

**Environment**:

- **Cloud provider or hardware configuration**: Bare metal (on-premises)
- **OS** (e.g. from /etc/os-release): Debian 10 (buster)
- **Kernel** (e.g. `uname -a`): 5.10.0-13-amd64
- **Install tools**: N/A
- **Basic cluster related info**: N/A
- **How was the ingress-nginx-controller i

[2022-04-08 16:57] longwuyuan commented on #8437
@dmathieu are you on slack. Do you know if building the Otel_ngx_module on alpine but copying it to a busboy image for sidecar loading is causing the missing symbols. Would it work if the sidecar was also based on alpine.

[2022-04-08 19:25] #7868 closed

[2022-04-08 21:23] strongjz commented on #7868
The Nginx binary is built in a docker container in images/nginx/rootfs/Dockerfile by the images/nginx/rootfs/build.sh script, so if you want the nginx binary run the build.sh script.

/close

[2022-04-08 21:39] theunrealgeek commented on #8004
/remove-lifecycle stale

[2022-04-08 23:58] rthamrin commented on #8212
I do the same, my canary is not working, apply canary-weight given to me an error

kubernetes.io/ingress.class: nginx
nginx.ingress.kubernetes.io/canary: "true"
nginx.ingress.kubernetes.io/canary-weight: "50"

[code]

[code]

[2022-04-09 01:22] rthamrin commented on #7896
/reopen

I do the same, my canary is not working, apply canary-weight given to me an error

kubernetes.io/ingress.class: nginx
nginx.ingress.kubernetes.io/canary: "true"
nginx.ingress.kubernetes.io/canary-weight: "50"

[code]

[code]
I add another annotation, but it was ok.

[2022-04-09 01:50] rthamrin commented on #6779
are you sure it will not work with bitnami? and have u had any idea how to replace bitnami helm chart to Kubernetes/nginx-ingress community without losing any configuration?

[2022-04-09 07:45] rthamrin opened #8450 "changing default name for krew"
I Could change default name for checking the nginx-ingress backend

normal command

```kubectl ingress-nginx backends -n ingress```

error
```no pods for deployment ingress-nginx-controller found in namespace ingress```

my deployment name is ```ingress-controller-nginx-ingress-controller-default-backend```
is it possible to ask the krew ingress-nginx to recognize my deployment name? I am also thi

[2022-04-10 09:08] linmuqin commented on #6506
@longwuyuan I have the same problem, it has been bothering me for a long time, how can I solve it?

[2022-04-10 10:39] #7359 closed

[2022-04-10 12:22] dinobagio commented on #6506
@linmuqin
After I've deleted my other ingress/ingress controller the issue disappeared.

[2022-04-10 12:40] #7823 closed

[2022-04-10 12:44] linmuqin commented on #6506
@dinobagio Why delete other ingress? I need to do a canary to make the specified traffic go into the new service

[2022-04-10 15:49] tarun-asthana commented on #8212
What's the role of service-upstream annotation? I've observed it to be working fine with that annotation

[2022-04-10 21:46] zerkms commented on #8127
/remove-lifecycle stale

[2022-04-11 02:05] kangtao opened #8457 "do auth-url and auth-signin work for external service endpoints?"
Hi,

I just have a general question for External OAUTH Authentication. I have a k8s cluster ingress controller that wants to use External OAUTH Authentication against my another existing web service which is not deployed in k8s. Is this possible? Or the External OAUTH Authentication endpoints must be in the same k8s as the ingress controller?

specifically, I am asking if nginx.ingress.kubernetes.

[2022-04-11 08:32] dmathieu commented on #8437
The only thing that I see may cause issues with this difference in base images would be if one uses musl and the other gcc.

[2022-04-11 11:09] dinobagio commented on #6506
@linmuqin I wasn't using that second ingress on same service, it was for an old purpose never confirmed eventually.

[2022-04-11 11:43] Timoses commented on #7859
/remove-lifecycle stale

[2022-04-11 12:53] #6634 closed

[2022-04-11 18:11] esmirnov opened #8460 "Unable to fetch images for External authentication example"
**NGINX Ingress controller version**: v1.1.2

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.5", GitCommit:"5c99e2ac2ff9a3c549d9ca665e7bc05a3e18f07e", GitTreeState:"clean", BuildDate:"2021-12-16T08:38:33Z", GoVersion:"go1.16.12", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVer

[2022-04-11 21:19] collinhayden commented on #8215
Just following up on this issue.  We are moving to from the beta1 api to the v1 api and using the updated ingressClassName and have re-factored things and tested so we can move to kubernetes 1.22, we however have multiple ingress in the same namespace.   We did find a workaround that works, but I am uncomfortable with the solution:
https://github.com/kubernetes/ingress-nginx/issues/7890
The fix wa

[2022-04-11 22:20] rafaelssp commented on #8050
Thanks a lot for the help @liangdong1992 , it solved my life with the solution for https!

[2022-04-11 22:21] longwuyuan commented on #8460
@esmirnov can you try this image   `gcr.io/k8s-staging-ingress-nginx/e2e-test-echo:v20220331-controller-v1.1.2-31-gf1cb2b73c:sha256:1dffeeb390f650faafa952e174a0e44aea4a2c677044e0e182fd0685e6122c5d`

[2022-04-11 22:32] longwuyuan commented on #8215
There is lack of developer resources due to some high priority refactoring in-progress. So the refactoring for namespace scoped ingress-nginx-controller, is on a back burner for now, until the higher priority work is completed.

So yes, the currently recommended solution is to use only 1 instance of the ingress-nginx-controller, in 1 namespace. And yes, some other users have reported that using a

[2022-04-12 00:33] jorcelinojunior commented on #8050
@liangdong1992
The way your question was asked, saying what you had done to resolve the issue was extremely helpful.

Thank you so much, you saved me a lot of time.

#### Follow the block of how it was for me, I hope it is useful for those who are experiencing the problem as well:
* [`NGINX Configuration > Annotations > server-snippet`](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-c

[2022-04-12 02:17] praveenperera opened #8461 "`port 80 is already in use. Please check the flag --http-port` on GKE, ingress-nginx version 1.1.2 and 1.1.3"
I was deployed ingress-nginx using helm with: https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.2/deploy/static/provider/cloud/deploy.yaml

Today I noticed that all my workloads went down and the `ingress-nginx-controller` was in a crash loop with the error:

`port 80 is already in use. Please check the flag --http-port`

I tried updating to: [v1.1.3](https://raw.githubuse

[2022-04-12 02:19] longwuyuan commented on #8461
/remove-kind bug
/kind support

What process was/is using that port ?

[2022-04-12 02:24] praveenperera commented on #8461
As far as I can tell nothing else was using it. It's weird because I deployed this a few days ago and it was working fine. It randomly stopped working after a restart. Before downgrading to v1.1.1 I tried recycling all the nodes. I also uninstalled ingress-nginx completely using helm and reinstalled (new load balancer and all).

Sorry if this isn't the most detailed report. But it was random and f

[2022-04-12 02:28] longwuyuan commented on #8461
Do you know if problem can be reproduced ?

[2022-04-12 02:42] praveenperera commented on #8461
Since I saw the same problem after removing and reinstalling completing using helm, I think it might be able to be reproduced.

I will try and spin up a new cluster tomorrow and let you know if I run into the same issue.

[2022-04-12 03:19] longwuyuan commented on #8437
Hi @iquirino,

I saw https://github.com/iquirino/nginx-opentelemetry/commits?author=iquirino .
I was wondering if you are interested to help us solve this problem here.

[2022-04-12 06:47] longwuyuan commented on #8369
not much interest so closing for now and will re-open in future if it comes up

[2022-04-12 06:47] #8369 closed

[2022-04-12 08:15] esmirnov commented on #8460
Sorry, my bad. I've deployed ingress v1.1.2 but use the example from the master branch. I've switched to tag controller-v1.1.2 and all things work as expected.

[2022-04-12 08:15] #8460 closed

[2022-04-12 08:33] iamNoah1 commented on #5576
@damiancurry friendly ping. Are you still working on that one?
/triage accepted
/priority important-longterm

[2022-04-12 08:40] iamNoah1 commented on #6728
@rittneje you need to follow up on your PR (#7084) At the moment it is nor mergeable.

[2022-04-12 08:42] iamNoah1 commented on #6745
@aloisbarreras @cofyc @webartistse can you please verify if the suggestion from @strongjz is fixing your issue? Thanks.

[2022-04-12 08:45] iamNoah1 commented on #6937
/triage accepted
/priority important-longterm

We are happy for any contributions
/help
/good-first-issue

[2022-04-12 08:47] iamNoah1 commented on #6973
@rrileyca Please open a new issue.

[2022-04-12 08:51] iamNoah1 commented on #7118
/triage accepted
/help

[2022-04-12 09:05] iamNoah1 commented on #7442
/unassign @Debanitrkl
/triage accepted
/priority important-longterm
We are happy for any contributions :)

/help

[2022-04-12 09:28] iamNoah1 commented on #6937
/remove needs-information

[2022-04-12 09:28] iamNoah1 commented on #6937
/remove triage/needs-information

[2022-04-12 09:29] iamNoah1 commented on #6937
/remove triage-needs-information

[2022-04-12 09:43] phidlipus opened #8462 "Annotation nginx.ingress.kubernetes.io/from-to-www-redirect is broken from v1.1.2 with use-forwarded-headers"
Annotation nginx.ingress.kubernetes.io/from-to-www-redirect is broken from v1.1.2 in case where **use-forwarded-headers: true** is used.

In case where **X-Forwarded-Proto** is empty, the response from the Nginx Ingress Controller is invalid: `Location: nil://www.demo.domain.tld`

In v1.1.2 part of this file was changed (new code) - https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/

[2022-04-12 14:13] longwuyuan commented on #8462
Hi @phidlipus ,

Please attach both of your your nginx.conf files here ;
(1) before the patch that is without the configMap patch for the "use-forwarded-headers"
(2) after the patch that is with the configMap patch

[2022-04-12 14:22] gh4dp commented on #3543
Any update on this?
I need to have an nginx-ingress with Fips mode enabled.

Thanks!

[2022-04-12 15:33] phidlipus commented on #8462
I tested small fix in template file `rootfs/etc/nginx/template/nginx.tmpl` (from v1.1.3), which fixed returned **Location** when redirecting to www prefixed host.
Just an idea how to bring back the old behaviour from pre-1.1.2 versions.
[code]

[2022-04-12 16:18] webartistse commented on #6745
@iamNoah1 Well, it can but its not a solid solution since an ingress can have multiple domains. So I prefer solution to combine the annotations mentioned and do only one reidrect.

[2022-04-12 16:33] iamNoah1 commented on #7234
/triage accepted
/priority backlog

[2022-04-12 16:33] rikatz commented on #7283
Anyone knows if this may help? :D

[2022-04-12 16:40] longwuyuan commented on #6381
/assign
Sorry for delay on this. I will try to work on this this week.

[2022-04-12 16:42] rikatz commented on #8336
/assign

[2022-04-12 16:54] rikatz commented on #6458
Hi there,

So, yes, we may have a lightweight admission webhook and seems like a great idea :) The thing is that, what we do is to call CheckIngress function, so we would have to split it into critical and non critical validations, and maybe turn this configurable (or I can just create this light webhook anyway).

Right now, a good workaround would be to configure the admission webhook to match on

[2022-04-12 16:54] rikatz commented on #6458
/kind feature

[2022-04-12 16:54] longwuyuan commented on #6745
@webartistse can you show `kubectl describe ing <ingressname> -n <namespace>` for the ingress you are using now with 2 annotations please

[2022-04-12 16:57] rikatz commented on #7083
There's a need for a followup on the PR you opened, can you please take a look?

Also, feel free to reach us in #ingress-nginx-dev in Kubernetes Slack if you have any questions. Usually we answer faster there! :)

[2022-04-12 16:59] longwuyuan commented on #8462
Ok. Any chance you can show the nginx.conf generated by this fix.
Thanks,
; Long Wu Yuan

[2022-04-12 18:56] longwuyuan commented on #8462
That will help a lot.
Also please show the actual curl response in verbose mode just to know what you mean Location fixed.
Thanks,
; Long Wu Yuan

[2022-04-12 19:13] longwuyuan commented on #8462
Hi @phidlipus ,

I think the diff explains your attempted fix ;
[code]

Can you please submit a PR for your fix, after you show the curl response verbose mode and the fixed nginx.conf .

Thank you very much for this contribution. Looking forward to your PR.

[2022-04-12 19:14] longwuyuan commented on #8462
/kind bug
/triage accepted

[2022-04-12 19:24] longwuyuan commented on #8462
Change was introduced in https://github.com/kubernetes/ingress-nginx/pull/7623 and it was ok. Just that combination use-case was not experienced by anyone before. The proposed fix in comment above will resolve the problem.

[2022-04-12 19:50] DanSibbernsen opened #8463 "doc: update helm chart values related to nodePorts"
The [Installation-with-helm documentation](https://docs.nginx.com/nginx-ingress-controller/installation/installation-with-helm/#configuration) doesn't specify the right names for parameters. The following substitutions should be made:
|current value | new value|
|---------------|------------|
|`controller.service.httpPort.nodePort`| `controller.service.nodePorts.http`|
|`controller.service.httpsPo

[2022-04-12 20:33] #8463 closed

[2022-04-13 02:47] pcgeek86 commented on #4674
I'm having the same problem with my NGINX ingress controller. It's serving up the default FAKE certificate instead of the one that was issued by `cert-manager` and stored in a secret. I have configured the `secretName` property.

Why is this issue closed? How are people handling this years later?

[2022-04-13 04:12] arthurk commented on #8388
Thanks @damienleger your comment helped me out a lot. I updated to the latest nginx-ingress version and modescurity stopped working, using your solution made it work again

[2022-04-13 05:28] longwuyuan commented on #6381
@bergerx I started looking at this and my thoughts are as follows ;
- Including pieces for observability has to be optional and not a default opt-in. Because of this bundling the Grafana chart json in a default install of the ingress-nginx-controller chart is not my choice. Others may differ
- Just as `controller.metrics.enabled` is an optional key, using an optional key like `controller.metrics.g

[2022-04-13 05:43] phidlipus commented on #8462
nginx.confs generated from the fixed nginx.tmpl:

before enablig **use-forwarded-headers** (same config as above in this scenario - no changes): [patched-template_nginx.conf_before.txt](https://github.com/kubernetes/ingress-nginx/files/8478460/patched-template_nginx.conf_before.txt)
after enablig **use-forwarded-headers**: [patched-template_nginx.conf_after.txt](https://github.com/kubernetes/ingre

[2022-04-13 06:11] asskss opened #8466 "Proxy Pass path conversion"
Nginx proxy_pass http://test:8080$requests is configured in the configMap file, but after the nginx container starts, nginx-ingress-controller adds proxy_pass http://test:8080$requests into http://default-svc-test-8080 did not have the $requests access to 404 how to make it not conversion.

[2022-04-13 06:13] asskss opened #8467 "Proxy Pass path conversion"
Nginx proxy_pass http://test:8080$requests/ is configured in the configMap file, but after the nginx container starts, nginx-ingress-controller adds proxy_pass http://test:8080$requests/ into http://default-svc-test-8080/ did not have the $requests access to 404 how to make it not conversion.

[2022-04-13 07:42] longwuyuan commented on #8462
Awesome helpful & informative @phidlipus

[2022-04-13 08:57] cbanek opened #8469 "nginx.ingress.kubernetes.io/cors-allow-origin doesn't seem to work?"
When I enable the cors header using this annotation:

nginx.ingress.kubernetes.io/enable-cors: "true"
nginx.ingress.kubernetes.io/cors-allow-methods: "GET"

I will get the * domain annotation and all the methods allowed.  I am able to use this annotation to only allow for GETs, which also works.  But when I try to add this:

nginx.ingress.kubernetes.io/cors-allow-origin: http://localhost:3000

(Or

[2022-04-13 13:15] VengefulAncient commented on #7103
Thanks for looking into this! I will update to the latest version and report back ASAP.

[2022-04-13 14:07] mac-chaffee commented on #8388
Apparently there's also inconsistency in which modsecurity settings take precedence when there are conflicts (https://github.com/SpiderLabs/ModSecurity-nginx/issues/280), which undermines a lot of the assumptions of #8021. In fact, that PR broke my modsecurity settings.

To anyone else finding this thread, my advice is to just not use any of the built-in modsecurity settings. It's pretty easy to c

[2022-04-13 14:43] Garnaalkroket commented on #8215
Hi @longwuyuan

We're experiencing the same problem as described by @AlexisDuf. It seems the workaround to provided by @collinhayden works for us too. However, I don't see why it's so strange to run two controllers in the same namespace? At least I'd expect the documentation to mention that it's currently not possible (cfr. https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/).

[2022-04-13 15:37] chriskurzeja opened #8470 "Version 1.1.3 is vulnerable to CVE-2022-28391"
**NGINX Ingress controller version**: v.1.1.3

**What happened**: The base image `alpine:3.14.4` is flagged as having a security issue [CVE-2022-28391](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-28391) as  of 03/04/2022.

**Anything else we need to know**:

Updating the base image to `alpine:3.14.6` will resolve the issue. Release notes are [here](https://alpinelinux.org/posts/Alpine-

[2022-04-13 15:43] chriskurzeja commented on #8470
We would have raised a PR (or several) but beyond updating the [Dockerfile](https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/images/nginx/rootfs/Dockerfile) we were not clear on what further PRs would need to be raised in order to get this released (based on our observations of the release of v1.1.3).

We would happily take advice on how to make those contributions.

[2022-04-13 16:18] tao12345666333 commented on #8470
Thanks for your report.
I will read the CVE report.

[2022-04-13 16:40] Vormillion opened #8471 "Issue with X-Forwarded-Proto"
Hi,

I have enabled TLS on ingress. Ingress is pointing to Kubernetes service which is accepting only HTTP traffic and application is going crazy when it sees https headers.

I found in ingress nginx config that for our proxypass there is a proxy_set_header X-Forwarded-Proto $pass_access_scheme line.
I didn't find any solution how to get rid of this line or overwrite it. When I'm manually changing

[2022-04-13 18:12] longwuyuan commented on #8215
I think this will take a couple of months to clean up. The short term solution is unique election-id.
On a different note, at a certain scale, one instance of the ingress-nginx controller will do what another instance of the same controller will do. So the need to deploy 2 instances of the same ingress-controller in a single namespace is not easily a hard requirement for all use-cases. But, this i

[2022-04-13 18:17] longwuyuan commented on #8471
Please post information requested in the issue template.
Please post the information related to the problem like ;
- kubectl describe
- kubectl logs
- Complete curl command
- Other related information

After you have posted information, that someone can use to understand the problem as a outsider, they may be able to analyse any useful data you provide and work on the solution.

Kindly reopen the

[2022-04-13 18:17] #8471 closed

[2022-04-14 02:17] bmv126 commented on #8166
@rmathagiarun
Can you try to disable the metrics by setting
--enable-metrics=false

You can use kubectl top to check pod memory usage

[2022-04-14 03:06] #8462 closed

[2022-04-14 05:36] henryezeanya commented on #7850
@ttsakpc Thank you so much for this workaround.
I spent almost the entire day trying to figure out what was going wrong as I specified all the right things.
This really needs to be fixed.

[2022-04-14 05:59] longwuyuan commented on #7850
The code related to this topic is being worked on, yes.
But on the other hand, not everything can be categorised under one single umbrella. Please see the migration FAQ in the docs.
There will be changes released in the near future released that will give priority to the annotation over the ingressClassName field.

[2022-04-14 06:36] egobude commented on #8461
@praveenperera I have the same problem since this morning. I already had version 1.1.1 installed. With version 1.1.0 it worked again.

[2022-04-14 09:29] kundan2707 commented on #7986
/remove-lifecycle stale

[2022-04-14 09:35] kundan2707 commented on #8314
@fallmo  friendly reminder

[2022-04-14 09:48] fallmo commented on #8314
it was a Digital Ocean issue.
Creating a new cluster and installing the nginx ingress with helm, solved the issue.

[2022-04-14 09:48] #8314 closed

[2022-04-14 14:50] praveenperera commented on #8461
Thanks @egobude I'll downgrade to 1.1.0 if it happens again. But so far so good.

[2022-04-14 15:55] Nowaker commented on #6506
Facing the same issue too. No changes to the cluster or ingresses - just started affecting one of our ingress resources.

[2022-04-14 16:33] longwuyuan commented on #8469
/remove-kind bug

Is it possible to reproduce this on a kind or a Minikube cluster. If yes, can you write a step-by-step guide so that someone can copy/paste and reproduce on a kind or a Minikube cluster.

[2022-04-14 19:14] ckoenig opened #8473 "Unexpected(?) behavior in case an Ingress defines a DefaultBackend"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: kind
- **OS** (e.g. from /etc/os-release): Ubuntu 21.10 (kind) / Artix Linux (local development machine)
- **Kernel** (e.g. `uname -a`): 5.17.1-artix1-1
- **Install t

[2022-04-14 19:39] koehn opened #8474 "Don't bother with chroot as a security feature"
From the chroot man page (**emphasis added**):

# Redhat's Take:
https://www.redhat.com/en/blog/chroot-security-feature

# Alan Cox:
https://lkml.org/lkml/2007/9/25/434

The app is already inside a container. Run as non-root if you're worried about it (yes, you have to bind to ports > 1024).

[2022-04-14 20:34] #7839 closed

[2022-04-15 01:39] #7909 closed

[2022-04-15 03:05] lknite opened #8475 "Request update to authentication proxy example"
Regarding page:
https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/

I'd update it myself but haven't yet reached success implementing it.

[2022-04-15 06:31] longwuyuan commented on #8475
If there is an action item that you want to pass on to the project, kindly provide the information requested in the issue template and then kindly show your cluster state and the state of the related objects. That will help in knowing details of your attempt to implement the feature in the context of the state of the related objects.

Thanks

[2022-04-15 06:34] longwuyuan commented on #8474
@koehn , informative text in the issue.
To take it forward, would you be able to use the current beta release of the controller and demo the above mentioned exploit and its use in breaching/breaking the controller and getting access to sensitive data from the cluster. If we can see the exploit in action, maybe someone can work on hardening it.

[2022-04-15 08:53] AdrainHuang opened #8476 "Can't install ingress-nginx"
my system info
uname -a
Linux cluster 5.4.0-1058-raspi #65-Ubuntu SMP PREEMPT Fri Mar 25 12:29:46 UTC 2022 aarch64 aarch64 aarch64 GNU/Linux

I ran this command.
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/baremetal/deploy.yaml

kubectl get pods -n ingress-nginx
NAME                                        READY   STATUS              RESTA

[2022-04-15 09:26] allanhung opened #8477 "Show Kubernetes Fake certificate random"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: `alicloud`
- **OS** (e.g. from /etc/os-release):  `CentOS Linux release 7.9.2009 (Core)`
- **Kernel** (e.g. `uname -a`): `Linux iZ0xib8z15thsgffy96ti2Z 3.10.0-1160.53.1.

[2022-04-15 10:52] longwuyuan commented on #8477
/remove-kind bug
/kind support
/help

Show ;
- kubectl get nodes
- kubetl get svc,ing -A -o wide
- kubectl describe ing -A
- Your complete and exact curl command with verbose mode response
- Logs of the controller pod

[2022-04-15 10:53] longwuyuan commented on #8477
/good-first-issue

[2022-04-15 10:56] longwuyuan commented on #8476
/remove-kind-bug
/good-first-issue
/close

Please reopen the issue after you have provided all the information requested in the issue template. The install docs are here https://kubernetes.github.io/ingress-nginx/deploy/

[2022-04-15 10:56] #8476 closed

[2022-04-15 10:56] longwuyuan commented on #8476
/remove-kind bug

[2022-04-15 11:22] longwuyuan commented on #8473
Somethings are not clear.
See this api object description ;

% k explain ingress.spec.defaultBackend
KIND:     Ingress
VERSION:  networking.k8s.io/v1

RESOURCE: defaultBackend <Object>

DESCRIPTION:
     DefaultBackend is the backend that should handle requests that don't match
     any rule. If Rules are not specified, DefaultBackend must be specified. If
     DefaultBackend is not set, the handl

[2022-04-15 11:29] koehn commented on #8474
I cannot demo the exploit and that’s precisely my point. The strategy of “the app is more secure if we run it in a chroot jail” is fundamentally flawed according to the people who wrote chroot, the Linux Kernel, and Redhat. You can choose to continue to pursue a strategy that people with demonstrably more experience than you have advised against, or you can choose to dedicate your efforts to other

[2022-04-15 11:53] longwuyuan commented on #8474
I will see how relate the generic description provided here to the specific
effort made by the project.

Thanks,
; Long

On Fri, 15 Apr, 2022, 4:59 PM Brad Koehn, ***@***.***> wrote:

[2022-04-15 15:31] rikatz commented on #8470
I cannot find the fix for ssl_client in Alpine 3.14.6. I will release a new one for busybox fixes

[2022-04-15 18:26] longwuyuan commented on #8470
<img width="771" alt="image" src="https://user-images.githubusercontent.com/5085914/163607254-3da7ca6d-b27d-49ae-b5bf-016053f799e6.png">

[2022-04-15 19:52] strongjz commented on #8470
/triage accepted
/priority critical-urgent

[2022-04-15 19:53] #8381 closed

[2022-04-15 19:53] #8470 closed

[2022-04-15 19:56] strongjz commented on #8461
What version of GKE? The default static deploys are generated for 1.20.

Specific ones are available at deploy/static/provider/cloud/VERSION/

[2022-04-15 19:59] strongjz commented on #8450
Looks like there is a deployment flag name

https://github.com/kubernetes/ingress-nginx/blob/main/cmd/plugin/util/util.go#L116

Test that out, if there is still an issue please reopen this and let us know

/close

[2022-04-15 19:59] #8450 closed

[2022-04-15 20:05] strongjz commented on #8467
Could you fille out the issue template completely.

Please add what you are trying to accomplish and the expected behavior.

/kind bug
/triage needs-information

[2022-04-15 20:05] strongjz commented on #8466
duplicate of #8467

[2022-04-15 20:05] #8466 closed

[2022-04-15 20:14] strongjz commented on #8474
`If the daemon has dropped privileges and the commands do not execute with root privileges, it may not be possible to break out of the chroot`

Also, the same article considers it a `hardening` feature, which is our goal here.

We are working to break out the controller and the Nginx daemon completely.

thank you for your concern, if you would like to discuss more please feel free to join slack or

[2022-04-15 21:43] #7819 closed

[2022-04-16 02:26] bnu0 commented on #8449
I was able to reproduce this easily in `kind` by making 3000 ingresses pointing to 3000 services, and looping over one of the ingress hosts using curl while doing a `kubectl rollout restart` on the ingress controller deployment. the new pod returns 404 for a period of time after reporting ready.

[2022-04-16 02:38] longwuyuan commented on #8449
Ah ok, at 3000 ingress objects and 300 services, its likely you are experiencing a real problem. Was that kind on a laptop or kind on a 8+cores with 32+GB RAM host.  Assuming a single node kind cluster here.

[2022-04-16 02:51] bnu0 commented on #8449
It was kind 3-worker cluster on a host with 8 core / 16 threads and 64g memory, not a laptop but nothing crazy. I am not sure I really need 3000 Ingresses to reproduce, but that is how many we have in production so it is the number I started with.

I am planning to try changing the is-dynamic-lb-initialized probe to return false until the sync_backends has run at least once after backends are POST

[2022-04-16 03:16] longwuyuan commented on #8449
I think I will need to know more details but if it possible for you to simulate 300 ingress objects, then you can maybe explore `make dev-env` https://kubernetes.github.io/ingress-nginx/developer-guide/getting-started/#local-build , that produces a controller just for your environment.

[2022-04-16 05:45] allanhung commented on #8477
- kubectl get nodes
[code]
- kubectl get svc po-kube-prometheus-stack-alertmanager -o wide
[code]
- kubectl get ing po-kube-prometheus-stack-alertmanager -o wide
[code]
- curl -v --resolve host.domain.com:443:10.1.1.1 https://host.domain.com
[code]
- kubectl logs -l app.kubernetes.io/instance=nginx-internal --tail 1 -f
[code]

[2022-04-16 05:57] longwuyuan commented on #8477
show `kubectl get ing,svc -A -o wide`

[2022-04-16 05:59] longwuyuan commented on #8477
also it looks like you are not following any documentation

[2022-04-16 06:50] #7932 closed

[2022-04-16 06:56] allanhung commented on #8477
Sorry for that. But I have to mask some infomation for my environment.

[2022-04-16 07:08] longwuyuan commented on #8477
basic blocker here is that there is no information related to the problem.

- you need to show your ingress-controller-service details
- you need to show your ingress object details containing pls configuration
- you need to show your backend service details
- you need to show your tls secret details
- you need to show your curl command in verbose response
- you need to show logs related to your c

[2022-04-16 17:58] #7881 closed

[2022-04-16 17:59] yevgeniyo commented on #5227
got the same issue for keycloak /auth/admin and fixed it this way:

2 ingresses:

Ingress 1 for /auth is open for everyone
Ingress 2 for /auth/realms/master and /auth/admin has this annotation:
[code]

Works proper, if you struggling just connect to pod of ingress and check nginx.conf, everything is clear from there.

[2022-04-17 04:21] tamalsaha opened #8483 "plugin for mac m1"
I tried to install the kubectl plugin on mac m1 using krew and it was not available.

[code]

It will be nice, if you can make the plugin available for mac m1 .

[2022-04-17 15:05] #7820 closed

[2022-04-17 17:05] #7767 closed

[2022-04-18 04:13] indrajithgihan commented on #8414
`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"extensions/v1beta1","kind":"Ingress","metadata":{"annotations":{"kubernetes.io/ingress.class":"nginx","nginx.ingress.kubernetes.io/rewrite-target":"/$2","nginx.ingress.kubernetes.io/ssl-redirect":"false"},"name":"magneto-cla-federateoffering-ms-ingre

[2022-04-18 04:20] indrajithgihan commented on #8414
Here's the output for curl command. After the cluster restart and removing - --default-ssl-certificate=ingress-nginx/dr-ssl it started working fine

[testuser@AZDTEAK ~]$ curl -vvk https://dms.ms.dr.testmy.com.my/magneto-cla-federateoffering-ms/swagger-ui.html
* About to connect() to dms.ms.dr.testmy.com.my port 443 (#0)
*   Trying 10.43.0.228...
* Connected to dms.ms.dr.testmy.com.my (10.43.0.228

[2022-04-18 08:58] allanhung commented on #8477
I have solved the issue.  The issue is caused by the cloud provider.  Here is my debug step.
- Keep only one backend and disable all the other backend by setting weight tp 0 in cloud provider console.
- Test with curl
[code]
- do the tcpdump
- check the tcpdump result and the second request didn't send to the host and it sent to another ingress controller pod
After delete that pod, it became norma

[2022-04-18 08:58] #8477 closed

[2022-04-18 09:06] ovidiubuligan opened #8486 "Prometheus examplars support for core http metrics"
Prometheus examplarss

Enable examplars support for core http request metrics with traceId. Example how it will look in grafana https://grafana.com/docs/grafana/latest/datasources/prometheus/#configuring-exemplars

I did not find any issues related exanplars  in this repo .

It is not related to kubernetes , and I am not sure this is the right place to enable this feature.

Exemplars are just comm

[2022-04-18 09:47] elsbrock commented on #7612
/remove-lifecycle stale

[2022-04-18 21:13] #7949 closed

[2022-04-18 21:16] rittneje commented on #6287
/remove-lifecycle stale

[2022-04-19 08:56] chriskurzeja commented on #8470
Thanks @rikatz and @strongjz for the quick turnaround on this - it's much appreciated. Do you guys have any idea when you might release v1.1.4? Thanks.

[2022-04-19 11:55] dustin-bo opened #8487 "Cover CVE‑2021‑3618"
We need a version without the vulnerability [CVE‑2021‑3618](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-3618). The vulnerability seems to be fixed in Nginx starting with release 1.21.0. Since none of the Ingress-Nginx versions use those releases all versions seem to be vulnerable.

[2022-04-19 13:11] longwuyuan commented on #8487
The project built a beta with some fixes. Certain reported CVEs got fixed but this CVE is not visible in a grype scan ;

% grype k8s.gcr.io/ingress-nginx/controller-chroot:v1.2.0-beta.0@sha256:5344d8367295be743703f19eea137e7a3253efc2d0ec8aee131b85d3258f9780
 ✔ Vulnerability DB        [no update available]
 ✔ Parsed image
 ✔ Cataloged packages      [127 packages]
 ✔ Scanned image           [3 vulne

[2022-04-19 16:12] devonwarren opened #8488 "certificate.lua:240: call(): certificate not found, falling back to fake certificate for hostname"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v0.49.3
  Build:         7ee28f431ccddc4997ab088eff2698b94a8918a0
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

-----------------

[2022-04-19 17:18] guptavip opened #8489 "Slow API response with Internal Ingress controller"
Hello Support,
We have production Environment working  on Private AKS with Standard_D32_v3  VM Size with 2 min node pool max goes to 8 as per load on server.
We have 2 Ingress Controller.
1.	ingress controller to an internal virtual network
2.	[public ingress controller](https://protect-us.mimecast.com/s/lfV3C9rOqgfrx1qKUwIlrR?domain=nam02.safelinks.protection.outlook.com)
All application deployed

[2022-04-19 17:21] gaurav-thakur-aurea commented on #8489
Hello Support,

I am also  having same issue on our production environment.

[2022-04-19 18:04] skudrow-figure commented on #5585
I'm getting the same issue after patching pods:
[code]

[2022-04-19 19:17] jonathan-boudreau-work commented on #8195
Is there a way to force the header without changing the global configuration? I tried with this ingress configuration:
[code]

But it instead appends the value to the header:
[code]
This causes the backend which relies on the header to go in an infinite redirect loop in my case.

[2022-04-19 19:28] armujahid commented on #8195
@jonathan-boudreau-work I had to modify/hack global nginx template to get arround this issue.

[2022-04-19 19:48] jonathan-boudreau-work commented on #8195
This unfortunately isn't an option since the controller is used for other applications.

[2022-04-19 21:01] gueux commented on #8271
I'm agree with @45cali that it should be fixed in helm chart as the semverCompare condition doesn't allow any workaround for EKS cluster and appProtocol should be add regardless Kubernetes distribution

[2022-04-19 22:27] augustfengd commented on #8483
Same experience here.

A workaround is to download the binary and put it somewhere in our **$PATH**:

[code]

[2022-04-20 00:31] strongjz commented on #8474
/close

[2022-04-20 00:31] #8474 closed

[2022-04-20 01:58] bmv126 commented on #8488
Can you try to increase the shared dict memory and check.
You can set it in configmap.
https://github.com/kubernetes/ingress-nginx/blob/aa813972cbc290e44e57de6718a6ca910a7b5b25/internal/ingress/controller/config/config.go#L731

[2022-04-20 04:20] rmathagiarun commented on #8166
@bmv126  We already tried this and it didn't work out. I can see few others have also reported this issue, but, the response from community always seems to not to agree that Nginx has an issue during backend reload.

Alternatively, We are in the process of migrating to envoy based ingress controllers.

[2022-04-20 04:34] longwuyuan commented on #8166
@rmathagiarun backend reload is a event that would occur on vanilla nginx as well as the nginx component of the ingress-nginx-controller and that implies that based on the size of the data that needs to be be read and reloaded, has a direct relevance to the impact on the usage of cpu/memory resources, which impacts the user experience ultimately.

If you add configuration to vanilla nginx, without

[2022-04-20 06:35] kundan2707 commented on #8473
/kind support

[2022-04-20 16:21] ckoenig commented on #8473
OK. Let's start with the first bullet point, because if we don't agree on that one, then I don't have to invest time to provide more detailed feedback for all the other points.

I agree that the specification of the DefaultBackend within the Ingress is not very clear, especially in the case, where there is more than one Ingress involved and potentially conflicting DefaultBackend definitions. My un

[2022-04-20 19:28] devonwarren commented on #8488
@bmv126 thanks for the suggestion! Unfortunately it looks like we still get the same errors even when setting `controller.config.lua-shared-dicts` to a large setting like `{"certificate_data": "200000000"}`

Any other thoughts on things to try?

[2022-04-20 20:32] devonwarren commented on #8488
Thanks so much @bmv126 ! Set the following helm value and it seemed to clear that issue up

[code]

[2022-04-20 20:32] #8488 closed

[2022-04-20 22:25] #7952 closed

[2022-04-21 03:25] longwuyuan commented on #8487
I think there is a open issue that states at least need of protection from at least one similar sounding threat. They had mentioned certs with multiple domains or similar use-cases. In any case this threat says ;

[code]

Have not seen if the patch is back ported to nginx v1.19.10 and that is related because our base images uses it.

We can address is when enough info is available against a future

[2022-04-21 06:45] adammw opened #8493 "Support escaping new lines in config directives such as log-format-upstream"
Support escaping new lines in config directives such as log-format-upstream.

Currently providing new lines in the configmap for the `log-format-upstream` key produces an invalid nginx config:

e.g.
[code]

Produces:
[code]
and results in an error when loaded:
[code]

Instead, for the syntax to be considered valid by nginx it must have each new line as a separate quoted string or the newline chara

[2022-04-21 07:28] AathithRajendran commented on #4674
I have used the TLS secret which is not present in the ArgoCD namespace. Ingress used the default fake kubernetes certificate(was expecting an error stating "secret not found").

[2022-04-21 07:33] AATHITH commented on #4674
I have used the TLS secret which is not present in the ArgoCD namespace. Ingress used the default fake kubernetes certificate(was expecting an error stating "secret not found").

[2022-04-21 07:51] carl-jin-awx commented on #8085
@kundan2707 @longwuyuan @rikatz  Any update?

[2022-04-21 07:54] kundan2707 commented on #8085
@carl-jin-awx  I have no gke setup to reproduce it.
Anyone interested can work on this

[2022-04-21 09:51] eneamarcantoni99 opened #8494 ""worker process <process-id> exited on signal 7 (core dumped)" using geoip2 module"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
Release:       v1.1.3
Build:         9d3a285f19a704524439c75b947e2189406565ab
Repository:    https://github.com/kubernetes/ingress-nginx
nginx version: nginx/1.19.10

**Kubernetes version** (use `kubectl version`):
Major: 1
Minor: 21+
GitVersion: v1.21.5-eks-bc4871b
GitCommit: 5236faf39f1b7a7dabea

[2022-04-21 10:51] Nika-89 opened #8495 "Kubernetes nginx controller error logs: connect() failed (111: Connection refused) while connecting to upstream, client: X.X.X.X, server: X.X.X.X"
From time to time I face the errors Connection refused, I understand it's possible to get them in case of pod restarts or running slow, but the number of this error can reach 500k in 20 min. which is huge! I would like to stress, that my instances are working without any trouble. Does anyone have an idea why these error messages are created? And what I can do to avoid them?

[2022-04-21 11:36] dorjanshurdhi commented on #4259
Any other solutions?

[2022-04-21 12:57] HeyImAllan opened #8496 "go package is vulnerable in version 1.13"
Dear all,

Sorry for ignoring the template as the issue is quite simple:

Ingress nginx is vulnerable to several go package vulnerabilities:
CVE-2022-23806: go
CVE-2022-24921: go
CVE-2022-23773: go
CVE-2022-23772: go

I didn't find any issue ticket referencing these CVE's. Can you please take a look and fix them?

Thank you.

[2022-04-21 13:05] longwuyuan commented on #8494
/remove-kind bug

Use this one https://kubernetes.github.io/ingress-nginx/deploy/#aws and update status

[2022-04-21 13:07] longwuyuan commented on #8495
Backed pods may be loaded and unresponsive temporarily. Is there a problem you see with the ingress-nginx controller.

[2022-04-21 13:11] Nika-89 commented on #8495
Yes, it's the ingress-nginx controller. I do understand that a few errors are displayed but not 500k for a single pod that was running.

[2022-04-21 13:16] fred214 opened #8497 "Busybox 1.34.1-r4 has Vulnerability CVE-2022-28391"
For fix vulnerability conveniently, we customized the nginx [Dockerfile](https://github.com/kubernetes/ingress-nginx/blob/main/images/nginx/rootfs/Dockerfile):
[code]
Our scanner(Black Duck Binary Analysis) report:
[code]
Then I update the Dockerfile
[code]
The scanner show the vulnerability has been fixed
I noticed in https://pkgs.alpinelinux.org/packages
* Alpine:3.14, busybox is updated to 1.33

[2022-04-21 13:21] longwuyuan commented on #8496
grape is showing only these 2 and there is no fix it for these 2 I think ;

% grype k8s.gcr.io/ingress-nginx/controller:v1.2.0@sha256:d8196e3bc1e72547c5dec66d6556c0ff92a23f6d0919b206be170bc90d5f9185
 ✔ Vulnerability DB        [updated]
 ✔ Loaded image
 ✔ Parsed image
 ✔ Cataloged packages      [120 packages]
 ✔ Scanned image           [2 vulnerabilities]
[0008]  WARN some package(s) are missing CP

[2022-04-21 13:22] longwuyuan commented on #8495
can this be reproduced on mike or kind cluster ?

[2022-04-21 13:24] longwuyuan commented on #8497
We are in the process to release a image based on alpine v3.14.6

% grype k8s.gcr.io/ingress-nginx/controller:v1.2.0@sha256:d8196e3bc1e72547c5dec66d6556c0ff92a23f6d0919b206be170bc90d5f9185
 ✔ Vulnerability DB        [updated]
 ✔ Loaded image
 ✔ Parsed image
 ✔ Cataloged packages      [120 packages]
 ✔ Scanned image           [2 vulnerabilities]
[0008]  WARN some package(s) are missing CPEs. This m

[2022-04-21 13:25] Nika-89 commented on #8495
I am using Azure Kubernetes

[2022-04-21 13:29] eneamarcantoni99 commented on #8494
I found a related issue on geoip2 module project: https://github.com/leev/ngx_http_geoip2_module/issues/98

[2022-04-22 02:24] ashwinpagarkhed commented on #8489
Hello we are setting up a internal ingress controller and seeing that we are not able to connect to the pods. I dont know if there was a recent change done to the ingress controller. But we are seeing a very wierd scenario.

Internal ingress controller in Azure Kubernetes Service with `azure-load-balancer-internal=true` dosent work when the host is set to a certain URL, we have to make it * to mak

[2022-04-22 02:58] rikatz commented on #8487
Apparently openresty is working in a v1.21 nginx compatible release. As soon as this is released, we can start thinking on having nginx v1.21 as Ingress base.

@tao12345666333 thoughts?

[2022-04-22 03:20] tao12345666333 commented on #8487
Yes, I'm asking about the release cycle for the next version of OpenResty

[2022-04-22 03:22] fred214 opened #8498 "Ingress need IngressClass deploy first"
We deploy resource by using `kubectl apply` not helm, we found sometimes ingress cannot get Address, after some testing, we figure out it must be deploy ingressClass first, then deploy the ingress, after a while, the ingress will get the Address.
For ingress-nginx-controller itself, it seems cannot reconcile when ingressClass deployed after ingress, nginx report error:
[code]
Is there any approach

[2022-04-22 04:59] longwuyuan commented on #8498
Can you clarify if you want ingress object to be created, even if there is
no ingressClass object.

Thanks,
; Long

On Fri, 22 Apr, 2022, 8:52 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-04-22 05:32] ZexinChen opened #8499 "Set Pod Security Policy with allowPrivilegeEscalation=false"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
    Release:       1.1.1
    Build:         git-fc38b9f2a
    Repository:    https://github.com/kubernetes/ingress-nginx
    nginx version: nginx/1.19.9

**Kubernetes version** (use `kubectl version`):  v1.22.0

**Environment**:

- **Cloud provider or hardware configuration**:  AKS

**What happene

[2022-04-22 06:07] longwuyuan opened #8500 "Fix the process to generate changelog"
Fix RELEASE.md

The whole point of using a complicated gh cli command and bash script was to present a clickable link on the changelog visible at artifacthub.io. But it still looks like this

<img width="800" alt="image" src="https://user-images.githubusercontent.com/5085914/164613417-5261d679-4fca-4507-a8ce-78c6696c6c08.png">

So better to revert it to simple more accurate git command based gener

[2022-04-22 06:10] longwuyuan commented on #8499
I think its related to the networking related functions like maybe binding to ports ~1024 (80/443).
I think you can also search for other issue that are related to the topic.

/remove-kind bug

[2022-04-22 06:23] bmv126 commented on #8498
helm creates resource in this order
https://github.com/helm/helm/blob/49819b4ef782e80b0c7f78c30bd76b51ebb56dc8/pkg/releaseutil/kind_sorter.go#L64

As you are using kubectl, you need to make sure ingressClass resource is created before ingress resource.

[2022-04-22 07:16] ZexinChen commented on #8499
https://github.com/kubernetes/ingress-nginx/issues/5244#issuecomment-598467353 does metions the NET_BIND_SERVICE capability.

However, If NET_BIND_SERVICE is already added to capabilities in securityContext (which is added by default: https://github.com/kubernetes/ingress-nginx/blob/6d9a39eda7b180f27b34726d7a7a96d73808ce75/charts/ingress-nginx/templates/_helpers.tpl#L45)  is privilege escalation s

[2022-04-22 07:34] fred214 commented on #8498
@longwuyuan @bmv126 Thanks for reply, helm define the deploy order, so we will try to handle it by ourselves.

[2022-04-22 07:34] #8498 closed

[2022-04-22 10:46] rhollins opened #8501 "Azure kubernetes-internal loadbalancer health probe /healthz path is not being created"
Since last Wednesday 20 April midday for some reason the deployment of 4.0.13 and also tested 4.1.0 chart using Azure internal load balancer no longer created correct /health path for the health probes on both HTTP and HTTPS endpoints.

AKS K8s version: 1.22.4
Nginx ingress helm cchart version: 4.0.13
Helm client: 3.8.2

----------------------------------
Deployment:
------------------------------

[2022-04-22 11:18] byteknacker commented on #8006
Actually I need this feature. I am also using external-dns that takes the hostnames of every ingress object and provisions an A record to point to one single Public IP of an AGW. This public ip is static. I need to add an annotation called "external-dns.alpha.kubernetes.io/target 83.92.1.3", for example, to point to the public IP. If there is no option to set this annotation and inherit it to all

[2022-04-22 11:43] #7945 closed

[2022-04-22 12:46] chatagiri commented on #6506
I faced the same problem, I removed all resources of nginx-ingress-controller and installed nginx-ingress-controller again and now I can access it. I do not know the root cause.

[2022-04-22 14:35] HeyImAllan commented on #8496
We use prisma scanning, however all CVE's point to the same version of go.

[2022-04-22 16:18] cjcullen opened #8502 "CVE-2021-25745: Ingress-nginx `path` can be pointed to service account token file"
### Issue Details
A security issue was discovered in [ingress-nginx](https://github.com/kubernetes/ingress-nginx) where a user that can create or update ingress objects can use the `spec.rules[].http.paths[].path` field of an Ingress object (in the `networking.k8s.io` or `extensions` API group) to obtain the credentials of the ingress-nginx controller. In the default configuration, that credential

[2022-04-22 16:18] cjcullen opened #8503 "CVE-2021-25746: Ingress-nginx directive injection via annotations"
### Issue Details
A security issue was discovered in [ingress-nginx](https://github.com/kubernetes/ingress-nginx) where a user that can create or update ingress objects can use `.metadata.annotations` in an Ingress object (in the `networking.k8s.io` or `extensions` API group) to obtain the credentials of the ingress-nginx controller. In the default configuration, that credential has access to all

[2022-04-22 18:03] fhke commented on #8502
Should the [invalidSecretsDir](https://github.com/kubernetes/ingress-nginx/blob/83107e0af40b99066b6a72faf33d95a969d17b18/internal/ingress/inspector/rules.go#L28) regex be updated to `/run/secrets`? In the default ingress-nginx image, `/var/run` is symlinked to `/run`, so the service account token can be accessed through `/run/secrets`:
[code]
Updating the regex to `/run/secrets` would block both p

[2022-04-22 21:24] strongjz commented on #8503
/triage accepted
/priority critical-urgent

[2022-04-22 23:49] bmv126 commented on #8503
The issue talks about injection via annotation.
The deepInpect added in 1.2.0 does not check for annotation.
Not sure how is this fixed in 1.2.0

[2022-04-23 07:15] longwuyuan commented on #8503
@bmv126 the report itself says the CVE applies to release pre v1.2.0 so checking if there is a prescribed demonstrated way to see the exploit in action.

On v1.2.0 I instaledl the helm chart with  --set controller.image.chroot=true, and now I am trying to  create a ingress with a annotation that will demo this vulnerability. Do you have any thoughts on what annotation I can configure in a ingress

[2022-04-23 07:29] longwuyuan commented on #8497
we are now on busybox v1.33.1-r7

<img width="859" alt="image" src="https://user-images.githubusercontent.com/5085914/164884923-c7ccb39f-1aa2-4843-bcaa-7ea120f19a91.png">

/close

[2022-04-23 07:29] #8497 closed

[2022-04-23 07:41] longwuyuan commented on #8502
@cjcullen , I am trying to experience this exploit in a instance of the ingress-nginx-controller, with chroot enabled on the nginx process.

Can you help me gt a example value for the spec `ingress.spec.rules[].http.paths[].path` that will demonstrate this vulnerability, on a chrooted nginx process of the controller.

[2022-04-23 07:43] longwuyuan commented on #8501
Please try https://kubernetes.github.io/ingress-nginx/deploy/#azure and update status

/remove-kind bug

[2022-04-23 12:47] #7926 closed

[2022-04-23 13:47] #7851 closed

[2022-04-23 16:27] nielsole commented on #8068
alexfanat86 is providing a host header. Also even `/` is a path that can be routed. So I don't see why this would exclude host and path based routing.

[2022-04-23 18:49] #7971 closed

[2022-04-23 19:50] #7849 closed

[2022-04-23 19:50] #7951 closed

[2022-04-23 21:58] RomanKisilenko opened #8504 "nginx-ingress: occasional 503 when not so many request issued to server at once"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.0.4
**Kubernetes version** (use `kubectl version`): v1.22.5
**Environment**:
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.3 LTS (Focal Fossa)
- **Kernel** (e.g. `uname -a`): Linux 5.4.0-62-generic #70-Ubuntu SMP Tue Jan 12 12:45:4

[2022-04-23 23:07] stanhu commented on #3543
For those of you who are interested, I was able to build `ingress-nginx` as a FIPS-compliant RedHat Universal Base Image (UBI) image:

* Test image: `registry.gitlab.com/stanhu/gitlab-test-images/k8s-staging-ingress-nginx/controller:v1.2.0-beta.1`
* Changes are here: https://github.com/stanhu/ingress-nginx/compare/main...sh-nginx-fips-ubi
* Diff between Amazon Linux 2 changes: https://github.com/s

[2022-04-23 23:54] #7976 closed

[2022-04-24 05:09] longwuyuan commented on #8504
Nobody else reported this.
I tried to reproduce. See screenshot below.

I can send 9 queries per second and run for 2 minutes and I did not see even a single 5XX.

I see you are using lots of annotations.

Can you write a step-by-step procedure to reproduce the problem in a way that it points to a problem with the ingress-nginx controller.

Thanks,

; Long Wu Yuan

[2022-04-24 05:11] longwuyuan commented on #8504
/remove-kind bug

[2022-04-24 07:47] hudec commented on #8461
I have the same issue with Kubernetes v1.22.8 and containerd://1.5.8
The initial installation was fine using Kubespray v2.18.1
After reinstallation the ingress nginx on one node can't start
NAME                             READY   STATUS             RESTARTS        AGE
ingress-nginx-controller-8rxh6   1/1     Running            0               24m
ingress-nginx-controller-cct24   1/1     Running

[2022-04-24 08:28] RomanKisilenko commented on #8504
@longwuyuan Thank you very much for your input. After playing around with annotations we've identified that the issue comes from rate limiting configuration and increasing rate limits fixes the issue completely.

So that there is now another question. Why in case of rate limit is hit nginx-ingress returns plain 503 instead of 429 as configured in ingress resource?
[code]

This behaviour seems very

[2022-04-24 09:12] Timoses commented on #7794
/remove-lifecycle stale

[2022-04-24 09:17] hudec commented on #8461
upgrade v1.0.4 to v1.2.0 solved this issue

[2022-04-24 10:06] longwuyuan commented on #8504
Where do you see that annotation documented ? It looks like a configMap option https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#limit-req-status-code <https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#limit-req-status-code> .

Thanks,

; Long Wu Yuan

[2022-04-24 10:21] RomanKisilenko commented on #8504
Thank you for clarifying this.

[2022-04-24 10:21] #8504 closed

[2022-04-24 10:24] til-schneider commented on #6398
A better way to set the default-ssl-certificate in microk8s is to do this when enabling the addon (example sets secret `tls-secret` in the `default` namespace):

    microk8s enable ingress:default-ssl-certificate=default/tls-secret

[2022-04-25 03:42] Eric84626 commented on #8395
I want to take this issue, and create PR for it.

[2022-04-25 05:18] ramanNarasimhan77 commented on #8166
@longwuyuan would it be possible to add the steps to get all the core dumps, attaching debuggers to get traces in the Troubleshooting Guide so that people facing such problems can give the Nginx developers adequate information to debug and analyze?

[2022-04-25 05:58] longwuyuan commented on #8166
@ramanNarasimhan77 I think that requires some deep dive work. It will help someone if they don't know how to get info out of a core file. But not sure if one doc here will apply to all scenarios.
On the other hand I also think that someone taking up this task will  either already know or can learn better from the internet.

On a different note, the reproduce procedure described earlier was generat

[2022-04-25 06:00] longwuyuan commented on #8166
I did a search on the issue list and found at least one issue which describes some steps on how others worked on core files. For example https://github.com/kubernetes/ingress-nginx/issues/7080 . There are other issues as well.

[2022-04-25 06:24] longwuyuan commented on #8501
Nice :-)

You can `kubectl get <blah> -o yaml` and compare if you need to root-cause why you had a issue. Close the issue if problem is solved please.

[2022-04-25 06:27] longwuyuan commented on #8496
We release a new version of the controller but di don't bump go yet. Although some libs were bumped. Can you scan the latest release and update please.

/remove-kind bug

[2022-04-25 07:01] rhollins commented on #8501
Even though the liveness probe and health probe are both in controller deployment (manual and from chart) pointing to the correct "/healthz" path the Azure internal load balancer creates path "/" instead when deployed from chart and then traffic is not being forwarded.

Maybe I can check with MS support as well to see if we can find something from their end.

Unfortunately from my end helm chart s

[2022-04-25 07:01] #8501 closed

[2022-04-25 07:36] luciferhs opened #8505 "deploy ingress-controller on aws eks-error getting secret"
the describe controller  pod shows :
[code]

i create like this also failed

wget https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.43.0/deploy/static/provider/aws/deploy-tls-termination.yaml

change proxy-real-ip-cidr: XXX.XXX.XXX/XX  and arn:aws:acm:us-west-2:XXXXXXXX:certificate/XXXXXX-XXXXXXX-XXXXXXX-XXXXXXXX

then deploy this way--   kubectl  apply -f deploy-tls-termina

[2022-04-25 07:38] longwuyuan commented on #8505
provide information asked in the issue template and reopen the issue
/close

[2022-04-25 07:38] #8505 closed

[2022-04-25 08:44] ldawert-sys11 opened #8507 "TLSv1.3 ciphers/ciphersuites cannot be changed"
**NGINX Ingress controller version**: Release v1.1.2, build bab0fbab0c1a7c3641bd379f27857113d574d904, NGINX version nginx/1.19.9

**Kubernetes version**: v1.21.3

**Environment**:

- **OS**: Ubuntu 20.04.3 LTS
- **Kernel**: 5.4.0-99-generic
- **Basic cluster related info**:
  - `kubectl version`:
[code]
  - `kubectl get nodes -o wide`
<details><summary>kubectl get nodes</summary>

[code]

</detail

[2022-04-25 11:09] mjeco commented on #8501
The solution for me was to add the below to the helm command.

`--set controller.service.externalTrafficPolicy=Local`

Azure then correctly created a single HTTP health probe with path `/healthz` on the internal load balancer.
I am able to curl my static `INGRESS_IP` from outside the cluster and get a website with 404.

[2022-04-25 11:27] rhollins commented on #8501
Indeed this fixed that problem for me as well for this chart  Thanks

[2022-04-25 12:27] seanorama commented on #3543
@stanhu YES! My team can take part in testing and maintenance.

[2022-04-25 14:29] foxylion commented on #7837
We were recently notified about this CVE. I see this seems to be fixed in v1.2.0.
Is there anything except from updating to the latest version required to mitgate this type of exploit?

[2022-04-25 14:35] foxylion commented on #8502
We were recently notified about this CVE. I see this seems to be fixed in v1.2.0.
Is there anything except from updating to the latest version required to mitgate this type of exploit?

[2022-04-25 14:36] foxylion commented on #8503
We were recently notified about this CVE. I see this seems to be fixed in v1.2.0.
Is there anything except from updating to the latest version required to mitgate this type of exploit?

[2022-04-25 14:39] chipzoller commented on #8502
@foxylion yes, we are providing a Kyverno policy in the above linked PR (https://github.com/kyverno/policies/pull/302)

[2022-04-25 16:12] stanhu commented on #7781
See https://github.com/kubernetes/ingress-nginx/issues/3543 for discussions on this. I already have changes that can be upstreamed to provide FIPS support, but we would have to decide whether to make UBI the default base image, or provide a separate image.

[2022-04-25 19:17] jpflick commented on #4853
I am getting the same error messages trying to configure Ingress NGINX on a new kind cluster.
Using: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/kind/deploy.yaml
This runs without errors, but the pods never start. Admission pods show Completed but not ready. Controller shows pending. Assuming this is because Admission pods not started.

[2022-04-25 19:58] stanhu commented on #3543
Note that these are the default allowed ciphers with the NGINX FIPS container:

![image](https://user-images.githubusercontent.com/963826/165165143-7a7e5df9-e0d6-4749-bc7e-c50ffab439c7.png)

[2022-04-25 20:30] Benly-walter opened #8513 "Traffic not reaching ingress external IP on AKS clusters post migration from SPN to MSI"
We migrated several AKS clusters from SPN over to MSI.

Post migration, we saw that NEW ingress controller deployments on these migrated AKS clusters using Helm3 (chart used in these tests -> ingress-nginx-4.0.13) had an issue. External traffic could not reach the ingress load balancer IP.
Existing helm deployments on AKS clusters did not have this problem however (even post migration).

As part o

[2022-04-26 00:27] longwuyuan commented on #8513
/remove-kind bug

Uninstall the chart and install as per docs https://kubernetes.github.io/ingress-nginx/deploy/#azure . Then update status here

[2022-04-26 01:19] sczhh commented on #8085
I also encountered this problem.

[2022-04-26 03:08] yutachaos opened #8514 "Nothing update strategy for deafult backend deployment."
I want to prevent the request from dropping as much as possible at the time of rolling update, but I can't adjust it because update starategy cannot be selected for the deployment of default backend.

[2022-04-26 06:54] qaiserali commented on #8215
Hi,
We are facing the same issue, as we run both internal and external ingress controllers in the same namespace. The workaround provided by @collinhayden to use unique election-id works for us too, but it would be good to see an update for fixing this issue. With previous versions, this was working fine.

[2022-04-26 09:23] andbaraks commented on #8501
I was able to reproduce the behavior by using the following yaml file for testing and two AKS cluster, one with Kubernetes version 1.21, the other with 1.22.

apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-ingress-nginx-controller
  labels:
    app.kubernetes.io/component: controller
    app.kubernetes.io/instance: nginx-ingress
    app.kubernetes.io/managed-by: Helm
    app.kubernet

[2022-04-26 10:28] rhollins commented on #8501
To make things more "interesting" I can confirm that this was working fine on 20th April at 01:00 GMT with AKS 1.22.4 and then no longer worked on the same day later in the morning hours... I have job that rebuilds clusters every night and tests ingress among other things.

[2022-04-26 14:15] Benly-walter commented on #8513
thanks, I did that and the ingress controller is working okay ! Nice !
Does it mean that the Helm installation steps from the official MS docs are not to be followed for future installations?
More importantly, how do we then handle controller upgrades? We need a fixed ingress IP for the AKS clusters and that means that we cannot recreate the ingress controllers every time.

[2022-04-26 14:38] tpoindessous commented on #6358
/remove-lifecycle stale

[2022-04-26 14:57] longwuyuan commented on #8513
when there is a new release, you can `kubectl apply` the new URL to upgrade.

[2022-04-26 15:57] VengefulAncient commented on #7103
Sorry this took quite a while.

Upgraded to latest controller (`1.2.0`) via latest helm chart (`4.1.0`). After testing (both Firefox and Chrome), it *seems* that the issue in the form I have described it is gone: I don't have `www` hosts under `rules` but I do under `tls.hosts`, and it works as expected. However:

- Controller logs still mention `the server www.example.com has SSL configured but t

[2022-04-26 16:11] VengefulAncient commented on #7103
Never mind, the error is still happening. *However*, it is only happening with one of our subdomains (we have two in our staging cluster, one for each development branch, e.g. `master.example.com` and `develop.example,com`). Likewise, the SSL certificate error I mentioned in the previous comment only occurs with that subdomain. They are configured absolutely identically though, and use the same in

[2022-04-26 17:08] longwuyuan commented on #7103
Please try the latest release v1.2.0 and update status.

[2022-04-26 17:20] VengefulAncient commented on #7103
/kind bug

[2022-04-26 17:47] Mushfik commented on #4674
Is this issue fixed? I am still facing the same issue in ingress-nginx v1.2.0. After adding spec.tls.Hosts, spec.tls.secretName (CA Cert) and spec.rule.Host, it is still using default fake kubernetes certificate.

[2022-04-26 17:52] longwuyuan commented on #7103
Try to provided related info using the the recommended https://kubernetes.github.io/ingress-nginx/deploy/#gce-gke and maybe avoid the personal comments.

Seems like a complicated issue and you have used helm chart. Not sure if yo have tried the recommended manifest. So the data provided may not have clarity. The cert you showed has definitely expired in 2021 for example.

Provide data that has  re

[2022-04-26 18:01] ATownsend commented on #7755
https://github.com/ATownsend/ingress-nginx/pull/1#issue-1015531455

[2022-04-26 18:14] VengefulAncient commented on #7103
I reiterate, please stop polluting the thread with unhelpful comments. You are wasting everyone's time. This thread has been opened months ago and the certificate has obviously been renewed since. I'd like to hear from @rikatz who indicated he was interested in investigating this bug, and not read through obvious FAQ. I have already posted plenty of relevant information, and the fact that you cann

[2022-04-26 18:18] #7981 closed

[2022-04-27 06:45] WestFarmer commented on #6135
Why people still facing same problem, but this issue closed.

[2022-04-27 07:25] xcq1 commented on #8502
@chipzoller This is only an alternative, if I can't update, correct?
From the CVE it sounds as if the whole fix is included in ingress-nginx v1.2.0.

[2022-04-27 08:53] sc-olenanosenko commented on #6135
Hi all! I am also faced with the same issue

Using Kubernees version v1.22.4

NGINX Ingress controller
  Release:       v1.2.0
  Build:         a2514768cd282c41f39ab06bda17efefc4bd233a
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.10

W0426 08:20:17.457920       8 controller.go:1015] Error obtaining Endpoints for Service "default/cd": no object matching k

[2022-04-27 09:18] sc-olenanosenko opened #8515 "Kubernetes NGINX Ingress controller not able to find the SSL certificate"
**NGINX Ingress controller**
  Release:       v1.2.0
  Build:         a2514768cd282c41f39ab06bda17efefc4bd233a
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.10

**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.5", GitCommit:"5c99e2ac2ff9a3c549d9ca665e7bc05a3e18f07e", GitTreeState:"clean", BuildDate:"2021-12-16T0

[2022-04-27 09:37] longwuyuan commented on #8515
/kind support
/remove-kind bug

Install as per documented recommendation here https://kubernetes.github.io/ingress-nginx/deploy/#azure

If required, re-open the issue and post all the information asked in the issue template.
/close

[2022-04-27 09:37] #8515 closed

[2022-04-27 13:00] NeckBeardPrince commented on #8059
/remove-lifecycle stale

[2022-04-27 14:43] Usuychik commented on #7261
Having same  issue with  controller-v1.2.0  when using the http_snippet

[2022-04-27 15:01] longwuyuan commented on #7261
Apologies, the engineer working on this stopped contributing to the
project. Will see if any progress can be made.
/assign

Thanks,
; Long

On Wed, 27 Apr, 2022, 8:13 PM Vitaliy Isarev, ***@***.***>
wrote:

[2022-04-27 15:21] #7950 closed

[2022-04-27 16:23] fbeauche commented on #8513
From what i could find, the values needed to make it work with the helm chart are :
[code]
I found those values in this file :
https://github.com/kubernetes/ingress-nginx/blob/main/hack/manifest-templates/provider/cloud/values.yaml

that seems to be used to generate the static templates files from the helm chart.

[2022-04-27 17:09] longwuyuan commented on #8513
thanks. close the issue since the problem is solved I guess.

[2022-04-27 19:04] zawachte-c opened #8516 "Stale Documentation: Website/README claims that wildcard hosts are not supported"
**What happened**:

https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/ingress-path-matching.md and on the website it says

`Regular expressions and wild cards are not supported in the spec.rules.host field. Full hostnames must be used.`

**What you expected to happen**:

This is not true anymore, right? I am pretty sure that wildcard hosts are now supported.

[2022-04-27 19:08] mac-chaffee opened #8517 "Daemonset missing SYS_CHROOT permission when controller.image.chroot=true"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.2.0

**Kubernetes version** (use `kubectl version`): v1.22

**What happened**:

The daemonset template is not using the `controller.containerSecurityContext` helper for it's securitycontext:

https://github.com/kubernetes/ingress-nginx/blob/6d9a39eda7b180f27b34726d7a7a96d73808ce75/charts/ingress

[2022-04-27 19:10] mac-chaffee commented on #8517
Also the PodSecurityPolicy is missing that new permission:

https://github.com/kubernetes/ingress-nginx/blob/6d9a39eda7b180f27b34726d7a7a96d73808ce75/charts/ingress-nginx/templates/controller-psp.yaml#L13-L14

[2022-04-27 19:19] bmv126 commented on #8502
As the rules for deep inspect are hard-coded in the code.
Also as mentioned above by @fhke some rules are missed.
So it doesn't look like fixed in 1.2.0 just by upgrading.
May be just like bad annotation list these rules also should be exposed to user.

[2022-04-27 19:20] bmv126 commented on #8502
@strongjz @rikatz any comments on this being completely fixed in 1.2.0

[2022-04-27 19:40] bmv126 commented on #8517
As per https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.2.0
you need to update image name with  "-chroot"

[2022-04-27 19:43] mac-chaffee commented on #8517
@bmv126 setting `controller.image.chroot=true` does that automatically, that's not the issue:  https://github.com/kubernetes/ingress-nginx/blob/6d9a39eda7b180f27b34726d7a7a96d73808ce75/charts/ingress-nginx/templates/_helpers.tpl#L54-L63

[2022-04-27 22:24] shashankram opened #8518 "Ingress rule with non-wildcard path does not work"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
AKS

- **Cloud provider or hardware configuration**: AKS

- **How was the ingress-nginx-controller installed**:
  - If helm was used then please show output of `helm ls -A | grep -i ingress`
[code]

  - If helm was u

[2022-04-28 00:15] longwuyuan commented on #8516
/remove-kind bug
/kind docs

The context is that that a wildcard character, all by itself with no suffix, is not supported as documented here https://kubernetes.io/docs/concepts/services-networking/ingress/#hostname-wildcards   and  `kubectl explain ingress.spec.rules.host`

[2022-04-28 00:24] longwuyuan commented on #8518
/remove-kind bug
Please search other issues and read docs. Then post the info requested in the issue-template.  Its not even clear if your service type is NodePort or LoadBalancer

[2022-04-28 00:40] longwuyuan commented on #8517
@mac-chaffee you are right, daemonset template is explicitly including NET_BIND_SERVICE capability instead of using the helper like the deployment template. Someone needs to investigate if this exclusion is by design for the daemonset use case. But if you want to submit a PR, then please go ahead.

But PSP is deprecated in favour of PSA https://v1-20.docs.kubernetes.io/blog/2021/04/06/podsecurityp

[2022-04-28 00:49] longwuyuan commented on #8502
@bmv126 this was discussed in the last community meeting. Maintainers were aware of this and are working on it from even before the issue was created or maybe even before the CVE was published.

The controller v1.20 introduces capability to jail/charoot the nginx process so it has been tested that the obvious use case of getting a shell, by breaking out of the nginx process, will land the actor in

[2022-04-28 01:02] mostafa8026 commented on #1406
This issue was so useful for me to find my problem. I just want to share my experience with others:
I was trying to use ingress to forwad request to an internal nginx (It was artifactory that runs with a side by nginx service), everytime I tried to login my docker this error happend:

[code]

As you see it forwarded to port 80. After a lot of searching, I got to this issue and this led me to take

[2022-04-28 01:03] WestFarmer commented on #6135
check ingress.class annotation present.

[2022-04-28 01:48] yinfuqian commented on #8503
Is there any way to reproduce this problem

[2022-04-28 05:00] longwuyuan commented on #8503
Please try to avoid public display of exploit and you can try to enable chroot image while installing the controller v1.2.0 to enable the jailing/chrooting of the nginx process.

[2022-04-28 05:19] mindw commented on #2924
/remove-lifecycle stale

[2022-04-28 08:20] Benly-walter commented on #8513
thanks @longwuyuan
I am closing this ticket !

[2022-04-28 08:20] #8513 closed

[2022-04-28 08:29] kundan2707 commented on #8516
/kind documentation

[2022-04-28 10:37] sc-olenanosenko commented on #6135
Hi @WestFarmer I see, that "no object matching the key "default/cd" in local store" but I can't resolve it. One week ago all my deployments were working on different Kubernetes versions correctly and all SSL certificates were applied. I can't understand what is happen and how to resolve this?

[2022-04-28 12:25] zawachte-c commented on #8516
Oh I just thought it was leftover from before when kubernetes didn't support wildcard hosts upstream. ( k8s < 1.18)

https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#support-for-hostname-wildcards

[2022-04-28 13:04] brunzefb commented on #6135
@sc-olenanosenko Can you taking helm out of the equation of the problem?  Run ``|helm template deployment name ./ --values values.yaml -- namespace default --debug```  in the directory of Chart.yaml.  If the chart is not local, do helm repo add ..., followed by helm dependency update.  This should render the one combined manifest file. Examine that to see what the issue is, deployment, ingress, or

[2022-04-28 15:04] fred214 opened #8519 "How to customize log format"
For some reason we need customize own log format, how can we do it?
1. Modify `rootfs/etc/nginx/template/nginx.tmpl` and rebuild the docker image?
2. Using configmap overwrite the `/etc/nginx/template/nginx.tmpl`?

Thanks a lot

[2022-04-28 15:47] pcgeek86 commented on #4979
- I have my DNS A record set correctly, to point to the Ingress Controller's Load Balancer IP address
- I configured my Ingress resource to use a Kubernetes Secret of type `tls`
- I have matched the hostname in my Ingress resource's configuration
- ⚠️ **Error**: NGINX Ingress Controller **still** does not honor this custom TLS certificate. It uses the default ACME Fake certificate.

🤔 Why does the

[2022-04-28 16:01] redek91 commented on #6335
I also had a problem with this yesterday. It turns out my firewall blocked the "k8s.gcr.io" domain...I lost hours for this.

I finally managed to deploy after adding "k8s.gcr.io" to a domain/url whitelist. I hope this helps you.

[2022-04-28 16:04] longwuyuan commented on #4979
Run openssl command on the hash of the secret, showing subject, altsubject
and expiry. Copy paste here.

Show ouput of kubectl get all,secret, ing.

Show curl command and output with -v.

Show controllerpod logs.

Thanks,
; Long

On Thu, 28 Apr, 2022, 9:18 PM Trevor Sullivan, ***@***.***>
wrote:

[2022-04-28 16:21] shashankram commented on #8518
`"Please search other issues and read docs"` is not an acceptable answer. I have looked through various similar bugs and many have been closed due to inactivity. Please take the time to point out specifically which bugs are similar and which docs might help resolve the problem.

The service is a LoadBalancer service. Check the PR description to view the specific details. If there is additional inf

[2022-04-28 17:13] pcgeek86 commented on #4979
@longwuyuan I already fixed it, thank you!

[2022-04-28 17:36] longwuyuan commented on #8519
does this work for you https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#log-format-upstream

/kind support

[2022-04-28 21:07] glloyd2010f commented on #8501
I deployed ingress using the [kubernetes ingress-nginx](https://kubernetes.github.io/ingress-nginx) "~4.0.0" chart and AKS 1.22.6 today, 4/28/2022, and the kubernetes-internal loadbalancer probes had a path of '/' instead of '/healthz'.

[2022-04-28 21:32] #7991 closed

[2022-04-28 21:38] rthamrin commented on #6335
I did by using a VPN but it doesn't work, However [This might help](https://youtu.be/Tbt7LJ_UkGI)

[2022-04-29 01:43] DataMinded opened #8520 "Multiple CVE detected in latest "helm-chart-4.1.0 | ingress-nginx/controller:v1.2.0" release"
Issue Details
Multiple CVE detected in latest "helm-chart-4.1.0" release

Image `k8s.gcr.io/ingress-nginx/controller@sha256:d8196e3bc1e72547c5dec66d6556c0ff92a23f6d0919b206be170bc90d5f918`
ID `sha256:04fcc70194086eb9118c8a015dc455c0f7f0249b10346f8b03f97d86ae99fb0c`
OS distribution `Alpine Linux v3.14`
OS `release3.14.6`
Digest `sha256:d8196e3bc1e72547c5dec66d6556c0ff92a23f6d0919b206be170bc90d5f918

[2022-04-29 02:04] yinfuqian commented on #8503
I hope I can see the actual impact of this problem, so I hope to reproduce this problem in the test environment. How can I deal with it

[2022-04-29 02:07] longwuyuan commented on #8520
Grype confirms it. Please wait till maintainers schedule the update ;

 ✔ Vulnerability DB        [updated]
 ✔ Pulled image
 ✔ Loaded image
 ✔ Parsed image
 ✔ Cataloged packages      [120 packages]
 ✔ Scanned image           [14 vulnerabilities]
[0023]  WARN some package(s) are missing CPEs. This may result in missing vulnerabilities. You may autogenerate these using: --add-cpes-if-none
NAME

[2022-04-29 02:07] longwuyuan commented on #8520
/triage accepted

[2022-04-29 02:24] longwuyuan commented on #8518
/triage needs-information
/remove-kind bug

Assign the label bug after there is data available in the issue that shows the bug. This problem looks like a configuration related issue so triage needs-information

It will help everyone, if you post the information that is relevant to the problem. For example ;
- kubectl get svc,ing -A
- kubectl describe ing -A
- kubectl logs <controllerpod>
- Send th

[2022-04-29 02:27] longwuyuan commented on #8503
https://kubernetes.io/blog/2022/04/28/ingress-nginx-1-2-0/

[2022-04-29 06:52] FrodeI opened #8521 "Missing documentation for controller.service.loadBalancerIP in Helm chart"
The chart documentation contains a single sentence describing that this value must be set to use static IP for the load balancer, but the field is missing from the values table, which makes it hard to discover.

/kind documentation
/remove-kind bug

[2022-04-29 08:17] rhollins commented on #8501
@[glloyd2010f](https://github.com/glloyd2010f) Here is also another solution to this problem from another thread:

https://github.com/Azure/AKS/issues/2907#issuecomment-1109759262

[2022-04-29 08:29] longwuyuan commented on #8521
/area docs
/remove-kind bug
@FrodeI thanks. Do you want to submit a PR for this ?

[2022-04-29 08:54] FrodeI commented on #8521
Yes, I will do that.

[2022-04-29 09:33] #7995 closed

[2022-04-29 12:36] #7966 closed

[2022-04-29 15:11] jessedye opened #8523 "Add support for additional ports for helm chart"
I'd like to be able to specify an array or range of ports in the ingress-nginx helm chart.

[code]

Currently if I try to this I get the following error:
unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(Service.spec.ports[0].port): invalid type for io.k8s.api.core.v1.ServicePort.port: got "array", expected "integer"

It seems the

[2022-04-29 15:36] glloyd2010f commented on #8501
Thank you for this, I will get this added to my helm chart.

[2022-04-29 16:53] shashankram commented on #8518
All of this has been shared. Please read through the PR description to find the requested info. I have shared a lot of configs, nginx conf files, and relevant logs.

There should be enough info in the bug to determine if there is a misconfiguration.

The behavior I am seeing is that there are no logs corresponding to the request in Nginx ingress controller when using a non-root path `/get`, which

[2022-04-29 17:10] shashankram commented on #8518
/cc @ingress-nginx-maintainers

[2022-04-29 17:20] longwuyuan commented on #8518
what happens if you put a slash after "get" ?

[2022-04-29 18:40] #7990 closed

[2022-04-29 22:50] numbsafari commented on #7118
In our config we are kustomize. For this component we are applying a patch, e.g.:

[code]

[2022-04-29 23:02] BenWalters commented on #4909
Also resolved my issue! Thanks...
But do we know why this is necessary? On a slightly simpler setup I had, this was working with a wildcard even though the TLS section had explicit domains.

[2022-04-30 00:34] stanhu commented on #3543
I've submitted https://github.com/kubernetes/ingress-nginx/pull/8524/files for review.

[2022-04-30 01:13] rikatz commented on #3543
Hi @stanhu

I will need some time on this.

Right now, my concern is about UBI indeed. We do have plans actually to migrate to Debian (and later distroless), is that possible to use that approach?

Thanks

[2022-04-30 02:21] gas6262 opened #8525 "Route route and subpath using same ingress controller"
I am attempting to create an ingress configuration where ab.app/api/* is routed appropriately to one container and  ab.app/* is routed to another. However, this does not appear to be supported using basic rewrite-target rules. Here is the ingress controller I am attempting to use:

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-common
  annotations:
    kubernetes.io/ingr

[2022-04-30 02:37] longwuyuan commented on #8525
@gas6262 you are showing a ingress object and not a ingress controller. You can read more here https://kubernetes.github.io/ingress-nginx/ and  here https://kubernetes.io/docs/concepts/services-networking/ingress/?spm=a2c4g.11186623.2.23.3fdd30dfnyevPx#what-is-ingress .

I would think that `ab.app/*`  includes `ab.app/api/*`, because the * in the `ab.app/*` matches the `api` in `ab.app/api/*` so p

[2022-04-30 04:22] stanhu commented on #3543
Unlike Red Hat, I believe Ubuntu does not ship a FIPS-validated OpenSSL with the standard, free Ubuntu distribution. The instructions in https://ubuntu.com/blog/building-and-running-fips-containers-on-ubuntu18-04 indicate that to build a container with FIPS-validated libraries, you need to copy over `.deb` packages from a Ubuntu Pro FIPS installation (which requires a subscription), install them,

[2022-04-30 07:52] AverageMarcus opened #8527 "Option to disable "Sync" events"
Currently, ingress-nginx create a "Sync" event whenever ingress resources are added or updated. In large clusters this can result in over 100,000 events being created with very little value for cluster operators (in my opinion, the logs suffice).

**What do you want to happen?**

An optional config flag / env var that can be set to disable the creation of the "Sync" events within a cluster.

**Is

[2022-04-30 14:41] #5547 closed

[2022-04-30 16:34] gas6262 commented on #8525
OK will transfer to the Kubernetes slack.

[2022-04-30 16:34] #8525 closed

[2022-04-30 18:26] seanorama commented on #3543
That's right:

- Red Hat UBI containers [include FIPS-validated libraries](https://csrc.nist.gov/projects/cryptographic-module-validation-program/validated-modules/search?SearchMode=Basic&ModuleName=red+hat+enterprise+linux+8&CertificateStatus=Active&ValidationYear=0).
- Ubuntu containers do not. They do not freely distribute their FIPS-validated libraries.

To get FIPS-validated libraries in an U

[2022-04-30 22:56] lucasff commented on #8483
Thanksm @augustfengd. Hopefullym it will be built natively, but Rosetta does the job!

[2022-05-01 15:05] SeWieland commented on #7755
Stumbled upon the same issue. Until the PR gets merged, simply use the `.Values.nameOverride` option ;)

[2022-05-01 15:20] yoshigev commented on #5607
I hope I'm getting this discussion correctly, but I did manage to force Nginx to close connections using a pretty simple Ingress configuration:

[code]

Notes:
1. The `dummy-resource` service is dummy - it doesn't really exist.
2. Nginx still sends it's default certificate prior to closing the connection. But I believe that the best that could be done. Just make sure that's default certificate don

[2022-05-01 16:42] hectoralicea commented on #4579
Please post solution

[2022-05-01 17:49] #7580 closed

[2022-05-01 19:51] #7844 closed

[2022-05-01 20:41] #8521 closed

[2022-05-01 21:11] rikatz commented on #7837
@foxylion unfortunately not. You can still block the usage of *snippets, but there;s another vulnerability in main ingress object that should be dealt with. What version are you?

I'm closing this issue as it's already fixed in the latest version, and we are planning to deprecate the legacy version so I highly recommend migrating to ingress v1.X

Thanks!
/close

[2022-05-01 21:11] #7837 closed

[2022-05-01 21:49] rikatz commented on #7286
@dkulchinsky 👋
Sorry, this got completely missed in my backlog.

Someone did a PR that when the backend is set as GRPC/s the grpc_set_header directive is used. Just tested here.

I'm closing this issue, feel free to reopen if this doesn't work for you ok?

Thanks!
/close

[2022-05-01 21:49] #7286 closed

[2022-05-01 22:55] jsoref opened #8530 "Automatically Detect upstream nginx api breaks"
nginx 1.19.7 deprecated a bunch of configurable items. It would have been nice for ingress-nginx to detect this when the ingress-nginx team pulled in a version >= that and have that upgrade address the deprecations.

Proposal:
Add a configuration that exercises all of the nginx fields supported by ingress-nginx and a test which starts nginx w/ that configuration and checks for any deprecation warn

[2022-05-01 23:20] rikatz commented on #8530
/triage accepted
/lifecycle frozen

[2022-05-02 00:25] longwuyuan commented on #7261
/assign @jsoref

[2022-05-02 00:25] longwuyuan commented on #7261
/assign

[2022-05-02 01:49] jsoref commented on #7261
/assign jsoref

[2022-05-02 06:48] vikomte commented on #8207
No one has been able to clear this out ?

[2022-05-02 07:12] longwuyuan commented on #8207
There is no data in this issue that someone can analyse.
There is some documentation here https://kubernetes.github.io/ingress-nginx/user-guide/fcgi-services/ .

But practically if someone is really going to create a new Kubernetes cluster and then write new php based apps on it, then  they will find it more practical to combine the php-code, the fpm software and the nginx web server in one single

[2022-05-02 08:56] #7129 closed

[2022-05-02 10:56] jackivanov commented on #3202
- https://docs.nginx.com/nginx/admin-guide/security-controls/controlling-access-proxied-tcp/
This is definitely should be a part of Nginx Ingress

[2022-05-02 13:39] JohnGalt1717 commented on #5607
@yoshigev  Thanks for this. It's definitely better, but this will not pass PCI.  If they get a cert handshake that isn't a valid 3rd party trusted signed cert, they will fail you. It doesn't matter if it doesn't complete a connection.

[2022-05-02 13:58] natarajan0007 commented on #6862
I also faced the similar issue. While debugging the logs. if you find anything related to no route to host for kube API service. You can follow the below procedure it worked for me.

i found the answer from the following thread.

https://github.com/kubernetes/kubeadm/issues/193

systemctl stop kubelet
systemctl stop docker
iptables --flush
iptables -tnat --flush
systemctl start kubelet
systemctl s

[2022-05-02 14:17] immanuelfodor commented on #7837
Why is that I do not have an `--enable-snippets` CLI flag on the ingress controller? Is this behind some other feature flag that I need to enable first?

![image](https://user-images.githubusercontent.com/21174107/166249390-f8b21133-35f7-4d74-bd21-63f398e6d9ea.png)

[2022-05-02 16:42] drummerglen opened #8535 "Ingress get wrong ip from ingress-nginx-controller which work with MetalLB"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.12", GitCommit:"696a9fdd2a58340e61e0d815c5769d266fca0802", GitTreeState:"clean", BuildDate:"2022-04-13T19:07:00Z", GoVersion:"go1.16.15", Compiler:"gc", Platform:"

[2022-05-02 17:00] #8535 closed

[2022-05-02 17:05] drummerglen commented on #8535
I have deployed the latest version of ingress-nginx with yaml directly, it has been fixed.
Kubeapps use ingress-nginx 1.1.3, that's bad :(
Thank you for all!

[2022-05-02 17:08] jtackaberry commented on #8208
/remove-lifecycle stale

[2022-05-02 17:44] jackivanov opened #8536 "controller.containerPort should allow exposing services"
I'm using `nginx.ingress.kubernetes.io/stream-snippet` to have more control over TCP settings, but currently there's no way to expose those ports through the service.

[code]

We can make the pod expose the ports in the snippet using `controller.containerPort`, but we also want the service to accept incoming connections without using the `tcp` config map

It either can be done by giving more contr

[2022-05-03 02:07] kundan2707 commented on #7961
/assign

[2022-05-03 05:01] Slyke opened #8539 "Services randomly being assigned Ingress Controller's IP address"
You can probably skip down to the bottom to the "Others" section. I only put in all the commands in case it helped and because it's required.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: Bare-metal
- **OS** (e.g.

[2022-05-03 05:06] kundan2707 commented on #8539
@Slyke  can you share logs of ingress pod which caused error ?

[2022-05-03 05:57] Slyke commented on #8539
Hey, sure, here they are:

From the Ingress nginx pod (handles https, certs etc):

[code]

From the reverse proxy that the ingress pod hands the request to (since it needs to be in the same namespace as the ingress pod):
[code]

Config:
[code]

Second reverse proxy that handles authentication, url rewrites etc:
[code]

Config:
[code]

When navigating to `XXXX.XXX/motioneye`, it gets redirected wit

[2022-05-03 05:59] longwuyuan commented on #8539
/remove-kind bug
/kind support

[2022-05-03 10:01] Slyke commented on #8539
Here is it when setting `XXXX.XXX` to point to 10.7.9.11 (reverse proxy `RP1` that nginx ingress talks to) on my DNS on my LAN:
![image](https://user-images.githubusercontent.com/6442613/166435098-4c506278-16cc-442c-8d98-8f66166be87c.png)

I just changed the motioneye nginx on the second (most inner) reverse proxy to:
[code]

The only other thing between the browser and RP1 is the ingress nginx.

[2022-05-03 10:41] BenHesketh21 opened #8541 "Can't get Client IP through ingress"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`): v1.23.5

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.6 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): Linux aks-agentpool-42628748-vmss000000 5.4.0-1074-azure #77~18.0

[2022-05-03 10:46] longwuyuan commented on #8541
/remove-kind bug

What happens if you try https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip `externalTrafficPolicy: Local`

[2022-05-03 10:51] BenHesketh21 commented on #8541
@longwuyuan That is already set when I install the ingress helm chart

[2022-05-03 11:05] longwuyuan commented on #8541
can you show that its set

[2022-05-03 11:12] BenHesketh21 commented on #8541
@longwuyuan Its in the values of the helm chart in the original message
[code]

[2022-05-03 11:25] HeyImAllan commented on #8496
V1.2.0. has the following scan results:
CVE-2022-23806
CVE-2022-28327
CVE-2022-24921
CVE-2022-24675
CVE-2022-23773
 CVE-2022-23772

All for version 1.17.6.

Also a new CVE was discovered for ncurses:
CVE-2022-29458

[2022-05-03 11:27] longwuyuan commented on #8541
Can you confirm that if you don't use helm chart and instead use
https://kubernetes.github.io/ingress-nginx/deploy/#azure , and dont change
any defaults or modify for proxy-protocol etc, but only and only set
externalTrafficPolicy to Local, then your pod does not see real client
ipaddress.

Thanks,
; Long

On Tue, 3 May, 2022, 4:42 PM BenHesketh21, ***@***.***> wrote:

[2022-05-03 13:10] BenHesketh21 commented on #8541
I can confirm, I'm getting the client IP through, so is it the helm chart or one of the settings I have?

[2022-05-03 13:50] longwuyuan commented on #8496
A minor release is planned that will bump go among other changes.
/triage accepted
/kind bug

[2022-05-03 14:36] BenHesketh21 commented on #8541
Going through all my settings it seems to be the
[code]
That stops the client IP coming through, is this expected behaviour

[2022-05-03 14:39] ashwinpagarkhed commented on #8518
faced the same issue. We need a /* and then you can add any additional paths

[2022-05-03 14:49] BenHesketh21 commented on #8541
I have got it to work by applying the configs "enable-real-ip": "true" and "forwarded-for-header": proxy_protocol. But without those, with --enable-ssl-passthrough the client ip gets lost, doesn't seem to make a lot of sense. Closing issue

[2022-05-03 14:49] #8541 closed

[2022-05-03 15:36] stanhu commented on #3543
I should note Red Hat appears to have published a UBI version of `nginx-ingress` here: https://catalog.redhat.com/software/containers/nginx/nginx-ingress/5e97342869aea31642b49968?container-tabs=gti

This doesn't compile the Golang components with a FIPS-compatible compiler (e.g. `dev.boringcrypto` branch), but that should be easy to do.

[2022-05-03 15:37] tyrken commented on #8215
We were hit too - looks like this is a regression from the way it used to work, e.g. see https://github.com/kubernetes/ingress-nginx/pull/613 which used the ingressClass to make elections unique.  Somewhere in the refactoring this was lost.

FWIW we have four different nginx's in a namespace with different network security arrangements for each of them.

[2022-05-03 16:10] seanorama commented on #3543
@stanhu Nice! What are the Golang components doing in nginx-ingress? If they aren't listening for connections and serving data data, like nginx is, then FIPS may be less of an issue for many use cases.

[2022-05-03 16:13] seanorama commented on #3543
@stanhu I had a look.

That is the `nginx-ingress` controller provided by Nginx (F5 Networks).

1. It's not quite the same as `kubernetes/ingress-nginx` so will take some work for users to migrate to.
2. It's also not clear if the ubi images and the Nginx in it was configured properly for FIPS.
3. It may not be, since F5 claim that you have to pay for Nginx Plus to get FIPS: https://www.nginx.com/

[2022-05-03 16:23] stanhu commented on #3543
@seanorama Oh, right, thanks for the clarification.

I'm not sure, but I did see the Golang component listen for TLS here and use Go crypto routines here. When I recompiled the binary with https://github.com/golang-fips/go, I did see the cgo routines linked it, so I assumed there was some use of crypto modules.

1. https://github.com/kubernetes/ingress-nginx/blob/d226d831bdfc104785114e4ed73e2777ed

[2022-05-03 19:40] shashankram commented on #8518
That doesn't work either.

[2022-05-03 19:41] shashankram commented on #8518
@ashwinpagarkhed Are you implying that a root path is necessary for additional sub paths to work? Could you share what the configuration should look like? Thanks

[2022-05-03 21:14] awoimbee commented on #6141
I set `cri-o` `pids_limit` to `32768`. It solves the error messages but not the "unreliable connections, timeout, sometimes works".
Setting `worker-processes` to a low value works (16 for a 48 threads CPU), but having a fixed number of workers sucks.

[2022-05-04 03:01] essh commented on #5667
Also seeing this across some AKS clusters that seem to sometimes briefly (~ a few minutes) lose connectivity to the control plane resulting in the same `Service "zzz" does not have any active Endpoint.` messages.

This manifests as 503 errors being served when hitting an Ingress URL until connection with the control plane is once again resumed and the appropriate endpoints populated again.

[2022-05-04 11:02] fpetkovski commented on #4972
We are facing a similar problem and I would like to tackle the issue. Could someone reopen it and assign it to me?

[2022-05-04 14:42] tall-dan opened #8549 "Send different headers from canary ingress vs. stable"
Hello,

My team is trying to coordinate a 'canary' release across several different services. We currently release all of our services at once, via a rolling update. We want to keep the all-at-once pattern, but transition to canary releases.

One service that's part of the release is our UI. If we are to deploy a canary version of the UI, we would want it to only communicate with canary versions o

[2022-05-04 14:49] longwuyuan commented on #8549
What dies this mean  ?
[code]

[2022-05-04 15:41] tall-dan commented on #8549
We release multiple services at the same time. If we want to canary-ize our release, that means that a given environment would have ServiceA, ServiceB, ServiceC, etc. and also ServiceA-Canary, ServiceB-Canary, ServiceC-Canary, etc.

More than one service may be required to respond to any http request, eg. ServiceA calls ServiceB before providing a final response. We want the request to be canary-o

[2022-05-04 16:07] telderfts commented on #8373
There will definitely need to be a solution before August as AWS will deprecate the Classic ELB that ingress-nginx sets up when applied

[2022-05-04 16:11] tall-dan commented on #8549
I'm going to edit the issue body to make this a little more clear

[2022-05-04 16:40] #8373 closed

[2022-05-04 19:00] wdullaer commented on #8086
/remove-lifecycle rotten

This issue is still relevant I believe

[2022-05-04 20:28] eagleusb commented on #6634
I would be very interested in that feature too, as it's really needed for backend that have limited capacity or behaves much faster with a limit of simultaneous connections.

[2022-05-04 21:12] telderfts commented on #8373
@longwuyuan This needs to be re-opened. This is NOT better discussed on the slack channel as it's a legitimate issue especially with the helm chart that deploys this ingress.

[2022-05-04 21:44] rittneje commented on #8373
@telderfts I believe you just need to set annotations on the Service via your values.yaml. https://github.com/kubernetes/ingress-nginx/blob/ee50e38b44b83278bac455f9d1e1f9d07d4ec97c/charts/ingress-nginx/templates/controller-service.yaml#L5-L8

See https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/annotations

I don't use helm though, so I can't say for sure. (My unde

[2022-05-04 22:37] longwuyuan commented on #8373
@telderfts the issue reported was this ;
[code]

This reported issue is better discussed in slack.

A new issue can be created for another problem and related data can be posted n the new issue as per the issue template. This helps track problems as there is shortage of resources.

[2022-05-05 04:05] longwuyuan commented on #8086
@wdullaer, do you have a PR in mind.

Thanks,
; Long

On Thu, 5 May, 2022, 12:30 AM wdullaer, ***@***.***> wrote:

[2022-05-05 07:54] mimmus commented on #8373
I asked to AWS about retirement of classic ELB, it's not exacly a retirement.

[code]

In any case, as said, it's simply a matter of settig an annotation:

[code]

[2022-05-05 08:23] villesau commented on #8469
I'm experiencing an issue where I set `nginx.ingress.kubernetes.io/cors-allow-origin: "https://www.example.com"` but in the response headers I see `access-control-allow-origin: https://subdomain.example.com` when requesting from `https://subdomain.example.com`. So effectively `nginx.ingress.kubernetes.io/cors-allow-origin` seems to be still `*`.

[2022-05-05 08:26] villesau commented on #8235
I think this might be related if not the same issue: https://github.com/kubernetes/ingress-nginx/issues/8469

[2022-05-05 08:30] AliElKhatteb opened #8551 "Unstable default-backend annotation ?"
Hello everyone so i am having a problem with these 2 nginx annotation:
nginx.ingress.kubernetes.io/custom-http-errors: 403,404,503
nginx.ingress.kubernetes.io/default-backend: default-http-backend5
it works randomly meaning sometimes it gives me back the error page in my default back end container and most of the time it gives
me 403(forbidden) and i don't know why as i followed the same steps in

[2022-05-05 08:34] longwuyuan commented on #8551
/remove-kind bug
/kind support

[2022-05-05 09:35] AliElKhatteb commented on #8551
[error] 26#26: *1091 directory index of "/usr/share/nginx//" is forbidden, client: 10.42.80.4, server: localhost, request: "HEAD / HTTP/1.1", host: "host.domain.com"

[2022-05-05 09:59] dhinesh-babu-bankbuddy commented on #6358
@[brsolomon-deloitte](https://github.com/brsolomon-deloitte) thanks this is working fine in the newer 4.0.19 chart.
The plugins didn't seem to load unless i explicitly set the [plugins](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#plugins) in the controllers configmap.

From what i can see by browsing the nginx.conf generated, This issue seems to arise becau

[2022-05-05 10:27] Slyke commented on #8539
After a lot of investigations I've discovered that sometimes my services are resolving to the LAN IP of the nginx ingress controller.

These commands were executed a few seconds apart:

[code]

The 10.7.9.10 IP address is from:
[code]

Here's describing the service:
[code]

I'm not sure why or how this is happening.

[2022-05-05 10:46] longwuyuan opened #8552 "testgrid reports broken"
## what ?
Testgrid for k8s reports broken CI  https://testgrid.k8s.io/sig-network-ingress-nginx#ci-e2e-main

<img width="1580" alt="image" src="https://user-images.githubusercontent.com/5085914/166907809-5d1b215a-ca3b-4d88-9b12-010fe867aeac.png">

Discussed here   ;
https://kubernetes.slack.com/archives/C021E147ZA4/p1651068004993369
https://kubernetes.slack.com/archives/C021E147ZA4/p16516648678843

[2022-05-05 10:47] longwuyuan commented on #8552
/priority important -soon
/triage accepted

[2022-05-05 10:50] longwuyuan commented on #8552
/priority important-soon

[2022-05-05 11:23] Alesseon commented on #4061
I am using
`k8s.gcr.io/ingress-nginx/controller:v1.2.0`
`Kubernetes  V1.23.6 / v1.24.0 ` (tested on the latter but should be working on both since 1.22)

Only thing that solved the issue for me was setting the securityContext of the `.spec.template.spec.containers[].securityContext` to default and adding to the Deployment's `.spec.template.spec.securityContext` this:
[code]

That way it is not nee

[2022-05-05 11:26] unoexperto commented on #8216
Whoever comes here from google search disabling admission webhook in controlled didn't help me, but `kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission` has.

[2022-05-05 11:29] Alesseon commented on #2783
#4061
[4061#issuecomment-1118439600](https://github.com/kubernetes/ingress-nginx/issues/4061#issuecomment-1118439600)

[2022-05-05 13:54] longwuyuan commented on #7328
/reopen
/priority important-longterm
/help

[2022-05-05 13:55] longwuyuan commented on #7328
/good-first-issue

[2022-05-05 14:15] #7222 closed

[2022-05-05 18:19] shashankram commented on #8518
I left the testbed up overnight and it started working without any configuration changes. It seems to me there is some issue with Nginx on AKS, but can't seem to find relevant logs when the requests fail as the request hangs with no logs in Nginx.

[2022-05-06 02:27] jingslunt opened #8554 "bug when inject istio-proxy ,found admission create and NotReady, can not upgrade ingress-nginx"
bug when inject istio-proxy:
when I run command,inject istio-proxy to ingress-nginx
[code]
AND SET values
[code]
found  admission create and NotReady, can not upgrade ingress-nginx

[code]

[2022-05-06 02:29] longwuyuan commented on #8554
/remove-kind bug
/help-wanted

[2022-05-06 02:30] longwuyuan commented on #8554
/help

[2022-05-06 06:51] afresh commented on #6335
[code]

[2022-05-06 06:58] longwuyuan commented on #6335
There's no benefit to anyone by keeping this issue open and continuing to add comments to it. The root-cause is described in this comment https://github.com/kubernetes/ingress-nginx/issues/6335#issuecomment-1011850699 .

It is beyond the scope of this project to solve issues related to connection between a computer and k8s.gcr.io .

I will close for now. If you can connect to k8s.gcr.io but can no

[2022-05-06 06:59] #6335 closed

[2022-05-06 07:34] #8551 closed

[2022-05-06 08:18] wdullaer commented on #8086
Wrapping the code [here](https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/template/nginx.tmpl#L1357-L1362) with

[code]

will fix the issue for grpc backends.

If you really want to be spec compliant this is probably not sufficient: the HTTP/2 spec prohibits the use of the Connection header, and this will only prevent its use for gRPC based backends.
In the future other web s

[2022-05-06 10:07] longwuyuan commented on #8086
The project has to be spec compliant.

/triage accepted
/help

Thanks,
---
; Long Wu Yuan

[2022-05-06 11:33] fourstepper opened #8555 "[chart] let replicacount be configurable even if autoscaling is enabled"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
`Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.6-gke.300", GitCommit:"df413ee6225aa3fc539e18ca3464a48d723bd3ea", GitTreeState:"clean", BuildDate:"2022-01-24T09:29:08Z", GoVersion:"go1.16.12b7", Compiler:"gc", Platform:

[2022-05-06 13:33] sdputurn opened #8557 "Intermittent 502 for only one ingress url"
hi team , we are seeing intermittent 502 for one of the ingress url. while checking the logs we found this error connect() to 0.0.0.1:80 failed (22: Invalid argument) while connecting to upstream.

full logs below:
2022/05/06 12:58:29 [error] 33439#33439: *1129070190 recv() failed (104: Connection reset by peer) while reading response header from upstream, client: 10.47.12.167, server: nginx-custo

[2022-05-06 13:38] longwuyuan commented on #8555
/remove-kind bug
/kind feature

[2022-05-06 13:40] longwuyuan commented on #8557
Please provide info as asked in the issue template

/remove-kind bug
/kind support

[2022-05-06 14:15] gcfabri commented on #8338
Hi @longwuyuan. There is any workaround for this? I am facing the same problem.

[2022-05-06 14:36] mahaisong commented on #8348
@dmathieu  @Tobrek Did you succeed in sidecar? Can I learn your steps? Can you provide your image. thank you

[2022-05-06 14:45] dmathieu commented on #8348
I have been unable to look into this yet

[2022-05-06 15:05] stalkerg commented on #7776
/remove-lifecycle rotten

[2022-05-06 15:08] stalkerg commented on #7776
It's still an actual issue, and unfortunately not specific to ingress-nginx but for the whole k8s ecosystem.

[2022-05-06 15:13] stalkerg commented on #4760
HTTP/3 has some issues with SSL implementations it's why difficult to add it into NGINX. Basically, the responsibility between SSL lib and HTTP server became is dramatically different because we should support UDP protocol QUIC.

[2022-05-06 15:28] gcfabri commented on #8338
According to this [link](https://kubernetes.github.io/ingress-nginx/deploy/#scope) I can change the behavior of the controller to look for Ingresses in a specific namespace. To do this I must add the flag `--watch-namespace=othernamespace` to the nginx deployment arguments.

Once added, patched the deployment manifest, I'm facing the error `Unable to write event ... can't create an event with name

[2022-05-06 15:33] Tobrek commented on #8348
@dmathieu  @mahaisong

Hello,
my current status while trying to enable opentelemetry sidecar:
* The problem mentioned in this issue is fixed with opentelementry image "v20220331-controller-v1.1.2-36-g7517b7ecf", created at 1th of April.
* currently I'm struggling to get the sidecar library copied to /etc/nginx/modules before the nginx process is started.

Therefor i think i found two problems:
1)

[2022-05-06 15:45] alokhom commented on #5238
maybe you want to delete the one pod and check the changes

[2022-05-06 16:26] longwuyuan commented on #7261
It's been fixed. Release will be coming.

Thanks,
; Long

On Fri, 6 May, 2022, 9:31 PM Brett Nugent, ***@***.***> wrote:

[2022-05-06 18:21] #7196 closed

[2022-05-07 03:49] afresh commented on #6335
[error when applying patch: field is immutable](https://github.com/kubernetes/ingress-nginx/issues/5884#issuecomment-946298539)

This solved my problem.

[2022-05-07 14:47] mrnonz commented on #5968
Should we reach a conclusion about the root cause? and how can this be avoided in the future?

[2022-05-07 19:23] #6307 closed

[2022-05-08 00:30] rikatz commented on #4763
/lifecycle frozen
/assign

[2022-05-08 04:05] longwuyuan commented on #8437
https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/141#issuecomment-1120262855

[2022-05-08 04:05] longwuyuan commented on #8437
https://github.com/open-telemetry/opentelemetry-cpp/pull/1382

[2022-05-08 05:39] longwuyuan commented on #8549
ok. What will really help is that you write down all the yaml for all the objects you will create like ;
- pods/deployments (maybe alpine:nginx for stable and https:alpine for canary)
- services
- ingresses

Then write the http request as curl commands in full

Follow that up with the expected results.

I am a little confused because the only 2 valid values documented are "always" and "never" ;
[c

[2022-05-08 12:24] longwuyuan commented on #8552
test grid can not reach this step https://github.com/kubernetes/ingress-nginx/runs/6338869677?check_suite_focus=true#step:7:686  that CI can

[2022-05-09 03:20] ksa-real opened #8563 "Allow supplying ssl-session-ticket-key via secret."
To allow SSL session tickets it is necessary to use the same SSL session ticket secret key across all ingress pods. Ingress controller takes `.Values.controller.ssl-session-ticket-key`, puts it into `/etc/nginx/tickets.key` key file, and adds `ssl_session_ticket_key /etc/nginx/tickets.key` to nginx config. The `values.yaml` file is often stored in git repository and is typically not considered sec

[2022-05-09 13:26] mausch commented on #4909
I just had this issue after upgrading nginx ingress from 0.11.1 to 0.34.1 (yes I'm aware this is old in 2022, not everyone can afford to keep everything up to update all the time)

- `kubectl describe ing` [says TLS is correctly set up to terminate](https://kubernetes.github.io/ingress-nginx/examples/tls-termination/#validation).
- Client is Chrome so it's not SNI.
- The cert was working fine befo

[2022-05-09 13:31] scorpius81 opened #8565 "Getting the real IP address in Kubernetes"
I need to keep the real ip, I set externalTrafficPolicy: Local but as soon as I put it the sites are no longer reachable.
I use metallb to assign a public address to an ingress controller.

[code]
[code]

[code]

[2022-05-09 13:36] aogg commented on #2463
agent +1

[2022-05-09 13:47] longwuyuan commented on #8565
/remove-kind bug
/kind support
/help

[2022-05-09 15:10] scorpius81 commented on #8565
kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.4", GitCommit:"b695d79d4f967c403a96986f1750a35eb75e75f1", GitTreeState:"clean", BuildDate:"2021-11-17T15:48:33Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.4", GitCommit:"b695d79d4f967c403a96986f1750a35eb75e75f1", GitTreeSta

[2022-05-09 16:28] zeroschism commented on #3543
@stanhu fwiw, I have a requirement to build this on Ubuntu Pro, so I'm working on taking these changes and porting them to work there as well.  The resulting containers can't be redistributed as has already been mentioned, but it could be useful to have the ability to at least build your own containers in that environment.  (It definitely is for me! :D).  I'm happy to push my changes somewhere so

[2022-05-09 16:46] tao12345666333 commented on #8565
could you format your content?  using  ```

[2022-05-09 19:06] vdsharma commented on #8004
I think Canary functionality is incomplete without the requested update. A lot of times it is desired specifically route to canary service (webclient-prod2) so that one can test canary service. Once initial testing is complete we can start using canary features by shifting part of traffic to canary service. If we are unable to use an ingress(webclient-prod2) that specifically routes traffic to can

[2022-05-09 20:30] scorpius81 commented on #8565
You're right I fixed it

[2022-05-09 22:28] longwuyuan commented on #8552
<img width="1186" alt="image" src="https://user-images.githubusercontent.com/5085914/167508190-a65ea14c-aedc-497b-85bb-d4bd55888ee2.png">

- This screenshot of build logs in Project's CI shows that even GHActions CI does not use DIND
- So only and only in testgrid, DIND is used
- DIND environs use `ginkgo build ./test/e2e`, to build the binary
- Non-DIND environs use just simple `docker run ......

[2022-05-09 22:46] longwuyuan commented on #8565
@scorpius81 add the output of commands like `kubectl describe svc -A | grep -I ingress` and `kubectl describe ing -A` in addition to your `curl commands  with -v` so that someone can analyse that data and help you solve the problem.

Add the information asked in the issue template and then reopen this issue

/close

[2022-05-09 22:47] #8565 closed

[2022-05-09 22:51] longwuyuan commented on #8565
It is very likely that this information `helm.sh/chart: nginx-ingress-controller-9.1.27` is a hint, that a release of this project is not the use case, as this project's helm chart releases are nowhere near that semver .

[2022-05-09 23:41] #8032 closed

[2022-05-10 01:46] rikatz commented on #7518
/lifecycle frozen

[2022-05-10 05:41] #7984 closed

[2022-05-10 06:35] scorpius81 commented on #8565
[code]
[code]

[code]

[2022-05-10 06:36] scorpius81 commented on #8565
Sorry I didn't understand what you want to tell me

[2022-05-10 07:42] sabinaaledort opened #8568 "Support CRD webhooks in kube-webhook-certgen"
Hi,

Is there a plan or an interest to support CRD webhooks in kube-webhook-certgen?
We would like to use kube-webhook-certgen as an alternative to cert-manager for MetalLB deployments.

We can push a PR to add the support.

cc@[fedepaol](https://github.com/fedepaol)

[2022-05-10 07:48] longwuyuan commented on #8565
Helm Chart version 9.1.27 is visible in your post and there is a doubt that you have  install this project's release. You can see the details here  https://kubernetes.github.io/ingress-nginx/

[2022-05-10 09:17] longwuyuan commented on #8552
https://github.com/kubernetes/kubernetes/issues/109912

[2022-05-10 09:54] scorpius81 commented on #8565
I have installed the latest version available on kubeapps

[2022-05-10 11:05] fourstepper opened #8570 "/tmp/nginx/prometheus-nginx.socket: bind: no such file or directory"
**NGINX Ingress controller version**:
ingress-nginx helm-chart v4.1.0 (can't get to shell)

**Kubernetes version** (use `kubectl version`):
`Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.6-gke.300", GitCommit:"df413ee6225aa3fc539e18ca3464a48d723bd3ea", GitTreeState:"clean", BuildDate:"2022-01-24T09:29:08Z", GoVersion:"go1.16.12b7", Compiler:"gc", Platform:"linux/amd64"}`

*

[2022-05-10 13:02] longwuyuan commented on #8570
/remove-kind bug
/kind support

Please post the information that is requested in the issue template. Then reopen this issue.
/close

[2022-05-10 13:24] VannTen opened #8571 "error_log format is not documented"
/kind documentation
/remove-kind bug

While the acces_log format is well documented in the docs, I could not find a description of the log format for the error_log (output on stderr in the ingress-controller container), but I do think there is a pattern,

Where could I find a reference to add this to the documentation ?

Log lines examples :
 - `I0510 12:58:56.678022       6 status.go:281] "updati

[2022-05-10 13:47] fourstepper commented on #8570
@longwuyuan Could you please elaborate on what's missing from the template that would be useful in this case? Thank you

[2022-05-10 15:08] Tobrek commented on #8348
Update:
after some research about point 1) i think that the `nginx/roofs/entrypoint.sh`, defined as entry point in nginx image, isn't executed at all, because it is overwritten by the controller entry point (dumb-init). After adding the `/usr/local/entrypoint.sh` script to the controller entry point, the opentelemetry library was copied from /modules_mount to the /etc/nginx/modules directory.

[2022-05-10 16:07] #8502 closed

[2022-05-10 16:08] rikatz commented on #7929
/assign @tao12345666333

Can you take a look into this one please? :D

Thanks

[2022-05-10 16:12] rikatz commented on #8503
This was fixed in v1.2.0

We plan to add more rules to the inspection

/close

[2022-05-10 16:12] #8503 closed

[2022-05-10 16:13] rikatz commented on #5983
/lifecycle frozen

[2022-05-10 16:14] rikatz commented on #7893
/lifecycle frozen

[2022-05-10 16:18] rikatz commented on #8241
/close
Thanks

[2022-05-10 16:19] #8241 closed

[2022-05-10 16:20] rikatz commented on #8520
We are going to make a new release to fix some bugs, and this will enter in this new release.

[2022-05-10 17:18] longwuyuan commented on #8552
/reopen
Because `ginkgo not found` error gone but test still fails. Reason being we build binary in DIND container which is needed after DIND container dies, and the e2e-test-binary is not being retained with volumes mounted to the DIND container.

Solution is that we plan to disable DIND in the testgrid prow job config yaml. That will trigger the legacy codepath where the e2e-test-binary gets bui

[2022-05-10 18:00] rocketraman commented on #6027
Still a problem with Kubernetes 1.23.3, nginx controller 1.2.0:

[code]

/reopen

At least can the lifecycle be frozen until this can be looked at? @iamNoah1 @rikatz

[2022-05-10 18:01] rikatz commented on #6027
/lifecycle frozen

:)

[2022-05-10 22:13] gcolten opened #8572 "chroot missing `/dev/stdout`; permission failures trying to write during nginx.conf validation"
**NGINX Ingress controller version**:
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Azure (AKS)
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.6 LTS
- **Kernel** (e.g. `uname -a`): Linux edge-router-mgmt-859668c9b7-94h9j 5.4.0-1074-azure #77~18.04.1-Ubuntu SMP Wed Mar 30 15:36:02 UTC 2022 x86_64 Linux
- **Insta

[2022-05-10 23:38] longwuyuan commented on #8572
/remove-kind bug

I am using v1.2.0 of the controller and I am not able to reproduce this problem. Any developer working on this will need some kind of a step-by-step guide to reproduce the problem.

Several Azure users deploy using this https://kubernetes.github.io/ingress-nginx/deploy/#azure . There is no other GitHub issue with commands and outputs or Slack chat messages that have similarities

[2022-05-10 23:59] srinucsedon commented on #6973
Any solution for this issue? We have similar issue with nginx-ingress-controller 0.48.1, k8s version 1.20.9.

[2022-05-11 00:21] longwuyuan commented on #6973
Please try version 1.2.0 of the ingress-nginx controller.
There were several changes made and one of them is to secure the configuration for strings.

[2022-05-11 00:22] longwuyuan commented on #6973
/remove-kind bug

[2022-05-11 10:05] kagedani opened #8576 "ingress-nginx-controller unable to run, readiness and liveness probes fail"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.2.0

**Kubernetes version** (use `kubectl version`): v1.23.5

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Red Hat Enterprise Linux 8.5
- **Kernel** (e.g. `uname -a`): x86_64 GNU/Linux
- **Install tools**: kubeadm
- **Basic cluster rela

[2022-05-11 14:26] longwuyuan opened #8577 "bump go version to v1.18.1"
- It was discussed in the community meeting to bump go version to v1.18.1
- This Issue is for tracking the change

/remove-kind bug
/kind feature
/priority important-soon
/triage accepted

[2022-05-11 18:16] mahaisong commented on #8348
Excuse me, now I know there are two ways,

One is to package nginx images directly in docker images, which already includes the so plug-in of OT when building.

The other is to deploy with helm and mount the OT plug-in through extramodules.

Neither of the above is very convenient for me.

Is there any other way? For example, nginx officials directly integrate the OT plug-in into the main source c

[2022-05-11 18:45] #8577 closed

[2022-05-11 20:25] Clasyc commented on #5401
In case using terraform:

[code]

[2022-05-11 21:34] zerkms commented on #6030
/remove-lifecycle stale

[2022-05-11 23:55] rthamrin opened #8579 "is it possible to mount/load module without installing re-run the manifest ?"
is it possible to load the module to the nginx ingress ? i would like to load this [zstd standar](https://github.com/tokers/zstd-nginx-module/blob/master/static/ngx_http_zstd_static_module.c) to ingress controller without installing my manifest.

i found some difficulties because i figure it out the format is not in *.so ( module library format) but in *.c format. i tried to convert the file by us

[2022-05-11 23:59] #5690 closed

[2022-05-11 23:59] #7872 closed

[2022-05-12 05:55] mtb-xt commented on #8017
/remove-lifecycle rotten

[2022-05-12 06:58] dmathieu commented on #8348
We did the otel in the base image solution at first. But that image is very big and takes so long to build that it was triggering timeouts in the build process.
So in #8013, we introduced sidecar modules and extracted otel first.

Hence the issues here. Otel is the very first sidecar module, and doesn't really have any automated testing yet.

[2022-05-12 09:22] Tobrek commented on #8348
@dmathieu
I found a solution for all the little things to use the sidecar (i can send you information about the changed files).
My problem now is that i don't know how to build the complete nginx controller locally to test my changes. When i just build the controller docker image, some things are missing, which seems to have to been build before. Maybe you can give me a hint.

[2022-05-12 10:52] adamwojt commented on #1316
Ability to write comments is quite useful to annotate what each IP actually points to. I am doing security audit in my firm and having issues with that as I cannot annotate IPs

[2022-05-12 11:32] dmathieu commented on #8348
Are you facing #8437?

[2022-05-12 11:34] paprickar commented on #5690
/reopen

[2022-05-12 11:36] paprickar commented on #5690
@theunrealgeek any chance you could look into it again?

[2022-05-12 12:05] Tobrek commented on #8348
no. I'm at a step before - try to get a controller with otel lib in place. But i will check #8437

[2022-05-12 12:20] anthr76 commented on #8401
I'm also facing this as well and my setup is very similar to @alubbock reproducer

[2022-05-12 14:27] gcolten commented on #8572
Thanks for looking at this, @longwuyuan!

I now realize this may be an enhancement request, but it seems reasonable, generalizable, and simple.

**Request**: Add symlinks inside the `chroot()` environment to allow nginx to write to:
- `/dev/stdout`
- `/dev/stderr`

## Reproducing the error
Here's a simple way to reproduce the error. While it is driven by custom configuration, I do not suspect I am

[2022-05-12 14:45] theunrealgeek commented on #5690
@paprickar I lost track of this issue, will try to spend sometime on it later this week.

[2022-05-12 15:17] milanhradil1-tomtom opened #8580 "Sync issue"
**NGINX Ingress controller version**:
  Release:       v1.1.0
  Build:         cacbee86b6ccc45bde8ffc184521bed3022e7dee
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.7", GitCommit:"132a687512d7fb058d0f5890f07d4121b3f0a2e2", GitTreeState

[2022-05-12 16:26] longwuyuan commented on #8572
@gcolten thank you for updates.

A lot of the specifics like /dev/stdout etc were informative from your earlier post as well. But this whole discussion is related to a chrooted process. So may I ask what is broken, with regards to what a ingress-controller should be doing, as per the specs of a ingress-controller described at Kubernetes.io.  What do you want to achieve with a ingress object but ar

[2022-05-12 16:34] #8580 closed

[2022-05-12 17:02] #6745 closed

[2022-05-12 19:23] gcolten commented on #8572
Fair question, @longwuyuan.

At the end of the day, I think the behavior of the `controller-chroot:v1.2.0` image is unintuitive and prone to causing breaking changes for various consumers (such as myself).

Users generally expect to have access to `/dev/stdout` for logging purposes. For example, the `controller:v1.2.0` image even [creates a symlink](https://github.com/kubernetes/ingress-nginx/blob

[2022-05-12 21:29] tibers commented on #6875
/remove-lifecycle rotten

On Thu, May 12, 2022 at 5:00 AM Kubernetes Triage Robot <
***@***.***> wrote:

[2022-05-12 22:53] pizzaz93 commented on #8192
/close

Fixed in https://github.com/kubernetes/ingress-nginx/pull/8203

[2022-05-12 22:53] #8192 closed

[2022-05-13 00:18] longwuyuan commented on #8572
ok. Maybe there is much deeper dive needed by a developer. But just to confirm, if you run `kubectl -n <ingresscontrollernamespace> logs <ingresscontrollerpodname>` , are you able  to get logs ?   I install the controller with chroot enabled and I could see logs, so I don't understand what problem needs to be fixed.

If you are not pursuing a solution, then maybe the content here is good reference

[2022-05-13 01:05] longwuyuan commented on #8579
This is how a user tried to load open tracing module ;

[code]
https://github.com/kubernetes/ingress-nginx/issues/8437#issue-1194059835

/close

[2022-05-13 01:06] #8579 closed

[2022-05-13 01:09] longwuyuan commented on #8576
Please re-open the issue after you have posted all the info suggested in previous post
/close

[2022-05-13 01:09] #8576 closed

[2022-05-13 01:14] longwuyuan commented on #8557
Feel free to reopen the issue after posting information as requested in the issue template

/close

[2022-05-13 01:15] #8557 closed

[2022-05-13 04:01] leoskyrocker commented on #5107
If I understand @aledbf correctly, he's saying that it is just a display issue, but the annotation is working as expected.
The default backend will actually be `my-default-backend` in the OP's example (but not what is shown by kubectl describe).

I came here because I ran into an issue where it is actually not routing me to the expected default backend even though it has been configured through th

[2022-05-13 05:02] leoskyrocker commented on #5107
@aledbf Just re-read the OP's problem statement and I'm under the impression that this issue should remain opened because the original description is not only concerned with what kubectl displayed, but it's also suffering from the actual behavior.

From OP:

[2022-05-13 09:04] kagedani commented on #8576
@longwuyuan thank you for the answer.

I'm answering your questions below.

## **verify if all required ports as per documentation are opened**
There are no firewall installed on the machine.

## **verify if other needs of running a K8S cluster as per Kubernetes.io docs are in place**
Everything else is working as expected.
By example, calico (https://www.tigera.io/project-calico/) has its own pro

[2022-05-13 09:24] longwuyuan commented on #8576
Redact but post entire command and ouput so someone can analyze.
Screenshots are useless. Also add kubectl get all -A because live state is
analyzed for reason. Thanks. It's not helpful if info asked in issue
template is not provided.

Thanks,
; Long

On Fri, 13 May, 2022, 2:34 PM Daniele Uboldi, ***@***.***>
wrote:

[2022-05-13 10:08] flaviomoringa commented on #4579
@anb0107 could you please post the solution?

[2022-05-13 10:12] magoogli commented on #3122
@TheAnachronism You can definitely do this. Following on from the idea of @martinqcz, I have the below config which does exactly what you are after I think.

[code]

[2022-05-13 16:11] #8037 closed

[2022-05-13 16:49] villesau commented on #3431
Can someone elaborate `130.211.0.0/22,35.191.0.0/[L7-LB_EXTERNAL_IP]/32` and `130.211.0.0/22,35.191.0.0/16,[L7-LB_EXTERNAL_IP]/32` a bit?

[2022-05-13 17:12] jsoref commented on #3431
What do you mean by elaborate?

Note that the fragment there has a typo (see my follow-up):
https://github.com/kubernetes/ingress-nginx/issues/3431#issuecomment-733210473

[2022-05-13 17:14] villesau commented on #3431
@jsoref I'd like to understand how did you came up with the string `130.211.0.0/22,35.191.0.0/16,[L7-LB_EXTERNAL_IP]/32` :)

[2022-05-13 17:19] jsoref commented on #3431
https://cloud.google.com/load-balancing/docs/https

[2022-05-13 17:20] jsoref commented on #3431
The `L7-LB_EXTERNAL_IP` is the IP you've been assigned by Google -- the thing someone uses to connect to the ingress from the internet. So we have a couple of those, but they're not things I feel like sharing here (although they aren't really secrets, since all of our customers connect to them, and they're obviously discoverable via DNS).

[2022-05-13 18:17] TheAnachronism commented on #3122
Mhh OK, I'll have to try around a bit once I get to it.
Anyway, thanks for the answer.

[2022-05-13 19:23] pavanreddymaley commented on #6135
I had same issue and it got fixed by restrating the weave pods.

[2022-05-13 21:59] villesau commented on #3431
Ah, ok. Thanks for clarifying @jsoref!

[2022-05-14 06:36] aguacongas opened #8584 "ssl-client-cert header not sent"
**NGINX Ingress controller version**

[code]

**Kubernetes version**

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **OS**

[code]
- **Kernel**: Linux cc-9661a9d7-59f7868d4d-xqgtk 5.4.0-1077-azure #80~18.04.1-Ubuntu SMP Wed Apr 13 02:07:09 UTC 2022 x86_64 GNU/Linux
- **Install tools**: MS Azure portal
- **Basic cluster related info**:
  - `kubectl version`

[code]

[2022-05-14 10:06] esigo commented on #8437
Hi, I'm working on a fix. I was wondering if the image needs `nginx` binaries shipped too, or just `otel_ngx_module.so` with its dependencies?

[2022-05-14 10:08] longwuyuan commented on #8437
@esigo only Otel_ngx_module.so.  We build our own nginx

[2022-05-14 12:16] #5723 closed

[2022-05-14 12:16] #6573 closed

[2022-05-14 13:02] rikatz commented on #8572
The chroot image sends the log to an internal syslog, as the chroot process cannot write to std(err/output) (this is an Nginx limitation right now)

We can indeed link stdout and stderr to /var/log/nginx/access.log but this is going to be a no-op unless you point logs there, and if you do so you are probably not getting the logs in `kubectl logs`

Makes sense? :)

[2022-05-14 13:04] rikatz commented on #8568
Hi @sabinaaledort

Right now no, as this is a project focused in Ingress. We forked this project from another unmaintained project.

My suggestion is: if we want to make this more Kubernetes approachable (an official project), maybe you can justify in kubernetes-dev mailing list why this should not be ingress specific project and propose move this to kubernetes-sigs :)

[2022-05-14 19:40] agorgl commented on #8215
Just stumbled upon this too! Here is a quick and dirty way to setup a second ingress controller using helm according to the election id workaround:
[code]

[2022-05-15 10:24] sabinaaledort commented on #8568
ok, thank you :)

[2022-05-15 11:22] longwuyuan commented on #8437
/reopen
will close after the new image builds and can test with module loading inn a helm install

[2022-05-15 17:23] #7970 closed

[2022-05-15 20:17] nadishan commented on #5585
Did anyone find a solution?

[2022-05-16 03:24] SpecialYang opened #8589 "How do I set tls version for specified ingress resources?"
I found we can set global tls version for all ingress. But how do I set tls version for specified ingress resources? Is there a existing annotation does that?

[2022-05-16 06:02] longwuyuan commented on #8589
I don't think there is any annotation for that https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/

[2022-05-16 06:07] SpecialYang commented on #8589
The global tls version setting is inside configmap. How can we do that for specified ingress?

[2022-05-16 10:53] SpecialYang opened #8594 "Question about blacklist source range."
Currently, the nginx ingress controller has the annotation whitelist source range for restricting client access.
In our user experience, we still need blacklist source range to deny client requests with some illegal user ip.
How about introduce blacklist source range to improve access control?

Reference:
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#whitel

[2022-05-16 10:55] Kanshiroron commented on #7918
/remove-lifecycle rotten

[2022-05-16 12:48] Timoses commented on #7859
Any update?

[2022-05-16 17:33] #8016 closed

[2022-05-16 17:42] stankud commented on #5585
I was able to fix my issues on EKS. The issues was that I had multiple nodes and there was no security group rule to permit them to communicate with each other. This usually happens by default on EKS, but I may have messed up my Terraform template.
This this for more info: https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html

And keep in mind that you'll need both ingress and egres

[2022-05-16 17:57] CyanoKobalamyne commented on #2170
The Contour ingress controller has explicit support for referencing certificates from other namespaces, specifically to allow a cluster administrator to create wildcard certificates to be used by other namespaces. They achieve this via a custom resource called `TLSCertificateDelegation`, see https://projectcontour.io/docs/v1.20.1/config/tls-delegation/. This is a rather common scenario, as evidenc

[2022-05-16 18:33] vmpowercli opened #8595 "Cannot redirect https with prefix path."
Kubernetes version :
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.4", GitCommit:"b695d79d4f967c403a96986f1750a35eb75e75f1", GitTreeState:"clean", BuildDate:"2021-11-17T15:48:33Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"22+", GitVersion:"v1.22.6-eks-14c7a48", GitCommit:"35f06c94ad99b78216a3d8e55e04734a8

[2022-05-16 19:01] gauravkumar13 opened #8596 "Update ModSecurity version"
I'm a newbie in WAF and was trying to update modsecurity version in nginx controller but not able to find the process.
Is it possible to update integrated modsecurity v3.0.5 to v3.0.6? If yes then how? I've installed nginx ingress controller using helm in kubernetes cluster.

Thanks in advance.

[2022-05-16 20:03] flo-mic commented on #8016
/reopen

[2022-05-16 23:07] longwuyuan commented on #8595
/remove-kind bug
Post the live data like ;
- `kubectl -n ingress-nginx get all all`
- `kubectl get ing -A`
- `kubectl get ing <ingressname> -o yaml`
- entire `curl -v` command and its response
- The complete logs of the ingress-controller pod

Please format the data you post for markdown.
After you have posted all data, please feel free to re-open the issue.

/close

[2022-05-16 23:08] #8595 closed

[2022-05-17 01:00] bmv126 commented on #8589
May be you can use configuration-snippet

[2022-05-17 01:58] bmv126 commented on #8596
Can you try updating here
https://github.com/kubernetes/ingress-nginx/blob/01b92b8b3aca887b257851dbbc89e4c57815a4ab/images/nginx/rootfs/build.sh#L63

[2022-05-17 02:10] vmpowercli commented on #8595
Apologies for the format.

$ kubectl get all -n internal-nginx
[code]

Nginx Configmap
[code]

Ingress file

[code]

[2022-05-17 02:13] vmpowercli commented on #8595
[code]

[2022-05-17 02:16] vmpowercli commented on #8595
Nginx Controller Logs

[code]

[2022-05-17 02:48] MasterShi commented on #6335
Accodingto the quote :"currently *.azk8s.cn could only be accessed by Azure China IP, we don't provide public outside access any more."
so this won't work anymore!

[2022-05-17 03:05] longwuyuan commented on #8595
You did not post ouputs of commands suggested so harder to know state. You
can post info as requested. Redact is ok but snipping leaves people
guessing. You can reopen issue after posting data as asked.

But GUESS is your http request does not match configured rules.

Thanks,
; Long

On Tue, 17 May, 2022, 7:46 AM vmpowercli, ***@***.***> wrote:

[2022-05-17 03:07] longwuyuan commented on #6335
What about bitnami chart. Does that work.

Thanks,
; Long

On Tue, 17 May, 2022, 8:19 AM Shihao, ***@***.***> wrote:

[2022-05-17 06:53] gauravkumar13 commented on #8596
Thanks for your reply.
Currently I'm using below image for ingress nginx controller pod.
k8s.gcr.io/ingress-nginx/controller:v1.2.0@sha256:d8196e3bc1e72547c5dec66d6556c0ff92a23f6d0919b206be170bc90d5f9185

Is there any image version available which contains new modsecurity lib (3.0.6)?
Since this is a container so I'm not much sure of process and do I need to create new image after changing export

[2022-05-17 08:11] RichardoC commented on #7119
/remove-lifecycle stale

[2022-05-17 09:52] pierluigilenoci commented on #7937
/remove-lifecycle stale

[2022-05-17 11:31] bmv126 commented on #8596
@gauravkumar13
The link which I provided is from the main branch.
So 3.0.6 mod security library is not present in any of the images.

[2022-05-17 12:00] josecu08 opened #8598 "Modsecurity logs missing with chroot enabled"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

    NGINX Ingress controller
    Release:       v1.2.0
    Build:         a2514768cd282c41f39ab06bda17efefc4bd233a
    nginx version: nginx/1.19.10

**Kubernetes version** (use `kubectl version`):
Server Version: v1.21.9

**Environment**:

* **Cloud provider or hardware configuration**:
    Azure

[2022-05-17 12:53] sebader opened #8599 "Update hpa to `autoscaling/v2` as `autoscaling/v2beta2` is deprecated in k8s 1.23"
Since k8s 1.23 `autoscaling/v2beta2` is deprecated:

Would be great if this chart can be updated to `autoscaling/v2`. Tbh I'm not sure of any possible side-effects otherwise I would just create a PR for it.

[code]

https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/templates/controller-hpa.yaml#L4

[2022-05-17 13:11] longwuyuan commented on #8599
Apologies, this link. https://kubernetes.io/docs/reference/using-api/deprecation-guide/#horizontalpodautoscaler-v126, says available since K8S v1.23 .  So if we change now to v2, then the users of K8S ~v1.23 can not use HPA. So let us not change this now.

Also, the maintainers will know more about timing and impact because we have to be sure to inform and document that if anyone wants to use HPA,

[2022-05-17 13:22] sebader commented on #8599
makes sense @longwuyuan That's why I didn't just want to create a PR :)
not urgent at all but probably good to track it

[2022-05-18 01:17] Cgxin commented on #5932
I am also get same issue, you can refer to my solution.
1. Add "hostNetwork: true", that can get pod ip.
2. Change deploy "ingress-nginx-controller" secretName.
![image](https://user-images.githubusercontent.com/52897781/168937128-5128df88-3ca1-4bd3-9c2b-523dcf108521.png)
![image](https://user-images.githubusercontent.com/52897781/168937261-ed09e83c-ad19-4b32-bf8d-12ccb8746fcc.png)
![image](https:

[2022-05-18 06:56] wenerme commented on #7827
/remove-lifecycle stale

[2022-05-18 07:49] #8062 closed

[2022-05-18 09:25] evredinka commented on #6178
/remove-lifecycle stale

[2022-05-18 14:59] aguacongas commented on #8584
It's probably an AKS issue as I've the same with an [Application Gateway Ingress Controller](https://docs.microsoft.com/en-us/azure/application-gateway/ingress-controller-overview) so I close it

[2022-05-18 21:56] PardhuMadipalli opened #8601 "SSL Passthrough is is not working for server alias, but only for host"
**NGINX Ingress controller version**:
- Release:       v1.1.2
- Build:         bab0fbab0c1a7c3641bd379f27857113d574d904
- nginx version: nginx/1.19.9

**Kubernetes version**: 1.20

**Environment**:

- **Cloud provider or hardware configuration**: Oracle Cloud Infrastructure
- **OS** : Oracle Linux Server 7.9
- **Kernel**: Linux

- **How was the ingress-nginx-controller installed**:
  - It was inst