[2021-01-19 17:47] aledbf commented on #6778
@rrajadevops no, only helm3

[2021-01-19 19:06] aledbf commented on #6779
The canary feature is done in lua, not nginx itself. The configuration is not stored in the generated nginx.conf file.
If you want to see the runtime configuration, please use the ingress-nginx [krew plugin](https://krew.sigs.k8s.io/plugins/) and run `kubectl ingress-nginx backends`

https://kubernetes.github.io/ingress-nginx/kubectl-plugin/

Closing.

[2021-01-19 19:06] #6779 closed

[2021-01-19 19:07] aledbf commented on #6779
@kuzm1ch from the ingress definition posted, you have a non-canary definition for the same host and path, right?

[2021-01-19 19:09] aledbf commented on #6779
[code]

[code]

[code]

[code]

[2021-01-19 19:54] aledbf commented on #6779
Keep in mind that is not supported. The charts from bitnami and this project are not the same.

[2021-01-19 23:34] #6775 closed

[2021-01-19 23:40] shoulin-zuo commented on #6681
@rockkoca, have you fixed this issue? would you tell me how? thank you very much!

[2021-01-20 04:01] occasionallydavid opened #6780 "[feature-request] optionally(?) run whitelist-source-range processing before x-real-ip processing"
- What do you want to happen?

Currently when placing CloudFlare in front of ingress-nginx, it always makes sense to set `loadBalancerSourceRanges` where possible, to prevent straightforward discovery of a site's origins (mapping for a particular site on a fast connection can be done in a few hours).

When running off-cloud however, `loadBalancerSourceRanges` may not be available, as is the case w

[2021-01-20 08:32] maksim-paskal commented on #6776
We actualy use helm v3 - as kubernetes installer - the yaml order is controlled by https://github.com/helm/helm/blob/v3.5.0/pkg/releaseutil/kind_sorter.go#L111 - this function sort by Kind and Name - in case or usage ingress-inginx ValidatingWebhookConfiguration - to apply changes host in Ingress object  - we will be use the name of new Ingress something like **zzz_new_ingress** (for helm sorting

[2021-01-20 10:12] #6771 closed

[2021-01-20 10:51] farisrj opened #6781 "Obtaining the IP/URL Address of the ingress nginx controller"
**Describe the issue**
how to get the ingress-nginx controller url to access the application.

I have running Kubernetes Cluster with one master and two worker nodes located on my LAN as follows:
- k8s-master : 192.168.100.100
- worker-node-1 : 192.168.100.101
- worker-node-2 : 192.168.100.102

**It's just an on-premise Kubernetes setup , and I need the actual K8S ingress URL to hand it to network

[2021-01-20 10:54] kundan2707 commented on #6054
/assign

[2021-01-20 11:07] jony89 commented on #5496
The problem with the workaround:

[code]

is that in case that one is working in a development environment, i.e the request is sent from `localhost...` and the pod is down for some reason, the request will be blocked instead of getting 503.

Which will result in wrong simulation comparing to production.

This is an extremely needed feature, we should support something like:

[code]

[2021-01-20 11:09] rraisal commented on #6292
Thanks for the suggessions @kylebevans
I created a nginx ingress as **NodePort** using the https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal option and created a ALB manually and ALB Target groups included in the AutoScaling group of the EKS node group. Everything seems working now.

Do I need to check/note anything on this setup? my nginx ingress is a deployment one not a daemonset.
-

[2021-01-20 11:45] aledbf commented on #6781
@farisrj the instructions from the link show that ingress-nginx service type is LoadBalancer. There support for that in bare-metal OOTB in k8s. For that, you need something like metallb to provide support and assign an IP address from your LAN.

That said, you can also install ingress-nginx using:

- Using NodePort - without updating the status field (<every node IP in the cluster>:<nodeport>)
[co

[2021-01-20 11:45] #6781 closed

[2021-01-20 12:12] jony89 opened #6782 "nginx snippet headers are not passed when pod is down"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

[code]

**What happened**:

snipper headers are not included if the pod is down.

**What you expected to happen**:

headers should be included

**How to reproduce it**:

add the folllowing annotation :

[code]

that should allow cors and add the origin to the cors origin header, when t

[2021-01-20 12:24] farisrj commented on #6781
In current K8S cluster , I used 192.168.100.101:30815  to access the web appand its running fine.
But as based my understanding, there is another URL generated from cluster / ingress controller.
Please correct me if this not correct.

[2021-01-20 12:31] aledbf commented on #6781
No. The ingress status field shows an IP address or FQDN if you run in a cloud provider.

[2021-01-20 13:04] juris commented on #5051
@night-gold just change your http-snippet to:
[code]

[2021-01-20 13:48] farisrj commented on #6781
Thanks @aledbf , its fine now.

[2021-01-20 14:48] CormickKneey opened #6784 "Features for external Ingress-nginx-controller"
**NGINX Ingress controller version**: 3.20.1 (latest)

**Kubernetes version** (use `kubectl version`): Kubernetes v1.18.15

**Environment**:
- **OS** : linux_amd64

### 1. return error when cleanTempNginxCfg

deal panic  at ingress-nginx/internal/ingress/controller/nginx..go.1099 in func cleanTempNginxCfg()

I expand a Ingress-controller connecting directly to nginx provied by other groups outside

[2021-01-20 15:37] sharkymcdongles commented on #5401
I encounter this on a nonprivate cluster on chart: ingress-nginx-3.11.0 app version: 0.41.2

[code]

The masters and vms have full unimpeded connectivity yet I still see this for some reason. Is something from the call crashing the webhook before it can respond?

[2021-01-20 16:30] kylebevans commented on #6292
@rraisal the default number of replicas for a deployment is 1.  Since you have `externalTrafficPolicy: Cluster`, all of your nodes will accept traffic and forward it to the right node that has your ingress-nginx pod on it.  However, that is still a single point of failure, so I would recommend at least scaling your deployment to multiple replicas.

`kubectl scale --replicas=5 deployment/ingress-ng

[2021-01-20 17:23] #6759 closed

[2021-01-20 18:26] aledbf commented on #6784
Pull requests are welcome

What you see is a common configuration for a Kubernetes controller. If you need an abstraction, you should check something like https://kube-vip.io/

[2021-01-20 18:50] farisrj commented on #6781
I recreate the ingress controller again as you mention, this is what i got for ingress:
[code]

And this is the Services:
[code]
I got the PORT number from :  **ingress-nginx-controller**
the question is , the first node is working fine using this URL : **_http://192.168.100.101:30428/hello_**
While the second node is NOT responding using same port: **_http://192.168.100.102:30428/hello_**
What I

[2021-01-20 18:53] aledbf commented on #6781
You have some networking issue reaching that node.

[2021-01-21 05:34] rraisal commented on #6292
Thanks for the Insights @kylebevans

[2021-01-21 06:14] CormickKneey commented on #6784
Thx for help !

[2021-01-21 06:14] #6784 closed

[2021-01-21 06:31] ravisharda opened #6791 "How to avoid connection resets upon scale-down of NGINX Ingress pods?"
**Context and Problem:**

We are experimenting with NGINX Ingress on Google Cloud Platform (GCP) and are encountering an issue where if any of the NGINX Ingress pods comes down due to a scale-down event (auto or manual), the [Locust](https://locust.io/)-based load testing client application encounters connection errors of the following kinds:

[code]

**More About the Environment:**
The NGINX Cont

[2021-01-21 07:15] Krishna-teja commented on #6506
I am also having the same issue.

@afrouzMashaykhi When I do the curl command I am getting connection timed out errors

[code]

[2021-01-21 07:22] Germany-gu opened #6792 "0.43.0 version ingress-nginx"
Delete the old version of ingress configuration and only keep the gray version, the service is not available.
![image](https://user-images.githubusercontent.com/29984522/105316819-5de35d80-5bfc-11eb-805d-d1a7f2cf76fd.png)

[2021-01-21 09:05] farisrj commented on #6781
I am checking the issue on second node (x.x.x.102) I logged in **locally** using SSH.
The list of processes with PORT on the second node, the PORT 30428 is in "State=LISTEN".
[code]

But when i make TELNET port 30428 ,it is not responding from the server itself.
[code]

While the first Node (x.x.x.101), the port is opened and working fine locally.
[code]
Any idea how to resolve the issue.

[2021-01-21 10:10] luisamador opened #6793 "Annotations on NLB not working"
I'm trying to set up an NLB with the following annotations:
[code]

The **service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: 'true'** annotation is not taking effect and the resulting NLB doesn't have the Cross-zone load balancing setting enabled.

The **service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "Name=eks-dev"** annotation is not taking eff

[2021-01-21 10:30] aledbf commented on #6793
Should be `service.beta.kubernetes.io/aws-load-balancer-internal: 'true'`

This is not configured by ingress-nginx but k8s itself.

Check the annotation is present in the service and check the sync status using `kubectl describe service <ingress-nginx svc>` to verify there are no errors with the configuration.

[2021-01-21 10:30] #6793 closed

[2021-01-21 10:30] aledbf commented on #6793
Please fill the issue template when opening a new issue. Thanks!

[2021-01-21 10:32] aledbf commented on #6792
Closing. Please use the template issue when opening an issue.

[2021-01-21 10:32] #6792 closed

[2021-01-21 10:33] aledbf commented on #6792
Also, describe what are you doing and post the ingress yaml definition. The output you posted does not help to understand what are you trying to do

[2021-01-21 10:39] subesokun opened #6794 "Setting access log format via configmap has no effect"
**NGINX Ingress controller version**: 1.9.1

**Kubernetes version** (use `kubectl version`): v1.19.3

**Environment**: Deployed via Helm3

- **Cloud provider or hardware configuration**: Azure

**What happened**:

I want to change the access log format and therefore updated the configmap to (so that it includes `$host`)

[code]

even if I set ` disable-access-log: "true"` I still see the access lo

[2021-01-21 10:43] aledbf commented on #6794
Please post the helm command used to install the ingress controller
Are you using https://kubernetes.github.io/ingress-nginx/deploy/#using-helm to install ingress-nginx?

[2021-01-21 10:44] aledbf commented on #6009
Closing. The ingress controller already emits k8s events in case of errors. If such a feature is desired, the right approach is to watch events from the ingress controller and then call the webhook. Such code should not be in ingress-nginx.

Please check https://medium.com/@harsh.manvar111/kubernetes-event-notifications-1b2fb12a30ce

[2021-01-21 10:44] #6009 closed

[2021-01-21 11:01] subesokun commented on #6794
I'm deploying it via the Terraform Helm provider and the generated configmap looks fine. I use the following values for deploying the Helm chart

[code]

[code]

[2021-01-21 11:24] yashra commented on #6204
/close

[2021-01-21 11:24] #6204 closed

[2021-01-21 11:39] aelij commented on #5493
/remove-lifecycle stale

[2021-01-21 12:28] aledbf commented on #6794
Closing. That is from a different ingress controller https://github.com/nginxinc/kubernetes-ingress

[2021-01-21 12:28] #6794 closed

[2021-01-21 12:48] subesokun commented on #6794
@aledbf sorry, could you explain why this is a different ingress controller. Am I using the wrong helm chart?

[2021-01-21 12:50] aledbf commented on #6794
@subesokun yes, the helm chart instructions are located in https://kubernetes.github.io/ingress-nginx/deploy/#using-helm

[2021-01-21 12:50] subesokun commented on #6794
Oh sorry, for the noise. I found it  https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx

[2021-01-21 15:24] skywli opened #6795 "Getting metrics from ingress-nginx fail"
reponse:

release: ingress-nginx-3.13.0
deploy chart: https://github.com/kubernetes/ingress-nginx/tree/ingress-nginx-3.13.0/charts/ingress-nginx

[2021-01-21 16:45] cmluciano commented on #5401
Can you please post more details about the environment ? Things like CNI, k8s version, etc.

[2021-01-21 17:37] sharkymcdongles commented on #5401
@cmluciano

It is using Calico CNI on GKE deployed and maintained by them via advanced
networking true toggle.

Kubernetes Version is v1.16.9-gke.6

My other webhooks e.g. cert manager and sparkoperator are fine. The nginx
one also seems to work most of the time, but sometimes it fails with the
above stack trace. Is it possible the way the request is made causes this
issue? The endpoint we have de

[2021-01-21 19:11] #6028 closed

[2021-01-21 22:31] aledbf commented on #6482
I cannot reproduce this issue. Can someone post the steps to reproduce it? (the steps for the secret are the important part)

[2021-01-22 07:43] foxipub opened #6797 "Nginx-ingress-contrller does not deployed with docker log driver json."
**NGINX Ingress controller version**:1.9.1

**Kubernetes version** (use `kubectl version`):v1.20.1

**Environment**:Docker CE

- **Cloud provider or hardware configuration**:Private cloud
- **OS** (e.g. from /etc/os-release):CentOS-7
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

Change Docker log-driver to journald
echo '{"log-driver": "json-file", "log-opts": {"max-size": "1

[2021-01-22 09:50] aledbf commented on #6797
Closing. That is from a different ingress controller https://github.com/nginxinc/kubernetes-ingress

The helm chart instructions for this project are located in https://kubernetes.github.io/ingress-nginx/deploy/#using-helm

[2021-01-22 09:50] #6797 closed

[2021-01-22 12:17] toredash commented on #6791
This is a K8s + GKE issue. You can work around it, described here:
https://github.com/kubernetes/ingress-nginx/issues/6281#issuecomment-705415770

I believe this issue can be closed

[2021-01-22 12:23] toredash commented on #6782
Not a bug, you need to add `always`;
http://nginx.org/en/docs/http/ngx_http_headers_module.html

[code]

[2021-01-22 14:51] zhaogaolong opened #6798 "failed calling webhook "validate.nginx.ingress.kubernetes.io" context deadline exceeded"
/triage support

If the number of ingress changes is relatively large, this problem occurs, and finally it has to be deleted validating webhook.

[code]

## monitor
![image](https://user-images.githubusercontent.com/13202101/105506426-ff55d680-5d04-11eb-91e5-fa1f87318f91.png)
`sum(increase(apiserver_admission_webhook_admission_duration_seconds_count{name="validate.nginx.ingress.kubernetes.io"}[1m]

[2021-01-22 21:37] #5977 closed

[2021-01-23 04:14] kanadaj opened #6799 "Support paths with HTTPS backends with re-encryption"
Currently, having a HTTPS back-end with an additional ingress TLS certificate seems to work with the same logic as pass-through which makes it so path based routing is disabled.

Ideally, when both a secure backend and HTTPS certs are specified, it'd be good to terminate SSL at the ingress, handle path based routing and then forward the request to the back-end.

This also stops things like cert-ma

[2021-01-23 04:23] #6799 closed

[2021-01-23 11:34] AndreKoepke commented on #5001
Same problem, but the comma-seperated aliases worked for ~3 months without a problem.
And today the ingress-controller died with the error from above.

I guess, that the controller updated to a new image-version. The server-alias with spaces won't work.

After some testing I found out that it has something to do with punycode-url.  Normal hostnames work well with comma-seperated. But, if the secon

[2021-01-23 13:22] farisrj commented on #6781
I found a solution for this case as this [link ](https://stackoverflow.com/questions/65836764/kubernetes-ingress-second-node-port-is-not-responding)implies , it seems that Centos8 have issues with Flannel CNI. After switched to Calico and set a new ENV as "FELIX_IPTABLESBACKEND=NFT", all issues are resolved now. Now all pods are talks to each other smoothly which spread on all nodes in the cluster

[2021-01-23 13:52] #6078 closed

[2021-01-23 15:41] piotrblasiak opened #6800 "lua zlib module for request inflation / gzip support"
I want to enable gzip inflation of requests - and the only way to do that tat I have found for nginx is to use a lua function, which in turn requires the zlib module which does not seem to be available in this controller.

I haven't been able to find any previous issue about this.

/kind feature

[2021-01-23 16:08] subhashksharma commented on #6406
I am trying to install nginx-ingress-controller but getting the same error which you have got above. My cluster consist of 6 node Raspberry pi4 cluster. which runs Ubuntu 20.4 TLS.
Not sure what to do it to run. Any help would be appreciated.

[2021-01-23 23:55] jrareas commented on #6506
I am having similar issue

`jareas@Jareass-Mac-mini droplet %  kubectl describe ingress echo-ingress
Name:             echo-ingress
Namespace:        default
Address:          138.197.135.165
Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>)
Rules:
  Host            Path  Backends
  ----            ----  --------
  thats4free.com
                  /

[2021-01-24 07:19] wxq851685279 opened #6801 "Use domain name to visit 404"
Install in the following way
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.43.0/deploy/static/provider/baremetal/deploy.yaml`

ingress
`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: nginx-test-ingress
spec:
  rules:
  - host: test.xxxx.com
    http:
      paths:
      - path: /
        backend:
          serviceName: nginx-test-s

[2021-01-24 07:30] #6782 closed

[2021-01-24 09:25] afrouzMashaykhi commented on #6506
@Krishna-teja you are trying localhost so you got timeout who did you setup your cluster in local(kind?) on cloud ..?

[2021-01-24 09:28] afrouzMashaykhi commented on #6506
@jrareas You got connection refused so app is not listening on that IP or port so just `netstat` in app and comment

[2021-01-24 16:19] piotrblasiak commented on #6800
A good idea could be to make it possible to specify additional lua packages to install using luarocks?

[2021-01-24 17:19] #6085 closed

[2021-01-24 19:21] #6057 closed

[2021-01-25 01:15] aledbf commented on #6798
Can you be more specific?

For the description of the previous part, you should disable the validation webhook. It is the only thing that avoids an invalid configuration breaking the deployment.

Please post part of the ingress-nginx pod log. The timeouts you are posting make no sense.

[2021-01-25 04:06] ravisharda commented on #6791
Thanks @toredash! We'll check out the workaround.

[2021-01-25 04:06] #6791 closed

[2021-01-25 07:49] subesokun commented on #6794
@aledbf Got it working. Thanks a lot!

[2021-01-25 09:04] joakimr-axis opened #6803 "charts/ingress-nginx/values.yaml: 404 for Ref. URL"
**NGINX Ingress controller version**:

Commit b79da0d (current latest on master)

**Kubernetes version** (use `kubectl version`):

Not of importance for this issue

**Environment**:

Not of importance for this issue

**What happened**:

The three first lines in [charts/ingress-nginx/values.yaml](https://github.com/kubernetes/ingress-nginx/blob/b79da0d8d25410996dcf165fadf75f9cbe3b259b/charts/ingres

[2021-01-25 09:12] antvak commented on #6658
I agree, this is still a problem. If I deploy with an empty ingressClass value, the deployment cannot elect a leader.

[2021-01-25 09:59] GaborVarga opened #6804 "Routing problem with nginx-ingress"
spec:
  rules:
  - host: myurl.com
    http:
      paths:
        - path: /demo
          backend:
            serviceName: demo-service
            servicePort: 4096
        - path: /
          backend:
            serviceName: service2
            servicePort: 8081

I can not reach the demo service with this configuration, myurl.com/demo goes to 404. The services are up and running. myurl.com wo

[2021-01-25 10:15] tusharsappal commented on #6770
Hi Team,
Any updates here ?

[2021-01-25 14:27] toredash commented on #6804
To little information to help you here. I suggest you create an issue using the template and also describe what you have done to try do debug the issue.

A simple curl within the nginx container would be very helpful, along with the generate nginx.conf.

`curl -v --resolve "*:80:127.0.01" http://myurl.com/demo` for instance should go to your serviceName demo-service.

[2021-01-25 14:28] toredash commented on #6801
To little information to help you here. I suggest you create an issue using the template and also describe what you have done to try do debug the issue.

A simple curl within the nginx container would be very helpful, along with the generated nginx.conf.

`curl -v --resolve "*:80:127.0.01" http://test.xxxx.com/` for instance should go to your serviceName nginx-test-service.

[2021-01-25 14:31] toredash commented on #6800
I'm not sure what your asking for, but if you want to enable gzip and brotli compression you can enable it via `use-gzip: true` and `enable-brotli: true`

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#enable-brotli

[2021-01-25 15:08] piotrblasiak commented on #6800
@toredash So currently it is possible to add lua code, but as far as I can tell there is no way to add lua packages from luarocks - so you are limited to pure lua code and can't use packages like lua-zlib etc.

[2021-01-25 15:33] shreyasshinde commented on #6731
@aledbf Yes, disabling the keep-alive works. Clients are not getting disconnected.

It appears that client libraries with pooled http connections have this challenge. Here is an issue in Python - https://github.com/pusher/pusher-http-python/issues/92. A similar one exists for Java as well.

Is it possible that NGINX, when it reloads the configurations does not terminate existing keep alive connect

[2021-01-25 15:34] shreyasshinde commented on #6731
Given that popular HTTP libraries are unable to handle server disconnects, are there any solutions besides turning off keep alive? This option also penalizes clients that do handle the connections better (like browsers or proxies).

[2021-01-25 16:01] sziegler-skyhook commented on #3898
+1, Our organization could also use this feature.

[2021-01-25 16:52] aledbf commented on #6731
No. The reload model of nginx destroys old worker processes. You can adjust the timeout https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#worker-shutdown-timeout but the disconnect cannot be avoided.

[2021-01-25 16:52] aledbf commented on #6731
That is why the solution to the problem is the client library handles the reconnect.

[2021-01-25 18:06] evredinka commented on #6178
/remove-lifecycle stale

[2021-01-26 08:09] peter-hartmann-emrsn commented on #683
Evil issue got this [evil](https://www.nginx.com/resources/wiki/start/topics/depth/ifisevil/) fix on my box ... no permanent redirect.
[code]
Before down-voting this one consider upvoting [@Queuecumber 's comment](https://github.com/kubernetes/ingress-nginx/issues/683#issuecomment-414830114).

[2021-01-26 09:33] SnailDove opened #6806 "Error pulling image"
I have a problem and I start `minikube` with this command,
`minikube start --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers' --vm=true`.  and the terminal shows me that
[code]
So, I'm happy to type the command, `minikube addons enable ingress`. But after several minutes,  it shows me that

[code]
and then, I get the pods `kubectl get pods -A `
[code]
To get more pieces of in

[2021-01-26 10:48] aledbf commented on #6806
Closing. Duplicate https://github.com/kubernetes/ingress-nginx/issues/6335

[2021-01-26 10:48] #6806 closed

[2021-01-26 11:26] helloqhq opened #6807 "fastcgi_connect_timeout and other parameters do not take effect"
Like the title, I want to set keepalive_timeout、fastcgi_connect_timeout、client_body_timeout、client_header_timeout and other parameters, but it doesn’t take effect. Is it wrong?

[code]

[2021-01-26 11:31] urabenst opened #6808 "Exposing two TCP services mixes up services"
**NGINX Ingress controller version**: v0.40.2, helm version ingress-nginx-3.7.1

**Kubernetes version** (use `kubectl version`): 1.18.9

**Environment**: Development

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`): 4.15.0-1103-azure
- **Install tools**: Helm
- **Others**:

**What happened**:

I exposed two TCP

[2021-01-26 11:46] SnailDove commented on #6335
I have a problem and I start `minikube` with this command,
`minikube start --image-repository='registry.cn-hangzhou.aliyuncs.com/google_containers' --vm=true`.  and the terminal shows me that
[code]
So, I'm happy to type the command, `minikube addons enable ingress`. But after several minutes,  it shows me that

[code]
and then, I get the pods `kubectl get pods -A `
[code]
To get more pieces of in

[2021-01-27 00:14] jmturwy opened #6809 "Unable to deploy to numerical namespaces."
**NGINX Ingress controller version**: 0.43.0

**Kubernetes version** (use `kubectl version`): 1.18.9

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Error: ClusterRoleBinding in version "v1" cannot be handled as a ClusterRoleBinding: v1.ClusterRoleBinding

[2021-01-27 02:32] aledbf commented on #6809
Closing. The namespace should be defined as a string, like "555555"

[2021-01-27 02:32] #6809 closed

[2021-01-27 13:07] zekth opened #6812 "Secure Session cookie behind a gateway"
In a case of a nginx session cookie behind a gateway we can have this kind of annotations:

[code]

Which will lead in a non secure cookie because the `ngx.vars.https` is set to `false`. The ugly workaround for this is to do something like:

[code]

Basically the code would be:
[code]

I can write a PR for this if needed.

/kind feature

[2021-01-27 19:25] jmturwy commented on #6809
i used "555555" and still did not work

[2021-01-27 20:22] jmturwy commented on #6809
$ helm install "nginx-test" -f ./values/nginx/values.yaml ingress-nginx/ingress-nginx -n "55555"

Error: ClusterRoleBinding in version "v1" cannot be handled as a ClusterRoleBinding: v1.ClusterRoleBinding.Subjects: []v1.Subject: v1.Subject.Namespace: ReadString: expects " or n, but found 1, error found in #10 byte of ...|mespace":55555}]}
|..., bigger context ...|t","name":"nginx-test-ingress-ngin

[2021-01-27 21:08] AndreKoepke commented on #5001
Nevermind, the new version has no longer the bug.

[2021-01-28 00:41] #6801 closed

[2021-01-28 01:59] helloqhq commented on #6807
This configuration takes effect, it is the problem of my test

[2021-01-28 01:59] #6807 closed

[2021-01-28 03:08] gsxmax opened #6816 "connection closed with large header and header size related configs not working, but change the http2-max-field-size to a small value helps"
Hi team,

Currently we have encountered a similar issue like this one mentioned https://github.com/kubernetes/ingress-nginx/issues/4637. Previously our value for http2-max-field-size was 32k, after we changed the value to 16k, it did help to mitigate the issue.

Our question here is, what is the exact function for this http2-max-field-size? According to doc https://nginx.org/en/docs/http/ngx_http_

[2021-01-28 04:41] #6102 closed

[2021-01-28 07:35] kundan2707 commented on #6803
/assign

[2021-01-28 10:35] tusharsappal commented on #6770
/support

[2021-01-28 11:38] kundan2707 commented on #6803
correct path is
https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/nginx-configuration/index.md

[2021-01-28 11:50] joakimr-axis commented on #6803
Awesome, thanks! Then I can take care of the minimal PR needed.

[2021-01-28 12:42] zhaogaolong commented on #6798
What does the detailed information refer to?  ingress-nginx log ?

I read the source code and found that there are very few logs, basically pass or fail, without any analysis meaning。So we need to add more verification module's logs as the first step? cc @aledbf

[2021-01-28 12:44] mka-0 commented on #6540
@bzon can you share how you managed to override timeouts? Have the same problem

[2021-01-28 13:19] #6803 closed

[2021-01-28 16:54] adejongh opened #6820 "Helm upgrade from 3.3.1 to 3.22.0 fails with "nil pointer evaluating interface {}.minReplicas""
**NGINX Ingress controller version**:  3.3.1

**Kubernetes version** (use `kubectl version`): 1.18.10

**Environment**:

- **Cloud provider or hardware configuration**:  Azure AKS 1.18.10

**What happened**:

I attempted to upgrade the existing helm release, chart version 3.3.1, to newest chart version 3.22.0.  This fails with:
`helm upgrade --reuse-values  -n ingress-controller ingress-nginx ingr

[2021-01-28 16:55] adejongh commented on #6820
I tried working around the issue with:
`helm upgrade --reuse-values --set defaultBackend.autoscaling.minReplicas=1 -n ingress-controller ingress-nginx ingress-nginx/ingress-nginx`

This fails with:
`Error: UPGRADE FAILED: template: ingress-nginx/templates/controller-keda.yaml:1:18: executing "ingress-nginx/templates/controller-keda.yaml" at <.Values.controller.keda.enabled>: nil pointer evaluating

[2021-01-28 17:13] adejongh commented on #6820
I assume the trouble came in with this commit, where we added "HPA autoscaling":  https://github.com/kubernetes/ingress-nginx/commit/ab9ba3e970138c39a8b2d2a9fb23f5519a9e2941

I checked my helm release's values (`helm get all ...`), and I don't have those keys in there - obviously.  I assume this is why it is now failing on upgrade.

[2021-01-28 17:27] adejongh commented on #6820
The answer, in short, is not to use "--reuse-values" as it does not merge in the values from the new chart it appears.  It is a bit of a vague description on the helm site.

[2021-01-28 17:27] #6820 closed

[2021-01-28 18:14] dzirg44 opened #6821 "Helm: healthcheck NodePort configuration"
Hi! Can I expose Healthcheck port (10254) outside from the cluster using NodePort?
i successfully resolve it via tcp  + NodePort
https://github.com/kubernetes/ingress-nginx/blob/69418003392d6a32a91459810a3fe66ce70da57d/charts/ingress-nginx/values.yaml#L726
but it seems i have a problem now like
[code]
despite the fact that this port is free.
I haven't found anything in the documentation about chan

[2021-01-28 18:25] dzirg44 commented on #6821
ah damn
it seems it can help
https://github.com/kubernetes/ingress-nginx/blob/69418003392d6a32a91459810a3fe66ce70da57d/charts/ingress-nginx/values.yaml#L385
i will check.

[2021-01-28 18:50] dzirg44 commented on #6821
no , it doesn't work.
[code]

[2021-01-28 19:03] dzirg44 commented on #6821
maybe we can add something like
[code]

[2021-01-28 19:08] dzirg44 commented on #6804
@GaborVarga check logs on your ingress controller , it can help.

[2021-01-28 20:36] lauksas commented on #4208
I got into the same question. I wonder if I need to create many ingress resources to do that.

[2021-01-28 21:57] dzirg44 commented on #6821
it seems I can use extra args, will see...

[2021-01-29 02:02] #5886 closed

[2021-01-29 04:11] kundan2707 commented on #6795
@snodl  Can you share complete bug info in defined bug templet?

[2021-01-29 04:22] esteban1983cl opened #6822 "400 Bad Request - The plain HTTP request was sent to HTTPS port"
**NGINX Ingress controller version**: v0.43.0

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

After upgrade helm chart from 3.12.0 to 3.22.0 I get this error message.

**What yo

[2021-01-29 10:09] anshul-sehgal22 commented on #6135
I also faced same issue.
But it was due to my mistake.

Instead of baremetal deployment which we were using, I deployed cloud type.
incorrect: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.43.0/deploy/static/provider/cloud/deploy.yaml
correct: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.43.0/deploy/static/pro

[2021-01-29 10:35] dzirg44 commented on #6821
I resolved it via `metrics` configuration. I hope it will help somebody.

[2021-01-29 10:35] #6821 closed

[2021-01-29 10:39] ravisharda commented on #6791
PR #5855 appears to be adding some changes that may (or may not) resolve this issue.

[2021-01-29 11:34] rhysxevans opened #6824 "HELM: Ability to disable external loadbalancer"
Hi

I would like to have the ability to only spin up internal ingress points

At present I have external ingress points locked down, however it would be nice to not have them at all
something like

[code]

I have attempted this by flagging out the `templates/controller-service.yaml` however that just leads to crashes on deployment

Any thoughts would be appreciated

Thanks

[2021-01-29 11:58] toredash commented on #6791
I don't think it will, since k8s will remove the NodePort endpoint immediately once termination signal is sent: https://github.com/kubernetes/kubernetes/issues/85643#issue-528773493

[2021-01-29 13:32] aledbf commented on #6824
Closing. You can achieve that using
[code]

[2021-01-29 13:32] #6824 closed

[2021-01-29 13:36] esteban1983cl commented on #6822
OK, I solved myself this issue adding the follow configuration in my values.yaml helm chart file. I pickup the configuration from
https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.43.0/deploy/static/provider/aws/deploy-tls-termination.yaml

[code]

[2021-01-29 13:57] rhysxevans commented on #6824
And for GKE ?

my values look like:

[code]

but I still get an external and internal LB

[2021-01-29 13:59] aledbf commented on #6824
[code]

[2021-01-29 14:31] rhysxevans commented on #6824
Thanks, that works as expected, possibly one to add the docs ?

[2021-01-29 14:35] vorozhko opened #6825 "Canary ingress conflict with existing ingress when canary annotation set to "false""
**NGINX Ingress controller version**: v0.43

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.15-gke.6000", GitCommit:"b02f5ea6726390a4b19d06fa9022981750af2bbc", GitTreeState:"clean", BuildDate:"2020-11-18T09:16:22Z", GoVersion:"go1.13.15b4", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Cloud provider or hardwar

[2021-01-29 14:54] rakesh-patnaik commented on #2677
@amalucelli and @hchenxa I am facing a similar issue and the workaround to include Domain in session-cookie-name does not work. Is there any resolution to this or a new workaround? I am using nginx-ingress-controller:0.30.0 image with nginx version 1.17.8

[2021-01-29 16:16] #6107 closed

[2021-01-29 18:54] aledbf commented on #6825
@vorozhko by setting `canary: 'false'` you are creating two ingress definitions for the same host/path. That is not allowed.
Also, by creating a definition with the canary annotation first, it takes precedence to build the configuration.

Not sure exactly what are you expecting here. The error you see is right.

[2021-01-29 20:51] ztasre opened #6826 "Controller is returning 404 errors."
**NGINX Ingress controller version**:
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v0.43.0
  Build:         f3f6da12ac7c59b85ae7132f321bc3bcf144af04
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.6

-------------------------------------------------------------------------------

*

[2021-01-29 22:28] ztasre commented on #6826
found the problem, k3s by default has traefik installed

[2021-01-29 22:28] #6826 closed

[2021-01-30 01:46] marcino239 opened #6827 "Question: How to upgrade ingress-nginx without loosing assigned public IP address to the load-balancer"
Apologies if this is obvious question.  I did number of searches and can't find an answer.

We have a k8s cluster on Azure with cloud assigned public IP address to the load balancer resources.  Is there a way to upgrade ingress-nginx without deleting existing load balancer and loosing existing public IP address?  We don't use helm.

Thanks!

[2021-01-30 18:39] champtar commented on #6238
/remove-lifecycle rotten

[2021-01-31 04:48] deliahu opened #6828 "Requests hang or timeout when adding nodes to cluster (AWS EKS + NLB)"
**NGINX Ingress controller version**: v0.43.0 (linked from the [deployment guide](https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb))

**Kubernetes version**: 1.18.9

**Environment**:

- **Cloud provider configuration**: AWS EKS (via `eksctl`)

**What happened**:

~4 minutes after a new node joins the cluster, requests to a service (which existed before the node was adde

[2021-01-31 08:39] ngocketit opened #6829 "Helm's server-snippet not applied to config file"
For fixing HTTP -> HTTPS redirect loop, I used this to install the controller with Helm:
[code]

However, the snippet is not applied to `/etc/nginx/nginx.conf` file. The configmap is generated by Helm like so:
[code]
If I put the snippet in Ingress, it works.

**Kubernetes version**
[code]

**Helm chart version**: 3.22.0

[2021-01-31 14:01] #5755 closed

[2021-01-31 19:22] marcino239 commented on #6827
Looks like one way to do it is to edit version of ingress-nginx in Deployment
But more scalable way of doing it is described [here](https://kubernetes.github.io/ingress-nginx/examples/static-ip/)

[2021-01-31 19:22] #6827 closed

[2021-01-31 20:13] aledbf commented on #6828
@deliahu in the scenario you described, ingress-nginx is at the end of the chain and has nothing to do with the configuration of the LB. That is done by kubernetes itself.

You should describe the ingress-nginx service when you add more nodes to check for sync errors and also enable S3 logs in the LB to detect if the new node is the cause of the problem.

[2021-02-01 07:32] deliahu commented on #6828
Thank you @aledbf for your response!

I reproduced the bug and checked the ingress-nginx service after requests got stuck, and I did not see anything out of the ordinary; here were the events:

[code]

The load balancer logs haven't propagated yet, but I will check those when they do.

That is what I was thinking at first, earlier last week. Then I tried exposing the `my-api` service (defined in m

[2021-02-01 09:34] dptiwari commented on #5863
Is there someone got solution for this issue, as I am facing the same.

[2021-02-01 12:00] aledbf commented on #6828
@deliahu I suggest you ask in the #provider-aws Kubernetes Slack channel

[2021-02-01 13:37] aissam96 commented on #5686
I had the same problem for a while. It turned out that i had to add **host** in my ingress definition:

[code]

[2021-02-01 16:50] trnl commented on #3898
At the end, we implemented the Prometheus Lua plugin and completely disabled the metrics provided by the controller itself. It's missing some things like reloads, but we can leave with it.

[2021-02-01 16:53] afirth commented on #1120
@bedeabza here's an esoteric trick for you (bash) to envsubst only exported vars that start with `_`

[code]

Can't recall where I learnt the incantation but I hope it helps

[2021-02-01 23:06] guccialex commented on #3770
same issue

[2021-02-02 03:55] aabed commented on #6135
@aledbf could you please point out what was the problem? is it really necessary to upgrade to 0.41.2?

[2021-02-02 05:51] SinghDivneet commented on #3770
I was able to resolve this using the following

`
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nginx-routing
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/use-regex: "true"
# The following regex patterns are case insensitive
spec:
  rules:
  - http:
      paths:
      - path: /hello/(/|$)(.*)(/|$)a(.*)
        backend:
          serviceName

[2021-02-02 06:59] deliahu commented on #6828
@aledbf Thanks for your suggestion! I have posted in the #provider-aws Kubernetes Slack channel.

Since this configuration seems to cause issues, do you think it makes sense to change the default configuration for ingress-nginx on AWS?

[2021-02-02 07:18] raj-saxena opened #6831 "How to change logging level?"
Hi,
I recently upgraded to the latest version of the helm-chart `ingress-nginx-3.21.0` from the one deprecated `stable/nginx-ingress`. Thanks for the [cool guide](https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#migrating-from-stablenginx-ingress).

I noticed that the new pods spam with a LOT of `info` level logs. For example -
There are about ~807K logs produced in the

[2021-02-02 08:43] #4403 closed

[2021-02-02 11:04] #6768 closed

[2021-02-02 12:03] aledbf commented on #6831
@raj-saxena if you see that output in the log it means the ingress definition is changing. You should track the reason.

[2021-02-02 12:03] aledbf commented on #6831
No. v=5 means debug log level

[2021-02-02 12:22] brianhhq commented on #3245
+1 to have this nice feature in annotation

[2021-02-02 12:26] robertvanhoesel commented on #5238
/remove-lifecycle stale

[2021-02-02 12:42] raj-saxena commented on #6831
That would be strange as I am the only one who applies these changes. We are on GKE and the only thing different than the usual setup (if it matters) was that I had another `ingress-nginx` running as suggested in [migration without downtime](https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#migrating-from-stablenginx-ingress) post.

Weirdly, the errors seemed to have sto

[2021-02-02 12:42] #6831 closed

[2021-02-02 12:46] aledbf commented on #6831
The log uses klog. In particular, if you use `--v=5` we also enabled debug logs in NGINX
Please check https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md

[2021-02-02 17:29] andrecp commented on #3858
I have the same issue, am running `containerd` as a CRI, is there anything that I need to do differently?

I've enabled the `hostNetwork` in the spec, below is the error I am getting:

[code]

[2021-02-03 09:57] vorozhko commented on #6825
How can I disable canary without deleting canary ingress?

[2021-02-03 10:05] daniel-afo commented on #2061
Hello,

i have the same issue as @gyliu513 describes.

Using another Port would fix the issue, but i and as well as gyliu513 was asking if its possible to let the nginx-ingress service run on a different network interface. Is this possible?

Greetings
Daniel

[2021-02-03 10:09] daniel-afo opened #6833 "publish nginx-ingress over specific network interface"
Hello,

i have a quick question.

I would like to publish TCP Port 22 over nginx-ingress.
Port 22 is already in use by the host system itself for SSH.

Is it possible ( i have two network interfaces) to map nginx-ingress to a specific interface which is not already using port 22?
And no, i don't want to use another port then TCP/22.

I checked already the cli arguments mentioned here [https://gith

[2021-02-03 12:01] simhnna opened #6834 "Unable to pass headers from external auth's response to default backend starting with 0.31.0"
**NGINX Ingress controller version**: 0.31.0 (later releases don't work either)

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.In

[2021-02-03 14:04] shreelola commented on #5738
We are using version 0.40.1, but still hit with the same issue. We also run Jaegor in our cluster and jaegor pods were in crash loop state. once we fixed that, nginx started working without issues.

[2021-02-03 14:15] aledbf commented on #6834
Please post those details. Without it is hard to see exactly what are you doing and how to reproduce the issue.

[2021-02-03 16:30] heyjustyn commented on #6458
We have a similar setup as you @rocketraman and are seeing the same errors.

@ghfalcon7, was the value for `caBundle` empty for you? I see a value in my case, but the certificate doesn't seem right to me.
how did you re-run the patch job?

[code]

[2021-02-03 22:34] simhnna commented on #6834
Here is a gist with the deploy and the source code to the auth/default backend code that I used in `simhnna/nginx-demo`
https://gist.github.com/simhnna/0615ffc88548d85fb36120e0f69db0a3

[2021-02-03 22:45] zerog2k opened #6835 "AWS Classic LB security group has ICMP enabled"
It appears that inbound ICMP (for Path MTU?) is enabled on the Security Group for the AWS Classic Load Balancer created to forward traffic into the nginx ingress on the cluster. (see the "Custom ICMP - IPv4" rule in attached screenshot.)

![Screen Shot 2021-02-03 at 4 42 51 PM](https://user-images.githubusercontent.com/3943170/106819053-dc99bb00-663e-11eb-9772-6584c15ca4ab.png)

I'm pretty sure th

[2021-02-03 22:46] simhnna commented on #6834
Oops. apparently this does work in minikube... I'll have to double check our deployment

[2021-02-03 22:46] #6834 closed

[2021-02-03 23:17] zerog2k commented on #6835
ok i see this behavior is built into k8s service when type=LoadBalancer, and k8s claims it's needed:
https://github.com/kubernetes/cloud-provider-aws/issues/101

[2021-02-03 23:17] #6835 closed

[2021-02-03 23:36] nicocti commented on #4628
That's because you specify a tls certificate per ingress, the issue was raised if a wildcard certificate is used and set at the controller level by passing the `--default-ssl-certificate` argument. Unfortunately, as stated in the documentation here: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#ssl-redirect we can enforce a global ssl redirection at the contr

[2021-02-03 23:43] nicocti commented on #4628
As explained by @prageethw the solution is to use `force-ssl-redirect: "true"` in the controller's ConfigMap (if it was not clear for those not using Helm). Beware this option is not documented on https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap !

[2021-02-04 00:50] owenthereal commented on #6273
I bumped in this issue as well. This is the nginx log that I got:

[code]

[code]

[2021-02-04 09:24] akunaatrium opened #6837 "The documentation doesn't say what the name of the ConfigMap is."
The following page describes various options that can be specified as the configuration for the ingress controller via ConfigMap but doesn't say what the config map name must be or how to apply changes:

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/

Long after installing the ingress controller, I just by accident noticed some config map in the list of config

[2021-02-04 15:30] steven166 opened #6844 "First backend reload times out for large configurations"
**NGINX Ingress controller version**:
v0.40.2

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.13", GitCommit:"39a145ca3413079bcb9c80846488786fed5fe1cb", GitTreeState:"clean", BuildDate:"2020-07-15T16:10:14Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Cloud provider or hardware configura

[2021-02-04 15:37] #6133 closed

[2021-02-04 15:52] aledbf commented on #6844
Not sure exactly what are you expecting here.

The initial sync is "special" in the sense that NGINX itself is not running yet.
The `Unexpected failure reconfiguring NGINX:` is just a side effect of the number of ingresses/domains/certificates and failing the ready/live probes. This is a good thing. While this is not ok, the ingress-nginx pod will not be ready and not serving any request.

[2021-02-04 16:10] steven166 commented on #6844
Well I did some testing, and by increasing [this sleep ](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/controller.go#L175)to 60s (this value could be lower). It was able to startup correctly after that time.

So it seems that the initial sync is succeeding eventually, but it needs more time with a lot of ingresses.

[2021-02-04 16:19] Vivida1 commented on #710
Can anyone can confirm that this is still working? Whitelisting through
[code]
works fine and also
[code]
works but combining both
[code]
defaults to Basic Auth again.

[2021-02-04 16:20] steven166 commented on #6844
At least the readiness check was succeeding, but the routes are not working yet (getting default-backend responses).

Could this mean that the reloading the routes takes incredible long? Or is there something else going wrong?

[2021-02-04 16:23] steven166 commented on #6844
Let me clearify that a bit better: Deleting the Pod to simulate a restart/redeploy. I expect that it successfully starts up and when the readiness probe is succeeding, all routes are working.

[2021-02-04 16:40] steven166 commented on #6844
All routes are working after 10-20 minutes. So it just seems to take a long time :-)

I know that the controller is completely async, but is there some way to check if all ingress resources have been loaded for the first time? Maybe a point in time view when the ingresses in the Kubernetes API and config of NGINX are the same?

[2021-02-04 16:41] ianwalter opened #6846 "Too many redirects when using ingress-nginx on DigitalOcean"
**NGINX Ingress controller version**:

v0.43.0

**Kubernetes version** (use `kubectl version`):

Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:41:49Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Cloud provider or hardware configur

[2021-02-04 17:03] aledbf commented on #6844
That is a long time.

**Some questions:**
- what value do you see for the directive `worker_processes` in the generated nginx.conf file?
- are you setting memory/cpu limits?
- are you collecting prometheus metrics?
- run `kubectl exec -n ingress-nginx <ingress pod> -- curl localhost:10254/metrics|grep nginx_ingress_controller_success` to get the number of reloads

[2021-02-04 17:06] aledbf commented on #6844
Please update to v0.44.0
(if we find an issue here, it can only be applied in the next release)

[2021-02-04 17:07] ianwalter commented on #6846
I originally brought up this issue in #6845 where @aledbf replied

This change contradicts the configuration.

This makes me wonder if there is a discrepancy between how DigitalOcean implements the proxy protocol. In this [blog post](https://www.digitalocean.com/blog/load-balancers-now-support-proxy-protocol/) it says:

So doesn't this mean that you do need to use `use-forwarded-headers: 'true'` s

[2021-02-04 17:10] aledbf commented on #710
@Vivida1 by default NGINX uses `satisfy all`. You need to add the annotation https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#satisfy

[2021-02-04 17:15] Vivida1 commented on #710
Even better. Thanks!

[2021-02-04 17:27] aledbf commented on #6846
@ianwalter are you using ingress-nginx behind cloudflare?

If that's the case, then you don't need `use-proxy-protocol: "true"`. Enabling this setting makes no sense in this scenario.
That said, you need something the next settings in the configuration configmap to use the headers from Cloudflare:

[code]

[2021-02-04 17:33] steven166 commented on #6844
`worker_processes 7;`

Limit is set on: `cpu: 7, memory: 14Gi`
But the usage is around 2 cpu's and 7Gi memory.

yes

<img width="1396" alt="Schermafbeelding 2021-02-04 om 18 31 01" src="https://user-images.githubusercontent.com/2064220/106931718-2bb31f00-6717-11eb-82c9-9b26b8f22d58.png">

I will test it also with the latest image.

[2021-02-04 17:58] aledbf commented on #6844
Please change the [worker-processes](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#worker-processes) to 4: `worker-processes: "4"`
Keep in mind that an NGINX reload implies new worker processes are created + existing ones until existing connections are served.

From the image, I see three reloads. This could mean the time is related to NGINX itself, not the i

[2021-02-04 18:00] aledbf commented on #6844
@steven166 can you post the CPU utilization from the prometheus metrics?

[2021-02-04 18:07] steven166 commented on #6844
Here it is:
<img width="1380" alt="Schermafbeelding 2021-02-04 om 19 06 01" src="https://user-images.githubusercontent.com/2064220/106935865-2c01e900-671c-11eb-841e-4eaf59d4256a.png">

Will try to set the `worker-processes` to 4.

[2021-02-04 18:09] ianwalter commented on #6846
@aledbf Yes, that was the problem. Turning off proxying in Cloudflare seems to have fixed the issue. Thank you for your help!

[2021-02-04 18:09] #6846 closed

[2021-02-04 20:07] omerozery opened #6847 "Nginx fails when disabling the service"
**NGINX Ingress controller version**: 0.44.0

**NGINX Ingress controller Helm Chart version**: 3.23.0

**Kubernetes version**: v1.20.2

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS**: CentOS Linux release 7.7.1908 (Core)
- **Kernel**: 3.10.0-1160.11.1.el7.x86_64

**What happened**:
when trying to deploy this chart using the following:
[code]
and myfile.yaml content

[2021-02-04 22:43] NeckBeardPrince opened #6848 "Any way to set Target Type = IP when using a AWS NLB?"
I know if using the `aws-load-balancer-controller` you can use `service.beta.kubernetes.io/aws-load-balancer-type: nlb-ip`. Is there a way to do that with `ingress-nginx`?

/triage support

[2021-02-04 22:44] kfirfer opened #6849 "[global-rate-limit] [memcached] cant put more then 1 host"
Hello,

When I try to put more than 1 memcached host, the global rate limit isn't working and doesn't communicate with memcached instance(s)

Configmap:
[code]

App version: 0.44.0
Helm chart version: 3.23.0

[2021-02-04 22:49] steven166 commented on #6844
Tested it with v0.44.0 and with `worker-processes` to 4, and the startup time seems the same (around 15m).

[2021-02-04 23:31] aledbf commented on #6844
@steven166 please add `server-name-hash-bucket-size: "256"` in the configuration configmap and test again, please.

[2021-02-04 23:50] aledbf commented on #6849
/assign @ElvinEfendi

[2021-02-04 23:52] aledbf commented on #6290
Closing. Feature added in https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx/3.22.0

[2021-02-04 23:52] #6290 closed

[2021-02-05 00:24] ElvinEfendi commented on #6849
Hey @kfirfer, we rely on https://github.com/openresty/lua-resty-memcached which does not support clustering and also it seems like it will never does given author's this thought: https://github.com/openresty/lua-resty-memcached/pull/18#issuecomment-347623187

The underlying library ingress-nginx uses for global throttle is https://github.com/ElvinEfendi/lua-resty-global-throttle. I'll create an is

[2021-02-05 00:27] kfirfer commented on #6849
@ElvinEfendi
Thanks for clarification !

[2021-02-05 00:33] aledbf commented on #6848
@NeckBeardPrince no because ingress-nginx provides what is available in Kubernetes itself. Only `elb` and `nlb` are available.

Note: the LB or any cloud resources are managed by k8s itself, not ingress-nginx.

[2021-02-05 00:33] #6848 closed

[2021-02-05 09:41] steven166 commented on #6844
Thanks for helping me out. Unfortunately I still get the same result.

[2021-02-05 12:45] xasor opened #6850 "Nginx should reload when updating FastCGI configmap parameters"
**NGINX Ingress controller version**: v0.44.0

**Kubernetes version** (use `kubectl version`): Server Version: version.Info{Major:"1", Minor:"16+", GitVersion:"v1.16.15-gke.6000", GitCommit:"b02f5ea6726390a4b19d06fa9022981750af2bbc", GitTreeState:"clean", BuildDate:"2020-11-18T09:16:22Z", GoVersion:"go1.13.15b4", Compiler:"gc", Platform:"linux/amd64"}

**What happened**:

Using FastCGI as a backen

[2021-02-05 13:06] raider444 commented on #5968
`Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.4", GitCommit:"d360454c9bcd1634cf4cc52d1867af5491dc9c5f", GitTreeState:"clean", BuildDate:"2020-11-11T13:09:17Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}`

docker://19.3.13

The same problem.

[2021-02-05 14:07] slash-ro opened #6851 "Default Backend if not working properly"
After upgrading from ingress-nginx-3.16.1 --to--> ingress-nginx-3.17 / 3.18 .. 3.22
The default backed is not displaying  message("default backend - 404") from "default-backend" pod.
Now the default backend used is one of the static pods from an app unrelated to accessed host header.

helm3 upgrade nginx-ingress ingress-nginx/ingress-nginx \
--version 3.17.0 \
--namespace ingress-system \
--set rb

[2021-02-05 15:56] eliskovets commented on #4363
/reopen

[2021-02-05 20:08] aledbf commented on #6844
@steven166 can you provide the steps to reproduce the issue? or at least describe with more detail the objects being created?

[2021-02-05 22:21] Daxcor69 opened #6852 "How to add/edit static error html pages when enabling default backend in the helm chart"
Hello,
I have enabled the default backend via the values.yaml file for the helm deployment.  That was pretty simple. I have been googling around trying to figure out how to edit the static html files for the different errors.  I have tried to exec into the pod that was created but it does not have sh or bash.  Can  you point to some documentation that shows how to edit or include custom pages.  I

[2021-02-05 22:44] xp-vit commented on #2420
/reopen

[2021-02-05 22:53] joshsouza commented on #2420
I've gone about solving the need I had here in a different manner in which I no longer require the Lua functionality.
Might I suggest, since this PR is very out of date, that if it still holds value to others (I assume @xp-vit may be impacted) that someone else continue to pursue this in a fresh PR or issue that wouldn't be so far behind.

[2021-02-05 23:45] haslersn commented on #3938
Could you document that the default is `true`, please?

[2021-02-06 00:26] ElvinEfendi commented on #6849
np @kfirfer !

This should not be labelled as a bug though. The feature never advertised that it supports clustered memcached.

[2021-02-06 00:51] kfirfer commented on #6849
@ElvinEfendi
You right, I don't know how to change labels =X

[2021-02-06 10:37] steven166 commented on #6844
I've generated the ingresses with the following NodeJS script:
[code]

For creating the certificates, I've used [cert-manager](https://cert-manager.io/), with the following self-signed issuer:
[code]

[2021-02-06 17:54] ElvinEfendi commented on #6849
/remove-kind bug

[2021-02-07 10:18] timminata commented on #6135
We're on `Release: 0.25.1` and just started seeing this issue on one of our clusters. Other clusters seem unaffected. Any idea what the easiest fix would be?

[2021-02-07 18:42] kskalski commented on #6163
Thanks, setting ``enable-real-ip`` and ``forwarded-for-header: proxy_protocol`` seems to work for me when I don't set ``use-proxy-protocol``. Hopefully it will fix the problem I was having with ``use-proxy-protocol``, which prevented cert manager from validating domains.

[2021-02-07 18:42] #6163 closed

[2021-02-07 19:56] aledbf commented on #6844
@steven166 thank you for the script to replicate the scenario.

After running the scripts, I got some interesting details:
- the generated nginx.conf is ~230MB
- the default configuration configmap is not prepared for this number of rules.

Changing some parameters of the configuration configmap and livenessProbe initialDelaySeconds, the ingress controller behavior improves:
- `lua-shared-dicts: '

[2021-02-08 04:29] ramvalleru commented on #6793
`service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags: "Name=eks-dev"`

The tags for NLB are not supported. Even I regret this as for compliance we need to have some default tags to be set. Every time we need to manually set those tags for NLB created by nginx-ingress.

According to AWS EKS documentation, these tags can be only applied to ELB not NLB.

[2021-02-08 04:32] ramvalleru commented on #6772
Isnt't it possible with regex enabled in nginx-ingress.

[2021-02-08 07:35] wangdwcsd commented on #6303
I also have this situation, using version 0.40.2. Has this problem been solved in #6306? I didn't find the corresponding change in the change log?Which version do I need to upgrade to? @aledbf

[2021-02-08 07:38] #6582 closed

[2021-02-08 09:09] luisamador commented on #6793
@ramvalleru The annotation above also works for NLBs at creation time only. You just need to set that annotation before you create the NLB for the first time. If the annotation above is used for updating the NLB tags, it doesn't work.

[2021-02-08 09:24] ramvalleru commented on #6793
I believe you are talking about the tag for ELB. I tried this during creation but with no effect.
`service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags`

[2021-02-08 10:18] steven166 commented on #6844
I've tested with this new image and got some improvement, but not yet close to the 3m:
[code]

The nginx.conf is also a bit bigger: around the 400MB.

So I've tried to lower that size by removing some settings from the configmap like:
[code]
This has reduced the nginx.conf size to around the 220MB (like your setup) and the startup time has reduced to around 8m. So it seems that the size of the ngi

[2021-02-08 11:52] aledbf commented on #6844
this setting is the one that impacts the number of lines.

Yes, that is a known NGINX behavior.

[2021-02-08 12:49] hydrapolic commented on #5401
Got this in GCP on our testing environment (chart 3.23.0 / image 0.44.0):
[code]

Our production runs on chart 3.13.0 / image 0.41.2 where this cannot be reproduced.

[2021-02-08 12:49] antondollmaier opened #6853 "Permanent Redirect with Cert-Manager conflicts with Well-Known ACME validator"
**NGINX Ingress controller version**:

[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE with private nodes
- **OS** (e.g. from /etc/os-release): `ID=COS, 13310.1041.24`
- **Kernel** (e.g. `uname -a`): `Linux gke-foo-prod-foo-prod-n-bbdae2b2-4bfo 5.4.49+ #1 SMP Sun Oct 18 19:43:35 PDT 2020 x86_64 Intel(R) Xeon(R) C

[2021-02-08 13:04] sharkymcdongles commented on #5401
I noticed it seems to be that if at any stage it cannot connect it won't retry. I think this may be the problem. Perhaps some sort of retry can be put in place to make the call a few times if first fails.

[2021-02-08 14:41] steven166 commented on #6844
Thanks for that info.
Is there anything else I can do to reduce the startup time? As currently 8 minutes is still a bit long.

[2021-02-08 14:50] aledbf commented on #6844
Not sure. For 40000 hosts with SSL, this makes sense. What are you expecting exactly?
You could use multiple deployments with different ingress.class values. That for sure will reduce the time.

[2021-02-08 15:10] steven166 commented on #6844
Thanks for your help. I really appreciated it.

Just trying to push it to the limits :)
Will look into the custom template option. I think that is something that will help me optimise the nginx.conf for my needs.

Also one last question: is the no-indent option something that will land in the main-stream image?

[2021-02-08 15:12] aledbf commented on #6844
No. If you are up to the task, you can open a different issue requesting the feature. Or even better, propose a PR
Maybe it could be a new flag.

[2021-02-08 15:24] steven166 commented on #6844
Thanks again for the info. Will check it out if I still need it with a custom template.

I think this issue can be closed.

[2021-02-08 15:38] aledbf commented on #6844
/close

[2021-02-08 15:38] #6844 closed

[2021-02-08 16:12] #5559 closed

[2021-02-08 16:12] #5560 closed

[2021-02-08 16:44] iam-veeramalla commented on #6847
Hi @aledbf , I would like to try my hands on this. Can you assign this issue to me ?

[2021-02-08 21:35] albanm opened #6855 "Ingress resources changes are ignored"
**NGINX Ingress controller version**: 0.44.0

**Kubernetes version** (use `kubectl version`): 1.19.5

**Environment**:

- **Cloud provider or hardware configuration**: OVH
- **Install tools**: jetstack/cert-manager helm chart

**What happened**:

The first created ingresses were applied correctly, but now any modifications (add / delete / changes) are simply ignored.

For example, I have this ingr

[2021-02-08 23:38] we4sz commented on #6029
I would like to have the ssl termination in the default backend pod, have you come up with any solution for this?

[2021-02-09 02:22] #5767 closed

[2021-02-09 04:33] bergerx commented on #6381
/remove-lifecycle stale.

[2021-02-09 04:35] bergerx commented on #6381
/remove-lifecycle stale

[2021-02-09 04:44] bergerx commented on #6381
@aledbf, do you mind tagging this as a good-first-issue. I believe there is sufficient amount of information in the description already. Maybe someone picks this up before we revisit this to convert into a pr.

[2021-02-09 09:25] MrSimonEmms commented on #3868
I fixed this by running `kubectl rollout restart -n nginx-ingress deployment nginx-ingress-ingress-nginx-controller` after the `helm upgrade`. Like the OP, I'd prefer this to be handled by nginx-ingress out of the box, but this is an acceptable compromise

[2021-02-09 09:25] MrSimonEmms commented on #5238
I fixed this by running `kubectl rollout restart -n nginx-ingress deployment nginx-ingress-ingress-nginx-controller` after the `helm upgrade`. Like the OP, I'd prefer this to be handled by nginx-ingress out of the box, but this is an acceptable compromise

[2021-02-09 09:47] warmanton opened #6857 "How to configure path on backend side ?"
I have nginx configuration for proxy_pass to backend:
[code]
All examples which I found describes port only backend but no path on backend side.

How can I describe the same backend path in ingress ? May be other solution ?
my backend receives ws (web socket) on port 8000 and by path /ws. Without /ws it response in different way (no web socket)

[2021-02-09 12:16] DenisPalnitsky opened #6858 "Helm installation does not create TCP configmap"
**NGINX Ingress controller version**:   nginx/nginx-ingress:1.10.0

**Kubernetes version** (use `kubectl version`): 1.16
**Helm chart version** : 0.8.0
**Helm version** : version.BuildInfo{Version:"v3.5.2", GitCommit:"167aac70832d3a384f65f9745335e9fb40169dc2", GitTreeState:"dirty", GoVersion:"go1.15.7"}

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **Install tools**:

[2021-02-09 13:36] Pepsi1k commented on #6858
Hello @DenisPalnitsky.
I also have problems with tcp connection. But why do you think it doesn't create a configmap? Maybe you're using an older version than me.
**I use:**
**Chart name:** ingress-nginx/ingress-nginx
**Helm chart version:** 3.22.0
**Helm app version:** 0.43.0

This feature was added recently.

[2021-02-09 13:52] DenisPalnitsky commented on #6858
@Pepsi1k according to Helm  chart code it should create a configmap with ['-tcp' suffix](https://github.com/kubernetes/ingress-nginx/blob/a7fb791132a0dee285b47d0041f4f9acf1e7cff8/charts/ingress-nginx/templates/controller-configmap-tcp.yaml#L11) and I don't see it in generated manifest or in the namespace

[2021-02-09 14:06] #6858 closed

[2021-02-09 14:07] DenisPalnitsky commented on #6858
I use some ancient Chart repository and version 🤦‍♂️

[2021-02-09 14:13] Pepsi1k commented on #6858
@DenisPalnitsky by default, it generates ingress-nginx-tcp configmap, check this

[2021-02-09 18:19] yurrriq opened #6859 "Support specifying an existing PodSecurityPolicy in the Helm chart"
Provide the ability to specify an existing PodSecurityPolicy by name.

I imagine the interface something like this:
[code]

... where `.Values.podSecurityPolicy.enabled` controls whether to create the Role/Bindings, `.Values.podSecurityPolicy.create` decides whether to create the `PodSecurityPolicy` and `.Values.podSecurityPolicy.name` is the name (default: `include "nginx-ingress.fullname"`).

/k

[2021-02-10 00:53] rra commented on #5547
/remove-lifecycle stale

[2021-02-10 06:50] selwynshen commented on #6335
Waiting for any solutions...

[2021-02-10 07:24] sdputurn opened #6860 "Using Custom Headers for Host matching in ingress"
is there any way to use custom headers (like "X-Upsteam-Host") for Host matching in ingress.

we have frontend gatekeeper (nginx proxy) which receives all the traffic. this gatekeeper then send to  different upstream bey checking URI.

the original Host header is "external-dmain.info". the gatekeeper  keeps the Host header intact "external-dmain.info" and add one extra header X-Upstream-Host to "i

[2021-02-10 15:59] abhi8891 opened #6861 "Is SSL-proxy config supported ?"
Currently kind: LoadBalancer creates TCP load balancer with TCP LB config in GCP. Is there a way I can create a service which creates SSL-config ?

Currently I am using self managed certificate, I want to move to Google managed certs and add that to loadbalancer. In AWS we can add annotation "arn:aws:acm:us-west-2:XXXXXXXX:certificate/XXXXXX-XXXXXXX-XXXXXXX-XXXXXXXX" does similar support we have f

[2021-02-10 16:30] jaalle opened #6862 "MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found"
Hello,

We attempted to deploy NGINX Ingress controller version 0.44.0 yesterday.  The deploy failed.  Error 'MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found' is reported:

[code]

However, a secret exists:

[code]

We deployed the cluster using kubeadm.  Kubernetes is at v1.18.4.  The nodes and master are running CentOS 8.3 Stream.  Docker version 1

[2021-02-10 16:46] jabdoa2 commented on #6798
Same problem here. This error frequently happens under load (i.e. if you create 30 ingress at once it will hapen in one out of three tries). It starts to happen when CPU load on the ingress is over about 700m (per ingress). We are already running the timout at max (30s) and still experience the issue multiple times a day in our CICD builds.

[2021-02-10 22:54] kundan2707 commented on #6862
/kind support

[2021-02-10 22:55] kundan2707 commented on #6862
@jaalle  can you share output of kubectl get pod --namespace ingress-nginx ?

[2021-02-10 23:02] kundan2707 commented on #6508
@roshan8  such feature should not be there in ingress-nginx

[2021-02-10 23:05] kundan2707 commented on #6508
For example holding 100000 post request and if each request has a payload of 10MB. Then it will be potential DOS(Denial of Service)

[2021-02-10 23:17] ryan-a-baker opened #6865 "rbac.create is ignored in the deployment in helm chart"
**NGINX Ingress controller version**:

Helm Chart version 9.4.0

**Kubernetes version** (use `kubectl version`):

1.17 (any really, doesn't matter)

**Environment**:

- **Cloud provider or hardware configuration**: n/a
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**: Helm 3
- **Others**:

**What happened**:

When deploying with rbac.create set to f

[2021-02-10 23:22] ryan-a-baker commented on #6865
Sorry - was totally on the the wrong tab when I opened this issue.

[2021-02-10 23:22] #6865 closed

[2021-02-11 04:24] jaalle commented on #6862
Hello @kundan2707,

Sure, thanks.  The output of 'kubectl get pods --namespace ingress-nginx' changes with time.  For example this is what it looks like after the admission pods go through Running > Error > CrashLoopBackOff (below), then a few hours later:

[code]

but in the first few minutes:

[code]

This is the first time we've attempted to deploy NGINX Ingress controller into a Kubernetes v1.

[2021-02-11 11:40] kundan2707 commented on #6054
Major limitation of deployment approach via hostNetwork is that only a single NGINX Ingress controller Pod may be scheduled on each  node, because binding the same port multiple times on the same network interface is technically impossible. Pods that are unschedulable due to such situation fail

[2021-02-11 11:41] kundan2707 commented on #6054
To ensure only schedulable Pods are created is to deploy the NGINX Ingress controller as a DaemonSet instead of a traditional Deployment.

[2021-02-11 13:06] shamndor opened #6866 "ingress did not find the endpoints"
I installed  Elasticsearch with helm  and nginx-ingress as nginx controller
![image](https://user-images.githubusercontent.com/11654099/107639547-117ec100-6c82-11eb-8208-2d9ef8258892.png)

I added the ingress like that
![image](https://user-images.githubusercontent.com/11654099/107639759-628eb500-6c82-11eb-9576-c165a51310ec.png)

but when I check the ingress  found this error
![image](https://user

[2021-02-11 15:24] PI-Victor commented on #6273
running into this as well.

wondering if i can...
/remove-lifecycle stale

[2021-02-11 17:21] johanfleury opened #6867 "Webhook controller unable to read ingress resource"
**NGINX Ingress controller version**: 0.44.0

[code]

**Kubernetes version**:

[code]

**Environment**:

- **Cloud provider or hardware configuration**: On premise cluster running on VMs
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): Linux worker03 4.19.0-14-amd64 #1 SMP Debian 4.19.171-2 (2021-01-30) x86_64 GNU/Linux
- **Install tools**: helm (home made chart)

**Wha

[2021-02-11 17:41] johanfleury commented on #6867
Sorry for the noise, this was fixed by https://github.com/kubernetes/ingress-nginx/pull/6366 but I didn’t backport the change to my own chart.

[2021-02-11 17:41] #6867 closed

[2021-02-11 18:30] cyrilcros opened #6868 "Add an ingressClass ressource in the templates of the helm Chart"
**What do you want to happen?**
Since `networking.k8s.io/v1` there is a new `ingressClass` ressource ([docs](https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-class)). The chart doesn't create it right now, it would be helpful to:

- add it to the templates
- a `createIngressClass` boolean check in the values to let you choose if you want to create it
- support `ingressclass

[2021-02-11 23:40] PI-Victor commented on #4402
i think i want to have a better look at this, since i ran into the same issue.

/remove-lifecycle rotten
/assign

[2021-02-11 23:41] PI-Victor commented on #4402
/open

[2021-02-11 23:43] PI-Victor commented on #4402
/reopen

[2021-02-12 05:06] kundan2707 commented on #6862
@jaalle  you can refer https://github.com/kubernetes/ingress-nginx/issues/5932
You can check your setps as many installed successfully on v1.18

[2021-02-12 06:13] BernhardFuchs opened #6869 "Error parsing ConfigMap reference: invalid format (namespace/name)"
**NGINX Ingress controller version**: 0.44.0

**Kubernetes version** (use `kubectl version`):
Client Version: v1.19.3
Server Version: v1.18.14

**Environment**:

- **Cloud provider or hardware configuration**: Small K8s provider without integrated LoadBalancer
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): no access
- **Install tools**:
      cluster: kubeadm
      in

[2021-02-12 06:28] kundan2707 commented on #6868
/assign

[2021-02-12 09:50] sergerad opened #6870 "nginx-ingress controller won't open ports defined in configmap"
**NGINX Ingress controller version**:
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
GKE

- **Install tools**:
https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.35.0/deploy/static/provider/cloud/deploy.yaml

**What happened**:

Controller and default backend deployed with LB successfully. Then

[2021-02-12 10:24] sergerad commented on #6870
Seems I used the wrong flag for the TCP configmap i.e `--tcp-services-configmap`

Getting this now however
[code]

[2021-02-12 10:57] batodev opened #6871 ""rewrite-target" annotation inhibits digest authentication rules"
**NGINX Ingress controller version**: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.30.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS

**What happened**:

`nginx.ingress.kubernetes.io/rewrite-target` annotation inhibits digest authentication rules already configured.

**What you expected to hap

[2021-02-12 11:09] #6870 closed

[2021-02-12 12:31] rlisewski commented on #3858
@andrecp I had similar same issue. It turns out that storage was mounted with `nosuid` option. I remounted storage without that option, then deleted ingress pod. This solved my issue.

[2021-02-12 17:10] shreyasshinde commented on #6731
@aledbf There are some issues with client libraries and with retrying...

Python's requests library, Apache Pooled HTTP connection library and Microsoft's WinInet library use http keep alive heavily. These libraries are often the underlying libraries of significant application and the HTTP library is pretty low level for these applications. Python and Apache Pooled connection are unable to detect

[2021-02-12 17:34] aledbf commented on #6731
No. There is no such thing in the open-source version of NGINX :disappointed:
We cannot control how the new workers are created.

The benchmark and latency you see there is misleading. The latency difference is related to gzip being enabled by default in ingress-nginx until [0.40](https://github.com/kubernetes/ingress-nginx/pull/6226#issuecomment-698647569). That increased the CPU utilization by ~

[2021-02-12 18:11] lalitb commented on #5883
/remove-lifecycle stale

Keeping alive to look forward on more interest in this requirement in coming days.

[2021-02-13 19:21] mihaicracan commented on #6029
Hey guys, I am facing a similar issue.

We are building a website builder and we'd like to have the SSL Passthrough working for all the domains connected to us so we can dynamically handle certificates on our side.

Wondering if there has been any solution for this.

Best regards,
Mihai

[2021-02-13 19:22] mihaicracan commented on #6029
/remove-lifecycle rotten

[2021-02-14 00:25] mihaicracan commented on #6029
Hey guys, I found a solution for this, I tried a lot of others ingresses and it the end I found that Voyager helped me solving this out:
https://voyagermesh.com/

So I was able to let ANY domains connected to my cluster to have the TLS request passed to my backend service.

On minikube the ingress config looks like this:
https://share.getcloudapp.com/eDu88Ej6

DISCLAIMER: This above solution it's

[2021-02-14 11:37] schnell18 commented on #6335
As the problem is caused by the two images not being pulled successfully:

- registry.cn-hangzhou.aliyuncs.com/google_containers/controller:v0.40.2
- registry.cn-hangzhou.aliyuncs.com/google_containers/kube-webhook-certgen:v1.2.2

The two images are absent from regristry of aliyun. The long repository is caused by setting minikube's image-repoistory option. In fact, the regristry.cn-hangzhou.aliyu

[2021-02-14 11:50] kahootali commented on #5922
@nextgen1607 How were you able to solve it? I am also facing same sort of an issue?

[2021-02-14 14:56] kahootali opened #6874 "Unable to SSL Pass through Ingress Nginx Controller"
I have a Java [Spring Boot Application](https://github.com/kahootali/SpringJavaMonitoringApp) and I have configured the server to run on SSL and it is mandatory.
[code]
I have created a cert for my domain `*.kahootali.com` from LetsEncrypt certificate and created a p12 file for the keystore by running
[code]

I want to expose it on Kubernetes using Ingress Nginx Controller, so I have created secre

[2021-02-15 10:16] kozy commented on #6869
Just fixed a similar issue which i solved by using a different format for pointing to the configmap from the deployment. After setting the namespace it works.

[code]

[2021-02-15 11:10] BernhardFuchs commented on #6869
Thx, that solves the issue. Should be clearer in the docs how to set the value of this argument.
Netiher in the [docs for the arg](https://kubernetes.github.io/ingress-nginx/user-guide/cli-arguments/) nor in the [user guide](https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/) is mentioned that the arg need to be referenced with `<namespace>/<configmap.yml>`

[2021-02-15 11:10] #6869 closed

[2021-02-15 13:04] toredash commented on #6866
Could you show use output from `kubectl --namespace elk get ep`?

[2021-02-15 13:06] toredash commented on #6857
What do you try to do? Please fill out a proper issue if you want help

[2021-02-15 13:15] toredash commented on #6860
I'm not sure if I understand your query, could you please elaborate on what your trying to do ?

If you just want to add a custom header that is added to upstream, use `more_set_input_headers`: https://github.com/openresty/headers-more-nginx-module#more_set_input_headers

E.g. on your ingress object for external-domain.info" :
[code]

Or is there something else you are trying to do ?

[2021-02-15 13:21] toredash commented on #6861
Are you asking if you can create a SSL TCP LB with GCP/GKE ?

No, this is not possible within GKE. The only way to get SSL via GKE is by using a HTTPS Load Balancer.

https://cloud.google.com/kubernetes-engine/docs/how-to/service-parameters

[2021-02-15 14:55] #6199 closed

[2021-02-15 17:22] sdputurn commented on #6860
thanks @toredash.

i am looking something different.

for example: if this is my ingress definition. my ingress is exposed to 10.10.10.10 : 443,80
[code]
1. curl http://10.10.10.10 -H "Host: hello-word.info" `works`
2. we have some reverse proxy in front (public facing). so Host header is pre-set (with our public domain say public-domains.info) and X-Upstream-Host is set while proxying to nginx in

[2021-02-15 19:44] jkabat opened #6875 "How to use StorageBucket resource with ingress nginx on GCP?"
K8s documentation shows that StorageBucket resource can easily be configured for an ingress (v1.19+). However I did not find any example how to make it work with ingress-nginx on GKE. Is there any piece of puzzle missing? Is it possible or is it not yet ready to use like that?

[K8s documentation](https://kubernetes.io/docs/concepts/services-networking/ingress/#resource-backend)
[GCP tutorial for

[2021-02-15 20:15] toredash commented on #6860
I think your looking for serveralias then: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-alias

[2021-02-15 20:20] toredash commented on #6875
https://github.com/kubernetes/ingress-nginx/issues/1809

[2021-02-15 22:33] voigt opened #6876 "Intermediate certificates not in SSL-Chain after ingress-nginx upgrade from 0.24.1 to 0.40.1"
**NGINX Ingress controller version**: `0.40.1`

**Kubernetes version** (use `kubectl version`): `1.16.4`

**Environment**:

- **Cloud provider or hardware configuration**: AWS EC2 c5n.large
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1037-aws
- **Install tools**: -
- **Others**: cert-manager v0.9.1

**What happened**:

Hi,
we just recently updated

[2021-02-15 23:23] Diaoul commented on #6868
I think this would require to load [`DefaultClass`](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/annotations/class/main.go#L33) properly from the associated `IngressClass` annotation `ingressclass.kubernetes.io/is-default-class: "true"` as it is currently hardcoded to `nginx` (and [documented](https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/#multi

[2021-02-16 02:17] warmanton commented on #6857
I am trying to specify path on backend side. Backend is a service which has its on pathes. I.e. I can send request to http://backend:8000 and also can sent to http://backend:8000/ws. the backend responds differently to these two requests.

I am trying to configure ingress to use port and path on backend side.

[2021-02-16 07:03] toredash commented on #6857
Have you looked at these examples? https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/

[2021-02-16 07:24] toredash commented on #6653
This is supported already, you can per Ingress define rules for that Ingress:
[code]

You also need to add the zone to the http snippet section:
[code]

[2021-02-16 07:36] jkabat commented on #6875
@toredash thank you for your response.

I have seen the issue. I have also seen [#33 on ingress-gce](https://github.com/kubernetes/ingress-gce/issues/33) but both are pretty old and StorageBucket resource is new feature. I just hoped it can be used out of the box but it is not well documented yet.

Can anybody shed a light on it?

[2021-02-16 08:24] toredash commented on #6875
Something like this ?
[code]

This is course assume your bucket is public.
Need tio m

[2021-02-16 09:03] #6653 closed

[2021-02-16 09:10] jkabat commented on #6875
@toredash thank you for your help, but my question is regarding StorageBucket resource not the way it was done before kubernetes v1.19. In the first link you can find an example:

[code]

[2021-02-16 09:12] VengefulAncient commented on #5593
Same question. Can this please be added to the Helm chart to avoid followup manual configuration?

[2021-02-16 09:32] kundan2707 commented on #6054
/close

[2021-02-16 10:13] voigt commented on #6876
In addition to that, I checked the contents of the ingress controller container, which shows, that the `default-service.domain.com-full-chain.pem` doesn't seem to exist in 0.40.1:

Contents in a `0.24.1` container:

[code]

Flags set for `0.24.1`:

[code]

---

Contents in a `0.40.1` container:

[code]

Flags set for `0.40.1`:

[code]

It might be, that I'm on the wrong track, but I have the feeli

[2021-02-16 10:36] toredash commented on #6875
I'm not sure if this is supported in ingress-nginx at all, sorry. The code i provided above should work though expose resources in the bucket.

[2021-02-16 13:16] shamndor commented on #6866
![image](https://user-images.githubusercontent.com/11654099/108067746-491aae00-7072-11eb-962e-343ed2667fdd.png)
Please find the result of the command

[2021-02-16 17:14] kundan2707 commented on #6847
@omerozery  controller.service.enabed used to be true by dafault. if enabled is false and controller.kind is set to Daemonset
 then no service will be created. behavior seems to be as expected

[2021-02-16 17:21] #5397 closed

[2021-02-16 18:21] g-linville opened #6877 "Configure ingress controller to get Ingress resources as apiVersion networking.k8s.io/v1?"
Based on the logs I am seeing in the deployed ingress controller, it is getting the Ingress resources under the apiVersion networking.k8s.io/v1beta1 by default. Is there a way to configure the controller to get them under the newer networking.k8s.io/v1 instead?

The reason I ask is because of the difference in specification. With the newer apiVersion, I'm using `pathType: Prefix` and `path: /path`

[2021-02-16 18:22] #5510 closed

[2021-02-17 05:17] davidshen84 opened #6878 "Setup instruction for Mac also works for Windows"
The setup instructions for Mac also works on Windows. The instructions should be generalized for Docker Desktop for both platforms.

/kind feature

[2021-02-17 05:46] warmanton commented on #6857
Yes, I have read many examples and also that You have pointed to. I cannot provide an example of resulting nginx.config which I would like to have due to fact that current ingress is configured by lua and it it too complex. But in usual nginx config terms ingress controller resulting config should look like this:
[code]
Currently I have ingress definition like this:
[code]
and it redirects request

[2021-02-17 09:46] shamndor commented on #6866
Thank You @toredash
I known my fault and fixed the issue by creating the ingress inside elk namespace

[2021-02-17 10:09] Morriz commented on #6363
@aledbf I created this PR some months ago already, but got nobody to approve it: https://github.com/kubernetes/ingress-nginx/pull/6734

[2021-02-17 10:10] Morriz commented on #6363
I created this one months ago already, but got nobody to approve it: #6734

[2021-02-17 10:10] Morriz commented on #6363
Hmmmm...that is for another issue...

[2021-02-17 13:42] cofyc commented on #6337
/remove-lifecycle stale

[2021-02-17 14:35] VengefulAncient commented on #6381
This would be really nice to have. IMO, `kustomize` is hard to maintain and, ironically, customize, compared to Helm charts. (The used approach is also quite outdated, no one wants to deal with NodePorts and `kubectl port-forward` when ingress exists.)

[2021-02-17 14:41] sharkymcdongles commented on #5401
I did more digging and it seems the problem is due to the amount of ingresses we have. We have 219, so I think when it validates it checks existing ones as well causing it to fail intermittently when it cannot check all objects and it has no builtin retries on failure.

[2021-02-17 16:01] AramshamFedaykin opened #6880 "Strange behavior with limit-rps"
/triage support

Environment :
NGINX Ingress controller version: 0.43.0
Kubernetes version : 1.17.8
openidc.lua

Hello,
I've a strange behaviour when trying to do some load testing.

Here's the situation :
- The nginx ingress controller is deployed as daemonset, and due to the openidc module, I activated the sessionAffinity to ClientIP.
- I have a simple stateless rest service deployed with a basi

[2021-02-17 17:00] jyepesr1 commented on #3770
@SinghDivneet what is **a** and **b** in your paths

[2021-02-17 17:35] kayrus commented on #501
@aledbf I also face the same issue. The ` /etc/nginx/template/nginx.tmpl` configmap file was updated, but controller keeps using the initial template. Is there a workaround to force deployment upgrade?

[2021-02-17 20:32] nmarus commented on #6658
Look at a few lines above this, you should see something allowing update access to the config map specified with resourceNames. I had this issue as I renamed some of my resources in my manifests but didnt update the name of the config map that update permissions are granted to.

[2021-02-17 21:45] nvtkaszpir commented on #6651
I'd say this is known limitation.

- ``kubernetes_pod_name`` depends on the prometheus and applied relabeling, and I feel like it would be better to stick to the rule applied by prometheus-operator (t just use `pod`)
- ``ingress`` is missing, but unfortunaltey also is automatically added by grafana when selecting items and then creating a filter - It's rather grafana issue, not the dashboard/nor m

[2021-02-18 07:53] kundan2707 commented on #6877
@g-linville  can you provide detail in defined format?

[2021-02-18 07:54] kundan2707 commented on #6877
Please provide all detail like versions steps followed and all for better understanding

[2021-02-18 08:01] kundan2707 commented on #6851
/kind support

[2021-02-18 08:02] kundan2707 commented on #6851
@slash-ro  Can you provide complete detail in prescribed format?

[2021-02-18 10:15] kundan2707 commented on #6878
/kind documentation

[2021-02-18 10:17] kundan2707 commented on #6861
/kind support

[2021-02-18 11:37] kundan2707 commented on #6877
Which Kubernetes version are you using.
I tries on v1.20 and i am getting is correct
[code]

[2021-02-18 12:09] kundan2707 commented on #6855
Can you share steps how you performed changes in ingress?

[2021-02-18 13:04] majinghe commented on #6714
Hi, @DaniBet @aledbf  I met the same issue, any good new fix the issue?

I installed the ingress-nginx for my docker desktop kubernetes according to guidance `https://kubernetes.github.io/ingress-nginx/deploy/#docker-for-mac`, the detail info as below
[code]
Then  i try to expose one of my  app via ingess, below is the yaml file
[code]
After apply using kubectl , get the below info:
[code]
Then i

[2021-02-18 14:37] shibumi commented on #6868
/assign

[2021-02-18 14:53] MausamGaurav opened #6881 "Documentation for minikube is incomplete"
It appears that on the documentation [page](https://kubernetes.github.io/ingress-nginx/deploy/), the links for Generic Deployment and the Mandatory command are not there any more.
If you go the 'Provider Specific Steps' for minikube, it just has the command `minikube addons enable ingress`. This obviously won't work on minikube without executing the generic command.

[2021-02-18 14:57] shibumi commented on #6868
Hi, I have started working on this in this PR here: https://github.com/kubernetes/ingress-nginx/pull/6882
would be cool if you could comment on it.

[2021-02-18 15:53] albanm commented on #6855
I was using kubectl delete or kubectl apply of manifests files (both with ingress v1 and v1beta1). Nothing worked, the controller always read outdated information when recreating its config.

Sorry, it was a staging cluster, I dropped it and reinstalled with kubernetes 1.18, I don't have any bug with this version. So I won't be able to pursue on this issue.

I think there was some problem due to t

[2021-02-18 15:53] #6855 closed

[2021-02-18 16:40] butnaruandrei opened #6883 "aws-load-balancer-additional-resource-tags multiple key-values not working"
**NGINX Ingress controller version**:
NGINX ingress controller: 0.44.0
Helm Chart: ingress-nginx-3.23.0

**Kubernetes version** (use `kubectl version`):
v1.18.9-eks-d1db3c

**Environment**:

- **Cloud provider or hardware configuration**: AWS - EKS

**What happened**:
Setting the annotation `service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags` with multiple key-value pairs create

[2021-02-18 18:47] Docteur-RS commented on #2650
Still is an issue...

If you don't check the logs you think that its nginx not forwarding the request to the custom-default-backend . Except its not !

Its just the default-backend that can't find basic HTML files !

[2021-02-18 18:50] g-linville commented on #6877
I'm using Kubernetes 1.19. I just realized under further consideration that since I am using the `rewrite-target` annotation, I probably need to use regex anyway in order to specify which part to use in the rewrite.

To illustrate what I was talking about though, here's a quick example.

Under the newest apiVersion (`networking.k8s.io/v1`), you can do the `paths:` section like this:

[code]

And t

[2021-02-19 12:03] Mikey032 opened #6886 "Client Certificate Authentication: changing the secret of the client ca does not trigger an update of the accepted CA certificates"
**NGINX Ingress controller version**: v0.43.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"18", GitVersi

[2021-02-19 12:07] aSapien commented on #6822
@esteban1983cl thank you! This helped me so much!
I've been failing at configuring NLB TLS offloading for almost 3 weeks now!
All my attempts were to forward to port 80 from the NLB using AWS annotations, all to no avail.

Can you  explain this workaround?

[2021-02-19 13:04] #6881 closed

[2021-02-19 13:06] SubashL opened #6887 "Service does not have an endpoint issue for helm ingress nginx k8s jdk11 springboot"
Hi,

We have springboot application (2.0.4) and using jdk11. When the code is deploed on a k8s cluster using a helm chart which has service ingress using nginx, somehow the ingress URL is not resolving.

getting 502 bad gatewa issue.

Also when I exec into pod (pods run fine) and curl some of the backend API URLs using service URL instead of ingress URL it works fine. somehow the issue is with onl

[2021-02-19 13:59] codeclown commented on #5968
Borrowing from answers above, here's what resolved this for me. Issue started when I deleted an entire namespace that had contained nginx-ingress, and then tried to reinstall everything via helm. Kept getting upon `helm upgrade --install`:

[code]

Solution:

[code]

[2021-02-19 16:30] #5540 closed

[2021-02-19 17:07] Docteur-RS opened #6888 "Custom default-backend not catching some specific http codes while others are working well"
## Versions

**NGINX Ingress controller version**:
version: 3.7.1
appVersion: 0.40.2

**Kubernetes version** (use `kubectl version`): v1.18.6

- **Cloud provider or hardware configuration**: OVH
- **OS** (e.g. from /etc/os-release): Centos7

## What happened:
I have setup a custom default backend to show custom HTML pages for errors like 404, etc.

**Its working well for 403 404 500.
But its not w

[2021-02-19 17:31] #5431 closed

[2021-02-19 18:29] SubashL commented on #6887
------------------------------------

I0219 17:13:09.509144       7 event.go:282] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"ipaas-central-np", Name:"ipaas-central-backend-controller", UID:"c7103b34-4fb3-4227-a755-03d4826dea36", APIVersion:"networking.k8s.io/v1beta1", ResourceVersion:"308285019", FieldPath:""}): type: 'Normal' reason: 'Sync' Scheduled for sync
W0219 17:13:09.509838

[2021-02-19 18:32] SubashL commented on #6887
2021/02/19 18:32:17 [error] 813#813: *5568493 upstream prematurely closed connection while reading response header from upstream, client: 10.50.93.41, server: np-central.ipaas.corp.adobe.com, request:

[2021-02-20 04:06] ianks commented on #5681
Would love to find a solution here

[2021-02-20 06:39] bruse-peng opened #6891 "how change the default configration of ingress-contronler"
in the ingress-controller the default configuration is below:
proxy_set_header Host                   $best_http_host;

but i want set below
proxy_set_header Host                   $proxy_host;

what should i do,i have search the configmap of nginx-configuration,but i can't find solution

/triage support

[2021-02-20 10:16] kundan2707 commented on #6891
@bruse-peng
you can set proxy_set_header by yaml file as below
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/docs/examples/customization/custom-headers/configmap.yaml

OR
you can set this value with helm install and passing set option for controller.proxySetHeaders

[2021-02-20 10:22] bruse-peng commented on #6891
if i dont want apply global,just for an ingress, i should  do kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/docs/examples/customization/custom-headers/custom-headers.yaml ?

[2021-02-20 10:59] bruse-peng commented on #6891
![image](https://user-images.githubusercontent.com/47881861/108593259-b64d7c80-73ad-11eb-9c62-67761a8d9f99.png)

[2021-02-20 21:20] pkavajin commented on #5618
Hey,

sorry for the late answer, digged a bit more into this.
So this relates to the service beeing ssl-passthroughed-to using ssl session caches, as soon as I disable them - all is working perfectly.

If I understood the nginx-ingress code correctly, it just reads the (max? exactly?) first 4096 bytes for a new connection.
So currently digging into the tls1.3 rfcs to understand a bit more what exa

[2021-02-21 01:02] newtoniumx3 commented on #5863
Same problem here

[2021-02-21 04:11] gautamsamal commented on #5970
/remove-lifecycle stale

[2021-02-21 11:12] #5822 closed

[2021-02-21 12:13] #6222 closed

[2021-02-21 13:10] knyttl commented on #5970
/remove-lifecycle stale

[2021-02-21 15:41] maitrungduc1410 commented on #3996
add `service.beta.kubernetes.io/do-loadbalancer-hostname` works for DO. But it's not clear what to do at the first time when reading DO docs.

Basically it contains the following steps:
1. First download nginx-ingress yaml file to local, don't apply directly from remote URL as in instruction
2. Apply the yaml script
3. After Nginx ingress controller successfully started and has its External IP (ch

[2021-02-21 20:27] palfrey opened #6892 "Controller ServiceAccount and various other resources don't set namespace"
**NGINX Ingress controller version**: 0.44.0

**Kubernetes version** (use `kubectl version`): v1.20.2

**Helm Chart version**: 3.23.0

**Environment**:

- **Cloud provider or hardware configuration**: Vagrant
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm

**What happened**:

When installing via Helm, the `ingress-nginx` ServiceAccount and Ro

[2021-02-21 21:55] gnulux opened #6893 "peer closed connection in SSL handshake while SSL handshaking to upstream"
**NGINX Ingress controller version**:
0.30

**Kubernetes version** (use `kubectl version`):
v1.17.2

**Environment**:
Dev & Prod

- **Cloud provider or hardware configuration**:
Google
- **OS** (e.g. from /etc/os-release):
GKE 1.16

**What happened**

I've deployed a pod with GRPC that enable TLS and client certificates check. This application has a simple ping Method implemented.  I have created

[2021-02-22 06:19] Bluefitdev commented on #6602
I'm having similar issue on configuring this for laravel as well.. currently have the setup for ingress controller to point to service that points to pods with nginx and php-fpm. Would prefer to point to php-fpm straightaway, however I can't find any working example specifically on:
`SCRIPT_FILENAME: "/var/www/html/index.php"`

How does your ingress controller have access to the script path? is it

[2021-02-22 07:20] toredash commented on #6860
I think you could get this done with the headers-more module: https://github.com/openresty/headers-more-nginx-module#description

[code]

[2021-02-22 10:06] fliphess commented on #6852
I've used a separate nginx container with some additional configuration that solved this for us, it might be useful to you too: https://gist.github.com/fliphess/0a565c638494945e5e1a1f56f52c2ec3

[2021-02-22 10:46] ntavares commented on #4904
/remove-lifecycle stale

[2021-02-22 12:31] yasra002 opened #6894 "HOw do I specify Command-line Arguments when I am using helm chart"
Hi,

We deploy nginx ingress via helm chart andI want to apply one [command-line argument](https://docs.nginx.com/nginx-ingress-controller/configuration/global-configuration/command-line-arguments/#) to nginx-ingress. I am not sure how to do that. Would adding a the value to config map e.g `controller.config.<SOMETHING>´ works?

/triage support

[2021-02-22 12:53] banicr commented on #5342
Hi @sekka1 ,

I am trying to achieve the same in kubernetes .

My ingress file is as below:

[code]

but this is not working as expected. Can you please tell me is there any changes I need to do to achieve this.
Thanks in advance.

[2021-02-22 13:38] #6230 closed

[2021-02-22 14:39] nic-6443 commented on #6887
[code]
From above log  message, you can check this Endpoint object by `kubectl get endpoints -n ipaas-central-np ipaas-central-backend-controller -oyaml`.
If Endpoint contains `notReadyAddresses`, you can check corresponding pod status by `kubectl get pod xx -oyaml`.
If pod is not healthy, you can check pod liveness & readiness probe result.

[2021-02-22 14:49] nic-6443 commented on #6883
You should create issue in https://github.com/kubernetes-sigs/aws-load-balancer-controller, `service.beta.kubernetes.io/aws-load-balancer-additional-resource-tags` is [feature](https://kubernetes-sigs.github.io/aws-load-balancer-controller/latest/guide/service/annotations/#annotations:~:text=service.beta.kubernetes.io%2Faws%2Dload%2Dbalancer%2Dadditional%2Dresource%2Dtags) of that project.

[2021-02-22 15:12] nic-6443 commented on #6847
@omerozery You should set [`publishService.enable`](https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/values.yaml#L93) with false too, for example:
[code]

[2021-02-22 15:32] webwurst commented on #6666
@meyskens @kfox1111 are you thinking about something like this? Or is there more needed? Happy to give something a try in that direction :)

[2021-02-22 19:44] #5995 closed

[2021-02-22 22:44] shinebayar-g commented on #6793
@luisamador Did you solve `service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: 'true'` annotation issue? Annotation is there, but cross zone is not enabled on AWS LoadBalancer.

[2021-02-22 23:41] ReillyTevera opened #6896 "Worker Segmentation Fault (v0.44.0)"
**NGINX Ingress controller version**:
0.44.0

**Kubernetes version** (use `kubectl version`):
1.18.3
**Environment**:
- AWS
- Debian 10.8
- Linux 5.4.96
- Weave-net 2.6.5

**What happened**:
We encountered a major production outage a few days ago that was traced back to ingress-nginx. ingress-nginx pod logs were filled with messages like the following:
[code]
We discovered that the following messa

[2021-02-23 05:49] robertwt7 commented on #4822
@agustin-caylent Hey bro, did you manage to get laravel working with the config? I've been trying for the past 2 days to bypass our nginx container with ingress controller FCGI straightaway but I still got 404 from nginx.. no logs form the pods at all

Mind sharing working config from your app?

here's mine that's not working:
[code]

[2021-02-23 06:14] robertwt7 opened #6897 "Correct way to serve FastCGI from ingress controller"
Hey Guys,

Sorry for posting a question here, however i've been stuck for 3 days looking around the internet for examples to fix my issue right now.

My issue is very similar to #4822, however i can't get it working.

My current working setup is 1 pod with 2 containers (1 php-fpm and 1 nginx pointing at it), and a service with type NodePort, accessible through external load balancer

It comes to a

[2021-02-23 06:23] robertwt7 commented on #6897
Controller returns me 404
[code]

[2021-02-23 06:27] tuananh170489 commented on #6897
I think you should use Apache for serving php instead of nginx, inspire of wordpress images

[2021-02-23 06:42] robertwt7 commented on #6897
But my point is to use the fpm straightaway. To use the fastcgi feature listed in this extension

[2021-02-23 10:21] dohoangkhiem commented on #2724
I ran into the same problem, it works for most of services except Keycloak, tried adding
[code]
to the ingress-nginx configmap as you suggested but still not work, any advice?

[2021-02-23 10:57] omerozery commented on #6847
@aledbf @iam-veeramalla any updates?

[2021-02-23 11:53] prabhatverma286 commented on #6135
@timminata Did you find whats the issue? Observing the same on `Release: 0.26.1`

[2021-02-23 11:59] byrneo opened #6898 "AWS NLB: cross-zone-load-balancing not taking effect upon deployment"
**NGINX Ingress controller version**:

[code]

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:

AWS/EKS:
[code]

**What happened**:

Annotation: `service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled: "true"`

does not enable cross-zone loadBalancing for an NLB when the ingress controller is deployed.

*Aft

[2021-02-23 12:51] vranystepan opened #6899 "Helm chart: expose /healthz as NodePort"
## What do you want to happen?

In my setup, I'd like to expose Nginx `/healthz` endpoint (container's port 10254) as NodePort so I can perform Health Check from ALB on this port e.g.

[code]

The second part, containerPort, is already doable:

[code]

## Is there currently another issue associated with this?
I don't think so

## Does it require a particular kubernetes version?
No

/kind feature

[2021-02-23 15:40] jhughes2112 commented on #5401
I had the same error as the original post.  It popped up when applying the manifest for ingress-nginx that includes the namespace all the way through to the first ingress declaration.  There's a race condition where the ingress-nginx-controller-admission.ingress-nginx.svc pod is not ready for traffic yet.  I re-applied the manifest and it worked fine.  So at the very least, there's the potential f

[2021-02-23 17:56] byrneo commented on #6898
For anyone else facing this, it turns out this is a known issue and should be fixed in `1.20`

https://github.com/kubernetes/kubernetes/issues/82595
https://github.com/kubernetes/kubernetes/pull/95247

I will close this!

[2021-02-23 17:56] #6898 closed

[2021-02-23 18:39] MattJeanes commented on #6245
I'm also seeing this when deploying ~20 ingresses at once with Helm, after a few retries with exactly the same YAML output it eventually all goes through. It seems the nginx ingress does not handle adding lots of applications at once very well at all. We might have to disable the webhook until this issue is resolved. We have also already increased the webhook timeout in our configuration as that w

[2021-02-23 20:09] mau21mau commented on #5401
That worked for me.

[2021-02-23 20:12] pgeez commented on #6061
/remove-lifecycle stale

[2021-02-23 20:47] tianhe-oi commented on #6506
We are having similar issue

[2021-02-24 00:33] robertwt7 commented on #6897
Nevermind, i found out that i need to serve some static assets, thus another load balancer (nginx) is needed for my framework. All g now thanks!

[2021-02-24 00:33] #6897 closed

[2021-02-24 11:25] cschockaert opened #6901 "How ingress-nginx is resolving upstream servers block to the pod ip behind the service and not service clusterIP itself"
Hello,

I got a basic question, i want to know how nginx ingress is resolving adresses in the upstream block when target service is a clusterIp service and not a headless service.

We see in logs that nginx is targeting directly ($upstream_addr) pod ip and not service clusterIp (vip)
How that is done?

For example, i started a basic nginx deployment with an upstream block and a proxy_pass targetti

[2021-02-24 11:29] cschockaert commented on #6901
Humm seem this behaviour is linked to the nginx.ingress.kubernetes.io/service-upstream annotation ...

[2021-02-24 14:20] glothriel commented on #2170
Anyone else noticed that using a hack proposed by @mohamedfarouk and @nanorobocop results in broken prometheus exporter metrics?

[2021-02-24 15:00] transient1 opened #6902 "Nginx Admission Webhook Rejecting Ingresses; Error Message Unclear"
We've been upgrading our Nginx helm charts to use the new location. We're running chart version `3.15.2` now against `1.18` Kubernetes clusters deployed to AWS. We've deployed to 2 clusters, and for each one after deploying the new chart (which enables the admission webhook by default) users are unable to create new ingresses. They're rejected with an error of
[code]

By contrast I've tested sendi

[2021-02-24 15:13] holyhope opened #6903 "Volume to default backend"
Hello

I would like to mount volume into the default backend deployed with the helm chart.

This would allow me to mount secrets and configuration.
This would also help to fix #6852 by letting user mounting custom static pages into the default backend.

I suggest to add following values to the chart:
[code]

/kind feature

[2021-02-24 16:55] shinebayar-g commented on #6793
Found out this was fixed in k8s 1.20:

Duplicate: https://github.com/kubernetes/ingress-nginx/issues/6898

[2021-02-24 17:17] aSapien commented on #6898
Faced the same issue and opened a similar ticker on the external provider repo: https://github.com/kubernetes/cloud-provider-aws/issues/180

[2021-02-24 19:32] mattmattox opened #6905 "CommonName not being checked during certificate hostname validation when Subject Alt Name is given"
**NGINX Ingress controller version**:
0.35.0

**Kubernetes version** (use `kubectl version`):
1.19.7

**Environment**:

- **Cloud provider or hardware configuration**:
bare-metal
- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="20.04.2 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.2 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://

[2021-02-25 02:23] wswind commented on #6335
Failed to pull image "registry.cn-hangzhou.aliyuncs.com/google_containers/kube-webhook-certgen:v1.2.2": rpc error: code = Unknown desc = Error response from daemon: pull access denied for registry.cn-hangzhou.aliyuncs.com/google_containers/kube-webhook-certgen, repository does not exist or may require 'docker login': denied: requested access to the resource is denied

[2021-02-25 04:18] dohoangkhiem commented on #3481
@xcq1 wondering how could this work, I see the variables set in "server" blocks are always overridden by "location", so such $pass_access_scheme and $pass_port will be reverted, here's what I see in each of my location block

[code]

[2021-02-25 06:09] kundan2707 commented on #6894
@yasra002  you csan install nginx-ingress using helm with smiliar option of your desired parameters as mentioned below.
[code]

[2021-02-25 08:19] xuhdev commented on #2557
I resolved this without resorting to regex:

[code]

The [example](https://raw.githubusercontent.com/kubernetes/website/master/content/en/examples/service/networking/example-ingress.yaml) seems misleading.

[2021-02-25 08:46] DrissiReda opened #6907 "Tcp exposed service, connection reset by peer"
Following this guide https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/exposing-tcp-udp-services.md I'm trying to expose a tcp service to outside of the cluster.

I'm getting  : "Connection reset by peer, while reading from socket"

I'm using ingress controller v0.41.2

This is my configmap for the service

[code]

This is my ingress service:
[code]
<details>
<summary>
And fi

[2021-02-25 09:03] kundan2707 commented on #6892
@palfrey  i installed in following way and found namespace set in ServiceAccount
[code]

[2021-02-25 09:25] kundan2707 commented on #6907
@DrissiReda  Can you share controller logs ?

[2021-02-25 09:39] DrissiReda commented on #6907
@kundan2707 I have this line in the logs:

[code]

[2021-02-25 10:18] kundan2707 commented on #6907
As written in log format is wrong tcp-service has namspace ingress-nginx so it should be like  (namespace/name)

[2021-02-25 11:01] nidiculageorge opened #6909 "Firewall ports and URLS to be whitelisted for NGINX Ingress in Azure Firewall for AKS communication"
Hi Team,

We have deployed an NGINX controller in our Azure AKS ,we have an azure firewall which is configured in front of the AKS.Is there any specific ports and urls that need to be whitelisted related to NGINX ingress controller for egress communication.

[2021-02-25 11:05] DrissiReda commented on #6907
Oh my bad, thank you very much @kundan2707

[2021-02-25 11:05] #6907 closed

[2021-02-25 20:05] juandiegopalomino commented on #5051
Has anyone had any luck figuring out the http->https redirect without a manual step?

[2021-02-26 03:40] kundan2707 commented on #6893
@gnulux  Have you enabled ssl paasthrough while starting controller ?
SSL Passthrough is disabled by default and requires starting the controller with the --enable-ssl-passthrough flag.

[2021-02-26 08:06] #4985 closed

[2021-02-26 08:12] Hello-Linux commented on #6755
@yuenwah
My situation is the same as yours,the svc is working,but ingress is not working

[2021-02-26 11:19] Stono opened #6910 "URL Segments get stripped when redirecting to auth url"
**NGINX Ingress controller version**:
0.41.2

**Kubernetes version** (use `kubectl version`):
1.17

**Environment**:
GKE

**What happened**:

When using auth signin urls, url segments (after a #) get stripped from the redirect.  This breaks SSO in front of tools like Kibana which store a bunch of query state in url segments.

[code]

**What you expected to happen**:

This used to work, it broke fo

[2021-02-26 12:08] ashishkshukla commented on #6862
@jaalle Were you able to find the workaround for this as I am facing the same issue.

[2021-02-26 13:54] Stono commented on #6910
Actually I've been digging into this more and have remembered why i couldn't solve it.

I don't think ingress-nginx is at fault, curl is not sending the url fragment (https://en.wikipedia.org/wiki/URI_fragment), and neither is `google-chrome` and that's by design. https://blog.httpwatch.com/2011/03/01/6-things-you-should-know-about-fragment-urls

[2021-02-26 14:55] aSapien commented on #5051
@juandiegopalomino I've confirmed that the manual step is by design. The provisioned target groups are forwarding 443 traffic from the NLB to the 443 servicePort:

https://github.com/kubernetes/ingress-nginx/blob/a7fb791132a0dee285b47d0041f4f9acf1e7cff8/deploy/static/provider/aws/deploy-tls-termination.yaml#L291-L299

[2021-02-26 15:22] ingvarm-gr opened #6911 "Is it possible to bake a cluster/context name into the "Kubernetes Ingress Controller Fake Certificate" default certificate?"
Some background:

We have multiple kubernetes clusters. Each cluster runs its own set of ingress controllers. These are currently behind OpenStack load-balancers.

In a recent production outage, we encountered the situation that for some reason, the OpenStack loadbalancers managed to get out of sync with the OpenStack instances running the clusters (basically, you can trigger them into a state whe

[2021-02-26 15:46] jaalle commented on #6862
Hello @ashishkshukla,

We were not.  I am still working on it.  It appears to be related to a MTU mismatch on interfaces docker0 and cni0.  If you don't mind me asking, what OS / version, CNI / version, and container runtime / version are you using?

[2021-02-26 16:19] Stono commented on #6910
I've spent all day on this and finally discovered the issue is actually the identity provider is returning an empty fragement on their callback, this in turn is clearing the browsers existing fragments!

We've raised it with Azure.

<img width="183" alt="Screenshot 2021-02-26 at 16 08 38" src="https://user-images.githubusercontent.com/1486729/109325894-614ab400-784e-11eb-9188-c1d99b6fef24.png">

[2021-02-26 16:19] #6910 closed

[2021-02-26 17:52] li-adrienloiseau opened #6912 "ingresses.networking.k8s.io "xxx" is forbidden: service "xxx" not found"
**NGINX Ingress controller version**: chart v3.23.0

**Kubernetes version** (use `kubectl version`): v1.17

**What happened**:

I use the dry-run='server' option before installing my charts like this:
`kubectl apply --dry-run='server' -k build/charts`

this command gives me the error below:
[code]

can you tell me how to turn off the service present check?
the dry-run option saved me several times

[2021-02-26 19:53] bechampion commented on #6619
Sorry for the massive delay  , this is not for ingress-nginx but for nginx-ingress (names are confusing) I've moved to ingress-nginx now so its all good

[2021-02-26 19:53] #6619 closed

[2021-02-26 23:14] aballman opened #6913 "[chart] support default-ssl-certificate parameter"
Currently the helm chart supports enabling the default backend for the controller
[code]

I would like to have support for the default ssl certificate as well similar to below:
[code]

I could not find another issue associated with this

No particular k8s version as this is chart request

/kind feature

[2021-02-27 05:27] VanitySoft commented on #2007
@bzon it is already milli format

[2021-02-27 12:55] kundan2707 commented on #6913
/assign

[2021-02-27 17:39] #6249 closed

[2021-02-28 02:53] dshah2012 commented on #6862
Do we have any resolution ?
I tried restarting the docker service too it did not work.
"ingress-nginx-admission" secret in yaml file. I do not see any secret that is created once I deploy the ingress controller using the kubectl.

ubuntu 18.04
calico network
kubernetes version:
lient Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2

[2021-02-28 05:43] kunchalavikram1427 commented on #5401
I got the same error for Path based routing. I just swapped the path and pathType to put pathType first for the first rule. If i do the same for other routes, it is not working

`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: flask-ingress-rules
spec:
  rules:
  - host:
    http:
      paths:
      - **pathType: Prefix
        path: /**
        backend:
          service:

[2021-02-28 08:51] dmeytin opened #6915 "Ability to load SSL certificates from the volume"
Managing SSL certificates via Kubernetes Secrets adds security implications and maintenance overhead.
Instead it would be great to support volume based certificate location configuration.
That volume could be memory-based mounting to the Cloud Provider's or 3rd party Vault Service.

Should be supported by all Kubernetes versions or at least starting from k8s 1.16.

/kind feature

[2021-02-28 10:47] omerozery commented on #6847
Thanks @nic-6443
I didn't have to set this one in older versions..

[2021-02-28 11:24] jacek-jablonski opened #6916 "Internal ingress only with helm?"
Hi,
Is it possible to deploy internal only ingress using helm? It seems that because of the helm templates it is not possible to create internal ingress without creating external. If so, why is that?
Thanks.

/triage support

[2021-02-28 16:18] kennyfortune commented on #6722
I got an same issue ! Is there any solution on minikube ?

[2021-02-28 17:14] krichter722 opened #6917 "Reopen #5731"
#5731 is a valid and good issue that didn't receive any feedback. Therefore it shouldn't be closed and the usage of the bot causing unnecessary effort should be reflected. If it's reopened this issue can be closed/deleted if possible.

/kind feature

[2021-03-01 03:01] nic-6443 commented on #6847
I think so.

[2021-03-01 03:22] zerkms commented on #6545
/remove-lifecycle stale

[2021-03-01 07:10] zerkms commented on #6307
/remove-lifecycle stale

[2021-03-01 11:28] ingvarm-gr opened #6918 "Provide a mechanism to set the CommonName in the fake/default certificate."
I want to be able to easily tell what cluster a "Fake Kubernetes Ingress Certificate" is coming. At the moment, what looks like the best place for this is the CommonName in the fake/default certificate, as that tends to show up in any "verbose headers" check.

I am willing to work on a rough and ready PR for this feature (it would essentially entail "move the existing static string to a variable,

[2021-03-01 11:39] superkartoffel commented on #6307
We are facing the same issue. It works fine if you specify the modsecurity configuration in the ingress configuration as annotations, but it doesn't if you use a configmap for global configuration because the resulting configuration is not in the correct order. as described in https://github.com/kubernetes/ingress-nginx/issues/6307#issuecomment-714211944

[2021-03-01 12:50] cforce commented on #5401
https://github.com/kubernetes/ingress-nginx/issues/6655

[2021-03-01 12:53] cforce commented on #5401
We have just 3 pods and have the same issue.

[2021-03-01 12:56] cforce commented on #5401
Why shall someone need to open a port? I am using azure kubernetes and ports exposed is only managed by the nginx deployment, so either it should be specified as needed or just not necessary to do anything manually additional which is not supported by standard cloud/kuberntes providers.

[2021-03-01 14:13] cforce commented on #5401
I tested manually the admission weebhook endpoints from inside the same cluster different namespace any pod.
[code]
Its indeed a TCP/IP denied not HTTP layer access issue
The ip is a cluster ip. Cluster ip between api-server and or any other pod in the same cluster shall be able to reach out to nginx admission service ..if the pod itself exposes the port
It seems to do so - it is written in the se

[2021-03-01 16:35] gopaljayanthi commented on #6893
when i edit he deployment of theingress controller and use the --enable-ssl-passthrough  flag , my pod is going into crash loop backoff. the error in the logs is flag provided but not defined: -enable-ssl-passthrough

[2021-03-01 18:00] ArrowRaider commented on #4909
I am encountering this issue.  How do I fix it?  My DNS is fine.  It is ignoring my certificate and sending the default one instead of the one I have told it to use.

[2021-03-01 23:02] yuha0 commented on #6896
Not sure if it was caused by the base image upgrade (alpine 3.13) but we have seen the same issue as well in our environment after upgrading to 0.44.0. It had happened for 4 times in two days before we downgraded to 0.43.0. We haven't seen a single instance after the downgrade.

All 4 incidents were started with nginx config reload

First we saw very high CPU loads on nodes hosting Nginx pods. Tho

[2021-03-01 23:13] nelsonyaccuzzi commented on #4909
@ArrowRaider in my case it was a SNI situation. Be sure that your client is sending the hostname header to the server.

[2021-03-02 05:16] PaulCharlton commented on #5723
/remove-lifecycle stale

[2021-03-02 05:42] kartikeyachoudhary opened #6919 "Connection refused while connecting to upstream"
I am trying to deploy a FTP server ( with passive mode ) on kubernetes. Port 21 is exposed and ports 9000-9010 are for passive mode. Once client makes initial request on port 21 , after authentication , FTP server should return a passive port on which data transfer can happen.

I am using --tcp-services-configmap argument on ingress controller deployment to enable TCP ports.

`
       - --tcp-serv

[2021-03-02 09:44] karpenkoKhAI opened #6920 "Ingress-nginx-controller does not listen 10254"
Hello, I am using your [guide](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/monitoring.md) to deploy ingress-nginx controller. But my output is different than your [documentation](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/monitoring.md#prometheus-dashboard) (see screenshot)
![Screenshot 2021-03-02 at 11 41 19](https://user-images.githubuserc

[2021-03-02 09:46] wuwo1952368901 opened #6921 "How to configure to get the user's real IP on pod?"
When I use ingress configmap to configure the TCP services exposure service, I can't get the user's real IP. My configuration is as follows:
[code]
When accessing through IP: port, how to configure to get the user's real IP?

[2021-03-02 09:55] #6920 closed

[2021-03-02 09:55] karpenkoKhAI commented on #6920
Closed

[2021-03-02 10:31] StretchV opened #6922 "I want releases multiple versions as Canary,how to do it"
Excuse me? Each cluster has multiple versions separated by "namespace". I want to make Canary release for multiple versions, but currently a maximum of one Canary address can be applied per increase rule. How do I deal with it? are there any good suggestions?

[2021-03-02 10:33] darthcorsair opened #6923 "jobLabel parameter for serviceMonitor"
It would be great to have default serviceMonitor parameter to [specify job name](https://github.com/prometheus-operator/prometheus-operator/blob/master/pkg/apis/monitoring/v1/types.go#L729) for scrape in cases like prometheus exact labels match for federation

/kind feature

[2021-03-02 11:31] Nuru commented on #6822
@esteban1983cl Please re-open this issue. I'm glad you found a workaround, but that should not be required, so this is still a bug.

Please also hide your helm values in a `details` block like this

[code]
which will look like this:
<details><summary>values.yaml</summary>

[code]
</details>

[2021-03-02 12:01] #6557 closed

[2021-03-02 12:50] Skaronator commented on #6916
Depends on your environment but we have a internal and a external ingress deployed with the helm chart.

We use a AWS Load Balancer and the only difference between our public and private deployment is this service annotation: `service.beta.kubernetes.io/aws-load-balancer-internal: "true"`. This annotation tells AWS if the LB should be internet facing or not.

[2021-03-02 12:53] Stono commented on #6896
FWIW whilst we haven't seen segfaults, we have noted quite a cpu jump from `0.42` -> `0.44`:

You can see it here with our deployment at 11:10
<img width="1670" alt="Screenshot 2021-03-02 at 12 52 19" src="https://user-images.githubusercontent.com/1486729/109651259-331eea00-7b56-11eb-96df-9666a27a6fe7.png">

Will switch to 0.43 and report back.

[2021-03-02 13:10] Stono commented on #6896
Yup can confirm 0.43 is back to expected levels.

<img width="1674" alt="Screenshot 2021-03-02 at 13 10 09" src="https://user-images.githubusercontent.com/1486729/109653221-a88bba00-7b58-11eb-9edc-cbe34174d378.png">

[2021-03-02 15:09] ArrowRaider commented on #4909
I am not sure if I encountered a bug, but the controller logs kept saying it can't find the certificate was not found, using the default.  I ensured the spelling was fine and the TLS secret was there.  I ended up deleting the entire ingress-nginx namespace and then installing the controller again.  It worked then.  So that makes no sense.

[2021-03-02 15:33] aSapien commented on #6822
@Nuru this appears to be the idiomatic way of doing TLS offloading on NLB with ingress-nginx:

https://github.com/kubernetes/ingress-nginx/blob/a7fb791132a0dee285b47d0041f4f9acf1e7cff8/deploy/static/provider/aws/deploy-tls-termination.yaml#L291-L299

[2021-03-02 16:56] jw-s commented on #5401
Hey guys, I've also experienced this issue. After doing some debugging it seems like the admission controller just takes too long to respond. Since the webhook timeout is 10s, it means that (in my case) the ingress validation check (which internally, constructs the whole **tobe** nginx config) takes longer than 10s and hence the timeout or in this case `deadline exceeded`. Again I don't have concr

[2021-03-02 17:02] workhorse2020 opened #6924 "HTTP2 Disable not working, Its always negotiating http2"
When I disable http2 using "use-http2: false" I don't see the same getting disabled.

[code]

Above is my config but I still see http2 getting negotiated

[code]
We see above http2 is present if I login manually and delete http2 its working... Please let me know if I am missing something..

rgds
Kamal

[2021-03-02 17:13] cforce commented on #5401
What is exact controller? yam path of the timeout you mention?
Meanwhile i set "controler.admissionWebhooks.enabled: false" as it seems to behave unpredictable

[2021-03-02 18:09] jw-s commented on #5401
In the `validatingwebhookconfiguration` for the ingress controller

[2021-03-02 18:51] jacek-jablonski commented on #6916
Thanks for the tip!

[2021-03-02 18:51] #6916 closed

[2021-03-03 03:03] hipages-leimiao commented on #5496
This is a case:
https://stackoverflow.com/questions/19743396/cors-cannot-use-wildcard-in-access-control-allow-origin-when-credentials-flag-i

[2021-03-03 07:48] jamesgetx opened #6925 "ingress controller metrics response error: fd permission denied"
NGINX Ingress controller
Release: v0.35.0
Build: 54ad65e
Repository: https://github.com/kubernetes/ingress-nginx
nginx version: nginx/1.19.2

**What happened**:

`curl http://127.0.0.1:10254/metrics`

respose:
[code]

**What you expected to happen**:

[code]

**How to reproduce it**:
helm3 install test ingress-coontroller

/kind bug

[2021-03-03 08:09] nielsslot commented on #5464
I can still reproduce this issue with Ingress Nginx 0.44.0.

Turns out the Ingress YAML from my previous comment didn't work as is. I had to add an explicit pathType:

[code]

/remove-lifecycle stale

[2021-03-03 12:05] ErnestStaug commented on #4760
So no http3 support?

[2021-03-03 16:54] gnulux commented on #6893
@kundan2707 ,
 Nop , it was not mentioned as a prerequisite in the documentation.
Also i cannot reinstall the nginx as it's a production instance .
I planned to reinstall a new cluster soon but i would like to validate grpc  with the LB on this one.
Are you sure that passthrough is mandatory?

[2021-03-03 18:33] LucFauvel commented on #6431
/remove-lifecycle stale

[2021-03-03 23:09] Shaun-Ladd opened #6926 "When I refresh my browser, 33% of the time I get a 404, the other times it works"
The infrastructure is running on EKS v1.14, Nginx Ingress controllver v0.35.0.

The site functions properly most of the time however if I am on the home page and refresh my page (F5), I will get a "404 Page Not Found". If I keep refreshing it will return to the home page sometimes and others give the 404 error. I looked at the Ingress logs and it appears to route the traffic to the default-upstrea

[2021-03-04 00:28] uvwild commented on #5550
So what can I do when my app needs TCP AND UDP AND  HTTP AND HTTPS ports?

**The answer above only explains how to switch them off!**

Nginx  claims tcp/udp support - so is it only either one?  Really?

This is unsatisfactory!

PS this was the first hit for the question. I dont think its answered fully

[2021-03-04 05:47] alanchrt commented on #2045
@aledbf Now that wildcard hosts are [officially supporedt](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#support-for-hostname-wildcards), could this issue be reopened?

[2021-03-04 06:20] kundan2707 commented on #6919
/kind support

[2021-03-04 07:51] kundan2707 commented on #6913
@aballman This default-ssl-certificate parameter has been discussed previously in char issue.

https://github.com/helm/charts/issues/1495#issuecomment-342275665

FOllowing is also mentioned in values.yaml
[code]

[2021-03-04 07:51] kundan2707 commented on #6913
@aledbf  Please suggest if mentioned support is required.

[2021-03-04 07:53] kundan2707 commented on #6054
@aledbf  This seems to be no bug and can be closed.
Please share your view

[2021-03-04 08:51] abuethe commented on #5411
On a related note I have the behaviour that I replaced a secret with a new version of our wildcard certificate and sometimes get delivered the correct certificate and sometimes the old one. I use v0.43.0 in a k3s cluster (v1.19.7+k3s1).

I tried the same steps as @nathsingchan (deleted everything and redeployed) but somehow the old certificate keeps reoccurring.

[2021-03-04 08:52] abuethe commented on #5411
/remove-lifecycle stale

[2021-03-04 10:02] eyoonWehealed opened #6927 "Logging POST request body and header"
hello all,
I am trying to leave POST requests' body and header as logs
Even with looking over the [document](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/log-format/), I dont see clear way to achieve what i want

any help would be appreciated. thank you

[2021-03-04 10:16] kamilzzz opened #6928 "Zero downtime upgrade"
Docs (https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#upgrading-with-zero-downtime-in-production) are mentioning that by default during an upgrade there is a service interruption caused by pods being restarted, and another article is linked with explanation how one can fix that.

But when looking at `values.yml` I can see both terminationGracePerios and preStop hook is

[2021-03-04 10:33] kamilzzz commented on #6926
How many nodes do you have in a cluster?

What is the `externalTrafficPolicy` setting value for ingress service?

[2021-03-04 12:09] kundan2707 commented on #6894
@yasra002  Can you close this issue if its resolved now?

[2021-03-04 14:51] Shaun-Ladd commented on #6926
@kamilzzz 3 nodes in the cluster currently however it is a managed nodegroup behind an autoscaling group so it potentially could be more at some point. The external traffic policy is set to local

[2021-03-04 15:43] mbrancato opened #6929 "Missing Ingress metrics"
**NGINX Ingress controller version**: 0.44.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): COS

**What happened**:

Note: This is using the latest helm chart.

I have an Ingress object that is not showing up in the metrics such as `nginx_ingress_controller_request_duration_seconds

[2021-03-04 18:52] pankti11 opened #6930 "Passing Certificate as header from nginx-ingress proxy to backend service without client certificate authentication"
I want to pass the client certificate as header into backend service. Can someone point me in right direction ?

[2021-03-04 20:36] #6930 closed

[2021-03-04 20:36] pankti11 commented on #6930
Wrong Issue

[2021-03-04 20:49] aballman commented on #6913
@kundan2707 Thank you for gently indicating the correct way to do this. I'm not sure how I overlooked it, but it's right there. Nothing to do here!

[2021-03-04 20:49] #6913 closed

[2021-03-04 21:33] mmiller1 opened #6931 "Trailing slashes are stripped from the Location headers on ssl redirects"
**NGINX Ingress controller version**: 0.43.0

**Kubernetes version** (use `kubectl version`): v1.16.15

**Environment**: vanilla k8s, self hosted, bare metal

- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="18.04.5 LTS (Bionic Beaver)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 18.04.5 LTS"
VERSION_ID="18.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"

[2021-03-04 22:32] frittentheke commented on #4763
/remove-lifecycle stale

[2021-03-05 00:15] cdanger commented on #6569
/remove-lifecycle stale

[2021-03-05 07:07] li-adrienloiseau commented on #6912
(help)

[2021-03-05 08:00] nidiculageorge opened #6932 "Ingress ApiVersion in beta version state"
Hi Team,

We have created a new ingress controller in our aks cluster from the below  repo location

helm repo add nginx-stable https://helm.nginx.com/stable\

We have successfully configured the Ingress routes ,but when we  describe the ingress route we can see the following api version

apiVersion: extensions/v1beta1

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kube

[2021-03-05 08:01] toredash commented on #6569
Is this what your looking for?
https://github.com/kubernetes/ingress-nginx/blob/dbdf2d6e9bf61d90d3efac59016059689143eedc/docs/user-guide/nginx-configuration/annotations.md#ssl-ciphers
https://github.com/kubernetes/ingress-nginx/blob/efdd63f967edbb5f2ffa151ec4b76ed9e0c5555f/docs/user-guide/nginx-configuration/configmap.md#ssl-ciphers

[2021-03-05 09:29] dmytropetryk commented on #1655
it works for apiVersion: networking.k8s.io/v1beta1    k8s v1.18.14

[2021-03-05 10:10] snodl opened #6933 "ingress-nginx start report error when getting metrics"
**NGINX Ingress controller version**: ingress-nginx-3.13.0

**Kubernetes version** (use `kubectl version`): 1.18.4

**error log**:

E0305 09:21:58.821762       7 socket.go:348] "Error gathering metrics: %v" err="error collecting metric Desc{fqName: \"process_open_fds\", help: \"Number of open file descriptors.\", constLabels: {}, variableLabels: []}: open /proc/7/fd: permission denied"
E0305 09:21

[2021-03-05 10:23] krip248 opened #6934 "Security Vulnerability - nginx-ingress/kube-webhook-certgen v1.5.1"
Hi there,

Our whitesource scanning on the latest Nginx ingress helm charts has picked up a new security vulnerability for the following components:

nginx-ingress/**kube-webhook-certgen** - v1.5.0
nginx-ingress/**kube-webhook-certgen** - v1.5.1

Please see the attached CVE vulnerability report. Please could this item be patched?

Thanks,
Dan
[nginx-ingress_kube-webhook-certgen v1.5.1-vulnerabilit

[2021-03-05 10:24] cdanger commented on #6569
Not exactly. Based on [this ticket](https://trac.nginx.org/nginx/ticket/1529), I am looking for a way to configure the `ssl_conf_command` directive of Nginx (instead of ssl_ciphers).

Or a way to use the Nginx ingress controller with LibreSSL (instead of OpenSSL). Based on the ticket mentioned, these seem to be the only ways to change TLS 1.3 ciphersuites.

[2021-03-05 12:03] harmschutte opened #6935 "Security Vulnerability - openssl (used in libssl1.1, libcrypto1.1, openssl) version 1.1.1i-r0 has 3 vulnerabilities."
Dear,

After implementing 0.44.0 ism getting the following warning:
OpenSSL:
CVE-2021-23840  fixed in 1.1.1j-r0,
CVE-2021-23841  fixed in 1.1.1j-r0,
CVE-2021-23839  fixed in 1.1.1j-r0
This is an OS based issue that is used for this nginx image.
OS image is Alpine Linux v3.13

**NGINX Ingress controller version**:
Controller version 0.44.0

**Kubernetes version** (use `kubectl version`):
1.18.10

*

[2021-03-05 14:58] #5936 closed

[2021-03-05 16:15] Shaun-Ladd commented on #6926
I just redeployed my EKS cluster with 1.18 and the Nginx Ingress controller version 0.44.0 and still get the same error.  When I refresh my browser, my app returns 404 about 1/3 of the time.

[2021-03-05 17:39] lambchr opened #6937 "nginx_ingress_controller_requests is missing for Ingress that has had no requests"
**NGINX Ingress controller version**: 0.30.0

**Kubernetes version** (use `kubectl version`): 1.15

**Environment**:

- EKS k8s cluster

**What happened**:

The `nginx_ingress_controller_requests` metric was missing for Ingresses that have had 0 requests. I queried `nginx_ingress_controller_requests == 0` for our prometheus metrics and found no time series.

**What you expected to happen**:

I exp

[2021-03-05 19:00] jaalle commented on #6862
Hello,

As noted above, we first encountered this problem when attempting to deploy NGINX Ingress controller into a Kubernetes v1.18 cluster we had successfully deployed with Flannel CNI.  Kubernetes reported the status of all pods was "Ready", i.e., the core components and flannel were successfully deployed.

However, after several days of troubleshooting we traced this problem to Flannel CNI dep

[2021-03-05 19:00] #6862 closed

[2021-03-05 23:54] dehghanfar opened #6938 "annotation limit rps not getting applied. / helm value or ingress kind"
I am using Ingress NGINX. in my helm value file. I want to set a global rate limiting annotations. is it possible?

Value file:

[code]

or do I have to have rate limiting annotation in the actual ingress yaml file?

[code]

[2021-03-06 19:08] abdennour commented on #6456
actually, it's embarrassing when customers see "http://".
 No way to get it fix since 3 years... since it was stable/nginx-ingress chart.

These are my values :
[code]

really, it's embarrassing

[2021-03-06 19:55] abdennour commented on #5688
tls termination is a topic different than redirectinng http to https.
actually, it’s embarrassing when customers still see “http://“. :(

[2021-03-07 08:48] eliabayev commented on #6871
Have the same exact issue. Any updates regarding this?

[2021-03-07 15:35] KiPSOFT commented on #6875
@jkabat , you found any example usage this api ?

[2021-03-08 09:03] jkabat commented on #6875
@KiPSOFT unfortunately not. I had to use old service way to use GCS bucket...

[2021-03-08 12:57] yasra002 commented on #6894
@kundan2707 Thanks for your reply. However, I am not sure if I understood your answer correctly. My question is about how can I apply a particular a command-line argument from this [list](https://docs.nginx.com/nginx-ingress-controller/configuration/global-configuration/command-line-arguments/#) using helm chart. If e.g I want to set `-nginx-status false`  which is set to `true`  by default. How w

[2021-03-08 14:08] #6295 closed

[2021-03-08 14:18] antoineozenne commented on #6381
It could be great!

[2021-03-08 17:45] kfox1111 commented on #6934
Somewhat related to the conversation here: https://github.com/kubernetes/ingress-nginx/issues/6666

[2021-03-08 17:48] kfox1111 commented on #6666
@webwurst Yeah, that is exactly what I'm thinking. That generates the certs.

https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/templates/prometheus-operator/admission-webhooks/mutatingWebhookConfiguration.yaml has an example of how to plumb up the webhook so it has the right ca as well.

[2021-03-08 22:11] elmariofredo commented on #6245
We are also affected by this issue we see a lot of messages like

and also we see lot of terminated ingress connections, after removing webhook it's back in normal.

[2021-03-08 22:28] nagstaku opened #6941 "Resolving "Error obtaining X.509 certificate: unexpected error creating SSL Cert: certificate and private key does not have a matching public key""
I actually just wanted to put this here for eventual google searchability since I ran into this problem and think others might too. When following directions for creating a 'full chain' of certificates by concatenating the intermediate then server cert, I encountered an error loading it into kubernetes/ingress-nginx:

"Error obtaining X.509 certificate: unexpected error creating SSL Cert: certific

[2021-03-09 00:53] ejose19 commented on #808
For those using `helm`, here's how I managed to use `externalTrafficPolicy: Local` (to preserve client ip in backends) while also make it work with multiples nodes behind the LoadBalancer:

[code]

without `controller.kind=DaemonSet`, the LoadBalancer was not delivering traffic to the other nodes as they were reporting "unhealthy".

[2021-03-09 07:18] jolivares opened #6943 "Provide a name to 10254 (metrics) port"
I have a cluster wide prometheus installed using https://github.com/prometheus-operator/kube-prometheus in the `monitoring` namespace.
Now I want to monitor my nginx ingress controller installed using https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/cloud/deploy.yaml in the `ingress-nginx` namespace. So I plan to deploy the following into the `ingress-nginx` namespace

[2021-03-09 10:53] kundan2707 commented on #6938
/kind support

[2021-03-09 11:00] kundan2707 commented on #6938
@dehghanfar  you can set annotation as string while installing with helm file.
[code]
Annotation added with desire value
[code]

[2021-03-09 16:45] brunogomes1 commented on #6861
And how do we change the helm chart so it creates a HTTPS LB instead of a TCP LB? Is that possible?

[2021-03-09 16:46] brunogomes1 commented on #6861
And how do we change the helm chart so it creates a HTTPS LB instead of a TCP LB? Is that possible?

[2021-03-09 22:29] #6903 closed

[2021-03-09 22:40] #5972 closed

[2021-03-10 13:24] vibhutisawant commented on #6504
Hi @aledbf

Any updates on this issue?

And also as seen from the pod logs, `resty.core` module fails to load. Just to get more insights could you please confirm if s390x specific source code change is required in [lua-resty-core](https://github.com/openresty/lua-resty-core) or [ lua-nginx-module](https://github.com/openresty/lua-nginx-module) ?

[2021-03-10 15:19] sujeet-agrahari opened #6946 "Getting connection timed out on both domains also on load balancer dns"
I am getting connection time out on my both domains `one.example.com` and `two.example.com`.

I have set up the cluster on AWS using kops.

Ingress is inside the default namespace also the services being proxied to are also in the default namespace.

[code]
[code]

For installing the controller I followed [this doc][1].
I have run only this command
[code]

  [1]: https://kubernetes.github.io/ingre

[2021-03-10 18:28] nyarly commented on #6762
You can use `--deployment` to select a non-standard deployment name. It should be documented, though.

[2021-03-10 21:59] tibers commented on #6875
I'm in the dark also, I thought that `apiGroup: k8s.example.com` might be `storage.googleapis.com` but I'm really lost as to what it should be.

[2021-03-10 23:50] NeckBeardPrince opened #6947 "Unable to modify AWS annotation AFTER deployment"
After deploying we noticed the `service.beta.kubernetes.io/aws-load-balancer-access-log-s3-bucket-name` value was incorrect. If we modified the service manually we would keep getting the "Unable to update load balancer attributes during attribute sync".

[2021-03-11 01:06] #6311 closed

[2021-03-11 01:44] nyarly opened #6948 "Kubectl plugin lacks container selector"
**What happened**:

Using the kubectl plugin to get conf or backend results in `exited status 126`.

**What you expected to happen**:

I expected to see nginx configurations.

 It turns out that, because we're using a sidecar in our ingress pods, the underlying kubectl exec doesn't know which container to choose and defaults (to the wrong one). The result is that `/dbg conf` gets execed in a conta

[2021-03-11 07:30] sumitaneja opened #6949 "Java handler in controller"
Nginx have options for java handler
https://www.nginx.com/resources/wiki/modules/java_handler/

is this supported with controller? If yes can you point me relevant documentation to uptake same.

If not What is the plan to support same.

[2021-03-11 11:45] StefanSa opened #6950 "Error obtaining X.509 certificate: parsing CA certificate: asn1: structure error tags don't match (16 vs {class:0 tag:6 length:9 isCompound:false})"
**NGINX Ingress controller version**: nginx-ingress-controller:nginx-0.35.0-rancher2

**Kubernetes version** (use `kubectl version`): v1.19.7

**Environment**:

- **Cloud provider or hardware configuration**: hardware / rancher2
- **OS** (e.g. from /etc/os-release): openSUSE Leap 15.2
- **Kernel** (e.g. `uname -a`): 5.3.18-lp152.63-default
- **Install tools**:
- **Others**:

**What happened**:
i c

[2021-03-11 21:45] stealthHat commented on #2724
I tried  the elb method that @abjrcode mentioned, but with no success, i am using EKS 1.9  with the ingress nginx chart elb layer 7, the request end with not https. any chance that the values from the chart changed?

[2021-03-11 22:44] rittneje opened #6951 "nginx defaults to oldest ingress rule for auth when no ingress rules match"
**NGINX Ingress controller version**: 0.35.0

**Kubernetes version** (use `kubectl version`): 1.16.15

**Environment**:

- **Cloud provider or hardware configuration**: EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

We had a broken ingress rule in our cluster that pointed to a non-existent auth url (via the "nginx.i

[2021-03-12 01:26] stpabhi commented on #398
Using **add-headers** instead of **proxy-set-headers** works for me.

[code]

[code]

[2021-03-12 03:03] stealthHat commented on #6456
I tried to install the ingress nginx helm chart with the values that @aledbf link, but its not working with https

im using EKS 1.9 and ingress nginx chart 0.44.0 and AWS certificate

[2021-03-12 05:08] kundan2707 commented on #6951
/assign

[2021-03-12 06:49] sumitaneja opened #6952 "New shared dict."
extending controller by adding additional lua plugins.
Need to understand how can i create my own shared dict. (lua_shared_dict) for my extension logic in lua files.

[2021-03-12 09:06] fliphess commented on #6798
I had the same issue n EKS and I was pulling my hair out.

Disabling network policies seem to fix it, but that wasn't really an option for me.

I deleted the ingress controller again (after the security group was added to enable traffic on port 8443), recreated the ingress controller installation and things work as expected now.

[2021-03-12 16:52] ErnestStaug commented on #6602
It seems like nobody was able to implement nginx-ingress -> fpm, so far as well looked for any successful implementation, but all of them using nginx as a sidecard with fpm container... no straight ingress -> fpm yet...

[2021-03-13 06:16] zhaogaolong opened #6953 "performance in benchmark slow with monitor.lua"
ingress-nginx  Batch encoding of metrics improves latency  for  p95， p99

## env
k8s: 1.17.3
ingress-nginx: v0.42.0

## testing

result
次数 | p95 | p99 | p99.9
-- | -- | -- | --|
default  | 18.895 | 64.64ms | 233.34ms|
optimization  | 4.79ms | 9.96ms | 15.12ms |

command
`./wrk2 -t2 -c1000 -d60s -L -R30000 -H 'Host:  servername' http://10.18.83.189`

## optimization
It takes a long time in a reques

[2021-03-13 07:50] wangtong4348 commented on #1823
@carldanley
I am facing the same issue, would you mind to post the code snippet, thanks in advance.

[2021-03-13 11:10] pedinil opened #6954 "rewrite-target"
i have done it but i have problem for paramters send to other paths
i have 3 microservices base on java
when i put prefix
/shop
/admin
/order
i can see the page but when i call api it does not forward the header to these microservices

so when i put path  the swagger page is not shown

http://shops.dig.com/shop/swagger-ui.html

can you help please

ingress yaml file

[code]

kubectl describe ing i

[2021-03-13 22:21] ShaunLadd commented on #6926
Found out this was due to an angular caching issue in Nginx.  Once we updated the Nginx cache settings on the Nginx webserver the problems went away.

[2021-03-14 08:24] #6329 closed

[2021-03-14 11:54] Senhaji-Rhazi-Hamza commented on #2580
Have the same issue here

[2021-03-14 12:12] avielb commented on #6281
the only workaround I found for this issue is to deploy aws load balancer controller, work with eks 1.18+ and use the "nlb-ip" mode.

[2021-03-14 14:19] eliabayev commented on #6871
Hi Tommaso @batodev,

Have you figured out a way to solve the issue?

Thanks

[2021-03-14 17:33] #5903 closed

[2021-03-14 21:21] liquidboy commented on #6862
how was this resolved ? im encountering this issue on docker for  windows

Kubernettes : v1.19.7
Docker Engine : v20.10.5

[2021-03-15 04:49] brianmay commented on #6622
/remove-lifecycle stale

[2021-03-15 06:07] alfianabdi commented on #6896
I also have similar issue. Recently several nodes get NodePressure status and pods getting Evicted, because ingress controller generate so many core-dumps. So many, the total is almost 200GB.

Using gdp  here what i got
`
bash-5.1# gdb /sbin/nginx core.904
GNU gdb (GDB) 10.1
Copyright (C) 2020 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.ht

[2021-03-15 16:35] simonracz commented on #2007
I assume many people had the same issue that I had.

I copy pasted that line somewhere. Probably from the docs. Now, that DASH is NOT a correct dash. My editor draws them the same way. But my terminal doesn't. That's how I noticed.

[2021-03-15 17:14] ReillyTevera commented on #6896
@alfianabdi Well, first of all the `??` in your backtrace indicates that you don't have all of the debugging symbols installed.

Run the following to install the musl debug symbols prior to running that gdb command:
[code]

[2021-03-15 19:17] biqas opened #6958 "Certificate creation/renewal with over 10K domains"
Hi,

I encounter problems with ingress-inginx if I define more then 8K hosts or rules. The main issue comes if the certification process (either create or renew) with cert-manager is triggered. the ingress-inginx consumes then a lot of memory over 5GB and takes longer times to refresh the configurations and it sometimes get evicted then.

What settings are needed to work smoothly to host more then

[2021-03-16 02:27] wuluoyong opened #6959 "Find an Interval HTTP-Header based vulnerability that creates overflow in the server process to impact the request handling."
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

/kind bug

[2021-03-16 02:31] wuluoyong commented on #6959
regarding ingress-nginx images: registry.cn-hangzhou.aliyuncs.com/acs/aliyun-ingress-controller:v0.44.0.1-5e842447b-aliyun

[2021-03-16 07:23] SuperHeroX commented on #5690
Any update on this one? Not sure what is the best approach to mitigate this.

[2021-03-16 07:51] Thedsk8 opened #6960 "HTTP Push stream in Ingress Nginx"
We are using ingress nginx and it is deployed on EKS.  As, nginx supports http push stream, is there a way we can achieve this in ingress nginx controller.
One way is deploy a separate nginx with http push stream module and routing it via ingress nginx. But we do not want to take this approach.
Basically, what I want to ask is there a way to add modules in this and if not,  can we somehow  use ing

[2021-03-16 08:49] jjzhang789 opened #6961 "Can you give a correct example? Regarding the use of fastcgi."
Can you give a correct example? Regarding the use of fastcgi. Refer to this document, I can't configure this correctly.

https://kubernetes.github.io/ingress-nginx/user-guide/fcgi-services/

[2021-03-16 11:01] stranljip commented on #6634
/remove-lifecycle stale

[2021-03-16 15:39] xcq1 opened #6962 "Adding name for service port breaks zero-downtime ingress with 503 errors"
**NGINX Ingress controller version**: v0.44.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EC2
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS

**What happened**:

I have a Kubernetes service like this which is exposed via an ingress:
[code]
During a deployment I introduced a name for the port:
[code]
Althou

[2021-03-16 19:13] kaladaOpuiyo opened #6963 "Allow global rate limiting headers to be enable via annotations"
With the addition of global rate limiting support, it would be useful to produce associated headers which can be used
by clients to design requests which avoid being throttled out. This feature should be enabled via an annotation set in the
ingress resource. There are 3 main headers associated with rate-limiting; RateLimit-Limit, RateLimit-Remaining, and RateLimit-Reset [RateLimit Header Fields fo

[2021-03-17 01:09] silverlight opened #6964 "Can not create pod because dial tcp port 10254 connection refused"
I got the error " Readiness probe failed: Get "http://192.168.0.3:10254/healthz": dial tcp 192.168.0.3:10254: connect: connection refused" where I creating pod of ngnix ingress controller by using following yaml.What should I do to prevent this error? Wanna get some help ; )

[code]

The description of pod

[code]

/triage support

[2021-03-17 03:39] #6959 closed

[2021-03-17 03:40] wuluoyong commented on #6959
error issue

[2021-03-17 07:40] wahammed opened #6965 "upstream prematurely closed connection while sending to client"
Hi Team,

We are facing issue while processing requests on nginx Ingress.

Below are the nginx config set on ingess yaml :

    nginx.ingress.kubernetes.io/proxy-body-size: 10m
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/load-balance:

[2021-03-17 08:14] MitchDart opened #6966 "Website content downloads extremely slow."
Hi All,

I attempted to ask on Slack but this issue is now critical for us and this is my last resort. Content for websites downloads extremely slowly from South Africa. We are using Nginx Ingress deployed using Helm on GKE. I will link the values file at the end of this post.

**Example**
Here is a Grafana dashboard I deployed. I have two ingresses pointing to the same dashboard, one is Nginx one

[2021-03-17 13:31] ElvinEfendi commented on #6963
@kaladaOpuiyo it is looking good. Feel free to open a draft PR here.

[2021-03-17 14:18] fbongiovanni29 opened #6967 "Is it possible to sanitize logs?"
I have logs with sensitive information coming through and I was wondering if it was possible to use regex or something to filter out the sensitive information. They look something like this:
[code]
/triage support

[2021-03-17 14:18] shibumi commented on #6430
/remove-lifecycle stale

[2021-03-17 14:25] shibumi commented on #6430
@DmitriyMurzin  I had a look on this and did you know that you can set the defaultBackend already in the values.yaml file?

https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/values.yaml#L595L636

Another option is setting it via annotations:

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#annotations

Or did you mean providing an a

[2021-03-17 16:14] kundan2707 commented on #6508
@roshan8
As this feature is no more required. can you close this issue?

[2021-03-17 21:15] cooperbenson-qz commented on #6647
Just re-ran the steps from above and confirmed that this bug still exists on v0.44.0 of the controller

<details>
<summary>Test output</summary>

[code]
</details>

[2021-03-17 21:16] cooperbenson-qz commented on #6647
/remove-lifecycle stale

[2021-03-17 22:07] sim1 commented on #4760
/reopen

[2021-03-17 22:38] rlljorge opened #6968 "Redirect HTTP to HTTPS - 400 Bad Request"
I configured the ingress bellow for external HTTPS access.
My certificates are wildcard type *.domain.com.br.
The HTTPS access are OK. I can access https://subdomain.domain1.com.br and https://test.domain2.com.br or https://client.domain3.com.br with success.

But the HTTP to HTTPS redirect doesn't work.

[code]

[code]

Kubernetes version;
[code]

ingress deploy with:
[code]

I forged some config

[2021-03-18 00:20] pdiaz commented on #4760
/reopen

[2021-03-18 00:22] rlljorge commented on #6968
Invalid, Was a failed in firewalld forward rule.

[2021-03-18 00:22] #6968 closed

[2021-03-18 00:36] jarrettprosser opened #6969 "Admission controller patch job has CreateContainerConfigError"
**NGINX Ingress controller version**: 0.44.0

**Kubernetes version** (use `kubectl version`): v1.18.14

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release): AKSUbuntu-1804gen2-2021.02.10
- **Kernel** (e.g. `uname -a`): no direct access to nodes
- **Install tools**: Argo CD
- **Others**: ingress-nginx chart version 3.24.0

**What happened

[2021-03-18 01:12] Nitesh-vaidyanath commented on #5686
Even i am seeing similar issue enable-tls-passthrough is set to true but still ssl traffic passthrough is failing. I am using helm nginx chart to deploy ingress controller and all the required annotations have been added to ingress resource definition.

`
    spec:
      containers:
      - args:
        - -nginx-plus=false
        - -nginx-reload-timeout=0
        - -enable-app-protect=false

[2021-03-18 04:22] anhkhoa45 opened #6970 "EKS - Migrate from Manifests installation to Helm chart installation"
I have Nginx ingress v0.41.2 installed on an EKS cluster using the following command:
[code]
Now I want to migrate Nginx to Helm chart
I want to keep the current ELB and don't want to interrupt users' access.
Is there any way to do this? Thanks in advance

[2021-03-18 08:05] cforce opened #6972 "nginx warnings flood FailedToUpdateEndpointSlices"
Using ingress-nginx-3.24.0    0.44.0
Kubernetes 1.19.8 (Azure kuberntes)

The event log is flooded with warnings - seems like related with up and down scale - which happens a lot with autoscaler.
That warnings - is there anything "abnormal" about ? If not why do i get same. IF yes, what is intended to be done here?

Warning   FailedToUpdateEndpointSlices   service/nginx-ingress-controller Error up

[2021-03-18 13:34] rinini opened #6973 "Error applying ingresses with a location directive in its configuration-snippet annotation"
**NGINX Ingress controller version**:
0.41.1 and upwards
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**:
[code]
- **OS** (e.g. from /etc/os-release):
MAC OS Big Sur
- **Kernel** (e.g. `uname -a`):
Darwin MC201217 20.3.0 Darwin Kernel Version 20.3.0: Thu Jan 21 00:07:06 PST 2021; root:xnu-7195.81.3~1/RELEASE_X86_64 x86_64
- **

[2021-03-18 13:37] blodan commented on #5575
/remove-lifecycle rotten

[2021-03-18 13:47] azagarelz opened #6974 "Helm chart: Add tcpInternal/udpInternal in values"
### What do you want to happen?
I would like to have two additional parameters in the values file that allows configuring TCP/UDP ports only on the service related to the internal load balancer and not on the internet-facing one.

The two additional parameters should be something like:
[code]
With almost the same logic of:
[code]
Expect the fact that these additional custom ports have to be specif

[2021-03-18 14:06] pierluigilenoci commented on #4621
/remove-lifecycle rotten

[2021-03-18 14:11] pierluigilenoci commented on #4621
/reopen

[2021-03-18 15:37] BernhardGruen commented on #4904
Hi,

I also experience this issue.
I think I also have a potential workaround: One could annotate the configmap that contains the nginx configuration. This seems to trigger a reload too.

[2021-03-18 17:30] stealthHat commented on #6822
@aSapien, can you share the values that you use to make the nlb tls offloading work? im trying to accomplish the same task, but with no success 3 weeks in :(

[2021-03-18 19:35] dev-samples opened #6975 "nginx.ingress.kubernetes.io/rewrite-target: /foo/bar gives 404"
Running kubernetes 1.15 and Ingress controller:

[code]
In short I am trying to "redirect":

`https://dev-host.internal/bar`
_(new path that does no exist yet)_

To:
`https://dev-host.internal/foo/bar`
_(old path that does exist)_

**Before/working/200**

I have this **Ingress**:

[code]

From my local machine when I `curl https://dev-host.internal/foo/bar` I get a 200:

[code]

**After/failing/40

[2021-03-18 23:35] jmturwy opened #6976 "Please make the containers name a variable"
https://github.com/kubernetes/ingress-nginx/blob/5f1a37a624ca38e8cccc87cb7a36d7dbcbe70b01/charts/ingress-nginx/templates/controller-deployment.yaml#L69

I would like it if could change the name of the container, this will allow me to use datadog to monitor the ingress-nginx. This works on the stable branch, due to the name of the container being nginx-ingress-controller.

[2021-03-19 00:02] #6976 closed

[2021-03-19 05:19] eriksegecs opened #6977 "port serviceport for metrics mapped to 9913 instead of 10254"
https://github.com/kubernetes/ingress-nginx/blob/5f1a37a624ca38e8cccc87cb7a36d7dbcbe70b01/charts/ingress-nginx/values.yaml#L518

as a newbie to prometheus operator, and helm, this made me waste a lot of time, so i hope this helps others newbies.
<details>servicePort: 9913</details>

this should be:
<details>servicePort: 10254</details>

[2021-03-19 05:53] nguyenlamlll opened #6978 "Support wild cards for spec.rules.host"
Hi all,

Although I know that currently "regular expressions and wild cards are not supported in the spec.rules.host field." (from this [document](https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/)), having wild-cards support for hosts would help a lot in some use cases.

For example,
[code]
This kind of nginx ingress rule file will help us in these use cases (but not li

[2021-03-19 07:20] #6350 closed

[2021-03-19 09:17] Hello-Linux commented on #6755
Has this problem not been fixed? Why not fix such a serious problem?

[2021-03-19 11:10] carletes commented on #6951
I'm seeing a similar issue (version  0.44.0, installed by Helm chart version 3.24.0, self-hosted). Looking at the generated `nginx.conf` in the `ingress-nginx-controller-*` pods I see a trailing catch-all block which seems to inherit the values for `auth_basic_*` defined for other ingresses:

[code]

[2021-03-19 11:26] #6363 closed

[2021-03-19 13:33] stealthHat commented on #6926
im  experiencing the same problem with EKS 1.9.0 and ingress nginx chart 3.24.0, any luck in get it to work?

[2021-03-19 14:12] ShaunLadd commented on #6926
This ended up being Angular and the Nginx webserver caching.  Once the appropriate sites-enabled was updated to remove caching for certain pieces, the problem was resolved.  If you are running Angular, search in google for "Angular refresh 404"

[2021-03-19 14:23] stealthHat commented on #6926
Hi, @ShaunLadd, thanks for the quick answer, im not familiar with the ngnix cache, how did you disable it? if its in the values.yaml, can you share it?

[2021-03-19 14:31] ShaunLadd commented on #6926
This is part of our docker container that is running.  We have the Nginx Ingress controller and are also running an Nginx webserver.  Our problem was coming from our Nginx webserver.

[2021-03-19 15:28] #6229 closed

[2021-03-19 15:41] gaima8 opened #6980 "Enable enabling OCSP validation."
As `ssl_ocsp` now exists it would be great to enable it on a per Ingress basis.

I don't have the go-foo to add the logic between the annotation and the $server.CertificateAuth.XYZ variables in the template.

/kind feature

[2021-03-19 16:17] stealthHat commented on #6926
oh, i see, my setup is different, im using EKS, ingress nginx controller with ELB and external DNS for route53

[2021-03-19 17:21] VengefulAncient commented on #6901
The behaviour _should_ indeed be controlled by this annotation, however it seems it is not working at the moment, making `ingress-nginx` always target pod IPs directly _(which is undesirable for several reasons, such as the ingress controller not being aware of terminating pods resulting in 5xx errors and needing dirty workarounds such as `preStop` hooks with `sleep`)_. If it does for you, please

[2021-03-19 21:50] jsaulalonso commented on #6970
Hi!

I've recently migrated an ingress controller from manifest to helm chart, keeping the load balancer and without service outage, following this steps:

1. Create a file called patch.yml with this content:
[code]

2. Create a file called values.yml with this content:
[code]

3. Patch existing objects to allow helm to take ownership of them (if not, helm will fail to deploy chart). Only some ann

[2021-03-19 23:04] endzyme commented on #6430
@shibumi The use case here is so that you can share a default backend among many nginx-ingress installations. The parameter you noted above (in the `nginx-confioguraton/annotations` only can serve a default backend in the same namespace as the resource that contains the annotation, so that wouldn't be global.

[2021-03-19 23:06] shibumi commented on #6430
@endzyme  this sounds definitely useful.

[2021-03-19 23:09] endzyme commented on #6430
https://github.com/kubernetes/ingress-nginx/pull/5479 Looks like it was removed as "obsolete" also see [another issue comment in the history](https://github.com/kubernetes/ingress-nginx/issues/6336#issuecomment-709999079), which cites a workaround.

[2021-03-20 17:32] rnwolfe commented on #6340
/remove-lifecycle stale

[2021-03-20 21:57] Nuru commented on #5983
/remove-lifecycle rotten

@aledbf What can I do to move this forward?

[2021-03-21 13:12] #6197 closed

[2021-03-22 00:25] nickpetrovic commented on #6931
I've observed the same. It also removes the trailing slash when I have `nginx.ingress.kubernetes.io/app-root` to set the path to `/web/` which essentially limits what you can do with this annotation.

[code]

I did find a workaround using the `configuration-snippet` annotation. I think the `configuration-snippet` is executed before the nginx ssl redirect occurs [here](https://github.com/kubernetes

[2021-03-22 01:21] anhkhoa45 commented on #6970
@jsaulalonso Thanks for your comment. Can you explain why step 2 is needed?

[2021-03-22 06:09] mindw commented on #2924
/remove-lifecycle stale

[2021-03-22 08:27] jsaulalonso commented on #6970
@anhkhoa45 manifest set some annotations (which edit ELB behaviour), and chart doesn't set this annotations by default, you must override default values to ensure existing load balancer is not modified.

[Manifest annotations](https://github.com/kubernetes/ingress-nginx/blob/controller-v0.41.2/deploy/static/provider/aws/deploy.yaml#L275-L278)

[Manifest annotations](https://github.com/kubernetes/i

[2021-03-22 08:50] mahonzhan opened #6981 "turn off ssl of 443 server"
if there is no l4 proxy in front of my ingress, i put a l7 proxy in front of my ingress, like this:
listen 80 -> ingress http 80
listen 443 -> ingress http 80

but my l7 proxy does not support ssl redirect, so i need to set the redirect in my ingress, when ingress lookup $scheme, it is always http, so ssl-redirect failed.

so i change as follows:
listen 80 -> ingress http 80
listen 443 -> ingress

[2021-03-22 11:10] aSapien commented on #6822
@stealthHat please see my config below.

[code]

[2021-03-22 13:56] avazhnov-griddynamics commented on #5507
[ExternalName](https://kubernetes.io/docs/concepts/services-networking/service/#externalname) service doesn't proxy a traffic, it creates another one CNAME, so the HTTP `Host` header will be like somedomain-frontend.default.svc.cluster.local, and of course there are no such bucket in Cloud storage.

@JuergenSimon, did you find a solution?

[2021-03-22 14:53] endzyme commented on #6430
@DmitriyMurzin is the workaround above (using `extraArgs`) something that works for you, and can that close this issue, or would you rather have @shibumi investigate re-introducing the `defaultBackendService` value setting?

[2021-03-22 17:21] stealthHat commented on #6822
@aSapien after I install the ingress nginx with this values, except with the addition of external DNS annotation and without the aws-load-balancer-internal: "true", because im using EKS with private and public networks, and i want to be able to access the url trough internet.

but out of 3 ingress that i created, im only able to access one of then, maybe DNS propagation time? i will wait until tom

[2021-03-23 10:13] dikokob commented on #6199
@dhirencsharma any luck with this issue?

[2021-03-23 14:17] Skullflow commented on #6862
Same error for me with eks v1.19.6 on a newly created cluster

[2021-03-23 15:55] StefanCenusa commented on #5607
Hello!
Any updates on this issue? It doesn't seem to be completely resolved, because even though there is an option to mount a custom ConfigMap with the nginx conf template, this is an operational nightmare. You have to always check if your template is up to date and instead of using the default helm chart and set some values, you will also have to create configmaps with your template.
If this beh

[2021-03-23 18:14] stealthHat commented on #6822
it not work, im not able to access any url now, am i missing something? the dns on route53 is fine and the nlb is internet facing

[2021-03-24 04:01] #6950 closed

[2021-03-24 07:57] vdksystem opened #6986 "Auto HTTP/HTTPS for proxy_pass"
In our environment we use Nginx as caching proxy.
Because it's not always clear which protocol to use for proxy_pass (e.g. customer didn't specify that), it would be great to allow 'automatic' protocol based on incoming request scheme.

We prepared small PR with required changes. It's in WIP, because we wanted to have a discussion before spending time on documentation and testing.
https://github.c

[2021-03-24 09:59] AndrewFarley commented on #2924
The "10s" bucket bull crap has bugged me for two long with too many clients that often have APIs that take longer than 10 seconds on average. So, I implemented the one-line fix for this on a fork https://github.com/AndrewFarley/ingress-nginx/tree/added-higher-latency-prometheus-metrics.  You can see I've added a 20s, 30s, and 60s bucket.  The diff is...

[code]

 Additionally I've gone ahead and p

[2021-03-24 10:55] vibhas77 commented on #6847
/close

[2021-03-24 14:19] MitchDart commented on #2407
I would like to find out if this was fixed? I have the same issue at the moment. Upstream is not getting my client certificate for gRPC. I tried to go through the PR and it seems like grpc_set_header should automatically work but I can't be sure. Does this mean auth-tls-pass-certificate-to-upstream should just work now?

[2021-03-24 15:16] aSapien commented on #6822
@stealthHat I suggest performing some debugging and/or contacting AWS Support.

I would try the following (no particular order):
- `netcat` to the NLB IPs on the public port.
- `curl` and perform a TLS handshake.
- Spin up a [netshoot](https://github.com/nicolaka/netshoot) pod and connect to the apps via the `nginx-ingress` from within the cluster.
- Increase the `ingress-nginx` log level
- `kubec

[2021-03-24 15:44] SnailDove commented on #6335
@schnell18
I did as you suggested, as following
[code]
But it doesn't work although I have done `docker login`
[code]

[2021-03-24 16:02] wswind commented on #6335
this might help: https://github.com/kubernetes/minikube/issues/10612#issuecomment-785616309

[2021-03-24 16:04] boxjan opened #6988 "port 80 is free, but nginx-ingress-controller say already in use"
**NGINX Ingress controller version**: v0.44.0

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: 2C4G
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-70-generic #78-Ubuntu SMP Fri Mar 19 13:29:52 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: cilium
- **Others**: deploy as Daemon

[2021-03-24 16:19] w3blogfr commented on #2711
@slumbi, you saved my life, I was looking this this morning for this issue.

You're right, when other cookies have some space, it fails

![image](https://user-images.githubusercontent.com/2735852/112344976-e9dd3880-8cc4-11eb-88ed-e34f3348e185.png)

Could we reopen this ticket, or may I can create a new ticket about that issue.

[2021-03-24 17:15] stealthHat commented on #6822
oh never mind, it was bad configuration on ACM, after create a valid certificate it works fine. tks nway for the help.

[2021-03-24 17:30] jbotelho2-bb commented on #6931
I wouldn't mind opening a PR to remove the offending code, as this is a regression within a minor version change, but this was seemingly a deliberate change. I'd be curious to know why: https://github.com/kubernetes/ingress-nginx/blob/b1c8e3047ba31d7ea78f6e0915d187db75230ba5/rootfs/etc/nginx/lua/lua_ingress.lua#L150-L153 was thought to be required for passing performance tests around path-based ro

[2021-03-24 18:24] mmiller1 commented on #6931
Likewise, I'd be happy to fix the issue in the code, I remain hopeful that @aledbf might comment on why this change is necessary. At least to me, It doesn't feel like the ingress controller should be responsible for changing paths that any client might request.

[2021-03-24 18:38] aledbf commented on #6931
@mmiller1 @jbotelho2-bb this change was required to pass the [Ingress conformance test](https://github.com/kubernetes-sigs/ingress-controller-conformance).
The rules were defined in https://github.com/robscott/k8s-enhancements/tree/master/keps/sig-network/1453-ingress-api

[2021-03-24 18:43] aledbf commented on #6931
I tried to remove the behavior from the conformance suite, but it was [denied](https://github.com/kubernetes-sigs/ingress-controller-conformance/pull/83#discussion_r508052434).

[2021-03-24 18:48] mmiller1 commented on #6931
My interpretation of the ingress rules was that it would apply to the location matching defined in the generated nginx configurations, not so much a response to a request that had already matched against said locations. Perhaps a PR with an optional flag to disable this behavior would be accepted? The controller is pretty much unusable to us while this behavior persists.

[2021-03-24 18:51] jbotelho2-bb commented on #6931
That behavior for the conformance suite makes sense, however I don't think this solution is required to satisfy it. It seems that handling of the slash for path routes should be independent of the https redirect; you could redirect as normal, but then handle the matching of the trailing slash in the subsequent https request. I don't see anything in the tests that explicitly covers how to handle sl

[2021-03-24 19:59] JihadMotii-REISys commented on #6758
@manuasir were you able to find a solution for this issue? I'm facing the same issue as you have described.

I don't want to open another ticket since this ticket is still open and it is related to my current issue as well.

Here is my current configuration `value.yaml`
[code]

@aledbf any guidance would much appreciate it.

[2021-03-24 22:51] gurdeepsira opened #6989 "Specifying custom ciphers via Helm 3"
Hi,
I am using NGINX ingress with Helm. I want to specify custom ciphers but I can't quite understand how to. Is there an example anywhere?

Thanks

[2021-03-24 23:36] sim1 commented on #4760
/remove-lifecycle rotten

[2021-03-25 09:18] kundan2707 commented on #6969
/assign

[2021-03-25 12:33] randysimplist commented on #5970
I'm experiencing that same issue. `compute-full-forwarded-for` has no effect whatsoever and the `X-Original-Forwarded-For` header still remains.

[2021-03-25 14:31] zr-msft opened #6991 "Separate registry and repository values for images in values.yaml"
I thought it would make sense to separate out the registry and repository values in the `values.yaml` for the images deployed in this chart. This allows you to mirror your own versions of the images and avoid issues like: #6666

My idea would be to implement something like this:
https://github.com/kubernetes/ingress-nginx/compare/master...zr-msft:separate-registry-repo

If a user wanted to mirror/

[2021-03-25 15:38] cdchris12 commented on #6935
OpenSSL released a [security advisory](https://www.openssl.org/news/secadv/20210325.txt) today which affects all versions of OpenSSL before 1.1.1k (this helm chart uses OpenSSL version `openssl-1.1.1i-r0`) including a high severity vulnerability, CVE-2021-3450.

Just wanted to add another voice requesting we update the version of OpenSSL in use to the most recent version in the Alpine 3.13 package

[2021-03-25 15:48] #6370 closed

[2021-03-25 16:13] schmitch commented on #6935
@aledbf I know you stepped down, but I've seen that you still make the helm releases, would it be possible to update the nginx image `k8s.gcr.io/ingress-nginx/controller:v0.44.0` and release it? is probably only an docker image update.

btw. which person is know maintaining and releasing knew helm charts/images for this repository?

[2021-03-25 16:16] aledbf commented on #6935
I am not involved in the release of the helm chart (the github workflow is configured with a personal token)

[2021-03-25 16:19] aledbf commented on #6935
While someone works to fix the issue, the easy way to do that is to extend the ingress-nginx and update the packages

[code]

[2021-03-25 17:55] batodev commented on #6871
Hi @eliabayev,
no I don't. Fortunately it's not a blocking issue for my team.

[2021-03-26 02:24] tiendungitd commented on #5176
Hi @aneurinprice
did you fix the issue yet?
Thanks.

[2021-03-26 03:05] wenhuwang commented on #6482
The following ingress can reproduce this issues.
[code]
the secret is the default secret under each namespaces.

[2021-03-26 05:29] terorie commented on #6935
FYI, NGINX is not affected by CVE-2021-3449 (the DoS bug). It uses hardened TLS config that disables TLSv1.2 renegotiation. That decision certainly saved a lot of ingress-nginx users from crashes :)

[2021-03-26 05:47] DmitriyMurzin commented on #6430
I think this is a desirable option, so a separate parameter in values was the best solution for me.
I am currently using the bitnami chart, with the option:

` defaultBackendService: "default / maintance" `

[2021-03-26 16:03] randysimplist commented on #5970
/remove-lifecycle stale

[2021-03-26 21:29] panho66 opened #6996 "AWS NLB health proxy protocol broken header"
I have AWS NLB with one target group TLS port 443 forward to EC2 running Nginx reverse proxy. The NLB target group has Proxy protocol v2 enabled. I also enable proxy protocol support in Nginx and everything work. I could browser application via NLB.

However, I found that Nginx has error message in log fie

2021/03/25 00:50:06 [error] 36#36: *225344 broken header: "" while reading PROXY protocol,

[2021-03-27 19:37] msschl commented on #6297
/remove-lifecycle stale

[2021-03-27 22:54] francescov1 commented on #4760
When can we expect HTTP3 to be supported? Is there any changes in configuration that will need to be made, or will it simply require upgrading versions?

[2021-03-29 07:49] stevenkitter opened #6997 "How to add new line to nginx config file mime.types"
I wan to add `application/vnd.android.package-archive     apk; ` to mime.types file.
how can i do?

[2021-03-29 16:40] smartaquarius10 opened #6998 "How to setup round robin and ewma using ingress routes?"
Team,

I have 2 different services between which need to load balance the traffic. I can't make any update in config map as it will impact whole cluster as per my understanding.

Could anyone please share one sample each of ingress routes for managing two different services with
1. round robin
2. ewma annotation

I'm pretty sure this structure of ingress route is not going to work in any of the me

[2021-03-29 16:47] apetrovYa commented on #6935
@aledbf This workaround works at compile time but not at run-time :(

[2021-03-29 17:03] cdchris12 commented on #6935
We've just tested a version of this on our test cluster and things appear to be working as expected for us. You can find our built image on DockerHub as `amazeeio/ingress-nginx:v0.44.0-CVE-2021-3449-patched@sha256:509b0488a2e0ab906f78f6b5bc2ebc890cae0bfaa097b7bcc40d040f4d8cc71b`.

Can you possibly elaborate on what didn't work for you at container run-time with this approach?

[2021-03-29 17:22] apetrovYa commented on #6935
On Docker Desktop for Mac this workaround does not work at run-time. The referenced package is still `OpenSSL 1.1.1g  21 Apr 2020`.

[2021-03-29 17:27] cdchris12 commented on #6935
Hmmm... Our test cluster using this image is correctly showing the updated OpenSSL version:

[code]

Have you correctly configured the updated repository, tag, and digest in your `values.yaml` file for the helm chart here? https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/values.yaml#L13

[2021-03-29 18:29] jcavalieri commented on #3077
@kushwiz  Were you able to get this working?

I tried
[code]

but it didn't work

[2021-03-29 18:53] apetrovYa commented on #6935
@cdchris12 I found it; my bad.

Indeed I had a local conflict. I just checked it and indeed the workaround works.

[2021-03-29 19:05] NissesSenap commented on #6935
Probably a dumb question but if the workaround works why not create a PR?
Or is it something else that blocks?

[2021-03-29 19:14] schmitch commented on #6935
because there is no new code to update the image? it just needs to be rebuild.

[2021-03-29 19:16] phekmat commented on #6935
I think you were right the first time.

Your PoC repo uses an older version of nginx and I didn't see a worker crash running the ingress-nginx image (with some other slight modifications). See also https://twitter.com/FiloSottile/status/1376517876883075074

[2021-03-30 04:41] NissesSenap commented on #6935
@schmitch why not update the image tag, push it to the container repo and cut a new helm release with the new tag?
Isn't the whole point with a community that we should give new commers the easiest way possible to be secure by default?
Now it is, hey download this image, know about this issue, build your own image, push it some where and update your helm chart...

[2021-03-30 06:20] aiyijing opened #7002 "ingress-nginx: panic cannot statfs cgroup root"
here will panic when /sys/fs/cgroups dir not found.
https://github.com/kubernetes/ingress-nginx/blob/d4b3c126745879695524c6a3449e2b1625526ed8/internal/ingress/controller/config/config.go#L829

reason：
ingress-nginx relies on a third party package： https://github.com/opencontainers/runc
This function causes an exception
[code]

So，I think ingress nginx should catch this panic and return a default v

[2021-03-30 07:02] s-spindler commented on #2412
We're facing the same problem as @kwaazaar
@a-robinson Can you tell us whether this is by design and reopen the issue if not?

[2021-03-30 07:06] mrkwtz commented on #6935
@NissesSenap  I guess @schmitch point was, that there is no need to introduce a new version of the controller because a rebuild of the current one should be sufficient to fix the openssl vuln. That shouldn't be such a big issue, but unfortunately I'm not familiar with the build process.

@aledbf any updates?

[2021-03-30 08:48] dprateek1991 commented on #4799
I would like to appreciate @aledbf for the solution here. I have been facing 504 Gateway Timeout and 502 Bad Gateway errors on my services (Apache Spark History Server and another standalone service for Spark). Both the services were running on 0.0.0.0:18080 and 0.0.0.0:8080 respectively within the container/ pod and it took me a week to find this setting.

Adding this setting in deployment of bot

[2021-03-30 17:17] davidazael commented on #6996
I believe this might help you:

https://stackoverflow.com/questions/33620183/nginx-broken-header-with-proxy-protocol-and-elb

[2021-03-30 17:45] Kullu14 commented on #4760
I am also looking for HTTP3 support in openresty. Is it supported yet ?

[2021-03-30 19:03] bboychev commented on #5401
Probably:

[code]

[2021-03-30 19:06] sravanpatro opened #7004 "Query for new Image remidiating several openssl CVE's"
/triage support
There is no new Image version of nginx-ingress-controller released since Feb 04th 2021. This Image nginx-ingress-controller:0.44.0 has various CVE's reported with due dates on them approaching very soon. Vulnerability Report  given below for your reference. I tried asking for an update couple of times in # ingress-nginx slack channel but no response.
Can someone please help/update

[2021-03-30 21:08] willysamz commented on #7004
We are also needing to address these CVE's or we will be forced to rebuild ourselves. The updated components are available in the current base image Alpine 3.13, only a rebuild is necessary. Thank you for creating this issue @sravanpatro

[2021-03-30 21:35] degibenz commented on #6335
I have reproduced the same problem from Yandex-cloud network (VPN and VPC)

[2021-03-31 08:05] dominiquemongelli opened #7005 "Security Vulnerability CVE-2021-28831 on busybox"
**NGINX Ingress controller version**:
controller v0.43.0
controller v0.44.0

**Environment**:
Docker image k8s.gcr.io/ingress-nginx/controller

**What happened**:

Our security tool scanned the  k8s.gcr.io/ingress-nginx/controller docker image and found the following CVE: https://nvd.nist.gov/vuln/detail/CVE-2021-28831.

/kind bug

[2021-03-31 12:05] jcbagtas commented on #6506
Same experience here.

Somehow I can fix the issue whenever I install curl and exec a ```curl localhost``` command inside the pod

here is my simple deployment file:

[code]

ran ```kubectl apply -f deployment.yaml```

Then

```curl -vvv -I http://$SERVICE_IP:80```

Got

[code]

Then I tried to curl localhost from the inside:

(installed curl first)
``` kubectl exec hello-world-pod -- apk add --no

[2021-03-31 12:52] jainhitesh9998 opened #7006 "Deploying ingress controller on eks fargate (private cluster)"
nginx ingress deploys very easily on eks managed node cluster, but while deploying on a private fargate cluster i'm getting the following error  i deployed the nginx ingress controller in fargate with AllowPriviligeEscalation as False.

[code]

[2021-03-31 13:38] TBBle commented on #7006
Answered this at https://github.com/kubernetes/ingress-nginx/issues/4888#issuecomment-811074028

[2021-03-31 14:57] #6977 closed

[2021-03-31 22:29] manuasir commented on #6758
We were not able to solve this yet.

[2021-04-01 02:24] alfianabdi commented on #6896
@ReillyTevera

Thanks, finally got it, somehow does not work in arm64 node.
Here what I got from backtrace

[code]

[2021-04-01 06:43] jainhitesh9998 commented on #7006
So Basically Ingress Controller won't work on fargate with all feature set

[2021-04-01 09:27] TBBle commented on #7006
Yeah, on Fargate you won't be able to use the TCP/UDP forwarding feature for ports below 1024. All other features (i.e. http/https on any port, and TCP/UDP forwarding on ports above 1024) should work with `AllowPriviligeEscalation` and appropriate other configuration changes.

[2021-04-01 09:28] TBBle commented on #7006
That said, I'm not sure why you'd use Ingress for TCP/UDP forwarding, if you're on AWS, you can use NLB-IP with Fargate for exposing TCP/UDP services from your cluster instead.

[2021-04-01 10:56] wahammed commented on #6965
Any updates on this?

[2021-04-01 13:57] mgudesblatart commented on #6965
@wahammed we had something similar happen in our prod cluster. Have you verified that your upstream containers are properly handling connections?

We had nginx servers handling serving our frontend code, and they repeatedly were failing. We didn't realize this until we ensured that all logs were being read by GKE logger and that we could see that the servers were shutting down intermittently.

I a

[2021-04-01 14:47] drkhosla opened #7008 "Cannot create an external load balancer with mix protocols"
I am running kubernetes version
[code]
and helm version

[code]
I just pull ingress-nginx/ingress-nginx 3.26.0 a latest vesion.

I wanted to forward traffic to an UDP log service.  As we already running kube-system/kube-dns, for a test I just set udp service key to kube-dns.

[code]
I get a following error

`Error: Service "ingress-test-ingress-nginx-controller" is invalid: spec.ports: Invalid val

[2021-04-01 19:12] ReillyTevera commented on #6896
@alfianabdi That's the same stacktrace I posted in my original comment and unfortunately it doesn't give us (or the ingress-nginx maintainers) any new information to help debug the issue. It *does* confirm that you are experiencing the same issue as I was at least (and presumably the same as the rest of the people in this issue even though they haven't posted backtraces to confirm).

I just checke

[2021-04-01 19:16] ReillyTevera commented on #6896
Pinging the following (mentioned in the owners file) for visibility.
* @bowei
* @ElvinEfendi
* @cmluciano

[2021-04-01 20:59] nhayes1031 opened #7009 "UDP service being exposed on a TCP port."
### Problem
I am trying to use UDP to access a pod that is deployed on a kubernetes cluster (v1.20.5) running in Minikube (v1.18.1). The problem is that a  `netstat -an` shows the service as being exposed on a TCP port instead of a UDP port.
[code]
**QUESTION:** Am I misunderstanding how my service is suppose to be exposed?

### Steps to Reproduce
1. Create a deployment with the following yaml

[c

[2021-04-01 22:38] #5870 closed

[2021-04-02 02:43] u8sand opened #7010 "Case *sensitive* path matching"
It would be nice to have an option to enable case sensitive path matching as opposed to case insensitive path matching, perhaps globally. In-fact, the current kubernetes spec (and indeed since v1.18) seems to suggest "Prefix" path type would be case **sensitive**.

From: https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types

Very explicitly:

An ingress with the path: `/MyWeb

[2021-04-02 12:22] drkhosla commented on #7008
I am able to resolve this problem. Actaully Mix protocol load balancing feature is added to latest Kubernetes.  I upgraded Kubernetes to latest 1.20.5 using command

[code]
After upgrade, I added feature gate argument `--feature-gates=MixedProtocolLBService=true` just before image line to kube-apiserver command in kube-apiserver manifest yaml file @ /etc/kubernetes/manifests/kube-apiserver.yaml.

[2021-04-02 12:22] #7008 closed

[2021-04-02 13:53] #6416 closed

[2021-04-02 16:13] vakarthik opened #7011 "Conflict with metallb"
I have both nginx-ingress (nodeport) and metallb running in a k3s cluster. I have set it up like nginx-ingress controls all my local network ingress and metallb assigns static IP to my public facing pods. The static IP pods are used as backend in haproxy.

Metallb config

[code]

The errors i see when i use the following command
`kubetail -l component=speaker -n metallb-system | grep "assigned IP

[2021-04-02 23:02] rdp commented on #3556
For followers I once got this message downloading a file from one computer but not another, on the same network.  Hunch/suspicion: anti virus or somehow corporate something or other got in the way...

[2021-04-03 01:50] rikatz commented on #6932
This is not related with Ingress NGINX, but with the versions you are using in kubernetes. The apimachinery does automatic conversion depending on which version you are.

If you issue a kubectl versions command, you will see probably you are using an old kubernetes version that does not default yet the ingress object to the new api.

I will close this issue, but feel free to re-open or comment if

[2021-04-03 01:50] #6932 closed

[2021-04-03 02:11] rikatz commented on #7011
Hello,

it seems you have an issue with metallb and k3s, not ingress.

Ingress does not touch the service, the workflow here is:

* you ask a service of type load balancer
* Metallb controller assigns an ip from pool
* Speakers configure this ip on public interface, and forward packets to them to the backed service

In your case, even by the logs, the error is because of a service called joplin/jo

[2021-04-03 02:11] #7011 closed

[2021-04-03 02:12] rikatz commented on #7006
As this is answered I’ll close the issue ;)

@TBBle thanks for your help on this!
/close

[2021-04-03 02:12] #7006 closed

[2021-04-03 02:14] juliohm1978 commented on #3717
I'd also like to see this resolved.

I managed to workaround by using `nginx.ingress.kubernetes.io/upstream-hash-by` in the canary ingress.

[code]

I'm also running across multiple examples online using `nginx.ingress.kubernetes.io/upstream-hash-by: "$arg_predictorid"`. Which begs the question, what exactly does `$arg_predictorid` mean here? I guess `$remote_addr` might be acceptable in general,

[2021-04-03 04:45] longwuyuan commented on #7009
This can be discussed at length but maybe you can help clarify the following. Please try to get very very specific with commands and outputs for each info listed below ;
- Why are you creating a service of type LoadBalancer without creating a ingress object AND reporting it as a issue in THIS github repo for the ingress-nginx-controller ?

[2021-04-03 05:18] longwuyuan commented on #6998
This is documented already and you should have done the research. Then you should have tried the annotations so that you get data related to round-robin or the ewma, configured per ingress instead of all ingresses.This is what I found ;

(1) This page shows the annotation  "nginx.ingress.kubernetes.io/load-balance"
https://github.com/kubernetes/ingress-nginx/blob/nginx-0.21.0/docs/user-guide/nginx

[2021-04-03 05:24] nhayes1031 commented on #7009
From those two questions it sounds like I made a blunder.

My understanding of what I am trying to do is as such; I want the ingress nginx controller to expose a route to a UDP service that talks to one of my containers.

To answer your first question, the reason I am not creating an ingress object is because I read in this [documentation](https://kubernetes.github.io/ingress-nginx/user-guide/expo

[2021-04-03 05:38] longwuyuan commented on #7009
Not sure of blunders or otherwise.

Its rather simple. There are 2 possible descriptions of this problem;
(1) Either you use a service type LoadBalancer
(2) Or you configure the ingress-nginx-controller for a UDP traffic as per documentation and example https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/#exposing-tcp-and-udp-services

If you describe as (1) above then

[2021-04-03 05:45] guanzo commented on #5548
I'm confused about whether to set nginx keepalive_timeout higher or lower than the AWS LB.

[Nginx ingress docs](https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb)

[AWS ELB docs](https://aws.amazon.com/premiumsupport/knowledge-center/apache-backend-elb/)

So nginx docs say to keep nginx keepalive LOWER than AWS LB. AWS docs say to keep nginx keepalive HIGHER than AWS LB

[2021-04-03 05:57] nhayes1031 commented on #7009
In the documentation, the service that they create in the example is a LoadBalancer that exposes port 9000. I'm confused as to why the ingress-nginx-controller would not be used if I am using a LoadBalancer service when that is what the documentation shows. I thought that the ingress-nginx-controller uses the configured udp-configmap to expose the specified routes. It seems to me that the ingress-

[2021-04-03 12:54] wahammed commented on #6965
Thanks for you reply and suggestion @mgudesblatart .

My upstream is fine since I'm running only one pod per service. Also, the upstream is the same service or pod which is failing during this request.

And in the request I'm making a POST call with a simple json body. It has just few Keys.