[2016-11-10 18:40] bprashanth opened #2 "Figure out documentation layout"
We have a chance to improve the way we handle docs/examples since we're moving to a new repo, lets not waste it. Ideas on how we should lay out examples ?
@aledbf @mdelio @justinsb

One idea mentioned was to use https://github.com/apiaryio/api-blueprint/tree/master/examples to handle documentation and testing for cross platform cases https://github.com/kubernetes/contrib/issues/775

[2016-11-10 18:40] bprashanth opened #3 "Move issues and prs over from contrib/ingress"
As the title suggests. See tools like https://github.com/google/github-issue-mover

[2016-11-10 18:46] bprashanth opened #4 "Add presubmit checks"
travis, lint, coverage and anything else we can leech off main or contrib repo. See checks that some other repos under kubernets/ have, eg: https://github.com/kubernetes/minikube or https://github.com/google/cadvisor. Assigning to Manuel since I think he already has something.

[2016-11-10 18:48] bprashanth opened #5 "Add e2e testing"
https://github.com/kubernetes/contrib/issues/1441#issuecomment-256981778

@porridge fyi

[2016-11-10 18:52] bprashanth opened #6 "Port contrib/ingress"
We need to work to get this repo on par with the others in kubernetes/:

1. update README in contrib/ingress to point to this repo
2. lift/shift of controllers and vendor code from kubernetes/ingress
3. presubmit checks (https://github.com/kubernetes/ingress/issues/4)
4. figure out docs and examples (https://github.com/kubernetes/ingress/issues/2)
5. moving issues/prs (https://github.com/kubernete

[2016-11-10 19:35] aledbf commented on #2
Using https://apiblueprint.org/ is possible to express one or more test cases just using markdown files. Is possible to extend the recognized tags so is possible to add particular things like all the related to kubernetes. Something like this:
![captura de pantalla 2016-11-08 a las 10 22 18 a m](https://cloud.githubusercontent.com/assets/161571/20191110/f7ec52ae-a762-11e6-8538-f676a8af064e.png)

w

[2016-11-10 19:39] aledbf opened #7 "Ingress controllers should handle edge cases uniformly x-platform"
_From @aledbf on April 13, 2016 18:26_

#### Ideas:
- [ ] root URL (mapping to a different url in the upstream)
  - [ ] global per controlller `—root-url`
  - [ ] per Ingress rule using an annotation `root-url`. This means the ingress only contains one rule
- [ ] upstreams to external resources (like /google proxy to http://www.google.cl)

[code]
- [X] rules that overlap (firt rule wins, event wit

[2016-11-10 19:40] aledbf opened #8 "Nginx Ingress Controller - Secure default backend and/or support for wildcards?"
_From @alanhartless on April 18, 2016 23:56_

Currently it's not possible to support wildcard subdomains for the Nginx ingress controller due to Kubernetes Ingress resources only allowing a legitimate domain for host. In the scenario that a wildcard domain SSL cert needs to be used for a lot of subdomains (think SaaS with custom subdomain names), it's a bit overkill to list every subdomain.

I tho

[2016-11-10 19:40] aledbf commented on #8
_From @bprashanth on April 22, 2016 5:11_

This is valid:
https://github.com/kelseyhightower/talks/blob/master/kubecon-eu-2016/demo/ingress/ghost.yaml#L12
You can also specify a list of hosts, and a wildcard cert, or just a list of hosts without a cert for something like SNI.

So I guess the request is that we allow wildcard matches in the host field of the ingress *rules*?

This is the specce'd b

[2016-11-10 19:40] aledbf commented on #8
_From @alanhartless on May 6, 2016 5:2_

@bprashanth Sorry for the long delay in replying!

`So I guess the request is that we allow wildcard matches in the host field of the ingress rules?`

That's exactly what I'm looking for. If I could define a wildcard host in the ingress rules that would result in  a nginx config similar to the following, no hack would be needed:

[code]

[2016-11-10 19:40] aledbf commented on #8
@alanhartless using `server_name *.example.com;` means only the first matched server (in the generated nginx.conf) will route traffic to the service, the rest is not going to be reachable. That's why you need to specify the host.

[2016-11-10 20:15] bprashanth opened #9 "Figure out examples"
We need to consolidate our examples. There are a few common scenarios *everyone* wants to achieve at l7, and we should surface how to do that either natively all with 1 controller, or by stacking controllers (eg: gce -> nginx).

I'm using this issue to build a list of common cases we need to provide full examples/documentation for

[code]

Ideally each example would have a section for on-prem,gce,

[2016-11-10 20:15] bprashanth commented on #2
Can you stand up a POC in your repo?

[2016-11-10 23:04] aledbf opened #13 "Enable kubernetes/ingress in travis-ci"

[2016-11-10 23:15] bprashanth commented on #13
@grodrigues3 I can see https://travis-ci.org/profile/kubernetes, but I can't enable kubernets/ingress. Can you?

[2016-11-10 23:17] grodrigues3 commented on #13
@bprashanth did that work?

[2016-11-10 23:32] aledbf commented on #13
@grodrigues3 it's working now. Thanks!

[2016-11-10 23:32] #13 closed

[2016-11-11 03:23] aledbf commented on #5
https://github.com/kubernetes/ingress/pull/12 adds initial e2e structure in directories `hack` and `test`.

[2016-11-15 17:42] aledbf opened #16 "Change default action for authentication annotation"
If the Ingress contains an auth rule block all the traffic until the requirements are met (for instance an inexistent secret)

[2016-11-16 06:46] sandys opened #17 "Documentation: setting up ingress on metal with the right, secure CNI configuration"
Based on a conversation with @beeps on slack.

the BIGGEST problem with ingress is that the common assumption is "you will use google cloud or AWS ELB". There is exactly zero information on how to use ingress on metal. What is a production configuration ? do the ingress controllers sit on another node, etc. This is EXTREMELY confusing because if you do L4 routing.. then there is a dependence on co

[2016-11-16 12:59] sandys commented on #17
as a followup - some people are running ingress as daemonsets. Not sure if that is one of the recommendations - would still like to see how the networking, security, etc configuration needs to be setup

[2016-11-17 20:10] nordri commented on #17
I found this that works for me:https://medium.com/@rothgar/exposing-services-using-ingress-with-on-prem-kubernetes-clusters-f413d87b6d34#.4ifqsb8ge

[2016-11-18 18:54] bprashanth opened #18 "Audit backend interface for cross platform compatibility"
I haven't had the time to prototype enough loadbalancer backends (eg: envoy, h2o, cloudprovider) with the generic_controller's interface. Currently it's pretty minimalistic, and captured in this commit: https://github.com/kubernetes/ingress/pull/15/commits/f908fb94bc073b88798f68b9600748957dc188ae

Tl;dr is an interface:
[code]
and the `Configuration` type
[code]

We need to attack this from 2 angl

[2016-11-18 18:59] aledbf commented on #18
@bprashanth  in the location you also get information about the annotations (for instance `ExternalAuth`)

[2016-11-18 22:35] bprashanth opened #19 "Point gce ingress health checks at the node for onlylocal services"
We now have a new beta annotation on Services, `external-traffic` (http://kubernetes.io/docs/user-guide/load-balancer/#loss-of-client-source-ip-for-external-traffic). With this annotation set to `onlyLocal` `NodePort` Services only proxy to local endpoints. If there are no local endpoints, iptables is configured to drop packets. Currently sticking an `onlyLocal` Service behind an Ingress works, bu

[2016-11-20 12:49] sandys commented on #17
@nordri there are other questions - should an ingress be scaled with a loadbalancer in front ? or is ingress treated as a loadbalancer itself.

would you create a daemonset of ingresses?

Remember that there is no working loadbalancer on metal (integrated into k8s unlike other cloud providers)

[2016-11-21 13:19] pleshakov opened #20 "Same host in multiple Ingress resources"
What is the correct behavior for Ingress controllers for the case when the same host is defined in multiple Ingress resources incuding resources from different namespaces?

Thx

[2016-11-21 14:02] eparis commented on #20
OpenShift routes use 'first created'

But that has proven to be very difficult to maintain. A true reservation system with some sort of claims would likely have been a better idea...

[2016-11-21 14:12] aledbf commented on #20
If the user do not specify a namespace nginx ingress from (contrib) use 'first created'. In case of collisions an event is emitted.

This issue propose exactly that https://github.com/kubernetes/kubernetes/issues/30151

[2016-11-21 17:19] rothgar commented on #17
I'm the author of the post above and I can clarify at least how I run it.

My ingress controller is a daemonset on all my worker nodes. I have a hardware loadbalancer with a VIP that routes traffic to the ingress controllers (:80 and :443). In this setup I have redundant loadbalancers (layer 4) in front of ingress controllers that also act as layer 7 load balancers.

The problems with this setup I

[2016-11-21 17:22] sandys commented on #17
@rothgar I think bare metal needs very specific attention as well, so do many others.. can you chime in? https://groups.google.com/forum/m/#!topic/kubernetes-dev/ztVnvbrpTK8

hopefully (if nothing else), we can probably have a Traefik/haproxy setup in k8s

[2016-11-24 01:38] bprashanth commented on #17
We should make the nginx controller work well on bare metal: https://github.com/kubernetes/ingress/tree/master/controllers/nginx, we're still transferring/rewriting the docs from contrib but these steps should basically work https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#deployment and loadbalance straight to endpoints. If you try it, please report where it doesn't.

I

[2016-11-24 01:39] bprashanth commented on #17
And it should do tcp https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#exposing-tcp-services

[2016-11-24 03:19] sandys commented on #17
https://github.com/kubernetes/contrib/tree/master/keepalived-vip, thought
that's similar to just using clusterIP + a nodePort service

what happens at scale? do you have a scaled deployment of ingress or do you
do  a daemonset?

if you do either how do you avoid a loadbalancer... its not clear to me how
a clusterip deals with a deployment of 3 ingress controllers.

On Nov 24, 2016 07:09, "Prashant

[2016-11-24 08:11] bprashanth commented on #17
This is a systems problem, not really specific to ingress, though I agree we can document the options better. The treadoffs are the same as when to use a daemonset vs a deployment.

Get traffic to the controller, the controller applies routing rules.

If your cluster needs a bank of loadbalancers, use a deployment, the clusterip will send traffic to one of them, which applies the algorithm and rou

[2016-11-24 08:16] sandys commented on #17
hi Prashanth
actually i did not know there was even a feature called clusterip that can
loadbalance across a scaled deployment of ingress (and avoid the need to
muck about keepalived/traefik) ... and i have discussed this a LOT on
slack.

is there a place where i can take a look at such a setup?

On Nov 24, 2016 13:41, "Prashanth B" <notifications@github.com> wrote:

This is a systems problem, not

[2016-11-24 14:49] aledbf commented on #17
Using keepalived you can choose the load balancing algorithm for instance or weight

what do you mean by "at scale"?
As a comment the commercial version of nginx suggest keepalived (the software keepalived-vip wraps) as the solution for HA (in baremetal) https://www.nginx.com/resources/admin-guide/nginx-ha-keepalived/

[2016-11-24 15:11] sandys commented on #17
@aledbf well im not second guessing keepalived.. im just asking for a recommended way on metal. one way is keepalived, another case is hostport with ingress daemonset... today i learned about clusterip (dont know if that is a good alternative to keepalived).

[2016-11-24 17:59] nordri commented on #17
I just wonder why @rothgar need an ingress controller for each node.
I'm using Flannel as network overlay so I just need an ingress that routes the traffic to the appropriate node.

[2016-11-24 18:06] bprashanth commented on #17
clusterip is just the ip each kubernetes Services gets: http://kubernetes.io/docs/user-guide/services/#choosing-your-own-ip-address, currently it only supports rr or ip based affinity. It's the easiest way to get an intra-cluster vip in kube. The ingress documentation is *not* the place to explain how clusterIP, though there should probably be a section comparing keepalive with clusterIP.

Flannel

[2016-11-25 11:39] mqliang opened #23 "Bare-metal Ingress HA using keepalived"
bare-metal ingress is not HA. Our team implement a keepalived-vip side car container for Ingress. Which could be deployed with ingress-controller container to provide HA.  For example, first create a Ingress Replicaset with the keep-alived-vip side car:
[code]

Then create a Service named "ingress" pointing to the Ingress ReplicaSet, and assign a vip to the service using annotation.

[code]

keepa

[2016-11-25 11:41] porridge opened #24 "TestFileWatcher fails with a data race"
[code]

Surely I must be doing something wrong, but filing this to track, just in case.

[2016-11-25 11:49] mqliang commented on #23
We'd like contribute the keepalived-vip side car to community. Is here the right place? @bprashanth

[2016-11-25 13:00] porridge commented on #3
Issues sound straightforward (once we have a list of all that apply).
However PRs refer to commits, which are against a different directory hierarchy... @bprashanth do you think we should try to rewrite them?

[2016-11-25 13:08] aledbf commented on #23
@mqliang what's the difference with https://github.com/kubernetes/contrib/tree/master/keepalived-vip?

[2016-11-25 13:18] aledbf opened #27 "Remove hardcoded health check from GenericController"
Each backend must return the URL to use

[2016-11-25 15:58] mqliang commented on #23
@aledbf The idea is same: using keepalived for HA. The difference is :

 * IIUC, https://github.com/kubernetes/contrib/tree/master/keepalived-vip aims at: provide HA for NodePort type service, deployed as DaemonSet

 * my keepalived  side car aims at: provide HA for Ingress-controller on bare-metal, deployed as a side-car with the ingress-container (in the same Pod).

[2016-11-25 16:08] aledbf commented on #23
that's not true. It will expose any service type and daemonset is not a requirement.

I think this should not run as a sidecar because you are coupling the keepalived to the controller

[2016-11-25 16:47] mqliang commented on #23
IIUC, https://github.com/kubernetes/contrib/tree/master/keepalived-vip approache: put a HA IPVS cluster at the front of Ingress? So, request need first reach the keepalived-vip pod, then the keepalived-vip pod forward the request to the ingress-controller pod?

[2016-11-25 17:00] aledbf commented on #24
fixed in #25

[2016-11-25 17:00] #24 closed

[2016-11-25 17:01] mqliang commented on #23
and my approache is: put the keepalived-vip container as a side car, together with ingress-controller container, in one pod. And the pod are runnning using hostNetwork. So the Ingress controller Pod itself is HA. This also prevent the double hop.

Another reason I want run keepalived-vip container as a sidecar is: it dramatically simplify Ingress creation and deployment, since in this way the Ingr

[2016-11-25 17:08] mqliang commented on #23
@aledbf

IIUC, running a NodePort type Service over the ingress controller(s) and use [keepalived-vip](https://github.com/kubernetes/contrib/tree/master/keepalived-vip) to provide HA , we need
- create Ingress ReplicaSet
- create a  Service over the Ingress ReplicaSet
- create a [keeplived-vip](https://github.com/kubernetes/contrib/tree/master/keepalived-vip) daemonset to provide HA for the Ingres

[2016-11-25 19:23] aledbf opened #29 "Restart nginx in case of errors in the master process"
https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/nginx.go#L101

[2016-11-25 20:16] SleepyBrett commented on #29
Here is the pod yaml you asked for:

[code]

[2016-11-25 22:42] bprashanth commented on #29
can you expose that as a liveness probe instead, and get the kubelet to do it automatically? I mean, there's no way you're going to detect all errors that might arise at runtime without spinning off a goroutine, and if you do, you're basically re-implementing something we already expose throug the api

[2016-11-26 03:44] bprashanth commented on #3
I think just issues are fine actually. By "move prs" I meant ping the original pr saying we aren't accepting ingress code in contrib anymore and close it with a pointer to this repo. Before we do that we should probably write a doc on how we expect people to integrate with the generic controller, because some prs in contrib are submitting a custom ingress controller, which right now should just be

[2016-11-26 06:11] rothgar commented on #17
@nordri I use ingress controller per node because I have a hardware load balancer routing to all of my worker nodes on :80 and :443. This gives me a stable IP address to route all my services (the same you get with keepalive and anyip) If you only have 1 ingress controller and you lose the node the ingress controller is running on you would need to change DNS aliases for services you're routing. Y

[2016-11-26 08:07] sandys commented on #17
@bprashanth thanks for the explanation. yes - it would be my request to add some information about using clusterip with ingress. that would be really useful - i would like to reiterate that this is the first time im even hearing about this possibility despite discussing this on slack several times.

ingress documentation should also have deployment patterns. with all due respect perhaps a lot of p

[2016-11-26 22:00] bprashanth opened #30 "Consider formalizing generic controller interface over grpc"
This is the direction we took with container runtimes (https://github.com/kubernetes/kubernetes/blob/master/docs/devel/container-runtime-interface.md). The steps to writing a backend would boil down to:

* produce a container that understands grpc over eg: unix socket
* run a single pod with the generic_controller and this container using the shared socket
* pay attention to api breaking changes b

[2016-11-26 22:08] bprashanth commented on #30
@aledbf @porridge fyi, don't know if this is the right direction, but it's something to consider especially since we haven't discussed how an intra-cluster service proxy integrates with ingress (https://groups.google.com/d/msg/kubernetes-sig-network/weni52UMrI8/e0oO86vGBAAJ)

[2016-11-28 10:15] porridge commented on #3
OK, you can assign this one to me, then.

[2016-11-28 23:42] euank opened #35 "Tag 0.11 not found in repository gcr.io/google_containers/nginx-slim"
PR #15 updated the `controllers/nginx/rootfs/Dockerfile`'s FROM to indicate a tag that either doesn't exist or is not public.

That breaks the `container` make target for nginx.

The `0.10` tag is available/public; presumably not publishing `0.11` was just an oversight.

cc @aledbf

[2016-11-29 01:31] aledbf commented on #35
@bprashanth please merge and publish https://github.com/kubernetes/contrib/pull/1936

[2016-11-29 13:57] aledbf commented on #3
@porridge this is the list of issues to move
[code]

[2016-11-29 13:58] aledbf commented on #3
before that :) we need to publish the examples and the configuration guide that was removed

[2016-11-29 14:04] porridge commented on #3
Two questions about timing:

1) Do you think we should couple PR and issue move? I.e. wait with moving
issues until we're ready to also close PRs in contrib/?

2) Also, unless github.com/kubernetes/contrib/ingress/ gets deleted really
soon after the above move, we'll keep getting new issues and PRs in
contrib/ - so would you rather do another followup move later, or delay the
move until contrib/in

[2016-11-29 14:23] aledbf commented on #3
@porridge I think we need to restore the docs first.
After that move the issues (some can be closed but I don't have privileges in contrib) and then the PRs
Until we release a new version of the nginx ingress controller from this repository we cannot remove the code and docs from contrib (after the release is possible to open a PR that removes all the ingress code and just leave a README.md with i

[2016-11-29 16:42] bprashanth commented on #9
start filling in this table: https://github.com/kubernetes/ingress/tree/master/docs/examples
Create a folder in docs/example named after the name column, add the example in there, embed the link to the name column of the table

[2016-11-29 16:42] bprashanth commented on #3
We also can't delete the contrib repo because it's linked from older relese documentation on k8s.io, suggest keeping it around for a while with a big notice in the readme linking to this repo.

Re examples, we should start doing this https://github.com/kubernetes/ingress/issues/9#issuecomment-263624920

[2016-11-29 17:06] aledbf commented on #35
@euank the image is available now

[2016-11-29 17:06] #35 closed

[2016-11-29 17:11] #27 closed

[2016-11-30 09:31] aledbf commented on #29
fixed in #31

[2016-11-30 09:31] #29 closed

[2016-11-30 19:57] erie149 opened #37 "Nginx Ingress Controller ConfigMap support for header size"
I was wondering if we can add large_client_header_buffers and client_header_buffer_size to the ConfigMap. We have a JWT that gets passed with information larger than 8K in some cases

[2016-12-01 06:30] abh opened #38 "0.9 release?"
The changelog has 0.9 marked, but the gcr.io repository doesn't have it:

https://console.cloud.google.com/kubernetes/images/tags/nginx-ingress-controller?location=GLOBAL&project=google-containers&pli=1

[2016-12-01 22:39] aledbf opened #39 "Add example using grpc and http2"

[2016-12-02 10:56] porridge commented on #3
@bprashanth regarding the "older release documentation on k8s.io" do you mean it points to contrib/ingress at the tip of master? Can you show examples? If it points at individual files, I guess we need to keep the source. However if it points at the directory in general, then I guess we could just leave around a README with links to two places:
  1. for old code released in <release>, see <link to

[2016-12-02 11:23] porridge commented on #3
Doing all of #9 seems like a major undertaking, so I'd like us to agree here on the minimum that needs to be done in order to unblock this issue.

I think that:
   1. make the configuration guide + examples only as good as they were for contrib/ingress, plus
   2. write a doc on how we expect people to integrate with the generic controller (BTW, does this deserve its own issue?)

should be enough.

[2016-12-02 12:14] aledbf commented on #3
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/README.md
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md

[2016-12-02 21:54] bprashanth commented on #3
I was planning to fill in text for all the READMEs added in this pr https://github.com/kubernetes/ingress/pull/33/files

This basically gives us 3 tasks:
* deleveloper docs: how to write a generic controller and other patterns (ingress controllers that use svc vip, svc DNS, go straight to endpoints; basically stuff that anyone writing a controller should be aware of)
* admin docs: different deploy

[2016-12-02 21:57] bprashanth opened #40 "Developer documentation"
Bare minimum it should document how to write a ingress controller backend (context https://github.com/kubernetes/ingress/issues/3#issuecomment-264572772)

[2016-12-02 21:58] bprashanth opened #41 "Admin documentation"
Discuss various deployment styles and trade-offs (context https://github.com/kubernetes/ingress/issues/3#issuecomment-264572772)

[2016-12-02 22:00] bprashanth commented on #3
we have https://github.com/kubernetes/ingress/issues/9 for examples, filed https://github.com/kubernetes/ingress/issues/40 and
https://github.com/kubernetes/ingress/issues/41 for the other 2. Please feel free to comment and take any of them, I'm also going to start chipping away at the examples.

[2016-12-03 16:06] remoe opened #42 "Nginx Ingress Controller [0.8.3] ConfigMap - Client certificate verification not supported"
I've tried to add client certificate to nginx server config. It is not supported:

https://github.com/kubernetes/contrib/blob/494064ba4e685a3d9432411bcd72dc5d49641316/ingress/controllers/nginx/nginx/config/config.go

nginx-loadbalancer-conf.yaml
[code]

rc.yaml
[code]

after call of:

[code]

I can't see the changes in /etc/nginx/nginx.conf

kube: 1.4.5

[2016-12-03 17:07] remoe opened #43 "Nginx Ingress Controller [0.8.3] stock custom template parse error"
I've tried to put in the original nginx.tmpl as a template. I've got this error:

[code]

ConfigMap created with:
[code]
rc.yaml
[code]

[2016-12-03 17:30] remoe commented on #43
duplicate of https://github.com/kubernetes/contrib/issues/2061

[2016-12-03 17:30] #43 closed

[2016-12-07 17:53] bprashanth opened #45 "Leverage user supplied secrets directly from cloudprovider"
Currently, the only way to get tls certs into a cloudprovider ingress is by creating a Kubernetes secret.
Currently, Kubernetes secrets are not encrypted.

We should allow users to directly create a secret in the cloudprovider and pass it through an annotation on the Ingress. We already do this for `kubernetes.io/ingress.global-static-ip-name`

See https://github.com/kubernetes/contrib/issues/2095

[2016-12-08 18:46] MrHohn opened #48 "Ingress creates wrong firewall rule after `default-http-backend` service was clobbered."
From kubernetes/kubernetes#36546.

During development, found ingress firewall test failed instantly on my cluster. Turned out due to some reasons, the `default-http-backend` service was deleted and recreated, and it was then allocated a different nodePort. Because ingress controller records this nodePort at the beginning but never refresh([ref1](https://github.com/kubernetes/ingress/blob/master/co

[2016-12-09 00:23] bprashanth commented on #48
The assumption is it doesn't change, and it typically shouldn't because it exists in the kube-system namespace, do you remember why it was deleted ? Since it *can* totally get deleted by the user, we should periodically reconciling the default backend.

[2016-12-09 00:36] MrHohn commented on #48
I accidentally deleted all kube-system services while doing experiment on addon manager, not kubernetes's fault.

[2016-12-09 10:28] mrmm commented on #3
Hi @bprashanth @aledbf @porridge, I want to help in this documentation moving from contrib/ TBH it is my first contribution.

[2016-12-09 14:22] azweb76 opened #49 "Simple Fix: Sort Ingress Servers to ensure default is first"
The sort logic is sorting alphabetically which places the default ("_") between servers that start with numbers and servers that start with characters. This is causing the first numeric server to be returned if no servers match SNI.

https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/sort_ingress.go#L57

Add the following:
[code]

[2016-12-10 21:30] ccatlett2000 commented on #16
+1

[2016-12-11 02:40] groob commented on #16
Would it be possible to support an authentication page for 401 errors? Similar to the example here
https://github.com/bitly/oauth2_proxy#configuring-for-use-with-the-nginx-auth_request-directive

[2016-12-11 04:46] groob opened #50 "Ingress only exposes internal node ip"
I tried installing this version of the ingress controller today and noticed that the Address listed was

[code]

Which is the internal node IP.

I made the following change, which resolves the issue for me, but I'm not sure it's the correct fix
[code]

edit: this diff should be reversed I believe. I accidentally switch the `branch..master` order.

[2016-12-11 05:08] groob opened #51 "No resolver when using external auth"
Using the following annotation:
[code]
error log:
[code]

[2016-12-11 05:29] bprashanth commented on #50
The kubernetes node object should have an ExternalIPs field, which i expect we'd be using to populate the status (haven't checked). If we are, then it's wrongfully populated, if we aren't, we should.

https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2236

[2016-12-11 05:32] bprashanth commented on #50
I meant to link to https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L2618
What platform are you on?

[2016-12-11 06:15] groob commented on #50
I'm on GCP, but using the nginx controller.

[2016-12-11 06:18] groob commented on #50
https://github.com/kubernetes/ingress/blob/697cf2d8c352b461447cf1a7f265702d3e6be530/core/pkg/k8s/main.go#L57 uses `NodeExternalIP` but the status does not appear to be populating it.

[2016-12-11 14:26] ccatlett2000 commented on #16
@groob A separate issue might be better for that

[2016-12-11 17:05] bprashanth commented on #50
what does kubectl get no -o yaml | grep -i external -B 10 (or something to that effect) show?

[2016-12-12 15:07] gianrubio opened #53 "Invalid port in upstream"
I figure out an an issue running the master branch. The nginx-ingress mapped an invalid port "0". I have 2 ports (22/80) exposed in this pod, the port 22 was mapped incorrectly.

##  nginx.conf

[code]
## Cmd

[code]
## Pod description

[code]

## Logs
[code]

[2016-12-12 15:11] aledbf commented on #53
@gianrubio please post the Ingress and service yaml

[2016-12-12 15:15] gianrubio commented on #53
@aledbf

## svc.yml
[code]

## Ingress
[code]

[2016-12-13 22:23] bprashanth opened #56 "Clarify port clash failure mode"
If an ingress controller can't start because of port conflict (eg: https://github.com/kubernetes/ingress/pull/54#issuecomment-266880728) it should throw an event and log. This is not an issue if the controller doesn't need a host port (100% cloud-provider).

[2016-12-14 16:19] gianrubio commented on #53
@aledbf I just realised the error. I don't have ingress mapping to this port 22.

[code]

I'm submiting a PR to fix this issue

[2016-12-14 21:49] tamalsaha opened #59 "GLBC ingress: only handle annotated ingress"
Hi,
We are running a HAProxy based ingress in our clusters. But for a few service, we would like to run GLBC ingress. I did not see any way to tell ingress controllers, which Ingress resource they can handle. Can Ingress controllers can only handle ingress that has a specific annotation applied to it (similar to how schedulers do it):

`"ingress.alpha.kubernetes.io/controller": glbc`

Here is a wa

[2016-12-15 03:14] donaldguy opened #60 "hostname+backend should result in catchall path rule"
I'm a k8s beginner

I've experienced some confusion today and yesterday that has been detailed at length in kubernetes/minikube#921 and kubernetes/kubernetes.github.io#1963

I focused my issues there, cause I believe it is more a failure of parity and understanding than a proper bug per se. But to raise the question for the sake of possible reimplementation, spec clarification, what should this ya

[2016-12-15 10:32] porridge commented on #5
FWIW, the `test-e2e` target is broken at the moment.
I don't really understand what is the `git root directory` that the message mentions.
[code]

[2016-12-15 10:58] porridge commented on #3
@mrmm as mentioned in https://github.com/kubernetes/ingress/issues/3#issuecomment-264573969 there are three main areas. Does any one of those feel particularly attractive to you?

[2016-12-15 12:58] porridge commented on #5
FTR, https://github.com/kubernetes/ingress/pull/62 fixes the breakage.

[2016-12-15 14:04] gianrubio opened #63 "unnecessary backend reload"
My backend are constantly reloading, I realised that only the ip order are changed in the templates.

## Logs
[code]

[code]

[2016-12-15 18:19] #63 closed

[2016-12-15 23:59] bprashanth commented on #3
Sorry I meant to comment sooner, I wrote some dev docs on how you can setup a local env, start with those: https://github.com/kubernetes/ingress/tree/master/docs/dev. Report if something doesn't work. Otherwise suggest picking one of the tasks in https://github.com/kubernetes/ingress/tree/master/examples, looking up the corresponding example from contrib/ (https://github.com/kubernetes/contrib/tre

[2016-12-16 00:44] bprashanth commented on #60
No that's fine, it's what you'd think it is, everything send to `example.mycompanywithcorrectdns.com` is forwarded to exampleservice, everything send to say, foo.bar.com is forwarded to --default-backend. See:  https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L613

The most common nginx ingress controller deployment is that 1 nginx greedily satisfying all ingresses

[2016-12-16 00:45] bprashanth commented on #59
such an annotation already exists ("kubernetes.io/ingress.class"), or maybe I'm confused?
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx#running-on-cloudproviders

[2016-12-16 02:57] donaldguy commented on #60
That's not what I experienced, as described in kubernetes/minikube#921

This:
[code]

while (inadvertently) appearing reasonable, does effectively nothing with a greedy nginx controller. In the controller's nginx.conf, it creates a new `server {` blocking that explicitly maps `server_name example.mycompanywithcorrectdns.com` to the ` --default-backend` as `proxy_pass http://upstream-default-backen

[2016-12-16 03:04] bprashanth commented on #60
I was describing desired behavior, if it isn't doing that, it's a bug (unless there's a strong use case for doing what it does today, which I don't see). Please send a pr if you have time, otherwise I'm just going to repurpose this bug and fix it when I have some cycles.

[2016-12-16 08:07] TamalSaha commented on #59
@bprashanth , thanks for the link. I somehow missed the documentation on `kubernetes.io/ingress.class`. But I would still like a flag for both ingress controllers to disable default on mode. If that flag is set, then ingress controller's will not manage Ingress with `kubernetes.io/ingress.class` set to empty string.

[2016-12-16 17:38] bprashanth commented on #59
Yeah that makes sense, I'm guessing you mean --ingress-class=gce only handles ingresses with `kubernetes.io/ingress.class=gce`. Please send a pr if you have time.

[2016-12-16 17:43] groob commented on #50
@bprashanth
I see
[code]

[2016-12-16 17:46] groob commented on #50
I realized the diff I showed in the bug report is reversed. This is the actual change I made to fix my issue:

[code]

[2016-12-16 17:58] aledbf commented on #50
@groob I was fixing an issue with the status address for AWS and I saw this.
I took the liberty to copy your code to also return the correct address

[2016-12-16 18:16] #50 closed

[2016-12-16 21:59] mrmm commented on #3
@porridge @bprashanth  Thanks for your comments, I would like to help with writing detailed  examples.

[2016-12-19 08:32] sigxcpu76 opened #67 "wrong approach in rewrite+add-base-url ?"
Moved this here from contrib.

Maybe I'm getting this wrong, but the base-url should be constructed from matched path instead of rewrite target.

Problem description:

Ingress rule:
[code]

How it works:
[code]

- ```css/test.css``` becomes ```http(s)://some.host/css/test.css``` (ingress rule is not matched anymore)

How it should work:
[code]
- ```css/test.css``` becomes ```http(s)://some.host/p/

[2016-12-20 18:22] bprashanth opened #69 "AWS ingress"
Currently people just stick a Service of Type=LB in front of the nginx ingress on AWS. Apparently, this causes some issues, and an ALB works better (https://github.com/sky-uk/feed/issues/111). Maybe we should actually write an AWS ingress controller that spins up an ALB so people can tier it over the nginx ingress key-ing off `ingress.class=aws/nginx` ?

ref https://github.com/kubernetes/contrib/i

[2016-12-21 00:21] donaldguy commented on #8
Presuming the fear is of shadowing out more specific ingresses, wouldn't it be sufficient to force all wildcard rules to the end of the server templating loop?

To this end, it seems likely that a Boolean field, or even a different key in the Rules map would be preferable to a magic string in the hostname

[2016-12-21 00:26] donaldguy commented on #8
But I share the concern - I want my default backend to be able to serve a sane maintenance page if/when we have removed all ingress rules for a hostname (e.g. To perform a stop-the-world DB migration) and still serve the appropriate wildcard cert to not run afoul of HSTS

I may currently be able (in 0.8.3?) to set a global default cert, but that constrains me to being able to only serve sites from

[2016-12-21 01:54] donaldguy opened #70 "Nginx: support hiding version number (server_tokens off;) ?"
We have a customer whose hired auditors asked us not publish our nginx version in the `Server:` header of our responses. I think this is a little silly but we want to comply

I don't however want to have to switch to using a custom nginx.conf template just for this.

Its a simple boolean and would easily match the existing implementation pattern on configMap / annotations. If I write a PR for this

[2016-12-21 14:02] hsyed opened #71 "Load Balancer (or external) SSL termination and HTTP -> HTTPS redirect support."
We are using AWS ELB's and have SSL termination occur on the ELB's.

The ELB is requisitioned with the following service resource:

[code]

So HTTP and HTTPS (terminated as HTTP)  go to port 80.

An ingress resources need to be TLS enabled for the redirects to work with an ingress controller -- but a valid TLS definition requires setting a certificate and we don't want the ingress controller doing

[2016-12-21 14:28] gianrubio opened #72 "Nginx vts as prometheus metrics"
Currently the nginx endpoint for metrics only support vts metric, that provide html and json metrics.
I figured out a project that export vts metrics to prometheus, now I have all metrics, simply using a sidecar container pointing to vts.  Here's my awesome metrics.

![screen shot 2016-12-21 at 15 21 42](https://cloud.githubusercontent.com/assets/5694860/21392746/a781e8ac-c791-11e6-9453-f8731a59db

[2016-12-21 14:34] aledbf commented on #72
@gianrubio prometheus metrics are already present in master (only for standard nginx, not vts). Please check https://github.com/kubernetes/ingress/pull/36
Maybe you can open a PR to extract the metrics from the vts module?

[2016-12-21 14:52] gianrubio commented on #72
@aledbf you are wright, there's an endpoint for global nginx metrics.
I can do this PR, what dou you think is the better way to do this?

1 - Create another endpoint for metrics
2 - Merge this vts metrics with global
3 - Run a sidecar container extracting vts metrics?

[2016-12-21 16:44] #53 closed

[2016-12-21 16:55] aledbf opened #73 "Setting DNS resolver through ConfigMap doesn't work"
https://github.com/kubernetes/contrib/issues/2193

[2016-12-21 16:56] aledbf opened #74 "Unexpected error if IPv6 addresses are used for DNS"
https://github.com/kubernetes/contrib/issues/2188

[2016-12-21 16:58] aledbf opened #75 "No endoints if service have multiple port mixing number and strings"

[2016-12-21 17:00] pieterlange commented on #69
ALB while very scalable is also still quite limited.

Plain old TCP ELB with proxyprotocol (full handoff to nginx) seems to work fine for me in AWS.

[2016-12-21 17:08] justinsb commented on #69
I'm sure we'll end up supporting ALB eventually.  But ... what are the issues that ALB solves over ELB + ingress?

[2016-12-21 17:21] jsravn commented on #69
ELBs will return 504s occasionally when nginx does a reload. ALBs don't have this problem.

Number of 504s correlates to the load on the ELB - it isn't many (probably less than 1% even under load), but it happens. Even with TCP ELB - you'll just get a reset connection instead.

[2016-12-21 17:38] bprashanth commented on #71
This is useful when tiering loadbalancers, it's also why we have this image: https://github.com/kubernetes/contrib/blob/master/ingress/echoheaders-redirect/nginx.conf (but I guess you want the existing nginx ingress to adopt that config).

I think the general purpose redirect will surface as the outcome of discussion on both https://github.com/kubernetes/kubernetes/issues/28443 and https://groups.

[2016-12-21 17:56] pieterlange commented on #69
When running in tcp proxyprotocol mode this doesn't happen. A more generic problem with using nginx specifically is it resets the loadbalancing counters on config reloads, causing more load on the "first" pod in the backend for a service. That means you can run into cascading errors on busy sites as the "first" pod dies due to the load, causing a new config loads, etc.

[2016-12-21 19:18] pingles opened #76 "Incorrect X-Forwarded-Port for TLS servers"
It appears that the `X-Forwarded-Port` is set incorrectly when ingress is configured for TLS resources: it looks like it ends up with a value of 442 as a result of the [SSL server configuration](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/rootfs/etc/nginx/template/nginx.tmpl#L191).

This has the effect of breaking some applications that use the `X-Forwared-` headers to gene

[2016-12-22 00:43] justinsb commented on #69
Do we know why nginx reload is being surfaced as a 504 as well?  I was under the impression that nginx didn't drop connections during a HUP.  Is it a matter of decreasing the ELB timeout so that it is less than some nginx timeout?

[2016-12-22 01:11] aledbf commented on #69
@jsravn @pieterlange could you provide an example/guide that reproduces the described error?

[2016-12-22 08:56] porridge opened #79 "make test-e2e fails on push"
It does not seem right that only privileged people should be allowed to run the e2e test.
[code]

[2016-12-22 09:54] porridge opened #80 "e2e test leaves garbage around"
`e2e-down.sh` explicitly removes some containers, and at least one exits after some time, but there are plenty others which stay around apparently indefinitely.

I'm not sure whether this is a known deficiency of hypercube or we're just using it improperly.

[code]

[2016-12-22 11:27] porridge commented on #79
OTOH, if I skip the push, then the kubelet does not see the image after I apply `examples/deployment/nginx/rc.yaml` to the local cluster:

[code]

Even though it is available locally:

[code]

@aledbf I think you said the push should be unnecessary.. perhaps we need to pass some option to hypercube to make it look in the local image storage?

[2016-12-22 13:06] porridge commented on #79
Silly me, it's enough to drop `imagePullPolicy: Always`.

[2016-12-22 13:19] porridge commented on #5
The next problem is that the `test-e2e` target tries to push the image, tracked in https://github.com/kubernetes/ingress/issues/79

[2016-12-22 13:45] porridge commented on #5
After that, and deploying the nginx controller, the problem is that the controller cannot talk to the API server:

[code]

[2016-12-22 14:11] porridge commented on #5
That's apparently because `/var/run/secrets/kubernetes.io/serviceaccount/token` does not exist, so `restclient.InClusterConfig()` fails, and the config returned by `clientConfig.ClientConfig()` is wrong.

[2016-12-22 14:28] 21stio opened #83 "Adding flags from specific backend implementation"
Hey,

we are implementing our own version of the ingress controller right now. We would like to add some additional flags, but we can't find any way to accomplish it without touching the generic code.

We added the `SetFlags` function to the generic launch.go

[code]

and call it in our main.go
[code]

Do you know of any way to do it in a more elegant fashion? We tried a lot things, but I either w

[2016-12-22 14:55] porridge commented on #5
I hacked `launch.go` to list the environment, and hardcoded `kubeconfig.Host = "10.0.0.1:443"`
[code]

Yet it still does not work:

[code]

@bprashanth can you point me to a working setup of this kind somewhere in the k8s ecosystem? https://github.com/kubernetes/community/blob/master/contributors/devel/local-cluster/docker.md starts with a big bold "Stop, use minikube instead".

[2016-12-22 15:00] aledbf commented on #5
@porridge this should work if you set the master address like
`export KUBERNETES_MASTER=http://172.17.4.99:8080`

[2016-12-22 16:12] porridge commented on #5
To summarize our chat, `hostNetwork: true` on the pod spec seems to solve it.

[2016-12-22 17:03] bprashanth commented on #5
It would be great to not have to run with host networking in the e2e since most people don't in reality, but I think it's fine for a first cut with a TODO.

so to confirm, hostNetwork is just a workaround for setting KUBERNETES_MASTER, which defaults to localhost instead?

[2016-12-22 17:50] #79 closed

[2016-12-22 17:57] #76 closed

[2016-12-22 18:06] bprashanth commented on #5
@porridge do these docs help https://github.com/kubernetes/ingress/blob/master/docs/dev/setup.md ? (try local-up-cluster, or minikube as described, if they've released a version with the nginx addon)

[2016-12-22 23:11] alexw23 opened #85 "Add default_server option for the default server"
As per https://github.com/kubernetes/contrib/pull/2213

If you're using wildcard host names the default backend will no longer be available due to the way nginx has predence on wildcards. By providing default_server it indicates a catch-all so regardless of wildcards if there is no direct match they will end up in default server block.

[2016-12-23 00:38] hsyed commented on #71
@bprashanth Yes 2017 is fine. I'll get a custom template going for now. I will give your image a look and see if I can adapt it.  Thanks.

[2016-12-23 01:56] hsyed commented on #71
The following worked the first time around without using the proxy protocol, I did have to use the tmpl file from the 0.8.3 image as the contrib repo did not have release tags for 0.8.3 and the tmpl found there was incompatible.

[code]

[2016-12-24 13:05] alexw23 opened #87 "[Feature Request] Allow for multiple hosts"
Nginx supports it, http://nginx.org/en/docs/http/ngx_http_core_module.html#server_name would remove quite a bit of boilerplate in my app. I would make a PR but my competency is not Go.

[code]

[2016-12-25 23:17] gianrubio commented on #51
@groob could you provide the generated nginx.conf ?

[2016-12-26 00:52] groob commented on #51
Unfortunately, I already moved on to a different strategy, so I don't have the above config.

[2016-12-27 15:16] cluk33 commented on #51
Hi, I am seeing the same problem:

[code]

The generated nginx.conf is attached:
[nginx.conf.txt](https://github.com/kubernetes/ingress/files/674267/nginx.conf.txt)

The resolv.conf from the ingress ctrl pod looks like this:
[code]

Resolving that hostname from inside the pods works:
[code]

[2016-12-27 17:00] cluk33 commented on #51
This can be fixed by either adding a resolver line to the nginx.tmpl or by the following diff:
[code]

[2016-12-27 18:52] gianrubio commented on #51
@cluk33 could you send a PR to fix this?

[2016-12-27 18:54] aledbf commented on #51
@gianrubio please don't change this. The resolver issue must be fixed (i.e. present in nginx.conf)

[2016-12-27 20:04] porridge commented on #5
@bprashanth I think it was a bit more complicated:
  1. First of all, the hypercube-based cluster brought up by `ingress/hack/e2e-internal/e2e-up.sh` was broken in the sense that `/var/run/secrets/kubernetes.io/serviceaccount` in every pod was an empty directory (no `token` file, not even the `..*` dir/symlink).
  2. this in turn confused the [config loading code](https://github.com/kubernetes/ing

[2016-12-29 15:46] aledbf commented on #87
@alexw23 this change requires a modification in the Ingress spec. Please check [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L610)
This means that you need to open a proposal in the main kubernetes repo.

Please keep in mind that any change to the Ingress spec cannot be tied to one implementation.

[2016-12-29 15:46] #87 closed

[2016-12-29 23:22] aledbf opened #98 "Change default of max body size to 0"
i.e. no upload limit

[2016-12-30 03:24] aledbf commented on #39
Something like this should work:

https://github.com/caiofilipini/grpc-weather/

- create deployment
[code]

- expose service
[code]

- create ingress
[code]

- use docker image to run the client
[code]

- execute
[code]

[2016-12-30 08:07] euank commented on #98
What motivates this configuration change?

The reason nginx defaults it so low is to remove possible DoS vectors iiuc, so I'd expect changing this default to require a bit more justification.

[2016-12-30 13:44] aledbf commented on #98
Good point.

In the last week I helped at least 5 user with upload issues with the ingress controller.

This is the list of issues I see with the current default:
- too low (1m)
- is hard to check the current value
`kubectl exec <ing pod> cat /etc/nginx/nginx.conf | grep client_max_body_size`
- maybe the docs are not clear on how is possible to increase the limit
- is not possible to know if the e

[2016-12-30 18:57] euank commented on #98
The default's only too low if you want to accept uploads, which certainly isn't everyone.

The log lines should be quite different.
`2016/12/30 1:11:11 [error] ... client intended to send too large body: ...` vs `... upstream.name [...] 413`

One of them, nginx reports an error itself, the other, nginx just reports a statuscode that it's proxying.

---------------------------

If you do want to ac

[2017-01-01 12:02] miracle2k commented on #98
I'd like to see the ability to change the value per host/ingress.

[2017-01-02 02:47] bprashanth opened #102 "Fix FAQ doc"
https://github.com/kubernetes/ingress/pull/66

[2017-01-02 04:21] #74 closed

[2017-01-02 05:26] gurvindersingh commented on #98
I think having this value configured using annotations on the ingress object might be a better solution. As you might need higher value for some services whereas for others you would prefer default 1m.

[2017-01-02 19:23] #49 closed

[2017-01-03 22:16] thockin opened #104 "GCE cloud: add a kube-specific header to GCE API calls"
https://github.com/kubernetes/kubernetes/issues/39391

[2017-01-04 19:50] rikatz opened #105 "Controllers and Leader Election"
I was using the old repo 'github.com/kubernetes/contrib/ingress' and am migrating now for this one.

We use ingress controllers on physical servers (not inside containers running on Kubernetes).

In the contrib version, was possible to use this without any great change (like, install NGINX, copy template, create directories, and run the binary with a kubeconfig file, like this:
[code]

Using this

[2017-01-04 19:58] aledbf commented on #105
@rikatz you can disable the status removing this https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/controller.go#L265
I will add a flag to disable the status update (keep in mind this means no status information in the ingress rule)

The error you post is not related to the status, just that `secret katz2/tlsteste2 does not exists` in the cluster. Please run the control

[2017-01-05 01:23] rikatz commented on #105
@aledbf You're right, the error is not related to the sync. The error is related to controller not being able to get a default SSL certificate. I've created a new secret on the same namespace of configmap and default-backend-service, and configured it's argument.

About disabling the status, I understand that I can lose this when running as a Bare Metal (and not a contianer inside kubernetes), but

[2017-01-05 01:25] aledbf commented on #105
Leave the issue open so I don't forget to add the option :)

[2017-01-05 01:27] rikatz commented on #105
OK. If it's just about creating a flag, and making an 'if' statement in the location you've mentioned before, I can do this tomorrow and make a PR.

I just don't know if there's impact in other parts of the ingress controller.

[2017-01-05 16:23] aledbf opened #109 "Proposal: Build a web interface for Ingress administration"
Similar to `kubernetes/dashboard` to allow:
- display of current configuration
- add/remove an Ingress controller
- add/edit/remove Ingress rule/s
- show the annotations used in each Ingress
- allow to add/remove annotations with drag and drop
- show conflicts (you can create multiple rules for the same FQDN and path)
- show errors/misconfigurations (like bad service selectors)
- abstract the user

[2017-01-05 18:42] euank opened #110 "When using auth-tls-secret, ssl_verify_depth might also be needed"
The `ssl_verify_depth` option will have to be set for many configurations. Typically, it should be set to a value equal to the length of the certificate chain.

The default of 1 works fine if the certificate infrastructure only includes a root + client certs.

However, many configurations will include a root and intermediate and sign client certs with the intermediate. In that case, the default of

[2017-01-07 01:48] thockin opened #112 "GCE LBC should use "rate" mode"
With utilization mode we can not use ILB and HTTP LB on the same IG.

If we have 3 IGs, one per zone but all same region, we can just set RPS=1 per instance on all IGs and it will balance proportional to size of IG.

@bprashanth

[2017-01-07 04:33] bprashanth commented on #112
Currently it just picks the GCE default (utilization), by leaving mode unspecified: https://github.com/kubernetes/ingress/blob/master/controllers/gce/backends/backends.go#L120

I thought about this for a while initially, and figured that:
1. The mode doesn't matter within an IG anyway (which you already know, but for the benefit of other readers: http://stackoverflow.com/questions/40470982/whats-t

[2017-01-07 06:00] gurvindersingh commented on #98
@aledbf the PR #100 make the default unlimited for all ingress, I still think we need a mechanism in general to override default settings for ingress object using annotation on object. Settings such as max body size, session stickiness etc. does require overriding in certain cases from default. Any plan on supporting that.

[2017-01-09 00:13] markacola commented on #85
I'm currently being stung by this quite badly.
The server block for my wildcard is currently matching any host name not in another server block.
Additionally, the template output for https redirects uses the '$host' nginx variable instead of the $server.Hostname template variable for the redirects:
i.e.
[code]
instead of:
[code]
This means if my server gets a request for some random host it will r

[2017-01-09 00:39] aledbf commented on #85
@markacola this is already fix in this repo. Please check https://github.com/kubernetes/ingress/blob/master/controllers/nginx/rootfs/etc/nginx/template/nginx.tmpl#L255

[2017-01-09 01:37] markacola commented on #85
@aledbf Sorry, i dont think I was very clear with my previous comment.
The server block of the Default Backend doesn't have `default_server` in the `listen` statement, so wild card domains (which have a higher order of precedence) will match before the Default Backend.
If the wildcard domain has an SSL config then it will include the `if ($scheme = http) {...` section.
This results in a server blo

[2017-01-09 03:21] mqliang opened #116 "Proposal: integrate nginx ingress controller with Modsecurity"
It would be wonderful if nginx ingress controller could integrate Modsecurity to provide web application firewall (WAF) functionality, and the repository [owasp-modsecurity-crs](https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.0.0-rc2) contains a collection of rules that works out of the box.

We could add two knobs to nginx-ingress controller:
* --enable-modsecurity, bool, “if true, en

[2017-01-09 12:17] aledbf commented on #116
@mqliang I've been following the new modsecuritty for a while. Once they release v3.0 I will add the option.

[2017-01-09 13:47] rikatz commented on #116
@mqliang I was thinking about NAXSI (https://github.com/nbs-system/naxsi) as this is much simpler than mod_security.

I think the bigger issue with mod_security would be the false positives, as mod_security even doesn't have a pretty way to visualize threats and so.

Anyway, this is a great idea. Would add also a --modsecurity-rule-exclude to specify an array of excluded rules (that cause false po

[2017-01-09 13:48] pieterlange commented on #110
While we're on the subject (i wasn't able to get this to work yet with the native ingress annotations - it seems like this is not officially supported yet) i'd like to configure `ssl_verify_client` as well.

@euank - do you know what key in the secret needs to contain the CA chain? I tried getting it to work with `ca.crt` in a separate secret, but that required me to set a dummy tls crt/key as wel

[2017-01-09 13:50] pieterlange commented on #116
mod_security added json logging a while ago, so visualizing these logs is much easier using some SIEM or ELK stack nowadays.

[2017-01-09 13:50] rikatz commented on #116
Hum, this is new for me :) will take a look then :)

[2017-01-09 14:02] aledbf commented on #116
@rikatz naxsi does not supports http2.

[2017-01-09 14:08] aledbf commented on #110
@pieterlange you need to specify one secret with 3 keys:
[code]

[2017-01-09 15:14] pieterlange commented on #110
I know - my problem here is that i'm actually validating the client certs against a different CA then is configured at the TLS section of the ingress - so i'm unsure what to add in the `tls.crt` and `tls.key` sections of the secret.

[2017-01-09 20:09] euank commented on #110
@pieterlange I'm using this currently and it's working for me. I entered the same values for tls.crt and tls.key as ca.crt. I'm also using a separate secret for tls auth with different certs. tls.crt and tls.key are ignored.

The only change I had to make was the verify depth (which I just hardcoded over here: https://github.com/euank/ingress/tree/verify-depth-2).

My ingress looks something like

[2017-01-10 10:43] bprashanth opened #120 "GCE: improve default backend handling"
Today the lb pool manages the default backend. This makes for some confusing situations.
1. Don't get the default backend in main, instead pipe the --default-backend arg through the cluster-manager down into 3 pools: firewall, backend, lb
2. Create the default backend in Sync() of backend pool, when there are nodePorts, so users that don't care about ingress don't get a default backend
3. Delete t

[2017-01-10 10:44] bprashanth commented on #120
If we do this, we can create the IG and default backend when the first backend Service is required and delete the IG and default backend when the last backend Service has been deleted, all from the backend pool

[2017-01-10 12:17] gianrubio opened #122 "Successfully healthcheck only after generating the right template"
1- Today I migrated the nginx controller to the latest version, using deployment strategy. During the deployment my ingress was down because the template was changed. After I adapt the template to the new version, the ingress was back.

The log was
[code]

For few seconds my applications was down. To avoid other users having the same issue, I propose to change the behaviour of healthcheck to only

[2017-01-10 12:19] aledbf commented on #122
@gianrubio please do not use the current master. If you want to test the controller please apply the PR #95

[2017-01-10 12:33] gianrubio commented on #122
@aledbf got it, could you confirm if this issues will be solved int this PR? Can I close this issue?

[2017-01-10 12:42] aledbf commented on #122
@gianrubio yes, is fixed

[2017-01-10 13:13] #122 closed

[2017-01-10 15:17] mrmm opened #125 "Nginx: Metrics improvement"
@aledbf as we discussed in the slack channel,
I have been checking the [metrics.go](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/metrics.go#L55)  :
[code]
As shown above the metric name is `nginx_num_procs` and the namespace is hard coded as `nginx`.

I think it would be useful to make the metrics namespace configurable either in the Nginx configmap or a f

[2017-01-11 21:18] voor commented on #71
We're currently using a slightly different configuration to support web sockets:
[code]
And would also be interested in a best practices for how to handle a redirect from the ingress controller that has support for web sockets.

[2017-01-12 15:23] #70 closed

[2017-01-12 20:58] voor commented on #71
Also wanted to note that with proxy protocol on, the `$http_x_forwarded_proto` value is just `-` and therefore not usable in this scenario.

[2017-01-13 00:16] #16 closed

[2017-01-13 11:08] pieterlange commented on #109
Are you proposing a separate app or to help out on `kubernetes/dashboard` development? I agree the ingress section of dashboard could use some love.

[2017-01-13 12:11] #85 closed

[2017-01-13 12:23] aledbf opened #127 "Add configuration and annotation for port_in_redirect"

[2017-01-13 13:41] aledbf opened #129 "Improve how errors connecting to api-server are handled"
In case of errors like issues with serviceaccounts the current code does not show information in the logs. To see something useful is required to increase the verbose level at least to 3.

We should change this and replicate what the dashboard shows when is not possible to reach the api-server

[code]

[2017-01-13 17:57] gurvindersingh commented on #109
rather than using a separate app, it would be better to add support for managing ingress in the `kubernetes/dashboard` itself. Just my 2 cents :)

[2017-01-14 21:47] aledbf opened #130 "Add missing docs for server_tokens directive"

[2017-01-15 04:13] bprashanth commented on #109
I was thinking the same thing, @bryk

[2017-01-15 22:58] pedrosland commented on #130
I'll add that when I open my PR.

[2017-01-15 23:05] paultiplady opened #131 "Specifying the loadBalancerIP used by the Ingress"
I'd like to use a static IP for my ingress. Currently, the Nginx Ingress Controller allocates a new loadBalancerIP each time it starts.

For Services, it's possible to pin the IP using `loadBalancerIP: 1.2.3.4`. Is this possible in the Nginx Ingress Controller?

If not, is there some other approach that can be used to pin the IP of an Ingress?

(Copied from contrib issue https://github.com/kuberne

[2017-01-15 23:26] paultiplady commented on #38
Any update on the timeline for the 0.9.0 release @bprashanth? Thanks.

[2017-01-15 23:37] aledbf commented on #131
@paultiplady you can use the new flag [publish-service](https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/launch.go#L43) to use an existing service (with type=LoadBalancer)

[2017-01-17 13:47] cluk33 opened #137 "Specify IP addresses the Ingress controller is listening on"
We are running k8s on bare metal. It would be great to specify the IP addresses the nginx ingress controller is listening on.

This would enable us
1) to route traffic for specific IPV4 IPs to k8s
2) also route (http) traffic for IPV6 addresses to k8s.

AFAIK 1) can be achieved by using a service in front of the ingress ctrl with external (IPV4) addresses. But currently we do not see any possibili

[2017-01-18 07:48] euank opened #139 "Should we turn off the coveralls bot on this repo?"
#136 is a great example of how spammy it can be at times.

And the information it posts is already available in merge status thingy without all the spam ("coverage/coveralls — Coverage remained the same at 42.563%")

[2017-01-18 08:11] ddysher commented on #23
@aledbf we'll put together a repo of what we did and how it went wrt to ingress ha, hope that will make things more clear.

[2017-01-18 09:38] mqliang opened #140 "proposal: application health check"
It's useful to provide backend health check functionality, it could be implemented by integrating [ngx_http_healthcheck_module](https://github.com/cep21/healthcheck_nginx_upstreams)

[2017-01-18 10:58] aledbf commented on #139
@euank done

[2017-01-18 10:58] #139 closed

[2017-01-18 12:47] bryk commented on #109
@bprashanth Yep, improving ingress management in dashboard should be the way to go. We're more than happy to accept contributions in this space :)

[2017-01-18 13:19] euank commented on #140
@mqliang that repo itself states that it's deprecated in favour of https://github.com/yaoweibin/nginx_upstream_check_module.

By default though, the controller will remove backends that have failed the kubernetes defined healthchecks, so you can already define kubernetes healthchecks for your pod and have some functionality there.

What feature do you specifically want and what usecase which isn't

[2017-01-18 13:20] mqliang commented on #140
cc @reAsOn2010

[2017-01-18 18:14] euank commented on #137
2 is related to #34; I use a daemonset with `net=host` to manage ipv6 ingress

[2017-01-19 05:19] aledbf commented on #51
@groob fixed in master. Please reopen if that's not right.

[2017-01-19 05:19] #51 closed

[2017-01-20 03:20] chrismoos commented on #140
I did this PR when ingress was getting moved over here:

https://github.com/kubernetes/contrib/pull/2072

I'll try to get it rebased over here.

[2017-01-20 10:02] 21stio opened #147 "Please enable k8s.io/ingress repository"
Hey,

I tried to `go get k8s.io/ingress`, what did not work `go get k8s.io/ingress
package k8s.io/ingress: unrecognized import path "k8s.io/ingress" (parse https://k8s.io/ingress?go-get=1: no go-import meta tags)`.

Seems like the k8s.io repository(?), isn't configured properly yet..

Getting the source via `github.com/kubernetes/ingress` works fine, but it's not possible to use the package via `k

[2017-01-20 10:54] 21stio commented on #147
Workaround for the people that are using glide

Modify your glide.yaml to pull the source from github.com

[code]

[2017-01-20 13:45] aledbf commented on #147
@21stio you need to follow the development workflow from the main [kubernetes repo](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#workflow)
 in order to build the code.

[2017-01-21 14:45] aledbf opened #152 "Add docs for body-size annotation"
nginx client_max_body_size in each location `ingress.kubernetes.io/proxy-body-size`

[2017-01-21 15:07] #98 closed

[2017-01-21 15:08] aledbf commented on #98
@gurvindersingh #148 allows custom body sizes using annotations

[2017-01-21 15:08] aledbf commented on #98
Leaving current default of "1m".

[2017-01-21 15:43] #105 closed

[2017-01-21 16:27] #37 closed

[2017-01-21 16:54] #129 closed

[2017-01-21 17:11] gurvindersingh opened #153 "tcp/udp services support using annotations"
The proposal is to add support of adding new tcp/udp service in `{tcp/udp}-configmap` by getting input from annotations on ingress object. This will enable exposing tcp/udp services similar to http, although it is not acc. to current kubernetes ingress object specifications. The ingress object with this modification can look like this
[code]
In the above example, nginx will expose port 22 with tcp

[2017-01-21 17:18] aledbf commented on #153
What about
[code]
The possible values for service-type: {tcp,udp}.

[2017-01-21 17:21] gurvindersingh commented on #153
I think this seems even better and concise.

[2017-01-22 02:23] #127 closed

[2017-01-22 02:33] aledbf commented on #147
@21stio please reopen if the development workflow does not help

[2017-01-22 02:33] #147 closed

[2017-01-23 02:48] chentao1596 commented on #152
@aledbf Hi, i am not sure my understanding is whether right or not, but only one appear for this annotation can be found, so i added docs for it directly. can you help to take a look? If something wrong, give me some advise, please. I'm very happy to do this things, thank you!

[2017-01-23 04:05] euank commented on #147
@aledbf that still won't help for people using `godeps` to depend on parts of this repo since `godeps restore` won't be able to find the referenced import paths.

I opened https://github.com/kubernetes/k8s.io/pull/47 which I think actually fixes this.

[2017-01-23 05:00] thockin commented on #147
fixed, thanks

[2017-01-23 07:37] tangle329 commented on #153
@aledbf  That is what i had done in my local implementation. Do you mind if i submit the patch for this function?

[2017-01-23 07:46] gurvindersingh commented on #153
@tangle329 wondering how you solve the conflicting ports part. Or you have multiple interfaces where nginx can listen on same port but different interfaces.

[2017-01-23 08:50] 21stio commented on #147
Perfect, thanks a lot! :)

[2017-01-23 09:34] tangle329 commented on #153
@gurvindersingh ,
You should not use ports listed below for TCP service. If you want to use them , Please change the code for your own requirment..

``var (
	// list of ports that cannot be used by TCP or UDP services
	reservedPorts = []string{"80", "443", "8181", "18080"}
)``

[2017-01-23 10:58] gurvindersingh commented on #153
@tangle329 those ports I understand, I mean the ports from various applications when they want to use the same port. E.g. two different elasticsearch service instances running on tcp port 9200. I am just curious as how you are solving this issue. As their are various ways of solving, just curious about yours.

[2017-01-23 12:05] rikatz opened #159 "Update NGINX Ingress Documentation"
We've had a lot of improvements in the last few days, as the following:

* [ ] #151
* [ ] #150
* [ ] #149
* [ ] https://github.com/kubernetes/ingress/blob/85733700ecd3ae31ee9531f8f13dba816c249629/controllers/nginx/rootfs/etc/nginx/template/nginx.tmpl#L223

I don't think those parameters are documented, so I'm opening this issue to document them.

Anyone can collaborate on this one (actually, we ca

[2017-01-23 13:00] sander-su opened #160 "[nginx] ssl-redirect only defaults when at least one annotation is set"
SSLRedirect only defaults when at least one annotations is present on the ingress.
Hence, when no annotation is present on the ingress no 301 redirect is created.

Using nginx nginx-ingress-controller:0.8.3

The default is set in the ParseAnnotations method.
Is this method invoked when no annotations are set?

[2017-01-23 14:24] pedrosland commented on #130
Fixed in #161

[2017-01-23 14:27] aledbf commented on #130
@pedrosland thanks!

[2017-01-23 14:27] #130 closed

[2017-01-23 14:49] pedrosland opened #162 "ConfigMap parameter `ssl-dh-param` produces invalid configuration"
I noticed this while writing documentation that the ssl_dhparam value in the config is expected to be a base46 string and NGINX expects it to be a file. The controller documentation says:

**ssl-dh-param:** sets the Base64 string that contains Diffie-Hellman key to help with "Perfect Forward Secrecy".

The [nginx documentation](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_dhparam) sa

[2017-01-23 19:47] rikatz opened #163 "Where is DefaultSSLCertificate used?"
I'm configuring a new NGINX Ingress Controller here, and have the following startup command:

./nginx-ingress-controller --update-status=false --apiserver-host=https://10.200.83.12 --configmap=sistema/nginx-load-balancer-conf --default-ssl-certificate=sistema/tlspadrao --default-backend-service=sistema/default-backend  --kubeconfig=/etc/kubernetes/kubeconfig.yaml

The ingress controller is able to

[2017-01-23 19:53] danielmorlock opened #164 "[nginx-ingress-controller] Watch of *api.Endpoints/*.api.Secret ended with: too old resource version"
I created a nginx-ingress controller using the following https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx and get the following errors:

    2017-01-23T17:37:02.662496013Z W0123 17:37:02.662036       1 reflector.go:334] k8s.io/contrib/ingress/controllers/nginx/controller.go:1130: watch of *api.Endpoints ended with: too old resource version: 3579520 (3579966)
    2017-01-

[2017-01-23 19:57] aledbf commented on #164
@danielmorlock please keep in mind that what you see in the logs is just a warning not an error.
Usually you can see this warning in a cluster with frequent changes or pods with issues (CrashLoopBackOff).

Please try to use the new version (pre release) https://github.com/kubernetes/ingress/pull/155

[2017-01-23 20:01] aledbf commented on #163
@rikatz please check the generated `nginx.conf` file searching the default server. The file you see in the ssl certificate is the default certificate to use

[2017-01-23 20:19] rikatz commented on #163
It's not there, so it's falling back to the first ssl enabled vhost (not the default one).

Ingress controller is not enabling the default cert in the default host

Ricardo P. Katz

[2017-01-23 20:37] tonglil commented on #45
I am happy to take this on and do the work for connecting Ingress's TLS requirement to GCP's compute ssl-certificate resource.

Can I get some confirmation that:
- [This would be a good place](https://github.com/kubernetes/ingress/blob/74512c127659d2383d75fe71514454bb6f596634/controllers/gce/controller/controller.go#L426-L430) to check for the existence of an annotation
- Source the cert via a new

[2017-01-23 20:38] tonglil commented on #45
Also to confirm that I should do the work in this repo instead of https://github.com/kubernetes/contrib/tree/master/ingress?

[2017-01-23 21:03] aledbf commented on #45
Yes. Please work in this repository for any PR/issue related to Ingress.

[2017-01-24 13:50] rikatz commented on #163
@aledbf This is the part of nginx.conf file that should have a '442' listen port:
[code]

I don't know if the used schema inside NGINX (listening as a stream on 443 port, and then directing it to a vhost) allows us to have a Default SSL Vhost.

[2017-01-24 14:42] 21stio commented on #83
Still an issue..

[2017-01-24 17:29] rikatz commented on #163
@aledbf here: https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/controller.go#L821

I think there's something missing.

I'm trying to do as follow:

[code]

I'm not being able to read the secret correctly (don't know why, but will keep trying), but I think this solves part of the problem, as Default Server is going to have a certificate for itself.

The post step is to

[2017-01-24 18:07] aledbf opened #169 "Force redirect from port 80 to 443 if SSL passthrough is configured"
Right now the nginx ingress controller generates a server listening in port 80 but the upstream is configured with TLS and the upstream is using http and not https as protocol.
This produces a timeout and error reaching the backend server

[2017-01-24 18:17] euank commented on #169
Please provide a description about what bug this fixes etc

[2017-01-25 02:04] rikatz opened #171 "Invalid TLS does not get updated when changed"
When an ingress is created with an invalid TLS directive, and then is changed to the right one, it appears that the ingress is not reload correctly.

Here is a way to simulate this:

1) Create a TLS Secret for a specific namespace:
[code]

2) Create an Ingress object for the same Namespace:

[code]

3) Start the Ingress Controller
4) Change (edit) the ingress object, and change the *secretName* to

[2017-01-25 19:45] bprashanth commented on #171
Looks like you're talking about the nginx controller, correct?

[2017-01-25 19:49] bprashanth commented on #169
yeah you mean if the upstream is terminating TLS and sending HTTP traffic to the downstream setting the x-forwarded-proto based on whether traffic came on 80 or 443, you'd like the downstream nginx to notice this header and redirect all proto=http traffic to 443 so upstream terminates?

[2017-01-25 19:59] aledbf commented on #169
@bprashanth exactly

[2017-01-25 20:46] rikatz commented on #171
@bprashanth Thats correct. Now something came into my mind. I have tested changing the secretName directive, but I didn't tested using some existent secretName and then changing the secret content.

[2017-01-25 21:04] bprashanth commented on #164
yeah that message is fine, it's just saying the resource version is more than the window kept in memory in the apiserver/etcd, so it'll relist, get the lastet rv, and restart the watch. Please re-open if it's actually causing problems.

[2017-01-25 21:04] #164 closed

[2017-01-25 21:08] bprashanth commented on #137
you probably want to specify the name of the interface instead of the actual ip? eg if you just want to listen on cbr0 or docker0 with net=host, so the system is free to manage ipam. The way the nodecontroller assigns cidrs to nodes today, you don't know the range a given node will get.

[2017-01-25 21:13] bprashanth commented on #171
changing secret content is actually pretty common (cert rotation), please give it a shot and report if it doesn't take

[2017-01-25 21:14] rikatz commented on #171
Sure. Will do this tomorrow at work, and inform here.

[2017-01-26 00:16] ohaiwalt opened #175 "Documentation for ProxyProtocol with AWS ELB to get Client IP"
Hi,

While attempting to get ProxyProtocol working on AWS to get Client IPs, I followed the docs and added the ProxyProtocol policy to the ELB and `use-proxy-protocol: "true"` on the nginx-ingress-controller configMap, I ran into what seemed like a brick wall and it was only after talking with @justinsb did I discover that there's an nginx-ingress-controller service annotation for that, described

[2017-01-26 02:49] bprashanth commented on #112
Hmm, this is tricker than I imagined.

There are 2 problems:
1. If we use RATE, we need to specify rps, which we need from the user (we currently just default UTILIZATION to 90%)
2. A single IG CAN have many backend services pointing at it, but all the backend services must have the same balancing mode

For 1, we can add a `BalancingMode` section to the ingress.backend api. Basically something lik

[2017-01-26 03:22] whereisaaron commented on #175
I saw your issue in the chat but you solved it with a Service annotation like below. Note for others, despite the discussion right now, the only allowed value is "*".
[code]

[2017-01-26 05:31] thockin commented on #112
Why offer a choice?  For now utilization is utterly pointless.  If you set
the RPS to 1 or 1000000, it will still get all traffic, since there's only
one IG.  Choice is wrong here.  Simpler is better.

On Wed, Jan 25, 2017 at 6:49 PM, Prashanth B <notifications@github.com>
wrote:

[2017-01-26 13:24] #171 closed

[2017-01-26 15:57] bprashanth commented on #112
Hmm, with a name like maxRPS I'd assumed it would reject more than the limit to safeguard existing connections, but some rudimentary testing shows that to not be the case.

BalancingMode seeems like a useful extension point for all lbs, but I suppose it isn't immediately important.

One caveat though, if the user has enabled (gce) autoscaling, the autoscaler will kick in when observed > desired rp

[2017-01-26 19:06] bowei commented on #5
@porridge -- the security token issue seems to be related to setting rshared on the mount point for kubelet:

I was able to get the hyperkube containerize kubelet running after doing:

[code]

and passing `--volume=/var/lib/kubelet:/var/lib/kubelet:rshared` in the `docker run` command

[2017-01-26 19:11] gregdaybreak opened #180 "adding proxy_set_header entries using an annotation"
The proposal is to add support of adding a new proxy_set_header entry to the nginx config using an annotation.

For example I need to add

proxy_set_header X-Request-Start "t=${msec}”;

in order to report request queuing in New Relic.
from: https://docs.newrelic.com/docs/apm/applications-menu/features/request-queue-server-configuration-examples

Would be nice to be able to do this in an annotation

[2017-01-26 19:25] aledbf commented on #180
@gregdaybreak I think the syntax `"t=${msec}"` is specific to nginx so maybe this should be in the configmap as global value instead of an annotation. Is that ok?

[2017-01-26 19:33] rikatz commented on #163
Solved in #179

[2017-01-26 19:33] #163 closed

[2017-01-26 19:35] gregdaybreak commented on #180
yeah I am really just trying to figure out the best way to add this. If it is through configmap that is fine with me. I was not sure what the best way to do it was so figured I would ask.

Would I just need to create a configmap like this:

    apiVersion: v1
    data:
      proxy_set_header X-Request-Start "t=${msec}”;
    kind: ConfigMap
    metadata:
      name: nginx-load-balancer-conf

[2017-01-26 20:09] cluk33 commented on #137
@euank Thanks for the pointer. But isn't nginx listening on all IPV4 and IPV6 addresses which are available on the host in that setup? We are trying to migrate one IP at a time to k8s and keep the other IPs and services working outside of k8s.

[2017-01-26 20:13] cluk33 commented on #137
@bprashanth Thanks for the suggestion. We are using a fixed /28 subnet for our incoming traffic. Therefore it would be great to specify exact listen addresses for nginx. What would also work is using the hostnames from the ingress object for the nginx listen directives. Though my attempts using a custom nginx template doing that failed utterly. ;)

[2017-01-26 20:24] rikatz commented on #160
@sander-su Can you specify steps to reproduce this one?

I'm having some similar issue, but the need is not to specify some annotation, but specific ``ingress.kubernetes.io/rewrite-target: /`` annotation.

Also, after setting this, you have to change some of the items in 'location' array to a different path, then return it to '/'.

Additionally, there is a question here: Do we really expect those

[2017-01-26 20:30] rikatz commented on #42
@remoe Taking a look in template, I can see this:

[code]

Have you figured out how to make this work?

I'm leaving to home by now, but pinging you so we can try to improve this one.

[2017-01-26 20:50] remoe commented on #42
Sorry, no. I don't use Ingress Controller with NGinx anymore. It was a lot slower than https://github.com/kubernetes/contrib/tree/master/service-loadbalancer with HAProxy.

[2017-01-26 22:20] timrsmith commented on #131
@aledbf Can this be done with ssl-passthrough? We currently have an nginx controller and ingress with the following:
[code]

We were trying to determine how to specify a static ip for the ingress, so this sounds promising but I'm unclear on how the LoadBalancer service works in concert with the ingress and ingress controller.

[2017-01-26 22:29] lihan opened #182 "Health check fail when used under GLBC Ingress"
Suppose that I'm trying to do this set up

``GLBC Ingress (L7) --> Nginx Ingress Controller Service --> Nginx Ingress Controller --> Other Backend Service``

The GLBC reports health check fails on Nginx Ingress that it trying to hit "/" on Ingress controller which by default it returns the default http backend with http status 403.

How to configure to make GLBC to hit **port 10254** with path **/

[2017-01-26 23:28] bprashanth commented on #182
Convert your readiness probe to use port: 10250 and recreate the gce ingress, i.e https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/examples/health_checks/README.md

Does that work for you?

[2017-01-26 23:31] euank commented on #137
@cluk33 indeed, it is for me. It's not ideal, but it's worked for me so far. Specifying only one ipv6 address would be saner.

[2017-01-26 23:32] euank commented on #137
@bprashanth on the other hand, you don't necessarily want to listen on an interface for the case of `eth0` or whatever since you've potentially got multiple different ips on it.

[2017-01-26 23:40] lihan commented on #182
@bprashanth Thank you for looking into it.

My Nginx Ingress Controller has configured health checking on port **10254** with path **/healthz**, however, it does not work due to the fact the health check uses a different port other than service port (80) which normal web traffic uses.

From the README file you have pointed to, under the [Limitation section](https://github.com/kubernetes/contrib/tr

[2017-01-26 23:42] bprashanth commented on #182
oh, yeah sorry you always need to health check the same port, only the url is configurable (i mean, that's the point of that health check, to make sure we can proxy to the right target port, not some other target port :).

[2017-01-27 01:53] jmn opened #183 "High glbc CPU usage"
I noticed in Stackdriver monitoring that glbc is using about 30% CPU constantly in my cluster. @thockin said on Slack that this might be related to misconfigured GCE ingress. However I looked through all my Ingresses and they are all class nginx.  Anyone got a clue or a suggestion as to troubleshoot further?

One thing which I noticed is in my Ingress "kube-lego", which is configured automatically

[2017-01-27 01:57] thockin commented on #183
is that 130. IP a GCE load-balancer?

Are all the Services behind that Ingress NodePort or LoadBalancer type?

On Thu, Jan 26, 2017 at 5:53 PM, jmn <notifications@github.com> wrote:

[2017-01-27 02:00] jmn commented on #183
I only have services of type NodePort and ClusterIP

the 130. IP is unknown to me.

[2017-01-27 02:02] thockin commented on #183
Look for it in your cloud console - maybe it is a load-balancer or a VM IP.

If you put a ClutsterIP service behind an ingress you could trigger this.

On Thu, Jan 26, 2017 at 6:00 PM, jmn <notifications@github.com> wrote:

[2017-01-27 02:18] jmn commented on #183
I had two ClusterIPs behind Ingress, I changed those services to NodePort.
the IP is not one of my current Node IPs or external IPs - possibly a to an earlier used resource.
glbc CPU usage currently still high.

[2017-01-27 02:29] bprashanth commented on #183
i think your loadbalancer controllers are fighting. The fact that you have multiple ips in the status list indicates that you are using both the nginx and gce ingress controller, the 130 is a google ip.

You need to specify an ingress.class annotation to stop the fighting:
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md#disabling-glbc

[2017-01-27 02:30] bprashanth commented on #183
oh sorry, you did mention that they're all class nginx, can you please post the ingress that has multiple ips?

[2017-01-27 02:32] bprashanth commented on #183
GLBC runs on the master, are you also running it on your nodes?

[2017-01-27 02:35] jmn commented on #183
My nodes are running the GCI I have not added GLBC

[2017-01-27 02:40] jmn commented on #183
Not sure that I want to post the entire Ingress here, it is being generated by [kube-lego](https://github.com/jetstack/kube-lego) can I share in private?

[2017-01-27 02:48] jmn commented on #183
[code]

[2017-01-27 02:50] jmn commented on #183
The annotation nginx is not quoted, don't know if it is significant.

[2017-01-27 03:01] jmn commented on #183
I basically run https://github.com/kubernetes/ingress/blob/master/examples/deployment/nginx/nginx-ingress-controller.yaml deployment. It doesn't come with a Service like in the kube-lego example. I have not spent a very long time configuring this and studying the kube-lego documentation so I might have missed something essential.

[2017-01-27 03:04] #182 closed

[2017-01-27 03:07] bprashanth commented on #183
So stack driver is showing CPU usage of what to be 30%? Glbc runnning on your gke master? Afaik it won't show master CPU usage, and the master is managed by Google anyway.

If you're running a GCE cluster can you please SSH into your master and post the out put of tail on /var/log/glbc?

[2017-01-27 03:13] jmn commented on #183
It's GKE I'm not sure I can SSH to master, can I?

[2017-01-27 03:19] jmn commented on #183
![image](https://cloud.githubusercontent.com/assets/35616/22359482/c04d8fda-e447-11e6-9ab5-c1d113e49fd8.png)

It's stackdriver GKE container metric CPU Usage, not sure how to narrow it down beyond this in stackdriver.

[2017-01-27 03:23] bprashanth commented on #183
Hmm, I'll try it and report

[2017-01-27 08:39] sander-su commented on #160
I'd like to have them global.
Same like hsts setting.
However hsts is a browser hint and a 302 blocks also incomming traffic.

To reproduce: create an ingress rule without annotations.
We have no annotations on any ingress rule in the cluster.

[2017-01-27 12:45] rikatz commented on #42
@remoe No problem :)

We've been using service-loadbalancer here in the company, but it seems they weren't updating it anymore.

I think that the official way of doing this would be only ingress on a near future. Probably it would be nice to write a ingress controller for HAProxy :)

@jcmoraisjr was going to do this, I don't know how is his WIP.

Anyway, I'm going to take a look in this and also d

[2017-01-27 12:54] remoe commented on #42
@rikatz @jcmoraisjr yeah, a HAProxy ingress controller would be nice ;)

[2017-01-27 18:12] bprashanth commented on #183
I can't seem to reproduce your chart, mine has more details in the annotations. Anyway, applying stackdriver to a GKE cluster I only see nodes, which means it's showing you something on the node.

My guess is that it's showing you the cpu usage of the default backend, which runs in the kube-system namespace (@piosz might be able to confirm -- Piotr, what is it using to produce that "glbc" annotati

[2017-01-27 20:22] jmn commented on #183
Is the l7-default-backend-v1.0 logging to somewhere? In logs in the kube-system namespace I find only some errors related to heapster-nanny.

[code]

[2017-01-27 20:24] jmn commented on #183
Also, is the l7-default-backend-v1.0 replicationcontroller required to run in GKE?

[2017-01-27 20:28] bprashanth commented on #183
A standard go server doesn't log each request. The default backend is used by the nginx controller, and by all gce cloud lbs, whenever they receive a url they don't understand, to return a http 404. It has both resource and limits set:
[code]

So if something else lands on the node and needs the resources, it'll be forced into the 10m/20mi it requested

[2017-01-27 20:40] jmn commented on #183
Not sure that I need the GLBC at the moment (?) so I did

[code]
Seems fine?

[2017-01-27 21:03] jmn commented on #183
Note I have another default-http-backend (in the default namespace) https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/examples/default-backend.yaml

[2017-01-27 21:54] tonglil commented on #45
The preliminary work is here: https://github.com/kubernetes/ingress/compare/master...tonglil:gce-tls

Please help me with suggestions/recommendations (or tell me I'm doing this completely wrong), this is my first change, a feature to ensure developers aren't handed wildcard certs.

**I am having some trouble:**
1. replacing the SSL cert of the HTTPS target proxy in GCP if the user **also** specifi

[2017-01-27 22:15] bprashanth commented on #45
1. Are you asking about what wins, annotation vs api tls cert? We should validate against both being set, then the first one wins, and if they try to create with both set the create fails.

2. Name is friendlier, and certs are global so the self-link can easily be reconstructed

3. We should follow examples in the main repo. I suppose the named cert annotation applies for all cloudproviders, so in

[2017-01-27 23:43] tonglil commented on #45
1. Gotcha, thanks. I understand that requirement now. The code currently thrashes between the cert specified in the annotation and the api. Should I change it so the user can only specify one?

2. (aka a.) Thank you for clarifying, I will continue to use the "name".

3. (aka b.). `"kubernetes.io/ingress.ssl-cert"` sounds like a good name, I'll update it to that. I agree, cloud provider specific an

[2017-01-27 23:58] bprashanth commented on #45
I'll think a bit about the annotation. We should be consistent with main repo. I think there were guidelines somewhere about annotation naming convention, will try to find it.

Re: "fail if both are set", I was recommending validating that both *aren't* set, i.e here: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/validation/validation.go#L337.

Also we probably don't wan

[2017-01-28 00:16] tonglil commented on #45
I read the guidelines, it is here: https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#label-selector-and-annotation-conventions

Const w/ `external-ssl-cert` sounds good to me, will do!

[2017-01-28 00:18] tonglil commented on #45
Thanks for the validation link, I wasn't sure where to do the validation (initially I thought either in [controller.go](https://github.com/kubernetes/ingress/blob/74512c127659d2383d75fe71514454bb6f596634/controllers/gce/controller/controller.go#L426-L430) or [tls.go](https://github.com/kubernetes/ingress/blob/74512c127659d2383d75fe71514454bb6f596634/controllers/gce/controller/tls.go#L40), but I th

[2017-01-29 17:05] gjcarneiro opened #187 "Route path to different backends depending on http method (GET vs POST)"
Hi, I would like to route the same URL to different backends depending on the HTTP method:

1. `GET /v1/orders/` would go to one backend (since it is a DB query, potentially slow);
2. `POST /v1/orders/` would go to another backend.

As far as I can tell, this is not supported.  Any plans to support this scenario?

[2017-01-30 11:27] pieterlange commented on #187
I don't think this is in scope for the ingress controller. It sounds like you're looking for something like apigee.

[2017-01-30 16:21] tonglil commented on #183
I can identify the same issue.

Here is a screenshot of 3 different dev clusters, where glbc is the top CPU consumer.

1 hour:
<img width="968" alt="screen shot 2017-01-30 at 11 19 57 am" src="https://cloud.githubusercontent.com/assets/3250776/22431023/1ad48114-e6de-11e6-8c6a-1043250e921c.png">

1 week:
<img width="967" alt="screen shot 2017-01-30 at 11 21 14 am" src="https://cloud.githubuserconte

[2017-01-30 16:27] bprashanth commented on #183
@tonglil your screenshot confirms that it's the default-http-backend (as you can see in the tool tip at the bottom right).

First thing, I think we need to add some clarity around this.
Secondly, we need to figure out why a standard go http server is taking that much. Is it just a mis-representation, are you guys getting a lot of requests to unknown urls, or something else?

The source code for th

[2017-01-30 17:12] rikatz opened #188 "Proxy Protocol set incorrectly"
I don't know how much of this is a real problem, but here it is.

We've enabled 'use-proxy-protocol' in ConfigMap. This is useful as we use 'stream {' to pass SSL connections.

While this works with SSL, the template is inserting 'proxy_protocol' also in the HTTP binding (port 80 listening) as the following:

``listen [::]:80 proxy_protocol ipv6only=off default_server reuseport backlog=32768;``

T

[2017-01-30 17:54] einarf commented on #153
As far as I've understood the code: Right now we can define locations for tcp and udp though configmaps. It makes a lot more sense to define this in the ingress itself, so even before reading this thread I already considered the two first proposals.

I have a semi working haproxy ingress controller using as much as possible of the current `core`. It seems the core is still revolving around http(s)

[2017-01-30 19:53] janwillies commented on #38
since the release seems to be imminent, please include https://github.com/kubernetes/ingress/issues/38

people will be very confused otherwise

[2017-01-30 23:46] bprashanth commented on #38
@janwillies sorry I missed you message and pushed out a 0.9.0-beta.1 image, I'm reviewing that pr, anyway between the beta1 and the actual release there needs to be some time so we can be sure the nginx controller e2es in the main repo are passing. I'll include the pr in the final cut.

[2017-01-31 00:21] bprashanth opened #191 "generic controller shouldn't require snakeoil certs"
Currently I can't build a simple controller on busybox because we hit this code path: https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/controller.go#L837 which goes looking in `/etc/ssl` for default certs. If we don't find certs we can simply generate them on the fly.

@aledbf fyi

[2017-01-31 01:49] aledbf commented on #188
@rikatz if you enable 'use-proxy-protocol' is for all the listen sections. How are you using the ingress controller? (if you use the ingress controller in aws, usually is behind an ELB)

[2017-01-31 10:20] rikatz commented on #191
@bprashanth this is my fault :)

The thing is that, while trying to solve the problem of Default SSL Certificates, I've hit this part of code that you need some kind of certificate.

This was the simplier way to do this, generating those Fake Certificates.

I don't know if maybe a hardcoded certificate would be better in this case, so I'm gonna wait for @aledbf to answer.

[2017-01-31 10:23] rikatz commented on #191
What about https://golang.org/src/crypto/tls/generate_cert.go ?

[2017-01-31 10:34] rikatz commented on #188
We're using ingress controller as the 'main entrance' for our Kubernetes Environment. No ELB or nothing at all, the machines running Ingress controller have a public valid IP Address.

The thing is that, to allow the usage of SSL Passthrough, the 'stream' config in NGINX was made to solve this problem.

This introduces (at least to us) a new problem, that requests made through SSL are not correctl

[2017-01-31 16:28] jmn commented on #8
Checking the status on this, can this perhaps be done via annotation per ingress? So you can toggle HSTS for the wildcard domains.

[2017-01-31 17:12] bprashanth commented on #191
Yeah we can just generate a self signed cert the same way as generate_cert.go.
Can you clarify what exactly this cert is used for? Based on that we might need to allow further parametrization, but for now I think we can just fill in all the defaults

[2017-01-31 17:49] einarf commented on #191
Might be a bit off topic, but it would also be a huge plus if the code checked that the ssl directly exists and can be written to instead of crashing 😃

[2017-01-31 18:29] rikatz commented on #191
@bprashanth I use this in case you have a TLS definition (or a default certificate, as example) and the certificate is invalid or inexistence.

Instead of generating a lot of error messages, we do this to create a fake SSL Certificate.

[2017-01-31 19:01] rikatz commented on #191
@bprashanth I've a WIP here to make this work. Will commit into my repo and work at home.

You can take a look here, I'm going to improve also the controller reloading handling, and make a new PR to solve this problem.

Here is the repo: https://github.com/rikatz/ingress/blob/nginx-ssl-problem/core/pkg/net/ssl/ssl.go#L170

[2017-01-31 21:22] tonglil commented on #183
Thanks, yes I realize it is the default HTTP backend now.

Regards to the second point, I don't believe there is a lot of requests to unknown URLs. For that endpoint where there is http + https set up, together there is about 50 requests per _day_ from IP hits + unknown sources. The rest is the standard `/healthz` endpoint from `"GoogleHC/1.0"`

It hasn't impacted anything so far (with the limits)

[2017-01-31 21:53] rikatz commented on #191
@bprashanth Opened the PR #194, see if this solves our problem :)

[2017-01-31 22:03] rikatz commented on #73
@aledbf The original issue is closed, I think this one can also be closed, right?

Otherwise, I can take a look at this and see what's missing in the code.

[2017-01-31 22:32] aledbf commented on #73
@rikatz right. Closing.

[2017-01-31 22:32] #73 closed

[2017-01-31 22:40] colemickens opened #195 "nginx: support wildcard TLS names"
Right now nginx-ingress-controller doesn't do anything if the domain names are omitted from the Ingress rules (with the intention of the "wildcard" TLS  cert being used).

As a result, there are Ingress resources that work on GCE, but not Nginx (just using standard Ingress fields too... it's not like there's a proprietary annotation being used).

Fixing this bug would increase the number of ingres

[2017-01-31 22:47] aledbf commented on #195
@colemickens can you post an example please?

[2017-01-31 22:58] colemickens commented on #195
https://github.com/kubernetes/test-infra/blob/master/prow/cluster/ingress.yaml

I also had to remove the `*`s from the rules, or else it wouldn't work correctly. I can file a separate bug if desired, let me know.

[2017-01-31 23:04] bprashanth opened #196 "GCE: respect static-ip assignment via update"
Currently if you create an ingress then take its static-ip and assign the annotation, the controller is not smart enough to *not* delete the IP. To make this work:
1. Gate Static IP cleanup on a call to `getEffectiveIP()`: https://github.com/kubernetes/ingress/blob/master/controllers/gce/loadbalancers/loadbalancers.go#L828 (just like we do here https://github.com/kubernetes/ingress/blob/master/con

[2017-01-31 23:27] bprashanth commented on #191
Thanks! Will take a look today/tomorrow

[2017-01-31 23:32] aledbf commented on #195
@colemickens the issue here is that `gce != nginx`. This issue was already reported here https://github.com/kubernetes/contrib/issues/885

The only solution for this cases is to create a mapping of special cases but this requires changes in both ingress controllers (which makes no sense)

@bprashanth what can we do to avoid this issues?

[2017-02-01 00:11] colemickens commented on #195
I *think* I understand why the treatment of `/blah` `/blah/` and `/blah/*` are different... The path I can fix for both nginx and GCE by just changing the suffix.

But what about the TLS cert? I don't see why the nginx template generation couldn't do the same logic that the GCE controller does...

[2017-02-01 00:22] aledbf commented on #195
You are right, in the absence of hosts in the TLS section we should use the information available on the certificate and generate a server.

[2017-02-01 00:25] bprashanth commented on #45
@tonglil meet @nicksardo, who also volunteered to help with implementation/code-review/e2e testing etc.
I took a quick look at your tree in https://github.com/kubernetes/ingress/issues/45#issuecomment-275785495 and the diff looks reasonable.

Regarding validation, I think you'll have to stick the const annotation in the main repo and reference it through the vendored dep, maybe put it in `pkg/apis

[2017-02-01 00:28] bprashanth commented on #45
Also I'm still on the fence about naming (particularly, should we embed the name of the storage medium in the annotation, eg `gce-ssl-cert`, or let the controller decide where to look, eg first look at cloudprovider for ssl-cert with matching name, then look in /etc/ssl then...). Maybe @thockin has some thoughts.

[2017-02-01 01:11] thockin opened #197 "GCE is adding IPs to the proxy pool - need firewall update"
From GCE email today:

If you use HTTP(S) Load Balancing or SSL Proxy:

* Current behavior: Proxied traffic from the load balancer and the health check probes to your load balanced instances have source IP addresses in the range 130.211.0.0/22.
* Action required: We are introducing an additional range 35.191.0.0/16 for this purpose. You need to update your firewall rule to allow traffic from this

[2017-02-01 01:19] bprashanth commented on #197
The firewall api is invoked via the cloudprovider library, which lives upstream and takes an IPNet map for source ranges (https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L1562). All we need to do is pass in another IP, currently we get the source ip from here: https://github.com/kubernetes/ingress/blob/master/controllers/gce/firewalls/firewalls.go#L30, w

[2017-02-01 01:30] aledbf commented on #180
I think the global value of `proxy-set-headers` should point to a different ConfigMap to allow multiple values and avoid setting the same key multiple times.

Something like:
[code]

[code]

[2017-02-01 05:16] thockin commented on #45
How about `ingress.kubernetes.io/pre-shared-cert=<something meaningful to the controller>`.  On GCP that is the name of a certificate resource.  On the hypothetical Nginx with GCS it is a GCS URL, etc.

[2017-02-01 14:23] r0bj opened #199 "[nginx] UDP load balancing don't work"
I've migrated nginx-ingress-controller from 0.8.3 to 0.9.0-beta.1 with my UDP load balancing setup:
https://gist.github.com/r0bj/690e0ccdec46a070b2b54e1925c754c9

There are pods under service `logs-ingress`:
[code]

But there is no UDP backend configuration in `nginx-ingress-controller`:
https://gist.github.com/r0bj/5becfa94b8a1c60df6ee551af1f0f9a5

The same setup work fine with `nginx-ingress-con

[2017-02-01 16:21] rikatz opened #200 "Insecure directive in NGINX Template file"
In nginx.tmpl, we're using the following:

https://github.com/kubernetes/ingress/blob/master/controllers/nginx/rootfs/etc/nginx/template/nginx.tmpl#L23

``set_real_ip_from 0.0.0.0/0``

This might allow anyone, forcing in it's headers the variable X-Forwarded-For to override the real IP to anything it wants.

One side effect would be an attacker to mask it's own IP Address inside Nginx Logs. It als

[2017-02-01 18:05] rikatz opened #201 "Invalid Cert Auth does not get updated when changed"
Same as issue #171, but this is valid to the 'ingress.kubernetes.io/auth-tls-secret:' annotation.

So I have to restart the ingress controller to make this work.

Also, this is not working because the secret used must contain also a Public and a Private Key.

This should not be the right behaviour, as we could have a different secret (that the used as the SSL Certificates for the ingress controlle

[2017-02-01 19:20] tonglil commented on #45
For GKE, it could be the "name".
For Nginx, it would either be specified as a URL (which can be parsed for that case), or a directory name (which can then be parsed differently).

[2017-02-01 19:22] tonglil commented on #45
Thanks @bprashanth for pointing me in the right direction and @nicksardo.

I will work on the validation and then see about the e2e tests.

[2017-02-01 21:31] tonglil commented on #45
One of the things I am still unable to achieve is that if the user leaves the tls secret in the Ingress spec empty, but completes the annotation, the only port that shows up in `kubectl get ingress` is `80`.

[2017-02-01 21:46] bprashanth commented on #45
I think everything in the loadbalancer pool just checks `L7runtimeinfo.TLS.*`, so if you populate that up front with the right values, things should fall into place (eg https://github.com/kubernetes/ingress/blob/master/controllers/gce/loadbalancers/loadbalancers.go#L357).

So I'm suggesting doing https://github.com/kubernetes/ingress/compare/master...tonglil:gce-tls#diff-247e0d4a5e00d30d32c0e45498

[2017-02-01 21:55] bprashanth commented on #45
I don't know if we shold break on finding the first cert of keep piping the tls object down the stack of loaders (because the last loader might populate client certs, for example. We don't support client certs yet, but probably will soon: https://github.com/kubernetes/kubernetes/issues/32928), but for now I think breaking is fine, since we only care about one key/cert/chain and that's used for tls

[2017-02-01 21:58] bprashanth commented on #45
Oh, you're probably also looking for https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource_printer.go#L1285, which prints out kubectl output

[2017-02-01 22:15] tonglil commented on #45
Much appreciated, I think the last comment is what I was looking for.

I will also investigate the 3 different options (as is, early loading, and iteration) and report back with code.

[2017-02-01 23:40] bprashanth commented on #191
Isn't it better to throw events and fail fast, if the cert is malformed or non-existent? If you use a random fake cert users are probably going to be broken because the cert is signed by an unknown CA, but the admin of the cluster will continue to think everything is fine, right?

[2017-02-02 04:45] justinsb opened #205 "Panic with nil HTTP rule"
Passing an ingress with no HTTP block causes a panic here https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/controller.go#L630

The HTTP field is nilable:  `HTTP *HTTPIngressRuleValue`

e.g.

[code]

[code]

[2017-02-02 07:07] justinsb opened #206 "Multiple rules prevents SSL passthrough"
I'm using kube-lego, so I have a "primary" ingress rule, and kube-lego creates a secondary ingress rule for the LetsEncrypt challenge.

This looks like this:
[code]

klog-hub is the "real" service; it has these annotations:

[code]

However, while both ingress rules exist, the SSL passthrough block looks like:

[code]

But when I delete the kube-lego ingress, it immediately creates the SSL passthr

[2017-02-02 07:35] justinsb opened #207 "proxy_protocol - inbound or outbound"
I think nginx can use the proxy protocol for inbound connections (useful if nginx has an upstream load balancer, like ELB) and it can also use the proxy protocol for connections to the backends.

My understanding is that if you put `proxy_protocol` on the `listen` line that configures the listener, wherease if you put it on its own line with `proxy_protocol on` that is for connections to downstrea

[2017-02-02 10:37] aledbf commented on #207
@justinsb what you describe applies to a server sections. The line you indicate is for the stream section https://nginx.org/en/docs/stream/ngx_stream_proxy_module.html#proxy_protocol

[2017-02-02 10:41] aledbf commented on #152
@chentao1596 sorry for the delay. I meant add a new row in the annotations sections. [here](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md#annotations)

[2017-02-02 11:31] colemickens commented on #67
I don't understand this either. The nginx template file doesn't seem to make use of the `Target` or `AddBaseURL` fields of the struct decoded from the annotations aside from disabling compression when AddBaseURL is true...

[2017-02-02 11:34] colemickens opened #209 "rewrite annotations aren't used?"
The rewrite annotations end up in `$location.Redirect`, yet it only occurs in `nginx.tmpl` in two places, one of which is for forcing ssl redirect; the other just disables compression on rewrite.

How does this work? I was expecting to see the `rewrite` direction in the template.

[2017-02-02 15:27] webwurst opened #210 "open() "/etc/ingress-controller/auth/monitoring-dashboard.passwd" failed (13: Permission denied)"
I am testing [kubeadm/nginx-ingress-controller.yaml](https://github.com/kubernetes/ingress/blob/master/examples/deployment/nginx/kubeadm/nginx-ingress-controller.yaml) with `gcr.io/google_containers/nginx-ingress-controller:0.9.0-beta.1`.

Using annotations to configure basic-auth seems to be broken:
[code]
The following error shows up:
[code]
Here the access rights for that specific file:
[code]

[2017-02-02 16:42] rikatz commented on #191
@bprashanth I think this is a point of view.

Generating self signed certificates (as it was being made with the snake-oil-certificate) could make user and admin life easier.

Maybe we should only warn (or make a flag in the program) to generate or not this Self Signed Certificate.

But as the following situation:

* You set Default Backend.
* Default Backend MUST have an SSL Vhost (I think this s

[2017-02-02 16:58] bprashanth commented on #210
Slightly OT, but please add an example for this in: https://github.com/kubernetes/ingress/tree/master/examples if you have the time.

I'll need to debug to give more meaningful help, maybe @aledbf knows off the top of his head

[2017-02-02 21:10] aledbf commented on #191
@rikatz @bprashanth we need (at least in nginx) a certificate as fallback to be used in the default server to listen in port 443. Without this the first ingress configured with a tls section will be used as default server for https (this is the reason of the flag `--default-ssl-certificate`)

[2017-02-02 21:12] aledbf commented on #191
@bprashanth @rikatz please check https://github.com/kubernetes/contrib/pull/1393 for context

[2017-02-02 21:15] #205 closed

[2017-02-02 21:23] aledbf commented on #199
@r0bj please check the gist
[code]

[2017-02-02 21:45] bprashanth commented on #191
Maybe I misunderstood, I think using a default cert for just the default backend is good. I think using a default cert instead for a specific hostname is going to surprise users, i.e:

[code]

If www doesn't exist, I want google.com to be unavailable, not encrypt using a self signed cert.
OTOH, a request sent to 1.2.3.4 with `Host: facebook.com` should hit the default backend and get the snakeoil

[2017-02-02 21:50] r0bj commented on #199
Yeah but the configmap `udp-lb-config` actually exists:
[code]

[2017-02-02 21:57] rikatz commented on #110
I don't know if this is a good behaviour, of setting tls.key and tls.crt also for a secret containing only CAs accepted in mutual authentication.

Maybe using a separate opaque secret wouldn't be better?

[2017-02-02 22:03] rikatz commented on #191
@bprashanth Whatyou reported in your last comment is dealed by this piece of code:

https://github.com/rikatz/ingress/blob/5fc45ea1f5ee8c6a88a80b023da506148cf72489/core/pkg/ingress/controller/controller.go#L935

This if we could substitute by a glog.Warning message. I've changed this before (to use the default certificate) as this could be easier for users to enable the HTTPs vhost using the gener

[2017-02-02 23:16] tonglil commented on #45
1. I am trying to write unit tests for this package, but because I defined the annotation key in the main repo, how do I use my fork of it in this repo?

2. I am not sure how to run the modified k8s to ensure my changes to the validator are valid (other than the unit tests I wrote for the validator). Any suggestions?

3. I noticed this folder (https://github.com/kubernetes/ingress/tree/master/core

[2017-02-02 23:30] bprashanth commented on #45
You need to check the code into main repo, then update the godep to include your changes:https://github.com/kubernetes/ingress/blob/master/docs/dev/releases.md#dependencies

For local testing you can just modify the code in `ingress/vendor/k8s.io/kubernetes/pkg...` to include the new annotation.

You can bring up a local cluster with the local-up-cluster script to test validation: https://github.c

[2017-02-02 23:54] bprashanth commented on #191
How about including the always including the default certificate in the ingress.Configuration and letting the backend decide if it should use when there's no available certificate? Then if you don't find the secret you leave the field empty and throw an event.

[2017-02-03 00:08] rikatz commented on #191
@bprashanth Didn't get the idea. What happens here is that if the backend doesn't find a valid certificate, it uses the default one (the configured in --default-ssl-certificate, or otherwise if none configured the fake one).

The idea is just throw a Warning when using the default certificate?

[2017-02-03 00:29] bprashanth commented on #191
Yeah I want that to be the decision of the backend, not the decision of the generic controller.
Meaning here: https://github.com/rikatz/ingress/blob/5fc45ea1f5ee8c6a88a80b023da506148cf72489/core/pkg/ingress/controller/controller.go#L935, don't set it to the fake one, instead make it so that here: https://github.com/kubernetes/ingress/blob/master/examples/custom-controller/server.go#L50 the ingress

[2017-02-03 00:35] colemickens opened #213 "What is the state of the move?"
What is going on with this repo? There's a weird mix of content missing from `contrib/ingress` and then there's stuff that has been moved over in a far diminished capacity. I have no idea where to point someone for intro information about the `nginx-ingress-controller`.

https://github.com/kubernetes/ingress/tree/master/controllers is missing a ton of content compared to https://github.com/kuberne

[2017-02-03 00:35] colemickens commented on #209
I've been trying this on and off all day and am convinced that this is just buggy and maybe not finished. Can someone confirm and I will try to fix it?

[2017-02-03 00:39] rikatz commented on #191
Hum, ok.

So let's 'draw' the flow:

* If it's a fake certificate (generated because of the need of a fake certificate as the first HTTPs vhost of nginx) and the server definition doesn't contain a secret (or contains an invalid one), then throw a Warning about that and ignore the existence of the fake certificate

* If it's not a default fake certificate (like a valid default), then use it in the

[2017-02-03 00:46] aledbf commented on #209
@colemickens the rewrite is configured [here](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/template/template.go#L266).

[2017-02-03 00:51] colemickens commented on #209
Great, thanks for the pointer, I'll dig in more.

[2017-02-03 00:56] bprashanth commented on #213
As described in the README we're moving over: https://github.com/kubernetes/ingress#description

Please open a pr with missing content, we're shutting down contrib https://github.com/kubernetes/contrib/pull/2365

Existing examples have an nginx/ subdir: https://github.com/kubernetes/ingress/tree/master/examples

Configuration is described here https://github.com/kubernetes/ingress/blob/master/cont

[2017-02-03 00:57] aledbf commented on #210
@webwurst are you mounting the `/etc` directory? (I cannot reproduce this error)

[2017-02-03 00:59] bprashanth commented on #213
Ideally one shouldn't require a lengthy README, just a brief landing page that sends users to the example section. I'm fine just porting over the README from contrib but we have evidence that it confused a lot of people (both the nginx and gce README), so it might need some refactoring.

[2017-02-03 01:14] colemickens commented on #213
I see. The last sentence there was what I was curious about. I'll try to address this with my other nginx changes, probably over the weekend. Thanks @bprashanth .

[2017-02-03 01:14] bprashanth commented on #191
I'm thinking about delegation to the specific backend, which may or may not be nginx. The decision to use or ignore the fake cert should be made somewhere here: https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/nginx.go#L17, not in the core.

After doing that, I'm fine plugging the default where there's no valid cert because any user that doesn't want this beha

[2017-02-03 01:19] bprashanth commented on #213
The number 1 complaint we got in contrib was the lack of consistent documentation. This is basically the docs TODO list https://github.com/kubernetes/ingress/labels/area%2Fdocs, I think we should try and avoid the ginormous README if at all possible, though all controllers certainly require a README. A user shouldn't have to sift through implementation notes, and an admin should easily be able to

[2017-02-03 01:34] bprashanth opened #215 "Haproxy ingress controller"
We have a way to add an ingress backend (https://github.com/kubernetes/ingress/tree/master/examples/custom-controller), and @jcmoraisjr has utilized this pattern to create a haproxy ingress controller (https://github.com/kubernetes/ingress/pull/214). Several parties have expressed interest in the past. Maybe we should collaborate?

@odacremolbap @kokhang @Pendoragon @aledbf

[2017-02-03 01:38] bprashanth commented on #215
@AdoHe

[2017-02-03 01:38] bprashanth commented on #215
@ramr

[2017-02-03 02:22] electroma opened #216 "CORS annotation is not supported"
Version 0.8.3 had support for CORS annotation.
In this repository the only entrance for "CORS" is in `nginx.tmpl`: location.EnableCORS.
So existing annotation `ingress.kubernetes.io/enable-cors` does nothing.

Any plans to get this functionality in new version?

[2017-02-03 02:58] aledbf commented on #216
@electroma the functionality is present in this version. Just add the annotation `ingress.kubernetes.io/enable-cors: "true"` in the imgress.
Just in case we changed the way the annotations are parsed. Please check [here](https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/annotations.go#L57)

[2017-02-03 03:15] electroma commented on #216
@aledbf that's great! Thank you for quick reply!
I suspect that I'm not the first and not the last to ask about "missing" annotation parsers.
It would be great to have some kind of FAQ for questions like this one.

[2017-02-03 05:48] AdoHe commented on #215
@bprashanth 👍 really glad to see this, any things we can do now?

[2017-02-03 07:06] porridge commented on #159
s/Configuration/Documentation/?

[2017-02-03 07:38] odacremolbap commented on #215
so cool
yes, I'll jump in

[2017-02-03 10:21] sander-su commented on #160
bump
@aledbf

[2017-02-03 10:42] rikatz commented on #160
@sander-su Have tested this here also. I'm working now on other thing here (trying to improve the mutual authentication), but if you have any idea also in how to improve your issue in the code, will appreciate :)

[2017-02-03 11:08] webwurst commented on #210
I am using this configuration https://github.com/codeformuenster/kubernetes-deployment/blob/master/manifests/ingress/daemonset.yaml which is the same as the `kubeadm` example from this repo, except of the labeling. No mounting. I just restarted the `Pod`s and verified that there is the permission error. `chmod` fixed it again. I just checked the docker images and there is something different: :tad

[2017-02-03 17:55] porridge commented on #5
I made some baby steps towards using minikube.
I'm going to investigate that further, given the problems with hyperkube-based cluster (the fact that it seems soft-deprecated, incompatibility with ufw, and the rshared issue on kubelet).

One questions is what I should do with `hack/e2e*` - since it is currently not much apart from a skeleton around hyperkube setup - should I try extending it to sup

[2017-02-03 18:30] bowei commented on #5
@porridge -- if you want an example using hyperkube, you can take a look at this:

https://github.com/kubernetes/dns/tree/master/pkg/e2e

It starts an API server + controller manager in a container. There are some things that need to be resolved with the containerized mounter, but it works...

[2017-02-03 20:30] cmluciano commented on #215
I can help too, we currently have an haproxy example internally that me have been meaning to push here. I can start a PoC unless there is already code that we want to start with.

[2017-02-03 20:35] bprashanth commented on #215
There is, see https://github.com/kubernetes/ingress/pull/214. If there's enough interest we can put it through incubator, but I think the plan for now is to develop it out of tree and add examples here.

[2017-02-04 02:05] tonglil commented on #45
Sweet, thanks. I would also prefer a single copy so leaving it in the main repo.

After fumbling with `godep` and `git`, I was able to build minikube with my validation edits to k8s:
[code]

Through that experience, I also suffered from [really slow](https://github.com/kubernetes/kubernetes/issues/15630) (and [possibly broken](https://github.com/kubernetes/kubernetes/issues/40896)) pre-commit hook

[2017-02-04 02:49] AdoHe commented on #215
[code]
SGTM. Will follow this plan.

[2017-02-04 06:55] justinsb commented on #206
@aledbf you asked for the two ingresses...  I believe the problem is that the kube-lego one comes first, and then sets ssl-passthrough to false on the server, which is then not updated by the second ingress.  I am going to send a proposed PR but honestly I am unsure whether it is the "right" fix.

[code]

[code]

[2017-02-04 12:47] porridge commented on #5
@bowei ingress/hack already contains code to start a hyperkube-based cluster, so I'm not sure we need more examples. However I'm not sure we should be going that way given the problems I mentioned:
- [problems with ufw](https://github.com/kubernetes/ingress/issues/5#issuecomment-269375689)
- the fact that [minikube is now the recommended way](https://github.com/kubernetes/community/blob/master/con

[2017-02-04 16:28] jason-riddle opened #229 "How to remove path from proxy_pass"
I'm having an issue with using the path `/jupyter` to send traffic to another service, but then needing to drop the `juptyer` portion and have the request sent as `/` since my upstream service complains with `404 not found /juptyer`. It's similar to the issue describe here: http://serverfault.com/questions/562756/how-to-remove-the-path-with-an-nginx-proxy-pass and I not sure if this is possible wi

[2017-02-04 16:45] aledbf commented on #229
@jason-riddle please check the [rewrite](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md#rewrite) annotation.
Check this [example](https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx/examples/rewrite)

[2017-02-04 17:08] jason-riddle commented on #229
Ah yes that's it. Thanks!

[2017-02-04 19:07] bigkraig opened #230 "Questions about using the core controller"
I'm starting to work on an ALB controller that I would use in front of an nginx ingress. Since my backend is another ingress I need access to the kube client which is not exported from the module. Are there any reasons why the client isn't exposed now, or is this safe to submit a PR?

Annotations are in the same boat. I don't have a requirement to add more annotations yet but if this comes up they

[2017-02-04 19:15] bowei commented on #5
`hyperkube` has only a dependency on docker, which means we were able to run the e2e tests as part of a travis ci test, which is helpful. The code above does take care of the mounting issue.

[2017-02-04 19:20] aledbf commented on #5
@porridge I think @bowei is right. We should use the code from the dns repo to bootstrap the e2e test suite from a repo that is already using it (so we don't waste time in the setup)

[2017-02-04 19:21] aledbf commented on #230
@bigkraig why you need access to the client? What is missing from the data is passed in the OnUpdate method?
Please check the [custom-controller](https://github.com/kubernetes/ingress/tree/master/examples/custom-controller) example

[2017-02-04 19:26] bowei commented on #5
@aledbf if there is common interesting, this may be worth splitting off into a common framework. Then we can mutually benefit from the work. Let me know which direction you guys decide to go...

[2017-02-04 19:43] aledbf commented on #5
Yes please :)
I think this is one of the missing pieces, a common bootstrap for e2e test suites

[2017-02-04 19:43] aledbf commented on #5
@bprashanth please comment about this ^^

[2017-02-04 21:09] bigkraig commented on #230
@aledbf I could be going about it wrong. I'm trying to get an ALB with Route53 CNAME mapped to my nginx ingress.

My nginx ingress, I'd want a route53 name for 2048.acme.com aliased to an ALB that is connecting to the nginx endpoints, not the pod network endpoints of the 2048 pods:

[code]

In the `updatePayload` I get the 2048 pod endpoints inside of an `ingress.Backend` and I get the configurati

[2017-02-04 21:36] aledbf commented on #230
@bigkraig the code goes straight to pods, we skip the service logic.
I do not understand why you want to access the service

which endpoints? `ingress.Backend` contains the upstreams sections for `service-2048` service

[2017-02-04 21:40] bigkraig commented on #230
@aledbf correct, but they are not accessible from an ALB, they're inside the pod network.

10.233 is in a VXLAN, the ALB doesn't have access to it.
[code]

The nginx-ingress creates addresses that can be reached by the ALB:
[code]

[2017-02-04 21:53] aledbf commented on #230
@bigkraig right. Then this will not work with the current code.
I think we need to add a flag to user the service instead of the pods but this means we need to disable things like the setting `enable-sticky-sessions`

[2017-02-04 21:55] bigkraig commented on #230
I'd prefer to hit the pods so that I don't add in another hop or I-tables though.

[2017-02-04 21:58] aledbf commented on #230
@bigkraig ok, but if you use the service address then you cannot bypass iptables

[2017-02-04 22:11] bigkraig commented on #230
@aledbf that's why I was thinking of getting the ALB targets from the Nginx ingress. Nginx becomes my ingress point to the pod network. Bad use of k8s primitives? It seemed like a good option for reducing the amount of hops

[2017-02-04 22:17] aledbf commented on #230
@bigkraig honestly I do not see the point of using ALB if you need to use the nginx ingress controller. I am sorry but can you explain what advantage/feature you get from ALB that is not available now? (Please take this as a question, I'm not familiar with ALB)

[2017-02-04 22:48] bigkraig commented on #230
@aledbf with the alb I get an endpoint where amazon can rapid remove targets that become unavailable. I could use r53 to dns load balance over the Nginx targets but dns is suspectible to unpredictable caching. I need something that is much more reliable than that and I can't do client side load balancing or the like. This would also be used for external services, so a major website's .com.

[2017-02-05 00:22] #207 closed

[2017-02-05 19:32] jcmoraisjr commented on #215
Starting version of HAProxy Ingress Controller is [here](https://github.com/jcmoraisjr/haproxy-ingress). Travis CI is already building each push and pull requests. Travis is also deploying tags on [Quay.io](https://quay.io/repository/jcmoraisjr/haproxy-ingress?tab=tags).

At this right moment I'm working on a README and:

* Including HAProxy Ingress Controller [here](https://github.com/kubernetes/

[2017-02-06 04:25] Pendoragon commented on #215
@mqliang

[2017-02-06 07:01] ramr commented on #215
@bprashanth  @jcmoraisjr  +1  - will take a look at this in the next couple of days. Thx

[2017-02-06 10:17] msowka-ninja opened #233 "IP Preserve in nginx ingress controller"
Due to the change of Port 443 streaming to nginx 127.0.0.1:442 the ip is not preserved anymore. (127.0.0.1 is returned)
Due to this change also the ingress ip-whitelist does not work anymore.

This could be fixed by proxy passing the x-forwarded-for ip and accept real-ip.

[2017-02-06 15:39] rikatz commented on #191
Guys, I'm working in the Authentication TLS here, and will return this issue ASAP.

[2017-02-06 17:12] cmluciano commented on #233
Would you like to take a stab at the PR? I think https://github.com/kubernetes/ingress/blob/master/controllers/nginx/rootfs/etc/nginx/template/nginx.tmpl may be the starting point.

[2017-02-06 17:53] bigkraig commented on #230
@aledbf been bouncing around on this one a bit and talking with @joshrosso on it. I'll still need access to the kubeclient and annotations but what we are thinking now is that we expose the application on a HostPort, create an ALB & Route53, but only add the hosts with the pod running on it to the ALB target list.

That way the ALB will always route directly to the host running the application pod

[2017-02-06 18:18] aledbf opened #234 "Allow to switch off nginx access_log"

[2017-02-06 18:25] bprashanth commented on #5
Yeah of course, what are we thinking - a bootstrap hyperkube for travis incubator?

[2017-02-06 18:38] bowei commented on #5
I'm happy to propose the project and drive it

[2017-02-06 18:42] bprashanth commented on #5
Thanks! Suggest an email to kubernetes-dev per https://github.com/kubernetes/community/blob/master/incubator.md#existing-code-in-kubernetes, the test infra team might have some thoughts (or recommend putting it in https://github.com/kubernetes/test-infra or https://github.com/kubernetes/repo-infra)

[2017-02-06 19:39] porridge commented on #5
I'd appreciate it if you could keep me in the loop.

[2017-02-06 22:05] bprashanth opened #237 "Prometheus metrics for default-http-backend"
Should export qps for this thing: https://github.com/kubernetes/contrib/tree/master/404-server in prometheus format

[2017-02-06 22:07] bprashanth opened #238 "Generic backend exposes api operations in prometheus format"
Feels like it would be generally useful to export kubernetes api operation stats in prometheus format from the generic controller, so all backends can avail of it.

[2017-02-06 22:10] bprashanth commented on #238
Maybe just copy/paste code from one of the master components, like kube-controller-manager? https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/controllermanager.go#L137

[2017-02-06 23:38] aledbf commented on #238
@bprashanth already exists for stats about the go binary https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/metrics.go

[2017-02-06 23:39] bprashanth commented on #238
Nice, so I guess that's cpu/ram usage etc? maybe add stats for number of services/endpoitns with/without tls etc that are being passed down into the backend?

[2017-02-06 23:48] aledbf commented on #238
This is the default + nginx_ added by the nginx backend

[code]

[2017-02-06 23:48] aledbf commented on #238
good idea.

[2017-02-06 23:49] aledbf opened #239 "Add additional metrics to default prometheus metrics"
- number of services
- number of endpoitns
- with/without tls

[2017-02-06 23:49] aledbf commented on #238
https://github.com/kubernetes/ingress/issues/239

[2017-02-07 08:06] gianrubio commented on #239
@aledbf I'm already working on #72, so I can do this as well.

During the weekend I'll submit the PR #72 for reviews

[2017-02-07 09:46] janhommes opened #242 "Ingress controller TLS with wildcard certificate"
I try to add a wildcard certificate as the default tls certificate but I getting the following error message:
[code]
The same message I get if I use it only on a ingress rule but not if I use a self-signed cert. This certificate works in another nginx installation. Is this a bug or is my cert misconfigured?

[2017-02-07 10:09] itamaro opened #243 "[GLBC] Expose GCE backend parameters in Ingress object API"
When using GCE Ingress controller, the GCE Ingress controller (GLBC) provisions GCE backends with a bunch of default parameters.

It would be great if it was possible to tweak the parameters that are currently "untweakable" from the Ingress object API (AKA from my YAML's).

**Specific use case:** GCE backends are provisioned with a default timeout of 30 seconds, which is not sufficient for some lo

[2017-02-07 12:38] aledbf commented on #239
@gianrubio awesome. Thanks for doing this.

[2017-02-07 14:08] aledbf commented on #195
@bprashanth how we should handle this case? (empty hosts in the TLS section).
Writing PR 236 the code becomes more complex than should be

[2017-02-07 14:38] aledbf commented on #4
This is ready. Closing.

[2017-02-07 14:38] #4 closed

[2017-02-07 14:59] naerymdan opened #245 "uninitialized "proxy_upstream_name" variable using nginx-ingress-controller:0.9.0-beta.1"
Using the example for statip IP verbatim (https://github.com/kubernetes/ingress/tree/master/examples/static-ip/nginx)

I get a lot of uninitialized "proxy_upstream_name" messages, as well as "service X/Y does not have any active endpoints" in spite of the successful readinessProbe I see go past the target containers.

[code]

Just to be clear, I do see the health check go by in all services:

[cod

[2017-02-07 17:10] cmluciano commented on #242
May be dup of #195

[2017-02-07 17:32] cmluciano commented on #237
I'll take a stab at this

[2017-02-07 17:36] aledbf commented on #230
@bigkraig I think adding a new Set method to the controller interface is better than exposing the k8s client. Please check [here](https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/controller.go#L82-L86). The current implementation uses this `StoreTo*` listers in order to avoid hitting api-server too often (this is a local store of all the services or endpoints for insta

[2017-02-07 18:19] bprashanth commented on #195
Hmm, figuring out the hostname from a cert should be relatively straightforward I think.
[code]
So maybe try and figure out the hostname before failing?
Shouldn't be rules evaluate according to longest prefix so it's not possible for someone specifying a wildcard to somehow hijack the requests from someone specifying a hostname?

[2017-02-07 18:23] aledbf commented on #195
@bprashanth that's easy ^^.
I meant what's the correct behavior for Ingress rules with empty hosts in the TLS section and a valid secretName? The controller should create one server per common name and check for wildcards?

[2017-02-07 18:31] bprashanth commented on #243
This will need to be a per Service configuration since currently ingresses share the backend for a given nodeport, so it makes more sense to specify it as an annotation on the Service. Basically it would be nice if the Service author could publish some timeouts for their Service, and any/all loadbalancers fronting the Service will respect these settings.

[2017-02-07 19:01] rikatz commented on #110
@euank Take a look at the PR #235 and see if that's the expected behaviour. :)

[2017-02-07 22:34] tonglil commented on #45
Hey folks, before I can write any test cases, I am really having a difficult time trying to get e2e tests _running_ on my system.

1. I tried `hack/local-up-cluster.sh` but I hit auth errors (https://github.com/kubernetes/kubernetes/issues/40459).

2. I tried minikube but it has problems returning an external IP address:
[code]

3. I also tried to build in GCE/GKE, but run into provisioning issues

[2017-02-07 23:29] bprashanth commented on #45
hmm, you need a test cluster to run e2es against, and you need to have a local build to create a test cluster, so the first step is running make successfully.

Try these instructions: https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#local-build-using-make

Maybe start with just running `make`, followed by something like
[code]
That will give you an e2e cluster.

[2017-02-07 23:32] bprashanth commented on #45
To run GCE ingress e2es you will also need to bump up your backend-services quota: https://github.com/kubernetes/ingress/blob/master/controllers/gce/BETA_LIMITATIONS.md#quota, you can just increase it to 30 the default of 3 is too low. Once you have an e2e cluster, you can run
[code]
to run just the L7 GCE tests.

[2017-02-07 23:50] bprashanth commented on #195
It should create a server per hostname in the rules section, and use the cert from the secret for each.

If there are no hostnames in the rules section, and no hostname in the tls section, we can do 1 of 3 things:

1. use a catchall hostname and the given cert - this would catch all traffic for the default backend. Maybe this is ok if we document it correctly, it's the cost of muxing all ingresses

[2017-02-08 08:34] thockin commented on #243
The reason for it to be an annotation is that we're not ready to add it to every implementation of Services, yet.  Maybe never.  I would suggest something like `service.kubernetes.io/timeout` as the annotation key

[2017-02-08 09:45] janhommes commented on #242
Mh, I don't think it's a duplicate because I am using it as a default certificate with:
[code]

What exactly is `asn1` used for? Is it used in the controller to validate the certificate or is it used for something else?

[2017-02-08 10:03] jcmoraisjr opened #249 "TROUBLESHOOTING.md doc"
As mentioned on #240 (last but one comment on code) this is a proposal of a troubeshooting doc in order to place common problems, tips, tricks and solutions on a single page.

A starting point:

# Troubleshooting

This document lists common problems, how to analyze and solve them (...)

## Check certificate sent by ingress controller

Ingress controller uses [SNI](https://en.wikipedia.org/wiki/Ser

[2017-02-08 13:09] rikatz commented on #242
@janhommes What's the structure of your cert? Can you post the X509 PEM (only the public key) somewhere, so I can take a deeper look?

Thanks!

[2017-02-08 13:13] rikatz commented on #234
@aledbf The idea for this is as ConfigMap (global), per server or per location?

[2017-02-08 13:14] aledbf commented on #234
To add the feature, later we can add an annotation to configure per ingress.

[2017-02-08 14:39] janhommes commented on #242
the structure is the following:
[code]

I tested it with traefik-ingress-controller and there it is working.

[2017-02-08 16:06] foxylion opened #250 "service default/... does not have any active endpoints"
Hi,

I've upgraded `gcr.io/google_containers/nginx-ingress-controller` from `0.8.3` to `0.9.0-beta.1`. But now I'm facing the issue that no service is available through the ingress controller. It will always result in 503 status code responses.

Log looks like this:
[code]

The generated nginx.conf contains ony upstream entries with `127.0.0.1:8181` as backend endpoint:
[code]

Any idea what is go

[2017-02-08 16:31] aledbf commented on #250
@foxylion there is a bug in 0.9.0-beta.1 already fixed in master (https://github.com/kubernetes/ingress/pull/121).
In the meantime if you change `targetPort` to 80 instead a string it will work.
Apologies for the inconvenience.

[2017-02-08 19:47] einarf commented on #215
I've also started on a haproxy controller. Should we send pull requests to the repo listed here?

[2017-02-08 20:03] bprashanth commented on #249
Yeah we should start with a skeleton doc that includes the text from above (leave out the SNI part, not all ingress controllers support it).

We can also add a section called "Debugging ingress controllers", written in the style of https://kubernetes.io/docs/user-guide/introspection-and-debugging/, that has the basic "kubectl logs/events" type debug commands.

[2017-02-08 20:03] bprashanth commented on #249
Few more ideas to add to the doc:
1. keepalive timeout tuning (i.e if you have ingress controller <-> nginx pod and you're seeing 503s)
2. browser complains about insecure connection, but curl works
3. Intermediate certs don't work
4. OSS ingress controller accessible via ssh + curl but not through ingress IP
5. multiple IPs show up in the ingress

[2017-02-08 21:57] bprashanth commented on #215
@einarf yes please, we recently added some docs, more welcome:
https://github.com/kubernetes/ingress/tree/master/examples/deployment
https://github.com/kubernetes/ingress/tree/master/examples/tls-termination

[2017-02-08 22:05] tonglil commented on #45
Thank you, `make` has always been successful, it was the part trying to get a test cluster that was problematic.

I ran `go run hack/e2e.go -v --up -check_version_skew=false` again and because the $USER on my laptop is numeric, I had to:

1.
[code]
2. update `build/common.sh`:
[code]

Then when I run it again, it was able to create the cluster. I can't tell if that was the actual problem though.

[2017-02-08 22:24] foxylion commented on #250
@aledbf Thanks for your quick response. I'll try that.

Is there any schedule when new releases are done?

[2017-02-08 22:37] tonglil commented on #45
Oh fwiw I also tagged the k8s commit before I built it.
[code]

[2017-02-09 12:10] rikatz commented on #242
@janhommes it seems to be something with EC (elliptic curves)  certificates (i guess, not sure).

What's the version of ingress controller you've used? Maybe this was compiled with go 1.6. Need to check if compiling with go 1.7 solves the problem.

[2017-02-09 12:20] janhommes commented on #242
@rikatz I used `gcr.io/google_containers/nginx-ingress-controller:0.9.0-beta.1` but tested also version 0.8.3, both the same problem.

[2017-02-09 15:26] naerymdan commented on #245
Was related to issue https://github.com/kubernetes/ingress/issues/250 and fixed in master (#121) it seems.

[2017-02-09 15:26] #245 closed

[2017-02-09 15:30] naerymdan opened #253 "[nginx] no HTTP -> HTTPS redirect with TLS configured (0.9.0-beta.1)"
Ingress config:

[code]

Also tried with annotation

`ingress.kubernetes.io/ssl-redirect: "true"`

[2017-02-09 16:37] agustincastanio commented on #234
+1

[2017-02-09 16:39] rikatz commented on #242
@janhommes I've created a nginx ingress controller based on 0.9.0-beta.1, but compiled with go1.7.4

Can you test this, and check if the problem persists?

The image is rpkatz/nginx-ingress-controller-go17:0.9.0-beta1

[2017-02-09 18:39] rikatz commented on #191
@bprashanth so, what's the right workflow?

1) User specified a --default-ssl-certificate that doesn't exist: Crashloop
2) User specified an existent --default-ssl-certificate: The certificate is used in the default vhost and also in vhosts that specify a 'tls' directive, but an invalid secret
3) User does not specify any --default-ssl-certificate: A self signed is generated for the default server

[2017-02-09 18:48] rikatz commented on #234
@aledbf Was going to check this one, but found this:

https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/template/configmap.go#L32

I've checked that this directive is related to disabling logging to places like '/healthz', '/nginx_status' and so (when configured).

So, may I create a 'disable-access-log' configMap here? This is not related, right?

[2017-02-09 18:53] aledbf commented on #234
@rikatz this is different. The user wants to disable all the logging. The link allows to skip some urls from the logs (like health-checks)

👍

[2017-02-09 19:10] naerymdan commented on #253
Added
`ingress.kubernetes.io/rewrite-target: /`
makes the HTTP -> HTTPS redirect work. That should not be required.

[2017-02-10 01:20] tonglil commented on #45
After a lot frustration, I stopped trying to deploy to gce/locally and decided to dev on a GCE Ubuntu instance itself.

local-up-cluster.sh works, but now the tests won't run for some garbled reason:

[code]

And installed info:
[code]

[2017-02-10 01:43] bprashanth commented on #45
Oh, haha our build and test tools can be a little frustrating at times, but I literally just setup a test cluster and ran tests. What failed for you?  (it sounded like you got it working in https://github.com/kubernetes/ingress/issues/45#issuecomment-278476971).

You might have to run `make clean` to purge old builds. You can stick a log line somewhere and make sure it shows up, eg modify this lin

[2017-02-10 02:14] bprashanth commented on #191
I'm fine with not crashlooping.

I'm suggesting that you add a field called protocol to ingress.Server here: https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/types.go#L156

Set it here, if you find a ing.spec.tls: https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/controller/controller.go#L880

in cases 1 and 2 the generic controller leaves the cert field empty he

[2017-02-10 02:15] tonglil commented on #45
Regarding the test infra, I hope to summarize my experience and clean up the docs at the end of this.

---

In that comment (https://github.com/kubernetes/ingress/issues/45#issuecomment-278476971), I wasn't sure if I should proceed with the test if the server K8s version didn't have my "API spec validation" code changes (which could affect the e2e tests?).

Are you suggesting that the e2e test onl

[2017-02-10 02:17] bprashanth commented on #191
I'm also not sure if we want to call it protocol, or just TLS=true/false, since protocol=TCP might also want TLS and we won't have a way to express that. Maybe we don't even mention tls and call it `TransportSecurity`?

[2017-02-10 02:22] bprashanth commented on #45
Yes to test the validation part you will need your changes in the real cluster, since validation is run by the kube-apiserver.

I'm guessing your hashes are mismatched somehow and you can confirm via logging statements that your code is actually getting pushed. I typically take down and rebuild my cluster to push new changes, i.e
[code]

Since pushing to a live cluster has been unreliable in the p

[2017-02-10 02:24] bprashanth commented on #45
Also FYI main repo HEAD is usually stable enough that you can develope straight on it because we run quite a few pre and post submit e2es in http://submit-queue.k8s.io/#/queue, unless you're specifically looking for a particular commit to start from

[2017-02-10 02:28] tonglil commented on #45
I might have spoken too soon. After `make release-skip-tests` succeeds, `go run hack/e2e.go -v -up -check_version_skew=false` gives:
[code]

Will try going back to local build + deploy, with `make clean`, thanks.

[2017-02-10 02:58] jason-riddle commented on #229
Alright so I closed this prematurely when I shouldn't have. It looks like some css resources aren't being loaded properly. Here's a minimal example I was able to come up with.

[code]

I've compared what is expected with the actual result.

<img width="830" alt="screen shot 2017-02-09 at 9 53 05 pm" src="https://cloud.githubusercontent.com/assets/2156866/22812380/58428078-ef12-11e6-9256-3e2c507051

[2017-02-10 03:00] jason-riddle commented on #229
However, this scenario works fine.

[code]

<img width="829" alt="screen shot 2017-02-09 at 9 59 43 pm" src="https://cloud.githubusercontent.com/assets/2156866/22812491/1847e372-ef13-11e6-859d-c9162d34e177.png">

[2017-02-10 09:40] sander-su commented on #253
this is the same: https://github.com/kubernetes/ingress/issues/160

[2017-02-10 09:43] sander-su commented on #160
Currently I do not have much time..
Don't know if it is possible by the template engine but the template should check if $location.Redirect.SSLRedirect is nil and then use the default.

[2017-02-10 09:47] janhommes commented on #242
@rikatz sorry, problem still exist. Interesting is that it shows the above error for every certificate in my cluster, even when I don't use it in an ingress.

[2017-02-10 10:19] Nalum opened #257 "Nginx Controller using endpoints instead of Services"
Is there any reason as to why the Nginx controller is set up to get the endpoints that a Service uses rather than using the Service?

When I run updates to a deployment and they get rolled out some requests are being sent to the pods that are being terminated which results in a 5XX error because nginx still thinks it's available. Doesn't the use of the Service take care of this issue?

I'm using t

[2017-02-10 11:03] gambol99 commented on #233
Yeah .. i had to drop the stream config and place the listen 443 proxy_protocol back in the server {} block to get this blocking again ..

[2017-02-10 14:58] naerymdan commented on #253
You are right.

[2017-02-10 14:58] #253 closed

[2017-02-10 15:24] cluk33 commented on #233
We have patched the nginx.tmpl for that:
https://github.com/pingworks/ingress/commit/a170f8dba3656eb3941d451d4539095bc12d0b36

[2017-02-10 15:42] jaykeshur opened #259 "Add an annotation to enable sticky session per backend"

[2017-02-10 16:54] yissachar opened #260 "Re-instate nginx Ingress Controller docs"
In the previous contrib project, the nginx controller had extensive docs describing how to use it. Recently these were removed from the project, and replaced with a pointer to this project. However, the docs were not migrated to this project.

I understand that there is a desire to change the documentation structure (e.g. https://github.com/kubernetes/ingress/issues/2) with the new move, but in my

[2017-02-10 16:56] yissachar commented on #257
The old docs explained:

[2017-02-10 17:06] tomazzaman commented on #116
3.0 has been out [since November](https://github.com/SpiderLabs/owasp-modsecurity-crs/releases)? Or am I missing something?

[2017-02-10 17:32] Nalum commented on #257
Ah okay.

Thanks for that, I didn't find it in my searches.

Are there efforts being made to have it more responsive to the readiness and liveness checks do you know?

[2017-02-10 17:34] aledbf commented on #257
@Nalum yes. We need to release a final version before changing the current behavior.
The idea (we need a POC first) is to use the kong load balancer code that allows the update of the nginx upstreams without requiring a reload.

[2017-02-10 18:21] bprashanth commented on #260
This is causing more discomfort than I'd initially intended. I'm fine just moving the README over. Please send a pr if you have time, otherwise I'll try to do it sometime this weekend.

[2017-02-10 19:00] bprashanth commented on #260
https://github.com/kubernetes/ingress/pull/262

[2017-02-10 19:02] bprashanth commented on #259
There's an open pr, and https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md#allowed-parameters-in-configuration-configmap, we're lacking a good example, please write one if you have time. If that's not what you're asking for, please elaborate.

[2017-02-10 19:28] cmluciano commented on #233
possible dup #188

[2017-02-10 19:28] bprashanth commented on #45
@kubernetes/test-infra-maintainers Tony seems to be having a pretty hard time running e2es against a GCE cluster, any suggestions? I can't repro and am not familiar enough with the scripts to provide insight without debugging

[2017-02-10 19:32] ixdy commented on #45
that's ... bizarre. @tonglil what version of python do you have installed? (`python --version`)

[2017-02-10 20:28] yissachar commented on #260
Thanks for the quick resolution!

[2017-02-10 20:28] #260 closed

[2017-02-10 20:42] bprashanth commented on #213
I re-added the REAMDE and config docs (https://github.com/kubernetes/ingress/pull/262), still needs a refactor

[2017-02-10 21:27] jcmoraisjr opened #263 "Redirect from root path"
I need a way to configure where to redirect user if he get the root path `/` of a host. AFAICS [Redirect.Target](https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/annotations/rewrite/main.go#L35) should be used to rewrite the url to the proxy instead send back a `302` redirect. Is this right?

If so I'd like to implement in this way: instead include something like `RootRedirect` i

[2017-02-11 00:51] tonglil commented on #45
Sorry to have pulled you into this, unfortunately I already deleted that instance. The python version was 2.7.? though from a default install on the Ubuntu 16.04 LTS GCE image. I will attempt GCE again next week to try to reproduce the error.

---

I went back to building on my laptop + deploying to GCE since [last time](https://github.com/kubernetes/ingress/issues/45#issuecomment-278476971) that

[2017-02-11 20:42] sophaskins opened #264 "v0.9 breaks server-side HTTPS enforcement default"
Expected behavior:

As documented [here](https://github.com/kubernetes/ingress/tree/master/controllers/nginx#server-side-https-enforcement), I expect an nginx Controller to 301 redirect HTTP traffic to HTTPS for Ingress that have TLS enabled. I'd expect it to be implemented by [this stanza](https://github.com/kubernetes/ingress/blob/037120e97db25a79fe2d1bc77379306c2f2ffacb/controllers/nginx/rootfs

[2017-02-11 20:47] aledbf commented on #264
@sophaskins thank you for the detailed report.

[2017-02-11 21:39] aledbf commented on #264
@sophaskins please check if `quay.io/aledbf/nginx-ingress-controller:0.62` fixed this issue

[2017-02-11 22:17] sophaskins commented on #264
I can confirm it does! Thanks for such a quick fix!

[2017-02-12 11:35] pstadler commented on #210
I can confirm that 0.9.0-beta.1 is currently broken, whereas basic auth with 0.8.3 works well.

In both cases I used the following template to create the ingress controller: https://github.com/kubernetes/ingress/blob/3a37607138e3bbdb83dd393241d1fdd3a6232176/examples/deployment/nginx/kubeadm/nginx-ingress-controller.yaml

[2017-02-13 11:57] jaykeshur commented on #259
I'd like to have something like:

[code]

Which would allow you to specify that a backend uses sticky sessions, in an ingress resource, rather than having it in a ConfigMap for the ingress controller. This would mean that we can re-use the ingress controller for ingress resources with and without sticky sessions enabled.

[2017-02-13 12:05] Nalum commented on #257
@aledbf anything I can do to help with this?

[2017-02-13 12:23] #259 closed

[2017-02-13 17:56] bprashanth commented on #259
Yep, that's the pr (https://github.com/kubernetes/ingress/issues/258), please comment on it

[2017-02-13 19:48] jhorwit2 opened #266 "[feature request] rbac role manifest"
It's unclear what privileges the ingress controllers require.

[2017-02-13 20:27] whereisaaron commented on #266
Couldn't agree more @jhorwit2. Ideally all cluster services should ship sample RBAC roles, or at least a manifest of API resources and verbs they rely on.

It's the old chestnut from SELinux and App Armor, if the software authors don't publish the security requirements information, it requires every security conscious end-user to almost do a code audit to engineer a suitable least-privilege policy

[2017-02-13 20:59] #216 closed

[2017-02-14 01:42] tonglil opened #267 "Disabled HttpLoadBalancing, unable to create Ingress with glbc:0.9.1"
# Update

I was able to create the Ingress after this comment: https://github.com/kubernetes/ingress/issues/267#issuecomment-281452897

Does this mean in order to run your own GCE Ingress, you have to always set this file? No information is provided about this in the docs.

# Original Issue

1. I disabled the cluster's addon via:
[code]

2. Then `kubectl apply -f rc.yaml` this: https://github.com/

[2017-02-14 01:43] tonglil commented on #267
Most errors of `kubectl logs l7-lb-controller-b86hs l7-lb-controller` are:
[code]

[2017-02-14 01:43] tonglil commented on #267
`kubectl version`:
[code]

[2017-02-14 01:45] bprashanth commented on #267
Is gke-tony-test-default-pool-42a243ce-kst4 a node in your current kubernetes cluster that shows up in kubectl get node? does it show up in the output of gcloud compute instances list? what zone is it in?

[2017-02-14 01:47] tonglil commented on #267
`kubectl get node `:
[code]

`gcloud compute instances list`:
[code]

[2017-02-14 01:49] tonglil commented on #267
I can post the full log from ingress controller start if that helps.

[2017-02-14 01:51] bprashanth commented on #267
Does the node in question (kst4) have the right failure-domain label? you should see something like `failure-domain.beta.kubernetes.io/zone=us-central1-b` in the output of kubectl get node --show-labels

[2017-02-14 01:54] tonglil commented on #267
My laptop just died but I'll get back asap.

[2017-02-14 02:25] tonglil commented on #267
`kubectl get node --show-labels`:
[code]

[2017-02-14 10:06] 1071496910 opened #269 "flag --ingress-class not work"
https://github.com/kubernetes/contrib/issues/2383

[2017-02-14 11:44] fanhaozzu commented on #269
i find this problem too, the  ingressClass = flags.String("ingress-class", "",
			`Name of the ingress class to route through this controller.`) not work

@aledbf
@ncdc

[2017-02-14 12:23] fanhaozzu opened #270 "flag --ingress-class not work, it will result into serious consequences"
kubernetes/contrib#2383

[2017-02-14 13:08] aledbf commented on #270
@fanhaozzu which version are you using?

[2017-02-14 14:06] aledbf commented on #83
@21stio please check @272

The idea is that in the [Override method](https://github.com/kubernetes/ingress/pull/272/files#diff-4b4d624221c37be9881c582a1c80b909R256) you can add the flags you need to add or change
and the after you call [NewIngressController](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/main.go#L34) you can add the code you need from the fl

[2017-02-14 14:55] ncdc commented on #269
@fanhaozzu I haven't worked with the ingress code before. Maybe you meant to tag someone else?

[2017-02-14 16:43] foxylion opened #273 "Pass request headers to error backend"
I got the ingress error backend working and can now serve custom error pages. Perfect!

One requirement for us is, that the error pages are internationalized, therefore I would like to rely on the http headers of the client (`Accept-Language`). But when requesting the error page the nginx does only provide the `X-Format` and `X-Code` headers.

Maybe it would be a good idea to pass all other header

[2017-02-14 16:46] foxylion opened #274 "Custom error backend does not set content-type correctly"
When adding a custom error backend which also provides responses for `X-Format=json` the nginx does not set the `Content-Type` header correclty (it's actually `text/html`).

I think the best case could be that nginx is passing all headers from the error backend to the client. So the error backend can set any `Content-Type` (and additional headers). (Currently nginx just ignores the headers)

[2017-02-14 16:48] aledbf commented on #273
@foxylion added to the TODO list for the next version. The reason why the headers are not passed is because we make a subrequest using lua [here](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/rootfs/etc/nginx/lua/error_page.lua#L11) and we only specify the status code.

I will open a PR to pass all the headers from the request.

[2017-02-14 16:50] foxylion commented on #273
@alebdf Yes, I also saw this behavior in the source.

Thanks a lot for your effort to get that working!

[2017-02-14 17:23] itamaro commented on #243
I think I understand the reasoning for an annotation, thanks.

Attempting to tackle this, I got [this far](https://github.com/itamaro/ingress/commit/f9f58b7efd8f79a5100cf14a5e184bc309e8820b).

1. Is this the correct direction?
2. Will appreciate a pointer regarding the next step - how exactly to propagate the timeout value extracted from an annotation to the GCE backend.

[2017-02-14 17:40] neelance opened #276 "Document how IPs map to ingresses for different controllers"
(source: comment on thread mentioned below)

It seems like GLBC follows a different model than other ingress controllers regarding how `Ingress` resources map to external IP addresses. This causes some confusion when using ingresses for the first time, especially since GLBC is provided by default on GKE.

Please see the comments on the following issue, especially my summary of the situation: https

[2017-02-14 18:39] bprashanth commented on #276
Each ingress satisfied through the GCE gets a distinct VIP/loadbalancer etc. The reason for this is we can't allocate a single staticip to multiple forwarding rules pointing at different url maps, and there's a relatively low limit to the number of hostnames/paths you can put in a single GCE url map. This also simplifies conflict resolution (eg: 2 ingresses asking for same hostname, or the default

[2017-02-14 18:44] bprashanth commented on #267
Ah, so it does appear to have the right label. Can you ssh into that node and try to retrieve the instance via gcloud? (i.e gcloud compute instances describe gke-tony-test-default-pool-42a243ce-kst4, and gcloud compute backend-services list. I'm trying to confirm that your nodes have the right oauth_scopes as shown here: https://github.com/kubernetes/ingress/blob/master/controllers/gce/BETA_LIMITA

[2017-02-14 19:01] neelance commented on #276
Thanks for your quick and detailed answer.

Seems like the behavior of an ingress controller is not defined that strictly yet. Imho that's a bit unfortunate since in general Kubernetes does a really nice job with abstracting from the underlying implementations, so one generally expects the same with ingresses. Now it turns out that an `Ingress` really is just a chunk of data that can be processed

[2017-02-14 19:04] aledbf commented on #276
@neelance please check https://github.com/kubernetes/kubernetes/issues/30151

[2017-02-14 19:11] bprashanth commented on #276
This space is unique in that there is a lot of fragmentation between backends (in comparison, there's really only 2 container runtimes, each one with fewer tunables than a webserver, and many storage providers but MUCH fewer tunables for each), and we don't want to maintain all of them in tree (maintaining Service.Type=LoadBalancer in tree turned out to be a net drag on the project, and there's no

[2017-02-14 19:18] #160 closed

[2017-02-14 19:18] #264 closed

[2017-02-14 19:22] neelance commented on #276
@aledbf Thanks for the link.

@bprashanth Yes, it calls out the need for ingress controllers, but as a beginner your likely first choice is to use the GLBC provided by GKE and you just expect it to do roughly the same as the other ingress controllers do. Imho the "Name based virtual hosting" section could at least use a hint along the lines of "Depending on the ingress controller this may also be

[2017-02-14 21:05] #273 closed

[2017-02-14 21:16] foxylion commented on #273
@aledbf This is awesome, thank you!

[2017-02-14 21:46] neelance opened #277 "nginx: HTTP->HTTPS redirect does not work"
https://github.com/kubernetes/ingress/tree/master/controllers/nginx#server-side-https-enforcement says that the HTTP->HTTPS redirect should be enabled by default if a TLS config is given for the `Ingress`.

For some reason that does not work for me. I am out of ideas why this might be the case. Any suggestions?

[2017-02-14 21:46] neelance commented on #277
To be precise: The backend is served via both HTTP and HTTPS.

[2017-02-14 22:11] tonglil commented on #267
Yep, I ssh-ed into the node:

[code]

[2017-02-14 22:12] tonglil commented on #267
This is a node in a GKE cluster with the following scopes (1 pool only):
<img width="263" alt="image" src="https://cloud.githubusercontent.com/assets/3250776/22951836/831266aa-f2bf-11e6-877d-e81ccd733b5b.png">

[2017-02-14 22:24] tonglil commented on #267
[code]

On `gke-tony-test-default-pool-995fe96e-slt7`, where the GLBC is, I can;
`gcloud compute instances describe gke-tony-test-default-pool-995fe96e-slt7 --zone us-central1-b`,
`gcloud compute instances describe gke-tony-test-default-pool-cfc042b6-6w44 --zone us-central1-f`, and
`gcloud compute instances describe gke-tony-test-default-pool-42a243ce-kst4 --zone us-central1-c`.

[2017-02-15 02:28] fanhaozzu commented on #270
gce release 1.9.0，wow! so cool!   fix it so quickly!

[2017-02-15 13:19] fanhaozzu opened #280 "static ip example just can run in gce or aws？"
https://github.com/kubernetes/ingress/tree/master/examples/static-ip/nginx
i assign a unused ip as loadBalancerIP.
when kubectl create -f static-ip-svc.yaml, the EXTERNAL-IP of  nginx-ingress-lb is keeping pending.

[2017-02-15 13:20] fanhaozzu commented on #280
@bprashanth

[2017-02-15 13:23] fanhaozzu commented on #280
@aledbf

[2017-02-15 19:12] andrewstuart commented on #210
https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/annotations/auth/main.go#L62

Pretty sure this TODO needs to be completed. The /etc/ingress-controller has owner root:root and permissions 0750. The nginx user/worker user (`nobody`) cannot traverse to the auth directory.

[2017-02-15 19:37] od0 commented on #277
Having the same issue. Using kube-lego for certs. `kubernetes.io/ingress.allow-http: "false"` and `ingress.kubernetes.io/ssl-redirect: "true"` seem to have no effect.

[2017-02-15 19:51] od0 commented on #277
It looks like there is also a check for `server.SSLCertificate` - would it work to create dummy cert to enable the redirects?

[2017-02-15 19:54] aledbf commented on #277
@neelance this is fixed in master. We will release a new beta on the weekend

[2017-02-15 19:55] aledbf commented on #277
@od0 `kubernetes.io/ingress.allow-http` is an annotation for the GCE ingress controller, not the nginx ingress controller

[2017-02-15 20:28] od0 commented on #277
@aledbf thanks, didn't mean to confuse this issue :) should I open a separate one for `ingress.kubernetes.io/ssl-redirect: "true"` not appearing to work?

[2017-02-15 20:35] aledbf commented on #277
@od0 please wait the next release

[2017-02-15 20:36] od0 commented on #277
@aledbf sounds good thank you

[2017-02-15 21:06] bprashanth commented on #276
Yeah I think that'd be a useful clarification, please open a doc pr if you have time https://kubernetes.io/editdocs/#docs/index.md

[2017-02-15 22:09] r0bj opened #282 "nginx doesn't respect kubernetes.io/ingress.class"
nginx-ingress-controller: 0.9.0-beta.1
kubernetes: 1.5.3
OS: ubuntu 14.04

My nginx-ingress-controller definition:
[code]

Service definition:
[code]

Running config:
[code]

Notice that there is ingress annotation `kubernetes.io/ingress.class: "traefik"`.

Unfortunately `nginx-ingress-controller` configure above service instead of skip it:
[code]

nginx running setup:
[code]

So instead of ignore

[2017-02-15 22:11] gianrubio commented on #282
This will be fixed on #272

[2017-02-15 23:56] tonglil commented on #280
Did you `kubectl describe`? The IP may be used by something already.

[2017-02-16 00:09] fanhaozzu commented on #280
no,it unused

[2017-02-16 00:10] tonglil commented on #280
What's the output when you `kubectl describe` the service?

[2017-02-16 00:13] fanhaozzu commented on #280
loadbalance. of. status is nothing

[2017-02-16 00:14] fanhaozzu commented on #280
perhaps static ip example just can run in gce or aws

[2017-02-16 02:22] fanhaozzu commented on #280
**static-ip-svc.yaml**

# This is the backend service
apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-lb
  annotations:
    service.beta.kubernetes.io/external-traffic: OnlyLocal
  labels:
    app: nginx-ingress-lbooooooo
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.65.64
  ports:
  - port: 8992
    name: http
    targetPort: 80
  selector:
    # Selects nginx-ingress-controll

[2017-02-16 04:50] 1071496910 commented on #282
pull request  #283  can help you

[2017-02-16 05:20] tonglil commented on #45
e2e tests written and tested (deployed GCE cluster from laptop and modified the manifest to pull my own image)!

https://github.com/kubernetes/kubernetes/compare/master...tonglil:ingress-pre-shared-tls

[2017-02-16 10:10] rikatz commented on #234
@aledbf Let's close this one :smile:

[2017-02-16 10:35] #83 closed

[2017-02-16 10:35] #269 closed

[2017-02-16 10:35] #270 closed

[2017-02-16 10:35] #180 closed

[2017-02-16 10:37] #234 closed

[2017-02-16 10:41] aledbf commented on #282
@r0bj fix merged in master.

[2017-02-16 10:41] #282 closed

[2017-02-16 11:07] 21stio commented on #83
Alright, thanks a lot!

[2017-02-16 12:40] neelance commented on #276
With which text? The exact sentence I suggested above?

[2017-02-16 17:36] rikatz opened #287 "Support for Pagespeed"
Just to register, this would be a cool feature. Support for the Pagespeed module: https://github.com/pagespeed/ngx_pagespeed

This is a module that optimizes the response to render pages faster.

Don't know what's the real impact in huge environments with a lot of ingresses, but we can test.

[2017-02-16 17:41] aledbf commented on #287
@rikatz the issue with this one is similar to modsecurity: how the user tune the configuration?

For example I can have 1 or N ingress with something like this:
[code]

[2017-02-16 17:52] rikatz commented on #287
Yeap. This is a feature request. I've opened it just to register. But there is a lot of work behind this, and before enabling it.

[2017-02-16 18:42] bprashanth commented on #267
Ah, sorry for the delay, I suspect what's happening is the node that's running the controller is only able to view nodes in the same zone. We pipe a bunch of metadata into the controller via a volume mount on the master, when run on the node, this metadata doesn't exist, and so the lookup fails cross-region.

I believe the faulty lookup is embedded in the cloudprovider library that we vendor from

[2017-02-16 19:05] cmluciano commented on #287
Is this another thing that could utilize a config-map like headers?

[2017-02-16 20:49] DanSmith70 opened #292 "Forward all port 80 and 443 tcp traffic to a service"
Apologies if this is a dumb question/problem. I'm trying to get my head around ignress and k8s in general and I've drawn a blank on this.

I have a service running on k8s that, with out going in to detail, will be serving a totally dynamic number of websites/domains (it's a SaaS product). The k8s service is built on nginx (openresty) and it all works just fine. This application will run on a numbe

[2017-02-16 21:48] mlazarov commented on #183
I'm having the same issue on GKE and the glbc is not default backend

<img width="594" alt="screen shot 2017-02-16 at 23 41 24" src="https://cloud.githubusercontent.com/assets/976139/23042662/1f4148a0-f4a2-11e6-968e-ff771a6c52fb.png">

So far what I'm observing that the cpu load on glbc is going higher and higher over time. The cluster is almost 5 months old.

Updating from kubernetes 1.4.7 to 1.5

[2017-02-16 22:02] bprashanth commented on #183
Yeah that is the default backend, it's just wrongly marked as glbc based on the label "name: glbc''. You simply won't get glbc stats on GKE, glbc is running on the master, which is not in your project.

The default backend is constrained to 10m https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/cluster-loadbalancing/glbc/default-svc-controller.yaml#L38, so if you shove more pods o

[2017-02-16 22:20] bprashanth commented on #292
You can simply put your app behind a Service of Type=NodePort, or setup TCP
port forwarding
(eg:
https://github.com/kubernetes/contrib/tree/master/for-demos/proxy-to-service
)

standard would be to have SSL terminated in the ingress/load balancer but
as domains will be added and removed constantly the termination really
needs to happen inside the application.

You can use the Ingress controller fo

[2017-02-16 22:27] mlazarov commented on #183
The `glbc` is running on `gke-cluster-pool-static-2cc4ff80-4z4z` which is not the k8s master.

No one from the external world is hitting the `glbc` trough the load balancer as I have custom default backend service defined in the ingress.

[code]

There are no logs inside `/var/log/` directory
[code]

Any idea how to debug what is this `/server` process doing?

[2017-02-16 22:32] tonglil commented on #183
What about `kubectl top --namespace=kube-system pod ...`? Does it show resource consumption?

[2017-02-16 22:45] mlazarov commented on #183
Here is the output of top:
[code]

If I'm correct 7m = 70% of 10m. And that is exactly the same information that I'm having for glbc at the stackdriver dashboard.

[2017-02-16 22:53] bprashanth commented on #183
Oh, that's even more confusing then as I'd expect that dashboard to show % of available cpu used per pod, not % of specified limits (or indicate that 100 is 10m somewhere). I'll follow up with a bug against stackdriver monitoring.

[2017-02-16 22:56] mlazarov commented on #183
If I'm correct this is not a bug.

7m (the real usage) of 10m (the real limit) is exactly 70% of the limit - and that stackdriver is displaying.  It looks right to me.

[2017-02-16 22:57] bprashanth commented on #183
It's a confusing feature of the UI, not a bug.

[2017-02-16 23:01] tonglil commented on #183
I agree, I would expect the UI to show percentages for resources used of the pod or node based on past graph experiences.

It should be more clear in SD docs somewhere that the percentages are usage/limit.

[2017-02-16 23:09] mlazarov commented on #183
Yes, when I saw for the first time it was confusing but seems right way to display the information. Some more inline docs will be good too.

But what about the `glbc` using 70% of it's given CPU resource? How to debug this?

[2017-02-16 23:51] bprashanth commented on #183
I think that's alright, the limits are set to be a little higher than normal usage. Setting them much higher would be a waste, and setting them lower would result in throttling.

[2017-02-17 01:16] bprashanth commented on #280
Right now on AWS to use an ingress you need to deploy nginx behind an ELB. First can you confirm that exposing such a Service works. Please report the output of kubectl describe on the Service create in response to the "expose" command:
[code]

[2017-02-17 01:16] bprashanth commented on #280
I believe @bigkraig is working on an ALB controller

[2017-02-17 02:13] bigkraig commented on #280
The one I am working on is going to be dependent on nodeports. In our testing they scale better and with less latency than Nginx.

We may be abusing the ingress interface by doing it since we can't implement all of the features but I am trying to have clusters that support extremely large amounts of peak traffic and using ingresses to create ALBs and Route53 records will allow me to make separate

[2017-02-17 02:15] bprashanth commented on #280
The gce controller also uses nodeports as well. They have their pros and cons. For the dead simple usecase (statistical rr based balancing), they work well enough. if you want anything more complicated, you'll probably need nginx in there.

[2017-02-17 02:16] bprashanth commented on #280
another disadvantage of nodeports is conntrack is a lot less documented than nginx, it's a blackbox that forces you to read kernel source at times to figure out the right sysctl values. But again, nodeports are great for simple setup and teardown and definitely work at decent scale.

[2017-02-17 02:19] bprashanth commented on #280
Oh, but nodeports with the OnlyLocal feature gets rid of the double hop problem which was one of the biggest pain points with nodeport lb. Just fyi, it's basically the exact reason we put it in there (well that, and source IP): https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-typenodeport

[2017-02-17 02:35] bigkraig commented on #280
@bprashanth yes! OnlyLocal is exactly what I have been hoping for. I was going to do a poor mans implementation and only add the nodes with my service to the ALB. I'd be concerned about a lot of AWS api activity though and OnlyLocal is a better option if the pod is moving often.

[2017-02-17 10:21] fanhaozzu commented on #280
@bprashanth

kubectl describe service test-svc

Name:			test-svc
Namespace:		default
Labels:			run=test-svc
Selector:		run=test-svc
Type:			LoadBalancer
IP:			172.18.54.166
Port:			<unset>	8080/TCP
NodePort:		<unset>	30404/TCP
Endpoints:		172.25.32.6:8080
Session Affinity:	None
No events.

[2017-02-17 10:57] kaspernissen opened #294 "nginx: Rewrite target converts to location ~* /path"
*nginx-ingress-controller version:* 0.9.0-beta1

We are on the migration path towards a Kubernetes orchestrated setup, and are using Ingress with the nginx-ingress-controller. Which by the way, works pretty awesome! Thanks!

We are running into issues when using the annotation `rewrite-target`. When trying to hit the url: `https://api.dev.example.com/documents/someservice/config` I would expect th

[2017-02-17 13:37] aledbf commented on #294
@kaspernissen thank you for the detailed report. The current code generates a regular expression that matches any part of the URL. The location `location ~* /someservice` should be `location ~* ^/someservice` to avoid errors.

Can you test if the image `quay.io/aledbf/nginx-ingress-controller:0.63` solves the issue?
Thanks

[2017-02-17 14:36] DanSmith70 commented on #292
Thanks @bprashanth! NodePort is a possibility although we would I believe need to override the default limitation stopping nodeports being bound on lower port numbers?

I have a proof of concept working with the other way you mentioned, the proxy-to-service thing but as I said it's closed source and old so I have questions about how robust it is - I also tried to get it running on our main cluster

[2017-02-17 18:11] kaspernissen commented on #294
@aledbf I can confirm that this fixes the issue. Thank you very much.

[2017-02-17 18:12] #294 closed

[2017-02-17 18:12] bprashanth commented on #280
[code]
I'm confused about this part, AFAIK AWS puts a ELB hostname in that field and that 172 looks like an internal Service vip. How did you setup your aws cluster? suggest using something like kops.

[2017-02-17 21:45] pwillie opened #301 "Ingress class not working"
Have been attempting to use `--ingress-class` on the Nginx controller to only pick up a select subset of the ingress resources provisioned in the cluster.  What is happening is that all ingress resources are handled by the Nginx controller.

Nginx controller: gcr.io/google_containers/nginx-ingress-controller:0.9.0-beta.1
Kubernetes version: v1.5.1

Start controller with args: `--ingress-class=xyz`

[2017-02-17 21:47] aledbf commented on #301
@pwillie this issue is fixed in master. https://github.com/kubernetes/ingress/pull/272
Next version will include the fix

[2017-02-17 22:19] pwillie commented on #301
@aledbf great to hear.  And thanks for the quick response.

[2017-02-17 22:19] #301 closed

[2017-02-18 12:33] #210 closed

[2017-02-19 16:28] DanHoerst commented on #277
Also having this same issue with `ingress.kubernetes.io/ssl-redirect: "true"` not working. Was there a beta release this weekend that we can try?

[2017-02-19 17:14] aledbf commented on #277
@DanHoerst waiting bprashanth to publish https://github.com/kubernetes/ingress/pull/303

[2017-02-20 05:29] fanhaozzu commented on #280
@bprashanth
https://github.com/kubernetes/ingress/tree/master/examples/static-ip/nginx
this example just can run successful on aws or gce？

[2017-02-20 07:29] kaspernissen opened #305 "[nginx-ingress-controller] Nginx status page and Prometheus metrics"
I'm having issues locating the nginx-status page as described [here](https://github.com/kubernetes/ingress/tree/master/controllers/nginx#nginx-status-page)

<img width="939" alt="nginx-status" src="https://cloud.githubusercontent.com/assets/4429108/23115376/bbc145aa-f744-11e6-9b5b-33fcee383381.png">

The documentation says to look at the example/rc-default. However, I cannot find this example. I w

[2017-02-20 10:21] chentao1596 commented on #152
@aledbf I am sorry for this trouble with you. I have try it again, can you see again?Thank you!
https://github.com/kubernetes/ingress/pull/307

[2017-02-20 10:58] #152 closed

[2017-02-20 12:39] aledbf commented on #305
@kaspernissen right now the prometheus exporter uses the standard [nginx status page](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/metrics.go#L54). There is an issue to use the vts information. Please check https://github.com/kubernetes/ingress/issues/72

[2017-02-20 12:41] 21stio opened #308 "Switch to pointer receiver for interface types.Controller"
Hey,

is there any reason why not use pointer receivers for the method set of types.Controller?

I guess switching to pointer receivers would make it more generic..

[2017-02-20 12:51] aledbf commented on #308
Can you be more specific?

The only method that does not uses a pointer receiver is [SetLister](https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/types.go#L90) and the reason is because the state should not be changed after the generic controller is initialized.

[2017-02-20 12:52] aledbf commented on #308
@21stio is there something you need to do and is not possible with the current code?

[2017-02-20 13:04] aledbf commented on #274
@foxylion fixed in #275. Please reopen if you still have issues.
Fix included in next release #303

[2017-02-20 13:04] #274 closed

[2017-02-20 13:04] aledbf commented on #277
Please reopen if you still have issues.
Fix included in next release #303

[2017-02-20 13:05] aledbf commented on #250
Fix included in next release #303
Please reopen if you still have issues.

[2017-02-20 13:05] #250 closed

[2017-02-20 13:06] aledbf commented on #230
@bigkraig closing. Please reopen if you need to add helpers in the generic controller

[2017-02-20 13:06] #230 closed

[2017-02-20 13:11] aledbf commented on #38
@abh 0.9.0-beta.1 was released and the next beta [0.9.0-beta.2](#303) is ready.

[2017-02-20 13:11] #38 closed

[2017-02-20 13:12] aledbf commented on #38
@janwillies #121 is included in beta 2

[2017-02-20 13:16] aledbf commented on #229
@jason-riddle please keep in mind the redirect do not rewrites the content returned by the backend.
If the application uses relative URLs in the css you can add the annotation `ingress.kubernetes.io/add-base-url`

https://github.com/kubernetes/ingress/blob/master/controllers/nginx/configuration.md#rewrite

[2017-02-20 16:05] 21stio commented on #308
Im my case I would like to set instance variables on the Controller Implementation from within [OverrideFlags](https://github.com/kubernetes/ingress/blob/master/core/pkg/ingress/types.go#L97).

[code]
[code]

[2017-02-20 16:18] aledbf commented on #308
@21stio like [here](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/nginx.go#L258)?

[2017-02-20 16:42] 21stio commented on #308
yeah I am referring to that location

[2017-02-20 16:44] aledbf commented on #308
@21stio just in case, interface implementations are not satisfied using pointer receivers http://jordanorelli.com/post/32665860244/how-to-use-interfaces-in-go

[2017-02-20 16:48] aledbf commented on #308
you can do the same thing than [here](https://github.com/kubernetes/ingress/blob/master/controllers/nginx/pkg/cmd/controller/nginx.go#L96)

[2017-02-20 17:49] cmluciano commented on #72
@gianrubio Are you still interested in working on this?

[2017-02-20 18:02] gianrubio commented on #72
yes @cmluciano, I'm working on this, 70% is done. Give me more 2 days and I'll submit this PR

[2017-02-20 18:48] pichouk opened #309 "Understanding Proxy Protocol"
Hi,
I try to setup Proxy Protocol for my nginx ingress controller on Kubernetes.

I have a load balancer which serves IP from 10.108.0.0/19 to my Kubernetes node (which use nginx-ingress-controller).
I configure proxy protocol in my ConfigMap and it works fine : I can see the real client IP on my ingress controller logs when I made a request to the LB address.

But I can see that the real client I

[2017-02-20 19:04] jason-riddle commented on #229
It doesn't look like it's using relative url's.

[code]

I see that `/core/*` is hardcoded into the application. Is there anything else I can do about this?

[2017-02-20 19:19] aledbf commented on #229
@jason-riddle can you share the owncloud service definition (removing private information)

[2017-02-20 20:15] jason-riddle commented on #229
`owncloud-service.yml`

[code]

`owncloud-ingress.yml`

[code]

[2017-02-20 20:31] foxylion commented on #274
@aledbf I did also review the pull request #275 but could not find an evidence that this is now fixed. Can you guide me to the change which fixes this (I'm just curious 😃).

[2017-02-20 20:40] foxylion commented on #309
I think you're looking at the wrong header. Try it with `X-Forwarded-For` this should give you the right information. It is happening here: https://github.com/kubernetes/ingress/blob/master/controllers/nginx/rootfs/etc/nginx/template/nginx.tmpl#L305)

Another good starting point is to use the echoserver and have a look at all passed headers.
Docker image: `gcr.io/google_containers/echoserver:1.4`

[2017-02-20 21:14] pichouk commented on #309
I'll take a look ! Thanks !

[2017-02-20 21:15] Hronom commented on #210
Hi guys, when this fix will be available in new images ?

[2017-02-20 21:15] aledbf commented on #210
@Hronom not yet. After this PR https://github.com/kubernetes/ingress/pull/303

[2017-02-20 21:22] Hronom commented on #210
Thanks, am I understand correctly that I can use `0.8.3` without problems?

[2017-02-20 21:59] whereisaaron opened #310 "Some links in 'ingress' repo GCE release notes are 404"
With each GCE release in this 'ingress' repo, including 'GCE: 0.9.1', the release notes have links to the old 'contrib' repo that are (now) 404:

https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/BETA_LIMITATIONS.md
https://github.com/kubernetes/contrib/blob/master/ingress/controllers/gce/README.md#troubleshooting
https://github.com/kubernetes/contrib/blob/master/ingress/co

[2017-02-21 09:01] #309 closed

[2017-02-21 12:43] foxylion opened #313 "[nginx] Add generated request id to headers"
To trace a request through all your services in ingress it would be good to add a `Request-Id` to request and response headers. This will allow tracking down all subsequent requests inside the cluster caused by one request from the outside.

We've already modified our `nginx.tmpl` but it would be great if this could be an (optional) default.

In case a default would be okay I can create a pull req

[2017-02-21 12:44] aledbf commented on #313
@foxylion please check the [custom-headers](https://github.com/kubernetes/ingress/tree/master/examples/customization/custom-headers/nginx) example

[2017-02-21 12:46] aledbf commented on #313
@foxylion requested to add newrelic headers https://github.com/kubernetes/ingress/issues/180

[2017-02-21 12:49] foxylion opened #314 "[nginx] Allow ELB SSL termination with HSTS and HTTPS redirect"
We are terminating our SSL traffic at AWS ELB. This is supported by the nginx ingress.

But we are also require the HSTS headers to be always set and HTTPS redirection enabled by default.
This can be a bit tricky, because nginx needs to know which traffic from ELB was HTTPS traffic and which traffic is HTTP traffic.

In our current setup we use a different port in nginx which has the only purpose

[2017-02-21 12:52] foxylion commented on #313
@aledbf  Thank you, I didn't know that. But it will still leave the issue of setting also the response header (`more_set_headers "Request-Id: $request_id";`).

[2017-02-21 12:55] aledbf commented on #313
@foxylion I saw this https://github.com/nginxinc/kubernetes-ingress/pull/117 and the idea of the snippets is more than interesting. With that you can add the missing `more_set_headers` and also the HSTS configuration. WDYT?

[2017-02-21 13:03] foxylion commented on #313
@aledbf Yes, this would solve this issue here completely.

But for the HSTS case (#314) the redirect configuration is still required and I'm unsure if this is not better something which should simply work more out of the box (the problem should be quite common on AWS).

[2017-02-21 13:06] aledbf commented on #313
@foxylion right. Let me add the snippets first and then we see what is needed for the HSTS header

[2017-02-21 13:10] foxylion commented on #313
@aledbf Ok, thanks. Then this one can be closed when nginxinc/kubernetes-ingress#117 is somehow merged. :)

[2017-02-21 14:57] 21stio commented on #308
alright! thanks a lot, that's what I was looking for. and yeah btw, we are about to deploy our ingress controller implementation to production soon, so thanks a lot for all your great work!

[2017-02-21 14:59] aledbf commented on #308
@21stio is ok to close this issue?

[2017-02-21 15:03] 21stio commented on #308
ah yeah sorry, I'll close it

[2017-02-21 15:03] #308 closed

[2017-02-21 17:20] pichouk opened #316 "Set custom ports"
Hi,
I'm using nginx ingress controller for my Kubernetes cluster, which can be reached by a load balancer.

I successfully set up Proxy Protocol between the LB and my ingress controller. But now, I can't reach my node with "traditional" HTTP request (seems logic because Nginx listen to proxy protocol).
In order to join my node with classic HTTP and through my LB, I try to setup the following :
- o

[2017-02-21 17:41] tonglil commented on #267
This is the modified `rc.yaml` I used to mount the conf file:

[code]

[2017-02-21 19:21] aledbf opened #318 "Migrate client from kubernetes to client-go"

[2017-02-21 19:27] tonglil commented on #267
Got some progress when I added `multizone = true` to the `/etc/gce.conf` file and changed the `node-tags` field to be only 1 tag (instead of 2), however it is unable to get an IP address.

[code]

[2017-02-21 23:24] tonglil commented on #267
That actually solves the `instance not found` error, thank you.

Is there a way to run my fork of the ingress controller without having to set this file on the instance manually (aka should this be a fix for kubernetes/GKE)?

[2017-02-22 01:37] cmluciano commented on #318
I’d like to take a stab at this. Would you like a PR to be based on release-2 or HEAD of client-go?

[2017-02-22 01:41] cmluciano commented on #316
I think this may be related to #317

[2017-02-22 03:17] aanm commented on #318
@cmluciano I've start working on this and I'm going with release~1.5. It's more work than I was expecting so this might be a 2 man job. I'll reach you out on k8s slack.

[2017-02-22 04:34] qrpike opened #319 "Nginx Ingress - 400 Bad Request: Request Header Or Cookie Too Large"
Whenever I have a ingress controller which proxies to an ingress controller in a different namespace, I sometimes get "400 Bad Request: Request Header Or Cookie Too Large"

Note that I am also using Basic Auth on the second ingress controller.

Thanks,

[2017-02-22 07:13] tjliupeng opened #321 "[nginx controller]Issue of high CPU cost of Nginx-ingress-controller"
Hi,

Using the TOP to check the cpu and memory status of K8s cluster host, I found that the CPU cost of Nginx-ingress-controller is always very high. If I set the cpu limit to 2, then the CPU time would be almost 200%. If without cpu limit, the CPU time would be almost 400% in a 4-core VM. This controller is built by myself from master branch at September, 2016.

Is that normal?

Thanks
Liu Peng

[2017-02-22 08:43] pichouk commented on #316
I'm not sure. Changes are made in `examples/custom-controller/server.go`. The methods #317 add are already in `controllers/nginx/pkg/cmd/controller/nginx.go`.

[2017-02-22 09:06] aledbf commented on #319
@qrpike please check if adding `large-client-header-buffers: "4 16k"` in the configuration ConfigMap solves the issue.

[2017-02-22 09:09] qrpike commented on #319
@aledbf I was looking at that. I have kubernetes self hosted on bare metal so I often need to talk across namespaces. As long as I don't enable auth it works fine, enabling auth causes the issues.

I worked around this by having the main ingress just point directly to that namespaces services. Gets rid of a network hop as well.

Thanks,

[2017-02-22 12:10] Nalum commented on #257
Just dropping these comments here:

[2017-02-22 12:52] evgf commented on #210
@Hronom Yes, `0.8.3` works with basic auth without any issues.

[2017-02-22 12:56] Hronom commented on #210
@evgf Yeah, already switched, thanks

[2017-02-22 14:39] foxylion opened #322 "[nginx] Rejected requests during update of ingress deployment"
We are using nginx-ingress and hope to get zero downtime deployments. This means that nginx should also be upgraded without any downtime.

Currently we have specified some things in our deployment to ensure that there is always an nginx pod running.

[code]
Kubernetes now ensures that there is at least on pod of nginx-ingress running.
But when using tools like `siege` or `jmeter` we still see a sm

[2017-02-22 16:37] thockin commented on #19
@MrHohn Found it!

[2017-02-22 16:46] electroma opened #323 "[nginx] need better documentation for dry run / smoke test"
I'm following [Try running the Ingress controller](https://github.com/kubernetes/ingress/tree/master/controllers/nginx#try-running-the-ingress-controller), but it fails fast with "invalid NGINX template: open /etc/nginx/template/nginx.tmpl".

Please provide up-to-date steps to test nginx controller without building docker image:
* how to start and point controller to configuration files from "root

[2017-02-22 16:48] itamaro commented on #243
Following up on [the discussion on the CL](https://github.com/itamaro/ingress/commit/f9f58b7efd8f79a5100cf14a5e184bc309e8820b), I'd appreciate more thoughts from more contributors on the subject of a generic timeout annotation vs. a GCLB-specific one.

The issue is whether to take the generic path, with something like `service.beta.kubernetes.io/timeout` (or alpha) for the annotation, based on the

[2017-02-22 17:45] cmluciano commented on #318
From our discussion on Slack, @aanm with focus on core and I will start on the nginx controller.

[2017-02-22 20:38] rchicoli commented on #313
This should be merged soon. Then you could freely add your own custom configmaps in different contexts like this:

[code]
Cheers.

[2017-02-23 10:22] fanhaozzu opened #327 "k8s.io/ingress/core/pkg/ingress/controller/controller.go:1037: Failed to list *api.Node: the server could not find the requested resource"
k8s version: 1.3
k8s ingress :0.9.0-beta.2

nginx controller :

E0223 10:08:26.331124      12 reflector.go:199] k8s.io/ingress/core/pkg/ingress/controller/controller.go:1037: Failed to list *api.Node: the server could not find the requested resource
E0223 10:08:27.332372      12 reflector.go:199] k8s.io/ingress/core/pkg/ingress/controller/controller.go:1037: Failed to list *api.Node: the server co

[2017-02-23 10:24] fanhaozzu commented on #327
@bigkraig

[2017-02-23 14:50] electroma opened #329 "[nginx] Add support prefix/suffix server names"
In would be great to add support for prefix and suffix server names (i.e. "*.top.domain" and "sub.domain.*").
It makes it possible to reuse the same ingress definition in several environments.
k8s does not allow to specify wildcard server names, but it may be added as annotation "ingress.kubernetes.io/prefix-wildcard".
Please let me know if there is a better way to support it.
I can make PR for th

[2017-02-23 15:36] devth opened #330 "Error 409: The resource '...' already exists, alreadyExists"
I'm using [kube-lego](https://github.com/jetstack/kube-lego) to dynamically fetch certs. It attempts to update existing ingress when saving a new cert. In the last month, something seems to have changed: when it tries to update the existing ingress, errors show up on the K8S Ingress (obtained from the Events section when describing the Ingress):

[code]

Is this a bug in GCE ingress controller?

[2017-02-23 16:16] cmluciano commented on #316
👌🏽

[2017-02-23 16:25] fanhaozzu commented on #327
，，，。。，，

[2017-02-23 21:57] georgecrawford commented on #322
I'm seeing exactly the same thing. I set `replicas: 2`, and during a deployment this scales to 4 then back to two. However, tailing the nginx logs with `--v=2`, I see a single config diff where two IPs are added and two are removed - at this point, `curl` fails for a second or two.

[2017-02-24 00:50] nicksardo commented on #197
This IP range is duplicated in [test/e2e/ingress_utils#L84](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress_utils.go#L84).
Can we move this slice of ranges to `kubernetes/cloudprovider/providers/gce` and consume from the ingress repo?  Will have to update the docs separately...

[2017-02-24 01:59] thockin commented on #197
That sounds sane.  PR me.

On Feb 23, 2017 4:50 PM, "Nick Sardo" <notifications@github.com> wrote:

[2017-02-24 05:10] aanm commented on #318
I'll drop this since there's some work being made in 1.6.0 that allows client-go to be used as kubernetes client with [this](https://github.com/kubernetes/kubernetes/blob/595f4ed2cb88d6c4f7119cc0180d68bb68d484bc/pkg/client/clientset_generated/clientset/clientset.go#L448).

[2017-02-24 05:23] fanhaozzu commented on #327
@

[2017-02-24 05:23] #327 closed

[2017-02-24 07:11] zhuqinghua opened #333 "Nginx ingress - all of css js and images 404"
I can access it via http, but only the html is accessible, all of its css js and images 404.

**ingress**

[code]

**/etc/nginx/nginx.conf**

[code]

anyone can give me some suggestions? thank you

[2017-02-24 07:38] glerchundi commented on #322
I don't know if you're already using it, but depending which version of k8s are you using, default rolling update didn't worked as expected, so I needed to explicitly write the strategy:

[code]

And of course follow best practices in terms of SIGTERMs, blabla...

[2017-02-24 09:32] #316 closed

[2017-02-24 09:37] georgecrawford commented on #322
Thanks - I got to that same conclusion last night, and things are better now. I do wonder if there are improvements coming to this project which will make this easier?

[2017-02-24 09:42] ese opened #334 "Nginx ingress - Incorrect logging IP"
Upgrade to nginx-ingress from 0.8.3 to 0.9.0-beta.2 stop to logging correctly IPs and start to log all like if it come from localhost

log before upgrade (nginx-controller 0.8.3):

[code]

log after (nginx-controller 0.9.0-beta.2)

[code]

Nginx controller behind ELB exposed with a service using `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: '*'` annotation and `type: LoadBalancer`

[2017-02-24 10:05] porridge commented on #5
@bowei was there any movement on this?

[2017-02-24 10:46] porridge opened #335 "vet complains about "StoreToIngressLister composite literal uses unkeyed fields""
simple `make` fails like this:

[code]