[2021-12-08 12:51] dmitry-j-mikhin opened #8022 "Use gcc optimization flags for produced nginx binary"
Since 3e07e06e7bb3878e7f51cceb5b4d5b6e3c1b4890 nginx is compiled with '-Og' flag, which is used mostly for debugging, and can produce slow binaries.

We need to use '-O2' flag, it produce optimized binaries for performance. All optimization are safe to use in production.

[2021-12-08 12:52] markofranjic commented on #7872
Hi,

I created GRPC server with this tutorial
https://grpc.io/docs/languages/csharp/quickstart/

I use Insecure Channel. So all traffic I terminate with TLS over NGINX and doesn't work. When I tried to use over local IP everything works as excepted.

[2021-12-08 13:28] longwuyuan commented on #8022
"need to use" is strong words. I am not saying we should or should-not but recently a lot of people provided feedback on a critical performance problem and I am wondering if binaries that do not provide debug messages will be helpful in such a scene.

[2021-12-08 13:38] dmitry-j-mikhin commented on #8022
Debug messages are not removed with '-O2'. This may only affect debug experience using gdb - https://stackoverflow.com/questions/5487925/eclipse-gdb-steps-to-previous-line-with-o2-flag

[2021-12-08 14:31] strongjz commented on #8022
Thanks for pointing that out @dmitry-j-mikhin
I am reading the same thing, let's test it in CI and see how it goes.

https://gcc.gnu.org/onlinedocs/gcc/x86-Options.html

https://renenyffenegger.ch/notes/development/languages/C-C-plus-plus/GCC/options/O_uppercase/index

[2021-12-08 14:31] strongjz commented on #8022
/triage accepted
/priority longterm-important

[2021-12-08 14:34] besha100 commented on #6307
@iamNoah1 This issue still exist with the latest version helm-chart-4.0.13
I just created this PR which will fix this
https://github.com/kubernetes/ingress-nginx/pull/8021

[2021-12-08 15:19] besha100 commented on #4902
This PR should fix it
https://github.com/kubernetes/ingress-nginx/pull/8021

[2021-12-08 15:47] longwuyuan commented on #8022
In one of those rare occasions, instructions from a developer were received, to run gdb. I hope we don't face those taxing situations again but just want to FYI that use of gdb, became a useful ability, while working on that rather serious problem of coredumps.

If we make the change suggested here, then in case of gdb becoming a need in future, we should have the ability to produce a binary capab

[2021-12-08 15:54] pierluigilenoci commented on #7905
We running in the same issue.

Our environment:
- EKS (eks.2)
- K8s 1.21
- Ingress Nginx Chart 4.0.13

Service annotations:
[code]

Obviously we can't use @NilsGriebner workaround because we need to have fixed IPs.

[2021-12-08 16:59] dmitry-j-mikhin commented on #8022
'-O2' doesn't break ability to debug coredump with gdb. Coredump is a memory footprint of program when it crashed. In this  case you inspect the state of stack and variables with gdb (though some variables can be [optimized out](https://stackoverflow.com/questions/5497855/what-does-value-optimized-out-mean-in-gdb)). You cannot continue execution of crashed program.
'-O2' only affect program execut

[2021-12-08 17:10] dmitry-j-mikhin commented on #8022
Anyway this is common tradeoff in C/C++ world. All production code usually is compiled with -O2 (or even with -O3). This can make somehow harder to debug the application, but this is necessary evil to give full performance of your application.

[2021-12-08 18:19] iamNoah1 commented on #6307
/reopen
/triage accepted
/priority important-longterm

[2021-12-08 22:48] besha100 commented on #6438
This PR [8021]( https://github.com/kubernetes/ingress-nginx/pull/8021) should also fix this. Because the default Modsecurity config " /etc/nginx/modsecurity/modsecurity.conf" has these

SecAuditLogType Concurrent
SecAuditLog /var/log/modsec_audit.log
SecAuditLogStorageDir /var/log/audit/

Thus, these override these settings if you have them in modsecurity-snippet:
This PR [8021]( https://github.co

[2021-12-08 22:49] k8s-triage-robot opened #8024 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-09 00:41] tao12345666333 commented on #8024
SECURITY_CONTACTS file already exists in this repo.  https://github.com/kubernetes/ingress-nginx/blob/main/SECURITY_CONTACTS

[2021-12-09 02:57] justaugustus commented on #8024
This issue may have been opened in error due to a bug in the logic for discovering SECURITY_CONTACTS files.
For more information, please see this notice to [kubernetes-dev](https://groups.google.com/g/kubernetes-dev/c/yFlPFIYJCt8).

As this has [re]opened multiple issues across Kubernetes orgs, I will not attempt to answer comments on individual issues.
Feel free to reply to the linked kubernetes-

[2021-12-09 02:57] #8024 closed

[2021-12-09 06:00] #7330 closed

[2021-12-09 08:58] manikanth04 commented on #7543
@longwuyuan  I will work on this

[2021-12-09 09:01] #7265 closed

[2021-12-09 09:04] phxism commented on #5401
same issue when deploy with NodePort Follow the [https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal-clusters](https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal-clusters)
 I compare the content of NodePort  with Cloud (LoadBalancer) and find there is a little difference that Clouder.yaml has the `            - --publish-service=$(POD_NAMESPACE)/ingress-nginx-controller` args.

[2021-12-09 09:18] longwuyuan commented on #7543
That helps. Please assign to yourself.

Thanks,
; Long Wu Yuan

On 12/9/21 2:28 PM, Mani Kanth wrote:

[2021-12-09 09:20] manikanth04 commented on #7543
/assign

[2021-12-09 09:28] longwuyuan opened #8025 "PSA instead of PSP, if k8s v1.23"
- K8s v1.23 and above
- There is Pod Security Admissions now instead of PSP https://github.com/kubernetes/website/pull/30502
- Tasks involved are ;
  -  testing psa
  - Checking our manifests
  -  Using psa instead of psp when available
  - Writing about it :)

Discussed here https://kubernetes.slack.com/archives/C021E147ZA4/p1638934880237600 and here https://kubernetes.slack.com/archives/C021E147

[2021-12-09 10:01] #7271 closed

[2021-12-09 11:01] pierluigilenoci opened #8026 "aws-load-balancer-name annotations doesn't work"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.1.0

**Kubernetes version** (use `kubectl version`): v1.21.2-eks-0389ca3

**Environment**:

- **Cloud provider or hardware configuration**: EKS
- **OS** (e.g. from /etc/os-release): amazon-eks-node-1.21-v20211109
- **Kernel** (e.g. `uname -a`): not relevant
- **Install tools**:
  - Helm Chart
-

[2021-12-09 11:28] pierluigilenoci commented on #7905
We found another annotation that doesn't work. #8026
Maybe it's a bigger problem with annotations.

[2021-12-09 12:55] aliusmiles commented on #8026
I suspect that in-tree lb controller simply doesn't support named loadbalancers, only (aws-lb-controller)[https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/nlb/] does.

In my case I've used incorrect value for "aws-loadbalancer-type" annotation and lb was apparently created with in tree controller instead of aws one. Fixed type and recreated service and now lb does

[2021-12-09 12:56] longwuyuan commented on #8026
/remove-kind bug
/kind support

Custom name for AWS LB is not possible as far as I know. Can you please ask AWS support if its possible to manually customize the name.

[2021-12-09 13:24] vainu-lauri commented on #4363
Let's try opening with (not sure if the bot allows).
We're seeing this with `ngress-nginx-3.39. 0.49.3` as well

/remove-lifecycle rotten

[2021-12-09 14:27] antoineozenne opened #8027 "A specific annotation for more_set_input_headers ?"
According to <https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#configuration-snippet>, it is dangerous in multi-tenant clusters to use the annotation `nginx.ingress.kubernetes.io/configuration-snippet` because of <https://github.com/kubernetes/ingress-nginx/issues/7837>. So, is it possible to have a specific annotation for the directive `more_set_input_headers

[2021-12-09 15:26] pierluigilenoci commented on #8026
@aliusmiles I used the `service.beta.kubernetes.io/aws-load-balancer-type: nlb` annotation so AWS create a NLB.

@longwuyuan there is ad annotation for that: `service.beta.kubernetes.io/aws-load-balancer-name`
Ref: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotations/#load-balancer-name

/kind bug
/remove-kind support

[2021-12-09 15:33] aliusmiles commented on #8026
@pierluigilenoci that will only get you lb created by in-tree controller. to use aws-lb-controller you need to:
1. have it installed into cluster
2. aws-load-balancer-type set to either `nlb-ip` or `external`. ref: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/guide/service/annotations/#lb-type

Just in case, by in-tree I mean lb creation mechanism that's baked right into kub

[2021-12-09 16:00] tao12345666333 commented on #4621
Thanks for report. I will check it out later.

[2021-12-09 16:16] aliusmiles commented on #8026
btw, it's really not an ingress-nginx bug -- service's annotation are used by either in-tree loadbalancer controller or by aws-loadbalancer-controller. And it's even stated in [docs](https://kubernetes.github.io/ingress-nginx/deploy/#aws) that "provided templates illustrate the setup for legacy in-tree service load balancer for AWS NLB"

Would be nice though to have at least some example for aws-l

[2021-12-09 16:20] theunrealgeek commented on #7872
I think you need something like https://grpc.io/docs/guides/auth/#with-server-authentication-ssltls-3
I'm not too familiar with C# so I haven't tried it out to say if that's all is needed

[2021-12-09 16:38] jyee021 commented on #8016
Thank you for the info and insight... We've gotten a critical security vulnerability risk with the earlier versions of Nginx and the security team has recommended we go to v1.21.x, they cited this CVE - https://nvd.nist.gov/vuln/detail/CVE-2021-23017

[2021-12-09 17:04] longwuyuan commented on #8026
/remove-kind bug
I suggest that we add the bug label after there is enough data captured via triaging. There is no well-known doc that ingress-nginx will help you create a custom-named AWS LB so far. Please copy/paste here, the docs and links you referred to, that implies ingress-nginx-controller helps create custom-name for AWS LB. Then someone can look at the code and the bug label can be applie

[2021-12-09 19:46] iamNoah1 commented on #4621
/triage accepted
/priority important-soon
/kind bug
/assign @tao12345666333

[2021-12-09 19:48] iamNoah1 commented on #4621
/remove needs-information

[2021-12-10 03:03] draychev commented on #5608
Adding more context and a consistent way to reproduce this.

I installed Nginx Ingress Controller with:
[code]

- Helm Chart: `ingress-nginx-4.0.10`
- Image: `k8s.gcr.io/ingress-nginx/controller:v1.1.0`
- Nginx version: `1.1.0`

Ingress is annotated with `proxy-ssl-secret` pointing to a k8s secret:
[code]

---

# 1. Healthy

We start with a setup that us humming along just fine - `200 OK` when cUR

[2021-12-10 03:16] longwuyuan commented on #5608
This suspiciously looks like the gap between secret being updated and the
time period before the pod is updated.

Thanks,
; Long

On Fri, 10 Dec, 2021, 8:33 AM Delyan Raychev, ***@***.***>
wrote:

[2021-12-10 08:46] pierluigilenoci commented on #8026
@aliusmiles kk, I get it, more or less.

However, Classic Load Balancer EOL was the 31st of October. Today it is no longer possible to create new ones.
Ref: https://aws.amazon.com/blogs/aws/ec2-classic-is-retiring-heres-how-to-prepare/

I'll do some tests and let you know.

[2021-12-10 09:26] iamNoah1 commented on #4621
/remove-triage needs-information

[2021-12-10 09:49] markofranjic commented on #7872
So that's the problem. Because we have 20 microservices in our K8S. So I need to update all of them every time when a certificate expires. So I don't understand why SSL Termination on Ingress is not enough?

[2021-12-10 10:32] iamNoah1 commented on #5690
/unassign @ElvinEfendi
/help

[2021-12-10 10:33] iamNoah1 commented on #5690
/triage accepted

[2021-12-10 12:52] iamNoah1 commented on #4479
/lifecycle active
/priority important-longterm

[2021-12-10 13:38] slawekgh commented on #5608
I have the same problem

the difference is between AddFunc : https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/controller/store/store.go#L556

and UpdateFunc: https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/controller/store/store.go#L582

when adding the secret with cert+key+cacert inside we got log:

[code]
BUT if we updating there is only:
[code]

Addi

[2021-12-10 13:40] pierluigilenoci commented on #8026
@aliusmiles I found all the available annotations directly inside the [K8s code](https://github.com/kubernetes/kubernetes/blob/f5fdbbb7f2f9797c72a8edc66c7c6e8633eed5be/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L105-L244): (`ServiceAnnotationLoadBalancerType` [code](https://github.com/kubernetes/kubernetes/blob/481cf6fbe753b9eb2a47ced179211206b0a99540/staging/src/k8s.io/legacy-cloud-prov

[2021-12-10 13:54] longwuyuan commented on #5608
Just as a curiosity question, how long did you wait to check, after the
secret got updated ?

Thanks,
; Long Wu Yuan

On 12/10/21 7:08 PM, gi mbu wrote:

[2021-12-10 13:57] slawekgh commented on #5608
in a while true loop, so every 10 sec for a 30 minutes

[2021-12-10 16:08] rittneje opened #8030 "Leader election config map rename not documented"
Apparently in the v1 release you renamed the ingress-controller-leader-nginx config map to just ingress-controller-leader. However, this change was not documented. https://github.com/kubernetes/ingress-nginx/blob/f207702c3080d679ae86307eafbc16b0d3098e6c/deploy/static/provider/aws/deploy.yaml#L194

Without updating the role, we now get errors in our logs during leader election.

Also, do we need to

[2021-12-10 18:25] kfox1111 opened #8031 "chained ingress class"
Say you have two kubernetes clusters. One is plumed out to the internet. The other is internal only.
It would be nice to be able to have ingress classes in the private cluster be able to expose sites out through the private cluster as normal, but also register a proxy ingress object in the public cluster to cause traffic to route to the private ingress controller as appropriate, exposing that serv

[2021-12-10 20:35] mac-chaffee opened #8032 ""too long parameter" error on modsecurity-snippet"
The [modsecurity-snippet](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#modsecurity-snippet) configmap value is a place to put custom modsecurity rules and exceptions, but these modsecurity rules can get pretty long and verbose. Since the entirety of `modsecurity-snippet` gets templated into nginx.conf inside a `modsecurity_rules` directive, that means there'

[2021-12-10 21:37] mac-chaffee commented on #8032
As a temporary workaround, I was able to accomplish what I wanted with the following helm values:

[code]

[2021-12-11 02:31] longwuyuan commented on #8031
Please elaborate with commands and configs.

Creating K8s objects occurs as a json payload sent to kube-apiserver REST
service. So you will create ingress in one cluster via one kube-apiserver.

/kind support
/remove-kind bug

Thanks,
; Long

On Fri, 10 Dec, 2021, 11:56 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-12-11 03:53] longwuyuan commented on #8030
I see this on a default install ;
[code]

Can you show what you have from a default install

/remove-kind bug
/kind documentation
/area docs
/triage needs-information

[2021-12-11 03:59] longwuyuan commented on #7992
@unrealgeek, any comments on this

@brsolomon-deloitte , based on your last comment, is this still a open issue

[2021-12-11 04:01] longwuyuan commented on #7984
@unrealgeek, any comments on this.

@Tomoku-dm , is this still an open issue

[2021-12-11 04:03] longwuyuan commented on #7967
@unrealgeek fyi

[2021-12-11 04:04] longwuyuan commented on #7967
@theunrealgeek fyi

[2021-12-11 04:06] longwuyuan commented on #8026
@pierluigilenoci, based on your last comment, is it now considered that this issue is unrelated to teh ingress-nginx controller and so this issue can be closed ?

[2021-12-11 04:08] longwuyuan commented on #7992
@theunrealgeek

[2021-12-11 04:29] rittneje commented on #8030
@longwuyuan I'm not quite sure what you are asking. We had previously installed v0.35.0, where the config map was named ingress-controller-leader-nginx.

https://github.com/kubernetes/ingress-nginx/blob/12150e318b972a03fb49d827e6cabb8ef62247ef/deploy/static/provider/aws/deploy.yaml#L198-L199

Since this change was not mentioned anywhere, my question is whether we should manually delete the old con

[2021-12-11 04:34] rittneje commented on #8030
Also these docs still reference the old name. https://github.com/kubernetes/ingress-nginx/blob/main/docs/deploy/rbac.md#namespace-permissions

[2021-12-11 04:44] theunrealgeek commented on #7967
Would something like this work ?

[code]

I haven’t actually tried this, but I’m just piecing together different things that might fit your use case.

[2021-12-11 05:22] #7347 closed

[2021-12-11 06:38] longwuyuan commented on #8030
Thanks for clarifying. What version are you on now. Show commands and
ouputs.

Thanks,
; Long

On Sat, 11 Dec, 2021, 10:04 AM rittneje, ***@***.***> wrote:

[2021-12-11 11:49] michelefa1988 commented on #7895
I also have the same problem like @rouke-broersma

Trying to have 2 ingress controllers, running on azure kubernetes but it seems that many of the times an `address` is not returned. If I delete one of the ingress controllers, than everything magically starts working normally again

[2021-12-11 13:33] longwuyuan commented on #7895
Can you try this https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster  and provide feedback

[2021-12-11 13:35] rouke-broersma commented on #7895
If you check my comment you'll see that I provided the configuration we use to install the controllers.

[2021-12-11 14:00] rittneje commented on #8030
We are currently on version 1.0.5. We install everything via `kubectl`.

[2021-12-11 15:55] michelefa1988 commented on #7895
@rouke-broersma  @longwuyuan Thanks for your help. I have copied the config above as closely as a could and it seems it did the trick.

Thee differences in my code were
- I was using a single namespace (previously was using 1)
- I was missing `controller.ingressClassResource.enabled` in one of the services ( I thought this was enabled by default)
- I have updated the following annotation `controll

[2021-12-11 19:14] LanDinh commented on #7686
I just ran into the same issue - I wiped my local Kubernetes cluster, which was deployed by Docker Desktop, using the "reset Kubernetes cluster" option in the Docker Desktop settings. Before the reset, everything was working just fine. After the reset, it seems that no request reaches the ingress controller pod anymore (or there are at least no logs indicating such)

No errors are visible in the i

[2021-12-11 19:17] LanDinh commented on #7686
One thing I just realized, when I was continuing my Google search that lead me to this issue:

[code]

So it seems that the ingress-controller is not getting any external IP, which would indeed prevent any outside request from reaching it...

[2021-12-11 19:39] LanDinh commented on #7686
Another thing I realized: it's not necessary to reinstall docker, but it is necessary to restart it.

[2021-12-11 23:36] longwuyuan commented on #7895
Nice. Cheers. Can you close the issue.

Thanks,
; Long

On Sat, 11 Dec, 2021, 9:25 PM michelefa1988, ***@***.***>
wrote:

[2021-12-12 00:19] ElvinEfendi commented on #8022
I share the similar concerns as @longwuyuan. @dmitry-j-mikhin have you tried to benchmark this proposed change and see how much difference it makes if at all?

[2021-12-12 04:53] longwuyuan commented on #8030
@rittneje I am not able to see this error message after I upgraded my ingress-nginx controller installation from 1 replica to 2 replicas ;

![image](https://user-images.githubusercontent.com/5085914/145700799-3badca85-2652-415a-be75-f4cb5c1021ba.png)

What am I doing wrong

[2021-12-12 05:14] longwuyuan commented on #7895
@rouke-broersma , can you compare the values needed as per docs and the values yo have set.

This kind of problem is more suited for chat at kubernetes.slack.com in the ingress-nginx-uses channel. I suggest you try that as there are more engineers and developers there. I will close the issue for now. If you get enough data about a bug or a problem, please create a new issue with the data exposing

[2021-12-12 05:14] #7895 closed

[2021-12-12 05:45] tao12345666333 commented on #7627
/assign let me update it.

[2021-12-12 05:45] tao12345666333 commented on #7627
/assign

[2021-12-12 05:45] tao12345666333 commented on #7627
/remove-lifecycle stale

[2021-12-12 05:58] tao12345666333 commented on #7627
In fact, our new version (v1.x) did not release a separate binary file at the time of release.

According to krew's documentation, we can automate it. https://krew.sigs.k8s.io/docs/developer-guide/release/automating-updates/

I want to discuss whether we need to maintain it.
/cc @rikatz @strongjz

[2021-12-12 06:06] rittneje commented on #8030
I think you've misunderstood, so let me restate the issue.

When upgrading from v0.35.0, we missed updating the Role permissions to reference the new config map name. Consequently, we started seeing the aforementioned error message. While this is how we discovered the rename, the purpose of this issue is to report gaps in the documentation.

1. Part of the docs are still referencing the old config

[2021-12-12 06:14] longwuyuan commented on #8030
Thank you for clarification.
I think upgrade from 0.35.0 is better suited to the target version 0.50.0 (latest)or any other version 0.X.X .
[code]

The ingress-nginx controller versions 1.X.X are a migration and not really an upgrade, becaus of some major breaking changes.
The migration and the changes are documented.

(1) But if you want to submit a docs PR, the developers would look at it.
(2) I

[2021-12-12 11:30] rikatz commented on #7627
I'm a +1 for this! I did that with a pet project myself, using goreleaser and a gh action to update the plugin.

[2021-12-12 12:50] unixfox commented on #6973
/remove-lifecycle rotten

[2021-12-12 13:22] rikatz opened #8033 "Performance testing in PRs"
We need a conformance test that can provide us information like “amount of requests, time taken, errors” for our PRs so we can know how improved or degraded our performance was.

Imo there’s no need to know how to code here but mostly we need to establish:
set of important tests (like single http, long running http, tls, 100 simultaneous connections, etc)
* We don’t need to run all the e2e and cor

[2021-12-12 13:25] #8022 closed

[2021-12-12 13:52] rikatz opened #8034 "Split Control Plane from Dataplane (aka split ingress controller and NGINX)"
Due to recent CVEs, we started to discuss but never registered properly the need to split the ingress-controller process from NGINX process.

Here is some rationale on this:
* NGINX process does not need access at all to Kubernetes clusters (SA, API Server, etc). as NGINX is exposed to users, it should be as protected as possible, being able to go only to configured backends and nothing else
* Sti

[2021-12-12 13:55] rikatz commented on #8034
First need: write two containers manifests, one containing only ingress-controller and other containing nginx. NGINX will need some dumb-init for it, otherwise reloading/killing the process can present some challenge into the respawning monitoring.

Later: ONce all is split, need to glue together nginx with controller. The simplest approach would be to share the Process from NGINX with ingress-con

[2021-12-12 13:57] rikatz commented on #8034
Other thing we need to take care off: SSLPassthrough process today runs inside controller process. With the same rationale of "control plane does not receive any users traffic" we should probably think about sending the SSLPassthrough process to the proxy container. Maybe can be the same container running nginx, and being also the container "controlling" nginx

[2021-12-12 15:07] rittneje commented on #8030
[code]

[code]

I don't understand this point. Are you saying the upgrade from 0.50.0 to v1.0.5 is smoother? Or are you saying that upgrading from v0 to v1 is not supported? If it's the latter, then it is a bug that (a) you've left your clients with no reasonable upgrade path, and (b) none of your docs even suggest that.

Where are they documented? The changelog only mentions a few breaking change

[2021-12-12 15:38] tao12345666333 commented on #8034
This is valuable.

I consider whether the model can be simplified?  Use NGINX as a stateless container.

If it has a problem, just restart it.

Use the control plane to write the state to the data plane.

[2021-12-12 15:42] tao12345666333 commented on #8033
It doesn't look complicated.  However, we need consider the results reporting and persistence.

Maybe test-infra already has some feasible solutions.

[2021-12-12 15:52] tao12345666333 commented on #7627
@rikatz Then we need to upload the binary file when we release.

[2021-12-12 16:26] longwuyuan commented on #8033
I am interested but i commented in thread on slack that I have some idea about https://locust.io  but no idea of k6.io or js (k6.io uses js)

[2021-12-12 16:27] rikatz commented on #7627
Yup. Go releaser can do that :)

[2021-12-12 16:39] tao12345666333 commented on #7627
￼ 👌 I will handle it

[2021-12-12 16:40] tao12345666333 commented on #7627
/triage accepted

[2021-12-12 16:44] longwuyuan commented on #8030
Your latest update is very helpful. I will try to comment a little later.
meanwhile can you post the output of the command  `k -n ingress-nginx get cm -o wide`

[2021-12-12 16:51] ElvinEfendi commented on #8034
@rikatz have you thought of taking a smaller step first and extracting only API interaction logic of controller first? Here's what I have in mind:

- Extract API interaction logic into a standalone component, call it control plane. This component would do all the Kubernetes-y things the ingress-nginx controller does today. But additionally it'd also expose a GRPC stream endpoint where data plane c

[2021-12-12 17:08] rittneje commented on #8030
[code]

[2021-12-12 18:15] theunrealgeek commented on #8034
From what is discussed, I see the goal is to just split nginx and the controller process into 2 containers within the same pod. However from a scaling front, it makes more sense to have a few controller pods and lots of nginx pods to handle traffic.

On that front I like the gRPC idea proposed above, it creates an interface between the control plane and data plane which can, as the implementation

[2021-12-12 19:54] rikatz commented on #8034
I LOVE the idea of gRPC central control plane and the dataplane subscribing it. I actually discussed this approach with James and some other folks past in time, that this was going even to be a way to make it easier to implement gateway api, for example.

I just don't know where to start, but I can try (or are you willing to look into that? 🤔  )

I was just thinking on a way to make it a simple ch

[2021-12-12 19:57] rikatz commented on #8034
I'm wondering if we should open a branch in ingress-nginx for this and work on that.

BTW there is a previous art in kpng (https://github.com/kubernetes-sigs/kpng) doing the same thing for kube-proxy. I discussed with folks on past (👋 @jayunit100 @mcluseau ) and Jay actually asked if the whole Control Plane for GatewayAPI'ish shouldn't be like a kpng layer7 controller.

Right now, I think we can m

[2021-12-12 22:49] theunrealgeek commented on #7872
The certificate you provide in the client is the root CA certificates that your client will trust. They generally have very long expiration times also.  These are needed for any client initiating a TLS connection to some server and usually they use the default that is configured on your OS.

[2021-12-12 22:52] theunrealgeek commented on #5690
/assign

[2021-12-13 01:41] longwuyuan commented on #8030
ok. can you please show the command and outputs of ;
[code]

[2021-12-13 01:56] rittneje commented on #8030
I don't have permission to read those resources in our production account, but here are the results from our staging account, which should be essentially equivalent.

[code]

[code]

[code]

[2021-12-13 02:06] longwuyuan commented on #8030
in that case, please edit above message about  staging, and add the following;
[code]

[2021-12-13 03:07] rittneje commented on #8030
We don't use helm.

[2021-12-13 03:32] hieunc278 commented on #7548
Dear @OceaneLonneux-CAL ,

Thanks for your feedback. Anyway, I resolved it already.

[2021-12-13 03:36] longwuyuan commented on #8030
Ok. Can you describe upgrade process steps.

Thanks,
; Long

On Mon, 13 Dec, 2021, 8:37 AM rittneje, ***@***.***> wrote:

[2021-12-13 03:40] rittneje commented on #8030
We have the template yaml under source control. We referenced deploy/static/provider/aws/deploy.yaml and made the applicable changes, but as I mentioned the change to the Role specifically was missed. We then applied the update via `kubectl apply -f`.

[2021-12-13 04:25] longwuyuan commented on #8030
Can you confirm you have repeated error log in staging as well. If yes,
then show kubectl get sa, kubectl describe sa, kubectl get role, kubectl
describe role, kubectl get rolebinding, kubectl describe rolebinding.

Thanks,
; Long

On Mon, 13 Dec, 2021, 9:11 AM rittneje, ***@***.***> wrote:

[2021-12-13 05:29] rittneje commented on #8030
Yes, we have the same error log in staging.

Can you provide some insight on what you are intending to accomplish by having me run these various commands? The purpose of this issue is not to diagnose why we are seeing that error. We already know it's because v1 started using a new config map name, and we forgot to update our Role permissions accordingly.

Again, this is a _documentation_ issue.

[2021-12-13 05:37] longwuyuan commented on #8030
(1) Agree with you that the doc section is not relevant to v1.X.X of the controller. I am trying to think of a solution because we are supporting v0.X.X till january end and I don't know when the change hit version 0.X.X . Please submit a docs PR because ultimately the current text will become not relevant in a couple of months.

(2) I can't predict impact on your production cluster so I am trying

[2021-12-13 06:02] rittneje commented on #8030
This is not true. The pods (really the Deployment) and the Role are two separate resources in kube. We updated the Deployment to use the 1.0.5 image, but neglected update the Role, so the service account does not have permission to update the config map with the new name (ingress-controller-leader). Consequently, we get those errors from the 1.0.5 image.

In other words, our Role currently says th

[2021-12-13 06:31] theunrealgeek commented on #8004
/assign

[2021-12-13 07:01] manikanth04 commented on #7543
@longwuyuan may I know how can I contact you

[2021-12-13 08:00] longwuyuan commented on #8030
I wonder if you can live edit a role with kubectl edit.

Thanks,
; Long

On Mon, 13 Dec, 2021, 11:32 AM rittneje, ***@***.***> wrote:

[2021-12-13 09:21] huaizhengu commented on #7448
I also encountered this problem，After viewing the deployment file， I found no mounted directory.
![image](https://user-images.githubusercontent.com/95726328/145785206-a84c04e2-3cb3-43e0-b9c4-27fdfe4f5f0e.png)

[2021-12-13 11:05] gdippolito commented on #8006
It would be up to the user to validate if there are some annotation that all the ingress resources should be using or not. For example in my use case I might want to create an ingress controller with some default annotations that the user should not care about (e.g cluster-issuer) and that might have a different value depending on the environment. If I set a default for that annotation the user wo

[2021-12-13 11:32] neerjol opened #8037 "Error with POST API call (using postman)"
API GET calls work good. But when doing a POST API call with postman it returns error 404, path not found. I even tried directly to the POD & it still returns the same error. My deployment platform is Azure Kubernetes cluster. When tested in local computer it works fine. Please note that this is a multi-module springboot project. Please help on this.

[2021-12-13 11:59] longwuyuan commented on #8006
Changing the behaviour of the manifests that the project ships will impact
users who don't want this behaviour. That is not an improvement.

Thanks,
; Long

On Mon, 13 Dec, 2021, 4:35 PM gdippolito, ***@***.***> wrote:

[2021-12-13 12:56] pierluigilenoci commented on #8026
@longwuyuan let me finish the tests with aws-load-balancer-controller and then I will tell you if the problem persists.

[2021-12-13 13:13] deepakmega commented on #6287
/assign

[2021-12-13 13:39] rittneje commented on #8030
I would assume so, but regardless I can confirm that applying the change normally via `kubectl apply` stops the error log without needing to restart the pods.

[2021-12-13 15:00] slawekgh commented on #5608
+1

[2021-12-13 15:01] longwuyuan commented on #8030
ok thanks. Its not a good thing to experience the issue. I acknowledge
that and really appreciate that we got this feedback. But I still don't
see a strong case as to identifying this as a critical mistake in the
docs but there is always room for improvement, and this one could be
like a "gotcha" to list and warn users about, if they follow your
process of upgrade. So, please update if you have in

[2021-12-13 15:02] longwuyuan commented on #5608
@theunrealgeek

[2021-12-13 15:06] manikanth04 commented on #7543
@longwuyuan making progress in the documentation updations, working on multiple-ingress.md

[2021-12-13 15:46] manikanth04 commented on #7543
@longwuyuan could youpls send me the invite for this slack channel

[2021-12-13 15:47] #7293 closed

[2021-12-13 15:49] longwuyuan commented on #7543
You can register at slack.k8s.io

The workspace is kubernetes.slack.com

Thanks,
; Long Wu Yuan

On 12/13/21 9:17 PM, Mani Kanth wrote:

[2021-12-13 17:49] #7368 closed

[2021-12-13 19:18] sdickhoven commented on #7837
rather than opening a new issue, i'm going to use this one to mention an ambiguity in the documentation.

this pr adds documentation for "recommended... ": https://github.com/kubernetes/ingress-nginx/pull/7942

[code]

it is not clear whether the last character that should be blocked is a `\` or a `"` since the above string is not really valid in any interpreter.

maybe the documentation intends t

[2021-12-13 21:40] strongjz commented on #8037
If you think this is a bug please fill out a bug form on the new issue or provide the same details here. Right now there is not enough information to help you.

/kind support
/triage needs-information
/priority awaiting-more-evidence

[code]

[2021-12-13 22:42] strongjz commented on #7567
/close

[2021-12-13 22:42] #7567 closed

[2021-12-14 06:08] gijsdpg commented on #8017
I'm also confused by the structure of the manual. I'm also trying to set up TKS termination in AWS load balancer, but currently, the documentation seems to read as if the only option is downloading and editing a YAML file.

[2021-12-14 06:41] codefalcon95 commented on #8037
Hi @neerjol

 I am experiencing the same issue, forwarding request to only get routes

please let me know if you find any help on this

thanks

[2021-12-14 07:19] gijsdpg commented on #8017
Ok, I think I figured it out. I can replicate the `deploy-tls-termination.yaml` configuration with helm with the following procedure:
[code]
where `values.yaml` is a file containing:
[code]

[2021-12-14 07:22] manikanth04 commented on #7543
@longwuyuan  as mentioned here - https://github.com/kubernetes/ingress-nginx/issues/7538#issuecomment-905398593, in documentation  I am mentioning to include  `--ingress-class=k8s.io/default-internal` and `--controller-class=k8s.io/default-internal` as part of args if controller. is that ok?

[2021-12-14 09:18] XMTT commented on #5932
in my case, if i install the ingress controller in control-plane,
everthing looks  good
but i have no idea why

[2021-12-14 10:28] longwuyuan commented on #7543
Seems ok but wil know better after your PR comes in.

Thanks,
; Long Wu Yuan

On 12/14/21 12:52 PM, Mani Kanth wrote:

[2021-12-14 11:01] benny-bp commented on #5936
/reopen

this would be a useful feature for multiple reasons.

controlling lua plugin state declaratively fits our gitOps methodology

[2021-12-14 11:50] manikanth04 commented on #7543
@longwuyuan I sent the pull request , could you pls suggest

[2021-12-14 12:11] LoLei commented on #1984
For me on Azure it was this missing ingress annotation: `kubernetes.io/ingress.class: nginx`.

[2021-12-14 13:16] manikanth04 commented on #7543
@longwuyuan were you able to see my pull request

[2021-12-14 13:16] abdennour commented on #5220
Emm! What we should do then ? create sidecar ?!

[2021-12-14 14:38] iamNoah1 commented on #7543
@manikanth04 can you please link the PR to this issue.

[2021-12-14 15:13] manikanth04 commented on #7902
@iamNoah1 I have worked on the  ticket 7543 where @longwuyuan  has raised similar request. Have raised PR https://github.com/kubernetes/ingress-nginx/pull/8042 , please check and suggest

[2021-12-14 15:15] manikanth04 commented on #7902
/assign

[2021-12-14 17:56] BloodyIron commented on #7939
I for one certainly do see how this kind of a default could be a breaking change, and I do agree with the premise of such things being tied to a version bump (1.x?). However, I believe that at some point this should go back to being "blocked by default". People implementing ingress-nginx out of the box can't reasonably be expected to know all the "use this by default to stay secure, but it's not s

[2021-12-14 18:17] morremeyer commented on #7939
I agree with you on having it back as the default.

However, as that is a breaking change, the release number for that will be 2.0.0.

@strongjz what do you think, should I open a PR to reintroduce it?

[2021-12-14 18:19] BloodyIron commented on #7939
And considering how long it took for 1.0 to "come to market" (so to say) how many years will it be before 2.0 will come to market and this "sane by default" security aspect be introduced? It was "deemed acceptable" (so to say) to revert it in 1.1, why is it "deemed unacceptable" to have it "on by default" in 1.2? This still represents a very real security threat.

[2021-12-14 18:55] strongjz commented on #7939
We are working on a different way to secure the [data and control plane](https://github.com/kubernetes/ingress-nginx/issues/8034) rather than blocking known "bad words" Folks were very vocal when we broke this feature. I don't think they would migrate to v2.0.0 if we made that breaking change.

@BloodyIron thank you for your opinion and we welcome them in our [community meetings](https://docs.goog

[2021-12-14 19:00] BloodyIron commented on #7939
Ahh well if a different way to come at the problem is in-development, then that's cool too. I'm not exactly married to the specific method, but I am responsible for mitigating the CVE :P

I appreciate the invitation, and I may take you up on that at some point, however for now I would prefer discussion to take place in the open and in issue threads like this. I hope that's not going to be problema

[2021-12-14 19:14] morremeyer commented on #7939
I think this is a misunderstanding about how version bumping works with Semantic Versioning works.

You don't plan to release version X at date Y, you plan features and bump the versions accordingly.

If you need to introduce breaking changes, you bump the major version, so matter the plans.

So if there was no other plans to secure ingress-nginx (thanks for updating us on this, @strongjz), versio

[2021-12-14 21:03] BloodyIron commented on #7939
Nah, I understand that the workflow for releases here is tied to actual changes, not time-based release cycles. I was simply saying "years" as "napkin math". Whereby a release with the moniker 2.0.0 would often "require"/warrant a lot more to justify it than just a single CVE compliance aspect. As such, leading to delay waiting for more "justification" (release content) before a 2.0.0 would be rel

[2021-12-14 22:02] kfox1111 commented on #8031
I was thinking the upstream ingress object would need to be customized based on the properties of the ingress objects in the private cluster. such as buffer sizes, timeouts, etc. but I think the ssl passthrough could make it all be done with just a static ingress/svc/endpoint in the public cluster. I'll explore that route and reopen if it doesn't work.

[2021-12-14 22:02] #8031 closed

[2021-12-14 22:06] dpankros commented on #5968
I'm just adding this in case someone else hits the same issue as me.  In my case, we use Hasicorp Consul to secure our k8s mesh.  As part of that process, I had used to the `consul.hashicorp.com/transparent-proxy-exclude-inbound-port` annotation on Nginx to exclude inbound traffic but encrypt the mesh traffic, but I did not include 8443, which the admission webhook uses.  When the webhook tried to

[2021-12-14 23:03] prezha opened #8043 "ingress: unknown field "ipFamilies" in io.k8s.api.core.v1.ServiceSpec with k8s v1.19"
as reported by Yevhenii Dytyniuk in slack thread: https://kubernetes.slack.com/archives/C1F5CT6Q1/p1639259539285100?thread_ts=1639259222.284200&cid=C1F5CT6Q1:
[code]
and acknowledged upstream: https://github.com/kubernetes/ingress-nginx/issues/7810

[2021-12-14 23:04] #8043 closed

[2021-12-14 23:04] prezha commented on #8043
sorry, wrong repo :)

[2021-12-15 02:04] manikanth04 commented on #7543
@iamNoah1 this is the pull request https://github.com/kubernetes/ingress-nginx/pull/8042

[2021-12-15 03:34] manikanth04 commented on #7543
@iamNoah1 i have linked the PR - #8042

[2021-12-15 04:37] cep21 commented on #7569
It's impossible for us to install our second ingress class into a different namespace since we created a network load balancer via the service annotations for AWS.  If we change the namespace, it will recreate the NLB.

Is there any way at all to run two ingress classes in the same namespace?

[2021-12-15 05:28] longwuyuan commented on #7569
/remove-kind bug
/kind feature
namespace scoped controller installation is a work-in-progress AFAIK.

This is not a bug. There is documentation on how to install multiple instances of the ingress-nginx controller in one cluster, in different namespaces.

[2021-12-15 06:49] cep21 commented on #7569
Is there a technical limitation around multiple instances in the same namespace?  Just trying to understand this new limitation.  Thanks!

[2021-12-15 10:21] iamNoah1 commented on #3511
/priority important-longterm

[2021-12-15 10:22] iamNoah1 commented on #3898
/triage accepted
/priority important-longterm

[2021-12-15 10:28] iamNoah1 commented on #5012
@toonsevrin friendly ping

[2021-12-15 10:29] iamNoah1 commented on #5238
/triage-accepted

[2021-12-15 10:29] iamNoah1 commented on #5238
/triage accepted

[2021-12-15 10:34] iamNoah1 commented on #5667
/triage accepted
/priority important-longterm

[2021-12-15 10:35] iamNoah1 commented on #5723
/triage accepted

[2021-12-15 10:35] iamNoah1 commented on #5883
/triage accepted

[2021-12-15 10:36] iamNoah1 commented on #6019
/close

Feel free to open a new issue if you still experience these issues.

[2021-12-15 10:37] #6019 closed

[2021-12-15 10:37] dmathieu commented on #5883
The latest development of this is #8013, which aims to bring the OpenTelemetry module as a sidecar.

[2021-12-15 10:39] iamNoah1 commented on #6340
/triage accepted
/priority important-soon

[2021-12-15 10:43] iamNoah1 commented on #6573
/lifecycle active

[2021-12-15 10:45] iamNoah1 commented on #6822
/close

Closing due to inactivity. Feel free to open a new issue.

[2021-12-15 10:45] #6822 closed

[2021-12-15 10:46] iamNoah1 commented on #6849
/close

Closing due to inactivity. Feel free to open a new issue.

[2021-12-15 10:46] #6849 closed

[2021-12-15 10:47] iamNoah1 commented on #6851
/close

Closing due to inactivity. Feel free to open a new issue.

[2021-12-15 10:47] #6851 closed

[2021-12-15 12:33] iamNoah1 commented on #5883
@dmathieu can consider this then as beeing obsolete with the implementation of #8013 ?

[2021-12-15 13:11] dmathieu commented on #5883
Even with that PR, we will need #7621 (rebased and probably adapted) to have actual support.
I wouldn't consider this issue obsolete, as it tracks the need for the feature.

[2021-12-15 14:17] longwuyuan commented on #7569
Multiple instances of ingress-nginx controller version 1.x, in one
single namespace is not good, as of today. Reasons are complicated. It
is work-in-progress.

Thanks,
; Long Wu Yuan

On 12/15/21 12:19 PM, Jack Lindamood wrote:

[2021-12-15 14:23] DysphoricUnicorn commented on #8010
Does the additional documentation clear this up or is something else needed to close this issue? @elmariofredo

[2021-12-15 20:26] jsoref opened #8045 "Report if certificates are in fact expired"
If a certificate is expired, ingress-nginx should say so

No

No

Currently, the code just says it's about to expire (no biggy):

https://github.com/kubernetes/ingress-nginx/blob/13e711bdddf4fe302ffe899ee3ca2c40d9120ae7/internal/ingress/controller/controller.go#L1329-L1330

[2021-12-16 01:50] evoicefire opened #8047 "Rewrite rules do not redirect if missing trailing slash"
Right now it seems that when you have a redirect rule. See below for Ingress config. When I access `example.com/something/` everything works as expected - however, when I access `example.com/something` there is no redirect to `example.com/something/` therefore the page doesn't work properly.

I can use a workaround in this past issue (now closed) here: https://github.com/kubernetes/ingress-nginx/i

[2021-12-16 03:08] longwuyuan commented on #8047
Description of problem is not good enough. Can you add kubectl describe
ouput of ingress and your curl command.

Thanks,
; Long

On Thu, 16 Dec, 2021, 7:21 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-12-16 03:21] evoicefire commented on #8047
Sorry I meant to include that originally but forgot:

        Name:             something-landing-static-nginx
        Namespace:        landing
        Address:          0.0.0.0
        Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>)
        TLS:
          SNI routes www-dev.example.com
          SNI routes landing-dev.example.com
          SNI rout

[2021-12-16 06:27] longwuyuan commented on #8047
What happens if you add a "/" to the end of the value for the redirect annotation like `..../$2/`

[2021-12-16 06:28] longwuyuan commented on #8047
/remove-kind feature
/kind support
/triage needs-information

[2021-12-16 07:39] kundan2707 commented on #8006
@gdippolito  As this is not required . you can close this issue

[2021-12-16 09:07] thatsmydoing commented on #8030
We've run into this too. There's actually even a note in the source stating the change
https://github.com/kubernetes/ingress-nginx/blob/ab4fa4246797a33bc7b45b45097a91086fe9ad48/internal/ingress/controller/nginx.go#L261-L264 unfortunately, there's no history to it as it's all just one giant commit.

Previously, the configmap was named `${electionID}-${ingressClass}`. But now it's just the election

[2021-12-16 09:53] elmariofredo commented on #8010
Hi, Thanks for reply 🙂

I saw these example files https://github.com/kubernetes/ingress-nginx/blob/main/docs/examples/customization/custom-errors/custom-default-backend.yaml which are great, just I would expect bit more.

1. Having mounting configMap example included as per my example https://gist.github.com/elmariofredo/6f99144f448c3b1f271c67069e6665bb I know it's silly everyone knows how to moun

[2021-12-16 10:29] DysphoricUnicorn commented on #8010
Re 1: That would be a useful addition, however it would probably make sense to have an example for that in addition to the existing one since that one has defaults set that may be sufficient for many people.
Especially if you want to handle all different error cases (status codes, json requests etc.), building custom pages for all of them may not be something everyone would want to do.

Re 2: The

[2021-12-16 14:47] benbonnet commented on #6758
@sharms  if i may ask here; how do you disable NLB Client IP Preservation ? ingress annotations ? lb config ?

[2021-12-16 15:15] sharms commented on #6758
@benbonnet - Here was the code from the time:
[code]

[2021-12-16 16:02] goshlanguage commented on #7970
I believe the problem is, as the error describes, that the `opentracing_load_tracer` directive isn't populated with this flag enabled.

I see that this directive exists [in this list of opentracing directives](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc/Reference.md) as [`opentracing_load_tracer`](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc

[2021-12-16 21:19] jsalatiel commented on #7546
Has this been acknowledged as a bug? It's been 4 months, one severe CVE and this bug makes hard to update our environment since we also have different controllers with same host and same path.

[2021-12-16 21:57] strongjz commented on #8047
I believe we discussed this in the last community call @kd7lxl could this be related to https://github.com/kubernetes/ingress-nginx/issues/7196

[2021-12-16 22:36] kd7lxl commented on #8047
Maybe related, but I think this issue is distinct.

[2021-12-17 06:56] deepakmega commented on #6287
hi @iamNoah1
I have been going through the code and Im not sure if just adding a klog in waitshutdown would fix this issue.
As the waitshutdown runs in separate process is there a way to send its logs to existing stderr/stdout ?

`
func main() {
	klog.InfoS("Initiating shutdown of nginx-ingress-controller from prehook waitshutdown command.")
	err := exec.Command("bash", "-c", "pkill -SIGTERM -f ng

[2021-12-17 08:26] #7377 closed

[2021-12-17 10:04] kollachaitanyakrishna opened #8048 "controller in not loading in my "docker desktop""
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.1.0
  Build:         cacbee86b6ccc45bde8ffc184521bed3022e7dee
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

-------------------

[2021-12-17 10:42] kollachaitanyakrishna commented on #8048
Is nginx-ingress-controller is old style of ingress. Because after removing the "nginx-ingress-controller" also my local setup is working.

`ckkolla@MacBook-Pro ~ % kubectl get deployment -n ingress-nginx
NAME                       READY   UP-TO-DATE   AVAILABLE   AGE
ingress-nginx-controller   1/1     1            1           39h
nginx-ingress-controller   0/1     1            0           39h
ckk

[2021-12-17 11:41] tao12345666333 commented on #8033
I tried k6 and it didn't seem to be difficult. Need to design a suitable test plan.

[2021-12-17 16:28] JohnGalt1717 opened #8049 "Global Config map not loaded even when explicitly defined in args and documentation on topic is severely lacking."
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): linux

- **How was the ingress-nginx-controller installed**:
  - If helm was used then please show output of `helm ls -A | g

[2021-12-18 03:57] agile6v commented on #7507
Hi @marcportabellaclotet-mt As an alternative, if the proxied server returns the header of the application version,  you can get it through $upstream_http_xyz and configure it in log_format annotation.

[2021-12-18 06:58] kzvonov commented on #319
Hello, It doesn't work for me...

Here's my configmap in `ingress-nginx` namespace
[code]

and I have a few ingresses in another namespace, but no matter how I change `large-client-header-buffers` value I still get **400 Request Header Or Cookie Too Larg**

This's how I'm testing:
[code]

[2021-12-18 10:59] iamNoah1 commented on #7140
/close

Feel free to open a new issue

[2021-12-18 10:59] #7140 closed

[2021-12-18 11:32] liangdong1992 opened #8050 "Kubernetes Ingress Header Too Large"
We have a large jwt in header when execute api call, then the postman return http 400 bad request
Error message is "Request Header Or Cookie Too Large".
I try to add the annotations to ingress object, like this :
`nginx.ingress.kubernetes.io/server-snippet: |`
  `  client_header_buffer_size 100k;`
  `  large_client_header_buffers 4 100k;`
And it works for me, but still some question for this :
1.

[2021-12-18 16:44] #7367 closed

[2021-12-18 17:45] #7349 closed

[2021-12-18 21:42] marcportabellaclotet-mt commented on #7507
@agile6v Thanks for the suggestion. That will work, and it is a nice workaround. However it require to modify your app to send the version in a header, which is not ideal in our scenario. Something out of the box would fit beter in our scenario.
Thanks !!

[2021-12-19 03:01] rikatz commented on #7234
/lifecycle frozen

[2021-12-19 12:38] dintel commented on #7896
Hi @longwuyuan
Here is updated information:
[code]

[code]

[code]

[code]

[code]

curl command: `for i in $(seq 20); do curl web.local; done`
ingress-nginx logs
[code]

[2021-12-19 12:45] dintel commented on #7896
@longwuyuan Adding here another command output:
[code]
You can see here that trafficShapingPolicy is configured incorrectly with weight=0.
My guess is that this is because each Kubernetes service is mapped internally by ingress-nginx to backend object. Since service `web-rc` is already used by ingress `web2`, it's not reconfigured. If I am correct, then this is a bug in design and I suggest to jus

[2021-12-19 13:21] kayrus commented on #7466
/remove-lifecycle rotten

[2021-12-19 17:28] logan2211 opened #8052 "Enabling enable-ssl-passthrough breaks client IP (all clients are 127.0.0.1)"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.1.0
  Build:         cacbee86b6ccc45bde8ffc184521bed3022e7dee
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

------------------

[2021-12-20 08:58] Slyke opened #8053 "Ingress Controller returns 404 error for all service routes"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Bare-metal
- **OS** (e.g. from /etc/os-release): `Ubuntu`
- **Kernel** (e.g. `uname -a`): `Linux k-m-001 5.11.0-31-generic #33-Ubuntu SMP Wed Aug 11 13:19:04 UTC 2021 x8

[2021-12-20 11:02] #7289 closed

[2021-12-20 12:35] jsalatiel opened #8059 "nginx-ingress pod crashloop if it can not redownload GeoIP2 database"
**NGINX Ingress controller version** : 1.1.0

**Kubernetes version** : v1.21.7

**Environment**:

- **Cloud provider or hardware configuration**: BareMetal
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): 5.4.0-91-generic
- **How was the ingress-nginx-controller installed**: helm ingress-nginx-4.0.13	1.1.0

**What happened**:
If for any reason during the pod start nginx

[2021-12-20 15:45] tehKapa commented on #5583
be careful that if you delete the ValidatingWebhookConfiguration you risk to break the whole nginx config in case of ingress configuration errors.

[2021-12-20 21:55] stevehipwell commented on #7570
/remove-lifecycle stale

[2021-12-20 23:36] lboix commented on #6896
Upgrading to 0.49.3 helped here too for those symptoms

[2021-12-21 07:14] #7378 closed

[2021-12-21 09:13] paalkr commented on #7546
I'm also facing this issue. We have two cluster wide ingress controllers, nginx and nginx-internal, in addition to an older namespaced nginx controller.

external controller
[code]

internal controller
[code]

We have to support ingress objects both using the old `annotations.kubernetes.io/ingress.class` and the new `spec.ingressClassName` for both of the cluster wide controllers.

For legacy reas

[2021-12-21 10:54] elmariofredo commented on #8010
Well documentation promise custom error page, but given example only provide static built in error same simillary to defaultbackend. I understand that original idea was to build own custom error pages image, but given number of ingress users I feel like this is huge waste of computation resources for such basic feature 😄. Please take a look at my PR #8060  where I'm extending your static deploymen

[2021-12-21 22:16] szEvEz commented on #7900
@strongjz This only works when using the [aws-load-balancer-controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller), which I ultimately ended up using.

Configuring said annotation
[code]
sealed the deal for now, but is a solution I am not very happy with.

Thanks for your insights and your help tho! I will close the issue, as this is not a problem related to this project, rat

[2021-12-21 22:16] #7900 closed

[2021-12-21 23:25] angeloudy commented on #5227
I am trying to achieve the same thing with same config and it doesn't work. It just ignores allow.

[2021-12-22 07:08] zaro opened #8062 "Controller version 1.0.0+ incorrectly uses the default ssl certificate instead of the domain specific configured"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** v1.19.7 ( also happens on similar cluster on v1.22.4)

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS
- **Kernel** (e.g. `uname -a`): `Linux ip-172-20-33-164 5.4.0-1035-aws #37-Ubuntu SMP Wed Ja

[2021-12-22 07:51] ax3353 commented on #7810
downgrade the version to v1.0.3 and it's work

[2021-12-22 08:24] Captain-P-Goldfish opened #8063 "Ingress returns wrong certificate for specific http clients"
Hi I got a strange phenomena and I am not able to get to the root of the source.

I am using docker-desktop: v1.22.4
and the ingress-nginx-controller with the following config:

[code]

Under specific circumstances the ingress-controller returns the fake-certificate instead of the configured one.
I created the following ingress config:

[code]

When accessing the url "https://my-keycloak" in the b

[2021-12-22 10:57] longwuyuan commented on #8063
/remove-kind bug
/kind support
Please install the most recent release of the ingress-nginx controller and update status https://kubernetes.github.io/ingress-nginx/deploy/

[2021-12-22 11:05] longwuyuan commented on #8062
/remove-kind bug
/kind support
There are multiple comments and observations possible because of the combination of ;
- kubernetes version 1.19 on server
- ingress-nginx controller version 1.X.X

For kubernetes version 1.19.X, please try ingress-nginx controller version 0.50.0 and update.

For Kubernetes version 1.22.X and above please try the documented process of configuring ingress-class in the

[2021-12-22 11:09] zaro commented on #8062
@longwuyuan  thakn you for your answer, but as I said I experience the same on 1.22.X cluster with 1.1.0 ingress, so it clearly is not about the k8s version. The debug info provided above is from the 1.19.X, but the behaviour is exactly the same on both versions.
For 1.19.X the bug occured after upgrading the ingress to 1.1.0
For 1.22.X it was fresh installation of both the cluster and the control

[2021-12-22 11:16] longwuyuan commented on #8062
- the curl request
- the expected ingress object that matches the request
- the log message related to the request in the ingress-controller pod
- the tls configuration in the ingress
- the ingress.spec.rules.host field
- the path field
- the pathType field
- and any related annotation

The above is a brief list of aspects that matter. Non of that is visible in the issue. So hard to comment

[2021-12-22 11:24] zaro commented on #8062
@longwuyuan  sure will try to provide these later.

[2021-12-22 11:29] longwuyuan commented on #8059
/remove-kind bug
/kind support

Please add more information. It will help to elaborate why its a bug in the ingress-nginx controller, if download of the controller image or the download of a dependency is broken due to firewall

[2021-12-22 11:37] longwuyuan commented on #8053
- There is no useful information for an engineer to reproduce the problem
- The generic idea is that some magic should make ingress-nginx controller work with a "reverse=proxy" while Ingress Controllers in general either work with a provider's LoadBalancer or they expose a NodePort

Based on above 2 bullets, it is best that you discuss this in the ingress-nginx-users channel on kubernetes.slack.co

[2021-12-22 11:42] longwuyuan commented on #8052
/remove-kind bug
/kind support

Try this documentation https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#ssl-passthrough

Then please provide all related information from the live state of the cluster like curl request in full, ingress describe, service describe, controller pod logs, any other related information

[2021-12-22 11:50] longwuyuan commented on #8049
/remove-kind bug
/kind support
Does this page list all of the configurations you are attempting https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/

I have not checked but wanted you to confirm first.

[2021-12-22 11:56] longwuyuan commented on #8048
/remove-kind bug
/kind support

The data posted is not readbale. Can yo use edit and use inset-code option option to make it more readable

[2021-12-22 14:29] JohnGalt1717 commented on #8049
@longwuyuan Yes.

I believe that the issue is that the documentation assumes you know what the name of the config map is, when it isn't stated nor does it tell you how to find out nor how to properly edit it.

I strongly suspect that this is a documentation bug that makes how to use this correctly undiscoverable.

[2021-12-22 15:10] rittneje commented on #7083
/remove-lifecycle stale

[2021-12-22 15:26] RamBNarayanan commented on #7041
I had same issue where the nginx ingress was failing with the following error when the AKS cluster is behind the azure firewall

Here 192.168.0.1 is the kubernetes service IP which points to the Api server.
[code]
The way I resolved this was allowing port 443 to the API server IP address/FQDN. Firewall rule to open port 443 to '*.azmk8s.io' didn't work.

[2021-12-22 16:27] yoshigev commented on #7072
We've also encountered this issue.

By accident we specified "host" for one Ingress, and then we had to specify it for all the other Ingresses (we hadn't realized at that time that it was due to that single Ingress).

Is there a way to prevent usage of "host" (i.e., either fail deployment of Ingresses with "host" specified or ignore the "host")?

Thanks.

[2021-12-23 02:34] longwuyuan commented on #8063
Ingress rule is configured with host value different from http request
header hostname.

Thanks,
; Long

On Thu, 23 Dec, 2021, 1:03 AM Pascal Knüppel, ***@***.***>
wrote:

[2021-12-23 05:20] longwuyuan commented on #8050
@theunrealgeek

Thanks,
; Long Wu Yuan

On 12/18/21 5:02 PM, Liang, Jackie-D wrote:

[2021-12-23 06:21] Captain-P-Goldfish commented on #8063
I think I do not understand what you are trying to tell me...
From my opinion ingress-rule and http-request are completely identical. Could you please clarify?

[2021-12-23 08:13] SouravEegrab commented on #4853
@naishanair4 ran the command and got this-
error: the server doesn't have a resource type "nginx-ingress-7b9b69db65-wxshz"

[2021-12-23 13:08] longwuyuan commented on #8063
Check the value of the host field in the ingress and the value of the hostname header in your https request. They seem to be different as per what is posted in this issue

[2021-12-23 13:26] Captain-P-Goldfish commented on #8063
yes that is true. The second post is a minimal example for recreating the problem. The first post was the setup where I noticed it and then I recreated a second example that runs into the same error.

[2021-12-23 13:35] longwuyuan commented on #7896
I don't even understand the configuration you have provided. Makes no sense to me, in the context of Canary deployment.

Double check what you are doing. I found an example so better check if the example works first https://v2-1.docs.kubesphere.io/docs/quick-start/ingress-canary/

[2021-12-23 13:42] longwuyuan opened #8067 "docs example for canary deployment"
/remove-kind bug
/kind documentation
/area docs
/good-first-issue
/help

There is no example for canary deployments ingress objects in the docs.

Use this link https://v2-1.docs.kubesphere.io/docs/quick-start/ingress-canary/ and create the appropriate documentation example or edit the canary section in the docs and add the link, mentioned above, and state it as an example of canary deployments usi

[2021-12-23 13:46] longwuyuan commented on #8063
In this command
[code]

the hostname is my-keycloak-sample.

So show the ingress configuration which has a matching rule for that. And then show the logs of the controller pod for that request

[2021-12-23 14:21] alexfanat86 opened #8068 "periodical slow requests through ingress"
**NGINX Ingress controller version**: 1.1.0

**Kubernetes version**: 1.19.7

**Environment**:

- **Cloud provider or hardware configuration**: baremetal k8s cluster
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.10.32-051032-generic
- **Install tools**: kubeadm

- **How was the ingress-nginx-controller installed**:
  - ingress-nginx-controller installed

[2021-12-23 16:38] #7392 closed

[2021-12-23 17:12] Captain-P-Goldfish commented on #8063
I added a zip file above as attachement that contains the helm-chart. Everythings in there. But just in case here again:

[my-keycloak-sample.zip](https://github.com/kubernetes/ingress-nginx/files/7764811/my-keycloak-sample.zip)

The nginx controller were not producing any output so I extended the java-program to read the body of the given url and thus the result from call: `java -cp .\get-server-

[2021-12-23 19:14] cskinfill commented on #5883
Could this be used?
https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx

[2021-12-23 19:46] #4479 closed

[2021-12-23 19:56] rcjsuen commented on #5883
@cskinfill It looks like it's being used per #7621.

[2021-12-23 20:02] #8045 closed

[2021-12-23 21:32] #7610 closed

[2021-12-23 21:44] rikatz opened #8069 "Promote custom-errors to newer version"
custom errors image needs to be promoted.

Steps:
* Open a PR for https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml#L129, add a new line below this one with the following:
[code]

* Once this PR gets merged, open a new PR in ingress-nginx repo to update pointing to newer version - https://github.com/kubernetes/ingress-nginx/blob/ff2b743a947e4d58

[2021-12-23 21:46] rikatz commented on #8069
/priority backlog
/triage accepted

[2021-12-23 22:19] justaugustus commented on #8069
Check out `kpromo pr`: https://sigs.k8s.io/promo-tools/docs/promotion-pull-requests.md

[2021-12-23 22:24] rikatz commented on #8069
Oooh thanks @justaugustus this is a cool tool! Didn't knew about that!

Will dig a bit into it because as for this issue the promotion is for a secondary image, for the main ingress images that we cut tags and do stuff using the tool can help us avoid errors!!

@strongjz automation ftw!!

[2021-12-23 22:30] justaugustus commented on #8069
Here's an example of usage in `capz` from @CecileRobertMichon: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/1877

[2021-12-24 00:30] jsalatiel commented on #8059
The container image is download and run, but in the logs it shows failing downloading the geoip db and thus the container will never be in ready state.

[2021-12-24 01:37] YanxinTang opened #8070 "Can't access server use port 80 after deploying ingress-nginx with metal-lb"
Hi, I'm a starter on k8s deployment. After deploying ingress-nginx and metal-lb, I can't access my service use port 80.

Here is some information:

[code]

[code]

It's ok to request use port 80 on server:

[code]

But it doesn't work outside the network:

[code]

I want to use port 80 to access my service and how should i do in the next steps ?

[2021-12-24 03:07] YanxinTang commented on #8070
For someone who encounter the same problem:

You can enable `hostNetwork` to make it work just like the doc metioned

https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#via-the-host-network

**Optional**

You can also disable assigned NodePort to ensure only 80/443 is accessable.

https://kubernetes.io/docs/concepts/services-networking/_print/#load-balancer-nodeport-allocation

[2021-12-24 03:07] #8070 closed

[2021-12-24 04:58] praveen-SRE opened #8071 "ingress-controller not functioning in k3s"
Hello all ,
My setup of my Cluster :

Physical server with 5 Ubuntu VM : 1 master & 4 Slave Node
Ubuntu version : (same for all 5 Vm)
[code]
Installed rancher.k3s

[2021-12-24 05:02] longwuyuan commented on #8071
You can discuss in the ingress-nginx-users channel at kubernetes.slack.com

/close

[2021-12-24 05:02] #8071 closed

[2021-12-24 05:08] longwuyuan commented on #8068
Sending reqeust to an ipaddress is not a 1:1 comparision with sending request to a hostname.

Can you show some info details that point at a bug or a problem in the ingress-nginx controller.

/remove-kind bug
/kind support

Or even better idea is to discuss in the ingress-nginx-users channel at kubernetes.slack.com as there are more  users, engineers, developers there

[2021-12-24 05:27] longwuyuan commented on #8049
Improving docs is always a good value to users.
But we need to get very very precise and specific here.
So, as a recap ;
- I visit this section of docs  https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#configmaps
- There, I see the first configurable option via a configmap called "add-headers" https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configura

[2021-12-24 05:36] longwuyuan commented on #7694
I think this was circumstantial and there is no clear data hinting at a mis-configured RBAC object. Closing this for now. If more data comes up hinting at a problem in the controller's RBAC config, then we can reopen, if required.

/close

[2021-12-24 05:37] #7694 closed

[2021-12-24 05:45] longwuyuan commented on #8059
If your firewall is blocking the download, its obviously not a bug in the controller. Can you elaborate what you want the controller to do if your firewall is blocking the download of the geoip db.

[2021-12-24 05:47] alexfanat86 commented on #8068
In all tests I sent requests directly to ip address to avoid dns-searching. We have one more small k8s cluster with 30 ingresses. In that small cluster we don't get this large latency:
[code]
Please just tell what kind of info I can provide to you?

[2021-12-24 05:59] longwuyuan commented on #8068
(1) if you send a request to an ipaddress, then there is no host based or path based routing happening so let us forget that completely in the context of this performance problem. That is invalid data for a performance test.

(2) For some reason you think the ingress-nginx controller is causing the performance problems. So provide details and specifics of that reason. It is usually commands and ou

[2021-12-24 10:24] anand-abgis commented on #8069
/assign

[2021-12-24 12:41] longwuyuan commented on #8067
@manikanth04 , would you be interested in this ?

[2021-12-24 12:43] manikanth04 commented on #8067
@longwuyuan  yes will take it

[2021-12-24 12:44] manikanth04 commented on #8067
/assign

[2021-12-24 12:47] longwuyuan commented on #8063
@manikanth04 , if you want I can pair with you on this one

[2021-12-24 12:49] longwuyuan commented on #8068
@manikanth04 if you want, then I can pair with you on this one.

[2021-12-24 13:36] manikanth04 commented on #8063
Ok @longwuyuan , will contact you with my preparation

[2021-12-24 13:41] jsalatiel commented on #8059
Hi @longwuyuan , sorry but I probably not expressed myself the right way. I used the firewall example just to show how the bug could be replicated. I have no firewall blocking that.
The real problem is: In the last couple months, for 3 times the download.maxmind.com URL was down while I was doing some maintenance in my Cluster and due to that the nginx controller was not able to start EVEN though

[2021-12-24 13:53] JohnGalt1717 commented on #8049
On your first point it doesn’t tell you the name of the config map in k8s, how to inspect the current value, or how to edit it without harming the settings that are there.

The rest becomes moot because of an assumption that you can’t make because there’s no way anyone would just know these things, especially WHICH ONE.

[2021-12-24 15:43] longwuyuan commented on #8049
Ok. Please submit a docs PR so discussion can get precise.

Thanks,
; Long

On Fri, 24 Dec, 2021, 7:23 PM James Hancock, ***@***.***>
wrote:

[2021-12-24 15:51] #6996 closed

[2021-12-24 16:23] anand-abgis commented on #8069
@rikatz raised a PR for the first step. https://github.com/kubernetes/k8s.io/pull/3222
will open a new PR here once this one is merged.

[2021-12-24 17:12] longwuyuan commented on #8059
That wil require some research as to how maxmind database use & updates
work in the controller. I think your expectation could be valid but I
don't know for sure. Would you be able to submit a PR.

Thanks,
; Long Wu Yuan

On 12/24/21 7:11 PM, jsalatiel wrote:

[2021-12-24 17:30] JohnGalt1717 commented on #8049
As noted, this is what you get when you try and edit the doc:  https://github.com/kubernetes/ingress-nginx/edit/master/docs/user-guide/nginx-configuration/configmap.md

I.e. 404 error.

Which is why I didn't just do that in the first place. And, I don't know what the correct answers are supposed to be to what's missing.

1. What's the default name of the configmap?
2. How do you alter it (with ins

[2021-12-25 04:18] longwuyuan commented on #8059
@theunrealgeek, have you worked with maxmind geoip db internals before

[2021-12-25 04:20] longwuyuan commented on #8049
@JohnGalt1717 understood.
@manikanth04 , would you like to pair with me on this one as well

[2021-12-25 04:25] longwuyuan commented on #8049
/remove-kind support
/kind documentation
/area docs
@JohnGalt1717 , there are many people using configmap and this seems the only open issue about configmap docs. So a clear distinct identification has to be made as to what is wrong with current docs and what will the improvement look like

[2021-12-25 04:55] theunrealgeek commented on #8059
Not really with the internals of Maxmind db itself.

But I think the problem here is some place else, probably in the controller code before nginx starts up where the initial download is happening. I haven’t looked at that part of the code yet.

[2021-12-25 05:04] longwuyuan commented on #8059
Updating the GeoIP db seems to be in the critical path and I suppose
that is absolutely correct because the alternative is to bring up the
controller with a potentially outdated GeoIP db.

Then its like running the controller with both a updated GeoIP db if
possible and ALSO with a outdated GeoIP db as a alternative which is
basically breaking all the features which depend on GeoIP.

Personally I

[2021-12-25 11:48] ryanzzff commented on #4853
@SouravEegrab Please try:
[code]

[2021-12-25 12:56] jsalatiel commented on #8059
I don't think running with a potentially outdated geoip is really a problem. If that geoip is there in the persistent volume it means that it is the one that was actively in use before the nginx pod gets restarted/killed. Also since there is a database there, any nginx rules relying on geoip will work anyways. And this is much better than being unable to recover your cluster after a node failure (

[2021-12-25 13:07] longwuyuan commented on #8059
There are multiple aspects here.

(1) Running the controller only after a fresh download of GeoIP-DB,
hence ensuring the latest iplist.

(2) Attempting a update of the GeoIP-DB.

(3) Running the pod even on a failed attempt, with a assumption that the
previous successful update attempt is good enough to continue.

(3) Existence or absense of a copy of the latest updated GeoIP-DB in
some accessible

[2021-12-25 20:16] king-universe opened #8074 "why the MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found"
I didn't find the problem. I tried a lot
[code]

[2021-12-26 11:18] tao12345666333 commented on #7627
@rikatz   I found that we already have a job, but it is disabled https://github.com/kubernetes/ingress-nginx/blob/main/.github/workflows/release.txt

xref: https://github.com/kubernetes/ingress-nginx/pull/5436

[2021-12-26 11:32] tao12345666333 commented on #7627
I will try to enable it and use it with https://github.com/rajatjindal/krew-release-bot

[2021-12-26 13:18] ceyhunn opened #8075 "Auth cache not working"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: Hetzner
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.4.0-72-generic
- **Install tools**: Rancher with Hetzner Node driver
  - `Pl

[2021-12-26 17:33] dintel commented on #7896
@longwuyuan Can you be more specific about what does not make sense to you?
I provided exact instructions how this issue can be reproduced and extensive details from one of reproductions.
Reproduction is 100%. Canary **always** does not work when setup as described. How can I help more with this case?

[2021-12-26 17:56] JohnGalt1717 commented on #8049
@longwuyuan I'd suggest that that's guessing happening until they get it right, not because of good documentation.  And guessing leads to mistakes which lead to security issues etc.

I've already stated exactly what's wrong with the docs:

1. They don't tell you the name of the config map in k8s.
2. They don't tell you how to properly edit said config map without damaging what's already there.
3.

[2021-12-27 06:12] longwuyuan commented on #8074
/kind support
/remove-kind bug

Please provide the information requested in the issue creation template.

[2021-12-27 06:17] king-universe commented on #8074
Thanks for your reply but the problem has been solved

[2021-12-27 06:18] #8074 closed

[2021-12-27 06:19] longwuyuan commented on #8075
/remove-kind bug
/kind support

(1) Please provide the related information requested in the issue creation template, for example the `kubectl describe` output of the ingress, the service and the backend pod .

(2) Please provide a simple design but detailed steps, for reproducing the problem. Preferably on a kind or minikube cluster. Please write steps so that someone can copy/paste from your inst

[2021-12-27 08:06] SouravEegrab commented on #4853
@ryanzzff The same error is occuring.

[2021-12-27 10:40] AmitBenAmi opened #8076 "NGINX ingress having SSL errors and increased latency"
**NGINX Ingress controller version**:
[code]

**Kubernetes version**:
[code]

**Environment**:

* **Cloud provider or hardware configuration**: `AWS EKS 1.19`, platform version `eks.7`
* **OS** (e.g. from /etc/os-release): `Amazon Linux 2`
* **Kernel** (e.g. `uname -a`): `5.4.156-83.273.amzn2.x86_64`
* **Install tools**: `eksctl`
* **Basic cluster related info**:
  - `kubectl version`: `v1.21.3`

[2021-12-27 11:11] longwuyuan commented on #8076
/remove-kind bug
/kind support

Upgrade to version 0.50.X.
Then help out by adding the information that is requested in the issue creation template

[2021-12-27 12:12] ceyhunn commented on #8075
Hi @longwuyuan , we solved the problem, sorry for wasting your time, our auth service sends cache-control, expires and etc. response headers, that's why nginx can't cache auth response.

[2021-12-27 12:12] #8075 closed

[2021-12-27 13:10] AmitBenAmi commented on #8076
Hey @longwuyuan
I just upgraded to version 0.50.0 (latest before 1.X.X) and I still see the same behaviour (same data in the issue creation template, besides the nginx-ingress-controller version which is now 0.50.0)

[2021-12-27 15:22] longwuyuan commented on #8076
ok. do you have prometheus there ?  https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/

At this stage, I just used a letsencrypt cert on a pod created using nginx:alpine and I don't see the errors in controller version 1.X.X so we need more precise info as to where the time is being spent. That prometheus related link is one way to get more info.

[2021-12-27 15:28] longwuyuan commented on #8076
Also, that apacheload test is showing the aws LB hostname. I would not consider that valid because that does not match the ingress object rule. I don't know how apachebench works, but can you confirm that the hostname header is the ingress.spec.rules.host ?

[2021-12-27 15:37] longwuyuan commented on #8076
Another observation is that the curl command shows a hostname header `secure-demo-echo-service-load.amit.test` while the ingress YAML you are showing has a ingress.spec.rules.host value of `secure-demo-echo-service-load.mysoluto.com`. This makes that curl command invalid data in the context of a error or a performance problem

[2021-12-27 15:37] Slyke commented on #8053
Hello, I figured out how to do this: https://kubernetes.github.io/ingress-nginx/examples/rewrite/

Was as easy as:
[code]

[2021-12-27 15:37] #8053 closed

[2021-12-27 21:26] nabokihms opened #8078 "Always set cookies from auth request"
Hello, everyone ✋

### Problem

We are using ingress-nginx to route traffic to various applications like Grafana, Prometheus, and so on (I will use Grafana further in the text to make the example more concrete). These applications are protected with the auth_request Nginx module alongside oauth2-proxy configured to store refresh tokens in cookies. Behind oauth2-proxy, there is Dex - OIDC provider.

[2021-12-28 00:59] maikereis commented on #2599
Worked to me:
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/baremetal/deploy.yaml`

[2021-12-28 04:39] tholvoleak opened #8079 "45875 connect() failed (113: Host is unreachable) while connecting to upstream"
Hi, I have set up RKE Kubernetes cluster, I have tried to deploy an application and create ingress to expose external access. but I got an issue with "502 Bad Gateway".

**cat nginx-app.yml**
[code]
cat nginx-service.yml
[code]
cat nginx-ingress.yml
[code]

**kubectl get pod -o wide**
[code]
kubectl get svc -o wide
[code]
**kubectl get ingress -o wide**
[code]
curl http://10.*.*.207/demo
[code]

E

[2021-12-28 05:12] longwuyuan commented on #8079
Change the service web to --type clusterIP

Thanks,
; Long

On Tue, 28 Dec, 2021, 10:09 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-12-28 06:00] manikanth04 commented on #8049
@longwuyuan sure will work on this.

[2021-12-28 06:15] manikanth04 commented on #8049
/assign

[2021-12-28 06:23] longwuyuan commented on #8078
@thunrealgeek

[2021-12-28 06:27] tholvoleak commented on #8079
I h

[2021-12-28 06:27] longwuyuan commented on #8079
/close

[2021-12-28 06:28] tholvoleak commented on #8079
I have changed, but still does not working. i updated info above

[2021-12-28 06:33] longwuyuan commented on #8079
Hi, this is a basic functionality of the ingress-nginx-controller. So its not a bug and it seems like you are asking for support. Please discuss in the ingress-nginx-users channel at kubernetes.slack.com. You can register if required at slack.k8s.io .

Later if you find a bug or a problem, you can reopen this issue. So i will close for now. Thanks.

/close

[2021-12-28 06:33] #8079 closed

[2021-12-28 06:41] tholvoleak commented on #8079
Hi brother,

As it's a basic functionality of the ingress-nginx-controller. how to allow  ingress-nginx-controller to application pod?

[2021-12-28 07:04] longwuyuan commented on #8079
Please discuss in the ingress-nginx-users channel at kubernetes.slack.com. You can register if required at slack.k8s.io .

[2021-12-28 07:16] winkee01 commented on #2170
Any updates on this issue? As i am using cert-manager to generate certificates for my cluster, this problem is causing me a lot of headaches.

[2021-12-28 08:02] tholvoleak opened #8081 "(113: Host is unreachable) while connecting to upstream"
Hi I am a new kubernestes user, I have set up RKE Kubernetes cluster, I have tried to deploy an application and create ingress to expose external access. but I got an issue with "502 Bad Gateway".

**cat nginx-app.yml**
[code]
cat nginx-service.yml
[code]
cat nginx-ingress.yml
[code]

**kubectl get pod -o wide**
[code]
kubectl get svc -o wide
[code]
**kubectl get ingress -o wide**
[code]
curl http

[2021-12-28 08:44] longwuyuan commented on #8081
(1) Duplicate of https://github.com/kubernetes/ingress-nginx/issues/8079

(2) 502 response is correct because there is nothing served at that path. Try / as path

(3) It may help to consider the suggestion made in that other issue

 this is a basic functionality of the ingress-nginx-controller. So its not a bug and it seems like you are asking for support. Please discuss in the ingress-nginx-users

[2021-12-28 08:57] tholvoleak commented on #8081
When I tried path /, it's working (404 Not Found) but not route to pod.
In the ingress file,  I set path: /demo and pathType: Prefix
[code]
So, It should work with that path /demo, right?

[2021-12-28 09:33] tholvoleak commented on #8081
I did allow network policies on that namespace. but still not work
[code]

[2021-12-28 10:09] ooraini opened #8082 "Allow setting hostPort for metrics endpoint in Helm"
You can use `controller.hostPort.enable` to enable hostPort for the `http` and `https` ports. You use the `hostPort.ports` to specify the external ports that will be mapped to the internal ports.

Currently, you can only expose the `http` and `https` ports but not the metrics port.

For the same reasons that you want to use `hostPorts` for HTTP and HTTPS, you may also want to expose the metrics po

[2021-12-28 12:06] AmitBenAmi commented on #8076
I do have Prometheus deployed in this cluster, will take a look at the dashboard to see if it can point me to anything specific.
The 1.X.X version is deploying a newer version of the ingress. Do you think that `0.50.0` might have a bug related in it?

I used the LB hostname in conjunction with the `Host: secure-demo-echo-service-load.amit.test` header to verify that it doesn't fail in the Ingress

[2021-12-28 12:54] longwuyuan commented on #8076
Lets focus on the problem to be solved.
The info here is too cluttered.
Please post one single message that contains ;
- `kubectl describe` output for app-pod, app-svc, app-ing, controller-pod, controller-svc
-  your http request exact and complete
-  all controllerpod logs related to the http requests
- post the same for both the cluster with good controller and also for the cluster with slow con

[2021-12-28 12:56] longwuyuan commented on #8076
If this was a controller bug, then many others would have reported it. So I am almost sure its something unique to your use-case. And only you can debug it

[2021-12-28 18:53] AmitBenAmi commented on #8076
## Bad Cluster

### App Pod
<details>
<p>

[code]

</p>
</details>

### App Service
<details>
<p>

[code]

</p>
</details>

### App Ingress
<details>
<p>

[code]

</p>
</details>

### Controller Pod
<details>
<p>

[code]

</p>
</details>

### Controller Service
<details>
<p>

[code]

</p>
</details>

## Good Cluster

### App Pod
<details>
<p>

[code]

</p>
</details>

### App Service
<details>
<p>

[2021-12-28 19:52] AmitBenAmi commented on #8076
I tried to run tcpdump on the ingress pod with [ksniff](https://github.com/eldadru/ksniff), and found out that I do not see all incoming http requests.

That probably means that the failing requests disappear somewhere in the middle, so probably something else causing it.

Thanks for the help

[2021-12-28 20:15] Gabriel-rd2 commented on #5600
Just got something this while trying to use kubemq-js to subscribe an events client to a kubemq service behind a nginx ingress.

[2021-12-29 05:40] longwuyuan commented on #8076
Ah, so routing from the LB to the svc problem or lost before reaching LB ?

[2021-12-29 05:50] longwuyuan commented on #8076
Also, check what happens if you change the target in the curl command (slow cluster) to the ELB name and not that `....mysoluto.com`. Also, don't add -k and use -L  and set protocol to http.

Something like `curl -H 'Host: secure-demo-echo-service-load.mysoluto.com' http://<elb-hostname>.us-east-2.elb.amazonaws.com -L -v --trace-time`

[2021-12-29 05:52] longwuyuan commented on #8076
Try the httperf utility

![image](https://user-images.githubusercontent.com/5085914/147631466-2b89ea0e-3693-4259-90ab-7f884c623aaf.png)

[2021-12-29 06:29] winkee01 opened #8083 "Referring to TLS secret from other namespace"
I know it's an issue #2170  opened a long time ago, but since it was not solved and the use cases have been more and more common especially when some common cert pool needs to be managed in a proper and secure way.

### 1. Current situation
Ingress and Secret have to be in the exact namespace, otherwise, Ingress will be able to access the secret, and the result is that it will fall to use a defaul

[2021-12-29 06:43] longwuyuan commented on #8083
[code]
https://kubernetes.io/docs/concepts/configuration/secret/

/remove-kind feature
/kind support

[2021-12-29 06:52] winkee01 commented on #8083
Ingress is not a pod, maybe this is about one resource object accessing another resource in another namespace, but the core point here is how we can properly and securely solve the situation where we need to manage a bunch of certificate (or secrets) that need to be accessed by the Ingress Object.

And, if you just put all certificates in the default namespace, Ingress in another namespace still w

[2021-12-29 06:55] winkee01 commented on #8083
Also, ingress-nginx-controller runs in a pod, and it doesn't have to be in the same namespace as the Ingress object, and it still can access its resources, so reasonably, I don't think namespace should be the real problem here.

[2021-12-29 07:30] AmitBenAmi commented on #8076
Not sure yet. After the ELB we have Cilium set up in the cluster so there are multiple places I need to look for

[2021-12-29 07:32] AmitBenAmi commented on #8076
The curl command was run locally on my laptop, but the real tests were run from a pod within that same cluster to minimize the latency of reaching the cluster (which the latency I experienced was a real issue since it is an http call from a cluster to itself and I get timeouts).

[2021-12-29 09:20] sebastianhutter opened #8084 "admissionWebhooks service label value is missing"
The current helm template doesnt allow settings labels for the webhook service with its own value.

https://github.com/kubernetes/ingress-nginx/blob/452515ca2f4961aef7e1624c596f4e75865f71f8/charts/ingress-nginx/templates/controller-service-webhook.yaml#L11

Looking at the metrics service the label snippet should look something like this:
[code]

[2021-12-29 09:57] rosie-gao-awx opened #8085 "unable to find real backend for alternative backend"
**NGINX Ingress controller version** : v0.43.0

**Kubernetes version** : 1.19.14-gke.1900

- **How was the ingress-nginx-controller installed**:  installed by terraform
[code]
- **ingress configurations**:
[code]

[code]

**What happened**:
I got some warning in log, "unable to find real backend for alternative backend test-testapp-new-80. Deleting."

**What you expected to happen**:
No error log,

[2021-12-29 10:10] wdullaer opened #8086 "Nginx should not set Connection header on requests for http/2 / grpc upstreams"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]
Issue is applicable to master based on the code I checked

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
[code]
- **How was the ingress-nginx-controller installed**:
Using kustomize. The only relevant parameter from the configmap is `upstream-keepalive-connections

[2021-12-29 11:54] brutus333 commented on #5576
Great solution, I was finally able to make rabbitmqAdmin running correctly for vhost "/".

[2021-12-29 14:19] ykfq commented on #5417
Find the way to disable gzip:
[code]

[2021-12-29 15:30] ckittel commented on #5608
My team is experiencing the same as @draychev provided in their [recent & detailed repro steps](https://github.com/kubernetes/ingress-nginx/issues/5608#issuecomment-990567681). Thanks @slawekgh for proposing a PR for this issue. Eager for it to be reviewed :)

[2021-12-29 15:42] slawekgh commented on #5608
@ckittel , I was also experiencing that problem on 2 AKS clusters with OSM - so this was the reason for creating the fix

Of course You can review this PR:
https://github.com/kubernetes/ingress-nginx/pull/8066/commits/a7f446cc4a98bdf813a54128c933214ce49da722

it is just sending signal to nginx to reload cert-store , just a few lines of code, in this part of code where there is a problem

[2021-12-29 16:21] nasa9084 opened #8087 "Fix edit link in documentation"
this repository is using `main` as default branch but mkdocs sets the `edit_uri` as `edit/master/docs/` so the link on top-right of documentation pages are broken. The `edit_uri` parameter should be set as `edit/main/docs/`.

/kind documentation
/remove-kind bug

[2021-12-29 17:21] #8087 closed

[2021-12-29 19:34] jacktwilliams commented on #7413
I think the core problem here is that [MixedProtocolLBService](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) is an Alpha feature, so in cloud providers it isn't likely to be available, and so if the ingress-nginx documentation suggests that mixing protocols in this way should work, then it is wrong.

It is very hard to find reliable, working information on how t

[2021-12-29 20:25] Jojoooo1 commented on #5401
Also having the same issue with GKE version 1.20.11 when trying to create a **gce** load balancer, the admission webhook is trying to create the gce ingress.

[code]

[2021-12-29 20:52] Jojoooo1 opened #8089 "ingress class seems to be ignored when using gce LB"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: 1.20.11-gke.1300
- **OS** (e.g. from /etc/os-release):  Container-Optimized OS with Containerd (cos_containerd)
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  -

[2021-12-29 21:55] #7530 closed

[2021-12-29 23:32] rikatz commented on #7251
/lifecycle frozen
/assign

[2021-12-30 00:28] rikatz commented on #5667
This seems that after splitting the control plane from datplane something that will be doable.

Control Plane will keep an state of the current configuration. Everytime dataplane gets it, the same config will be there.

The con of this is that still we cannot deal with interruptions of kubernetes api server, but now we can think on another approach like

Data Plane -gRPC->  Kubernetes Service -> c

[2021-12-30 00:30] rikatz commented on #7096
I need to do some better reflection on this as well, sorry for the delay on this, too long queue :/

[2021-12-30 02:59] rittneje commented on #6728
/remove-lifecycle stale

[2021-12-30 03:15] longwuyuan commented on #8089
First problem, If you are not using GKE but using a custom-created cluster on GCP VMs, then there is no proof in this issue messages that you have the required ports open. Most often this error is caused by blocked ports ;
[code]

There is no proof that you have a ingressClass object named "gce", created when you installed the ingress-nginx controller via kustomize ArgoCD. Maybe you can test it by

[2021-12-30 03:16] longwuyuan commented on #8089
Also, there is a ingress-nginx-users channel at kubernetes.slack.com where there are more engineers and developers hanging out. So you can discuss there better.

[2021-12-30 03:20] longwuyuan commented on #8086
@theunrealgeek, any comments on this one

[2021-12-30 07:08] Okhoshi commented on #6728
/remove-lifecycle stale

[2021-12-30 12:01] winkee01 commented on #8083
As a reference, Ingress can access an IngressClass that is not in the same namespace!

[code]

[2021-12-30 13:08] manikanth04 commented on #8067
https://github.com/kubernetes/ingress-nginx/pull/8090

[2021-12-30 13:11] manikanth04 commented on #8067
i linked the pr https://github.com/kubernetes/ingress-nginx/pull/8090

[2021-12-30 13:59] shafeeqes opened #8091 "Migrate `ingress-nginx` to use Lease API"
Support for `endpoints` and `configmaps` for leaderelection lock is removed in K8s 1.24 with kubernetes/kubernetes#106852.
More details about the motivation to switch to `leases` - ref kubernetes/kubernetes#80289.

To preserve the backwards-compatibility, resource lock for migration purposes (`endpointsleases`, `configmapsleases`) should be used when switching from the legacy resource locks (`endp

[2021-12-30 14:42] #7414 closed

[2021-12-30 18:14] pinkfloydx33 commented on #7546
The admissions webhook for nginx shouldn't be validating ingresses that are handled by other controllers. It seems a bit presumptuous frankly. I would definitely appreciate this feature.

We are running two copies of nginx in our cluster (one internal, one external) and have thus far not had any issues. However, we are replacing the external instance (only) with a third party api-gateway controlle

[2021-12-31 07:49] rurus9 opened #8092 "opentracing: opentracing_propagate_context (when I try to turn on opentracing only for selected ingresses)"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**How was the ingress-nginx-controller installed**:
by helm (CHART VERSION:ingress-nginx-3.40.0)
helm values:
[code]
Ingress controler is up and running:
[code]
**What happened**:
When i try to enable opentracing only for selected ingresses as documented (https://kubernetes.github.io/ingre

[2021-12-31 10:03] tao12345666333 commented on #8091
/label triage/accepted

[2021-12-31 10:07] tao12345666333 commented on #8091
/triage accepted

[2021-12-31 10:44] mblaschke commented on #8027
or maybe like i've suggested in https://github.com/kubernetes/ingress-nginx/issues/7811

[2021-12-31 17:54] #5609 closed

[2021-12-31 18:19] rittneje commented on #7698
/remove-lifecycle stale

[2021-12-31 18:39] locol-media-dev opened #8093 "Cookies are not forwarded when certs are enabled, redirection failed without cookies"
**What happened**:

This is a WordPress instance running in a Digital Ocean K8s cluster, behind ingress-nginx with the cert-manager.
When a user logins into the portal, he is redirected from the login page to the admin page. Normally authentication cookies are forwarded to the admin page.

Without the tls certs, the ingress-nginx-controller process this correctly happens correctly. With the tls ce

[2022-01-01 02:05] longwuyuan commented on #8093
/kind support
/remove-kind bug

Hi, please help by fixing the formatting. The content is meant to have headings and info but all of it looks like code-snippet and is hard to read. You have supposedly attached a screenshot but even that is visible only as a code-snippet URL

[2022-01-01 05:31] locol-media-dev commented on #8093
Hi, hopefully, I have improved the formatting. Also moved the "What is happening" and the screenshots to the top.

[2022-01-01 09:57] #7292 closed

[2022-01-01 13:00] #7379 closed

[2022-01-01 13:12] longwuyuan commented on #8093
Yes, info is readable now. I myself know noting about forwarding cookies from auth url. There are some annotations I see that cover forwarding headers though. Guess you have to wait for comments.

[2022-01-02 02:32] rikatz commented on #7286
/reopen
Totally missed this
/assign

How is this going folks? Sorry I've been really busy with day job things

If you wanna bring this feature discussion to all the dev team feel free to join us in #ingress-nginx-dev in k8s slack (as usually github notifications fall into a blackhole in my email) :)

[2022-01-02 02:33] rikatz commented on #7286
/lifecycle active

[2022-01-02 08:15] khanjasir90 commented on #7884
@strongjz can i take this up

[2022-01-02 11:15] xom4ek commented on #8052
If you route traffic directly to the controller without using the proxy_protocol, nginx will set the real-ip to the $remote_addr. The $remote_addr contains 127.0.0.1 as value, as this is the local TCP proxy address.
In order to use the actual source ip connecting to the local TCP proxy, the following flags need to be added in the configuration [ConfigMap][ConfigMap].:
    `enable-real-ip: true` an

[2022-01-02 16:55] rittneje opened #8094 "Set Connection: close header during graceful shutdown"
During a graceful shutdown (initiated via /wait-shutdown), nginx does not set the `Connection: close` HTTP response header, meaning that clients do not know they should reconnect. The nginx team [refuses](https://trac.nginx.org/nginx/ticket/1022) to fix this issue. Also from what I understand, nginx closes its listeners immediately during graceful shutdown, which in turn causes our load balancer h

[2022-01-02 17:19] rittneje commented on #6287
@deepakmega This is why I had originally suggested using a different signal. :)

Also one thing I am currently confused about is what the point of /wait-shutdown is. All it does is send SIGTERM to nginx-ingress-controller, and then wait for nginx to stop.
https://github.com/kubernetes/ingress-nginx/blob/e625c2507a4b73f779daa8b375aeeb0ad8ca5fa2/cmd/waitshutdown/main.go#L29-L42

But nginx-ingress-co

[2022-01-03 07:05] rurus9 commented on #8092
I think I know what's going on. Me - and others - tried to run opentracing by configuring the collector with annotations. I believe it is impossible. The correct path is:

1. Configure globally in config collector (zipkin-collector-host, jaeger-collector-host or datadog-collector-host)
2. Activating opentracing in config globally:
```(enable-opentracing: "true")```
or with annotations for a single

[2022-01-03 11:39] rikatz commented on #8091
/assign

[2022-01-03 14:21] #7436 closed

[2022-01-03 14:50] pierluigilenoci commented on #4621
We can close this ticket. I found a way to have it working.

Chart `4.0.13`

[code]

[2022-01-03 14:50] #4621 closed

[2022-01-03 15:26] rittneje opened #8095 "nginx-ingress-controller sleeps for 10 seconds before exiting"
For some reason, during shutdown nginx-ingress-controller sleeps for 10 seconds after shutting down nginx.

https://github.com/kubernetes/ingress-nginx/blob/e625c2507a4b73f779daa8b375aeeb0ad8ca5fa2/cmd/nginx/main.go#L171-L181

This seems entirely pointless, and only serves to make pod shutdown take longer.

The only benefit I can think of is it gives the pre-stop hook time to do any other actions

[2022-01-03 15:30] shafeeqes commented on #8091
/assign

[2022-01-03 16:42] xmath279 commented on #7879
I'm also affected by this issue, however it seems to occur regularly (every day at a certain time).

Here is the output from pprof when it happened:

[code]

It is a controller that is not heavily used. It averages 15 requests per second, but every day for around 15 to 30 minutes, it maxes its CPU limits.

[2022-01-03 18:39] Buddhimah commented on #2079
I think what @newmanwang requesting is a feature to add multiple

[code]

Fields

From nginx level we have the capability to add multiple proxy_redirect statements. http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_redirect

But we don't have that capability in ingress

[2022-01-03 18:59] lukepolo commented on #7810
we also see this issue with 1.1

[2022-01-03 19:18] siegenthalerroger opened #8096 "Released Helm Chart can't be installed"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.1.0

**Kubernetes version** (use `kubectl version`): 1.21.7

**Environment**: Azure with Flux2 for Helm

- **How was the ingress-nginx-controller installed**: With Helm

- **Current State of the controller**: Working fine

**What happened**:

Attempting to upgrade to chart 4.0.13 is not possible

[2022-01-04 00:39] rlex opened #8097 "Unable to use nginx.ingress.kubernetes.io/auth-response-headers with global-auth enabled"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.1", GitCommit:"86ec240af8cbd1b60bcc4c03c20da9b98005b92e", GitTreeState:"clean", BuildDate:"2021-12-16T11:33:37Z", GoVersion:"go1.17.5", Compiler:"gc", Platform:"darwin/amd

[2022-01-04 00:44] rlex commented on #8097
as temporary solution, i added following config:
[code]
and it works, but of course it's not that clean and neat as using dedicated auth-response-headers annotation

[2022-01-04 08:58] antoineozenne commented on #8027
Not really. You suggested to use annotations to add header to the response (with `more_set_headers`). My need is to add header to the request (with `more_set_input_headers`).

[2022-01-04 10:00] PSanetra commented on #4998
We are currently missing this feature and actually also need the support for having different listening ports for the same hostname. I don't understand why this would be an invalid use case.

[2022-01-04 10:02] PSanetra commented on #4998
/reopen

[2022-01-04 10:11] lambchr commented on #6937
/remove-lifecycle stale

Hey @strongjz do you need any more information?

[2022-01-04 13:55] longwuyuan commented on #7879
is it possible to reproduce this ?  Or is this unique to your cluster ?

[2022-01-04 14:01] longwuyuan commented on #7810
someone is working on a fix. but generally speaking, we are almost close to seeing the release of K8S version 1.24.X so the support is easier for 1 or maximum 2 versions below latest release of Kubernetes. You could upgrade your Kubernetes version as one solution because you will be forced to upgrade Kubernetes eventually.

[2022-01-04 14:11] longwuyuan commented on #8097
I wonder if it is really a bug because "global" implies all ingress objects, including the one you are referring to. Can you kindly elaborate the thought process and use-case, behind the decision to attempt  obviously contradictory configuration like having a global config and then try to override global auth for one specific ingress.

[2022-01-04 14:18] longwuyuan commented on #8096
[code]
The project has a main branch, not master. Where did you see master  branch ?  Or was that just a typo ?

I have 4.0.13 since 26days.

[code]

Can you provide more details like logs etc that are related to cluster and your helm chart installation attempt

/kind support
/remove-kind bug

[2022-01-04 15:28] strongjz commented on #8096
What version of the template did you upgrade from? I just run thru a helm install but not an upgrade and it worked fine.

/triage needs-information

[code]

[2022-01-04 16:18] strongjz opened #8102 "External auth example does not work on m1 macs"
External auth example does not work on m1 macs, the image used for testing electroma/ingress-demo-authsvc-amd64:0.1 is only built for linux/amd64
https://github.com/kubernetes/ingress-nginx/tree/main/docs/examples/customization/external-auth-headers

[code]

/kind bug
/priority backlog
/good-first-issue
/help
/triage accepted

[2022-01-04 16:22] strongjz commented on #8067
/triage accepted
/priority backlog

[2022-01-04 16:43] xometry-johnny opened #8103 "Clarification on ingressClassName documentation"
Hi, I had a question about the documentation on the homepage and it looks like I'm reading conflicting notes on the ingressClassName change.

[code]

The part I'm interested in is the following.

[code]

Right below that block it has this note.

[code]

To me I'm reading both "The annotation will be backwards compatible and you can continue to use `kubernetes.io/ingress.class annotation`" but the

[2022-01-04 17:09] matyasfodor commented on #2535
This problem still persists. I have to create separate ingresses for each client such that the `nginx.ingress.kubernetes.io/cors-allow-origin` matches exactly.

[2022-01-04 17:09] matyasfodor commented on #2535
/reopen

[2022-01-04 17:21] strongjz commented on #8097
/assign @rikatz

[2022-01-04 17:27] strongjz commented on #8095
/priority backlog
/triage accepted
/kind feature
/assign @theunrealgeek

[2022-01-04 17:37] strongjz commented on #8089
/assign @rikatz

[2022-01-04 17:40] strongjz commented on #8086
/assign @strongjz

[2022-01-04 17:50] strongjz commented on #8004
/triage accepted
/priority backlog

[2022-01-04 18:07] alibahrami744 opened #8104 "Missing metrics for Ingress-nginx on prometheus"
Hi,
I have problem with monitoring ingress with prometheus.
here is my dashboard on grafana which is not working properly.

https://grafana.com/grafana/dashboards/9614
![image](https://user-images.githubusercontent.com/85704502/148103319-8f240e96-8f12-411d-9b84-ff741d403e11.png)

I have lot of search on the Internet but I can't find any solution for my problem. My configuration for ingress and pro

[2022-01-04 22:56] mattoberle opened #8105 "Supersede `log-format-escape-json` with `log-format-params`"
## Background
The **ConfigMap** currently supports a boolean option named [`log-format-escape-json`](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#log-format-escape-json).

- `"false"` sets `log_format escape=default`
- `"true"` sets `log_format escape=json`

Nginx's [`log_format`](http://nginx.org/en/docs/http/ngx_http_log_module.html#log_format) directive o

[2022-01-04 23:00] mattoberle commented on #8105
I wanted to open this issue for discussion to gauge interest before putting together a PR.
If this is a change individuals are receptive there is an obvious conflict between `log-format-params` and `log-format-escape-json`.
Is there precedent for this type of conflict?

[2022-01-04 23:06] dileepyavan commented on #3570
I see a similar issue with rewrite_by_lua_block. On explicitly specifying "rewrite_by_lua_block" for location-snippet, nginx fails to load with  error "nginx: [emerg] is duplicate in /tmp/nginx-cf". The issue seems to be resolved for access_by_lua_block. Any suggestions on how to proceed for this scenario.

[2022-01-05 00:37] Jojoooo1 commented on #8089
For some reason my firewall rules did not get applied in terraform. I got it solved. Thanks for the help, will close the issue.

[2022-01-05 00:37] #8089 closed

[2022-01-05 01:32] rittneje opened #8106 "Add kubectl plugin to GitHub release assets"
I'd like to be able to use the ingress-nginx kubectl plugin. However, I don't want to have to deal with yet another dependency management tool (krew), or have to manually build the binary myself. It would be preferable if the pre-built binaries were available for download in the GitHub release assets.

[2022-01-05 02:12] #8106 closed

[2022-01-05 02:36] locol-media-dev commented on #8093
Hi..

Is this what you are looking for?
[code]

[2022-01-05 03:43] longwuyuan commented on #8103
/kind documentation
/area docs
/remove-kind bug

Latest Kubernetes release is v1.23 and ingress api v1beta1 was deprecated in K8s v1.22. The planned backward compatibility and support for the legacy edition of the ingress-nginx controller was to last till end of January 2022. In this context, I think its better to move away from that deprecated annotation.

It wold seem that your question here hin

[2022-01-05 04:22] longwuyuan commented on #8104
(1) upgrade your controller to latest stable
(2) Try this and update results https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/monitoring.md

[2022-01-05 04:23] longwuyuan commented on #8104
/kind support

[2022-01-05 05:58] bithavoc opened #8108 "Allow plugins override $remote_addr for X-Forwarded-For and X-Real-Ip"
## Goal

We're using ingress-nginx as origin for Cloudflare proxy in a similar fashion as #6358,  the problem is Cloudflare already includes [`X-Forwarded-For` header](https://developers.cloudflare.com/fundamentals/get-started/http-request-headers) and we would like to preserve the original `X-Forwarded-For` header by resetting it with `CF-Connecting-IP` from Cloudflare instead Nginx overriding it

[2022-01-05 10:56] pierluigilenoci commented on #7905
We solved using AWS load balancer controller.

[2022-01-05 10:57] pierluigilenoci commented on #8026
We were able to successfully install the AWS load balancer controller. The ticket no longer makes sense to exist.

[2022-01-05 10:57] #8026 closed

[2022-01-05 12:19] alibahrami744 commented on #8104
Thanks for your response. My problem was resolved by Manual: https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/monitoring.md
I think the problem is related to the namespace. Ingress metrics can not be resolved in another namespace with Prometheus, but after I installed Prometheus with mentioned manual in the same namespace that ingress is already installed on it, all metrics re

[2022-01-05 12:54] cguermi opened #8109 "nginx ingress doest not add new ingress resources to "nginx.conf" file"
**NGINX Ingress controller version** :
  Release:       v1.1.0
  Build:         cacbee86b6ccc45bde8ffc184521bed3022e7dee
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kubernetes version** :
Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.0", GitCommit:"af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38", GitTreeState:"clean", BuildDate:"2

[2022-01-05 15:54] longwuyuan commented on #8104
Thanks. Can you close the issue.

[2022-01-05 16:53] locol-media-dev commented on #8093
I added enable-underscores-in-headers: 'true' and ignore-invalid-headers: 'false' to the ingress-nginx configmap.

Unfortunately does not seem to help.

[code]

[2022-01-05 17:36] xometry-johnny commented on #8103
hey thanks for the quick reply @longwuyuan . We are planning to move away from the annotation for sure. We have ~ 40-50 ingress records. The behavior I saw was as the upgrade finished, all of the ingress records lost their mapping to the ELB. I figured this was because none of them had the `.spec.ingressClassName` implemented yet, which again is totally fine.

Is there a version of the nginx-contr

[2022-01-05 18:42] cguermi commented on #8109
@longwuyuan still not working .. the annotations was added only after many workarounds .

removing the annotations doesn't fix the issue, the ingressClassName was already present in my yaml .

@longwuyuan still not working .. the annotations was added only after many workarounds .

removing the annotations doesn't fix the issue, the ingressClassName is present in my yaml

apiVersion: v1
items:
- a

[2022-01-05 20:56] chirangaalwis commented on #7283
Remove lifecycle/stale

[2022-01-05 20:56] chirangaalwis commented on #7283
/remove-lifecycle stale

[2022-01-05 22:04] ElvinEfendi commented on #7627
@tao12345666333 is there any blocker here?

[2022-01-06 00:38] tao12345666333 commented on #7627
Not currently, I am testing it, and I can submit a PR within this week to complete it

[2022-01-06 03:31] longwuyuan commented on #8103
try helm chart version 3.40.0 which is app version 0.50.0

[2022-01-06 03:39] longwuyuan commented on #8109
First, please format your messages properly. The logs and code and yaml should be code-snippet. Otherwise its hard to read.

Second, please provide the complete info as per the new issue template becaue just saying "not working" can not be analyzed. It requires info like current state of cluster, current state of the controller and related components like ingressClasses and logs of controller-pod

[2022-01-06 09:55] stalkerg commented on #7776
/remove-lifecycle stale

[2022-01-06 10:27] kundan2707 commented on #7582
@yukihonhk if issue does not exits further and everything is fiine then you can close issue

[2022-01-06 11:27] siegenthalerroger commented on #8096
Huh, interesting. I was upgrading from 4.0.8 using Flux's HelmRelease and was getting the error `Helm install failed: YAML parse error on ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml: error converting mapping values are not allowed in this context` on line 9.
Upon researching the error I stumbled on the commit that came after the 4.0.13 release that would fix the regr

[2022-01-06 11:40] fred214 opened #8110 "Base image has vulnerability CVE-2019-0205"
**NGINX Ingress controller version**
Release: v1.1.0
Build: 843a16a
Repository: https://github.com/kubernetes/ingress-nginx
nginx version: nginx/1.19.9

**Docker image**
k8s.gcr.io/ingress-nginx/controller:v1.1.0

**Base image**
k8s.gcr.io/ingress-nginx/nginx:v20210926-g5662db450

Our security scanner reported docker image contains vulnerability CVE-2019-0205, the related file is `/usr/local/lib/l

[2022-01-06 13:09] longwuyuan commented on #8110
Grype could not find what you are reporting. However some other info came up on checking so thanks.

Can you get precise and elaborate on what scan tool you used and the exact report as it is.

Grype sees this ;

[code]

[2022-01-06 13:11] longwuyuan commented on #8110
@rikatz @tao12345666333 , runc & protobuf CVE visible in grype scan

[2022-01-06 13:59] fred214 commented on #8110
We use the commercial software [black duck binary analysis](https://www.synopsys.com/software-integrity/security-testing/software-composition-analysis/binary-analysis.html)
I only can pick up part of scan result:
[code]
And I think if we don't use the opentracing feature, maybe I can remove the `libjaegertracing_plugin.so`

[2022-01-06 14:59] fred214 commented on #8110
I deleted the `libjaegertracing_plugin.so` when docker build, but the scan result still report the vulnerability, because the layer '3aae86482564' is read only and ours scanner base on the layer. It looks like I need to rebuild the image from the beginning. Could someone provide the Dockerfile? Many thanks.

[2022-01-06 15:13] fred214 commented on #8110
I find it, is it the `images/nginx/rootfs/Dockerfile` ?

[2022-01-06 15:50] fred214 commented on #8110
I find the Dockerfile https://github.com/kubernetes/ingress-nginx/blob/e625c2507a4b73f779daa8b375aeeb0ad8ca5fa2/images/nginx/rootfs/build.sh#L57
It looks like the vulnerability is introduced by `jaegertracing/jaeger-client-cpp`, if we don't use the opentracing feature, can I skip it importing?

[2022-01-06 17:38] ThatDeveloper opened #8111 "Useless LB creation on AWS & Slack not accessible"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): helm.sh/chart: ingress-nginx-4.0.13

**Kubernetes version** (use `kubectl version`): 1.21

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): linux
- **Install tools**: Helm
  helm install ingress-nginx ingress-nginx/ingress-nginx \

[2022-01-06 18:14] ThatDeveloper commented on #8111
It looks like this is some sort of "warming up" beahviour. Amount never exceeds 2. I close this and investigate further. I am sorry for the inconvinience.

[2022-01-06 18:14] #8111 closed

[2022-01-06 18:51] xometry-johnny commented on #8103
awesome. and then from app version 0.50.0 do you have a recommended upgrade path to the latest?

[2022-01-07 09:41] ekovacs commented on #7546
whats the ETA on this?

[2022-01-07 14:10] splitice commented on #5884
For anyone who finds this.

`kubectl delete job nginx-admission-create -n ingress-nginx`

[2022-01-07 15:23] afirth commented on #7546
This was deleted by @rikatz in https://github.com/kubernetes/ingress-nginx/pull/7470/commits/704f7efe6d6bb7bc417b7eca78516ee3a0c40308#diff-4198ec010671801881244a8052177f31bcbc682c99fbd7391bceb136025c0568L224-L228 which was merged as part of #7470. The message is "* Remove ingressclass code from admission"
The test for this BUG[?] was also deleted https://github.com/kubernetes/ingress-nginx/commit/

[2022-01-07 16:58] rfleschenberg opened #8113 "Incorrect validation for auth-proxy-set-headers?"
Hi,

While trying to make use of the `nginx.ingress.kubernetes.io/auth-proxy-set-headers` annotation, I think I discovered a bug. It works fine if I point the annotation at this `ConfigMap`:

[code]

But if I replace `foo-bar` with `foo-bar.baz`, this error is logged: `Location denied, reason: invalid proxy-set-headers in configmap`.

After taking a quick look into the code (disclaimer: I'm not fa

[2022-01-07 17:07] rfleschenberg commented on #8113
Yeah I should have tested against `main` first, looks like this bug was fixed a while ago. Sorry!

[2022-01-07 17:07] #8113 closed

[2022-01-07 19:30] afirth commented on #7905
exactly, https://github.com/kubernetes/kubernetes/issues/101608#issuecomment-847438014
/close

[2022-01-07 19:31] #7905 closed

[2022-01-07 20:09] mdcrawford commented on #7050
@rikatz is there a reason we can't enable the read-only filesystem but mount writable emptyDir volumes over the locations nginx needs to write?  Just curious if this can be locked down any further than making everything writable.

[2022-01-07 21:52] brsolomon-deloitte commented on #6358
Still exists as of most recent chart/controller (chart 4.0.13).

[2022-01-08 05:34] longwuyuan commented on #8110
As per this doc, opentracing is not enabled by default.
Secondly, I think the fix will be upstream and not in the ingress-controller.

[2022-01-08 10:39] fred214 commented on #8110
Understand,we will try to fix it in upstream. Another thing is, can update the golang version to build the ingress-controller binary? because it can cause CVE-2021-38297.

[2022-01-08 14:55] heurekus opened #8114 "Image can't be pulled on simple install"
Perhaps a beginners mistake but perhaps also not. I'm trying to deploy ingress-nginx on a Linode Kubernetes Cluster using their simple description of how to do that:

https://www.linode.com/docs/guides/how-to-deploy-nginx-ingress-on-linode-kubernetes-engine/

As described there I do:

[code]

The process starts just fine but the status of the admission-create pod is always ImagePullBackOff:
[code]

[2022-01-08 16:42] longwuyuan commented on #8110
I think there are fixes in main that are not yet released. Lets wait for next release.

[2022-01-08 16:47] longwuyuan commented on #8114
/remove-kind bug
/kind support
ErrImgPull is not a bug and you can manually try to pull that image from a shell on the node(s) where the pod got scheduled, as a test.
In any case this is not a problem with the ingress-nginx controller so you can ask Linode for support, and close this issue.

[2022-01-08 18:50] heurekus commented on #8114
Thanks for the quick response, so I gave it a try with another managed Kubernetes service. And indeed, it seems a Linode issue, it deploys without problems on Digitalocean. Thanks again!

[2022-01-08 18:50] #8114 closed

[2022-01-08 23:35] xeor commented on #5401
It looks like the ValidatingWebhookConfiguration is missing some client config.
https://github.com/kubernetes/ingress-nginx/issues/5968#issuecomment-849772666 fixes it without deleting by getting the CA-bundle, and adding it to /webhooks/0/clientConfig/caBundle

The function that should do this is at https://github.com/kubernetes/ingress-nginx/blob/54523641a89a2b026180eb1e779152b8e939b11a/images/k

[2022-01-09 00:36] theunrealgeek commented on #8095
/assign

[2022-01-09 07:58] alibahrami744 opened #8116 "How to recieve metrics from Dwonstreams"
Hi,
I have a Kubernetes cluster with ingress-Nginx as a web server and Prometheus for monitoring. I successfully create a dashboard for monitoring ingress-Nginx metrics like TPS, Err code, response time and etc.
But my problem is related to external links metrics. some of my microservices in the cluster are sent traffic to the outside of the cluster to some upstream vhost link for OAuth or query a

[2022-01-09 09:37] longwuyuan commented on #8116
That will be metrics of the microservice pod, not the ingress-controller
pod.
/remove-kind bug
/kind support

Thanks,
; Long

On Sun, 9 Jan, 2022, 1:29 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-01-09 13:40] alibahrami744 commented on #8116
Thanks for you response.
What is the solution for this problem? how can I get metrics pods for vhost?

[2022-01-09 13:43] alibahrami744 commented on #8116
@longwuyuan  Thanks for your response.
What is the solution to this problem? how can I get pods metrics for vhost?

I searched all the pod's metrics and did not find any useful metrics for my problem

Would you please give me a complete answer in this regard?

Thanks.

[2022-01-09 13:54] longwuyuan commented on #8116
You can try asking in prometheus-operator channel at kubernetes.slack.com . The answer will be elaborate and complicated depending on factors like that metric existing and being scraped and then visualized in Grafana etc etc.

If you find a bug or a problem with the ingress-nginx controller, you can re-open this issue and post all the data related to the bug or problem. For now we can close this i

[2022-01-09 13:54] #8116 closed

[2022-01-09 14:35] AmitBenAmi commented on #8076
So long story short, the problem was caused by [Cilium](https://cilium.io/) that is installed on my cluster, and through [this](https://github.com/cilium/cilium/issues/15200) issue I managed to fixed it (disabled the `kubeProxyReplacement` feature in Cilium)

[2022-01-09 14:35] #8076 closed

[2022-01-09 15:32] #7484 closed

[2022-01-09 21:32] #7465 closed

[2022-01-10 00:55] rikatz commented on #8110
protobuf does not have a fix yet, as it's an indirect.  (TIL about grype)

[code]

we need to figure out what's vendoring protobuf and how can we fix it. There's no more updated version of google protobuf than this one

[2022-01-10 01:07] theunrealgeek commented on #8095
Thanks for bringing this up. I looked into this a little more than [this](https://github.com/kubernetes/ingress-nginx/commit/86f39d9deba930dcfc5678968c4f76dbafa4871b) was the commit 4 years ago that introduced the 10 second sleep but I can't find any good reasoning for it either. `ngx.Stop()` a few lines above is already waiting for all nginx processes to exit.

I agree that it should be configura

[2022-01-10 01:08] rikatz commented on #8110
About Jaeger, it's hard. It's built in into a lib that by the last release didn't get an update that could fix that issue (there is actually a huge "🛑 This library is being deprecated!" on it so we should probably take care of it).

About Go we should probably have taken care of that earlier, and we didn't. You are right, I'm going to update the Go compiler, but it takes some more time. I was look

[2022-01-10 01:31] #8110 closed

[2022-01-10 03:12] RainyH2O commented on #333
@sanzenwin I met the problem and sovle it. I think the key point is the difference between URL rewriting and URL redirection:

Therefore the annotaion could solve these problems.
[code]

[2022-01-10 07:58] agile6v commented on #7986
Hi @kundan2707 My concern is that ingress-controller cannot tell the user whether the configured annotation has taken effect and the invalid prefix is just one of the common mistakes. As long as ingress-controller can tell the user that the annotation doesn't take effect, the purpose is achieved.

Thanks.

[2022-01-10 09:58] tacf opened #8122 "Wrong Version declaration in Ingress Documentation"
**Kubernetes version** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: local
- **OS** (e.g. from /etc/os-release): MacOS Big Sur
- **Install tools**:
  -  minikube

**What happened**:

K8s throws error as newtworking.k8s.io/v1 does not support ingress object on k8s version 1.18.

**How to reproduce it**:
## Create an ingress

echo "
  apiVersion: ne

[2022-01-10 12:11] longwuyuan opened #8123 "Release 1.1.1"
Follow the documentation in /RELEASE.md to Release v1.1.1

/remove-kind bug
/kind feature

[2022-01-10 12:18] munnerz commented on #8103
Hey @longwuyuan - whilst the v1beta1 API is being deprecated in Kubernetes v1.22, this does *not* mean that the behaviour of respecting the annotation value is also expected to be removed at this release from my understanding.

Honouring the annotation value over the field value is a property of the *v1* API as well as the v1beta1 API, so until the v1 API itself is removed, I don't believe ingress

[2022-01-10 13:08] caohe opened #8124 "Slow to Update Ingress Status"
**NGINX Ingress controller version**:
[code]

**Kubernetes version**:
v1.20.12

**Environment**:

- **Cloud provider or hardware configuration**: VolcEngine
- **OS**: veLinux
- **Kernel**: Linux nc7dvugersfeqotgql2tg 5.4.56-1-velinux1-amd64 #velinux1 SMP Debian 5.4.56-1-velinux1 Tue Jul 13 06:05:33 UTC 2 x86_64 GNU/Linux
- **Install tools**: kubeadm
- **Basic cluster related info**:
  - `kubectl v

[2022-01-10 13:22] Harmelodic commented on #7652
Hello, another real world scenario that we have:

Multiple Ingress Controllers in the same namespace used for different purposes, for various security & configuration reasons.
We discovered this issue recently by finding that after we did the upgrade to NGINX `1.0.0`, we were only getting some metrics from a _single_ NGINX Ingress Controller release.
Metrics like:
- `nginx_ingress_controller_ssl_e

[2022-01-10 13:46] longwuyuan commented on #8122
Please use ingress-nginx version 0.50.0 for Kubernetes version 1.18.x .

/close

Thanks,
; Long Wu Yuan

On 1/10/22 3:28 PM, Tiago Ferreira wrote:

[2022-01-10 14:02] tacf commented on #8122
@longwuyuan  what does this have to do with the nginx-ingress ? This is related with the fact that the k8s API does not support Ingress objects on that particular version for 1.18 and your documentation is not correct.

[2022-01-10 14:04] brsolomon-deloitte commented on #6358
Here is illustration of a full working solution with Helm and `ingress-nginx` chart version 4.0.13 / K8s 1.21.

First, add new template, `ingress-nginx/templates/controller-configmap-lua.yaml`:

[code]

Then add custom values.yaml:

[code]

Your upstream apps should now see

- `X-Forwarded-Proto` -> https
- `X-Forwarded-Scheme` -> https
- `X-Forwarded-Port` -> 443

Note there's a slight defect in

[2022-01-10 14:21] seddarj commented on #7569
Hello @longwuyuan, just wondering if there are any updates on this topic.

[2022-01-10 14:43] brsolomon-deloitte commented on #5416
Because of the way that `nginx.conf` is templated out it has become prohibitively difficult to set these headers. They are dictated by the values of `pass_port` and `pass_access_scheme`.

One way to hard-override them is with a custom Lua plugin.

See https://github.com/kubernetes/ingress-nginx/issues/6358#issuecomment-1008902987 for an example.

[2022-01-10 14:44] jontro commented on #6928
/remove-lifecycle stale

[2022-01-10 14:58] longwuyuan commented on #8122
This documentation https://kubernetes.github.io/ingress-nginx/deploy/ is related to specifications of recent releases of Kubernetes and specifically the ingress api version networking.k8s.io/v1 .  So this documentation main branch can not be changed to reflect specifications and configurations of Kubernetes version 1.18.x .

You can navigate to https://github.com/kubernetes/ingress-nginx/tree/main

[2022-01-10 15:08] longwuyuan commented on #7569
This is still work in progress.

[2022-01-10 15:14] longwuyuan commented on #8124
/remove-kind bug
/kind support

There is no information as to how many ingress resources you have in the cluster. There is no information related to the resources like CPU, Memory or Bandwidth. So not much analysis is possible. You can search the history of issues, where you can find that the project made a few changes in the last 6 months, that are related to performance.

[2022-01-10 15:23] longwuyuan commented on #8103
If you can specify, what problem you want to solve, maybe some more comments will be easy. This is a rabbit hole type of discussion. The docs have to be fixed in several places but the context is that the project solved this complication by maintaining 2 different editions of the controller code.... version 0.x and version 1.x .  Soon the project will stop maintaining and supporting version 0.X.X

[2022-01-10 15:31] munnerz commented on #8103
We maintain the cert-manager project, which automatically creates Ingress resources in order to solve HTTP01 challenges.

This means we need to create Ingresses and specify what `class` should be used. Historically, we've done this by setting the annotation (as we pre-date the changes to the API to have a dedicated field).

If certain ingress controller implementations *stop* honouring the annotat

[2022-01-10 15:51] longwuyuan commented on #8122
I see it now. You are absolutely right and I failed to see the text there,
until now. That is wrong text. Now I have to check which PR made that
change. Apologies. And thank you very much for helping fix that. I will
reopen.

/reopen

Thanks,
; Long

On Mon, 10 Jan, 2022, 9:11 PM Tiago Ferreira, ***@***.***>
wrote:

[2022-01-10 15:53] longwuyuan commented on #8122
Please reopen your PR as well. Sorry for the confusion.

Thanks,
; Long

On Mon, 10 Jan, 2022, 9:21 PM Yuan, ***@***.***> wrote:

[2022-01-10 15:54] tacf commented on #8122
Glad we managed to clarify the point :) . I'll reopen the PR then, let me know if you need something else on my end

Thanks

[2022-01-10 15:57] longwuyuan commented on #8122
Yeah, I will try to get your PR merged ASAP. Thanks a lot for your help and
apologies for the mess I created earlier.

Thanks,
; Long

On Mon, 10 Jan, 2022, 9:25 PM Tiago Ferreira, ***@***.***>
wrote:

[2022-01-10 16:42] cskinfill commented on #5883
nice!  so any more progress being made on support for OpenTelemetry?  Looks like #7621 is staled???

[2022-01-10 16:51] dmathieu commented on #5883
Ongoing work is happening in #8013.

[2022-01-10 17:04] rittneje commented on #8095
@theunrealgeek To mean the current log message implies that it is waiting for some event from the control plane. Something like "Handled quit, delaying container exit for %s" would be more clear.

[2022-01-10 17:13] longwuyuan commented on #8103
@munnerz  Thanks for clarification. Makes sense in use case of cert-manager dev. I should first apologise for directly/indirectly implying a scene where your use-case runs into trouble. I was assuming a normal use-case. Please create a different issue for cert-manager specific use-case.

@xometry-johnny if you had the annotation set and upgrade to K8s v1.22 made ingress resource fail, then did you

[2022-01-10 17:19] munnerz commented on #8103
👍 I'm seeking some further clarification from sig-network & api-machinery before pushing ahead - it seems like there may need to be changes in API documentation upstream & communications to ingress controller authors too. But I will do once we know more 😄

There's no special conversion between the annotation<>field value when resources are converted from v1beta1<->v1, as this is effectively an ent

[2022-01-10 17:27] longwuyuan commented on #8103
my mistake. I was not implying a conversion from annotation to field. i wanted to first be sure that the annotation itself was intact. and if it was the default value "nginx" or something else.

Are you both from the cert-manager dev team ?

[2022-01-10 17:33] longwuyuan commented on #8103
I think the cert-manager use-case you mentioned and the automatic migration to K8S v1.22 is a very involved discussion. On the surface there is this concept of watching without ingressclass https://kubernetes.github.io/ingress-nginx/#i-have-multiple-ingress-objects-in-my-cluster-what-should-i-do  and https://kubernetes.github.io/ingress-nginx/#what-is-the-flag-watch-ingress-without-class

[2022-01-10 20:29] zerkms opened #8127 "Using version comparison instead of api availability check makes it less portable"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): n/a

**Kubernetes version** (use `kubectl version`): n/a

**Environment**:

- **Cloud provider or hardware configuration**: n/a
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kops

[2022-01-11 03:14] longwuyuan opened #8128 "Add helm-docs step in RELEASE.md"
Because of this PR https://github.com/kubernetes/ingress-nginx/pull/8061, releasing the helm chart of the ingress-nginx controller, now requires running `helm-docs charts/ingress-nginx` locally, on the clone of your fork, AND add+commit the resulting modified file `charts/ingress-nginx/README.md` to the repo. This step is not documented in RELEASE.md. This issue is to edit the RELEASE.md to add th

[2022-01-11 03:15] longwuyuan commented on #8128
/area docs
/kind documentation
/good-first-issue
/remove-kind bug

[2022-01-11 03:16] longwuyuan commented on #8128
@manikanth04 , are you interested in this. If yes, I can pair with you

[2022-01-11 04:41] manikanth04 commented on #8128
Sure @longwuyuan
/assign

[2022-01-11 11:06] iamNoah1 commented on #8010
/kind documentation
/triage accepted
/priority important-longterm

[2022-01-11 11:07] iamNoah1 commented on #8010
/remove-kind feature

[2022-01-11 12:01] longwuyuan commented on #8128
@manikanth04 I incorporated the changes in https://github.com/kubernetes/ingress-nginx/pull/8125 so closing this. You can review the new RELEASE.md once that PR merges

/close

[2022-01-11 12:23] longwuyuan opened #8130 "Add comments for values in values.yaml"
- We recently adopted `helm-docs`  https://github.com/norwoodj/helm-docs
- The helm-docs tool autogenerates README.md
- Autogenerated README.md creates a table of all the values in values.yaml
- The last column of the table is the description of the value
- The description is picked up from the comments above each value in values.yaml
- Several values in values.yaml do not have comments
- This iss

[2022-01-11 12:24] longwuyuan commented on #8130
@manikanth04 you can take this one if interested to pair with me. This can be done slowly as there is no rush on the achievable here. But this should eventually be accomplished

[2022-01-11 13:17] manikanth04 commented on #8130
/assign @manikanth04

[2022-01-11 13:17] kitos9112 commented on #7755
I'm facing similar issues to the one described in the GH issue. My use case is quite simple, I need to deploy 1x IngressNginx **controller** per Namespace (or tenant) in an EKS cluster via helm so ingress resources get successfully segregated between namespaces. This particular use case is satisfied if you do not enable the admission webhook controller via setting `.Values.admissionWebhooks: false

[2022-01-11 13:17] manikanth04 commented on #8130
Sure @longwuyuan

[2022-01-11 16:03] yuvipanda commented on #2059
I'm currently running into this too. Would love for this issue to be re-opened.

[2022-01-12 05:05] wonderg commented on #2924
hi folks, is there a way to configure bucket values https://github.com/prometheus/client_golang/blob/dc1559e8efad6493bfa27e5af5e9a030e8675d73/prometheus/histogram.go#L65 ?

we have a similar situation described in https://github.com/kubernetes/ingress-nginx/issues/2924#issuecomment-413863737 by @towolf , but i can't figure out if it possible to configure custom values

[2022-01-12 07:29] xuchuan-666 commented on #5591
How to solve this problem？？

[2022-01-12 07:32] xuchuan-666 commented on #5591
Nginx_ingress_controller_requests cannot be counted for domain names that were matched by re. I hope you can help solve this problem. Thank you

[2022-01-12 09:11] AndrewFarley commented on #2924
@wondberg I believe the fix is to add values to this: https://github.com/prometheus/client_golang/blob/dc1559e8efad6493bfa27e5af5e9a030e8675d73/prometheus/histogram.go#L68

Edit this...

[code]

to...

[code]

[2022-01-12 09:27] AndrewFarley commented on #2924
@wonderg I just re-implemented adding higher latency values and re-PR'd this.  You can self-compile nginx ingress with these changes it should work.  See: https://github.com/kubernetes/ingress-nginx/pull/8132

[2022-01-12 10:24] mkreidenweis-schulmngr commented on #7546
According to the comments in https://github.com/kubernetes/ingress-nginx/pull/7341/files/f5c4dc299c2622dcc0e8ff038dac9cc4b0f4fcbb#diff-4198ec010671801881244a8052177f31bcbc682c99fbd7391bceb136025c0568 it looks to me like this feature was removed mostly because it was somehow hard to do with the new ingressClass logic. (Comment says "how can we check for ingress class?")

It was actually @tao1234566

[2022-01-12 12:05] zohebs341 commented on #7837
Hi All,

Do we need to update configmap, even if nginx version is not 1.19.4

As I’m expecting, by default below parameter will be false in nginx 1.19.4

allow-snippet-annotations:“false”

appreciate your inputs

[2022-01-12 14:30] #8010 closed

[2022-01-12 16:48] #8123 closed

[2022-01-12 17:56] nycza commented on #8063
FYI, we noticed the same issue with openssl 1.0 (working fine with openssl 1.1)
It also makes `ssl_verify_client optional_no_ca` send a x-client-verify: NONE without the certificate in ssl-client-cert header (while it works fine with openssl 1.1)

[2022-01-12 18:40] kd7lxl commented on #2924
This is implemented in #7171, currently pending review.

[2022-01-12 19:56] marinkobabic opened #8134 "tcp service - preserve client ip"
Exposing a tcp service https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/ works like expected.

I'm using layer2 loadbalancer

https://metallb.universe.tf/concepts/layer2/

and I'm able to connect to the smtp port 25 exposed through nginx-ingress service following the tutorial above. I have installed an echo service just to see if the client ip header is set as expect

[2022-01-12 23:32] longwuyuan commented on #8134
Not certain yet but have you already tried setting "externalTrafficPolicy: Local" instead of Cluster, in the service resource of --type LoadBalancer, creaed by the installation of  the ingress-nginx controller

/remove-kind bug
.kind support

[2022-01-13 00:10] longwuyuan commented on #8134
/kind support

[2022-01-13 00:27] AndrewFarley commented on #2924
Ah @kd7lxl that is _way_ better, to make it configurable.  Closing my PR in favor of that, thanks!

[2022-01-13 01:05] mac-chaffee opened #8137 "Dynamic reconfiguration failed, blocked by ModSecurity CRS"
**NGINX Ingress controller version** 4.0.1
**Kubernetes version** 1.21

**Environment**:
Baremetal, helm, with the following relevant values:
[code]
Also using cert-manager for automatic TLS certificate creation.

**What happened**:

Ingress-nginx can perform "dynamic reloads" by sending a `POST /configuration/backends` request to `127.0.0.1:10246`, which is handled by Lua code.

For as far back a

[2022-01-13 01:33] mac-chaffee commented on #8137
I ended up killing the ingress-nginx pods since once they get to ~99% RAM usage, new attempts to reload the configuration cause OOMKills. Interestingly, the newly-creating ingress-nginx pods also attempted to perform dynamic reloads. I would expect the initial boot to perform a full reload, then skip the dynamic reload:

[code]

[2022-01-13 02:17] bestgopher opened #8138 "the key `annotations` has no values in some yamls"
https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/cloud/deploy.yaml#L265

I think it is better to remove this key when the value is not present. Some editors will report error in this condition.

[2022-01-13 02:17] bestgopher commented on #8138
/help

[2022-01-13 02:20] longwuyuan commented on #8134
And if you expose the mailu-frontend directly as service --type LoadBalancer instead of using ingress resource, do you see the client ip in the pod ?

[2022-01-13 02:57] longwuyuan commented on #8138
- Please describe what problem is created by that line for all users.
- Also mention how removing that line is an improvement. Then link that issue here.

The manifests the project publishes are generated and not hand-written so there will be more to this on deep-dive. Since it is a harmless line, it is required to know how it is causing trouble at present and why removing it is an improvement. Wh

[2022-01-13 06:00] theunrealgeek commented on #8134
I would suggest exposing the backend service directly with its own Service object via a LoadBalancer or other means as possible in your setup and not via the Ingress like Long suggested above.

The reason is that exposing a TCP service in ingress-nginx, the TCP connection is actually terminated at the Nginx pod and another TCP connection is initiated to the backend, hence your pod seeing the ingre

[2022-01-13 06:23] longwuyuan commented on #8134
@marinkobabic, lets close this issue if there are no more action items on this. Thanks

[2022-01-13 06:51] forestuser opened #8139 "Ingress backend active connection"
Hi!
I use the export of metrics, I get the number of active connections using the nginx_connections_active metric
      containers:
        - name: nginx-exporter
          image: nginx/nginx-prometheus-exporter:0.9.0
          ports:
          - name: nginx-ex-port
            containerPort: 9113
          args:
            - -nginx.scrape-uri=http://localhost/nginx_status

But the situation turn

[2022-01-13 06:52] plentifullee commented on #6335
It's 2022 and we still can't pull a simple nginx-ingress-controller image in China. Sad.

[2022-01-13 06:58] longwuyuan commented on #6335
are you denied access or is it slow ?  Show the command and output of `time docker pull k8s.gcr.io/ingress-nginx/controller:v1.1.1@sha256:0bc88eb15f9e7f84e8e56c14fa5735aaa488b840983f87bd79b1054190e660de`

[2022-01-13 07:00] tao12345666333 commented on #6335
The image repository we are using now is on Google Cloud because of the GFW, so you need a proxy.

[2022-01-13 07:01] longwuyuan commented on #8139
Do you see any related metrics in promeheus if you try https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/

[2022-01-13 07:07] forestuser commented on #8139
Yes, I tried. The necessary metric is not there.

[2022-01-13 07:22] longwuyuan commented on #8139
I can see a struct for connections at line 47 in /internal/ingress/metric/collectors/nginx_status.go ... I don't even know if it is related. I also don't know if you tried the URL I mentioned and only looked at Grafana or if you searched in the prometheus UI also.

But it looks like some research is needed. Are you talking about multiple backends for one ingress-object rule ?  Please show your ing

[2022-01-13 07:29] forestuser commented on #8139
kubectl get ingress -A
NAMESPACE     NAME                       CLASS   HOSTS                                     ADDRESS          PORTS     AGE
bat           nginx-ingress1             nginx   xxxxxxxx.com                              10.135.128.224   80, 443   78d
car           nginx-ingress              nginx   xxxxxxxx2.com                             10.135.128.224   80, 443   79d
mon

[2022-01-13 07:30] forestuser commented on #8139
kubectl get ingress -A
NAMESPACE     NAME                       CLASS   HOSTS                                     ADDRESS          PORTS     AGE
bat                   nginx-ingress1             nginx   xxxxxxxx.com                              10.135.128.224   80, 443   78d
car                   nginx-ingress              nginx   xxxxxxxx2.com                             10.135.128.224   80, 443

[2022-01-13 07:34] forestuser commented on #8139
I'm saying one controller and multiple rules. Each rule has its own backend. How to count the number of real connections on each rule or backend?

[2022-01-13 09:01] blu3r4y commented on #7118
As a temporary workaround, I added the following steps after I deploy the controller:
[code]

If you are using PowerShell on Windows, don't forget to escape the quotes differently:
[code]

[2022-01-13 11:05] kundan2707 commented on #8085
/assign

[2022-01-13 11:08] kundan2707 commented on #7986
@agile6v  i will check possibility of such check   and will let you know.

[2022-01-13 15:48] theunrealgeek commented on #8134
The one other possibility which mailu doesn’t seem to support is using proxy protocol. ingress-nginx can relay the client IP address to the TCP backend using additional fields in the TCP packet by enabling [this](https://nginx.org/en/docs/stream/ngx_stream_proxy_module.html#proxy_protocol) in the stream block.

However this is a non-standard extension and the backend service will need to know how

[2022-01-13 16:10] longwuyuan commented on #8134
Awesome info. Wish we could document this.

Thanks,
; Long Wu Yuan

On 1/13/22 9:18 PM, Aditya Kamath wrote:

[2022-01-13 16:13] reachanshul opened #8140 "URGENT: Need help exposing the notary-server-svc using NGINX ingress"
Hi,

We have deployed notary server on the EKS cluster.

Here is our service file:
{{ $_ := set . "appName" "notary-server-svc" }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "metadata.name" . }}
  namespace: {{ .Values.namespace }}
  labels:
{{ include "metadata.labels" . | indent 4 }}
spec:
  selector:
{{- include "metadata.selectorLabels" . | indent 4 }}
  type: {{ .Values.se

[2022-01-13 16:22] longwuyuan commented on #8140
The new issue template is ignored here so no relevant info exists in the issue. This will delay resolution.

You can try something like below based on guesses as to what is going on ;

(1) Try removing these lines (annotations) ;
[code]

(2) Change this liine ;
[code]
to
[code]

(3) Make sure service --type of your notary-server is ClusterIP

[2022-01-13 17:33] reachanshul commented on #8140
Here is our service

[code]

[2022-01-13 17:44] reachanshul commented on #8140
@longwuyuan  Thanks for the quick response

we made the suggested changes but the traffic is still not reaching the service.
we have tested by port-forwarding and the service and the notary application are functioning as expected.

Here are the ingress controller logs when we made a DCT command (docker trust signer add):

[code]

[2022-01-13 19:02] marinkobabic commented on #8134
I think both of this options should be documented.

Exposing it directly has the drawback when using ssl certificates on the level of ingress. When using the service ssl has to be provided by the application. Another drawback is an additional IP is required for an additional loadbalancer.

In generally I think proxy protocol would be a more convenient approach. Will discuss this with mailu.

Yes t

[2022-01-13 19:02] #8134 closed

[2022-01-13 20:04] sozercan opened #8141 "Defaultbackend image in Helm chart is deprecated"
Defaultbackend value in Helm chart uses 1.5 and it is enabled by default
https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L733-L738

However, this image got moved to ingress-gce repo a while back
https://github.com/kubernetes/ingress-gce/pull/503
https://github.com/kubernetes/ingress-nginx/pull/3156

Looks like Helm values never got updated to point to new ima

[2022-01-13 20:10] #7498 closed

[2022-01-14 03:00] longwuyuan commented on #8141
Please explain what problem needs to be solved, in complete detail.

I was able to pull the image just now ;

[code]

I assume that if someone wants to use the image in question, they can. But most users would end up using their own images. So the problem to solve is not clear here.

/remove-kind bug

[2022-01-14 03:30] hzxuzhonghu opened #8142 "Question: Will ingresses with same host merged?"
Will the below two rules merged?

[code]

[code]

[2022-01-14 05:25] longwuyuan commented on #8142
/kind support
Have you tried it and looked at the results ?

[2022-01-14 06:09] hzxuzhonghu commented on #8142
No yet

[2022-01-14 06:13] longwuyuan commented on #8142
Try it. Maybe you will see an error like ;

error: failed to create ingress: admission webhook
"validate.nginx.ingress.kubernetes.io" denied the request: host
"foo.bar.com" and path "/bar" is already defined in ingress ....

Thanks,
; Long Wu Yuan

On 1/14/22 11:39 AM, Zhonghu Xu wrote:

[2022-01-14 06:35] reachanshul commented on #8140
Could you please guide me to the issue template? I am unable to find it.....

[2022-01-14 06:38] longwuyuan commented on #8140
it is visible when you create a new issue and code  is at https://github.com/kubernetes/ingress-nginx/blob/main/.github/ISSUE_TEMPLATE/bug_report.md

[2022-01-14 08:08] longwuyuan commented on #8142
/remove-kind bug

[2022-01-14 08:10] longwuyuan commented on #8142
Please come discuss this in the ingress-nginx-users channel on kubernetes.slack.com. If you discover a bug or problem, you can post that data here and reopen the issue

/close

[2022-01-14 08:10] #8142 closed

[2022-01-14 10:16] besha100 commented on #8137
I experienced this issue a long time ago (more than 30 days), also fixed it by whitelisting 127.0.0.1:10246.

[2022-01-14 11:01] longwuyuan commented on #8137
Can the issue be closed then ?

Thanks,
; Long Wu Yuan

On 1/14/22 3:46 PM, Moh Basher wrote:

[2022-01-14 11:30] deryoman commented on #6135
We have just experienced this problem as well. (AKS v1.21.2 with ingress-nginx 1.0.4)
Has anyone found a solution yet?

[2022-01-14 13:49] nalbury opened #8144 "Add docs on Election ID to Multiple Ingress Controller guide"
Hoping  usage of `--election-id` flag could be added to the [docs on running multiple ingress controllers](https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/multiple-ingress.md). Specifically a note that this flag must be set with a unique argument per controller.

Since V1 was released, the controller no longer appends the ingress class string to the confimap name used for lea

[2022-01-14 14:05] nalbury commented on #8144
Yup exactly, two installs via the helm chart with different controller classes and dedicated IngressClasses to match, both in the same namespace. One of them was functioning as expected (one of its pods simply happened to beat the other deployment in updating the configmap, kind of a global leader election 🙂), the other was handling ingresses but never updating their status field.

[2022-01-14 14:26] longwuyuan commented on #8144
I think this is super useful information for the users who are forced to
use 2 instances of the ingress-nginx controller, in one namespace.

But publishing this in the docs has impact beyond a trivial discussion
on email or chat on slack.

Since the number of users who are forced to install 2 instances in one
namespace, is relatively small, and since you already have a solution in
your own use cas

[2022-01-14 14:36] Rupini93 commented on #8140
NGINX Ingress controller version (exec into the pod and run nginx-ingress-controller --version.):

---

Kubernetes version (use kubectl version):

$ kubectl version
\Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.2", GitCommit:"092fbfbf53427de67cac1e9fa54aaa09a28371d7", GitTreeState:"clean", BuildDate:"2021-06-16T12:59:11Z", GoVersion:"go1.16.5", Compiler:"gc", Platform:"dar

[2022-01-14 14:39] nalbury commented on #8144
Definitely will admit I missed the notes about using a dedicated namespace per controller in the migration docs and agree that it would be nice to call out the single namespace usecase in the FAQ  as I'm sure I'm not alone there.

Can also understand that namespace isolation is generally a good idea, but I just reread (and did a quick grep on) the docs [running multiple ingress controllers](https:

[2022-01-14 14:48] mac-chaffee commented on #8137
I would say that enabling modsecurity in "enforcing" mode seems to be an officially supported configuration (albeit not the default config): https://kubernetes.github.io/ingress-nginx/user-guide/third-party-addons/modsecurity/

If this configuration is supported, it has a serious bug that can cause production outages that won't always appear during testing (since dynamic reloads appear to be rare)

[2022-01-14 14:49] longwuyuan commented on #8144
Yeah, like I hinted, tis goes much longer and deeper.

We are barely 6 months into a really big overhauling change to the code
of the controller. And there is lack of developer time. So in short, bad
timing to go into features and such corner-case use-cases.

Thanks,
; Long Wu Yuan

On 1/14/22 8:09 PM, Nick Albury wrote:

[2022-01-14 15:01] longwuyuan commented on #8137
There is work in progress, related to this.

We could mark this as import-longterm.

Any changes/PRs you have in mind, are good to discuss anytime. But
implementation is better timed for future, after tha related
work-in-progress is completed. There is thoughts about isolating plugins
and other components from the core of the controller, roughly described.
The idea is to use sidecars for component

[2022-01-14 15:10] besha100 commented on #8137
@mac-chaffee could you share here the Modsecurity rule that you used to whitelist this behavior

[2022-01-14 15:48] nalbury commented on #8144
Completely understand, thanks for the info and for working hard on such an awesome/essential tool!

[2022-01-14 15:52] mac-chaffee commented on #8137
I wrote this rule in a panic during the outage, so it could be improved:

[code]

Since ingress-nginx uses the host header to route requests, applications are still mostly protected, but nginx itself or the default backend would be left without a firewall.

Unfortunately, I'm unsure how to trigger "dynamic reloads" in my test environment so I haven't been able to test out a more targeted rule. Any

[2022-01-14 16:28] Harmelodic commented on #7959
We had a similar issue.

We found that when we implemented the following annotations:
[code]

CORS wouldn't actually work, but it generated the following NGINX config:

[code]

we noticed that the `$cors` variable uses single-quotes, but the `if` directive uses double-quotes.

So we added the following configuration-snippet annotation to test if single-quote comparison worked:

[code]

and it does

[2022-01-14 17:06] besha100 commented on #8137
@mac-chaffee try to add configmap as extraVolumes and mount it. I think it may trigger dynamic reload

[2022-01-14 17:30] pritibshah opened #8145 "setup client certificate authentication without having to specify CA certificate file name (nginx.ingress.kubernetes.io/auth-tls-secret)"
**NGINX Ingress controller version** : 1.1.0
**Kubernetes version** (use `kubectl version`): 1.21.5

**Environment**:
Docker-desktop on MAC

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):Darwin Kernel Version 20.5.0: Sat May  8 05:10:33 PDT 2021; root:xnu-7195.121.3~9/RELEASE_X86_64 x86_64
- **Install tools**:
  - Using docker-

[2022-01-14 20:04] yelhouti opened #8146 "failed calling webhook "validate.nginx.ingress.kubernetes.io" no route to host"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

-------------------

[2022-01-15 02:13] longwuyuan commented on #7959
@theunrealgeek cc

[2022-01-15 02:14] larivierec commented on #7959
Hey there long, the reply seems to have been deleted...

[2022-01-15 02:17] longwuyuan commented on #7959
i just wanted to ping @theunrealgeek here. There was no other words from me. Sorry if that was confusing.

[2022-01-15 02:30] g-traveller opened #8147 "failed to deploy tls terminated NLB ingress controller"
Dear all,

I tried to deploy tls terminated NLB ingress controller following doc (https://kubernetes.github.io/ingress-nginx/deploy/#tls-termination-in-aws-load-balancer-nlb), however, the controller service is always be pending status
![image](https://user-images.githubusercontent.com/27939320/149605562-80f12236-bb22-49e8-9dda-5a5389ffcb3a.png)

I tried to describe the service with kubectl:
![ima

[2022-01-15 04:45] longwuyuan commented on #8147
/kind support
/remove-kind bug

Please add all the information asked in the template when you open a new issue. There is no information to analyse your problem here.

The pending state is usually caused when your cluster is not integrated with the AWS. I am guessing you have a cluster created by hand as against a EKS cluster or a Kops-Created cluster.

Creating clusters that are integrated with AW

[2022-01-15 07:14] longwuyuan commented on #8146
/remove-kind bug
/kind support
Can you show the output of `netstat` command with appropriate flags and grep for 8443 so that it is clear which 8443 you are talking about ?

[2022-01-15 07:15] longwuyuan commented on #8145
/remove-kind bug
/kind support

@theunrealgeek, any comments on this. Thnx

[2022-01-15 08:11] #8147 closed

[2022-01-15 10:08] g-traveller opened #8148 "ingress-nginx-admission-create is hanging for creating controller"
Dear All,

When I deploy nginx ingress controller, the batch job "job.batch/ingress-nginx-admission-create" is hanging and no any message out.
![image](https://user-images.githubusercontent.com/27939320/149617916-634967c6-e755-4ab6-a7cd-67f1c74c10f3.png)

I have no any hint what was going on, really thanks for your help.
Thanks

[2022-01-15 14:05] longwuyuan commented on #8148
Hi,
Please come and discuss this in the ingress-nginx-users channel at kubernetes.slack.com. If required, you can register at slack.k8s.io. It will be hard to track this kind of support issues here as there is lack of resources, so I hope you can help out.

Its generally a good idea to provide the information that is asked in the new issue template. This is the second issue you have created that i

[2022-01-15 14:05] #8148 closed

[2022-01-15 14:39] davinkevin commented on #7686
I got the same error 😓 with Project Contour `ingress`

[2022-01-15 17:25] jatinTyagi98 commented on #8130
I want to work on this
/assign

[2022-01-15 18:53] mac-chaffee commented on #8137
@besha100 If you add a new configmap to the pod, the whole pod will restart. Do you mean make an edit to a configmap mounted in extraVolumes? I tried that, but nginx doesn't seem to reload its config at all for changes to configmaps other than the main fields. I added an extra field to the `ingress-nginx-controller` configmap and mounted that extra field as extraVolumes, but when you edit that, I

[2022-01-16 02:04] longwuyuan commented on #8130
The best-practice is to first talk to the current assignee so you can
ask if you can re-assign to yourelf. That was any unwritten history also
gets transferred.

      ***@***.*** <https://github.com/jatinTyagi98> *If interested,
      you can also follow this best-practice

Thanks,
; Long Wu Yuan

On 1/15/22 10:55 PM, jatinTyagi98 wrote:

[2022-01-16 03:39] theunrealgeek commented on #8145
The complaint is valid due to this block in the template which is conditioned upon the presence of the CA file:
https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/template/nginx.tmpl#L929-L943

I can understand why it was implemented that way, but I don't think your ask will happen anytime soon, unless you would like to contribute it yourself.

As a workaround, every host OS ha

[2022-01-16 06:44] g-traveller opened #8149 "Create ingress controller hang in job ingress-nginx-admission-create"
When I created ingress controller for AWS NLB, it is hang for job ingress-nginx-admission-create long time, below is the creating status
[code]
below is job description with kubectl describe:
[code]

I cannot find any useful hint what was happend in my case.

Thanks

[2022-01-16 12:22] phealy commented on #7546
I do see where they're coming from - with the change to ingressClass, the incoming object no longer contains enough information to figure out if it's your request or not, because instead of "object contains an annotation that matches mine, so I know it's mine" vs. "object contains an ingress class and the ingress classes contain a provider value that may be me" - now you can't know if this ingress

[2022-01-16 12:35] #8149 closed

[2022-01-16 15:55] besha100 commented on #8137
@mac-chaffee I meant making a configmap as extraVolumes, and then mounted it as a file in the pod. But include or overwrite it with file that has reference to in the nginx config. for example include the mounted file in the modsecurity-snippet as a file that has some security rules

[2022-01-16 19:56] mac-chaffee commented on #8137
That's what I tried. I actually use that technique to get around the [4096 character limit](https://github.com/nginx/nginx/blob/master/src/core/ngx_conf_file.c#L11) for `modsecurity-snippet`:

[code]
When I edit `long-modsecurity-snippet`, nginx does not reload its configuration at all. ingress-nginx-controller [does notice the change](https://github.com/kubernetes/ingress-nginx/blob/c0814c6f784e6

[2022-01-16 21:24] rikatz commented on #7268
/lifecycle frozen

[2022-01-16 22:28] siegenthalerroger commented on #8096
@strongjz I tested it again and got the following error still with the 4.0.13 helm chart.

[code]

However as the 4.0.15 helm chart works fine, I guess this can be closed. It may show a test case that should be covered, I'm not knowledagble enough in how this exactly works to be able to explain who/what/where. Feel free to ask questions though.

[2022-01-16 22:28] #8096 closed

[2022-01-17 11:18] bobertrublik opened #8156 "Error when setting custom port"
I'm using k3s with the ingress-nginx Helm chart and I need to run nginx on a different port than 443, f.e. 8443. A reverse proxy then routes the traffic to ingress-nginx.

[code]

I set controller.containerPort.http to 8080 and controller.containerPort.https to 8443, installed the Helm chart (I tried various combinations of k3s and ingress-nginx chart versions including the latest ones) and always

[2022-01-17 12:42] danieldavies99 commented on #5401
I encountered this issue after updating from kubernetes v1.21 to kubernetes v1.22

For me, the issue was tied to cert gen, specifically I was using docker.io/jettech/kube-webhook-certgen:v1.5.1 which relies on the old v1beta1api

The fix for me was to replace all instances of docker.io/jettech/kube-webhook-certgen:v1.5.1 in my helm chart with k8s.gcr.io/ingress-nginx/kube-webhook-certgen:v1.1.1@sh

[2022-01-17 13:04] longwuyuan commented on #8156
/kind support

[2022-01-17 13:04] longwuyuan commented on #8156
/remove-kind bug

[2022-01-17 13:27] Harmelodic commented on #7959
We have a similar issue.
We set up our Ingress with the following CORS annotations:
[code]
and we also add a few others: `force-ssl-redirect`, `use-regex`, `rewrite-target`, `upstream-vhost` and a small `configuration-snippet` - though these aren't related CORS.

If I exec into a pod and cat out the `nginx.conf` file, then I can see it's been updated with the added config:
[code]

Looks great, but

[2022-01-17 13:48] haripriya1909 commented on #7543
I want to work on this
/assign

[2022-01-17 13:50] longwuyuan commented on #7543
/close

[2022-01-17 13:50] #7543 closed

[2022-01-17 14:03] kvnreddy6680 opened #8157 "does Nginx controller support http2 protocol , Nginx is configured with AWS classic load balancer"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`): 1.19

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kops/minikube/kind

[2022-01-17 14:05] longwuyuan commented on #8157
/remove-kind bug
/kind support

[2022-01-17 14:51] VannTen opened #8158 "Polymorphic annotations depending on `backend-protocol`"
Currently, some annotations do not work when using a different
`backend-protocol` than `HTTP` or `HTTPS`, despite equivalent nginx settings
achieving the same purpose for the protocol. (I was personally bitten by this
while using `AJP`.

# What happens currently

Some annotations translate to nginx settings which are backend-specific, and are
ignored when the `backend-protocol` is not this specifi

[2022-01-17 18:14] christianhuening commented on #6178
i think we might hit the same. AWS ELB, a kubernetes Cluster (not EKS but Gardener) with nginx ingress controller. 99,9 % of the time everything works, but occasionally nginx returns error 500 after a long wait. what then helps for sure is to restart nginx-ingress.

we also run emissary-ingress for api endpoints exposed via ELB and that never had any issues. I am also at a loss of explanation.

[2022-01-17 21:51] #7507 closed

[2022-01-17 21:53] elsbrock commented on #7612
/remove-lifecycle stale

[2022-01-17 23:28] #7989 closed

[2022-01-18 03:14] theunrealgeek commented on #8095
@rittneje The feature to be able to configure the delay period was merged and should be available in a future release. Thanks

[2022-01-18 04:12] sapkra commented on #8062
I have the same problem but only for new or changed ingress. It might happen since Google Cloud rolled out an Kubernetes update on my cluster. I'm currently on 1.21.5-gke.1302. Updating ingress-nginx didn't help. Additionally I don't have any errors in the controller logs.

[2022-01-18 05:17] sapkra commented on #8062
After redeploying I got these logs:

[code]

Namespace: staging
Secret: web-tls

I think reasons might be (at least in my case):
- When deploying it cannot find the secret to put it into the local store, because it's created afterwards by ingress and the cert-manager operator. But after that ingress-nginx already decided to use the default certificate it will not recheck if the secret with the cer

[2022-01-18 06:11] longwuyuan commented on #8062
Post the info requested earlier. Or look at that info yourself. It should
help.

Thanks,
; Long

On Tue, 18 Jan, 2022, 10:47 AM Paul Tiedtke, ***@***.***>
wrote:

[2022-01-18 07:08] afirth commented on #7810
/reopen

Not sure why #8099 closed. The building blocks are there now, I will open the pr to make the versioned manifests asap.

[2022-01-18 07:32] kz33 commented on #7259
hi，@jabdoa2，Is this problem solved? we also have the same issue.

[2022-01-18 08:31] wangshu3000 opened #8160 "Why the request always route to the default / path?"
I'm configuring Ingress with ingress-nginx-controller.
I have a domain hostname, and configured two path, one is the root, the other is /health.
When i test my configuration, when i access root /, it can route to the correct service, but when i access /health, it also route to the / service, but not the health service.
Base on the document, if a request match multiple path, the longest one will ta

[2022-01-18 08:59] heisaman commented on #4972
/reopen

[2022-01-18 10:57] #7516 closed

[2022-01-18 11:42] longwuyuan commented on #8160
path = / and pathType = Prefix will match a request that is http://foo.bar.com/health because the slash "/" char is enough as a Prefix

[2022-01-18 11:43] longwuyuan commented on #8160
But discuss this kind of problem in the ingress-nginx-users channel at kubernetes.slack.com. Register at slack.k8s.io if required.

[2022-01-18 13:06] iamNoah1 commented on #2924
Thanks @kd7lxl and @AndrewFarley
/close

[2022-01-18 13:17] towolf commented on #2924
@iamNoah1 this issue is not really solved by virtue of implementing custom bucket sizes, is it? There's still the question of documenting the metrics in terms of what they all mean.

[2022-01-18 13:18] iamNoah1 commented on #5608
@slawekgh can we consider this one being closed as your PR has been merged ?!

[2022-01-18 13:25] iamNoah1 commented on #2924
@towolf yes you are right, I was too fast closing this one. Do you think it would make sense you open a new issue so that we don't have all the clutter in the comments that distract from the actual issue?

[2022-01-18 13:25] slawekgh commented on #5608
yes, of course, PR was already merged, we are after several tests, everything works fine

[2022-01-18 13:33] iamNoah1 commented on #6237
/triage accepted
/priority important-longterm

[2022-01-18 13:33] iamNoah1 commented on #5608
Thanks @slawekgh
/close

[2022-01-18 13:33] #5608 closed

[2022-01-18 14:19] gungnir888 commented on #8149
Similar issue here with GKE, The job *ingress-nginx-admission-create* is deployed with `helm upgrade` but gets stuck showing ErrImagePull error. After a while Helm reports that the update was unsuccessful. It seems that it fails pulling `docker.io/jettech/kube-webhook-certgen:v1.5.0`. We tried to docker pull it, and it worked. Then we tried to pull the image by digest (which is the command failing

[2022-01-18 14:24] mcmcghee commented on #7755
Running into the same issue. Had to fork the helm chart into a private repo to workaround this.

[2022-01-18 14:39] dohnto commented on #5525
@yangjindong I can see, that it queries a `kube-system` namespace

[code]

but I have configured an ingress-controller with
[code]

so my default backend doesn't run in `kube-system` but rather `ingress-nginx`. Does it mean, that I am supposed it is not optional and I am supposed to run the default backend in kube-system?

[2022-01-18 15:28] bmv126 opened #8161 "electionId configmap not getting deleted after uninstall"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
Using 4.0.13 helm chart
https://github.com/kubernetes/ingress-nginx/releases/download/helm-chart-4.0.13/ingress-nginx-4.0.13.tgz

**Kubernetes version** (use `kubectl version`):
k8s 1.22

**What happened**:
The electionId configmap is not getting deleted after the chart is uninstalled.

**What you

[2022-01-18 15:36] mimmus commented on #8144
After 2 (two) days of debugging, we found this issue and solved.

[2022-01-18 15:44] longwuyuan commented on #8161
There is no data here that hints at a bug in the controller.
Deleting objects in the ingress-nginx namespace is being done using helm.
Likely you have to wait for a while. Describing that cm would give some info.

This is better discussed in the ingress-nginx-users channel at kubernetes.slack.com. You can register if required at slack.k8s.io .

/remove-kind bug
/kind support

[2022-01-18 16:01] rrichardson commented on #7755
@mcmcghee - Do you think your fork's changes would be in a state to submit as a PR?

[2022-01-18 16:11] bmv126 commented on #8161
@longwuyuan
This is getting created in code and not in helm charts yaml files

Code reference:
https://github.com/kubernetes/ingress-nginx/blob/fc38b9f2aa2d68ee00c417cf97e727b77a00c175/internal/ingress/controller/status.go#L97

I will post this in slack channel.

[2022-01-18 16:26] towolf commented on #2924
Actually I think this issue contained some worthwhile discussion points, but I guess not much of it is actually
"actionable" as an issue, so dunno.

[2022-01-18 16:49] iamNoah1 commented on #2924
/kind documentation
/help

[2022-01-18 17:09] strongjz commented on #8160
/assign @longwuyuan

/kind support

[2022-01-18 17:15] strongjz commented on #8141
/assign @longwuyuan

[2022-01-18 17:15] strongjz commented on #8141
I would think we should use the sha either way, instead of the tag IMO.

[2022-01-18 17:17] strongjz commented on #8157
Discussing with @theunrealgeek during community meeting, the classical LB does not support http2. Please test with ALB/NLB. If there are any further issues please feel to reopen

/close

[2022-01-18 17:17] #8157 closed

[2022-01-18 17:21] strongjz commented on #8156
/help-wanted
/good-first-issue

[2022-01-18 17:23] sozercan commented on #8141
@longwuyuan

a few issues here:
- in Helm chart, this settings doesn't need to be enabled by default (https://github.com/kubernetes/ingress-nginx/pull/3126 removed the need for this unless there is a custom backend)
- Image is moved to ingress-gce repo. However, default image in the chart is an old one that was produced by ingress-nginx repo that won't get any new changes like multi-arch

[2022-01-18 17:24] strongjz commented on #8145
/assign @theunrealgeek

[2022-01-18 17:25] strongjz commented on #8145
/triage needs-information

[2022-01-18 17:29] strongjz commented on #8144
/triage accepted
/priority backlog

[2022-01-18 17:29] strongjz commented on #8144
This is a good first issue to help clarify the point.

/good-first-issue
/help-wanted

[2022-01-18 17:37] strongjz commented on #6287
@rikatz we discussed in the last community but I cant remember there was a specific needs for the wait-shutdown, can you provide context?

[2022-01-18 17:38] strongjz commented on #8095
/close

[2022-01-18 17:38] #8095 closed

[2022-01-18 19:31] pritibshah commented on #8145
Thanks for your reply @theunrealgeek!

When any CA file is specified in nginx configuration, clientauth certificate prompt in browser lists only certificates signed by roots specified in this CA file. I have mainly tried this with Chrome.
As per our requirement we need browser to list even self signed certificates while performing client certificate based authentication. That is why having a CA fi

[2022-01-18 19:42] mimmus commented on #8161
I don't know if it is related but I noticed that also AWS Security Group is not getting cleaned and rules accumulates at every uninstall/install

[2022-01-19 03:46] Spritekin commented on #7850
@ttsakpc Thank you so much!!! this is working now.
This is a huge bug... should be fixed or at least added to the docs as @winterhalder suggested.

[2022-01-19 07:40] vinay01tech commented on #8063
@manikanth04 Any update on this issue ?

[2022-01-19 08:52] carl-jin-awx commented on #8085
Any update? @kundan2707

[2022-01-19 08:54] kundan2707 commented on #8085
@carl-jin-awx  trying to reproduce it.will update here soon

[2022-01-19 08:56] bobertrublik commented on #8156
I made a mistake by changing the container ports instead of controller.service.ports which actually applies the changes I wanted. It works now, however I used Bitnami's nginx controller. I'll try it with this chart soon.

[2022-01-19 09:08] iamNoah1 commented on #3898
completed with #7171

[2022-01-19 09:08] iamNoah1 commented on #3898
/close

[2022-01-19 09:08] #3898 closed

[2022-01-19 09:15] longwuyuan commented on #8063
@vinay01tech what is the update you are looking for.

I made a comment on the hostname to @Captain-P-Goldfish and its likely I missed something. But it does not look like there is a response to my comment. The important aspect here is that if you configure a global cert then you get the that cert. And even with a global cert configured, you can override the cert being presented in the tls config o

[2022-01-19 09:29] longwuyuan commented on #8141
I am lost. Line 744 shows enabled: false

![image](https://user-images.githubusercontent.com/5085914/150102579-dbecf09c-a297-4979-a3af-3bb7203dc0f5.png)

[2022-01-19 10:03] #7497 closed

[2022-01-19 10:10] longwuyuan commented on #7824
@theunrealgeek, need help. Second time this question has come up.

Thanks,
; Long

On Wed, 19 Jan, 2022, 3:35 PM Kubernetes Triage Robot, <
***@***.***> wrote:

[2022-01-19 12:13] Captain-P-Goldfish commented on #8063
@longwuyuan there is a response to your comment. I posted a zip file that contains the complete helm chart so that you are able to verify the behaviour. And as I said this happens only under specific circumstances that I were not able to identify.

[2022-01-19 12:47] longwuyuan commented on #8063
I was hoping to get clarity on the hostname in the request sent by java
app. It's different from the config in ingress.

Thanks,
; Long

On Wed, 19 Jan, 2022, 5:43 PM Pascal Knüppel, ***@***.***>
wrote:

[2022-01-19 13:41] jabdoa2 commented on #7259
Yes this is fixed for us using the new option "disable-full-test: true".

[2022-01-19 13:41] #7259 closed

[2022-01-19 13:43] isatfg commented on #4697
@supermiguel , did you manage to find a working solution ? I have found the same issue.

[2022-01-19 14:34] iamNoah1 commented on #7091
@zhaogaolong why did you close this issue? is it not longer relevant ?! Could you then please consider closing #7093

[2022-01-19 16:22] iamNoah1 commented on #7091
@zhaogaolong I see, the best way is to join the k8s slack, there we will find you someone who can help.

https://slack.k8s.io
channel: #ingress-nginx-dev

[2022-01-19 16:40] sozercan commented on #8141
ah my bad, I must be looking at an old or a modified chart then. Thanks! I will close this issue.

[2022-01-19 16:40] #8141 closed

[2022-01-19 16:52] ParagPatil96 opened #8166 "Nginx Ingress Pods Consuming Too Much Memory"
**NGINX Ingress controller version**
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

-------------------------------------------------------------------------------

**K

[2022-01-19 16:56] strongjz commented on #8161
Thank you for the great steps to test, and yes, it does not delete those configmaps.

/kind bug
/priority backlog
/triage accepted

[2022-01-19 17:16] rittneje commented on #7261
/remove-lifecycle rotten

[2022-01-19 17:20] longwuyuan commented on #8166
/remove-kind bug
/kind support

What other info is available ?
You can get some info if you use the documented prometheus+grafana config.
Does it happen on controller version 0.50.X
What do the logs contain relevant to this

[2022-01-19 23:20] L1ghtman2k opened #8168 "Nginx panics when `cors-allow-origin` contains invalid input"
**NGINX Ingress controller version** : v1.1.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**: EKS

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2

- **How was the ingress-nginx-controller installed**:  https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.0/deploy/static/provider/cloud/deploy.y

[2022-01-20 02:46] longwuyuan opened #8170 "Add documentation to use prometheus+grafana with servicemonitor"
We currently have this doc for monitoring using prometheus+grafana https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/

But there is no documentation for using servicemonitor.

For users who want to use their existing prometheus instances, servicemonitor will help scrape metrics from ingress-nginx-controller namespace .

A popular method to use prometheus is the kube-promeheus-stack

[2022-01-20 03:05] longwuyuan commented on #8168
@L1ghtman2k , thanks for reporting this.
(1) Are you able to reproduce this with the latest release of the controller.
(2) Can you please fill up the issue description with more details like the request you sent to the cluster etc

@theunrealgeek , I thought we blocked bad stuff only. Wonder if you also can reproduce this panic

/triage accepted

[2022-01-20 03:06] longwuyuan commented on #8168
/assign theunrealgeek

[2022-01-20 03:43] indhupriya commented on #8170
Hi @longwuyuan I would like to work on this

[2022-01-20 03:54] L1ghtman2k commented on #8168
Hello, Yes, I am able to reproduce the issue on v1.1.1.

You can test it in a small local kind cluster too:
[code]

Apply nginx helm-chart:
[code]

Wait for the ingress controller to become available, and then:
[code]

[2022-01-20 04:41] longwuyuan commented on #8170
@indhupriya please assign to yourself and kindly ping me on slack. Need to track this closely because constant updates need to go on that linked PR

[2022-01-20 05:32] longwuyuan commented on #8168
ok. I saw the error in the logs and I also see that specificing the correct format created the ingress

![image](https://user-images.githubusercontent.com/5085914/150277158-79b33671-4dd4-40db-a044-24824dbbd152.png)

But the controller is not dead after that error. So it seems we should just log one more line of a friendlier message to user as root cause is just missing format (required protocol li

[2022-01-20 05:49] L1ghtman2k commented on #8168
@longwuyuan correct, however, note that `Anything else we need to know` section in the first message. If someone has that invalid object in the environment, prior to upgrading, and then migrates to v1 nginx from v0, that will crash the controller, since my guess is that panics are not recovered when it is not a validation step

[2022-01-20 05:56] RolandlinAKS commented on #6609
Observe the same issue. There are two backend pods for nginx-ingress-controller service. One pod is working fine and the other has the same error as mentioned above. While connecting to web application with nginx-ingress-controller, sometimes it works well, sometimes it get 502/504 error code.

[2022-01-20 06:07] longwuyuan commented on #8170
/assign @indhupriya

[2022-01-20 06:09] longwuyuan commented on #8130
@jatinTyagi98 do you have any questions

[2022-01-20 06:17] longwuyuan commented on #8168
I'll wait for @theunrealgeek or others to comment as I am not a
developer. But  I saw just now that if the value for that annotation is
invalid, then the ingress object can not even be created. The admission
webhook is catching that already or so it seems.

Thanks,
; Long Wu Yuan

On 1/20/22 11:19 AM, Aibek wrote:

[2022-01-20 06:45] Captain-P-Goldfish commented on #8063
here are the http-headers:

[code]

[2022-01-20 06:58] pparthesh opened #8171 "restricting access to proxied TCP resources based on IPs"
***NGINX Ingress helm chart version:***
3.11.1

***Kubernetes version:***
1.19.16

***What happened:***
when `whitelist-source-range: 10.10.10.10/32` is set in helm chart it is not configuring for TCP services

***What happened:***

[code]

***What you expected to happen:***
[code]
it will provide rate limit on TCP connections, restricting access by IP address etc features for TCP resources.

***R

[2022-01-20 10:50] longwuyuan commented on #8063
Here are 2 data points that need clarification ;

(1) Ingress object config relevant to hostname. The value is "my-keycloak". This implies that your https request must use "my-keycloak" as hostname to match this rule ;
[code]

(2) This is the 3rd time I am indicating that the https request seen in the messages posted don't use the hostname "my-keycloak".  I could be wrong, but you have repeatedly

[2022-01-20 11:45] berezinsn commented on #6245
I faced the similar issue, such covered in this topic
Similar logs regarding the obsolete directives.

During the research I payed attention that /tmp directory is full of *cfg files on affected instances of NGINX
I suppose it happens in case of NGINX config RELOAD error

After checking load metrics, figured out that k8s nginx_controller pods are running out of memory (but not evicted or crashed,

[2022-01-20 12:05] Captain-P-Goldfish commented on #8063
You downloaded the first example. I provided a second example in the post later that uses the hostname `my-keycloak-sample`:

[code]

[2022-01-20 13:02] longwuyuan commented on #8063
I think you can help if you provide all related info in a single post. It's
the current state of controller, ingress, service, pod, logs, request,
response that can throw some light.

Thanks,
; Long

On Thu, 20 Jan, 2022, 5:35 PM Pascal Knüppel, ***@***.***>
wrote:

[2022-01-20 13:03] den-is commented on #5401
I've got very same issue on clean and fresh EKS 1.21 install without any addons, CNI, NetworkPolicies, firewalls, etc.
Same nginx-ingress is working on my test **k3d** setup. I've tested couple more recent older version of ingress-controller - none worked on EKS.
Increasing request timeout doesn not help.
Removing ValidatingWebhookConfiguration helps.

But IMHO that's not normal to just delete som

[2022-01-20 16:37] nycza commented on #8063
FYI, in our case the issue was coming from the client not sending SNI info.

[2022-01-20 16:40] tasharnvb opened #8172 "Allow users to skip/disable the check on the custom annotation prefix if one is defined"
I would like to be able to have the option to prevent the controller from rejecting ingresses that have an annotation that uses the default annotation prefix when a custom one is set. This technically could be done by changing the webhook's `failurePolicy` to `Ignore`, however I'd still like the ingress to be rejected if it fails a different validation check.

The annotation prefix would normally

[2022-01-20 19:21] #7527 closed

[2022-01-20 21:20] ThatAIXGuy opened #8174 "NGINX CM added plugins: log4j_drop - Errors in pod w/ 0.50 - error loading plugin "plugins.log4j_drop.main" / still getting obsolete directives for current directivesd"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

ingress-nginx/ingress-nginx	3.40.0       	0.50.0     	Ingress controller for Kubernetes using NGINX a...

NGINX Ingress controller
  Release:       v0.50.0
  Build:         34a35a24cfef17aa1392b7fb2280f323b253c6b2
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx

[2022-01-21 00:06] ThatAIXGuy commented on #8174
What I'm most confused about is what is causing it to add the configmap:
  plugins: log4j_drop
To only 1 of 3 NGINX Contoller configmaps? Is it detecting an ingress that meets the default rules?
I have the CM set for (fix for 0.49.3)
allow-snippet-annotations: "false"

[2022-01-21 01:45] longwuyuan commented on #8174
Hi,

(1) Please fix the format of your messages with required markdown syntax so that the commands, log messages and other such info is visible as code snippet etc

(2) There is no info on the 3 instances of the controller. Most of the info requested in the issue template is missing. Can you add that info. Are all 3 instances of the controller running the same v0.50.x of the controller ?

(3) Plea

[2022-01-21 01:46] longwuyuan commented on #8170
@indhupriya , do you have any questions

/remove-kind bug

[2022-01-21 02:00] longwuyuan commented on #5401
Can you post information and command and outputs that shows that the securitygroups or host os packet-filtering is not blocking the required ports

[2022-01-21 02:03] longwuyuan commented on #8063
@nycza thnx. Yes, that and any other kind of a mismatch, between the header in the request and the tls configuration in the ingress, is the only logical reason to present the wrong cert.

[2022-01-21 02:22] indhupriya commented on #8170
@longwuyuan

This is what I was thinking

1. Add prometheus repo to helm
`    helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
`
2. Install prometheus using the following helm command:
[code]

3. Upgrade nginx ingress to enable default servicemonitor to capture :
[code]
where ingress-nginx is the release you have already installed and prometheus is the release

[2022-01-21 02:42] longwuyuan commented on #8170
That is helpful. However, my opinion is to get more elaborate. Let me try to explain the problem we need to solve.

Problem : There is only one primitive process documented to get obervability
Solution : We need to document a second process in the same page

So, the desired design of this second way should be ;
- Show that there is at least one instance of the ingress-nginx controller in the clust

[2022-01-21 04:03] ThatAIXGuy commented on #8174
All 3 are upgraded to .50, I'm not sure what you mean most of the request info is missing, it's mostly irrelevant.
If you say that this is no where in the code, then it's possible that something or somebody added it for troubleshooting and it must be an errant configuration and this can be closed. I'll continue testing.

Close for now - I'll reopen / resubmit if required.

Ingress controller log:

[2022-01-21 04:03] #8174 closed

[2022-01-21 04:25] longwuyuan commented on #8174
Because there is the context of the log4j CVE, it will be worthwhile to get
to the bottom of this. So you can keep it open for a few more
conversations. However really need you to edit your posts and change
markdown formatting, so that the info shows up as code snippet, where
applicable. Personally I want to see if a configured plugin has a java
component. Can't see that now easily as all of your

[2022-01-21 06:09] Captain-P-Goldfish commented on #8063
But is the

[2022-01-21 07:16] Captain-P-Goldfish commented on #8063
Could you explain this for dummies?
What is the mechanism that causes this problem?

[2022-01-21 07:21] longwuyuan commented on #8063
Its documented

https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

https://kubernetes.github.io/ingress-nginx/user-guide/tls/#tlshttps

[code]

[2022-01-21 07:30] Captain-P-Goldfish commented on #8063
great, thx.
I finally know what the problem exactly is and how to proceed. Thx for your support.

[2022-01-21 07:30] #8063 closed

[2022-01-21 07:32] longwuyuan commented on #8063
Glad resolved

[2022-01-21 10:31] den-is commented on #5401
I was able to find cause of my issue.
Fresh EKS was built using the latest community supported terraform-eks v18.2
In the v18 maintainers made sg rules much more stricter and allowing only specific k8s ports communications.

Allowing all traffic from masters to workers node made things work as intended. (well for this ingress you at least need to allow port 8443)

[2022-01-21 10:54] longwuyuan commented on #5401
Feel free to reopen this, if a bug or a problem is proven, using debug data.
/close

[2022-01-21 10:55] #5401 closed

[2022-01-21 11:01] matti opened #8175 "ipv6 only clusters fail with defaults"
https://github.com/kubernetes/ingress-nginx/pull/7651#issuecomment-964122934

[2022-01-21 11:04] narqo commented on #7330
@toredash @tao12345666333 could you elaborate, why do you think this is related to an issue on the application's graceful shutdown side?

From Kubernetes [docs o Pod Lifecycle][1]:

I can confirm that by "watching" the Endpoints from the application.

ingress-nginx's [own docs say][2], the controller uses Endpoints objects to build/re-build the upstreams.

Base on these two facts, it's not clear,

[2022-01-21 12:29] #7438 closed

[2022-01-21 22:19] indhupriya commented on #8170
**1. Verify NGINX Ingress controller is installed**

To check if Ingress controller is already deployed, run the following command:

`kubectl get pods -n ingress-nginx
`

The result should look something like:
[code]
If NGINX Ingress controller is not deployed, follow the deployment instructions [here](https://kubernetes.github.io/ingress-nginx/deploy/).

**2. Verify Prometheus is installed**

To

[2022-01-21 22:21] indhupriya commented on #8170
@longwuyuan I added some more info and commands and their outputs. Let me know if anything else is required and also if you have any suggestions on how to handle complications you mentioned in your previous comment

[2022-01-22 03:29] theunrealgeek commented on #8145
@pritibshah If you get a little familiar with Go template language you can most likely change the condition block [here](https://github.com/kubernetes/ingress-nginx/blob/922e27fea7a2409f2a23a741b939ddfe01130324/rootfs/etc/nginx/template/nginx.tmpl#L935) to first check if `$server.CertificateAuth.VerifyClient == “optional_no_ca”` and move around the `ssl_client` directives in a way that makes sense

[2022-01-22 03:56] alisongabiatti commented on #6297
/reopen

[2022-01-22 03:59] alisongabiatti commented on #6297
Is there any progress with this?

[2022-01-22 04:02] longwuyuan commented on #8170
Other than nits like explaining the assumptions and declaring caveats/limitations/scope, I think your plan works. We can fine-over over the commits.

But, as I suggested, it has to be complete in the sense of hand-holding, copy/pasting all the way from scratch to viewing grafana dashboard for metrics coming from servicemonitor. So I suggest, go through the process once yourself, on a new cluster c

[2022-01-22 07:41] #7315 closed

[2022-01-22 18:04] gclawes opened #8177 "Allow SSL certificate expiration warning threshold to be adjusted"
Some PKI implementations like https://github.com/smallstep/certificates issue aggressively short-lived certificates by default (24 hours, for example).  In situations where this is the desired/intended configuration for Ingress TLS certs, this causes a disproportionate amount of warning messages.

[code]

The warning threshold is currently hard-coded here:
https://github.com/kubernetes/ingress-ngi

[2022-01-23 14:07] Timoses commented on #7794
/remove-lifecycle stale

[2022-01-23 14:53] tao12345666333 commented on #7794
Let me understand your scenario.

/assign

[2022-01-23 14:59] #6602 closed

[2022-01-23 15:23] xmath279 commented on #7879
I'm sorry about that. It is my bad, there was a server that sent a lot of requests to the NGINX controller regularly. It wasn't obvious to me as the metrics for Ingress NGINX don't show anything if the query does not match any ingress resource.

[2022-01-23 16:17] longwuyuan commented on #7879
Glad it was root caused. Please close.

Thanks,
; Long

On Sun, 23 Jan, 2022, 8:53 PM xmath279, ***@***.***> wrote:

[2022-01-24 03:16] wangshu3000 commented on #3805
Can we apply different annotations for different paths in same host?
I tried to split them into two Ingress with the same host, but didn't work.

[2022-01-24 04:29] longwuyuan commented on #3805
Show the yaml you used

Thanks,
; Long

On Mon, 24 Jan, 2022, 8:46 AM Shu.Wang, ***@***.***> wrote:

[2022-01-24 05:00] wangshu3000 commented on #3805
I have figured it out, it's not possible to apply different annotations to different paths. We can close this issue.
Thanks.

[2022-01-24 05:19] longwuyuan commented on #8175
[code]

I think you can use the legacy edition of the chart. Those values are not present in the legacy edition as seen above. Can you check and update the results.

/remove-kind bug
/kind support

[2022-01-24 11:38] bwlkr opened #8182 "Ability to annotate SA"
The current chart doesn't allow the ability to annotate the nginx controller service account. This is required when using IRSA on AWS. More information on the IRSA annotation itself can be found [here](https://docs.aws.amazon.com/eks/latest/userguide/specify-service-account-role.html), without this functionality we cannot use IRSA natively with the helm chart.

This functionality was part of the [

[2022-01-24 12:35] bmv126 commented on #8161
@strongjz
Any workaround available, that can be used to solve this ?