[2021-04-03 12:55] wahammed commented on #6965
@dghogare

[2021-04-03 15:16] trnl commented on #6997
I would suggest to build your own image based on the ingress-nginx and add replace /etc/nginx/mime.types.

[code]

[2021-04-03 15:18] trnl commented on #6978
You can workaround it using server-alias annotation
[code]

[2021-04-03 18:00] longwuyuan commented on #6935
Hi @cdchris12 @apetrovYa @sravanpatro
Chart version 3.26.0 has OpenSSL version 1.1.1i . Any comments on CVE on v1.1.1i ? I am checking too

[code]

[2021-04-03 18:52] rikatz commented on #6935
/assign

Will look this week :)

[2021-04-03 20:23] #6427 closed

[2021-04-03 23:35] nhayes1031 commented on #7009
I switched to trying to replicate the documentation examples exactly. Instead of using my custom image I have switched to trying to deploy a Redis image and expose it using UDP.

Here are the commands I executed in the sequence I executed them to set up the environment:

1. `kubectl apply -f nginxtest.yaml`
2. `kubectl patch configmap udp-services -n kube-system --patch '{"data":{"6379":"default/r

[2021-04-04 08:45] longwuyuan commented on #7009
How was this cluster created ?

[2021-04-04 15:46] rittneje commented on #6287
/remove-lifecycle stale

[2021-04-04 17:14] trnl opened #7014 "Service mesh based on the ingress-nginx"
/kind feature

### Background
As you are probably aware, service meshes are on the rise nowadays. They offer convenience to centralize observability(metrics, opentelemetry), resilience(circuit breakers), performance(upstream hashing) and security(ACLs).

Ingress controller has almost the same purpose; the only difference is that its scope is limited to ingress traffic only by design. Still, you ca

[2021-04-04 17:15] trnl commented on #7014
@aledbf cc

[2021-04-04 17:33] michael-bouvy commented on #6611
@kfirfer I'm facing the same issue, could you please share your config snippet and mount path? Thanks!

[2021-04-04 17:38] kfirfer commented on #6611
[code]

[2021-04-04 17:42] michael-bouvy commented on #6611
Wow, so fast, thanks! I guess mount point is `/etc/nginx/modsecurity.conf`?

[2021-04-04 17:43] kfirfer commented on #6611
@michael-bouvy

[code]

[2021-04-04 17:53] nhayes1031 commented on #7009
`minikube addons list`
[code]

`minikube ip`
[code]

`minikube ssh docker images`
[code]

[2021-04-04 23:08] longwuyuan commented on #7009
Is this a Mac/Windows/Linux laptop ?
How did you start minikube ? what driver did you use to start minikube ?

[2021-04-04 23:09] longwuyuan commented on #6935
Root-cause known and wip for fix

[2021-04-04 23:49] nhayes1031 commented on #7009
Windows machine.

I started minikube with this command
`minikube start -p nginx-test --kubernetes-version v1.20.5 --vm-driver docker`

[2021-04-05 01:32] longwuyuan commented on #7009
Then none of the data you posted has too much accurate reference to the problem we are trying to solve because127.0.0.1 is loopback to localhost. Discussing networking with minikube is out of scope of this repo.

Wait and see if someone else responds helpfully.
Or delete this and go ask in #minikube of kubernetes slack.
Or Change to HyperV driver or VirtualBox driver and report all the data againm

[2021-04-05 02:10] anhkhoa45 commented on #6970
@jsaulalonso I've migrated Nginx to helm successfully. Thank you very much.

[2021-04-05 02:10] #6970 closed

[2021-04-05 07:53] amirschw opened #7015 "How to distinguish between backend service and external auth in nginx-ingress logs"
Hi,

I'm trying to find a good way to tell between requests to backend services and sub-requests to the external authentication provider in the nginx-ingress logs.

We are currently using the `$upstream_addr` and `$bytes_sent` variables for this purpose, but this is a bit problematic.
- For external auth, `$upstream_addr` currently points to an IP outside of the cluster which can be easily disting

[2021-04-05 08:55] michael-bouvy commented on #6611
Indeed, mounting `modsecurity.conf` works fine; however, I get both outputs logged: unstructured and JSON. Also, JSON is way too verbose, I'll try to find a way to fix this.

[2021-04-05 11:01] #6436 closed

[2021-04-05 12:59] sudeep1607 opened #7016 "Option to create only Internal Load Balancer"
With the current helm charts we have to definitely create and External Public Load Balancer even if we only need an Internal Load Balancer. Is it possible to update the charts to avoid creation of External Public Load Balancer when it's not required alongside Internal Load Balancer?

https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/controller-service-internal.

[2021-04-05 13:10] jainhitesh9998 opened #7017 "Custom Names for aws load balancers"
Hi,
I've provisioned multiple nginx ingress in aws. is there any way to control the name of load balancer that gets created.

generally load balancer is assigned domain names like the ones below.
a4916f24a3d9645a49a9f1242f1e486a-c55a4085b9385ef2.elb.us-east-1.amazonaws.com

desired output is
proj-name-region-<01-99>.elb.us-east-1.amazonaws.com (when ever i create a load balancer manually this can

[2021-04-05 14:43] #4904 closed

[2021-04-05 15:01] amirschw commented on #7015
Found a way to achieve that. In the location snippet of nginx-ingress controller, I added a variable `$is_auth` and set it equal to false. Then, in the Ingress objects where global auth is enabled, I set the same variable to true for auth requests only. Below is a snippet of the configuration.

Ingress controller values file:
[code]
Ingress object:
[code]

[2021-04-05 15:01] #7015 closed

[2021-04-06 04:26] longwuyuan commented on #7009
@nhayes1031 i think there is some interest in issues not being idle for too long. If you can update here, I think you will help. Regards

[2021-04-06 06:24] timd73 commented on #5968
I'm encountering this issue, and I don't have a valid workaround, because my `ingress-nginx` is deployed with `fluxcd`, so every time I delete the `ValidatingWebhookConfiguration`, it is recreated.

I am not sure if it's related, but I followed @costela's instructions, and this command has no output:

``kubectl -n ingress-nginx get validatingwebhookconfigurations ingress-nginx-admission -ojsonpath

[2021-04-06 08:19] rinini commented on #6973
Anyone? We don't have an upgrade path without a fix

[2021-04-06 12:20] rikatz commented on #7004
/close

[2021-04-06 12:20] #7004 closed

[2021-04-06 12:37] rikatz commented on #7005
Doing images update with #6935
Will close this, although it's not quite a dup, it will update this package as well

/close

[2021-04-06 12:37] #7005 closed

[2021-04-06 13:34] jp250595 opened #7022 "TCP service need to recieve source ip"
Hi,
We have exposed tcp service using config map and passed the argument for the config map in the argument section of the deployment. All seems to be working and we are able to hit the backend tcp service.
Only issues is that when traffic is received at the backend pod, the source ip is of the nginx ingress controller pod instead of client machines which are iniating the connections.

Can we pres

[2021-04-06 13:48] nhayes1031 commented on #7009
Sure thing. I'll close this issue and go ask around on in the #minikube channel on the kubernetes slack.

[2021-04-06 13:48] #7009 closed

[2021-04-06 17:37] nwaistd opened #7025 "my ingress controller metrics api gives few part of metrics"
I deployed my ingress controller like this on AWS EKS
[code]

When I run `curl localhost:10254/metrics` in the ingress-controller-pod, it seems to show some part of all metrics.
for example,

[code]
So, most of dashboard are empty.
<img width="1361" alt="Screen Shot 2021-04-07 at 2 34 44 AM" src="https://user-images.githubusercontent.com/29256996/113754210-f55f4380-9749-11eb-98ac-d59d5c015cdb.png"

[2021-04-06 19:10] #6935 closed

[2021-04-07 02:37] #6554 closed

[2021-04-07 13:26] chrko commented on #5012
/remove-lifecycle stale

[2021-04-07 14:35] longwuyuan commented on #7009
You may want to explain what this image is

[code]
Is it on dockerhub ?

[2021-04-07 14:57] longwuyuan commented on #7009
The other comment I thought helps is ;

[code]

This is from your manifest posted above. I see a tcp port listening and I see your all written communication related to UDP.  You might want to explain that when you talk in the minikube channel as well

[2021-04-07 15:05] longwuyuan commented on #6998
hi @smartaquarius10 , do you want to keep this open. If yes, do you have any updates. Thanks for looking. Regards

[2021-04-07 15:10] longwuyuan commented on #7022
can you show the related state with kubectl commands like ;
- k -n <namespce> get deploy <deploymentname>
- k -n <namespace> get svc <svcname>
- k describe po ...
- k describe po <nginxcontrollerpodname>
- k describe cm <cmname>
- All other related info

[2021-04-07 15:11] longwuyuan commented on #7017
no

[2021-04-07 15:30] longwuyuan commented on #6989
did you check `helm inspect values ingress-nginx/ingress-nginx`
did you check this in docs https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#ssl-ciphers ?

[2021-04-07 15:42] longwuyuan commented on #6981
I don't think you are following any kubernetes documentation for configuring LoadBalancer or Ingress.

But I may be wrong. So ;
- Can you show which kubernetes.io or aws or gke or any other documentation that you followed to create LoadBalancer.
-  Can you show which documentation you followed to install and configure ingress-controller.
- Can you show your current cluster state by putting the com

[2021-04-07 15:50] longwuyuan commented on #6975
Why should you NOT get a 404 ?
- there is no ingress rule that matches https://dev-host.internal/foo/bar/

[2021-04-07 16:00] longwuyuan commented on #6961
https://kubernetes.github.io/ingress-nginx/user-guide/fcgi-services/#exposing-fastcgi-servers   Please deploy this and show all the data with kubectl commands and curl commands and logs and such info

[2021-04-07 16:24] smartaquarius10 commented on #6998
@longwuyuan , thanks for sharing. Actually I’m not at well. Will check the details. We can close the issue for now.

[2021-04-07 16:24] #6998 closed

[2021-04-07 16:37] wknapik commented on #5576
/remove-lifecycle stale

[2021-04-07 19:35] #6859 closed

[2021-04-08 00:53] coryallegory commented on #7022
https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip

try using `externalTrafficPolicy: Local` in your Service and see if that does the trick for you

[2021-04-08 06:23] jp250595 commented on #7022
@longwuyuan @coryallegory  Please find below details:
Ingress service details:
Name:                     ingress-nginx-controller
Namespace:                ingress-nginx
Labels:                   app.kubernetes.io/component=controller
                          app.kubernetes.io/instance=ingress-nginx
                          app.kubernetes.io/managed-by=Helm
                          app.kubernet

[2021-04-08 06:27] jp250595 commented on #7022
---Not working :(

[2021-04-08 07:31] longwuyuan commented on #7022
Even after actually typing the commands that will show information on this, you don't care to help provide enough information to understand the problem. So expect delay in solving the problem or even maybe no solution.

If you want to help, then read the commands suggested and provide some data that can be analyzed. Setting the "externalTrafficPolicy" to "Local" is the normal solution but you are

[2021-04-08 07:35] longwuyuan commented on #7022
@jp250595  Actually I suggest close this issue and chat in kubernetes.slack.com for more activity on this

[2021-04-08 10:52] ngocketit commented on #6140
@imyashvinder How did you manage to do that? I changed `prefixURL` in here https://github.com/prometheus-community/helm-charts/blob/main/charts/prometheus/values.yaml#L69 but still doesn't work

[2021-04-08 13:09] ngocketit commented on #6140
Ok so with this, it seems to work:

[code]

[2021-04-08 14:10] #7022 closed

[2021-04-08 14:24] imyashvinder commented on #6140
I actually moved to host-based routing that time.
Glad to hear that path based is working for you mate :+1:

[2021-04-08 16:44] cmoulliard commented on #6135
### Issue

I also observe the same issue using `Release: 0.33.0`

-->

[code]

### Resources

[code]

[2021-04-08 19:58] toredash commented on #6861
Out of scope to give you full instructions on that, but you can do this:

Create BackendConfig to allow changing CDN and other params:
[code]

Then install helm chart:
[code]

Then create an Ingress:
[code]

The values-https.yml file would look like:
[code]

Please close the issue if you feel you have your answer resolved

[2021-04-08 20:44] dev-samples opened #7032 "ingress.kubernetes.io/rewrite-target or nginx.ingress.kubernetes.io/rewrite-target ?"
In k8s running:

[code]

And:

[code]

I have this ingress:

[code]
**$ kubectl describe ing ingress**
[code]

Which sends traffic to my pod just fine. If I remove:

`ingress.kubernetes.io/rewrite-target: /`

it stops working - I get a 404 - so its doing something.

But what is this annotation:  **ingress.kubernetes.io/rewrite-target**?

I have found it being mentioned here:
https://github.com/kub

[2021-04-08 21:31] cpdeethree commented on #6398
This appears to be implementation specific. In my case running microk8s I was able to set it by running the following command:

```microk8s kubectl edit daemonset.apps/nginx-ingress-microk8s-controller```

[2021-04-09 00:46] JennyLJY opened #7033 "how to configure the server order?"
Could you please help to advise how to configure the server order?
Below is the message I observed when using testssl.sh to valid the url
![image](https://user-images.githubusercontent.com/23157280/114112881-ea561000-990f-11eb-9602-f5ffe723f622.png)

[2021-04-09 04:39] longwuyuan commented on #7032
You are neither providing the information that can be analysed nor you are following best practices.

Lets try to get basics right ;
(1) Are you using the most recently released version of the ingress-nginx-controller. If yes, please show the kubectl describe output for the pods and services etc along with kubectl describe of any ingress object you created including the one that this issue is refe

[2021-04-09 04:45] longwuyuan commented on #7033
Hi, my suggestion is that please clise this issue and ask your question in kubernetes.slack.com as there may be users who have information you need and are actively watching the channel #ingress-nginx in the kubernetes slack.

I suspect you have many paths and hosts defined and the http request you are sending is not being processed but that can be discussed in detail in slack, when someone asks y

[2021-04-09 04:56] rocketspacer opened #7034 "Unable to rotate nodes because podDisruptionBudget.minAvailable is equal to hpa.minReplicas"
**NGINX Ingress controller version**: v0.43.0

**Kubernetes version** (use `kubectl version`): 1.19.6

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2

**What happened**:

I was unable to rotate my nodes because in the Helm chart **podDisruptionBudget.minAvailable** is the same as **hpa.minReplicas**

**What you expected to

[2021-04-09 05:09] longwuyuan commented on #7034
[code]

[2021-04-09 05:29] dev-samples commented on #7032
Thanks for the input/recommendation I will provide more details. Upgrading nginx-controller is not an option right now.

Regarding **(2)** I did search the documentation but only found information on `nginx.ingress.kubernetes.io/rewrite-target `**not** `ingress.kubernetes.io/rewrite-target`. I assume I am missing something obvious?

[2021-04-09 05:43] longwuyuan commented on #7032
Not sure why you expect this repo to do ument that. Can you explain.
One likelihood is that it's for a different software by nginx Inc.

Thanks,
; Long

On Fri, 9 Apr, 2021, 11:00 AM dev-samples, ***@***.***> wrote:

[2021-04-09 05:52] dev-samples commented on #6975
Thanks I was missing the trailing "/" in the rewrite target.

[2021-04-09 05:52] #6975 closed

[2021-04-09 06:16] polefishu opened #7035 "arm64 BASE_IMAGE no found"
I'm trying to build the arm64 images, but I can't find the arm64 BASE_IMAGE, can anyone give me some help?

[2021-04-09 07:13] longwuyuan commented on #6975
Glad resolved

[2021-04-09 07:47] #7032 closed

[2021-04-09 13:10] daninthewoods opened #7037 "Nginx Ingress on Azure Kubernetes does not honor upstream-hash-by"
With Nginx Ingress configured with upstream-hash-by: "$request_uri" external requests are not correctly hashed to the same backend pod

Configuration
1 nginx ingress
    Version: k8s.gcr.io/ingress-nginx/controller:v0.41.2
    Annotation: nginx.ingress.kubernetes.io/upstream-hash-by: "$request_uri"
3 replica backend http-echo test containers, echoing back request headers and podname

Using a simpl

[2021-04-09 16:21] owenthereal commented on #5891
@aledbf Just found this issue when looking for a solution for L4 rate-limiting with ingress-nginx. What would be your recommendation before [gateway-api](https://github.com/kubernetes-sigs/gateway-api) becomes ready? And do you happen to know when gateway-api can be used?

[2021-04-09 19:28] rodgarcialima commented on #6962
@xcq1 I'm facing the same problem, but I have 2 ingress controllers and only one has this issue.

[2021-04-10 05:36] panho66 commented on #6996
@davidazael  That doc document didn't help. I believe I have all configuration correctly. The problem seems AWS NLB health do not send proxy header and Nginx dump error

[error] 38#38: *1232 broken header: "" while reading PROXY protocol, client: 10.97.14.41, server: 0.0.0.0:443
[error] 38#38: *1317 broken header: "" while reading PROXY protocol, client: 10.42.1.0, server: 0.0.0.0:443

is there a

[2021-04-10 13:45] ngocketit commented on #2724
`controller.config.server-snippet` is not working with the latest (0.45.0) Helm chart as reported here https://github.com/kubernetes/ingress-nginx/issues/6829 and you need to include the snippet in every ingress.

[2021-04-10 19:08] yasuki0707 opened #7041 "Installation helm chart failed with "error getting secret""
kubernetes version: v1.20.5

I set up the cluster with kubeadm on VirtualBox where there are 2 instances corresponding to 2 nodes(master and worker1).
When I am trying to install ingress-nginx helm chart the way explained here: https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#install-chart
However installation failed with timeout:
[code]

And the log show a secret-relat

[2021-04-11 06:40] longwuyuan commented on #7037
I think the data you posted leads to guessing but not much precise analysis.

Can you post the following information here ;
- kubectl get all,nodes,ing -A -o wide
- kubectl -n <namespace> describe po <httpechopodname>
- kubectl -n <namespace> describe svc <httpechoservicename>
- kubectl -n <namespace> describe ing <httpechoingressname>
- Your complete curl command and its output
- The logs of the

[2021-04-11 10:54] mali-nuist opened #7042 ""invalid ingress configuration error" occurred when creating ingress with kubectl apply -f !"
Hello, everyone. I met this problem when creating ingress resource by executing 'kubectl apply -f grafana.yaml'.
The contents of the yaml are illustrated below:
[code]

The logs of the nginx-controller are listed below:
[code]

I could not find the nginx-cfg** file in the tmp directory. So how can i generate the nginx-cfg from ingress yaml resource file for checking its correctness ? ​
​
Besides,

[2021-04-11 11:22] longwuyuan commented on #7042
Copy paste the command and ouput of ```

Kubectl -n grafana describe ing my-grafana-ingress

Thanks,
; Long

On Sun, 11 Apr, 2021, 4:25 PM mali, ***@***.***> wrote:

[2021-04-11 12:00] mali-nuist commented on #7042
@longwuyuan

The output of the ingress after re-executed the creating resources command are below:

[code]

I had creating this ingress a lot of times, but only met one time this error.

[2021-04-11 14:10] longwuyuan commented on #7042
hen there is no exact original copy/paste of what was in the yaml and what command you executed. You can help by closing this issue now as it can not be reproduced and reopen it again when it happens again and capture all data and post or find a way to reproduce the problem.

[2021-04-11 17:40] sej7278 commented on #6862
Same with me, why are the issues being closed before being resolved?

CentOS 7.9
kubernetes v1.21.0
Docker version 20.10.5, build 55c4c88

[code]

[2021-04-11 18:06] Skullflow commented on #6862
I resolved it creating the `ingress-nginx` namespace first. If no namespace is provided, the secret will be created in the default one (in my case).

[2021-04-11 19:37] sej7278 commented on #6862
My problems isn't the namespace secret, from the logs i seemed to be having problems with CA certs until i copied the apiserver.crt /etc/pki/ca-trust/source/anchors/ on the worker-nodes, but now i get:

[code]

its not flannel issue either as it has the same problem with calico

[2021-04-11 20:18] raravena80 commented on #6017
/remove-lifecycle stale.

[2021-04-12 04:25] longwuyuan commented on #7041
There may any cause. Post the below information ;
- kubectl get all,nodes,ing -A -o wide
- kubectl get events -A
- helm ls -A

[2021-04-12 04:41] longwuyuan commented on #7035
Wonder why you want base_image when you are building images yourself as you can build the base image as well ? Sorry if I am missing something

[2021-04-12 04:50] longwuyuan commented on #6954
The information you provided is not enough. Show the information like ;
- helm ls -A
- helm -n <namespace> status <ingresscontrollerhelmreleasename>
- kubectl get all,nodes,ing -A -o wide
- kubectl get events -A -o wide
- kubectl describe pod <shopclpodname>
-  kubectl describe pod <adminpodname>
- kubectl describe svc <shopclsvcname>
-  kubectl describe svc <adminsvcname>
-  kubectl describe ing

[2021-04-12 04:51] longwuyuan commented on #6954
Also since you have not followed up for a month, you can close the issue if it is no longer priority and open it again when you have the data. No use to just keep the issue open with no activity

[2021-04-12 04:59] longwuyuan commented on #6958
aledbf said this long ago

[code]

[2021-04-12 05:25] panho66 commented on #6996
https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#proxy-protocol

Health check connections
After you enable proxy protocol, the proxy protocol header is also included in health check connections from the load balancer. However, with health check connections, **the client connection information is not sent in the proxy protocol header.**

Is this nginx

[2021-04-12 05:31] longwuyuan commented on #6996
Can you show helm ls -A

Thanks,
; Long

On Mon, 12 Apr, 2021, 10:55 AM panho66, ***@***.***> wrote:

[2021-04-12 05:45] panho66 commented on #6996
@longwuyuan  ah I am not using helm but Rancher catalog

kubectl get pod -A

nginx-ingress               nginx-ingress-controller-6d6596d45b-49mzk                  1/1     Running     4          3d21h
nginx-ingress               nginx-ingress-controller-6d6596d45b-5slsq                  1/1     Running     3          3d21h
nginx-ingress               nginx-ingress-controller-6d6596d45b-t4q9w

[2021-04-12 06:39] longwuyuan commented on #6996
kubectl describe pod nginx-ingress nginx-ingress-controller-6d6596d45b-49mzk

[2021-04-12 07:05] longwuyuan commented on #6996
Just FYI ;
- Looks like you are using a release that is 10 months old and so someone ds to check if there has been any changes to proxy-protocol code since then
- If your final goal with proxy-protocol is to get client-ip, then setting externalTrafficPolicy: Local is the trending spec of choice
- Since you are using the helm stable repo bundled by Rancher, in the Rancher catalog, you sholuld close

[2021-04-12 07:45] LeducH commented on #6862
How is this closed?

[2021-04-12 07:48] panho66 commented on #6996
@longwuyuan  sorry for the confusion. I am using Rancher catalog to deploy helm chart that why I do not need helm client install. Rancher has build in helm no need to install helm client. So other than deployment method, there is nothing related to Rancher function.

Regarding to externalTrafficPolicy: Local, "Local" preserves the client source IP and avoids a second hop for LoadBalancer and NodeP

[2021-04-12 08:05] sej7278 commented on #6862
Most of the issues seem to be auto closed without being answered

[2021-04-12 08:10] longwuyuan commented on #6862
@LeducH and @sej7278 , what reason do you have to ignore or not see that the issue was closed by the person who opened the issue ?

[2021-04-12 08:12] sej7278 commented on #6862
Because it's not an nftables issue

[2021-04-12 08:17] longwuyuan commented on #6862
(1) You are wrong in saying It was auto closed
(2) You could ask the user to reopen assuming you have data to post that can help reproduce the problem

[2021-04-12 08:17] LeducH commented on #6862
No problem I open a new issue

[2021-04-12 08:20] LeducH opened #7043 "MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found"
**NGINX Ingress controller version**: `0.45.0`  from [this config](https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/baremetal/deploy.yaml)

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): `Raspbian GNU/Linux 10 (buster) armv7l `
- **Kernel** (e.g.

[2021-04-12 08:20] longwuyuan commented on #6862
Cool. Hope you post data on your own problem case and and hope you post cleear simple instructions to help other people on how to reproduce the problem.

[2021-04-12 08:21] LeducH commented on #6862
new issue #7043

[2021-04-12 08:57] jizusun commented on #6487
@dmeytin Really appreciate that you created this issue, since I'm also the exact problem!

How did you finally fix the problem?

[2021-04-12 08:59] yasuki0707 commented on #7041
@longwuyuan
Thank you for the response.

Here are outputs:
[code]

[code]

[code]

[2021-04-12 09:18] sej7278 commented on #7043
Exact same issue:

CentOS 7.9 (kernel 3.10.0-1160.24.1.el7.x86_64)
kubernetes v1.21.0
Docker version 20.10.5, build 55c4c88

its not a flannel/calico issue as tried both and proven connectivity.

several other reports of this same issue on github or the web as a whole, but none seem to ever have a solution.

[2021-04-12 10:09] longwuyuan commented on #7043
post data related to this ;

[code]

[2021-04-12 10:12] pierluigilenoci commented on #6191
/remove-lifecycle stale

[2021-04-12 10:13] sej7278 commented on #7043
sorry was that a question? how do you want us to post the data? it already is covered in "anything else" above

[2021-04-12 10:26] longwuyuan commented on #7041
There is a lot of check to be done here as this information is not enough ;
- Your virtualbox VMs will have 2 interfaces and default route will be 10.x.x.x I am not sure if that will work well. What is the OS of the host ? Is it laptop ?
- There are messages of kube-proxy and flannel failing and recovering. So check current status from logs. I know for sure that multinode with Virtualbox is a real

[2021-04-12 10:52] longwuyuan commented on #7043
That is kubelet logs at least. Need to know what failed to mount

[2021-04-12 10:58] LeducH commented on #7043
How do get the logs? I can only get this
[code]

[2021-04-12 11:03] longwuyuan commented on #7043
Kubelet is running on the host so that will be obtained from the journalctl command.
Very likely it will show what is visible above. That being the volume failing to mount is using the secret webhook-cert.
Let us assume that the volume that failed to mount is from the secret webhook-cert. Tht is not seen in the output of `k get secrets` . So here is my suggestion ;

- do a delete of that yaml
- do

[2021-04-12 12:12] sej7278 commented on #7043
that's a bit beyond my knowledge! i created a namespace and search'n'replaced `namespace: ingress-nginx` with `namespace: ingress-test`

i don't know how to create the secret (what username/password etc.) so left that to the yaml, but it seems to have totally ignored the secretname i set:

[code]

[2021-04-12 12:21] sej7278 commented on #7043
if i just run the deploy.yaml from github directly i get:

[code]

[2021-04-12 12:27] yasuki0707 commented on #7041
@longwuyuan

I have created another NICs of host only adapter as I think it's impossible to connect between nodes with default NAT.
Host computer is laptop, macOS 10.15.6

So do you suggest not to use VirtualBox when using kubernetes?
I don't have another computer, so should I try to setup cluster with single node if sticking to using VB?

[code]
by the way this pod disappears after a while

[2021-04-12 13:37] longwuyuan commented on #7043
lets base all work on data, that dir is not a issue

[code]
This is how you get into the pod .. so go ahead and check yours ;

[code]

You have to do exactly what I suggested or find another way or learn to do what I said which is force creation of that secret.

You can even learn the helm command variation where you install using helm and specify the namespace in the helm command line. Without de

[2021-04-12 13:43] LeducH commented on #7043
What do you mean with your command `k -n ingresscontroller exec -ti ingresscontroller-ingress-nginx-controller-5b58667887-g7gpb -- sh`

I only got this:

[code]

[2021-04-12 13:45] stoehdoi commented on #6973
I experienced the same issue and could solve it by using server-snippet annotation instead.

[code]

I am using nginx v0.44.0, however.

For more details checkout this explanation: https://stackoverflow.com/questions/63289848/kubernetes-nginx-ingress-error-with-configuration-snippet

[2021-04-12 13:46] longwuyuan commented on #7041
you can do whatever you want as its yours. I am just giving you information that VirtualBox VM will have 1 NAT interface and 1 HostOnly and default route will be NAT interface and hostname resolution will be awkward by default.

You have choice to create VMs and fix these routing and hostname to ip-resolution etc.

You can also just use minikube and forget all these pains and everything will be au

[2021-04-12 13:46] longwuyuan commented on #7041
But right now we don't know why its failing so its up to you

[2021-04-12 13:48] longwuyuan commented on #7043
You can help by looking at the help text of kubectl `kubectl exec --help`

[2021-04-12 13:58] LeducH commented on #7043
I got the logs `% kubectl logs ingress-nginx-controller-75557995f8-zf6j7 -n ingress-nginx -v10`

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2021-04-12 14:34] sej7278 commented on #7043
this doesn't work for me, i guess as pod/ingress-nginx-controller-75557995f8-zvlnm is stuck in ContainerCreating state

[code]

[2021-04-12 19:12] daninthewoods commented on #7037
Thanks for the follow-up.  We finally found a resolution.  Someone had declared 80/443 as TCP routes on the AKS load-balancer and as such no http traffic was routing into nginx, it was routing around and into the service behind.

[2021-04-12 19:16] maennchen commented on #2003
/remove-lifecycle stale

[2021-04-12 19:21] unfor19 commented on #1832
I edited the ConfigMap and it automatically reloaded NGINX with the new error-log-level configuration

[code]

[2021-04-13 01:44] longwuyuan commented on #7037
Thnx. Close the issue.

Thanks,
; Long

On Tue, 13 Apr, 2021, 12:43 AM daninthewoods, ***@***.***>
wrote:

[2021-04-13 07:49] dgzlopes commented on #5883
Related: https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx

[2021-04-13 08:54] miry commented on #5883
With new version of Jaeger v0.7.0
https://github.com/jaegertracing/jaeger-client-cpp/commit/c1d57957e8478667ba8d46cba7fa6ad2dbd33f85
it is possible to use W3C format in ingress-nginx with Jaeger tracer.

Ingress-nginx commit with new changes https://github.com/kubernetes/ingress-nginx/commit/71c8ef119d2df7e397e9539057abd67ed34d8f30

Example of config ingress-config:

[code]

[2021-04-13 10:30] erran commented on #2995
For folks finding this issue while trying to figure out how to whitelist their Datadog Agent IPs using `nginx-status-ipv4-whitelist ` — you can also pass a CIDR range to the configuration. I found this by grepping through the codebase unfortunately googling nor the [integration docs from Datadog](https://docs.datadoghq.com/integrations/nginx_ingress_controller/#metric-collection) made this obvious

[2021-04-13 12:55] #6281 closed

[2021-04-13 13:16] r0bobo opened #7047 "Flawed logic in ingress controller pod discovery"
**NGINX Ingress controller version**: 0.45.0

**Kubernetes version** (use `kubectl version`): 1.18.9

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Bottlerocket OS 1.0.5
- **Kernel** (e.g. `uname -a`): Linux 5.4.80
- **Install tools**: Ingress Nginx Helm Chart deployed with ArgoCD
- **Others**: Ingress is running behind NLB with TLS

[2021-04-13 13:29] Jc2k commented on #6748
/remove-lifecycle stale

[2021-04-13 14:33] wizardels commented on #6602
Has anyone been able to configure `nginx-ingress -> fpm` ? Been unable to configure this

[2021-04-13 18:35] audip opened #7048 "Nginx ingress not honoring sample rate flags for datadog's tracer configuration"
**NGINX Ingress controller version**: 0.34.1

**Kubernetes version** (use `kubectl version`): 1.18.15

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): `Linux ip-172-24-1-2 5.4.0-1035-aws #37-Ubuntu SMP Wed Jan 6 21:01:57 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**:
- **Others**

[2021-04-14 03:32] robertwt7 commented on #6602
I have managed to get it working, see my question in #6897, also related to #4822. Basically you have to translate most of the block in your nginx `your-site.conf` that you want to serve and map it to the `fastcgi_param` as you need.

Also node that `try_files` directive does not work, so you have to serve static files somewhere else (in my case laravel uses try_files directive before forwarding a

[2021-04-14 05:08] haslersn commented on #6752
/remove-lifecycle stale

[2021-04-14 12:49] AndreKoepke commented on #5001
Today my ingress-controller died again. The bug is back. :(
I'm ending up to avoid the `server-alias` and starting to duplicate things.

[2021-04-14 13:11] tpoindessous commented on #6358
/remove-lifecycle stale

[2021-04-14 16:06] IlyaKiselevKolibri commented on #2995
@msuret what about the port? Is it still 18080? I was not able to reach the status page with curl using `http://%%host%%:18080/nginx_status`, but was able using `http://%%host%%/nginx_status`

[2021-04-14 16:23] CormickKneey opened #7049 "support nginx to listen multiapiservers"
### What do you want to happen?

I notice that ingress could put considerable pressure on apiserver in single master node. I mentioned this before, so i make some work on this to support listening from multi-apiservers.

##   Is there currently another issue associated with this?
1. the master apiserver choosen in the config can not shut dwon.
2. high pressure

### Addition

You can find a demo I

[2021-04-14 19:00] rocketraman commented on #6027
Still an issue with ingress 0.45.0.

[code]

This behavior is clearly incorrect, and I have taken the time to create a reproduction recipe. Would be nice if the issue was at least acknowledged.

[2021-04-15 08:46] avdurgesh opened #7050 "readOnlyRootFilesystem: true unable to start nginx controller pods with this security context"
Getting below error:

unexpected error storing fake SSL Cert: could not create PEM certificate file /etc/ingress-controller/ssl/default-fake-certificate.pem: open /etc/ingress-controller/ssl/default-fake-certificate.pem: read-only file system

Also the pod is crashloopback state

[2021-04-15 09:14] avdurgesh commented on #7050
@aledbf can you please guide on this

[2021-04-15 10:40] kappakappa commented on #6292
@rraisal, i've would like to configure nginx ingress as your setup (with ALB). After using bare metal setup, i've create an ALB with target group, where node instances are in. I've health check error on ALB target. Can you share more details about your setting?

Thanks,
k.

[2021-04-15 11:34] ElvinEfendi commented on #7014
Hey @trnl, thanks for a very detailed issue.

I've actually deployed a form of this in my company for cross cluster app communication (can apply to same cluster too without any change). I'm not sure why you have to act on services to achieve this. Why can you not simply use Ingress resources to do so?

[2021-04-15 13:04] srinirei opened #7051 "Nginx controller crash looping when provisioned with Appmesh"
Hi, I am working on implementing Appmesh with Nginx ingress controller and AWS Load balancer controller combination as shown in the following [architecture](https://github.com/rajeshwrn/alb-nginx-controller) Single ALB for multiple ingress in AWS EKS fargate using Nginx controller.

helm upgrade -i ingress-nginx ingress-nginx/ingress-nginx \
    --namespace appmesh \
    --set region=$REGION \
	--

[2021-04-16 05:17] ghouscht commented on #6896
Same issue here with 0.44.0. Higher loaded clusters are affected more often. Is this resolved with 0.45.0 (don't think so accoring to the changelog)?

[2021-04-16 06:28] nguyenlamlll commented on #6978
Many thanks! I will try it.

[2021-04-16 07:00] longwuyuan commented on #6978
__$ k explain ingress.spec.rules.host
KIND:     Ingress
VERSION:  networking.k8s.io/v1

FIELD:    host <string>

DESCRIPTION:
     Host is the fully qualified domain name of a network host, as defined by
     RFC 3986. Note the following deviations from the "host" part of the URI as
     defined in RFC 3986: 1. IPs are not allowed. Currently an IngressRuleValue
     can only apply to the IP in the

[2021-04-16 07:14] dev-samples opened #7053 "Service "xxx" does not have any active Endpoint."
Running k8s v1.15.5 in azure and nginx-controller version:

[code]

I have been running kube-ops-view:
https://hub.kubeapps.com/charts/stable/kube-ops-view

for quite some time in my cluster without any problems but all of the sudden I cannot access it anymore in my browser at:

http://opsview-dev.internal

I see this in the nginx log:

[code]

I have tried to delete the installation (helm) and re

[2021-04-16 07:35] longwuyuan commented on #7053
kubectl get all,ing,nodes -A -o wide
kubectl get events -A -o wide

[2021-04-16 08:15] ansilh commented on #6748
I think PR https://github.com/nginxinc/kubernetes-ingress/pull/1512 will address this

[2021-04-16 08:27] gurdeepsira opened #7054 "admission webhook "validate.nginx.ingress.kubernetes.io" denied the request: host "_" and path "/x-service" is already defined in ingress x-tst/x-service"
Hi,
I am using NGINX ingress but on a deployment attempt with AKS 1.17. On a deployment attempt, I get this error:

$ kubectl patch ingress actions-service --patch "$(cat ingress-patched.yaml)" -n tnkops-dev
Error from server (BadRequest): admission webhook "validate.nginx.ingress.kubernetes.io" denied the request: host "_" and path "/x-service" is already defined in ingress x-tst/x-service

So NG

[2021-04-16 08:33] dev-samples commented on #7053
[code]
and:

[code]

So no events...

[2021-04-16 08:38] longwuyuan commented on #7053
Can't help you without events

[2021-04-16 09:37] avdurgesh opened #7055 "nginx controller is not starting when allowPrivilegeEscalation: false in secuirty context."
Enviroment: AKS
K8s Version: 1.19.7

Hi ,

Whenever i'm trying allowPrivilegeEscalation: false the nginx controller is not starting.
is there any other way of allowing this securitycontext.

i have tried by giving higher port at deployment but still it takes port 80.
And as i know for binding of port less than 1024 privilaged access required.

Kindly let me know any solutions for this.

/kind bug

[2021-04-16 09:37] avdurgesh commented on #7055
@aledbf can you comment on this

[2021-04-16 11:49] dev-samples commented on #7053
Closing since this is caused by internal network issues - sorry for wasting your time.

[2021-04-16 11:49] #7053 closed

[2021-04-16 15:23] bazzilio opened #7056 "Any reason for image digest in manifests ?"
Hello, is there any reasons for keeping [digest](https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/controller-deployment.yaml#L71)

I setup ingress in air-gapped environment.
I have to retag image to my local registry.

[code]

I expect, that if i change only [image name](https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/values.yaml#L

[2021-04-16 15:30] bazzilio commented on #7056
Seems, like github template for issue type "Question" set the incorrect label.

[2021-04-16 16:35] Stono commented on #6896
Yeah we're quite loaded.  Each instance doing around 400 ops/sec?  We never saw the seg fault but observed almost double the load (cpu) for the same ops, until we rolled back.

[2021-04-16 16:58] yuha0 commented on #6896
Maybe slightly off topic, as I don't know if the CPU spikes we saw were 100% caused by something in alpine, but would it be worth to provide a debian based image as an option? From what I gathered from #6527, the motivations were:

1. Smaller image size
2. Minimal CVE exposures

But would the same goals still be achievable with some trimmed down versions of debian? Like [distroless](https://github

[2021-04-16 18:08] ReillyBrogan commented on #6896
I haven't tried 0.45.0, but I just compared the image with the 0.44.0 one and the musl library, the nginx binary, and the libluajit library all hashed out to the same as the 0.44.0 ones. I would be very surprised if the issue was resolved given that the issue is most likely in one of those.

Unfortunately though I don't think I can be of much more assistance in helping debug this issue. We ended u

[2021-04-16 19:22] fabiendelpierre commented on #5401
Is there guidance on working around this specifically in AKS? I saw mentions of allowing traffic on port 8443 from the Kubernetes control nodes to the worker nodes, but that suggestion applied to GKE, which works differently from AKS.

I've tested this with AKS and a virtual network setup with network security group rules allowing traffic from any to any bidirectionally and still hit this issue.

[2021-04-16 19:33] MattJeanes commented on #5401
@fabiendelpierre I also use AKS and after a lot of troubleshooting this is unfortunately the conclusion I came to as well. The issue for me is that we use helm to deploy many sites at the same time (25 or so) and they all hit the validator at the same time and it just breaks.

We had some luck increasing the timeout for the call but ultimately ended up disabling it as it was causing far more deplo

[2021-04-16 19:35] #6164 closed

[2021-04-16 22:58] bob-bins commented on #5405
What is the reason why it's a boolean instead of allowing users to submit a string for `ssl_session_cache`? It's not really more convenient to have it be a boolean, but doing something like removing `builtin:1000` is incredibly painful.

[2021-04-17 01:36] #5686 closed

[2021-04-17 03:44] longwuyuan commented on #6896
Can the coredump be reproduced at will ? (For example by traffic to the controller on a kinD or a minikube cluster on laptop)

[2021-04-17 09:05] lidajia commented on #6410
keep active

[2021-04-17 11:27] Jc2k commented on #6748
Isn't that a different project though?

[2021-04-17 16:05] haslersn commented on #6341
/remove-lifecycle stale

[2021-04-18 07:43] #6441 closed

[2021-04-18 10:08] sej7278 commented on #7043
tried this using containerd instead of docker and get the same errors. come to the conclusion that ingress-nginx is just broken and need to look for an alternative given all of the unresolved identical bugs the devs aren't interested.

[2021-04-18 12:13] irizzant commented on #6019
/remove-lifecycle rotten

[2021-04-18 12:14] irizzant commented on #6019
/remove-lifecycle stale

[2021-04-18 12:41] elsbrock commented on #6155
/remove-lifecycle stale

[2021-04-18 12:46] #6429 closed

[2021-04-18 14:08] longwuyuan commented on #7043
create the secret manually first and then comment

[2021-04-18 14:15] longwuyuan commented on #7051
seems better to close this issue and ask in https://github.com/rajeshwrn/alb-nginx-controller

[2021-04-18 14:42] sumit-badaya commented on #7043
@longwuyuan  can you please provide YAML for creating just the secret?

[2021-04-18 14:43] sumit-badaya commented on #5932
Anyone got this working? I am stuck in this same issue and not able to resolve ...read almost all the related issues/solutions

[2021-04-18 14:53] longwuyuan commented on #7043
@sumit-badaya your comment is of no help because yaml location is already in the comments above and is rather obvious

[2021-04-18 14:59] sumit-badaya commented on #7043
Well this
nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml

also didnt work for me when I created secret first

Thanks

[2021-04-18 15:00] longwuyuan commented on #7043
can you show /etc/os-release ?

[2021-04-18 15:05] sumit-badaya commented on #7043
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT="centos"
REDHAT_SUPPORT_PRODUCT_VERSION="7"

[2021-04-18 15:05] longwuyuan commented on #7043
can you show uname -a

[2021-04-18 15:06] sumit-badaya commented on #7043
Linux 2e42b7c226b8 5.4.72-microsoft-standard-WSL2 #1 SMP Wed Oct 28 23:40:43 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

[2021-04-18 15:12] longwuyuan commented on #7043
I just see bs.
The issue is created for ARM, not x86_64.

At the very least don't hijack.
Or make a outright claim that install fails on ARM as well as x86_64.
Or create a different issue for x86_64.

I installed just now on x86_64 successfully.

[2021-04-18 15:13] sej7278 commented on #7043
I seem to be having a similar problem with haproxy-ingress, it's not a firewall issue, don't think it's reachability

[2021-04-18 15:15] longwuyuan commented on #7043
how to reproduce ?

[2021-04-18 15:19] sej7278 commented on #7043
Yes exactly, can you show us how you got it working, as I don't believe it does

[2021-04-18 15:23] longwuyuan commented on #7043
I did this as documented and as the creator of this issue documented in the fist comment ;

[code]
just now and it works for me on x86_64 so only you know what you are talking about .... and I can bet it is not a generic problem that everyone is facing

[2021-04-18 15:27] longwuyuan commented on #7043
@sej7278 you don't know the documented install procedure but you think the install is broken for ARM & x86_64 for every single person who installed it in the past week or 10 days ?

[2021-04-18 15:27] sej7278 commented on #7043
What os/k8 versions are you running?

[2021-04-18 15:31] sumit-badaya commented on #7043
I came here searching about the mount issue and the title of this github
issue exactly matches the thing i am getting in my events/logs on k8s.

I saw there are 3-4 similar kind of issues posted on github. And i do
believe many people are facing this problem and there is no exact solution
to this so far.

Also, i tried to figure out what could be wrong and to some extent I
believe that deploying t

[2021-04-18 15:31] longwuyuan commented on #7043
@sej7278 my suggestion to you is create a different issue and post your hardware/software details as you are not using ARM and this issue was created for a fail on ARM and everyone knows that x86_64 install is not broken on every install in the past week or 10 days.

You are really not helping by hijacking this issue and really not helping by the misleading information.

[2021-04-18 15:36] longwuyuan commented on #7043
Whatever the problem is, it does not help to flood the issue with info that no developer can use to reproduce and analyse the problem. So @sumit-badaya and @sej7278 ,  show ;

[code]
And then copy/paste your exact/command and output of install and then show all the above information post install attempt

[2021-04-18 15:38] sumit-badaya commented on #7043
Whatever you asked i already sent you info above.
Thanks for trying to help so far anyways

On Sun, 18 Apr, 2021, 9:06 pm Long, ***@***.***> wrote:

[2021-04-18 15:40] sej7278 commented on #7043
@longwuyuan can you post that info, as maybe you're running a different setup to the rest of us?

[2021-04-18 15:41] longwuyuan commented on #7043
I did a install and it works so your claim is bs and your problem description needs to get precise to be helpful. See the age in my install ;

[code]

[2021-04-18 15:44] sumit-badaya commented on #7043
@longwuyuan  can you try installing this same thing on any different namespace? The name doesnt matter but different than ingress-nginx? I really believe it will fail then at your end too.

This is just 1 thing out of multiple possibilities that the issue is coming up.

PS - only if you can and have some spare time to do it.

[2021-04-18 15:45] sej7278 commented on #7043
Can we keep it civil please. All I ask is your os info as all of us that can't get this working are running centos or arch. So maybe you're running Ubuntu?

[2021-04-18 15:48] longwuyuan commented on #7043
@sej7278, Create a different issue claiming that CENTOS x86_64 is not working. What is your intention to to hijack this ARM buster issue

[2021-04-18 15:52] sej7278 commented on #7043
We already opened another issue at your request. The same issue affects Debian Arm and centos x86_64 but apparently doesn't affect whatever you're running

[2021-04-18 15:54] longwuyuan commented on #7043
@sumit-badaya, you are not helping.

[code]
The above commands are one way to put the controller in a namespace of your choice.

Any normal k8s admin woiuld be aware of this.

But you are neither providing steps for a developer to reproduce the problem, nor are you helping anyone investigate the problem on their own with some specifics. Can you move your comments to a issue dedicated to your probl

[2021-04-18 16:03] brendamckenne commented on #7043
I got the same issue
However I use kubectl apply -f command with the path to deploy.yaml of ingress-nginx

Not the helm command directly due to restrictions over server

[2021-04-18 16:04] rward27 commented on #7043
Sailing in the same boat.
Any help would be greatly appreciated!!!!

[2021-04-18 16:04] FingerLiu commented on #5297
/close

[2021-04-18 16:04] #5297 closed

[2021-04-18 16:06] longwuyuan commented on #7043
The successful install I showed earlier was done using kubectl apply

Thanks,
; Long

On Sun, 18 Apr, 2021, 9:33 PM Brenda Mckenne, ***@***.***>
wrote:

[2021-04-18 16:07] longwuyuan commented on #7043
Write down steps to reproduce

Thanks,
; Long

On Sun, 18 Apr, 2021, 9:34 PM Robyn Ward, ***@***.***> wrote:

[2021-04-18 16:10] rward27 commented on #7043
Do you think kubectl apply -f is successful on other namespaces than ingress-nginx? It ofcourse needs modifications but still that will fail and controller will not get created.

Steps to reproduce::

kubectl apply -f URL -n custom-ns

After replacing "namespace: ingress-nginx" with namespace: custom-ns in the YAML file, it fails still

Do you want me to add that long deploy.yaml contents as well?

[2021-04-18 16:12] brendamckenne commented on #7043
Well, you didn't add the command in your output before,
Also you gave the helm command below in your replies so it automatically gives an insight that you did it using helm possibly. Thanks for clarifying though.

[2021-04-18 16:13] brendamckenne commented on #7043
@LeducH did you get this resolve? Please help others if you did.

[2021-04-18 16:16] longwuyuan commented on #7043
That is not documented procedure. Your options are to study every single
object involved and do it yourself or create a new issue asking the project
developers for additional docs on that. In either case it is unrelated to
this arm issue.

Thanks,
; Long

On Sun, 18 Apr, 2021, 9:40 PM Robyn Ward, ***@***.***> wrote:

[2021-04-18 17:10] longwuyuan commented on #7043
Just for the heck of it, I downloaded the deploy.yaml and manually edited it to change namespace and applied it successfully.

That is solid proof for you @sumit-badaya @brendamckenne @rward27 that it can work for you in the use case that helm is not allowed etc.

Now to repeat the jist of my earlier comments. All this is meant for collaborative effort to help each other out and after repeatedly t

[2021-04-18 17:12] brendamckenne commented on #7043
It must have failed otherwise you wont be afraid to post the proof of
input-output lol 😎😂

On Sun, 18 Apr, 2021, 10:40 pm Long, ***@***.***> wrote:

[2021-04-18 17:15] rward27 commented on #7043
Or this guy has super computer in it everything works great ..no issues 🤔😃

[2021-04-18 17:16] longwuyuan commented on #7043
skepticism, personal comments, trash-talk does not help developers or the person who posted that ARM issue. Like I said, the reason for not posting the file here is to avoid adding unrelated artifact in this case. Don't show your unhelpful side and please open another namespace issue and I will attach the file there and then tell me if it works or not.  So sad to see filling unrelated content here

[2021-04-18 17:18] rward27 opened #7057 "Deploy ingress-nginx in a Customized namespace without helm"
Seems ingress-nginx fails if namespace is other than ingress-nginx

[2021-04-18 17:20] rward27 commented on #7043
@longwuyuan  here is the issue
#7057

[2021-04-18 17:21] rward27 commented on #7043
And sas that you really think you are helping here anyone with your comments at all. You may be trying but its not at all helpful except the rudeness in your talks

[2021-04-18 17:22] longwuyuan commented on #7057
Attaching the file like I said. Its 17 edits ;
__$ grep "namespace: ingress" deploy.yaml
  namespace: ingress
  namespace: ingress
    namespace: ingress
  namespace: ingress
  namespace: ingress
    namespace: ingress
  namespace: ingress
  namespace: ingress
  namespace: ingress
        namespace: ingress
  namespace: ingress
    namespace: ingress
  namespace: ingress
  namespace: ingress
    n

[2021-04-18 17:25] longwuyuan commented on #7043
That simply means either you don't know that you can edit the "namespace" spec or you know and have some twist going on. I pasted the file in that issue. I sincerely hope, you guys will delete your comments here so this issue becomes free of unrelated content.

[2021-04-18 17:33] rward27 commented on #7043
I sincerely hope, you guys will delete your comments here so this issue becomes free of unrelated content.

Only after you

[2021-04-18 17:37] longwuyuan commented on #7043
so its a ego thing now ? I have comments in response to the original poster of the issue and in response to deviations from the topic of this issue.

[2021-04-18 17:39] rward27 commented on #7043
Not ego, just your rudeness needs to be called out

[2021-04-18 17:44] longwuyuan commented on #7043
lets wait for moderators and admins then. seems you were looking to create trouble from get go, at the cost of community

[2021-04-18 17:44] rward27 commented on #7043
already deleted lol

[2021-04-18 17:51] longwuyuan commented on #7043
In the interest to see if there is any chance to remove all comments that are not related to the topic, I still see your "same boat" comment and the "super computer" comment. I hope you delete them and I hope @brendamckenne and @sumit-badaya delete their comments as well and we use https://github.com/kubernetes/ingress-nginx/issues/7057 for followups

[2021-04-18 17:56] sumit-badaya commented on #7043
C'mon guys!

You both are right ok now lets just focus on the issues and don't indulge
in cold war.

Let there be peace!

On Sun, 18 Apr, 2021, 11:22 pm Long, ***@***.***> wrote:

[2021-04-18 17:56] ansilh commented on #6748
Had a look at their [doc](https://github.com/nginxinc/kubernetes-ingress/blob/master/docs/nginx-ingress-controllers.md). Yes, the mentioned PR is on Nignx's ingress project. Probably the same logic can be incorporated here too.

[2021-04-18 18:00] longwuyuan commented on #7043
@sumit-badaya don't indulge in personal comments and move the discussion on namespace to https://github.com/kubernetes/ingress-nginx/issues/7057 .  Additionally if you can delete all your comments here, it will help to keep this issue's content focussed on the ARM install failure. Thnx

[2021-04-18 18:03] longwuyuan commented on #7057
@brendamckenne and @sumit-badaya update here and not in the ARM install issue. Thnx

[2021-04-18 18:09] sumit-badaya commented on #7043
Then you gotta delete the comments that has me mentioned in it. Please do
the needful so i can delete mine.

On Sun, 18 Apr, 2021, 11:30 pm Long, ***@***.***> wrote:

[2021-04-18 18:10] longwuyuan commented on #7043
ok, let us wait for admins then

[2021-04-18 18:11] rward27 commented on #7043
Because that makes sense coz you will have me mentioned while my comments
wont be there at all in entire thread. Please delete all that contains my
username mentioned.

On Sun, 18 Apr, 2021, 11:39 pm sumit-badaya, ***@***.***>
wrote:

[2021-04-18 18:13] brendamckenne commented on #7043
Because that makes sense coz you will have me mentioned while my comments
wont be there at all in entire thread. Please delete all that contains my
username mentioned.

On Sun, 18 Apr, 2021, 11:41 pm Robyn Ward, ***@***.***> wrote:

[2021-04-18 18:16] longwuyuan commented on #7043
sad.
guess best left to moderators and admins.
at least we are not talking namespace here anymore

[2021-04-18 18:17] brendamckenne commented on #7043
Yeah makes sense

[2021-04-18 18:37] michbsd opened #7058 "GKE ingress ignoring my nginx annotations"
Hi,

I have a GKE alpha cluster running for testing. (v1.18.17-gke.700)
I have deployed nginx-ingress controller via the helms chart:

[code]

service:

[code]

deployment:

[code]

I have added the `nginx.ingress.kubernetes.io/whitelist-source-range` but it does not seem to work.

ingress:

[code]

when doing a request via curl from another host than from the allowed whitelist-source-range, I am

[2021-04-18 19:34] ceekumar opened #7059 "controller not launching if we set "no-new-privileges": true inside /etc/docker/daemon.json on EKS nodes"
Hi -
Environment: AWS EKS cluster, version 1.17
Node OS: Amazon linux2.

I've an EKS cluster, where my nodes are hardened based on CIS docker benchmark, **https://www.cisecurity.org/benchmark/docker/**
as per the CIS benchmark checklist, there is an option to set _"no-new-privileges": true_, inside  /etc/docker/daemon.json , and restart docker. Once I do this, the ingress controller doesn't launch

[2021-04-18 19:34] ansilh commented on #6748
We can think of adding a variable like `SSLRejectHandshake` in [config.go](
https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/config/config.go#L92)

Then adding a logic under the [default server](https://github.com/kubernetes/ingress-nginx/blob/controller-v0.45.0/rootfs/etc/nginx/template/nginx.tmpl#L891) to set it.

[code]
**BUT**, the problem we will run into wi

[2021-04-18 22:26] zerkms commented on #5667
/remove-lifecycle stale

[2021-04-18 23:51] abdennour commented on #3746
I exposed my [kube-apiserver thru nginx](https://gist.github.com/abdennour/450163a67ed7b4e3fd5813276ffca462#file-ingress-kube-apiserver-yaml):

[code]

Accordingly, my kubeconfig points to the host of that ingress (api.devops.example.com) as cluster server url.

All `kubectl` commands are working except two :
- `kubectl exec`
- `kubectl port-forward`
After searching, i found that solving this issu

[2021-04-19 07:15] LeducH commented on #7043
Tried the remarks still not werking.

[2021-04-19 07:19] longwuyuan commented on #7043
@LeducH , the root cause is that the secret called webhook-cert is not created

[2021-04-19 07:28] longwuyuan commented on #7043
@LeducH , there is more activity related and more people watching the channel #ingress-nginx on kubernetes.slack.com. You can close this issue and discuss in the slack channel so more people can see and possibly give you feedback.

[2021-04-19 07:51] LeducH commented on #7043
na I keep this open until there is a solution. If someone else looks for this issue it is senseless to point them to a slack channel.

[2021-04-19 07:53] longwuyuan commented on #7043
ok. so did you create the secret manually already or not ?

[2021-04-19 07:55] LeducH commented on #7043
Tried it no success.

[2021-04-19 07:57] longwuyuan commented on #7043
That leaves no data for someone to analyse and no steps to reproduce as the kubectl apply -f works

[2021-04-19 11:58] wen11497110 opened #7060 "deploy ingress-nginx on kind with error 'iptables Couldn't load match `multiport':No such file or directory'"
I tried to deploy ingress-nginx on my kind, referring to [kind-ingress](https://kind.sigs.k8s.io/docs/user/ingress/#ingress-nginx), but I found the pod with name `ingress-nginx -controller` can't be started, the error is as follows:
[code]

Has anyone encountered a similar situation? thanks.
/triage support

[2021-04-19 12:12] longwuyuan commented on #7060
Explain where did you run kinD with information like;
- uname -a
- cat /etc/os/release
- ifconfig -a
- ufw/firewalld/selinux/apparmore/etc details
- etc etc

[2021-04-19 13:59] LeducH opened #7062 "Unable to pull arm image for nginx-ingress install"
**NGINX Ingress controller version**:
0.34.1
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: raspberry pis
- **OS** (e.g. from /etc/os-release): raspbian
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**: `k3s`
[code]
- **Others**:

**What happened**:

[code]
**What you expected to happen**:
nginx-ingress is install

[2021-04-19 14:16] longwuyuan commented on #7062
What happens if you attempt to helm install from officially documented helm
repo instead of stable.

Thanks,
; Long

On Mon, 19 Apr, 2021, 7:30 PM H, ***@***.***> wrote:

[2021-04-19 14:50] longwuyuan commented on #7043
@LeducH would this be a duplicate issue of https://github.com/kubernetes/ingress-nginx/issues/7062 .  If yes, would you want to close this one as that other one 7062 is succint as well as informative

[2021-04-19 15:03] LeducH commented on #7062
use the following commands to install

[code]

[2021-04-19 15:03] #7062 closed

[2021-04-19 15:04] LeducH commented on #7043
This is another issue since it does not use k3s install

[2021-04-19 15:05] longwuyuan commented on #7062
so using the documented repo solved the problem ?

[2021-04-19 15:11] longwuyuan commented on #7043
The "How to reproduce" section of your data in the message is NOT using the official url to install on baremetal.

Do you want to try the offical documented url for baremetal and update data here ?

[2021-04-19 15:33] fabiendelpierre commented on #5401
@MattJeanes I appreciate the feedback. I plan on keeping it disabled for the time being. Out of curiosity, what timeout value did you use that worked? I tested up to 30 seconds but it made no difference. Our current usage is way way simpler as we're not yet in prod with AKS so we're just deploying the ingress controller and then throwing a very simple hello-world app at it. So we don't have a case

[2021-04-20 00:34] ilovemysillybanana commented on #5401
I am also having this issue on a fresh minikube installation, just thought I'd chime in since most issues are being reported by GKE it seems

[2021-04-20 01:25] wen11497110 commented on #7060
kind runs on arch linux docker, and firewalld/selinux disabled

[code]

[2021-04-20 02:54] longwuyuan commented on #7060
You did not show ifconfig -a.
Please try to run a container using nginx:alpine image that forwards
hostPort 80 to containerPort 80.
Please make sure you show al commands ouputs logs etc.
Please attempt this after dmesg -c. Then also show dmesg after attempt to
run docker container as suggested above.

Thanks,
; Long

On Tue, 20 Apr, 2021, 6:56 AM Constantine, ***@***.***> wrote:

[2021-04-20 03:28] wen11497110 commented on #7060
Thank you for your reply.
There are another containers running on my docker and they all work normally. I think there should be no problem with my network.
[code]
kind network :
[code]
kind container network:
[code]
`dmesg` and `docker logs kind-control-plane` no error log

[2021-04-20 03:41] longwuyuan commented on #7060
Sudo netstat -lntp

Thanks,
; Long

On Tue, 20 Apr, 2021, 8:58 AM Constantine, ***@***.***> wrote:

[2021-04-20 04:29] longwuyuan commented on #7060
The error message content includes "unable to setup network" and "unable to setup DNAT". There is no indication as to why or what could be related.

That requires info gathering. While its ok to assume that there is no problem with the network since other containers are running. However it does not harm you in any way to attempt that docker run I suggested for the purpose of information gathering.

[2021-04-20 04:40] longwuyuan commented on #7043
/kind/support

[2021-04-20 08:41] wen11497110 commented on #7060
This tutorial guides me to bind additional ports 80 and 443 when creating a kind container:

[code]
host network:
[code]

[2021-04-20 09:41] wen11497110 commented on #7060
@longwuyuan  thank you very much for your help 😀
I replaced the mirror address of ingress-nginx-controller in the [deployment yaml file](https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/static/provider/kind/deploy.yaml). After re-applying, ingress-nginx-controller can run normally. `ImagePullPolicy: IfNotPresent` is used in the source deployment file. My environment cannot

[2021-04-20 09:41] #7060 closed

[2021-04-20 11:58] nzoueidi opened #7063 "Random 404 when using Multi Ingress Controller"
**NGINX Ingress controller version**: v0.42.0 and v0.45.0

**Kubernetes version** (use `kubectl version`): 1.18.9

**Environment**: EKS v1.18.9

- **Cloud provider or hardware configuration**: EKS AWS
- **OS** (e.g. from /etc/os-release): Amazon Linux, Ubuntu, Bottlerocket OS.
- **Kernel** (e.g. `uname -a`): 5.4.0
- **Install tools**: NONE
- **Others**: NONE

**What happened**:

When deploying a m

[2021-04-20 12:03] nzoueidi commented on #7063
/assign

[2021-04-20 12:07] longwuyuan commented on #7063
The info provided is not taking care of all the obvious thoughts and questions that come to mind. Questions like ;

[code]

[2021-04-20 12:21] longwuyuan commented on #7063
has this been proved to be a bug already elswhere ?

[2021-04-20 12:50] michbsd commented on #7058
maybe this should be label kind/support?

[2021-04-20 13:12] KozyarValeriy commented on #7025
I'd had the same problem until I added the ingress resource (but I have baremetal).
But now I have the same problem with TCP. TCP services don't provide metrics like nginx_ingress_controller_requests etc.
Do you know what to do with that?

[2021-04-20 14:06] nzoueidi commented on #7063
@longwuyuan thank you for you inputs. I will be working on this issue and will update it accordingly. Please feel free to reproduce it.
To answer your questions, please look at the description of the issue. It is a random error there is no time interval. The deployment whether it is through helm or simple kubectl apply - it will result in the same behavior.

Nothing related to the resources of the

[2021-04-20 17:08] LeducH commented on #7043
use
[code]

[2021-04-20 17:08] #7043 closed

[2021-04-20 23:01] keatz55 commented on #4909
Experiencing the same SNI situation, however, we don't have control over how a client sends the request. For example, our client is sending the following:
[code]
Nginx ingress controller only accepts the following:
[code]
Anybody know of a way to configure support both paths?

[2021-04-21 01:55] AmilaDevops commented on #5525
@yangjindong  how to create this default-http-backend related deployment and service under kube-system namespace ?
the comment you mentioned there is showing nothing

[2021-04-21 06:22] fei922 opened #7064 "How to set tcp load balancing strategy"
According to [nginx configuring-tcp-or-udp-load-balancing](https://docs.nginx.com/nginx/admin-guide/load-balancer/tcp-udp-load-balancer/#configuring-tcp-or-udp-load-balancing),  nginx can configure tcp load balancing strategy in tcp upstream, such as Round Robin (default), Least Connections, hash，etc.
![image](https://user-images.githubusercontent.com/9672023/115505594-44f65100-a2ac-11eb-9b4d-6d20

[2021-04-21 07:14] longwuyuan commented on #7064
This is the functionality https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/

Are you talking about the LoadBalancing algo for this functionality ?

[2021-04-21 08:57] tgwallenborg opened #7065 "Helm chart does not allow different annotations for patch job"
**NGINX Ingress controller version**: 0.44 -> 0.45

**Kubernetes version** (use `kubectl version`): 1.20.2

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1040-azure
- **Install tools**: Terraform Helm Provider

**What happened**:
To enable apparmor on the two patch jobs I ne

[2021-04-21 09:21] longwuyuan commented on #7065
What is the link to that annotation documentation?

Thanks,
; Long

On Wed, 21 Apr, 2021, 2:28 PM Tobias Wallenborg, ***@***.***>
wrote:

[2021-04-21 09:33] tgwallenborg commented on #7065
https://kubernetes.io/docs/tutorials/clusters/apparmor/

[2021-04-21 09:35] fei922 commented on #7064
Yes, I have some scenarios where I want to be able to configure tcp load balancing strategies, such as Session Sticky , instead of the default Round Robin strategy

[2021-04-21 10:13] LuckySB commented on #6896
Followup got coredump with v0.44.0 and v0.45.0
centos 7
docker 19.03
kernel 4.20.13 from elrepo
[code]

[2021-04-21 10:20] arno-snop opened #7066 "webhook admission controller error - no validation for extensions/v1beta1 or networking.k8s.io/v1 ingresses"
**NGINX Ingress controller version**:
v0.41.2

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: vanilla kubernetes 1.19 on centOS Azure vms
- **OS** (e.g. from /etc/os-release): CentOS Linux 7
- **Kernel** (e.g. `uname -a`): Linux lnx001617 3.10.0-1160.24.1.el7.x86_64 #1 SMP Thu Apr 8 19:51:47 UTC 2021 x86_64 x86_64 x86_64 GN

[2021-04-21 10:55] longwuyuan commented on #7065
Then as per that page there is absolutely no information here to analyse provided by you.

You can begin by showing all the information that is listed in the documentation like the node host linux os enabled for apparmor etc

[2021-04-21 11:09] longwuyuan commented on #7064
This is a ingress controller for HTTP/HTTPS and not a pure full-fledged loadbalancer by itself. So I think your options are limited, when using TCP/UDP loadbalancing with ingress-nginx-controller and you should be looking at your cloud-provider's LB for those kind of attributes.

But my knowledge is that of a beginner so lets wait and see if some expert makes any comments.

Meanwhile you can switc

[2021-04-21 11:21] tgwallenborg commented on #7065
@longwuyuan
I dont understand what information your missing?

Apparmor needs an annotation that specifies a container, and currently the chart does not support that since both jobs use the same annotations.

[2021-04-21 11:40] longwuyuan commented on #7065
I think I am trying to wrap my head around concepts like
- That is a job that has a one time task because of how the controller works and you want to put apparmor there . But I am not certain of what vulnerability/risk you assessed in that job that apparmor would mitigate for a few seconds of running that job.
- From a different perspective I would assume you would want apparmor for the continuous

[2021-04-21 11:52] tgwallenborg commented on #7065
I can just skip apparmor for the jobs. So the issue is more that I dont have the possiblity to use apparmor as the chart is currently.

It works on all other pods, and it also works on the create job, but not the patch since it "points" to the wrong container

I'm only asking for the possiblity to have different annotations on the two jobs, in this case apparmor was the use-case.

It works for the

[2021-04-21 11:56] longwuyuan commented on #7065
Thanks a lot, the issue is clear now.
Maybe you can redo the content of this issue like change the title and get explicit and direct that you want to add annotation only for the patch job.

Why this level of depth for a thing that runs for a few seconds to fix the controller ?  I mean is it audit or did you find vulnerability or what ?

[2021-04-21 12:00] tgwallenborg commented on #7065
Well the main reason is that we have a Azure Policy that specifies that you always need to set apparmor.
To get around this I need to exclude my ingress namespace.
So audit more or less.
So for me its more better safe then sorry thing.
And I also think it could be a good idea to enable different annotations if needed.

(I will update the issue)

[2021-04-21 12:03] longwuyuan commented on #7065
ok. that helps. please get as explicit and direct as you can because honestly, it may a long long time before you can get that feature. It is a new feature for all practical meaning. Who knows what happens to that patching if you add apparmor. and I have heard one phrase ... "PRs are welcome"

[2021-04-21 12:15] longwuyuan commented on #7065
/kind feature

[2021-04-21 12:15] longwuyuan commented on #7065
/remove-kind bug

[2021-04-21 18:51] ReillyBrogan commented on #6896
@longwuyuan I don't know that anyone has reproduced this in kinD or minikube. If this issue is happening though for someone it is fairly consistent. Have have multiple k8s clusters that are fairly identical and the issue was present in all of them (the segfaults just happen at a reduced rate on clusters that don't process as much traffic).

@LuckySB Can I ask why you're using that kernel? 4.20 has

[2021-04-21 20:22] Blorpy opened #7068 "Webhook rejects networking.k8s.io/v1"
**NGINX Ingress controller version**: 0.44.0

**Kubernetes version** (use `kubectl version`): v1.20.4 (k3s)

**Environment**:

- **Cloud provider or hardware configuration**: k3s on metal
- **OS** (e.g. from /etc/os-release): CentOS 8 Stream
- **Kernel** (e.g. `uname -a`): 4.18.0-193.28.1.el8_2.x86_64
- **Install tools**:
- **Others**:

**What happened**: Webhook is rejecting admission of anything

[2021-04-21 23:37] wasker commented on #3717
/remove-lifecycle rotten
/reopen

[2021-04-21 23:39] wasker commented on #3717
@juliohm1978 You are a contributor - could you reopen the issue, please? This behavior when affinity is not respected doesn't make any sense. If users were hitting canary on their first visit, they should continue to go to canary, or things are being broken.

[2021-04-22 00:57] juliohm1978 commented on #3717
/remove-lifecycle rotten
/reopen

[2021-04-22 01:16] juliohm1978 commented on #3717
I'm adding two examples that reproduce the issue in different ways. This can be tested quite quickly if you adjust the Ingress host to your environment. The manifests deploy two sets of Deployment/Service/Ingress. One `echo` service and one `echocanary` of the same image in a different service.

**Scenario 1 - [canary-weight.zip](https://github.com/kubernetes/ingress-nginx/files/6354735/canary-wei

[2021-04-22 01:40] fei922 commented on #7064
Thanks for your answer. Yes, as far as I know, nginx-ingress-controller only supports http(s) load balancing, and the tcp load balancing strategy only supports default Round Robin strategy. Looking forward to supporting more tcp load balancing strategies in the future.

[2021-04-22 03:54] longwuyuan commented on #7064
/kind feature

[2021-04-22 03:54] longwuyuan commented on #7064
/remove-kind support

[2021-04-22 04:34] longwuyuan commented on #7058
what was the complete and precise command used to install the controller ?
/kind support

[2021-04-22 04:36] longwuyuan commented on #7058
/remove-kind bug

[2021-04-22 04:58] longwuyuan commented on #6896
any chance of any posting a fairly reasonable step by step process to reproduce this problem. Because I am not able to.

/remove-kind bug

[2021-04-22 05:05] longwuyuan commented on #6896
/triage needs-information
/triage not-reproducible

[2021-04-22 05:12] longwuyuan commented on #7066
/remove-kind bug

Can you help by providing following information ;
- Can you use the latest release of the controller
- If you can not use the latest release of the controller, explain reason please
- After/If you move to the latest release of the controller, Can you show the actual command and output for
  -  kubeclt get validatingwebhookconfigurations.admissionregistration.k8s.io -o yaml
  - ku

[2021-04-22 05:13] longwuyuan commented on #7066
/triage needs-information

[2021-04-22 05:15] longwuyuan commented on #7057
/close

[2021-04-22 05:18] longwuyuan commented on #7057
/triage needs-information

[2021-04-22 05:19] longwuyuan commented on #7057
/remove-kind support

[2021-04-22 05:21] longwuyuan commented on #7058
/remove-kind support
/triage needs-information

[2021-04-22 05:36] longwuyuan commented on #7068
/remove-kind bug
I was unable to reproduce using latest controller.
I used a ingress manifest like thus ;
[code]
on a v1.21 cluster ;
[code]
With the latest release of controller ;
[code]

Can you please provide information and maybe a step-by-step guide to reproduce the problem that includes host os info, kubernetes info, controller release info, controller values info etc etc

[2021-04-22 05:36] longwuyuan commented on #7068
/triage needs-information

[2021-04-22 07:25] michbsd commented on #7058
hi @longwuyuan

this is the deploy command:
[code]

this is the output when running:
[code]

[code]

[2021-04-22 07:31] longwuyuan commented on #7058
Thank you. This project is different from what you have installed. I
request you to kindly close this issue.

If you use the release from this project and find problems... Then please
ask in ingress-nginx channel of kubernetes.slack.com .

Thanks,
; Long

On Thu, 22 Apr, 2021, 12:56 PM Michael Landin, ***@***.***>
wrote:

[2021-04-22 07:41] michbsd commented on #7058
😬
Apologies - and thanks !

[2021-04-22 07:41] #7058 closed

[2021-04-22 08:58] longwuyuan commented on #7058
Apologies no need. The names are similar and hence confusing. Please come on slack as I mentiioned if you use this controller release

[2021-04-22 09:39] kundan2707 commented on #7055
@avdurgesh  You can refer following
https://github.com/kubernetes/ingress-nginx/issues/5244#issuecomment-598467353

[2021-04-22 09:49] longwuyuan commented on #7055
/remove-king bug
/kind design

[2021-04-22 09:49] longwuyuan commented on #7055
/remove-kind bug

[2021-04-22 11:10] longwuyuan commented on #5401
.remove-kind support

[2021-04-22 11:10] longwuyuan commented on #5401
/remove-kind support

[2021-04-22 11:18] longwuyuan commented on #6165
- Show the document that describes and explains this kind of routing
- Show the installation method, configuration, state and logs of all related kubernetes objects as per latest release of the controller
- Show the curl command and its logs in the controllerpod

It seems you are desiring something but not explaining much in terms of kubernetes object attributes and behaviours

/remove-kind suppor

[2021-04-22 11:19] #6495 closed

[2021-04-22 11:30] longwuyuan commented on #6273
Please show exact info as was suggested earlier ;
- Update to latest release of the controller
- Only use config snippet grpc_next_upstream and NOT configmap

Show the clear proof of having used latest release with the said snippet and then show the kubectl commands and outputs of related objects. Finally add the curl ommand and output and controllerpod logs

/remove-kind support

[2021-04-22 11:32] longwuyuan commented on #6273
/kind needs-information

[2021-04-22 11:33] longwuyuan commented on #6273
/triage needs-information

[2021-04-22 11:34] longwuyuan commented on #6745
/remove-kind support

[2021-04-22 12:11] kundan2707 commented on #7047
/assign

[2021-04-22 12:25] dbacinski commented on #6853
For me what helped was removal of:
#acme.cert-manager.io/http01-edit-in-place: "true"

With this `well-known` path is created on a separate Ingres resource and it does not inherit `nginx.ingress.kubernetes.io/permanent-redirect:`

Config that works:
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: kk-com
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-mana

[2021-04-22 12:45] longwuyuan commented on #7047
For what it is worth the install url is
https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.45.0/deploy/static/provider/baremetal/deploy.yaml

And url I see in first message is not the documented one.

Can you repost data after using this url and maybe use minikube with a vm
driver

Thanks,
; Long

On Thu, 22 Apr, 2021, 5:41 PM Kundan Kumar, ***@***.***>
wrote:

[2021-04-22 13:01] antondollmaier commented on #6853
Thanks - will check it out ASAP!

[2021-04-22 13:21] BAGELreflex commented on #2880
I found that this works to set the HTTPOnly, Secure and SameSite on cookies via an ingress resource.

[code]
![image](https://user-images.githubusercontent.com/1043430/115721384-fc8e7000-a34b-11eb-9c7c-e1231537c329.png)

**Note:** I had to fully delete the existing cookies before new cookies started getting created with these flags.

I came to this conclusion by combining information found at thes

[2021-04-22 14:03] arno-snop commented on #7066
Hello,

I think I understand why this is not working.
We are using the same (unique) ValidatingWebhookConfiguration for a long time with the following configuration:
[code]

meaning that we are sending each validation request for each apiGroup to the same endpoint: `/extensions/v1beta1/ingress`.

I split this ValidatingWebhookConfiguration into three separated instances, using the following config

[2021-04-22 14:10] longwuyuan commented on #7066
Depends on version of kubernetes. Can you kindly close the issue.

Thanks,
; Long

On Thu, 22 Apr, 2021, 7:33 PM arno-snop, ***@***.***> wrote:

[2021-04-22 14:21] arno-snop commented on #7066
I understand that the list of apiGroup depends on kubernetes version, but on nginx controller side, can you please confirm that the service path to use are the ones above ?

[2021-04-22 14:53] longwuyuan commented on #7066
on k8s v1.21 I am seeing this /networking/v1beta1/ingresses .
On v1.22 it will be v1.
What version is your k8s ?

[2021-04-22 15:41] longwuyuan commented on #7059
I don't think that the controller can stop listening on port 80 & 443.

https://kubernetes.github.io/ingress-nginx/deploy/hardening-guide/

Dockershim is deprecated anyways

/remove-kind bug
/kind feature

[2021-04-22 16:18] longwuyuan commented on #7054
/remove-kind bug
/triage needs-information

That small amount of info is not enough.
Put ;
[code]
And any other helpful info to reproduce

[2021-04-22 16:31] longwuyuan commented on #7056
guess it(digest) helps be dead certain about the image being used to pass mission critical traffic in prod environs.

I suspect air-gapped environs need tons of other special treatment and not just the ingress-controller image digest

/remove-kind support
/kind feature

[2021-04-22 18:07] longwuyuan commented on #7051
hi,
If I do `helm inspect all ingress-nginx/ingress-nginx| less ` or insoect values, I can not find several of the --set options shown here. This is not even documented. Right from get go, the controller can not even talk to the api-server. Please follow up on that https://github.com/rajeshwrn/alb-nginx-controller and update here with some relevance to what is documented and available for using wi

[2021-04-22 18:09] FelipeMFlores commented on #6886
Facing the same issue

[2021-04-22 18:11] longwuyuan commented on #7042
/remove-kind support
/triage needs-information

[2021-04-22 18:22] longwuyuan commented on #7041
hi,
the chart is in fauiled state so nothing will work. Please try to uninstall and make sure hlm ls -A is not showing anything about ingress-nginx-controller. Then try to install again but make sure you do helm repo update and connection to internet to download images is good. Also this seems baremetal, so please try the emetal install instead of helm chart without metallb etc. THe admission job

[2021-04-22 18:25] longwuyuan commented on #7035
hi, please look at the build scripts in the repo. The image build for arm and x86_64 is taken care of automatically in there. You can also get the value of the image spec from the yaml. In case you don't want to work on this or update on thism please close the issue for now and reopen when you start working on it.

/remove-kind support
/triage needs-nformation

[2021-04-22 18:26] longwuyuan commented on #7035
/triage needs-information

[2021-04-22 18:31] longwuyuan commented on #7033
Its likely that a recent build that updatesd the openssl library fixed this. Please check again and if fixed, please clsoe this issue. If not, please provide more details

/remove-kind support
/triage needs-information

[2021-04-22 19:20] joekohut commented on #5932
I am also stuck here

[2021-04-22 19:49] ReillyBrogan commented on #6896
@longwuyuan Multiple people have provided stacktraces and additionally have full nginx worker coredumps that they can provide to ingress-nginx core developers (obviously they are sensitive files). I suppose I'm curious as that is not sufficient?

[2021-04-22 20:05] bowei commented on #6896
Hi @ReillyBrogan sorry to hear that you are no longer using ingress-nginx.

There is a topic in the upcoming sig-network to figure out how this project can get the appropriate amount of bandwidth from the community.

[2021-04-22 21:19] #6444 closed

[2021-04-23 00:17] longwuyuan commented on #6896
@ReillyBrogan  I am not able to reproduce. The info available hints at a combination of kernel version of the node, certain volume of traffic so I am guessing cpu/mem available etc.

[2021-04-23 01:29] Blorpy commented on #7068
I deployed from https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.45.0/deploy/static/provider/baremetal/deploy.yaml after wiping out the namespace and I can't reproduce this anymore, even though I was on 0.44.0 as shown below.

OS info above, along with k8s (k3s) version info.

[code]

Closing this, not worth chasing.

[2021-04-23 01:29] #7068 closed

[2021-04-23 01:52] longwuyuan commented on #7035
/triage needs-information

Thanks,
; Long

On Thu, 22 Apr, 2021, 11:55 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-04-23 03:31] longwuyuan commented on #6886
This is a very confusing descripption as well as a very misleading sequence to reproduce.

What needs to be proven is that ;
[code]

[2021-04-23 03:37] longwuyuan commented on #7017
/remove-kind support
/kind design

[2021-04-23 03:42] longwuyuan commented on #7025
What happens if you try this https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/

/remove-kind support
/triage needs-information

[2021-04-23 03:43] longwuyuan commented on #6997
/remove-kind support
/triage needs-information

[2021-04-23 03:52] longwuyuan commented on #6853
/remove-kind bug
/kind feature

[2021-04-23 03:56] longwuyuan commented on #6911
/remove-kind support
/kind feature

[2021-04-23 05:26] #6507 closed

[2021-04-23 06:07] longwuyuan commented on #6989
/remove-kind support
/triage needs-information

[2021-04-23 06:09] longwuyuan commented on #6996
if you don't want to use helm cli and prefer to use the Rancher Catalog, I think you should close this issue and create a issue in Rancher's repo

/remove-kind support
/triage needs-information

[2021-04-23 06:23] arno-snop commented on #7066
I'm using k8s 1.19.

[2021-04-23 06:23] r0bobo commented on #7047
Ah, right. I re-ran it with the correct install manifests and got exactly the same error:
[code]

We also initially discovered this issue in our production cluster where the ingress was installed from the official Helm chart version 3.27.0.

[2021-04-23 07:25] longwuyuan commented on #7066
Based on a live working cluster's resource, I can confirm these 2 ;

networking.k8s.io | v1beta1 | /networking/v1beta1/ingress
-- | -- | --
networking.k8s.io | v1 | /networking/v1/ingress

I also think the 1st one is good.

They seem to be the api path.

I guess you can look at the code or a developer should confirm.
I should look at code too and confirm.
Still thinking that without specifying api

[2021-04-23 07:45] arno-snop commented on #7066
I think there is something that I not really understand here.

When we first start to use the admission controller validating webhook on ingress-controller side, we follow this documentation ([v0.25.1](https://github.com/kubernetes/ingress-nginx/blob/nginx-0.25.1/docs/deploy/validating-webhook.md)):

The way to make it work was to
- enable [validating-webhook feature](https://github.com/kubernetes

[2021-04-23 08:08] longwuyuan commented on #7066
That is 2 yrs old.
What happens if you remove all and just follow https://kubernetes.github.io/ingress-nginx/deploy/#provider-specific-steps

[2021-04-23 08:10] longwuyuan commented on #7047
Hmm...... now I am doubting my reasoning. Guess to study code. Why should the address continue to be in the object's state without the parent depending controller pod existing ?

[2021-04-23 08:36] ghouscht commented on #6896
I think the issue is related to amount of traffic combined with frequent reloads of nginx not certainly with cpu/mem available.

The cluster where we saw the issue very frequently (~50 restarts in 3 days on all 4 ingress pods) was a dev cluster with very frequent config changes and quite a lot of traffic through the ingress controller. Our kubelets in this cluster (55 in total) all have 24 CPUs to

[2021-04-23 08:42] KozyarValeriy commented on #7025
I use it. But the most part of panels with metrics are not available (No data).
I can see only Average Memory Usage, Average CPU Usage, Controller Connections and Config Reloads.

[2021-04-23 09:40] r0bobo commented on #7047
When we do a rolling restart (or an update) there is a new pod which can recieve the traffic so the address should not be removed (and it wasn't before `0.45.0`). [This code](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/status/status.go#L127-L130) also suggest that that is the intended behavior.

In our case the issue is that the AWS Load Balancer controller removes the

[2021-04-23 09:53] cosmingugoasa commented on #5932
Still stucked. K8s 1.21 ... MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found

[2021-04-23 09:58] Mikey032 commented on #6886
I've reproduced the issue and the behavior is as follows:
- when you specify the annotation ```nginx.ingress.kubernetes.io/auth-tls-secret: demo/client-ca-secret``` the nginx.conf file is adapted to: ```ssl_client_certificate                  /etc/ingress-controller/ssl/ca-demo-client-ca-secret.pem;```
- the output of ```cat /etc/ingress-controller/ssl/ca-demo-client-ca-secret.pem | openssl x509 -

[2021-04-23 10:02] brendamckenne commented on #5932
same here

[2021-04-23 10:13] longwuyuan commented on #7025
Show screenshots.

You won't get TCP metrics i am almost sure but not 100%

[2021-04-23 10:15] longwuyuan commented on #6896
Do you have metrics of inodes, filehandles, conntrack and such resources on the node where the pod was running at the time of the segfault

[2021-04-23 10:20] longwuyuan commented on #7047
Rolling restasrt of ingress controller is what you mentioned in the first ever message here. Now are you saying that its your workload that you are doing a restart/rolling-update on etc and NOT the ingress controller ?

[2021-04-23 10:21] longwuyuan commented on #7047
/remove-kind bug
/triage needs-information

[2021-04-23 11:13] Jell commented on #7047
@longwuyuan in his reply @r0bobo means a rolling restart of the controller, as written in the report:

[code]

Here is my understanding:

What happens then is that a new replicaset is created for the restart, that gets a new template-hash label. The controller is still deployed and running, and a new leader will be elected (just from the new replicaset instead), and there are pods that can be elec

[2021-04-23 11:17] Jell commented on #7047
I think it is actually easier to see the issue if running a deployment of the controller with a single replica and rolling restart strategy with 100% surge, then the bug is triggered every time. Perhaps @r0bobo you could update the example to reflect that?

[2021-04-23 11:21] nwaistd commented on #7025
@longwuyuan could you give me some links to relevant docs?

[2021-04-23 11:23] longwuyuan commented on #6886
@Mikey032 thanks for the super helpful update.
The jigsaw falls into place now.
This is expected behavior ;
https://kubernetes.io/docs/concepts/configuration/secret/#mounted-secrets-are-updated-automatically
And the other note on that page about the running process of the containers in a pod reading the updated data in the secret (when consumed as a env var).

Personally I would say, if you have c

[2021-04-23 11:30] r0bobo commented on #7047
@Jell I was about to update it but we get a 100% surge by default with one replica. So the error happens every time you do a restart as it is now.

[2021-04-23 11:33] KozyarValeriy commented on #7025
There is an nginx_ingress_controller_requests metric here, but it is not updated, because I do not use ingress resource. This appeared after the launch of ingress resource.

Prometheus metrics:
![all_metrics_ingress](https://user-images.githubusercontent.com/51660599/115858883-2a50e300-a438-11eb-8574-714719b929fe.png)

Dashboards:
![dash_1_ing](https://user-images.githubusercontent.com/51660599/11

[2021-04-23 11:36] longwuyuan commented on #7047
Just to get explicit, request you to kindly put in a note as to the reason for doing this rolling restart with the command you showed in the very first message ;
[code]

Also to be explicit, please put in a note that you use `helm upgrade` to update the ingress-nginx-controller, when a new release is available.

[2021-04-23 11:47] Jell commented on #7047
I managed to reproduce it with these exact steps:

create kind cluster
[code]

deploy ingress controller
[code]

deploy an ingress
[code]

in a separate window:
[code]

wait until the address is filled

[code]

perform a rolling restart of the ingress controller:

[code]

notice that the adress is deleted from the ingress, and that those logs appear in the ingress-nginx-controller logs:

[code]

[2021-04-23 11:49] Jell commented on #7047
@longwuyuan the issue would be the same with also any kind of deploy as well? a rolling restart is just the easiest way to reproduce the issue

[2021-04-23 11:51] longwuyuan commented on #7025
The link is already in the previous message.
If you can install as per those docs and deploy monitoring as per those docs, maybe we will get some helpful info. But don't expect TCP traffic graphs in the dashboard you get from docs based install.

Who is your LoadBalancer provider ? Do they have monitoring for the LB they provide ?

[2021-04-23 12:00] longwuyuan commented on #7047
Address going away on restart, is a given, hence not ascertaining if it does.

Hoping to read precise details of the `restart` use case.

[2021-04-23 12:15] Jell commented on #7047
I don't see why that is true @longwuyuan ?
Here are two different scenarios on a restart of rolling restart with 100% surge on a Deployment:

Scenario 1:
Step 1:
replica 1 - pod 1 - running - leader
replica 1 - pod 2 - running

Step 2:
replica 1 - pod 1 - running - leader
replica 1 - pod 2 - running
replica 2 - pod 1 - starting
replica 2 - pod 2 - starting

Step 3:
replica 1 - pod 1 - running - te

[2021-04-23 12:18] Jell commented on #7047
in this scenario, the address is not removed. Then:

Scenario 1:
Step 1:
replica 1 - pod 1 - running - leader
replica 1 - pod 2 - running

Step 2:
replica 1 - pod 1 - running - leader
replica 1 - pod 2 - running
replica 2 - pod 1 - starting
replica 2 - pod 2 - starting

Step 3:
replica 1 - pod 1 - running - terminating, other pod running, no remove address
replica 1 - pod 2 - running - becomes lea

[2021-04-23 12:26] Jell commented on #7047
As far as I understand, those are 2 scenario that lead to different behaviors with regards to updating the address field. I don't see why scenario 1 would not be fine? And having the address to null breaks load balancing on AWS for the few seconds it's down. Scenario 2 seem to only be triggered when the last pod in the old replicaset is the leader when it gets terminated, and the address is null f

[2021-04-23 12:28] #6492 closed

[2021-04-23 12:30] longwuyuan commented on #7047
Totally agree with you on impact.

What commands in what sequence should I use to recreate scenario1?

What commands in what sequence should I use to recreate scenario2?

Thanks,
; Long

On Fri, 23 Apr, 2021, 5:56 PM Jean-Louis Giordano, ***@***.***>
wrote:

[2021-04-23 12:33] Jell commented on #7047
@longwuyuan sadly it's hard to reproduce consistently as it's random which pod gets terminated when... But it's always Scenario 2 if there is only one replica:

Step 1:
replica 1 - pod 1 - running - leader

Step 2:
replica 1 - pod 1 - running - leader
replica 2 - pod 1 - running

Step 3:
replica 1 - pod 1 - running -  terminating, **no other pod running, remove address** <- bug?
replica 2 - pod 1

[2021-04-23 12:37] Jell commented on #7047
ah sorry I should have written `replicaset` in my scenarios. I meant 1 replica in the deployment, with a rolling deployment with 100% surge, which leads to 2 replicasets in the same deployment

[2021-04-23 13:34] Jell commented on #7047
OK so I tested it out, if you run exactly the same test as above, but with 10 replicas, you will get Scenario 1 for 9 out of 10 times you run the test, and Sceario 2 for 1 out of 10. Just run this:

[code]

After deploying the ingress controller, then follow https://github.com/kubernetes/ingress-nginx/issues/7047#issuecomment-825603427 and you will get scenario 1 for 9 out of 10 times

[2021-04-23 13:36] Jell commented on #7047
basically:

Scenario 2, 100% of the time:
[code]

Scenario 1, 90% of the time:
[code]

luckily Scenario 2 is the buggy one, so you can follow the steps reported by @r0bobo to reproduce & fix I believe?

[2021-04-23 13:36] Jell commented on #7047
the higher the number of replicas, the most likely Scenario 1 to be

[2021-04-23 13:42] Jell commented on #7047
I _believe_ scenario 2 can be easily removed if not taking into consideration the `pod-template-hash` when listing available pods when terminating the leader, i.e. only looking at the labels:

[code]

[2021-04-23 13:43] Jell commented on #7047
because that would list the pods in the current leader's _deployment_, not the current leader's _replicaset_

[2021-04-23 13:50] LeducH opened #7071 "How to fix empty external IP from nginx ingress on k3s?"
I want use metallb and nginx ingress for my k3s cluster.
Currently the external IP is `<none>`

[code]

I expect it to be `192.168.178.240`

I installed k3s with

[code]
then I installed metallb with
[code]
with the config `kubectl apply -f config.yaml`
[code]

then I installed nginx ingress baremetal

[code]

All pods are running

[code]

Why is the ingress controller not assigned an external IP?

[2021-04-23 14:06] longwuyuan commented on #7047
/remove-triage needs-information
/kind feature

[2021-04-23 14:09] Jell commented on #7047
I quite disagree with it being a feature request @longwuyuan, I do not think Scenario 2 is ever desired and is indeed inducing downtime for us. Imo this is a bug

[2021-04-23 14:10] Jell commented on #7047
Especially since Scenario 1 is what we get most of the time when running a high number of replica.

[2021-04-23 14:11] longwuyuan commented on #7071
show `kubectl get svc -A -o wide` | grep -i ingress

[2021-04-23 14:11] longwuyuan commented on #7071
/remove-kind support
/triage needs-information

[2021-04-23 14:13] Jell commented on #7047
Unless Scenario 2 is the desire case, but then Scenario 1 is the bug. Either way you look at it, this is not consistent behaviour

[2021-04-23 14:16] r0bobo commented on #7047
As mentioned before this downtime during upgrade/restart also never happend for us on all versions <= 0.41.2.

[2021-04-23 14:18] KozyarValeriy commented on #7025
We use metallb (https://metallb.universe.tf/configuration/) in layer2 mode. But it doesn't provide any useful metrics.

[2021-04-23 14:20] longwuyuan commented on #7047
@Jell  Reasonable opinions.

The action-item(s) here ;
(1) Describe with as much precision as possible
Part of this description is a clear distinct description of use-case in the context of this issue like outage on a AWS EKS cluster. I asked earlier why you would type this command to restart and I hope you can add that comment. Once that precise description is here in written text, it will be cle

[2021-04-23 14:27] LeducH commented on #7071
[code]

[2021-04-23 14:32] Jell commented on #7047
@longwuyuan I think you are missing some clear communication from our part:

1. doing this command is exactly the same thing as making a change to the deployment, are you saying that we need to motivate why we would want to deploy changes to the ingress-controller? This is just reasonable expectation for any kind of Deployment on kubernetes. Or maybe I do not understand your question, please clari

[2021-04-23 14:41] Jell commented on #7047
also, if you are saying that we need to provide more information, shouldn't the issue still be labeled as  triage/needs-information? I do not see how this can be constructed as a feature request, or what would be the feature?

[2021-04-23 14:59] longwuyuan commented on #7047
@Jell I think I have caused confusion so I will rephrase my opinion.

While we wait for a developer to look at this, we can put content here that proves `**ingress-nginx-controller causes 30seconds outage on using "helm upgrade**"`.

[2021-04-23 15:04] Jell commented on #7047
but we don't even need to involve helm here? we get downtime if we simply just _restart_ the Deployment, which is even less intrusive than an helm upgrade. Yes, we hit the bug when doing helm upgrade, but that's just background information as to when. We then narrowed down the issue to a simple restart, as documented here. I'm fairly certain the developers will understand that @longwuyuan

[2021-04-23 15:06] Jell commented on #7047
if you look at the steps I wrote here: https://github.com/kubernetes/ingress-nginx/issues/7047#issuecomment-825603427

you will see that I install the ingress controller the way you requested here: https://github.com/kubernetes/ingress-nginx/issues/7047#issuecomment-824808717

[2021-04-23 15:19] longwuyuan commented on #7047
Also FYI, I am not a developer, committer or maintainer etc. I am just a user like you and am able to opine where I can. And sorry, this seems to be shaping into a complicated conversation. I will try to summarise ;

- You install as per docs on a kinD cluster
- We are assuming that the "restart" command you executed is a acceptable simulation of doing a "helm upgrade" on a AWS EKS cluster with a

[2021-04-23 15:29] longwuyuan commented on #7025
@nwaistd did you install as per the link I sent ?

@KozyarValeriy I don't think TCP metrics are exported but someone has to check and confirm. It will take a while. Hope I can check and update but very soon

[2021-04-23 15:36] Jell commented on #7047
Alright, given your responses and the fact that you changed the triage and labels I though you were a maintainer @longwuyuan.

I am not intending to sound too harsh or pedantic, but I have to point out that I believe this entire conversation has actually made the maintainers work harder, because they now have to go through this entire thread of dealing with your misunderstanding, and me and @r0bob

[2021-04-23 15:41] longwuyuan commented on #7047
ok

[2021-04-23 15:42] Jell commented on #7047
/remove-kind feature

[2021-04-23 15:47] LeducH commented on #7071
/kind support

[2021-04-23 16:01] longwuyuan commented on #7047
You might want to check "endpoints" instead of addresses.

[2021-04-23 16:14] longwuyuan commented on #7071
so you can see it is servicetype nodePort and not service type LoadBalancer.

Since it is a k3s cluster, maybe you can open issue there and close this one.

If you delete the ingress-nginx-controller that you have installed. Then reboot cluster. And then install ingress-nginx-controller using a helm chart, you may get a svc of type LoadBalancer with ipaddress assigned by Metallb

Update here

/rem

[2021-04-23 16:30] LeducH commented on #7071
Well when you look into the yml
https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.45.0/deploy/static/provider/baremetal/deploy.yaml

you can see it is defined as `NodePort`. This is the yml from the guide https://kubernetes.github.io/ingress-nginx/deploy/#bare-metal  what would mean that it is a not k3s mistake.

/kind support

[2021-04-23 16:36] longwuyuan commented on #7071
Yes that yaml creates serv type nodePort.

But kubernetes needs servicetye LoadBalancer to assign a externalIP from the pool in Metalllb.

Learn how to change servicetype nodePort to service type LoadBalancer from docs.

Or do what I suggested which is uninstall and reinstall using helm chart because helm chart creates service type LoadBalancer by default.

Or close this issue and create issue in

[2021-04-23 16:40] longwuyuan commented on #7071
And I suggest stop creating issues just because you have not read the docs or used k8s for long time. It wastes time. Use the kubernetes.slack.com for support if you want more people to see your questions and more people to be abel to answer your questions.

[2021-04-23 17:01] LeducH commented on #7071
Well, I just followed the guide and the author should state that I have to change a nodeport to a load balancer. And since there is nothing there it is valid to ask for clarification.   have you even read the guide? Because if you had then you would see that I followed everything by the word.

You act like some big shot but your carelessness is evident. The info you requested https://github.com/ku

[2021-04-23 17:11] longwuyuan commented on #7071
This is the 3rd issue you have opened without reading the docs so I was hoping you will solve your problems on slack where more people can be reached

[2021-04-23 18:20] jaimehrubiks opened #7072 "Adding an ingress with the "host" field set, breaks all others without it"
Not sure if I am missing something or this is a bug.

I tried this in a lot of environments: onprem/cloud, kube 15/16/17, multiple versions of ingress-nginx (including some old ones from the stable helm repo), basically I see this everywhere.

**NGINX Ingress controller version**: 3.29.0 (and 2.16.0)

**Kubernetes version** (use `kubectl version`): v1.18.10 (and v1.15.3)

**Environment**:

- **Clo

[2021-04-23 19:18] carnei-ro opened #7073 "Rate-Limiting and Custom Lua Plugin"
Is it possible to configure my Lua plugin to be executed before the rate-limiting?
I want to set a header with my Lua plugin and use this header as a Key for rate limiting.

[2021-04-23 19:32] LeducH commented on #7071
In side the [deploy.yml](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.45.0/deploy/static/provider/baremetal/deploy.yaml) the Service is defined as `NodePort` it has to be changed to `LoadBalancer`. Then the nginx ingress will run as load balancer.

[2021-04-23 19:32] #7071 closed

[2021-04-23 19:44] carnei-ro commented on #7073
I customized my `/etc/nginx/template/nginx.tmpl`:

From:
[code]

To:
[code]

It is working, but I am not sure if it is ok...

[2021-04-23 23:38] bstrdsmkr commented on #6495
Please /repoen as this is still affecting published helm charts (for better or worse). See Alfresco/acs-deployment#460 for example

[2021-04-24 02:12] longwuyuan commented on #7072
What are the curl requests that fail ?

[2021-04-24 02:12] longwuyuan commented on #7072
/remove-kind bug
/triage needs-information

[2021-04-24 02:19] longwuyuan commented on #7073
/remove-kind support
/kind design

[2021-04-24 05:57] nwaistd commented on #7025
@longwuyuan Oh, I mean about TCP metrics, why can't get TCP metrics and how to get them.

I set up ingress-controller(nlb) and prometheus in AWS EKS cluster. (k8s v1.19) as guided in the link.
(added port 10254 in ingress-controller service and deployment)
[code]
As you can see, all target labels are set to dropped.
<img width="1273" alt="Screen Shot 2021-04-24 at 2 49 56 PM" src="https://user-ima

[2021-04-24 07:23] Indamutsa commented on #3762
I spend literally a day with this problem. The problem was simply the wrong nginx installed. I used helm found [here](https://kubernetes.github.io/ingress-nginx/deploy/) to install nginx-ingress

Install it, please use helm version 3:

    helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
    helm repo update

    helm install ingress-nginx ingress-nginx/ingress-nginx

Once ru

[2021-04-24 10:43] longwuyuan commented on #7025
@nwaistd did you install as per https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/ ?

[2021-04-24 13:51] Pezhvak commented on #1823
@carldanley it would be great if you share your solution with us, thanks 🙏🏻

[2021-04-24 14:03] jaimehrubiks commented on #7072
@longwuyuan, You are right, I am missing some details, let me add this section. I will keep it plain and simple

**How to reproduce it**:

Step 1) Install nginx-ingress

    helm install ingress-nginx ingress-nginx/ingress-nginx --version=3.29.0

Step 2) Run a pod and service

    kubectl run nginx --image=nginx:latest --port=80 --expose

Step 3) Port forward in a separate tab

    kubectl port-fo

[2021-04-24 15:11] longwuyuan commented on #7072
Would you be able to show logs from the ingress-nginx-controller-pod in a very very precise and specific elaboration ? If yes, I can write the steps

[2021-04-24 15:36] jaimehrubiks commented on #7072
Sure,

Step 1-3) Install Ingress

[code]

Step 4) Add ingress without host

[code]

Some additional periodic logs:

[code]

Step 5) Curl command on ingress | curl -H "Host: company.domain.com" http://127.0.0.1:8000/my-app-1

    127.0.0.1 - - [24/Apr/2021:15:29:47 +0000] "GET /my-app-1 HTTP/1.1" 200 612 "-" "curl/7.64.1" 90 0.003 [default-nginx-80] [] 10.42.1.18:80 612 0.003 200 5f3e0bfd82ab2c7cfc

[2021-04-24 16:10] longwuyuan commented on #7072
Thanks. This helps.
My opinion is below.
All traffic was processed using path.
But when you added one ingress with host spec, then all traffic is matching that new ingress only because you are sending host header in your request, that matches that new ingress object.

There is also a second level of complication.
You have a rewrite-target annotation with value as /$2.

[2021-04-25 00:16] vsxen opened #7074 "support Multi-cluster Ingress"
such as:
https://cloud.google.com/kubernetes-engine/docs/concepts/multi-cluster-ingress
use crd
[code]
or generate nginx conf with backend in multi cluster？

/kind feature

[2021-04-25 03:00] tonglv commented on #5932
kubectl apply -f  https://github.com/kubernetes/ingress-nginx/tree/master/deploy/static/provider/baremetal/deploy.yaml

[root@ck8s1 ingress]# kubectl describe pod/ingress-nginx-controller-7b78df5bb4-xrhsm -n ingress-nginx
Name:           ingress-nginx-controller-7b78df5bb4-xrhsm
Namespace:      ingress-nginx
Priority:       0
Node:           ck8s2/192.168.43.152
Start Time:     Fri, 23 Apr 2021 14

[2021-04-25 03:32] tonglv commented on #7043
onditions:
  Type              Status
  Initialized       True
  Ready             False
  ContainersReady   False
  PodScheduled      True
Volumes:
  webhook-cert:
    Type:        Secret (a volume populated by a Secret)
    SecretName:  ingress-nginx-admission
    Optional:    false
  ingress-nginx-token-gfcph:
    Type:        Secret (a volume populated by a Secret)
    SecretName:  ingress-ngi

[2021-04-25 04:39] longwuyuan commented on #6981
/remove-kind support
/triage needs-information

[2021-04-25 04:44] longwuyuan commented on #6967
Does this give you hints to use your own log format https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/log-format/

/remove-kind support
/triage needs-information

[2021-04-25 04:53] longwuyuan commented on #6966
What does this mean ?
[code]

Show ;
[code]

/remove-kind support
/triage needs-information

[2021-04-25 07:01] longwuyuan commented on #6965
@wahammed Would you be able to remove all the timeout and size annotations and report what happens.

[2021-04-25 07:03] longwuyuan commented on #6965
/remove-kind support
/triage needs-information

The idea is to know the root cause of closing connection using timeout settings based on logs and maybe changing log-format to show time taken to process etc

[2021-04-25 07:07] longwuyuan commented on #6964
Hi,

Can you please try to install using the steps mentioned in the official documentation and update what happens.

/remove-kind support
/triage needs-information

[2021-04-25 07:10] longwuyuan commented on #6961
any update ?

/remove-kind support
/triage needs-information

[2021-04-25 07:12] longwuyuan commented on #6958
any update ?

/remove-kind support
/triage needs-information

[2021-04-25 07:37] longwuyuan commented on #6954
Your rewrite annotation will change all requests to request / and I am not sure you want that .
any update ?
/remove-kind support
/triage needs-information

[2021-04-25 07:39] longwuyuan commented on #6952
/remove-kind support
/kind documentation

[2021-04-25 07:40] longwuyuan commented on #6949
/remove-kind support
/kind documentation

[2021-04-25 07:47] longwuyuan commented on #6947
Please show the manifest where you have configured this annotation .

Also show ;
[code]

/remove-kind support
/triage needs-information

[2021-04-25 07:54] longwuyuan commented on #6946
Please provide more data like ;
- What happens if you _telnet to \<host spec\> 80_
-

[2021-04-25 07:57] longwuyuan commented on #6946
/remove-kind support
/triage needs-information

[2021-04-25 08:22] longwuyuan commented on #6941
I think we have to rule out that there was no other reason because at least letsencrypt provides a fullchain file for use in manually creating certificate.

Can you kindly fill in more details like exactly where you obtained the certificate from and what files shipped with the bundle you got.

Does this occur if you try letsencrypt as well etc.

/remove-kind support
/triage needs-information

[2021-04-25 12:47] biqas commented on #6958
Hi,

I have done some adjustments, but still having issues.
Adjustment made:
- multiple replicas
- dedicated nodes

to have multiple ingress controller deployments with different ingress.class annotations, this involves lo of complexity how then to maintain the domains per ingress.class controller and all other related logic.

What I have observed so far is,
1. if you have multiple replicas the ex

[2021-04-26 00:45] encryptblockr commented on #7016
why isn't this a default feature?!?

unbelievable

[2021-04-26 01:02] nwaistd commented on #7025
@longwuyuan yes

[2021-04-26 03:41] longwuyuan commented on #7025
@nwaistd so you installed as per docs and not only TCP metrics but other metrics that are supposed to be visualized in grafana are also not working ?

[2021-04-26 03:51] longwuyuan commented on #7016
Because this is a ingress-controller and NOT really a  "internal-only-ingress-controller"

[2021-04-26 06:10] nwaistd commented on #7025
@longwuyuan yes

I installed with just these three commands.

[code]

All targets are dropped.
So can't import sources from prometheus
<img width="1298" alt="Screen Shot 2021-04-26 at 3 09 15 PM" src="https://user-images.githubusercontent.com/29256996/116036266-60dd6680-a6a1-11eb-9e43-bbf21ce146b4.png">

[2021-04-26 06:41] longwuyuan commented on #7025
Can you come on slack and discuss this ?

[2021-04-26 11:03] MisterTimn opened #7077 "Random timeouts on ingress paths when using Nginx, no issue with Traefik"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`): 1.21.0 (also tested 1.19 and 1.20)

**Environment**:

- **Cloud provider or hardware configuration**: 1 master, 3 workers (also tested on single node cluster)
- **OS** (e.g. from /etc/os-release): 20.04.2 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-72-generic
- **Install tools**: kubeadm
- **Others**:

**What happ

[2021-04-26 14:45] #5948 closed

[2021-04-26 16:39] nagstaku commented on #6941
Yes, so I realized from examing Lets Encrypt full chain cert that it was "backwards", and I was trying to follow docs from GoDaddy to originally setup my cert with the keys in the wrong order. Someone actually [answered back](https://github.com/openssl/openssl/issues/14470#issuecomment-793681921) on the behavior in openssl with such:

So, this all appears to be expected behavior more or less. The

[2021-04-26 17:41] encryptblockr commented on #7016
not sure what you mean here
so should it be public ONLY ingress controller then?
we are asking to be able to create both only internal and only public depending on needs..currently it is not the case..the internal only comes bundled with public still

bitnami ingress controller solves this and i have moved to using that

[2021-04-26 19:45] #5944 closed

[2021-04-27 00:53] longwuyuan commented on #7077
Hello @MisterTimn ,

I was not able to reproduce the problem. Is there any chance that you can help by writing down the hardware/software/other specifications and a reasonable step by step process to reproduce this problem ?

/remove-kind bug
/triage needs-infomation

[2021-04-27 00:54] longwuyuan commented on #7077
/triage needs-information

[2021-04-27 03:59] longwuyuan commented on #7048
/remove-kind bug
/triage needs-information

datadog-collector-host: datadog-agent.default.svc.cluster.local

1. Can you show the ConfigMap as is in the cluster state using the command `kubectl -n <namespace> get cm <configmapname> -o yaml`
2. What happens if you use fqdn instead of ipaddress for datadog-collector-host

[2021-04-27 04:07] longwuyuan commented on #7037
/remove-kind bug
@daninthewoods Please close the issue. Thanks

[2021-04-27 04:12] vagdevik commented on #5401
I fixed this by using:

`kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission`

[2021-04-27 04:16] longwuyuan commented on #7034
/remove-kind bug
/triage needs-information

[2021-04-27 04:22] longwuyuan commented on #6988
/remove-kind bug
/triage needs-information

Please show ;
- kubectl get all -A -o wide
- kubectl -n <namespaceofingresscontroller> logs <ingresscontrollerpod>

[2021-04-27 04:26] longwuyuan commented on #6973
@rinini , did you get a chance to try the server snippet as commented by @stoehdoi  ?
/remove-kind bug
/triage needs-information

[2021-04-27 04:29] longwuyuan commented on #6972
/remove-kind bug
/triage needs-information

Can you please show ;
- kubectl -n <ingresscontrollernamespace> get all -o wide
- kubectl -n <ingresscontrollernamespace> get events -o wide
- kubectl -n <ingresscontrollernamespace> logs <ingresscontrollerpodname>

[2021-04-27 07:18] chris-ng-scmp commented on #6291
Have the same issue since upgraded to v0.44.0

![image](https://user-images.githubusercontent.com/2509212/116201157-c7c75200-a76b-11eb-85ef-dce073035684.png)

[2021-04-27 08:23] MisterTimn commented on #7077
Easiest to reproduce I think is in the single node test

Ubuntu 20.04.2, kernel 5.4.0-72-generic (swapoff etc.)

Install CRI-O, with systemd cgroup driver (https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cri-o), version 1.21.0
Install kubeadm and kubelet v 1.21.0

Init cluster using kubeadm (tested with both calico/flannel) and install CNI of choice, e.g. flannel:
[code

[2021-04-27 09:26] longwuyuan commented on #7077
Having a nginx reverseproxy in front of ingress-nginx-controller is neither supported nor tested and is some kind of a rare special  use-case. It is not even a documented or supported architecture by kubernetes.io .

Please try to reproduce with AWS/GCP/Azure/DO/Metallb or try to send requests directly to the NodePort.

[2021-04-27 11:26] utamas commented on #7016
I was struggling recently with internal load balancers as well.

Let me check if I understand correctly what you are trying to achieve: You would like to use `ingress-nginx` in a way that it is only listens on a private IP address (which I assume is available when connected to a VPN) and is not accessible on the public internet at all, right?

You can do this. The exact details depend on your clou

[2021-04-27 11:31] utamas commented on #7016
for some other cloud providers you can find the appropriate annotations at https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#additional-internal-load-balancer

I think this feature as is adds some confusion to the software. E.g.: In my use case I wanted to expose some services onto the public internet and I wanted to keep some of them private (protected by a VPN connecti

[2021-04-27 11:33] ejderdal commented on #6903
@holyhope any examples of mounting static pages into the default backend? inspecting the image k8s.gcr.io/defaultbackend-amd64 gives no clue how. It contains just a "server" binary as far as I can tell.

[2021-04-27 12:17] utamas opened #7079 "Internal load balancer service might be more exposed then expected"
**NGINX Ingress controller version**: 3.29.0

**Kubernetes version**:
[code]
**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): ubuntu 20.04
- **Kernel** (e.g. `uname -a`): `Linux helios 5.8.0-50-generic #56~20.04.1-Ubuntu SMP Mon Apr 12 21:46:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**: helm
- **Others**:

**What happene

[2021-04-27 12:54] Stono commented on #6896
Hey; as the segfaults are relatively infrequent - shouldn't we be working with data that's more readily accessible?  As I demonstrated above, we're able to observe a loosely double CPU usage between 0.42 and 0.44, it's not a huge leap to say that whatever is causing that additional load is only going to exacerbate config reloads (already a high CPU event).

[2021-04-27 13:04] jaimehrubiks commented on #7072
Hi @longwuyuan, a couple of questions,

1) Do you consider this a bug? I don't think the expect behavior is to disallow specific host and any host ingresses to live in the same cluster. If we check here
https://kubernetes.io/docs/concepts/services-networking/ingress/
It says "An optional host. In this example, no host is specified, so the rule applies to all inbound HTTP traffic through the IP add

[2021-04-27 13:04] sudeep1607 commented on #7016
@utamas The approach you have suggested works fine when we are doing it through helm directly. But when we are using terraform helm_release resource we don't have an option to play with values.yaml file.

[2021-04-27 13:12] AmitBenAmi opened #7080 "NGINX ingress creating endless core dumps"
**NGINX Ingress controller version**: `v0.41.2`

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS

**What happened**:
My NGINX ingress controllers started to created endless core dump files.
This started to fill up some of my nodes' filesystem, creating disk-pressure on them and started to evict other pods.
I do not h

[2021-04-27 13:20] MisterTimn commented on #7077
How so @longwuyuan? Isn't this the same as the setup described on nginx-ingress (self-provisioned edge)? https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#using-a-self-provisioned-edge

We just forward all traffic to the nodeports of nginx-ingress service from there.

[2021-04-27 13:23] ejderdal commented on #6903
Nvm. I think I found the source of this default image and it seems it is not made to support mounting static pages.
https://github.com/kubernetes/ingress-gce/tree/master/cmd/404-server

[2021-04-27 13:49] longwuyuan commented on #7016
@sudeep1607, you could talk in terraform forums for that. Or are you expecting a solution for terraform use case integration from this project.

[2021-04-27 14:07] longwuyuan commented on #7072
@jaimehrubiks , I don't think this is a bug.

One possible solution you can try, is to run a second ingress-nginx-controller with a unique ingressClass value like "hostbasedIngress" for example, and use this ingressClass in all ingress objects you create, that have a "host" spec in them.

But I am not sure how it will impact you.

[2021-04-27 14:26] nwaistd commented on #7025
@longwuyuan I opened a thread https://kubernetes.slack.com/archives/CANQGM8BA/p1619532483367100

[2021-04-27 14:28] longwuyuan commented on #7077
The text on that document is not particularly describing a nginx instance on the edge. Its merely says HAProxy can be an example.

The context now is it is user-managed hence  the performance is also user-managed hence the timeouts you are reporting is not clearly caused by ingress-nginx-controller but most likely by how the traffic is handled by the edge nginx.

I hope I get time to find the prec

[2021-04-27 14:40] MisterTimn commented on #7077
We already did this, directly to the nodeport, we experience the delays as well there, below some logs from timed curl statements:
[code]

The weird thing is that we have been running three clusters with similar setups for 2 years now without any issues and it's just this latest installment where we are running into trouble.

[2021-04-27 15:03] ccampo133 commented on #6647
Can confirm that this appears to be an issue.

[2021-04-27 15:17] sudeep1607 commented on #7016
@longwuyuan It's not something that can be handled at terraform as it's at HELM chart level templates. I think removing .Values.controller.service.enabled from the if condition in below mentioned line should work if that doesn't break anything else.

https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/controller-service-internal.yaml#L1

[2021-04-27 16:18] rittneje commented on #6728
/remove-lifecycle stale

[2021-04-27 16:27] rittneje commented on #6728
There are two bugs in play.

1. The nginx.conf template incorrectly only sets some of the proxy_ssl_* directives if there is a CA file:
https://github.com/kubernetes/ingress-nginx/blob/b3d20ff9aa6e441fc982f604bd01eee853f1374e/rootfs/etc/nginx/template/nginx.tmpl#L1347-L1354

2. If the `proxy-ssl-secret` annotation is missing it is incorrectly considered as fatal all all other proxy-ssl-* annotatio

[2021-04-27 22:04] VGerris commented on #187
thanks @vaslabs for the snippet. Any way to support regex in the location? I tried it but it does not seem to match, the services are associated though.
so I would like :
GET /api/v([0-9]+)/test
POST/api/v([0-9]+)/test
When I use that in the location, it does not seem to work.
Any solution is appreciated. Thanks for the linked CQRS ticket too, I made a comment.
Seems very useful to have HTTP verb

[2021-04-27 23:12] kpramesh2212 commented on #6393
/remove-lifecycle stale

[2021-04-27 23:14] kpramesh2212 commented on #6393
Hi

I am also facing the same problem unable to get mTLS working

`
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grpc-ingress-client
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "GRPCS"
    nginx.ingress.kubernetes.io/proxy-ssl-secret: "default/backend-tls"
    nginx.ingress.kubernetes.io/proxy-ssl-server-name: "on"
    nginx.ingress.kubernetes.io/proxy-ssl-

[2021-04-27 23:31] kpramesh2212 opened #7082 "mTLS is not working with nginx backend certificate authentication"
Dear team,

I have the following set up

A simple greeter grpc server application written in java.
TLS is enabled on the server side.
The server is configured to accept only connections from client which produce a valid certificate (mTLS)

The following ingress configuration works for perfectly fine

[code]

However when I try to terminate the TLS in the ingress and use backend certificate authent

[2021-04-28 00:28] NickyTope commented on #6812
We are still experiencing this issue and recommending the above "workaround".

We have found recently though that if you omit the `nginx.ingress.kubernetes.io/session-cookie-path: "/"` annotation altogether then it actually gets set as Secure!

This helps somewhat however we also have a situation where the cookie path requires a context other than "/" in that case we still have to set it to "/path

[2021-04-28 00:38] rittneje commented on #6728
Further testing reveals there is also a nasty bug in nginx itself. If you specify `proxy_ssl_verify on` but don't also specify `proxy_ssl_trusted_certificate`, nginx breaks and the configuration is no longer updated. I think that ingress-nginx should default to /etc/ssl/cert.pem if a specific one isn't requested.

[2021-04-28 00:43] rittneje opened #7083 "proxy_ssl_verify should be on by default"
By default nginx (and by extension ingress-nginx) does not verify the proxy server's TLS certificate unless you explicitly set the `proxy_ssl_verify on` directive. Consequently unless people happen to know of that directive's existence, or the corresponding ingress annotation (which is currently broken, see #6728), they have a security vulnerability.

I am filing this as a bug because it is a secu

[2021-04-28 05:22] longwuyuan commented on #7077
@MisterTimn , my thoughts below ;

(1) Its absolutely impossible for you to have tested this controller. Reasons are as follows ;

  - If you install the controller using the command `helm install nginx -n nginx nginx-ingress/nginx-ingress`, then this whole issue is moot, because that is not even a release of this project. The names being similar are confusing. You did not even install a release f

[2021-04-28 05:27] longwuyuan commented on #7016
You can clone and test in your cluster if it breaks anythinng.

[2021-04-28 06:53] MisterTimn commented on #7077
@longwuyuan
(1) I installed a release from this project most definitely, just didnt use the exact same name, to confirm the output of `helm repo list` contains the following entry: `ingress-nginx                   https://kubernetes.github.io/ingress-nginx`.

(2) I used the default install with the LoadBalancer type and while overriding the service type, when you set service to LoadBalancer it is

[2021-04-28 07:35] lijiansgit commented on #6291
same issue, v0.41.2、v0.45.0
![image](https://user-images.githubusercontent.com/18637692/116364972-5ead1080-a837-11eb-9e1c-375f73c80263.png)

[2021-04-28 07:38] bzon commented on #6291
I removed the owasp annotations on my ingresses  and the memory consumption issue is resolved.

[2021-04-28 08:57] longwuyuan commented on #7077
@MisterTimn , can you please show exactly this information as is with command and output, as is, in the same sequence as shown here ;
- date ; hostname ; helm ls -A
- date ; hostname ; kubectl get all,nodes,ing -A -o wide
- date ; hostname ; kubectl -n <ingresscontrollernamespace> logs <ingresscontrollerpodname> | tail -8
- date ; hostname ;  time <your curl command>
- date ; hostname ; kubectl -n

[2021-04-28 09:02] MisterTimn commented on #7077
`date ; hostname ; kubectl -n logs | tail -8`
I guess some of this command is missing? What logs are you intending? I dont have a logs namespace.

Here is the output of the first two commands, I did launch these commands from my local machine (I dont install helm on the cluster nodes).

[code]

[2021-04-28 09:04] longwuyuan commented on #7077
I fixed the md syntax on the commands. Please check

[2021-04-28 09:10] longwuyuan commented on #7077
sorry for trouble .. please look at commands list ... delete your previous post of that data .. and kindly re-post all those commands and outputs one more time

[2021-04-28 09:15] longwuyuan commented on #7077
I can already see a problem You have 2 controller pods and one is in crashlopbackoff and you are expected to have only 1 pod as the controller is isntalled as a deployment and not a daemonset.

[2021-04-28 09:16] longwuyuan commented on #7077
I think we can make faster progress if you close this issue and come on kubernetes.slack.com channel ingress-nginx

[2021-04-28 10:13] tokers commented on #6816
@gsxmax the Nginx directive `http2_max_field_size` is used to limit the total size of the HEADER frame (and the CONTINUATION frame). Once Nginx got a HEADER frame which payload size is larger than the value specified in `http2_max_field_size`, the HTTP/2 connection will be closed.

I'm not sure why a smaller value will help to mitigate the problem but have you ever try to associate it with the flo

[2021-04-28 10:15] tokers commented on #7083
Hi, it might be a broken change to enable it by default, I think detailed discusses are required :).

[2021-04-28 10:20] tokers commented on #7082
@kpramesh2212 Hi,

From the ingress config that you provided, the configured SSL cert and priv key are specified to the same file.

![image](https://user-images.githubusercontent.com/10428333/116388412-64fab700-a84e-11eb-9626-5382a098bdf7.png)

Have you ever checked the content of the `default/backend-tls` secret.

[2021-04-28 10:23] tokers commented on #7080
Seems that we don't have a mechanism to change the `worker_rlimit_core` directive, we may add this feature, what's your idea?

[2021-04-28 10:47] AmitBenAmi commented on #7080
That sounds good on its own, however, it won't make NGINX to create less core dumps, meaning that if I restrict it to 2MB, it can still create thousands of these dumps and still explode my filesystem (unless I set it to 0, meaning that no core dumps will be created, in which case I'm ignoring the problem rather noticing it exists)

[2021-04-28 12:50] kpramesh2212 commented on #7082
@tokers

Hi,

Thanks a lot for looking into the issue.

Please find my attached Secret

[code]

[2021-04-28 13:48] tokers commented on #7082
@kpramesh2212 Please ignore the last reply, this is the deliberate behavior. Have you ever tried to access your backend service with this client cert and priv key?

[2021-04-28 13:54] tokers commented on #7082
Also, I have get insight of your TLS Cert, and I found both the CommonName and SANs in your cert are`*.reev.grpc`, while the SNI you passed is `greeter1.default.svc.cluster.local`, they are mismatched. So it's your backend service who rejects the SSL handshaking.

![image](https://user-images.githubusercontent.com/10428333/116415714-3ee40f80-a86c-11eb-810f-e86e986e164e.png)

[2021-04-28 13:56] tokers commented on #7080
That's like an internal bug of OpenSSL, it's difficult to troubleshoot it as the debug symbols were stripped. We may wait for a while and see whether somebody has some similar experiences, which might be useful.

[2021-04-28 14:55] longwuyuan commented on #7080
would you be interested in showing what your cluster looks like with ;
[code]

[2021-04-28 15:09] kpramesh2212 commented on #7082
@tokers

Still the same issue  my updated ingress is

[code]

[2021-04-28 15:14] AmitBenAmi commented on #7080
@longwuyuan I don't want to expose that kind of information on my environment.
If there is something more specific to this I can maybe share it, but this is a lot of information.
I can say that my ingress pods didn't terminated, only created significant amount of core dumps

[2021-04-28 15:46] longwuyuan commented on #7080
Maybe write very clear details about hardware, software, config and the list of commands etc that someone can execute, for example on minikube, to be able to reproduce this problem

[2021-04-28 15:58] luciamota opened #7085 "Vunerability CVE-2021-30139 on apk-tools"
**NGINX Ingress controller version**:
controller v0.45.0

**Environment**:
Docker image k8s.gcr.io/ingress-nginx/controller

**What happened**:
Security tool scanned the k8s.gcr.io/ingress-nginx/controller docker image and found the following CVE: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-30139

/kind bug

[2021-04-28 16:26] AmitBenAmi commented on #7080
I have no idea how to reproduce this.
My hardware is EKS (AWS EC2).
NGINX docker image is: `v0.41.2`

About configuration, I have thousands of ingresses that populate `nginx.conf` automatically with hundreds of location and other nginx configurations.

Any idea how can I export a full dump interpretation on this to maybe help understand the problem?

[2021-04-28 16:28] longwuyuan commented on #7085
Copy paste the report here please. Make sure to show the complete and full image repo and tag. Grype is not catching it for some reason ;
[code]
/remove-kind bug
/triage needs-information

[2021-04-28 16:37] longwuyuan commented on #7085
@rikatz , cc and taking liberty to label priority because of CVE

I think not needed because CVE says 2.12.5 needed and controller version 0.45.0 has apk-tools v 2.12.4.-r2 ;
[code]
/priority critical-urgent

[2021-04-28 16:39] longwuyuan commented on #7085
/assign @rikatz

[2021-04-28 16:40] longwuyuan commented on #7085
/remove-triage needs-informationn

[2021-04-28 16:41] longwuyuan commented on #7085
/remove-triage needs-information

[2021-04-28 18:35] markrowsoft commented on #5894
Was this issue resolved for Big Sur ?

[2021-04-28 19:28] ecktom commented on #5609
/remove-lifecycle stale

[2021-04-28 23:06] alice-sawatzky commented on #6597
This issue still remains. Note that this doesn't just affect HSTS preloading, it's also a major security risk! Since the client is never directed to the HTTPS version of the original URL (and thus also never exposed to the HSTS header for the original URL), it will visit the plain HTTP version of the original URL every time the user types it into their address bar, making an easy target for sslstr

[2021-04-29 02:09] tokers commented on #7082
Have you tried to access your backend service by `curl` or `wget` tools and carry this cert.

[2021-04-29 03:59] #6394 closed

[2021-04-29 04:09] rittneje commented on #7083
I agree that it should be considered a breaking change as far as the release notes go. But regardless, I think it is a very necessary change. I certainly did not have expected to need to explicitly enable security checks such as this.

[2021-04-29 04:31] longwuyuan commented on #7083
Can you provide the code/script to exploit this vulnerability ?

[2021-04-29 04:43] rittneje commented on #7083
@longwuyuan This is a man-in-the-middle attack vector. Basically, if a malicious actor is able to intercept the communication between nginx and the upstream server, they can just send back their own certificate and complete the handshake. The way to prevent such an attack is to both (1) verify the server's certificate is signed by a legitimate CA, and (2) verify that the server's certificate has a

[2021-04-29 04:43] longwuyuan commented on #7080
not every AWS EKS user is reporting the same behaviour. There was one other issue reported stating core dumps. The best thought on that was to spread load. Any chance the problem is being caused by your use case only ?

/remove-kind bug
/triage needs-information

[2021-04-29 06:32] pgs-progress commented on #3717
I'm also trying to setup canary ingress with session affinity and have the same issue. Any update on this?

[2021-04-29 07:10] chris-ng-scmp commented on #6291
I have no owasp enabled at all, seems it's not the root cause :(

[2021-04-29 07:53] AmitBenAmi commented on #7080
I double-checked and the load isn't different or suddenly too immense.
![Screen Shot 2021-04-29 at 10 52 10](https://user-images.githubusercontent.com/25465780/116518488-f57dd980-a8d8-11eb-9c5f-148f22db8594.png)

I guess it is probably an error with something in my environment and not necessarily a bug in NGINX, but my nginx.conf consist of thousands of lines, @longwuyuan  do you have any idea on

[2021-04-29 08:09] longwuyuan commented on #7080
You could be hitting a limit or memory violation, hard to tell which until the core backtrace is explicit.
Your earlier post shows '?' symbol in gdb and then it shows crypto and then libssl. I am not even a develr so can't help but I thought w someone say elsewhere, that '?' means you are sing symbols. And then crypto/ssl could mean all your TLS config was coming into play and nginx could not hand

[2021-04-29 08:54] kpramesh2212 commented on #7082
@tokers

Yes I did access the backend service and it worked with the backend cert

Here are my steps

1. deployed the app
2. deployed the service

3. Deployed the following ingress (I used this ingress so that I can by pass my backend-tls cert straight from client to the server for tls termination)

[code]

4.   I accessed the grpc service using bloomrpc - it worked perfectly fine.
     ***I did n

[2021-04-29 09:16] MisterTimn commented on #7077
@longwuyuan I got a clean cluster and performed the commands you asked for. Thought it best to re-open this issue and provide the information here

Also provided some info on the web backend I deployed and how I deployed ingress controller

## Install nginx ingress
`helm install nginx ingress-nginx/ingress-nginx --set controller.service.type=NodePort --set controller.service.nodePorts.http="30087"

[2021-04-29 10:13] zekth commented on #6812
Definitely looks like a bug to me.

[2021-04-29 11:58] juusujanar commented on #7082
I am running a similar Go application (though basic HTTPS), that requires client certificate authentication and so I have configured SSL passthrough. I ran into similar issue when I upgraded from v1beta1 API to v1. Reverting back to v1beta1 fixed my issue for the time being.

Port-forward to the service is fine, I can authenticate without issues. When I try to connect to the public endpoint with `

[2021-04-29 12:18] Alaguayyappan opened #7087 "Yaml file not reachable in the browser and Ingress Nginx server timeout in the terminal."
When pasted the below link in the browser and pressed enter, the yaml file not getting render and site is not reachable

https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.45.0/deploy/static/provider/cloud/deploy.yaml

![image](https://user-images.githubusercontent.com/66672593/116549281-e9af0900-a912-11eb-8f98-f116121ca877.png)

kubectl apply -f https://raw.githubusercontent

[2021-04-29 14:22] rikatz commented on #2003
/kind feature
/needs-triage

[2021-04-29 14:22] rikatz commented on #2003
/label needs-triage

[2021-04-29 14:31] rikatz commented on #6877
/close

Just answering about the apiVersion anyway, it's decided by the apiServer (api preferred version). As far as I remember, ingress/v1 will turn default in v1.20 or v1.21 so all objects will be this version instead of v1.21

If you need, just reopen the issue

[2021-04-29 14:32] #6877 closed

[2021-04-29 14:33] rikatz commented on #7087
hello.

From my computer it worked. I've also tried from a cloud provider machine (remote) which worked as well.

Please check if this is not some filter being applied to your network

/close

[2021-04-29 14:34] #7087 closed

[2021-04-29 14:35] rikatz commented on #6922
hello,

we're closing support requests in this repo, and keeping this as bugs and features tracking.

Please ask in slack/stackoverflow/discuss where probably more people will get eyes into it and answer correctly!

Thank you very much!
/close

[2021-04-29 14:35] #6922 closed

[2021-04-29 14:36] rikatz commented on #6927
Hello,

we're closing support requests in this repo, and keeping this as bugs and features tracking.

Please ask in slack/stackoverflow/discuss where probably more people will get eyes into it and answer correctly!

Thank you very much!
/close

[2021-04-29 14:36] #6927 closed

[2021-04-29 14:37] rikatz commented on #6833
hello,

we're closing support requests in this repo, and keeping this as bugs and features tracking.

Please ask in slack/stackoverflow/discuss where probably more people will get eyes into it and answer correctly!

Thank you very much!
/close

[2021-04-29 14:38] #6833 closed

[2021-04-29 14:40] rikatz commented on #6714
hello,

we're closing support requests in this repo, and keeping this as bugs and features tracking. @aledbf also gave the answer previously, about missing the Host Header in curl

Please ask in slack/stackoverflow/discuss where probably more people will get eyes into it and answer correctly!

Thank you very much!
/close

[2021-04-29 14:40] #6714 closed

[2021-04-29 14:40] rikatz commented on #6770
hello,

we're closing support requests in this repo, and keeping this as bugs and features tracking.

Please ask in slack/stackoverflow/discuss where probably more people will get eyes into it and answer correctly!

Thank you very much!
/close

[2021-04-29 14:41] #6770 closed

[2021-04-29 14:42] rikatz commented on #3717
yup.

/reopen

[2021-04-29 14:44] rikatz commented on #6763
/close

[2021-04-29 14:44] #6763 closed

[2021-04-29 14:46] rikatz commented on #6155
Hey,

anyone willing to implement this? Any help would be appreciated

Thanks!

[2021-04-29 16:36] Alaguayyappan opened #7089 "Yaml link for docker for mac/windows not opening"
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.45.0/deploy/static/provider/cloud/deploy.yaml

For me and my friends the above link is not opening.

Tried to open through both wifi and mobile data.

Kindly provide your immediate support on this issue please.

I can't run the command in my system terminal and also unable to open the link in the browser.

Is

[2021-04-29 16:55] rikatz commented on #7089
@Alaguayyappan on your previous issue I told you it is working, I've tested again and it's working.

I kindly ask you to direct this request someone in your networking to verify for possible filters.

Se again the tests here:

* From my home
[code]

* From a machine in the cloud
![image](https://user-images.githubusercontent.com/7182341/116588894-75fd0400-a8f2-11eb-8c24-026e814cc949.png)

* And a

[2021-04-29 16:56] #7089 closed

[2021-04-29 16:59] rikatz commented on #7083
I agree this is a breaking change that can lead to a lot of problems, if the backend server uses, for example a self signed certificate which the Cert Authority is unknown from Ingress/Nginx side.

I also don't think this is a bug, but an improvement as this is the default behavior of nginx as well.

We can maybe consolidate the ssl issues into an umbrella issue, about what can be improved and pro

[2021-04-29 18:20] rikatz commented on #7050
Ingress NGINX needs to write on its own filesystem.

It downloads the certificates from secrets and write them as files that can be read by the daemon, so you cannot have ReadOnly filesystem

Also, as the nginx.conf configuration file is dinamically generated from ingress objects, configmaps, etc it should also be possible to write on the filesystem

Please run the ingress with read/write permissi

[2021-04-29 18:21] #7050 closed

[2021-04-29 20:36] strongjz commented on #7002
/triage needs-information

[2021-04-29 20:39] strongjz commented on #6664
/kind feature

[2021-04-29 20:42] strongjz commented on #5970
/triage needs-information

[2021-04-29 20:46] strongjz commented on #4763
/kind feature

[2021-04-29 20:46] strongjz commented on #4760
/kind feature

[2021-04-29 20:51] strongjz commented on #4621
/kind bug

[2021-04-29 20:54] strongjz commented on #3717
/kind bug

[2021-04-29 20:59] strongjz commented on #6849
/needs-kind

[2021-04-29 21:38] rittneje commented on #7083
With regards to that, I think the big issue is that currently ingress-nginx conflates the cert and key for mTLS with the CA used to verify the server under one annotation: proxy-ssl-secret. These two things have nothing to do with each other. There should be two separate annotations - one for the CA (which could even just be a config map rather than a secret), and one for the client cert/key secre

[2021-04-30 00:04] #6543 closed

[2021-04-30 01:13] zryfish opened #7090 "Support for watching multiple namespaces with a namespace labelSelector"
The [watch-namespace](https://github.com/kubernetes/ingress-nginx/blob/master/cmd/nginx/flags.go#L89) flag only supports a single string namespace value or an empty value that maps to all namespaces.

This is a similar issue: https://github.com/kubernetes/ingress-nginx/issues/5293, but it proposes using regex to match multiple namespaces not easy to achieve by client-go. It will be easier with a n

[2021-04-30 02:24] wgqkirk commented on #5932
still happend in v0.45.0,somebody help

[2021-04-30 03:19] zhaogaolong opened #7091 "perf: The number of services increases the latency of p95 p99 requests"
##  environment

Kubernetes version: 1.17.3
Ingress-nginx version: 1.42
Ingress-nginx resouece config: 8C 16G
kubernetes service total：3k ~ 6k

Banchmark command: `./wrk2 -t2 -c10 -d180s -L -R2000 -H 'Host: domain' http://POD_IP`

| Description                  | P75    | P95       | P99      |
| ---------------------------- | ------ | --------- | -------- |
| connect my app pod ip        | 1.80ms

[2021-04-30 06:37] wahammed commented on #6965
I did made this change but I don't see any change in logs so far. @longwuyuan

[2021-04-30 07:12] muffl0n opened #7094 "Documentation "TLS/HTTPS" has a misplaced word"
In https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/tls.md under "Default SSL Certificate" it says

It feels like "without" is misplaced here. [ec56200e](https://github.com/kubernetes/ingress-nginx/commit/ec56200ee021fca15ee8fbd891de6a687b4e758a#diff-e549e60e491be9fcee7847f3d8e2cd74e49bd8ad1c0d2d13b77b1a13464b3555L32) seems to have introduced it when it changed the sentence

[2021-04-30 09:40] ak2766 commented on #5997
Thank you this writeup @momon - it saved me from a headache when using `bitnami/wordpress` which suffers from the same issue.  However, I went the route of rewriting the URL as I could not find a way to change the apache configuration in the wordpress image that Bitnami is using.

[2021-04-30 09:42] tokers commented on #6965
That might be caused by your slow clients, which produced cascading influences. Since the client is slow, the upstream buffer cannot be reused in time and ultimately it's filled, in such a case, your backend service cannot send data to Nginx continuously and trigger the timeout threshold, then it closes the connection.

[2021-04-30 09:50] tokers commented on #7091
Are there any doubtful error logs when you doing the stress test for ingress-nginx?

[2021-04-30 16:45] ubergesundheit opened #7096 "Duplicate nginx configuration validation"
For people with enabled admission controller, it looks like `nginx -t` in run twice. First
[`CheckIngress`] is [called by the admission controller](https://github.com/kubernetes/ingress-nginx/blob/main/internal/admission/controller/main.go#L89) which then calls [`testTemplate`].
[`OnUpdate`] calls [`testTemplate`] directly once again in the controller.

My untested suggestion would be to add a che

[2021-04-30 17:09] kayrus opened #7097 "502 error on deployment rolling update"
**NGINX Ingress controller version**:

v0.35.0

**Kubernetes version** (use `kubectl version`):

v1.15.9

**Environment**:

- **Cloud provider or hardware configuration**: openstack
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

the deployment rolling update causes `502 Bad Gateway` during load tests (2-3 requests per s

[2021-04-30 21:38] carnei-ro opened #7099 "Rate Limit Ignore HeaderName/HeaderValue combination"
I would be able to do not apply rate limit when a particular header be present with a particular value.
I mean, imagine I have the header `x-user-role` and valeu `admin`. For this particular request, I would be able to ignore the rate limit.

I have tweaked the `ignore-cidrs` to `ignore-header` just as a PoC. The solution is totally a hack. It expect a comma separated list, the first position is t

[2021-05-01 02:14] #6513 closed

[2021-05-01 05:25] rwaweber commented on #6291
I've noticed similar behavior at request rates above 20k requests per second retaining well over 20GB+ of memory while running(and several hours after) a load test with [hey](https://github.com/rakyll/hey) which ran for around 15 minutes. This was with a single client AWS EC2 of size `m5a.xl`and an AWS EKS cluster with 4 worker nodes of size `m5a.2xl` and a single ingress.

Doing a little digging

[2021-05-01 08:47] shantanuchaudhary24 opened #7102 "Not able to set the default TLS secret for nginx controller"
**NGINX Ingress controller version**: v0.46.0 nginx/1.19.6

**Kubernetes version** (use `kubectl version`): v1.19.9

**Environment**:Pre-production

- **Cloud provider or hardware configuration**: Azure Kubernetes Service
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Ingress setup should use the configured TLS secret fo

[2021-05-01 20:22] #6562 closed

[2021-05-01 20:22] #6563 closed

[2021-05-02 01:52] VengefulAncient opened #7103 "SSL errors with from-to-www-redirect (ERR_CERT_AUTHORITY_INVALID/MOZILLA_PKIX_ERROR_SELF_SIGNED_CERT)"
**NGINX Ingress controller version**: v.0.44.0

**Kubernetes version** (use `kubectl version`): v1.19.9-gke-1400

**Environment**:
- **Cloud provider or hardware configuration**: GKE
- **Install tools**: Helm v3
- **Others**: certificates are issued by `cert-manager`

**What happened**:

Essentially the same issue as in #5675 except we're trying to redirect from `www.` to naked domain and not the

[2021-05-02 02:04] VengefulAncient commented on #2043
I am not sure how it works for you, because I'm using the exact same configuration (`www.` domain in TLS but not in rules) and I'm still experiencing this issue. Opened #7103 in case this is outdated/different/forgotten, but it's clearly the same problem - SSL redirect precedes `from-to-www-redirect` seemingly resulting in a non-existing backend being requested.

[2021-05-02 17:28] #6567 closed

[2021-05-02 17:57] shantanuchaudhary24 commented on #7102
I was able to figure this out. I needed to supply the setting --set controller.extraArgs.default-ssl-certificate=<namespace>/<tls-secret-name> in the helm chart. I was able to figure this out after reading code in the repository.

[2021-05-02 17:57] #7102 closed

[2021-05-03 03:03] tokers commented on #7103
@VengefulAncient Would you like to output the result of `openssl x509` with feeding your certificate? We need to get insight of the SANs and Common Name.

[2021-05-03 03:08] kolorful commented on #6828
@deliahu I believe this might be related https://github.com/kubernetes/cloud-provider-aws/issues/87

[2021-05-03 04:36] VengefulAncient commented on #7103
Sure, here it is (of course, `example.com` is my actual domain, `www.` are preserved though):
[code]

[2021-05-03 07:51] manuel-koch commented on #6851
Using chart version 3.20.1

Using the following values for helm chart:

[code]

I have a similar problem:
- cluster serving several hosts ( e.g. A, B )
- some routes to services via Ingress are basic auth protected ( both on host A & B )
- accessing protected URLs works as expected ( both on host A & B )
- accessing non-protected URLs works as expected ( both on host A & B )
- trying to access an

[2021-05-03 09:55] rinini commented on #6973
Hi, you can use server-snippet only once per host.
This means we would need to remove this configuration from our ingress definitions and add them to a central place (ingress controller?)
I'd rather keep the config in the ingress definitions because it's easier from a config management perspective, and we keep the flexibility of adding different paths for each ingress.
I will re add the kind-bug t

[2021-05-03 10:37] Radhika299 commented on #6136
@mihaimyh did you find the solution for it?

[2021-05-03 13:45] aelij commented on #5493
Fixed in #5821
/close

[2021-05-03 13:45] #5493 closed

[2021-05-03 14:03] misslucia commented on #7085
The issue is fixed on controller version 0.46.0 :smile:

[2021-05-03 14:04] luciamota commented on #7085
The issue is fixed on controller version 0.46.0 :smiley:

[2021-05-03 14:36] pierluigilenoci opened #7105 "[FR] Ability to define requests and limits of the admissionWebhooks with the Helm Chart"
I would like to be able to define via the Helm Chart `requests` and `limits` of the admissionWebhooks.

Ref:
* https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml#L33-L50
* https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml#L33

[2021-05-03 22:06] shahriak opened #7106 "Does Ingress-nginx support Gateway resource?"
This is a question rather than a feature request. Please feel free to move this to the correct category. I have not been able to find the answer to this in the docs.

Does Ingress-nginx support Gateway resource? We are planning to use ingress-nginx with Linkerd. We are already using
istio and istio has its built-in ingress controller which supports Gateway resource https://github.com/kubernetes/in

[2021-05-04 01:13] ramijebara commented on #6896
I can confirm we saw the same issue on AKS with version 0.45.0. Issue went away when we downgraded to 0.43.0.

[2021-05-04 06:48] tokers commented on #6973
Have you ever tried to set the pathType to Prefix explicitly?

[2021-05-04 07:38] csi0n commented on #6926
any update?
I encountered a similar problem。
this is my value.yaml
[code]

[2021-05-04 08:43] sAnti09 commented on #4888
After many trials and errors, I had finally made it work with aws eks fargate. Here are some changes:

- ports 80, 443 -> `8080`, `8443`
- webhook port from 8443 to `8444` to avoid conflict with https port
- load balancer type from nlb to `nlb-ip`

Make sure service type is not NodeType but `ClusterIp`.

run `kubectl apply -f nginx-ingress.yml`

[code]

[2021-05-04 10:11] kpramesh2212 commented on #7082
Hi All,

Again after upgrading to kubernetes v1.21

SSL pass through ingress is also not working

[code]

[2021-05-04 11:54] PSanetra commented on #5382
This is a duplicate of https://github.com/kubernetes/ingress-nginx/issues/4628

[2021-05-04 13:10] jsalatiel commented on #3183
@d-michail  have you been able to fix this ?

[2021-05-04 21:18] rikatz commented on #7085
/close

[2021-05-04 21:18] #7085 closed

[2021-05-04 21:18] rikatz commented on #7085
As @luciamota said, this was fixed in v0.46.0

Thanks all for the help

[2021-05-04 22:05] rikatz commented on #7106
Hi,

So far Ingress NGINX does not support Gateway resource. We are doing some reconciling about the state of the code to analyze the impact of implementing this, and looking for people willing to help.

Thanks

[2021-05-04 22:15] rikatz commented on #3511
/kind feature
/remove-lifecycle stale
/assign

[2021-05-04 22:40] shahriak commented on #7106
Thank you! This helps :)

[2021-05-04 22:40] #7106 closed

[2021-05-04 23:27] champtar commented on #6238
/remove-lifecycle stale

[2021-05-05 06:38] Rofor51 opened #7108 "shareProcessNamespace variable support in controller.deployment file"
In some cases users might want to dynamically configure changes/reload the ingress controller by having side-cars running in parallel to the controller. Having `shareProcessNamespace: true` makes it easy for side-cars to send SIGHUP to the controller.

Example:
`shareProcessNameSpace: {{ .Values.controller.shareProcessNameSpace.enabled }}`

/kind feature

[2021-05-05 13:44] hameno commented on #6883
Actually I think this is a bug of the helm chart, the YAML get's a wrong value, especially if there is a space in the value

[2021-05-05 14:52] Jell commented on #7047
@kundan2707 I see you've assigned yourself to the issue, are you working on addressing this? Anything @r0bobo and I can help with?

[2021-05-05 15:05] kpramesh2212 commented on #7082
@Kubernetes Team,

Any updates here please what might be causing these issues.

I am currently stuck with this issue unable to proceed further.

If you would like to test this scenario I can provide you with a sample app.

[2021-05-05 20:21] alice-sawatzky commented on #6597
can someone reopen this? it's likely leading to a lot of insecure production deployments

[2021-05-05 22:26] Jeansen opened #7110 "Remove digest reference from values.yaml (and other deployment files)"
I am not sure if this request is valid, but so far I face the following problem only with this image:

Because the values.yaml defines a digest reference, I am not able to cache the image in a local proxy. Normally, I would pull the image, retag it for my local (offline) registry an push it back. I would then ad a rule in /etc/containers/registries.conf to pull all images with a given prefx from m

[2021-05-06 01:58] tao12345666333 commented on #7110
Digest is to avoid repeatedly pushing images of the same tag.

You can choose not to set digest.

https://github.com/kubernetes/ingress-nginx/blob/8dcf172f88939e8273927cb9e7b2e2d5d862b7d1/charts/ingress-nginx/templates/controller-deployment.yaml#L71

In addition, using the digest image can also re-tag.

[2021-05-06 08:43] zhaochenglan opened #7111 "A request to the backend too many duplicate 502"
**NGINX Ingress controller version**:
v0.45.0

**Kubernetes version** (use `kubectl version`):
v1.19

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
A request to the backend too many duplicate 502

nginx_ingress  log:
[code]

**What you expected to happen*

[2021-05-06 11:37] tokers commented on #7111
@zhaochenglan Have you ever checked the number of retries and endpoints of your backend service?

Also, what's your configuration for:

* `nginx.ingress.kubernetes.io/proxy-next-upstream-tries`
* `nginx.ingress.kubernetes.io/proxy-next-upstream`

[2021-05-06 11:46] danilomo commented on #5401
@vagdevik

Thanks, mate!!!!

[2021-05-06 14:31] tokers commented on #6030
/assign

[2021-05-06 16:52] #6584 closed

[2021-05-06 17:34] LordEvron opened #7112 "URL validation in cors-allow-origin annotation with capacitors://"
Hi,
I struggled to set up the ingress Ionic App compiled for ios. In this case the required origin is
`capacitor://localhost`  as stated from their documentation:
*https://ionicframework.com/docs/troubleshooting/cors*

However when trying to add this annotation
`nginx.ingress.kubernetes.io/cors-allow-origin: capacitor://localhost`
it will return `Access-Control-Allow-Origin = *` since the validati

[2021-05-06 18:31] crosvera opened #7113 "Attempt to configure nginx-ingress with AWS NLB using HTTP2 returns `"PRI * HTTP/2.0" 400`"
**NGINX Ingress controller version**: v0.46.0 / chart v3.30.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu 20.10
- **Kernel** (e.g. `uname -a`):
- **Install tools**: terraform / helm
- **Others**:

**`values.yaml:`**
[code]

**Ingress for app A:**
[code]

**Ingress for app

[2021-05-06 19:19] Jeansen commented on #7110
@tao12345666333 That is interesting but of no help because it would mean I manipulate the deployment.yaml which I cannot always do (for instance, when Installing Jenkins X).

[2021-05-06 19:24] tao12345666333 commented on #7110
sorry, I did not understand its meaning.

[2021-05-06 19:58] Jeansen commented on #7110
@tao12345666333 The values file has a digest. If that digest is present, it will be used. To use the tag only, I'd have to manipulate https://github.com/kubernetes/ingress-nginx/blob/8dcf172f88939e8273927cb9e7b2e2d5d862b7d1/charts/ingress-nginx/values.yaml OR the controller-deployment.yaml above and remove the digest condition. At least, that's how I see it.

[2021-05-07 01:01] Daxcor69 opened #7115 "websocket connections Momentarily break on config reload."
**NGINX Ingress controller version**:
repository: k8s.gcr.io/ingress-nginx/controller
tag: 'v0.46.0'

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2"

**Environment**:
Digital Ocean Managed Kubernetes

** Installed via helm
helm install nginx-ingress ingress-nginx/ingress-nginx --namespace ingress-nginx -f custom-ingress-valu

[2021-05-07 01:41] zhaochenglan commented on #7111
Not set these two parameters

[2021-05-07 01:41] zhaochenglan commented on #7111
Not set these two parameters

[2021-05-07 01:48] tokers commented on #7111
Then what's the number of endpoints for this backend service?

[2021-05-07 01:52] zhaochenglan commented on #7111
3

[2021-05-07 01:54] tokers commented on #7115
What's configuration about `worker_shutdown_timeout`? Does the connection break happen at once?

[2021-05-07 01:59] tokers commented on #7113
@crosvera Hi!

You should add the `http2` option for the virtual server that added by yourself.

[code]

[2021-05-07 02:14] Daxcor69 commented on #7115
I have not set the value, so I would assume it is 240s as the default spec in the docs.  The on post I saw, the fellow set it to 12 hours, but someone else commented that there would be adverse effects for having it that long.

[2021-05-07 05:31] saurabhnanda commented on #6313
@Deepak1100 I've hit the same issue. Can you please share the custom config/template that you used to get this working?

[2021-05-07 07:06] signinred opened #7116 "Build issue"
Hi Team,

I am facing this issue while building ingree-controller image. Have followed the below page step by step. Please help on this.

https://github.com/kubernetes/ingress-nginx/blob/controller-0.32.0/docs/development.md

` > [internal] load metadata for docker.io/library/alpine:3.13:
------
error: failed to solve: rpc error: code = Unknown desc = failed to solve with frontend dockerfile.v0: f

[2021-05-07 07:07] signinred commented on #7116
@aledbf Please help

[2021-05-07 10:38] tokers commented on #7115
That's strange, as Nginx doesn't close the WebSocket connection from it's side.

[2021-05-07 11:14] longwuyuan commented on #7115
does the problem happen if you have only one replica and all other values at default out of the box ?

[2021-05-07 14:35] crosvera commented on #7113
Thanks for the response @tokers, but it didn't work, I'm still getting the same error.
But after modifying `service.beta.kubernetes.io/aws-load-balancer-backend-protocol:` to `ssl` I got other error:

[code]

Nginx-ingress reports the following:
[code]

[2021-05-07 14:39] herman-d commented on #4838
Hi @OscarNeira , do you manage to workaround the issue? I think I'm having the same issue where the transfer-encoding is replaced by content-length where it causes incorrect behaviour in the client.

[2021-05-07 17:38] yangyang198599 commented on #7113
Confirm whether your service supports V2 proxy agreement. Close AWS load balancing V2 protocol and try again. If you want to get the user's IP address, use AWS cli to enable V1 proxy protocol.

[2021-05-07 18:10] dmitrievav commented on #3857
it should be possible already
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/service/nlb_ip_mode/

[2021-05-07 20:39] #7113 closed

[2021-05-08 00:58] marshall007 opened #7118 "Job resources are not automatically cleaned up preventing version upgrades"
**NGINX Ingress controller version**: `v0.45.0`

**Kubernetes version** (use `kubectl version`): `v1.19.0`

**Environment**:

- **Cloud provider or hardware configuration**: GKE / EKS
- **Install tools**: `kustomize` and `kpt live apply`

**What happened**:

First deployment of `ingress-nginx` from static manifests is successful. When attempting to upgrade to any newer version of the static manife

[2021-05-08 06:16] bloodberrys commented on #6640
In my case, this also happens when I expose a custom TCP port using Network Load Balancer. I have tested with 1000 rps, but all of my pods under the NLB are also affected, generates huge memory and CPU to all available paths (*.domain.com, domain.com, domain.com/*).

[2021-05-08 08:37] Jeansen commented on #7110
@tabbysable Thanks for your help I am not that fit with helm and like I said: Would I only have to use Ingress, I could simply download the helm archive and remove the digest on the fly. But with Jenkins X I have a repository that - aside a lot of other things - donwloads this helm chart. There are - of course - a lot of other ways that I could try to work around this. But in my current setup I si

[2021-05-08 15:40] tao12345666333 commented on #7110
Discussed with others.

FIY https://kubernetes.slack.com/archives/C021E147ZA4/p1620340248014100

[2021-05-08 19:20] Jeansen commented on #7110
I cannot access that ;-(

[2021-05-09 09:12] #6603 closed

[2021-05-09 14:11] RichardoC opened #7119 "SSL termination for TCP loadbalancing"
The ability to do TLS termination for a TCP load balanced service.
Discussion of possible approaches here https://github.com/nginxinc/kubernetes-ingress/issues/831#issuecomment-636991210

Upstream issue https://github.com/nginxinc/kubernetes-ingress/issues/831

No

/kind feature

[2021-05-09 18:21] arielvinas commented on #6868
Almost there @shibumi 💪

[2021-05-09 18:42] elsbrock opened #7120 "ingress-nginx reveals nginx version with server_tokens off"
**NGINX Ingress controller version**: `k8s.gcr.io/ingress-nginx/controller:v0.46.0`

**Kubernetes version** (use `kubectl version`): `v1.18.16-gke.2100`

**Environment**: GCP

**What happened**:

with `server-tokens=false` set, ingress-nginx still sometimes reveals its version, e.g. when exceeding the client header limit size

![20210510_135452667_iOS](https://user-images.githubusercontent.com/777

[2021-05-10 07:13] zryfish commented on #7090
Any comments? If the community agrees, I can work on this and create a draft PR later.

[2021-05-10 08:51] tokers commented on #7090
I think this is an useful feature. What's your idea?

[2021-05-10 09:53] hydrapolic commented on #5690
Same issue here. Since we have a lot service/ingress objects, I don't want to recreate/delete them each time we deploy our application - simple because the diff from ``terraform apply`` is too large. During normal operations, the canary deployment is scaled to 0 and the service/ingress objects are kept as usual with canary-weight set to 0.

[2021-05-10 09:54] Darren-wh opened #7122 "must be at least quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.30.0 for grpc support?"
hello can you explain the  difference between
https://github.com/kubernetes/ingress-nginx/tree/nginx-0.23.0/docs/examples/grpc？ and
https://github.com/kubernetes/ingress-nginx/blob/master/docs/examples/grpc/README.md？

The nginx-ingress-controller:0.23.0 can support grpc too. why mast need be at least quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.30.0?

[2021-05-10 13:38] zoemac11 opened #7123 "Add headers"
**NGINX Ingress controller version**:3.5.2

**Kubernetes version** (use `kubectl version`):v1.18.14

**Environment**: AKS

**What happened**:

resource helm_release "ingress-nginx" {
  name             = "ingress-nginx"
  repository       = "https://kubernetes.github.io/ingress-nginx"
  chart            = "ingress-nginx"
  version          = "3.15.2"
  namespace        = "ingress-nginx"
  create_n

[2021-05-10 13:50] #7123 closed

[2021-05-10 14:15] #6610 closed

[2021-05-10 19:50] kolorful commented on #6828
Not sure, because it could potentially cause higher latency, hence less performant.

[2021-05-10 19:53] deliahu commented on #6828
Yes, I agree that it's not ideal (although it seems like it'd be better than the current state, at least until kubernetes/cloud-provider-aws#87 is resolved).

Have you gotten around the issue? Have you tried to set up NLB IP mode, and did that work for you?

[2021-05-10 23:09] benny-bp commented on #6245
We are running into similar issues here. webhook fails when dealing with many simultaneous ingresses (150+)

the error happens at random times and appears to "end" the file in different locations every time.

what is consistent is that when having multiple server definition blocks it finishes all server block, but fails to fully render the server block with the ingresses.

this block will generall

[2021-05-11 09:01] shoce commented on #6590
I am quite new to Kubernetes and could not find this easily. **Can you please give any suggestion how to not expose the port 80 in the ingress-nginx service?** Because I do not create any Kubernetes Service for Ingress to work, I only have a yaml for creating the Ingress object and it works. But I really need to stop serving on port 80 completely and keep only port 443 that accepts connections onl

[2021-05-11 12:18] leebake opened #7124 "Safari CORS issue with mutual TLS enabled"
**NGINX Ingress controller version**: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.30.0

**Kubernetes version**: Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.6", GitCommit:"d32e40e20d167e103faf894261614c5b45c44198", GitTreeState:"clean", BuildDate:"2020-05-20T13:08:34Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- *

[2021-05-11 16:14] strongjz commented on #6559
/kind help-wanted

[2021-05-11 16:14] strongjz commented on #6559
/remove-lifecycle rotten

[2021-05-11 16:18] cpanato commented on #6559
/help

[2021-05-11 16:19] tao12345666333 commented on #6559
Let me deal with it.

/assign

[2021-05-11 16:20] cpanato commented on #6573
/assign
/remove-lifecycle rotten

[2021-05-11 16:22] strongjz commented on #6552
@XanxusVerVR is this still an issue for you?

[2021-05-11 16:35] strongjz commented on #5411
/triage needs-more-information

[2021-05-11 16:43] strongjz commented on #5521
/help

[2021-05-11 16:47] strongjz commented on #5411
/assign @tao12345666333

[2021-05-11 16:48] strongjz commented on #5411
/unassign @tao12345666333

[2021-05-12 03:07] tokers commented on #6237
It's a broken change, I think we should replace it gracefully, for instance, we may firstly add the support of `allowlist-source-range`, which is totally equivalent with `whitelist-source-range`, and change documents, code bases about it.

Then, after a few releases, let's remove the `whitelist-source-range` totally.

I'd like to take charge of this stuff :)

[2021-05-12 09:14] matteocusinato commented on #5496
Hi, any news for CORS support for wildcard subdomains?

[2021-05-12 10:50] tokers commented on #6742
Your access for the "first ingress" seems wrong, the host in first ingress is bingo.beta.com, while you're using ft-bingo-job.beta.com.

[2021-05-12 11:03] tokers commented on #5496
Welcome to submit a PR to track it.

[2021-05-12 11:07] tokers opened #7127 "CI failure problems about the build agent"
**NGINX Ingress controller version**: current newest master branch

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

Some tests are failed:

[code]

See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/

[2021-05-12 13:39] utamas commented on #7079
@aledbf If I would know you agree with my evaluation and this is in fact a bug, I would might give it a go and would try to fix it.

[2021-05-12 14:50] marshall007 commented on #7118
I see that my suggestion of using `spec.ttlSecondsAfterFinished` is already implemented in the helm chart:

https://github.com/kubernetes/ingress-nginx/blob/3dd7c83281bd2134048e947df9cf053626ba523b/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-patchWebhook.yaml#L13-L16

However, this does not end up in the generated static manifests:

https://github.com/kubernetes/ingress-nginx/b

[2021-05-12 20:12] sanzenwin commented on #333
[https://aws.amazon.com/premiumsupport/knowledge-center/eks-kubernetes-dashboard-custom-path/#Create_an_Ingress_for_the_NGINX_Ingress_Controller](url)

[code]

I think this is the best way, and it works for me

[2021-05-12 20:29] cforce commented on #6972
Almost two months later, i fear i can't  get any history .
The problem is pretty famous, so i linked https://github.com/Azure/AKS/issues/2144

[2021-05-13 01:41] rlljorge opened #7129 "net::ERR_SSL_PROTOCOL_ERROR 200"
**NGINX Ingress controller version**:  0.46.0
**Kubernetes version** (use `kubectl version`): v1.20.2
**Environment**:
**OS** (e.g. from /etc/os-release): CentOS Linux 7
**Kernel** (e.g. `uname -a`): 3.10.0-1062.12.1.el7.x86_64

I am receiving the error net::ERR_SSL_PROTOCOL_ERROR 200 intermittently.
If I retry the page with F5 works.

[code]

[2021-05-13 05:05] jfbrennan commented on #5496
@tokers this is the issue "Feature Request: multi-origin support for cors-allow-origin". The op suggested comma-separated list, I suggested wildcard subdomains, I don't think any of us really care that much about those differences we just want a simple way to get multi-origin support w/o writing snippets.

[2021-05-13 06:12] tokers commented on #7127
/assign

[2021-05-13 06:14] tokers commented on #7127
Due to the concurrent running of unit test cases, the Nginx status port (`10246`) cannot be bound duplicately. In test cases, we may use `nettest.NewLocalListener` to let the kernel select a random port for us so that we can avoid this conflict.

We need some refactoring to reach this.

[2021-05-13 06:37] shibin-george opened #7130 "client-cert authentication in ingress: check issuer/subject"
I am trying to enable client-cert authN in ingress using the following annotations:
[code]
Other than verifying if client-certficate was signed by the CA-cert stored in `default/ca-secret`, I would also like to check the issuer-name and the subject-name fields in the client-certificate. One way to do this is to pass the client-certificate to the backend service/pod using the `nginx.ingress.kuberne

[2021-05-13 10:46] Jeansen commented on #7110
I've found a way to work around it by creating replications with harbor.

[2021-05-13 10:46] #7110 closed

[2021-05-13 11:14] tokers commented on #7130
@shibin-george If the client cert verify is `on`, items like issuer, subject names will be checked already.

[2021-05-13 12:25] kundan2707 commented on #7120
/assign

[2021-05-13 12:27] kundan2707 commented on #7130
/kind support

[2021-05-13 12:27] kundan2707 commented on #7129
/assign

[2021-05-13 13:27] #4723 closed

[2021-05-13 13:43] tokers commented on #7127
Fixed.

[2021-05-13 13:43] #7127 closed

[2021-05-13 14:38] kaivalya-d opened #7132 "Ingress creating fails with "context deadline exceeded" after applying Network Security Policy"
**NGINX Ingress controller version**: v0.45.0

**Kubernetes version** (use `kubectl version`): 1.19.7

**Environment**: Private Azure Application

- **Cloud provider or hardware configuration**: Microsoft Azure
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): -
- **Install tools**: -
- **Others**: Applied Network Policies on the AKS clusters.

**What happened**:
We creat

[2021-05-13 14:47] r00ta commented on #7043
Hi @LeducH , that did not help. Could you please re-open the issue?

[2021-05-13 17:34] shibin-george commented on #7130
Ah my bad, I meant checking the subject-name in the client-cert (i.e. verifying who the client-cert was issued to). My understanding is that ingress will only check issuer-name in client-certificate (which will same as the subject-name in CA cert), correct? But what I want to check is the subject-name in client-cert to verify if the client-cert was issued to correct entity.. Is there any way to do

[2021-05-13 17:53] shibin-george opened #7133 "Enabling Client-cert authentication only for some paths"
Say I have two ingresses for same host but for different paths.

First one for path `/health1`
[code]
And the second one is for path `/health2`
[code]

I only want client-cert authentication for requests on `/health2` path so I have enabled `nginx.ingress.kubernetes.io/auth-tls-verify-client` only for the second ingress.  The backend API for both paths is same. My observation is that even though I

[2021-05-14 02:49] tokers commented on #7133
@shibin-george That's expected behavior.

Ingress Nginx knows nothing about HTTP protocol when it doing TLS/SSL handshaking. In that phase, only SNI makes sense.

Just like I said above, in the TLS handshaking phase, only TLS SNI makes sense, it doesn't concern about the backend service.

That depends on whether you enable HTTP.

[2021-05-14 02:50] tokers commented on #7130
AFAIK it's not feasible in Ingress Nginx, I'm not sure whether OpenSSL providing such APIs but I'm sure Nginx doesn't have such logics.

[2021-05-14 03:14] shibin-george commented on #7133
@tokers so essentially, if client-cert is enabled in only one of the multiple ingress for a hostname, the client-cert will be enabled for all paths on that hostname, is that right?

[2021-05-14 03:49] longwuyuan commented on #7133
with this, can you show `kubectl describe ing`

Thanks,
; Long

On 13/05/21 11:23 pm, Shibin George wrote:

[2021-05-14 03:52] sanzenwin commented on #5401
This way is just concealing the issue,  who can provide a best way?

[2021-05-14 04:32] tokers commented on #5496
Ignore this message, I'm not sorry that I misunderstood some stuff there.

[2021-05-14 04:33] tokers commented on #5496
Extend the cors-allow-origin to be a comma-separated string so that multiple origins can be supported is a good point, I will look through the current code base and judge whether this is feasible, if so, I will submit a PR to support it, or, I will explain the reason here.

[2021-05-14 04:33] tokers commented on #5496
/assign

[2021-05-14 06:13] shibin-george commented on #7133
My issue (enabling client-cert authN on ingress enabled it on other ingresses for the same host) seems a lot like this one: https://github.com/kubernetes/ingress-nginx/issues/6013.. @tokers @longwuyuan can you confirm?

[2021-05-14 07:02] wangyysde commented on #7133
Yes, I think so.

[2021-05-14 07:26] tokers commented on #7133
That's right.

[2021-05-14 08:33] tokers commented on #5496
See https://github.com/kubernetes/ingress-nginx/pull/7134 for details :)

[2021-05-14 11:03] sudvid78 opened #7135 "Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post https://ingress-nginx-controller-admission.ingress-nginx.svc:443/networking/v1beta1/ingresses?timeout=10s: no endpoints available for service "ingress-nginx-controller-admission""
**NGINX Ingress controller version**:
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/aws/deploy.yaml

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.16-eks-7737de", GitCommit:"7737de131e58a68dda49cdd0ad821b4cb3665ae8", GitTreeState:"clean", BuildDate:"2021-03-10T21:33:25Z", GoVersion:"go1.13.15"

[2021-05-14 11:04] thanaphat1991 commented on #5401
How i resolve tihs issue
1.kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission
2. kubectl get job -n ingress-nginx
3. kubectl  delete job  ingress-nginx-admission-create ingress-nginx-admission-patch -n ingress-nginx
4. re-deploy webhook stack (ValidatingWebhookConfiguration , ClusterRole , ClusterRoleBinding , Job ,role , RoleBinding)
5. wait for pod job complated.
`ingress-n

[2021-05-14 13:21] sanzenwin commented on #4696
@rally25rs , thanks, it works for me.

[2021-05-14 20:37] rocketraman commented on #6027
/reopen

[2021-05-14 20:38] rocketraman commented on #6027
/remove-lifecycle rotten

[2021-05-15 03:38] #6630 closed

[2021-05-15 11:36] Zyh2333 commented on #5932
still happend in v0.46.0,somebody help

[2021-05-15 19:47] #6637 closed

[2021-05-16 08:33] tokers commented on #6874
/assign

[2021-05-16 08:34] tokers commented on #6874
@kahootali `ssl-passthrough` is disabled by default, you should enable it by configuring `enable-ssl-passthrough` option.

 See https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#ssl-passthrough for details.

[2021-05-16 13:54] #6633 closed

[2021-05-17 00:16] wildwind391 commented on #4663
Upgrade to 0.30.0 doesn't work. The ssl certificate will not be effect in about 3 days

[2021-05-17 10:08] olfway commented on #6850
/remove-lifecycle stale

[2021-05-17 13:06] nlamirault commented on #3754
/remove-lifecycle stale

[2021-05-17 15:32] volwei opened #7138 "The annotations "service-upstream: true" and "default-backend" break the default-backend feature"
**NGINX Ingress controller version**: v0.46.0

**Kubernetes version**: 1.19

**Environment**:

- **Cloud provider or hardware configuration**: AWS (EKS)
- **OS**: Alpine Linux v3.13
- **Kernel**: 5.4.0-1029-aws
- **Install tools**: helm
- **Others**:
  - nginx.ingress.kubernetes.io/service-upstream: "true"
  - nginx.ingress.kubernetes.io/default-backend: downtimepages-nginx

**What happened**:

I

[2021-05-17 16:01] #6641 closed

[2021-05-17 16:39] #5847 closed

[2021-05-17 17:46] acobaugh opened #7139 "feature: cors-allow-headers should be configurable via global configmap"
As an operator, I should be able to set the default value of `cors-allow-headers` to avoid having to add many lengthy annotations to all deployments.

In our case, we want to add `x-request-id` as all of our UI apps append an existing request id or generate a new one, and pass that along to our backends.

/kind feature

[2021-05-18 07:50] sudvid78 opened #7140 "Invalid IngressClass (Spec.Controller) value "nginx.org/ingress-controller". Should be "k8s.io/ingress-nginx""
**NGINX Ingress controller version**:
NGINX Ingress controller version:
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/aws/deploy.yaml
**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.16-eks-7737de", GitCommit:"7737de131e58a68dda49cdd0ad821b4cb3665ae8", GitTreeState:"clean", BuildDate:"2021-03-10T

[2021-05-18 09:05] spielkind opened #7141 "Upgrade from 0.40.2 to 0.41.0/2 breaks External OAUTH Authentication"
**NGINX Ingress controller version**: Upgrade from 0.40.2 to 0.41.0/2 (and all later versions)

**Kubernetes version** (use `kubectl version`): Rancher:
`Server Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.6", GitCommit:"8a62859e515889f07e3e3be6a1080413f17cf2c3", GitTreeState:"clean", BuildDate:"2021-04-15T03:19:55Z", GoVersion:"go1.15.10", Compiler:"gc", Platform:"linux/amd64"}`

[2021-05-18 12:33] piyush94 opened #7142 "backend-protocol HTTPS"
**NGINX Ingress controller version**: 0.35.0

**Kubernetes version** (use `kubectl version`): 1.17.16

**Environment**: RKE

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
Added annotation on ingress, `nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"` as p

[2021-05-18 14:44] xoleja01 opened #7143 "Possibility to use custom TCP/UDP configmap"
Hi,

It would be nice if there was option to specify configmaps for tcp/udp configuration.

Usecase: we generated configmaps tcp-cm and udp-cm in namespace ns by our app. They have the same structure as one generated by nginx

I would like to deploy nginx  with this kind of setup

Right now, only possiblity is to use .tcp/.udp in values.yaml but we have to set it up before deployment of our app, a

[2021-05-18 15:43] volwei commented on #7138
I found out that it is obviously expected behavior. The configuration includes a location directive (@custom_custom-default-backend-downtimepages-nginx_502) for 502 errors from our regular upstream service with
`rewrite                (.*) / break;`
Everything will be rewritten to /. Loading assets with a path will not work.
It would be great if this could be found in the documentation.

[2021-05-18 16:22] aeimer commented on #5576
We are facing the same issue.
The Ingresses are looking like:

[code]

This will expose our service under `somehost.com/admin-service/foo/bar` and send an http upstream request against `admin-service.namespace/foo/bar` instead of `admin-service.namespace/admin-service/foo/bar` (the intended behaviour of `rewrite-target` works with this simple path).

If the url has some mandatory to be encoded cha

[2021-05-18 17:08] ubergesundheit commented on #7096
Ping @aledbf do you think this would reduce some cpu load?

[2021-05-18 18:36] aojea opened #7145 "Use ingress v1 API"
Kubernetes has deprecated and removed the  ingress v1beta1 API in kubernetes 1.22, all ingress implementation must support v1
k8s.io/api/networking/v1

EDIT

ingress-nginx must work against an apiserver that ONLY serves ingress/v1

/kind bug

[2021-05-18 22:10] robertvanhoesel commented on #5238
/remove-lifecycle stale

[2021-05-19 01:58] tokers commented on #7145
IMHO I think we should also be compatible with the v1beta1 version but do some jobs to guide users to migrate from v1beta1.

[2021-05-19 02:01] tokers commented on #7096
@ubergesundheit The operation of `nginx -t` should be trivial. But, if you still worry about it, I think we can do some benchmarks.

[2021-05-19 02:05] tokers commented on #7142
@piyush94 Strange. Could you please provide the original Ingress resource?

[2021-05-19 02:21] tokers commented on #6880
@AramshamFedaykin Not so clear, could you paste the Ingress resource that you created.

[2021-05-19 05:24] gsxmax commented on #6816
@tokers yep, quite wired. No idea what happened, the root cause is related to the application code(nodejs header size), but we are not sure why change `http2_max_field_size` would help, it looks like nothing related.

[2021-05-19 07:04] aojea commented on #7145
sorry for the description, it is misleading.

The problem here is that the code uses the v1beta1 api to talk to the apiserver, and it relies on the conversion done by the apiserver to implement the v1 features.

nginx-ingress has to use directly the v1 api in the code, i.e. sed s/v1beta1/v1/

[code]

[2021-05-19 09:33] tokers commented on #7145
@aojea That code be done by adding another command-line option like :"--ingress-version".

[2021-05-19 10:07] #7138 closed

[2021-05-19 12:45] mpanne opened #7147 "Support proxy_ignore_client_abort configuration via ConfigMap"
I would like to set the nginx configuration parameter `proxy_ignore_client_abort` for my `nginx-ingress-controller` via ConfigMap which is currently not supported. The ConfigMap includes the parameter but it has no effect on the `nginx.conf`.
I also tried to set it via configuration snippet like the following but it still has no effect on the `nginx.conf`:
[code]

**Links**
* [Nginx proxy_ignore_c

[2021-05-19 14:25] piyush94 commented on #7142
@tokers Here it is.
[code]

[2021-05-19 14:39] mel1nn commented on #5401
Agree with that. By setting the ca from the `nginx-ingress-controller-ingress-nginx-admission` secret in the caBundle field of the ValidatingWebhookConfiguration, it works.

Why this field is not set by default during the `nginx-ingress-controller-ingress-nginx-admission-create` Job ?
@aledbf

[2021-05-20 01:26] tokers commented on #7145
I mean, as a widely used projecy, ingress-nginx itself should support both these ingress versions, but letting users to decide which version that they want to use in their project. I'm not talking about the differences between these two versions.

[2021-05-20 01:37] tokers commented on #7142
@piyush94 It seems that you use the Chinese punctuation (double quote) to wrap the string HTTPS, trying to change it to English punctuation.

[2021-05-20 06:08] xichengliudui opened #7148 "Ingress is always updated after it is created"
**NGINX Ingress controller version**:
0.21.0

**Kubernetes version** (use `kubectl version`):
1.14.8

**Environment**:

- **Cloud provider or hardware configuration**: 8c16g
- **OS** (e.g. from /etc/os-release): centos 8
- **Install tools**: kubeadm
- **Others**: none

**What happened**:
`Ingress` keeps being updated.

**What you expected to happen**:
`Ingress` stops updated.

**How to reproduce i

[2021-05-20 06:09] xichengliudui commented on #7148
![1621490062619](https://user-images.githubusercontent.com/40875627/118927867-fef8df80-b974-11eb-9104-b5cbb70c03b0.jpg)

[2021-05-20 06:19] aojea commented on #7145
That is not how Kubernetes API works :) beta is not a different version, it is an intermediate version to go to v1 and eventually, is deprecated and removed, that is what happened here. https://kubernetes.io/docs/reference/using-api/deprecation-policy/
I know that is a bit of a trauma for users, but for Kubernetes 1.22 onwards there is no choice, they have to use v1 always.
The question here is if

[2021-05-20 07:59] xichengliudui commented on #7148
[code]
I found the source code and added the label. now the event will not print but why `UPDATE` all the time?
the ip in the state is always update？

[code]
[code]

[2021-05-20 08:41] huang-jy opened #7149 "Chart v3.31 fails via Helm3 on Kubes v1.19"
**NGINX Ingress controller version**:
v3.31

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- GKE
- **OS** (e.g. from /etc/os-release):
- Ubuntu
- **Kernel** (e.g. `uname -a`):
- Linux
- **Install tools**:
- kubectl, helm3
- **Others**:

**What happened**:

When trying to install v3.31 on a GKE cluster v.1.19, it fails
[cod

[2021-05-20 09:47] luis-serra-ki commented on #7149
I'm having the same problem

[2021-05-20 10:47] tokers commented on #7149
@huang-jy Please use `helm template` to got the rendered template for controller-deployment, especially for the livenessProbe and readinessProbe sections.

[2021-05-20 10:57] thirdeyenick commented on #6928
I was actually wondering about the same thing, but when looking at the command which gets executed ("wait-shutdown") and looking at the [corresponding code](https://github.com/kubernetes/ingress-nginx/blob/293071ae024adfecd2fc3499c52aa54f968e935e/cmd/waitshutdown/main.go#L29), I noticed that still a SIGTERM signal gets sent. The linked blog post says that a SIQQUIT signal needs to be used in order

[2021-05-20 11:39] huang-jy commented on #7149
And then pipe that into `kubectl`?

[2021-05-20 12:18] raunyoliveira-hotmart commented on #6958
Is there a reason for the limit on the `maxAllowedLuaDictSize = 200` [https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/template/configmap.go#L84](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/template/configmap.go#L84)

I'm hosting 20k+ ACME certificates and I've reached this limit. Once I've reached this limit, I started see

[2021-05-20 14:12] tao12345666333 commented on #7145
Yes I agree with you. This is the lifecycle of the Kubernetes API.

Although this is a widely used project, I think it should have its own compatibility matrix.

New versions are compatible with newer versions of Kubernetes, gradually dropping support for older versions.

[2021-05-20 14:12] tao12345666333 commented on #7145
We can discuss in the next community meeting.

[2021-05-20 14:32] tao12345666333 commented on #7149
You can check the file you rendered through `helm template`

I use a brand new v1.19 cluster and the latest ingress-nginx-3.31.0 helm chart to test, it can be deployed correctly.

[2021-05-20 14:39] tao12345666333 commented on #7149
/triage needs-information

[2021-05-20 14:39] tao12345666333 commented on #7149
/remove-kind bug

[2021-05-20 14:44] huang-jy commented on #7149
Are you using a managed Kubernetes or bare metal?

On Thu, 20 May 2021 at 15:40, Jintao Zhang ***@***.***> wrote:

[2021-05-20 15:13] tao12345666333 commented on #7149
both EKS and KIND (local env) can get the correct result.

[2021-05-20 15:14] huang-jy commented on #7149
I'm running on GKE. Let me spin up another one and try again.

[2021-05-20 15:35] huang-jy commented on #7149
Kubectl version:

[code]

Helm version:
[code]

Installing 3.31
[code]

It definitely does not install on v1.19.10. If we bypass the validation using `--disable-openapi-validation` then it will install.

[2021-05-20 16:27] tao12345666333 commented on #7149
You specified `--values ingress-controller-values.yaml`, what did you modify?

[2021-05-20 16:37] huang-jy commented on #7149
I dumped the values of the chart and then modified it and used that in the
values.

I can dump that values yaml here if it helps (will need to redact a few
things)

On Thu, 20 May 2021 at 17:27, Jintao Zhang ***@***.***> wrote:

[2021-05-20 17:14] inge4pres commented on #6755
Hey just faced the same and found this might be a problem of nginx itself rather than the controller

https://nginx.org/en/CHANGES

in 1.19.9 they patched a similar bug?

[2021-05-20 17:17] inge4pres commented on #6755
Just a random question on this? Did you omit

[code]

on purpose?
The documentation mentions the annotation, but maybe it's a default from the configMap?

[2021-05-20 18:03] spielkind commented on #7141
As described in https://github.com/oauth2-proxy/oauth2-proxy/issues/1203 it seems that the new ingress-nginx version was more picky about the path prefix.

[2021-05-20 18:03] #7141 closed

[2021-05-20 18:32] cforce commented on #7149
This works!

[2021-05-20 20:57] huang-jy commented on #7149
Closing this as by updating the probes block to match the format using in v3.31, the install succeeds.

[2021-05-20 20:57] #7149 closed

[2021-05-21 01:56] tokers commented on #7145
Good point.

[2021-05-21 06:08] AramshamFedaykin commented on #6880
Hello,

Sorry, forgot to close this issue.

The prob was in fact the mod-security and OWASP rules set. The performance cost is really high, and one day I'd like to know what is doing exactly.

When the session affinity is not set, the perf test goes on every nginx pod, so at first it didn't seem so bad. But with session affinity activated, so every req on 1 pod, we saw the issue.

So instead of pu

[2021-05-21 06:08] #6880 closed

[2021-05-21 06:31] #6616 closed

[2021-05-21 07:37] huang-jy opened #7151 "Controller adding then removing IP from Ingress resource"
**NGINX Ingress controller version**:
3.31.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- GKE
- **OS** (e.g. from /etc/os-release):
- COS
- **Kernel** (e.g. `uname -a`):
- 5.4.89+
- **Install tools**:
- **Others**:

**What happened**:

When deploying a basic chart to test this issue into our cluster, we are noticing th

[2021-05-21 08:12] rwin-novo commented on #4909
I know it's an old and closed issue but it comes up in Google if you search after it.
In our case the configuration wasn't the issue, but DNS was. Every then and now, the resolution worked well and the browser/nginx-ingress also didn't have issue with the certificates/SNI/whatever.

But DNS then somehow flapped and the lookup gave up a different IP, which then nginx-ingress didn't recognise (and w

[2021-05-21 08:36] huang-jy commented on #7151
Closing as it turns out we had another ingress controller in another namespace that was still using the ingressclass annotation to determine whether it should grab the traffic for the ingress and was trying to grab the traffic for my test ingress.

Adding the annotation (even though it's deprecated) made it stop trying to control the traffic.

However, it also meant I had to remove the "ingressCla