[2022-09-08 17:29] esigo commented on #9016
you need to copy all the artifact as we do [here](https://github.com/kubernetes/ingress-nginx/blob/981ce38a7f0455bee35d692af237089ce5a42220/images/opentelemetry/rootfs/Dockerfile#L45), and then add the path in your controller [image](https://github.com/kubernetes/ingress-nginx/blob/981ce38a7f0455bee35d692af237089ce5a42220/rootfs/Dockerfile#L66=)

[2022-09-08 17:54] longwuyuan commented on #9016
@esigo https://github.com/kubernetes/k8s.io/pull/4194. After this merges, lets have a screen sharing session to see how you load the module. Then you can submit PR for changing values.yaml of chart. And you have to come up with idea for how to load the otel module if the controller installation method is not helm but instead controller was installed with the static yaml manifests we publish for a

[2022-09-08 18:11] kuzaxak commented on #9016
In the case of your build, yes. But please have a look into the [original][1] otel dockerfile and you will see that make is configured to produce a single shared lib file.

[1]: https://github.com/open-telemetry/opentelemetry-cpp-contrib/blob/main/instrumentation/nginx/test/instrumentation/lib/mix/tasks/dockerfiles.ex

[2022-09-08 18:38] esigo commented on #9016
@kuzaxak The module is dynamically linked to e.g. `libopentelemetry_exporter_otlp_grpc.so` that's why you need those .so files to be available at runtime. The controller image doesn't have them. And we provide them using the init container.

[2022-09-09 01:20] bmv126 commented on #9030
Could be related to
https://github.com/kubernetes/ingress-nginx/pull/8825/

[2022-09-09 01:31] longwuyuan commented on #9016
@esigo the new image is promoted.

So it is now available as ;

_**registry.k8s.io/ingress-nginx/opentelemetry:v20220906-g981ce38a7@sha256:aa079daa7efd93aa830e26483a49a6343354518360929494bad1d0ad3303142e**_
[code]

Just to state the obvious, for readers who will come here, the current implementation for loading otel is a helm chart install of the controller, and with optional setting of`extraModul

[2022-09-09 01:53] longwuyuan commented on #9030
cc @harry1064 @rikatz  , is it related to https://github.com/kubernetes/ingress-nginx/pull/8825 ?

[2022-09-09 01:55] longwuyuan commented on #9031
/remove-kind bug
/kind feature

[2022-09-09 01:57] longwuyuan commented on #9027
/area stabilization

[2022-09-09 01:59] longwuyuan commented on #9029
/retitle Download stalls, if both http2 and proxy-buffering are used together

[2022-09-09 02:02] longwuyuan commented on #9029
/retitle if both http2 and proxy-buffering are configured, then download stalls

[2022-09-09 09:07] uburro1 commented on #2580
it closed but o have idea. Checked your ddos protection rules or waf rules beckand which prohibited some user-agent

[2022-09-09 11:39] BinaryWorld2099 opened #9034 "default back end "/" as home page, but want to block other "/wrong" or "/drkgjhrg" path"
Currently, I am using "/" as custom Home page for a microservice and "/setting" for setting page
But I want to block other path start with "/", path like "/ddos" or "/IamWorngPath" then redirect to 404
try many solution, but not working.
Tried Exact, Prefix, ImplementationSpecific, also fail
Any suggestion?

Does any solution to allow only whitelist path?

 "/" -----> home page
 "/setting" ----->

[2022-09-09 11:52] longwuyuan commented on #9034
You can try to set `pathType` to `Exact` and update

% k explain ingress.spec.rules.http.paths.pathType
KIND:     Ingress
VERSION:  networking.k8s.io/v1

FIELD:    pathType <string>

DESCRIPTION:
     PathType determines the interpretation of the Path matching. PathType can
     be one of the following values: * Exact: Matches the URL path exactly. *
     Prefix: Matches based on a URL path prefix

[2022-09-09 12:08] Clasyc commented on #5401
You are right, ingress is enough.

[2022-09-09 12:34] ttsakpc commented on #7850
A note here that `kubernetes.io/ingress.class` annotation is [deprecated](https://kubernetes.io/docs/reference/labels-annotations-taints/#kubernetes-io-ingress-class-deprecated) and we have to [switch](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/#what-to-do) to `.spec.ingressClassName`

[2022-09-09 12:39] longwuyuan commented on #7850
@ttsakpc , some projects rely on that annotation and can not use the inigressclassName field. So we are supporting the annotation as well as the field.

[2022-09-09 12:40] ttsakpc commented on #7850
nice to know! thank you for this 👍

[2022-09-09 12:46] longwuyuan commented on #9034
I can already get a 404 response right now for a wrongPath ;
![image](https://user-images.githubusercontent.com/5085914/189352903-e6b9072e-af15-4b3f-99b0-dd8626c19dfc.png)

[2022-09-09 12:51] BinaryWorld2099 commented on #9034
Thank you very much, seems ok now

[2022-09-09 12:51] #9034 closed

[2022-09-09 12:51] BinaryWorld2099 commented on #9034
Thanks again

[2022-09-09 14:23] vijay-veeranki commented on #8388
Please keep this issue open

[2022-09-09 14:34] ttsakpc commented on #7850
Also a note that current versions of helm chart (since `4.0.17` I think) provide the parameter `controller.ingressClass` so instead of `--set controller.extraArgs.ingress-class=kafka-nginx` you can (should?) use:

`--set controller.ingressClass=kafka-nginx`

If you keep using the `extraArgs` parameter, then two `--ingress-class` parameters are added on the controller, one with the default `--ingre

[2022-09-09 15:19] jonenst commented on #7880
Was bitten by this as well and lost of few hours, the docs should mention the behavior described above:

Also my use case is different from OP: having a "normal" app reverse proxied behind a prefix and only removing the prefix from the downstream request. BUT I need to avoid url normalization (mainly not decoding encoded slashes) (this is almost an nginx bug...), so I use the following conf:
[code

[2022-09-09 18:29] #8336 closed

[2022-09-10 03:34] arthurk commented on #8388
/remove-lifecycle stale

[2022-09-10 15:09] johurul000 commented on #6937
@iamNoah1 I am new to open source and Kubernetes, and I would like to work on this issue.
Extra help would be great. 🙂🙂

[2022-09-10 16:41] longwuyuan commented on #6937
@johurul000 can you write your own technical description of the problem to be solved here

[2022-09-10 16:49] johurul000 commented on #6937
@longwuyuan no, since I am new, guidance is very helpful

[2022-09-10 17:05] longwuyuan commented on #6937
I mean is the metric missing in your cluster also ?

[2022-09-10 22:28] rikatz opened #9037 "Replace golint for golangci-lint"
golint is deprecated and frozen.

We should replace our CI for https://github.com/golangci/golangci-lint, check the flakes (and the real complains) and fix those

/kind bug
/triage accepted
/good-first-issue
/help
/priority important-soon

[2022-09-11 00:18] longwuyuan commented on #9037
/assign I would like to work on this

[2022-09-11 00:18] longwuyuan commented on #9037
/assign

[2022-09-11 01:03] tao12345666333 commented on #9037
great

We can use https://github.com/golangci/golangci-lint-action

[2022-09-11 01:08] rikatz commented on #9037
uhum, but first as Long is studying go I want him to run lint locally, and check and fix the errors :D so he can learn a bit on why the errors happens and what's the fix.

Then we move to use golangci-lint-action and remove the prow job :D

[2022-09-11 02:12] longwuyuan commented on #9037
First run ;
[code]

[2022-09-11 03:30] rikatz commented on #9037
nice. Now, there are some warnings that are valid and some that are not :) the majority here are non checked errors (like if err != nil) from a function.

* What happens in some of those errors if they are not checked? (eg can it panic? is it fine not to check?)
* Are there errors not related to "Error return value"? Are those valid?
Based on that, maybe you can submit some bug fixes on this?

===

[2022-09-11 06:19] bhanugarg23 commented on #8416
Can you please tell me the exact IAM permissions. I am facing the same issue

[2022-09-11 06:38] longwuyuan commented on #9037
This is going to be very focussed work for me because of me not being a go dev.
The very first errorcheck linter's complain about "return value is not checked" seems to come from a bug in the linter itself, that is still open since the year 2013 (i could be utterly wrong too) . This https://github.com/kisielk/errcheck/issues/127  points at https://github.com/kisielk/errcheck/issues/7 .

If I have

[2022-09-11 06:44] longwuyuan commented on #9037
@rikatz @tao12345666333 The demo video showed something interesting so I tried it here. Can you comment if the below check is valid or not ;

[code]

[2022-09-11 07:17] cleverhu commented on #8983
I found that the cor host only support the regexp of:`corsOriginRegex = regexp.MustCompile(`^(https?://(\*\.)?[A-Za-z0-9\-\.]*(:[0-9]+)?|\*)?$`)`, so the `null` will be no effect.

[2022-09-11 07:31] longwuyuan commented on #9033
/help

[2022-09-11 07:32] longwuyuan commented on #9030
@harry1064 gentle ping to ask if you have time to look at this

[2022-09-11 07:44] longwuyuan commented on #8983
@cleverhu thank you very much.
I am not a developer so asking that layman reason is either origin must be "*" or must match the host being used in request. Is this correct ?

cc @mike-pt

[2022-09-11 07:45] longwuyuan commented on #8983
/remove-kind bug

[2022-09-11 07:45] longwuyuan commented on #8983
/kind support

[2022-09-11 07:49] longwuyuan commented on #9037
Ah, interesting FAQ. Helpful and clear on what to do ;
[code]
https://golangci-lint.run/usage/faq/

[2022-09-11 08:45] esigo commented on #9016
step 2 plan:

The user will enable OpenTelemetry in the configuration configamp also provides an otel-nginx.toml (contains the [configs](https://github.com/open-telemetry/opentelemetry-cpp-contrib/tree/main/instrumentation/nginx#nginx-directives) needed for producing and exporting traces) and an init container which has the module. Then we mount otel-nginx.toml configs as volume to the controller.

[2022-09-11 10:47] #7986 closed

[2022-09-11 12:49] cleverhu commented on #8983
It looks like this in the code, and only these two cases can be identified.

[2022-09-11 13:11] longwuyuan commented on #8983
Thank you so much @cleverhu .

@mike-pt I think this issue can be closed if there are no other questions. Regards.

[2022-09-11 15:28] mike-pt commented on #8983
There are cases where the browse might wipe Orgin and set it to null, i.e for 301-2 requests has browsers are not forced to keep method/headers.

When the browser gets a 301 on a POST i.e. it switches to GET and Origin on the final request become exactly "null", so there is at times the need to allow "null" particularly in some domain migrations etc.

Ofc the correct thing to do is use 307/308 as

[2022-09-11 15:43] AnthonyWC commented on #5968
Ran into this issue as well; in my case I deployed multiple ingress controllers in different namespaces and created 2 different ValidatingWebhookConfiguration (as they are non-spaced cluster wide).

What fixed it (for me) was deleting both ValidatingWebhookConfiguration and then re-apply CA patches for each one.

[2022-09-11 18:39] GabrielAlacchi commented on #8989
While this doesn't further the conversation of solving the underlying issue, but one suggestion I might make here @hanselsen is architecturally if connection lifetime is an important attribute of your service it may be best to avoid TCP passthrough and create a LoadBalancer service to expose this backend directly to azure load balancer. You probably can re-use the same IP address as well if you se

[2022-09-11 20:05] finxtech opened #9039 "enabling modsecurity causes CPU spike"
**What happened:**

Three new ingresses are created at the same time during a helm install/upgrade (ie multitenancy scenario).

Each requiring a TLS cert generated by cert-manager (v1.9.1). Cert manager should start to generate the TLS cert which is eventually picked up by nginx and for a reload.

What i see is the CPU spikes in the nginx controller and if there arent enough CPU resources availabl

[2022-09-11 22:40] zerkms commented on #8127
/remove-lifecycle stale

[2022-09-12 02:01] GabrielAlacchi opened #9040 "automatically present valid TLS cert when configured secretName contains invalid cert"
**What happened**:

When deploying a new `networking.k8s.io/v1/Ingress` in a production cluster for an FQDN that had been used in the past but retired, we noticed that Nginx would always present the default "fake" certificate when attempting to curl that endpoint.

It turned out that we had an old stale ingress definition for the same hostname which pointed to a cert whose SANs had been refactored

[2022-09-12 02:08] GabrielAlacchi commented on #9040
Happy to help contribute a patch to resolve this, but wanted to check with maintainers about what the ideal expected behavior would be here? In our case I work in an organization where we have many teams deploying micro-services to subpaths of a given shared hostname for each environment we host. So unfortunately our TLS certificates are not always as consistent as we'd like them to be. We try to

[2022-09-12 05:46] longwuyuan commented on #9040
% k explain ingress.spec.tls.secretName
KIND:     Ingress
VERSION:  networking.k8s.io/v1

FIELD:    secretName <string>

DESCRIPTION:
     SecretName is the name of the secret used to terminate TLS traffic on port
     443. Field is left optional to allow TLS routing based on SNI hostname
     alone. If the SNI host in a listener conflicts with the "Host" header field
     used by an IngressRule,

[2022-09-12 05:49] longwuyuan commented on #9040
/retitle automatically present valid TLS cert when configured secretName contains invalid cert

[2022-09-12 06:00] longwuyuan commented on #8983
I don't know for sure but after a 301, changing to GET and loosing origin or headers seems to help security from the point of view that undesired POST/Other method may also retain origin and/or headers that are not desired.

Also, allowing a value of "null" in annotation does not come across as a best-practice as it may get used for anything.

I think in your use case, changing response to 307/308

[2022-09-12 06:00] longwuyuan commented on #8983
/remove-help

[2022-09-12 06:02] bhanugarg23 opened #9041 "Nginx Ingress controller not updating the target group for AWS EKS NLB"
I am following the documentation https://kubernetes.github.io/ingress-nginx/deploy/#aws to create a Network Load Balancer in my AWS EKS cluster version 1.23. I am able to see the NLB getting created but the nodes are not getting registered in the target group

Can anyone help me in this regard.

[2022-09-12 07:17] finxtech commented on #9039
I think it could be related to enabling mod security and the owasp rules within the ingress definition. I tried again today disabling those and the CPU spikes seem to be much less severe

nginx.ingress.kubernetes.io/enable-modsecurity: "true"
 nginx.ingress.kubernetes.io/enable-owasp-core-rules: "true"

[2022-09-12 10:09] jonenst opened #9042 "handling requests, with path terminated with and without forward-slash"
Host a normal app at /app with minimal fuss. Currently the docs https://kubernetes.github.io/ingress-nginx/examples/rewrite/#rewrite-target have the example:
[code]

But:
- sending both /something and /something/ to '/' doesn't work by default for web things with relative links (because for /something, links point to /other; but for /something/, links point to /something/other). So the container s

[2022-09-12 10:16] sm-powell commented on #9041
I am also seeing this issue.

I have set up both 1.22 and 1.23 clusters with identical cluster and ingress-nginx configuration. The 1.22 cluster creates the NLB and correctly registers targets, the 1.23 cluster creates the NLB and the target group but no targets are registered.

EKS version 1.22 / 1.23
ingress-nginx helm chart version: 4.2.5
ingress-nginx controller version 1.3.1

Helm chart value

[2022-09-12 14:08] longwuyuan commented on #9041
I have tried for hours today and failed to reproduce this problem. Maybe I am doing it wrong. Also the slowness of creating and changing cluster specs is really not helping. The manifest published by the project has only 3 annotations. And so far there is not enough data available to show that an installation done using the published manifest causes this problem. Also we have a suspect occurrence

[2022-09-12 14:38] longwuyuan commented on #9039
/remove-kind bug
The plan now is to remove many less used modules and modsecurity, zipkin, jaeger are very likely going to be removed or at least not function in the classic way.

On the other hand codepath/logic that increases iterations or processing or inspection etc is bound to deman cpu. What we don't have is well known documented,tested and demonstrated use cases around these modules. So let

[2022-09-12 14:42] sm-powell commented on #9041
Thanks for looking at this and confirming it is not a general issue.
I have a support case open with AWS at the moment, I will try and work it through with them and report back any findings.

[2022-09-12 14:42] longwuyuan commented on #9037
/remove-help

[2022-09-12 15:01] bhanugarg23 commented on #9041
Thanks a lot @sm-powell . Please update here once you hear from AWS support team

[2022-09-12 15:24] benjaminlostandfound opened #9047 "ingress-nginx throws 503 when application gives 200"
## What happened:

I got random 503 errors. Its not happen often but it happens during the time. I got these errors from ingress-nginx but the actuall service gives a 200 for the request.

*"503 Service Temporarely Unavailable"*

**What you expected to happen**:

As the service behind the ingress is giving a 200 OK, i expect ingress doing the same.

## Logs

**Ingress:**

[code]

**Application:**

[2022-09-12 15:55] longwuyuan commented on #9047
The project deployment documentation for AWS is here and it looks like you are not using the documented installation, because the yaml manifest from project configures NLB and but your message suggestes yo are using ALB.

- response code is relative to the client making the request and hence relative to the host/network from where the request originates. In case of ingress-controller and ingress r

[2022-09-12 16:01] GabrielAlacchi commented on #9040
I disagree with the assessment that this is not a bug, and I want to clarify what I want to do.

The current code in `controller.go` which determines which certificate to use for a cert is where the line:
[code]

What it is doing is iterating over all ingress objects and populating a map

[code]

and anytime it runs into some condition where it assigns the default certificate, future visits to tha

[2022-09-12 16:13] mike-pt commented on #8983
Yes idk If it was intended as such but it can be a security feature but this is in the client side, if the client still what to follow method and headers on 301 it could, in fact some softwares have settings for this, postman is a good example.

Anyway yes 308/307 is the best option but this is for cases where you don't have control of it, because it was maybe set on a old hosting and they don't s

[2022-09-12 16:24] longwuyuan commented on #9040
I still don't see how first you configure a ingress resource with the field ingress.spec.tls.secretName having invalid value and make the ingress-nginx-controller check the internals of all the certificates in all the other secrets, configured in all the ingress resources, in all the namespaces of the cluster, and 100% certain to respond to the https request, with a valid certificate.

But I will

[2022-09-12 16:46] longwuyuan commented on #8983
This is a community project and we absolutely love feedback so that the project can improve and be useful to more and more people. Its simply about improving. In this case to make and improvement here, I can see the following requirements ;
- We need a http expert to explain this whole redirect code and loss of origin/headers in the context of security & vulnerability
- Based on the clear explanat

[2022-09-12 17:59] GabrielAlacchi commented on #9040
See the logic here in [controller.go](https://github.com/kubernetes/ingress-nginx/blob/b212b5a8b4cf0bdf089406774b8bf4ac34bb992c/internal/ingress/controller/controller.go#L1265-L1369)

Ingress controller is already looking at all of these certificates and analyzing whether they're valid or not. The bug is that the moment it finds a bad cert it goes to the default, but then it also skips an ingress

[2022-09-12 18:04] GabrielAlacchi commented on #9040
The patch I proposed works on my local dev environment using the repro steps I created here https://github.com/GabrielAlacchi/IngressNginxCertRepro

[2022-09-12 19:52] longwuyuan commented on #9041
Now one more person reported this so we can suspect some real problem to be solved exists. But no data available yet on what the problem is .

I commented on a specific suggestion ;
- to uninstall whatever you have using the same manifest that you used to install, first step
- then install older version and see the results
- but very very specifically ensure you use the recommended method as descr

[2022-09-12 19:58] longwuyuan commented on #9041
/kind support
/triage accepted

[2022-09-12 20:16] longwuyuan commented on #9040
Thanks. I saw your approach. And then tried to clarify a simple question. I will try to re-phrase here.

Your proposal is basically allowing a user to configure a invalid value for the field ingress.spec.tls.secretName .  I don't think the entire user base or the developers will want to allow that kind of behavior. So lets wait for comments.

Additionally, the reason to check the configured secret

[2022-09-12 20:17] marcossv9 commented on #9041
Hi! I'm the third person having the issue.

I created an eks cluster using eksctl and running k8s v1.23. Then I wanted to use ingress-nginx controller to setup an AWS NLB without TLS termination enabled.

So, I installed the controller, downloading the [deploy.yaml](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.3.1/deploy/static/provider/aws//deploy.yaml) manifest into a

[2022-09-12 20:33] marcossv9 commented on #9041
Ok, I've installed the controller using what @longwuyuan suggested, and the result is the same, after creating an ingress object to route traffic to the services. Here is the output:

[code]

Ingress rule was created using the same config as pointed on the [argocd docs](https://argo-cd.readthedocs.io/en/stable/operator-manual/ingress/#option-1-ssl-passthrough)

[code]

No target being registered i

[2022-09-12 20:38] longwuyuan commented on #9041
ArgoCD is a special case, for testing this, maybe you can just stick to `kubectl create deploy test0 --image httpd:alpine --port 80 && kubectl expose deploy test0 --port 80` and create a ingress for that with `kubectl create ing --class nginx --rule test0.dev.mydomain.com/"*"=test0:80`

[2022-09-12 20:44] longwuyuan commented on #9041
https://github.com/kubernetes/ingress-nginx/issues/8416  see here comments about  IAM problems and 200 rules quota limit reached etc

[2022-09-12 20:54] marcossv9 commented on #8416
+1 here, thanks!

[2022-09-12 20:56] marcossv9 commented on #9041
Thanks, I tried that and still same result. No instance is being registered in the NLB listener.

And the issue [here](https://github.com/kubernetes/ingress-nginx/issues/8416) with +200 SG rules is not my case, I have like 10 SG rules at max.

I will look to that issue to see if we can know the exact IAM permissions that were missing. I've used eksctl to create the cluster and the nodes, so IAM ro

[2022-09-12 21:40] hobti01 commented on #5238
I notice that this is labeled `triage/needs-information` but it seems that the enhancement is sufficiently described and understood.  I think there is a general expectation that all config sources will be re-read when changed.  Unfortunately when additional sources (configmaps) are used, this is not the result.  While it's great to see the limitation documented, the feature would be even more appr

[2022-09-12 22:03] #8467 closed

[2022-09-12 22:18] marcossv9 commented on #9041
Definitely an issue with eks using k8s v1.23.

I've created a new eks cluster using eksctl using k8s v1.22 and the instance is registered correctly in the NLB listeners. It is worth to mention that I installed ingress-nginx controller using v1.3.1.

Should we involve AWS folks on this issue?

[2022-09-13 00:27] moustafab commented on #9016
@esigo @longwuyuan Thanks for all your work on this!
I've just ran into #8092 and thought it might be a good idea to avoid the same issue in the implementation for otel support.

I think the issue can be avoided by using a separate function/flag for the enabling of the module vs the loading of the module:

[2022-09-13 01:06] rittneje commented on #8299
/remove-lifecycle stale

[2022-09-13 08:53] jontro commented on #6928
/remove-lifecycle stale

[2022-09-13 09:20] jchenau commented on #8843
Just a kind follow up on this issue @rikatz , sorry for bumping again but I think it's important for the grpc servers to receive correct host header in the default configuration.  Thank you.

[2022-09-13 09:20] mimmus commented on #8416
This is the actual IAM policy included in the EC2 instances role:
[code]

[2022-09-13 09:48] atuk721 opened #9050 "ingress-nginx doesn't respect Service's internalTrafficPolicy"
**What happened**:

ingress-nginx sends a proxy request to the cluster wide target pods although a upstream service set Local to internalTrafficPolicy.

**What you expected to happen**:

It should send to the same node's target pod or occur error if there is no target on the same node.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ing

[2022-09-13 11:34] rittneje commented on #6728
/remove-lifecycle stale

[2022-09-13 12:17] jonenst commented on #8713
I have the same problem with `nginx.ingress.kubernetes.io/app-root`

I wanted to create an ingress that does 2 things: redirect / to /approot, and provide a defaultbackend (for custom 404s). I tried
[code]

but I have to add
[code]
I have to reuse default-backend in my rules even though it will never be used, just because validation fails otherwise. Are there any plans to simplify this ?

[2022-09-13 14:50] nofacer commented on #2985
Same here. After deploying a new app with ingress resource, it will lose some connections. After deleting and recreating nginx ingress pod everything works fine again.

[2022-09-13 18:19] longwuyuan commented on #8713
Setting app-root and doing a redirect are 2 different functionalities. There is not enough information or justification or even a reasonable use-case description with regards to what problem you need to solve in your infrastructure and what problem exists in the ingress-nginx-controller.

I tested the app-root annotation and it works. I tested the redirect annotation and that too works. So even th

[2022-09-13 18:23] longwuyuan commented on #8713
% k explain ingress.spec.defaultBackend
KIND:     Ingress
VERSION:  networking.k8s.io/v1

RESOURCE: defaultBackend <Object>

DESCRIPTION:
     DefaultBackend is the backend that should handle requests that don't match
     any rule. If Rules are not specified, DefaultBackend must be specified. If
     DefaultBackend is not set, the handling of requests that do not match any
     of the rules will

[2022-09-13 18:59] jonenst commented on #8713
hi @longwuyuan,
thanks for taking the time to think about this. I can elaborate on the use case if you want. I can also probably write a repro repo if you need.

Context of my use case:
I have several "apps" that work together. They each have an ingress with one rule that uses a prefix for the app (so the user visits app.com/app1/ or app.com/app2/).

Use case: implement the following:
* Users can

[2022-09-13 19:03] atuk721 commented on #9050
I think I need to set true to `nginx.ingress.kubernetes.io/service-upstream` annotation.
I'll check it tomorrow.

[2022-09-14 03:10] fred214 commented on #8932
Hi, I used the image `k8s.gcr.io/ingress-nginx/controller:v1.3.1` for scanning, scanner still report the same vulnerability.
So I checked binary runtime by manual as follow steps:
[code]
It looks like still use the go1.18.2, could you help to double check or did I make a mistake for checking?

[2022-09-14 05:27] longwuyuan commented on #8932
/reopen

@fred214 , thank you very much for reporting this.
This is very odd and very disturbing as the check lacks explanation. I am not a developer but is this really a sure shot official way to know the go version against which a binary has been compiled. I found the same go v1.18.2 when i repeated your check ;

% date ; docker run --rm -ti $image sh
Wed Sep 14 10:52:39 AM IST 2022
/etc/nginx $

[2022-09-14 06:59] longwuyuan commented on #8932
@fred214 I checked and I am told that is not a guaranteed way to check.

My guess is that there are some modules in that binary that were built with go v1.18 .  We bumped to go v1.19 here https://github.com/kubernetes/ingress-nginx/pull/8970 .

I think your scanner is not having context, while being correct in its reports. I think practical reports are coming out of snyk, grype etc and we already

[2022-09-14 08:21] rainbowMorelhahahah commented on #9033
help me

[2022-09-14 09:26] atuk721 commented on #9050
When `ginx.ingress.kubernetes.io/service-upstream`  is set, the internalTrafficPolicy is worked correctly.
I'm sorry to bother you.

[2022-09-14 09:26] #9050 closed

[2022-09-14 10:15] bhanugarg23 commented on #9041
@sm-powell : Any response from AWS?

[2022-09-14 13:43] longwuyuan commented on #8713
This is not a bug.
This is related to using the annotations and features.
There are not many resources to track support issues here on github.
Please come to kubernetes slack and discuss this there because there are several great folks there who like to help and have the knowledge. You may even find someone who has the same use case.

From what you have discussed in the post above, its just going

[2022-09-14 14:31] jonenst commented on #8713
Hi @longwuyuan, thanks again for you time. Feel free to close this issue if it's not the right place to discuss. Because this is not a blocking problem, I don't want to impose more burden on the limited resources.

Regarding the approot annotation, in my usecase, I need the users to have the url change in their browser, not serving the app from / so I don't think that what you are suggesting would

[2022-09-14 14:37] longwuyuan commented on #8713
Hi @jonenst The idea is to discuss on slack as there are more people there and then update issue here if you find data on a bug or a problem in the controller.

There are several factors and tiny details that are not in the discussion. For example you can redirect one request but if all your requests are contain hostname + path combo that needs a redirection, then its a different story.

Please di

[2022-09-14 14:59] pavankumar-go commented on #7113
@crosvera below is my ingress controller service config
[code]

in the nginx controller logs i get
[code]

proxy protocol version 2 is enabled on both the target groups.
i cant seem to find what is the issue :(

[2022-09-15 01:32] valliguduru commented on #7041
We are tying to deploy Nginx ingress opensource version on AKS cluster and we are getting the following error: AKS Version: 1.23.5 Nginx Ingress Helm Version: 4.1.1

{
 "err": "Get \"https://192.168.0.1:443/api/v1/namespaces/ic-ingress/secrets/ic-ingress-nginx-admission\": net/http: TLS handshake timeout",
  "level": "fatal",
  "msg": "error getting secret",
  "source": "k8s/k8s.go:232",
  "time":

[2022-09-15 01:42] valliguduru opened #9051 "Nginx Ingress install with Helm fails on AKS Cluster"
Hi, we are tying to deploy Nginx ingress opensource version on AKS cluster and we are getting the following error:
AKS Version: 1.23.5
Nginx Ingress Helm Version: 4.1.1
{
 "err": "Get \"[https://192.168.0.1:443/api/v1/namespaces/ic-ingress/secrets/ic-ingress-nginx-admission](https://192.168.0.1/api/v1/namespaces/ic-ingress/secrets/ic-ingress-nginx-admission)\": net/http: TLS handshake timeout",

[2022-09-15 03:04] longwuyuan commented on #9051
/remove-kind bug

Folow the deployment docs for instllation on Azure https://kubernetes.github.io/ingress-nginx/deploy/#azure

[2022-09-15 04:05] asim-reza commented on #8384
/assign

[2022-09-15 04:08] asim-reza commented on #8384
/unassign

[2022-09-15 05:09] iarchean commented on #8461
I have the same issue; it occurred after I changed containerd's root directory from its default path to /home.

What I do:
[code]

Maybe something happened because of the permission change?

[2022-09-15 05:26] longwuyuan commented on #9051
/kind support

[2022-09-15 05:27] longwuyuan commented on #9039
/retitle enabling modsecurity causes CPU spike

[2022-09-15 05:29] longwuyuan commented on #9042
/retitle handling path in request terminated with forward-slash and without forward-slash

[2022-09-15 05:30] longwuyuan commented on #9042
/retitle handling request with path terminated without or without forward-slash

[2022-09-15 05:31] longwuyuan commented on #9042
handling requests, with path terminated with and without forward-slash

[2022-09-15 05:32] longwuyuan commented on #9042
/retitle handling requests, with path terminated with and without forward-slash

[2022-09-15 05:37] longwuyuan commented on #9042
seems related discussion is here as well https://github.com/kubernetes/ingress-nginx/issues/8047

[2022-09-15 06:02] longwuyuan commented on #8461
Hi, if there is a problem with the controller, we would love to get the proof so that proof can be used to debug and fix the problem in the controller.

[2022-09-15 06:54] longwuyuan commented on #9037
@rikatz @tao12345666333 this is ready for your comments because using the flag to only check tags after recent release shows no linting error

[2022-09-15 10:08] jvanzyl commented on #9041
I also see the same issue with EKS, k8s v1.23, and the latest helm chart where the targets are not updated.

[2022-09-15 10:29] #8486 closed

[2022-09-15 10:38] tao12345666333 commented on #9037
Thanks, let me take a look

[2022-09-15 14:14] DanielViniciusAlves commented on #8384
Hi @strongjz and @aslafy-z , I am new to this repository and still trying to understand the workflow of the project, could you help me figure out what to do in this issue?

[2022-09-15 14:15] DanielViniciusAlves commented on #8384
/assign

[2022-09-15 14:28] sibuthomasmathew commented on #9041
I ran into the same issue with EKS v1.23.

It's true that AWS NLB isn't registering the targets. And that is because `kube-proxy` isn't exposing the Node Ports. Here's the output for reference:

The output of `ingress-nginx-controller` service shows the node ports to be 30698 and  32592, with  32613 for health-check
[code]

Upon checking the k8s node(cluster with a single worker) for the listening

[2022-09-15 14:31] longwuyuan commented on #8384
@aslafy-z tht annotation is named aptly and does what it is names as.

If you are looking for a new feature to handle a case where no existing ingress rule matches a incoming http request and as a result instead of the default-backend of the project handling the response, you want your own behaviour, then I think the documented procedure is to create your own image and use that to create a backend

[2022-09-15 14:36] longwuyuan commented on #9041
@sibuthomasmathew does this problem occur when the install method is not helm but the static manifest published by the project and documented in the deploy section of the docs ?

[2022-09-15 14:41] sibuthomasmathew commented on #9041
In fact, I used the static manifest mentioned in the [project doc](https://kubernetes.github.io/ingress-nginx/deploy/#aws) to deploy `ingress-nginx`. So yes, the issue is reproducible with it.

[2022-09-15 15:08] valliguduru commented on #9051
I did follow the documentation and the respective ports have been opened.

[2022-09-15 16:51] Guidurand opened #9054 "catch-all location answer as an other namespace/ingress_name"
**What happened**:
Hello 👋
The catch-all location, (`location ~* "^/"`) automatically added by the controller when we use annotation `use-regex:true` is associated to a backend that have not answer to the request itself

When a request arrives at the catch-all location it should not be associated with a backend service that has not responded itself
This is problematic in the sense that the catch-a

[2022-09-15 17:46] longwuyuan commented on #9051
You did not follow docs for sure because you created this issue saying helm and the deployment docs for Azure does not use helm

[2022-09-15 17:47] longwuyuan commented on #9051
Also, there is nothing posted by you in this issue that someone can use to understand or analyze the problem in detail. You can help by posting the answers to the question that are asked in the issue template.

[2022-09-15 18:08] longwuyuan commented on #9054
/remove-kind bug
/kind support

Hi @Guidurand,

To help identify the problem in the controller, Please edit your post and explain the justification/reasoning/basis for this statement ;
[code]

- Based on what basic information should the `default-backend` be set as value there ?

- How does the config qualify to be called random, when the value of the host field in the corresponding ingress, is us

[2022-09-16 01:35] fred214 commented on #8932
@longwuyuan Thanks for the explanation, I saw the go version updates in [#8970](https://github.com/kubernetes/ingress-nginx/pull/8970), but also noticed that the [E2E_IMAGE](https://github.com/kubernetes/ingress-nginx/blob/main/build/run-in-docker.sh#L41) still keep on `v20220823`. So I did a testing.
Modify the `images/test-runner/Makefile`, to build the E2E_IMAGE in local
[code]
Then I got the l

[2022-09-16 02:01] longwuyuan commented on #8932
The controller binary is stripped so it seems there is no known way to find out which go version was used to compile it

[2022-09-16 02:06] longwuyuan commented on #8932
Also I want to know if that pod in which you are running the strings command is created from helm chart or static manifest or your own manifest ?

[2022-09-16 02:12] longwuyuan commented on #8932
@tao12345666333 I think this is important update from Fred. He is saying that even though we bumped go to v1.19, the cloudbuild or local `make build` uses the test-runner image for the environment to compile the final binary `nginx-ingress-controller`, and that is not updated in main because this is pending https://github.com/kubernetes/k8s.io/pull/4183, so that test-runner still has go v1.18 . He

[2022-09-16 02:27] fred214 commented on #8932
@longwuyuan the author also said he's not sure how reliable on using `strings`, https://groups.google.com/g/golang-nuts/c/XIDDj75ngMc/m/ZzMMlScKBwAJ
I test binary with `strings` in local, not in pod.

[2022-09-16 03:27] longwuyuan commented on #8932
@fred214 , thank you once again for your updates. I have data that your doubt is confirmed ;

% docker run -ti registry.k8s.io/ingress-nginx/e2e-test-runner:v20220823-ge19026fe4@sha256:038fc60379b6ce9a0134c2ff9134edccad1f8ecbd9c6ebed9660711d05b0ed95 go version
go version go1.18.2 linux/amd64
[~]
% docker run -ti registry.k8s.io/ingress-nginx/e2e-test-runner:v20220905-g79a311d3b@sha256:116f05f2cc29

[2022-09-16 03:29] longwuyuan commented on #8932
cc @tao12345666333 @rikatz @strongjz

[2022-09-16 05:24] longwuyuan commented on #8932
We will bump go version to 1.19.1

[2022-09-16 08:35] autoool commented on #5932
@zhujintao
我把镜像拉去到本地，上传到云主机。还是不行。

[2022-09-16 09:55] nabokihms commented on #8602
/remove-lifecycle rotten

[2022-09-16 13:35] longwuyuan commented on #8932
https://github.com/kubernetes/ingress-nginx/pull/9057

[2022-09-16 16:22] jicowan commented on #9041
Have you tried using the [AWS Load Balancer Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/) instead of the in-tree service controller to create the NLB?

[2022-09-16 22:43] longwuyuan commented on #8025
https://github.com/kubernetes/ingress-nginx/pull/9056

[2022-09-17 04:19] longwuyuan commented on #8932
Hi Fred,

A new image of the e2e-test-runner has been configured in main so, going forward, the controller binary will be built with go v1.19.1. You can test it by running `make dev-env` from the root of the project ;
[code]

[2022-09-17 10:23] fmnoise commented on #4296
worked for me, thanks!
actually I left `extensions` there and added `networking.k8s.io`

[2022-09-17 16:29] AlesKrajnik opened #9060 "Route TCP traffic to the service endpoint (Cluster IP/port)"
Hi,

I am using `ingress-nginx` v1.3.0 (installed with Helm chart v4.2.3) as a load balancer on DigitalOcean's Kubernetes. In the Kubernetes cluster, I am running `istio` v1.15.0 service mesh. The mesh runs with peer authentication `mTLS` mode set to STRICT (traffic must be properly encrypted).

I was able to successfully connect nginx with istio service mesh for HTTP/HTTPS traffic, but I didn't f

[2022-09-17 18:14] longwuyuan commented on #9060
No, there is no way to the ingress-nginx-controller to do that.

[2022-09-17 18:46] aleshaczech commented on #3171
Hope it's okay that I comment on a closed issue.

The advice to remove `nginx.ingress.kubernetes.io/upstream-vhost` annotation works only if mTLS is not in play. Removing that annotation will result in istio routing the traffic through a `PassthroughCluster`. Such traffic won't be encrypted (mTLS-tunnelled) and thus only works when mTLS is set e.g. in "PERMISSIVE" mode. Once the mTLS mode is set t

[2022-09-17 20:26] aleshaczech commented on #9060
@longwuyuan Thanks for a quick answer!

Given that something similar was introduced for HTTP/HTTPS traffic, could it be also feature-requested for TCP/UDP connection?

[2022-09-18 00:26] longwuyuan commented on #9060
Currently the project is in a feature-freeze phase doing stabilization work so no features will be worked on till end of the 2022 or a even a few months after.
You are already aware that the TCP/UDP support opens a port on the controller and you already know that the reverseproxy component is nginx. So I can't even imagine how not only this feature but any layer7 behaviour can be altered/implement

[2022-09-18 01:38] codebard commented on #1655
Mapping port 80 to port 80 and port 443 to port 443 is vital for hosting public websites that use mixed urls but amazingly it seems that ingress-nginx does not support that simple use case.

[2022-09-18 01:55] codebard opened #9061 "define 2 services for 1 backend field in ingress"
Support mapping traffic for both port 80 and 443 for the same host and path. The ingress should direct the incoming port to the mapped target port on the target service in the same ingress for the same host and the same path.

A lot of websites, especially long-running and large ones, have mixed http and https URLs spread around the Internet. These include links, embedded images and other embeds.

[2022-09-18 02:07] bmv126 commented on #9061
@codebard
Can you provide configuration of ingress resource that was working earlier and what is the expectation with some output examples

[2022-09-18 02:26] codebard commented on #9061
There are a few answers floating around Stackoverflow that uses only the old serviceName without a port, but I can't be sure whether those ingresses were not mapping a default port to a default port (ie 80 to 80) so Im not linking them.

However there is one comment in one old issue that maps the same host and path to different ports:

https://github.com/kubernetes/ingress-nginx/issues/1655#issuec

[2022-09-18 03:09] gsimko commented on #8194
@Starefossen  Syncing back to c85765a015ea6709d161eccd42ef6134981c04b4 (just before 2022 Aug 11th) helps with that, though I'm not sure what critical updates we are missing by doing that.

[2022-09-18 04:03] longwuyuan commented on #9061
The backend field allows for only one service definition
[code]

The ingress object itself is not created by code in the ingress-nginx-controller. Its a Kubernetes KEP  https://kubernetes.io/docs/reference/kubernetes-api/service-resources/ingress-v1/#IngressSpec .

Please discuss this in a related kubernetes sig channel on slack

[2022-09-18 04:04] longwuyuan commented on #9061
/retitle define 2 services for 1 backend field in ingress
/close

[2022-09-18 04:04] #9061 closed

[2022-09-18 05:55] longwuyuan commented on #9061
https://kubernetes.slack.com/archives/C09NXKJKA/p1663458679631189

Problem description changed from wanting a new feature of defining 2 services inside one backend field, to reporting that the force-ssl-redirect annotation value set to `false` was not working. But the annotation is tested to be working fine and the configmap option to set ssl-redirect to `false` globally also is working fine, afte

[2022-09-18 09:00] #8493 closed

[2022-09-18 12:48] tao12345666333 commented on #8996
I have not been able to reproduce this issue successfully.  I'll try it out next week with aws

[2022-09-18 15:01] #8495 closed

[2022-09-18 20:33] x448 commented on #9037
[code]

Executing scripts hosted outside your repo without verification opens door to incidents like [Codecov Bash Supply Chain Attack](https://www.securityweek.com/codecov-bash-uploader-dev-tool-compromised-supply-chain-hack).

Shameless plug:  for a safer way to use golangci-lint, you can use use my self-contained workflow.yml ([safer-golangci-lint](https://github.com/x448/safer-golangci-lint))

[2022-09-18 22:34] Basitkhan23 opened #9063 "(110: Operation timed out) while reading response header from upstream"
Hi there!
I am getting this error in the logs. [error] 117#117: *16706 upstream timed out (110: Operation timed out) while reading response header from upstream.I have tried every possible way to check from where i am getting this exact 60s timeout.

So i am using these headers in my config map (for nginx ingress controller).I have checked it by removing and adding these headers one by one but no

[2022-09-18 22:46] bmv126 commented on #9054
Hi @Guidurand
Can you try with latest chart.
There was a bug fix related to similar issue
https://github.com/kubernetes/ingress-nginx/pull/8825

[2022-09-18 22:50] bmv126 commented on #9063
Hi @Basitkhan23
Can you check inside the pod for nginx.conf if these are actually getting set for your location

[2022-09-18 23:15] Basitkhan23 commented on #9063
Thank you for your time.
Yeah i can see these headers are being reflect inside the nginx.conf file.

**http section**
![image](https://user-images.githubusercontent.com/50568942/190932181-50fec022-3857-4add-bc7b-32ce1d77cb94.png)

**Upstream Section**
![image](https://user-images.githubusercontent.com/50568942/190932279-b696946c-7095-4c7e-af58-abd77db384c0.png)

**Server section**
![image](https:/

[2022-09-19 02:37] Basitkhan23 commented on #9063
Since the backend api is running over GRPC protocol and as per the documentation "proxy_read_timeout" is being used for both GRPC and HTTP.

But i have also tried this (https://github.com/kubernetes/ingress-nginx/tree/main/docs/examples/grpc#notes-on-using-responserequest-streams) and that also didn't solve the problem

[2022-09-19 03:05] longwuyuan commented on #9063
/kind support

Hi @Basitkhan23,

I think you could use a sample hello-world grpc app and set backend protocol to GRPC, while making sure no annotations or configmap option is used beond defaults shipping out of the box. If yo see timeouts with the hello-world type of app, then you can be sure that there is a default config on the controller that needs to be looked at.

Otherwise if there is no tim

[2022-09-19 04:12] #8489 closed

[2022-09-19 08:12] #8500 closed

[2022-09-19 10:46] hassenius opened #9067 "Healthz not accurately reporting container health"
**What happened**:
We currently have intermittent issues where ingress controllers stop accepting new connections (on 80 and 443 ports), so the controllers are by definition not in a healthy state, but the healtz enpoint works just fine.

if I exec into a running nginx controller, you can see this very clearly

[code]

**What you expected to happen**:
Health checks to fail when pod is not healthy

[2022-09-19 12:30] AndrzejWisniewski opened #9068 "[charts] Add schedulerName field support."
**What I ask for?**

I would like to ask you to add `schedulerName` field in controller deployment yaml file (to use as [all other values](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx#values))

**Background**

We just need to use custom kube-scheduler (use schedulerName field) when starting nginx controller (we have to schedule pods within other than default scheduler

[2022-09-19 13:06] longwuyuan commented on #9067
hi @hassenius ,

Thanks for reporting this. I think not being able to reproduce at will means you will have to gather info on a bunch of host related resources ranging from filehandles, inodes, i/o, hardware status with dmesg etc etc. And also post `kubectl get events -A` taken at the time this occurs.

Another observation is that while several people run the service of the controller as type node

[2022-09-19 13:42] longwuyuan commented on #9068
hi @AndrzejWisniewski ,

The project is currently in a feature-freeze phase till December 2022 at least. There is a lot of very high priority stabilization work in progress. Most changes being made are related to CVEs or broken/required basic functionality. Just FYI

[2022-09-19 14:58] murphymagic commented on #9041
I have the same issue and reproduced it as outlined above by [sibuthomasmathew](https://github.com/sibuthomasmathew)

Deploy ingress-nginx from the project static aws yaml.
In AWS EKS v1.22, once the ingress-nginx load balancer service is deployed, loading its URL in the browser will give a 404 nginx error.
In AWS EKS v1.23, the browser will hang..

[2022-09-19 15:49] hassenius commented on #9067
Thanks for the attention @longwuyuan .

I think there's elements in this

1) What is the root cause of this state occurring?
(Since we have not identified any good way of reproducing this at will, it's quite difficult to do the forensic work, and any suggestions on what to capture when the situation does arise is very welcome. Maybe I'm best opening a separate issue for this?)

2) Why does the liv

[2022-09-19 16:44] longwuyuan commented on #9067
I think its not easy to get specific. But general direction is things like ;
- is the webserver running
- Has the webserver starved for filehandles to create new sockets
- Does the webserver process register your curl for localhost and log it
- Same analysis for your curl for healthz. Is your response from cache etc etc

Most significant factor here is nothing is known about your environment so ca

[2022-09-19 18:49] hassenius commented on #9067
Thanks,

First to clarify the comment about the NodePort recommendation.
Do you mean not to use hostport or not to use nodeport?
We use nodeport, and I'm not sure if we have many good alternatives, as the connection between the external loadbalancer and the ingress is orchestrated by an external tool before the cluster is created.
I thought this was a pretty common configuration as mentioned in th

[2022-09-19 19:56] longwuyuan commented on #9067
My suggestion is ;
- Upgrade to app version 1.3.1 of the controller
- Install metallb.org
- Use default service type of LoadBalancer for the controller if helm is used or change to service type LoadBalancer if static manifest is used
- Run only 1 replica and not 3 replicas
- Don't change anything in the default configuration of the controller
- Install prometheus + grafana or use any other monitor

[2022-09-19 20:48] marayshi commented on #9041
I have same exact issue with EKS v1.23
Any updates on this ?
Should we downgrade to v1.22 for now ?

[2022-09-19 23:16] #7612 closed

[2022-09-20 02:57] bhanugarg23 commented on #9041
@marayshi : If the need is to using Nginx ingress controller then use EKS version 1.22. If you want to continue using EKS 1.23 consider using AWS Load Balancer Controller. I used the same in the my cluster and seems to be working fine. https://github.com/kubernetes-sigs/aws-load-balancer-controller

[2022-09-20 08:02] sm-powell commented on #9041
AWS support have responded that they are aware of the issue, and if you want to continue to use AWS Load Balancer Controller with nginx ingress in Kubernetes version 1.23, you will need to wait for platform updates containing the pull request here: https://github.com/kubernetes/cloud-provider-aws/pull/302

They also note that the underlying code supporting this has been moved to the legacy cloud p

[2022-09-20 08:13] zhouxiaofu opened #9070 "Double the response time with a real domain name."
**Bandwidth** : 3M

**xxx.com** : real domain name

**xxx.mock**: fake domain name, configure to hosts file 127.0.0.1

**31080** : nginx-controller nodePort

**ingress-config.yaml**

[code]

### scene 1 (ingress host uses <font color='red'>fake</font> domain name xxx.mock)

**nginx.conf**

[code]

**ingress.yaml**

[code]

**issue**

The backend cannot get the real host_name, The obtained host_nam

[2022-09-20 08:27] longwuyuan commented on #9070
- Without all that special configuration you can just set the service field `externalTrafficPolicy: Local` as described here https://kubernetes.io/docs/concepts/services-networking/service/#external-traffic-policy
- For checking the double response time and other such problems, the exact and complete details of your environment need to be available

I will close the issue for now because the quest

[2022-09-20 08:27] #9070 closed

[2022-09-20 09:01] zhouxiaofu commented on #9070
**My ingress-nginx-controller Service**

[code]

[2022-09-20 09:58] longwuyuan commented on #9070
Your latest post does not cover the comments I made about the questions asked in the issue template and the step-by-stp procedure to reproduce the problem.

Your original post does not explain the nginx.conf you pasted.

Please read my previous message as that seems like a helpful way to make progress here.

[2022-09-20 09:59] longwuyuan commented on #9070
or come to slack because there are not enough resources to take care of support issues like this on Github. Slack has more people and is live 24/7 so better chances of faster resolution.

[2022-09-20 10:16] yasinlachiny commented on #7115
Any update

[2022-09-20 11:58] marayshi commented on #9041
Update:
I installed every things again on AWS EKS v1.22
All working good, especially with TLS

[2022-09-20 12:02] longwuyuan commented on #9041
Since its clear that there is no problem to be solved on the ingress-nginx-controller here, lets close this issue as there are not many resources to track support issues.

If/when a problem or bug related data becomes available, on the ingress-nginx-controller, with respect to this problem, please feel free to post the bug data and re-open this issue.

/close

[2022-09-20 12:02] #9041 closed

[2022-09-20 12:55] Ed87 opened #9071 "Alpine container error /bin/sh upload.sh not found even after installing bash"

[2022-09-20 13:07] #9071 closed

[2022-09-20 13:07] Ed87 commented on #9071
Wrong forum

[2022-09-20 17:49] Basitkhan23 commented on #9063
Hello again,
Okay as per suggested i have checked this timeout by excluding all the annotations and values that i have set in the config map and getting same 60s timeout.

Then i added these three headers
`proxy-connect-timeout: "7200"
proxy-read-timeout: "7200"
proxy-send-timeout: "7200"`
in the configmap of the ingress controller  which set the headers in this block of nignx.conf but same 60s ti

[2022-09-21 04:24] paragor opened #9073 "Can't google https://kubernetes.github.io/ingress-nginx/"
Can't google site https://kubernetes.github.io/ingress-nginx/, because google have DMCA complaint.

https://www.google.com/search?q=k8s+ingress&oq=k8s+ingress&aqs=chrome..69i57j69i61l2j69i60.2146j0j1&sourceid=chrome&ie=UTF-8&hl=en-US

<img width="728" alt="image" src="https://user-images.githubusercontent.com/31911894/191413833-5faceee6-92ea-4a0e-922a-c1e5665a57f9.png">

<img width="1113" alt="ima

[2022-09-21 04:47] longwuyuan commented on #9073
I don't have this problem. I tried it just now

/remove-kind bug

[2022-09-21 06:06] #8706 closed

[2022-09-21 06:08] cmush commented on #8706
For anyone who comes looking, this was an issue with my implementation of Kustomize. It's not a bug on ingress-nginx.

[2022-09-21 07:41] Guidurand commented on #9054
Thanks for the suggestion, I just tried and got the same result :-(

[2022-09-21 09:16] knyambee opened #9075 "Replace laptop in NEW_CONTRIBUTOR.md with local machine"
Suggesting replacing the use of "laptop" in the NEW_CONTRIBUTOR.md guide with "local machine" to improve the documentation for inclusiveness considering not everyone works on a laptop. Would be happy to quickly edit the guide.
@longwuyuan @somtochiama

[2022-09-21 09:31] longwuyuan commented on #9075
/remove-kind bug
/kind docs
I am not in favour of changing the word laptop. The reason is very delicate, very soft sophisticated thoughts/feelings/aspects getting introduced. The motivation to do this doc was to help bridge the gap for the folks motivated enough to spend time to contribute to opensource, where there is no monetary remuneration so to speak. That kind of motivation often drives folk

[2022-09-21 09:37] knyambee commented on #9075
Is it the assumption that everyone who is new and enthusiastic to get involved works on a laptop?

[2022-09-21 09:47] longwuyuan commented on #9075
Maybe we will write a doc for the non-laptop use-case in future
/close

[2022-09-21 09:47] #9075 closed

[2022-09-21 09:58] Guidurand commented on #9054
Hi @longwuyuan
Thank you to taking the time to looking at 🙏
I've updated the issue with "i hope" a better description, about your questions:

-     Based on what basic information should the default-backend be set as value there ?

In my mind, it should always be the backend that answer, in this case, this is the nginx-ingress-controller or the default-backend when activated

-     How does the co

[2022-09-21 10:04] longwuyuan commented on #9063
- I am on controller v1.3.1 and I have this sample workload deployed using iamge nginx:alpine
[code]

So out of the box, I don't see any timeout message in logs for a simple app.

So next step for me is to replicate your config, but this data above convinces me that there is no problem with the controller to be solved, for a simple use case.

Hence the help needed form you is to describe the probl

[2022-09-21 10:29] longwuyuan commented on #9054
I am not sure what problem has to be solved yet.

I think you should read this https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#default-backend . Then you should configure a service as the default-backend as described in that annotation documentation. Then you should look at the nginx.conf.

[2022-09-21 10:31] longwuyuan commented on #9073
likely a temp issue for user.
/close

[2022-09-21 10:31] #9073 closed

[2022-09-21 10:33] longwuyuan commented on #9051
Please reopen the issue after you try the method that ts described in the deployment documentation, for installing on Azure. Link in above posts

/close

[2022-09-21 10:34] #9051 closed

[2022-09-21 12:58] knbnnate commented on #8693
@longwuyuan is there a current estimate on how much longer the stability work will take priority? I'm guessing three more months or so based on the original assessment. Just checking in, I don't have access to the kubernetes slack so I can't really keep an eye on the conversation. Thanks!

[2022-09-21 14:14] longwuyuan commented on #8693
More details are available here https://youtu.be/UBt4N82ymOE and here   https://kubernetes.slack.com/archives/CANQGM8BA/p1656020331133589.
The announcement in the dev mailing list is here https://groups.google.com/a/kubernetes.io/g/dev/c/rxtrKvT_Q8E

[2022-09-21 14:29] knbnnate commented on #8693
Thanks!

[2022-09-21 15:03] #8092 closed

[2022-09-21 19:20] fbarrerafalabella opened #9076 "Internal service not working on GKE"
**What happened**:

I am running a kubernetes cluster on GCP which is currently running 1.21 version of kubernetes and in order to update to 1.22
I installed using helm as documentation says using kubectl apply adding the internal service
[code]
On the external ingress, the ip gets assigned but on the internal ingress time outs

**What you expected to happen**:
Create the ingress and assign the ri

[2022-09-21 21:44] hsks opened #9077 "[Doc] Documentation for just an internal load balancer"
I think it will be a good idea to have a section of the documentation mention how one can provision an internal load balancer, without the need of provisioning an external one. Right now a section does mention the method to provision an additional internal load balancer along with an external one. (https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx#additional-internal-load-

[2022-09-22 00:06] longwuyuan commented on #9076
That is NOT as per deployment docs https://kubernetes.github.io/ingress-nginx/deploy/#gce-gke
Please install as per deployment docs and update status.
/remove-kind bug

[2022-09-22 09:48] Guidurand commented on #9054
I've disable the catch-all `disable-catch-all: true` and add an ingress to do it right, now 404 errors are linked to nginx-ingress-default

[code]

I don't clearly understand why requests made on an unknown endpoints should be associated to the oldest location created when he will never answer them, anyway maybe nobody is monitoring 4xx 🤷‍♂️

[2022-09-22 10:10] longwuyuan commented on #9054
I don't understand.

Usually when such an issue is reported,  the discussion becomes better after the following info is posted to the issue, from the namespace in question and the clusterwide objects in question;
- kubectl get all,ing -A -o wide
- kubectl describe svc
- kubectl describe ing
- kubectl describe ingress-nginx-controller-podname
- Complete and full curl command with -v and its respons

[2022-09-22 13:36] hanselsen commented on #8989
@GabrielAlacchi thank you. I will try this later. It is a bit hectic at this time. I will let you know.

[2022-09-22 14:33] slimm609 commented on #7781
Openssl 3.0 is now certified and also available in alpine 3.16 or later.  Nginx also supports openssl 3 in 1.22+ and the go code would just need compiled using goboring.

[code]

[2022-09-22 15:05] javimosch commented on #6523
I'm also getting this issue:
k8s.gcr.io/ingress-nginx/controller:v1.2.0

[2022-09-23 02:14] #8085 closed

[2022-09-23 06:59] kazysgurskas commented on #7586
@juliohm1978 did you find a solution to this?

[2022-09-23 08:06] HushAsy commented on #9047
From your ingress logs:  [software-dev-oftware-dev-80] [] - - - - f54d30f6fd3e97f6f4c9a344274dd8fc
1. The ingress log time does not correspond to the application time.
2. The application backend address (endpoints) is empty in the ingress log.
It is recommended to check whether the application is not ready during this time period, and it will return to normal soon after.

[2022-09-23 12:46] karlhaworth commented on #6523
Same issue.

[2022-09-23 19:06] cbc02009 opened #9079 "Helm chart not creating controller-configmap-tcp.yaml when tcp field specified in values"
**What happened**:

I am trying to add a tcp service to the nginx controller following by adding
[code]
to the values for the helm chart. (chart source available here: https://github.com/cbc02009/k8s-home-ops/blob/c5f17c8833f32ddec3d7e3f9a91b697c4099a1c4/cluster/manifests/network/ingress-nginx/helmrelease.yaml)
however the appropriate resources are not being generated from the field existing.

not

[2022-09-23 19:38] #6017 closed

[2022-09-23 19:41] tao12345666333 opened #9080 "plugin: support for endpointslices"
But there is still one omission, we also need to modify here https://github.com/kubernetes/ingress-nginx/blob/main/cmd/plugin/request/request.go#L166

You can do it in this PR if you have time.
Otherwise, we can put it in a follow-up PR

_Originally posted by @tao12345666333 in https://github.com/kubernetes/ingress-nginx/pull/8890#pullrequestreview-1116474798_

[2022-09-23 19:42] tao12345666333 commented on #9080
/assign @tombokombo

[2022-09-23 21:07] longwuyuan commented on #9079
/remove-kind bug

Works for me ;
[code]

[2022-09-23 22:15] fbarrerafalabella commented on #9076
Is it the same using helm? I see on the documentation this is another permitted medhod

[2022-09-23 22:32] fbarrerafalabella commented on #9076
I updated the ticket with the results using the method found in the documentation, thanks

[2022-09-24 00:12] longwuyuan commented on #9079
Chart that you have installed is not published by this project https://kubernetes.github.io/ingress-nginx/deploy/#quick-start . Default install you have seems to have some init container but the default install of the chart published by this project does not have any such init container

[code]

Please try the suggested process to tnstall the controller. If you find a bug or a problem that is rela

[2022-09-24 00:13] #9079 closed

[2022-09-24 01:18] rittneje commented on #8638
/remove-lifecycle stale

[2022-09-24 01:18] freefood89 commented on #7970
Helm Chart: 4.2.5
Controller: 1.3.1

Setting the tracer config up fixed this for me: https://kubernetes.github.io/ingress-nginx/user-guide/third-party-addons/opentracing/#usage. I set `controller.config.zipkin-collector-host` to point to my zipkin service

[2022-09-24 02:14] longwuyuan commented on #9076
It still says "helm install" so I don't think that the update after using the documented deploy process is correct. Because documeted deploy process does not use helm for GKE

[2022-09-24 02:20] cbc02009 commented on #9079
@longwuyuan I *am* using the official chart from the project. I have a kyverno policy that adds init containers to all my pods to add timezone data. I can try disabling the kyverno policy, but I don't think that will make a difference, since this happens well before the policy is applied.

[2022-09-24 02:29] longwuyuan commented on #9079
Please see my post above with copy/pasted data from a cluster created using kind. It shows that there is no problem with the functionality of opening a port for TCP, in this case 2222.

The reason for closing the issue is to help reduce the use of resources for tracking support issues. If the functionality of configuring a TCP port as documented is broken, then I would not have been able to create

[2022-09-24 22:18] esxi1979 commented on #5932
Same issue

[code]

[2022-09-24 22:19] esxi1979 commented on #5932
[code]

[code]

[2022-09-24 22:20] esxi1979 commented on #5932
tried

[code]

[code]

[2022-09-25 04:24] vikree opened #9087 "Ingress-nginx controller chart 4-2-5 with AKS 1.24.3"
Ingress-nginx controller chart 4-2-5 with AKS 1.24.3 setup ---- Not able to connect the loadbalancer IP from outside the cluster. The implementation is not throwing any error and all pods are running without any issue. The logs only shows the application urls which is accessed internally.  But not able to either get 404 response or related application url be accessible.. Any clue or advise on this

[2022-09-25 06:03] esxi1979 commented on #5932
I also tried kubectl reset ..no luck

[2022-09-25 13:43] #8516 closed

[2022-09-25 22:24] fbarrerafalabella commented on #9076
I see, then a doubt because I couldnt find anything about this on the link you sent me, how I can enable both internal and external controllers with the link you send me? I tried deploying with that link but when I get the services this is all I get
´´´
kubectl get svc -n ingress-nginx
NAME                                 TYPE           CLUSTER-IP       EXTERNAL-IP      PORT(S)

[2022-09-25 22:49] longwuyuan commented on #9076
[code]

[2022-09-25 23:20] fbarrerafalabella commented on #9076
I am a little confused now, you mentioned helm installation is not documeted deploy process for gke and in the command you sent me I see helm, on this link https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.3.1/deploy/static/provider/cloud/deploy.yaml (which is the one on kubectl apply -f ..) I just see 1 service, the one I get when I list the services inside the ingress-ngin

[2022-09-26 02:51] longwuyuan commented on #9076
You want internal and also external in one install of controller. So extract demonstrates how you can get one yaml manifest for both internal and external in the same one install of controller.

The yaml we publish and document for gke has only external service.

There are too many use cases so it's impossible to write docs for all use cases.

Most users either have 2 installs, one for internal an

[2022-09-26 03:29] longwuyuan commented on #9076
/retitle Internal service not working on GKE

[2022-09-26 05:55] ldawert-sys11 commented on #8507
I don't see how the gRPC solution is related to mine as there's no GRPC involved and the Backends are also not queried via TLS but rather plain HTTP.

@UnrealCraig

I want to configure TLSv1.2 ciphers **AND** TLSv1.3 ciphersuites.

Could you please elaborate a bit more on this? Maybe give an example that I can try out for the naming?

I know - however as said I would like to adjust both TLSv1.2 an

[2022-09-26 07:47] jfpucheu commented on #8166
Hello,
I have the same issue.Release: v1.2.1.
I test disabling traffic on it and the memory is still groing ...
![Capture d’écran 2022-09-26 à 08 58 47](https://user-images.githubusercontent.com/6155547/192221625-94406c18-9fa2-4e7c-b2a9-90304514bf5c.png)

any idea ?

Jeff

[2022-09-26 09:23] Iaincox commented on #2415
I have set up nginx as an ingress controller it works fine with Firefox & Safari but chrome gives a 404?

[2022-09-26 10:29] jstangroome commented on #8507
@ldawert-sys11 your original configuration looks correct, but notably it sets the TLS ciphers for the server block for your `www2.ldawert.metakube.io` server name specifically. Is it possible the nmap test was targeting the default server block, instead of your server block with the overridden ciphers?

I.e. was nmap sending the correct Server Name Indication (SNI) value in the TLS ClientHello rec

[2022-09-26 12:12] Basitkhan23 commented on #9063
Hello.

Thanks a lot for helping.

Found the problem. May be i have missed something but seems these
[code]
headers doesn't effect the timeouts for the backend GRPC communication.
I had to add the "server-snippet" to add these
`grpc_read_timeout 120s;
      grpc_send_timeout 120s;
      client_body_timeout 120s;`

  I am closing this issue.
  Thanks Once again

[2022-09-26 13:29] Lisenish commented on #8246
@david-rozsa We have the same problem now, have you fixed this somehow?

[2022-09-26 14:01] david-rozsa commented on #8246
@Lisenish as a workaround for the canary side we use `nginx.ingress.kubernetes.io/upstream-hash-by: $cookie_<your-cookie-name>` then create the cookie if it doesn't exist yet with an nginx snippet using `nginx.ingress.kubernetes.io/configuration-snippet`

[2022-09-26 14:21] Lisenish commented on #8246
Thank you!

[2022-09-26 14:33] davem-git commented on #8852
checking in as its been 2 months now. Is there a timeline on this? Its preventing us from implementing rewrites without a host

[2022-09-26 15:21] yagyaomnius commented on #9087
We are also facing similar issue, any help will be appreciated.

[2022-09-26 15:28] bmv126 commented on #7916
/reopen

[2022-09-26 16:53] #8523 closed

[2022-09-26 17:52] samuelgautier commented on #9087
Have a look at : [https://github.com/Azure/AKS/issues/2907#issuecomment-1115721052](https://github.com/Azure/AKS/issues/2907#issuecomment-1115721052)

[2022-09-26 18:13] longwuyuan commented on #9087
If required, you can submit a PR to add notes/tips about those annotation/workaround/fixes here https://github.com/kubernetes/ingress-nginx/blob/main/docs/deploy/index.md#azure .

FYI, the static yaml published by this project used kustomize but there is no Azure/AKS specific kustomization.yaml https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/cloud/kustomization.yaml .

[2022-09-27 01:47] longwuyuan commented on #9087
![image](https://user-images.githubusercontent.com/5085914/192412077-2cb2bf18-8a40-49b0-9bb2-12296eac622d.png)

Since this does not seem like a bug/problem in the ingress-nginx controller, closing this for now.

If a bug or problem is discovered in the controller, please feel free to re-open or create a new issue.

/close

[2022-09-27 01:47] #9087 closed

[2022-09-27 01:51] longwuyuan commented on #9080
/triage accepted
/area stabilization
/priority important-soon

[2022-09-27 05:52] ldawert-sys11 commented on #8507
Hi @jstangroome, I tried both:

I tried it with the `-script-args tls.servername=www2.ldawert.metakube.io` option but the results stayed the same.

Als no success with this one. Behaviour was still the same.

[2022-09-27 07:32] daybreak999 commented on #3659
How to implement the least_conn balance in dynamic configuration mode? And what is the situation of ewma ?

[2022-09-27 11:03] RamyAllam commented on #5401
For GKE private nodes, this should help
[code]

Example
[code]

You can also list the existing rules for the cluster
[code]

Reference: https://cloud.google.com/kubernetes-engine/docs/how-to/private-clusters#step_3_add_a_firewall_rule

[2022-09-27 11:26] aslafy-z commented on #8052
/remove-lifecycle stale

[2022-09-27 12:44] rajivkr commented on #8298
I am having the same issue in AWS EKS. Anyone managed to figure out whats wrong? Asked the same question in stack overflow as well [here](https://stackoverflow.com/questions/73854492/ingress-nginx-with-crashloopbackoff-status-using-helm-release-in-terraform)

[2022-09-27 12:59] longwuyuan commented on #8298
2 pieces of info can be commented on ;
1. This link posted by the creator of this issue is not from this project's documentation https://docs.k0sproject.io/v1.22.2+k0s.1/examples/nginx-ingress/  and there is not enough resources to take care of docs from other projects
2. The information posted in this issue is not enough in terms of problem description, state of the installed objects, logs of the

[2022-09-27 15:13] longwuyuan commented on #8166
The information posted in  this issue is not extremely productive or helpful, in the context of the  problem description. For example, one way to produce this problem is in a for loop. If you send json payload for whatever objective in a for loop, without even a second of sleep, then CPU/Memory usage to handle that kind of train of events is expected.

The developers are already aware of one scena

[2022-09-27 15:53] Anddiy opened #9091 "install on k3s using k3s specific install method fails"
Hello,

Im trying to install ingress-nginx on my k3s kubernetes cluster but getting some errors during the installation using helm and manifest.

OS Version:
``
Linux kraken1.icarotech.com 4.18.0-408.el8.x86_64 #1 SMP Mon Jul 18 17:42:52 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
``

Kubernetes Version ( I NEED TO USE THIS VERSION OF K3S/KUBERNETES BECAUSE MY APPLICATION ONLY RUNS ON A 1.21.X KUBERNE

[2022-09-27 16:10] longwuyuan commented on #9091
- Use these installation methods https://kubernetes.github.io/ingress-nginx/deploy/
- If you still have bugs/problems then edit your post and provide the information that is asked in the template of a new issue template
- But this seems like a support issue so better to discuss in K8S slack as there is lack of resources here
- Even better to raise the issue in Rancher project or discuss in Rancher

[2022-09-27 16:16] longwuyuan commented on #9091
/retitle install on k3s using k3s specific install method fails

The error message is hinting at a DNS problem that has nothing to do with the ingress-nginx-controller

[2022-09-27 19:47] fbarrerafalabella commented on #9076
I created the ingress following your recommendations but still internal ip does not apply, here is my yaml file
<details><summary>yaml/summary>
[code]
 </details>

I also saw in the logs of my controller the following
[code]

I updated with the values from the kubectl apply

[2022-09-27 22:11] longwuyuan commented on #9076
- I can not study each and every object and resource in your yaml without having the context and details of the command and values file used to generate the yaml
- The error message hints that you customized the install and did not use a default install but you have not posted the customization data (maybe for security reasons). So not possible to say precisely what happened
- Its also likely that

[2022-09-27 22:26] fbarrerafalabella commented on #9076
here the answers
- the yaml file is exactly the one on the documentation for GKE on this link https://kubernetes.github.io/ingress-nginx/deploy/#gce-gke I just added this part as you suggested (literally coppied, paste on my code editor, and addet 1 service, there are no customizations and no hidden data as this is staging env)
[code]

since this command just created the external one
[code]
- I in

[2022-09-27 22:31] longwuyuan commented on #9076
Do you have this state after latest install
[code]

[2022-09-27 22:35] longwuyuan commented on #9076
slack for K8S is at kubernetes.slack.com .  Registration is slack.k8s.io . you can ask in the `#gke` channel

[2022-09-27 22:42] longwuyuan commented on #9076
Also, I think someone posted a message in another issue (can't recall which one) about the GCP firewall needing extra rules for allowing LB over internal network. You can double check your firewall rules if it allows the internal network traffic for required ports

[2022-09-27 22:51] fbarrerafalabella commented on #9076
Yes, I havent noticed the MountVolume but that message is from the latest install, we have created the firewall rules because right now we are running 3.34.0 and with that version we have both internal and external controllers, i noticed the introduction of the ingressclass object was after 4.x.x versions because of the deprecation of the beta ingresses used on the 3.x.x versions

[2022-09-27 23:27] nissy34 commented on #7857
/remove-lifecycle stale

[2022-09-28 00:50] longwuyuan commented on #9076
ok, so that means the information you have posted can not be used to analyze the problem.

If you do the steps recommended to do a clean supported install and then edit your original post in this issue and update all the information, then maybe we can find some info that helps.

This does not seem like a difficult troubleshooting. But its getting extended for long long time because you are sending

[2022-09-28 02:13] rittneje commented on #7698
/remove-lifecycle stale

[2022-09-28 08:06] #8391 closed

[2022-09-28 08:10] pankajakhade opened #9094 "not able to redirect http to https with nginx ingress helm chart version 0.14.1 and EKS version 1.22"
Issue:
I am not able to redirect HTTP to HTTPS with the latest nginx ingress helm chart.

Expected result:
Ingress should be able to redirect http to https.

Issue description:
I have EKS 1.22 and nginx controller helm version 0.14.1 deployed.

My Nginx service:
kind: Service
apiVersion: v1
metadata:
  name: nginx-ingress-nginx-ingress
  namespace: nginx-ingress
  annotations:
    meta.helm.sh/rel

[2022-09-28 12:12] longwuyuan commented on #9094
This version number `  0.14.1`is not indicating any recent supported release from this project.
You can check this https://kubernetes.github.io/ingress-nginx/deploy/

Then if you insall as per docs, then edit your original post and provide the information that is asked in the template of a new issue. Then re-open this issue.

/close

[2022-09-28 12:12] #9094 closed

[2022-09-28 14:23] lmad4832 opened #9095 "Dynamic reconfiguration failed : unexpected error code: 406"
**What happened**:

`I0928 13:46:50.063109       7 event.go:285] Event(v1.ObjectReference{Kind:"Pod", Namespace:"system", Name:"support-public-ingress-controller-59f4f68fbf-7hmgv", UID:"a653fb1c-21bd-4b69-b5f2-84eda20cab1a", APIVersion:"v1", ResourceVersion:"628007792", FieldPath:""}): type: 'Normal' reason: 'RELOAD' NGINX reload triggered due to a change in configuration
W0928 13:46:51.068671

[2022-09-28 14:34] #9080 closed

[2022-09-28 14:39] strongjz commented on #9091
This looks like a DNS issue inside your cluster, try testing accessing the helm site with [nicolaka/netshoot](https://hub.docker.com/r/nicolaka/netshoot/#!)
[code]

[2022-09-28 14:42] longwuyuan commented on #9091
/kind support

[2022-09-28 14:47] strongjz opened #9096 "Add go vul checker to the CI testing"
Add go vul checker to the CI testing along with the other security tooling scans.

https://go.dev/blog/vuln

/triage accepted
/kind feature
/priority backlog
/good-first-issue
/help-wanted

[2022-09-28 14:48] jaehnri commented on #9096
Hi!
I would like to tackle this issue :)

/assign

[2022-09-28 14:54] longwuyuan commented on #9095
/remove-kind bug
/kind support

You can try `helm -n ingress-nginx upgrade ingress-nginx ingress-nginx/ingress-nginx` type of operation so resources will reconcile to default. And if you used a values file then add the `-f values.yaml` there

Manual changes to helm-release based objects contradicts helm's idea of managing the objects deployed via helm

[2022-09-28 14:56] strongjz commented on #8487
@tao12345666333 can we discuss this for tomorrow's community meeting?

[2022-09-28 14:57] tao12345666333 commented on #8487
yes!

[2022-09-28 15:08] lmad4832 commented on #9095
I did the revert back as you mentioned but still it is restarting. Furthermore I've enabled debug on the controller and below is the log.
`I0928 14:58:15.272376       7 controller.go:185] "Backend successfully reloaded"
I0928 14:58:15.272447       7 controller.go:196] "Initial sync, sleeping for 1 second"
I0928 14:58:15.272490       7 event.go:285] Event(v1.ObjectReference{Kind:"Pod", Namespace:"s

[2022-09-28 15:29] longwuyuan commented on #9095
- Comments not based on data are less helpful
- The error message refers to several objects and odd states and the idea of doing a `helm upgrade` is not reflected there
- I don't know the meaning of 406 off of the top. I could look it up but I am not going to
- If you post data that is commands and their outputs, it may help
- Example data you can post
  - Try to create yet another new issue as bu

[2022-09-28 15:43] longwuyuan commented on #9060
/kind feature

[2022-09-28 15:47] longwuyuan commented on #9060
/remove-kind feature
/triage unresolved

[2022-09-28 15:48] longwuyuan commented on #9060
/kind feature

[2022-09-28 15:52] longwuyuan commented on #8911
/unassign @Aryan-Deshpande

[2022-09-28 15:54] mostaabeid opened #9097 "HTTP to HTTPS redirect issue"
**What happened:**
Encountered an error after deploy existing .Net framework web application on AKS with Nginx ingress using TLS certificate.

and error on browser:
-https://app.xxx.yyy.zzz/official/users

HTTP ERROR 500

and for the main page that shows some metadata about the application itself, It didn't catch the HTTPS and catches  HTTP instead

  **https**://app.xxx.yyy.zzz/official/

  "@oda

[2022-09-28 16:07] longwuyuan commented on #9097
Hi @mostaabeid ,

It will help if you edit your post as per below suggestions ;
- Click on create new issue button and look at the questions that are asked
- Copy paste all those questions here in your original post and answer those questions
- By default, the ingress controller redirects HTTP to HTTPS, if TLS is enabled for a ingress https://kubernetes.github.io/ingress-nginx/user-guide/tls/#serv

[2022-09-28 16:07] #9097 closed

[2022-09-28 18:56] jaehnri commented on #9096
It seems like something is wrong with the binary generated in `make build`:

[code]

I've noticed that the same happens with the `dbg` and `wait-shutdown` binaries. Just to make sure, I've tested the tool against the `kubectl` binary and it did work. I'm still investigating, but if you have any idea of why that happened, I would be glad to hear :)

[2022-09-28 19:06] jaehnri commented on #8879
Hi! I'm still facing this issue. However, when I simply remove the `"--load"` value from https://github.com/kubernetes/ingress-nginx/blob/main/Makefile#L59, it does work.

Does it make sense to open a PR removing it?

[2022-09-28 20:06] fbarrerafalabella commented on #9076
Hmm even though I performed all steps described in the documentation seems like you cannot give any support, thanks for the help I will open another issue if needed

[2022-09-28 20:06] #9076 closed

[2022-09-28 21:33] Volatus commented on #8166
Is that the overall usage of the Ingress NGINX pods?

[2022-09-28 23:02] longwuyuan commented on #9076
I think you did not perform the steps like this ;
- Uninstall  controller by using same values file or same manifest that you use to install
- Check manually if there is any resource created by any previous install and lingering
- Install the controller as per docs linked
- Install a second controller as per this https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-

[2022-09-29 02:17] #8514 closed

[2022-09-29 02:19] buraktabn commented on #9033
I have a similar issue. Requesting to `grpc.mydomain.com` is working fine but `grpc.mydomain.com/myPath` returns failed name resolution.

[code]

[2022-09-29 03:07] strongjz commented on #8879
It's works for me on my m1.  Others it would load into the docker context.

I wonder if it's versions of docker as well?

[2022-09-29 04:38] longwuyuan commented on #9033
can you write a step by step instruction procedure, that anyone can copy/paste to a kind cluster or a minikube cluster and reproduce this problem, using this hello-world app https://github.com/grpc/grpc-go/blob/91e0aeb192456225adf27966d04ada4cf8599915/examples/features/reflection/server/main.go

[2022-09-29 04:54] jseparovic commented on #7546
@mkreidenweis-schulmngr Do you know if there is a workaround for this? I'm seeing this issue just now where I have created a second controller to bypass our CDN so we can use mTLS directly. I'm relying on http headers set by nginx in a http-snippet but getting the same error as you've described:

[code]

My configmap is setup in the same namespace as the 2nd contriller:
[code]

It seems this issue

[2022-09-29 04:57] jaehnri commented on #8879
Well, I'm not using M1...
[code]

Maybe we should add the `"--load"` option just for M1s?

[2022-09-29 05:01] longwuyuan commented on #7546
@jseparovic is it possible for you to provide a step by step instructions process that someone can use on their minikube clsuter or a kind cluster, and reproduce this problem.

[2022-09-29 05:02] jaehnri commented on #8879
/assign

[2022-09-29 06:24] jseparovic commented on #7546
@longwuyuan Yep no worries. I'll update this comment once I've put something together

[2022-09-29 06:56] jfpucheu commented on #8166
hello,
I m trying to dump memory but i have some trouble to did it with gdb (permission issue )
for the moment the only thing i know is:
 - Is not link to the traffic on the ingress (memory can grow without traffic)
 - Is not link directly with the ingress volume because I have an ingressclass with 1901 rules and I have the issue, and another class with 2329 rules without memory groing.... in the

[2022-09-29 09:16] tudor-pop commented on #8414
this is especially true because CN is kind of deprecated and Subject Alternative Name **MUST** include the CN as well. SAN is the main list of domains used to validate the certificate.

[2022-09-29 10:31] razvan-moj commented on #8166
Just a +1: we see memory increasing constantly since upgrading to ingress v1, easily shown because we still also have the 0.x ingresses in the same cluster and those pods are stable. The leak is much more visible on the ingresses with modsecurity enabled, which we resorted to killing once they reach 4GB. Sample graph for a pod over 24 hours:
<img width="795" alt="Screenshot 2022-09-29 at 11 30 47"

[2022-09-29 11:13] jfpucheu commented on #8166
I suspect modsecurity too...

[2022-09-29 12:42] kreuzert opened #9099 "Multiple k8s services for one server_name/location pair"
Hi,

is it possible to target multiple k8s services behind a single server_name/location combination?

We're currently using a manual nginx deployment in front of a relatively unstable webservice. This webservice answers occasionally with an 503 error status code. While we had no success in the past months to find and fix the reason for this, we could use nginx's `proxy_next_upstream` feature to c

[2022-09-29 12:50] longwuyuan commented on #8166
- memory_spike or memory_leak should be solved sooner than later (to state the obvious).
- There is report of memory leak even after killing load in this issue
- There is report of memory_spike on enabling modsecurity
- memory_spike would be expected on enabling modescurity due to higher inspection etc
- But request is to kindly help with information like ;
  - a step-by-step procedure that can be

[2022-09-29 12:56] longwuyuan commented on #9099
/kind support
Are the backends created from different docker images or is it the same docker image ?

[2022-09-29 13:44] strongjz commented on #8879
Interesting, it looks like my docker build is always doing a docker buildx build

[code]

[2022-09-29 13:51] kreuzert commented on #9099
All services are targeting the same container. So it's the same docker image.

[2022-09-29 14:30] longwuyuan commented on #9099
Can you discuss this in  kubernetes.slack.com and get the help you need in this in the ingress-nginx-users channel. Less resources here. Register at slack.k8s.io if needed. Also there are several people who see messages there, unlike here.

If its the same image then its not clear why you have differently named backends etc. You could just have multiple replicas of te backend etc etc type of thoug

[2022-09-29 15:09] ArchangelSDY commented on #8250
/remove-lifecycle rotten

[2022-09-29 15:25] strongjz commented on #9067
Per @rikatz "https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/template/nginx.tmpl#L681
we need to check this lua code and this part of the code if it is locking connections"

[2022-09-29 15:27] strongjz commented on #9060
/help

This is an interesting feature we may look to support in the future, but right now we need someone to investigate this further.

[2022-09-29 15:27] strongjz commented on #9060
/priority backlog
/triage accepted

[2022-09-29 15:52] strongjz commented on #8034
https://github.com/kubernetes/ingress-nginx/pull/8955

[2022-09-29 16:03] joshuadmatthews commented on #8690
I am having same issue on AKS K8s version 1.22.11 latest helm chart.

`Helm upgrade failed: pre-upgrade hooks failed: timed out waiting for the condition  Last Helm logs:  Add/Modify event for ingress-nginx-admission-create: ADDED ingress-nginx-admission-create: Jobs active: 0, jobs failed: 0, jobs succeeded: 0 Add/Modify event for internal-ingress-nginx-admission-create: MODIFIED ingress-nginx-ad

[2022-09-29 16:13] razvan-moj commented on #8166
👍

Confirmed for us too, the ingress without modsecurity also leaks, but much slower so not a concern at this time.

Correct, and it shows in the graph I posted above. Not high enough to be a concern.

Install is done on EKS 1.21 by this terraform module: https://github.com/ministryofjustice/cloud-platform-terraform-ingress-controller called from https://github.com/ministryofjustice/cloud-platform

[2022-09-29 17:20] longwuyuan commented on #8166
sorry, that came out wrong about the coredump. The intent is to get your core dump analyzed for bugs. And the thought was more like if a developer asks, then are you willing to privately & securely provide the coredump to the developer.

[2022-09-29 17:25] razvan-moj commented on #8166
While the code linked above is all MIT and you can even watch it being modified for any request, I don't think live systems data can be shared, sorry.

[2022-09-29 18:13] longwuyuan commented on #8166
sounds reasonable from security point of view. So lets wait and see if any data like `steps to reproduce at will` will become available (besides developer time)

[2022-09-29 19:22] #8208 closed

[2022-09-29 20:23] #8536 closed

[2022-09-29 20:32] buraktabn commented on #9033
Well, I've tried to do that but I'm not experienced with GoLang. Instead, I use [Dart's hello-world example](https://github.com/grpc/grpc-dart/tree/master/example/helloworld).

[code]
[code]

[code]

The problem with this deployment is that `/customPath` not working. The endpoint I'm trying to access is 'http://burak.sv/customPath` and it gives a message saying `Name resolution failed for target d

[2022-09-29 21:02] vitobotta commented on #8233
@nlybe HI, did you manage to use this configuration? Where should I put it if I cannot do it with the values for the helm chart? Thanks

[2022-09-30 00:29] longwuyuan commented on #8879
I think `docker build` from a prompt is completely different use-case.

At least for e2e test locally (or e2e test with limited scope set with $FOCUS=),  `make dev-env` or `make build image` and all other make targets are calling `run-in-docker.sh` and `make` is what most contributors and users run, because it is integrated.

[2022-09-30 00:54] jseparovic commented on #7546
@longwuyuan I cannot seem to reproduce this another cluster, and since the original cluster was reconfigured to not require the configmap on the secondary controller.
Cheers

[2022-09-30 01:16] longwuyuan commented on #7546
thanks for updating

[2022-09-30 11:33] rittneje commented on #8094
/remove-lifecycle stale

[2022-09-30 12:39] bmv126 commented on #9095
@lmad4832
What are the configs that you removed ?

[2022-09-30 12:40] kingli-crypto commented on #6937
Hope it helps a fellow use, I was using wildcard domain and I have to add `--metrics-per-host=false` for this metric to work.

[2022-09-30 13:55] patsevanton commented on #5496
Please share code with multi-origin support for cors-allow-origin

[2022-09-30 13:57] kszafran commented on #5496
You can now specify multiple, comma-separaeed domains in `cors-allow-origin`, e.g.:
[code]

[2022-09-30 15:00] #8693 closed

[2022-09-30 17:04] tontondematt commented on #4944
It's 2022 and i have the same issue. Nginx ingress controller behind an ALB, targeting a microservice running 3 instances.  When doing a node upgrade we get the odd (not many but still a handfull like 10 ) 504 errors.  Same conclusion it is retrying on the same  adress even though we have at least 2 available instances at all times (PDB maxUnavailable is set to 1).

upstream_addr | 100.65.187.226:

[2022-09-30 18:45] esigo commented on #5883
WIP in #9016.
This issue probably can be closed.

[2022-09-30 19:08] IvanJosipovic commented on #1850
I built an API that can be used with nginx.ingress.kubernetes.io/auth-url.  https://github.com/IvanJosipovic/ingress-nginx-validate-jwt

[2022-09-30 19:24] strongjz commented on #8932
[code]

[2022-09-30 19:38] #5883 closed

[2022-09-30 21:30] winrono opened #9111 "Can't update on Kubernetes 1.22 version on AWS"
**What happened**:

I've tried to run command `kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.3.1/deploy/static/provider/aws/deploy.yaml`

**What you expected to happen**:

To see running ingress-nginx-controller. Instead it stuck in ContainterCreating status.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --vers

[2022-09-30 23:25] jaehnri commented on #9096
Quick update: `govulncheck` is not able to run without the Go symbol table, which is disabled in `build/build.sh` with the `-ldflags="-s`" option.

However, it took quite a long time:

[code]

[2022-10-01 07:44] nlykkei opened #9112 "How to disable the default backend?"
I want to disable the default backend for the NGINX Ingress Controller. The reason is that multiple DNS domains (e.g. `*.foo.com` and `*.bar.com`) are mapped to the load balancer, and hence it's not possible to configure a (custom) TLS certificate with full coverage to prevent certificate validation errors for HTTPS requests routed to the default backend. This results in a multitude of false-posit

[2022-10-01 07:44] longwuyuan commented on #9111
/remove-kind bug
Hi, recently other users reported a working conroller v1.3.1 on EKS with K8S v1.22 so the controller is not broken. I think you could be having security groups not allowing required ports like 8443 or 10254 etc.

[2022-10-01 07:47] Timoses commented on #7859
/remove-lifecycle stale

[2022-10-01 08:10] longwuyuan commented on #9112
If you inspect the hostname header and the path, then I think you are already beyond the point of refusing or accepting. This link explains that after checking the headers for hostname and path, if there is no matching rule, then the request has to be routed to something defined as a default-backend. And if there is no default-backend defined, then how to handle the request is left to the controll

[2022-10-01 08:19] longwuyuan commented on #9112
And I just now checked that if the hostname header is a match but the path is not a match, even then the defalt behaviour is a response code 308 and only after that the request to the redirected URL is received, the controller responds with 404 ;
[code]

So it will be interesting to know your use case. As in are you configuring a default-backend to begin with ?  And then are you getting a 404 from

[2022-10-01 09:40] longwuyuan commented on #9096
does it increase binary size(s) ?
you can try the `make dev-env` with kind locally as documented in the developer guide and you will get a local build of the controller + binaries and a running kind cluster to test against for any other issues.

[2022-10-01 10:22] longwuyuan commented on #9111
/kind support

[2022-10-01 10:41] lbodtke commented on #8229
/remove-lifecycle rotten

[2022-10-01 11:19] nlykkei commented on #9112
Thank you.

I consider the responses from the controller as responses from the
controller’s integrated default backend.

I haven’t configured any custom default backend, i.e. a Kubernetes service.

Do you understand why I wouldn’t like to have the default backend return
404 responses with a self-signed or invalid certificate for the domain
name? Those responses are detected by security scanners as

[2022-10-01 12:00] longwuyuan commented on #9112
@nlykkei Your expectation is understood.
Because you have not configured any deployment/pod/service to be default-backend, the response you get is from the controller itself.
Wait for a developer or expert to comment further.
I was wondering if its possible, to explore creating a simple app using nginx:alpine, that will log a message but not send a response back to client

[2022-10-01 15:57] jaehnri commented on #9096
It does increase. I will put more details when I open a PR, but the symbol table increases the binary size from 37M to 42M.

[2022-10-01 15:59] devurandom commented on #9016
While looking into instrumenting a service of my own and using this `opentelemetry-operation-name` as a blue print, I noticed that the OpenTelemetry specification suggests not to use this form.

For [clients](https://github.com/open-telemetry/opentelemetry-specification/blob/d1c24937aad93b8d91c3b677976ccb8f432df5b0/specification/trace/semantic_conventions/http.md#name) they specify to use `HTTP $r

[2022-10-01 17:46] esigo commented on #9016
@devurandom thanks for pointing this out. What I've posted is meant to be used for e2e test only.
semantic conventions will be used in the documentations PR.

[2022-10-01 22:26] lknite commented on #8475
I have mostly been able to figure out oauth2-proxy and can use it to password protect site such as in the example.  I haven't got it perfectly though so I hesitate to give example code.  In my case it works to password protect then gives an error after logging in, if I refresh then I get to whatever the target app is.

I haven't retried this in awhile but when I did the example did not work.  It's

[2022-10-01 22:26] #8475 closed

[2022-10-01 22:35] lknite commented on #8475
@zetaab to possibly help you along if you are still working on this in the app being protected, not oauth2-proxy, but the app I eventually found the following annotations that oauth2-proxy needed to get the bearer token to be passed along:
[code]

[2022-10-01 23:15] longwuyuan commented on #8475
The software providing the OAUTH2 service is sometimes configured with a URL that a sucessfully authenticated user's request must be sent to.

[2022-10-02 04:39] nlykkei commented on #9112
Why is it that we see your HTTP request getting redirected to HTTPS? Why
doesn’t NGINX handle the request without redirection?

On Sat, 1 Oct 2022 at 14.00, Long Wu Yuan ***@***.***> wrote:

[2022-10-02 08:02] s7an-it commented on #6358
@DavidKittleSEL, doesn't work on helm chart 4.2.5 with Jenkins. I get internal calls redirected to http not respecting the proto call.

[2022-10-02 12:32] longwuyuan commented on #9112
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-side-https-enforcement-through-redirect

[2022-10-02 14:58] naofel1 commented on #8238
Hello @Venthe ,
I have exactly the same problem, do you have any update to fix this problem ?

[code]

[code]

Thank you!

[2022-10-02 15:42] Venthe commented on #8238
@naofel1 in my case it was cert that was encrypted below 2048. I've used alternative nginx ingress provider, and it has showed me this info in logs

Try cert with at least 2048 (or 4096?) Bits

[2022-10-02 15:57] naofel1 commented on #8238
@Venthe
Oh ok very interesting, I was using bitnami Nginx ingress controller.
I just now try to switch to Nginx ingress from Kubernetes and the problem disappears. I think there is a problem with previous Nginx version.

Thank you, for your fast response!

[2022-10-02 19:29] navkast commented on #6061
/reopen

[2022-10-03 06:04] #8539 closed

[2022-10-03 11:20] longwuyuan commented on #6523
Even without kubernetes, if a process makes calls to unresolvable hostname
in a infinite loop, then there will be impact.

Thanks,
; Long

On Mon, 3 Oct, 2022, 4:32 PM dexterlakin-bdm, ***@***.***>
wrote:

[2022-10-03 11:31] aschleifer opened #9116 "Dropping kubernetes version support in feature version"
Hi,

version 4.3.0 of the helm chart is dropping support for kubernetes 1.20. I would consider such a change as a breaking change.

In our company we use [Renovate bot](https://docs.renovatebot.com/) to automatically merge feature and bugfix version updates for helm charts to our dev clusters.

Unfortunately we are still running on kubernetes 1.20 and such the auto-deployment of this version crash

[2022-10-03 12:04] #8086 closed

[2022-10-03 13:57] longwuyuan commented on #9116
@aschleifer it happend in unusual circumstances so kindly bear. Project is in feature-freeze phase till December 2022 at least. And all resources are on stabilization efforts to keep things sane and reasonable. These releases are forced due to CVEs and critical bugs or API deprecations.

Things will get better in 2023.

/remove-kind bug

[2022-10-03 14:15] bmv126 commented on #9116
@aschleifer
Can you share the error message with which deployment failed, so that it can help others who will face similar issue.

[2022-10-03 14:48] mecseid commented on #8784
/remove-lifecycle stale

[2022-10-03 15:07] lmad4832 commented on #9116
1.4.0 updates ingress-nginx to use Endpointslices instead of Endpoints. This will cause nginx to have no active endpoints for the ingress objects. Faced the same issue on one of our non-prod clusters which is running v1.20.

[2022-10-03 15:18] Segaja commented on #9116
I don't have an exact error messages but all URLs to the clusters resulted in 503 errors

[2022-10-03 15:28] razvan-moj commented on #8166
Unfortunately I can't reproduce this with a basic local setup. What I tried:
1. Get a Docker Desktop cluster running, it installs K8s v1.22.5
2. Deploy an ingress with modsec on and metrics server via terraform
[code]
CRDs are a dependency, no need for a full prometheus. The ingress has a default backend so not need to create any app.
3. Get a snapshot at start:
[code]
4.  Start hammering it with

[2022-10-03 18:04] #8555 closed

[2022-10-03 18:20] longwuyuan commented on #9116
@lmad4832 , just FYI, one of the aspects here is that K8S v1.25 is the current release of K8S. So need to be in sync with API changes. You can observe that normally it will be current release plus 2 previous releases supported.

The good thing is that the older releases of the ingess-nginx-controller are not removed from the registry. So its possible to check compatibility, dependency, changelog e

[2022-10-03 21:35] Segaja commented on #9116
I'm not denying that being up-to-date is important and that we should update. But semantic versioning teaches us that as long as the first digit in the version number doesn't change you can upgrade the software (the helm chart in this case) without issues, as the only changes you will get are bugfixes (third digit) and news feature you can use but don't have to (second digit).

A change as we saw

[2022-10-03 21:42] longwuyuan commented on #9116
Thanks for understanding. Agreed there is room for improvement and helping avoid such issues. Just hoping the info got out to you that on one hand the entire story is in the Annoucement made and he PRs and the issues. Short comments will not justify. Its just current circumstances. And efforts are underway to stabilize on all fronts so hopefully semver alignment will also occur due to stabilizatio

[2022-10-04 01:00] BinaryWorld2099 opened #9119 "How rewrite target working under the hood?"
I was trying the rewrite target in k8s nginx
here is my example:
nginx.ingress.kubernetes.io/rewrite-target: /$2
path is set to ggg

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
annotations:
nginx.ingress.kubernetes.io/rewrite-target: /$2
name: single-routeggg
namespace: test
spec:
ingressClassName: nginx
rules:

host: test4.test5.test6.com
http:
paths:
path: /ggg(/|$)(.*)
pathType: Ex

[2022-10-04 09:15] longwuyuan commented on #9119
/remove-kind bug
The information required to help resolve this problem is not available like the `kubectl describe ...` output of the ingress resource and the other details like logs and curl request etc etc.

When you create a new issue, there is a template that asks questions to help make things better. None of those questions are answered so any response to you will be based on guesses. Kindly

[2022-10-04 12:42] kreuzert commented on #9099
Used workaround for this:
https://github.com/jupyterlab/jupyterlab/issues/7081#issuecomment-1266925873

[2022-10-04 12:42] #9099 closed

[2022-10-04 14:21] Sliuza commented on #8338
Someone found any solution for this?

[2022-10-04 16:14] jfpucheu commented on #8166
Hello,
On my side I clearly link the issue with the number of ingress using modsecurity on:
<img width="1383" alt="ingress_modsec" src="https://user-images.githubusercontent.com/6155547/193869683-de5a1469-7608-4488-9d9b-4a6eee9923b4.png">

Context:
  image: ingress-nginx/controller:v1.2.1
  Number of rules: 1838
  number of Config reload: 20/days

args:
        - /nginx-ingress-controller

[2022-10-05 10:22] nikowitt commented on #5576
Just encountered this issue as (having a Tomcat in backend). Unfortunately, the suggested workarounds fail due to https://github.com/kubernetes/ingress-nginx/issues/7837#issuecomment-969750366 as now proxy-pass is on the blacklist.

Are there any other ideas to bypass this except for modifying backend to allow the characters?

[2022-10-05 14:01] rameez-dgc commented on #1374
I second this comment these instructions are really unclear for someone who is not a devops expert, I am facing the same issue in 2022. I would really appreciate the kubectl command or ingress file that solves this issue.

[2022-10-05 14:46] douglasawh commented on #8852
We would also like to know if there is any timeline here.

[2022-10-05 15:25] longwuyuan commented on #1374
Can you show on zoom?

Thanks,
; Long

On Wed, 5 Oct, 2022, 7:31 PM rameez-dgc, ***@***.***> wrote:

[2022-10-05 17:06] sokoow opened #9125 "Is there any way to increase controllers post-shutdown-grace-period parameter value in helm?"
**What happened**:
I'm trying to get more than 10 seconds of grace when shutdown is invoked. I can see that there's post-shutdown-grace-period parameter, but helm chart doesn't seem to be able to change it (I may be wrong).

I thought https://github.com/kubernetes/ingress-nginx/issues/8095 and https://github.com/kubernetes/ingress-nginx/pull/8143 might help, but not much info over there either

**

[2022-10-05 17:20] longwuyuan commented on #8852
I think additional info will be a step forward.
Even though @harry1064 mentioned his test, personally, I feel the details are not elaborate enough.
For example, can anyone confirm that the use case here is ;
- Ingress resource created with the field ingress.spec.rules.host not defined
- Multiple paths like `/`, `/home`, `/about`, `/contact` in same one single ingress resource configured
- Only one

[2022-10-05 17:58] davem-git commented on #8852
@longwuyuan to answer your questions.

`Ingress resource created with the field ingress.spec.rules.host not defined` Correct

`Multiple paths like /, /home, /about, /contact in same one single ingress resource configured` I believe this is Incorrect for any ingresses with the `nginx.ingress.kubernetes.io/rewrite-target` which would make multiple paths rewrite to the same place.

`Only one single i

[2022-10-06 00:35] jaehnri commented on #8910
/assign

[2022-10-06 01:54] jshum2479 opened #9126 "ssl passthrough not working"
I installed nginx ingress controller with the latest 1.4.0 version on minikube 1.24 k8s version on linux.

kubectl -n nginx-ns get all
NAME                                            READY   STATUS    RESTARTS   AGE
pod/ingress-nginx-controller-5956f66db5-wkh6l   1/1     Running   0          5m22s

NAME                                         TYPE           CLUSTER-IP     EXTERNAL-IP   PORT(S)

[2022-10-06 10:44] kundan2707 commented on #9125
@sokoow  you can achieve graceful shutdown by adding following content in pod spec
[code]

[2022-10-06 10:44] kundan2707 commented on #9125
/remove kind-bug

[2022-10-06 13:18] bhargavamin commented on #8935
@Xtigyro I'm facing the same issue after I upgraded to version: 4.2.5 and appVersion: 1.3.1. How did you fix this issue?

[2022-10-06 13:26] kavin-kr opened #9127 "Default SSL certificate is not used when installed through Helm"
After installing helm with default SSL certificate,
[code]

But nginx serves the fake SSL certificate instead of the above default certificate. If I get the helm values for the nginx, it is showing me extra values correctly.
[code]

By inspecting the `nginx-ingress-controller` args, it seems the `default-ssl-certificate` is not present when installed through helm.
[code]

But once I edited the dep

[2022-10-06 13:44] longwuyuan commented on #9126
/remove-kind bug

I just tried ssl-passthrough and could nto reproduce the problem.
Cna you write a step by step guide that can be used to copy/paste from on a minikube or kind cluster to reproduce the problem

[2022-10-06 13:45] longwuyuan commented on #9125
/remove-kind bug
/kind support

[2022-10-06 14:48] longwuyuan commented on #9126
- The way you have written, its not possibel to copy/paste. Please reformat to markdown
- There are many questions asked in issue template that help provide context. Please answer them
- Can you provide a image to use for creating backend pod
- There is no report of real state and real traffic like
  - logs from controller pod
  - output of `kubectl describe of pod nd service and ingress`
  - your

[2022-10-06 17:37] tavlima opened #9128 "gRPC backend protocol doesn't seem to have support for timeout configs"
I couldn't find a way to set any of the `*_timeout` configs in the docs, except for using config snippets directly. It would be great to either document this or introduce new annotations to expose those settings.

[2022-10-06 20:36] #8004 closed

[2022-10-06 23:18] jshum2479 commented on #9126
ok, let me find a way so that you can reproduce it.  I just tried our setup in a real k8s cluster and got the same result.

[2022-10-07 15:49] syst0m opened #9132 "External OAUTH authentication results in series of redirects when basic authentication fails on upstream"
**What happened**:

Using external OAuTH authentication for an upstream service that also has basic authentication configured.
OAUTH authentication works, basic authentication also works if correct username/password are provided.

In case a bad username/password is provided for the basic authentication part, a series of redirects occur.
The upstream service returns a `/loginError` page, which ngin

[2022-10-07 16:08] longwuyuan commented on #9132
/remove-kind bug

Can this be reproduced by using nginx:alpine as the image to create a workload/deployment pod, to be the designated secure service ?

[2022-10-07 18:51] jrhunger commented on #8461
I am having this issue on a server and i think that the error message is misleading.
[IsPortAvailable[](https://github.com/kubernetes/ingress-nginx/blob/af745bd97dce317a8788589588ae754711df69af/internal/net/net.go#L31) checks if it's possible to bind on the port.

if that is false then the error is assumed (and logged) as [already in use](https://github.com/kubernetes/ingress-nginx/blob/a581a7bebc

[2022-10-07 19:00] sravanakinapally commented on #6523
Same issue
`dns.lua:152: dns_lookup(): failed to query the DNS server for`

[2022-10-07 19:54] jrhunger commented on #8461
Looks like in the v1.2.0 image: k8s.gcr.io/ingress-nginx/controller:v1.2.0@sha256:d8196e3bc1e72547c5dec66d6556c0ff92a23f6d0919b206be170bc90d5f9185 that the /nginx-ingress-controller does not have the cap_net_bind_service capability applied, whereas it is on v1.3.0, v1.4.0, and v1.1.3 do.

Tested by creating pod below approximating how the controller is run by the deployment.  Change the name and i

[2022-10-07 19:58] jrhunger commented on #8461
Leaving the above comment in case it helps someone else in troubleshooting, but in fact when i run the v1.2.0 image on a working node, i *do* see the cap_net_bind_service=ep on the /nginx-ingress-controller.  So i would say the main issue here for this project is the potentially misleading error.

[2022-10-07 20:40] jshum2479 commented on #9126
@longwuyuan   I figured out what's wrong.  Our service is headless and ssl passthrough does not work.   Once I created a headed service to the same port then it works fine.  This looks like this, not sure it ever got resolved.

https://github.com/kubernetes/ingress-nginx/issues/9126

[2022-10-07 20:41] jshum2479 commented on #9126
In the controller debug log,  I found something like this if the ingress is routed to the headless service

E1007 17:21:41.739929       7 tcp.go:85] "error dialing proxy" err="dial tcp: lookup None on 10.96.0.10:53: no such host" ip="None" port=7002 hostname="dummm.org"

[2022-10-07 22:52] longwuyuan commented on #8461
@jrhunger thank you very much for this update.
Kindly allow me to recap before I check because there was discussion and I think even a PR around CAP_NET_BND.

Do I understand correctly from you above post that even the suspected v1.2.0 of the controller works and there is no flawed code like missing CAP_NET_BIND in v1.2.0 of the controller ?

[2022-10-07 23:07] jrhunger commented on #8461
@longwuyuan correct, the v1.2.0 image has the proper cap_net_bind_service when freshly pulled.

[2022-10-07 23:58] strongjz commented on #8461
Can someone add this to the troubleshooting documentation? @jrhunger if you don't mind we would greatly appreciate it.

[2022-10-08 00:02] strongjz commented on #7652
That sounds like a reasonable fix.

@tao12345666333 we don't hardcode the name of that right?

We should be able to easily accept a PR to update the helm template if the answer is no.

Thanks for the suggestion folks.

[2022-10-08 03:18] xs233 commented on #8761
I solved this problem with the new method. The path is still /, I moved the name to the host field. I added the name as a subdomain of the host like this:

[code]

When you use this way you need to use SAN to generate your tls certificate, you can bind multiple hosts to one certificate. I'm glad it works well.

[2022-10-08 12:26] jshum2479 commented on #9126
Can you confirm whether ssl passthrough should work when the target service is headless?

[2022-10-08 12:52] longwuyuan commented on #9126
I don't know.

My guess is that is very strange discussion. Because if your headless service returns CNAME records because the headless service is not configured with selectors, then you can send your HTTP request directly to that CNAME instead of sending to the ingress controller.

[2022-10-08 12:52] longwuyuan commented on #9126
https://kubernetes.io/docs/concepts/services-networking/service/#without-selectors

[2022-10-08 13:04] strongjz commented on #8461
I have also ran into this issue and the error message is misleading. I plan to fix it to make it more appropriate and accurate.

[2022-10-08 18:18] jshum2479 commented on #9126
We do have a selector, it is just the `clusterIP`  is set to `None`

[code]

and we do have endpoints from k8s.

[code]

This is a singleton server and therefore we don't create any cluster for it.

[2022-10-08 19:37] sebastiangaiser commented on #6030
/remove-lifecycle stale

[2022-10-09 01:58] longwuyuan commented on #9126
Firstly, I suggest you come discuss this in kubernetes.slack.com because there are many people there who could respond to you and there is very very few people here to track support issues.

And then I did a packet caapture on the pod to verify that the annotations were working. So I don't have any data about your test to make any helpful comments. I can make guesses but trying to avoid guesses. O

[2022-10-09 12:45] longwuyuan commented on #9126
discussed here https://kubernetes.slack.com/archives/CANQGM8BA/p1665307795277899

[2022-10-09 23:09] #6875 closed

[2022-10-10 06:56] danielleiszen commented on #8674
/remove-lifecycle

[2022-10-10 06:58] danielleiszen commented on #8674
/remove-lifecycle

[2022-10-10 06:59] danielleiszen commented on #8674
/remove-lifecycle stale

[2022-10-10 07:01] danielleiszen commented on #8674
Please let me know if you had time to check the example service we created. Thank you

[2022-10-10 09:42] FutureMatt commented on #7652
I've pushed https://github.com/kubernetes/ingress-nginx/pull/9133 which based on some quick tests should be all that is needed.

[2022-10-10 12:02] angelsk opened #9141 "helm upgrade controller from v0.51 to v1.4.0 caused 10.0.0.2:0: invalid port while connecting to upstream error"
**What happened**:

I’m trying to upgrade from `helm-chart 3.41.0 with ingress-controller 0.51.0` to `helm-chart 4.3.0 with ingress-controller 1.4.0` on `kubernetes 1.21.14` in GCP
And I get an error in the `lua/balancer.lua` file on line 348 about ports.

`[error] 31#31: *2450 [lua] balancer.lua:348: balance(): error while setting current upstream peer 10.0.0.2:0: invalid port while connecting to

[2022-10-10 16:57] antoineozenne commented on #6381
/remove-lifecycle stale

[2022-10-10 17:48] longwuyuan commented on #9141
/retitle helm upgrade controller from v0.51 to v1.4.0 caused 10.0.0.2:0: invalid port while connecting to upstream error

[2022-10-11 05:16] ahmad-sharif commented on #6523
I am also having the same issue with v1.3.1 in some clusters

[2022-10-11 07:04] longwuyuan commented on #8932
Check the image in the manifest that is published.

Thanks,
; Long

On Wed, 14 Sep, 2022, 8:41 AM Fred, ***@***.***> wrote:

[2022-10-11 07:38] longwuyuan commented on #8541
You can diff the templates

Thanks,
; Long

On Tue, 3 May, 2022, 6:40 PM BenHesketh21, ***@***.***> wrote:

[2022-10-11 07:47] longwuyuan commented on #8518
Kubectl describe outputs for ingress object, ingress controller pod, logs
of controllerpod

Thanks,
; Long

On Thu, 28 Apr, 2022, 9:51 PM Shashank Ram, ***@***.***>
wrote:

[2022-10-11 08:53] longwuyuan commented on #8917
Ok will wait.
Next, there are questions asked I'm issue template and you have not
answered them. So there is nothing to analyze if you only type a
description.

I suggest you answer all the questions asked. And put screenshots and
commands with ouputs that show the problem.

Thanks,
; Long

On Wed, 10 Aug, 2022, 9:11 AM vmpowercli, ***@***.***> wrote:

[2022-10-11 09:24] tao12345666333 commented on #9116
yes. please see:

* https://github.com/kubernetes/ingress-nginx/pull/8890#pullrequestreview-1058019902
* https://github.com/kubernetes/ingress-nginx/pull/8890#issuecomment-1243958497

[2022-10-11 09:27] tao12345666333 commented on #9116
I don't know if enabling the feature gate for endpointslices in v1.20 will make it continue to work

[2022-10-11 10:37] frost52 commented on #2931
That combination works for me in Google Chrome(ver 106.0.5249.103), in case that may be helpful to somebody

ingress:
[code]

service:
[code]

[2022-10-11 14:38] devopstagon commented on #5607
@JohnGalt1717
Actually, it will if you enable this new flag:
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#ssl-reject-handshake

Not an ideal solution, but it works.

[2022-10-11 15:22] vitaliyf commented on #9141
We also see this after upgrading from 1.3.0 to 1.4.0 (helm chart 4.2.1 to 4.3.0). It seems to only affect one of our ingresses (out of several dozen) and we think it also causes periodic "504" 5 second timeout errors to be returned.

[2022-10-11 17:18] yellowmegaman commented on #5607
We ended up putting haproxy in front of ingress controller. It verifies the sni  and drops the connection if `req.ssl_sni` is not right

[2022-10-11 19:00] grosser opened #9143 "CVE-2021-3618 upgrade nginx to >= 2.21.0"
[code]

wiz.io (idk what version)

CVE-2021-3618

1.4.0

[2022-10-11 23:03] grosser commented on #9143
same as https://github.com/kubernetes/ingress-nginx/issues/8487

[2022-10-11 23:03] #9143 closed

[2022-10-11 23:05] grosser commented on #8487
is there some branch we could try or any alpha version of an updated nginx ?

[2022-10-12 01:22] longwuyuan commented on #9141
@angelsk is this a recurring message in the controller pod logs or in the GCP logs
@vitaliyf is it the exact same error message or caopy/paste your error message. Also update if it is int he controller pod or in the GCP logs

[2022-10-12 01:33] longwuyuan commented on #8487
Not yet but its being worked on. Wait for updates from @tao12345666333

[2022-10-12 05:39] tao12345666333 commented on #8487
I think I can handle it this week

[2022-10-12 07:37] #7850 closed

[2022-10-12 08:11] ajith2234 opened #9145 "Error When giving custom path"
**What happened**:

I have deployed Kafka-ui into my cluster. I would like to route the traffic to a custom path.
The Ingress.yaml file is given below
[code]
But when I use the address "ingress-ip/ui" , it is not working

**What you expected to happen**:

When I tried with path as mentioned below it was working
[code]
![image](https://user-images.githubusercontent.com/90108350/195284967-feeb424c-3

[2022-10-12 08:49] slarwise opened #9146 "Add annotation for client_header_timeout"
I would like a Kubernetes annotation for setting [client_header_timeout](http://nginx.org/en/docs/http/ngx_http_core_module.html#client_header_timeout).

I want this to be able to control this timeout on individual Ingress objects. It is useful to set this timeout to protect against [slowloris denial of service attacks](https://en.wikipedia.org/wiki/Slowloris_(computer_security)). The default valu

[2022-10-12 10:55] longwuyuan commented on #9141
@angelsk "They are one and the same" has different implications for different roles here.

For the role of people wanting to help solve your problem voluntarily, on their free unpaid time, it is practical to have data to be analyzed, posted here So there are questions asked in the issue template that basically populates the issue here with data from the state of the cluster and the events. Kindly

[2022-10-12 11:18] angelsk commented on #9141
Sorry, I didn't understand some of the questions in the issue template - I tried to answer what I could. I do appreciate the assistance, I'm trying to be reciprocally helpful.

[2022-10-12 11:38] #8568 closed

[2022-10-12 12:18] bmv126 commented on #9116
@tao12345666333 @longwuyuan
https://kubernetes.io/docs/concepts/services-networking/endpoint-slices/ is stable in 1.21.
So it should still work on 1.21 right

Why 1.21 support is removed from supported versions ?
https://github.com/kubernetes/ingress-nginx#support-versions-table

[2022-10-12 13:33] longwuyuan commented on #9146
hi @slarwise ,
Please add information like what problem that annotation for that header will solve. More info the better.

Kindly note that the project is in a feature freeze state because there is stabilization work in progress. This feature request may on hold till February of 2023.
thanks.

[2022-10-12 14:17] angelsk commented on #9141
If it helps, this is the output of `curl 127.0.0.1:10246/configuration/backends` on that same pod:
[configuration_backends.json.zip](https://github.com/kubernetes/ingress-nginx/files/9765657/configuration_backends.json.zip)

And I did some mapping of the IPs to pods from the above:
`10.0.0.7:0` - supposed to be the API - but it's actually one of the workers - which I think is why the port is 0 bas

[2022-10-12 14:47] angelsk commented on #9141
Ok so running the backend config on the old pod produces a clear difference - I hope this investigation helps.  I attach both configurations (IPs of a couple of the pods changed - but you can see where there's a huge chunk of config added for our workers which do not have a domain map for them).

[configuration-backends.zip](https://github.com/kubernetes/ingress-nginx/files/9766047/configuration-b

[2022-10-12 14:48] silandrew opened #9148 "how to find out reason why Ingress controller restarting on heavy load test"
**how to find reason why  Ingress controller restarted on heavy load on strest test**
**AKS version 1.24.3**
**ingress ingress-nginx-helm chart 4.2.3     app version1.3.0**

**how to find a reason why the Ingress controller restarted on heavy load on the stress test**

**Ingress I  could find the following error in logs**

<details><summary>
[error] 39#39: *68832 upstream timed out (110: Operation

[2022-10-12 16:31] tombokombo commented on #9141
Hi, @angelsk could you please verify if will work, when you change named port to port number in service?

[2022-10-12 16:56] tombokombo commented on #9141
@angelsk could you please provide output of `kubectl -n $NAMESPACE get endpointslices  -o yaml`, thx.

[2022-10-12 16:58] angelsk commented on #9141
It's on my list for tomorrow! Feels like making progress - thank you!!

[2022-10-12 17:17] vitaliyf commented on #9141
I can carry the torch :) - I think we may be on the right track as it did feel like #8890 was the only remotely relevant change in our 1.3.1->1.4.0 upgrade.

For us, we see `balance(): error while setting current upstream peer 100.127.2.33:0: invalid port while connecting to upstream,` errors, and:

[code]

which look like:

[code]
and
[code]

I'm now trying to figure out why we have two of them (

[2022-10-12 17:23] bmv126 commented on #9141
Can svc -o yaml output of svc be shared

[2022-10-12 17:31] vitaliyf commented on #9141
[code]

and.. I think the issue might be that we have two deployments (one of which isn't a service that listens on any ports) that are matching "selector" listed here.

[2022-10-12 17:39] tombokombo commented on #9141
@vitaliyf  the problem is probably coming from `ports: null` in slice `our-service-jln8p`. Could you please share both matching deployments, or at least containers ports section?

[2022-10-12 17:43] bmv126 commented on #9141
Also kubectl get ep -o yaml output to see the exact difference

[2022-10-12 17:43] tombokombo commented on #9141
I'm able to reproduce, one deployment is exposing named port and second one just port number. @vitaliyf could you please fix deployments and verify if this is problem?

[2022-10-12 17:52] vitaliyf commented on #9141
Right, I think it's our fault that we have one Helm chart with two Deployments, only one of which exposes any ports. That causes two EndpointSlice to exist (one with null port). Here's our Endpoint that does seem to have only the correct 5 pods that expose ports.

The "wrong" Deployment does not list any ports (it's a background process that we want to run alongside the REST API service).

[code]

[2022-10-12 17:53] tombokombo commented on #9141
I'm able to reproduce. One deployment exposing named port and other deployment with just port number. Service is targeting  named port.
[code]
[code]
^^ unset is the problem
@vitaliyf could you please align you ports section in deployments?

[2022-10-12 18:10] bmv126 commented on #9141
I feel this is an issue with ingress-nginx code and needs to be handled appropriately like endpoints used to like in 1.3.1.
Or else this will be a major breaking change

[2022-10-12 18:48] tombokombo commented on #9141
@bmv126 yes, i'm going to fix it.

[2022-10-12 20:58] longwuyuan commented on #9145
/remove-kind bug
- How many ingresses do yo have in the cluster. Show `kubectl get ing -A`
- Can you try to also use the host field along with the path field and update status
- Post the complete curl command and response with -vvv
- Post the logs of the ingress-nginx controller pod

[2022-10-12 21:00] longwuyuan commented on #9148
/remove-kind bug

- Your message post is not formatted so please format it to make it legible
- Please try to answer the questions asked in the new issue template

[2022-10-12 22:26] silandrew commented on #9148
Ive  update formatting

[2022-10-13 00:11] #9141 closed

[2022-10-13 00:59] bmv126 commented on #9148
@silandrew  i do not see error logs indicating restart, I see timeouts.
Also format your description and provide kubectl outputs of pod, svc.
Also what test you are trying

[2022-10-13 06:03] lsdbitrue opened #9151 "403 Forbidden Can't pull k8s images in Singapore"
[code]

It works on other regions

[2022-10-13 06:16] anilapato-biqmind commented on #9151
unable to pull the registry.k8s.io/ingress-nginx/controller:v1.3.0  from the south Asia region ( https://asia-southeast1-docker.pkg.dev)

[2022-10-13 06:37] JoelYWRResync commented on #9151
I'm facing the same issue.

[code]

[2022-10-13 06:45] angelsk commented on #9141
I see the PR fix cites misconfigured ports. But the pods it was trying to use for this shouldn't have been included because they are internal service workers. Is there a way to define those so the slice thing doesn't pick them up?

Either way, yay for speedy fix and thanks all!

[2022-10-13 06:48] angelsk commented on #9141
@tombokombo how frequently are releases tagged? Is there a config fix I can apply in the meantime?

[2022-10-13 07:08] githilman commented on #9151
I also faced the same issue. How I managed to make it works is just to change the image registry from`registry.k8s.io` to `k8s.gcr.io`

registry.k8s.io
<img width="1350" alt="image" src="https://user-images.githubusercontent.com/77726739/195525805-0dc48141-6e79-4d83-9d04-83e3a7bf0fdc.png">

k8s.gcr.io
<img width="1350" alt="image" src="https://user-images.githubusercontent.com/77726739/195526025-8

[2022-10-13 08:31] tombokombo commented on #9141
@angelsk please share your application service. endpointslices, deployment and ingress
[code]
Patch should fix your problem as well. According backends from controller, that your already provided, you have two valid endpoints with older controller and there is bunch of endpoints with port equal to 0 with v1.4. Endpoints with zero port was a bug, they will disappear.

[2022-10-13 09:00] ucinskij opened #9152 "custom-error-pages: Add an ability to disable "/metrics" "/healthz" and "/debug/vars" endpoints"
The custom-error-pages backend does it job pretty well, however during a security scan it was detected that it exposes three endpoints:
/metrics
/healthz
/debug/vars

/metrics and /healthz are implemented by https://github.com/kubernetes/ingress-nginx/blob/499dbf57af5d0d7eb2fdb298cc89b5f4bf179854/images/custom-error-pages/rootfs/main.go#L78

/debug/vars at a first sight seems to be coming with `gi

[2022-10-13 09:30] silandrew commented on #9148
@ Ive formatted the description,  problem which one I had  users were able to log in, when I've checked the ingress pods status was  showing that all ingress restarted and on logds from monitoring that was a problem with the readiness probe
ingress-nginx-1661945723-controller-5844c7b7bd-fq48g 1/1 Running 3 (2d15h ago) 42d
ingress-nginx-1661945723-controller-5844c7b7bd-kmsqc 1/1 Running 3 (2d15h ag

[2022-10-13 10:13] angelsk commented on #9141
@tombokombo YAML dump incoming! If there's any way I can get this working with 1.4 before the patch (As I don't know how long the release process is) then any help would be gladly accepted. Otherwise I might just try with whichever Helm chart version has the 1.3.x controller in it - as that was pre-slice :)

`$ kubectl -n app get svc -o yaml`
[code]

`$ kubectl -n app get ep`
[code]

`$ kubectl -n

[2022-10-13 10:33] angelsk commented on #9141
Have successfully upgraded (I think) to Helm chart 4.2.5 and controller 1.3.1.  So waiting on bug fix or workaround for the 0 port issue :)

[2022-10-13 12:04] vinaygoel586 opened #9153 "While using the Ingress controller version 1.3.1, It is not creating configmap : ingress-conntoller-leader-nginx. It was creating it while I was using version 0.32."
**What happened**:

**What you expected to happen**:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the

[2022-10-13 12:45] alatdev opened #9154 "Sticky Sessions: Extend the time until the cookie expires on every request"
Hi,

currently, when creating an Ingress with these annotations for example:
[code]

an cookie is created with the fixed expiry time in the future.
But when the time is reached, the cookie is deleted and a new pod may be selected and the traffic routed to.

Add an option to extend the lifetime of the cookie everytime the user is using the webapp for example.
AWS ELB is doing so for example:

Many

[2022-10-13 12:53] #8594 closed

[2022-10-13 13:32] longwuyuan commented on #9153
/remove-kind bug
Please answer the questions asked in the issue template

Maybe this is related https://github.com/kubernetes/ingress-nginx/blob/main/Changelog.md#131

/close

[2022-10-13 13:32] #9153 closed

[2022-10-13 13:34] longwuyuan commented on #9151
/remove-kind bug
Maybe there is maintenance underway.
If it works in one region but not in another region, then its not a problem with the registry AFAIK

[2022-10-13 13:41] longwuyuan commented on #9152
@rikatz seems like one reason to focus on this, like you had suggested. Will do as per your advise

[2022-10-13 13:50] slarwise commented on #9146
Thank you, I have updated my original comment

[2022-10-13 14:11] longwuyuan commented on #9146
@rikatz @strongjz @tao12345666333 , you could comment on this one for clarity

[2022-10-13 14:37] #7652 closed

[2022-10-13 14:38] JJotah opened #9155 "Enable TLS > 1.2 in default Backend"
**What happened**: Default Backend under this [link](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml) has a security issue due TLS. Is using TLS1.0 and TLS1.1 and we need to use TLS >= 1.2

**What you expected to happen**: Default backend 404 need to has TLS >= 1.2 as nginx by default

**NGINX Ingress controller version** (exec into the pod and run nginx-ingr

[2022-10-13 14:44] tombokombo commented on #9141
@angelsk at firt you need to get rid of `unset` ports in endpoint slices. You have deployments without defined ports which are matched by service, this is cause of `unset` ports.
BUT I would reconsider whole design. You have just one big service matching pods from multiple deployment by svc selectors (pod labels) and you just distinguish between pods by different port. These ports are matching dep

[2022-10-13 14:48] angelsk commented on #9141
@tombokombo I inherited this project; we don't have the bandwidth to redesign so I think I'll just wait for the fix.

[2022-10-13 14:57] IvanPletnyov opened #9157 "Ingress generate wrong location if use regex"
**What happened**:

Ingress-controller pod contains wrong location when I use regex path (without regex (~) modifier)

For example:

Ingress:
[code]
Generated config in ingress-controller pod:
[code]

**What you expected to happen**:

I expect that location will be with regex modifier (~)
My current result:
[code]

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-contr

[2022-10-13 15:14] strongjz commented on #9155
/triage accepted
/priority backlog

[2022-10-13 15:24] strongjz commented on #9152
/triage accepted
/priority backlog
/kind feature
/assign @strongjz

[2022-10-13 15:26] strongjz commented on #9151
@BenTheElder might be able to help here, if there was maintenance or not.

/triage accepted
/priority backlog
/kind bug

[2022-10-13 15:36] bmv126 commented on #9157
@IvanPletnyov
It looks like you are not using helm charts from this repository.

[2022-10-13 15:42] BenTheElder commented on #9151
https://github.com/kubernetes/registry.k8s.io/issues/116

[2022-10-13 15:45] BenTheElder commented on #9151
Please note that in the near future k8s.gcr.io will redirect to registry.k8s.io (we've attempted to broadcast that it will happen no earlier than October 1 but we're long past that now), starting with a partial rollout attempt again this coming Monday.

I believe all issues with this week's unrelated migration to back registry.k8s.io with Artifact Registry are fixed now. (Both are related to Kuber

[2022-10-13 15:52] strongjz commented on #9146
/triage accepted
/priority backlog

We discussed this in the 10/13 community, we need to flush this out more, but we can make this a new annotation.

[2022-10-13 16:00] lsdbitrue commented on #9151
Okay, I will close this issue.

[2022-10-13 16:00] #9151 closed

[2022-10-13 16:06] JJotah commented on #9155
/assign

[2022-10-13 16:13] xgt001 commented on #5401
thanks @Clasyc, your hint worked for me

[2022-10-13 17:35] ayushpadia commented on #8549
@tall-dan i am also facing the same issue. is your issue resolved?

If yes can you share the solution

[2022-10-13 18:01] tall-dan commented on #8549
@ayushpadia no, we never did resolve this.

[2022-10-13 18:51] jrhunger commented on #8461
@strongjz can you have a look at https://github.com/jrhunger/ingress-nginx/blob/troubleshooting-docs-update-ports/docs/troubleshooting.md#unable-to-listen-on-port-80443 and let me know if that is the kind of thing you are looking for?

[2022-10-13 20:50] strongjz commented on #8461
@jrhunger that looks great, thank you

[2022-10-14 01:03] bluemalkin commented on #8598
I can confirm the same happens to me.

Is there an ETA to get this fixed ?

[2022-10-14 06:06] #8083 closed

[2022-10-14 06:33] bq-arpit-20 commented on #3122
I am also stuck on the same part, did you by any chance got the answer?

[2022-10-14 07:01] chuegel commented on #8786
We experiencing the same issue with image `nginx-1.2.1-rancher1`
Instead of Keycloak we are using oauth2-proxy for this particular ingress
[code]

![image](https://user-images.githubusercontent.com/6955465/195783041-0f140f4a-2fae-4473-bcff-bb9dca62dbb8.png)

[2022-10-14 08:25] a-imran99 commented on #1655
Does this way of providing 2 backend service works?

[2022-10-14 09:19] IvanPletnyov commented on #9157
@bmv126 Yes, I think I confused with another repository. I'm sorry I spend your time.

In my case I use nginxinc helm repo and solution was using [virtual server](https://docs.nginx.com/nginx-ingress-controller/configuration/virtualserver-and-virtualserverroute-resources/) instead of ingress(If anyone else confuses :D)

[2022-10-14 09:19] #9157 closed

[2022-10-14 11:59] AgustinRamiroDiaz opened #9159 "High and medium CVEs in controller:v1.4.0"
## What scanner and version reported the CVE?
[code]

## What CVE was reported in the scanner findings?

[code]
## What versions of the controller did you test with?

`registry.k8s.io/ingress-nginx/controller:v1.4.0`

## Please provider other details that will help us determine the severity of the issue

These are 2 vulnerabilities that are easily fixable by updating go mods

[2022-10-14 12:52] longwuyuan commented on #9159
https://github.com/kubernetes/ingress-nginx/pull/9109

Hopefully this will also be addressed CVE-2022-32149. New release with go v19.2 coming soon.

[2022-10-14 13:13] #8596 closed

[2022-10-14 13:47] martinqcz commented on #3122
That is probably not possible. If you need to specify multiple services and rewrite each of them to different prefix (like `/something1/$1` and `/something2/$1` you can create multiple ingress resources (one for each service). Just give them different name (metadata.name).

[2022-10-14 14:08] silandrew opened #9160 "How to restrict ingress controller to 2 front door"
** How to restrict ingress controller to 2 front doors **

**AKS version 1.24.3**
**ingress version** ingress-nginx-1661945723        portal                                                                                                                                                          2        2022-08-31 12:53:58.6382585 +0100 BST

[2022-10-14 14:35] feitnomore opened #9161 "Status Report using Multiple NGINX ingresses"
I've got 3 Ingress Controllers running on my setup, with different classes set, because the system is plugged to 3 different networks.
When I create ingresses, only one of them get the status update with IP of the load balancer, the other 2 don't. The configs of all the 3 controllers look pretty much the same. I've also tried forcing the IP on configmap entry but didn't work as well.
Any clues?

[2022-10-14 14:40] stromvirvel commented on #8376
/reopen

[2022-10-14 16:19] mike-pt opened #9162 "appt-root annotation not working"
**What happened**:

I applied an app root ingress configuration as I need some host paths to map to "subpaths" in the backen.

i.e.

https:/api.domain.com/services -> backend "api:8080/"
https://api.domain.com/services/std  -> backend "api-generic:8080/services"
https:/api.domain.com/notifications -> backend "notifications:8080/services/notifications"

The first works with a normal ingress config:

[2022-10-14 17:16] rickymulder commented on #8716
This appears to be something I need as well.  I'm unable to create an internal-facing NLB using the new controller, the in-tree is still doing every API call.

[2022-10-14 17:31] ajith2234 commented on #9145
- I have only deployed one ingress at the moment
-  As per the instruction I create a DNS name in azure and tried it as shown below
[code]
This time it seems to be redirected to the desired site but not completely.
![image](https://user-images.githubusercontent.com/90108350/195905225-ea6cf23a-4cd8-4c2d-b9dd-f5969df7228e.png)
-  Below is the output for the curl command
![image](https://user-images.

[2022-10-14 19:06] Hexcles opened #9163 "security: proxy-real-ip-cidr does NOT control use-forwarded-headers despite what the doc says"
**What happened**:

* Set `use-forwarded-headers` to `true` and `proxy-real-ip-cidr` to a trusted L7 proxy
* Send a request with `X-Forwarded-Host` and/or `X-Forwarded-Proto` directly to the ingress without going through the L7 proxy

**What you expected to happen**:

`X-Forwarded-*` should be discarded by ingress according to documentation:

https://kubernetes.github.io/ingress-nginx/user-guide/n

[2022-10-14 19:40] adkafka commented on #3659
Seems like there is a PR open to add this: https://github.com/kubernetes/ingress-nginx/pull/9025

[2022-10-14 20:02] sainookala opened #9164 "Nginx ingress controller not deleting its AWS resources (loadbalancer, listeners)"
**What happened**:

Ingress nginx controller is  not deleting the AWS resources(NLB, listeners).

**What you expected to happen**:

Ingress nginx controller should delete the Network Load Balancer(NLB) and listeners which are created by controller when it is destroyed.

**NGINX Ingress controller version**:

- POD_NAMESPACE= `ingress-nginx`

- POD_NAME=`ingress-nginx-app-fleet-ingress-nginx-contro

[2022-10-15 06:22] longwuyuan commented on #9160
/remove-kind bug

Kindly answer the questions that are asked in the new issue template because without enough information to understand the problem, other people can not help you.

The info you have posted is not enough so please re-open the issue after posting answers to the questions in the new template issue.

[2022-10-15 06:23] longwuyuan commented on #9160
/close

[2022-10-15 06:23] #9160 closed

[2022-10-15 08:56] longwuyuan commented on #9163
can you write step by step instructions that can be used to reproduce the problem in a minikube or a kind cluster.

[2022-10-15 14:09] Hexcles commented on #9163
Sure, in a fresh minikube, install and configure ingress-nginx as follows:

[code]

Now make a request:

[code]

which gives you

[code]

Notice how `x-forwarded-*` and even `host` got spoofed by the caller even though the caller is from localhost, not 8.8.8.8.

**Recommended resolution**:
* either fix the documentation to clarify that `proxy-real-ip-cidr` only guards `x-forwarded-for` (or any hea

[2022-10-15 22:40] rittneje commented on #6287
/remove-lifecycle stale

[2022-10-16 03:32] #8601 closed

[2022-10-16 08:54] longwuyuan commented on #9162
/remove-kind bug

app-root annotation is working from a long long time
[code]

Please discuss in the ingress-nginx-users channel at kubernetes.slack.com as there are more people there to look at support issues

[2022-10-16 08:57] longwuyuan commented on #9161
@feitnomore please answer the questions that are asked in the issue template. There is no information posted here that someone can analyze and help solve your problem.

SOme docs on multiple installation of ingress-nginx-controller are here https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster.

reopen the issue aft

[2022-10-16 08:57] #9161 closed

[2022-10-16 08:58] longwuyuan commented on #9162
Please reopen the issue after you have posted answers the questions asked in the issue template.

/close

[2022-10-16 08:58] #9162 closed

[2022-10-16 09:02] longwuyuan commented on #9164
/remove-kind bug

Please post the entire state and logs of the problem, that shows that the controller is a problem. Like first the current state and then the state after uninstall etc etc. Maybe you should check with Rancher if its a rke cluster .

[2022-10-16 09:08] longwuyuan commented on #9163
THis reproduce produce procedure needs to be simpler and make it possible for anyone to copy/paste on their minikube or kind cluster.

This reproduce procedure aassumes  a bunch of things so it may cause problems.

Can you help and write a procedure that someone can just copy/paste in their minikube or kind cluster, and reproduce even without knowing much about the features.

[2022-10-16 09:09] longwuyuan commented on #9163
/remove-kind bug
Once the data is available on the details of the bug, we can change the label

[2022-10-16 13:34] Hexcles commented on #9163
@longwuyuan I'm sorry. Could you point out which part of the reproduction steps are not clear? I didn't assume anything and reproduced the issue in a bare minikube using pretty much the same procedure as the commented out steps in the issue template. I even highlighted the important customization (the `ConfigMap`) that leads to the issue using a comment.

[2022-10-16 13:48] Hexcles commented on #9163
Oh is it because of the `$POD_NAME` env var not found? That's actually a bug in your issue template:
https://github.com/kubernetes/ingress-nginx/blob/739e85ce7cf2dbc13b710036a5c3fc465425c6e2/.github/ISSUE_TEMPLATE/bug_report.md?plain=1#L130-L131
the first line would actually produce a few pod names and hence the second line doesn't work.

Let me give you a better reproduction step:
[code]

[2022-10-16 22:24] adrianhelvik commented on #8706
@cmush Could you explain? I can't get sticky sessions to work in a new cluster with previously working config.

[2022-10-17 02:56] pandu-malik opened #9170 "aspnet core upstream-vhost failed to redirect"
so i have nginx-ingress installed to my kubernetes cluster, serving multiple pods & service, so i need to have multiple vhost into single nginx instance.
the workflow of my apps is:
open apps url (clear) => redirecting to keycloak to do authorizations (clear) => redirecting back to apps (here's where the problems occurs)

i do have 2 types of apps, using react and using aspnet core as front-end.
i

[2022-10-17 06:16] bq-arpit-20 commented on #3122
@martinqcz I am doing the same thing but still unable to add path

My scenario is, whenever traffic comes to https://example.com/test it should be redirecting to https://example.com/test/$1
but as of now the test is not getting added.

[2022-10-17 14:14] komljen commented on #9163
@longwuyuan The steps are pretty clear to me, and I was able to reproduce the issue easily.

[2022-10-17 14:16] mike-pt commented on #9162
@longwuyuan I'm not sure if that's where things fail but you're not reproducing the same thing

I'm not using "/" on the host prefix, the scenario is when you need to map "/somepath" to a backend on a DIFFERENT path.

So the backend is on `/services/std`

[code]

Notice that the path here is "/services/std"  not "/"

Here is the full manifest currently deployed

`kubectl get ing nginx-app-root-api

[2022-10-17 14:22] mike-pt commented on #9162
btw I can't use the kubernets slack w/o having an account on the workspace, not sure how that's done, didn't see it mentioned anywhere so far

[2022-10-17 15:39] OmarHawk commented on #8195
/remove-lifecycle stale

[2022-10-17 19:46] rymir commented on #8909
@cattapan I think I've been looking for the same feature you're requesting and was successful in enabling the default backend access logs by using the configuration option in https://github.com/kubernetes/ingress-nginx/blob/e6ff97fbbe4efc39ec673a3ecda734a9a0e880b7/internal/ingress/controller/config/config.go#L121

[2022-10-17 23:05] longwuyuan commented on #9170
/remove-kind bug

If the annotation is ensuring that you successfully authorize from keycloak, then the annotation is not broken.

Is there a keycloak config that sets the return URL on successful auth. I know there is such a thing on Azure auth.

[2022-10-18 19:13] JihadMotii-REISys opened #9187 "Unable to pull images with connection reset by peer using helm chart 4.3.0"
**What happened**:
```Failed to pull image "[registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20220916-gd32f8c343@sha256:39c5b2e3310dc4264d638ad28d9d1d96c4cbb2b2dcfb52368fe4e3c63f61e10f](http://registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20220916-gd32f8c343@sha256:39c5b2e3310dc4264d638ad28d9d1d96c4cbb2b2dcfb52368fe4e3c63f61e10f)": rpc error: code = Unknown desc = Error response from dae

[2022-10-18 19:41] longwuyuan commented on #8852
@davem-git , it looks like you will create several ingress resources and none of them will be configured with a host filed and all of them will have multiple rules for routing based on path only and there will be only one rule for one path.

Is this a correct ?

[2022-10-18 20:17] davem-git commented on #8852
that's mostly correct.  We will have many ingress resources, without a hostname. Some of those ingresses will have multiple  rules for routing based on paths. Some of them will have a single rule based on a path.  Some of them will have the write target `nginx.ingress.kubernetes.io/rewrite-target: /$2`

When this write target is inplace, on an ingress with without a hostname, the built in nginx he

[2022-10-19 02:42] pandu-malik commented on #9170
@longwuyuan
thanks for the advice, i double checked keycloak config but there's nothing wrong with the config.
i finally decided to get rid of `---.svc.cluster.local` since it's an UI/FE apps, and it's just run perfectly.
But somehow i just can't figured it out with this aspnet behavior.
For now, i'll just close this issues.

[2022-10-19 02:42] #9170 closed

[2022-10-19 07:26] sotiriougeorge commented on #5401
@Clasyc and everyone also:

On EKS created from [terraform-aws-modules/eks/aws](https://registry.terraform.io/modules/terraform-aws-modules/eks/aws/latest) module (version 17.x though) a security group is automatically created for the Worker Nodes that has a rule which allows traffic from the Control Plane security group on ports 1025-65535 for TCP.

This rule also includes the pre-defined descrip

[2022-10-19 07:30] aliusmiles commented on #5401
@sotiriougeorge Same here: eks created by tf module, from time to time see those errors. I think amount of errors decreases when controller is scaled up. At least it seems so for me on prod with two replicas compared to dev with one.

[2022-10-19 07:32] sotiriougeorge commented on #5401
Thank you for the sanity check! Appreciated. I will try to scale up to more replicas and see what comes of it. However it would be good if through this GitHub issue there was some consensus on how to fight it holistically or if there is anything that needs to be changed on the controller side.

[2022-10-19 09:43] rayate2410 commented on #5576
@brutus333 would you be able to share the ingress yaml for rabbitmq UI. I'm also facing the same issue with vhost "/"

[2022-10-19 11:32] Saurabh-704 opened #9188 "How we can access kubernetes ingress controller IP using https?"
I have deployed application in Azure Kubernetes (AKS). I have used ingress-controller for my POC. Previously I was using domain (saurabh.com). I am able to access saurabh.com through https.

Now what I want is that I want to access my application using IP address with https.

My ingress controller yaml files looks like:

[code]

By doing this, I am able to access my application using IP but its co

[2022-10-19 13:45] seb-835 commented on #8852
Same issue for me, like @davem-git
need to used  routing based on paths,  and as soon as the rewrite-target is in place ,
the healthz  is not reachable anymore, making our front loadbalancer to stop forwarding traffics.

i test lots of thing using annotation, but was not able to find the right way. So any help appreciate.

[2022-10-19 14:16] seb-835 commented on #8852
No Host, No TLS in my case.

[2022-10-19 14:33] longwuyuan commented on #8852
Is this in production?
Also may help if you describe what blocks you from using a host field
value, without DNS record, and resolving that host value to ipaddress,
using curl --resolv flag or /etc/hosts entries, if not in production.

Thanks,
; Long

On Wed, 19 Oct, 2022, 7:47 PM Sebastien Aucouturier, <
***@***.***> wrote:

[2022-10-19 15:00] davem-git commented on #8852
Ours is already in production for one of our products,  and it works great. We don't need to use the rewrite annotation. This is the part which I'm stressing is caused by a bug in the health check.

What prevents us from using the host field is internal routing. As of now we do use the host field, and our services communicating to other services internal to the cluster resolve the public ip. The t

[2022-10-19 15:34] seb-835 commented on #8852
@longwuyuan
i will open a new issue , to no poluate that one, as  i try with host and tls and got same behaviour.
@davem-git  i hope you to find a workaround.

[2022-10-19 15:37] davem-git commented on #8852
hmm i don't see to have that issue, with a hostname. Your health check fails with a redirect and a hostname?

Thanks @seb-835

[2022-10-19 16:03] silandrew opened #9190 "help needed with modsecurity and Azure LB together"
**how to add more than one  Azure front door restrictions ingress on Azure AKS**:

**This is working just for one Azure front door load balancer  with the following config **
<details><summary>

 nginx.ingress.kubernetes.io/allow-snippet-annotations: "true"
    nginx.ingress.kubernetes.io/enable-modsecurity: "true"
    nginx.ingress.kubernetes.io/enable-owasp-modsecurity-crs: "true"
    nginx.ingr

[2022-10-19 16:28] longwuyuan commented on #9190
/remove-kind bug
/kind support

/retitle help needed with modsecurity and Azure LB together

[2022-10-19 16:31] longwuyuan commented on #9187
/remove-kind bug
/kind support

Please provide more details as to source ipaddress region etc. There is some maintenance work in progress so maybe also good to ask in kubernetes slack with complete details

[2022-10-19 19:29] mblaschke commented on #7811
bump

[2022-10-20 00:23] Hexcles commented on #9152
Maybe consider my fork that removes these endpoints, along with some other nice improvements :) https://hub.docker.com/r/hexcles/nginx-errors

[2022-10-20 01:11] tomsunyu opened #9191 "nginx ingress observability and monitoring"
Hello
I found the ingress-nginx does not have web oservability, and does not have standard monitoring pages. With these functions, it is convenient for operation and maintenance.
Is there any way or plan ?

[2022-10-20 02:26] longwuyuan commented on #9191
Do you mean this https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/ ?

[2022-10-20 02:34] tomsunyu commented on #9191
OK, I will deploy it.

[2022-10-20 02:37] longwuyuan commented on #9191
Please close the issue if the question is answered. You can also talk to other users in kubernetes.slack.com

[2022-10-20 02:38] #9191 closed

[2022-10-20 06:42] Dietatko opened #9192 "The controller.scope.namespaceSelector is used only if the scope is disabled"
**What happened**:

Using the following settings leads to ignoring the namespaceSelector value.
[code]

**What you expected to happen**:

I expect the `namespaceSelector` to behave the same way as the `namespace` setting. It should be applied when enabled is true.

**NGINX Ingress controller version**:
NGINX Ingress controller
  Release:       v1.4.0
  Build:         50be2bf95fd1ef480420e2aa1d6c5c

[2022-10-20 07:58] Stanwell1 commented on #8215
@agorgl ,
Its work as expected, thank you

[2022-10-20 13:32] JihadMotii-REISys commented on #9187
it turns out to be an outgoing firewall that needs to be added in place but the error message was a little bit misleading, thank you for the support

[2022-10-20 13:45] evsasha opened #9193 "How to use client side generated cookies for sticky sessions load balancing?"
How to use client side generated cookies to balance sessions?

My web application generates cookies that names based on backend endpoints. I want ingress to use them, not try to create its own cookies. For example:

* Client with cookie "X-collaboration-org": "example_company" go to https://backend.example/org endpoint
* Client with cookie "X-collaboration-common": "example_company" go to https://

[2022-10-20 13:58] rnemeth90 commented on #8852
We are also experiencing this issue

[2022-10-20 15:03] jeanbaptiste-brasselet opened #9194 "nginx_ingress_controller_request_duration_seconds_count associates request with wrong ingress"
**What happened**:

I have three ingress using the same host with three path in one namespace like this:

HOST                     PATH                     NAMESPACE  SERVICE    PORT  INGRESS
example.host.com  /public/v1/test1      test                   service1      80        public-service1
example.host.com  /public/v1/test2      test                   service2      80        public-service2
ex

[2022-10-20 15:12] longwuyuan commented on #9194
There id a metricsbyhost flag somewhere. Please search in docs on the
userguide section, monitoring page. Will try to send link later.

Thanks,
; Long

On Thu, 20 Oct, 2022, 8:34 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-10-20 16:10] strongjz commented on #8831
/remove-lifecycle stale

[2022-10-20 18:17] longwuyuan commented on #9194
/remove-kind bug

You did not say you have a wildcard host but i wonder how this flag https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/#wildcard-ingresses impacts your use case of no /

[2022-10-20 18:35] danielnachtrub opened #9196 "Using default-tls-certificate & watch-namespace does not work if secret is not in watched namespace"
**What happened**:

Using the combination of watch-namespace and default-tls-certificate flag leads to an error loading the default-tls-certificate **if** the certificate is not in the namespace that is watched.

[code]

My best guess is that the store used to access the configuration is scoped to the namespace and does not allow "escaping" this (which is good during runtime from a security perspe

[2022-10-20 18:44] longwuyuan commented on #9196
/remove-kind bug
I wonder if the namespce scope of secrets is relevant here
![image](https://user-images.githubusercontent.com/5085914/197031739-af87720b-5971-4f6f-846a-72252876c34f.png)

[2022-10-20 18:46] danielnachtrub commented on #9196
There should not be any relation. The nginx controller itself has sufficent permissions to access the secret, i've tested this using curl from within the controller with the sa's token.

This behavior has not been there since ever, it came with **around** 1.1.0 of the controller.

[2022-10-20 18:48] longwuyuan commented on #9196
What exactly is "watch-namespace". Sorry for dumb question.

On Fri, Oct 21, 2022 at 12:17 AM Daniel Nachtrub ***@***.***>
wrote:

--
; Long Wu Yuan

[2022-10-20 19:04] longwuyuan commented on #9196
- Default install does not watch a namespace. So flag `default-ssl-certificate` can use one secret from any namespace
- A user decides to watch ingresses only in one namespace, for a given controller. Yet the `default-ssl-certificate` flag, for that specific controller, should use a secret from some other namespace but not the namespace that the user decided to watch, using that specific controlle

[2022-10-20 19:23] Dietatko commented on #9192
The Helm chart where I see the Enabled check is `_params` template:
[/charts/ingress-nginx/templates/_params.tpl](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/templates/_params.tpl)

[2022-10-20 19:23] longwuyuan commented on #9196
So you expect secrets continue to be a name-scoped object, but secrets in one namescope should be read by ingresses from another namespace. That seems odd.

[2022-10-20 19:31] danielnachtrub commented on #9196
Secrets are always scoped, that's part of the resource definition and should for good reasons always be that way.

The ingress controller (deployment) runs on the same namespace where the secrets are stored - the ClusterRoleBinding created by the helm chart grants the controller permissions to read secrets of all namespaces anyway.

The important distinction is:
- **Ingress** resources are defined

[2022-10-20 19:36] longwuyuan commented on #9196
And does the service account in play impact anything ?

[2022-10-20 19:37] danielnachtrub commented on #9196
The permissions of the account are fine.

[2022-10-21 01:52] longwuyuan commented on #9196
@danielnachtrub  the project is in feature freeze phase as announced months ago so only critical bug fixes or CVE patches are the changes being accepted. There is some highest priority work in progress to stabilize the codebase. This is FYI because this feature can not be given priority until Feb 2023 or even maybe later.

I am not certain of the improvement that will occur as in does it really pr

[2022-10-21 06:03] FuyuanChu opened #9197 "Config keep-alive does not reflect the real config of nginx: keepalive_timeout"
**What happened**:

 Requests to ingress encountered connection refused errors occasionally.

As per the current settings of the nginx ingress, the keepalive_timeout is 75s.
So the nginx will close the connection if it is idle for 75 seconds. But occasionally, there is a chance the client sends the request while the connection is closing.

The parameter `keepalive_timeout` supports setting a diffe

[2022-10-21 06:44] danielnachtrub commented on #9196
There's no need to change the code in the first place - an improvement would be to document the behavior (for example annotate in the default-tls-certificate parameter that if watch-namespace or watch-namespace-selector is used the certificate needs to be located within these namespaces).

Besides that the priority of this is not very high, it's just undocumented behaviour that takes quite some ti

[2022-10-21 07:33] jeanbaptiste-brasselet commented on #9194
I think you misunderstand my issue I am not using any wildcard. I have metrics for the path '/' on my hostname. The problem is for some reason it says it belongs to the ingress public-service3 when the only path declared for this ingress is ` /public/v1/test3 `.

As a matter of fact I have no ingress that matches the '/' path that's why it always return 404 and I would have expected to see ingress

[2022-10-21 09:34] jeanbaptiste-brasselet commented on #9194
I think I get what is happening, it seems there is a default backend at the last resort to all the ingress you create and it's this default backend that send back 404.

If I am right I wonder what I can do to have those error not associated with the ingress and it's default backend. Do I need to create a backend for this myself with an ingress ?

[2022-10-21 12:03] ElvinEfendi opened #9198 "Upgrade NGINX version and all the Openresty modules we bake in the base NGINX image"
ingress-nginx currently uses NGINX 1.19.10 while the latest stable NGINX version is 1.22 as per http://nginx.org/en/download.html.

You can see in http://nginx.org/en/CHANGES that there are a lot of improvements since `1.19.10`, notably:
[code]

Introduced in `Changes with nginx 1.21.6 25 Jan 2022`. I have not tested, but this could potentially fix https://github.com/kubernetes/ingress-nginx/issue

[2022-10-21 12:14] tao12345666333 commented on #9198
yes. I’m working on it. https://github.com/kubernetes/ingress-nginx/pull/8889#issuecomment-1278561056

[2022-10-21 12:34] ElvinEfendi commented on #9198
Closing this in favour of https://github.com/kubernetes/ingress-nginx/issues/8799.

Talked to @tao12345666333 in Slack, @tao12345666333 is going to test with both `1.21.6` and `1.23.2` and use the latest working one in https://github.com/kubernetes/ingress-nginx/pull/8889#issuecomment-1278561056.

If none of those work because of some conflicts with Openresty ecosystem, then we can go with `1.21.4

[2022-10-21 12:34] #9198 closed

[2022-10-21 14:38] MrDeerly commented on #8786
/remove-lifecycle stale

[2022-10-21 15:51] dke opened #9199 "Stickyness seems unavailable with ingress-nginx installed from helm chart"
**What happened**:

**What you expected to happen**:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the

[2022-10-21 15:52] dke commented on #9199
Premature hit of "Send" button... sorry for the noise, closing for now.

[2022-10-21 15:52] #9199 closed

[2022-10-21 17:14] #7466 closed

[2022-10-21 17:14] #8614 closed

[2022-10-21 18:14] #8613 closed

[2022-10-21 21:19] luislhl commented on #8598
Same thing here.

[2022-10-22 13:43] longwuyuan commented on #9197
/remove-kind bug

Please answer all the questions aasked in the issue template.
I don't recall a release named like this `v1.2.1-aliyun.1`

[2022-10-23 11:13] FuyuanChu commented on #9197
Hello @longwuyuan,
We use k8s on a public cloud provider Alibaba Cloud. The ingress nginx controller on the cluster is a distribution from the vendor. So the release name is `v1.2.1-aliyun.1`
Anyway.  Despite the version I'm using, the configuration is consistent with the official one.

[2022-10-23 17:33] #8572 closed

[2022-10-23 21:37] #8640 closed

[2022-10-24 12:42] #8642 closed

[2022-10-24 15:09] aguacongas commented on #8584
/remove-lifecycle stale

[2022-10-24 16:36] simhnna opened #9211 "Feature request: Decouple proxy_intercept_errors from custom-http-errors"
We're using external auth and would like to serve custom error pages to our users if external auth doesn't allow the request through.
We'd like to do this while letting the protected upstream services return their own error pages.

Here's the [snippet](https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/template/nginx.tmpl#L1445) for the error handling on locations

[code]

You

[2022-10-24 16:41] simhnna commented on #9211
I'm happy to open a pull request if this is accepted

[2022-10-24 18:32] Routhinator commented on #9152
FYI I've just had this bug raised from a OpenBugBounty. None of the things exposed are overly sensitive here, but this does leave an operator unexpectedly exposed to any CVE related to these endpoints. They are exposed publicly and reachable from the internet as soon as someone uses the custom-error-pages container.

[2022-10-24 19:44] Routhinator commented on #9152
Defaults should definitely prevent these from being reachable by the internet. Scrapeable by internal services by default, sure - but never exposed to the internet by default.

[2022-10-24 23:12] voron commented on #8233
Just for the history, I was able to use `time-buckets` with NGINX Ingress controller `v1.4.0` and helm chart `ingress-nginx/ingress-nginx`  version `4.3.0` via following helm values
[code]

[2022-10-25 08:00] IakimLynnyk-TomTom commented on #3996
I have the same issue with the option while integrating it with AKS services. Same issue, same error:
AKS v1.21.9
Ingress-nginx v1.3.1 (v1.1.1 the hook)
but somehow I get it working by using **proxy-protocol: 'true'** and it just works.

[2022-10-25 08:16] ecerulm opened #9212 "Support Pod Security Standard = "restricted" in the helm chart"
Currently if you try to deploy the ingress-nginx helm chart into a namespace with "pod-security.kubernetes.io/enforce: restricted" it will fail with

[code]

Although the helm chart values allow to modify/control several securityContexts (.controller.podSecurityContext, .controller.admissionWebhooks.patch.securityContext, defaultBackend.podSecurityContext, default.containerSecurityContext) it does

[2022-10-25 08:29] longwuyuan commented on #9212
https://github.com/kubernetes/ingress-nginx/pull/9056
https://github.com/kubernetes/ingress-nginx/pull/9056

[2022-10-25 10:00] rphua commented on #9159
These 2 CVEs were also found in version 1.4.0:

- CVE-2022-40303
- CVE-2022-40304

both for the package libxml2

[2022-10-25 13:47] danish-rku opened #9213 "CVE-2022-3638 | A vulnerability was found in Nginx and classified as problematic Nginx 1.19.10"
CVE-2022-3638 | A vulnerability was found in  Nginx and classified as problematic. This issue affects some unknown  processing of the file ngx_resolver.c of the component IPv4 Off Handler.  The manipulation leads to memory leak. The attack may be initiated  remotely. It is recommended to apply a patch to fix this issue. The  identifier VDB-211937 was assigned to this vulnerability.

[CVE-2022-3638

[2022-10-25 14:03] strongjz commented on #9213
/triage accepted
/priority backlog

[2022-10-25 14:06] strongjz commented on #9188
Can you add the version of AKS, k8s and ingress-controller?

What error do you see? from curl or the browser?

`When I am trying to access domain using saurabh.com, its coming with https. Thanks in advance.` <- This is confusing

[2022-10-25 14:06] strongjz commented on #9188
/kind support
/triage needs-information
/priority backlog

[2022-10-25 14:20] strongjz opened #9214 "Update documentation to ensure all flags are documented"
post-shutdown-grace-period is missing in the documentation; We need to review the flags and make sure they all are in the documentation

https://github.com/kubernetes/ingress-nginx/blob/main/pkg/flags/flags.go

fixes https://github.com/kubernetes/ingress-nginx/issues/9125

/triage accepted
/kind documentation
/good-first-issue
/help-wanted

[2022-10-25 14:44] strongjz commented on #9125
I misread the ask, here is the Helm configuration `extraArgs`

https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L180
[code]

[2022-10-25 15:41] ThumbGen commented on #8936
Would it be prioritized and implemented at some point? Would massively help us deploying different versions of our (umbrella) chart on the same cluster, in different namespaces.

[2022-10-25 23:01] kakarotbyte opened #9215 "UDP Service dosent seem to work when multiports are defined."
I have been following the [Doc](https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/) and noticed that when I create a UDP service with multiple ports it dosent seem to work....

example:

[code]

  My ingress args

[code]

Ports running within the ingress container:

[code]

Ask:
- When I tested the same with TCP i was able to see multiple ports open.... but for udp it

[2022-10-26 01:23] fred214 opened #9216 "Nginx vulnerabilities CVE-2022-41741 and CVE-2022-41742"
Hi,
Our Protecode scan out the new vulnerabilities [CVE-2022-41741](https://nvd.nist.gov/vuln/detail/CVE-2022-41741) and [CVE-2022-41742](https://nvd.nist.gov/vuln/detail/CVE-2022-41742), it looks like related with `ngx_http_mp4_module`.

I think it's a false positive for us, because in [build.sh](https://github.com/kubernetes/ingress-nginx/blob/main/images/nginx/rootfs/build.sh) there is no `ngx_

[2022-10-26 01:44] fred214 opened #9217 "Vulnerabilities for golang-runtime 1.19.1"
Hi,
After udpate golang runtime to 1.19, our Protecode scan out new vulnerabilities:

- [CVE-2022-2879](https://nvd.nist.gov/vuln/detail/CVE-2022-2879)
- [CVE-2022-2880](https://nvd.nist.gov/vuln/detail/CVE-2022-2880)
- [CVE-2022-41715](https://nvd.nist.gov/vuln/detail/CVE-2022-41715)

scan result:
[code]

[2022-10-26 02:17] kakarotbyte commented on #9215
Update:

When I add a service from a different namespace it seems to work. I am assuming if we try to put multiple services from same namespace it wont work.

[2022-10-26 05:45] alebsys commented on #9214
Hi! I would like to deal with this issue.
/assign

[2022-10-26 07:50] tao12345666333 commented on #9216
we don't use it. thanks

/close

[2022-10-26 07:50] #9216 closed

[2022-10-26 20:02] tpoindessous commented on #8712
/remove-lifecycle rotten

[2022-10-26 22:49] yifeng-cerebras commented on #4944
Is there an existing bug for only one pod running?
I have this infinite retry on the same IP over and over again.
Is it expected to turn off for only one pod?

I didn't change any default config

			proxy_connect_timeout                   5s;
			proxy_send_timeout                      60s;
			proxy_read_timeout                      60s;

			proxy_buffering                         off;
			proxy_buf

[2022-10-27 01:37] Rezkmike commented on #8706
/remove-lifecycle stale

[2022-10-27 03:02] rocketTurbo opened #9220 "the-real-ip is 127.0.0.1"
NGINX Ingress controller version: v0.34.0

Kubernetes version (use kubectl version):Server Version: v1.15.11

configmap is :
apiVersion: v1
data:
  compute-full-forwarded-for: "true"
  enable-underscores-in-headers: "true"
  keep-alive: "750"
  keep-alive-requests: "1000"
  proxy-body-size: 200m
  proxy-set-headers: ingress-nginx/custom-headers
  ssl-redirect: "true"
  upstream-keepalive-connectio

[2022-10-27 07:44] fred214 commented on #9217
I build go binary with 1.19.2, then it passed the Protecode scan, so I think update golng-runtime to 1.19.2 can fix the vulnerabilities

[2022-10-27 08:10] syst0m commented on #9132
Any chance someone could look at this, please? Still an issue.

[2022-10-27 09:07] #8647 closed

[2022-10-27 09:18] coopbri commented on #2170
@CyanoKobalamyne agreed, I have seen support for this common use case in several ingress controller implementations. I do understand the security and K8s ingress spec concerns, but the resistance is a bit strange to me considering how common this use case is. It is unfortunate that the recommended approach is to install a third-party secret syncing solution (although I respect it, in a way, in the

[2022-10-27 09:23] #9220 closed

[2022-10-27 09:24] longwuyuan commented on #9217
We are working on this https://github.com/kubernetes/ingress-nginx/pull/8889

[2022-10-27 09:27] longwuyuan commented on #9215
/remove-kind bug

Need to check but I think the name pairs with one port

[2022-10-27 10:39] lud0v1c commented on #2463
Thanks, this was the only solution for me here. The problem OP has described is still happening as reported. Using ingress-nginx chart v1.4.0, on GKE 1.22.15-gke.1000 (service behind ingress is httpd:2.4 with a pretty vanilla config).

[2022-10-27 13:25] AverageMarcus commented on #8527
/remove-lifecycle stale

This request is still valid and an open PR exists: https://github.com/kubernetes/ingress-nginx/pull/8528

[2022-10-27 13:33] yifeiwublazer opened #9221 "nginx_ingress_controller_ssl_expire_time_seconds shows wrong expiration date"
Hello all,

I enabled nginx controller metrics, and set up an alert in Prometheus if any certificate will expire in 7 days based on nginx_ingress_controller_ssl_expire_time_seconds

It happened once that this alert was triggered but when I check the certificate/secret, it is valid and expiration date is longer than 7 days. So, I went to the nginx controller metrics endpoint, and I found out the re

[2022-10-27 13:49] fred214 commented on #9217
Hi @longwuyuan,
[#8889](https://github.com/kubernetes/ingress-nginx/pull/8889) is bump NGINX version from 1.19 to 1.21.4.
The issue we talked about is related with controller go binary(dbg, nginx-ingress-controller, wait-shutdown) vulnerabilites, which need to update golang runtime version from 1.19.1 to 1.19.2

[2022-10-27 14:03] agramner opened #9222 "Fail to resolve auth-url DNS"
**What happened**:

We use "External OAUTH Authentication" feature with _nginx.ingress.kubernetes.io/auth-url_ set to a DNS of a service in our cluster (i.e. xxx.xxx.svc.cluster.local). We run _ingress-nginx_ in 3 replicas, one on each of our hosts with _hostNetwork=true_.
Intermittently the "External OAUTH Authentication" feature in one (or more) of our instances stops working because nginx can't

[2022-10-27 15:17] hammoumi94 commented on #4167
i have the same issue. i was thinking that this : https://stackoverflow.com/questions/51511547/empty-address-kubernetes-ingress will resolve it but it didn't. can someone give me the roadmap to solve this issue ?

[2022-10-27 16:58] Saza-ku commented on #9146
Hey! I'm interested in this issue.
/assign

[2022-10-28 00:00] worldspawn commented on #7153
I've just had this issue with 1.1.3 (which i assume has #7239 in it). Seems to match it exactly, I had tls configured with a default backend and the ingress refused to serve the certificate. After changing from a default backend to a specific host it worked.

I was then able to change to back to a default backend and it continued to work. Just as describe here and

We use default backend because r

[2022-10-28 07:50] kundan2707 commented on #6155
/remove-lifecycle rotten

[2022-10-28 08:26] longwuyuan commented on #9222
/remove-kind bug
/kind support

The combination of hostNetwork, OAuth with deleting coredns pods is not tested in CI.
Please help by writing a step-by-step instruction set that someone can use to copy paste in their minikube or kind cluster and experience this problem.

Regards

[2022-10-28 08:48] agramner commented on #9222
As soon as I have the time I will try to reproduce this using a minikube/kind setup. I probably have time in a couple of weeks.

[2022-10-28 08:51] longwuyuan commented on #9222
ok. mostly will require multinode minikube or multinode kind cluster to simulate 3 replicas with hostNetwork.

[2022-10-28 10:04] hamza3202 opened #9226 "Bad metrics reported on deployment restart"
**What happened**:

Whenever nginx deployment is restarted, metrics from the pods being deleted are completely wrong

**What you expected to happen**:

Nginx continues to publish correct metrics

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
v1.3.1

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or

[2022-10-28 12:44] longwuyuan commented on #9226
/remove-kind bug
/kind support

- Is it possible to reproduce this in a minikube or kind cluster
- If it is possible to reproduce then can you write a step by step instruction that someone can copy/paste into their own minikube or kind cluster and try to see the jump
- Is it possible that during termination there are too many retries and that is wht is causing the jump

[2022-10-28 15:35] jwineinger commented on #9054
We're seeing the same thing, in v1.4.0. We use regex paths in ingresses, and the controller is adding this catch-all location at the end of every server. However, the location block is copying configuration from another ingress for that same server, which results in incorrect behavior. We want the catch-all to issue 404s, but it is copying a config from another ingress that requires auth, so all r

[2022-10-28 16:14] longwuyuan commented on #9217
Golang has been bumped and will ship with next release

[2022-10-28 17:19] sajithvasu opened #9227 "CVE-2022-0778"
Hello,
We noticed the latest version of the nginx container image has high vulnerability mentioned below. Is there any plan to patch this any time sooner?

File /usr/bin/openssl version 1.1.1 is vulnerable to CVE-2022-0778, which exists in versions = 1.1.1.

The vulnerability was found in the [National Vulnerability Database (NVD)](https://nvd.nist.gov/vuln/detail/CVE-2022-0778) based on the CPE c

[2022-10-28 18:08] micheleissa opened #9228 "Dapr-ized NGINX Ingress controller pods in a different namespace"
Note: I opened this because Slack will not let me register at all..
Thanks in advance for looking into this

I have followed several tutorials/videos on how to dapr-ize nginx ingress controller to allow mTLS between the ingress and the backend services. I got it to work when all the ingress-controller pods and services are deployed in the same namespace as the services to be communicated with, but

[2022-10-28 20:02] cedvict opened #9229 "Ingress controller block all requests"
Hi Guys

I have some issue with ingress controller. Sinc few days ago this happens without any change in kubernetes cluster.

When I try to execute http request this don't arrive to pod behind. So I look in Ingress controller I see this  [28/Oct/2022:20:00:52 +0000] "-" 000 0 "-" "-" 8687 0.000 [] [] - - - -
He doesn't have any informations about request. I deactivate certificate in Ingress but I

[2022-10-28 20:07] cilindrox commented on #6340
Just got bitten by this. Similar setup: ssl-redirect, http->https upgrade occurs before hitting the redirect config. In our particular scenario, the `nginx.ingress.kubernetes.io/permanent-redirect-code: '301'` doesn't kick in before the global `308`.

[2022-10-28 21:13] PhilipBehrenberg opened #9230 "Ingress Nginx Ingress Controller fails to start on EKS Node"
**What happened**:

Ingress Controller pods error on startup and enter CrashLoopBackOff. This system is running on EKS on customized versions of the official AWS EKS nodes.

<details><summary>Ingress Controller Pod Logs</summary>

[code]

</details>

**What you expected to happen**:

The ingress controller pods should start up and enable incoming connections from the NLB that was created by the in

[2022-10-28 22:31] tooptoop4 commented on #8799
/remove-lifecycle stale

[2022-10-28 23:40] #8799 closed

[2022-10-29 00:39] tao12345666333 commented on #8016
https://github.com/kubernetes/ingress-nginx/pull/8889 has been merged. we finish this.

[2022-10-29 00:47] longwuyuan commented on #9230
- Does this work in its default install https://kubernetes.github.io/ingress-nginx/deploy/#aws
- Do you have the required ports open and allowing connections

/remove-kind bug
/kind support

[2022-10-29 00:54] longwuyuan commented on #9229
@cedvict , when you open a new issue here, there is a template that asks for informtion about your issue. Please answer those questions because that information is needed to help understand the problem and solve it. After you have updated this issue with all the information asked in the issue template, please reopen the issue.

You can also discuss the problem in kubernetes.slack.com because there

[2022-10-29 00:54] #9229 closed

[2022-10-29 00:57] longwuyuan commented on #9228
- There is no example
- You could be referrring to a service-mesh use-case so try linkerd

/kind support

[2022-10-29 18:52] PhilipBehrenberg commented on #9230
The default install has the exact same issue. By default install I assume you mean the one that is to just run the following command:

[code]

I have a bunch of other pods running without any issue. They are able to communicate with each other, even across separate pods. The DNS is also working as expected.

[2022-10-30 00:45] marcredhat commented on #8461
Shouldn't we use
[code]
?

Please see https://github.com/kubernetes/kubernetes/issues/56374

[2022-10-30 00:48] micheleissa commented on #9228
@longwuyuan  an example that I followed can be found [here](https://carlos.mendible.com/2020/04/05/kubernetes-nginx-ingress-controller-with-dapr/)
Also the dapr community made a video [here](https://youtu.be/8W-iBDNvCUM) but still deploying everything in same namespace

I'm referring to NGINX Ingress controller and it is the one I have been trying to use.

Thanks

[2022-10-30 01:34] longwuyuan commented on #9228
Those links do not refer to this controller, where we are discussing.

[2022-10-30 01:38] marcredhat commented on #8461
Could something like below explain lost capabilities after a container restart on a different node?

1) During container start the containerd performs GID/UID remapping using "chown" for the whole content of container rootfs.

That "chown" can remove capabilities.

2) Reflink support can help avoid this but might not be available for all worker nodes in the k8s cluster.
(https://github.com/contain

[2022-10-30 01:38] longwuyuan commented on #9230
Then please post the error messages and other logs. Thanks.

[2022-10-30 02:07] jrhunger commented on #8461
Mine worked on the same node after purging and re-pulling the image so it wasn't anything consistent to the node. Other reporters mentioned it worked for some images and not others, which also points more to image layer corruption than node issues. The scenario you describe seems like maybe it could also cause the same issue but would be consistent on a given node.

[2022-10-30 13:27] micheleissa commented on #9228
I thought the one referenced in the video is from this repo is it not?

[2022-10-30 14:39] #8659 closed

[2022-10-30 15:17] longwuyuan commented on #9228
I will check again. I am seeing this currently
![image](https://user-images.githubusercontent.com/5085914/198886493-a991612c-2e57-4307-a0ba-46d77dfda52b.png)

[2022-10-30 17:09] abramov-blink opened #9232 "wild card in spec.rules.host field of ingress resource"
Hi All,

I'm trying to implement a domain name for each user of my app and I'm trying to achieve this by creating a k8s ingress resource with a wildcard in the `spec.rules.host` field.

I created the following 2 ingress resources (one for my backend service and one for my frontend service):

[code]
As you can see above, I'm using a wildcard host value in `spec.rules.host`, the resources get create

[2022-10-30 18:31] PhilipBehrenberg commented on #9230
All of my logs and everything are in the original post. Running the default install failed in the exact same way, same error everything.

[2022-10-31 00:05] zerkms commented on #8886
/remove-lifecycle stale

[2022-10-31 03:43] #8662 closed

[2022-10-31 04:00] coopbri commented on #8414
I know this issue is closed but since it has high SEO ranking, adding my own solution in case anyone runs into this: I didn't have to worry at all about the CN/SANs (as in I didn't add them to the spec, though you may need to for your use case). I simply needed to sync the secret containing the TLS cert from the `cert-manager` workload namespace to the ingress/ingress workload namespace as outline

[2022-10-31 07:01] tabnul commented on #8900
we bumped the controller to 1.4.0 and now the behaviour is fixed.

during troubleshooting i also bumped it to 1.3.0 but that did not help.

something must have been changed in either 1.3.1 or 1.4.0 that fixed the behavior regarding keepalive with downstream loadbalancers. i cannot find what it is in the release notes..

[2022-10-31 12:56] longwuyuan commented on #9232
If you see the output of `k explain ingress.spec.rules.host` then you can know that having only the asterix character is not allowed

/kind support

[2022-10-31 14:10] #8094 closed

[2022-10-31 14:14] abramov-blink commented on #9232
Thanks @longwuyuan. I have to admit that I got confused by the docs. the host values I have in the above resources are valid? Also, about route matching, how exactly does it work with hostnames? seems like it falls back to the wildcard when not finding an exact prefix. is there some sort of a priority?

[2022-10-31 17:00] crinjes commented on #9163
[code]

[2022-10-31 20:26] yifeng-cerebras commented on #5524
why it's closed? it's an obvious bug that the grpc client will never receive an error back with this infinite retry and there's no way to specify this config.
It doesn't have to be a stream grpc. any grpc request will keep retry and spilling the nginx log.

[2022-10-31 22:14] yifeng-cerebras commented on #4944
Found the solution my self: https://github.com/kubernetes/ingress-nginx/issues/5524#issuecomment-1297641079

[2022-11-01 00:44] WolfspiritM opened #9240 "Endpointslice detection fails if servicename is too long"
**What happened**:
Since updating to version 1.4.0 services with long names don't work anymore with nginx-ingress. Accessing the service results in a 503 error and the error I get is:
[code]

Moving back to previous version makes everything work again.
Especially with vcluster this is a big issue as vcluster generates long names per default.
See also:
https://github.com/loft-sh/vcluster/issues/800

[2022-11-01 02:11] longwuyuan commented on #9240
/triage-accepted

[2022-11-01 02:12] longwuyuan commented on #9240
/triage accepted
/area stabilization

cc @tao12345666333 @rikatz

[2022-11-01 02:40] lizhifengones commented on #6964
can you give the link

[2022-11-01 03:57] longwuyuan commented on #6964
https://kubernetes.github.io/ingress-nginx/deploy/

[2022-11-01 06:47] tao12345666333 commented on #9240
/assign

Let me pick up it

[2022-11-01 07:49] Lisenish commented on #8549
@longwuyuan Can this be considered? We have a similar case actually

[2022-11-01 10:03] tombokombo commented on #9240
That `HasPrefix` part is just optimization, to get rid of not matching prefixes first. It's there because we need to loop trough all slices and checking if endpointslice name has svc name as prefix. Later on, there is real check for ownership on slice labels.
As a  solution we could strip both sides to equal number of characters before checking prefix.
@tao12345666333 I will provide fix, by stripi

[2022-11-01 10:20] KannanAadhav opened #9241 "When I do a path based routing, I'm finding the CSS & js contents 404 but the main index.html page is working."
**What happened**:

**What you expected to happen**:
Expecting the indext.html and other CSS and JS contents to load

When I do a path based routing, I'm finding the CSS & js contents 404 but the main index.html page is working.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------

[2022-11-01 11:20] undefinedhashtag commented on #9227
hey guys, any updates for this issue?

[2022-11-01 15:18] jwineinger commented on #9054
https://github.com/kubernetes/ingress-nginx/blob/69318355b167b2cd4eb6a9c90c1fc793200e982c/internal/ingress/controller/controller.go#L1243-L1261 is causing it, from what I can tell. When initializing the servers, the controller creates a root location and then copies an ingress's settings for that location. In our case, that includes annotations that require auth, and so "unhandled" requests that s

[2022-11-01 20:58] Constantin07 commented on #2003
/remove-lifecycle rotten

[2022-11-02 02:30] Saurabh-704 commented on #9188
Hii @strongjz, Thanks for your response.

My Kubernetes version is: **1.23.8**

Error which I am getting is: 503 Service Temporarily Unavailable

When I am giving domain name (saurabh.com) in ingress-controller.yaml file, it is working fine. But when I dont mention domain name and try to access application through ingress-controller load balancer IP, it is giving me error as : 503 Service Temporar

[2022-11-02 06:20] tooptoop4 opened #9246 "CVE-2022-42915 on curl in docker image"
CVE-2022-42915 on curl in docker image

Installed Resource
curl 7.83.1-r3

Fixed Version
7.83.1-r4

detected by Aqua scanner

[2022-11-02 08:45] thatsmydoing commented on #9030
As a workaround for this, using the arg `--default-backend-service` still seems to work.

[2022-11-02 09:13] krismassey commented on #9132
Hi, has anyone had a chance to investigate this issue?

[2022-11-02 09:44] inge4pres commented on #8818
/remove-lifecycle stale

[2022-11-02 11:05] leforthomas commented on #6495
This issue is a bit old but FWIW I managed to solve the problem by changing the optional modifier.

I used to have

path: /

and my snippet was location ^/metrics {return 403;}

After checking the actual nginx configuration I realised the path statement was turned into a regex, ie

location ~* "^/"

So I had a mismatch between the parent location and the nested one. I changed the nested location t

[2022-11-02 13:23] imriz opened #9247 "Changing Values.controller.name and reinstalling would result TLS error with the ValidatingWebhookConfiguration"
**What happened**:
We uninstalled the helm chart, and reinstalled with only changing `Values.controller.name` from the default (`controller`) to a custom value (`ingress-private`).
Since then was started to get errors from the webhook:
[code]

**What you expected to happen**:
Everything should work after uninstall and reinstall.
The problem is that when the `ValidatingWebhookConfiguration` object

[2022-11-02 13:37] longwuyuan commented on #9247
/remove-kind bug

Does this help you https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster

[2022-11-02 14:05] imriz commented on #9247
@longwuyuan nope.. The problem is that changing `Values.controller.name` will affect the DNS name of the webhook, but not the secret name, thus when changing the controller name, it will still reuse the old secret, with the wrong DNS names (since the name of the service is affected by `Values.controller.name`).

[2022-11-02 14:10] imriz commented on #9247
Like mentioned, since the secret is a TLS certificate used by the service, it makes sense that the secret name will match the service name, so when the value of the service name is changed, the secret name is changed too, avoiding using stale certificate, since we don't remove the certificate [here](https://github.com/kubernetes/ingress-nginx/blob/30c0d2260d61fb942bb12ebf829e93dcb0b19988/charts/in

[2022-11-02 14:29] marcandrews opened #9248 "dns_lookup(): failed to query the DNS server: no AAAA record resolved, context: ngx.timer error"
**What happened**:

The `nginx-ingress-controller` appears to be functioning correctly, but is emitting these tens of thousands of these errors every hour:

[code]

**What you expected to happen**:

I expect no errors to be emitted.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):

[code]

[2022-11-02 15:54] longwuyuan commented on #9248
Version 0.28.0 is not supported. It's actually so old that it's not even
possible to debug it. Kindly upgrade to latest release and update status.

On Wed, 2 Nov, 2022, 7:59 pm Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-11-02 16:22] marcandrews commented on #9248
I figured as much 😄

I will upgrade this weekend and report back.

[2022-11-02 16:24] longwuyuan commented on #9248
/remove-kind bug

On Wed, 2 Nov, 2022, 9:52 pm Marc Andrews, ***@***.***> wrote:

[2022-11-02 16:29] abramov-blink commented on #9232
@longwuyuan To make my question a bit clearer, if I create the following `ing1` ingress record in namespace `n1`

[code]

and then (or before creating the one above) I create `ing2` in namespace `n2`:

[code]

Then can I expect that requests to `abc.david.com` will be caught by the ingress config of `ing2` and routed to service `controller2` and requests to `a.david.com`, `b.david.com`, etc. will

[2022-11-02 16:33] longwuyuan commented on #9232
Thank you for question clarity. I think that best way forward is you create
those 2 ingress es and then exec into the controller pod and look at
nginx.conf there

On Wed, 2 Nov, 2022, 9:59 pm abramov-blink, ***@***.***>
wrote:

[2022-11-02 17:13] yahiya-ayoub opened #9249 "Ingress configuration file not applied with error unknown directive "stub-status" after updating to version 1.19.10"
I am trying to apply yaml files with ingress configuration for 3 different objects, the issue appeared after I updated the ingress version by helm to the latest one 1.19.10, and the error I got when do "kubectl apply -f ingress1.yaml"

`Resource: "networking.k8s.io/v1, Resource=ingresses", GroupVersionKind: "networking.k8s.io/v1, Kind=Ingress"
Name: "be-ingress", Namespace: "env-prod"
for: "prod\\

[2022-11-02 17:36] longwuyuan commented on #9249
/remove-kind bug

The information you have posted is not what is asked by a new issue-template. You can help by answering all the questions asked in the template when you create a new issue

[2022-11-02 18:07] triadcode commented on #9159
Anchore/Grype reports the following in libxml2 as well:

- CVE-2022-40304
- CVE-2022-40303

Is libxml2 on the critical path?

[2022-11-02 18:15] longwuyuan commented on #9159
last 2 alpine upgrades were factoring curl + libxml patches.
I am not certain but I don't think libxml is in critical path (caan't see where we do xml in criticaal path)

[2022-11-02 18:58] triadcode commented on #9159
I don't know if this is relevant in any way but it seems to be only linked by /etc/nginx/modules/ngx_http_modsecurity_module.so:
ldd output:
[code]
Among those dependencies, there is also libcurl (libcurl-7.83.1-r3) which is also reported in issue [#9246](https://github.com/kubernetes/ingress-nginx/issues/9246)

[2022-11-03 07:45] longwuyuan commented on #8033
k6 implemented by me and used by @strongjz already

[2022-11-03 07:45] longwuyuan commented on #8033
/close

[2022-11-03 07:45] #8033 closed

[2022-11-03 07:50] longwuyuan commented on #8025
Closing in favour of https://github.com/kubernetes/ingress-nginx/pull/9056

[2022-11-03 07:50] #8025 closed