[2021-08-28 13:16] tao12345666333 commented on #6917
#5731 has been reopened. I will close this one.

/close

[2021-08-28 13:16] #6917 closed

[2021-08-28 13:17] mohammed-fuad commented on #7557
@longwuyuan As requested accordingly

[code]
[code]

[code]
[code]

[code]

[code]

[2021-08-28 13:32] longwuyuan commented on #7557
Please show exactly how you created the second ingressClass

[2021-08-28 13:35] mohammed-fuad commented on #7557
**development ingressClass:**
[code]

**staging ingressClass:**
[code]

[2021-08-28 13:56] mohammed-fuad commented on #7557
@longwuyuan All of these configs are applied on a new created container

[2021-08-28 13:57] longwuyuan commented on #7557
Sorry, if my communication is not clear.
Please post the command you typed, the files you used and the output of those commands. Show the yaml you used. Copy/pase the entire command you typed.

Reason is you can see one spec is common to both ingressClass objects.

[2021-08-28 14:03] mohammed-fuad commented on #7557
@longwuyuan No worries, which commands you mean? Creation of ingress classes?

[2021-08-28 14:19] mohammed-fuad commented on #7557
@longwuyuan I attached the files as .txt

[code]

[code]

[development-ingressClass.txt](https://github.com/kubernetes/ingress-nginx/files/7070825/development-ingressClass.txt)
[staging-ingressClass.txt](https://github.com/kubernetes/ingress-nginx/files/7070826/staging-ingressClass.txt)

[2021-08-28 14:30] longwuyuan commented on #7557
Try this ;
- delete the staging ingressClass
- then use this yaml to re-create staging ingressClass
[code]

[2021-08-28 14:55] mohammed-fuad commented on #7557
@longwuyuan Unfortunately It doest work, here is the output again

[code]

and this is a description for all ingressClasses

[code]

[2021-08-28 15:11] longwuyuan commented on #7557
helm install is not what I suggested

[2021-08-28 15:13] mohammed-fuad commented on #7557
Oops neither browser nor mobile app at first showed your comment completely, will check and keep you posted

Thanks

[2021-08-28 15:17] longwuyuan commented on #7557
mybad .. i edited it later so sorry about that

[2021-08-28 16:15] mohammed-fuad commented on #7557
@longwuyuan It works finally without creating ingressClass manually, I deleted all the classes and re-installed helm as you recommended.

Thanks for your support.

[2021-08-28 16:15] #7557 closed

[2021-08-28 17:44] #6948 closed

[2021-08-28 19:43] iamNoah1 commented on #7555
/triage accepted
/remove-kind bug

[2021-08-28 19:44] iamNoah1 commented on #7555
/priority important-soon

[2021-08-29 08:04] RagingPuppies commented on #6273
@RagingPuppies i ended up using lifecycle policy on the deployment and graceful shutdown on linkerd(service mesh) to resolve the 50x issues.

[2021-08-29 10:15] longwuyuan commented on #7539
/assign

[2021-08-29 12:06] fblgit commented on #7554
this is not a coincidence :)
[code]
There is a banner, but I don't think its helping much.. maybe nginxinc-controller would be a better name for them :)

[2021-08-29 12:39] iamNoah1 commented on #6273
@RagingPuppies thanks for the fast reply. Can we then consider closing this issue?!

[2021-08-29 12:43] iamNoah1 commented on #4479
/kind feature

[2021-08-29 12:48] iamNoah1 commented on #5547
/help

[2021-08-29 12:52] iamNoah1 commented on #6622
/help

[2021-08-29 13:08] iamNoah1 opened #7562 "Add specific commands for getting ingress nginx version to the right place."
Our issue template could get a little enhancement regarding how to get the version of ingress nginx. Although the info may be hidden somewhere in the issue template, maybe we can improve and add the specific commands directly to the section of the issue template where people should insert the ingress nginx version.

/kind documentation

[2021-08-29 13:08] iamNoah1 commented on #7562
/good-first-issue

[2021-08-29 16:24] sandipanpanda commented on #7562
I a newbie and I am interested to fix this issue. Can you please guide me to the issue template file?

[2021-08-30 00:11] guilhem opened #7564 "Lose connections on backend reload"
**NGINX Ingress controller version**: 0.49.0

**Kubernetes version** (use `kubectl version`): 1.20

**Environment**: stable

- **Cloud provider or hardware configuration**: gke

- **How was the ingress-nginx-controller installed**: via a _ds_.

[code]

**What happened**:
When an ingress is deleted, nginx drop connections, and it's impossible to access websites during ~15 seconds on *all* instances

[2021-08-30 07:09] ahern2018 commented on #5401
I modified the configuration of ValidatingWebhookConfiguration, mainly the scope of apiGroups
[code]

[2021-08-30 08:23] geNAZt opened #7565 "Gateway Timeout 504 after 5-10 requests"
**NGINX Ingress controller version**: 1.0.0

**Kubernetes version** (use `kubectl version`): 1.21.4

**Environment**:

- **Cloud provider or hardware configuration**: 2 worker nodes on one VXLAN / 1 KVM master on same VXLAN
- **OS** (e.g. from /etc/os-release): RHEL 8
- **Kernel** (e.g. `uname -a`): Linux srv-206.inf.******.** 4.18.0-305.12.1.el8_4.x86_64 #1 SMP Mon Jul 26 08:06:24 EDT 2021 x86_64

[2021-08-30 09:10] Ventsislav86 commented on #5583
Hello I have a similar problem:

kubectl create -f ingress.yaml
Error from server (InternalError): error when creating "ingress.yaml": Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post "https://ingress-nginx-controller-admission.ingress-nginx.svc:443/networking/v1/ingresses?timeout=10s": dial tcp 10.111.201.182:443: connect: no route to host

venci@kubema

[2021-08-30 09:30] longwuyuan commented on #5583
What is 10.111.201.182 ?

Thanks,
; Long

On Mon, 30 Aug, 2021, 2:40 PM Ventsislav86, ***@***.***>
wrote:

[2021-08-30 10:20] RagingPuppies commented on #6273
@iamNoah1  yes.

[2021-08-30 10:20] #6273 closed

[2021-08-30 13:09] longwuyuan commented on #7565
from your laptop ... can you run mtr in TCP mode with PORT 80 and the destination as that grafana fqdn . Upate the result here

[2021-08-30 13:10] longwuyuan commented on #7565
/assign

[2021-08-30 13:10] longwuyuan commented on #7565
/remove-kind bug
/kind support

[2021-08-30 13:14] longwuyuan commented on #7564
Seems duplicate of https://github.com/kubernetes/ingress-nginx/issues/7268

[2021-08-30 13:43] iugastefan922 opened #7566 "Custom headers configmap misleading documentation"
**NGINX Ingress controller version**:
0.46.0
**Kubernetes version** (use `kubectl version`):
v1.20.4
**Environment**:
AKS
- **Cloud provider or hardware configuration**:
- Azure
- **OS** (e.g. from /etc/os-release):
- "Ubuntu 18.04.5 LTS"
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
Azure Kubernetes Services
- **Basic cluster related info**:
  - "v1.19.7"

**What happened**:

According to

[2021-08-30 14:07] longwuyuan commented on #7566
/assign
Need to check if method + header is  recommended. Maybe a few other
details.

Can you please check this on current release or latest release from legacy
branch.

Thanks,
; Long

On Mon, 30 Aug, 2021, 7:13 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-08-30 16:59] geNAZt commented on #7565
Result of `mtr -T -4 -P 80 -r <domain>`:

[code]

[2021-08-30 17:39] katehooper89 commented on #7562
There is no easy button to push here. If you want to pass the Linux Foundation CKAD exam, you’ll need to prep beforehand. I recently **passed the CKAD exam** and I learned many things along the way. Hopefully these suggestions will help you succeed with your exam.

**Download Full Practice Exam Material Here:** https://www.pdfcerts.com/linux-foundation/ckad-exam-questions.html

[2021-08-30 18:30] espringsteen commented on #7047
For users using external-dns, using the helm chart values from this issue (https://github.com/kubernetes/ingress-nginx/issues/4774) seems to be a potential workaround.

[2021-08-31 02:03] aleewade opened #7567 "NIC v1.0.0 fails, whereas v0.49.0 works with K3s"
**NGINX Ingress controller version**: v1.0.0

**Kubernetes version** (use `kubectl version`): v1.21.3+k3s1

**Environment**: Local VM
- **Cloud provider or hardware configuration**: 2GB/2CPU VM
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.3
- **Kernel** (e.g. `uname -a`): 5.4.0-81
- **Install tools**:
      Single Node Config: `curl -sfL https://get.k3s.io | sudo sh -s - --no-deploy=traefik`

[2021-08-31 03:06] HirokoMatsumoto-novade opened #7568 "Is there any way to install non official dynamic module or module in ingress-nginx?"
/kind feature
Hello. I'm using nginx ingress controller that is managed by helm chart.
I'd like to install dynamic modules or modules that are not offered by official nginx controller.
Those ones are possible to install by adding **--add-dynamic-module** or -**-add-module** options when installing nginx.
(It might be added in https://github.com/kubernetes/ingress-nginx/blob/8951b7e22ad3952c549150f

[2021-08-31 03:31] longwuyuan commented on #7567
Check the logs of the controller pod. You may need to spec ingeessClassName
in the ingress object.
https://kubernetes.github.io/ingress-nginx/#faq-migration-to-apiversion-networkingk8siov1
Thanks,
; Long

On Tue, 31 Aug, 2021, 7:34 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-08-31 06:42] longwuyuan commented on #7565
Please explain ;
- what is 10.11.216.1
- what ipaddress does that fqdn resolve to
- Can you do a tcpdump, on the host OS, both on the host that receives the traffic and the host where the pod is running
- Grafana has redirections
- Can you do this same ingress config but with image nginx:alpine

[2021-08-31 06:42] longwuyuan commented on #7567
/remove-kind bug
/kind support

[2021-08-31 06:44] longwuyuan commented on #7566
If you are convinced about this, can you please submit a PR for changing the docs.
I am yet to verify what you are saying

[2021-08-31 06:58] iugastefan922 commented on #7566
Didn't check yet on the current release but I will later today. I am convinced that the documentation is misleading

[2021-08-31 09:51] RileySohn opened #7569 "with helm chart 4.0.0~ I cannot use customized ingress class name"
Hi, I have used ingress-nginx for a year.
I deployed helm update command yesterday and from that time endpoint of all ingresses with customized ingressclass name have been disappeared.

I found helm chart's template file ( controller-deployment.yaml ) has been changed not to directly apply ingressglass name with --ingress-class instead using - --controller-class={{ .Values.controller.ingressClassR

[2021-08-31 09:54] longwuyuan commented on #7569
Does the solution here help
https://github.com/kubernetes/ingress-nginx/issues/7557

/assign

Thanks,
; Long

On 8/31/21 3:21 PM, Riley Sohn wrote:

[2021-08-31 11:02] stevehipwell opened #7570 "IngressClass annotation support via IngressClassParams"
The _ingress-nginx_ controller should support setting the annotations once for an `IngressClass` like the [aws-load-balancer-controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller/pull/2190) has implemented. This could then be extended and improved to support named parameters if there was the desire.

Until this is completed `ingressClassResource.parameters` should be removed

[2021-08-31 14:44] liangdong1992 opened #7571 "How to choose the ingress-nginx version ?"
Dears, I'm using k8s v1.14.8, may I know which ingress-nginx version should I use ?
Is there any version mapping table here ?
Thanks

[2021-08-31 16:30] strongjz commented on #6178
/help

[2021-08-31 16:30] strongjz commented on #6178
/priority important-longterm

[2021-08-31 16:33] strongjz commented on #4479
/triage accepted

[2021-08-31 16:36] strongjz commented on #5411
/milestone v1.0.2

[2021-08-31 16:51] strongjz commented on #7564
/triage accepted
/priority longterm-important

[2021-09-01 05:21] mtiop opened #7572 "Incorrect Ingress annotation affects all backend services"
**NGINX Ingress controller version**:

NGINX Ingress controller
  Release:       v0.48.1
  nginx version: nginx/1.20.1
- **Kubernetes version** (use `kubectl version`):
v1.21.2

- **Kernel** (e.g. `uname -a`):
Linux XX 4.15.0-147-generic 151-Ubuntu SMP ... UTC 2021 x86_64 Linux

**What happened**:

If you apply Ingress YAML with incorrect annotation indentation, the IngressController can no longer

[2021-09-01 08:31] geNAZt commented on #7565
- 10.11.216.1 is the VPN endpoint
-
[code]

- [captures.zip](https://github.com/kubernetes/ingress-nginx/files/7089313/captures.zip)
- Using a nginx default gets the same errors

What we observed is that this is per ingress. When i have 3 ingresses (grafana, test and dashboard) only the one which is used gets 504. The remaining 2 work fine until we also hit the request "limit" on there. They also

[2021-09-01 08:31] tippexs commented on #7564
Are there any debug-logs from the ingress controller at the time you have applied the config change via `kubectl`? Happy to take a look on the logs.

[2021-09-01 10:35] jsinghuy commented on #7435
How to write a ingress rule for  udp in ingress file?

[2021-09-01 10:36] mrkwtz commented on #6103
Hey @longwuyuan

ran into the same problem, where is the PR and when is it going to be fixed?

[2021-09-01 10:39] jsinghuy commented on #7435
I have created a ingress-nginx udp controller deployment and a service that exposing udp port 5683. My service is also running on 5683.

service/ingress-nginx-udp-controller         LoadBalancer   10.43.x.x   192.168.x.x   5683:31660/UDP
pod/ingress-nginx-udp-controller-98b9cbb9d-bnjdk   1/1     Running     4          25h

[2021-09-01 10:48] jsinghuy opened #7573 "How to write a udp rule in ingress?"
I have created a ingress-nginx udp controller deployment and a service that exposing udp port 5683. My service is also running on 5683.

service/ingress-nginx-udp-controller LoadBalancer 10.43.x.x 192.168.x.x 5683:31660/UDP
pod/ingress-nginx-udp-controller-98b9cbb9d-bnjdk 1/1 Running 4 25h

How to wright a ingress for udp??

[2021-09-01 12:39] invzhi commented on #6335
I found a way to work around by [Config the Addon to Use Custom Registries and Images](https://minikube.sigs.k8s.io/docs/handbook/addons/custom-images/).

Steps below:
1. Found a docker image instead of `k8s.gcr.io/ingress-nginx/controller:xxx`. I use `bitnami/nginx-ingress-controller` on `docker.io`.
2. Make sure docker image above can be pulled. Try to run `docker pull docker.io/bitnami/nginx-in

[2021-09-01 13:55] prakash2033 opened #7574 "Unable to get Internal Load Balancer IP address for ingress controller"
Not able to get Internal Load Balancer IP after ingress apiVersion change from `networking.k8s.io/v1beta1` to `networking.k8s.io/v1`
![ingress_issue](https://user-images.githubusercontent.com/9929306/131684085-f2a53624-b5eb-4440-93c2-f77e3c0b8b9f.jpg)

**NGINX Ingress controller version**: apiVersion: networking.k8s.io/v1beta1

**Kubernetes version** (use `kubectl version`): 1.20

**Environment**:

[2021-09-01 13:58] thiagodsti commented on #7246
any news about this? we are having the same problem

[2021-09-01 17:43] #7010 closed

[2021-09-01 22:00] KuberDriver commented on #5411
I tried to reproduce this issue, however certificate update via tls secret update worked as expected!

### Cluster Setup
Platform: Baremetal
Kubernetes: Kubeadm; Version: 1.21.3
ingress-nginx details:
[code]

### Reproduce Steps performed:

Create Cert

[code]

Create K Secret

[code]

Update Ingress resource to add tls (below shows the extract from yaml in vi)

[code]

Describe Ingress to verify

[2021-09-01 22:24] rikatz opened #7575 "Improve e2e test for secure affinity cookie"
PR #7399 added a new annotation for secure cookie.

Although this PR is pretty complete, I'm missing some e2e test and would not like to release a new version before we proper improve this.

So my suggestion is:

* In test/e2e/annotations/affinity.go add a new suite of tests (`ginkgo.It("should set secure in cookie[....]")`
* Inside this suite, test the following scenarios:
  * An ingress object w

[2021-09-01 22:24] RenatoBrittoAraujo commented on #7575
/assign

[2021-09-01 23:57] hobti01 commented on #5411
Thank you for clear reproduction steps @KuberDriver , out of curiousity, how many ingress-nginx instances are running in your deployment?

[2021-09-02 04:28] kundan2707 commented on #7572
@mtiop  can you share all steps you performed ?

[2021-09-02 04:34] KuberDriver commented on #5411
@hobti01 only one ingress resource at the moment.
Can test with multiple, please let me know if required.

[2021-09-02 04:44] kundan2707 commented on #7562
you can start form here.
https://github.com/kubernetes/ingress-nginx/blob/main/CONTRIBUTING.md
here you can get basic idea and process for starting contributions

[2021-09-02 05:05] liangdong1992 commented on #7571
@kundan2707 Thanks for your reply, I can see the table list.
But I'm using k8s v1.14.8, so I can't find my k8s version in this version mapping table.
So is there any way to see the full list which contain all version ?
Because I'm not sure whether it can work fine or not if I install latest or oldest version ingress-nginx for my k8s.
So I need to find the match version to download and install ingr

[2021-09-02 05:44] kundan2707 commented on #7571
@liangdong1992
Although it is not official documentation but pre-requisite for ingress-nginx is Kubernetes v1.16+
https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx

[2021-09-02 06:15] liangdong1992 commented on #7571
@tao12345666333
Thanks for your suggestion, I thanks it's a solution to choose the version for me in current situation.

@kundan2707
Actually, I install ingress successfully on k8s v1.14.8 a few months ago and it work fine, I'm using this tag "nginx-0.26.1" resources to download and install.

But I forget how I choose the match version in the last time, I remember seems there is a version mapping

[2021-09-02 06:17] kundan2707 commented on #7562
/assign

[2021-09-02 06:19] tao12345666333 commented on #7571
You're welcome, I hope it can help you.

I will close this issue, feel free to reopen it or comment it If you think it is necessary.

/close

[2021-09-02 06:19] #7571 closed

[2021-09-02 06:32] umairm-tw opened #7576 "Global rate limit annotation, giving error"
**NGINX Ingress controller version**: nginx/1.20.1

**Kubernetes version** (use `kubectl version`): version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"clean", BuildDate:"2021-05-12T14:18:45Z", GoVersion:"go1.16.4", Compiler:"gc", Platform:"darwin/amd64"}

**Environment**:

- **Cloud provider or hardware configuration**: Azu

[2021-09-02 07:21] heerajoshi commented on #7576
Facing the same issue even ngnix.conf file is updated with the host but ingress is not able to find global-rate-limit-memcached-host

[2021-09-02 07:23] tehKapa commented on #5401
In my GKE cluster I have manually increased `timeoutSeconds` to 30. Do you know if it is possible to configure this value during helm install?

[2021-09-02 09:45] patrickhuy opened #7580 "Add configmap option to set so_keepalive on the listen socket"
It would be great if it was possible to configure nginx to set so_keepalive on it's listening sockets so that better connection tracking especially for long running connections can be realized.
See also https://trac.nginx.org/nginx/ticket/1887

It might even be interesting (although a little dangerous) to expose a generic parameter in the config map which could set any kind of listen option.

In #

[2021-09-02 10:21] urmet commented on #7246
Original reporter hasn't really given any useful information about their configuration. like what ingress-nginx version is in use or what annotations are present on the ingress that's exhibiting the issue.

Documentation to configure client certificate authentication is here: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#client-certificate-authentication

I

[2021-09-02 13:36] hobti01 commented on #5411
@KuberDriver there should not be any difference in behaviour, but if you have time for a test with multiple instances it would be more representative of production deployments.

Thank you for your testing efforts :heart:

[2021-09-02 14:02] KuberDriver commented on #5411
Glad to be of some help!
I can surely test with multiple instances.. May I know how multiple ingress instances are configured, like Rules, address, backend services?  I can mimic similar setup and test..

[2021-09-02 14:13] hobti01 commented on #5411
From my point of view, your configuration above without a backend looks appropriate, but maybe the rest of the community has an opinion.

[2021-09-02 16:30] yukihonhk opened #7582 "Ingress correctly map the path but resolve incorrect Pod IP Address"
**NGINX Ingress controller version**: 0.30

**Kubernetes version** (use `kubectl version`): AKS 1.21

**Environment**: PROD

- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release):  Ubuntu 18.04.5
- **Kernel** (e.g. `uname -a`): #51~18.04.1-Ubuntu
- **Install tools**:
  - `Please mention how/where was clsuter created like kubeadm/kops/minikube/kind etc. `
- **Ba

[2021-09-02 17:55] #5575 closed

[2021-09-02 19:45] mac-chaffee commented on #7132
This line in the logs shows that ingress-nginx wasn't able to contact the kube-apiserver:
[code]

The reason is that your network policy does not allow pods in the "production" namespace to send traffic to any pods outside the namespace. Since kube-apiserver runs in the "kube-system" namespace, ingress-nginx isn't allowed to send traffic to kube-apiserver.

One possible fix would be to explicitly

[2021-09-02 21:42] KuberDriver commented on #7553
Hey @kenorb

Couldn't reproduce in aks cluster in my dev environment

Environment:
Cloud provider or hardware configuration: Azure
OS (e.g. from /etc/os-release): Linux
ingress-nginx:
- chart: 3.36.0
- release version: 0.49.0

# Steps:

Created AKS cluster with 3 nodes

[code]

Install `ingress-nginx` via helm

[code]

Show helm deployment details

[code]

ingress controller status:

[code]

ingre

[2021-09-03 02:21] juliohm1978 opened #7585 "Location block is duplicated with different match patterns, which leads to infinite redirect loop in some cases"
**NGINX Ingress controller version**:

k8s.gcr.io/ingress-nginx/controller:v1.0.0@sha256:0851b34f69f69352bf168e6ccf30e1e20714a264ab1ecd1933e4d8c0fc3215c6

**Kubernetes version** (use `kubectl version`): v1.21.3

**Environment**:

- **Cloud provider or hardware configuration**: bare metal / kubeadm

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Install

[2021-09-03 02:25] juliohm1978 commented on #7585
For anyone struggling with this, the workaround I have is to use the `nginx.ingress.kubernetes.io/use-regex: "true"` annotation and match paths using regular expressions.

This will, however, have a side effect of automatically turning every other `location{}` blocks in the same `server{}` into regular expression matches, regardless if the Ingress object that corresponds to that `location{}` actua

[2021-09-03 02:57] juliohm1978 opened #7586 "use-regex annotation causes all other location{} blocks in the same server{} to become regular expression matches, regardless of their own independent Ingress annotations"
**NGINX Ingress controller version**:

k8s.gcr.io/ingress-nginx/controller:v1.0.0@sha256:0851b34f69f69352bf168e6ccf30e1e20714a264ab1ecd1933e4d8c0fc3215c6

**Kubernetes version** (use `kubectl version`): v1.21.3

**Environment**:

- **Cloud provider or hardware configuration**: bare metal / kubeadm

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

- **Install

[2021-09-03 03:02] juliohm1978 commented on #7586
I can confirm that there are actually side effects. Consider the following two ingresses:

[code]

Notice that `ingress1` is marked with `pathType: Exact`. The resulting nginx.conf is the same as reported:

[code]

But I think the expected result would be:

[code]

[2021-09-03 06:24] ppedrozzi opened #7587 "After upgrading to 4.0.1 the browser always gets the "Kubernetes Ingress Controller Fake Certificate""
**NGINX Ingress controller version**: 4.0.1

**Kubernetes version** (use `kubectl version`): 1.21

**Environment**: docker-desktop for intel mac

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was clsuter created like kubeadm/kops/minikube/kind etc. `
- **Basic cluster related

[2021-09-03 06:32] mtiop commented on #7572
All steps
1. kubectl create deployment nginx --image=nginx:1.19.3 -n nginx-test
2. kubectl expose deploy/nginx --type=ClusterIP -n nginx-test --port=8080 --target-port=80
3. kubectl apply -f Correct Ingress YAML
4. curl  http://X.X.X.X -H "Host:test.nginx" # Retun 200
5. kubectl apply -f Correct Ingress YAML
6. curl  http://X.X.X.X -H "Host:test.nginx" # Retun 200
7. kubectl rollout restart deploy

[2021-09-03 13:13] Chetan7272 opened #7588 "CoreDNS 1.8.4 unable to upgrade upgrading from 1.19.11 to 1.20.7 facing the issue of CoreDNS"
we are trying to upgrade AKS cluster 1.19.11 to 1.20.7 and having error for CoreDNS 1.8.3 so need to upgrade to 1.8.4 but it still rollback to 1.8.3 in 5 min after upgrade of CoreDNS 1.8.4.  As per AKS release note it suppose to roll out CoreDNS 1.8.4 on 09/02/2021 but it still not. Any lead or help would be nice because our AKS Cluster version 1.19.11 is going to out in October 2021.

[2021-09-03 13:34] duxinxiao opened #7589 "metrics nginx_ingress_controller_nginx_process_resident_memory_bytes seems not right"
**NGINX Ingress controller version**:
v0.44.0

**Kubernetes version** (use `kubectl version`):
v1.18.8

**Environment**:

- **Cloud provider or hardware configuration**:
alicloud
- **Kernel** (e.g. `uname -a`):
`Linux jkt-stg-atome-k8s-worker01 4.19.57-15.1.al7.x86_64 #1 SMP Thu Aug 29 13:46:41 CST 2019 x86_64 x86_64 x86_64 GNU/Linux`
- **Install tools**: alicloud

- **How was the ingress-nginx-co

[2021-09-03 14:41] gabrielpagu opened #7590 "TCP connection keep-alive timeout does not work as expected."
**NGINX Ingress controller version**:
v1.0,0

**Kubernetes version** (use `kubectl version`):
1,21

**Environment**:
all

- **Cloud provider or hardware configuration**:
Microsoft - AKS

- **OS** (e.g. from /etc/os-release):

NAME="Alpine Linux"
ID=alpine
VERSION_ID=3.11.6
PRETTY_NAME="Alpine Linux v3.11"

- **Kernel** (e.g. `uname -a`):
-
Linux main-ingress-nginx-controller-85b94b568f-6k275 5.4.0

[2021-09-03 15:36] longwuyuan opened #7591 "docs incorrect on ingressClass resource being disabled"
Kubernetes version v1.19+
Ingress Controller Version 1.0.0

This link says `ingressClass` resource is disabled by default  https://kubernetes.github.io/ingress-nginx/#why-is-the-ingressclassresource-disabled-by-default-in-the-helm-chart

But ingressCalss is actually enabled by default in the chart

[code]

[2021-09-03 15:38] longwuyuan commented on #7591
/assign

[2021-09-03 17:35] Nold360 commented on #7569
I was facing this issue today after upgrading, too.

I found the parameter `--ingress-class` has been removed in 90c79689c46497636ac32a7e2828c6ab2dae2fd8
But the docs still refer to this parameter when using [multiple ingress-controllers](https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/)

My workaround for now is adding the parameter to the extraArgs, in addition to the cont

[2021-09-04 05:51] Adiii717 commented on #6506
Any Updates on the issue? We are also facing the same, no error but keep sync in progress
![Untitled 2](https://user-images.githubusercontent.com/23054298/132084223-0f5a661c-cfb5-4375-8c4f-2c36ade553ac.jpg)

[2021-09-04 20:26] KuberDriver commented on #5411
@hobti01 Update from my 2nd round of testing!
- I created 2 more ingress resources (3 in total)
- all referring same secret resource

List and Describe Ingress (All 3 of them referring to same secret resource: `nginxexamplecom-tls`)

[code]

Validate fingerprint of certs with URL and cert files:

[code]

Generated new certs > patched secret resource > Was able to validate that fingerprint was upda

[2021-09-04 21:07] rgeraskin commented on #7154
/remove-lifecycle stale

[2021-09-05 02:13] longwuyuan commented on #7565
host network means kube-proxy "normal" way is changed.
- Can you do tests like alter the source of request to same subnet as cluster nodes
- Can you try the NodePort directly

Basically I don't think I have faced many host-network and NodePort designs that meets all expectations. We don't have have adequate docs for host networking and grafana.

I have seen very simple non host-port configurations

[2021-09-05 02:34] longwuyuan commented on #7582
/remove-kind bug
/kind support
@yukihonhk please provide the information requested in the template in case you still need someone to analyse the config a and logs related to the problem. ALso suggest please install the latest release of the Ingress-NGINX controller as there are many changes and bug fixes you are missing

[2021-09-05 03:29] longwuyuan commented on #7591
https://github.com/kubernetes/ingress-nginx/pull/7540

[2021-09-05 03:45] #7539 closed

[2021-09-05 03:45] #7591 closed

[2021-09-05 08:54] glego opened #7599 "8 main.go:67] port 80 is already in use. Please check the flag --http-port"
**NGINX Ingress controller version**: `nginx/1.20.1`

**Kubernetes version** (use `kubectl version`):

[code]

- **Cloud provider or hardware configuration**:  KVM  (single k3s node baremetal)
- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`): `Linux nc03 5.11.0-31-generic #33-Ubuntu SMP Wed Aug 11 13:19:04 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`

- **Install tools**:

[2021-09-05 15:33] arvtiwar commented on #5496
Yep, we are also looking for this capability.

[2021-09-05 15:40] matti opened #7600 "ingressclass.kubernetes.io/is-default-class: "true" does not work"
[code]

[code]

logs from controller:

[code]
^-- see `ingress does not contain a valid IngressClass`

Installed with helm chart version 4.0.1 using values:
[code]

[2021-09-05 15:41] matti commented on #7600
related https://github.com/nginxinc/kubernetes-ingress/issues/1221#issuecomment-913173814 and https://github.com/kubernetes/ingress-nginx/issues/7448

[2021-09-05 16:36] arvtiwar commented on #5496
Hi Guys, please suggest how to achieve this use case. We have Cloudflare, which proxies all the requests to our backend based on K8S Nginx ingress. We need to support multiple subdomains (subd01.mydomain.com, subd02.mydomain.com, .....) for our clients, and all should hit the same API backend  (api.mydomain.com).
Any workaround/idea how to address it? Thanks in advance

[2021-09-05 21:42] glego commented on #7599
I was unable to find the issue and reinstalled the k3s cluster. Now it's working...

[code]

Best regard,
Glenn Goffin

[2021-09-05 21:42] #7599 closed

[2021-09-06 11:58] Timoses commented on #6876
Did anybody find out how to get nginx ingress controller to send the `ca.crt` from a Ingress TLS secret to the client (i.e. send full chain)?

[2021-09-06 12:54] rajatjain1996 commented on #2924
@aledbf Are there any updates on exposing metrics on a per-upstream-endpoint ?

[2021-09-06 12:58] kenorb commented on #7553
I think it happens more at random, although recent upgrade to ingress-nginx:3.36.0 could help a bit. My cluster is stopped at night, and resumed every morning via CI.

I've added `timeout 10 kubectl get events -A -o wide -w` command after each resume and here is the log from this morning (relevant to nginx's `8bd5bc77-lhm8m` pod which hit `CrashLoopBackOff` later on):

[code]

Then after few minut

[2021-09-06 14:59] iugastefan922 commented on #7566
Actually the set-proxy-headers and add-headers are doing exactly what they should do, but in the documentation was reflected only the 1st case (using set-proxy-headers), creating a PR to update the docs with the other example.

[2021-09-06 15:39] brianharwell commented on #7222
/remove-lifecycle stale

[2021-09-06 15:39] gaui commented on #7448
https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L67

[2021-09-06 15:40] brianharwell commented on #7222
Bueller? Bueller? Bueller?

[2021-09-06 17:12] #7439 closed

[2021-09-06 19:07] yuha0 opened #7605 "Typo in Migration FAQ"
**NGINX Ingress controller version**:
v1.0.0

**What happened**:

I was following the docs and trying to set ingress-nginx as the default `IngressClass`. But my controller got into a crashloop complaining an unknown flag. Then I realized there's a typo in the flag mentioned in the doc:

https://github.com/kubernetes/ingress-nginx/blob/9f9122c38141542aac7efb2f09f610e4ece57605/docs/index.md#what-is-

[2021-09-06 21:12] zerkms commented on #6030
/remove-lifecycle stale

[2021-09-06 21:13] zerkms commented on #6030
To resolve it somebody from the team should confirm the core team is positive towards the suggested changes. Without that it's unlikely people would spend their spare time to implement a PR that is unlikely to be accepted.

[2021-09-06 21:27] #6962 closed

[2021-09-06 23:26] strongjz commented on #7172
/close

[2021-09-06 23:26] #7172 closed

[2021-09-07 00:15] longwuyuan commented on #7605
Thanks for reporting.
Can you submit a PR.

Thanks,
; Long

On Tue, 7 Sep, 2021, 12:37 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-09-07 00:16] longwuyuan commented on #7605
/triage-accepted

Thanks,
; Long

On Tue, 7 Sep, 2021, 5:45 AM Yuan, ***@***.***> wrote:

[2021-09-07 05:27] KuberDriver commented on #7588
@Chetan7272 Don't think, the issue you are facing related to ingress-nginx anyway. You may raise this in appropriate repo.

[2021-09-07 05:47] yuha0 commented on #7605
Hi @longwuyuan, I have already made one #7606. Let me know if I missed anything

[2021-09-07 06:38] jarrettprosser commented on #6969
Hi @rikatz,

Cheers, I tested this with ingress-nginx helm chart 4.0.1 and did not encounter this issue. Thanks!

[2021-09-07 06:38] #6969 closed

[2021-09-07 12:41] antoineozenne commented on #6381
/remove-lifecycle stale

[2021-09-07 12:51] SteffenSeckler commented on #6853
edit: the problem resurfaced. a proper fix would be really helpful :)

[2021-09-07 14:05] bhumijgupta opened #7607 "Helm install provides empty ingress.class annotation in notes"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`): 1.21.1

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): MacOS
- **Kernel** (e.g. `uname -a`): 20.6.0 Darwin
- **Install tools**:
  - Docker Desktop
- **Basic cluster related info**:
  - `kubectl version`: 1.21.1
  - `kubectl get nodes -o wide`:
[code]

- **

[2021-09-07 14:09] bhumijgupta commented on #7607
I would like to work on it
/assign

[2021-09-07 14:12] bhumijgupta commented on #7555
/unassign
I assume this can be closed now as the PR is merged

[2021-09-07 16:11] #7605 closed

[2021-09-07 17:14] arnab-code commented on #333
@sanzenwin Thanks a lot mate.... I have been searching this kind of a solution for the whole day... It works perfectly and as I want it.

[2021-09-07 17:27] rikatz commented on #7588
Yeah, I don't think this issue is related to ingress-nginx :)

Gonna close here, but if you have more information on if this is related to ingress-nginx please re-open
/close

[2021-09-07 17:27] #7588 closed

[2021-09-07 17:47] #7346 closed

[2021-09-07 18:15] #7390 closed

[2021-09-07 19:49] rikatz commented on #7502
@janosi PTAL https://github.com/kubernetes/ingress-nginx/pull/7609

Now you can specify --ingress-class-by-name and it will watch for ingressClasses by name (I guess this was the old behavior) but also by .spec.controller if it cannot find by name and the flag is enabled.

[2021-09-08 04:18] longwuyuan opened #7610 "doc is needed for the flag --ingress-class-by-name."
Ingress-NGINX version 1.0.0

We need to dcument the new flag --ingress-class-by-name. as per PR https://github.com/kubernetes/ingress-nginx/pull/7609
/remove-kind bug
/area docs

[2021-09-08 04:20] longwuyuan commented on #7610
/kind documentation
/triage-accepted

[2021-09-08 04:22] longwuyuan commented on #7610
/priority important-soon
/kind documentation

[2021-09-08 04:23] longwuyuan commented on #7610
/triage-accepted

[2021-09-08 04:25] longwuyuan commented on #7610
/triage accepted

[2021-09-08 06:47] bhumijgupta commented on #7610
/assign

[2021-09-08 07:22] nVitius commented on #7569
Details on how to use the new spec are here:
https://github.com/kubernetes/ingress-nginx/blob/e7791941ba6fd72ec343862ed5ae1de1f058a5a6/docs/index.md#i-have-more-than-one-controller-running-in-my-cluster-and-i-want-to-use-the-new-spec-

Looks like the doc for Mutliple Ingress Controllers needs to be updated.

[2021-09-08 07:26] OceaneLonneux-CAL commented on #7548
For anyone having this issue, this was the solution:
The problem was actually with the job itself. It spins up a pod, which is not put by default in the linux. So I added this to the controller part.
[code]

I'm not sure why it was not put there by default, or why it is not highlighted in the docs more.

[2021-09-08 07:49] iamNoah1 commented on #6853
Ok, I will close it then. Feel free to open an new issue if the problem surfaces again

/close

[2021-09-08 07:49] #6853 closed

[2021-09-08 07:49] iamNoah1 commented on #7555
/close

[2021-09-08 07:50] #7555 closed

[2021-09-08 09:17] #7607 closed

[2021-09-08 09:46] iamNoah1 commented on #5496
/help

[2021-09-08 10:31] prab2014 commented on #5282
I have added the secret in the same namespace but still getting the 503 error for Prometheus server.
Do we need to add any section in ngix controller also to enable basic auth.?
I have performed the below steps to enable basic auth in prometheus.
1) Created httppwd file [auth]
2) Cretad kube secrets in the same namespace referring the httpwd.
3) Modified the promethues ingress.yml . added ngix bas

[2021-09-08 10:56] devrajmaker commented on #7575
@RenatoBrittoAraujo are you still attentively working on this

[2021-09-08 11:39] RenatoBrittoAraujo commented on #7575
Hey @devrajmaker, @AGoretti and me are doing this issue as of now. Will let you know in case it's dropped. Does that sound fair?

[2021-09-08 11:50] rundeks commented on #7448
I am on Minikube version 1.23 and am seeing the same problem. Should I still need to use the beta version?

[2021-09-08 12:33] rikatz commented on #5411
@hobti01 we are having some issues reproducing this in v1.0.0 (maybe we fixed without knowing!)

Can you please check if this still occurs with newer versions? Thanks!!

[2021-09-08 13:28] dims commented on #7554
cc @swinslow @caniszczyk - thoughts please!

[2021-09-08 13:33] bcouetil commented on #2650
After kicking the pod multiple times, this works again as expected, and logs are :

[code]

[2021-09-08 14:59] kingledion opened #7612 "Leaderelection: Failed to update lock"
**NGINX Ingress controller version**: `v1.0.0-beta.1`

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Minikube v1.23.0
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`): 5.11.0-34-generic
- **Install tools**:
  -  Minikube installed with https://phoenixnap.com/kb/install-minikube-on-ubuntu
-

[2021-09-08 15:43] rpthms commented on #7600
@matti Are you setting `controller.watchIngressWithoutClass` to true?

https://github.com/kubernetes/ingress-nginx/blob/8b3a6f02526e8bcf8b6fff2bf8d3613e20211b15/charts/ingress-nginx/values.yaml#L64-L67

[2021-09-08 16:39] jaehnri commented on #6573
/assign
I would like to give this a try.

[2021-09-08 16:44] vincentmli opened #7613 "build ingress nginx image in machine behind company proxy"
Hi,

I have a dev machine that is behind company proxy, I have setup the environment variable for the proxy like below:

[code]
but when I build the image, I got
[code]
I believe it is go trying to get the dependencies package but fail to use the proxy, anyway to workaround this problem?

[2021-09-08 17:01] jaehnri commented on #6622
/assign
I'll take a look later.

[2021-09-08 18:32] matti commented on #7600
no. thats prob it. all docs that I could find are pretty slim on this.

[2021-09-08 18:43] kingledion commented on #7612
Worth noting, this error message disappears when installing using the baremetal instructions from the documentation [here](kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.0/deploy/static/provider/baremetal/deploy.yaml).

Perhaps the problem is that minikube is installing the beta version but not the release version. This may be a minikube issue.

Changin

[2021-09-08 20:56] aliencrash commented on #7325
I think I have a similar issue, but in my case all configuration from configmap annotation are not in the configuration file.
 nginx.ingress.kubernetes.io/server-snippet: proxy_cache odoocache;

[2021-09-08 23:30] mrbobbytables commented on #7554
Created CNCF Service Desk ticket CNCFSD-915 as a pointer 👍

[2021-09-09 01:18] longwuyuan commented on #7600
Please create a doc issue

Thanks,
; Long

On Thu, 9 Sep, 2021, 12:03 AM Matti Paksula, ***@***.***>
wrote:

[2021-09-09 03:17] larivierec commented on #5496
I have no idea if this is a good way to do it but it works. Lmk #7614

[2021-09-09 03:50] shuaizi commented on #7612
ingress controller  use serviceAcount authentication to acccess kube-apiserver for resources operation，
you can use `kubectl describe role ingress-nginx -n ingress-nginx` to confirm  whether the configMap can be updated

[2021-09-09 03:53] ytianxia6 opened #7615 "helm install failed"
**NGINX Ingress controller version**:  v1.0.0

**Kubernetes version** (use `kubectl version`): 1.22.0

**Environment**:

NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
PRETTY_NAME="Ubuntu 20.04.3 LTS"
VERSION_ID="20.04"

- **Kernel** (e.g. `uname -a`):
Linux k8s-master 5.4.0-81-generic #91-Ubuntu SMP Thu Jul 15 19:09:17 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

- **Install tools**:
- `kubeadm`

[2021-09-09 06:40] shuaizi commented on #7615
it looks missing  a job  named  ingress-nginx-admission-create,  it will create a secret "ingress-nginx-admission" first.

you can learn from  `https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/templates/admission-webhooks/job-patch/job-createSecret.yaml`

[2021-09-09 07:04] ytianxia6 commented on #7615
the job has finished and the secret is created. but the job `ingress-nginx-admission-patch` will contiues get error `Back-off restarting failed container` until the helm install failed.

[2021-09-09 07:24] bravous opened #7616 "Redirect chain is in wrong order leading to security issue"
**NGINX Ingress controller version**: 1.0.0

**Kubernetes version** (use `kubectl version`): v1.20.8-gke.2100

**Environment**: GKE

- **How was the ingress-nginx-controller installed**: Helm
**What happened**:

**What you expected to happen**:

Configured a redirect using the following annotation:

[code]

The redirect works but the order is incorrect. It redirects directly to the new domain whil

[2021-09-09 09:32] shuaizi commented on #7615
you can find more detailed error info for pods of the job by `kubectl get pods ingress-nginx-admission-patch-xxxxx -n ingress-nginx -o yaml` ,  for further deal

[2021-09-09 09:44] addreas commented on #7587
Hit the exact same issue today when upgrading, downgraded as well. The controller was logging this continually:
[code]

[2021-09-09 10:18] arvtiwar commented on #5496
IMHO, below are the two solutions wd be perfect
1. there has to be a way to enforce user-defined policy (e.g. nginx.ingress.kubernetes.io/cors-allow-origin-policy: "user-defined regex") to match "http_origin"
2. User should list all the subdomains (foo.bar.com, foo1.bar.com, yar.bar.com, bkar.foo.bar.com ......) in NginX ConfigMap for ingress to exact match.

[2021-09-09 10:30] #7562 closed

[2021-09-09 10:45] felipess19 commented on #5968
the solution of @marv254 works for me.
thks.

[2021-09-09 11:34] rikatz commented on #7613
How are you trying to build the image? Which command?

Thanks!

[2021-09-09 11:45] rikatz opened #7617 "Add some building tests for images we maintain"
We maintain some helper images in ingress-nginx, based in simple go programs. We don't test those images when they are changed, so someone sending a PR to those images wont get those tested to at least check if compilation works.

We wait until the PR gets merged just to see it failing in cloudbuilds, which is not good.

So here is the issue. For each of the images below, we can create a github ac

[2021-09-09 11:45] rikatz commented on #7617
/priority backlog

[2021-09-09 12:25] canidam commented on #7569
I think you should use the name of `ingressClassName` rather than the `controllerValue`

[2021-09-09 12:36] bishtsaurabh5 commented on #7617
/assign

[2021-09-09 13:47] Jonomir commented on #4628
@nicocti Thank you, this saved me from having to put the annotation on every ingress.

Helm values.yaml
`controller:
    config:
      force-ssl-redirect: true
    extraArgs:
      default-ssl-certificate: namespace/tls-secret`

[2021-09-09 14:03] vincentmli commented on #7613
I used `make build image`

[2021-09-09 16:09] nVitius commented on #7569
@canidam You can see in the [deployment template](https://github.com/kubernetes/ingress-nginx/blob/e7791941ba6fd72ec343862ed5ae1de1f058a5a6/charts/ingress-nginx/templates/controller-deployment.yaml#L90) that it expects you to use `controllerValue`. The name is only used in the [IngressClass](https://github.com/kubernetes/ingress-nginx/blob/e7791941ba6fd72ec343862ed5ae1de1f058a5a6/charts/ingress-ng

[2021-09-09 16:21] cryptk opened #7618 "validatingWebhook should be separate pods from controller"
Currently the admissionWebhook runs as a process within the same pod as the ingress-nginx controller itself.  Ideally these would be split apart.  With them integrated together like this, on a managed kubernetes cluster (I.E. EKS) you cannot use a custom CNI that runs the pods on a non VPC IP address.  If you do, the k8s apiserver cannot contact the validatingWebhook pod.  A workaround for this is

[2021-09-09 16:22] AGoretti commented on #7575
/assign

[2021-09-09 16:51] KuberDriver commented on #7587
@ppedrozzi @addreas can you please provide details/logs via pastebin or alternatives as asked in the original issue template? details like environment setup, install source, kubectl output etc.

I was unable to reproduce this on baremetal setup, installed/upgraded via helm with self signed cert stored in secret.. upgraded from 0.39 to 1.0.0 version of ingress-nginx and was able to validate success

[2021-09-09 18:16] NeckBeardPrince commented on #7118
Not stale

/remove-lifecycle rotten

[2021-09-09 20:59] iusergii commented on #7600
@rpthms, @longwuyuan  I have multiple ingress controllers and my rules have annotation ~`kubernetes.io/ingress.class: nginx...` and even with   `watchIngressWithoutClass: true` it still doesn't work.
Is there expected and is there any workaround for migration to v1?
Thanks

[2021-09-10 00:49] ytianxia6 commented on #7615
thank you, i get the error info:
[code]

the error reason is `container not ready` but i still cannot find the real reason and how to fix it.

[2021-09-10 03:09] ytianxia6 commented on #7615
thank you @shuaizi  ! I found the issue is the image I use `jettech/kube-webhook-certgen:v1.0.0` not work. I use the ` liangjw/kube-webhook-certgen:v1.0` and it runs ok！

[2021-09-10 03:26] wangshiyang opened #7620 "kubectl apply failed"
[code]

Environment:

NAME="Centos7"

Kernel (e.g. uname -a): `Linux node1 5.14.1-1.el7.elrepo.x86_64 #1 SMP Wed Sep 1 18:34:12 EDT 2021 x86_64 x86_64 x86_64 GNU/Linux`

Install tools: `kubeadm`

Basic cluster related info:
[code]

How was the ingress-nginx-controller installed:

`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.0/deploy/static/provider/b

[2021-09-10 03:47] longwuyuan commented on #7620
Show logs of the ingreds controller pod

Thanks,
; Long

On Fri, 10 Sep, 2021, 8:57 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-09-10 04:12] wangshiyang commented on #7620
`kubectl logs ingress-nginx-controller-797dc46d9b-2tdbv -n ingress-nginx`

`Error from server (BadRequest): container "controller" in pod "ingress-nginx-controller-797dc46d9b-2tdbv" is waiting to start: ContainerCreating`

`kubectl describe pod ingress-nginx-controller-797dc46d9b-2tdbv -n ingress-nginx`

[code]

[2021-09-10 04:14] wangshiyang commented on #7620
`kubectl logs ingress-nginx-admission-create--1-tjvbg -n ingress-nginx`

[code]

`kubectl describe pod ingress-nginx-admission-create--1-tjvbg -n ingress-nginx`

[code]

[2021-09-10 05:08] RileySohn commented on #7569
It didn't work. but thanks.

[2021-09-10 07:08] #7615 closed

[2021-09-10 08:22] wangshiyang commented on #7620
The installation method is no problem.
The installation error was caused by my modification of the file.

[2021-09-10 08:22] #7620 closed

[2021-09-10 09:10] willzhang commented on #5401
i install with old version 3.35.0
[code]
error
[code]
it work,https://github.com/kubernetes/ingress-nginx/issues/5401#issuecomment-662424306
[code]

[2021-09-10 11:21] iainlane commented on #4888
(sorry for commenting on a closed issue...)

With the YAML above (diff vs. the upstream AWS YAML below) , I'm getting this when trying to deploy my `Ingress`:

[code]

anyone got any ideas how to resolve that? I feel like maybe I missed something when deploying.

Diff:

[code]

[2021-09-10 11:55] TBBle commented on #4888
My guess is that the validating webhook is hitting your external http port, which your diff moved to 8443, instead of the actual validating webhook endpoint, which is now listening on port 8444.

In ingress-nginx/templates/controller-deployment.yaml (where the `--validating-webhook=:8444` change is), further down in the container there's a `ports` section, which isn't changed in your diff.

It sho

[2021-09-10 12:55] iainlane commented on #4888
You got it, thanks so much @TBBle :heart:

I didn't understand that those names were actually defined in this file.

[2021-09-10 13:45] bhumijgupta commented on #7610
@rikatz @longwuyuan I am planning to add the doc for the command line argument in the [Command Line Arguments](https://kubernetes.github.io/ingress-nginx/user-guide/cli-arguments/) page. Do we also need a separate heading like `What is the flag '--ingress-class-by-name'?` in the migration guide as well (Similar to [this](https://kubernetes.github.io/ingress-nginx/#what-is-the-flag-watch-ingress-wi

[2021-09-10 14:35] sepich commented on #6896
We have couple of k8s clusters with stable rate of `signal 11` errors on v0.43.0.
I've tried to switch to `libmimalloc.so`, then to v0.49.0 + `libmimalloc.so` but it has no any effect.
So i have to try build debian image for v0.49.0 based on work in https://github.com/kubernetes/ingress-nginx/pull/7593
[code]
For who want to test, image is available as `sepa/ingress-nginx-debian:v0.49.0`.
Unfortun

[2021-09-10 15:12] longwuyuan commented on #7610
Not good to have in 2 places so link it.

Thanks,
; Long

On Fri, 10 Sep, 2021, 7:15 PM Bhumij Gupta, ***@***.***>
wrote:

[2021-09-10 16:57] tao12345666333 commented on #7610
https://github.com/kubernetes/ingress-nginx/pull/7609  will be merged soon, and the document can start

[2021-09-10 17:14] #7502 closed

[2021-09-10 18:20] jonathonbattista opened #7622 "Exposing GRPC over a non-standard TCP port uses TCP/TLS health check on backend service"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

`  Release:       v0.34.1
  Build:         v20200715-ingress-nginx-2.11.0-8-gda5fa45e2
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.1`

**Kubernetes version**:

`v1.21.3-gke.2001`

**Environment**:

- **Cloud provider or hardware configuration**: `GKE`

[2021-09-11 08:06] hieunc278 commented on #7548
Dear @OceaneLonneux-CAL ,

Could you share more details about your suggest modification ? Such as which file and location.

[2021-09-11 11:18] fnkr commented on #7587
Same problem here:

But the TLS secret exists:

[code]

Filled out issue template: https://gist.github.com/fnkr/219761c83f31408a2fc15680e927310d

[2021-09-11 12:49] blackluck commented on #7442
We see this problem too, maybe I can help you understand why it's an issue.

By default ingress-nginx helm chart will create admission service (and the others also, just admission is the longest at the moment) based on helm release name.
For example I want to name my ingress-nginx helm release like:
- development-webshop-backend01
- development-webshop-backend02
- development-webshop-fe01
- develo

[2021-09-11 15:18] olafnorge commented on #7442
Holy Moly. Finally someone understood the problem.

[2021-09-11 17:14] #7049 closed

[2021-09-11 20:03] rikatz commented on #7234
/remove-lifecycle stale
Still want to look into this

[2021-09-12 05:49] tao12345666333 commented on #7234
I have done some thinking, but in this project, if we split the configuration file, what will be the benefit?

[2021-09-12 05:51] tao12345666333 commented on #7234
In the context of this project, the user is modifying and maintaining Ingress resources, not directly on the configuration file. I haven't thought of the benefits it can bring.  cc @rikatz

[2021-09-12 11:48] luryus commented on #6896
So a similar crash occurs both under musl and glibc. It seems that there actually is a double free / memory corruption bug somewhere. All the stack traces posted here indicate that they happen in some Lua module (using FFI I guess?). I wonder if some more information about what actually is being freed from Lua could be found in the core dumps?

I've tried reproducing this in a test cluster a coupl

[2021-09-12 13:23] #7014 closed

[2021-09-12 15:16] elsbrock commented on #7120
/remove-lifecycle stale

[2021-09-12 20:10] #7575 closed

[2021-09-12 20:48] rikatz commented on #6896
Thank you all for the help on the investigation.

So following @luryus I've seen that between 0.43 and 0.44 the only lua feature implemented was Global Rate Limiting -> https://github.com/kubernetes/ingress-nginx/pull/6673

I'm wondering about generating a version on my repo, reverting this specific PR only and asking for some of the folks here to test and check if this is the responsible for the

[2021-09-12 22:37] rikatz commented on #6896
Hi folks,

On an attempt to identify what module is causing this, and based in all your feedback (thanks!!) I've published a new version of ingress-nginx without lua-resty-ipmatcher.

Can you please make some tests and give some feedback?

Here are the images:
* Legacy/v0.49 -> rpkatz/nginx-ingress:v0.49-nomatcher
* Main/v1.0.0 -> rpkatz/nginx-ingress:v1.0.0-nomatcher

Please note that if you use

[2021-09-13 00:23] danielbecroft opened #7626 ""error getting secret" installing via Helm on AKS"
I'm having issues installing the `ingress-nginx` controller using the Helm chart. The deployment errors while attempting to retrieve the admission secret.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: Azure Kubernetes Ser

[2021-09-13 01:36] cnscud opened #7627 "krew plugin need update"
It is 0.31, not the latest version.

[2021-09-13 06:37] tokers commented on #6896
Why not just disable the feature that depends on the ipmatcher? It seems that prepare two images are loud.

[2021-09-13 06:41] ahmadalli commented on #646
for anyone who's checking this issue, the annotation is now changed to `nginx.ingress.kubernetes.io/configuration-snippet`

[2021-09-13 07:57] kys1230 commented on #6952
I have the same doubts about how to customize the shared dictionary

[2021-09-13 08:00] OceaneLonneux-CAL commented on #7548
Hi @hieunc278, I just added the part about `values.yaml`. Is this clear enough?

[2021-09-13 09:41] AristoStelar commented on #7612
Ran the command and got the following result.
[code]
It appears that the role has 2 configMap resources. One has update enabled the other doesnt. I suppose there is a difference between the 2.

[2021-09-13 12:24] rikatz commented on #6896
@tokers was mostly about not making a new release just to make sure the problem IS ipmatcher.

We (at least me) are not sure yet if this is the problem or not.

[2021-09-13 12:32] LiginGeorge opened #7628 "ingress certificate issue"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.0
  Build:         041eb167c7bfccb1d1653f194924b0c5fd885e10
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.20.1

------------------

[2021-09-13 12:46] ChipWolf opened #7629 "Chart changelogs missing for versions beyond v3.34.0"
**Anything else we need to know**:

CHANGELOG.md is missing release notes for chart versions beyond v3.34.0

/kind bug
/kind documentation

[2021-09-13 13:30] nehaLohia27 commented on #7617
@rikatz would like to work on this issue.

[2021-09-13 13:31] nehaLohia27 commented on #7617
/assign

[2021-09-13 14:49] longwuyuan commented on #7543
/unassign @Debanitrkl

[2021-09-13 17:54] KuberDriver commented on #7628
@LiginGeorge Looks like some of the information is missing to triage this further.. Can you please provide below info?
[code]
If applicable, then, your complete and exact curl/grpcurl command (redacted if required) and the response to the curl/grpcurl command with the -v flag

[2021-09-13 19:04] vincentmli opened #7632 "Failed to update lock: configmaps "ingress-controller-leader" is forbidden"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
bash-5.1$ /nginx-ingress-controller  version
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.0
  Build:         041eb167c7bfccb1d1653f194924b0c5fd885e10
  Repository:    https://github.com/kubernetes/ingress-nginx
  ngi

[2021-09-14 02:40] jacklund commented on #6155
I've started working on this, I've forked the repository and followed [this guide](https://github.com/kubernetes/ingress-nginx/blob/main/docs/developer-guide/getting-started.md). However, I can't build the plugin because of a couple of issues.

The `build/build-plugin.sh` script has an extra double-quote [here](https://github.com/kubernetes/ingress-nginx/blob/main/build/build-plugin.sh#L60), which

[2021-09-14 04:30] LiginGeorge commented on #7628
C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9>kubectl -n ingress-basic get all,ing -o wide
NAME                                            READY   STATUS    RESTARTS   AGE   IP           NODE                                NOMINATED NODE   READINESS GATES
pod/ingress-nginx-controller-65c4f84996-6h8rt   1/1     Running   0          42h   10.46.2.14   aks-nodepool1-99629622-vmss000000   <none>

[2021-09-14 04:34] LiginGeorge commented on #7628
We have installed certificate on the application end but ingress not allowing passing the certificate. However, we are getting a certificate in the url if we expose the deployment without ingress. Also please find the annotations which we have configured in the ingress.

  annotations:
    kubernetes.io/ingress.allow-http: "false"
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes

[2021-09-14 06:22] doujiang24 commented on #6896
Hi folks, I'm from OpenResty Community, one of the OpenResty Core Developers.
I think I can help to debug this segmentation fault issue.
Could someone help to:

1. provide a docker image of the accident scene that contains a core file and all binary files in the running container, so that we can use gdb to debug it locally.
  If you do not want to provide it in public, you can send it to my person

[2021-09-14 06:32] tao12345666333 commented on #6896
Thanks @doujiang24  I have notified @rikatz  on slack.

[2021-09-14 06:36] tobias-zeptio commented on #7233
Decided that this worked as intended

[2021-09-14 06:36] #7233 closed

[2021-09-14 06:45] tao12345666333 commented on #7632
[code]

you can just change the `ingress-controller-leader-nginx` to `ingress-controller-leader` . It should match the configuration https://github.com/kubernetes/ingress-nginx/blob/0dbaadf60864960f46b01b992784029d829f4ac4/charts/ingress-nginx/values.yaml#L88

By the way, it is recommended to use the Helm chart released by this project.

[2021-09-14 06:45] tao12345666333 commented on #7632
/remove-kind bug

[2021-09-14 12:31] ElvinEfendi commented on #6896
So I did the following changes in our ingress-nginx fork and since then I don't see the crashes (Mind you, our clusters do not remain static either, so what I'm about to say might not necessarily be what "solved" the problem for us. It could be just incidental timing):
- Use Alpine 3.14.2
- Use NGINX 1.19.9 (the latest tested with Openresty at the time I was doing the upgrade)
- Latest Lua resty m

[2021-09-14 13:54] rikatz commented on #6896
thanks @doujiang24 and @ElvinEfendi

Questions:
* We updated to nginx v1.20.1 because of https://nginx.org/en/security_advisories.html
* I guess we can downgrade to v1.19.9 as soon as we apply this patch https://github.com/openresty/openresty/blob/master/patches/patch.2021.resolver.txt

[2021-09-14 15:52] vincentmli commented on #7632
@tao12345666333 thanks, silly me not spotting name ingress-controller-leader-nginx not match, I will try to use Helm in future when possible

[2021-09-14 15:52] #7632 closed

[2021-09-14 16:46] strongjz commented on #6245
/triage accepted
/priority backlog

[2021-09-14 16:47] strongjz commented on #6622
/area helm

[2021-09-14 16:51] rikatz opened #7635 "Downgrade NGINX to v1.19.9"
So during discussion for #7080  and #6896 (https://github.com/kubernetes/ingress-nginx/issues/6896#issuecomment-919250609)

We need to downgrade NGINX to v1.19.9, apply the patches for OpenResty and the CVE Patch (for v1.20.1)

/help
/priority critical-urgent

[2021-09-14 16:51] iamNoah1 commented on #7617
@nehaLohia27 please get in touch with @bishtsaurabh5 as he/she assigned the issue first. Just want to prevent that you guys make double work :)

[2021-09-14 17:00] nehaLohia27 commented on #7617
yes we are in sync for this issue. @iamNoah1 Thanks !!

[2021-09-14 18:59] longwuyuan commented on #6896
@ReillyTevera @yuha0 @alfianabdi @laghoule thanks for your patience with this. As you can see from the most recent comments above, it would really really add a lot of value to the effort, if you were able to provide even one or multiple core dump file(s) to   @doujiang24

Hoping for the best

[2021-09-14 23:45] #6978 closed

[2021-09-15 00:47] liapretorius commented on #6030
Confirming that I am interested in this feature. I am not, however, a contributor. I hope this one gets picked up. Thank you.

[2021-09-15 01:10] emillg opened #7638 "custom header dropped when underscores-in-headers is on"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS

- **How was the ingress-nginx-controller installed**:
It's managed by Terraform
[code]

**What happened**:
In the terraform code, I added two headers: "test_to

[2021-09-15 03:49] #6341 closed

[2021-09-15 05:58] kundan2707 commented on #7629
/assign

[2021-09-15 06:15] kundan2707 commented on #7629
@ChipWolf changeslog here record all notable changes to helm chart.
In all release only version update occured there were no major change in chart that may be reason for no entry beyond v3.34.0

[2021-09-15 06:43] agile6v commented on #7244
@tangchen-blip  Hope this will help you.

### 1. define nginx variable in your ingress resource

[code]

### 2. write your lua plugin
See: https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/lua/plugins/README.md)

[code]

### 3. change the log format & enable lua plugin in your configmap resource

[code]

Note that `Nginx variables cannot be created on-the-fly`.
See:  https://g

[2021-09-15 10:33] emillg commented on #7638
It appears that nginx ingress does pass the headers to echoserver, but echoserver dropped "test_token"

[2021-09-15 10:33] #7638 closed

[2021-09-15 16:28] alexvaque commented on #7502
As @benjamin-tucker mentioned, I used the controller.extraArgs and works for me too

{code}
controller:
  extraArgs:
    ingress-class: nginx-private
{code}

Thank you

[2021-09-15 18:01] bishtsaurabh5 commented on #7543
/assign

[2021-09-15 18:22] ChipWolf commented on #7629
There was a breaking change in the jump to v4, no? @kundan2707

[2021-09-16 08:02] smitjainsj commented on #5932
I had exact same issues when I was using Kubernetes 1.18 and finally when I upgraded to 1.19 it worked just fine

Pod status
[code]

Error logs from pod
[code]

[code]

[2021-09-16 08:40] cuttingedge1109 opened #7645 "Removed ingress is synced again"
**NGINX Ingress controller version**

NGINX Ingress controller
  Release:       v0.46.0
  Build:         6348dde672588d5495f70ec77257c230dc8da134
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.6

**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.3", GitCommit:"ca643a4d1f7bfe34773c74f79527be4afd95bf39", GitTreeStat

[2021-09-16 09:37] cuttingedge1109 commented on #7645
I removed the namespace but nginx ingress controller tries to obtain endpoints for service, ssl certificate.

Is there a way to clear the store cache?

[2021-09-16 11:13] Lyt99 opened #7647 "Potential memory leak in OpenSSL"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 0.44.0 & 0.49.0

**Kubernetes version** (use `kubectl version`): 1.18.8

**Environment**:

- **Cloud provider or hardware configuration**: AlibabaCloud
- **OS** (e.g. from /etc/os-release): Alibaba Cloud Linux (Aliyun Linux)
- **Kernel** (e.g. `uname -a`): 4.19.91-23.al7.x86_64
- **Install tools**

[2021-09-16 13:19] longwuyuan commented on #7645
/remove-kind bug

Hi, the information you have provided makes people guess as to what could be the problem. Please provide the information that was asked in the issue template.

/kind support
/triage needs-information

[2021-09-16 13:26] longwuyuan commented on #7647
/remove-kind bug
Hi, let us wait until we get some helpful information that hints at a bug.
Also, please provide the information asked in the issue template.

We have been making changes for performance and very soon we will be releasing a build that has changed components of the controller. But if you test the current latest release and update as per issue template, it will help get a better pers

[2021-09-16 13:28] longwuyuan commented on #7629
/remove-kind bug
/kind documentation

Do you think the release page captures the changes or are you referring to the changelog file in the root of the project

[2021-09-16 13:34] longwuyuan commented on #7628
/remove-kind bug
/kind support
/triage needs-information

Please post information requested in the issue template. For this type of problem, at the very least, the informatin needed would be ;
[code]

[2021-09-16 13:39] longwuyuan commented on #7626
/remove-kind bug
/kind support
/triage needs-information

Hi, is it possible that you uninstall helm chart and try this manifest and update the results. After this works, please try to alter the manifest as per your restriction on registry access. This process will help provide useful information for debugging

[2021-09-16 13:41] longwuyuan commented on #7622
had a conversation over zoom. One suspicion is that its the GCE LB which is doing the healthcheck, and not the controller. user is checking.

@nehaLohia27 is also checking

/assign @nehaLohia27

/remove-kind bug
/kind support
/triage needs-information

[2021-09-16 13:52] longwuyuan commented on #7612
/remove-kind bug
/kind support
/triage needs-information

Hi, some suggestions ;
[code]

[2021-09-16 13:59] longwuyuan commented on #7600
/remove-kind bug
/kind support
/area documentation

Hi,
- one request is to pupulate your ingresses with the "ingressClassName" . Can you try and update results
- since you have multiple controllers, please provide details on the multiple controllers

[2021-09-16 13:59] longwuyuan commented on #7600
/area docs

[2021-09-16 14:08] longwuyuan commented on #7590
/remove-kind bug
/kind support
/triage needs-information

this does not look like a old release from this project ;
[code]

- Please check https://kubernetes.github.io/ingress-nginx/deploy/
- Please try the recent release and update the status

[2021-09-16 14:20] longwuyuan commented on #7587
/remove-kind bug
/kind support
/triage needs-information

[2021-09-16 15:25] KuberDriver commented on #7567
Was able to reproduce as well as per @longwuyuan comment, adding ingressClass to ingress resource - which is requirement for v1.0.0 resolves the issue with ingress object and able to curl the service successfully.

### Before adding ingressClass
[code]

Please note, the last line of the logs:
[code]

With above, ingress didn't get address (expected in v1.0.0)
[code]

### Post update ingress resour

[2021-09-16 16:10] danseo-reisys commented on #5496
this is my keycloak ingress with suggested workaround.

error is
The value of the 'Access-Control-Allow-Origin' header in the response must not be the wildcard '*' when the request's credentials mode is 'include'. The credentials mode of requests initiated by the XMLHttpRequest is controlled by the withCredentials attribute.

Any idea where the wildcard is getting set?

apiVersion: extensions/v1be

[2021-09-16 16:26] danseo-reisys commented on #1171
the add_header getting executed twice with the following somehow.  and getting 'Access-Control-Allow-Origin' header contains multiple value error.   any idea how to resolve this?

  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    #following adds wildcard
    #nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernete

[2021-09-16 19:05] longwuyuan commented on #7567
Yes, but let the user close it after confirming. If no response for too
long from user, then you can close it as stale issue.

Thanks,
; Long

On Thu, 16 Sep, 2021, 8:55 PM KuberDriver, ***@***.***> wrote:

[2021-09-16 20:12] ChipWolf commented on #7629
Not particularly, the version bumps of the chart should at least reference changes to the container.

[2021-09-16 20:53] #7617 closed

[2021-09-16 20:54] abertonica opened #7650 "dapr.io/enabled: "true" annotation not generating controller sidecar"
Attempting to use nginx ingress controller in a dapr enabled kubernetes cluster.

annotation file "values.yaml":

[code]

Helm command:
[code]

The dapr sidecar service is never created, rendering the ingress unusable as I cannot reference the backend service.

[2021-09-17 04:12] danielbecroft commented on #7626
@longwuyuan I can't seem to find a link to the manifest that you're suggesting I try. Can you try posting it again?

[2021-09-17 04:59] longwuyuan commented on #7626
Very sorry for not providing link. Here it is
https://kubernetes.github.io/ingress-nginx/deploy/#azure

Thanks,
; Long

On Fri, 17 Sep, 2021, 9:43 AM Daniel Becroft, ***@***.***>
wrote:

[2021-09-17 07:17] AristoStelar commented on #7612
I installed the ingress controller through helm and now my ingress cannot get an IP, while the service/ingress-nginx-controller external IP is stuck at pending.
The election error is gone though.
[code]
[code]
I dont seem to be getting any errors from the controller pod either.
[code]

[2021-09-17 09:14] cuttingedge1109 commented on #7645
@longwuyuan updated issue description

[2021-09-17 09:29] rvadim commented on #6896
Apply patches from MR to controller-v0.49.0 tag and nothing changed, still have errors on production workloads. Are there any patches in main to fix this in 0.49.0 version?

[2021-09-17 10:33] nehaLohia27 commented on #7622
/assign

[2021-09-17 11:22] ppanyukov opened #7652 "Multiple controllers in a single namespace: duplicate resource names"
**NGINX Ingress controller version**
[code]

- **How was the ingress-nginx-controller installed**:

Using Helm, multiple controllers, each in its own namespace.

[code]

ingress-public-external:

[code]

[code]

Used terraform to install helm charts, but broadly this is equivalent of `helm install -values file.yaml` with the above contents.

- **Config maps**:

[code]

[code]

**What happened**:

[2021-09-17 12:24] mdiianni commented on #636
Please reopen or share the link to the feature request.

[2021-09-17 12:26] mdiianni commented on #636
@lmserrano any chance you could share extra details, I tried exactly the same steps as you posted here yet couldn't manage to make it work. Have you came across a different approach recently? thanks for reading.

[2021-09-17 13:24] monester commented on #7572
It also breaks all ingresses on cluster if nginx-controller is restarted. I would expect nginx-controller to ignore whole ingress object so it would be obvious that configuration is incorrect. Right now configuration is not applied and it is not easy to determine if configuration isn't applied.

[2021-09-17 13:47] tschechniker commented on #6876
Same problem here. Any solutions?

[2021-09-17 13:54] laghoule commented on #6896
@longwuyuan I will try to have some time next week to test & provide core dump

[2021-09-17 13:55] rikatz commented on #6896
Thanks @laghoule

@rvadim we are going to release a new version containing the downgrade to 1.19 (and some other fixes) probably this weekend, and I count on you to test this for us!

Thanks!

[2021-09-17 14:51] dayongi opened #7653 "Build an ARM64 architecture ingress-nginx-controller image on the X86 platform"
Hello everyone, since I need to do secondary development of ingress-nginx-controller and need to run ingress-nginx-controller on the ARM64 platform, I need to build the ingress-nginx-controller image of the ARM64 architecture, because I currently do not have the ARM64 architecture I can only use docker buildx to build the image on the X86 machine, but when I am ready to execute make image, a probl

[2021-09-17 15:08] doujiang24 commented on #6896
@rvadim
Do you mean the segmentation fault errors?
If yes, do you have core files?
It will be very helpful if you could provide a core file as said in https://github.com/kubernetes/ingress-nginx/issues/6896#issuecomment-918845073.
Thanks!

[2021-09-17 15:22] #7063 closed

[2021-09-17 17:30] longwuyuan commented on #7612
Plz enable and configure metallb .

Thanks,
; Long

On Fri, 17 Sep, 2021, 12:47 PM Aristotel, ***@***.***> wrote:

[2021-09-17 23:26] lmserrano commented on #636
@mdiianni I've got it to work with the described steps. In fact it was after I managed to find a working solution that I then documented and organized it to make the post so that it could serve as future reference for myself and for everyone else experiencing the same issue. There are some thumbs ups so it leads me to believe it has been working for other people too.

If you have have followed the

[2021-09-18 03:39] salim-buet03 opened #7655 "Getting real client ip using ingress-nginx in kubernetes"
Hi,
I am developing a simple app with flask, where I want to grab client real ip address.
So I have added my flask-app docker image in kubernetes deployments. And After that added service using deployment.
Then enable  ingress and created ingress controller and applied that. Everything working fine, except I cant grab client real ip address.

**service.yaml**
[code]

**ingress.yaml**
[code]

Like

[2021-09-18 07:43] chendw commented on #7586
You can try like me

[code]

[2021-09-18 08:06] duanbaihong opened #7657 "Canary cannot work in different namespaces. It is only valid in the same namespace when ingress nginx"
## The ingress nginx controller is installed in the zmn base namespace, the application is installed in the zmn test naming installation, and the grayscale is enabled in zmn test, which has no effect. And modify the application prompt "admission webhook" validate. Nginx. Ingress. Kubernetes. IO "denied the request: host" test2-xno. XXXXXXX. Com "and path" / "is already defined in ingress zmn-test2

[2021-09-18 14:37] #7065 closed

[2021-09-18 23:17] tippl commented on #7587
Hello, i've had the same issue after upgrading. Searching for a solution, i've found [this](https://kubernetes.github.io/ingress-nginx/#what-is-an-ingressclass-and-why-is-it-important-for-users-of-ingress-nginx-controller-now) on the homepage.

Looks like ingress class is now required in every ingress object. That or setting the `.controller.watchIngressWithoutClass: true` HELM chart value. After

[2021-09-19 05:45] #7064 closed

[2021-09-19 06:39] tarun-asthana commented on #7655
Hey! Did you check the nginx-ingress logs if the IPs are coming ?

[2021-09-19 06:43] longwuyuan commented on #7655
Set trafficpolicy field to local

Thanks,
; Long

On Sun, 19 Sep, 2021, 12:10 PM tarun-asthana, ***@***.***>
wrote:

[2021-09-19 06:46] #7057 closed

[2021-09-19 07:08] Aritrika1234 opened #7664 "Issu"
A

[2021-09-19 07:12] #7664 closed

[2021-09-19 11:47] #7055 closed

[2021-09-19 15:55] longwuyuan commented on #7655
You have exposed the app monsey-dep using a service of type LoadBalancer. So you are not using the ingress-controller at all to access the app monsey-dep.

Most people create a service of type ClsuterIP for the their app like monsey-dep. And then then install a ingress controller in the cluster and go on to create a ngress object to expose that app.

If you use a ingress object, then please reopen

[2021-09-19 15:55] #7655 closed

[2021-09-19 16:43] longwuyuan commented on #7652
/remove-kind bug
/kind support

![image](https://user-images.githubusercontent.com/5085914/133935290-16785bf8-c4ea-4110-afdb-dff4300fcdf3.png)

As you can see in the screenshot that 2 pods seem to be running in the same namespace and each pod belongs to a different helm release. ;

% helm ls -A
NAME            NAMESPACE       REVISION        UPDATED                                 STATUS    CHART

[2021-09-19 17:47] #7054 closed

[2021-09-19 19:48] #7041 closed

[2021-09-19 19:48] #7042 closed

[2021-09-19 19:48] #7051 closed

[2021-09-19 19:48] #7033 closed

[2021-09-20 01:09] mirusky commented on #7260
/remove-lifecycle stale

[2021-09-20 01:19] agile6v commented on #6952
@sumitaneja @kys1230 Please see documentation [here](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#lua-shared-dicts). Thanks.

[2021-09-20 02:27] agile6v commented on #7234
Hi @tao12345666333 if I understand it correctly splitting configuration file can reduce the memory consumption. Because the current strategy is to render the whole configuration file, so if there are many ingress resources,  the configuration will be very large  and frequent changes can cause excessive consumption.  Thanks.

[2021-09-20 03:20] longwuyuan commented on #7652
/triage needs-information

[2021-09-20 03:44] longwuyuan commented on #7587
@ppedrozzi @addreas @fnkr @tippl the default certificate gets presented when the config for a matching rule does not have a valid tls configuration. This is expected and not a bug of any sort.

If you present very generic information, that does not contain specifics and details of the request sent, the ingress object with the matching rule and the k8s secret object etc etc.  the best answer is wha

[2021-09-20 03:52] longwuyuan commented on #7657
/remove-kind bug
/kind support
/triage needs-information

Hi,

The information you provided is very confusing and complicated.
Even understanding the problem description is difficult.

Most likely it seems you have an error message related to admission-webook, while using canary configuration.

It is better to close the issue and come talk at kubernetes.slack.com in hte ingress-nginx-users channel

[2021-09-20 03:53] #7035 closed

[2021-09-20 04:04] longwuyuan opened #7667 "docs example needed to install multiple instances of the controller v1.0.0 and above"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
version 1.0.0 and above

**Show an example of how to install multiple instances of the controller in the same cluster

[code]

[2021-09-20 04:05] longwuyuan commented on #7667
/remove-kind bug
/kind documentation
/area docs
/assign

[2021-09-20 04:54] #6997 closed

[2021-09-20 04:54] #7017 closed

[2021-09-20 05:55] #6911 closed

[2021-09-20 07:54] rvadim commented on #6896
Yes, `[alert] 28#28: worker process 107 exited on signal 11`

Unfortinally, no(

Will try today

Thank you.

[2021-09-20 07:57] #6989 closed

[2021-09-20 08:24] salim-buet03 commented on #7655
yes I tried that way also, but did not work :(

**service.yaml**
[code]

[2021-09-20 08:59] longwuyuan commented on #7589
/remove-kind bug
/kind support
/triage needs-infrmation

It seems that they use different values https://www.magalix.com/blog/memory_working_set-vs-memory_rssnginx_ingress_controller_nginx_process_resident_memory_bytes

I would rely on the prometheus one. What problem are you facing

[2021-09-20 08:59] longwuyuan commented on #7589
/triage needs-information

[2021-09-20 09:02] longwuyuan commented on #7655
Explain what you mean by "I tried that way also".

Show all related data.

Show the deployment, the service, the ingresscontroller and the ingress.
Show the ouput of `kubectl describe` for all of those objects. Add it to
the issue. Or even better come talk in the kubernetes slack as suggested
before.

Thanks,
; Long

On 9/20/21 1:54 PM, salim-buet03 wrote:

[2021-09-20 10:03] indreek commented on #7667
Why do you set "--set controller.ingressClass=ingress-class-2"? I don't find this value from values.yaml.

[2021-09-20 11:42] gabrielpagu commented on #7590
Hello,

I've tried also v1.0.0 and I could  reproduce .

[2021-09-20 11:54] longwuyuan commented on #7590
/assign

I will check and update you.

Thanks,
; Long

On Mon, 20 Sep, 2021, 5:12 PM gabrielpagu, ***@***.***> wrote:

[2021-09-20 12:00] nehaLohia27 commented on #7622
@jonathonbattista  I am trying to check this issue. will have some comments after some investigation .

[2021-09-20 12:11] ppanyukov commented on #7652
This is a real world scenario I'm facing @longwuyuan . The setup I have is:

* Internal ingress controller (with internal load balancer).
* External ingress controller (with external load balancer).
* External ingress uisng External ingress controller. This terminates TLS and routes all traffic to the Internal ingress controller service. We do this here only once for all routes.
* Multiple Interna

[2021-09-20 12:31] salim-buet03 commented on #7655
Hi, Great thanks for your fast reply.
Can u pls take a look ?

## deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: monsy-dep
  namespace: ingress-nginx
spec:
  selector:
    matchLabels:
      app: monsy-dep
  replicas: 3
  template:
    metadata:
      labels:
        app: monsy-dep
    spec:
      containers:
      - name: monsy-dep
        image: monsy-image-v1
        ima

[2021-09-20 12:42] salim-buet03 opened #7678 "Preserving Source IP in NGINX Ingress Controller"
Hi,

I am new to Kubernetes :) I am developing a simple flusk app, that stores client real IP address.
I have made docker image and deployed it in Kubernetes. Then created service. And then Installed kubernetes ingress-nginx.
Everything working fine, except I cant print client real IP address, it always returns pod. I have spent almost 5/6 days and tried all possible solutions from google.

## dep

[2021-09-20 12:58] #6886 closed

[2021-09-20 14:24] shahidhs-ibm commented on #6504
Tested the latest controller image with tag [v1.0.0](https://console.cloud.google.com/gcr/images/k8s-staging-ingress-nginx/global/controller@sha256:b97a0e45561a1ccabfb05b6db0324497e5ad0e0219231f27d693638ef8462c6f/details). This image has the changes in PR [#7355](https://github.com/kubernetes/ingress-nginx/pull/7355) included. I checked the image and it seems to be working fine on s390x architectu

[2021-09-20 14:55] iamNoah1 commented on #6504
Awesome :) closing this one

/close

[2021-09-20 14:56] #6504 closed

[2021-09-20 15:16] longwuyuan commented on #7667
/reopen

As pointed out here https://github.com/kubernetes/ingress-nginx/pull/7668#issuecomment-922884478, the multiple install is not working now with the command described in the related PR.

[2021-09-20 15:31] longwuyuan commented on #7667
@rblaine95 @indreek , yes, something is out of place.
I have reopened this issue to track the problem

[2021-09-20 15:37] calvinShan opened #7673 "ingress controller upstream timed out 504"
Hello,

I have this error 504 Gateway Time-out on AKS. Based on this article, we have configured ingress controller on aks. https://docs.microsoft.com/en-au/azure/aks/ingress-basic

It works very well, but we had some errors after some time :
[code]

The pod is running and no networkpolicies. And it worked for serveral weeks, but we have this error today

How Could we troubleshooting to understand

[2021-09-20 17:43] jonathanvila opened #7674 "After upgrading to v1.0.0 now my Ingress doesn't have "endpoint" , and it gives me 404"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
NGINX Ingress controller
  Release:       v1.0.0
  Build:         041eb167c7bfccb1d1653f194924b0c5fd885e10
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.20.1

**Kubernetes version** (use `kubectl version`): v1.22.1

**Environment**: local

- **Cloud provider

[2021-09-20 17:49] jonathanvila commented on #7674
Querying the system I see the endpoint exists (keycloak) but somehow is not linked to my ingress
19:46:13 ❯ k get ep
NAME                  ENDPOINTS         AGE
keycloak              172.17.0.6:8443   37m
keycloak-discovery    172.17.0.6:8080   37m
keycloak-postgresql   172.17.0.7:5432   37m

[2021-09-20 17:57] jonathanvila commented on #7674
In the controller logs appears this

W0920 17:11:09.379342       7 controller.go:1007] Service "jvilalop-rhsso/keycloak" does not have any active Endpoint.

[2021-09-20 18:09] mprimeaux opened #7675 "Enable Proxy Protocol V2 for Target Groups in AWS"
**Describe the bug**
I am attempting to create an NLB of target type 'instance' with proxy protocol v2 enabled but the proxy protocol v2 is still disabled on the target groups.

**Steps to reproduce**

Apply the following ingress controller values to an existing EKS cluster.

<details>
<summary>Values File</summary>
<p>

[code]

</p>
</details>

**Expected outcome**
I would expect to see the targe

[2021-09-20 18:16] jonathanvila commented on #7674
Deleted another ingress without host.
Deleted controller pod
log shows :
I0920 18:13:08.880293       7 store.go:361] "Ignoring ingress because of error while validating ingress class" ingress="jvilalop-rhsso/keycloak" error="ingress does not contain a valid IngressClass"

But the IngressClass nginx is default :
20:14:20 ❯ k get ingressclass nginx -o yaml
apiVersion: networking.k8s.io/v1
kind: Ingr

[2021-09-20 18:29] jonathanvila commented on #7674
Deleted all the app objects and created again.
Logs in the controller :
[code]
This is the yaml of my ingress
[code]

[2021-09-20 19:23] holleyism commented on #7675
I'm not sure if this problem is specific to proxy protocol.  I tried setting the target group attribute "stickiness.enabled" and it did not enable it in the target groups.

[2021-09-20 19:40] wknapik commented on #5576
/remove-lifecycle stale

[2021-09-21 02:30] rikatz commented on #7635
/close

Image downgraded and will be available next release

[2021-09-21 02:30] #7635 closed

[2021-09-21 03:54] longwuyuan commented on #7678
hi,
- Already suggested to you on slack to expose your deployment with a service type of ClsuerIP
- Ingress object seems ok
- Don't know the status of the controller so show `kubectl get svc -A -o wide | grep -i ingress`
- Don't  know what curl command you uses so please show that

/triage needs-information
/kind support

[2021-09-21 04:02] #7073 closed

[2021-09-21 07:57] pierluigilenoci commented on #4621
/remove-lifecycle stale

[2021-09-21 08:50] salim-buet03 commented on #7678
Thanks for your great support bro,  I really appreciate :)

**service.yaml (removed NodePort, and using ClusterIP)**
[code]
**ingress.yaml (added valid domain and removed redirect)**
[code]
**kubectl get svc -A -o wide | grep -i ingress**

[code]

[2021-09-21 09:16] longwuyuan commented on #7678
Test.monsy.com should resolve to my_public_ip.
Plz show info I asked.
Plz show kubectl describe ing - A.
Plz show kubectl describe svc for the LoadBalancer type service that has
publicip.

Thanks,
; Long

On Tue, 21 Sep, 2021, 2:20 PM salim-buet03, ***@***.***>
wrote:

[2021-09-21 09:30] salim-buet03 commented on #7678
**kubectl describe svc monsy-service**

[code]

**describe ingress monsy-ingress**
[code]

Bro, you can visit test.monsy.com, it always returns "ip":"10.42.1.27

[2021-09-21 10:38] longwuyuan commented on #7678
Plz show kubectl describe of the service of type LoadBalancer created by
the ingress controller that has the public IP address. That service needs
to be configured with trafficpolicy local

Thanks,
; Long

On Tue, 21 Sep, 2021, 3:00 PM salim-buet03, ***@***.***>
wrote:

[2021-09-21 10:47] salim-buet03 commented on #7678
**kubectl describe svc ingress-nginx-controller **
[code]

and mnfst
# Source: ingress-nginx/templates/controller-service.yaml
[code]

[2021-09-21 11:16] salim-buet03 commented on #7678
So many solutions from online, suggesting to change configmap
# Source: ingress-nginx/templates/controller-configmap.yaml
[code]

  [here asked to change with some property, I tried so many solutions, none worked]
Do you have any suggestion here?

[2021-09-21 13:34] LEDfan commented on #7546
Hi

We are also affected by this issue. I wanted to share our use-case, so that it's clear why this is useful. We are using nginx ingress as "main" ingress to the k8s cluster. Some applications need a more advanced ingress-controllar than what nginx offers and for this we use [Skipper](https://opensource.zalando.com/skipper/). In this case nginx forwards traffic to the Skipper service. Skipper mus

[2021-09-21 14:32] SiarheiBortnik commented on #7261
I have the same issue using v0.47.0 or v0.49 nginx ingress controllers versions, while configuring annotation:
nginx.ingress.kubernetes.io/auth-tls-secret: "namespace/my-secret"

Error: exit status 1
2021/09/21 13:46:32 [warn] 571#571: the "http2_max_field_size" directive is obsolete, use the "large_client_header_buffers" directive instead in /tmp/nginx-cfg1275000150:143
nginx: [warn] the "http2_m

[2021-09-21 17:56] dnutels commented on #7570
I wonder how this proposal connects to [Ingress parameters in spec](https://kubernetes.io/docs/concepts/services-networking/ingress/#namespace-scoped-parameters).

[2021-09-21 18:40] stevehipwell commented on #7570
@dnutels this request is based on the spec. You've linked to a concept doc, which is based the spec I linked in the initial issue.

[2021-09-21 20:40] abarqawi commented on #7557
Hi @mohammed-fuad  can you explain how it worked ? i mean we dont need to create the ingressClass manually right?
just use it in helm install and refer it in your ingress file?
helm --namespace staging install banking-api-stg ingress-nginx/ingress-nginx  \
**--set controller.ingressClass=staging** \

[2021-09-21 22:31] jontro commented on #6928
/remove-lifecycle stale

[2021-09-22 02:23] KayhanB21 commented on #6100
It seems that it changed to this
`--set controller.ingressClassResource.name=`
based on the https://github.com/kubernetes/ingress-nginx/blob/abab0396757dcd6f72018ee66611db18df838b17/charts/ingress-nginx/values.yaml#L99

[2021-09-22 07:58] iamNoah1 commented on #7510
/priority important-soon
/triage accepted

[2021-09-22 08:35] Constantin07 commented on #2003
/remove-lifecycle rotten

[2021-09-22 09:25] stl-victor-sudakov commented on #7678
I  think this is the appropriate issue to chime in.

I have a kops cluster in AWS. I've installed an ingress controller from the [official Helm chart](https://kubernetes.github.io/ingress-nginx/deploy/#using-helm). It has created a **classic** LB for me in AWS. What options should I pass to `helm install` so that the ingress controller should create a **network** or **application** LB for me (inst

[2021-09-22 09:26] hayorov commented on #7572
## One more example with  `nginx.ingress.kubernetes.io/configuration-snippet `

contexts like (wrong)
[code]

produces controller error:
[code]

configuration fragment (config):
[code]

as the result: no configuration updates, no controller pod crash.

could be quite problematic to detect the issue with nginx-ingress logs and pod fs access.

[2021-09-22 10:11] mohammed-fuad commented on #7557
Using **--set controller.ingressClass=staging** only not enough, `ingressClassResource.name` and `ingressClassResource.controllerValue` must be set

[code]

at your ingress definition you must define the ingressClass as:

[code]

[2021-09-22 10:16] victor-sudakov opened #7684 "The official Helm chart is different (fallen behind? abandoned?) from the official manifest."
Dear Colleagues,

I have noticed that the [Helm chart](https://kubernetes.github.io/ingress-nginx/deploy/#using-helm) and the [manifest](https://kubernetes.github.io/ingress-nginx/deploy/#network-load-balancer-nlb) from the official documentation are surprisingly different. For example, the Helm chart lacks annotations like "aws-load-balancer-type". Thus the manifest and the Helm chart produce sig

[2021-09-22 10:19] abarqawi commented on #7557
Thanks @mohammed-fuad  and no need to explicitly define ingressClassName yaml?

[2021-09-22 10:21] mohammed-fuad commented on #7557
No, that's the responsibility of helm chart.

[2021-09-22 10:45] kundan2707 commented on #7684
@victor-sudakov
can you share steps followed for your deployment?
Manifest that you are describing is deployment as network load banalcer and help chart is simple deployment.
It is already mentioned.
Can you explain your problem in detail?

[2021-09-22 10:50] kundan2707 commented on #7673
@calvinShan can you share outcome for
[code]

[2021-09-22 11:29] duxinxiao commented on #7589
My problem is that I just dont know why it so much higher than K8S use. I read the blog about container_memory_rss & container_memory_working_set_bytes, which one nginx_ingress_controller_nginx_process_resident_memory_bytes use? In my case, it seem it higher than both metrics
![image](https://user-images.githubusercontent.com/6724396/134335672-2270c865-12fd-48d9-a6f7-bd868420dcbd.png)

[2021-09-22 12:20] 80kk opened #7685 "spec.controller: Invalid value: "k8s.io/ingress-nginx": field is immutable"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 4.0.1
**Kubernetes version** (use `kubectl version`): v1.20.10

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 9
- **Kernel** (e.g. `uname -a`): 4.9.0-8-amd64
- **Install tools**: KOPS
- **Basic cluster related info**:

[2021-09-22 12:25] #7685 closed

[2021-09-22 14:13] MikolajMGT opened #7686 "ingress doesn't work on docker desktop kubernetes cluster after reset"
Hi there!

I'm using Docker Desktop kubernetes cluster for local development on Windows with WSL 2. I found interesting issue, but I'm not sure if it's ingress or docker desktop problem, anyway I want to share it here.
Let's take following scenario:
1. install Docker Desktop for Windows
2. in settings, enable Kubernetes
3. install Ingress Nginx through command:
`kubectl apply -f https://raw.github

[2021-09-22 15:04] 80kk opened #7688 "Default ELB ciphers"
This is the question not a bug.
By default after `https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.0/deploy/static/provider/aws/deploy-tls-termination.yaml` deployment ELB in AWS has Predefined Security Policy set to ELBSecurityPolicy-2016-08. How and where I should set this to use the latest TLS1.2 or TLS1.3 policy after deployment?

[2021-09-22 16:02] calvinShan commented on #7673
@kundan2707  hello, here is the logs
It worked , when I recreate the chart helm including ingress, we have this error
what is the error about pls
[code]

[2021-09-22 17:06] alex-vmw commented on #6245
Even with a much smaller amount of ingresses the issue still hits occasionally. We have clusters that have under 20 ingresses most of the time, but still occasionally hit the below error. @strongjz this really needs to be looked at and fixed asap.
[code]

[2021-09-22 17:23] ufcurmcginty commented on #6100
I can confirm that @KayhanB21 is right. Can't wait to hunt down the new name in a couple months

[2021-09-22 23:42] Nuxij commented on #3878
Why did this go stale? Is it a duplicate? I'd lovbe to deploy my 503 maintenance page once and fall back to it from all defined ingresses when no active service is available. Using `custom-http-errors: 503` on the controller doesn't hit the spot.

[2021-09-23 00:34] isavl commented on #7546
I also affected by this issue. One way to avoid error on ingress creating/updating is to disable validating hook and remove it from cluster.

[2021-09-23 03:16] rikatz commented on #6896
Hi folks. The latest releases (0.49.1 and 1.0.1) have been downgraded to nginx v1.19.9 and alpine was upgraded to 3.14.2

Can you please test it and provide us some feedback whether the problem persists?

Thank you so much!

[2021-09-23 04:45] kundan2707 commented on #7673
/assign

[2021-09-23 04:49] kundan2707 commented on #7673
@calvinShan

This means you have some networking issues between the nodes. Please check the pod where the ingress controller is running and the one where your app is.

[2021-09-23 04:49] kundan2707 commented on #7673
Which CNI are you using?

[2021-09-23 05:02] mig5 commented on #7083
If you don't enable this by default, you could at least advise in the documentation for certain annotations such as 'External authentication', that the use of `auth-snippet` is required to enable SSL verification to, say, the upstream oAuth app.

There are probably a lot of deployments out there right now that are delegating auth to an external provider using this annotation, and people may not re

[2021-09-23 09:13] kundan2707 commented on #7684
/assign

[2021-09-23 09:14] kundan2707 commented on #7686
/assign

[2021-09-23 09:15] kundan2707 commented on #7686
@MikolajMGT
was you able to install ingress-nginx in steps 5 same as step 3 without any difference ?

[2021-09-23 09:20] kundan2707 commented on #7686
@MikolajMGT
Please share outcome of
[code]

[2021-09-23 09:21] chirangaalwis commented on #7283
Remove lifecycle/stale. This is a valid requirement which needs addressing.

[2021-09-23 09:22] chirangaalwis commented on #7283
/remove-lifecycle stale

[2021-09-23 09:23] chirangaalwis commented on #7283
IMO this is a valid requirement which needs addressing.

[2021-09-23 10:18] kundan2707 commented on #7653
/assign

[2021-09-23 10:18] calvinShan commented on #7673
hello @kundan2707 yes the pod of ingress and the pod of app are in two different nodes. But they are all running.
The CNI is kubenet on aks. And there are no restriction between these two nodes.

[2021-09-23 10:19] kundan2707 commented on #7653
@dayongi
Install Go 1.14 or later. it is Prerequisites.

[2021-09-23 10:34] kundan2707 commented on #7572
/assign

[2021-09-23 10:41] victor-sudakov commented on #7684
For some reason I'm not seeing my yesterday's elaborate reply here. Did I forget to press "Comment" or what.

[2021-09-23 10:55] kundan2707 commented on #7684
I havnt seen any of your reply. Might be you missed to press Comment. You can type your reply again and submit

[2021-09-23 10:55] ytianxia6 opened #7691 "how to expose tcp with different server_name"
I have two services all need a ssh connect. I want access them all from 22 port and different from the server_name.
I use helm to intall ingress-nginx.

I use the link https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/exposing-tcp-udp-services.md to expose a 22 port by modify the values:
[code]
then I can access the gitlab by 22 port by all host.

but how can i add another serv

[2021-09-23 11:02] stl-victor-sudakov commented on #7684
I will when I get home. Hopefully it's still sitting there waiting for a button press.

[2021-09-23 12:02] xxSkyy opened #7693 "Networking problem, 502 error to other clusters/nodes"
Hello, I don't know if it's problem with ingress nginx but I've searched everywhere else, spent over 30 hours to find real issue and I still have same problem.
I've got 4 kubernetes vps, 2 control planes and 2 workers. Kubernetes works on calico pods, metallb and nginx ingress.
[code]

there are also 4 ingress pods for each node
[code]
networking are set fine as there 2 control planes ips are sent

[2021-09-23 13:26] johngirvin commented on #5983
We also need this ability.

[2021-09-23 13:35] victor-sudakov commented on #7684
Excuse me, **where** is it mentioned? The section on Helm https://kubernetes.github.io/ingress-nginx/deploy/#using-helm consists of exactly two very generic sentences.  Surely there are `helm show values` and the README inside the chart, but they lack a lot of important information. e.g. they don't mention that the manifest and the helm chart are essentially different setups (but why should they b

[2021-09-23 14:07] MikolajMGT commented on #7686
Yes, exactly the same way.

Sure, logs before reset (when works correctly)
[code]

Logs after installtion after reset (when doesn't work)

[code]

[2021-09-23 14:48] rvadim commented on #6896
Hi! Thank you for update.

Tested with `k8s.gcr.io/ingress-nginx/controller:v0.49.1@sha256:4080849490fd4f61416ad7bdba6fdd0ee58164f2e13df1128b407ce82d5f3986`
No luck. Same error, but crashes more rare. Once every 30 minutes instead of once every 10 minutes.

![screen1](https://user-images.githubusercontent.com/7434399/134529704-4d51a3ba-28d9-4244-be03-ba0f43f0c239.png)

[2021-09-23 15:14] rikatz commented on #6896
@rvadim do you mind posting the coredumps requested on previous comments, so openresty developers can take a look?

Thanks!!

[2021-09-23 17:23] PaulCharlton commented on #5723
/remove-lifecycle stale

I will try with latest versions.  There is some discussion on the modsecurity board about http2 related patch which may help

[2021-09-24 04:04] KuberDriver commented on #7653
@dayongi As mentioned above make sure appropriate Go version is installed..
Also, referring to prep steps in [ci.yaml](https://github.com/kubernetes/ingress-nginx/blob/main/.github/workflows/ci.yaml#:~:text=-%20name%3A%20Prepare%20Host,local/bin/kubectl), suggest prepare your local with same steps. (Note: CI refers to Go version: 1.17)

Then finally to build image (no need to change Makefile), run

[2021-09-24 04:15] KuberDriver commented on #7674
/assign

[2021-09-24 04:33] doujiang24 commented on #6896
Yeah, core files are welcome! Thanks!

[2021-09-24 05:43] KuberDriver commented on #7674
@jonathanvila

Hi, I would like to reproduce this issue, can you please help me with the steps to do so?
Also, if you can provide info and logs for below (with markdown format, in gist or any other provider)
output of
[code]

[2021-09-24 07:26] rvadim commented on #6896
Sorry, I can not. Data under NDA(

[2021-09-24 07:45] rvadim commented on #6896
Maybe this will help:
[code]

[2021-09-24 08:22] pierreilki opened #7694 "RBAC Error for Bare-Metal deployment YAML file."
**NGINX Ingress controller version: v1.0.1**
**Kubernetes version** : v1.21.1

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Centos 7
- **Kernel** (e.g. `uname -a`): Linux worker1 3.10.0-1160.42.2.el7.x86_64  SMP Tue Sep 7 14:49:57 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- **Install tools**: Manually, from the doc deployment installation fo

[2021-09-24 08:30] #7693 closed

[2021-09-24 08:58] iamNoah1 commented on #4026
/reopen

[2021-09-24 08:59] iamNoah1 commented on #4026
/kind feature
/triage accepted
/priority backlog

[2021-09-24 09:45] doujiang24 commented on #6896
@rvadim Thanks anyway.
1. I can sign NDA if you wish.
2. or, could you please try to reproduce segfault without production data? like in another test environment.
3. or, could you please describe your usage (more details the better), so that I can reproduce segfault if I am lucky.

[2021-09-24 10:34] ghouscht commented on #6896
I'm currently experimenting with v0.49.1 but until now there are no crashes (100m running). As soon as I get a crash with a dump I can send it to you @doujiang24 by e-mail but I'm not allowed to share it with the wide public.

[2021-09-24 14:02] juliohm1978 commented on #7586
@chendw
I'm not sure your example that helps. The workaround we found to avoid any unexpected behavior is to deal with the fact that regular expressions will be enabled in all locations if at least one of their Ingresses has `use-regex: true`. In that case, enable the feature in all Ingresses that use the same domain host and match all paths using regular expressions.

[2021-09-24 17:51] christhomas commented on #4296
I had this problem today and this fixed it for me, thanks!

[2021-09-24 19:42] #7074 closed

[2021-09-24 19:42] #6967 closed

[2021-09-24 19:42] #6981 closed

[2021-09-24 19:42] #6966 closed

[2021-09-24 20:14] containeers commented on #5342
Are we able to solve just some specific path only limit based on the method? As in snippet proxy_pass is not allowed

[2021-09-24 20:42] #6961 closed

[2021-09-24 20:42] #6964 closed

[2021-09-24 20:42] #6946 closed

[2021-09-24 20:42] #6947 closed

[2021-09-24 20:42] #6949 closed

[2021-09-24 22:38] derek-burdick commented on #6896
Same experience. Much less frequent, but more core dumps at once. Do you have any idea what type of traffic causes it? I have lots of different traffic flowing through it and could try and reproduce if there is any indication of type of file.

I have core dumps but cannot provide at this time. If you can provide details you need from the core dumps I can run them.

Thank you for your help running

[2021-09-24 23:08] micimize commented on #243
@bowei @nicksardo are there any docs for this API/implement IAP with `ingress-nginx`? Everything here is just discussion. Was this implemented or is it a won't fix?

[2021-09-24 23:15] bowei commented on #243
IAP is a GCP product, so I don't think it makes sense to expose this on NGINX. You probably want to file a feature request for the NGINX-specific equilvalent?

[2021-09-25 00:13] micimize commented on #243
@bowei I was just trying to ascertain what the resolution was here, as other issues discussing IAP support point to it https://github.com/kubernetes/ingress-nginx/issues/421#issuecomment-307542364.

I think I understand the history now – this discussion is about the GCE Ingress API, which was moved to a separate repo on Oct 11 2017. I was confused and thought it was about exposing the such an API

[2021-09-25 02:02] doujiang24 commented on #6896
Hi @derek-burdick
Please follow these steps, Thanks!

use gdb:

1. show the c land backtrace, by using `bt`, also `bt full` is helpful.
   like the backtrace in https://github.com/kubernetes/ingress-nginx/issues/6896#issue-813960604
2. select the frame that is running `lj_vm_ffi_call `, by using `frame N`, `N` means the frame number in the backtrace.
   `N` is 3 for the backtrace sample in https:/

[2021-09-25 06:47] #7048 closed

[2021-09-25 06:47] #7034 closed

[2021-09-25 08:44] iamNoah1 opened #7697 "Correct Nginx and Alpine version in legacy branch"
We are on Nginx version 1.19 and alpine 3.14 on main and legacy branch. Unfortunately the code of legacy branch does not reflect the correct version. In order to prevent confusion and also to be sure that for eventually future versions based on legacy branch the images have correct versions of nginx and alpine, we need to adjust the code of legacy branch.

Have a look at these commits on main:

ht

[2021-09-25 08:48] iamNoah1 commented on #7697
/remove-kind bug

[2021-09-25 08:49] #7072 closed

[2021-09-25 14:55] #5731 closed

[2021-09-25 14:55] #6861 closed

[2021-09-25 15:31] rittneje opened #7698 "Add option to strictly enforce SNI"
Currently ingress-nginx only partially enforces SNI. When a TLS connection is established, it uses the SNI from the ClientHello to determine which certificate to send back, as per the configuration of the earliest applicable Ingress resource.

However, it does not enforce that the SNI from the ClientHello match the Host header included in the actual HTTP requests, and it is the Host header that de

[2021-09-25 15:56] #6941 closed

[2021-09-25 18:03] lvauvillier commented on #7647
Hi, I have the same issue:

<img width="570" alt="Capture d’écran 2021-09-25 à 19 50 09" src="https://user-images.githubusercontent.com/134909/134781283-cb1935af-c636-40cf-958f-b955f187584b.png">

`nginx -s reload` temporary solves the issue.

Here is my infos:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

--------------------------------

[2021-09-25 20:53] derek-burdick commented on #6896
Core was generated by `nginx: master process /usr/local/nginx/sbin/nginx -c'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  a_crash () at ./arch/x86_64/atomic_arch.h:108
108	./arch/x86_64/atomic_arch.h: No such file or directory.
[Current thread is 1 (LWP 1209)]

(gdb) bt
#0  a_crash () at ./arch/x86_64/atomic_arch.h:108
#1  get_nominal_size (end=0x7f260a4e0d8c "", p=0x7f260a4de9

[2021-09-25 20:53] derek-burdick commented on #6896
(gdb) bt full
#0  a_crash () at ./arch/x86_64/atomic_arch.h:108
No locals.
#1  get_nominal_size (end=0x7f260a4e0d8c "", p=0x7f260a4de940 "\251J\016") at src/malloc/mallocng/meta.h:169
        reserved = 1100
        reserved = <optimized out>
#2  __libc_free (p=0x7f260a4de940) at src/malloc/mallocng/free.c:110
        g = 0x55e4601a85b8
        idx = 2
        stride = 9344
        start = 0x7f260

[2021-09-25 22:28] Aritrika1234 opened #7699 "H"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was clsuter created like kubeadm/kops/minikube/kind etc. `
-

[2021-09-25 23:04] longwuyuan commented on #7699
/close

[2021-09-25 23:04] #7699 closed

[2021-09-25 23:34] Aritrika1234 opened #7700 "Uv in"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was clsuter created like kubeadm/kops/minikube/kind etc. `
-

[2021-09-26 00:09] doujiang24 commented on #6896
@derek-burdick Thanks!

This shows it's crashing in the `resty.balancer` module: https://github.com/openresty/lua-resty-balancer/blob/master/chash.c#L146
I'll provide more steps soon.
[code]

[2021-09-26 00:56] tao12345666333 commented on #7700
/close

[2021-09-26 00:56] #7700 closed

[2021-09-26 01:23] doujiang24 commented on #6896
@derek-burdick Please follow these steps, thanks!

1. Get the arguments for the `chash_point_sort` function call.
[code]

2. Get the assert failure reason in `get_nominal_size`  function call, according to musl-libc: https://git.musl-libc.org/cgit/musl/tree/src/malloc/mallocng/meta.h#n159
[code]

3. Also, please check more other core files if they both crashed in the same way.
    It may be memory

[2021-09-26 01:54] doujiang24 commented on #6896
Oh, seems there is a bug in `chash_point_sort`, I will verify it soon. The information from the previous steps is still welcome.

[2021-09-26 04:15] doujiang24 commented on #6896
Ok, I think I figured out the bug, I will fix it and kick out a new lua-resty-balancer release soon.

In short, there is a memory corruption bug in `resty.balancer` but we do not hit it usually.
It happens due to the musl libc changed the malloc implementation in musl 1.2.1 (https://git.musl-libc.org/cgit/musl/commit/?h=v1.2.1&id=73cc775bee53300c7cf759f37580220b18ac13d3) which is first included in

[2021-09-26 04:48] rikatz commented on #6896
@doujiang24 I'm really glad and thankful for all your help and time on this issue!!

Btw do you think that for this and future cases moving do a glibc based distro would be better, as per openresty compability also?

Thanks once more!

[2021-09-26 05:02] doujiang24 commented on #6896
@rikatz
I think use musl-libc should be fine. OpenResty will keep compatibility with musl-libc as always.
It's a bug in `resty-balancer` and the new malloc implementation in musl-libc just make it easy to reproduce. It may happen in other malloc implementations in theory (just very very low probability).

[2021-09-26 10:59] jpetazzo opened #7701 "Getting started documentation doesn't say how to get started in the general case"
The current "getting started" page (https://kubernetes.github.io/ingress-nginx/deploy/, [/docs/deploy/index.md](https://github.com/kubernetes/ingress-nginx/blob/main/docs/deploy/index.md)) doesn't really say how to get started: it starts with a handful of warnings; then a `kubectl wait` command; then a bunch of provider-specific instructions. If my particular Kubernetes installation is not listed

[2021-09-26 11:00] #7077 closed

[2021-09-26 11:25] longwuyuan commented on #7701
If the detailed explaining here can reach a level where the reason and the goal is beyond doubt of a layman user, I am willing to commit some time (a little bit later as currently I am not ok).

At a generic level, yes ther eis shortage of people and time and docs need improvement in more ways than one. For example a simple sep by step process to install multiple instances of the controller v1.0.0

[2021-09-26 11:32] longwuyuan commented on #7701
/kind documentation
/area docs
/remove-kind bug

[2021-09-26 11:34] longwuyuan commented on #7701
And anything from you is welcome with tons and tons of gratitude

[2021-09-26 12:10] bravous commented on #7616
Hi, I added extra documentation to the description of this issue as requested.

[2021-09-26 12:45] bravous commented on #7616
Sample `ingress.yaml`:

[code]

Test redirect when this is deployed:

[code]

So request is directly redirected to HTTPS endpoint, this is not correct (or secure) as it should first upgrade the connection to **HTTPS**://redirect.develop.usmedia.nl

Adding a config snippet as a work around helps, example:

[code]

Testing the redirect:

[code]

and the the next step:

[code]

[2021-09-26 15:28] doujiang24 commented on #6896
@rikatz I had fixed the bug and tagged a new release v0.04: https://github.com/openresty/lua-resty-balancer/releases/tag/v0.04

I think it's good to push a new ingress-nginx image.

Glad this issue can be fixed. Also, please feel free to contact me if the issue is not fixed or any other bugs.
Thank you all!

[2021-09-26 15:31] tao12345666333 commented on #6896
Thank you. Let me upgrade it.

[2021-09-26 17:54] #4026 closed

[2021-09-26 19:50] bishtsaurabh5 commented on #7517
I think they are gonna soon release the v1alpha2 version , we can start implementing that

[2021-09-26 22:06] #7002 closed

[2021-09-27 03:27] rikatz commented on #6896
/reopen

[2021-09-27 03:38] rikatz commented on #6896
We have released v0.49.2 and v1.0.2 with the fix.

Can you all please test and give us some feedbacks?

Thank you so much, specially @doujiang24 and @tao12345666333 for the help!

[2021-09-27 05:23] longwuyuan commented on #7616
I could be wrong, but once you have used the annotation for permanen-redirect to https://www.sidn.nl/, you should not be expecting a upgrade to HTTPS://redirect.develop.usmedia.nl

[2021-09-27 06:19] Martin-Weiss opened #7710 "Can we change the default rollingUpdate: maxSurge: and maxUnavailable: from 25% to 34%"
In a cluster with 3 master and 3 workers we change the nginx-controller to run with 3 replicas on 3 workers (no schedule on masters). Now when we want to upgrade - the rolling upgrade will never happen due to the maxUnavailable: 25%.

Can we get the default in the helm chart deployment changed to 34% instead of 25%?

/kind feature

[2021-09-27 11:08] #6965 closed

[2021-09-27 13:25] luisdavim commented on #7016
/remove-lifecycle rotten

[2021-09-27 14:09] bravous commented on #7616
Well from a security perspective it is required to first upgrade the connection for two main reasons:

1. the user can only 'trust' the redirect of it comes form an secure connection
2. to allow HSTS on the redirect domain you need to perform an upgrade first

So form a security compliance stance it is required to first upgrade and then perform the redirect. This is also required by security sensi

[2021-09-27 14:32] longwuyuan commented on #7616
Hi,
Your comments make a lot of sense.
While we wait for someone to throw more light, I wanted to ask a hypothetical question. is your desired behaviour achievable with plain old upstream nginx in a non-kubernetes environment.

[2021-09-27 16:10] bravous commented on #7616
Yes absolutely. I added a snippet on how you can make it work in kubernetes with a `configuration-snippet` annotation:

[code]

CertBot (let's encrypt) creates the correct configuration in nginx when deployed for example. CertBot creates the following config in nginx:

[code]

[2021-09-27 16:14] bravous commented on #7616
I think issue #6340 is related in a way.

[2021-09-27 16:28] olfway commented on #6850
/remove-lifecycle stale

[2021-09-27 16:45] tao12345666333 commented on #6850
/assign

[2021-09-27 17:07] sepich commented on #6896
Thank you for prompt fix! I've tested `k8s.gcr.io/ingress-nginx/controller:v0.49.2@sha256:84e351228337bb7b09f0e90e6b6f5e2f8f4cf7d618c1ddc1e966f23902d273db` and unfortunately `worker process 71 exited on signal 11` continue to happen, but now twice slower.
Also, it does not seems to be lua related now:
[code]
This is without `libmimalloc.so`

[2021-09-27 17:13] rikatz commented on #6896
Hi @sepich , question:

Are you using TLS/SSL for mutual auth? Just for secure endpoint?

What's your load currently, and amount of ingress objects?

Thanks!

[2021-09-27 18:05] sepich commented on #6896
We do not verify client certs, so it is only TLS for server certs (provided by cert-manager).
It is just 215 Ingress objects / 80 rps, 3 ingress-nginx pods with 5% cpu load each.
I've re-checked with `LD_PRELOAD=/usr/local/lib/libmimalloc.so`, still dies and backtrace is the same:
`#1  0x00007fdca3720c2f in __libc_free (p=0x7fdca187c9e0) at src/malloc/mallocng/free.c:105`
Do you have any suggestio

[2021-09-27 18:45] vishu029 commented on #7557
@mohamma-faud, I tried to install 2 nginx controllers with the above steps and they do not work.
First ingress is fine and shows the load balance ip, but the second ingress never get the load balancer ip, it always shows pending

1st ingress:

helm install nginx-ingress ingress-nginx/ingress-nginx \
    --namespace ingress-basic \
    --set controller.replicaCount=1 \
    --set controller.ingressC

[2021-09-27 18:54] vishu029 commented on #7557
I was able to resolve it, actually i had to edit the tag in the public ip resources in the azure to fix it. Thanks

[2021-09-27 19:11] abarqawi commented on #7557
@vishu029 perfect !

[2021-09-27 19:16] bishtsaurabh5 commented on #7518
This seems to be interesting , Will start looking into this

[2021-09-27 19:16] bishtsaurabh5 commented on #7518
/assign

[2021-09-27 19:19] bishtsaurabh5 commented on #7518
@rikatz I would need some help as to where the mod security is being used , Plus since you have mentioned that mod_security needs to be mounted as init container . Do we have to do same for the opentracing ?

[2021-09-27 23:16] #7099 closed

[2021-09-28 01:31] longwuyuan commented on #7667
this works with controller v1.0.1 ;

$ kubectl create ns ingress-nginx-2
$ helm install ingress-nginx-2 ingress-nginx/ingress-nginx
--namespace ingress-nginx-2
--set controller.ingressClass=ingress-nginx-2
--set controller.ingressClassResource.name=ingress-nginx-2
--set controller.ingressClassResource.controllerValue="k8s.io/ingress-nginx-2"
--set controller.ingressClassResource.enabled=true
--set

[2021-09-28 02:47] doujiang24 commented on #6896
@sepich
It is likely to be another bug, maybe on the OpenSSL side.
Does it possible to send me a core file? This one seems harder to debug than the previous one. So, a core file will be very appreciated, Thanks!

Also, does anyone other who got segfault have tried the new release? Feedbacks welcome, Thanks!

[2021-09-28 03:30] tao12345666333 commented on #7122
https://github.com/kubernetes/ingress-nginx/pull/7360 has been updated the README.

I will close this one. Feel free to reopen this if you need any help.

/close
/remove-kind bug

[2021-09-28 03:30] #7122 closed

[2021-09-28 06:40] ghouscht commented on #6896
Running 4 replicas of v0.49.2 since 24h so far without a crash! There is also one replica of an old v0.44.0 image running in the same cluster since 24h which so far also had no crash. The strange thing is that back in April we had like a dozen of crashes per day with v0.44.X and v0.45.X and currently it seems to be not reproducible.

The Cluster is quite large with ~1400 ingress objects and around

[2021-09-28 08:13] iuli72an commented on #5932
Same on me here!

![image](https://user-images.githubusercontent.com/88328098/135049414-34e671b3-e328-4f10-aff1-c502b25f84a8.png)

[2021-09-28 09:39] ayamGelo commented on #5161
Heyyo, I come with good news maybe
Is this still in TODO? `Create Migration Documentation for users moving from stable/nginx-ingress`

I just want to inform, `nginx-ingress` with nodeport will break the upgrade of new `ingress-nginx`
Because it detect there's `services kind` changes and existing nodeport already used,
I have tried to rename `nameOverride` in helm values to `nginx-ingress` but it d

[2021-09-28 09:44] HaveFun83 commented on #1885
We also have to use this annotation on the kubermatic nginx-ingress-controller
[code]

[2021-09-28 11:26] rblaine95 commented on #7667
Yes, it does work.

So does `--set foo.bar.nonexistant=gobblediegook`

Unless I'm mistaken, the config field for `controller.ingressClass` was removed from the Helm Chart in `4.0.0`
Which means that passing that config flag does nothing.

[2021-09-28 11:43] longwuyuan commented on #7667
I have a pr waiting for lgtm to remove that

Thanks,
; Long

On Tue, 28 Sep, 2021, 4:56 PM Robert Blaine, ***@***.***>
wrote:

[2021-09-28 12:20] bishtsaurabh5 commented on #7517
@rikatz I have initiated a thread on gateway api slack about how different resources could be mapped to the existing ingress nginx resources https://kubernetes.slack.com/archives/CR0H13KGA/p1632688608134500

[2021-09-28 13:24] longwuyuan commented on #7710
@Martin-Weiss , lets wight for other opinions. My thought here is that the value will differ based on the number of replicas and the number of replicas is not a constant for all users. Hence what 34% would match your case of 3 replicas but its not certain to match  the use case of all users who may have more or less than 3 replicas. So I think we need a more reasonable base to make the change. Als

[2021-09-28 13:30] doujiang24 commented on #6896
I also think it's reasonable. Thanks for your feedback!

[2021-09-28 14:59] Martin-Weiss commented on #7710
I thought that the most common minimum setup might have 3 replicas on 3 workers.. in case of less replicas or more workers I do not see a challenge.. so that is why I assume 34% would be a better "default" ;-).

[2021-09-28 16:08] #7667 closed

[2021-09-29 01:20] bob-bins commented on #7569
If someone is searching for how to have multiple ingress-nginx controllers with custom names, I was able to do this by following these directions (they must be in different namespaces as the directions mention. it didn't work for me when I had them in the same namespace): https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-sam

[2021-09-29 02:14] doujiang24 commented on #6896
Hi @sepich , I need some help from you, thanks!

1. There are some key informations missing in the backtrace, I guess may be the debug symbol for openssl is not working properly.

[code]

Could you please confirm the openssl-dbg package is installed and is loaded properly by gdb?
Please check if there was some kind of these messages. It means gdb haven't load openssl debug symbol properly when the

[2021-09-29 06:02] kundan2707 commented on #7673
@calvinShan I am asking to check networking beween two nodes. can you check mannualy if both node can comunicated each other withougt any issue?

[2021-09-29 06:08] kundan2707 commented on #5932
@iuli72an  can you share kubernetes and all related versions in your case ?

[2021-09-29 06:15] kundan2707 commented on #6851
/remove-lifecycle stale

[2021-09-29 06:17] kundan2707 commented on #6919
/remove-lifecycle stale

[2021-09-29 06:19] kundan2707 commented on #7129
/remove-lifecycle rotten

[2021-09-29 08:22] sepich commented on #6896
Sorry for delay, I was discussing sharing the coredump internally and unfortunately I not allowed to. We can arrange a call with interactive gdb session if you wish.
Thank you for detailed instructions, here is full output:
[code]
Another thing i've tried is to build debian with `nginx v1.20.1` from https://github.com/kubernetes/ingress-nginx/pull/7593 with `lua-resty-balancer v0.04` and `controll

[2021-09-29 08:30] AramshamFedaykin opened #7723 "v1.0.2 : luarocks : make: Operation not permitted"
NGINX Ingress controller version: 1.0.2

Kubernetes version: 1.19.10

**What happened**:

Previously on v1.0.0 my dockerfile was still working :
[code]

Now with the latest v1.0.2, I get this error when trying to docker build :
[code]

**How to reproduce it**:

Just launch docker build from my dockerfile (without the COPY)

**Anything else we need to know**:

Not sure it's a bug, but I didn't see

[2021-09-29 08:57] gtrubach opened #7724 "Ingress nginx preserves rewrite rules from oldest ingress for catch-all configuration (default backend)"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.0.2

**Kubernetes version** (use `kubectl version`): 1.21.2

**Environment**:

- **Cloud provider or hardware configuration**: AKS

- **How was the ingress-nginx-controller installed**:
  - Via Helm with defaultbackend option enabled and custom image. Note, our custom image has css and image as

[2021-09-29 09:16] longwuyuan commented on #7724
Te information provided is not enough to reproduce the problem you have described.
I tried to create a controller like this ;
[code]

I have multiple controllers and I created a ingress resource that looks like this ;
[code]
This uses the ingressClass configured for this second controller.

Beyond this I am unsure what request I should send and so on.

If you can write down a step-by-step procedur

[2021-09-29 09:35] longwuyuan commented on #7694
Hi, I could not reproduce the problem ;

![image](https://user-images.githubusercontent.com/5085914/135242703-ee4eee5c-2c66-4c6d-b854-3fd59cf2a267.png)

I tried this command to install ;

% k -n ingress-nginx apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.2/deploy/static/provider/baremetal/deploy.yaml

/remove-kind bug
/triage needs-information

[2021-09-29 10:00] longwuyuan commented on #7688
/remove-kind bug
This table shows the default policy is for TLS1.1 & TLS1.2.
Have you talked to aws support about this.
ELB policy is something that is out of the scope of the ingress-NGINX project obviously, so wondering how we can be of help.

/triage needs-information

[2021-09-29 10:02] gtrubach commented on #7724
@longwuyuan - Try this step-by-step procedure. I was running it on my local k3s cluster, but you can use any cluster you have.

Note: You should not have any ingresses with rewrite-path annotations in the cluster. If possible, remove all ingresses from your cluster. (Or ensure, that ingress-nginx deployed in step 1 watches only ingresses with nginx-2 class).

1. Install ingress-nginx with Helm
[co

[2021-09-29 10:02] longwuyuan commented on #7686
/remove-kind bug
/triage needs-information
Please provide information as per the issue template on the current status of the controller

[2021-09-29 10:04] longwuyuan commented on #7674
/remove-kind bug
/triage needs-information

[2021-09-29 10:08] ghouscht commented on #6896
A bit more than 48h into testing v0.49.2 (4 replicas), no SIGSEGV so far. In the same time 361 SIGSEGV on v0.44.0 (1 replica), so at least for me the issue seems to be gone and the fix in the lua-resty-balancer module helped. I took a look at nearly two dozens of coredumps and all crashed in lua code, not a single one in SSL related code, so I think I can't help any further at the moment.

[2021-09-29 10:13] longwuyuan commented on #7673
/remove-kind bug
/triage needs-information

[2021-09-29 10:26] pierreilki commented on #7694
@longwuyuan
I tried with nginx-controller v1.0.1. Maybe it has been solved on v1.0.2 ?

[2021-09-29 10:31] longwuyuan commented on #7694
hi,
i am not aware of a rbac related pr or other form of change. So it is likely the problem was circumstantial. If I can reproduce the problem we may know more, but we have since released v1.0.2 and I could not reproduce the problem there, I think the next step is for you to attempt to reproduce the problem on your cluster and update. Based on the result on your end, we can get an idea on what to

[2021-09-29 10:48] 80kk commented on #7688
The answer I was looking for was:
`service.beta.kubernetes.io/aws-load-balancer-ssl-negotiation-policy: ELBSecurityPolicy-FS-1-2-2019-08`

[2021-09-29 10:48] #7688 closed

[2021-09-29 10:57] pierreilki commented on #7694
Ok.
Do you know if nginx-controller needs to **update** configMap "ingress-controller-leader" ? Because in my logs, Nginx-controller tried to update this configMap, but i don't see this update in your logs for v1.0.2

[2021-09-29 11:55] longwuyuan commented on #7694
I can see that the deployment.yaml does not have this configmap but there is a flag that is passed to the controller executable in the pod's spec as args, that related to the election-id ;
[code]

I think that when there is a election, then the configMap gets updated but on a single replica, I see the configMap created on my install but without any data ;
[code]

So I think, the answer is no, no a

[2021-09-29 12:29] kundan2707 commented on #7196
/remove-lifecycle rotten

[2021-09-29 12:30] kundan2707 commented on #7196
/assign

[2021-09-29 13:07] longwuyuan commented on #7724
Hi,

Thank you very much for the detailed steps.

Either due to cache or due to some other reason, my browser renders the
css and I CAN see the pictures and style. I even opened a new
private-window of my browser and I am still able to see the picture and
the style. I could show this on a quick zoom session if you like.

Thanks,
; Long

On 9/29/21 3:32 PM, Gennady Trubach wrote:

[2021-09-29 13:13] gtrubach commented on #7724
Zoom call sounds like a good idea. Can you share when it will be okay for you to do it? I’m in GMT+3 zone, so usually I can do it from 8 AM till 5 PM my time.

From: Long Wu ***@***.***>
Sent: Wednesday, September 29, 2021 4:07 PM
To: ***@***.***>
Cc: Gennady ***@***.***>; ***@***.***>
Subject: Re: [kubernetes/ingress-nginx] Ingress nginx preserves rewrite rules from oldest ingress for catch-all c

[2021-09-29 13:15] longwuyuan commented on #7724
I can show you now if you want.

Can you come talk on kubernetes.slack.com in the ingress-nginx-users
channel as well.

Thanks,
; Long

On 9/29/21 6:43 PM, Gennady Trubach wrote:

[2021-09-29 13:53] pierreilki commented on #7694
OK. Thanks for your answer @longwuyuan  ! :)
I will try to reproduce the error. But if Nginx-Controller really needs to **update** this configMap in case of leader election, I think it needs a RABC for **update** this CM.

[2021-09-29 13:53] gtrubach commented on #7724
Can we do it in the next 10 minutes? Or maybe let’s do it tomorrow.

I also can register on slack, but if you can arrange it in Zoom it will be better.

From: Long Wu ***@***.***>
Sent: Wednesday, September 29, 2021 4:15 PM
To: ***@***.***>
Cc: Gennady ***@***.***>; ***@***.***>
Subject: Re: [kubernetes/ingress-nginx] Ingress nginx preserves rewrite rules from oldest ingress for catch-all configur

[2021-09-29 13:56] longwuyuan commented on #7724
@gtrubach I will show it on zoom. I suggested slack so we can sync in real-time. And there are many many developers and engineers on slack who can also view the conversations and comment if they feel like it.
Yes, we can do now.  https://us05web.zoom.us/j/81538349232?pwd=Mmpla1hYaXBuMlZlRnQxSGRaVlBRQT09

[2021-09-29 14:05] doujiang24 commented on #6896
Hi @ghouscht , thanks very much. The `resty.balancer` related bug should be fixed then.

[2021-09-29 14:39] lambchr commented on #6937
/remove-lifecycle stale

[2021-09-29 14:43] doujiang24 commented on #6896
Hi @sepich , thanks for your help.

Oh, no, seems I got wrong somewhere. I will take a deeper look.

Oh, that's bad news, but I also understand it.

Sure, that will be more helpful.
Also, I have to clarify first that I'm not an expert of OpenSSL, just a bit familiar with it, I'm not sure that I can figure it out finally.
My current plan is to get more information firstly, we may still need to repo

[2021-09-29 14:48] longwuyuan commented on #7724
/triage accepted
/kind bug

[2021-09-29 14:49] longwuyuan commented on #7724
Me and @gtrubach looked at this over a zoom session.
Basically using a rewrite-target annotation is causing a rewrite directive in nginx.conf that should not be there

[2021-09-29 15:17] longwuyuan commented on #7694
Agreed. Problem is I am unable to trace this change in behaviour.

Thanks,
; Long

On Wed, 29 Sep, 2021, 7:23 PM pierre villard, ***@***.***>
wrote:

[2021-09-29 15:55] rubenvp8510 opened #7725 "Kind deployment manifest watch ingresses without class not working"
In order to don't break the Ingress objects that doesn't have `IngressClass` field a flag was introduced in the manifest deployment for kind here: https://github.com/kubernetes/ingress-nginx/pull/7581

I think there was a regression when the release happens as the flag was removed in this PR: https://github.com/kubernetes/ingress-nginx/pull/7709

https://github.com/kubernetes/ingress-nginx/pull/77

[2021-09-29 17:20] winromulus commented on #7652
I subscribe to what @ppanyukov said
This used to work fine in previous versions. The new behavior introduced a limitation that is not justified.
I'm managing multiple clusters with this setup (as expressed by @ppanyukov): one controller for public access and one for private access. They're deployed in the same namespace because they share namespaced resources like secrets and the like.

The above

[2021-09-29 18:19] longwuyuan commented on #7652
I installed 2 instance of the ingress-nginx controller in the same namespace, just now, and both seem to be working ;

![image](https://user-images.githubusercontent.com/5085914/135325444-02d8a4e7-efa8-4ec8-a47d-6ce67a11b7e7.png)

Its important to note that the version of the controller is 0.49.2 and the version of K8s is 1.21.1 .
The version of the chart for this is v3.38.0 .

For the ingress-NGI

[2021-09-29 18:45] scbunn-avalara commented on #2924
I'm trying to understand what is including in latency metrics.

For `nginx_ingress_controller_request_duration_seconds_bucket`  and `nginx_ingress_controller_response_duration_seconds_bucket` do these include round trip time?

I found this in the nginx docs
[code]

That metric doesn't exist but `nginx_ingress_controller_ingress_upstream_latency_seconds` does.  Does this hold true for this metric a

[2021-09-29 18:50] winromulus commented on #7652
They both start but only the leader actually works due to leader election.
My clusters are now on 1.22.2 with the controller 1.0.2.
What's happening is that one of the deployments gets leader (the public or the private ingress controller) and the other does not handle ingress definitions. Took me 3 hours to figure out why until I spotted the leader election log message (all the pod names kinda loo

[2021-09-29 20:21] bstrdsmkr commented on #6495
This is still a problem...

[2021-09-29 21:18] rikatz commented on #7725
@longwuyuan my bad, can you solve this?

Thanks!

[2021-09-29 21:22] rikatz commented on #7047
/kind bug

[2021-09-29 21:29] rikatz commented on #7047
OK, thank you all for the great context before. I can confirm this is an issue, and as pointed by someone here because of this specific part of code:

[code]

In this case, we should always look into the replicaSet Pods, and not the labels.

Also, IMO this logic have a flaw as it returns the len of Pods, but Pods can be pending, for example. We probably want just ready Pods.

I will think here on

[2021-09-29 22:10] #7725 closed

[2021-09-30 00:16] longwuyuan commented on #7724
/remove-triage needs-information

[2021-09-30 01:22] rikatz commented on #7047
Hi folks, PTAL on the PR https://github.com/kubernetes/ingress-nginx/pull/7727 just to check if this makes sense to you.

Overall, I'm using almost the same logic, but dropping the pod-template-hash label from the selector, which is the only auto generated one.

Thanks

[2021-09-30 03:06] rikatz commented on #7710
I'm just against changing some already "working" config, as this can turn into breaking change for other deployments :)

[2021-09-30 03:09] rikatz commented on #7684
so, the helm chart IS supported, but it's hard to keep a pace between maintaining all the features in Ingress core vs helm.

That said, PRs to improve helm are more than welcome! I have my "bad" part of not doing so much updates I should on Helm, as my (Ricardo's)focus is on the bug fixes and Go part, but other maintainers are always looking into improving the Helm Chart :)

If you miss something,

[2021-09-30 03:11] rikatz commented on #7647
/priority critical-urgent
I will look with other possible "leak" that is happening.

I have received the suggestion to test using boringSSL instead of OpenSSL when building the image (for FIPS compliance, etc) maybe we can try that as well

[2021-09-30 03:12] rikatz commented on #6896
@doujiang24 some related pertinent issue maybe:
https://github.com/kubernetes/ingress-nginx/issues/7647

[2021-09-30 03:13] rikatz commented on #6896
And https://github.com/kubernetes/ingress-nginx/issues/7080

[2021-09-30 04:03] longwuyuan commented on #7652
namespace scoping for controller version 1.x.x is in the roadmap but not available today

[2021-09-30 04:10] #7047 closed

[2021-09-30 06:07] stl-victor-sudakov commented on #7684
What's the scope of the Helm chart? Is it supposed to cover all the Cloud Providers, or does it just contain common things? You provide different manifests for different cloud providers for a reason, I suppose. What's the Chart's position in this situation? Writing a universal Chart (to run on any cloud provider) seems to be a gargantuan task, does it not?

[2021-09-30 07:58] antoniosthanasisgit commented on #5401
Hi,
I had the same problem when I was starting minikube in my local windows machine with default driver (docker).

Try
minikube start --driver=hyperv

[2021-09-30 10:12] kundan2707 commented on #7653
@dayongi Are you able to build image now ?

[2021-09-30 10:47] sepich commented on #7080
We have the same issue in coredump: https://github.com/kubernetes/ingress-nginx/issues/6896#issuecomment-929951627
even with newer nginx and debian image.

We also use cert-manager, but have no any errors or unvalidated certs. There are no errors both in cert-manager logs and ingress-nginx, but worker still dies with `worker process 931 exited on signal 11`.
Another thing i've notices is that `ngi

[2021-09-30 12:28] rikatz commented on #7080
Hey @sepich  thanks. I will start digging now into openssl problems, as we could remove the openresty bug.

Are you using NGINX v1.0.2?

Can you provide me some further information about the size of your environment, amount of Ingresses, amount of different SSL certificates?

Thanks

[2021-09-30 13:00] Jell commented on #7047
That's great, thanks a lot @rikatz! The fix looks more or less what I would have expected based on our previous findings :+1:

Looking forward to the 1.0.3 release!

[2021-09-30 13:12] sepich commented on #7080
No we are still on k8s 1.19 and so ingress-nginx v0.49.2

From https://github.com/kubernetes/ingress-nginx/issues/6896#issuecomment-928138962

99% of ingresses are SSL, so I would say it is 215 certs also. This number is pretty stable, not like ingresses are created and deleted each 5 min. More like once per week.

[2021-09-30 13:15] rikatz commented on #7080
Ok, thanks! Will check ASAP :)

[2021-09-30 17:07] ArrowRaider commented on #6100
Nope, setting controller.ingressClassResource.name has absolutely no effect whatsoever.

[2021-09-30 17:19] ArrowRaider commented on #7557
Where is this documented?  The helm output says to put in annotations: kubernetes.io/ingress.class: nginx-2

[2021-09-30 17:34] mohammed-fuad commented on #7557
[Deprecating the Ingress Class Annotation](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#deprecating-the-ingress-class-annotation) [Setting a Default IngressClass](https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#setting-a-default-ingressclass)

[2021-09-30 17:45] mohammed-fuad commented on #7557
@ArrowRaider Same thing to me I used to look for helm result, after updating the chart to the last version, I countered a problem when multiple ingress controllers ran in the same cluster with different namespaces, I have to use `spec.ingressClassName`

[2021-09-30 18:45] lvauvillier commented on #7647
I have the same memory leak issue with latest version:

[code]

<img width="1047" alt="Capture d’écran 2021-09-30 à 20 42 18" src="https://user-images.githubusercontent.com/134909/135512683-0f5ef293-4c6d-420d-9e02-d3e9cf7a0ed0.png">

<img width="862" alt="Capture d’écran 2021-09-30 à 20 44 31" src="https://user-images.githubusercontent.com/134909/135512910-801b489c-b063-42e0-8e2a-f7f68f7c2420.

[2021-09-30 21:03] rikatz commented on #7251
/remove-lifecycle stale
/lifecycle active
/priority important-longterm

[2021-09-30 21:08] rikatz commented on #6896
OK, @doujiang24 @sepich can we move the OpenSSL issue to another issue (like 7647) and keep there? This way we can say that the specific issue of this case is solved, and now start digging more into OpenSSL

Thanks!

[2021-09-30 21:33] rikatz commented on #7080
I'm wondering if this patch (https://github.com/openresty/openresty/blob/master/patches/openssl-1.1.1f-sess_set_get_cb_yield.patch) which is applied by Openresty shouldn't be applied in OpenSSL as well.

[2021-10-01 00:50] dayongi commented on #7653
yes

Kundan Kumar ***@***.***> 于2021年9月30日周四 下午6:12写道：

--
*电话: 18336032131*
***@***.*** ***@***.***>*
*地址: 上海*

[2021-10-01 00:55] dayongi commented on #7653
It has nothing to do with the GO environment. I chose to skip the above
error and compile it step by step from the bottom.

田晓勇 ***@***.***> 于2021年10月1日周五 上午8:49写道：

--
*电话: 18336032131*
***@***.*** ***@***.***>*
*地址: 上海*

[2021-10-01 00:57] rikatz commented on #7080
@sepich in case I generate an image of 0.49.3 (to be released) with Openresty OpenSSL patch applied, are you able to test and provide some feedback on that?

[2021-10-01 00:58] rikatz commented on #7647
Folks,

 in case I generate an image of 0.49.3 (to be released) with Openresty OpenSSL patch applied, are you able to test and provide some feedback on that?

[2021-10-01 00:59] dayongi commented on #7653
I still can't find the problems above and below, I can only install the dependencies in the Dockerfile online step by step from the bottom, and then comment out the steps to install and update the software in the Dockerfile.
[code]

[2021-10-01 01:46] doujiang24 commented on #6896
Hi @rikatz , totally agreed.

[2021-10-01 01:53] longwuyuan commented on #7557
https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster

Thanks,
; Long

On Thu, 30 Sep, 2021, 11:15 PM mohammed-fuad, ***@***.***>
wrote:

[2021-10-01 06:47] kundan2707 commented on #7159
/remove-lifecycle stale

[2021-10-01 07:50] sepich commented on #6896
Sure, lets keep each issue to the point. But I believe https://github.com/kubernetes/ingress-nginx/issues/7080 is more suitable for our case, as we do not have 4x memory increase for worker process (as in https://github.com/kubernetes/ingress-nginx/issues/7647)

[2021-10-01 09:13] nauco commented on #6506
I had a similar problem, and I solved it.
In my case, such an event had nothing to do with it (I also saw message "Scheduled for sync").
I just kept modifying my code and test curl commands in local over and over.
The problem was that the **loadbalancer was in a private-subnet** (I was developing with aws).

If you develop in cloud, turn your eyes to the infrastructure.
Test in different environme

[2021-10-01 10:21] sameeraksc commented on #7259
guys any update on this? we also have the same issue.

[2021-10-01 10:41] doujiang24 commented on #7080
Hi @sepich , I have sent you an email to arrange a call with an interactive gdb session as said here.
https://github.com/kubernetes/ingress-nginx/issues/6896#issuecomment-929951627

Thanks very much!

[2021-10-01 12:05] kundan2707 commented on #7653
@dayongi  you can follow steps mention by @KuberDriver  and he found no error in that

[2021-10-01 12:07] kundan2707 commented on #7686
@MikolajMGT  update issue with defined issue templet.
It will make most of the required information availavle beforehand

[2021-10-01 12:56] sepich commented on #7080
@rikatz, great finding!
This patch originally was created as two parts for both nginx and openssl: https://github.com/openresty/openresty/commit/97901f335709e8f3b2dec1c368bba20f3894fccc

https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/ssl/session.md#description

I've checked that no `ngx.ssl.session`, `ssl_session_fetch_by_lua*` and `ssl_session_store_by_lua*` is being used in ingr

[2021-10-01 13:17] rikatz commented on #7080
Yeap, I can.

Actually I already have a base image with the right patches, and proper
linking:

ldd /sbin/nginx |grep ssl
libssl.so.1.1 => /usr/local/openresty/openssl111/lib/libssl.so.1.1
(0x7f7be72b7000)
libcrypto.so.1.1 => /usr/local/openresty/openssl111/lib/libcrypto.so.1.1
(0x7f7be6fc1000)

I have published this base image in rpkatz/nginx:patchedopenresty so you
can build your own controller

[2021-10-01 13:35] rikatz commented on #7080
/remove-lifecycle stale

[2021-10-01 13:36] rikatz commented on #6896
/close

This one has been solved, thank you very much @doujiang24

I'm moving the discussion about ssl endless coredumps to #7080

[2021-10-01 13:36] #6896 closed

[2021-10-01 14:17] sepich commented on #7080
Thank you, unfortunately it still fails (v0.49.2 on top of it):
[code]
Is it now possible to load openssl debug symbols somehow?

[2021-10-01 14:22] varkey commented on #6458
/remove-lifecycle stale

[2021-10-01 14:27] doujiang24 commented on #7080
@sepich The debug symbol package for openresty-openssl111 is `openresty-openssl111-dbg`.
You can try to install it by `apk add openresty-openssl111-dbg`.

[2021-10-01 14:44] sepich commented on #7080
Thanks, it is:
[code]
seems to be working:
[code]

[2021-10-01 14:48] doujiang24 commented on #7080
@sepich Great, the `timeout_cb` is the first key function we want to verify first.

[2021-10-01 17:36] jrushank commented on #7697
/assign

[2021-10-01 17:41] jrushank commented on #7697
/assign

[2021-10-01 19:01] tao12345666333 commented on #7697
/good-first-issue

[2021-10-01 22:02] #6926 closed

[2021-10-02 01:04] karezza commented on #6506
1.22.* be sure you have:

[code]

[2021-10-02 04:25] longwuyuan commented on #7710
There is consensus currently that there is no compelling reason to make this change. So will close for now. If a compelling reason comes up to make this change, please feel free to reopen the issue.

/close

[2021-10-02 04:25] #7710 closed

[2021-10-02 04:28] longwuyuan commented on #7723
Am not 100% sure of the relevance and the context but it seems like you are trying to build the controller on your environment. Please post the exact complete precise Dockerfile you used and the complete log along with environment related information as to host os/release etc and Docker version etc.

/remove-kind bug
/kind support
/triage needs-information

[2021-10-02 04:33] longwuyuan commented on #7698
@theunrealgeek , you may find this informative

[2021-10-02 04:58] longwuyuan commented on #7691
/remove-kind feature
/kind support
Please talk in kubernetes.slack.com in the channel ingress-nginx-users. Its better to use issues for bugs and enhancements.

Your question can be a little more clear and filled with details. The word service in Kubernetes is a object in Kubernetes of types  clusterIP, nodePort and LoadBalancer. So are you asking how to open another tcp port for another workload o

[2021-10-02 04:58] #7691 closed

[2021-10-02 05:00] longwuyuan commented on #7686
/kind support

[2021-10-02 16:04] theunrealgeek commented on #7698
@longwuyuan thanks for bringing this up. This is a common problem with a multi-homing nginx setup and some extra config is needed to enforce things correctly. Let me take this up as well

[2021-10-02 16:16] ElArtista commented on #7569
Yep still an issue here

[2021-10-03 00:53] ghrk91 opened #7737 "Azure Kuberneters ILB (kubernetes-internal)"
I am been using the open nginx ingress for my project. As part of deployment in aks, it creates the azure internal load balancer with default name "kubernetes-internal".  Is there a way to rename that ILB. If so,  which variable needs to be updated in this repo. Thank you for all your help.

[2021-10-03 03:19] dmitry-mightydevops opened #7738 "prometheus metric nginx_ingress_controller_config_last_reload_successful is not updated even if config is correct."
It seems `nginx_ingress_controller_config_last_reload_successful` is not working correctly.

I have installed ingress-nginx as argocd app

[code]

used image in the deployment:

[code]

Prometheus scraping is set

[code]

During various incremental improvements I had a mistake in config and it failed to be applied (with errors in the pod console that the configuration is invalid)

[code]

So I the

[2021-10-03 03:25] #7738 closed

[2021-10-03 04:29] infectedone commented on #4888
@TBBle . Using nlb-ip mode in fargate isn't supported in nginx ingress controller. I can't provision nlb using the above yaml of @sAnti09 . Please help with a workaround

[2021-10-03 04:55] TBBle commented on #4888
@infectedone `nlb-ip` mode is supported in Fargate, according to [the docs](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/nlb/#ip-mode). You haven't given any details on what went wrong, so there's no way to help you at this point.

That said, I haven't tried the YAML files posted above, I use Helm to manage deployments, and actually don't have a current Fargate

[2021-10-03 05:22] infectedone commented on #4888
@TBBle, I have used the same tamil which @sAnti09 has posted in the chat. Deploying that I have successfully deployed the controller but there isn't any load balancer provisioned. I tried the same with lb type as nlb it was successful. I'm sorry that can't post any files as it goes against my org. I have raised a case with AWS support where the have mentioned that nlb-ip targets aren't supports fo

[2021-10-03 05:30] infectedone commented on #4888
@TBBle , the docs which you shared refers to aws load balancer controller where I'm using nginx ingress controller. Does this difference create any issue?

[2021-10-03 05:42] TBBle commented on #4888
The AWS Load Balancer Controller creates Load Balancers, it's separate from the NGINX Ingress Controller which _uses_ Load Balancers.

You need to have deployed the AWS Load Balancer Controller before you can use NLB-IP on your cluster for anything, otherwise you're limited to the NLB instance mode supported by the (legacy) built-in AWS Load Balancer support in k8s or the AWS Cloud Controller (dep

[2021-10-03 05:53] infectedone commented on #4888
Understood @TBBle. Will try out your suggestion and revert the output. Thanks

[2021-10-03 17:22] brettcave opened #7739 "Allow variable references in backend spec"
Currently,  backend service in an nginx class ingress is a literal reference to a service. The backend service is then translated into a literal value for `$proxy_upstream_name` in nginx config. When trying to pass a variable reference to the backend in spec, a service name validator rejects the format, requiring a valid dns spec literal service. However, in nginx config, variables are valid value

[2021-10-03 18:20] #7112 closed

[2021-10-04 02:47] longwuyuan commented on #7739
Does the ingress object in kubernetes.io support this?

Thanks,
; Long

On Sun, 3 Oct, 2021, 10:53 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-10-04 07:33] AramshamFedaykin commented on #7723
Hello longwuyuan,

I'm building the image under windows 10 with docker desktop 3.0.4.

The exact complete Dockerfile is nearly the same, only the v1.0.2 now :
[code]

The cmd used under powershell : docker build -t myRepo/nginx-ingress-controller-oidc:1.0.2.2 .

logs :
[code]

Last year, I already had an issue with luarocks here : https://github.com/kubernetes/ingress-nginx/issues/5865
And aledbf

[2021-10-04 07:58] bmv126 commented on #7723
Can you check if this is related to
https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2

 I faced similar issue, with old version of docker engine when trying to build ingress-nginx controller image locally.

[2021-10-04 09:02] jhrcz-ls commented on #4901
Helo, the `Host` header defintion in proxy mirror is realy missing and in reality this makes current annotations unusable and requires manual configuration via snippets.

for example nginx conf contains this:
[code]
this overrides Host in requests to upstream's name. So when you mirror traffic somewhere with some http/haproxy server which takes care of routing traffic based on vhosts in requests,

[2021-10-04 09:07] lippinio commented on #6103
@longwuyuan facing the same issues. Would be great if you publish the PR.

[2021-10-04 12:20] longwuyuan commented on #7723
I am not sure if root cause can be easily known with hardly any resource
available windows builds.

Do you have the same experience with v0.49.2. For a few more months we
will maintain v1.X.X and also 0.X.X .

% helm search repo ingress-nginx --versions | head -10
NAME                            CHART VERSION   APP VERSION DESCRIPTION
ingress-nginx/ingress-nginx     4.0.3           1.0.2 Ingress c

[2021-10-04 13:23] LoonyRules opened #7747 "Sudden high memory usage."
**NGINX Ingress controller version**: Chart Revision: v4.0.3 | Chart App Version: 1.0.2 | Nginx version: 1.19.9
**Kubernetes version**: 1.20.2-do.0

**Environment**:
- **Cloud provider or hardware configuration**: Digital Ocean Managed Kubernetes
- **OS** (e.g. from /etc/os-release): Pod runs Alpine Linux v3.14.2
- **Kernel** (e.g. `uname -a`): 4.19.0-11-amd64
- **Install tools**: N/A
- **Other**:

[2021-10-04 15:34] LoonyRules commented on #7747
I just stumbled across #7647 and I feel like this could be related due to the graphs shared by `Ivauvillier` in https://github.com/kubernetes/ingress-nginx/issues/7647#issuecomment-931574161

I will review our graphs and wait for the bug to arise again, once it does I'll do more memory tool digging to see if the same trend can be found in both of our issues.

We also use SSL for all of our ingress

[2021-10-04 15:42] strongjz commented on #7747
Can you test with v1.0.3 that was released today, the base image was updated via https://github.com/kubernetes/ingress-nginx/issues/7647#issuecomment-931809993

[2021-10-04 16:19] stevehipwell opened #7749 "Helm chart release process causing issues"
The chart release action for the `v1` chart family is failing. I suspect that multiple charts (`v1` & `v0`) are being released at the same time and only one chart releaser action can modify the `gh-pages` branch so the other fails after creating the release.

The action in question is https://github.com/kubernetes/ingress-nginx/actions/runs/1303956547.

You can manually modify the _index.yaml_ fil

[2021-10-04 16:49] sepich commented on #7080
@rikatz, Could you please share how to build image like `rpkatz/nginx:patchedopenresty`?
(@doujiang24 asks to add some debugging to openssl and test)

[2021-10-04 17:12] rikatz commented on #7080
https://github.com/kubernetes/ingress-nginx/pull/7732 This way :)

[2021-10-04 19:12] strongjz commented on #7191
Blog post here with more details. https://kubernetes.io/blog/2021/07/26/update-with-ingress-nginx/

/close

[2021-10-04 19:12] #7191 closed

[2021-10-04 21:09] strongjz commented on #7056
/close

[2021-10-04 21:10] #7056 closed

[2021-10-04 21:45] brettcave commented on #7739
Long, that is what I was asking in the last paragraph:

If i look at the kubernete API docs, I don't see anything about requiring DNS compliant format, although I might be mistaken.

`name (string) - Name is the referenced service. The service must exist in the same namespace as the Ingress object.`

The error looks like it was actually coming from the client, before even making a kube API call, s

[2021-10-04 22:13] KuberDriver commented on #7737
Hi @ghrk91

- This is not a bug as this is more of aks doing rather ingress-nginx deployment
- Any LBs created related to aks are by default named '`kubernetes`'
- I just created aks cluster and deployed ingress-nginx via helm chart and could see below in activity logs for the automatic resource group, name prefixed with `mc_`
[code]
From above note: name in 2nd line and the entity path - these ar

[2021-10-05 01:23] ghrk91 commented on #7737
Thank you for your response.

I have an aks cluster in a vnet/subnet with UDR enable. Hence, it does not create a load balancer automatically with public IP when aks cluster is provisioned.  With this AKS configuration, when I deploy ingress-nginx, it creates the "kubernetes-internal" load balancer.  So, not sure whether below link has anything to do with naming convention.

https://github.com/kub

[2021-10-05 03:00] longwuyuan commented on #7739
I am not a developer so I have to read a lot more. But I see this ;

% k explain ingress.spec.rules.http.paths.backend.service.name
KIND:     Ingress
VERSION:  networking.k8s.io/v1

FIELD:    name <string>

DESCRIPTION:
     Name is the referenced service. The service must exist in the same
     namespace as the Ingress object.

A non-nginx based controller may have the ability to process an ingre

[2021-10-05 04:20] longwuyuan commented on #6103
hi,
this issue seems to have gone through conversations on different problems.
The PR I mentioned is this https://github.com/kubernetes/ingress-nginx/pull/7375 and I see there is not enough clarity there.

This comment is related to how we proposed to address the the specific error messages mentioned  https://github.com/kubernetes/ingress-nginx/issues/7261#issuecomment-869214246

But we are now se

[2021-10-05 04:56] KuberDriver commented on #7737
@ghrk91 Np! Was there any indication of resource name in that yaml file? I couldn't find.

However, irrespective of ingress controller, if you just create service of type LoadBalancer with specific annotation in aks - you would see LoadBalancer resource with name `kubernetes-internal` in the node resource group.

Posting this after trying and testing, created svc as detailed in steps here: https:/

[2021-10-05 05:51] Azhdar1990 opened #7752 "After deletion of Ingress resource, it still in kuber."
Hello
I've deployed ingress controller by using this installation guide.
https://kubernetes.github.io/ingress-nginx/deploy/
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.3/deploy/static/provider/aws/deploy.yaml

Then i deployed my app and ingress resource for my app.
Everything was OK.

Then i removed ingress resource from my app.
kubectl -n my-app del

[2021-10-05 07:11] AramshamFedaykin commented on #7723
I tried some versions.
It still work on a 0.49.0, but from 0.49.1, same prob.
Same for 1.0.0 still working, not anymore from 1.0.1.

As bmv126 suggest, I'm waiting for the admin of my company laptop to update the docker desktop version... :s

[2021-10-05 07:23] longwuyuan commented on #7752
Hi,

I hope the problem gets solved soon.

The information you have provided is not enough to debug. Usually
ingress object will get deleted and will not be visible.

The reasons for ingress object persisting could be anything like another
owner re-creating (example helm chart or some automation) or maybe the
delete command never worked in the first place.

A few things you can do is show the info

[2021-10-05 07:27] longwuyuan commented on #7752
/kind support
/triage needs-information

[2021-10-05 08:07] Evesy opened #7753 "CPU Usage Doubling from 0.43.0 to 0.49.2"
When upgrading Nginx from `0.43.0` to `0.49.2` (No other changes) we're observing CPU usage over double

![image](https://user-images.githubusercontent.com/17579850/135983229-e8c06425-8dbb-4fa6-ba98-093d7dfe63c9.png)

You can see here we upgraded just before 14:00 and reverted ~16:00.

We run two separate ingress controllers:

**Internal**
- 3 pods
- CPU Request: `850m`, CPU LImit: `5`
- Memory Re

[2021-10-05 08:41] LoonyRules commented on #7747
Upgrade finished just now, will let you know of the results hopefully in the next 7 days. 🤞

[2021-10-05 08:55] viralkamdar opened #7754 "Allow users to override http and httpsPort during helm chart installation"
I want to allow user to override the following helm variables

- controller.hostPort.ports.http=9000
- controller.hostPort.ports.https=9443
- controller.containerPort.http=9000
- controller.containerPort.https=9443

https://github.com/kubernetes/ingress-nginx/issues/2783 (Closed)

No

No
/kind feature

This can be fixed in https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/

[2021-10-05 10:09] Azhdar1990 commented on #7752
Thanks for answer
Here the info.

Kubernetes version :

Client Version: version.Info Major:"1", Minor:"22", GitVersion:"v1.22.1"
Server Version: version.Info Major:"1", Minor:"20", GitVersion:"v1.20.2"

Environment:
OVH cloud provider
OS - Ubuntu 18.04.5 LTS

Basic cluster related info:
NAME                                         STATUS   ROLES    AGE   VERSION   INTERNAL-IP   EXTERNAL-IP    OS-I

[2021-10-05 13:28] Azhdar1990 commented on #7752
Also this ingress  resource appear in rancher GUI but when i whant to delete, it gives me an error.

![1221](https://user-images.githubusercontent.com/68331893/136032285-4d5c56e7-d935-485f-96ad-e806e265ce63.JPG)

[2021-10-05 14:18] ATownsend opened #7755 "RBAC ClusterRoleBinding conflicts with itself when 2 separate nginx ingresses are installed"
If you install Nginx ingress in a namespace (let's call it alpha) and then install the same nginx in a separate namespace (we will call beta) under the same name, the ClusterRoleBinding conflicts between the two

Alpha --> Nginx-ingress
Beta ---> nginx-ingress

If the two nginx-ingress controllers have the same name, but in different namespaces it breaks on installation of the second installation

[2021-10-05 15:16] longwuyuan commented on #7701
hi @jpetazzo,

Hoping that the ball does not get dropped on the thought you expressed. Starting next week, I can commit some time, if required.
thanks,
; Long

[2021-10-05 15:34] longwuyuan commented on #7755
% helm search repo ingress-nginx --versions | head -10
NAME                            CHART VERSION   APP VERSION     DESCRIPTION
ingress-nginx/ingress-nginx     4.0.5           1.0.3           Ingress controller for Kubernetes using NGINX a...
ingress-nginx/ingress-nginx     4.0.3           1.0.2           Ingress controller for Kubernetes using NGINX a...
ingress-nginx/ingress-nginx     4.0.2

[2021-10-05 20:12] ankitrgupta1 commented on #2266
@jaraws hey, were you able to resolve your issue as well? I am seeing similar issue as well., and yesterday the ingress restarted itself.
@strowi So I am trying to understand if there is anything we need to do related to it.

NGINX Ingress controller version: 0.26.1
Kubernetes version (use kubectl version): 1.20.7

[2021-10-05 22:51] nickjj opened #7756 "How to Helm install ingress-nginx when using kind to run your cluster, or more generally how do you pick the provider to use?"
kind's docs at https://kind.sigs.k8s.io/docs/user/ingress/#ingress-nginx suggests installing this ingress by applying it like this:

[code]

I was looking to convert that to Helm and Terraform so it's a bit easier to manage without introducing a custom shell script to wrap a few commands and set specific `ingress-nginx` version numbers (instead of using `main`) but I wasn't able to find any docume

[2021-10-05 23:42] shashankram commented on #5608
/reopen

[2021-10-05 23:44] shashankram commented on #5608
/remove-lifecycle rotten

[2021-10-06 04:05] shashankram commented on #5608
@longwuyuan Please refer to the description of the issue. It clearly states that updating the proxy-ssl-secret annotation in the k8s Ingress configuration does not update the `proxy_ssl_trusted_certificate` field in `nginx.conf` that the nginx ingress controller updates internally.

I don't think there is anything complicated about what is being reported here. Please request specific information i

[2021-10-06 04:05] shashankram commented on #5608
/kind bug

[2021-10-06 05:44] longwuyuan commented on #7755
Removing kind bug because multiple controllers may still work with v0.x.x of the controller as user is using EKS that on K8s v1.18
/remove-kind bug
/kind support
/triage needs-information

[2021-10-06 10:02] nickjj commented on #7756
Hi,

Those instructions do not work with kind.

Helm will install it successfully without errors but the host associated to the ingress always returns back `(52) Empty reply from server`. With kind this means `localhost`.

Here's what I did to test things:

#### Successful case without Helm

- Create a kind cluster
- `kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main

[2021-10-06 11:13] longwuyuan commented on #7756
Please get really precise and accurate, Below info shows it working in kind ;

% date
Wed 06 Oct 2021 04:38:17 PM IST
[~]
% kind version
kind v0.11.1 go1.16.4 linux/amd64
[~]
% kubectl version
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2", GitTreeState:"clean", BuildDate:"2021-09-15T21:38:50Z", GoVersion:"go1.16.8", C

[2021-10-06 11:27] beastob commented on #5968
Inspired by  @marv254 's comment.

I had a similar issue with missing caBundle in the validatingwebhookconfigurations/ingress-nginx-admission, and it was installed via ArgoCD and a customized ingress-nginx helm chart.

Since ingress-nginx-admission-patch has an annotation `"helm.sh/hook": post-install`, caBundle will only appear in the `validatingwebhookconfigurations` after the Chart is fully ins

[2021-10-06 12:24] CoolMcCool opened #7758 "x-forwarded-proto will be overwritten while using use-proxy-protocol: 'true' and use-forwarded-headers: 'true'"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.0.3

**Kubernetes version** (use `kubectl version`):

**Environment**:
- Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.0", GitCommit:"c2b5237ccd9c0f1d600d3072634ca66cefdf272f", GitTreeState:"clean", BuildDate:"2021-08-04T18:03:20Z", GoVersion:"go1.16.6", Compiler:"gc", Pl

[2021-10-06 13:35] rblaine95 opened #7759 "AdmissionWebhook isn't scoped by Ingress Class"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): `v1.0.2`

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS 1.19
- **OS** (e.g. from /etc/os-release): AmazonLinux2
- **Kernel** (e.g. `uname -a`): unsure
- **Install tools**:
  - `Please mention how/where was clsuter

[2021-10-06 14:29] nickjj commented on #7756
I've set up a reproduceable fairly self contained shell script. I also included the output of running the script in each case at the bottom of this reply.

1. Copy the script below to a file named `run` and `chmod +x run`

#### Success case without using Helm

1. Run `./run create` to create a new kind cluster
2. It should run successfully and the ingress should work
3. Run `./run delete` to delet

[2021-10-06 14:45] AramshamFedaykin commented on #7723
At last my docker engine is up-to-date !

@bmv126 , you saved me ! It was indeed the docker desktop version, vicious when you're not admin of your computer...

[2021-10-06 14:45] #7723 closed

[2021-10-06 15:45] ATownsend commented on #7755
The Watch-namespace paramater does NOT change the name of the associated RBAC ClusterRoleBinding

If you look at the file, the ONLY thing that changes that value is the NAME of the package and that's the issue. Which namespace is being watched doesn't affect this bug at all.

[2021-10-06 16:15] steigr opened #7760 "ingress-nginx updates ingresses regardless of their ingressClass"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):

[code]
**Environment**:

- **Cloud provider or hardware configuration**: Self-hosted
- **OS** (e.g. from /etc/os-release): RHEL 7.9
- **Kernel** (e.g. `uname -a`): `Linux master-01 3.10.0-1160.15.2.el7.x86_64 #1 SMP Thu Jan 21 16:15:07 EST

[2021-10-06 18:19] steigr commented on #7760
Hi,

I just did not written a good bug report. Just selected the problematic function and opened the issue there. I'll update the report :-)

[2021-10-06 18:52] steigr commented on #7760
/kind bug

[2021-10-06 19:09] myvelmurugan opened #7761 "Cloudflare + ELB extracting the client IP in nginx ingress and whiltelist based on the client IP"
we have currently configured the below configmap for the nginx ingress.

apiVersion: v1
data:
  proxy-body-size: 100m
  proxy-connect-timeout: "180"
  proxy-read-timeout: "180"
  proxy-send-timeout: "180"
  **use-proxy-protocol: "true"**
kind: ConfigMap

Now we are getting the client public Ip in ingress nginx from the ELB (elastic load balancer).  Some of the ingress IP we have proxied using clou

[2021-10-06 20:33] theharleyquin opened #7762 "Valid regex substring not being observed and no path found"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release):Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1059-azure 18.04.1-Ubuntu SMP Tue Sep 14 17:53:18 UTC 2021 x86_64

[2021-10-06 20:36] #7762 closed, assigned to nobody

[2021-10-06 21:08] theharleyquin opened #7763 "Valid regex to find substring within path fails to route/discover"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release):Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1059-azure 18.04.1-Ubuntu SMP Tue Sep 14 17:53:18 UTC 2021 x86_64

[2021-10-07 00:49] Lincon-Freitas commented on #6899
Any updates on this issue?

@vranystepan Have you found any workaround for this?

[2021-10-07 02:40] longwuyuan commented on #7763
I tried to reproduce the problem on my cluster but I was unable.
I can see the rate-limit being applied.

Does your request match the ingress rule as per the ingress-controller pod logs ?

[2021-10-07 02:41] longwuyuan commented on #7763
/remove-kind bug
/kind support
/triage needs-information

[2021-10-07 05:02] gujun4990 opened #7764 "Can't add ingress-nginx repo using helm"
I have installed a kubernetes cluster and want to deploy ingress-nginx using helm. I refer the ingress-nginx docs (https://kubernetes.github.io/ingress-nginx/deploy/#using-helm) and run the command: `helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx`. But the command is failed and the error is below:
[code]
From the above information, The lack of `index.yaml` file cause the pr

[2021-10-07 06:11] kundan2707 commented on #7199
/remove-lifecycle rotten

[2021-10-07 06:45] chirangaalwis commented on #7283
Folks, any update on this?

[2021-10-07 07:02] myvelmurugan commented on #4731
@okgolove Hi how did you manage the ELB and Cloudflare traffic which is coming to ingress nginx controller.?

when I enable proxy I get the client x_forward_header IP for the ELB and if I enable CF_Connecting_IP its not working as expected. I am not getting the Client source for even ELB and cloudflare

[2021-10-07 08:11] VannTen opened #7767 "Documentation on interaction between `proxy-*-timeout` and `backend-protocol`"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ingress controller
  Release:       v0.44.0
  Build:         f802554ccfadf828f7eb6d3f9a9333686706d613
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.6

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"22

[2021-10-07 08:14] tomaszkyc opened #7768 "413 HTTP response on EKS"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.0
  Build:         041eb167c7bfccb1d1653f194924b0c5fd885e10
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.20.1

------------------

[2021-10-07 08:25] akshay654 opened #7769 "Error: unknown flag: --controller-class"
**NGINX Ingress controller version**
nginx version: nginx/1.20.1
Release:       v0.48.1
Build:         30809c066cd027079cbb32dccc8a101d6fbffdcb
Repository:    https://github.com/kubernetes/ingress-nginx

**Kubernetes version** (use kubectl version): v1.19.11

    **Cloud provider or hardware configuration**: Azure (AKS)

    **Node OS (e.g. from /etc/os-release**): Ubuntu 18.04

    Install tools:

[2021-10-07 08:31] tao12345666333 commented on #7769
Can you try to use latest version? Or what’s your Helm install commands?

[2021-10-07 09:23] #7768 closed, assigned to nobody

[2021-10-07 12:33] rikatz commented on #7283
Hi @chirangaalwis

I'm with my head a bit under other stuff and couldn't look into this.

If possible, can you provide some implementation PR for us? We can help you on this. Otherwise, you will rely on the availability of some of us, and talking from my side, I'm really on a rush.

Anyway I will add this as something for milestone v1.2.0 and see what we can do, ok?

[2021-10-07 14:42] LuckySB opened #7770 "ingress crashdown without service ingress-nginx-controller"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

      image: k8s.gcr.io/ingress-nginx/controller:v1.0.3@sha256:4ade87838eb8256b094fbb5272d7dda9b6c7fa8b759e6af5383c1300996a7452

**Kubernetes version** (use `kubectl version`):
1.22.2

**What happened**:

install ingress controller via helm chart ingress-nginx-4.0.5 without service

[code]
**What

[2021-10-07 15:22] Wivik opened #7771 "Error 500 while activating External oauth"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:  Azure Kubernetes Service
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.6 LTS
- **Kernel** (e.g. `uname -a`): 5.4.0-1056-azure

- **How was the ingress-nginx-contr

[2021-10-07 16:14] Kristin0 opened #7772 "nginx.ingress.kubernetes.io/rewrite-target annotation doesn't redirect"
I have a pod that responds to requests to /

I want to do a rewrite where requests go to /dashboard go to /.

Using a nginx-ingess I do it something like this:

[code]
But this only works when I manually add slash in the end: /dashboard/
Only after that it opens this URL: https://192.168.x.x/dashboard/#/workloads?namespace=default
When I don't add slash in the end, it opens the white page in brows

[2021-10-07 20:32] #7772 closed, assigned to nobody

[2021-10-07 20:56] thy143 commented on #7674
Hi, I believe I might be running into this bug (or a very similar one). I have recreantly upgraded from 0.47 to v 1.0.3 (via a uninstall / reinstall) of the nginx ingress controller and my ingress rules no longer work – I get a 404 when trying to access them (however I do have a endpoint listed).

The only workaround I found is to add the ingress.class annotation which then works (however this is

[2021-10-07 21:50] KuberDriver opened #7773 "Cloud builds optimization: Build the staging image only when TAG has been changed"
Context: every time changes are merged to ingress-nginx a new staging image is published and thus producing many images consuming both process and storage.

Scope: Should look into changing the configuration to build staging image only when we change the TAG.
Reference: [Slack thread](https://kubernetes.slack.com/archives/C021E147ZA4/p1633635904402200)

Tasks:
1. Remove the .go and others [here ](

[2021-10-07 21:50] KuberDriver commented on #7773
/kind feature
/assign

[2021-10-07 22:06] rikatz commented on #7773
Just as a followup on this, the TAG file already have the role of the VERSION file, so we should probably just monitor the TAG file and nothing else :)

Maybe we can use this approach as well on other sub stuff (like the nginx base image, the other stuff in "images" and everything else in https://github.com/kubernetes/test-infra/blob/0e0007912d8c555e0b7b699128ac0cbc3b61fc5e/config/jobs/image-pushi

[2021-10-08 01:08] longwuyuan opened #7774 "remove bad space character in command example in docs"
There is a extra space in a command example in docs, that is causing failure if someone copy/paste uses the command .... https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster

The problem was reported on slack here https://kubernetes.slack.com/archives/CANQGM8BA/p1633648047325700

/kind documentation
/area docs
/tri

[2021-10-08 01:43] longwuyuan commented on #7674
@thy143 Please check if any of the info at https://kubernetes.github.io/ingress-nginx/#faq-migration-to-apiversion-networkingk8siov1 is related to your use case and/or problem. Thanks

[2021-10-08 01:55] #7774 closed

[2021-10-08 05:04] stalkerg commented on #7262
@longwuyuan can you copy-paste it's here? Not so easy to get access to your internal Slack.

[2021-10-08 05:08] stalkerg opened #7776 "Add support client-side load balancing"
Currently, you can't choose a specific POD base on the URL or Header that is needed for the client-side balancing technique.
It's a very important approach for game servers and chat systems. Also, looks like it's close to this issue #7262 .

/kind feature

[2021-10-08 09:02] myvelmurugan commented on #7761
@aledbf @J-Ha  Can you please help me with this ? I tried adding the below but not working.

[code]

I have added this annotation to the ingress which is routed via cloudflare. Kindly let me know the configuration to get the real client IP from the cloudflare to the ingress.

[2021-10-08 14:15] #7124 closed

[2021-10-08 15:03] LuckySB commented on #7770
Yes. I did just that.
but `controller.service.enabled` must be removed
and the service should always be created

[2021-10-08 20:04] adlangx opened #7778 "Sticky sessions not working in version 1.0.2 k8s 1.21.2"
Controller version 1.0.2

**Kubernetes version** (use `kubectl version`): 1.21.2

**Environment**:

- AKS
- Ubuntu-20.04, Ubuntu-20.04, Ubuntu 18.04.5, windows-2022
- **Install tools**: Helm, azdo.
- **Basic cluster related info**:
  -`Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.5", GitCommit:"6b1d87acf3c8253c123756b9e61dac642678305f", GitTreeState:"clean", BuildDate:"202

[2021-10-09 07:08] subham611 opened #7780 "Keep alive with hundreds of services"
This is in reference to issue: https://github.com/kubernetes/ingress-nginx/issues/4072

I am also facing similar issue. My configuration looks like this:

ingress image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.25.0
GKE environment

client-body-buffer-size: 200m
 keep-alive: "620"
  keep-alive-requests: "30000"
  max-worker-connections: "20000"
  proxy-body-size: 200m
  pro

[2021-10-09 07:48] doujiang24 commented on #7080
Hello, @sepich
Glad you find a way to avoid segfault in #7777 . But I think it may be a workaround, may not be a proper fix.
According to Nginx doc, use "builtin" and "shared" at the same time should be supported:
http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_session_cache

Unfortunately, however, after talking to OpenSSL and Nginx team, I still can not find where the bug is.
https://

[2021-10-09 13:41] rikatz opened #7781 "Analyze FIPS support"
Some folks reached me about FIPS support / compliance specifically when ingress-nginx is used with govt stuff.

I'm not aware on how to deal with this yet (as far as I read we can use some openssl module from specific distro, or compile using BoringSSL) and there is also an nginx inc module to verify this compliance.

Not sure what we should look into here yet, but seems like something that will b

[2021-10-09 16:53] longwuyuan commented on #7778
hi, I was able to reproduce the problem.

I am checking next steps.

/triage accepted
/milestone v1.2.0

[2021-10-09 16:54] longwuyuan commented on #7778
@theunrealgeek you may be able to solve this. If I am not wrong, there was a sticky-session related commit, after the release of v1.x.x. I will check

[2021-10-09 17:26] longwuyuan commented on #7769
Please add the --version flag to the helm install command and specify that the chart version you want to install is v3.39.0 .

I suspect that the command you showed and the command that is documented is not considering the fact that the latest version of the controller chart v4.0.5 may be getting picked up by default ;

% helm search repo ingress-nginx --versions | head -10
NAME

[2021-10-09 21:32] #6972 closed

[2021-10-10 12:21] #7320 closed

[2021-10-10 19:45] rikatz commented on #7747
We didn't merged the one with openresty.

We've found this can be related to ssl_cache builtin, so a new image with that disabled by default will be released.

Next step/release will be to add the openresty patches :)

[2021-10-10 19:47] rikatz commented on #7080
yeah sure, I will open a new PR and add that as a configuration :)

[2021-10-10 19:48] #7510 closed

[2021-10-10 19:48] rikatz opened #7784 "Create a new entry in ConfigMap that allows the admin to configure ssl_session_cache with builtin"
Follow up on #7080

Related comment: https://github.com/kubernetes/ingress-nginx/issues/7080#issuecomment-939250112

Create a new entry in ConfigMap that allows the admin to configure ssl_session_cache with builtin

THIS SHOULD BE DISABLED BY DEFAULT!!

This may be helpful for folks that still wants to use builtin cache, and trying also to find that nginx bug

Questions, please find us on #ingress

[2021-10-10 20:57] strongjz commented on #7391
I was able to get this to work

[code]

[2021-10-10 21:04] jodevsa commented on #7784
/assign

[2021-10-10 21:08] strongjz commented on #7391
Here's the Configuration that does what I think you need.

[code]

The Test

bar gets the 302 and bar/ gets the 200
[code]

[2021-10-10 21:11] rikatz commented on #7784
@jodevsa thanks for getting this one.

Feel free to reach me if you have any questions.

Good place to start looking: https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/controller/config/config.go#L93

[2021-10-10 21:27] jodevsa commented on #7784
Thanks @rikatz happy to contirbute :)

I'm wondering about how to implement it without breaking the existing SSLSessionCacheSize config

`ssl_session_cache shared:SSL:{{ $cfg.SSLSessionCacheSize }};`

[2021-10-10 21:28] strongjz commented on #7391
I think the snippet and the rewrite were causing the issue for the one service.

I do see the issue after adding the second service with same host and getting 404s, even after deleting the second.

[2021-10-10 21:48] jodevsa commented on #7784
looks like we can have both

[2021-10-10 22:04] jodevsa commented on #7784
if we only need this to reproduce the case. One could specify **SSLSessionCacheSize** to something like `10m builtin:1000`.

[2021-10-11 05:14] longwuyuan commented on #7778
Hi @theunrealgeek,

Here is how I tried to reproduce it. Hope its valid.
@rikatz @tao12345666333 , Please comment or give some tips on where to look for the affinity annotation in the code, when you get a chance.

[code]

Then I edited the ingress for the annotations related to affinity ;

[code]
Then I scaled the app to 2 replicas and edited their respective index.html to make them different, so

[2021-10-11 07:09] AbelTaylor commented on #7674
it works...thanks...
i have the same issue...

[2021-10-11 09:52] svonliebenstein commented on #6928
Does anyone know the answers to @Baklap4's questions, would be great to update the readme if this is the case. Especially useful for everyone deciding on running this controller in production environments.

[2021-10-11 10:50] longwuyuan commented on #6928
https://kubernetes.github.io/ingress-nginx/how-it-works/#when-a-reload-is-required

[2021-10-11 11:02] longwuyuan commented on #7674
@jonathanvila , the original message from you shows that the service created by the ingress controller in your minikube is of type NodePort. So please update if you sent your request to the NodePort ipaddress:socket or not.

@thy143 your comments hint at the faq section that I linked earlier. Basically the default installation of the controller v1.x.x requires ingressclass. There is a also a flag

[2021-10-11 15:19] Timoses opened #7794 "--publish-service not working with manually curated endpoints list"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: VMs
- **OS** (e.g. from /etc/os-release): RancherOS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - Rancher / rke
- **Basic cluster related info**:
  - `kubect

[2021-10-11 18:20] ashissharma97 opened #7795 ""ingress-nginx-controller" service is still not removed after uninstalling chart."
Hi,
I uninstalled nginx-ingress from my AKS cluster and almost all the resources got deleted my main service which is a type of LoadBalancer is still there I tried deleting manually by using the delete command but still, it's not deleting. I don't know what is the issue please help me out with this.

Thanks in advance

[2021-10-11 20:14] theunrealgeek commented on #7778
@longwuyuan I can’t tell from your snippets if the backend app is indeed setting cookies to make the persistence work.

@adlangx Do you know of any off-the-shelf backend we could use to reproduce the problem ?

If not, I’ll write a small Flask app of sorts myself to see what happened with the sticky sessions feature between the versions

[2021-10-12 01:56] longwuyuan commented on #7778
artifacthub.io may contain some echo-server or other app. i have not searched

[2021-10-12 02:02] longwuyuan opened #7796 "missing ingressClassName field in example ingress"
**Kubernetes version** (use `kubectl version`):
v1.22 above
**Environment**:
all
** What is the problem
The template for example ingress does not contain ingressClassName field and also has rules.backend section is not compliant with api v1 specs

https://kubernetes.slack.com/archives/CANQGM8BA/p1633716024336200?thread_ts=1633648047.325700&cid=CANQGM8BA

[code]
/assign

[2021-10-12 02:39] #7796 closed, assigned to longwuyuan

[2021-10-12 04:47] theunrealgeek commented on #7778
I tried to reproduce this again today with ingress 1.0.2 and I could see that the cookie was indeed set by the response back from ingress:

[code]

and sending that cookie back in the next request like
[code]
did indeed route to the same backend.

I however later found that I was running `kind` with v1.20.2 and not 1.21.2 like was originally reported. So I’ll try this again with the newer kubernet

[2021-10-12 08:58] ashissharma97 commented on #7795
Here is the yaml of that service :-

[code]

Thanks

[2021-10-12 09:31] Daniel-Redeploy opened #7799 "Certificate key check fails if leaf certificate is not first"
**NGINX Ingress controller version**:
[code]

**Kubernetes version**:
[code]
**Environment**:

- **Cloud provider or hardware configuration**: `Azure Kubernetes Service`
- **OS** (e.g. from /etc/os-release): `Ubuntu 18.04.6 LTS (Bionic Beaver)`
- **Kernel** (e.g. `uname -a`): `Linux hostname 5.4.0-1059-azure #62~18.04.1-Ubuntu SMP Tue Sep 14 17:53:18 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux`
- **In

[2021-10-12 09:44] longwuyuan commented on #7778
@theunrealgeek , curiosity question, why is your Location header shown as google.com

[2021-10-12 09:55] longwuyuan commented on #7794
/remove-kind bug
/kind feature
/triage needs-information

That needs to be a service fronting the ingress-controller. I am not a developer but I am curious to understand how this headless service that you created, front-ends the ingress-NGINX controller.

[2021-10-12 10:37] longwuyuan commented on #7799
I asked because this seems the only report of such a incident. So I wonder why others are not facing this problem. Also it seems like a ssl expert needs to comment here and there is lack of such expert developers currently.

[2021-10-12 10:58] desek commented on #7799
The problem here is the validation logic differs between the controller code and nginx.

For example, let's say I have a TLS certificate named `wilcard-bot-mydomain-com` in the namespace `bot` with a certificate order of Root, Intermediate and Leaf.
Using `--default-ssl-certificate=bot/wildcard-bot-mydomain-com` with NGINX works.
Using `spec.tls[0].secretName=wildcard-bot-mydomain-com` with the In

[2021-10-12 11:03] longwuyuan commented on #7799
Just in response to your example, that is what this controller also does, NOT as a annotation in a ingress object but INSTEAD, like this, https://kubernetes.github.io/ingress-nginx/user-guide/tls/#default-ssl-certificate

[2021-10-12 11:25] #7795 closed, assigned to nobody

[2021-10-12 11:35] longwuyuan commented on #7799
I am no expert, but just about every search result on internet is pointing that the order leaf, internediate, root.
I guess either we need to get lucky and find the link that authoritatively describes the nuances of the order.

[2021-10-12 14:21] carolize commented on #7694
@pierreilki, Please review longwuyuan's response and try to reproduce the error and provide more information for the community to review. Thanks!

[2021-10-12 14:48] rikatz commented on #7778
@adlangx just so I can compare, what version is working and what is not? (maybe it's on the comments, will go through again anyway!)

Thanks!

[2021-10-12 16:16] strongjz commented on #6245
/priority important-soon

[2021-10-12 16:27] carolize commented on #7589
/priority important-longterm

[2021-10-12 16:37] carolize commented on #7400
@jtstrohl, Please provide the information requested by longwuyuan in this thread or provide the details requested in the Issue Template for the community to review. Thanks!

[2021-10-12 16:41] tippl commented on #7587
I guess, my comment was misunderstood a bit. I was on the side trying to troubleshoot the issue, not with the same issue trying to get it fixed. I had a similar/the same issue and fixed it by following migration steps posted on the website.

As such i posted here thinking the other people might have not followed the new version migration steps and just updated to the new version. My ingress contro

[2021-10-12 16:42] strongjz commented on #7767
/help
/good-first-issue

PR's for documentation are welcome

[2021-10-12 16:50] rikatz commented on #7268
/priority important-soon
/triage accepted

[2021-10-12 16:50] #7564 closed

[2021-10-12 16:54] strongjz commented on #7616
/assign @rikatz

[2021-10-12 18:30] rikatz commented on #6340
/assign

[2021-10-13 02:25] longwuyuan commented on #7778
@adlangx it seems I was not using the cookie that was set in my subsequent requests. Silly mistake on my part. And now that @rikatz and @theunrealgeek tested and could not reproduce the problem, you need to show what you tested and how to experience  broken affinity.

/remove-kind bug
/remove-prority backlog
/remove-triage-accepted

[2021-10-13 07:05] #5411 closed

[2021-10-13 17:06] josh-endries opened #7807 "gRPC NGINX Ingress Controller documentation confusion/problem"
Referring to this page: https://kubernetes.github.io/ingress-nginx/examples/grpc/

1: The Dockerfile link on that page doesn't work, but it does from this file: https://github.com/kubernetes/ingress-nginx/tree/main/docs/examples/grpc

2: The doc page states, as a prerequisite, "You have the nginx-ingress controller installed as per docs, with gRPC support" but I am unable to figure out what "with

[2021-10-14 05:54] KuberDriver commented on #7737
@ghrk91 friendly reminder!

[2021-10-14 07:25] zhiweiv opened #7809 "Example after helm chart installed"
After helm chart installed, there will be an example output to console like following
[code]
Since the annotation kubernetes.io/ingress.class has been deprecated, should it be removed from example?

[2021-10-14 10:06] conan-k-chang opened #7810 "cannot install 1.0.4 on K8s v1.19"
**NGINX Ingress controller version**: 1.0.4

**Kubernetes version**: v1.19.13-gke.1200

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Container-Optimized OS from Google
- **Kernel** (e.g. `uname -a`): 5.4.129
- **Basic cluster related info**:
  - `Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.13-gke.1200", GitCo

[2021-10-14 11:24] mblaschke opened #7811 "Custom headers via annotation (make it bulletproof instead of using configuration-snippet)"
It would be helpful to have support for custom headers via annotation instead of using the snippet annotation

[code]

this is more failproof then using `more_set_headers` as this could break nginx configuration. a dedicated header annotation would also be easier for normal developers without nginx knowledge.

ingress-nginx should be able to fetch all `headers.nginx.ingress.kubernetes.io/*` annota

[2021-10-14 11:26] longwuyuan commented on #7809
Hi,
We are maintaining 2 editions of the controller. One from the legacy branch and to support older specs and another from the main branch, that is meant for newer specs. So that annotation applies to the legacy edition.

We should add documentation that explains this but we don't have enough resources. Would you be interested in submitting a PR that adds this explanation in the, faq ection of th

[2021-10-15 01:17] zhiweiv commented on #7809
@longwuyuan
However, I still have a question, this is my guessing, if I install helm chart 4.x(with ngic 1.x), it will show example from
https://github.com/kubernetes/ingress-nginx/blob/helm-chart-4.0.6/charts/ingress-nginx/templates/NOTES.txt

if I install helm chart 3.x(with legacy ngic), it will show example from
https://github.com/kubernetes/ingress-nginx/blob/helm-chart-3.39.0/charts/ingress-

[2021-10-15 07:07] danielbecroft commented on #7626
Apologies for the delay @carolize @longwuyuan . It turns out that the issue was actually a problem with how our AKS cluster had been provisioned.

(For anyone that hits the same issue)

We'd provisioned our AKS cluster so that the pods were getting IP addresses in the 172.24.80.0/21 subnet, which was all working fine. But, we'd misunderstood the meaning of the "service CIDR should not be routeable

[2021-10-15 08:19] danivendetta commented on #5968
@damienleger Thanks, I've edit the post.

[2021-10-15 08:43] longwuyuan commented on #7807
I re-read your message.
I am submitting a PR for the change in the link to the Dockerfile and a chance to the text. https://github.com/kubernetes/ingress-nginx/pull/7814
And yes, setting the backend-protocol attribute is the use of this annotation https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-protocol and yes it occurs separately from the controller

[2021-10-15 09:28] LoonyRules commented on #7747
-- Upgrading to https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.0.4 to see if this has any affect on our initial issue. As for the connections drops mentioned in https://github.com/kubernetes/ingress-nginx/issues/7747#issuecomment-940810164 I still have no clue why it's happening and we have even increased the proxy-connect-timeout and proxy-read-timeout values to ensure it

[2021-10-15 12:56] aledbf commented on #7781
@rikatz for inspiration :) https://github.com/aledbf/ingress-nginx/commit/ead3cba66893f8dd3a1ae1437d35f0467a8a8ea5
Without OpenSSL 3, the only option is to use 1.0, which is hard to justify, like no tls1.3 support. That said, the other awful thing is the size of the image :(
Have fun!

[2021-10-15 16:37] cintoSunny opened #7815 "nginx-ingress controller not redirecting https traffic"
We have deployed superset to an EKS cluster. We want TLS terminated at the Ingress controller. We are using the nginx-ingress controller for this.
This is how I set up the entire setup.
`GSLB Vip → Nginx ingress controller → http → ingress → service → pod`

When we enter the URL/login/ on the browser, it gets redirected to `login` again after we provide the credentials. On a new tab if I then open

[2021-10-16 02:35] #7737 closed

[2021-10-16 07:58] tao12345666333 commented on #7240
The image used in our current project is already in k8s.gcr.io, I think this issue can be closed.  Feel free to reopen it, if you have any question.

https://github.com/kubernetes/ingress-nginx/blob/5a52d99ae85cfe5ef9535291b8326b0006e75066/charts/ingress-nginx/values.yaml#L587-L595

/close