[2018-02-09 19:30] pkelleratwork opened #2060 "Ingress cannot connect to service - serves 404 backend"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-02-09 20:18] aledbf commented on #2060
@pkelleratwork how are you testing this? You should be using something like
`curl -v http://<azure LB IP/ -H 'Host: poppy.domain.com'`

[2018-02-09 20:20] pkelleratwork commented on #2060
directly hitting the url after deploying it- gives a 404

[2018-02-09 20:23] pkelleratwork commented on #2060
heres the curl result...
[code]

[2018-02-09 20:55] aledbf commented on #2060
@pkelleratwork ok, this is working as expected. If you set a TLS section you will be redirected to HTTPS

[2018-02-09 20:55] aledbf commented on #2060
@pkelleratwork add `-L` to curl

[2018-02-09 20:59] pkelleratwork commented on #2060
@aledbf - thank you sooo much for helping me.
here's the "-H" results

[code]

[2018-02-09 21:12] pkelleratwork commented on #2060
ingress controller describe

[code]

[2018-02-09 21:13] pkelleratwork commented on #2060
service describe

[code]

[2018-02-09 21:16] pkelleratwork commented on #2060
web pod describe

kubectl describe pod poppy-59f8b94868-jbq2f
Name:           poppy-59f8b94868-jbq2f
Namespace:      default
Node:           aks-agentpool-36585486-2/10.240.0.6
Start Time:     Fri, 09 Feb 2018 15:03:52 -0600
Labels:         app=poppy
                pod-template-hash=1594650424
Annotations:    kubernetes.io/created-by={"kind":"SerializedReference","apiVersion":"v1","reference":{"k

[2018-02-09 23:56] gyliu513 opened #2061 "can I set ingress controller use a specified network interface?"
I am installing Kubernetes in a cluster where  Kubenetes master has to run on the cluster management node.

I found that the ingress controller port 80 was conflict with another management process with port 80, the node is multi homed, so I can try to bind ingress controller to another interface, acn someone show me how to do such configuration? Thanks!

/cc @aledbf

**Is this a request for help?*

[2018-02-10 02:17] vhosakot opened #2062 "nginx-ingress-controller pod in CrashLoopBackOff state when `externalIPs` and `hostNetwork=true` are set"
**BUG REPORT**:

When `externalIPs` and `hostNetwork=true` are set in helm, I see the `nginx-ingress-controller` pod in `CrashLoopBackOff` state due to the following error when actually there is no port collision of http port `80` on any node in the cluster:

[code]

This issue is seen with both service type `LoadBalancer` and `ClusterIP`.

`controller.service.externalIPs={10.10.97.200}` and `cont

[2018-02-10 02:38] pkelleratwork commented on #2060
heres the log from my web listening on port 3000
[code]

[2018-02-10 10:06] gyliu513 commented on #2047
@fengyd2018 As a workaround, you can add a parameter of `- --report-node-internal-ip-address=true` to ingress to enable it can still report internal ip.

@aledbf post some comments at https://github.com/kubernetes/ingress-nginx/pull/1503 , hope can get some feedback from you.

[2018-02-10 12:54] xiaoping378 commented on #1567
Use the [default](https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/with-rbac.yaml) nginx ingress-controller, and setting the ingress as below  will be OK.
[code]

[2018-02-10 15:26] aledbf commented on #2047
@gyliu513 we cannot do that. This should be an explicit option from the user, please check #1414
and #1407. Those issues were the reason why the added the flag.

[2018-02-11 00:13] gyliu513 commented on #2047
Thanks @aledbf I did go through both  #1414 and #1407 , the problem is that the behavior of getting ip is changed.

The original logic is getting both externalIP and internalIP, but is treating externalIP as priority, if no externalIP, it will use internalIP https://github.com/kubernetes/ingress-nginx/blob/nginx-0.9.0-beta.12/core/pkg/k8s/main.go#L81-L102 , but current logic using a flag to enable

[2018-02-11 01:37] aledbf commented on #2051
Closing. As @Stono mentioned you can do this kind of customizations using the `configuration-snippet` annotation.
Please keep in mind we cannot add an annotations for all the possible configuration options

[2018-02-11 01:37] #2051 closed

[2018-02-11 01:38] aledbf commented on #2061
Closing. You can use the `--http-port` and `--https-port` to customize the ports
Please check https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/cli-arguments.md

[2018-02-11 01:38] #2061 closed

[2018-02-11 01:39] aledbf commented on #2049
Closing. Please update to the latest version and reopen if the issue persist

[2018-02-11 01:39] #2049 closed

[2018-02-11 01:42] aledbf commented on #2060
Closing. This is working as expected.
To fix the test you need to use something like
`curl -v -k --resolve poppy.domain.com:443:52.xxx.xxx.xxx http://poppy.domain.com`

The reason why you reach the default backend is that you are not sending SNI information and when you are being redirected NGINX doesn't know what host you are trying to reach

[2018-02-11 01:42] #2060 closed

[2018-02-11 04:59] Navruzjon commented on #610
@pawelprazak @perrefe Can you pls specify how to configure those? or any link could help. thanks

[2018-02-11 09:16] lawrencedudley commented on #1952
I'm concerned this may actually still be an issue.

Environment: Kubernetes 1.8.8, KOPS on AWS with RBAC.

If I create an ingress with a non-existing TLS certificate, then create the TLS certificate later, I get a reload as expected on 0.9.0.

0.10.2 however doesn't seem to want to accept the certificate until the nodes are restarted so I don't think this issue has actually been resolved.

[2018-02-11 16:07] aledbf commented on #2062
@vhosakot you cannot use hostNetwork=true if you already have another port running in port 80.

[2018-02-11 16:09] aledbf commented on #2062
Closing. Please reopen if you have more questions.

[2018-02-11 16:09] #2062 closed

[2018-02-11 16:10] aledbf commented on #2055
@gyliu513 we cannot do that because if you set a higher value than the configured for the pod the controller will never start.

[2018-02-11 16:10] #2055 closed

[2018-02-11 16:39] aledbf commented on #2047
Closing. Please add the flag `--report-node-internal-ip-address=true`

[2018-02-11 16:40] aledbf commented on #2047
Makes sense. The PR #2065 contains this change

[2018-02-11 16:40] #2047 closed

[2018-02-11 16:57] sathieu opened #2066 "COVERALLS_TOKEN should be secret"
Reading [a build log](https://travis-ci.org/kubernetes/ingress-nginx/jobs/340172683), there is:
[code]

But this token should be kept secret.

I suggest that you:
- generate a new token
- add it "secured" in .travis.yaml
- add a condition in the Makefile to only run goveralls if $COVERALLS_TOKEN is not empty (otherwise, PR will fail)

[2018-02-11 18:54] luckyfengyong opened #2067 "Allow user specified address as ADDRESS in ingerss resource"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

ADDRESS INGRESS STATUS
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

FEATURE REQUEST

**NGINX Ingress controller version**:

all the version

**Kubernetes version** (use `kubectl version`):

N/A

**What happened**:

In

[2018-02-12 00:49] frnckdlprt opened #2068 "Inconsistent ingress secret synchronization across nodes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): potential bug

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): default backend 404, sync,

[2018-02-12 01:05] aledbf commented on #2068
@frnckdlprt thank you for the report. Please use `quay.io/aledbf/nginx-ingress-controller:0.324`. It contains #2069

[2018-02-12 01:47] gyliu513 commented on #2047
Thanks @aledbf , I created another PR https://github.com/kubernetes/ingress-nginx/pull/2072 by setting the default value of `report-node-internal-ip-address`  as true to keep backward compatibility.

[2018-02-12 02:14] gyliu513 commented on #2067
/cc @aledbf

[2018-02-12 02:19] aledbf commented on #2067
@luckyfengyong you can achieve this using the flag `--update-status=false` in the deployment and updating the ingress status with the IP of your VIP manager.
Please keep in mind that this will be only informative and is not going to reflect where the Ingress controller pod it is running.

[2018-02-12 02:19] aledbf commented on #2067
Closing. Please reopen if you have more questions

[2018-02-12 02:42] luckyfengyong commented on #2067
@aledbf Thanks for the suggestion. Just try to understand, do you mean that user could manually update the [IngressStatus](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#loadbalanceringress-v1-core ), after ingress resource is created?

If that is the case, creating an ingress resource involves two steps 1) create the resource 2) update the IngressStatus.

It will be much more

[2018-02-12 02:47] gyliu513 commented on #2067
@aledbf so if I set `--update-status=false`, how can I update the `ADDRESS` with my vip manager? I need to write some plug-in for ingress to do this?

[2018-02-12 03:05] aledbf commented on #2067
Yes

You don't need an update, just create the ingress with the status field populated.

[2018-02-12 03:08] aledbf commented on #2067
You just use `kubectl patch`, no need to write a controller for that.

[2018-02-12 05:03] aledbf commented on #2066
@sathieu we cannot do that because then coveralls only runs in master and not the PRs itself

[2018-02-12 05:04] aledbf commented on #2066
Closing.

[2018-02-12 05:04] #2066 closed

[2018-02-12 05:14] vhosakot commented on #2062
@aledbf Thanks for the info. Yes, I do see `kube-proxy` also uses port `80` on one of the worker nodes and this causes port conflict for port `80` for the nginx ingress controller.

[code]

On worker node `node1-we2d86faeb2`, I see `kube-proxy` also using port `80` that causes port conflict for port `80` for nginx:

[code]

So, does this mean the nginx ingress controller does not work when `extern

[2018-02-12 05:17] aledbf commented on #2062
Yes but this is not a kube-proxy issue. You cannot run two or more pods listening in the same port. Keep in mind externalIPs only exists in iptables (kube-proxy)

[2018-02-12 05:37] #2068 closed

[2018-02-12 05:40] vhosakot commented on #2062
@aledbf Thanks. Agreed, multiple pods using the same port when `hostNetwork=true` cause port conflict. Using a different free port other than `80` for nginx's `--http-port` is a solution. Is there a way I can set nginx's `--http-port` to a value other than `80` using helm?

Per the helm documentaion in https://github.com/kubernetes/charts/blob/master/stable/nginx-ingress/README.md, if I set `contr

[2018-02-12 05:41] aledbf commented on #2062
@vhosakot I think the helm chart do not provides a setting for custom ports

[2018-02-12 05:45] vhosakot commented on #2062
@aledbf I see, that I what I thought too. Okay, I'll add a note in the helm docs that when `kube-proxy` (iptables) is used, setting `externalIPs` and `hostNetwork=true` is an invalid configuration as `kube-proxy` causes port conflict for port `80` for nginx and helm does not allow the user to change nginx's `--http-port`. Thanks for the info!

[2018-02-12 06:16] vhosakot commented on #2062
PR submitted to the `kubernetes/charts` repo about this info in the docs:

https://github.com/kubernetes/charts/pull/3694

[2018-02-12 06:56] frnckdlprt commented on #2068
@aledbf thank you much for your quick response. I could see 2 test runs going ok without 404, and each node showed "adding secret ... to the local store" within 5s of each other. More testing to come but this looks good, thanks again.

[2018-02-12 08:09] pawelprazak commented on #610
@Navruzjon at this point in time you shouldn't, ABAC is deprecated

[2018-02-12 09:23] marsangr opened #2073 "Small HSTS bug in template ingress-nginx/rootfs/etc/nginx/template/nginx.tmpl"
The following lines (604-606)

`{{ if (and (not (empty $server.SSLCertificate)) $all.Cfg.HSTS) }}
more_set_headers "Strict-Transport-Security: max-age={{ $all.Cfg.HSTSMaxAge }}{{ if $all.Cfg.HSTSIncludeSubdomains }}; includeSubDomains{{ end }};{{ if $all.Cfg.HSTSPreload }} preload{{ end }}";
{{ end }}`

set the HSTS header for both, HTTP and HTTPS schemata. However, [RFC 6797](https://tools.ietf.o

[2018-02-12 10:02] JordanP commented on #2043
Is your certificate valid for both foo.com and www.foo.com ?

[2018-02-12 11:11] d-lobo opened #2074 "proxy-redirect-* annotations dont have any effect on geenrated nginx.conf"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
nginx-ingress annotations proxy_redirect

[2018-02-12 14:42] aledbf commented on #2074
@d-lobo please update to the latest version or remove nginx from the prefix of the annotations.
The prefix was introduced in [nginx-0.9.0-beta.18](https://github.com/kubernetes/ingress-nginx/releases/tag/nginx-0.9.0-beta.18)

[2018-02-12 16:22] artemzakharov commented on #2043
No, it's for `www.foo.com` only. Does that actually matter though? It seems like it's not bringing up my certificate at all when I hit `https://foo.com`, hence why the browser sees a 'fake' kubernetes ingress controller fake certificate. Or does a mismatch cause the ingress to throw out a fake cert? Seems confusing if that's the case.

[2018-02-12 17:40] azweb76 commented on #2022
This appears to run on two of our clusters, but the 3rd does write the nginx.conf file. Same version, same configmap. All running on kube 1.9.2. My guess it's data related.

[2018-02-12 19:03] rikatz commented on #2022
Hum, maybe something with SSL certificates. We have a lot of them, but it used to work. What changed from 0.9 to 0.10?

[2018-02-12 20:25] azweb76 commented on #2022
Not sure, logs dont indicate a problem.

[2018-02-12 20:40] aledbf commented on #2022
@rikatz can you test `quay.io/aledbf/nginx-ingress-controller:0.324`? (using --v=10 in the deployment)

[2018-02-12 21:19] pkelleratwork commented on #2060
@aledbf - could you point me in the direction of a link describing how to do this? I have had no luck looking today. Would that go in a configmap or in the ingress? thx.

[2018-02-12 21:41] aledbf commented on #1965
Closing. Please reopen if you still have the issue after the update

[2018-02-12 21:41] #1965 closed

[2018-02-12 21:42] luckyfengyong commented on #2067
@aledbf I tried the solution. After running ingress controller with `--update-status=false`. I create an ingress resources as follows.

[code]

The ingress resource does not have `ADDRESS` associated

[code]

It seems user cannot create ingress resource with ADDRESS/HOSTS specified.

[2018-02-12 21:42] luckyfengyong commented on #2067
/cc @aledbf ^^^

[2018-02-12 22:09] aledbf commented on #2067
@luckyfengyong ok, it seems is not possible to do this using kubectl https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/extensions/ingress/strategy.go#L45

[2018-02-12 23:14] #2053 closed

[2018-02-13 00:06] luckyfengyong commented on #2067
Thanks for the info. @aledbf

For that case, do you think it is a valid requirement to allow ingress controller retrieve its endpoint from user specified parameter?

[2018-02-13 00:08] #1983 closed

[2018-02-13 00:10] aledbf commented on #2067
@luckyfengyong no because that is not part of the Ingress spec and the ingress controller "just" reads Ingress rules. When you create the rules the status is removed in the api server

[2018-02-13 00:20] luckyfengyong commented on #2067
@aledbf But ingress controller also has the responsibility to update the endpoint of the ingress resource into the status. For nginx ingress controller, the endpoint of the ingress resource is actually the endpoint of the nginx ingress controller.

Currently the nginx ingress controller try to figure out its endpoint based on the hints provided by admin, for example the service of ingress controll

[2018-02-13 00:47] luckyfengyong commented on #2067
@aledbf Is it OK to reopen the ticket?

[2018-02-13 02:04] luckyfengyong commented on #2067
Thanks @aledbf What about the proposal in https://github.com/kubernetes/ingress-nginx/issues/2067#issuecomment-365108709? We could submit a PR for it.

[2018-02-13 02:57] gyliu513 commented on #2067
The `runningAddresses()` was only called when sync up, and it still depends on status, how about adding an annotation for this?

[2018-02-13 03:31] aledbf commented on #2067
If we add this feature it must be behind a flag. If we add an annotation then we are allowing multiple IPs.

[2018-02-13 03:57] azweb76 commented on #2022
After debugging, it looks like this method never returns https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/store/store.go#L161

Removing these lines allows it to resume: https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/store/store.go#L249-L252

My guess is a race condition or something. I wish I knew more about golang and these A

[2018-02-13 04:32] luckyfengyong commented on #2067
Yes, the proposal is to add a flag just like `--publish-service`. The flag could be `--publish-address`

[2018-02-13 08:15] newmanwang opened #2079 "Feature request: Multiple proxy_directive"
Currently user can specify just one proxy_redirect directive through nginx ingress controller annotation, I think It will be nice to support multiple proxy_redirect directives.

**NGINX Ingress controller version**:
0.10.2

**Kubernetes version** (use `kubectl version`):
Kubernetes v1.9.2+coreos.0

**Cloud provider or hardware configuration**:
lenovo X230 laptop
**OS** (e.g. from /etc/os-release):

[2018-02-13 11:24] Dm3Ch commented on #2045
The problem is in https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/tcp.go#L50

We are checking only full match of domain name.

I think the best way is to make hostname matching as nginx do it. https://nginx.ru/en/docs/http/server_names.html

Could anyone of maintainers write what he think about it?

[2018-02-13 14:26] aledbf commented on #2045
@Dm3Ch wildcard hostnames are not allowed in the Ingress spec

[2018-02-13 14:26] aledbf commented on #2045
Closing. You need to specify the host.

[2018-02-13 14:26] #2045 closed

[2018-02-13 14:39] azweb76 commented on #2022
NAILED IT! https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/nginx.go#L109 is too low. Increased to 9024 which worked.

[2018-02-13 16:21] azweb76 commented on #2022
Introduced by this commit https://github.com/kubernetes/ingress-nginx/commit/e9a00ff916145735895a0fb03f04aadaae4d5e35

[2018-02-13 16:29] luckyfengyong commented on #2067
@aledbf any comment on above proposal?

[2018-02-13 16:42] aledbf commented on #2067
@luckyfengyong to avoid confusion please use `--publish-status-address`

[2018-02-13 17:55] aledbf commented on #2022
@rikatz please test `quay.io/aledbf/nginx-ingress-controller:0.325`

[2018-02-13 18:18] vladkras commented on #1817
@aledbf your command creates "tls" secret on my kube, so I removed it and used
[code]
and it seems to work now with nginx ingress

[2018-02-13 18:28] Dm3Ch commented on #2045
@aledbf Thank you for answer.

Suddenly I am forced to use ssl-throughpass for wildcard, and now I am using self-patched nginx-ingress.

Could you please explain why wildcard hostnames are not allowed for ssl-passthrough? I want to know it because I want to know what problems could I get.

[2018-02-13 18:32] aledbf commented on #2045
@Dm3Ch basically is not supported because you could define an Ingress for a particular host and then another one with a wildcard that overlaps the specific one. The other issue is that not all the implementations support this feature

[2018-02-13 18:56] rikatz commented on #2022
@mrrandrade Can you please take a look in the image provided by @aledbf to see if this solves our problem?

Also, please make a count of number of ingress, services and endpoints that we have in our environment :)

Thanks!!

[2018-02-13 20:27] vhosakot commented on #935
Does multiple `ingress-nginx` controllers work per the documentation in https://github.com/kubernetes/ingress-nginx/blob/master/README.md#running-multiple-ingress-controllers? @aledbf, @troian - can you confirm this? Has anyone tried it? Thanks!

[2018-02-13 20:45] SaaldjorMike commented on #935
@vhosakot I'm currently running a couple of clusters that each have two ingress controllers. I use the same approach specified in the docs that shows how to use ingress class annotation to set which ingress controller should pick up a given ingress object.

[2018-02-13 21:05] vhosakot commented on #935
great, thanks for the confirmation @SaaldjorMike! 👍

[2018-02-14 01:46] #2022 closed

[2018-02-14 07:43] troian commented on #935
Yeah, that works, thanks

[2018-02-14 08:04] vhosakot commented on #935
Thanks for the confirmation @troian! 👍

[2018-02-14 09:03] saschak094 opened #2083 "Unable to assign address to ingress"
**NGINX Ingress controller version**: nginx-ingress-controller:0.10.2

**Kubernetes version**:  v1.8.1

**Environment**:
AKS

**What happened**:
After 3 days running the nginx-ingress-controller it seems that the controller got stuck and it stopped to update the ingress with the ip of the controller-service.

The log of the controller shows that it properly creates the ingress entries, but once th

[2018-02-14 11:09] ael-g opened #2085 "Nginx-ingress v0.10.2 not updating status.loadBalancer.ingress on Ingress rules"
**BUG REPORT**

I'm running Kubernetes `v1.8.3` on AWS with RBAC activated, I've installed nginx-ingress through helm chart `nginx-ingress-0.9.1`.
When adding ingress rules to the cluster `status.loadBalancer.ingress` stays like empty:
[code]

However an ELB has been created with a CNAME on it:
[code]

I expect to have `status.loadBalancer.ingress.hostname` on ingress rules to be filled by the ngi

[2018-02-14 14:08] Stono commented on #1968
@aledbf I've finally got to the bottom of this.
I'm using `istio` on our cluster, which wraps `nginx-ingress-controller` in envoy, what basically happens is this:

  - proxy_init container starts and adds iptables rules to intercept outbound traffic
  - nginx-ingress-controller and envoy start **at the same time**
  - nginx-ingress-controller attempts to read `kubernetes.default/version` before `i

[2018-02-14 14:19] DocValerian commented on #1810
Hey @shavo007, did you by any chance solve this already?

I am having the exact same problem. I configured kube lego to get me the cert -> which it did successfully. The Cert is there as a secret, it is configured in the ingress config properly.
However, I do not get these valid certificates back from nginx. (0.9.0) And I see this line in the ingress logs:
`backend_ssl.go:64] adding secret namespa

[2018-02-14 15:19] maennchen commented on #2003
I know that it is possible for TCP services, but I don't think that it's currently possible for SSL Passthrough.

[2018-02-14 15:58] Stono opened #2087 "disable-access-log at the ingress level"
Hey,
It'd be great if there was an ingress level control for the `access-log`, rather than the current overall configmap.

As an example; we have an ELK stack where the logs from elasticsearch ingress (from logstash) create a LOT of logs, and we don't want these, however we are very interested in user logs hitting Kibana.

They're defined as separate ingresses so being able to annotate the elastic

[2018-02-14 17:17] aledbf commented on #2087
@Stono sure, in the meantime you can use the snippet annotation to disable the logs

[2018-02-14 17:18] aledbf commented on #2085
@ael-g do you have the `--publish-service` flag in the deployment?

[2018-02-14 18:36] juliohm1978 opened #2088 "Need to monitor using a third-party agent that requires nginx to LD_PRELOAD a proprietary precompiled library. Any suggestions?"
So, here's a question.

I'm running an helm chart installation of nginx-ingress controller under Kubernetes 1.8.6 and, by far, it works as expected.

However, I have a requirement brought on by our legacy non-docker/non-kubernetes infrastructure. In our old architecture, nginx instances are monitored using [DynaTrace's AppMon](https://www.dynatrace.com/support/doc/appmon/installation/set-up-agents

[2018-02-14 19:07] aledbf commented on #1968
@Stono please try `quay.io/aledbf/nginx-ingress-controller:0.327`

[2018-02-14 19:10] aledbf commented on #2088
@juliohm1978 not sure this will work but you can try to just add `LD_PRELOAD=/path/to/libdtagent.so` as an environment variable

[2018-02-14 19:10] pieterlange commented on #2088
You could probably run the agent as a sidecar container as all containers in the pod share the kernel namespace. That way you can also get the `libdtagent.so` available for the main nginx container without needing to modify nginx-ingress (via `emptyDir` volume sharing). This makes for way easier maintainance.

[2018-02-14 19:15] Stono commented on #1968
No joy I'm afriad @aledbf:

As you can see, 1 restart on both instances of my controller:
[code]

Looking at the previous logs:
[code]

This is marginally better than before (typically I had a couple of pod crashes)!   From looking at your code though if i'm reading it right you're only doing 50ms backoffs?  Probably needs to be a bit longer to give the other pod time to boot + pull its configurat

[2018-02-14 19:23] aledbf commented on #1968
@Stono try `quay.io/aledbf/nginx-ingress-controller:0.328`

[2018-02-14 19:28] Stono commented on #1968
Still the same :'(

[code]

[code]

Looking at the time between the logs though `Creating API client for` was at `19:25:20.053087` and then the error was at `19:25:20.054335`, i'm not sure that backoff is actually working?  Perhaps some more logs showing "Trying..." or something?

[2018-02-14 20:07] aledbf commented on #1968
@Stono please use ` quay.io/aledbf/nginx-ingress-controller:0.329`

[2018-02-14 20:30] morganwu277 commented on #1817
@aledbf

I have followed this https://github.com/kubernetes/ingress-nginx/blob/master/docs/examples/PREREQUISITES.md#creating-the-ca-authentication-secret link and use `kubectl create secret generic ca-ingress-tls--namespace=default --from-file=ca.crt=<ca.crt>` to create the caingress, after a Ingress-Controller start, it still tells me
[code]

from https://github.com/kubernetes/ingress-nginx/blob

[2018-02-14 20:38] Stono commented on #1968
Will check it out in the morning, thanks!

On 14 Feb 2018 8:08 pm, "Manuel Alejandro de Brito Fontes" <
notifications@github.com> wrote:

[2018-02-14 20:57] Justkant opened #2090 "Proposal: Master nginx controller and nginx controller per ingress"
# Master nginx controller and nginx controller per ingress

## Motivation
Currently the only way to avoid closing active long term connections during the deployment of new pods is to create a second nginx controller and use the option `--ingress-class`.
Using this method you need another service in front of the new controller and this usually means that you cannot use the same IP for both controll

[2018-02-14 21:05] aledbf commented on #2090
@Justkant we are working on a solution that will remove the reloads.

[2018-02-14 21:05] Justkant commented on #2090
@aledbf using lua ?

[2018-02-14 21:07] aledbf commented on #2090
@Justkant yes for the upstream server part.

[2018-02-14 22:15] mrrandrade commented on #2022
@aledbf : New image fixed it; Nginx now starts correctly.

Also as requested by @rikatz

[code]

[2018-02-14 22:20] aledbf commented on #2022
@mrrandrade thank you for the update and the details

[2018-02-14 23:17] rikatz commented on #2022
Thank you guys!!

[2018-02-15 05:19] #2013 closed

[2018-02-15 05:30] NVNRavi opened #2094 "Blocking HTTP"
We are using AWS with `ngnix`  controller. We would like to block HTTP  and allow only HTTPs. Please let us know what are the options / annotations for this ?
I could see `kubernetes.io/ingress.allow-http` available only for `gce` controller. So any alternative for this?

[2018-02-15 05:36] aledbf commented on #2094
@NVNRavi there is no option for this. The annotation `kubernetes.io/ingress.allow-http` only works in the gce ingress controller. The only option is to not expose the HTTP port or to use the configuration snippet annotation to force redirect to https

[2018-02-15 08:23] Stono commented on #1968
Yup, only seeing the error once @aledbf:

[code]

I'd expect to be seeing `unexpected error discovering Kubernetes version` multiple times

[2018-02-15 08:26] NVNRavi commented on #2094
Thanks. Can you elaborate what is the significance of `ssl-redirect` (https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md)  does? Does it help ?

[2018-02-15 08:41] pieterlange commented on #2094
You linked to the piece of documentation that exactly describes what happens: if you've properly configured TLS for your ingress, the user is automatically redirected to HTTPS on any request.

If you want to completely block HTTP, simply don't route port 80 to the ingress controller.

[2018-02-15 13:54] farcaller opened #2095 "nginx.ingress.kubernetes.io/auth-tls-secret breaks kube-lego"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): lego

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

**NGINX Ingress controller version**:

0.10.2

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configurati

[2018-02-15 14:47] mvineza opened #2096 "Whitelist not working"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): yes

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): whitelist

---

**Is this a BUG REPOR

[2018-02-15 15:22] ael-g commented on #2085
Wow thanks for your help! This solved the problem, I should have read the doc more carefully.

[2018-02-15 15:22] #2085 closed

[2018-02-15 16:49] aledbf commented on #2095
@farcaller unfortunately, this is not supported in nginx because [ssl_client_certificate](http://nginx.org/en/docs/http/ngx_http_ssl_module.html#ssl_client_certificate) is not supported in a location

[2018-02-15 16:50] farcaller commented on #2095
@aledbf it's not a problem, nginx just shouldn't 308 the kube-lego ingress in the http server.

[2018-02-15 16:53] aledbf commented on #2095
@farcaller right, if you don't want the default behavior you can use a custom template, checking the location before the redirect here https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L701

[2018-02-15 16:55] farcaller commented on #2095
My point is that the default behavior isn't exactly brilliant and is also confusing, because kube-lego **will** work the first time when there's no ssl cert yet and only break afterwards.

[2018-02-15 16:57] aledbf commented on #2095
How nginx knows kube-lego URL should behave differently? This could be desirable in other situations, and for that, you have the option to use a custom template.

[2018-02-15 16:58] aledbf commented on #2095
@farcaller you are more than welcome to send a PR adding a global configuration in the configmap to check if the request should be redirected or not checking the path

[2018-02-15 16:58] farcaller commented on #2095
They are defined in a dedicated ingress without a tls block, thus the configuration of the user-supplied ingress shouldn't influence them to the point of breakage, I think.

[2018-02-15 17:07] aledbf commented on #2096
@mvineza please use the issue template to provide context.
Check the logs to make sure you see the real source IP address of the clients

[2018-02-15 17:20] aledbf commented on #1968
@Stono please use `quay.io/aledbf/nginx-ingress-controller:0.330`

[2018-02-15 17:26] aledbf commented on #1968
and also `quay.io/aledbf/nginx-ingress-controller:0.331`

[2018-02-15 17:27] aledbf commented on #1968
@Stono I think 0.331 is the one. I am sorry to bother with the tests but I cannot reproduce this issue

[2018-02-15 17:44] Stono commented on #1968
It's OK @aledbf - no joy with 331 either, this is running with `--v=2` too:

[code]

[2018-02-15 17:56] aledbf commented on #1968
@Stono last test, I promise :)
`quay.io/aledbf/nginx-ingress-controller:0.332`

[2018-02-15 18:02] Stono commented on #1968
You retry works now, it's just still a bit too fast haha.

[code]

[2018-02-15 18:08] aledbf commented on #1968
`quay.io/aledbf/nginx-ingress-controller:0.333`

[2018-02-15 18:08] Stono commented on #1968
I've gotta nip out for a few hours but will test that when i'm back - sorry!

[2018-02-15 19:54] pkelleratwork opened #2097 "Scaling Websockets fails when scaling past 1 pod - gives round-robin 400 errors"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-02-15 21:56] Stono commented on #1968
It worked, yay!

[code]

[2018-02-15 22:05] aledbf commented on #1968
@Stono this takes too long. Is this "normal"?

[2018-02-15 22:05] aledbf commented on #1968
@Stono if you remove the istio proxy this there is no problem right?

[2018-02-15 22:06] Stono opened #2098 "GeoIP data is missing organisation database"
Hey,
We're unable to do org lookups from IP because the geoip data is missing the GeoIPASNum database.

Just needs adding (will do a PR)

[2018-02-15 22:10] #2098 closed

[2018-02-15 22:13] Stono opened #2100 "Allow run time updating of GeoIP databases"
Hey,
At the moment, the following GeoIP databases are downloaded as part of the nginx base image build:

[code]

These databases get updated (GeoIPASNum more than others), and I think it'd be nice to find a way to update this outside the update cycle of `ingress-nginx`

I'm unsure however, the best way to do this so didn't want to implement a PR without talking it through first.  I see the followi

[2018-02-15 22:19] aledbf commented on #1968
:+1:

[2018-02-16 00:05] aledbf commented on #2100
@Stono what we can do is to change the path of the files to a directory like `/etc/nginx/geoip` and then you can use a custom deployment with an additional container that updates the file and an `emptyDir` volume mounted in `/etc/nginx/geoip`

[2018-02-16 00:15] azweb76 commented on #2096
@aledbf Looks like if `--ssl-passthrough` is enabled, the nginx controller uses proxy protocol for HTTPS. `use-proxy-protocol` must be enabled for nginx to unwrap the IP for use in the whitelist. When proxy protocol is enabled, it is enabled for 80 and 443. With `--ssl-passthrough` enabled, the whitelist does not work unless `use-proxy-protocol: "true"` is set. The problem for us, is that our load

[2018-02-16 00:21] aledbf commented on #2096
Correct, we just pipe the TCP connection to the backend.

[2018-02-16 00:22] azweb76 commented on #2096
Do you think we can expose an option to not enable proxy protocol for HTTP?

[2018-02-16 00:23] DylanGraham commented on #1824
I was stuck on this for a day or so!
It seems even though `nginx.ingress.kubernetes.io/proxy-body-size` is recommended, `ingress.kubernetes.io/proxy-body-size` actually works. Maybe I'll update my cluster and test again.

[code]

[code]

[2018-02-16 00:24] azweb76 commented on #2096
Basically our load balancer does not use proxy protocol and its only `--ssl-passthrough` that is requiring proxy protocol by nginx.

[2018-02-16 00:26] azweb76 commented on #2096
Or we need to have the controller handle port 80, then forward to maybe 81 and wrap it with proxy protocol if `--ssl-passthrough` is enabled.

[2018-02-16 01:52] mvineza commented on #2096
@aledbf Done updating issue using the template. I confirm that the IP that is being shown on the nginx logs is the IP where I am connecting from which is from my laptop.

[2018-02-16 02:05] mvineza commented on #2096
@azweb76 It is not enabled. Here is the "deploy/nginx-ingress-controller" args

[code]

[2018-02-16 05:41] AnilKumarP003 opened #2101 "Nginx giving 404 not found always in kubernetes"
I am pasting nginx.conf content below:

   ## start server _
    server {
        server_name _ ;

        listen 80 default_server  backlog=511;

        listen [::]:80 default_server  backlog=511;

        set $proxy_upstream_name "-";

        listen 443  default_server  backlog=511 ssl http2;

        listen [::]:443  default_server  backlog=511 ssl http2;

        # PEM sha: ddd8327f383fde357

[2018-02-16 10:09] sathieu opened #2103 "Changes to ConfigMap are not propagated"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): no

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): default, propagated, propagate,

---

[2018-02-16 13:51] d-lobo commented on #2074
mhh are you really sure about this ? I upgraded image to version `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.10.2`, assuming this is the latest version.
I changed also the annotations, but it is still not working (I tried both, old annotations and new annotations). I removed all the custom templates and redeployed the ingress controller and ingress rules. The generated `nginx

[2018-02-16 15:34] Stono commented on #2100
@aledbf that makes sense, but then how would that side car trigger an nginx -s reload when the db changes?

[2018-02-16 15:39] aledbf commented on #2100
I was thinking to just wait until the next event that triggers an update in the controller

[2018-02-16 15:40] aledbf commented on #2100
@Stono or run nginx -s reload using `kubectl exec` from the side car

[2018-02-16 16:19] Stono commented on #2100
hmm then i'd have to give the sidecar RBAC access to exec pods on kubectl which feels a bit wrong ;'(

[2018-02-16 16:49] aledbf commented on #2100
@Stono ok, then I can add another notify listener for the geoip directory and trigger a reload like here https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/nginx.go#L170

[2018-02-16 18:47] Stono commented on #2100
Ahh great idea @aledbf - leave it with me and I'll do a PR!

[2018-02-16 19:54] Stono commented on #2100
OK @aledbf - gave it my best shot!  See the attached PR

[2018-02-16 21:14] #2097 closed

[2018-02-16 21:15] pkelleratwork commented on #2097
found issue with ingress not applying upstream-has-by. will open bug for that.

[2018-02-16 21:31] pkelleratwork opened #2108 "Ingress annotation "nginx.ingress.kubernetes.io/upstream-hash-by" not applying to ingress-controller"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-02-16 22:09] anderfsilva commented on #1120
I am facing the same issue using Nginx Ingress on AWS. Unfortunately  it took me 10+ hours to find this thread. :(

[2018-02-16 22:18] nhumrich opened #2109 "Invalid HTTP 400 being sent always by nginx"
**NGINX Ingress controller version**:
latest: 0.10.2

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"", Minor:"", GitVersion:"v1.9.0", GitCommit:"925c127ec6b946659ad0fd596fa959be43f0cc05", GitTreeState:"clean", BuildDate:"2018-01-26T19:04:38Z", GoVersion:"go1.9.1", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:
minikube/aws (I dont think it matters)

[2018-02-16 22:56] victortrac opened #2110 "Copying from ConfigMap README results in invalid ConfigMap character (non-breaking hypen)"
The current [ConfigMap README](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/configmap.md) has a list of configuration names that use a unicode non-breaking hyphen instead of an actual hyphen. While the advantage is that the table is single-lined, it means that users who copy the config names and paste them into their config maps get a configuration that is ignored.

Visu

[2018-02-16 23:02] #2110 closed

[2018-02-17 00:23] aledbf commented on #2088
Closing. Please reopen if the suggested approach does not work.

[2018-02-17 00:23] #2088 closed

[2018-02-17 00:26] aledbf commented on #2109
@nhumrich the annotation `ingress.kubernetes.io/configuration-snippet` should be `nginx.ingress.kubernetes.io/configuration-snippet`

[2018-02-17 02:30] mau21mau commented on #2007
I'm having the same issue. Unlike the author one, my ingress doesn't have any special hyphen.

`apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: ingress-routes
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-read-timeout: 1200
    nginx.ingress.kubernetes.io/proxy-send-timeout: 1200
spec:
  tls:
  - secretName: nginxsecret
  rules:
  - ht

[2018-02-17 16:19] aledbf commented on #2094
Closing. Please reopen if you have more questions

[2018-02-17 16:19] #2094 closed

[2018-02-17 20:24] #2100 closed

[2018-02-17 20:25] #1968 closed

[2018-02-17 20:26] marcellodesales commented on #1931
@achanda @aledbf what's the complete command?

[2018-02-17 23:45] mosaa1212 opened #2113 "mosa"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-02-18 00:55] mau21mau commented on #2108
I'm facing the same issue. My timeout annotations are not being applied.

[2018-02-18 02:16] #2113 closed

[2018-02-18 19:35] Preskton commented on #2010
@farcaller have you tried setting `kubernetes.io/ingress.allow-http` to `false`?

[2018-02-19 00:29] DylanGraham commented on #2108
This annotation applied for me, have you tried the latest version?
[code]

[2018-02-19 14:58] sylmarch opened #2114 "Access log - Default format is not consistent with documentation (missing "X-Forwarded-For" header)"
**Is this a request for help?** : No, it's a bug report.

**What keywords did you search in NGINX Ingress controller issues before filing this one?** :
 - access log format

---

**Is this a BUG REPORT or FEATURE REQUEST?** : BUG REPORT

**NGINX Ingress controller version**: `0.10.2`

**Kubernetes version** :
[code]

**Environment**:

- **Cloud provider or hardware configuration**: bare metal
- **

[2018-02-19 15:21] sylmarch commented on #2114
If the fix is applied, `log-format-upstream` entry in "Configuration options" table should be updated too on this page ([ingress-nginx/docs/user-guide/configmap.md](https://github.com/kubernetes/ingress-nginx/blob/131fdf1e01b95ab0ca1058dcd1bcede6495b822c/docs/user-guide/configmap.md)), i.e:
[code]
should be replaced by:
[code]

[2018-02-19 16:01] azman0101 opened #2115 "DefaultBackend HSTS Max-Age override value"
HELP REQUEST

Is this value [hstsMaxAge](https://github.com/kubernetes/ingress-nginx/blob/42076e8ed050214127368b87c09205b3b8bf2f1d/internal/ingress/controller/config/config.go#L46) override configmap [Max-Age-HSTS](https://github.com/kubernetes/ingress-nginx/blame/131fdf1e01b95ab0ca1058dcd1bcede6495b822c/docs/user-guide/configmap.md#L54) for defaultbackend ?

Regards,

Az

[2018-02-19 17:04] pkelleratwork commented on #2108
@DylanGraham - thanks for the suggestion. I upgraded from 9.0 beta 15 to 0.10.2 and it worked - my annotations are there now.

thanks again - I really appreciate you taking the time to help me out.

[2018-02-19 17:04] #2108 closed

[2018-02-20 09:42] yastij opened #2116 "Collect metrics of QPS per backend"
Hello, Currently I'm using Horizontal Pod Autoscaler, and I'm trying to scale based on QPS per backend.

Seems that currently we do not have something like :

[code]

[2018-02-20 09:45] bilalyasar opened #2117 "nginx ingress controller invalidates all sessions after one connections timeout"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): NO

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): proxy_timeout

---

**Is this a BUG RE

[2018-02-20 10:29] pieterlange commented on #2117
Is there a liveness or readiness check on the backend? It might just be that kubernetes is stopping connections to the backend or even killing the backend.

[2018-02-20 19:54] tobernguyen commented on #1839
Hi @aledbf ,

I tried to use `quay.io/aledbf/nginx-ingress-controller:0.311` as the image for the helm installation but it didn't work. The `nginx-ingress-controller` keep crashing. This is the log from that pod:

[code]

My deployment command (censored loadBalancerIP):
[code]

[2018-02-20 19:58] aledbf commented on #1839
@tobernguyen you are using an old version of the chart. The flag `--nginx-configmap` was replaces a year ago with `--configmap`

[2018-02-20 20:52] tobernguyen commented on #1839
@aledbf thanks it works now. But I didn't see the correct IP when reading logs from `nginx-controller` pod. How can I fix this?

[2018-02-20 20:53] aledbf commented on #1839
@tobernguyen please check the deploy guides in this repository (externalTrafficPolicy could be the reason)

[2018-02-20 20:58] tobernguyen commented on #1839
@aledbf You were right. I change `externalTrafficPolicy` to `Local` then everything works as expected. Thank you very much!

[2018-02-20 21:41] eduardobaitello opened #2123 "Wrong targetPort in the Example files?"
In [this example](https://github.com/kubernetes/ingress-nginx/blob/809aab7c823f6ec71efabfec07c333583c8ea883/deploy/provider/aws/service-l7.yaml#L27) the _targetPort_ should be **https** instead of **http** or am I misleading how this works?

[2018-02-20 21:44] aledbf commented on #2123
@eduardobaitello when you terminate SSL using an ELB you only L7 support in the backend. This means all the traffic between the ELB and the ingress controller is done using port 80.

[2018-02-20 21:44] #2123 closed

[2018-02-20 22:00] mattdodge commented on #2045
Are wildcards not supported at all or it's just that they produce some undefined behavior? We've been using wildcard hosts with TLS and the nginx ingress controller successfully for quite some time now. I don't see anywhere in the ingress docs where it says wildcards are prohibited.

However, it does create some strange behavior if you have multiple hosts that match. For example `*.domain.com` and

[2018-02-20 23:44] #553 closed

[2018-02-21 00:22] aledbf commented on #2045
@mattdodge wildcard certificates are supported. What is not supported is to define `host: "*.aaa-bbb.example.domain"` in the ingress rule

[2018-02-21 00:54] nelsonfassis commented on #2058
I have the same problem. Commenting out livenessProbe and readynessProbe fix the issue, containers get created and works normally.
Trying to curl <controller-internal-ip>:10254/healthz from another pod in the same namespace returns ok

Increasing initial delay and timeout seconds didn't solve.

I noticed that I get a HUGE increase on cpu usage and lots of iowait when using livenessProbe/readinessP

[2018-02-21 00:58] aledbf commented on #2058
@nelsonfassis please use `quay.io/aledbf/nginx-ingress-controller:0.334`

[2018-02-21 01:04] nelsonfassis commented on #2058
Same issue @aledbf

sandbox-ingress-controller-5fdbd94d7d-zs5sd
Running
0
24 seconds
-
764 Ki
Readiness probe failed: Get http://10.244.4.169:10254/healthz: dial tcp 10.244.4.169:10254: getsockopt: connection refused

[2018-02-21 01:05] aledbf commented on #2058
@nelsonfassis can you add the flag `--v=10` and post that a gist? (please remove private information)

[2018-02-21 03:59] mattdodge commented on #2045
I was talking about both hosts and certificates. We've been using both successfully. Only in the case when a non-wildcard also matches a wildcard is there strange behavior. Where are you seeing that wildcards are not supported in hosts?

We have this ingress spec currently working with the nginx ingress controller just fine:
[code]

[2018-02-21 08:53] #619 closed

[2018-02-21 12:38] dereulenspiegel opened #2126 "Proposal: Make nginx ingress ready for use with service meshes"
We are currently in the odd situation that we want to use the nginx ingress combined with the istio service mesh. We have already a test environment running with this configuration, but in a hacky way.
There were some changes necessary to the config template used by this controller to correctly route requests from nginx through the service mesh.
Before I start implementing our changes in a nicer w

[2018-02-21 12:47] aledbf commented on #2126
@Stono can you post feedback about Istio / nginx ingress controller?

[2018-02-21 12:54] dereulenspiegel commented on #2126
Not sure about this one. If we use the service name then we cannot have multiple paths in a single host, like:
Not sure what you mean, with our setup we are currently using multiple services within one ingress. What I meant was that the line
[code]
needs to be replaced with
[code]
Otherwise the target for the service mesh would be the external hostname and not the service name. I think you could a

[2018-02-21 12:58] aledbf commented on #2126
Sorry, I wasn't thinking about that. With that example it makes sense.

[2018-02-21 13:01] dereulenspiegel commented on #2126
So, could make sense to always set the `Host` header to the service name if we are using service upstreams or are there use cases where I still would like to have the external hostname in the `Host` header? Then we probably need a new annotation (except I missed another one, which everything but unlikely :) ).

[2018-02-21 13:07] aledbf commented on #2126
No

This. We cannot break the current behavior when the annotation `nginx.ingress.kubernetes.io/service-upstream` is used. Add a new annotation, something like `service-name-in-host-header: "true"`
(or another name you propose ;) )

[2018-02-21 13:19] Stono commented on #2126
Hey all!
This isn't such an odd position, we do it too and I talk with the istio team regularly about using using ingress controllers than the one they provide.

We have the following configuration:

Public Internet -> [nginx-ingress -> envoy] -> [envoy -> upstream-service -> envoy]

Note that there is no envoy on the way in, from the public internet, please see:

https://github.com/istio/istio/is

[2018-02-21 13:35] Stono commented on #2126
Btw my last two annotations I believe resolve your problem

[2018-02-21 13:37] aledbf commented on #2126
@Stono thanks for the feedback :+1:

[2018-02-21 13:49] Stono commented on #2126
Anytime \o/

On 21 Feb 2018 1:37 pm, "Manuel Alejandro de Brito Fontes" <
notifications@github.com> wrote:

[2018-02-21 14:13] svenbovens commented on #1405
This worked for me:

[code]
The backend configuration seemed to be required for the redirect config to be picked up, even though it will never be used in this case. I also disabled the ssl redirect to prevent a double redirect.

[2018-02-21 14:23] aledbf commented on #2037
Closing. You can use the `configuration-snippet` annotation to add nginx configurations that inspect the path and act accordingly.

[2018-02-21 14:23] #2037 closed

[2018-02-21 14:25] aledbf commented on #2115
No. It's the default value.

[2018-02-21 14:25] #2115 closed

[2018-02-21 14:30] aledbf commented on #2101
The catch-all server (`server_name _ ;`) is used only when there is no match for the Host you are sending traffic to. If you see your example ` location /rest/testopenapi {` is the first route, not `/`.

What is the issue exactly?
How are you testing this? You should be using something like
`curl -H 'Host: ***.westeurope.cloudapp.azure.com' http://<public ip>:<nodeport or 80>`

[2018-02-21 14:31] aledbf commented on #2079
@newmanwang can you be more specific about what are you trying to achieve?

[2018-02-21 14:49] dereulenspiegel commented on #2126
@Stono Thanks for the hints. with version 0.11.0 everything works as I intend it for now. The integration needs to become smoother, but at least a basic setup now works without custom template.

[2018-02-21 14:49] #2126 closed

[2018-02-21 16:47] #2109 closed

[2018-02-21 17:01] #646 closed

[2018-02-21 19:37] chris-mccoy commented on #2007
I ran into this as well.  I'm assuming an integer is required for timeouts?  I was using "5m" because Nginx docs seemed to show that I could.  Changed to 300 and things worked great after that.

[2018-02-21 19:57] hoffoo commented on #2116
@aledbf how should one go about this?

I imagine a goroutine here https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/metric/collector/vts.go which scrapes periodically to get request count and calculate rps.

[2018-02-21 20:25] lambertjosh opened #2128 "[nginx] Include track label in Prometheus metrics"
The addition of Prometheus metrics support directly within the Ingress in 0.9.0 beta is great. One limitation we have found however, is that there is a limited set of upstream information available.

For example if a company uses two labels to facilitate [canary deployments](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#canary-deployments) in k8s, this unfortunately

[2018-02-21 20:25] lambertjosh commented on #1129
@aledbf I have opened another one here: https://github.com/kubernetes/ingress-nginx/issues/2128

[2018-02-21 21:21] aledbf commented on #2103
@sathieu I cannot reproduce this issue
[code]

Please update to 0.11.0

[2018-02-21 21:21] #2103 closed

[2018-02-21 21:21] aledbf commented on #2103
Please reopen if the issue persists after the update

[2018-02-21 21:23] aledbf commented on #2128
We have this information but it will too expensive (CPU and time) because the only way we can support this is searching the upstream IP and port in the local cache.
Not sure this makes sense.

[2018-02-21 21:23] aledbf commented on #2128
ping @pieterlange

[2018-02-21 21:30] aledbf commented on #2007
Closing. As @akaGelo commented you have an issue with the `-`. Is my fault. I am sure you copy/paste from the docs (a good thing) but in order to make readable the table the character was different
Please check https://github.com/kubernetes/ingress-nginx/pull/2111

[2018-02-21 21:30] #2007 closed

[2018-02-21 21:32] aledbf commented on #2083
@saschak094 please update to 0.11.0.

[2018-02-21 21:32] aledbf commented on #2083
Closing. Please reopen if the issue persist after the update

[2018-02-21 21:32] #2083 closed

[2018-02-21 21:36] aledbf commented on #1989
@JorritSalverda please add the flag `--v=6` to the deployment. That will increase the verbosity of the logs and you will see the reason in the pod logs.

[2018-02-21 22:32] yastij commented on #2116
I do not currently have enough bandwidth to work on this one, but if no one volunteers feel free to assign me

[2018-02-22 03:14] AnilKumarP003 commented on #2101
what i want to do is access my sample rest api on /rest/testopenapi.
To be Precise i want to hit it from browser as "http://***.westeurope.cloudapp.azure.com/rest/testopenapi"
which should fetch me response from my service deployed in default namespace. I have received a public ip (DNS of this ip is ***.westeurope.cloudapp.azure.com) from azure. I have deployed nginx controller with this public ip

[2018-02-22 07:13] vainu-arto opened #2129 "Controller fails to start nginx due to invalid value for proxy_buffering"
**NGINX Ingress controller version**:

0.11.0

**Kubernetes version** (use `kubectl version`):

v1.8.8

**What happened**:

I updated to version 0.11.0 to get support for configuring proxy_buffering. After deploying the new controller it constantly logs this:
[emerg] 64#64: invalid value "true" in "proxy_buffering" directive, it must be "on" or "off" in /tmp/nginx-cfg197063218:362
nginx: [emerg] i

[2018-02-22 09:10] vainu-arto commented on #2129
Huh. From looking at the code I have no idea why this would behave differently than proxy_request_buffering, which has been there for a while and works. There must be something I'm missing.

[2018-02-22 11:14] PbTG commented on #2090
@aledbf Is there any kind of  "ETA" about the non-reloading version? We're having some fun with those and keepalive requests.

[2018-02-22 12:45] vainu-arto commented on #2129
Here is the default server part of the generated config: [default_server.txt](https://github.com/kubernetes/ingress-nginx/files/1747869/default_server.txt)

It really does generate proxy_buffering                         "true"; for all cases that are left at defaults. The one case where I now again have the annotation enabled generates the correct "proxy_buffering                         "on";".

[2018-02-22 13:41] Stono opened #2130 "Curl with --insecure returns the ingress fake certificate"
I've got some strange behaviour when using curl, and i'm not entirely sure what's causing it?

Anyway, here is a normal request, as you can see the cert is fine.
[code]

And here is one with, to the same url with the -k (insecure certs accepted) flag:
[code]

This might not seem like a problem (the cert is valid, so why would I use insecure), but it causes an issue when **debugging** bad certs.  F

[2018-02-22 14:53] albertvaka commented on #1552
@aledbf Is there a setting to never close existing connections, like it was in versions 0.9.0-beta.14 and before? We have long-standing connections going through the ingress, that we don't want resetted on every config change.

[2018-02-22 15:59] rhefner1 opened #2131 "X-Service-Name header is blank when using rewrite-target annotation"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**NGINX Ingress controller version**: 0.10.2 and 0.11.0 confirmed, but probably others
**Kubernetes version** (use `kubectl version`): 1.7.3
**Environment**: AWS

**What happened**:
I use a custom default backend handler very similar to [this one](https://github.com/kubernetes/ingress-nginx/blob/master/images/custom-error-pages

[2018-02-22 17:18] evillgenius75 opened #2132 "Path based routing only works with base path"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-02-23 05:43] rocketraman opened #2134 "CORS headers not added on 504 gateway timeout"
**Is this a request for help?** No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** cors 504 gateway timeout

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**: 0.11.0

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: A

[2018-02-23 10:32] richmondwang commented on #1663
@jpiper I couldnt get my rbac applied even after creating the ClusterRoleBinding as you specified it. Am I missing something else?

[2018-02-23 10:47] richmondwang commented on #1663
Just  in case someone else has problems, this https://github.com/coreos/prometheus-operator/issues/357#issuecomment-363498455 worked for me.

[2018-02-23 14:17] dcherniv opened #2135 "Bug: Formatting issue with load_module directives"
**NGINX Ingress controller version**:
0.11.0

**Kubernetes version** (use `kubectl version`):
1.9.2

**Environment**:
GCP
container OS:
4.4.86+ #1 SMP Thu Dec 7 20:11:11 PST 2017 x86_64 GNU/Linux

**What happened**:
Upon updating the controller from 0.10.2 to 0.11.0, started seeing the below errors:
[code]
Looking at the /tmp/nginx config file i saw that the load_module directives were all mashed

[2018-02-23 14:21] Monnoroch commented on #2135
I'm having the same exact problem too both on 0.11.0 and 0.10.0. I'm pretty sure there should be a space after `load_module` in here: https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/template/template.go#L732.

[2018-02-23 14:38] Monnoroch commented on #2135
Yep, just tested it, adding a space fixes the problem.

[2018-02-23 14:51] aledbf commented on #2135
@Monnoroch can you open a PR to fix this?
Thanks

[2018-02-23 15:12] virtuman commented on #2033
It's just an extra option that would allow a wider adoption of ingress-nginx allowing to utilize same kubernetes cluster for multiple environments and while blocking access to secure endpoints from wide web except for cross data-center implementation and most certainly monitoring and 3rd party vendor overwrites are very often needed in production and test enviroments (ie. postbacks from payment ga

[2018-02-23 16:27] dcherniv commented on #2135
In https://github.com/kubernetes/ingress-nginx/pull/2136 can a newline be added if it's in fact missing?
Another thing that i saw that i forgot to mention is the load_module lines for opentracing were in fact on the same line separated by ;

[2018-02-23 17:58] qpresley commented on #2058
@nelsonfassis @aledbf I was hitting the same issue this morning on 0.11.0 .. added the --v=10 and found I was getting where older versions allowed proxy_buffering to use true/false.  Switching to off in my case resolved this.

[code]

[2018-02-23 18:13] hoffoo commented on #2116
@yastij i would like to work on it, i just can't think of clean way to implement it. The only idea i have is querying the vts endpoint periodically since it doesnt export a raw qps. Would that idea be mergable:

1. loop periodically querying vts to get request counts per backend
2. calculate qps and serve along with the other metrics

[2018-02-24 00:28] dobesv opened #2138 "CORS headers duplicated if upstream sends CORS headers"
**NGINX Ingress controller version**:

`quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.10.2`

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: kops

**What happened**:

I enabled cors on an ingress.  The backend also sent CORS headers.  The CORS headers were rejected by the client because the Origin header

[2018-02-24 02:04] ddgenome commented on #1360
It's especially troubling since the GoDoc states you are supposed to use a regular expression: https://github.com/kubernetes/api/blob/b378c47b2dcba7f5c3ef97d8a5a0b3821ec6a001/extensions/v1beta1/types.go#L706-L714

[2018-02-24 18:12] #830 closed

[2018-02-24 20:52] #2134 closed

[2018-02-24 20:52] #2138 closed

[2018-02-24 21:09] #2135 closed

[2018-02-24 22:12] diazjf commented on #2129
@vainu-arto what going on here is that the `nginx.ingress.kubernetes.io/proxy-buffering` annotation is directly manipulating the value in the nginx template here https://github.com/kubernetes/ingress-nginx/blob/94a85c99f7de6998c75433641cc2243856102521/rootfs/etc/nginx/template/nginx.tmpl#L834

So if you specify anything else other the `on` or `off` the nginx configuration will be invalid.

[2018-02-25 12:30] #805 closed

[2018-02-25 13:10] aledbf commented on #2090
@PbTG in two weeks there's going to be the first version with support to avoid reloads (behind a flag)

[2018-02-25 13:10] #2090 closed

[2018-02-25 13:16] aledbf commented on #2043
Closing. This works as expected. As @JordanP said, if you have an SSL certificate, you need one that contains all the hosts you need (CN in the certificate). This is a restriction in NGINX that we cannot change.

[2018-02-25 13:19] aledbf commented on #2020
Closing. This is not supported by the Ingress spec.
Also, this could introduce unexpected behaviors with existing Ingress rules because there's no way to validate overlaps in host definitions.

[2018-02-25 13:19] #2020 closed

[2018-02-25 13:20] aledbf commented on #2010
@Preskton that annotation only works in the GCE Ingress controller

[2018-02-25 13:20] aledbf commented on #2010
@farcaller if you don't want traffic in port 80 you need to filter the traffic in your firewall or not expose port 80 in the deployment.

[2018-02-25 13:23] christhomas commented on #1175
what was the issue? because I'm getting this now, with the latest nginx controller version and I have no idea what could be the problem

[2018-02-25 13:32] aledbf commented on #1175
@christhomas please check the nginx logs to get the reason

[2018-02-25 14:18] #2073 closed

[2018-02-25 14:24] aledbf commented on #1959
Closing. Please update to 0.11.0 and reopen if the issue persists.

[2018-02-25 14:24] #1959 closed

[2018-02-25 14:38] #2087 closed

[2018-02-25 15:11] farcaller commented on #2010
@aledbf how is that solving an issue? I want nginx ingress to serve 3xx redirects at all times, and not just ignore a "auth-tls-secret" annotation if it's incorrect. My point is that the failure more is too permissive.

[2018-02-25 15:40] aledbf commented on #2010
If there is an issue with the SSL certificate you should see get a 403 error

[2018-02-25 15:42] farcaller commented on #2010
Exactly! And the point of my bug report is that instead I got a 200 and
could see the backend data otherwise supposedly protected by a client cert.

[2018-02-25 15:47] #1964 closed

[2018-02-25 18:16] aledbf commented on #2010
@farcaller please test `quay.io/aledbf/nginx-ingress-controller:0.336`

[2018-02-25 20:20] #2010 closed

[2018-02-26 05:04] qiujian16 commented on #2067
I will work on this.

[2018-02-26 05:31] vainu-arto commented on #2129
I did not specify anything else than on or off. The configuration is invalid by default, without setting the annotation at all.

[2018-02-26 08:32] artemzakharov commented on #2043
@aledbf So the Ingress Controller throws a 'fake' certificate when the provided certificate doesn't cover the requested host?

[2018-02-26 10:10] aledbf commented on #2043
@artemzakharov NGINX, not the controller.

[2018-02-26 10:54] rhefner1 commented on #2131
@aledbf I think I have an idea of why this happens.

When the `rewrite-target` annotation is active, the location block in nginx.conf takes an ingress like this:

[code]

and turns it into:

[code]

I assume this is so it can capture the any arguments (in `baseuri`) and pass them to the rewrite command. Of note, the service name is already blank in the nginx.conf above. I'm wondering [if this equa

[2018-02-26 12:10] trunet opened #2149 "crypto/x509: verification fails with "cannot parse dnsName" in intermediate"
Error starting nginx-ingress-controller:
[code]

My intermediate CA generated by hashicorp vault, contains:
[code]

This will probably be fixed on https://github.com/kubernetes/client-go/issues/371 and https://github.com/golang/go/issues/23995

[2018-02-26 19:38] dcherniv commented on #2101
_I have received a public ip (DNS of this ip is ***.westeurope.cloudapp.azure.com) from azure. I have deployed nginx controller with this public ip (used as loadBalancerIP in deployment yaml)._
This won't work. The ip for cloudapp doesn't belong to you so you cant bind nginx controller to that ip.
whats the output of kubectl get ing?
Does the ADDRESS field match the IP of ***.westeurope.cloudapp.a

[2018-02-26 19:56] Dm3Ch commented on #2045
@mattdodge
If I right understand order of domain matching in nginx ingress is the same as in standalone nginx and it is described [here](https://nginx.ru/en/docs/http/server_names.html)

[2018-02-26 20:00] mattdodge commented on #2045
Correct, the first one that nginx finds that matches will be the one that is used. The "problem" is that you can't control (at least as far as I can tell) how the host entries are ordered in the `nginx.conf` file from the ingress spec. In other words, the order they appear in the ingress spec is not the same order they appear in the `nginx.conf` file, which is really all that nginx is aware of or

[2018-02-26 20:04] Dm3Ch commented on #2045
Yeah. If we've got two configs that contains serververname of the same type (wildcard, or fully specified) we don't know what will be used.

But if we have *.domain.com and test.domain.com, if I right understood test.domain.com will be matched first, because it is exact name

[2018-02-26 20:41] artemzakharov commented on #2043
@aledbf Got it, thank you for the clarification. Hadn't used NGINX before using this library so wasn't sure who was responsible for which behavior.

[2018-02-26 20:56] mattdodge commented on #2045
I'm not sure if we're agreeing or not. In your example `test.domain.com` will only be used if it appears first in the `nginx.conf` file. It doesn't matter that it is exact vs wildcard, it is all about which host appears first.

[2018-02-26 21:00] aledbf commented on #2045
@mattdodge is right, the order in nginx.conf is who determines the order in which will try to match the hostname. The exception to this rule only applies to the catch-all server `_` that must be the first one.

[2018-02-26 21:07] christhomas commented on #1175
isn't the dashboard log viewer already showing me that? Otherwise, what am I seeing here? Which log is this?

On 25 Feb 2018, Manuel Alejandro de Brito Fontes <notifications@github.com> wrote:

[2018-02-26 21:12] aledbf commented on #1175
@christhomas this log contains information about the go part of the nginx controller. In case of any error validating the SSL Certificate, you will see that here.

[2018-02-27 00:42] MystK opened #2151 "Annotation for ssl_protocols"
**FEATURE REQUEST**
Would it make sense to add a ssl_protocols annotation? Is there a reason why TLSv1.2 is only enabled? I am trying to use Java7 to connect to the server through SSL and it's not working because of this.

[2018-02-27 00:44] aledbf commented on #2151
Closing. You can configure this in the configmap https://github.com/kubernetes/ingress-nginx/blob/309a79483f3cc3d9eb70cb826d4c77dd639a70ed/docs/user-guide/tls.md#default-tls-version-and-ciphers

[2018-02-27 00:44] #2151 closed

[2018-02-27 00:45] MystK commented on #2151
Thank you I am new to this!

[2018-02-27 03:02] #2067 closed

[2018-02-27 07:37] JorritSalverda commented on #1989
When upgrading to version 0.11.0 it's no longer an issue. Either because there was an issue that's now fixed or because I increased resources in the meantime.

[2018-02-27 07:37] #1989 closed

[2018-02-27 09:05] Stono commented on #2130
@aledbf any ideas about this one?  can't work out what's going on!

[2018-02-27 11:58] aledbf commented on #2130
@Stono I cannot reproduce this issue.
Can you try `curl -v https://echoheaders.uswest2-01.rocket-science.io -k` (kube-lego cert)

[2018-02-27 11:59] Stono commented on #2130
[code]

[2018-02-27 11:59] aledbf commented on #2130
The only way to see this error is when you are sending a request to a host without an SSL certificate or a request without SNI

[2018-02-27 12:00] Stono commented on #2130
Haha.... check this out, this is from a Centos box (the other was from the mac):

[code]

So it looks like a behaviour of the macosx curl

[2018-02-27 12:05] Stono commented on #2130
It's definitely something to do with macosx:

[code]

And on centos:
[code]

[2018-02-27 12:06] Stono commented on #2130
https://github.com/curl/curl/issues/1533

[2018-02-27 12:12] aledbf commented on #2130
@Stono I see this in the ingress-controller
[code]
That error means you are trying to use SSL 3.0 and that is not enabled.

[2018-02-27 13:54] rhefner1 commented on #2131
@aledbf Thanks so much for the pull request. I don't think it worked though.

Using the version you posted, I see:

[code]

where even namespace and ingress_name are blank.

[2018-02-27 16:21] #820 closed

[2018-02-27 16:30] aledbf commented on #2130
@Stono can we close this issue?

[2018-02-27 17:49] apearson-ibm commented on #1798
I can confirm the behavior that @cristic83 is seeing - specifically that `use-port-in-redirects: "true"` only works if the http port is 80.  If the original URL specifies an http port other than 80, then the redirect fails as it appends the https port to the end.  EG:

`http://my-domain:8080/health --> https://my-domain:8080:8843/health`

instead of

`http://my-domain:8080/health --> https://my-do

[2018-02-27 22:08] juliohm1978 opened #2153 "Unable to load debugging information from the nginx compiled binary"
**NGINX Ingress controller version**: 0.13

**Kubernetes version** (use `kubectl version`): 1.8.x

**What happened**: I need to instrument the nginx binary with a third party proprietary monitoring tool ([AppMon](https://www.dynatrace.com/support/doc/appmon/)), which involves loading an external agent that needs access to nginx's debugging information generated at compile time.

**What you expecte

[2018-02-27 22:11] aledbf commented on #2153
@juliohm1978 thank you for the report. The next release will contain the debug symbols.

[2018-02-27 22:13] juliohm1978 commented on #2153
Thanks @aledbf! That was fast.

Any chance I can get a tip for adding the necessary flags myself into a custom build? I'm already setup to build the image locally.

[2018-02-27 22:14] aledbf commented on #2153
@juliohm1978 the missing part is `--with-debug` in the configure flags

[2018-02-27 22:15] juliohm1978 commented on #2153
`--widht-debug` is already included in the master branch I'm building here. The result is shown in the description above.

[2018-02-27 22:17] aledbf commented on #2153
All the configuration for debug is already present.
Checking why the debug symbols are missing

[2018-02-28 07:45] vainu-arto commented on #2129
Bah. Apparently I had "true" set in the configmap after some testing run. I was going through the ingress rules and looking for that invalid value and could not find it..

[2018-02-28 07:45] #2129 closed

[2018-02-28 10:32] akoenig commented on #1171
Awesome @htuomola – Thanks for sharing the workaround. Would you mind posting an example with multiple allows origins in place? Would be super helpful. Thanks in advance :)

[2018-02-28 10:53] Thubo opened #2154 "Feature: Custom headers (request_id) during auth request"
We would like to send custom headers to our auth backend (specified via `nginx.ingress.kubernetes.io/auth-url`).

Right now we have patch in the [authPath block of the template](https://github.com/kubernetes/ingress-nginx/blob/3c67976969b695f5b2968ed8804c2463809c32ac/rootfs/etc/nginx/template/nginx.tmpl#L659-L693) which adds something like this:
`proxy_set_header X-CUSTOM-RequestId $request_id;`
T

[2018-02-28 12:51] htuomola commented on #1171
@akoenig well that's just a general nginx configuration issue, nothing really specific to Kubernetes. I implemented something similar to [this](https://gist.github.com/alexjs/4165271). One thing that is missing from that sample is that you might want to configure those headers with `add_header .... always` so they get added to failed requests too. Without that when the backend returns e.g. 403 sta

[2018-02-28 13:00] Stono commented on #2130
@aledbf I think the SSLv3 thing is a red herring, but it's most probably just an issue with macosx curl so yeah, i'll close this off

[2018-02-28 13:00] #2130 closed

[2018-02-28 13:24] akoenig commented on #1171
@htuomola Thanks for your response. Yeah, I know that it is possible to inject ordinary nginx configurations. My question was not as precise as it should be. Sorry for that :) I asked for an example, because I tried the following and it didn't work out:

[code]

The result was still an `access-control-allow-origin: *` :( – I guess, I will try the `configuration-snippet` then.

[2018-02-28 13:58] htuomola commented on #1171
@akoenig you need the whole config, starting [line 18](https://gist.github.com/alexjs/4165271#file-cors-nginx-conf-L18) for it to work (until line 79). The same sample starts by comparing the `$http_origin` to list of allowed domains.
Also, with `attribute: |` in yaml, no need to use quotation marks. It's helpful to check the resulting config by logging inspecting /etc/nginx/nginx.conf in the ingr

[2018-02-28 14:11] akoenig commented on #1171
Ah, that was super helpful. Thanks @htuomola 🎉

[2018-02-28 14:17] aledbf commented on #2153
@juliohm1978 please check #2155. The issue was related to thee compiler optimization flags.
Before this change the nginx binary was 2.3MB, now is 15MB with the debug symbols.

[code]

[2018-02-28 14:18] aledbf commented on #2153
@juliohm1978 right now the ci is building the new images. You can pull that image in ~20 minutes.

[2018-02-28 15:05] eduardobaitello commented on #71
@voor Have you found a solution in how to handle ssl-redirects with L4 ELB and proxy-protocol enabled?
I need to use websockets too, and I don't know how to handle this.

[2018-02-28 15:28] dawez opened #2157 "Wrong number of open file calculated"
The current 0.11 version changed the way the calculation of maximum open files is done. https://github.com/kubernetes/ingress-nginx/pull/2050

Now the value is coming from the kernel parameter `fs.file-max` and this is probably not what we want. The value is shared among all containers if you run many multiple containers only a small fraction of the "open files" might be available to a single cont

[2018-02-28 15:54] voor commented on #71
Yes,

It's not pretty, though.

I stand up a very simple nginx configuration on another port (8081 or whatever) and just do a typical nginx SSL redirect:

[code]

[2018-02-28 15:56] juliohm1978 commented on #2153
Just confirmed, 0.35 image has the debug symbols in its ~15MB binary.

Will reopen the issue if anything else comes up.

Thank you very much for the help!

[2018-02-28 17:44] maxlaverse commented on #2157
Actually, I think it was done right since https://github.com/kubernetes/ingress-nginx/pull/177 but https://github.com/kubernetes/ingress-nginx/pull/2050 broke the "open files" limit determination.

There was a discussion about it in the issue https://github.com/kubernetes/ingress-nginx/issues/2048 that led to PR https://github.com/kubernetes/ingress-nginx/pull/2050. The example given in that issue

[2018-02-28 17:46] rikatz commented on #1171
@akoenig @htuomola I've been pretty busy here, but will try to help on this.

What's the limiting one domain is this regex: https://github.com/kubernetes/ingress-nginx/blob/313fdd2d1ae4521e8741b38d03cae6dff6c95fa3/internal/ingress/annotations/cors/main.go#L39

If is there  a better regex that allows multiple domains (I know there is :smile: ) you can make a PR that this should be solved (and also

[2018-02-28 18:06] juliohm1978 commented on #2153
Quick follow up!

I was able to successfuly attach the monitoring agent, but we had to further modify the nginx compiler flags.

For anyone interested, the new image 0.35 includes debug symbols using the flags `-g -Og`. However, the custom jemalloc implementation added a few months ago with `-ljemalloc` causes the third party agent to crash with a core dump. We also needed to remove that from the

[2018-02-28 18:17] aledbf commented on #2153
@juliohm1978 can you post the crash detsails?

[2018-02-28 18:57] juliohm1978 commented on #2153
The agent is loaded with the following command line

[code]

It will print its debug messages to stdout, along with the runtime of nginx itself.

Nginx finally crashes with the following:

[code]

There's also a resulting 250MB core dump, but we'll have to upload it somewhere if you wish to dive into it.

Removing the `-ljemalloc` flag from LD_OPT fixes this crash.

[2018-02-28 19:02] kfox1111 opened #2158 "http to https root only promotion"
I'm wondering is there a way to the automatic http -> https promotion, but only at /, not subdirectories/files.

[2018-02-28 19:38] lorenz commented on #2158
HTTP/HTTPS is generally a per-domain setting. What you are proposing is called mixed content in a browser and is generally blocked. You can technically do it in ingress-nginx already using two ingresses with different paths, but other than specific things (ACME validation comes to mind) it's a bad idea. What do you want to achieve with it?

[2018-02-28 19:50] kfox1111 commented on #2158
Its only mixed if you actually use it that way. I don't plan on.

No, all the web pages would be using https only resources. but I have a use case for some non https stuff being served off of the same domain. For example, say you have an rpm mirror. The packages are all signed so https integrity check is redundant, and http has the added advantage of being easily cached locally. So you get much be

[2018-02-28 19:55] lorenz commented on #2158
Sure, in that case go ahead and just define two ingresses on the same domain with different paths and configure one for TLS and one without. Longer matches are prioritized, so if you have a / ingress and a /test ingress, stuff to /test will go there and everything else to /.

[2018-02-28 19:59] kfox1111 commented on #2158
so, 2 different kind=ingress objects with the same domain so that one rule set has the tls and the other doesnt? It will merge them together ok?

[2018-02-28 20:12] kfox1111 commented on #2158
Ok. thanks. I'll give that a try. Will reopen only if I hit a problem.

[2018-03-01 09:23] sylr opened #2159 "Make _/nginx_status endpoint ACL configurable"
Hi,

Default "_" server currently only accept connections from 127.0.0.1 towards /nginx_status endpoint and it is hardcoded, see:

https://github.com/kubernetes/ingress-nginx/blob/8ddb610604227b95596c7e211d8bbe7edf7f7938/rootfs/etc/nginx/template/nginx.tmpl#L918-L925

It would be nice if we could configure the ACL to accept requests from other locations.

Regards.

[2018-03-01 12:43] bilalyasar opened #2160 "cloudfront setup together with nginx controller"
I'm using nginx 0.10.2 version and everything seems fine even i tried ssl and it is working fine.

then i also tried to integrate cloudfront and nginx-controller. imported ssl certificates to cloudfront and nginx also.
but i am getting this error in cloudfront side:
`The request could not be satisfied.
CloudFront wasn't able to connect to the origin.
`
and i am getting following debug logs nginx c

[2018-03-01 15:11] eduardobaitello commented on #71
@voor
Thanks, that worked!

I just made a little different, appending the new _server_ inside the _http_ context using the [http-snippet](https://github.com/kubernetes/ingress-nginx/blob/01399dd62570bd101b51a9d132f47069d7df97c6/docs/user-guide/configmap.md#http-snippet).

Something like this:
[code]

This prevents overriding the original `nginx.tmpl`, ensuring more compatibility in case of upgrade

[2018-03-01 17:24] stela commented on #636
I have a similar use-case as @od0 and @naveensrinivasan, want to terminate a connection to an XMPP server listening on a TCP port for client connections. I have a certificate from letsencrypt stored in a k8s Secret, which is easy to configure for a bunch of REST endpoints, each application having a k8s Ingress where tls.secretName points to the letsencrypt secret. The non-encrypted XMPP port 5222

[2018-03-01 18:03] veeshall commented on #1947
Changed to 0.9.0-beta.17, and then / ingress.kubernetes.io/ssl-passthrough: "true"/ works fine. Tried lot of other options (including 0.10.0), and none of them worked for me.

[2018-03-02 15:48] dbxdb commented on #2012
+1

[2018-03-02 16:27] aledbf commented on #2012
@galvez the definition `path: /*` is valid only in the GCE ingress controller. Please just use `/`
Also please update to the latest version (0.11.0).

[2018-03-02 16:49] Twister42 commented on #2096
Hello, I have the same problem with whitelist, and it seems the annotation is just ignored. The generated nginx.conf does not contains any rules for the whitelist.

[2018-03-02 18:30] ananace commented on #1260
This is still certainly an issue, even if people seem to have gone silent on it.

Being unable to use regex paths - as the docs state should work - is quite a pain, especially since there doesn't seem to be any notice anywhere about this.

[2018-03-02 19:28] galvez commented on #2012
@aledbf thank you so much!

[2018-03-02 20:19] christhomas commented on #1175
i'm unsure which log you're talking to, in the latest ingress-nginx-controller, the nginx logs are pointed to stdout, which is the same content as that displayed in the kubernetes dashboard, so I'm asking if there is another file which was not mentioned, or commonly known about?

[2018-03-02 20:24] aledbf commented on #1175
@christhomas the data in the dashboard and the pod logs is the same.
Please just check the content of the log searching for messages related to ssl issues

[2018-03-03 09:49] lemaral opened #2166 "Help: how to force http redirect to https for (custom) default backend"
I am using a custom default backend as a catch-all for a wildcard zone and I'm trying to configure http to https redirect for it, but I have not found any working configuration so far.
Thanks

[2018-03-04 13:35] christhomas commented on #1175
I did check the logs, I am having the same problem as the poster, thats why I am asking, what was the problem that that @aledbf fixed relating to this issue.

[2018-03-04 14:07] mrdfuse commented on #2132
I run into the same issue just by following the AKS tutorial: https://docs.microsoft.com/en-us/azure/aks/ingress

[2018-03-04 18:47] aledbf commented on #2166
@lemaral you need to implement this in your custom backend.

[2018-03-04 18:47] #2166 closed

[2018-03-04 18:50] aledbf commented on #2132
Closing. The issue with the article is the prefix of the annotations, it should be `nginx.ingress.kubernetes.io`

[2018-03-04 18:50] aledbf commented on #2132
@evillgenius75 please reopen if you have more questions

[2018-03-05 08:25] vainu-arto opened #2168 "Turning off keepalive does not work as documented"
**NGINX Ingress controller version**:

0.11.0

**Kubernetes version** (use `kubectl version`):

v1.8.8

**What happened**:

The keepalive configuration map directive does not work as documented. The [documentation](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/configmap.md#keep-alive) says "Sets the time during which a keep-alive client connection will stay open on the se

[2018-03-05 08:43] cabrinoob commented on #597
Hi,
Does this isolation applies to ingress resources?
Because suppose I have 2 ingress controllers installed on my cluster, every Ingress resources in every namespaces are applied by both controllers.

[2018-03-05 09:37] dmpriso commented on #2059
we are facing the same problem!

[2018-03-05 10:21] PbTG commented on #2168
This happens too in version: 0.9.0

[2018-03-05 10:28] oilbeater commented on #2168
It should be `keep-alive` not `keepalive`

[2018-03-05 10:32] PbTG commented on #2168
@oilbeater In my case its "properly" spelled out but hey, I'm using an old release

[2018-03-05 11:38] vainu-arto commented on #2168
Huh. Dunno how I managed this (again?). I had it spelled correctly previously since I did successfully reduce the keepalive timeout, but somehow managed to change the value incorrectly when testing disabling it fully.

It does work, but doesn't solve my actual problem (every change that triggers a reload of the ingress controller causes at least a hundred requests to be returned with http status c

[2018-03-05 11:38] #2168 closed

[2018-03-05 12:02] aku105 opened #2170 "Referring to TLS secret from other namespace (i.e. not the namespace in which ingress is created)"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "Secret namespace"

---

**Is this a B

[2018-03-05 12:03] PbTG commented on #2168
@vainu-arto You can try to use services instead of endpoints with the [service-upstream](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md#service-upstream) annotation.

With it nginx should not reload the configuration after a deployment thus not causing errors on already open connections \[ https://github.com/kubernetes/ingress-nginx/issues/257, https://githu

[2018-03-05 12:09] vainu-arto commented on #2168
@PbTG Thanks a lot! I'll look into those links.

My issue happens without touching the application at all (triggering a controller reload by changing any setting is enough), and also isn't cured by disabling keepalive so the issue seems somewhat different from the usual case.

[2018-03-05 12:18] max-rocket-internet opened #2171 "Readiness and Liveness probe failed: HTTP probe failed with statuscode: 500"
**NGINX Ingress controller version**: `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.11.0` installed with helm using stable chart.
**Kubernetes version** (use `kubectl version`): `1.8.4`
**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): kops version 1.8.1 (Debian I think)

**What happened**: nginx-ingress-controller pod Re

[2018-03-05 13:50] Karthickarumugam commented on #672
I have set use-proxy-protocol: "true" and in the log-format i have "remote_addr": "$proxy_protocol_addr" in the ingress controller version gcr.io/google_containers/nginx-ingress-controller:0.9.0-beta.15 inside GKE kubernetes. But i am not seeing client IP and it shows only private IP. Could you help here?

[2018-03-05 15:07] dafstone commented on #1663
If you're having this problem on GKE also try:

kubectl create clusterrolebinding cluster-admin-binding \
  --clusterrole cluster-admin \\
  --user $(gcloud config get-value account)

Per: https://cloud.google.com/kubernetes-engine/docs/how-to/role-based-access-control

This should initialize your user as a cluster admin under RBAC.

[2018-03-05 17:38] kfox1111 commented on #2158
I just tried this, and it failed. All rules in the other ingress object were also promoted to tls only.

I also have one resource apparently that users can upload at the root, and so having a rule '/' would require some kind of regex to exclude everything directly under it. I don't think that is currently supported?

So I think this issue is still valid for both use cases.

[2018-03-05 18:02] lorenz commented on #2158
Have you disabled HSTS (or used a client that doesn't implement it)? It will upgrade everything client-side.

[2018-03-05 18:23] kfox1111 commented on #1360
I have a need for this too.

[2018-03-05 19:14] kfox1111 commented on #2158
I used curl.

[2018-03-06 07:39] YouriT commented on #672
@Karthickarumugam checkout the [quay](https://quay.io/repository/kubernetes-ingress-controller/nginx-ingress-controller?tab=tags) repo and upgrade that's already quite old version you have there.

[2018-03-06 07:42] Karthickarumugam commented on #672
I found alternative way to capture the IP via service. That does the trick.

externalTrafficPolicy: Local

[2018-03-06 10:51] xcl001987 opened #2173 "http to https error"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
The plain HTTP request was sent to HTTPS

[2018-03-06 14:39] vdboor commented on #1019
I'm getting the same error. It turns out both prometheus and nginx-ingress run as `nobody`. I guess it hits a user limit.

[2018-03-06 19:51] nullbeck opened #2175 "How to configure ingress resource with different rewrite statements"
**NGINX Ingress controller version**:
nginx-ingress-controller:0.11.0
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:
- **Cloud provider or hardware configuration**:
alibaba cloud
- **OS** (e.g. from /etc/os-release):
CentOS Linux release 7.4.1708 (Core)
- **Kernel** (e.g. `uname -a`):
Linux crediton-k8s-01 3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_

[2018-03-06 20:11] nullbeck commented on #2173
[SSL Passthrough](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md#ssl-passthrough)

[2018-03-06 20:15] dcherniv commented on #2175
As per https://github.com/kubernetes/ingress-nginx/blob/master/docs/examples/rewrite/README.md
The assumption in ingress-nginx controller is to have one backend per ingress resource since the rewrite annotation applies to all backend services.

[2018-03-06 20:45] dcherniv commented on #1942
Something like this would do?
![nginx-ingress-flow](https://user-images.githubusercontent.com/19437418/37057433-4f60816e-2155-11e8-8fa5-91d6690a4582.png)

[2018-03-07 01:27] xcl001987 commented on #2173
@nullbeck thanks your answer，if i want to configureTLS termination in the ingress-nginx and forced redirect http to https，how can i configure it，or ingress-nginx can‘t did this？

[2018-03-07 06:19] nullbeck commented on #2175
@dcherniv thanks
another question, how to realize rewrite statement below?
no example found.
[code]

[2018-03-07 09:48] nullbeck commented on #2175
after changing
`ingress.kubernetes.io/rewrite-target: /`
to
`nginx.ingress.kubernetes.io/rewrite-target: /`
it works.
Thanks. Issue is closed

[2018-03-07 09:48] #2175 closed

[2018-03-07 09:56] nullbeck commented on #1260
+

[2018-03-07 10:22] unicast opened #2176 "nginx is not picking up rules"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
---
Looked into every issue reported for last 6 months )
My issue is looks similar to that one https://github.com/kubernetes/ingress-nginx/issues/1890

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**NGINX Ingress

[2018-03-07 11:18] mikebryant commented on #2170
The standard security model for Kubernetes is that secrets are only accessible from within the current Namespace.

As per the [API definition](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.9/#ingresstls-v1beta1-extensions), the `secretName` field is purely a name reference, and cannot cross namespaces.

[2018-03-07 11:54] aku105 commented on #2170
True enough, but I think there is a catch-22 when trying to use wildcard certificate in cluster and keeping the certificate private key secure.
If I don't use the way mentioned above, I'll be exposing the private key for the wildcard certificate for anyone who has access to read secrets in the namespace, which will be many usually.

Since it will be the Ingress controller reading the secret, rathe

[2018-03-07 11:57] bputt opened #2178 "Add support for $ssl_client_i_dn"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature
**NGINX Ingress controller version**: 0.11.0
**Kubernetes version** (use `kubectl version`): 1.9.2

Can you add support for ```ssl_client_i_dn``` just like you have already for ```ssl_client_s_dn```?

[2018-03-07 12:00] bputt opened #2179 "Allow config to disable geoip"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Feature
**NGINX Ingress controller version**: 0.11.0
**Kubernetes version** (use `kubectl version`): 1.9.2

In an offline environment, it'd be great to disable the geoip feature.

In the ```nginx.tmpl```, it'd be great if you'd add something like the following:

[code]

For backwards compatibility, ```UseGeoIPTagging``` could default to tr

[2018-03-07 15:11] jeffmhastings opened #2182 "Default SSL Ciphers incompatible with AWS ELB"
**Is this a request for help?** No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** ELB

---

**NGINX Ingress controller version**: 0.10.2

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Centos 7
- **Kernel** (e.g. `uname -a`): Linux 3.10

[2018-03-07 16:35] aledbf commented on #2170
Closing. This should be allowed in the Ingress spec first. We are are not going to break this rule.

[2018-03-07 16:35] #2170 closed

[2018-03-07 21:48] kfox1111 opened #2184 "404 handler code"
currently the 404 handler does just that. only serve out 404 messages (file not found). This is probably the appropriate message to return when a vhost does not exist.

On the other hand, if all of a services members are completely down, 404 is probably not the right answer, as its not that the files are missing so stop trying, but that 503 the server is currently unavailable. keep trying.

Can th

[2018-03-08 01:05] shaneog commented on #1809
Any update on this? I need to serve some large, regularly recreated files and would prefer to do this from a storage bucket on Google Cloud Storage or Amazon S3.

[2018-03-08 05:51] rashmi43 commented on #2034
I'd like to work on this.

[2018-03-08 11:41] bilalyasar opened #2186 "public ip is not shown in nginx logs"
we are getting this error log and we don't see public ip, it shows private ip:

`[truculent-sloth-nginx-ingress-controller-c9d994cc7-q2q5l] 2018/03/08 11:04:20 [crit] 3620#3620: *447309 SSL_do_handshake() failed (SSL: error:1417D102:SSL routines:tls_process_client_hello:unsupported protocol) while SSL handshaking, client: 172.20.86.40, server: 0.0.0.0:443`

it show ec2 machine's private ip. We exp

[2018-03-08 14:44] aledbf commented on #2186
@bilalyasar please use the issue template.
How are you exposing the service? Did you follow the deploy guide for AWS? Is proxy protocol enabled?

[2018-03-08 16:57] RouR commented on #349
@gyliu513 broken link

[2018-03-08 17:44] dkoshkin commented on #2149
I'm seeing a related issue in `0.11.0` that worked with the same setup in the previous version.

[code]
The contents of the cert for the api:
[code]

[2018-03-08 17:46] trunet commented on #2149
this is unrelated, as this specific problem is for CA that doesn't need common, altNames validation.

[2018-03-08 17:59] dkoshkin opened #2188 "failed to parse certificate from server: x509: cannot parse dnsName"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-03-08 18:07] dkoshkin commented on #2149
Thanks opened https://github.com/kubernetes/ingress-nginx/issues/2188 with more details.

[2018-03-08 18:17] trunet commented on #2188
golang 1.9 included some extra x509 certificates validation and ingress is being compiled with it or newer.

as a workaround, you can generate your own ingress docker image compiling with golang 1.8.

for the real fix, probably you need to check some RFCs to back you up and open an issue at golang.

https://tools.ietf.org/html/rfc5280#section-4.2.1.6 points to https://tools.ietf.org/html/rfc1034#s

[2018-03-08 22:10] dkoshkin commented on #2188
Looks like the implementation of [domainToReverseLabels](https://golang.org/src/crypto/x509/verify.go?s=11128:11180) changed in Go 1.9.

The new version no longer supports `.` at the end in `1520542839.kismatic.integration-tests.`

Removing the `.` at the end when generating the cert fixed it and the DNS name was still resolvable on the nodes.

https://play.golang.org/p/usD3D8LtLSI

[2018-03-08 22:10] #2188 closed

[2018-03-08 23:25] twk3 opened #2189 "Support per-ingress http2 setting through annotation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): http2

---

**Is this a BUG REPORT or

[2018-03-09 11:37] yanhongwang commented on #1894
Hi, @JacobSanford

I think I have similar situation...
My K8S is 1.9.3

Since I applied the ingress by official resource.
https://github.com/kubernetes/ingress-nginx/tree/master/deploy
Or by nginx.
https://github.com/nginxinc/kubernetes-ingress/blob/master/docs/installation.md

The 80 port still doesn't show.
Do you solve the problem?

Thanks.

Hong

[2018-03-09 12:12] #954 closed

[2018-03-09 13:13] #287 closed

[2018-03-09 13:41] Thubo opened #2190 "Unnecessary reloads if service definition is changed"
BUG REPORT

**NGINX Ingress controller version**: 0.11.0
**Kubernetes version**: 1.6.4
**What happened**:
I have an ingress, a service and an pod configured
* Ingress
[code]
* Service
[code]
* Pod
[code]

Whenever I change the value in spec.selector.release of the service, to or from a value that actually exists (the label is actually provided by some pod) the ingress gets reloaded.
However in cas

[2018-03-09 13:49] Thubo commented on #2190
I just realised that the UPDATE events still contain the IPs of the pods and not the service - maybe this is the issue. However I'm not able to pin down where this happens.

[2018-03-09 14:14] #1071 closed

[2018-03-09 18:16] ianwalter commented on #1663
@dafstone Thanks! You forgot a `\` after the first line of the command, btw.

[2018-03-09 19:08] dafstone commented on #1663
Actually looks like it was in there but github was hiding it, so I re-wrapped as a code block.  Thanks for pointing that out!

[2018-03-09 19:19] hmarcelodn commented on #1531
I just upgraded from k8s 1.6.6 to 1.9.3 and I am experiencing the same issue.
I always had the --watch-namespace enabled but it is failing in the same way.

I am not using helm in my case. I am deploying just a yaml file with kubectl apply command.

Any ideas?

[2018-03-09 19:28] hmarcelodn opened #2192 "It seems the cluster it is running with Authorization enabled (like RBAC) and there is no permissions for the ingress controller. Please check the configuration"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-03-09 19:31] aledbf commented on #2192
Closing. Please follow the installation process for RBAC
https://github.com/kubernetes/ingress-nginx/tree/master/deploy#install-with-rbac-roles

[2018-03-09 19:31] #2192 closed

[2018-03-09 20:20] ElvinEfendi commented on #1834
I created https://github.com/kubernetes/ingress-nginx/pull/2167 to add this feature.

[2018-03-09 21:09] #1834 closed

[2018-03-10 03:09] aledbf commented on #2182
Closing. You can customize the ciphers in the configuration configmap.
Please check https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/tls.md#legacy-tls

[2018-03-10 03:09] #2182 closed

[2018-03-10 04:28] #67 closed

[2018-03-10 12:36] #816 closed

[2018-03-10 18:51] mentalblock commented on #2182
I do agree that we need some documentation around this. The symptom of timeouts does not make it obvious where the problem is.

[2018-03-11 05:53] #737 closed

[2018-03-11 10:03] k1-hedayati commented on #2043
I have same issue, my certificate is valid for both `www.foo.com` and `foo.com` but when using `from-to-www-redirect` and
[code]
`ssl_certificate` and `ssl_certificate_key` directives don't get generated for `foo.com` server block. I've checked this with nginx template and these directives don't exists in them either
https://github.com/kubernetes/ingress-nginx/blob/36cce00fdd570b5b03ef1b19672f9641

[2018-03-12 03:33] edwin--zhao commented on #632
@aledbf  if we config  underscores_in_headers on.
when mapping headers to CGI variables, as both dashes and underscores are mapped to underscores during that process. whether can cause some problems.

[2018-03-12 06:17] #1399 closed

[2018-03-12 12:23] #1348 closed

[2018-03-12 20:11] gianrubio commented on #2128
@lambertjosh looks like you need to configure your prometheus server to inject the pod label during the scrape. Below you can see how my metrics are tagged by prometheus.
![Uploading Screen Shot 2018-03-12 at 21.05.59.png…]()

I'm currently using prometheus-operator to setup my server, it can abstract a lot of configuration for you. I'm also pasting the config generated by prometheus, hope it can

[2018-03-12 20:20] lambertjosh commented on #2128
@gianrubio that would apply the labels of the ingress, right? In the case of canary deploys, you'd typically only have a single ingress pointing at a single service, with multiple deployments underneath it.

The trick is to be able to differentiate, in the upstream metrics, between the multiple deployments backing a single service.

[2018-03-12 20:44] gianrubio commented on #2128
Could you illustrate that using an existing metrics and adding the desired labels?

[2018-03-12 21:32] #495 closed

[2018-03-12 22:37] Rajczyk commented on #2173
I have the same issue:

[code]

I get the "The plain HTTP request was sent to HTTPS port"  as a response.
quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.11.0

[2018-03-12 23:40] Rajczyk commented on #1947
When you have` nginx.ingress.kubernetes.io/ssl-passthrough: "true"` are you supposed to get the message : `The plain HTTP request was sent to HTTPS port.` When you go to the http://domain:443? is there a way to turn this off?

[2018-03-13 00:27] ivan-section-io opened #2195 "Partial/missing/empty config items after control plane unavailability"
**Is this a request for help?**
No

**What keywords did you search in NGINX Ingress controller issues before filing this one?**
control api availability services transient getsockopt connection endpoints

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug (could be expectations)

**NGINX Ingress controller version**:
0.9.0

**Kubernetes version** (use `kubectl version`):
1.8.6

**Envir

[2018-03-13 09:44] #1410 closed

[2018-03-13 16:43] geek876 opened #2196 "Nginx [notice] logs are not JSON formated"
**BUG REPORT** :

**NGINX Ingress controller version**:
0.10.2 also tried it with 0.11.0

**Kubernetes version** (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.4", GitCommit:"9befc2b8928a9426501d3bf62f72849d5cbcd5a3", GitTreeState:"clean", BuildDate:"2017-11-20T05:28:34Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: ve

[2018-03-13 18:44] trumpet2012 opened #2197 "Upstream Pod Scaling Closes Connections"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): Yes

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

reloading, dropped connections

I fo

[2018-03-13 18:52] antoineco opened #2198 "Test failing for 'internal/task' package"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report
**NGINX Ingress controller version**: `master`
**Kubernetes version**: none
**Environment**: Linux 4.9.65-3+deb9u2, Debian stretch (container), Go 1.10

**What happened**:

I noticed the following test failed consistently in my CI environment (Jenkins w/ container step) when invoking `go test -race -cover $(PKG)/internal/...`:
[code]

I can'

[2018-03-13 23:36] nixgadget opened #2199 "Enable external authentication for "catch all" path"
**NGINX Ingress controller version**:
0.10.2

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-09T21:51:54Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9+", GitVersion:

[2018-03-14 04:21] snowmansora commented on #2173
I am having the same issue as @Rajczyk.

After some googling, I found the [secure-backends](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md#secure-backends) annotation fixes my problem:
`nginx.ingress.kubernetes.io/secure-backends: "true"`
After using secure-backends annotation, the proxy_pass in nginx.conf is using https://.

p.s. `nginx.ingress.kubernetes.i

[2018-03-14 07:20] valeriano-manassero commented on #1905
Since PR #2174 will implement the "no reload" feature, I'm here asking on what will be next steps.
I mean, this issue is still present if you add virtualhosts or SSL certs while you have many virtualhosts running. In worst case scenario, not only latency increases but the result can be completely stuck nginx processes continuing to serve old configurations form much time (the only way to fix is to

[2018-03-14 13:15] fripoli commented on #2096
This is also a problem for me.

I created the nginx ingress using helm and have a simple ingress like this

[code]

The ingress itself works ... all good, but there is no whitelisting kicking in ... I was expecting the nginx-controller pod to be reloaded with a deny config but theres nothing there... how does that work?

[2018-03-14 13:34] PbTG commented on #2096
@fripoli Unless you are starting the controller with the flag _--annotations-prefix=ingress.kubernetes.io_, please change the whitelist annotation to: _nginx.ingress.kubernetes.io/whitelist-source-range_

[2018-03-14 15:16] fripoli commented on #2096
thanks, that was the issue :)

[2018-03-14 18:14] aledbf commented on #2199
@nixgadget the path `/*` is invalid. Please use `/`

[2018-03-14 21:55] miend commented on #1175
I am also having what looks like a related issue, @aledbf,  but potentially not. I cannot resolve it by updating ingress config. Let me know if I should open a separate issue. My situation is as follows:

**NGINX Ingress controller version**: 0.11.0 -- Without RBAC

**Kubernetes Version** (via `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6

[2018-03-15 05:05] johnmarcou commented on #1994
Hi,

Did you find a solution for this please?

Thank you.

[2018-03-15 11:55] aledbf commented on #2195
@ivan-section-io this happens only if the ingress controller cannot reach the API server for more than 10 minutes (the default value of flag --sync-period).
In case a reconnection the informers in the ingress controller will update the content and sync the state.

[2018-03-15 11:57] aledbf commented on #2195
The problem with your suggestion is that the ingress controller is not the source of truth of the cluster.
Do you have multiple API servers in your cluster? The situation you are describing should not happen in that scenario.

[2018-03-15 11:59] aledbf commented on #2195
As I mentioned in another comment, to can avoid this increase the value of `--sync-period` flag in the ingress deployment.

[2018-03-15 12:07] kaelzhang commented on #1531
@noprom moved here [https://github.com/kubernetes/ingress-nginx/tree/master/deploy](https://github.com/kubernetes/ingress-nginx/tree/master/deploy)

[2018-03-15 14:56] dennis-bell commented on #1794
Seems like the issue is back in 0.10.2

`-------------------------------------------------------------------------------
I0315 14:52:34.900390       5 controller.go:171] backend reload required
E0315 14:52:34.959721       5 controller.go:176] unexpected failure restarting the backend:

-------------------------------------------------------------------------------
Error: exit status 1
2018/03/15 1

[2018-03-15 16:08] dennis-bell commented on #2171
Seeing the same problem, as above..

[2018-03-15 16:16] mrparkers commented on #1815
@Dirbaio Thanks for posting the workaround.  I was just bit by this, and I am also in favor of a more explicit configmap setting to override this behavior.  I'm happy to help with this wherever I can.

[2018-03-15 16:48] keiths-osc commented on #2045
I recently came across the need for a wildcard ingress, and I found this issue, as well as issue #8.  I set up a very similar example to the one shown by mattdodge [here](https://github.com/kubernetes/ingress-nginx/issues/2045#issuecomment-367206374) and zarqman [here](https://github.com/kubernetes/ingress-nginx/issues/8#issuecomment-268868158) and it appeared to work fine.  (Thanks for the hints)

[2018-03-15 17:24] aledbf commented on #2045
The Ingress spec exists only in code. Here you can find the definition of Ingress
https://github.com/kubernetes/kubernetes/blob/f0e337cd56f36a6c9b8a0107084baa18fc20ddd8/pkg/apis/extensions/types.go#L595

The reason why is this is not supported in Kubernetes is the lack of validations of the `host` field, overlaps and definitions about order and priorities.

[2018-03-15 17:53] aasmm7x commented on #250
I was having this error in the newest version and follow the @chainlink advise.

Change the path to `/` and works liek a charm!

It was `/*` before.

[2018-03-15 19:20] bfsmith commented on #683
I'm seeing this issue and the rewrite doesn't seem to work with a non-standard port.

I'm using https://localhost:8002/dashboard to try and access the dashboard. The dashboard loads but fails to login, presumably related to how the dashboard does client-side routing. If I add a trailing slash, https://localhost:8002/dashboard/, I can login just fine.

Here's my yaml
[code]

That configuration take

[2018-03-15 20:22] ElvinEfendi commented on #1905
@valeriano-manassero thanks for starting the discussion. IMHO the next immediate step after https://github.com/kubernetes/ingress-nginx/pull/2174 gets merged should be coming up with a way to test Lua code. One option here would be to use current e2e test framework.

After the test process is in place I suggest we focus on the remaining tasks in the following priority:
1. Matching all the LB funct

[2018-03-15 22:19] ops-ninja commented on #1809
@aledbf could you post a snippet of what you mean? It seems people are reporting they can't replicate what you're suggesting.

[2018-03-16 02:16] JinsYin commented on #1182
@jessehu I met the same issue when Ingress forward requests on port 80 to Harbor service.

[code]

[2018-03-16 02:38] jessehu commented on #1182
@JinsYin You need to add this in your ingress.yml
[code]
BTW you can try the official Harbor Helm Chart 1.4.0 beta https://github.com/vmware/harbor/tree/master/contrib/helm/harbor.
This is the ingress.yaml https://github.com/vmware/harbor/blob/master/contrib/helm/harbor/templates/ingress/ingress.yaml

[2018-03-16 02:45] JinsYin commented on #1182
@jessehu Thank you so much, It is working.

[2018-03-16 03:08] JinsYin commented on #1623
@kbrwn @morvencao You can try adding this in ingress.yaml

[code]

[2018-03-16 05:06] morvencao commented on #1623
@JinsYin Awesome, it works.
My complete ingress yaml:
[code]
I set up build the docker registry with `sonatype-nexus` chart: https://github.com/kubernetes/charts/tree/master/stable/sonatype-nexus

[2018-03-16 05:57] boazj commented on #683
@bfsmith this snippet works fully for me, try it please
notice you're missing the tls sections, host section, ssl passthrough annotation and the rewrite rule is different
I would also recommend attaching into the nginx pod and checking the nginx.conf just to see what's what.

[code]

[2018-03-16 07:10] maheshvra commented on #1663
Facing the same issue when trying to setup openfaas on gke (1.8+ version)

[code]

I ran the commands suggested to fix the issue but it did not solve the problem,
`kubectl create clusterrolebinding cluster-admin-binding --clusterrole cluster-admin --user $(gcloud config get-value account)`

`kubectl create clusterrolebinding "cluster-admin-$(whoami)"    --clusterrole=cluster-admin    --user="$(gcl

[2018-03-16 10:06] petergardfjall commented on #683
@bfsmith: I believe your issue (with non-standard port) is addressed by #2059

[2018-03-16 11:47] #1623 closed

[2018-03-16 14:19] bismarck commented on #2157
I just hit this issue.  Any plans to revert #2050?  Maybe add a configuration flag to opt into using `fs.file-max` instead of making it the default?

[2018-03-16 14:47] aledbf commented on #2157
@gyliu513 please check this

[2018-03-16 18:27] aledbf commented on #2184
@kfox1111 if there is no endpoints available you should see 503 not 404
Please check https://github.com/kubernetes/ingress-nginx/blob/41cefeb1781a3cf16ab6b7e13fe921611726d7b2/rootfs/etc/nginx/template/nginx.tmpl#L880
If you use a custom backend you receive the status code and you can customize the action

[2018-03-16 22:34] gustavomc commented on #672
hi @Karthickarumugam how could you get it to work?

[2018-03-17 15:20] oilbeater commented on #2189
It's better to make use-http2 a per ingress rules not a global config

[2018-03-17 21:54] aledbf commented on #39
Today NGINX released a new version with support for gRPC
https://www.nginx.com/blog/nginx-1-13-10-grpc

[2018-03-18 12:23] towolf opened #2204 "Renew of `default-ssl-certificate` secret won't work"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**NGINX Ingress controller version**:

0.11.0

**Kubernetes version** (use `kubectl version`):

1.9.2

**Environment**:

Own hardware, Ubuntu 16.04 amd64

**What happened**:

I want to only use the `default-ssl-certificate` for all `ssl_certificate` lines in Nginx because namespace owners do not currently have control over our

[2018-03-18 12:48] towolf commented on #2204
More logs from startup:
[code]
[code]

Now after startup, this does nothing:
[code]

[2018-03-18 12:50] towolf commented on #2204
And this is the configured ingress without dedicated own secret:
[code]

[2018-03-18 13:03] towolf commented on #2204
And, as mentioned, it process the DELETE event on this secret, but not the updates, creates, etc.
[code]

[2018-03-18 16:30] #2179 closed

[2018-03-18 20:13] aledbf commented on #2197
Closing. This works as expected. That said after #2174 this should not be an issue. You can test that If using `quay.io/aledbf/nginx-ingress-controller:0.341` with the flag `--enable-dynamic-configuration=true` in the deployment

[2018-03-18 20:13] #2197 closed

[2018-03-18 20:44] #2095 closed

[2018-03-18 22:17] egeland opened #2207 "Feature Request: gRPC support"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE REQUEST

NGINX has announced gRPC load balancing support in the upcoming release - see https://www.nginx.com/blog/nginx-1-13-10-grpc/

Please add support for this to the ingress controller

[2018-03-18 22:24] aledbf commented on #2207
@egeland this is not released yet. We need to wait for 1.3.10. The code for gRPC is only present in hg.

[2018-03-18 22:25] egeland commented on #2207
I know - which is why I made sure to say "upcoming release" 😉

[2018-03-18 23:39] aledbf commented on #1905
@Lookyan can you test quay.io/aledbf/nginx-ingress-controller:0.343 adding the flag
`--enable-dynamic-configuration` in the deployment?
This image contains the next release 0.12.0.

[2018-03-18 23:44] aledbf commented on #2199
Closing. Please reopen if the issue persists after changing the path

[2018-03-18 23:44] #2199 closed

[2018-03-18 23:45] aledbf commented on #2186
Closing. Please reopen when you can provide the requested information

[2018-03-18 23:45] #2186 closed

[2018-03-18 23:47] aledbf commented on #2176
@unicast please update to 0.11.0

[2018-03-18 23:48] aledbf commented on #2176
@unicast also the path should be `/test-noctua`

[2018-03-18 23:51] aledbf commented on #1816
Closing. Annotation can only contain strings. This means is not possible to implement this proposal.
We are exploring using CRDs instead of annotations. This can provide better configurations.

[2018-03-18 23:51] #1816 closed

[2018-03-19 00:41] jhorwit2 commented on #1816
@aledbf I think you misread my proposal. It doesn't mention using something not a string for an annotation.

We ended up solving this with an admission webhook and controller. Thanks for taking a look tho.

[2018-03-19 09:36] unicast commented on #2176
Tested with master - it works just fine, will try to use 0.11.0 or will wait a bit for 0.12.0
Thanks!

[2018-03-19 09:36] #2176 closed

[2018-03-19 11:46] #2198 closed

[2018-03-19 12:51] aledbf commented on #2196
@geek876 please post an example of the logs without the format

[2018-03-19 13:01] wz185 commented on #495
@ankon Have you eventually worked out the ingress file? Would switching the order of two definitions solve the issue? I am facing the same issue you had and interested in to know your solution.

[2018-03-19 13:09] geek876 commented on #2196
@aledbf

NON JSON
[code]

JSON
[code]

[2018-03-19 13:49] panamafrancis commented on #2207
I'd like to get the ball rolling on this.

I assume the following would need to be implemented:

1. A new template file just for gRPC services
2. A new set of annotations eg `nginx.ingress.kubernetes.io/grpc-*`
3. Either build a new default backend for gRPC or extend the existing one
4. Documentation.

What i'm not sure about is the conflict between existing annotations and gRPC, can they be re-us

[2018-03-19 14:00] panamafrancis commented on #2190
By design the ingress controller scrapes the endpoints of a service so nginx connects directly to the pods.

I think the best solution is to set the command line flag '--sort-backends=true'.

See this blog post: http://danielfm.me/posts/painless-nginx-ingress.html

[2018-03-19 14:48] foxylion opened #2211 "Unable to start ingress controller 0.12.0"
Hi,
in the nginx contoller version 0.12.0 I'm unable to start the controller. It will fail with the following error:

[code]

Code for reproduction can be found [here](https://github.com/foxylion-playground/ingress-nginx-issues/tree/26584eabed509ff5759a500e4e4845513d46803b). :-)

[2018-03-19 15:09] aledbf commented on #2211
@foxylion please use `quay.io/aledbf/nginx-ingress-controller:0.344`

[2018-03-19 15:55] #2211 closed

[2018-03-19 18:18] kfox1111 commented on #1461
/remove-lifecycle stale

[2018-03-19 18:19] kfox1111 commented on #1461
Annotation would be required as end users control annotations but not the nginx-ingress configmap.

[2018-03-19 18:27] ElvinEfendi commented on #2171
I'm seeing the same issue, here are the logs with v=10
[code]
<notice it was stuck here for 5s - which is livenessProve.timeoutSeconds I configured>
[code]

[2018-03-19 18:38] Justkant opened #2214 "Feature request: Disable authentication for specific locations"
**Is this a request for help?** : no

**What keywords did you search in NGINX Ingress controller issues before filing this one?** : cert-manager auth authentification basic

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**NGINX Ingress controller version**: v0.11.0

**Kubernetes version** (use `kubectl version`): v1.8.6

**What happened**:
`cert-manager` fails to

[2018-03-19 19:35] aledbf commented on #2207
@panamafrancis first, let's wait for the release.

After that, I will update the nginx image to add support for gRPC.
Then we just need one annotation to add support for gRPC, something like `nginx.ingress.kubernetes.io/use-grpc` just to enable the feature and see what's the behavior. Later we can start adding new configurations for all the gRPC settings.

[2018-03-19 19:47] Justkant commented on #2214
Linked to https://github.com/jetstack/cert-manager/issues/235

[2018-03-20 04:45] Lookyan commented on #1905
Yes, thank you, I'll test it.

[2018-03-20 10:55] shenxg13 opened #2218 "Is ingress-nginx support tcp session affinity?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
Yes.

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
ingress nginx tcp session affinity

[2018-03-20 11:51] #2114 closed

[2018-03-20 14:18] oilbeater commented on #2218
TCP connection by its nature is session affinity. Maybe you mean balance by client ip?

[2018-03-20 15:56] matth-boise commented on #2044
the ingress-nginx keepalive_timeout is 80s, the ELB idle connection timeout is 75 seconds.
we have seen no 408 errors in about 4 weeks, but do occasionally see the 000 logged in ingress-nginx access log.

[2018-03-20 16:23] aledbf commented on #2044
@matth-boise how did you install the ingress controller?
If you follow the AWS deploy guide you should not see this timeouts
Please check https://github.com/kubernetes/ingress-nginx/blob/master/deploy/provider/aws/service-l4.yaml

[2018-03-20 16:25] aledbf commented on #2044
@matth-boise also keep in mind 000 also means that the client disconnected before completing the request (this is not an error)

[2018-03-20 17:18] shenxg13 commented on #2218
Yes, like nginx ip_hash i think.

[2018-03-20 18:14] matth-boise commented on #2044
@aledbf thanks for your responses!

i installed the ingress-controller using following (helm templatized) kube resources based on examples in September 2017.  currently i have ELB idletimeout 75 seconds, nginx keepalive_timeout 80s and am not using proxy protocol.  (also noteworthy: one of the upstreams requires session stickiness, so enable-sticky-sessions is true in ingress-nginx CM and that ups

[2018-03-20 18:43] trnl opened #2222 "segfault due to opentracing"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
no

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
nginx, opentracing, zipkin, segfault

[2018-03-20 18:46] aledbf commented on #2222
@rnburn can you help with this?

[2018-03-20 18:51] rnburn commented on #2222
Yep. Will take a look.

[2018-03-20 18:52] aledbf commented on #2222
@trnl thank you for the detailed report.

[2018-03-20 18:57] trnl commented on #2222
On another cluster, I can't reproduce it, and the only difference which I noticed is the:
[code]

[2018-03-20 19:51] aledbf commented on #2207
To any user watching this issue: do you have a stateless gRPC service ready for Kubernetes?
I want to use something already tested so we can focus just on NGINX.
Thanks in advance

[2018-03-21 02:18] dcherniv opened #2225 "BUG: --enable-dynamic-configuration=true doesn't work properly"
**NGINX Ingress controller version**:
0.12.0

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.5", GitCommit:"f01a2bf98249a4db383560443a59bed0c13575df", GitTreeState:"clean", BuildDate:"2018-03-19T15:59:24Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9+", GitVersion:

[2018-03-21 02:21] aledbf commented on #2225
@ElvinEfendi ping

[2018-03-21 02:24] aledbf commented on #2225
@dcherniv this happens when the ingress controller starts?

[2018-03-21 02:25] aledbf commented on #2225
@dcherniv can you post the pod logs?

[2018-03-21 02:55] ElvinEfendi commented on #2225
It looks like the backends configuration don't get POSTed to the Lua endpoint successfully. Without any further logs my best guess is this is related to https://github.com/kubernetes/ingress-nginx/pull/2210 and fixed in that PR. tldr; is your pod probably has IPv6 enabled and therefore when controller sends POST request it gets blocked by Nginx.

@dcherniv do you see "Unexpected error code: 403" i

[2018-03-21 03:09] ElvinEfendi commented on #2225
@aledbf this happens when Nginx/Lua is processing a request. We can definitely catch the case and log something more meaningful instead of letting it fail with `attempt to index nil value`

[2018-03-21 03:11] oilbeater commented on #2218
Nginx tcp upstream now support hash balance algorithm http://nginx.org/en/docs/stream/ngx_stream_upstream_module.html#hash
I will try to add this feature to nginx-ingress if I have time. You can edit the nginx.tmpl and add `hash $remote_addr;` in tcp upstream section for now.

[2018-03-21 03:14] shenxg13 commented on #2218
Ok, thank you.

[2018-03-21 03:33] aledbf commented on #2225
Current master: `quay.io/aledbf/nginx-ingress-controller:0.346`

[2018-03-21 03:34] aledbf commented on #2225
I understand the error. I am trying to find out if this happens before the first sync of the configuration.
The "correct" way to ensure this do not happens is to add another call to nginx [here](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/checker.go#L44) to make sure the kubernetes probes only pass after the initial sync.

[2018-03-21 07:51] gae123 commented on #2007
I had the same problem and discovered that the following do not work:

nginx.ingress.kubernetes.io/proxy‑read‑timeout: 1800
nginx.ingress.kubernetes.io/proxy‑read‑timeout: 1800s
nginx.ingress.kubernetes.io/proxy‑read‑timeout: "1800s"

What does work is:

nginx.ingress.kubernetes.io/proxy‑read‑timeout: "1800"

[2018-03-21 12:40] mikksoone commented on #2225
I have the same issue with both 0.12 and latest master (0.346). Pods are IPv4 and the issue does not go away after waiting for some time (referring to the "first" sync).

[2018-03-21 14:02] aledbf commented on #2131
@rhefner1 please test `quay.io/aledbf/nginx-ingress-controller:0.347`

[2018-03-21 14:22] ElvinEfendi commented on #2225
@aledbf I like that idea! I'll try to address it sometime this week. In the meantime it would be nice to get more logs here.

@mikksoone @dcherniv if you see the same issue even with the latest master please provide some more logs. Enable `--v=2` then capture the logs from the start until after `dynamic reconfiguration succeeded, skipping reload` or `falling back to reload, could not dynamically r

[2018-03-21 14:29] dcherniv commented on #2225
Apologies for the delay. Here's the startup log right after nginx controller restart.
Of particular interest i think is the 403 on the POST to /configuration/backends.
![untitled](https://user-images.githubusercontent.com/19437418/37715558-af4795ec-2cf2-11e8-8a3d-d004b59ac763.png)

[2018-03-21 14:41] ElvinEfendi commented on #2225
@dcherniv have you tested with `quay.io/aledbf/nginx-ingress-controller:0.346`(current master)? The logs you posted above confirms what I said at https://github.com/kubernetes/ingress-nginx/issues/2225#issuecomment-374821266, i.e it should have already been fixed in master branch.

[2018-03-21 14:45] mikksoone commented on #2225
Logs from previous run, will try the --v2 later today.

[code]

[2018-03-21 14:54] ElvinEfendi commented on #2225
@mikksoone your issue seems to be different. When you test later today, please also set `error-log-level: info` in the configmap. In addition it would be useful to see the generated Nginx `server` block for the app under consideration and output of `curl localhost:18080/configuration/backends` while you are on a running ingress-nginx pod.

[2018-03-21 16:11] dcherniv commented on #2225
@ElvinEfendi Latest master image works for me.
[code]

[2018-03-21 16:35] mbugeia commented on #2225
I was hitting the same bug and I also confirm that it works with quay.io/aledbf/nginx-ingress-controller:0.346

[2018-03-21 17:16] artemzakharov opened #2230 "from-to-www-redirect not working with a wildcard"
**Is this a request for help?**: Request for bug fix

**What keywords did you search in NGINX Ingress controller issues before filing this one?**: wildcard www redirect

---

**Is this a BUG REPORT or FEATURE REQUEST?**: Bug

**NGINX Ingress controller version**: not sure, installed via the latest chart on Helm yesterday

**Kubernetes version** (use `kubectl version`): 1.9.4-gke.1

**Environment**

[2018-03-21 20:24] mikksoone commented on #2225
curl localhost:18080/configuration/backends
nil

More logs:
[code]

[2018-03-21 20:55] ElvinEfendi commented on #2225
Thanks for the logs @mikksoone!
[code]
this stands out in the logs. I see that `client_body_buffer_size` is `8k` whereas `client_max_body_size` is `1m` for you vhosts. Based on the log entry above looks like Nginx writes the data into a temporary file and therefore `ngx.req.get_body_data()` returns empty data. In order to confirm this theory can you bump up `client_body_buffer_size` to `1m` for th

[2018-03-21 21:09] aledbf opened #2231 "WIP: Dynamic configuration fixes"
- [x] add additional check [here](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/checker.go#L44) to avoid passing probes before initial sync
- [x] check is not required to re-send configuration after a reload (ingress backend successfully reloaded) #2511
- [x] cleanup JSON structure before making request to lua
- [x] check required client_body_buffer_size to av

[2018-03-21 21:10] aledbf commented on #2225
@ElvinEfendi what if we start adding items here https://github.com/kubernetes/ingress-nginx/issues/2231 so we know what it's missing?

[2018-03-21 21:13] mikksoone commented on #2225
Yep, client_body_buffer_size: 1m fixes the issue.
Cluster has around 10 services, 30 pods.

PS! Big thanks for the feature, our keepalives are now very happy.

[2018-03-21 21:14] rikatz commented on #2225
Using the image quay.io/aledbf/nginx-ingress-controller:0.346 and still have the problem here. I've an environment with some non existing services/backend (users misconfiguration) and also some non existing secrets.

[code]

[2018-03-21 21:26] ElvinEfendi commented on #2225
@rikatz provide more logs based on https://github.com/kubernetes/ingress-nginx/issues/2225#issuecomment-374953979 and https://github.com/kubernetes/ingress-nginx/issues/2225#issuecomment-374966071

[2018-03-22 03:38] #2207 closed

[2018-03-22 04:38] #2178 closed

[2018-03-22 10:05] mikksoone commented on #2231
External authentication doesn't seem to work:
[code]

[2018-03-22 12:43] #2131 closed

[2018-03-22 12:55] zeeZ commented on #1944
From looking at the controller source and my limited understanding about how the sections I looked at fit into the grand scheme of things, I gathered that it:

- Sorts all ingresses ascending by resourceVersion
- Iterates over all ingresses and for each rule
  - if a certificate is already set immediately skips to the next rule
  - if no secret is defined sets the certificate to the default certif

[2018-03-22 16:03] #2157 closed

[2018-03-23 01:24] Wenzil commented on #1399
/reopen

[2018-03-23 01:25] Wenzil commented on #1399
This issue is still around

[2018-03-23 07:13] oilbeater opened #2245 "Support multiple custom listen port for http and https"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): No

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): custom listen port

---

**Is this a B

[2018-03-23 11:08] #1980 closed

[2018-03-23 14:45] ElvinEfendi commented on #2231
@mikksoone please create a separate issue with the logs based on instructions at https://github.com/kubernetes/ingress-nginx/issues/2225#issuecomment-374953979 and https://github.com/kubernetes/ingress-nginx/issues/2225#issuecomment-374966071

[2018-03-23 15:16] bilalyasar opened #2247 "nginx basic auth some secret names doesn't work"
**Is this a request for help?**: no
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): basic auth, 503

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

If this is a BUG REPORT, please:
  - Fill in as much of the template below as you can.  If you leave out
    inform

[2018-03-23 16:23] haoqing0110 opened #2249 "unexpected error watching template /etc/nginx/template/nginx.tmpl: no space left on device"
**Env:**
NGINX Ingress controller version: 0.9.0
Kubernetes version: 1.9.1
Docker Version: 17.09.0-ce
Docker Storage Driver: overlay2
Backing Filesystem: extfs

**What happened:**
The cluster runs for 1 week, and now nginx-ingress is in CrashLoopBackOff and can't recover.

The logs of failed pods:
F0323 15:01:30.608710       7 nginx.go:178] unexpected error watching template /etc/nginx/template/ng

[2018-03-23 16:24] oilbeater commented on #2247
@bilalyasar there is a bug in redirect, you can try oilbeater/nginx-ingress-controller-amd64:0.12.0 to see if it's ok now

[2018-03-23 16:32] bilalyasar commented on #2247
Hey @oilbeater can i see your fixed code?  Because i am already using customized version of nginx controller so i have to apply your fix to my custom nginx :(

[2018-03-23 16:36] oilbeater commented on #2247
https://github.com/kubernetes/ingress-nginx/pull/2248 @bilalyasar

[2018-03-23 17:03] oilbeater commented on #2247
@bilalyasar oh sorry, I reply to a wrong issue :(

[2018-03-23 17:04] oilbeater commented on #2230
@artemzakharov there is a bug in redirect, you can try oilbeater/nginx-ingress-controller-amd64:0.12.0 to see if it's ok now

[2018-03-23 17:05] oilbeater commented on #2247
maybe the secret in a wrong namespace that the ingress has no permission?

[2018-03-23 18:59] artemzakharov commented on #2230
@oilbeater thank you, how can I try it out? I assume I need to reinstall with helm?

[2018-03-23 20:25] akoenig opened #2250 "Still default status code when defining `limit-req-status-code`"
**NGINX Ingress controller version**:

`0.12.0`

**Kubernetes version** (use `kubectl version`):

`v1.8.6`

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When defining `limit-req-status-code: "429"` in the ConfigMap and deploying the DaemonSet afterw

[2018-03-23 21:48] pingles opened #2251 "Feature request: more OpenTracing configuration options"
**Is this a BUG REPORT or FEATURE REQUEST? (choose one):** FEATURE REQUEST

**NGINX Ingress controller version:** v0.12.0

We'd really like to be able to set more of the options that the `nginx-opentracing` module supports. Currently the controller can have config to control Jaeger/Zipkin but the module has a host of other settings that are really useful that aren't currently supported by the ingr

[2018-03-23 21:54] aledbf commented on #2251
@pingles you can achieve this using the [http-snippet](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/configmap.md#http-snippet) setting in the configuration configmap

[2018-03-23 21:57] pingles commented on #2251
Ah, thanks, didn't realise- saw the opentracing config keys and assumed that was it.

Is `http-snippet` the recommended way to do this stuff or is there value in having options for the opentracing stuff be more explicit?

[2018-03-23 22:06] aledbf commented on #2251
We already have too many options in the configuration configmap and annotations.
The key `http-snippet` allows you to customize lots of things not mapped in the go code so I think is more powerful (you don't need to rebuild the image).

[2018-03-23 22:16] pingles commented on #2251
👍

[2018-03-24 00:30] jpconver opened #2252 "Sticky ingress annotations don't appear to work"
**NGINX Ingress controller version**: image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.9.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-07T12:22:21Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd

[2018-03-24 01:56] oilbeater commented on #2230
@artemzakharov you can edit the ingress-controller deployment and change the image name

[2018-03-24 02:00] ptagr commented on #1417
got the error. Service had to be `NodePort`

[2018-03-24 02:09] oilbeater commented on #2252
you can update image tag to 0.12.0 to check if it works

[2018-03-24 05:00] artemzakharov commented on #2230
@oilbeater I tried out the image, still doesn't redirect.

[2018-03-24 05:04] oilbeater commented on #2230
can you paste  the /etc/nginx/nginx.conf in the container,there should be a section like
`    server {

        listen 80;
        listen 443 ssl;

        listen [::]:80;
        listen [::]:443;

        server_name foo.com;

        return 308 $scheme://www.foo.com$request_uri;

    }`

[2018-03-24 05:50] artemzakharov commented on #2230
Wasn't sure which one you wanted since there were many server sections, so here's the whole conf file.
[code]

[2018-03-24 07:08] oilbeater commented on #2230
@artemzakharov still trying to figure out why this happens, you can try to remove www.foo.com ingress rules to see if works

[2018-03-24 07:41] artemzakharov commented on #2230
@oilbeater I tried removing it, and this is what happens:
`foo.com` redirects to `www.foo.com`, which just displays `default backend - 404`
`https://foo.com` and `https://www.foo.com` result in the browser getting the ingress controller fake certificate

[2018-03-24 08:30] oilbeater commented on #2230
the logical here is a little complex, try remove the` www.foo.com` rule and leave the `foo.com` rule

[2018-03-24 08:34] artemzakharov commented on #2230
I'm confused, did you want me to remove the logic from the nginx file itself? I removed it from the yaml file that defined the ingress resource, so I was left with this:

[code]

[2018-03-24 10:00] oilbeater commented on #2230
sorry, I was confused by the code logical. The annotation `from-to-www-redirect` seems cannot work alone. You can keep the ingress rule you pasted and add another annotation `nginx.ingress.kubernetes.io/server-alias: "www.foo.com"`. Hope this can work now

[2018-03-24 10:10] oilbeater commented on #2230
@artemzakharov Sorry, I found my mistake at the first place. Just rollback the image and only keep the www.foo.com rule. Hope this could work

[code]

[2018-03-24 12:23] distol opened #2253 "Randomly getting return 503 in a location ("secret was not found") during the first deploy of Helm Chart"
**NGINX Ingress controller version**: 0.11.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.5", GitCommit:"cce11c6a185279d037023e02ac5249e14daa22bf", GitTreeState:"clean", BuildDate:"2017-12-07T16:16:03Z", GoVersion:"go1.8.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"v

[2018-03-24 12:26] distol commented on #2253
Time-to-time, but much rarely, I am getting into the situation with DIFFERENT content of nginx.conf on controllers (1 right and 5 wrong, for example).

[2018-03-24 12:27] distol commented on #2253
[code]

[2018-03-24 14:25] trnl commented on #2222
@rnburn , maybe I can provide some additional information?

[2018-03-24 17:08] jpconver commented on #2252
Yes!!! You are right. The annotations that I should use need to start with: nginx. Thanks a lot!!
For the record the correct way of specifying my ingress was then:
<pre>
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/affinity: cookie
    nginx.ingress.kubernetes.io/session-cookie-hash: sha1
    nginx.ingress.kubernetes.io/session-cookie-name:

[2018-03-24 17:08] #2252 closed

[2018-03-24 19:10] artemzakharov commented on #2230
Hey @oilbeater, that mostly works, but i get a certificate error and no redirect when i manually add `https://` to  `foo.com`. All other inputs work fine in redirecting to `https://www.foo.com`.

[2018-03-24 21:47] aledbf commented on #2251
Closing. Please reopen if you have more questions.

[2018-03-24 21:47] #2251 closed

[2018-03-25 09:24] christhomas commented on #1824
I would confirm this too:

This doesn't work: ```nginx.ingress.kubernetes.io/proxy-body-size: 500m```
This does work: ```ingress.kubernetes.io/proxy-body-size: 500m```

[2018-03-25 11:00] DylanGraham commented on #1824
@christhomas `0` will turn off any limit

[2018-03-25 11:18] christhomas commented on #1824
No, that isn't happening, I tried 0, "0", 0m, and "0m" and all the attempts ended up with "1m" (the default I expected).

[2018-03-25 18:35] #206 closed

[2018-03-25 22:18] wallnerryan commented on #1847
Super helpful as the docs https://kubernetes.io/docs/concepts/services-networking/ingress/#single-service-ingress dont mention `nginx.ingress.kubernetes.io` vs `ingress.kubernetes.io`

[2018-03-25 22:46] wonoments opened #2256 "Random ObjectReference errors during ingress deletion"
**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
Event(v1.ObjectReference, wrap.go:42] PATCH
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**:
0.11.0

**Kubernetes version** (use `kubectl version`):
1.8.5

**Environment**:
Produc

[2018-03-25 23:13] aledbf commented on #1613
@rajholla we never added this module to the ingress controller
Maybe you are getting timeouts because right now is not possible to customize the value
https://github.com/kubernetes/ingress-nginx/blob/adf12fced1d9db98c767554adff1c7895e50ee24/internal/ingress/controller/template/template.go#L199

[2018-03-26 01:07] rajholla commented on #1613
Thank you for the clarification @aledbf
The issue is not limited to timeouts for 30 sec though , new ip address for the back-end service is available only after controller restart.
I am wondering if I am missing any other configuration.
FYI using (image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.12.0)

[2018-03-26 02:46] haoqing0110 commented on #2249
inode usage is only 9%.
Use lsof, didn't find unreleased fd point to nginx.tmpl directly. However, the pod get running by itself now.
If this is unreleased fd issue, then it is docker file system bug? or ingress code bug?
[code]

[2018-03-26 02:54] luckyfengyong commented on #1965
@aledbf We found the issue in 0.9.0 as well (please refer to #2249). Can you share with us the PR which is supposed to fix the issue in `gcr.io/google_containers/nginx-ingress-controller:0.9.0-beta.13`?

[2018-03-26 02:55] luckyfengyong commented on #2249
FYI @aledbf ^^^

[2018-03-26 07:28] bilalyasar commented on #2247
@oilbeater  when I restart nginx controller that it finds this issue doesn't happen consistently
// cc @aledbf

[2018-03-26 10:08] lippertmarkus commented on #2108
Having the same issues using v0.12.0 (`quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.12.0`)

Logs of pod:
[code]

nginx configuration file `/tmp/nginx-cfg301397264` in pod (referenced in pod log):
[code]

Ingress:
[code]

Seems like the variable in the config isn't properly replaced. Any ideas?

[2018-03-26 11:12] Maxpain177 opened #2257 "Whitelisting by remote_addr, not by $the_real_ip (X-Forwarded-For)"
**Is this a BUG REPORT or FEATURE REQUEST?**: `FEATURE REQUEST`

**NGINX Ingress controller version**: `0.11.0`

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: Bare-metal (5 dedicated servers)
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]

**What happened**:
I need to whitelist my nginx

[2018-03-26 11:26] aledbf commented on #2257
@Maxpain177 you can do that using `forwarded-for-header: CF-Connecting-IP` in the configuration configmap

[2018-03-26 11:28] Maxpain177 commented on #2257
It will be cool, if you add the ability to change `$the_real_ip` to another header (e.g. $remote_addr) in this place:
[code]

[2018-03-26 11:32] Maxpain177 commented on #2257
@aledbf, I'm already using `forwarded-for-header: CF-Connecting-IP` and it's change $the_real_ip, which used in geo nginx's directive. I need to change $the_real_ip in geo directive to $remote_addr.

[2018-03-26 11:44] ElvinEfendi commented on #2108
@lippertmarkus the issue you're seeing has been fixed at https://github.com/kubernetes/ingress-nginx/pull/2215

[2018-03-26 14:46] smelchior opened #2259 "Client Certificate Auth does not work in 0.12.0"
**NGINX Ingress controller version**: 0.12.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-09T21:51:06Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"8", GitVersion:"

[2018-03-26 14:59] rnburn commented on #2222
@trnl - The information is good. I can tell it's crashing [here](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/opentracing/src/inject_span_context.cpp#L23). I haven't had a chance yet to investigate future, but will try to fix this week.

[2018-03-26 15:01] maxkondr opened #2260 "Enable/disable opentracing for particular backend"
Hi,

Is it possible to enable/disable opentracing functionality for particular backend only?

For example I want to disable tracing collection for some nginx staff (/healthz, /metrics, .... ).
Is it possible to set some annotations in particular ingress resource to achieve this aim ?

My current ingress resource looks like:
[code]

[2018-03-26 15:06] aledbf commented on #2260
@maxkondr the opentracing module does not have that option.

[2018-03-26 15:06] aledbf commented on #2260
@maxkondr if you want to disable opentracing for a particular ingress you can use the [configuration-snippet](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md#configuration-snippet) annotation

[2018-03-26 15:23] rhefner1 commented on #2131
@aledbf thanks so much for getting back to this. It works perfectly!

[2018-03-26 15:41] rlees85 commented on #2153
@juliohm1978 I don't suppose you have had any experience with `ingress-nginx` and Dynatrace SaaS (one-agent)?

If I do nothing (use `ingress-nginx 0.12.0` the following happens:

* Dynatrace SaaS moans saying it cannot enable Deep Monitoring on Nginx due to it being statically linked (is it? doesn't seem to be?)
* I have no idea what one-agent is doing, but Nginx fails to open ports 80 & 443 and t

[2018-03-26 16:45] juliohm1978 commented on #2153
@rlees85

You are right. We don't have any experience with the OneAgent solution yet. But it is on our roadmap for a future licence upgrade.

At this point, I have no idea how the OneAgent performs its deep monitoring, but since it's supposed to be more prepared for a cloud environment, there should be a broader support for containerized apps and their more recent builds.

A DynaTrace support tick

[2018-03-26 16:46] #2153 closed

[2018-03-26 17:11] aledbf commented on #2256
This is received by the ingress informer and it's just an event. This only triggers an update.
If you see this it basically means "something" is calling `kubectl delete ....` on an Ingress

Can you post the log from the pod (feel free to replace any private informations)

[2018-03-26 20:21] MadWombat opened #2261 "Ingress pods fail on a fresh cluster"
**NGINX Ingress controller version**:

0.12.0

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.4", GitCommit:"bee2d1505c4fe820744d26d41ecd3fdd4a3d6546", GitTreeState:"clean", BuildDate:"2018-03-12T16:29:47Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:

[2018-03-26 21:06] distol opened #2262 "If you are running with hostNetwork: true then you are exposing the stats without any restriction"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

When you are running with `hostNetwork: true` you get all your stats publicly available (on ports `:18080` and `:10254`). That's not good.
[code]

It would be better to provide options to choose what addresses to listen:
* For `:18080` it would be better to listen on 127.0.0.1 by default and provide an option for cases lik

[2018-03-26 21:08] distol commented on #2262
@aledbf, do you see any problems? I'm ready to implement this.

[2018-03-26 21:14] aledbf commented on #2262
Please don't assume that. You cannot force users to install additional components.

No, if you don't change the defaults.

[2018-03-26 21:15] aledbf commented on #2262
If you open the PR please include a link to that project (docs) to other users can use it but must be optional.

[2018-03-26 21:17] distol commented on #2253
Seems to be the same problem: #2247 .

[2018-03-26 21:55] #2261 closed

[2018-03-26 21:55] MadWombat commented on #2261
My bad, misunderstood how load balancers work in Kube

[2018-03-27 06:12] maxkondr commented on #2260
@aledbf

It would be great to have this functionality on annotation level, so that the user doesn't need to write options in nginx's style/syntax but just write smth like that:
[code]

Please consider adding this functionality.

[2018-03-27 07:29] yunmoxue commented on #2045
i hope ingress host could match this domain:  www.*.domain.com
how can i do it?

[2018-03-27 08:05] ajayaa opened #2264 "Fix tls auth example"

[2018-03-27 08:50] eerikkuoppala commented on #1824
I am having the same issue (status code 413) in Google Cloud Platform when my request header is large. I have tried all kinds of configuration changes.

I deployed `quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.12.0` with mandatory commands and non-rbac.

[2018-03-27 08:59] strowi opened #2266 "error retrieving resource lock ingress-controller-leader-nginx with hostNetwork"
**Is this a request for help?** : Yes/no

**What keywords did you search in NGINX Ingress controller issues before filing this one?** error retrieving resource lock ingress-controller-leader-nginx

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**: 0.12.0

**Kubernetes version** (use `kubectl version`): 1.8.10

**Environment**:

- **Cl

[2018-03-27 14:33] oilbeater commented on #2259
can you paste the diff of nginx.conf that generated by two version of ingress-nginx?

[2018-03-27 19:54] robertvilvert commented on #1664
Is there any way to get the timestamp?

[2018-03-27 20:06] rajholla commented on #1613
@aledbf
Can I reopen this ticket to track this issue ?

[2018-03-27 20:55] aledbf commented on #1613
@rajholla please open a new issue. We are not going to use this module for custom dns timoeuts

[2018-03-28 08:12] mikksoone opened #2268 "BUG: --enable-dynamic-configuration=true doesnt work with external auth"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**NGINX Ingress controller version**:master (0.346)

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Ubuntu
- **Kernel** (e.g. `uname -a`): 4.4.65-k8s #1 SMP Tue May 2 15:48:24 UTC 2017 x86_64 Linux
- **Install to

[2018-03-28 09:08] mafzst commented on #153
I've crafted this https://github.com/mafzst/tunack to auto populate configmaps from service annotation.
It's just a PoC  but can be imporoved

[2018-03-28 09:26] maxkondr commented on #2260
@aledbf
is it possible to disable tracing for /nginx_status location ?
I have scanned nginx.conf.tmpl and do not see any option to adjust this location.
It produces a lot of traces since my monitoring system (prometheus) calls this url very often.

[2018-03-28 09:35] oilbeater commented on #2260
`opentracing off` in /nginx_status location may work
https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc/Directives.md#opentracing

[2018-03-28 09:41] oilbeater commented on #2260
opentracing off in /nginx_status location may work
https://github.com/opentracing-contrib/nginx-opentracing/blob/master/doc/Directives.md#opentracing @maxkondr

[2018-03-28 10:13] oilbeater commented on #2268
the annotation name should start with `nginx`

[code]

[2018-03-28 10:15] mikksoone commented on #2268
I tried to explicitly say in the comment that the annotation name is correct (Because the configmap has   annotations-prefix: ingress.kubernetes.io)

[2018-03-28 11:16] ant1441 commented on #2259
I am also seeing this issue after upgrading from 0.11.0 to 0.12.0
A downgrade also solved the problem.

My environment is slightly different:
Kubernetes version (use kubectl version): v1.8.8-gke.0

Environment:
    Cloud provider or hardware configuration: GKE

And my Ingress resource has the following annotations:

[code]

The diff between the 0.11.0 and 0.12.0 nginx.conf looks like (just showing

[2018-03-28 12:28] aledbf commented on #2159
Closing. Fixed in #2187

[2018-03-28 12:28] #2159 closed

[2018-03-28 12:59] discostur commented on #1957
Hi,

just had a similary problem ... trying to configure a catch all ingress like this:

[code]

I'm trying to reach the service via plain HTTP and there should be NO redirect, but:

[code]

[code]

I don't unterstand why i get a redirect if i'm connecting via HTTP ... it i set x-forwarded-for to https the request is plain http and i get an answer from my service. Is there anything else i have to

[2018-03-28 13:35] nrobert13 commented on #1750
/close

[2018-03-28 13:35] #1750 closed

[2018-03-28 16:13] ant1441 commented on #2259
[This](https://github.com/kubernetes/ingress-nginx/commit/3c67976969b695f5b2968ed8804c2463809c32ac#diff-86ac9ff9d75a0c5005c116e766a6127dL373) commit removed the following line from `internal/ingress/controller/controller.go`:

`server.CertificateAuth = anns.CertificateAuth`

Made in PR #2146 by @aledbf

Due to this, the `CertificateAuth` field is never set.

I don't fully follow the context of tha

[2018-03-28 16:20] valeriano-manassero commented on #1905
@ElvinEfendi @aledbf sorry, I was very busy in the last days. Regarding dynamic-reconfiguration I was in hurry to deploy something usable for my company so I was forced to create my fork:
https://github.com/NCCloud/fluid

There are, obviously huge differences from the point where I forked from here but I hope, in future, we can do it. Feel free to comment or give me a way to merge that functionali

[2018-03-28 16:37] ElvinEfendi commented on #1905
@valeriano-manassero some good stuff in that fork! It would be great to get consistent hashing and dynamic certificate features ported to this repository from your fork.

This week I'm going to refactor `balancer.lua` a bit and document how to add a new load balancer algorithm.

[2018-03-28 18:37] aledbf commented on #2259
@ant1441 thank you for finding the issue. That removal was a mistake.

[2018-03-28 18:52] aledbf commented on #2259
@ant1441 please use  `quay.io/aledbf/nginx-ingress-controller:0.348`

[2018-03-28 19:57] rnburn commented on #2222
I looked into this and I couldn't find any nginx documentation that says you can't modify headers_in like this [line](https://github.com/opentracing-contrib/nginx-opentracing/blob/master/opentracing/src/inject_span_context.cpp#L23) of the code does, but I [inquired](http://mailman.nginx.org/pipermail/nginx-devel/2018-March/010987.html) on nginx-devel to see if there's anything I'm missing.

Someth

[2018-03-28 20:06] aledbf commented on #2222
@rnburn that was fast http://mailman.nginx.org/pipermail/nginx-devel/2018-March/010988.html

[2018-03-28 20:32] JordanP commented on #2262
We run with `hostNetwork: true` but we also have a firewall that blocks everything except 80/443 so this "bug" is not that bad.

[2018-03-28 23:33] #2259 closed

[2018-03-29 08:30] ant1441 commented on #2259
Looks good, thanks :+1:

[2018-03-29 14:55] aledbf commented on #2264
Closing. Please use the issue template and provide details about the issue you are having.

[2018-03-29 14:55] #2264 closed

[2018-03-29 16:47] #2260 closed

[2018-03-29 17:05] #2149 closed

[2018-03-30 04:43] kingsqv opened #2275 "nginx: [emerg] "proxy_pass" directive is not allowed here"
When  i kubectl apply -f  a bab ingress config the nginx-ingress-controller emerg this error:
nginx: [emerg] "proxy_pass" directive is not allowed here
then  the nginx-ingress-controller will not reload his config。at this time if some deployment updated，nginx will not get the new endpoint address。then return 502。
The ingress yaml like this:

apiVersion: extensions/v1beta1
kind: Ingress
metadata:

[2018-03-30 10:59] aledbf commented on #2275
Closing. The directive proxy_pass is not allowed in a server block http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_pass
The code in the snippets must contain a valid nginx configuration.

[2018-03-30 10:59] #2275 closed

[2018-03-30 11:29] kingsqv commented on #2275
I know the directive proxy_pass is not allowed in a server block , the problem is  why this affect nginx-ingress-controller reload config。 if nginx -t is failed it should ignore this wrong config. but  in this case  it affect nginx-ingress-controller ,cause it can't reload confige。 i think it is DANGER things for  production env。

[2018-03-30 12:29] Lion-Wei opened #2277 "[Failed CI] IPVS proxy mode ingress controller can't create loadbalancer for ingress"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In a k8s cluster with IPVS proxy mode, when you create an ingress, the loadbalancer of this ingress can't be create　automatically, which caused the ipvs ci "gci-gce-ipvs" failed, link: http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

The failed case is `Loadbalancing: L7 [Slow] Nginx should conform to Ingress

[2018-03-30 13:32] aledbf commented on #2275
If you use the snippet annotations you need to make sure the configuration you are using it's valid.

Yes. That is why you are in charge to limit the access to Ingress rules using RBAC (or any other mechanism).

[2018-03-30 13:33] aledbf commented on #2277
@Lion-Wei first, please update the ingress controller version.

That error means you have RBAC (or any other alternative) enabled and you forgot to add permissions.
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/rbac.md

[2018-03-30 13:34] aledbf commented on #2277
Closing. Please reopen if the issue persists after adding permissions to the ingress controller

[2018-03-30 15:25] bartelsb opened #2278 "Instructions for setting up with AWS refer to a nonexistent resource"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):
Yes

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
AWS
---

**Is this a BUG REPORT or FE

[2018-03-30 17:00] akoenig opened #2281 "`X-Code` header not available"
**NGINX Ingress controller version**: `0.12.0`

**Kubernetes version** (use `kubectl version`): `v1.8.6`

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When trying to establish custom error responses, my default backend does not receive the `X-Code`

[2018-03-30 17:09] aledbf commented on #2281
@akoenig please check the generated nginx.conf in the pod contains locations with the pattern `location @custom_XXX` using `kubectl exec -n ingress <ingress pod> cat /etc/nginx/nginx.conf > ngc.cfg`

[2018-03-30 17:11] akoenig commented on #2281
Thanks @aledbf for the quick reply. Yes, the custom location configuration is available:

[code]

[2018-03-30 17:19] #2268 closed

[2018-03-30 17:29] akoenig commented on #2281
@aledbf Hm, I guess the problem is as follows: If there is no service at a certain subdomain, like `foo.myhost.com`, then the HTTP request which hits the default backend doesn't ship with the respective header. Trying an available service, like `available.myhost.com/non-existing` than the `X-Code` header is available. Any hint on how to have the header in the subdomain scenario as well? 🙂

[2018-03-30 17:49] aledbf commented on #2281
@akoenig can you post the generated nginx.conf?
(I am not sure but I think the "catch-all" nginx server does not have custom errors)

[2018-03-30 17:55] akoenig commented on #2281
@aledbf Sure. Here you go 🙂 – https://gist.github.com/akoenig/778fcfa7bf0c8df9c64eee36809401e4

[2018-03-30 21:09] nrupendesai commented on #1360
I need to use regex in ingress. Is there any plan to get it in upcoming version?
If its implemented, can you please point to that document?

[2018-03-31 00:51] kingsqv commented on #2275
why nginx -t do not work

[2018-03-31 01:00] kingsqv commented on #2275
Ok,thanks , i understanded ,wrong config  will be writen in nginx config ,and lead to failure reload next time  ，in tradition env is a little problem ,in k8s being magnified。
Does nginx-ingress-controller can remove bad config automatic，guarantee  normal operation In the future？

[2018-03-31 01:25] aledbf commented on #2275
No right now.

[2018-03-31 07:12] Lion-Wei commented on #2277
@aledbf Thanks, but once I change proxy mode to iptables, problem solved. So I think this problem may have something to do with kube-proxy.

[2018-03-31 09:32] Lion-Wei commented on #2277
I found this maybe related with iptables rules  `KUBE-HOSTPORTS` , ingress-controller need to validate the default service by access `https://10.0.0.1:443...`. But the iptables like:
[code]
That means the access of port `443` will **be directly DNAT to nginx-ingress-controller**.

In iptables proxy mode, DNAT will be done in `KUBE-SERVICES` chain, so the access of `https://10.0.0.1:443...` still f

[2018-03-31 12:25] aledbf commented on #2277
No :)

Please update the version of the ingress controller. The version you are using is really old https://github.com/kubernetes/ingress-nginx/releases/tag/nginx-ingress-controller-0.9-beta.1

[2018-03-31 17:02] theRemix commented on #2007
@gae123 that's not working for me

[code]

still getting timed out after 30s

[code]

[2018-03-31 19:21] marcellodesales commented on #1837
@mmiller1 @aledbf @msm93v2 was there ever a feature request for this? I'm facing the same requirement...

[2018-03-31 23:31] aledbf commented on #2007
I seem you are using the GCE ingress controller. This annotation only works in nginx

[2018-04-01 17:03] driusha commented on #2257
I need ability to allow traffic from CDN (not only CloudFlare) and disallow all other traffic. The same time I need to resolve end-user IP from X-Forwarded-For (or CF-Connecting-IP) header to see it in ingress logs and applications.

Simple whitelist dont work because it use client ip which overwritten by forwarded-for-header.

[2018-04-02 03:28] pcj opened #2284 "gRPC example"
Related to #39 & #2207, I'm psyched to try #2223 + #2246.  However, I'm hoping we can use this issue to define an example set of yaml files to use this new feature.  I've posted my current set of nginx-ingress config files and hoping to get clarification best practices for gRPC use.  I've left out the `rbac.yaml` file as I assume that does not need any changes.

[code]

[code]

[code]

I have a gR

[2018-04-02 06:07] pcj commented on #2284
Update: This appears to be probably working.  This app is listening for traditional http requests at 8080 and grpc services at 5151.

nginx-ingress is sending 308 permanent redirect http -> https and routing to the correct grpc backend.  I'm still working on getting the client to connect correctly however, but I think this is due to my grpc client SSL credential setup.  Also, requests to /admin ar

[2018-04-02 17:02] bbakersmith commented on #1597
This is really surprising behavior. Since ingress rules are namespaced, how does it prioritize them if multiple namespaces have conflicting ingress rules?

[2018-04-02 17:03] wonoments commented on #2256
@aledbf thanks for getting back. Yes there was a helm delete that triggered multiple deletes, however this was done for a specific webapplication in a namespace, and it seemed to have triggered updates/changes to the unrelated apps running in other namespaces.
Assuming you want logs from the ingress controller, ive attached more logs.
[logs.txt](https://github.com/kubernetes/ingress-nginx/files/18

[2018-04-02 17:59] jmreicha commented on #683
I have a very similar setup, trying to access the dashboard behind the Nginx ingress but can't even get the dashboard to load.  I have nearly identical Ingress configuration, I have tried modifying the

[code]
I have tried a number of different annotations, none seem to make a difference.

Nginx keeps throwing the following error.

[code]

[2018-04-03 02:52] Lion-Wei commented on #2277
@aledbf Finally, I found it's ipvs issue. ╯﹏╰

Sorry for the disturbing, Thanks for your response and advise.

I think this issue can be closed. : )

[2018-04-03 02:52] #2277 closed

[2018-04-03 05:11] prsnnkrsh opened #2286 "ingress build fails at missing repo"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-04-03 07:49] Drupi opened #2287 "TLS Client-Side authentication"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-04-03 13:02] gertcuykens commented on #2284
I think you need `ingress.kubernetes.io/ssl-passthrough: "true"` ? So basically let grpc server do the tls handshaking instead of the ingress controller?

[2018-04-03 13:30] aledbf commented on #2284
@gertcuykens no because then nginx is not involved at all

[2018-04-03 13:59] pcj commented on #2284
In my example above the `svc.yaml`, both ports are using 80 as input, which is a mistake.  Here's my updated `svc.yaml`:

[code]

[2018-04-03 15:50] Tim-Schwalbe commented on #2007
For me this is not working. Anyone sees an issue?

[code]

[2018-04-03 16:37] gertcuykens commented on #2284
So basically you start a grpc server with the same nginx tls credentials right? And you don't have to do Dial grpc.WithInsecure() on the client because nginx wil take care of internal and external grpc tls correct?

Can you confirm the following is correct please?
[code]

[2018-04-03 17:26] kfox1111 commented on #2184
Thanks for the info.

I'm trying to implement this, but getting stuck. Where is the image for this?
[code]

If I understand right, each ingress object needs an nginx.ingress.kubernetes.io/default-backend set to the custom handler?

[2018-04-03 17:28] aledbf commented on #2184
@kfox1111 here https://github.com/kubernetes/ingress-nginx/tree/master/images/custom-error-pages

[2018-04-03 17:58] kfox1111 commented on #2184
So, do we need to build our own images?

[2018-04-03 18:08] aledbf commented on #2184
@kfox1111 no need. Please check https://quay.io/repository/kubernetes-ingress-controller/custom-error-pages-amd64?tab=tags

[2018-04-03 18:12] kfox1111 commented on #2184
Ah. perfect. thanks.

[2018-04-03 18:46] pcj commented on #2284
I am using this for the client:

[code]

However, I have not yet confirmed a successful connection, but I can `curl -v https://grpc.example.com/my.Service/MyMethod` and see http/2 traffic related logs in the nginx-ingress instance.  I'm trying to find a chunk of time to fully work it out, but I'm not there yet for my particular application.

[2018-04-03 18:55] gertcuykens commented on #2284
Thx, do you also use tls credentials on the backend behind the nginx ingress controller?

[2018-04-03 19:52] aledbf commented on #2287
@Drupi I think your issue is related to the annotations prefix. Make sure this are the annotations are
[code]

and you are using the latest version of the ingress controller.

[2018-04-03 20:40] pcj commented on #2284
AFAIK should not need to.  If TLS is terminated at the ingress level, as far as the gRPC service is concerned, it thinks it is running in an insecure environment (which is true, but only inside the protected cluster).

If I'm wrong about that somebody pls correct me.

If that's wrong

[2018-04-03 23:12] mwittenbols opened #2291 "Annotation seems to be missing for the NGINX upstream slow_start configuration"
**FEATURE REQUEST**

**NGINX Ingress controller version**: 0.12.0

**Kubernetes version** (use `kubectl version`): 1.7.7

**Environment**:

- **Cloud provider or hardware configuration**: Microsoft Azure AKS (Preview)
- **OS** (e.g. from /etc/os-release): Windows

**What happened**: It seems I am unable to access/set the **slow_start** configuration when defining the upstream back-end servers (not

[2018-04-03 23:42] pcj commented on #2284
Adding @stanley-cheung as he is both grpc and nginx expert.

[2018-04-04 00:12] gertcuykens commented on #2284
PS I suspect this going to be a popular thread can you always update your first post with for example the port change and so on, so others don't need to read the discussion to peace together the example. Thx

[2018-04-04 00:38] aledbf commented on #2284
@pcj @gertcuykens would be awesome if any of you are willing to send a PR to add a gRPC example [here](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples)

[2018-04-04 00:43] gertcuykens commented on #2284
Totally agree, also much cleaner to followup and review

[2018-04-04 00:52] pcj commented on #2284
@aledbf Yes good idea I'll plan to push an example.

[2018-04-04 06:04] pcj commented on #2284
The good news is that this is definitely working for the gRPC service.  My go client is using the SSL config above (using the system cert pool) calling grpc.example.com:443, TLS gets terminated, call gets routed to the upstream service, and my unary gRPC method is being executed and return grpc status OK.  Sweet!

[code]

[code]

The bad news is that I can't seem to get it working when the ingress

[2018-04-04 07:03] haoqing0110 commented on #2249
@aledbf Any comment on this issue? Is this docker file system bug? or ingress code bug like #1965 ?

[2018-04-04 09:08] sepulrator opened #2292 "Nginx does not return http auth service response body in the case of 401 error"
NGINX Ingress controller version: 0.12.0

**What happened**:
Nginx returns custom error page instead of external http auth service response body when auth service return 401 status code with json response body.  Is it possible to return auth service response body in the case of auth errors except 2xx status codes?

Nginx response when got 401 error:
[code]

Nginx conf:
[code]

**What you expected

[2018-04-04 09:39] Drupi commented on #2287
So, currently is not working on official image, at least i'm not so strong in the force to configure it. I used the image from. Quay.io/aledbf and it is working perfect.

[2018-04-04 09:41] aledbf commented on #2284
Create two Ingress, one adding the grpc annotation to just one

[2018-04-04 10:15] Justkant commented on #2214
I close this because there is already a way to manually modify any Certificate Resource that the `ingress-shim` creates to avoid using the same ingress. (see https://github.com/jetstack/cert-manager/issues/235#issuecomment-355796527 or [acme-http-validation](https://github.com/jetstack/cert-manager/blob/master/docs/user-guides/acme-http-validation.md))
The only thing missing is an annotation that

[2018-04-04 10:15] #2214 closed

[2018-04-04 15:11] pcj commented on #2284
@aledbf Yea that should work.

[2018-04-04 15:18] #2286 closed

[2018-04-04 15:40] aledbf commented on #2245
Closing. I understand the use case for this but keep in mind that you need to expose the port/ports using a Kubernetes service so adding this feature as an annotation could be interpreted as "some magic will run behind the curtains and expose the port dynamically".

[2018-04-04 15:40] #2245 closed

[2018-04-04 15:41] aledbf commented on #2245
If some user need this feature, the listen ports can be configured in the ingress deployment, using the `ingress.class` annotation to only expose the rules behind the custom port

[2018-04-04 15:48] aledbf commented on #2249
I never was able to reproduce this issue or #1965.

The only issue I see here is docker version being used is not supported. Even in 1.10 the latest docker version is [17.03.x](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.10.md#external-dependencies)

[2018-04-04 16:28] mwittenbols commented on #2291
Oh, I see. I wasn't aware of that. Thanks @oilbeater for that information! I will have to take a different approach then ;)

[2018-04-04 20:44] benley commented on #1874
I don't want to be a pest but ... any progress on this? My team is looking forward to a fix.

[2018-04-04 22:53] nottrobin commented on #739
@aledbf wow [this commit](https://github.com/aledbf/ingress-nginx/commit/e3faa80aa96474c25c90c74dfd6a472b626bb719) on [that branch of yours](https://github.com/aledbf/ingress-nginx/tree/nginx-cache) is exactly what I was looking for. I really need a simple proxy-cache implementation, and for me using Redis or another caching layer isn't an option.

Is there any chance that your work here might eve

[2018-04-04 23:43] pieterlange commented on #739
Reuse this template https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl and mount it into `/etc/nginx/template/` in your nginx ingress controllers.
https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/custom-template.md

[2018-04-05 01:46] kamsz opened #2293 "HSTS without preload breaks RFC"
**NGINX Ingress controller version**: 0.11.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.3", GitCommit:"d2835416544f298c919e2ead3be3d0864b52323b", GitTreeState:"clean", BuildDate:"2018-02-09T21:51:54Z", GoVersion:"go1.9.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"

[2018-04-05 01:50] aledbf commented on #2293
@kamsz thank you for the report

[2018-04-05 01:55] kamsz commented on #2293
@aledbf I was already preparing a PR, you were faster. No problem, glad to help.

[2018-04-05 02:17] #2293 closed

[2018-04-05 09:35] nottrobin commented on #739
@pieterlange thanks that's very helpful. Presumably this effect upgradeability? If ever that template changes I'd have to remember to update our override template. There's no way to avoid that is there?

[2018-04-05 09:55] srajmane opened #2295 "quay.io/kubernetes-ingress-controller/nginx-ingress-controller-s390x:0.12.0 image not working on s390x"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.):

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE R

[2018-04-05 09:58] srajmane commented on #2295
[code]

[2018-04-05 10:12] lszymik commented on #2287
I am also affected by that issue. Yesterday, I was able to get it running with use of this image:
```image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.11.0```
Do you know if a next release will have it fixed?

[2018-04-05 10:14] aledbf commented on #2287
@Drupi @lszymik this is currently fixed in master https://github.com/kubernetes/ingress-nginx/pull/2270
Next release is schedules for next week.

[2018-04-05 11:45] Maxpain177 commented on #2257
Any updates?

[2018-04-05 13:03] zeeZ commented on #1360
To get around the `$1` you should probably not do this, even if it works:

[code]
results in (0.11.0)
[code]

[2018-04-05 17:27] AustinAgile commented on #1567
These Ingress annotations do not work for me. There must be something within the Ingress Controller that also needs to be done to disable ssl redirect.

[2018-04-05 17:35] jason-kane commented on #1360
@zeeZ that is beautifully horrible.

[2018-04-05 18:26] kfox1111 commented on #1360
uhhhhh... that is a great bobby tables (https://xkcd.com/327/)

That I think is a security vulnerability?

[2018-04-05 19:10] Freyert commented on #2247
This happens to us intermittently and we're not convinced the name has anything to do with it. @bilalyasar can you confirm that you have never seen a working call via the name you believe does not work?

[Here's the code where the auth secret is read](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/annotations/auth/main.go#L117-L130)

[2018-04-06 00:52] bilalyasar commented on #2247
@Freyert after i upgrade nginx controller to latest stable version i didnt see this issue anymore.
but i need to observe a while.
what is your nginx controller version?

[2018-04-06 02:54] lambertjosh commented on #2128
@gianrubio sorry for the delay in writing this up. Our use case is canary deployments, but this same use case could apply to anyone who is running two different deployments matching the same service.

In our case we have two deployments matching a single service, one with container.v1 and another with container.v2. This allows us to test new versions of software, gradually rolling it out across ou

[2018-04-06 07:42] vietwow opened #2299 "Feature request: support lua-resty-waf"
Is this a BUG REPORT or FEATURE REQUEST? (choose one):
FEATURE REQUEST

Currently, ingress-nginx support mod_security for WAF (from v0.9.0). When using mod_security, we have to deal with the performance problem and it seems that mod_sec didn't active development in the recent time (you can check the github repo). But the need of WAF is necessary and mod_sec's rules is still useful, so I thinkt lua

[2018-04-06 10:10] #1260 closed

[2018-04-06 12:59] akoenig commented on #2250
Usually, I'm not a person who sends "any update on this?" comments, but this is killing us in production. So forgive me to be penetrant here 🙂 Any data I could provide for debugging?

[2018-04-06 13:02] aledbf commented on #2250
@akoenig I am sorry for the delay. I will take a look at this today.

[2018-04-06 13:04] akoenig commented on #2250
@aledbf No worries :) Thanks for investigating this problem. 👍

[2018-04-06 13:45] aledbf commented on #2250
@akoenig how are you testing this? You need to trigger the tests against a large file. Please check https://forum.nginx.org/read.php?2,277820,277825#msg-277825

[2018-04-06 13:46] aledbf commented on #2250
If you change the annotation to `limit-rps: 1` you will see 429 as error code

[2018-04-06 13:52] akoenig commented on #2250
@aledbf Okay, I see. Yeah `nginx` is a beast 😆 – Hm, wouldn't `limit-rps: 1` limit to one connection per second? What I would like to have is "max 20 requests per second from one IP address".

[2018-04-06 13:55] aledbf commented on #2250
From the nginx docs:
[code]

`limit_conn != limit_req`

[2018-04-06 15:08] akoenig commented on #2250
Ah, I see. Thanks for the heads up! 🙂 – Now I receive a `429`. Cool! Just wondering if the rate limiting only works for `GET` requests. Hitting a rate limit with a `POST` verb leads to a `404` 🙁

[2018-04-06 15:24] aledbf commented on #2250
That's weird (the limits are agnostic to HTTP verbs)

[2018-04-06 17:42] aledbf commented on #2250
@akoenig I cannot reproduce your issue:
[code]
[code]

[2018-04-06 19:25] aledbf commented on #2247
Please post the logs.

[2018-04-06 19:27] Freyert commented on #2247
@aledbf haha just had the same though
[code]

[2018-04-06 19:37] aledbf commented on #2247
@Freyert please use `quay.io/aledbf/nginx-ingress-controller:0.351`

[2018-04-06 20:28] jeffutter opened #2302 "Ingress Controller randomly referencing deleted services causing 503's"
**NGINX Ingress controller version**:

**Kubernetes version**:

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **Install tools**: Kops 1.8

I think our setup is important to know to understand the issue. We are using the nginx-ingress to do blue/green deployments. Here are the components involved:

Deployments:
• web-a-blue
• web-b-blue
• web-a-green
• web-b-green

[2018-04-06 20:38] Freyert commented on #2247
@aledbf we've seen positive results on our first trial. We're going to set up more tests and see if we can experience it again. Do you have a PR anywhere so we can view your change?

[2018-04-06 20:44] aledbf commented on #2247
@Freyert here #2300

[2018-04-06 21:49] aledbf commented on #2302
@jeffutter the behavior you see is expected.
[code]

This is what happens behind the scenes:
- new deployment web-*-blue-svc
  - ingress controller detects the changes:
    - creates new nginx configursation:
       - adds upstream for the service web-*-blue-svc
       - changes upstream for master-ingress Ingress
    - reloads nginx

- new deployment web-*-green-svc
  - ingress controller detects

[2018-04-06 21:59] jeffutter commented on #2302
@aledbf Thanks for the quick response.

I would maybe expect a little blip right at the time of the cut-over from nginx restarting. However, I'm seeing these errors more than **24 hours** after cutting over. I don't think that should be expected?

Also, `ingress-nginx` doesn't call services directly, it gets the addresses of the pods from the service, right? (maybe I misread that somewhere). If th

[2018-04-06 22:05] aledbf commented on #2302
No

Yes but the name of the upstream (nginx section) is related to the k8s service name

No if you don't use websockets or keepalive connections. If that's the case this [feature](https://github.com/kubernetes/ingress-nginx/pull/2174) avoids nginx reloads.

[2018-04-06 22:50] NearlyNormal commented on #1542
What's the fix for this for now? We're on version 1.12.2.

[2018-04-06 23:32] AndrewMorsillo commented on #1281
The configuration suggested by @jdalegonzalez does not work for me. My ingress controller load balancer gets the correct fixed IP but every request returns a 503. @itaimalek What ended up being a working configuration for you?

[2018-04-08 00:00] ElvinEfendi commented on #2299
https://github.com/kubernetes/ingress-nginx/pull/2304 implements this feature request.

@vietwow you can use `index.docker.io/elvinefendi/nginx-ingress-controller:0.0.1` to experiment with that feature and give early feedback.

[2018-04-08 02:27] vietwow commented on #2299
I am really appreciate your support. I will check it and feedback ASAP. Thank you very much 👍

[2018-04-08 13:35] jdalegonzalez commented on #1281
Did you look at the ingress logs?  503 is bad gateway, right? I had this
problem when the ingress couldn't load the GeoLite.dat file due to lack of
memory. For me, removing the memory constraint in the yaml file solved it.

On Fri, Apr 6, 2018, 7:32 PM amorsillo <notifications@github.com> wrote:

[2018-04-08 18:06] ElvinEfendi commented on #2231
@aledbf I see this is checked now. Where was it implemented? We are currently working on making it to work with the edge case when Nginx can not fit the body into buffer and stores it in temporary file.

[2018-04-08 19:51] aledbf commented on #2247
@bilalyasar please test the image I mentioned earlier.

[2018-04-08 20:13] aledbf commented on #2196
Closing. This is working as expected. The real issue here is that nginx doesn't support custom formats for `error_log`

[2018-04-08 20:13] #2196 closed

[2018-04-08 20:14] aledbf commented on #2184
Closing. Please reopen if you have more questions

[2018-04-08 20:14] #2184 closed

[2018-04-08 20:15] aledbf commented on #2154
Closing. You can use the [configuration-snippet](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/annotations.md#configuration-snippet) to support this.

[2018-04-08 20:15] #2154 closed

[2018-04-08 20:16] aledbf commented on #2079
Closing. Please reopen when you can provide more details

[2018-04-08 20:16] #2079 closed

[2018-04-08 20:37] #2299 closed

[2018-04-08 20:42] aledbf commented on #2012
Closing. Please reopen if you see the issue after changing the path

[2018-04-08 20:42] #2012 closed

[2018-04-09 03:02] vietwow opened #2316 "how to enable SIMULATE mode in lua-resty-waf ?"
Hi,

lua-resty-waf was implememented in ingress-ingress (https://github.com/kubernetes/ingress-nginx/pull/2304). I am very appreciated your effort. One of the most important feature (I think) of lua-resty-waf is enabling this:

`waf:set_option("mode", "SIMULATE")`

This mode let me activate lua-resty-waf but just only warning (logging), when there is a request that match the waf rules, not blockin

[2018-04-09 03:14] #1560 closed

[2018-04-09 03:46] ElvinEfendi commented on #2316
Hi VietNC,

it is not supported as of now, but will be supported soon - I have a WIP PR that will probably be ready soon.

[2018-04-09 04:16] vietwow commented on #2316
Hi @ElvinEfendi ,

Thank you so much. Really looking forward this, is it https://github.com/kubernetes/ingress-nginx/pull/2315 ?

Best Regards,
VietNC

[2018-04-09 09:59] marratj commented on #1681
@gertcuykens I face the same issue and at first it was driving me nuts until I found this thread.

Now I at least know where it comes from, but I don't have a solution yet (other than restarting Chrome for each site as a workaround).

[2018-04-09 11:13] ElvinEfendi commented on #2316
no, https://github.com/kubernetes/ingress-nginx/pull/2317/files is the one.

[2018-04-09 11:48] distol commented on #2253
Sorry, but for now I can't. It is based on 0.12 but we are using 0.11. Thank you very much for the fix! We are going to update soon (probably to 0.13, when it will be released) and we ready to live with this bug till the update.

[2018-04-09 11:50] distol commented on #2253
If you've found the race condition (#2300) — this issue is duplicate of #2247.

[2018-04-09 11:50] #2253 closed

[2018-04-09 12:10] ElvinEfendi commented on #2316
@vietwow what [`storage_backend`](https://github.com/p0pr0ck5/lua-resty-waf#storage_backend) do you use in your production environment? If you're using Lua shared dictionary, how much memory do you allocate for it? We are currently setting it to [`64M`](https://github.com/kubernetes/ingress-nginx/blob/master/internal/ingress/controller/template/template.go#L202) but I pulled it pretty much out of

[2018-04-09 12:19] Stono opened #2318 "Support service-name for default backend"
Hey,
When using ingress-nginx with service meshes such as [istio](https://github.com/istio/istio), outbound connections need to use a service name rather than the pod ip/port.

This works fine when creating ingresses as we can use the `service-upstream` annotation, however we need to have the same thing for the `default-backend-service` too.

At the moment; when using `--default-backend-service=$(

[2018-04-09 13:00] bilalyasar commented on #2247
@aledbf i can only try when you release new version of nginx, because i also add my code to nginx repo so it would be very easy for me if you tag it near future.

[2018-04-09 13:19] aledbf commented on #2318
Let me see what it means in code.

[2018-04-09 13:31] aledbf commented on #2266
@strowi this error means the ingress controller cannot reach the k8s API server.

[2018-04-09 17:56] dcowden opened #2322 "Initiate drain based on health check result"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/.): **NO**

**What keywords did you search in NGINX Ingress controller issues before filing this one?** (If you have found any duplicates, you should instead reply there.): **drain affinity**

---

**Is this

[2018-04-09 18:00] aledbf commented on #2322
This health checker is for the ingress controller itself, not the exposed applications through Ingress.

The probes you mention are from Kubernetes itself.

[2018-04-09 18:05] dcowden commented on #2322
@aledbf oh ok thank you! So, nginx-ingress really only knows how to use k8s service/pod state to understand what upstreams are available.

I'm really trying to avoid a pod hook that needs to reach out to the ingress controller to tell it to drain. It would be better if the controller itself could detect this.

An alternate implementation would be to automatically put the upstream server in drain m

[2018-04-09 18:25] aledbf commented on #2322
I am not sure the endpoint contains this information. This is what we have at runtime [EndpointAddress](https://github.com/kubernetes/kubernetes/blob/817869e78af9d3250a36fce845336535dd29d0e4/pkg/apis/core/types.go#L3344).
Reading the definition TargetRef (in this case) contains information about the pod so I think we can add another informer to get the details and check the state.

That said `drai

[2018-04-09 18:33] aledbf opened #2323 "Help us to improve the NGINX Ingress controller"
[completing the survey](https://docs.google.com/forms/d/15ULTOvYDsV920V0GWrspew4yyjEmTAi740Wr34UgKwA/viewform)

[2018-04-09 18:53] dcowden commented on #2322
Ah yes, you're right about the fact that drain is only commercial.  We'd be willing to pay that, but I can see that it would probably not be of interest to the community, because it would be a lot more work to then integrate an option to use the commercial nginx with this image.

I'm probably better off posting this issue on the commercial nginx repo instead.

Thank you very much for the help!

[2018-04-09 18:53] #2322 closed

[2018-04-09 19:04] dcowden commented on #2322
For documentation purposes, I've posted a version of this issue [here](https://github.com/nginxinc/kubernetes-ingress/issues/267)

[2018-04-10 00:44] pcj opened #2324 "Possible for an ingress spec to match a header value?"
I'd like to conditionally route requests to a particular backend based on the value of the request `Content-Type` header.

Is it possible to express this in an Ingress resource?

[2018-04-10 00:48] aledbf commented on #2324
No with the current state of the specification

[2018-04-10 01:51] pcj commented on #2324
Ok thx

[2018-04-10 01:51] #2324 closed

[2018-04-10 07:01] strowi commented on #2266
@aledbf ahh thx, i was looking for rbac problems. Found out yesterday, it was the filebeat-logging-pod which was DoSing the apiserver.
After bugfix-update the error seems gone.
Thx for the help!

[2018-04-10 07:01] #2266 closed

[2018-04-10 08:24] #2249 closed, assigned to nobody

[2018-04-10 09:04] valeriano-manassero opened #2325 "Health check with dynamic configuration"
Readiness probe must return 200 only when first LUA config load is ok.

Feature added here: https://github.com/NCCloud/fluid/pull/24

[2018-04-10 09:14] aledbf commented on #2325
This was implemented here https://github.com/kubernetes/ingress-nginx/pull/2308

[2018-04-10 11:25] aledbf commented on #2325
@ElvinEfendi ping

[2018-04-10 11:40] aledbf commented on #2291
Closing. The requested feature is available only in the commercial version

[2018-04-10 11:40] #2291 closed

[2018-04-10 11:46] #2287 closed

[2018-04-10 11:50] ElvinEfendi commented on #2325
I'm trying to understand the issue. I can see that on boot readiness prob will pass as soon as controller POSTs default backend(or really any backend) to Lua land. And the k8s API might be sending more Ingress/Service updates from that point on incrementally(@valeriano-manassero I think that's what you're referring to with rolling update) - and between those increments ingress-nginx will already b

[2018-04-10 11:59] valeriano-manassero commented on #2325
@ElvinEfendi I'm sorry but, right now I'm very busy and I don't have time to come up with an e2e regression test but you can show this behavior simply getting something like 10k to 20k backends and then update the deployment.
You will see some 503 errors due to backends not fully loaded while readinessProbe getting 200 from healthz uri.
The trick is to simply give a 200 response only when the firs

[2018-04-10 12:04] ElvinEfendi commented on #2325
No worries! I'll try that when I get some time.

@valeriano-manassero but this is exactly what @aledbf did at https://github.com/kubernetes/ingress-nginx/pull/2308/files, no?

[2018-04-10 12:08] aledbf commented on #2325
You mean an update to the user services? (pods being added/removed?)

[2018-04-10 12:11] aledbf commented on #2325
the ingress controller deployment?

[2018-04-10 12:12] ElvinEfendi commented on #2325
I think so yeah, in order to trigger a restart

[2018-04-10 12:14] valeriano-manassero commented on #2325
Yep, for example, I see the issue updating to latest version of Fluid in my environment. Many customers get some 503 for some seconds during rollover update and that's because readinessProbe was already getting 200 but the new pods were not ready to serve all the backends.

[2018-04-10 17:57] aledbf commented on #2189
No. One of the reasons is we can enable/disable only in the listen directive of the server section, meaning all the ingress rules (paths) will have http2 disabled.

[2018-04-10 22:57] zhjchen opened #2329 "ingress nginx logging not showing for ssl-passthrough enabled rules"
**NGINX Ingress controller version**:
          image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.12.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
set nginx controller as fol