[2022-11-03 07:52] longwuyuan commented on #8879
i am not using Mac anymore

[2022-11-03 07:52] #8879 closed

[2022-11-03 09:25] wxyh opened #9250 "The auth-tls-match-cn shouldn't enable for http"
**What happened**:
If add "nginx.ingress.kubernetes.io/auth-tls-match-cn" annotation, it will add config like this
`if ( $ssl_client_s_dn !~ {{ $server.CertificateAuth.MatchCN }} ) {            return 403 "client certificate unauthorized";}`
This works for both http and https requests, all http requests will failed.

**What you expected to happen**:
Nginx don't verify client cert for http requests

[2022-11-03 11:01] yahiya-ayoub commented on #9249
I am sorry @longwuyuan, I was preparing my answers, and searching for a solution and found that in the ingress controller configMap, there was "stub-status" instead of "stub_status"

Thanks for helping.

[2022-11-03 11:01] #9249 closed

[2022-11-03 11:21] mimmus commented on #4847
We made a lot of work to switch from ELB to NLB...
and now we are overcoming a lot of AWS limits on the loadbalancer, with only 50 nodes.

[2022-11-03 11:41] johanneswuerbach commented on #8786
We ran into a similar issue and switching the order in the template is resolving the issue for us https://github.com/kubernetes/ingress-nginx/pull/9251

Maybe that is a more acceptable fix compared to https://github.com/kubernetes/ingress-nginx/pull/8814 as it fixes missing headers for 401/403 and redirects?

[2022-11-03 12:04] dnutels commented on #9030
If that helps, the `defaultBackend` on ingress with no rules works as expected:

[code]

[2022-11-03 14:21] #8338 closed

[2022-11-03 15:22] #8666 closed

[2022-11-03 15:54] smiletrl opened #9254 "China GFW blocks https://asia-east1-docker.pkg.dev"
**What happened**:

Ingress pod can't be created successfully because of China GFW.

Here're the pods for ingress

[code]

Here're the pod logs

[code]

The main errors message:
[code]

**What you expected to happen**:

These ingress pods should be running well. No timeout error for `https://asia-east1-docker.pkg.dev/`.

Or at least, there're some workarounds to tweak the configs or deploy.yaml to

[2022-11-03 16:10] micheleissa commented on #9228
Is it still not loading for you?

[2022-11-03 17:30] Kavuti commented on #8259
Hi, is there any update on this? This feature would be so useful.

[2022-11-03 19:47] gfszr commented on #8977
@dvbdard Wanted to let you know I've also encountered this issue, and it isn't related to the load balancer or cloud provider, but is actually [expected behavior](https://nginx.org/en/docs/control.html#reconfiguration) by NGINX when it reloads a new configuration (configuration is changed upon each ingress creation).  This behavior is configurable however, you can configure that timeout in NGINX's

[2022-11-03 22:39] longwuyuan commented on #9254
/remove-kind bug
/kind support

@BenTheElder hi,
would you know of alternatives for users in china to pull from registry.k8s.io.
Regards,
; Long

[2022-11-03 22:45] longwuyuan commented on #9250
/remove-kind bug
/kind support

Lets wait for other comments, but `auth-tls` implies TLS so AFAIK http is plaintext so your expectation is invalid.

[2022-11-03 23:10] BenTheElder commented on #9254
I don't think the Kubernetes project is able to host UGC in China, and I have no idea who is hosting mirrors, sorry.

I work for Google, who is providing the infra credits and some of the staffing, but AIUI is blocked by GFW ...

The same issue applies to k8s.gcr.io, previously (which has implemented by provided by the GCR team to regionalize serving).

If you can find a mirror, containerd can be

[2022-11-03 23:16] thockin commented on #9254
Does GFW block k8s.gcr.io, too?  If not, how long do we think will last?

Currently GCP is the default backend.  If we had an in-China mirror provider who was willing to host, we could consider it, but I want to be careful how many parallel efforts we strike up.

[2022-11-03 23:41] smiletrl commented on #9254
Here're the ping results

[code]

Basically `registry.k8s.io` is not blocked, but `k8s.gcr.io` and `asia-east1-docker.pkg.dev` are blocked. The two blocks urls are host by Google.

I feel one solution for me is to replace the two images (from [v1.4.0](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.4.0/deploy/static/provider/cloud/deploy.yaml)) with some mirrors in China,

[2022-11-03 23:56] BenTheElder commented on #9254
It's maybe a bit awkward to re-use at the moment, but there's a static list of the correct digests for tags we publish in https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/images/k8s-staging-ingress-nginx/images.yaml, so you could cross check the digest of the image in any mirror against that (there's no ready-made tool though).

registry.k8s.io is also on GCP, but is not a google service

[2022-11-04 00:16] smiletrl commented on #9254
awesome, thanks @BenTheElder !

[2022-11-04 00:25] tao12345666333 commented on #9254
Usually, there are many ways you can make it work.  Just like you can access Google or GitHub, there needs to be a proxy.

This problem is not limited to one project.  This is a very broad question.  And GFW's rules of behavior are also uncertain, it is always dynamically adjusted.

[2022-11-04 00:30] smiletrl commented on #9254
I will update my solution here if it works ^ @tao12345666333

[2022-11-04 04:26] #8676 closed

[2022-11-04 09:48] lespons commented on #3993
I think its already not actual because I use old one image but anyway put few words
Image: quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.25.0
Kubernetes version: 1.20.7

Maybe its related to VM where you're hosted your node on cluster
Had an issue on 1 node, when run on another its fine
VM - (azure Linux (ubuntu 18.04))
Restart - did not help
Reapply - did not help
**Redeploy**

[2022-11-04 13:14] goutham-sabapathy opened #9255 "Proxy protocol annotations not working on AWS"
Hello,

I am running EKS with kubernetes nginx ingress on NLB with SSL termination but the proxy protocol annotations was not working.

EKS K8s version: 1.23
Ingress-NGINX version: 1.4.0

[code]

But once the NLB and ingress objects are created, the services wont be reachable because the proxy protocol on the NLB target groups was not turned on automatically even with the provided annotations. I g

[2022-11-04 15:15] silandrew opened #9256 "Problem ingress deployment creation, on AKS, has been deprecated controller.podLabels.aadpodidbinding=mi-devxxx and this will be replaced with Azure AD Workload Identity"
**Problem  ingress deployment creation, on AKS, has been   deprecated controller.podLabels.aadpodidbinding=mi-devxxx  and  replaced with Azure AD Workload Identity  **:

**depicted pod identity on AKS this is replaced by Azure AD Workload Identity**:

**NGINX Ingress controller version ingress-nginx- chart ver 4.2.5    app ver  1.3.1** (exec into the pod and run nginx-ingress-controller --version.

[2022-11-04 15:31] abramov-blink commented on #9232
@longwuyuan Thanks for all the help!

[2022-11-04 19:36] #8679 closed

[2022-11-04 20:19] jmd9019 commented on #7261
Any updates? I am still getting this issue when I try to update nginx with new values
After sending new values using "helm upgrade" command its using some old config file from /tmp/nginx/
and I am getting errors like

[code]
These variables I haven't even used anywhere

Nginx values sent to helm upgrade command
[code]

[2022-11-05 13:11] jmd9019 commented on #5096
/reopen

[2022-11-05 13:13] jmd9019 commented on #5096
I facing this issue now on DO managed cluster can someone assist me

[2022-11-05 13:51] marcandrews commented on #9248
@longwuyuan I upgraded to v1.4.0 and I am still experiencing the issue.

I noticed that nothing in my cluster is associated `10.16.0.23` or `10.16.4.24` so I'm unsure why Nginx would be looking for those IPs. Maybe there's some old config somewhere? Any tips to help me debug?

[2022-11-05 14:29] jmd9019 opened #9260 "Nginx is using old config file"
**What happened**:
[code]

**What you expected to happen**:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:  Digitial ocean
- **OS** (e.g. from /etc/os-release): linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Using he

[2022-11-05 14:53] jmd9019 commented on #9260
Fixed

[2022-11-05 14:53] #9260 closed

[2022-11-05 17:55] marcandrews commented on #9248
OK I think I figured it out.

I ran `kubectl ingress-nginx backends` and it showed the following backend:
[code]

Then I looked at my ingresses and found that one of them had:
[code]

Once I removed that annotation, that backend no longer registered and the error no longer appears.

The ingress in question is for the ExternalName service shown in the OP and I believe what I was trying to accomplis

[2022-11-05 18:06] marcandrews commented on #9248
Yep, [this](https://kubernetes.github.io/ingress-nginx/examples/customization/custom-errors/) is how to fallback to another service. Thanks @longwuyuan ❤️

[2022-11-05 18:06] #9248 closed

[2022-11-05 21:14] tao12345666333 commented on #7517
/remove-lifecycle stale

[2022-11-05 21:22] #9240 closed

[2022-11-06 02:20] DataMinded commented on #9159
golang 1.19.3 is out fixing [CVE-2022-41716](https://pkg.go.dev/vuln/GO-2022-1095) in 1.19.2

[2022-11-07 07:31] oldthreefeng commented on #7305
this file seems `404: Not Found`

[2022-11-07 07:55] ksa-real commented on #8563
/remove-lifecycle stale

[2022-11-07 10:06] longwuyuan commented on #7305
@oldthreefeng, try the recent release of the controller.

[2022-11-07 10:17] rslinckx opened #9265 "ModSecurity and owasp core ruleset versions are not up-to-date in 1.4.0 release"
**What happened**:

The bundled owasp rule set and modsecurity version seem outdated, reporting 3.3.2 and 3.0.5

**What you expected to happen**:

This PR https://github.com/kubernetes/ingress-nginx/pull/9086 should have made the modsecurity and owasp core rule set bumped to 3.0.8 and 3.3.4

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.4.0

[2022-11-07 10:46] awx-fuyuanchu opened #9266 "Config keep-alive does not reflect the real config of nginx: keepalive_timeout"
**What happened**:

 Requests to ingress encountered connection refused errors occasionally.

As per the current settings of the nginx ingress, the keepalive_timeout is 75s.
So the nginx will close the connection if it is idle for 75 seconds. But occasionally, there is a chance the client sends the request while the connection is closing.

The parameter `keepalive_timeout` supports setting a diffe

[2022-11-07 10:46] #9197 closed

[2022-11-07 11:16] kundan2707 commented on #7961
/remove-lifecycle stale

[2022-11-07 23:17] mezzofix opened #9267 "kubernetes ingress controller admissionWebhooks fail to pull image from ACR"
**What happened**:

I want to install kubernetes ingress nginx ingress controller by using images that I've uploaded to my ACR instead of pulling from registry.k8s.io. But it tries to pull the image from registry.k8s.io. It statesL

"for backwards compatibility consider setting the full image url via the repository value below## use either current default registry/image or repository format or ins

[2022-11-07 23:55] strongjz commented on #9267
Can you review the troubleshooting here https://kubernetes.github.io/ingress-nginx/troubleshooting/#image-related-issues-faced-on-nginx-425-or-other-versions-helm-chart-versions

Where are you pulling the images? What region is the cluster deployed in and are there any firewall or proxy rules in place.

We've seen this issue in the past, and it was a firewall rule https://kubernetes.slack.com/arch

[2022-11-08 01:13] kk-bavenkatachalam opened #9268 "Failed to pull nginx-ingress image from cluster which is protected behind firewall"
**What happened**:

Failed to pull image from cluster which is behind a firewall

**Details**:

My k8s cluster is behind firewall and there some firewall rules to allow limited egress traffic.
And I have allowed `registry.k8s.io` to go through egress.
Recently installing nginx-ingress on the k8s cluster fails and below is the result of `kubectl get events`

[code]

**Kubernetes version** : 1.23.8

[2022-11-08 02:32] stalkerg commented on #7776
/remove-lifecycle stale

It's still a very important and expected feature.

[2022-11-08 06:40] Mehranh opened #9270 "Urgent : Enabling Legacy TLS Doesn't work"
Hi

I've added this config map but it doesn't work anymore,this issue happened after upgrading to the new K8s
Kubernetes version: 1.24.6

[code]

Would you please let me know how I can fix this issue ?

[2022-11-08 07:24] mezzofix commented on #9267
@strongjz The AKS cluster is deployed in West Europe.  The 3 images, that is registry.k8s.io/defaultbackend-amd64:1.5, registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20220916-gd32f8c343, and registry.k8s.io/ingress-nginx/controller:v1.4.0 have been tagged appropriately and pushed to Azure Container Registry. I've created a values.yaml that I apply when installing. The images for kube-webhook-

[2022-11-08 08:21] RogerSik commented on #4559
Same issue here.

[2022-11-08 10:19] Aut0R3V commented on #7961
Hey is anyone working on this

[2022-11-08 16:55] RogerSik opened #9272 "Basic auth on / works, on /admin/ always return "Failed Login""
**What happened**:

When setting up basic auth with
[code]

i can login on staging.example.com (it's a shopware nginx system) But when trying to reach the backend /admin/ i get spammed with basic auth. That means he always want me to authentifcate. Tested in Google Chrome and Endge + their Inconigto mode.

Succesfull part on staging.example.com
[code]

Than trying on staging.example.com/admin/

[c

[2022-11-08 19:17] aceeric opened #9274 "Ingress in one namespace breaks Ingresses in all namespaces"
All - I'm using Nginx on K3s `v1.24.7+k3s1` installed this way:
[code]
K3s has traefik disabled so Nginx is the sole Ingress controller on the (single node / single VM) cluster.

In namespace `python-http` I have this basic ingress (hostname somewhat masked):
[code]

All is well. (There is another ingress for the Rancher UI which also works fine by the way - installed by the Rancher Helm chart in

[2022-11-08 23:40] askoriy opened #9276 "Ingress-nginx return 503 error if service name is longer than 58 chars"
**What happened**:

After upgrading to v1.4.0 (which shipped with [helm-chart v4.3.0](https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx/4.3.0)) ingress pointed to the service with a name of more than 58 chars length continuously returns 503 status,
and logs have
[code]
Previous version v1.3.1 ([helm-chart v4.2.5](https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx/4.2.5

[2022-11-09 02:19] longwuyuan commented on #9276
Please check if duplicte of https://github.com/kubernetes/ingress-nginx/issues/9240
Release with fix https://github.com/kubernetes/ingress-nginx/pull/9245 will happen in next few days

[2022-11-09 02:29] longwuyuan commented on #9272
/remove-kind bug
- Your guess could be right about the redirection and the auth url
- There is not enough information here to do any analysis
- Post the answers to the questions that are asked in new issue template
- Post your requested URL, the logs of the controller and all such related data for analysis
- Post a test of your app working without auth

[2022-11-09 02:31] longwuyuan commented on #9270
/remove-kind bug
- You have not posted the information that is asked in a new issue template so there is nothing to analyse here
- Part of what you uhave posted is not a recommended use like TLS v1. So I don't think it will be supported

[2022-11-09 02:35] longwuyuan commented on #9268
/remove-kind bug
- Plese post the details and logs so people can know at what stage the request to registry.k8s.io redirects to another like asia-northeast ......
- There was some maintenance work in progress but to tag other people without complete and detailed logs would not be nice so once you have pasted enough logs and details, maybe someone from infra team will help out

[2022-11-09 02:37] longwuyuan commented on #9267
/remove-kind bug
- Show the live current manifest in use by using the command `kubectl describe .....` for the deployment and the pod resources

[2022-11-09 03:08] longwuyuan commented on #9268
There is no such known published list of FQDN's that can be relayed to you for whitelisting.
I think you should ask in kubernetes slack in the infra channel about this.

[2022-11-09 03:20] longwuyuan commented on #9276
Duplicaate of #9240
/close

[2022-11-09 03:20] #9276 closed

[2022-11-09 06:26] loveRhythm1990 commented on #6287
I am also confused by  preStopHook `wait-shutdown` and cannot get its points, in normal existing process, container will also receive SIGTERM signal and does the same thing, `wait-shutdown` make things complicated.
should we delete this proStopHook ?

[2022-11-09 08:55] Mehranh commented on #9270
Hi

You waste 14 hours of my time with your documents , it seems you haven't updated your documents yet
I've put those data into the **"ngress-nginx-controller"** config map and the problem was resolved

[2022-11-09 10:18] longwuyuan commented on #9270
Just a note that nobody will recommend running well known insecure TLS

[2022-11-09 10:20] longwuyuan commented on #9270
https://www.venafi.com/blog/why-its-dangerous-use-outdated-tls-security-protocols

[2022-11-09 10:22] longwuyuan commented on #9270
/close

Since your problem is solved, lets close this issue

[2022-11-09 10:22] #9270 closed

[2022-11-09 12:52] RogerSik commented on #9272
I found out that the issue is not related to ingress-nginx. Shopware6 makes here problem with /admin/

https://github.com/shopware/platform/issues/106

With following setup it its now working:
[code]

[2022-11-09 12:52] #9272 closed

[2022-11-09 13:03] aceeric commented on #9274
Thank you - it sounds like I have a misunderstanding of how the ingresses are processed. I was thinking that - since the Ingress `rules` list contains both a host **and** a path - that the combination of host/path would select different behavior based on the associated matching ingress. In other words:
1. `htps://ip-1-1-1-1.myorg.org/python-http` would not ask for client cert auth because that ing

[2022-11-09 14:21] ali-idrizi commented on #8936
Came across this today as well. I am using skaffold to release in different namespaces, the name of the release is always `ingress-nginx`. This chart tries to create two cluster roles with the same name, which fails. As a workaround I am simply setting the `nameOverride` to the name of the namespace, but that seems ugly as @philomory explained above.

[2022-11-09 14:40] longwuyuan commented on #9274
That is correct. There is a suggestion by someone to work on a PR for multiple client certs but its not made mu ch progress yet for valid reasons. You can search the issue list as I am not too familiar with the issue number.

[2022-11-09 14:43] #9274 closed

[2022-11-09 14:43] aceeric commented on #9274
Thank you for your help.

[2022-11-09 18:48] EvertonSA commented on #9268
also happens to me, also in AKS, also behind firewall, also worked in the past. difference is that it does not changed to asia-northeast1-docker.pkg.dev but its failling with `Back-off pulling image "registry.k8s.io/ingress-nginx/kube-webhook-certgen:v20220916-gd32f8c343@sha256:39c5b2e3310dc4264d638ad28d9d1d96c4cbb2b2dcfb52368fe4e3c63f61e10f"`

[2022-11-09 22:24] medyagh opened #9281 "Updating Ingress Images in minikube"
Hello I am from minikube team and we recently noticed the ingress addon is broken, and I noticed our images are quite old and one of them seem to be moved
ingress-nginx/controller seems to be moved to "registry.k8s.io/ingress-nginx/controller:v1.5.1"
but I cant figure out where "ingress-nginx/kube-webhook-certgen" has been moved to ?

ideally we would like to automate this process is it, is there

[2022-11-09 23:29] silandrew opened #9282 "how Bind certificate to ingress controller with Azure AD Workload Identity"
[code]

`this how it's  working with Azure Active Directory (Azure AD) pod-managed identity as your method of access,  -**-set **controller.podLabels.aadpodidbinding=$AAD_POD_IDENTITY_NAME****

helm install ingress-nginx/ingress-nginx --generate-name \
    --namespace $NAMESPACE \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."kubernetes\.io/os"=linux \
    --set defaultB

[2022-11-10 01:49] longwuyuan commented on #9281
Hi Medya,
The values file for the chart, under /chart would be potential candidate.

On Thu, 10 Nov, 2022, 3:54 am Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-11-10 01:50] strongjz commented on #9268
@BenTheElder may be able to help us troubleshoot more

More context https://github.com/kubernetes/k8s.io/wiki/New-Registry-url-for-Kubernetes-(registry.k8s.io)

The announcement here https://groups.google.com/a/kubernetes.io/g/dev/c/DYZYNQ_A6_c/m/oD9_Q8Q9AAAJ?pli=1

We have some troubleshooting guides here

https://kubernetes.github.io/ingress-nginx/troubleshooting/#image-related-issues-faced-on-n

[2022-11-10 02:45] BenTheElder commented on #9268
You should consider mirroring.

Running this registry is super expensive and the FQDN we use will change when more providers begin to provide resources or as we make other changes to improve cost.

[2022-11-10 02:46] BenTheElder commented on #9268
The current docs are all at https://registry.k8s.io

[2022-11-10 06:45] navanitha-m opened #9283 "Setting the proxy-body-size: "0" in ingress resource as annotation not taking effect"
**What happened**:
In the ingress resource, following annotation is set to allow the larger request body,
nginx.ingress.kubernetes.io/proxy-body-size: "0"
but still its not allowing the larger request to go through. Throwing the "error parsing HTTP 413 response body"

**What you expected to happen**:
It should not check the client body size when proxy-body-size is set to "0"

**NGINX Ingress contr

[2022-11-10 09:34] navanitha-m commented on #9283
yes, client_max_body_size     0; is set inside the pod in nginx.conf.

And also, complete error message below,
{'errorDetail': {'message': 'error parsing HTTP 413 response body: invalid character \'<\' looking for beginning of value: "<html>\\r\\n<head><title>413 Request Entity Too Large</title></head>\\r\\n<body>\\r\\n<center><h1>413 Request Entity Too Large</h1></center>\\r\\n<hr><center>nginx/1

[2022-11-10 10:22] kundan2707 commented on #8643
/remove-lifecycle stale

[2022-11-10 13:29] ismailyenigul opened #9285 "Additional Internal Load Balancer on single deployment"
**What happened**:
Trying to understand how https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx#additional-internal-load-balancer works.
When you enable internal controller service

[code]
there will be single ingress class but internal and external controller.
How can I specify a ingress resource load balancer type(internal or internet-facing?
I am also using external-dns,

[2022-11-10 15:23] strongjz commented on #9282
Are you trying to use Ingress-nginx to access Azure resources? I am not sure what you are asking, can you please be more specific about what you are trying to accomplish?

/triage needs-information

[2022-11-10 15:25] strongjz commented on #9246
Fixed in controller v1.5.1

/close

[2022-11-10 15:25] #9246 closed

[2022-11-10 15:26] strongjz commented on #9246
[code]

[2022-11-10 15:27] strongjz commented on #9159
Fixed in https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.5.1

/close

[code]

[2022-11-10 15:27] #9159 closed

[2022-11-10 15:27] strongjz commented on #9227
Fixed in https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.5.1

/close

[code]

[2022-11-10 15:27] #9227 closed

[2022-11-10 15:28] strongjz commented on #9213
Fixed in https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.5.1

/close

[code]

[2022-11-10 15:28] #9213 closed

[2022-11-10 15:33] strongjz commented on #9268
/close

[2022-11-10 15:33] #9268 closed

[2022-11-10 15:52] strongjz commented on #9285
What Cloud environment are you deploying too?

From the [docs ](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx#additional-internal-load-balancer) you need both values set, can you confirm they are?

[code]
/triage needs-more-information
/priority backlog
/assign @strongjz
/kind support

[2022-11-10 15:52] strongjz commented on #9285
/triage needs-information

[2022-11-10 15:56] strongjz commented on #9281
The latest image for that is in the Helm chart https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L654

Let us know if you have any other issues pulling the images.

/close

[code]

[2022-11-10 15:57] #9281 closed

[2022-11-10 16:05] ismailyenigul commented on #9285
Hi @strongjz
I am testing on AWS EKS.
here is my service annotations:
[code]

  But my question is about configuring `kind: Ingress`
There is single `ingressClass` deployment with ` - --controller-class=k8s.io/ingress-nginx`
How does a ingress resource will know which service controller going to use? How can I configure ingress resource to use internal load balancer or external one?
I dont see any

[2022-11-10 16:42] strongjz commented on #9267
If it is a private acr registry you'll need an imagepull secret for ACR.  https://github.com/kubernetes/ingress-nginx/blob/69a811dde9368f0464c1e050648a979a67fad3e8/charts/ingress-nginx/values.yaml#L932

The values.yaml needed to replace the kube-webhook-certgen image are at  patch.image.registry | image | tag | digest

https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/valu

[2022-11-10 16:43] strongjz commented on #9267
/kind support
/triage needs-information
/priority backlog

[2022-11-10 16:54] EvertonSA commented on #9282
It's impossible to read your issue description

[2022-11-10 16:56] strongjz commented on #9267
Image promotion works like this, we build in the staging gcloud account and then we promote by putting in a pull request to the k8s.io infra

https://console.cloud.google.com/gcr/images/k8s-staging-ingress-nginx/global/kube-webhook-certgen?project=k8s-staging-ingress-nginx

The repo is here; this is what gets published to  registry.k8s.io

https://github.com/kubernetes/k8s.io/blob/main/k8s.gcr.io/

[2022-11-10 17:37] strongjz commented on #9285
have you tried this?

What does the external-dns setup look like?

It looks like if the service annotations are set right,

[code]

And the external-dns is set to both

[code]

It should work.

[2022-11-10 17:47] ensonic commented on #8919
/remove-lifecycle stale

[2022-11-10 18:55] ismailyenigul commented on #9285
currently, I use single external-dns and two different ingress controller for public and private ingress resources.  no zone filter on external-dns it creates records based on nginx ingressclass name.  and I use same domain for public and private ingress resources.

But if I use single ingress class with two different controller, I could not find a way to configure external dns for both controller

[2022-11-11 02:56] strongjz commented on #9230
/assign @strongjz

[2022-11-11 09:38] alaminopu opened #9287 "controller-v1.5.1 tag does not contain updated code"
**What happened**

We were trying to upgrade to the new version of the controller (`controller-v1.5.1`), however, it was still giving us the YAML manifest for `controller-v1.4.0`.

**What you expected to happen:**
`controller-v1.5.1` tag should contain the correct YAML manifest files.

**NGINX Ingress controller version:**
1.5.1

**How to reproduce this issue:**
1. Check the `controller-v1.5.1` ta

[2022-11-11 09:39] addich opened #9288 "wrong version in YAML manifest"
**What happened**:
in yamel manifest for version 1.5.1 https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.5.1/deploy/static/provider/cloud/deploy.yaml are all versions pointing to 1.4.0

app.kubernetes.io/version: 1.4.0
image: registry.k8s.io/ingress-nginx/controller:v1.4.0@sha256:34ee929b111ffc7aa426ffd409af44da48e5a0eea1eb2207994d9e0c0882d143

**What you expected to happen*

[2022-11-11 10:10] procinger commented on #8166
Helm Chart 4.3.0
Nginx Ingress Controller v1.4.0

Good day,

We have been successfully running the Nginx ingress controller in our clusters for some time now.
To increase security, we have enabled Modsecurity according to these instructions
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#modsecurity

Shortly after that the ram consumption increased from 2 to

[2022-11-11 12:16] longwuyuan commented on #9288
/priority important-soon
/triage accepted
cc @strongjz

It will be fixed asap

[2022-11-11 12:19] strongjz commented on #9288
/assign @strongjz

I really don't like our release process. I will get this fixed today.

[2022-11-11 12:20] longwuyuan commented on #9288
Duplicate https://github.com/kubernetes/ingress-nginx/issues/9287

[2022-11-11 12:21] longwuyuan commented on #9287
Duplicate https://github.com/kubernetes/ingress-nginx/issues/9288
/triage accepted
/priority important-soon

[2022-11-11 12:21] longwuyuan commented on #9287
cc @strongjz

[2022-11-11 12:23] longwuyuan commented on #9285
/remove-kind bug

[2022-11-11 13:01] strongjz commented on #9287
/assign @strongjz

It's fixed now. The tag didn't get updated for the release.

/close

[2022-11-11 13:01] #9287 closed

[2022-11-11 13:01] strongjz commented on #9288
It's fixed now. The tag didn't get updated for the release.

/close

[2022-11-11 13:01] #9288 closed

[2022-11-11 13:08] jlange-koch opened #9289 "Default backend Security Context Capabilities configuration with Helm install"
**What happened**:
A custom container which should be running as defaultbackend doesnt start up because of permission issues (during start up it cannot perform a "chown" command).

When installing ingress-nginx with Helm and enabling the default backend the [spec.template.spec.containers.securityContext.capabilities](https://github.com/kubernetes/ingress-nginx/blob/69a811dde9368f0464c1e050648a979a

[2022-11-11 14:32] toutougabi opened #9292 "Multiple ingress controller class issue in helm"
We are trying to deploy multiple ingress controllers using helm with the following

resource "helm_release" "ingress-nginx-private" {
  name             = "ingress-nginx-private"
  namespace        = "ingress-nginx-private"
  create_namespace = true
  repository       = "https://kubernetes.github.io/ingress-nginx"
  chart            = "ingress-nginx"

  set {
    name = "controller.electionID"

[2022-11-11 15:02] wscourge commented on #5858
[This](https://www.howtogeek.com/devops/how-to-add-http-basic-authentication-to-a-kubernetes-nginx-ingress/#alternative-secret-form) worked for me:

[code]

[2022-11-11 15:54] 40107854 opened #9293 "Nginx Ingress Controller Getting Failed After the AKS Upgrade from 1.18 to higher versions"
Hello Team,

Recently we we upgraded AKS from 1.18 and to 1.20 to 1.23 version and we have observed there is an issue with nginx ingress controller.
in AKS 1.18 the nginx version is 0.43 but when we upgraded aks cluster higher version ingress controller failed , as we checked it , the problem with nginx version compatibility with aks upgraded version. After I upgrade nginx version using below comm

[2022-11-11 16:08] longwuyuan commented on #9283
@navanitha-m please provide the information with enough detail so that someone can reproduce the problem and analyse the specifics. For exmple, you can run minikube or kind cluster and reproduce the problem. Then copy/paste everything here so that someone else can copy/paste from your post and reproduce the problem on their kind/minikube cluster to analyse the specifics of the problem.

[2022-11-11 17:57] #7103 closed

[2022-11-12 01:00] #8047 closed

[2022-11-12 01:40] jhodnett2 commented on #5401
Just a heads up here:  when the protocol is set to "-1", it means "All Traffic.  This opens up all ports, making the from_port/to_port values moot. This may be too permissive in some cases.  Setting to"tcp" will allow you to limit/set the port range to 8443.

Having had the same issues noted above and finding this solution, I found the rule wasn't what I was expecting.  Had troubles finding the ru

[2022-11-12 07:06] #8691 closed

[2022-11-12 14:45] Volatus commented on #8166
Thanks for the detailed leak report. Since it's a bug that's present in modsecurity/NGINX, we'll have to wait for this to patched in their upstream before Ingress NGINX is free of the issue.

[2022-11-12 16:45] longwuyuan commented on #9293
/remove-kind bug
@40107854
- the ingress api changed between K8S version 1.18 and K8S version 1.23
- The ingress-nginx controller version 1.X is for new ingress api
- The recommended method to install on Azure is https://kubernetes.github.io/ingress-nginx/deploy/#azure
- I think the best approach is to create a completely new cluster for testing the K8S version with the latest release of the ingre

[2022-11-12 16:53] longwuyuan commented on #9289
/remove-kind bug
/kind feature

[2022-11-12 17:43] remixmabix commented on #6136
It makes sense that this kind of question should have an answer, an explanation or a redirect here as there is a documentation for this taht is not "full".

So here is the link :

https://kubernetes.github.io/ingress-nginx/deploy/baremetal/

![image](https://user-images.githubusercontent.com/5531093/201487353-764c5c48-f1f3-465a-b511-d31d563028f2.png)

[2022-11-13 00:53] longwuyuan commented on #9283
I tried to send a 1.9GB file and I can't reproduce the same error message
[code]
% k -n enjoydevops describe ing httpbun
Name:             httpbun
Labels:           <none>
Namespace:        enjoydevops
Address:          172.18.0.2
Ingress Class:    nginx
Default backend:  <default>
TLS:
  wildcard.dev.enjoydevops.com terminates httpbun.dev.enjoydevops.com
Rules:
  Host                         Path

[2022-11-13 01:21] longwuyuan commented on #9283
/remove-kind bug

[2022-11-13 01:51] longwuyuan commented on #9292
@toutougabi Thanks for reporting this. This seems like a problem with the chart itself. Even using straight forward `helm template` is not rendering the custom value for the `--ingress-class` flag ;
[code]

cc @cpanato @rikatz @tao12345666333 @strongjz

/kind bug
/priority important
/triage accepted

[2022-11-13 01:53] longwuyuan commented on #9292
/priority important-longterm

[2022-11-13 02:07] longwuyuan commented on #9292
The IngressClass object itself renders correctly. Its the extraArgs value that is worng
[code]

[2022-11-13 03:09] longwuyuan commented on #9292
@toutougabi I was able to get the ingressClass customized by setting `controller.ingressClass`
[code]

[2022-11-13 03:09] longwuyuan commented on #9292
/remove-kind bug

[2022-11-13 05:00] longwuyuan commented on #9282
/remove-kind bug

@silandrew , kindly help in following ways
- format your post as per markdown specs so the text is legible and easy to read & understand
- Please provide a simple and easier description of the problem. This will help avoid guess work and assumptions
- Please reference some documentation links on what feature/function is a problem
- If you are asking for a new feature, please say

[2022-11-13 06:32] afro-coder commented on #9283
Hey @longwuyuan  yes sure, let me try to replicate it too

[2022-11-13 13:54] navanitha-m commented on #9283
Hi,
In our cluster, we have container registry service running behind ingress controller. Following are the steps we do in controller node while seeing this issue,
1. sudo docker login k8s-registry.eccd.local
2. sudo docker pull gcr.io/kubernetes-e2e-test-images/cuda-vector-add:2.0
3. sudo docker tag gcr.io/kubernetes-e2e-test-images/cuda-vector-add:2.0 k8s-registry.eccd.local/cuda-vector-add:2.0

[2022-11-13 14:27] longwuyuan commented on #9283
The details you aare providing assume that someone trying to reproduce the problem can easily have the same scene. That is not true. I think that to make progress on this, you should try to create a cluster in minikube or kind. Then you should try to test this annotation there. If it fails on a minikube or kind cluster, then you should write down the exact steps that anyone else can copy/paste on

[2022-11-13 14:59] navanitha-m commented on #9283
@longwuyuan thanks for response/taking time in investigating this issue.

I will try to re-produce the issue in minikube and share the steps. Meanwhile when we set the "proxy-body-size: "0"" globally in nginx configuration config map under data and redeployed the nginx ingress controller, issue is not seen. It worked without any issue.

Thats the reason we are suspecting the issue with ingress con

[2022-11-13 16:01] silandrew commented on #9282
I  update this issue, the problem is that ingress nginx doesn't know to how to bind the certificate so it has to  be use podlabeling  for workload identity like in pod identity -**-set controller.podLabels.aadpodidbinding=$AAD_POD_IDENTITY_NAME**
,
Somboddody knows  it would be

[2022-11-13 16:27] longwuyuan commented on #9283
I could not reproduce it and I pasted the logs and the curl command along with the ingress object describe above. So we have to find a way to reproduce the problem in minikube or kind.

[2022-11-13 18:18] #8353 closed

[2022-11-13 19:20] canidam commented on #6458
Hey,

It looks like the controller just check if the ingressClassName is not an empty string -
https://github.com/kubernetes/ingress-nginx/blob/26fe69cb47295f6677576fa8585afa98d72536e2/internal/ingress/controller/controller.go#L257

Shouldn't it validate the ingressClassName is also equal to the controller configured className? Would this solve this bug/feature?

[2022-11-14 05:22] 40107854 commented on #9293
I don't understand the below point.
Based on the results of your own testing, you would be better positioned to do the right thing for migration, in production.

So you are suggesting to recreate the production cluster is that right?

[2022-11-14 05:27] longwuyuan commented on #9293
- The change you are going through is a breaking change because there was a big change to the code in controller v1.x
- You can follow documentation and make sure to add the `ingressClass` field to the ingress resources
- But you have questioned zero-downtime change
- Zero-downtime change with such a breraking change can not be documented by others for your use case
- So the suggestion is that you

[2022-11-14 11:51] nikhilthakre commented on #8487
Was this included as part of the latest v1.5.1 release?

[2022-11-14 11:56] silandrew commented on #9282
This is a new config for CSi secret driver

apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: ingress-tls
  namespace: test
spec:
  provider: azure
  secretObjects:
  - secretName: ingress-tls-csi    #name of the secret that gets created - this is the value we provide to nginx
    type: kubernetes.io/tls
    data:
    - objectName: abc
      key: tls.key
    - o

[2022-11-14 12:10] longwuyuan commented on #8487
Please check nginx version in controller image. Do you use ingress for
IMAP/pop/SMTP ports ?

On Mon, 14 Nov, 2022, 5:21 pm Nikhil Thakare, ***@***.***>
wrote:

[2022-11-14 13:35] longwuyuan commented on #9266
/remove-kind bug
This looks like a feature request

[2022-11-14 13:54] jsproede opened #9302 "Disable warning "Aliases already configured" for multi-ingress definitions not containing server-alias annotation"
**What happened**:

Having multiple ingresses (but only one with `nginx.ingress.kubernetes.io/server-alias` annotation) with the same host specified, results in getting logged the warning `Aliases already configured for server` for each ingress, even though the `server-alias` annotation is not specified for the other ingresses.

**What you expected to happen**:

The warning should be logged only f

[2022-11-14 14:26] #7918 closed

[2022-11-14 14:34] toutougabi commented on #9292
I think in this case our documentation is simply wrong because it doesn't mention controller.IngressClass

[2022-11-14 14:35] longwuyuan commented on #9302
/remove-kind bug
/kind feature

[2022-11-14 14:38] longwuyuan commented on #9292
Can you kindly submit a PR to add that flag in addition to the other flags at https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster

[2022-11-14 14:38] longwuyuan commented on #9292
/kind documentation
/area docs

[2022-11-14 14:48] timijntema opened #9303 "auth-tls-verify-client does not respond with status 400 when no certificate is provided"
**What happened**:

With annotations
[code]
I can still access the app without providing a certificate. The setting seems to be ignored completely. I provided a test cluster to reproduce the issue.

[testsit.zip](https://github.com/kubernetes/ingress-nginx/files/10003909/testsit.zip)

**What you expected to happen**:

I expect a 400 bad request as described in https://github.com/kubernetes/ingress

[2022-11-14 17:22] rslinckx commented on #9265
1.5.1 contains the appropriate versions indeed

On Mon, Nov 14, 2022, 14:37 Long Wu Yuan ***@***.***> wrote:

[2022-11-14 19:00] longwuyuan commented on #9303
@timijntema that controller
![image](https://user-images.githubusercontent.com/5085914/201743452-2d84187e-377e-43f9-b93e-79c33a1a7df9.png)

is a release from the nginx inc. org and not a release from this project. Please reach out to the nginx inc forum(s)

/close

[2022-11-14 20:17] rslinckx commented on #9265
Sure we can close this issue, it's still a bit weird for me that the changelog mentions upgrading the modsecurity version, and the git history does show the commit being present, while the resulting image not reflecting that...

[2022-11-14 20:17] #9265 closed

[2022-11-15 00:31] bmv126 commented on #7916
/reopen

[2022-11-15 00:32] bmv126 commented on #7916
/remove-lifecycle rotten

[2022-11-15 02:58] #9292 closed

[2022-11-15 03:10] longwuyuan commented on #9256
/remove-kind bug
/help
/kind support

[2022-11-15 03:11] longwuyuan commented on #9241
/remove-kind bug
/kind support
/help

[2022-11-15 04:45] mahiyad opened #9305 "Not able to renew certificate on ingress-nginx controller pod"
we are running an aws eks cluster which is having ingress-nginx controller pod. this pod was brought up by helm command by giving the cert location and other params. now the certificate is expired and renewed at the server level. and the secrets have been recreated with the new certificate. but the pod (even after restart) is not picking up the new certificate.

Can someone please help in this?

[2022-11-15 05:44] longwuyuan commented on #9305
@mahiyad , kindly post the information that is requested in the template of a new issue. You can see the questions that are asked when you create a new issue.

There is no information here currently to debug or analyze. Reason for not picking up new certificate caan range from misconfigured secret ot misconfigured ingress or several other causes.

When you have posted the information asked in a ne

[2022-11-15 05:44] #9305 closed

[2022-11-15 07:18] timijntema commented on #9303
Sorry about that. Thank you for the quick response

[2022-11-15 07:29] longwuyuan commented on #9303
Names are similar so happens often. Not a problem at all. Hope resolves soon.

[2022-11-15 08:33] mahiyad opened #9306 "Certificate renewal not happening in ingress-nginx controller pod"
**What happened**:

     The certificate for this site is not valid.
     we are running an aws eks cluster which is having ingress-nginx controller pod. this pod was brought up by helm command by giving the cert location and other params. now the certificate is expired and renewed at the server level. and the secrets have been recreated with the new certificate. but the pod (even after restart) i

[2022-11-15 09:34] bombomla opened #9307 "nginx-ingress use ipv6 request error"
i have kubernetes cluster 1.23.1，use nginx-ingress 1.2.0

nginx1 、 nginx2 deployment use nginx-ingress L4 loadbalance service。
nginx1 、nginx2 svc use ipv6  first

apiVersion: v1
kind: Service
metadata:
  labels:
    app: nginx1
  name: nginx1
  namespace: ingress-nginx
spec:
  ipFamilies:
  - IPv6
  - IPv4
  ipFamilyPolicy: PreferDualStack
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80

[2022-11-15 09:46] longwuyuan commented on #9306
/remove-kind bug

This is duplicate of https://github.com/kubernetes/ingress-nginx/issues/9305

@mahiyad there is no information that is related to the certificate problem here. Please add info related to the certificate problem as output of commands like kubectl and curl
- The version of the ingress controller is old and not-supported. Please try a supported version of the controller
- You have d

[2022-11-15 21:57] odinsy commented on #8166
well, i'm not alone (:
![image](https://user-images.githubusercontent.com/12398444/202033666-29b7131b-786f-4cc2-8e13-7d9a4b5b23ca.png)

[2022-11-16 02:06] longwuyuan commented on #9307
/remove-kind bug
/kind support

Hi @bombomla ,

- It looks like you are trying to use this feature https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/ .
- The information you have posted is not enough to analyse or understand the problem and propose  a solution
- There are questions asked when you create a new issue in the template of the new issue. Please edit this is

[2022-11-16 02:06] #9307 closed

[2022-11-16 02:13] medyagh commented on #9281
I think the best solution would be if we add a provider inside this repo so whnever you guys do a release also update the values so minikube could pick it up too
https://github.com/kubernetes/ingress-nginx/tree/main/deploy/static/provider

[2022-11-16 02:42] #8401 closed

[2022-11-16 03:14] longwuyuan commented on #9281
The manifests under different providers get the new tag/sha/semver etc. via a script that someone has to execute while cutting a new release https://github.com/kubernetes/ingress-nginx/blob/main/hack/generate-deploy-scripts.sh . Adding a new provider would mostly work automatically I think, because that scripts just runs through all subdirs under "provider" dir.

For a pilot, do you want to try a

[2022-11-16 08:48] hamza3202 commented on #8983
I have another use case that is being blocked by this (though I do have a work around for it)

In my case, I want to allow all origins. This can be achieved by using "*" as the value but that doesn't work if you also want to use credentials and some other scenarios (Read [here](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#requests_with_credentials:~:text=Credentialed%20requests%20and%20w

[2022-11-16 10:30] longwuyuan commented on #8983
@hamza3202 , I think some more comments from you will help, if they are in the context of securing the controller. I still do not completely understand your use case and the suggested change, mostly because I am not a developer, but there is a lack of clarity in this issue and maybe even other issues (open/closed) related to CORS. The lack of clarity particularly is around the fact that allowing "

[2022-11-16 10:48] aimuz opened #9312 "CVE-2022-41716 Upgrade golang version to 1.19.3"
Due to unsanitized NUL values, attackers may be able to maliciously set environment variables on Windows. In syscall.StartProcess and os/exec.Cmd, invalid environment variable values containing NUL values are not properly checked for. A malicious environment variable value can exploit this behavior to set a value for a different environment variable. For example, the environment variable string "A

[2022-11-16 13:53] hamza3202 commented on #8983
So I have dug a bit deeper into nginx ingress code. The way it is implemented is that if you don't specify an origin value then it defaults to $http_origin variable. However if you do specify origin header then it uses that value in stead

Ref:
[Default Value being set to http_origin](https://github.com/kubernetes/ingress-nginx/blob/main/rootfs/etc/nginx/template/nginx.tmpl#L928)
[Default value be

[2022-11-16 14:05] longwuyuan commented on #8983
until an expert engages here, let me ask a question.
- When you say `because the annotation` above, which particular annotation are you referring to ?
- Second question is why would you or someone send a http request and then expect to set a random/custom origin to begin with ?  If you can insert a random/custom origin in-flight, then so can a unwanted-actor. And that means you are expecting the i

[2022-11-16 19:56] davem-git commented on #8852
i made some progress on this. If we specify a default backend, it seems to eliminate this problem

[2022-11-17 05:52] ayush-jain1 commented on #8461
We are facing this issue on some clusters only, not able to figure out the pattern for it. We have 60+ clusters running on GKE 1.22 and ingress-controller version "1.3.0"

1. What is the strategic fix for this that can give consistent and successful deployment across all clusters?

[2022-11-17 08:32] seb-835 commented on #8852
can you explain how you do ?

[2022-11-17 08:51] Sohan-nykaa commented on #1567
Nginx Ingress controller annotation is not working for working for me on nginx controller version 1.4.0. Below is the code snippet That I'm using for my domain but getting 308 in response. Can anyone help me with the solution:

`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/rewrite-target: /$2

[2022-11-17 10:09] TheCakeMonster commented on #6736
It's a shame that visitors to this repo looking for help on a valid scenario - using SSL/TLS offloading outside of kubernetes plus HTTP/2 - probably don't get enough help to get something working.

Having a couple of upstream proxies where SSL offloading is performed makes certificate management easier. Those proxies are a central place where all of the company's certs can be placed and updated, w

[2022-11-17 10:22] TheCakeMonster commented on #6736
So for people who are wondering, here is an article from the team of using Let's Encrypt for managing certificates in kubernetes.

https://www.nginx.com/blog/automating-certificate-management-in-a-kubernetes-environment/

The concern for me is that it seems to use fully-qualified domain names. In other words, it requires setup for each and every domain name you use within your internal network. Th

[2022-11-17 10:24] hamza3202 commented on #8983
- `nginx.ingress.kubernetes.io/cors-allow-origin` is the annotation i am talking about. It is used to specify the value for an HTTP header called Cross-Origin-Access-Control. That header supports different values such as `*`, `SOME SPECIFIC URL e.g https://example.com` or variables `$http_origin`. The way annotation is validated, it doesn't allow setting an empty value or $http_origin specifically

[2022-11-17 10:47] TheCakeMonster commented on #6736
After about 6 hours of research over a couple of days, my conclusion is that using HTTP/2 with kubernetes is just too hard.

I think I'll forget gRPC for now. Scrapping the gRPC services I have created and rewriting them as REST is better than continuing down the path of struggling to get the infrastructure set up. I can calculate how long the rewrite will take, but I can't estimate the setup.

In

[2022-11-17 13:33] longwuyuan commented on #8983
@hamza3202 thanks or fleshing out the issue
/help

[2022-11-17 14:31] mve-git commented on #8705
/remove-lifecycle rotten

[2022-11-17 15:19] Tymeade commented on #9033
Any updates on this? We have the same problem

[2022-11-17 15:56] davem-git commented on #8852
update the helm values to include the default backend. With that extra setting and deployment, I no longer see the issue.

[code]

[2022-11-17 16:16] hamza3202 commented on #8983
I want to set the value to $http_origin and the author wants to set it to null because that is the value for the origin header in the request in their case. Both values address the same problem i.e use incoming request's origin header as the value for access-control-allow-origin header

[2022-11-17 19:27] jrhunger commented on #8461
NET_BIND_CAPABILITY is only needed for privileged ports, and the above reported error was about failure to listen on privileged ports.  If you are changing the ports especially to a non-privileged one, you are probably running into a different issue.  Can you share the exact error you are encountering?

[2022-11-17 20:06] luiscape commented on #9255
Hi @goutham-sabapathy it isn't the role of the `ingress-nginx` controller to change the load balancer properties on AWS. The [AWS Load Balancer Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/) is the one responsible for doing that. Maybe check the logs of that controller to see why is it not changing that property when it should?

I have a similar setup and the con

[2022-11-18 00:59] #8271 closed

[2022-11-18 02:18] longwuyuan commented on #8786
/help

[2022-11-18 02:51] longwuyuan commented on #9033
If one path works and another path does not, then it's not a problem with
the ingress-controller. I think the app needs to be looked into.

On Thu, 17 Nov, 2022, 8:49 pm Elizaveta Prosvirina, <
***@***.***> wrote:

[2022-11-18 04:23] jasine commented on #8663
/remove-lifecycle stale

[2022-11-18 04:35] buraktabn commented on #9033
What do you mean?

The app doesn't need to listen `/customPath` since the `ingress-controller` will be listening to it and routes to the specified backend service.

Are you suggesting that the backend service should listen to `/customPath`?

[2022-11-18 04:58] longwuyuan commented on #9033
@buraktabn we need data to solve this kind of problems.
Look at the screenshot below. This is data the ingress-nginx controller routes traffic for a URL similar to what you showed ;
![image](https://user-images.githubusercontent.com/5085914/202620429-39df05b5-fc0f-4721-8253-e62ec1ab232a.png)

If you can post data here that is detailed and descriptive, someone can analyze it for you

[2022-11-18 05:04] longwuyuan commented on #9033
This is the second test for path based routing. Check the config of the ingress object showing the value off the spec `path` ;

![image](https://user-images.githubusercontent.com/5085914/202622803-7c276978-7b58-4032-80a1-b584e356db4c.png)

[2022-11-18 11:09] #8717 closed

[2022-11-18 11:57] #9283 closed

[2022-11-18 12:18] #8943 closed

[2022-11-18 19:59] tarrow opened #9314 "Missing documentation for preserve_trailing_slash in controller configmap"
**What happened**:

There doesn't appear to be any documentation for `preserve-trailing-slash` in https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/ yet when I set this value to true the behaviour of ssl-rewriting appears to change.

In my case it appears to change in a way I find useful. That is it does not remove a trailing slash. For example: `http://coffeebase

[2022-11-18 20:08] mrj0 commented on #4674
I encountered this - it turns out that wildcard host names are supported in the rules section but not by SNI, so it serves the fake ingress cert instead of mine.

[2022-11-19 01:12] #8723 closed

[2022-11-19 16:45] walthowd commented on #8449
/remove-lifecycle stale

[2022-11-19 20:39] buraktabn commented on #9033
I'll create a reproducible example of this when I got a time.

Also noticed that the screenshots you provided are based on HTTP/1.1 and gRPC uses HTTP/2. Does the ingress-controller work the same between the two protocols?

[2022-11-20 00:32] longwuyuan commented on #9033
@buraktabn the problem with the ingress-controller , that needs to be solved is not clear. I hope you can describe that. Because this ingress
[code]
is not demonstrating a problem with the ingress-controller. You need to look at the nginx.conff inside the ingress-controller pod, to see the result of using this configuration. Important to to note that a combination of `path: `/` and a `pathType: Pr

[2022-11-20 18:35] rittneje commented on #8264
/remove-lifecycle stale

[2022-11-20 20:15] mahendranbhathp commented on #4674
could you please elobertae more? I am also facing same issue!

[2022-11-21 04:36] wujun4code opened #9315 "docker registry sample: 404 failed for docker push"
**What happened**:

follow https://kubernetes.github.io/ingress-nginx/examples/docker-registry/ to host a registry but get a 404 error when docker push.

**What you expected to happen**:

docker push works well.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): nginx/nginx-ingress:2.4.1

**Kubernetes version** (use `kubectl version`):

[code]

*

[2022-11-21 08:17] ayush-jain1 commented on #8461
Error ->
main.go 67] port 80 already in use. Please check the flag --http-port

[2022-11-21 08:18] ayush-jain1 commented on #8461
1 main.go 67] port 80 already in use. Please check flag --http-port

[2022-11-21 08:19] longwuyuan commented on #9315
/remove-kind bug
Works for me
[code]

[2022-11-21 08:40] remidebette commented on #8425
/remove-lifecycle stale

[2022-11-21 10:31] #8730 closed

[2022-11-21 11:25] procinger commented on #8166
Good day @Volatus,

thank you for your reply. As you mentioned, the projects have to provide the patches for you to use.

Since there are already patches in the upstream - but in the case of Modsecurity not yet tagged, I thought the easiest thing to do would be to simply update the affected projects. We did not assume it needs to be tagged, because of examples like https://github.com/kubernetes/in

[2022-11-21 12:39] rikatz opened #9320 "make kind-e2e-test should generate junit reports"
With the goal of having some better reports on e2e tests on PRs, we need the e2e scripts to generate junit reports. The goal is:
"when I run make kind-e2e-test, I want on the same directory (or some subdirectory of the repo like "e2e-reports" that we can add to .gitignore) the reports generated by the tests"

This can be achieved:
* adding to e2e.sh script the --junit-report=report.xml but remembe

[2022-11-21 12:40] rikatz opened #9321 "make kind-e2e-test should generate junit reports"
With the goal of having some better reports on e2e tests on PRs, we need the e2e scripts to generate junit reports. The goal is:
"when I run make kind-e2e-test, I want on the same directory (or some subdirectory of the repo like "e2e-reports" that we can add to .gitignore) the reports generated by the tests"

This can be achieved:
* adding to e2e.sh script the --junit-report=report.xml but remembe

[2022-11-21 12:41] rikatz commented on #9321
/priority important-soon
/triage accepted

[2022-11-21 12:49] longwuyuan commented on #8166
@procinger would your possible proposals for change (patches) be opt-in or would the patches apply to all users ?

[2022-11-21 13:01] Fran-Rg opened #9322 "Default backend doesn't follow ingress-nginx-controller config map rule on allowlist"
**Context**:

I would like the default backend to be have some kind of handling. I would like that in any case the ingress only allows from certain IPs

**What happened**:

The helm chart was deployed with:
[code]
So it's only returning a basic 404 page.

I've set the config map: "ingress-nginx-controller" with:
[code]
As documented on https://github.com/kubernetes/ingress-nginx/blob/main/docs/use

[2022-11-21 13:14] Fran-Rg commented on #9322
Actually I think it's working, it's because I need to set an explicit: block-cidrs

https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/nginx-configuration/configmap.md#block-cidrs

[2022-11-21 13:14] #9322 closed

[2022-11-21 14:37] procinger commented on #8166
@longwuyuan the changes/patches refer only to the ModSecurity dependencies we have changed in our example
https://github.com/procinger/ingress-nginx/commit/b51b754a9d6ce7217b9fabfba2445c26545c4267

We would use the commit hash instead of v3/master. This would affect all users with ModSecurity enabled.

[2022-11-21 16:52] WoodyWoodsta commented on #8964
/remove-lifecycle stale

[2022-11-21 18:19] jrhunger commented on #8461
@ayush-jain1 I suggest opening a new issue with your details.  As you can see from the [code](https://github.com/kubernetes/ingress-nginx/blob/a581a7bebc1f4ff028f1e57dca0ce95abef78c62/pkg/flags/flags.go#L251) if your message says "port 80" then that's the port it's trying to listen on, and you must have some other issue keeping the 8081 port config from making its way into the container.

[2022-11-21 18:48] longwuyuan commented on #8166
@procinger   Its possible that using modesecurity with near-future releases of the ingress-nginx controller will require more work, both in code and documentation.
But until those changes are released, the details of your proposal will provide insight to make decisions. I think you can provide details of your proposal here. Ideally a PR would be appropriate but I am suggesting that the basic tenet

[2022-11-21 20:17] davem-git commented on #8852
@seb-835 did it fix your issue?

[2022-11-21 21:13] strongjz commented on #8166
@procinger A PR would be a great place for more conversation. Thank you for all the investigation.

[2022-11-21 22:02] wujun4code commented on #9315
Thanks for your reply, could i have your installation config of nginx controller ? have you try these

[code]

[2022-11-22 01:23] wujun4code commented on #9315
@longwuyuan it works when I switch bitnami nginx ingress controller:

[code]

[code]

[2022-11-22 01:30] wujun4code commented on #9315
@longwuyuan

### ingress controller from bitnami  works well

[code]

[code]

[2022-11-22 01:46] rikatz commented on #8633
/lifecycle frozen

[2022-11-22 01:49] #8932 closed

[2022-11-22 02:25] wujun4code commented on #9315
I setup 3 ubuntu servers with kubeadm as a self-hosted cluster, I think it is a standard mode.
chekced with https://kubernetes.github.io/ingress-nginx/deploy/, that means the self-hosted cluster is not supported by this?

[code]

[2022-11-22 02:29] longwuyuan commented on #9315
- self-hosted and non-self-hosted are both supported
- helm chart expects a LoadBalancer like AWS-LB or GCP-LB or Azure-LB or Metallb etc

[2022-11-22 02:53] wujun4code commented on #9315
yeah. I am using Metallb now, so all the config of my cluster are based on standard cluster, as i mentioned.

Now the root diff is: when I install nginx controller from Bitmani, it works well `helm install nginx-ingress-controller-bitnami bitnami/nginx-ingress-controller`, I can docker push, but when I install `helm install nginx-ingress-controller-release nginx-stable/nginx-ingress`, it failed wh

[2022-11-22 02:54] artazar commented on #8598
Hi, this is still an important and unresolved issue.
@josecu08 could you reopen it please?

[2022-11-22 03:08] longwuyuan commented on #9315
- You are ignoring the information posted here
- This project supports only https://kubernetes.github.io/ingress-nginx/deploy/ and that does not have anything like `nginx-stable/nginx-ingress`

[2022-11-22 03:09] longwuyuan commented on #9315
We don't support this `helm repo add nginx-stable https://helm.nginx.com/stable`

[2022-11-22 03:37] wujun4code commented on #9315
my fault... there are so many nginx ingress controllers =  =! 😢

[2022-11-22 03:37] #9315 closed

[2022-11-22 05:45] longwuyuan commented on #9315
No problem. Names are confusing.

[2022-11-22 06:26] pigletfly commented on #6135
can we reopen this issue ?

[2022-11-22 07:19] krystian1981 opened #9323 "Rate-Limit dont work with mtls"
**What happened**:

We want to prevent that we get too many requests from one IP. That's why we have configured the rate limit per sec/min. Unfortunately this does not work correctly when we enable client authefication. After that we are only blocked if we start the request with a valid certificate, with invalid or without certificate not anymore.

**What you expected to happen**:

Rate-Limit shou

[2022-11-22 08:10] josecu08 commented on #8598
/reopen

[2022-11-22 09:34] cattapan opened #9324 "Helm install/upgrade is not able to override readiness probe configuration"
When trying to override the controller readiness probe values, during a helm upgrade (chart version 4.4.0), this error comes up:
[code]

**What you expected to happen**: That I would be able to override the readiness probe configuration. I understand it's how helm handles it (it tries to merge the values rather than completely overriding them). However, ideally, the default configuration could be

[2022-11-22 10:05] danish-rku commented on #9213
Thanks @strongjz  for your support always and taking this on priority.

[2022-11-22 12:39] pedroparraortega opened #9326 "Whitelist not working with AWS NLB EKS"
**What happened**:

Running nginx ingress controller on EKS version 1.22 with a AWS NLB. Flows works ok but whitelist filter is not working fine as the client source ip is not properly propagated.

**What you expected to happen**:
I would expect source ip works as expected and filter properly based on the client source ip

**NGINX Ingress controller version** (exec into the pod and run nginx-ingre

[2022-11-22 12:45] PhilipSchmid commented on #8499
/remove-lifecycle rotten

[2022-11-22 12:49] speer commented on #8499
Bump, I would also wonder if "--set controller.image.allowPrivilegeEscalation=false" will have any negative consequences.

[2022-11-22 12:50] speer commented on #8499
/remove-lifecycle stale

[2022-11-22 13:11] inge4pres commented on #8818
/remove-lifecycle-stale

I still think this is an important enhancement for operating ingress-nginx, especially when iterating over global configs.

[2022-11-22 13:43] dippynark commented on #5667
We also hit this issue on GKE, although I'm confused what's going on because the Nginx Ingress Controller `nginx.conf` generation logic seems to discover all Kubernetes resources through informer caches so I would expect an API server disconnect to just prevent updates (rather than wiping all existing endpoints).

Could the informers be clearing their local cache after a disconnect?

[2022-11-22 13:45] #9320 closed

[2022-11-22 13:46] longwuyuan commented on #9323
/help

[2022-11-22 13:58] longwuyuan commented on #9324
/remove-kind bug
/kind feature

@cattapan hi, are you expecting a change to the template and expecting the current readiness probe config to be moved from the values file to the template ? If yes, I think there is not enough info here to elaborate on aspects like, do all users desire it and prefer the change, besides how it will impact all other users who do not face a delay problem.

Could it be

[2022-11-22 13:59] longwuyuan commented on #257
@narqo thanks for the udpate

[2022-11-22 14:20] longwuyuan commented on #9326
/remove-kind bug

I just tested the feature and its working. See screenshot

![image](https://user-images.githubusercontent.com/5085914/203337443-99d2516d-859a-407c-832d-73fcb3c0f4b9.png)

Can you provide enough anlytical information that points at the ingress-controller being the cause of the problem

[2022-11-22 14:58] longwuyuan commented on #9323
@krystian1981, seeing the ipaddress 127.0.0.1 in the original post, is confusing.

I think we need some kind of a demonstrated step-by-step process, that someone can copy/paste in their own minikube/kind cluster, and very very specifically see the logs of the controller while simultaneously seeing the curl data on rate applied or not applied.

Confusing because I think the rate-limiting module of

[2022-11-22 17:23] krystian1981 commented on #9323
@longwuyuan
Sorry the last part of the ticket was cutted, now you can see my ingress and nginx setup.
This are some logs without mtls:

192.168.65.3 - - [15/Nov/2022:19:10:01 +0000] "GET / HTTP/1.0" 503 190 "-" "ApacheBench/2.3" 81 0.000 [default-webapp-service-8080] [] - - - - 46fc4b771c1ad5295b8695b1f73b9234
192.168.65.3 - - [15/Nov/2022:19:10:01 +0000] "GET / HTTP/1.0" 503 190 "-" "ApacheBench/

[2022-11-22 18:20] iamlongalong commented on #8977
as @gfszr said, it is an expected behavior by NGINX.  I wonder if the shutdown timeout can be configed as a random duration in a range, like 240s~360s,  so that the worker won't shutdown at almost the same time, which may cause heavy reconnection of websocket in many cases.

[2022-11-22 19:01] Timoses commented on #7794
/remove-lifecycle stale

[2022-11-22 20:43] awwithro commented on #8195
@armujahid can you share your workaround?

[2022-11-23 05:44] armujahid commented on #8195
@awwithro for me currently use-forwarded-headers: "true" is working fine. I am using helm chart ingress-nginx-4.3.0 with chart aws-load-balancer-controller-1.4.5 and everything is working fine without any hack.

The hack I was referring in my previous comment is no longer required. I was using custom nginx template at that time with helm chart using `customTempale` helm value.
[code]

[2022-11-23 08:32] Slyke opened #9328 "Ingress controller creating DNS wildcard in CoreDNS"
**What happened**:

When resolving domains inside pods, CoreDNS catches all domains that do not end with a `.`, including external domains.

**What you expected to happen**:

Domains that do not end with the ingress controller should resolve, or at least not use CoreDNS.

I'm not sure if this is a bug or a misconfiguration on my end. I tried to use the Slack to open a support ticket, but it errors

[2022-11-23 10:24] alonmr opened #9329 "Request aborted after configuration reload"
**What happened**:

Request was aborted by ngnix ingress controller with:
`*1005769 open socket #49 left in connection 11`

[code]

**What you expected to happen**:

I expected the connection to be gracefully terminated.
The error seems to be correlated with configuration reload and occasionally occurs after reload is done.

**NGINX Ingress controller version** (exec into the pod and run nginx-ing

[2022-11-23 10:48] longwuyuan commented on #9323
After looking again at the info here, I think we need to look at the nginx.conf for the rate_limit directive. I think that the rate-limit applies to the configured backend.service but not for the default-backend. If so, I suspect its the defalt nginx behaviour for which server and location block to put the rate-limit directive in.

Can you check your nginx.conf ?

/remove-kind bug

[2022-11-23 10:54] longwuyuan commented on #9328
@Slyke , You can register for slack at slack.k8s.io .

The information you have posted is not enough to analyse anything specific. Even the problem description needs to be more meaningful and practical for someone to work on it.

You can help by editing your post and actually copy/pasting information that makes some sense like what commands you tried and what logs and config you looked at and what

[2022-11-23 10:54] #9328 closed

[2022-11-23 11:01] longwuyuan commented on #9329
/remove-kind bug

That image is not published by this project.
If you forked and built that image, there is no info on the diff.
- Please use the published manifest and image from this project so that responders here can be on the same page
- Please post detailed information on related information ranging from controller-config using published manifest & image, to igress obejct kubectl describe an

[2022-11-23 12:27] AlonMaor14 commented on #9329
@longwuyuan thank you for the response.
please note it is the same image published by this project only saved on our own registry.
I'm working on reproducing the issue with 1.5.1 (bitnami) and will provide the requested instructions.

[2022-11-23 12:55] krystian1981 commented on #9323
@longwuyuan
my nginx.conf

# Configuration checksum: 16400540452596725090

# setup custom paths that do not require root access
pid /tmp/nginx/nginx.pid;

daemon off;

worker_processes 1;

worker_rlimit_nofile 1047552;

worker_shutdown_timeout 240s ;

events {
	multi_accept        on;
	worker_connections  16384;
	use                 epoll;

}

http {
	lua_package_path "/etc/nginx/lua/?.lua;;";

	l

[2022-11-23 13:42] HoussemDellai commented on #9282
Hello @silandrew
I've implemented an example here: https://github.com/HoussemDellai/docker-kubernetes-course/tree/main/30_https_ingress_kv_oidc
- uses CSI Driver to get certifivcate from Keyvault
- authenticates using Workload Identity and User Managed Identity (this is done using the SecretProviderClass that now supports authn using WI: https://learn.microsoft.com/en-us/azure/aks/csi-secrets-stor

[2022-11-23 17:36] longwuyuan commented on #8974
/help
/remove-lifecycle stale

[2022-11-23 22:30] zedge-it opened #9332 "Retry loop on keep-alive connection to upstream servers"
**What happened**:

Ingress-controller is handling a bad request from a client, gets an empty reply from an upstream server, and ends up in a retry loop until the client disconnects.

This only happened when the ingress-controller had open keep-alive connections to the upstream servers.

**What you expected to happen**:

The ingress-controller should do 3 (proxy-next-upstream-tries) retries and th

[2022-11-24 00:26] marcowuethrich commented on #909
Hello, I have the same setup `HaProxy -> LB (Digitalocean ingress-nginx) -> pods`
I have already enabled proxy protocol in the ingress-nginx and i can see a `x-forwarded-for` header with the IP of the HaProxy inside the cluster.

When i enable the proxy support on the HaProxy i receive a TLS error:
[code]

`haproxy.cfg`:
[code]

Does anyone perhaps have more knowledge?

[2022-11-24 02:12] fred214 opened #9333 "Does v1.5.1 support k8s 1.22 or 1.21?"
Hi,
I noted the last version controller-v1.5.1 released, but in [supported-versions-table](https://github.com/kubernetes/ingress-nginx#supported-versions-table) it shows support k8s version from 1.23 to 1.25.

We still have Prod cluster with k8s 1.21 and 1.22, does the version v1.5.1 support k8s 1.22 or 1.21?
Is it only not has support plan and not fully test?  or some technical reason lead to can

[2022-11-24 03:17] viralkamdar commented on #9232
I use wildcard in hostname without any problem. The only catch here is that you will have to create a certificate for CN of the same value as the wildcard hostname.

[2022-11-24 03:20] viralkamdar commented on #9314
preserve-trailing-slash is an ingress annotation. It can't be enforced on all the ingresses.
The documentation for preserve-trailing-slash is at https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-side-https-enforcement-through-redirect

[2022-11-24 05:43] kundan2707 commented on #9333
/kind support

[2022-11-24 05:44] kundan2707 commented on #9333
The v1beta1 Ingress API was deprecated with Kubernetes release 1.19 and removed with the Kubernetes 1.22 release.

[2022-11-24 07:11] fred214 commented on #9333
@kundan2707 Thanks for reply, if all the Ingress and IngressClass use the `networking.k8s.io/v1` in k8s 1.22 and 1.21, we can update the controller to v1.5.1, am I right?

[2022-11-24 07:57] kundan2707 commented on #9333
@fred214  there could be multiple issue for example golang version.
please follow supported version table only in which 1.21 or 1.22 not supported.
https://github.com/kubernetes/ingress-nginx#supported-versions-table

[2022-11-24 09:14] phucnv282 opened #9334 "Nginx Ingress Controller v0.51.0 - ModSecurity SecAuditLogFormat not working"
**What happened**:

I installed Nginx Ingress Controller v0.51.0, I wanna use ModSecurity feature and log in JSON format2
[code]

**What you expected to happen**:

I expect Nginx will log in JSON when ModSecurity detect a threat request like: `{transaction:...}`
But it only log in native format

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
v

[2022-11-24 10:56] odinsy commented on #9326
@pedroparraortega faced with same issue
Have you enabled client IP preserving? Try
[code]

[2022-11-24 10:56] AlonMaor14 commented on #9329
@longwuyuan I have updated the report with more information.
It is a bit complicated to reproduce as it does not happen on every nginx reload.
Will try to provide simple steps to reproduce ASAP.

[2022-11-24 11:09] pedroparraortega commented on #9326
The issue can be closed. There was a missconfiguration on our dns server which was proxying the request causing the issue

[2022-11-24 11:09] #9326 closed

[2022-11-24 11:27] aslafy-z commented on #8384
Here's my use case, the platform team offers a nginx ingress controller with a company-branded default-backend and handles 500 errors by default. Some apps may want to overwrite this behavior by disabling the company default-backend all-together for their ingress (e.g.: development phases where they want to see their app outputs even if they are errors).
Allowing users to set `nginx.ingress.kubern

[2022-11-24 12:22] vikrantoct7 opened #9335 "ingress nginx installation issue for livenessProbe and readinessProbe"
We are doing provisioning for Azure kubernetes and trying to deploy nginx ingress using helm. Below is helm command. We downloaded helmchart and added in code repo. we are trying to deploy helm chart using folder location
  REGISTRY_NAME=$(REGISTRY_NAME)
  CONTROLLER_IMAGE=ingress-nginx/controller
  CONTROLLER_TAG=v1.5.1
  PATCH_IMAGE=ingress-nginx/kube-webhook-certgen
  PATCH_TAG=v20220916-gd32f8

[2022-11-24 12:30] devent commented on #909
The error is `tlsv1 alert protocol version`. The current TLS version is 1.3. I think it's an error because TLS version 1 is insecure. I don't know what kind of software is behind https://find-ida.com but I guess you are using a really old openssl library.

[2022-11-24 13:04] gustaff-weldon commented on #8195
Commenting in hope this will help someone as I have spent way too much time trying to solve this.

I had the same issue, my FE requests are going through the node proxy which was setting the `x-forwarded` headers:
[code]

This was then hitting the ingress domain for which I tried various workarounds on my ingress like:
[code]

Nothing worked, `ingress-nginx-controller` was still appending its own

[2022-11-24 14:13] rittneje commented on #8270
/remove-lifecycle stale

[2022-11-24 14:24] longwuyuan commented on #9323
Yeah, I think that the rate-limit will apply only if the rules configured match a request so only a valid request will be rate limited. t least as per the nginx.conf you can see yourself. When a request does not match a rule, then its not routed to a service-backend so no rate limit gets applied because I don't think that the rate limit visible outside the server blocks on top there match a reques

[2022-11-24 14:53] agramner commented on #9222
I've tried to reproduce this locally in minikube and with multipass/microk8s but can't. But using exacly the same setup in our real cluster I can reproduce the issue every time. I created this repo which describes how to reproduce it https://github.com/agramner/ingress-nginx-reproduce-issue-9222

[2022-11-24 15:12] #8457 closed

[2022-11-24 15:17] longwuyuan commented on #9335
Project recommends this https://kubernetes.github.io/ingress-nginx/deploy/#azure

[2022-11-24 15:18] longwuyuan commented on #9335
Does that documented method successfully create a run the ingress-nginx-controller for you ?

[2022-11-24 15:24] longwuyuan commented on #9329
There are some old tickets about a very specific scenario but each of them is related to extremely high load and extremely high scale.

There is work in progress to split controlplane and dataplane, that will make it possible to address "SOME" concerns in a better approach.

With that info, the need to reproduce at will is sort of paramount.

[2022-11-24 15:32] vikrantoct7 commented on #9335
No... our AKS is in private secure env. kubeclt is not recommended solution. Helm terraform is only a solution to deploy helm chart
we are using terraform helm release  module (https://registry.terraform.io/providers/hashicorp/helm/latest/docs/resources/release)

it seems that when expect node name to pass like set controller.admissionWebhooks.patch.nodeSelector."kubernetes\.io/os" (use double quo

[2022-11-24 15:49] longwuyuan commented on #9335
- I think there was work done before to start recommending the static manifest
- Investigating helm chart install is useful for documenting so others can use if needed but resources to do that kind of investigation are not available
- I think you can try `helm template` and compare with static manifest to start with
- Hard to comment on the patch spec you are referring to without the resources lik

[2022-11-24 22:43] mezzofix commented on #9267
@strongjz any chance that you could look at this? thanks !

[2022-11-25 07:05] longwuyuan opened #9337 "fix ginkgo deprecations"
**What happened**:
- The problem is that there are deprecated ginkgo features in use, in the e2e-tests.
- After bumping ginkgo in project https://github.com/kubernetes/ingress-nginx/pull/9336, some deprecated ginkgo feature messages showed up during tests

[code]

**What you expected to happen**:
- **working on this issue requires basic awareness of testing. It also requires some go/ginkgo experie

[2022-11-25 07:41] longwuyuan opened #9338 "build failed for test-runner image"
- Build failed for test-runner image with error message

[code]
- That step is legacy because as per https://github.com/docker-library/golang/pull/441, that step is not required in recent alpine versions
- This issue for tracking the build failure https://console.cloud.google.com/cloud-build/builds;region=global/fb2ea389-b21a-432b-b518-858c0402a315?project=k8s-staging-ingress-nginx

![image](https

[2022-11-25 08:17] longwuyuan commented on #9338
/remove-good-first-issue

[2022-11-25 08:21] longwuyuan commented on #9338
Follow-up after https://github.com/kubernetes/ingress-nginx/pull/9336

[2022-11-25 09:28] #9338 closed

[2022-11-26 02:53] badrdouah opened #9341 "Can't get the client real IP address anymore"
**What happened**:

i'm trying to get the client real Ip address but instead i'm getting another Ip address (not client real IP address and not the load balancer IP address)
i tried VPN  i'm still getting the same result,
i switched to a cellular network still the same result,

**What you expected to happen**:

i'm expecting the client real IP address, it was working before, i had to reistalled  n

[2022-11-26 08:43] longwuyuan commented on #9341
Please discuss this on the kubernetes slack as this is not a bug or a problem to be solved in the ingress controller.
You can also check these 2 links ;
- https://kubernetes.io/docs/concepts/services-networking/service/#aws-nlb-support
[code]
- https://kubernetes.github.io/ingress-nginx/deploy/#cloud-deployments
- https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/

[2022-11-26 08:43] #9341 closed

[2022-11-26 11:53] longwuyuan opened #9342 "go.mod needs 2 new indirect dependencies"
**What happened**:
- I had to `git fetch -all` the latest from upstream/main and `git rebase upstream/main` to add junit-reports to ginkgo tests. But I see that there is a problem here with go.mod & go.sum. That is caused by the recent projectwide bump of ginkgo to v2.5.1
- Each time I try to run `make kind-e2e-test`, midway through the test, the `go.mod` and `go.sum` get modified with 2 new depen

[2022-11-26 12:15] longwuyuan commented on #9342
/priority important-soon

[2022-11-26 12:20] Akshit42-hue commented on #9337
/assign

[2022-11-26 14:01] Mahadsid commented on #9337
Where to start to fix this issue I am new to open source can you guide me?
I want to work on this issue.

[2022-11-26 15:50] longwuyuan commented on #9337
@Mahadsid
- Somone already assigned it to themself so its normal respectful process to talk to that person first
- I edited the issue original post for more information. Hope that helps

[2022-11-26 17:41] Akshit42-hue commented on #9337
Hey @Mahadsid, I am working on it. There are many good first issues you can jump into :)

[2022-11-26 19:02] liranbg commented on #9329
@longwuyuan - assuming that nginx >=1.23 will sort issues w.r.t reload correlation with "open socket" being terminated prematurely. is there an ETA for kubernetse ingress nginx to update its nginx to such version?

[2022-11-26 19:31] #8707 closed

[2022-11-26 19:31] MuhammadAliYousaf opened #9344 "ingress-nginx-controller status is ImagePullBackOff"
My system is Mac M1 and installed the latest version of Docker and Kubernetes.

I runed the following command:
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.5.1/deploy/static/provider/cloud/deploy.yaml`

And, following are the logs of running above command:
namespace/ingress-nginx created
serviceaccount/ingress-nginx created
serviceaccount/ingress-nginx

[2022-11-26 22:38] rittneje commented on #8283
/remove-lifecycle stale

[2022-11-27 01:58] longwuyuan commented on #9329
@liranbg, I am not a developer so that question is best answered by a lead developer.
But my thoughts are that, the work involved to change nginx version, includes checking every single patch & backported fix (if any). That takes a lot of dev time. And then we use OpenResty which has its own cadence. And now we are getting into a major design change where the cp & dp are split. So, there will be h

[2022-11-27 02:07] longwuyuan commented on #9344
@MuhammadAliYousaf you can check if you can pull any other images on the cluster with a example like `kubectl create deploy test0 --image nginx:alpine` and then `kubectl get po`.

Failing to pull image is not a problem of the ingress-nginx controller. You can ask for help in the docker-desktop forums. Or you can discuss this in kubernetes.slack.com. Register at slack.k8s.io if required.

/remove-k

[2022-11-27 02:07] #9344 closed

[2022-11-27 02:13] bmv126 commented on #9333
I have been using 1.5.1 on 1.21 k8s cluster and do not see issues.
EndpointSlices usage was newly introduced in 1.5.1 (stable in k8s 1.21), so older versions like 1.20 k8s will have issues.

But it is better to go with what is given in version table:

[2022-11-27 06:46] liranbg commented on #9329
Thanks for clarifying @longwuyuan .
The link is mentioned above, on the issue body

[2022-11-27 07:39] #8766 closed

[2022-11-27 07:46] longwuyuan commented on #9329
Ah, ok. Sorry missed that earlier.
Now I read it and its not exactly what I was hoping for. That link uses nginx v1.18 as reference and then talks about sockets closed on reload of conf.
This problem is well known to the project and others as it is predictable at a certain scale. That scale for the ingress-nginx-controller is like thousands of ingress resources and hence a nginx.conf that is humon

[2022-11-27 08:27] liranbg commented on #9329
As before, much thanks @longwuyuan for replying and explaining. Truth is, that we get that error for even low scale. it can take dozens of ingresses and sometime even less until we encounter that phenomena. If there are more we can do on our side to provide more information, please do let us know.

[2022-11-27 10:14] longwuyuan commented on #9329
I just now saw that you are using bitnami repo.

I don't think anything we discuss is valid until the use case is for the release from this project.

In addition to that, I would suggest that you do not use any of the annotations I see listed in your post above.

[2022-11-27 10:16] longwuyuan commented on #9329
Any annotation that tweaks defaults I mean. I saw that you use auth related annotations so those are fine.

[2022-11-27 10:45] liranbg commented on #9329
I see. the author also mentioned it is reproducible with the original (read: this project) images as well.

Which annotations? are they not production-ready? I understand the impact of each one, but I assume you have something else in mind when it comes to stability. do you mind sharing?

[2022-11-27 11:07] amirschw commented on #8988
/remove-lifecycle stale

[2022-11-27 13:24] longwuyuan commented on #9329
- cache duration annotation
- body-size annotation
We need data, using this project's manifests & artifacts, and without those annotations mentioned above

If the problem occurs at low scale, then it must happen at other users clusters as well and should also be reproducible on minikube/kind at a certain low scale

For a developer to engage here, its not feasible to present a bitnami manifest/arti

[2022-11-27 13:27] longwuyuan commented on #9329
My thoughts are that if its a issue created by the controller code, then multiple users will report it, usually/normally. So I think you can increase observability granularity and get data on host resources like inodes/filehandles I/O wait etc etc

[2022-11-27 15:29] chrisarmand commented on #8852
@davem-git this did solve the issue for me, thx a lot!
Quick question though: would this be
- a temporary workaround (i.e. this config should work without requesting a default backend), or
- a final fix (i.e. this config actually requires a default backend)?

[2022-11-27 18:50] rittneje commented on #8652
/remove-lifecycle stale

[2022-11-27 18:51] rittneje commented on #8651
/remove-lifecycle stale

[2022-11-28 01:16] FuyuanChu commented on #9266
We could create a custom template of `nginx.conf` as a workaround for this scenario. But better to have this feature implemented natively.

[2022-11-28 03:27] phucnv282 commented on #9334
Another issue is that when setting SecRuleEngine DetectionOnly the ModSecurity also didn't log anything :(

[2022-11-28 07:47] donnol commented on #5932
I went into this problem too, and I keep the namespace same to solve it.

[2022-11-28 09:07] StepanKuksenko commented on #8017
@alanlekah could you explain please why we can't use just this ?
[code]
why we even need `2443` port ?
also why we need this
[code]
instead of
[code]

[2022-11-28 11:32] Bafff commented on #8599
Hi!

Any news on this?
@longwuyuan

[2022-11-28 11:37] sebader commented on #8599
Now that k8s <1.23 are all end-of-life, shouldnt an update here be possible?
https://kubernetes.io/releases/

[2022-11-28 11:59] tarrow commented on #9314
Thanks for your reply! I might be mistaken then.

I'll try to put together a minimal reproduction in the next day-or-so to try and confirm whether making this change to the ConfigMap is actually doing something.

If it does do something is that then a bug? Or an undocumented feature?

Thanks!

[2022-11-28 15:47] tarrow commented on #9314
Hi! I actually spent a little time looking at this. Hopefully you can see below a little reproduction starting from the instructions in the issue template:
[code]

As you can see changing this value in the configmap does indeed change the behaviour. It looks like this behaviour change was introduced in this PR: #7144 at the same time that the annotations whose documentation you linked to were intr

[2022-11-28 17:19] KongZ commented on #2724
@StepanKuksenko I'm no longer using nginx controllers for years. Hope this description is still valid.

Because we need 80 to handle HTTP and response 308.
And 8000 is needed to handle HTTPS.
The 443 cannot be used because it is used by nginx to terminate TLS. This case we want to terminate TLS on NLB.

[code]

Because it is a [spec](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v

[2022-11-28 18:04] davem-git commented on #8852
This should work without the default backed. It's a regex issue. I think the contributors mentioned some upcoming changes planned that will fix it too. So they don't want to do anything now. I'm using this as a final fix. It seems more thorough of a health check to me.

[2022-11-28 20:43] x-yuri commented on #6496
@aledbf Like [this][a]? I would expect that message and the previous one to disappear. What's the difference between such and "No, I don't want you to close the issue." comments then?

[a]: https://github.com/docker/docs/issues/13076#issuecomment-1329737077

[2022-11-29 05:33] sjoukedv opened #9347 "HorizontalPodAutoscaler API version is deprecated"
I noticed the following warning on the HPA resource:

[code]

The version here, https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/templates/controller-hpa.yaml, should be

[code]

I have created a PR to solve this.

[2022-11-29 08:26] manikantavasupalli opened #9349 "Unable to restrict the ingress access to a fewer IP using whitelist annotation"
I think am missing something in annotation and unable to restrict the ingress access as its working on other ingresses with other versions.

**Kubernetes version**:  AKS - 1.23.8
**Ingress controller version:**
        - Helm chart: ingress-nginx-4.4.0
        - App Version: 1.5.1

What is required: Wanted to restrict the public access to fewer machines(IPs) using ingress annotations.

Issue:
With

[2022-11-29 09:22] longwuyuan commented on #9349
check the first column of the logs of the ingress-controller pod. That is the ipaddress which will be in play.

- The new issue template asks questions that are used by anyone trying to work on a issue. It will help if you post the related information and a step-by-step instruction to reproduce the problem
- I have tested and the whitelist works

Please reopen the issue after you have posted the i

[2022-11-29 09:22] #9349 closed

[2022-11-29 09:23] longwuyuan commented on #9349
/kind support

Or you can seek help in the ingress-nginx-users channel on kubernetes slack

[2022-11-29 09:24] longwuyuan commented on #9349
maybe a CIDR notation will fix the problem, based on what you have posted above

[2022-11-29 09:29] longwuyuan commented on #8599
https://github.com/kubernetes/ingress-nginx/issues/8599

[2022-11-29 09:31] sebader commented on #9347
Duplicate of https://github.com/kubernetes/ingress-nginx/issues/8599

[2022-11-29 10:09] manikantavasupalli commented on #9349
have tried different notations such ip/32 and ip but none are working

[2022-11-29 10:35] longwuyuan commented on #9349
- There is no data to know any which way because the first column of th eingresspod logs will show the ipaddress to check
- I have already tested on minikube ad kind cluster and white-listing works perfectly. The screenshot is posted in a recent issue response from. Forgot the number but you could search similar topic issue
- Not easy to support on github unless its bug or suspected bug. Please ta

[2022-11-29 12:40] ocelik94 commented on #9091
Hi, I have the same problem occuring with k3s + flux.

Flux is prompting "TLS Handshake Timeout".

[2022-11-29 14:28] jonas-wanninger commented on #9282
Since i am experiencing the same problem i try to clarify.

Microsoft is specifying a certain way on how to configure Key Vault access for keys and certificates via AAD Workload Identity. This proposed way does not work with Nginx or is not clearly documented.

## Standard approach on how to access Key Vault via WI

When you are following [this](https://learn.microsoft.com/en-us/azure/aks/csi-secr

[2022-11-29 16:03] andremarianiello commented on #8687
/remove-lifecycle stale

[2022-11-29 16:59] esigo commented on #8687
/assign

[2022-11-30 00:27] jpecora716 commented on #7992
You need to configure defaultBackend: true on your nginx controller to resolve that issue: https://kubernetes.github.io/ingress-nginx/user-guide/default-backend/

[2022-11-30 05:24] longwuyuan commented on #9337
Hi @Akshit42-hue any updates.
@Mahadsid , if you are still interested, please connect with me on kubernetes slack and I can help you get started. Later maybe you and akshit can pair on this.

[2022-11-30 05:27] longwuyuan commented on #8911
@Mahadsid, are you interested on this one ?

[2022-11-30 05:29] Mahadsid commented on #8911
Yes sure count me in.

[2022-11-30 05:30] longwuyuan commented on #8911
assign to yourself and ask questions on kubernetes slack in the ingress-nginx-dev channel

[2022-11-30 05:32] longwuyuan commented on #9342
unabel to consistently reproduce it so closing for now

[2022-11-30 05:32] #9342 closed

[2022-11-30 05:39] Mahadsid commented on #9337
Ok sure i'll do that.

[2022-11-30 05:41] Mahadsid commented on #8911
/assign

[2022-11-30 05:50] Mahadsid commented on #8911
can I get an invitation to join kubernetes slack channel?

[2022-11-30 06:04] longwuyuan commented on #8911
register yourself at slack.k8s.io

[2022-11-30 13:06] ox7a59 opened #9352 "[modsecurity-crs] returns 404 instead of 403"
**What happened**:

Instead of blocking the simplest LFI and returning 403, ModSecurity just sends the application code - 404 (for example, the `/.env` file was not found). In the logs I see that ModSecurity found the LFI, the engine is on, but the return code is not 403.

**What you expected to happen**:

That ModSecurity will return 403 when trying to access `/.env`.

**Kubernetes version**:

[c

[2022-11-30 14:06] vikrantoct7 commented on #9335
Hi team

it seems that there is really a issue with ingress-nginx helm chart.. i wanted to attached full log but could not attach here
when i do helm ingress-ngix install then it does not get install and through through below warrning(policy is enabled so this warning comes)..when i delete ingress-nginx namespace and again install, then it gets install successfully..if i again delete ingress-nginx

[2022-11-30 22:46] alanlekah commented on #8017
I'm not sure why you use the 2443 port in the deploy.yml from [here](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.5.1/deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml) which is part of the install doc  for AWS NLB installation [here](https://kubernetes.github.io/ingress-nginx/deploy/#aws)

From master, [this doc ](https://github.com/helm/charts/tree/maste