[2021-10-16 11:04] AlbertMarashi commented on #5496
hello?

[2021-10-17 12:47] #7108 closed

[2021-10-17 18:31] R-omk commented on #7180
/remove-lifecycle

[2021-10-17 18:32] R-omk commented on #7180
/remove-lifecycle stale

[2021-10-18 08:25] tomasAlabes opened #7816 "CVE-2021-23017 present in nginx controller image"
**What happened**:

The [CVE-2021-23017](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23017) vulnerability is present in the latest controller images.

**What you expected to happen**:

It was updated by https://github.com/kubernetes/ingress-nginx/pull/7189 but later downgraded by https://github.com/kubernetes/ingress-nginx/pull/7639

Current version in `main`: https://github.com/kubern

[2021-10-18 08:52] tomasAlabes commented on #7816
I found it through a Nessus scan. If nginx `[0.6.18, 1.20.1)` is used, then the vulnerability is there.

[2021-10-18 09:14] longwuyuan commented on #7816
Thanks for the information.
The difficulty here seems to be explicit information about the image's
vulnerability.
I think we need to wait for more information.

At this stage, since grype did not find it, I think the image is not
vulnerable, due to some not-yet-known reason.

Also, at this stage, the nginx version is suspectedly vulnerable. But a lot
of patches were applied but the patching proces

[2021-10-18 12:31] Stono opened #7819 "bind() to 127.0.0.1:10246 failed (98: Address in use) - during initial startup"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
GKE
We have around 1000 ingress resources on the cluster.

**What happened**:

During a regular rolling restart of ingress-nginx controller, during initial startup it seemed to get stuck in some sort of configuration

[2021-10-18 13:23] tgeci opened #7820 "[helm-chart] Missing --ingress-class in deployment or daemonset args"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** : `v1.21.5`

**Environment**: Managed private cloud setup

**Helm release information**:
[code]

**Current State of the controller**:
[code]

**What happened**:
By helm was created a deployment with the following container arguments:
[code]
There is the arg `--ingres

[2021-10-18 14:07] tgeci commented on #7820
Hi @longwuyuan, thanks for your fast reply.

My issue is that I want to deploy two ingress-controllers in my cluster. One public accessible and the other restricted to IPs by `loadBalancerSourceRanges:`.

By setting the annotation `kubernetes.io/ingress.class: ingress-nginx-public` I want to map only certain ingress resources to the public ingress. Without setting `--ingress-class` flag all ingres

[2021-10-18 14:59] tgeci commented on #7820
I just tried out and can confirm thats working. The log output is a bit confusing. Reading the log lines it looks like all Ingress resources are loaded:
[code]
Even more confusing is that the affected ingress resource is reachable, but the via `kubectl get ingress` the assigned LB IP is not shown in `ADDRESS` column.

But as said works as described in the doc. Confusing but runs.

[2021-10-18 15:45] ilyache commented on #5690
Same issue here, any update on this?

[2021-10-18 16:08] weberc2 commented on #4699
I'm also seeing this on v0.47.0

<details>

Installed via:

[code]

</details>

Specifically, I'm adding the `externalIPs` field to the `ingress-nginx-controller` service (I didn't see any `ingress-nginx` service):

[code]

[code]

[2021-10-19 01:47] Martin-Luther commented on #5884
I had the same issue. I had another nginx ingress already installed while I was trying to run
[code]

I solved it by running
[code]
then
[code]

[2021-10-19 14:50] Evesy opened #7823 "ingress-class-by-name not working as expected"
We're in the process of upgrading our ingress-nginx deployment to 1.x. We have two ingress controllers, one for internal services, one for external.

We've already migrated to using `ingressClass` resources & `ingressClassName` some time ago. We have two Ingress Classes"

[code]

Our Nginx deployments have the following deploy args:

**Internal:**
[code]

**External:**
[code]

Our Ingress resource

[2021-10-19 17:35] michalschott opened #7824 "[docs] default code used by http to https redirect"
What is default http to https redirect code used by nginx-ingress controller?

https://kubernetes.github.io/ingress-nginx/user-guide/tls/#server-side-https-enforcement-through-redirect 308 is used
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#ssl-redirect states 301 is used

[2021-10-20 02:13] #6952 closed

[2021-10-20 03:21] wzshiming opened #7827 "SSL passthrough performance optimization"
Currently it is proxying SSL pass-through forwarding in the Go process. There is a certain loss.
https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/controller/tcp.go#L71

Is it possible to make certain improvements with reference to the configuration of Nginx?
https://github.com/nginxinc/kubernetes-ingress/blob/master/internal/configs/version1/nginx.tmpl#L201-L235

/kind featur

[2021-10-20 03:34] psibi commented on #7810
I can reproduce the same bug on k8s 1.19 cluster. Using helm chart `4.0.5` (instead of `4.0.6`) fixes it for me.

[2021-10-20 20:23] #7111 closed

[2021-10-21 10:55] GerryWilko opened #7832 "No matching Ingress force SSL"
Configuration options to be able to force SSL on the default 404 page. At present when no matching ingress is found a nginx 404 page is presented. We can configure a valid cert to be served on this page but we cannot redirect to https from here.

I'm not sure if this is currently possible but after a deep dig into the configs and the code I dont think it is.

There seems to be a few ways this coul

[2021-10-21 11:26] eliassal opened #7833 "How to get invited to slack group"
Hi, I need to open a new issue, it seems that I do it on slack, how can I get invited to slack? Thanks

[2021-10-21 11:27] eliassal opened #7834 "Changing ingress-nginx-controller port from 80 to something else"
I have docker desktop with Kubernetes v1.21.4. I am following a very basic tutorial and mounted an ingress-nginx service with
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.4/deploy/static/provider/cloud/deploy.yaml`
Everything works fine but I need to change the port that this controller listen on from 80 to something else as I have IIS listening on p

[2021-10-21 13:34] moretti-pixowl opened #7835 "Kubernetes EKS - Replace default Security Group"
Hi

I want to create a new Nginx ingress but I have to attach a security group to allow only the access from some SOurce IPS attached to a Security group.
Is it possible?

Thank you

[2021-10-21 15:24] eliassal opened #7836 "LoadBalancer service doesn't get External IP nor localhost allocated"
I have a Desktop Desktop on windows 10 cluster where I already have 3 pods and 1 of type Nodeport which works fine. Today, I created a loadbalancer yaml applied it but it is stuck in "Pending" status as you can notice in the following snapshot
![loadbalance](https://user-images.githubusercontent.com/8447864/138308493-21e43077-c3d5-4f67-9767-0207d84f83a5.jpg)

Windows Version: win 10 64 bit
Docker

[2021-10-21 16:03] #7833 closed

[2021-10-21 16:08] cjcullen opened #7837 "CVE-2021-25742: Ingress-nginx custom snippets allows retrieval of ingress-nginx serviceaccount token and secrets across all namespaces"
### Issue Details
A security issue was discovered in ingress-nginx where a user that can create or update ingress objects can use the custom snippets feature to obtain all secrets in the cluster.

This issue has been rated **High** ([CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:L/A:L](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:L/A:L)), and assigned **CVE-2021-25742*

[2021-10-21 17:29] #7835 closed, assigned to nobody

[2021-10-21 17:45] #7834 closed

[2021-10-21 18:01] amykul opened #7838 "Ingress-nginx custom port issue"
Having issues with custom ports. If port is other than 443 or 80, how to add it on Nginx so that service consuming that in all the namespaces under a cluster will listen to it properly.

Basically what is done in case of port 443, I want similar behavior with some other port like RabbitMQ 5672.
Code we are using currently:

[code]
This is forwarding to only one namespace (Namespace1) but we want t

[2021-10-21 19:14] paolomainardi commented on #7837
@iamNoah1 yes i guess so, but you know the timing was so close that i thought it was worth sharing, thanks :)

[2021-10-21 22:23] dezmodue commented on #7837
Hi, I would appreciate some clarification.

Is the ability to retrieve "secrets across all namespaces" a consequence of "Ingress-nginx custom snippets allows retrieval of ingress-nginx serviceaccount token"?

In other words, the vulnerability allows a user to access the serviceaccount token and as a result of that the service token can then be used to access any resource that the token is allowed?

[2021-10-22 02:10] longwuyuan commented on #7838
/kind feature
Have you gathered information from internet and other users of rabbitmq as to the best architecture for using reabbitmq

[2021-10-22 04:59] tgeci commented on #7820
Now that my setup has been running for a few days, I'm sticking to the idea that the missing ingress class argument is a problem. All upstream helm charts must have the parameter `ingressClass:` set. Many of them don't even have it in the template.
I will switch to chart version 3.39.0 where the --ingress-class is set.

[2021-10-22 14:48] talentrydev opened #7839 "Error creating ingress with wildcard host and www redirection"
**NGINX Ingress controller version** v1.0.4
**Kubernetes version** (use `kubectl version`): 1.19+ (v1.19.13-eks-8df270)

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Arch Linux
- **Kernel** (e.g. `uname -a`): 5.14.12-arch1-1
- **Install tools**:
  - eksctl
- **Basic cluster related info**:
  - `kubectl version` 1.22.2

- **How was

[2021-10-22 17:28] iamNoah1 opened #7840 "Info about kubectl ingress-nginx maintenance"
Add Information about kubectl ingress-nginx plugin to the docs.

* Add some info to the code intro about where to find the respective code for the plugin
* How to release a new version
* Info in the readme that the plugin is maintained by maintainers of this repo (seems not to be clear?!)

/kind documentation
/triage accepted
/priority backlog

[2021-10-23 09:26] iamNoah1 opened #7841 "labeling test"

[2021-10-23 09:27] #7841 closed, assigned to nobody

[2021-10-23 21:52] #6061 closed, assigned to nobody

[2021-10-24 18:34] ThatAIXGuy opened #7844 "NGINX fails to start w/eroneous errors IF snippets are in ingress objects, but snippets set to false"
k exec -it std-ingress-nginx-controller-5578cfcc8f-5bw7d -n std-ingress -- /nginx-ingress-controller --version
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v0.49.3
  Build:         7ee28f431ccddc4997ab088eff2698b94a8918a0
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kuberne

[2021-10-25 15:27] jzyrobert opened #7848 "$scheme is supported with permanent-redirect but not with temporal-redirect"
When parsing the redirect annotations at https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/annotations/redirect/redirect.go#L53, the string passed to `temporal-redirect` is validated through `isValidURL`, which uses `url.Parse` and only allows strings starting with `http`, both of which fail on strings starting with `$scheme`

Further down, the `permanent-redirect` does not pe

[2021-10-25 17:45] venkat-jaligama opened #7849 "[Question] Usage of nginix Chart and image version for CVE-2021-23017"
**Versions**
NGINX Ingress controller version: 0.32.0
Kubernetes version: v1.20.1
Chart Version: 2.3.0
App Version: 0.32.0
Environment: Prod
Nginx Version: 1.17.10

**What happened:**
Vulnerability scan pointed out to CVE-2021-23017
http://mailman.nginx.org/pipermail/nginx-announce/2021/000300.html
https://www.nginx.com/blog/updating-nginx-dns-resolver-vulnerability-cve-2021-23017/

**Nginx Versio

[2021-10-26 07:28] jesussancheztellomm opened #7850 "Ignoring ingress when migrating to 1.0.4"
**NGINX Ingress controller version**: v1.0.4

**Kubernetes version** (use `kubectl version`): v1.21.4-gke.1801

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): Container-Optimized OS from Google
- **Kernel** (e.g. `uname -a`): 5.4.120+

- **How was the ingress-nginx-controller installed**: Helm chart version 4.0.6

**What happened**:

I a

[2021-10-26 14:15] knyttl opened #7851 "Allow to change path-matching policy to first-match"
Currently, nginx matches paths according to [documentation](https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/#path-priority):

This might be useful if the developer is unable to prioritize the paths properly. However, this behaviour prevent us from implementing this:

[code]

Now consider following path:

`/legacy/one/two/`

Even though I wanted to prioritize the prefixe

[2021-10-26 18:46] strongjz opened #7852 "Migrate Documentation away from PSP"
Pod Security Policies are being deprecated in Kubernetes 1.21

The Ingress-nginx documentation needs to be updated with [OPA](https://www.openpolicyagent.org/) and/or [Kyverno](https://kyverno.io/) examples.

https://kubernetes.github.io/ingress-nginx/examples/psp/

/kind documentation
/help
/good-first-issue

https://kubernetes.io/blog/2021/04/06/podsecuritypolicy-deprecation-past-present-and-fut

[2021-10-27 06:45] rahil-p opened #7853 "Add `brotli-min-length` configuration option for applying a `brotli_min_length` directive"
A ConfigMap option for `brotli-min-length` should be available for setting the [`brotli_min_length`](https://github.com/google/ngx_brotli#brotli_min_length) directive, which determines the minimum length for which responses will be compressed.

The equivalent option for gzip is set with `gzip-min-length`.  However, for brotli, no such configuration option currently exists and must be set using sni

[2021-10-27 21:27] ksawerykarwacki opened #7856 "Raspberry Pi k0s - port 80 is already in use. Please check the flag --http-port"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.4
  Build:         9b78b6c197b48116243922170875af4aa752ee59
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

-------------------

[2021-10-28 05:07] #7856 closed, assigned to nobody

[2021-10-28 07:01] nissy34 opened #7857 "Add An option for Canary steering by Query parameters"
In use-cases where we can only control the URL that the client will call but can't control the cookie/header that the client will send to us - it will be helpful to have an option to choose a backend (canary or main) by query parameters.

**Annotation**
- `nginx.ingress.kubernetes.io/canary-by-query`
- `nginx.ingress.kubernetes.io/canary-by-query-value`
- `nginx.ingress.kubernetes.io/canary-by-que

[2021-10-29 11:07] ilia-dot-karelia opened #7858 "Allow custom routing to the Stateful Set pods"
**What do you want to happen?**
Make it possible to route traffic to specific pod.
Having an Ingress Service my-svc.ing.company.com:
Route web-0.my-svc.ing.company.com to pod web-0, web-N..my-svc.ing.company.com to pod web-N;

`Use case example.`
We have a process that prepares tasks for Grid valuation (legacy product). It uses the Grid's client library. It sends tasks to Grid broker using `HTTP 1

[2021-10-29 19:31] u8sand commented on #7010
For anyone who needs this, I made the following patch:

https://gist.github.com/u8sand/388eb4cec9db79a8e226fcd55bff84eb

You can produce a new nginx.tmpl by applying the patch and mounted into the docker container over the existing file.

Clearly it's possible to add this as an option, but I have no clue how to build this container so this was easiest for me.

[2021-10-29 23:10] longwuyuan commented on #7858
Show ouput of kubectl commands that explains all major and minor details
related to this. Also show your curl exactly as executed.

Thanks,
; Long

On Fri, 29 Oct, 2021, 6:56 PM ilia-dot-karelia, ***@***.***>
wrote:

[2021-10-30 00:10] ThatAIXGuy commented on #7844
Note this was an upgrade from .46 to .49.
I'm seeing other errors in the namespace events as well w/ this .49.3 version:
-------------------------------------------------------------------------------
Error: exit status 1
2021/10/29 23:28:45 [emerg] 5448#5448: unknown directive "me" in /tmp/nginx-cfg975307894:1
nginx: [emerg] unknown directive "me" in /tmp/nginx-cfg975307894:1
nginx: configuration

[2021-10-30 03:09] phcaguiar commented on #7837
Guys, is the update we should do to mitigate the vulnerability from the nginx ingress controller release or nginx version?

Example of version configuration I currently have in an environment:

[code]

This result was collected by the following command: `kubectl exec -it -n ingress-nginx-namespace ingress-nginx-internal-pod-name -- /nginx-ingress-controller --version`

[2021-10-30 04:41] aureq opened #7859 "Chart Option `bind-address` is not honored at startup and causes nginx to fail"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.0.4

**Kubernetes version** (use `kubectl version`): v1.21.5+k3s2

**Environment**:

- **Cloud provider or hardware configuration**: bare metal, AMD Ryzen Embedded V1605B
- **OS** (e.g. from /etc/os-release): Debian GNU/Linux 10 (buster)
- **Kernel** (e.g. `uname -a`): 4.19.194-3
- **Install to

[2021-10-30 04:51] longwuyuan commented on #7859
Just to get additional information, would you be able to uninstall joth
instances of the controller, and then reinstall with same values file, but
using the --versions flag to helm, and installing version 0.49.3 .

Thanks,
; Long

On Sat, 30 Oct, 2021, 10:12 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-10-30 05:18] aureq commented on #7859
@longwuyuan

* It works fine with the Chart 3.35.0 / controller 0.48.1.
* It breaks if I use the Chart 3.36.0 / controller 0.49.0.
* It breaks if I use the Chart 3.37.0 / controller 0.49.1.
* It breaks if I use the Chart 3.39.0 / controller 0.49.3.

I think this is because PR #6990 has been back-ported into 0.49.0 via PR #7467.

[2021-10-30 06:49] longwuyuan commented on #7859
Thank you for the update. Helps.

[2021-10-30 13:01] VengefulAncient commented on #7103
/remove-lifecycle stale

[2021-10-30 14:00] #7177 closed

[2021-10-31 07:23] daniel-kun commented on #5922
@kahootali You can set `nginx.ingress.kubernetes.io/auth-tls-verify-client` to `optional` or `optional_no_ca`. But then you'd have to craft some special handling in your upstream services that actually require client cert authentication via checking of the headers `ssl-client-issuer-dn`, `ssl-client-subject-dn`, `ssl-client-verify` or the full `ssl-client-cert`.

[2021-10-31 07:29] daniel-kun commented on #6013
@agniveshadhikari I'm relatively sure that cert-manager creates an HTTP ingress, not an HTTPS ingress. The http-challenge can, by design, not work via HTTPS, because you don't have a valid HTTPS server certificate at this point. All ACME challenges put faith in the current state of DNS responses in one way or the other. There are dns-challenges that even ONLY work on dns-level and don't even make

[2021-10-31 08:26] agile6v commented on #7839
Hi @talentrydev I can reproduce this.  Annotation `nginx.ingress.kubernetes.io/from-to-www-redirect: "true"` cannot be used with wildcard hosts. If you want to use it, you might need a new ingress with example.com.

[2021-10-31 11:32] tarun-asthana opened #7861 "What is the difference between the Prometheus metrics - nginx_ingress_controller_ingress_upstream_latency_seconds_sum and nginx_ingress_controller_response_duration_seconds_bucket ?"
I am reading that one is giving 'upstream service latency' and one is giving the 'upstream response time' . What is the difference between the two ? Given that both are being calculated by nginx, shouldn't both be the same ?

[2021-10-31 16:27] jabdoa2 commented on #7259
I think there were a few improvements recently. Did not yet get to test them but will soon and report back here.

/remove-lifecycle rotten

[2021-11-01 03:42] fangqyou opened #7862 "How to publish in grayscale based on custom request headers"
The front end carries such a request header，the header value is  “https://xxxxx.cn/?cid=aaaaaa&agint=yyyyyy”。How to root different cid values for grayscale routing

[2021-11-01 04:55] longwuyuan commented on #7862
hi,
(1) what is "root different cid values". Did you (by any chance) mean "route".
(2) What is "grayscale routing".

Kindly provide links if possible

/remove-kind bug
/kind support
/triage information-needed

[2021-11-01 04:57] longwuyuan commented on #7862
/triage needs-information

[2021-11-01 04:58] longwuyuan commented on #7861
/kind documentaiton
/area docs

[2021-11-01 04:58] longwuyuan commented on #7861
/kind support

[2021-11-01 06:46] fangqyou commented on #7862
The front end carries such a request header, the header value is "https://xxxxx.cn/?cid=aaaaaa&agint=yyyyyy". How to release different cid values in grayscale

[2021-11-01 06:46] fangqyou commented on #7862
The front end carries such a request header, the header value is "https://xxxxx.cn/?cid=aaaaaa&agint=yyyyyy". How to release different cid values in grayscale

[2021-11-01 10:08] AndrewKindleysides opened #7864 "Request headers on ingress not being forwarded to the underlying service"
I have a service that on one of it's POST endpoints has a request header that needs to be set.

When I expose the service behind an ingress, the request header isn't forwarded to the service, and I can't find anything in the docs around doing it.

I did find:

[code]

but can you pull request header values via this?

something like:

[code]

[2021-11-01 10:22] longwuyuan commented on #7864
Does this work https://kubernetes.github.io/ingress-nginx/examples/customization/custom-headers/#custom-headers

[2021-11-01 10:26] longwuyuan commented on #7864
/kind support

[2021-11-01 10:30] AndrewKindleysides commented on #7864
it would, but the value of the header is unique per request, it forms part of webhook call so it's not going to be a static value every time. Unless if you don't specify a value for the header does it pass it through?

[code]

[2021-11-01 10:43] longwuyuan commented on #7864
ok. and if you look at the headers in the backend pod, you don't see the header curently. is this correct ?

[2021-11-01 10:49] AndrewKindleysides commented on #7864
i'm getting 400 bad request from my pod because of no 'Request-Header' set, but i'm setting it on the ingress request

[2021-11-01 10:50] longwuyuan commented on #7864
can you write some precise steps to reproduce this. I am trying to reproduce with nginx:alpine and trying to passa custom header like `-H customHeader0:customValue0"` flag to curl

[2021-11-01 10:59] longwuyuan commented on #7864
This is what I see ;

![image](https://user-images.githubusercontent.com/5085914/139661558-f7a6dd1d-3697-455b-b524-c35cffb5e5c6.png)

I am running `tcpdump -vvvs 1024 -l -A ` on the pod

[2021-11-01 11:29] AndrewKindleysides commented on #7864
[code]

I'm then posting to `https://nonprod-webhooks.mydomain.co.uk/api/webhook` with header "Request-Header=abcd123" in postman and getting an error response from the service that the value of Request-Header is empty

[2021-11-01 11:43] longwuyuan commented on #7864
Remove the rewrite annotation and update status.

Thanks,
; Long

On Mon, 1 Nov, 2021, 4:59 PM Andrew Kindleysides, ***@***.***>
wrote:

[2021-11-01 13:33] AndrewKindleysides commented on #7864
I've added some logging to the service and it appears to be some setup issue with our ingress.

removing the rewrite annotation appears to fix it, header is now being passed through.

I wanted to lock down the ingress to one specific endpoint as:

[code]

that just publically exposes all endpoints on the api, which I don't want to do as there are some sensitive endpoints on the api, but I can't ge

[2021-11-01 13:38] longwuyuan commented on #7864
- `endpoint` in Kubernetes, is a object, visible via `kubectl get ep -A`
- `pathType` field allows a value `Exact`, check if that works for you
k explain ing.spec.rules.http.paths.pathType

[2021-11-01 13:47] longwuyuan commented on #7864
One suggestion is that, you have  enough info now to come talk on kubernetes.slack.com in the ingress-nginx-users channel. There are tons of users, engineers & developers there so higher chances of getting comments from multiple sources. You can register at slack.k8s.io if unregistered yet.

There is async/sync conversations made easier and faster on slack

[2021-11-01 13:51] AndrewKindleysides commented on #7864
Thanks for time/assistance long :)

[2021-11-01 13:51] #7864 closed

[2021-11-01 14:02] longwuyuan commented on #7864
Glad to help

[2021-11-01 17:08] ilia-dot-karelia commented on #7858
@longwuyuan
Hi. I cant paste the data from my work, so I have tried to reproduce it with GCP and Nginx . Looks like that ingress controller they use is the same that we need.

![image](https://user-images.githubusercontent.com/63447993/139705622-cb4f5f9c-54dc-47b1-b87e-03ede707716b.png)

<details>
<summary>

`kubectl get statefulset web -o yaml`
</summary>

[code]
</details>

<details>
<summary>

[2021-11-01 17:14] longwuyuan commented on #7858
ah ok. that is reasonable.
can you check if there is a unique distinct label on that 1st pod.

[2021-11-01 17:35] longwuyuan commented on #7858
I think I saw the solution in `kubectl expose --help` .
You can expose just the pod.
Meaning if you use the `kubectl expose pod web-o`, you can get a service that points only to `web-0` and then you can use that service's name in the field `ing.spec.rules.http.paths.backend.service.name`

[2021-11-01 18:06] btsuhako commented on #7120
we're also seeing this with `k8s.gcr.io/ingress-nginx/controller:v0.49.3`. explicitly set the server tokens to "false". not seeing the server version in the HTTP response headers, but do see it in nginx server error pages when requesting an invalid method
![image](https://user-images.githubusercontent.com/2069065/139719254-00974e68-a379-4967-8d81-5d7995aae62c.png)

[2021-11-01 20:05] ilia-dot-karelia commented on #7858
@longwuyuan Hey. Yeah, my pods don`t have any unique label. If I expose a pod It is exposed to the cluster IP, so I will need to reconfigure ingress (add a rule) every time to pass the traffic from /new-pod to the new-pod-svc. This is similar to what they have implemented IMHO (https://voyagermesh.com/docs/7.1.1/guides/ingress/http/statefulset-pod/). The only difference is that the service is the

[2021-11-01 20:18] #7132 closed

[2021-11-01 20:59] vincentmli opened #7868 "Build nginx binary and associated modules without containerizing"
Is it possible to improve the build system to build the nginx binary and associated modules without putting in into container image?  like `make build` we could get controller binary from `rootfs/bin/amd64/nginx-ingress-controller`, the reason is I would like to be able to run controller binary and nginx binary on machine outside of k8s cluster, something like what https://github.com/kindredgroup/

[2021-11-02 02:40] zhengtianbao opened #7869 "make build-plugin failed"
**NGINX Ingress controller version** :

  Release:       v1.0.4
  Build:         git-ed34f6c93

**Kubernetes version**:

none

**Environment**:

- **OS** (e.g. from /etc/os-release):
NAME="Ubuntu"
VERSION="20.04.3 LTS (Focal Fossa)"
- **Kernel** (e.g. `uname -a`):
5.11.0-38-generi

**What happened**:
[code]

**What you expected to happen**:

 cmd `make build-plugin` works correctly

**Anything els

[2021-11-02 05:12] longwuyuan commented on #7862
Hi,

Can you check if this is what you are looking for https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#canary

Otherwise we can do a zoom screen sharing session

[2021-11-02 06:36] jsinghuy opened #7871 "How to get Subject Alternative Names at backend"
I am assigning unique Subject Alternative Names to every client. I want to check this in my application at the backend. How to get Subject Alternative Names from certificate at the backend after terminating tls at ingress. Means which header nginx passing  for Subject Alternative Names at the backend. If not then how will i get this header at the backend.

[2021-11-02 08:26] #7194 closed

[2021-11-02 10:19] iamNoah1 commented on #6358
/lifecycle active

[2021-11-02 10:21] iamNoah1 commented on #6358
/triage accepted
/priority important-longterm
/help

[2021-11-02 11:52] #7853 closed

[2021-11-02 14:15] markofranjic opened #7872 "gRPC doesn't work"
NGINX Version: `nginx -v nginx/1.19.9`
NGINX Installation: `https://kubernetes.github.io/ingress-nginx/deploy/#azure`
Platform: `Azure AKS`

## Problem Description
Hi Everyone, I tried to configure gRPC for multiple services in one ingress configuration. Locally it works perfect, but when I expose my services over ingress then I got the exception
[code]

This is my ingress:
[code]

`kubectl descri

[2021-11-02 14:52] longwuyuan commented on #7872
/remove-kind bug
/kind support
This example works  https://kubernetes.github.io/ingress-nginx/examples/grpc/ so its has been documented.

Does this example work for you or does this example also fails for you ?

[2021-11-02 15:02] markofranjic commented on #7872
I follow this example, but I didn't get any results.

[2021-11-02 15:29] longwuyuan commented on #7872
ok.
Please post information that is related from the current state of the cluster. For example ;

[code]

[2021-11-02 15:53] markofranjic commented on #7872
### kubectl -n <controllernamespace> get all -o wide
[code]

### kubectl -n <controllernamespace> describe po <controllerpodname>
[code]
### kubectl -n <controllernamespace> describe svc <controllersvcname>
[code]
###  get ing -A -o wide
[code]

### k get svc app-service-svc -o wide
[code]
### λ  k describe svc app-service-svc
[code]

### NGINX Logs
[code]

[2021-11-02 16:34] longwuyuan commented on #7872
Info provided is missing part of the info requested

[2021-11-02 17:42] markofranjic commented on #7872
###λ  k describe -n default pod app-service-deploy-64f6c6c7d7-jzcvr
[code]

[2021-11-02 17:47] #7869 closed

[2021-11-02 18:38] rikatz commented on #7859
@aureq yeah, so you are our corner case! welcome! :)

I agree we should improve this then, in a sense of that the bindAddress SHOULD be honored (or this check ignored, which is bad IMO)

Do you have any suggestions or want to work on a PR for this? Otherwise I can think on some approach here!

Thanks

[2021-11-02 18:54] rikatz commented on #7837
Hi folks,

As per our last meeting feedbacks, I'm adding some value sanitization in annotations in another PR.

Right now we are blocking the words:

[code]

and the characters:

[code]

As I know this can be a bit problematic to some of you, I will add a configuration that you can override this with a less restricted blocklist, but still this will be the default.

Cases that can get impacted:
* S

[2021-11-02 20:23] btsuhako commented on #7120
[code]

[code]

[code]

[code]

[code]

[2021-11-03 01:42] FuyuanChu opened #7875 "Outdated description about service-upstream?"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v0.41.2

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release): COS
- **Kernel** (e.g. `uname -a`): Linux gitlab 5.4.129+ #1 SMP Mon Jul 26 19:50:53 PDT 2021 x86_64 Intel(R) Xeon(R) CPU @

[2021-11-03 03:08] platogabriel commented on #6559
What's the status on this? I followed the docs today and ran into the same issue. Will they be updated?

[2021-11-03 08:05] longwuyuan commented on #7875
/remove-king bug
/kind documentation
/area docs

[2021-11-03 08:06] longwuyuan commented on #7875
/remove-kind bug

[2021-11-03 08:46] yaakov-berkovitch opened #7876 "TCP port not exposed on additional (internal) load balancer"
**NGINX Ingress controller version** : v0.46.0

**Kubernetes version** :v1.22

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **Basic cluster related info**:
  - `kubectl version`
[code]
  - `kubectl get nodes -o wide`
[code]
- **How was the ingress-nginx-controller installed**: helm install ingress-nginx-cato2 ingress-nginx/ingress-nginx --version 3.31.0 -f ingress-ng

[2021-11-03 10:27] HK250211 commented on #322
Hello All, can you give me solution, when i deleted one pods, then zero down time  will have take time create new pod

[2021-11-03 10:33] rahmataw commented on #7546
I use v0.45.0 but this issue still appear. What you mean by disable it?

[2021-11-03 10:45] stevehipwell commented on #7749
It looks like there are still Helm chart release issues as the last jobs (see below) have failed due to the chart version not having been changed but the chart files having been.

https://github.com/kubernetes/ingress-nginx/runs/3991000096?check_suite_focus=true
https://github.com/kubernetes/ingress-nginx/runs/3990788586?check_suite_focus=true
https://github.com/kubernetes/ingress-nginx/runs/39787

[2021-11-03 11:05] knyttl commented on #7851
Hi, can you pls comment on this issue, this is really unpleasant :/

[2021-11-03 13:28] longwuyuan commented on #7876
There is a lot of information to be discussed here.
But, before that discussion, can you please add below information that was already asked in issue template and that you have skipped.

Please add the command and the output of the commands asked in the issue template. At least the `kubectl version` command. The ingress-nginx controller version 0.46.0 being used on a K8s cluster version 1.22.X is

[2021-11-03 13:40] longwuyuan commented on #7876
/remove-kind bug
/kind feature-request

[2021-11-03 13:40] longwuyuan commented on #7876
/kind feature

[2021-11-03 13:53] mkreidenweis-schulmngr commented on #7546
The problem described in this issue was introduced in https://github.com/kubernetes/ingress-nginx/pull/7341, release with controller v1 (helm chart v4). If you have a similar problem in v0.45, it's probably a different thing.

You can set `controller.admissionWebhooks.enabled=false` when installing the helm chart.

[2021-11-03 13:54] larivierec commented on #5496
merged, but build isn't ready yet.

[2021-11-03 15:17] stevemcquaid commented on #7697
I think #7736 fixes this issues

[2021-11-03 15:39] fhopfensperger commented on #7413
Hi,
Is there an update on this?

[2021-11-03 17:12] yaakov-berkovitch commented on #7876
@longwuyuan first sorry for the missing info, and thanks for the details you provided. I edited my post.
If I understand you correctly, once the option to disable external service will be available, and according to what you wrote "...by default to render config and object related to the "TCP Port" only on one service...", the internal controller service will get the correct TCP setting since ther

[2021-11-03 17:55] longwuyuan commented on #7876
Something seems out of place. I was surprised that controller version 0.46.0 is working on kubernetes version 1.22. But now I clearly see that your K8s version on EKS is 1.21 so makes sense now.

[2021-11-03 18:25] arthurh4 opened #7879 "High CPU usage when metric enabled"
We' re running nginx ingress controller version 0.43.0, when enabling metrics on high RPS (14k req/s on one controller) the controller process (not the workers) CPU usage goes very high > 150% and stops responding to prometheus scrap.

I ran a pprof and got the following:
[code]

It seems that calculating the quantile is what kills it using the **https://github.com/beorn7/perks** library.
We ran i

[2021-11-03 20:41] #7178 closed

[2021-11-03 21:08] TheJohny commented on #7810
The latest Docker Desktop has K8s 1.19...can't use 1.20+ with it --> get the same issue:

[code]

[2021-11-03 22:46] dragonpaw opened #7880 "Allow nginx.ingress.kubernetes.io/x-forwarded-prefix on non-rewritten requests"
I think it'd be great if one could set X-Forwarded-Prefix on all requests, even those that do not have a rewrite rule.

Some apps I work with (Python WSGI) are able to read the X-Forwarded-Prefix and use that to understand to remove that string from the inbound request automatically. This allows me to mount my apps at /api/* and have them work nicely, because they know to strip that prefix off bef

[2021-11-04 00:43] aureq commented on #7859
I would love to code/contribute but I have a very limited knowledge of Go in general (just to set expectations). I'm also unsure how we would pass an element of the ConfigMap (`bind-address`) since the test happens so early on in the code.

But I'm keen to hear anything you have in mind @rikatz 😊

[2021-11-04 02:43] riupie opened #7881 "Weird behaviour on leader election when setup 2 nginx ingress controller on same cluster"
**NGINX Ingress controller version**:
[code]

**Kubernetes version**:
[code]

**Environment**:

- **Cloud provider or hardware configuration**: On-premise
- **OS** (e.g. from /etc/os-release): Debian 10

- **How was the ingress-nginx-controller installed**:
[code]
**What happened**:
I set up 2 nginx ingress controller on same namespace: 1 for public access and 1 for internal traffic. If we see my

[2021-11-04 02:56] hypsrizzari opened #7882 "Setting proxy-stream-timeout doesn't seem to take affect"
Hi,

I'm guessing I must be missing something with how this works.  Thanks for taking a look.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
1.19

**Environment**:

- **Cloud provider or hardware configuration**:
AWS

- **How was the ingress-nginx-controller installed**:
  - If helm was

[2021-11-04 03:02] xwb-spec opened #7883 "my css and js link file is not show"
![image](https://user-images.githubusercontent.com/13009409/140250735-1e083818-adc1-4a46-a4f0-ba7ce9a9c73a.png)

my configure file is below

kind: Ingress
apiVersion: extensions/v1beta1
metadata:
  name: lrs-tt
  namespace: lrs-tt
  annotations:
    kubesphere.io/creator: qianchen
    nginx.ingress.kubernetes.io/service-upstream: 'true'
spec:
  tls:
    - hosts:
        - dev4-lrs-tt.whitewolvesx.

[2021-11-04 04:34] dannysauer opened #7884 "Confusing type notation on annotation"
https://github.com/kubernetes/ingress-nginx/blob/65b8eeddec3ee6695587a67fd131e699159788d3/docs/user-guide/nginx-configuration/annotations.md?plain=1#L65 says `nginx.ingress.kubernetes.io/permanent-redirect-code` is supposed to be a number, but the [example farther down](https://github.com/kubernetes/ingress-nginx/blob/65b8eeddec3ee6695587a67fd131e699159788d3/docs/user-guide/nginx-configuration/ann

[2021-11-04 06:24] longwuyuan commented on #7881
Please uninstall one of the controllers and reinstall in different
namespace.
https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster

Thanks,
; Long

On Thu, 4 Nov, 2021, 8:14 AM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-11-04 06:28] longwuyuan commented on #7810
Can you try controller version 0.49.3

Thanks,
; Long

On Thu, 4 Nov, 2021, 2:38 AM Zsombor Fritz, ***@***.***>
wrote:

[2021-11-04 06:29] longwuyuan commented on #7879
Can you try controller version 0.49.3

Thanks,
; Long

On Wed, 3 Nov, 2021, 11:55 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2021-11-04 06:55] yaakov-berkovitch commented on #7876
Sorry for having confusing you with the wrong K8s version I reported. I'm waiting now for the PR merges, to get the version and trying it.

[2021-11-04 08:56] iamNoah1 commented on #7697
@stevemcquaid jep

/close

[2021-11-04 10:24] riupie commented on #7881
Have been install on separate namespace, the issue still appear.

[2021-11-04 10:58] longwuyuan commented on #7881
If you did not follow the documentation that I provided link for, you
will have problem.

If you followed documentation and still have problem, then something is
wrong with documentation or your procedure.

Plese provide enough information to understand what you did and what is
the current state. The issue template asks lots of questions so answer
them all please.

Thanks,
; Long

On 11/4/21 15:54

[2021-11-04 11:09] admgolovin opened #7885 "Kube service appProtocol field breaking IBM NLB creation"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**: IBM Cloud
- `Please mention how/where was clsuter created like kubeadm/kops/minikube/kind etc. `
We are using an IBM Cloud Kubernetes Service
- **Basic cluster related info**:

- **H

[2021-11-04 11:11] admgolovin commented on #7885
That happened because of the [appProtocol](https://github.com/kubernetes/ingress-nginx/blob/c8ab4dc3072ff36491a2b896e4b2a1e3726b7caf/charts/ingress-nginx/templates/controller-service.yaml#L58) field added in the Nginx ingress controller Kubernetes service.
IBM NLB doesn't support backends specified through this field.

[2021-11-04 11:20] longwuyuan commented on #7885
/triage-accepted

[2021-11-04 11:21] longwuyuan commented on #7885
/triage accepted

[2021-11-04 11:24] longwuyuan commented on #7881
/remove-kind bug
/kind support
/triage needs-information

[2021-11-04 12:27] riupie commented on #7881
- **How was the ingress-nginx-controller installed**:

  - If helm was used then please show output of `helm ls -A`
[code]
  - If helm was used then please show output of `helm -n <ingresscontrollernamepspace> get values <helmreleasename>`

    - Internal Ingress Values
[code]

  - Internal Ingress Values

[code]

- **Current State of the controller**:
  - `kubectl -n <ingresscontrollernamespace>

[2021-11-04 13:30] longwuyuan commented on #7881
Internal controller config seems invalid. Can you check your values.

proxy_cache" zone "microcacheapi" is unknown in /tmp/nginx-cfg400226493:1979

Thanks,
; Long

On Thu, 4 Nov, 2021, 5:57 PM Rahmat Agung Wibowo, ***@***.***>
wrote:

[2021-11-04 14:58] abagnacani opened #7886 "Nginx doesn't use dynamic certificate but returns default one"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 0.46.0

**Kubernetes version** (use `kubectl version`): 1.20.7

**Environment**:
- **How was the ingress-nginx-controller installed**: helm chart ingress-nginx-3.31.0

**What happened**:

I have a namespace with the following ingress:
[code]
and the corresponding secrets (with `tls.key` and `tls.c

[2021-11-04 15:24] nissy34 commented on #7857
HI @longwuyuan

I added examples in the PR description.

Thanks

[2021-11-04 15:26] longwuyuan commented on #7881
Please show
[code]

[2021-11-04 15:29] skahwaji commented on #349
for the paths to work with me I need to add the following annotation beside the mentioned ones:

[code]

[2021-11-04 15:41] longwuyuan commented on #7886
/remove-kind bug
/kind support
https://kubernetes.io/docs/concepts/services-networking/ingress/#tls

[code]

[2021-11-04 15:59] night-gold commented on #4781
Is there a real solution to the base question? Because the issue was closed as someone moving it's ingress-nginx from one nginx to another made a mistakes...

But the original issue was how to manage 2 ValidatingWebhookConfiguration at the same time when using 2 ingress-nginx at the same time and from what I can see there nether was an answer to that.

[2021-11-04 16:40] riupie commented on #7881
Here:

[code]

[2021-11-04 17:56] tibz-enex commented on #7886
Experiencing the same issue as @abagnacani here.

Indeed, after upgrading from 1.0.4 I got the following error :
`-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.4
  Build:         9b78b6c197b48116243922170875af4aa752ee59
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

-------

[2021-11-05 00:08] JamesCHub commented on #4799
Just a bit more context on this - in some tutorials you might be advised to simply do a
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.4/deploy/static/provider/baremetal/deploy.yaml`

If you're working with a baremetal implementation on a private LAN, you'll need to modify this step a bit.

instead of applying that deploy.yaml directly, do a wget (e.g.

[2021-11-05 01:53] longwuyuan commented on #7881
Hi,

I see the message in the logs from your original post . You are referrirng to this line ;
[code]

If your information is correct, then we have a problem in the controller and needs to  be fixed.

However, this is he first time someone has reported this behaviour. So we need to be able to reproduce this consistently.

My suggestion is please try to follow this documentation https://kubernetes.

[2021-11-05 02:14] riupie commented on #7881
Hi, leader election issue has resolved after modify `electionID` parameter on my helm values. I wrote that on original post.

[2021-11-05 06:55] mjtansin opened #7887 "Route rewrite dosen't work"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):2.0.3

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"8b5a19147530eaac9476b0ab82980b4088bbc1b2", GitTreeState:"clean", BuildDate:"2021-09-15T21:32:41Z", GoVersion:"go1.16.8", Compiler:"gc", Platform:"linux/amd64"}

[2021-11-05 07:05] longwuyuan opened #7888 "improve bug_report_template"
(1) grep for ingress from the output of `helm ls -A`
(2) add `kubectl describe ingressclasses`

[2021-11-05 07:23] longwuyuan commented on #7887
This project is for https://kubernetes.github.io/ingress-nginx/

The software you are using is not a release of this project. its from a company called "F5"

/close

[2021-11-05 07:23] #7887 closed

[2021-11-05 07:27] longwuyuan commented on #7879
/remove-kind bug
/triage needs-information

[2021-11-05 07:31] longwuyuan commented on #7882
@theunrealgeek , Wonder if you have any thought on this

[2021-11-05 07:32] longwuyuan commented on #7882
/help

[2021-11-05 07:58] piotrrotter opened #7890 "Ingress controller doesn't update ingress status or update status of ingress with wrong annotation"
**NGINX Ingress controller version**:
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.4
  Build:         9b78b6c197b48116243922170875af4aa752ee59
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9
-------------------------------------------------------------------------------
**Ku

[2021-11-05 08:17] longwuyuan commented on #7890
Multiple controller instances running in one single cluster is documented here.
At least ;
[code]
is needed

[2021-11-05 08:17] longwuyuan commented on #7890
/remove-kind bug
/kind support

[2021-11-05 08:42] piotrrotter commented on #7890
List of ingress controllers
[code]

[code]
Example of ingress with out set status
[code]
Logs of ingress controller who should update status
[code]

[2021-11-05 10:38] longwuyuan commented on #7890
Request you to try this
https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster
Thanks,
; Long

On Fri, 5 Nov, 2021, 2:12 PM Piotr Rotter, ***@***.***> wrote:

[2021-11-05 10:59] Timoses commented on #7859
We have the same issue: https://github.com/kubernetes/ingress-nginx/issues/2529#issuecomment-952736614

[2021-11-05 11:46] ttsakpc commented on #7850
I feel that I am facing the same issue with 1.0.4.

I would expect `kubernetes.io/ingress.class: kafka-nginx` annotation (in your case) to work but it doesn't.
If you change it to `kubernetes.io/ingress.class: nginx` it will work, but if you have multiple ingress-nginx controllers installed, all of them will be racing for this ingress object.
The "quick solution" would be to remove the annotation

[2021-11-05 13:41] #7888 closed

[2021-11-05 14:43] balonik commented on #7823
@Evesy I have tested on my Nginx Ingress Controller 1.0.4 what will happen if I remove `IngressClass` used on `Ingress` resource on your scenario:
- (obviously) any new replicas of the controller will ignore the `Ingress` resource, because they can't find such `IngressClass`
- any already running replicas won't do anything after I delete the `IngressClass` and I have `I1105 14:36:39.384262       1

[2021-11-05 14:48] theunrealgeek commented on #7882
I will check this out later today.

[2021-11-05 16:15] arthurh4 commented on #7879
I upgrade but as mentionned before I got even worse performance probably because we also hit this bug:

but here is the profile with 0.49.3:
[code]
Here is the avg CPU usage before/after per pod:
![Screen Shot 2021-11-05 at 12 14 14 PM](https://user-images.githubusercontent.com/39534922/140542997-104ca1e3-78af-4ed6-bcb8-05bd25ad2d65.png)

[2021-11-05 16:40] piotrrotter commented on #7890
Hi,

I added controller.ingressClassByName: true which I miss before but with no improvement.
One difference between my environment and https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster is that I have all ingress controllers in one namespace
Can it make difference?

[code]

[2021-11-05 17:35] MuhammadNaeemAkhtar commented on #333
Hi @nemodev ,
I tried exactly the same solution as you said, but when I go to the http://<domain-name>/grafana it redirects to http://<domain-name>/grafana/login and show the message that the page is not reachable.

[2021-11-05 20:17] brross opened #7893 "Emit event message for ingresses which include a configuration snippet when snippets are disabled"
When snippets are disabled by `allow-snippet-annotations: false`, ingress-nginx should emit an event message for ingresses which include a configuration snippet annotation.

Perhaps something like `$ingress created but ignoring configuration-snippet annotation; snippet-by-annotation is disabled`

Currently, with `allow-snippet-annotations: false`, ingress-nginx creates the requested ingress resour

[2021-11-05 20:34] piotrrotter commented on #7890
Ok, I found the reason and solution.
In newer versions leader selection configmap in helm chart has fixed "name ingress-controller-leader" not depended on release name. So all ingress controllers use one configmap for leader election because they are in one namespace
I fixed it by changing controller.electionID in helm values to differs on all releases.
@longwuyuan THX for tip, it direct me to cor

[2021-11-05 20:34] #7890 closed

[2021-11-05 20:48] hammadzz opened #7895 "Nginx Controller serving ingress objects where ingressclass annotation does not match controller class"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`): v1.19.14

**Environment**:

- **Cloud provider or hardware configuration**: GCP (GKE)
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - helm chart ingress-nginx/ingress-nginx
- **Basic cluster related inf

[2021-11-05 20:50] hammadzz commented on #7895
On a related note, is there a way to list all ingress objects the controller is serving?

[2021-11-05 20:50] #7701 closed

[2021-11-05 22:29] RichardoC commented on #7119
/remove-lifecycle stale

[2021-11-05 23:04] theunrealgeek commented on #7882
@hypsrizzari Would you be able to share your ingress objects that were present when you were trying to verify the timeouts ?

[2021-11-05 23:09] #7066 closed

[2021-11-06 01:30] theunrealgeek commented on #7882
The reason I asked my previous question is that `proxy_stream_timeout` corresponds to the `stream` section in nginx where nginx acts as a TCP proxy and not an HTTP proxy like ingress usually does. Setting this up for ingress-nginx is described in [here](https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/) , after which you will see something like this in the nginx conf

[2021-11-06 02:13] larivierec commented on #5496
/assign

[2021-11-06 16:09] remytoma-xolver commented on #7895
hi, you need to check the run parameters for the nginx ingress controller.
If you want the second ingress controller to serve only the nginx ingress class you created (nginx-public), you need to add to your current ingress controller values the following items:
[code]
That is the only way i managed to have 1 ingress controller serve 1 ingress class.
For reference, i checked the parameters that are

[2021-11-06 20:45] dintel opened #7896 "Canary ingress does not receive any traffic"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v0.44.0

**Kubernetes version** (use `kubectl version`): v1.20.7

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**: EKS provsioned using Terraform
- **Basic cluster related info**:
[code]

[2021-11-06 22:36] RichardoC commented on #7119
/sig networking

[2021-11-06 22:38] RichardoC commented on #7119
/sig network

[2021-11-07 07:22] #7160 closed

[2021-11-07 10:22] #7230 closed

[2021-11-07 11:52] wxq851685279 commented on #4799
METALLB can be installed on bare metal to solve this problem.

[https://metallb.universe.tf/](https://metallb.universe.tf/)

[2021-11-07 12:34] hammadzz commented on #7895
It is odd as the cli flag `controller-class` is missing in the reference shared. I have set the controller-class via helm for multiple nginx-controllers as per instructions [here](https://kubernetes.github.io/ingress-nginx/#i-have-more-than-one-controller-running-in-my-cluster-and-i-want-to-use-the-new-spec). This should as it appears ensure it only serves ingress classes that have this controller

[2021-11-07 16:34] longwuyuan commented on #7896
/remove-kind bug
/kind support
Last time I checked canary was working as expected.
If you can write a step by step procedure, that includes commands and yaml files, to use on a minikube or kind cluster, it will help someone to try to reproduce the problem and make progress.

At the very least, you can show 50-100 http requests being made and then show corresponding logs and statistics that display

[2021-11-08 08:17] talentrydev commented on #7839
To anyone else coming across this bug: the solution is to switch to nginxinc ingress: https://github.com/nginxinc/kubernetes-ingress.

[2021-11-08 09:22] AndreaGiardini commented on #7850
I encountered the same bug on Kubernetes version 1.20

The workaround provided by @ttsakpc worked. Thank you

[2021-11-08 12:27] canhnt commented on #7837
I think there might be a different approach from validating ingress object with GateKeeper constraint is to harden file permissions.

For now `nginx-ingress-controller`, `nginx` master and `nginx` worker processes are all running as the `www-data` uid. All of them can `read` `/run/secrets/kubernetes.io/serviceaccount/token` file.

Actually only `nginx-ingress-controller` is needed to access token

[2021-11-08 16:19] hjkatz commented on #7468
/remove-lifecycle stale

[2021-11-08 16:43] riupie commented on #7881
**UPDATE**

It is running well after I disable admissionWebhook. :)

[2021-11-08 20:26] dintel commented on #7896
Reproduction steps:
1. Install minikube and enable ingress-nginx (`minikube addons enable ingress`).
2. Create web and web-rc deployments:
   1. web - `kubectl create deployment web --image=gcr.io/google-samples/hello-app:1.0`
   2. web-rc - `kubectl create deployment web-rc --image=gcr.io/google-samples/hello-app:2.0`
3. Create `web` and `web-rc` services.
   1. web - `kubectl expose deployment w

[2021-11-08 21:20] hypsrizzari commented on #7882
Thanks so much for your detailed response.  It makes sense now why this doesn't get populated; we are using the http proxy for sure.  I started looking at `proxy-stream-timeout` because the docs say it sets the timeout

and I was looking at setting client timeouts.

[2021-11-08 22:40] itsSaad commented on #7154
Any chance this will be picked up or a workaround?

[2021-11-08 23:58] longwuyuan commented on #7896
Thank you very much for the reproduce procedure.
This procedure is not the best procedure for making progress.

If you can help, we can make some more progress. If you can repeat the test with below changes, it will help.

- Please change step2 and remove the `rewrite-target`annotation from all the ingresses ;
[code]

- Please change step3 and create web and web-rc services as --type ClusterIP ins

[2021-11-09 09:58] iamNoah1 commented on #2003
@maennchen @Constantin07 @yann-soubeyrand @strigazi if you want to see this feature, we would be happy to see one of you follow up on https://github.com/kubernetes/ingress-nginx/pull/4770 to complete the work of @dm3ch

[2021-11-09 09:58] iamNoah1 commented on #2003
/priority important-soon
/help

[2021-11-09 10:08] iamNoah1 commented on #4621
@pierluigilenoci could you check if you still experience this issue if you upgrade to the newest version of ingress nginx please.

[2021-11-09 10:13] iamNoah1 commented on #5238
/help

[2021-11-09 10:18] jhrcz-ls commented on #4901
@aledbf hello, please is it possible to reopen this, or we shoud create new issue and place summary from this there. it is still not fixed even in latest version of ingress-nginx. thanx

[2021-11-09 10:39] iamNoah1 commented on #5608
@shashankram I am sorry but version 0.32 is not officially supported anymore, please update to a newer version. @bmv126 could you please provide the output of the commands requested by @longwuyuan in this comments: https://github.com/kubernetes/ingress-nginx/issues/5608#issuecomment-935190470. Thank you

[2021-11-09 12:15] rikatz commented on #7837
This is actually 95% possible and I started to work on this. The idea was to run nginx as a container, controller as another one and together with NGINX a simple listener that can do start/stop/reload of the container.

The problem is that there's a specific "channel" between nginx and controller that monitors if the nginx process is re-spawning, and i didn't figured out how to solve this.

Anyway

[2021-11-09 12:33] dnutels commented on #6100
Adding here for completeness sake.

If you are planning to use `IngressClass` then the above would work.

If, however, you are planning to continue to use `kubernetes.io/ingress.class` annotation (you really shouldn't as it has been deprecated), you can alter, for a specific Helm release, the value of the watched Ingress class, via `values.yml`:

[code]

which is equivalent to passing `--ingress-c

[2021-11-09 12:36] canhnt commented on #7837
@rikatz: it's nice to hear that it's possible and you're working on multi-containers approach, it'll be better too.

FYI: I'm doing a PoC with running controller as another user (`app.www-data`), and got blocked by `nginx` (running as `www-data.www.data` cannot read `/tmp/nginx-cfg???`  created by controller. It's coded in https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/cont

[2021-11-09 12:38] rikatz commented on #7837
yeah, just didn't got enough time for do all the stuff! but thanks for your help on this!

Also, feel free to suggest some approach on this as well, if you wanna take a look on this split we can try to figure out a better solution :)

[2021-11-09 12:55] lukeplausin commented on #7810
This is a bug, the chart is now broken by default the majority of users.

Yes you can add overrides for the `ipFamilyPolicy` and `ipFamilies` settings, but default behaviour of the chart should be that it works. These settings should be in the chart default `values.yaml`:

[code]

[2021-11-09 13:13] luismaqueda commented on #5932
Same problem, but using Ubuntu 18.04. Moved to Ubuntu 20.04 and now it works fine

[2021-11-09 14:17] longwuyuan commented on #7810
Not sure if it is related but I think the effort being made, with limited
resources, is to support, current K8s release in addition to 2 previous
releases.

Thanks,
; Long

On Tue, 9 Nov, 2021, 7:20 PM Alastair Firth, ***@***.***>
wrote:

[2021-11-09 14:23] afirth commented on #7810
In that case not a bug after 1.23 drops :)
But the readme still says 1.19: https://github.com/kubernetes/ingress-nginx/#support-versions-table

Still, the overall approach of gating features using the helm `Capabilities.KubeVersion.Version` will continue to break for the static manifests as the K8s APIs evolve in the future

[2021-11-09 14:37] longwuyuan commented on #7810
Does 0.49.3 solve this problem?

Thanks,
; Long

On Tue, 9 Nov, 2021, 7:53 PM Alastair Firth, ***@***.***>
wrote:

[2021-11-09 14:41] longwuyuan commented on #7810
Not to mean any other way but I was under the impression that current and 2
previous would mean K8s versions 1.22, 1.21 and 1.20 .

Hope the problem is solved soon.

Thanks,
; Long

On Tue, 9 Nov, 2021, 8:07 PM Yuan, ***@***.***> wrote:

[2021-11-09 14:42] pierluigilenoci commented on #4621
@iamNoah1 I made up my mind to do it but I haven't found the time yet.

[2021-11-09 16:47] strongjz commented on #7837
Looks like another Contributor attempted to set the user in the template previously, I wonder if we can build off this.

https://github.com/kubernetes/ingress-nginx/pull/7533

[2021-11-09 17:21] strongjz commented on #7896
/assign @longwuyuan
/priority important-longterm

[2021-11-09 17:24] strongjz commented on #7895
What version of ingress-nginx are you using? IngressClassName is supported in >v1

/triage needs-information

[2021-11-09 17:29] strongjz commented on #7893
/triage accepted
/priority important-soon
/assign @strongjz

[2021-11-09 17:35] strongjz commented on #7886
@tibz-enex your issue looks to be specific to IngressClassname and not related to the original can you open a separate issue for us to investigate

[2021-11-09 17:35] strongjz commented on #7886
/triage needs-information

[2021-11-09 17:37] dintel commented on #7896
@longwuyuan I just reran reproduction with your changes and the result is the same.
Output of `kubectl ingress-nginx backends -n ingress-nginx --backend default-web-rc-8080` shows:
[code]
Notice the weight is `0`, while it's expected to be `25`. From what I understand this happens because internally ingress-nginx defines backend for each service that is used by any ingress. Since `web-rc` service

[2021-11-09 17:39] strongjz commented on #7884
/kind documentation
/triage accepted
/good-first-issue

Annotations are always YAML strings, the confusion with the docs is that it's supposed to be a number for permanent redirect like "308".

[2021-11-09 17:46] strongjz commented on #4763
/assign @rikatz
/lifecycle active
/triage accepted

[2021-11-09 17:47] vincentmli commented on #7868
where I can find the  nginx binary after `make build`, I do not mean the `nginx-ingress-controller` binary, I mean the nginx binary that actually run the nginx server

I am looking for the nginx binary that runs the nginx server, I may be missing something, I could not find where nginx binary is stored after `make build`

for example from https://github.com/kubernetes/ingress-nginx/blob/main/image

[2021-11-09 17:51] strongjz commented on #5401
How many ingress objects are in the cluster? That can cause timeouts if there are large amounts of objects.

[2021-11-09 19:51] timblaktu commented on #4888
@TBBle, @iainlane, @infectedone, anyone, are you aware of any branch/release of [the current ingress-nginx helm chart repo](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx) which implements the suggested workarounds for installing the chart on Fargate/EKS? Just wanted to ask before I try hacking this together myself. Thanks.

[2021-11-09 20:55] TBBle commented on #4888
For the Helm chart, as far as I know all the changes needed are possible through passing in values when deploying, I believe, so there isn't any need for a separate chart repo.

I haven't tested it, and don't currently have a working deployment of Ingress NGINX on EKS Fargate at-hand, but the values overrides at the end of [this comment](https://github.com/kubernetes/ingress-nginx/issues/4888#issu

[2021-11-09 21:02] timblaktu commented on #4888
[This guy](https://rajeshwrn.github.io/alb-nginx-controller/) suggests doing effectively the same `-f` values, but takes it a step further and applies several other values at the command line using `--set` and `--set-string`:

[code]

Not at all sure how much of this is necessary. Seems like the folks here are saying just the ports (privileged-->unprivileged) and `allowPrivilegeEscalation: false`

[2021-11-09 22:24] hammadzz commented on #7895
[code]

[2021-11-09 22:58] hammadzz commented on #7895
A part

As I understand `--ingress-class-by-name` can be paired with `--ingress-class` so that it will serve ingress classes where the name matches even if the ingress class's `spec.controller` does not match the controller class. As such I didn't set this flag and only used `--ingress-class` flag to get my controller to stop serving the `nginx` class.

[2021-11-09 23:17] TBBle commented on #4888
That link is setting up a different system, putting an _ALB_ in front of NGINX Ingress (apparently the author has some business requirement to route _all_ incoming traffic through a single ALB), rather than an NLB as I've been assuming here. So rather than an NLB routing the TCP traffic to NGINX Ingress to handle the HTTP, that setup has ALB handling HTTP and then proxying onwards to NGINX Ingress

[2021-11-10 02:09] aureq commented on #7859
@rikatz Any update on this please ?

[2021-11-10 07:53] thetruechar commented on #4836
/reopen

[2021-11-10 10:39] abagnacani commented on #7886
Hi, the problem was that there was an ingress without `secretName` configured for a host. In this way, the default certificate was returned.

[2021-11-10 10:39] #7886 closed

[2021-11-10 14:19] oxr463 commented on #6905
/remove-lifecycle rotten

[2021-11-10 16:49] szEvEz opened #7900 "Can not reach ingress from the same node the ingress controller is running on"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):  v1.0.4

**Kubernetes version** (use `kubectl version`): v1.21.4

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): 5.4.149-73.259.amzn2.x86_64
- **Install tools**:
  - EKS provisioned using Terraform
- *

[2021-11-10 16:54] desek commented on #7799
The issue still exists that the controller won't import the cert, but nginx itself will accept the cert.

However my challenge originates from the architecture of having certbot populating an Azure Key Vault with the certificate and syncing the certificate to Kubernetes as a TLS secret with akv2k8s.
Luckily there is a fix for certificate order in akv2k8s: https://akv2k8s.io/reference/azure-key-vau

[2021-11-10 19:23] villesau commented on #5496
@larivierec just stumbled upon this issue. Any timeline for the release? :)

[2021-11-10 19:35] larivierec commented on #5496
you'll have to wait for the official release from the maintainer @rikatz

[2021-11-11 04:17] longwuyuan commented on #7900
What was the complete and real curl command.
What is the otpuut of kubectl get svc -A -o wide | grep -i  load.

Thanks,
; Long

On Wed, 10 Nov, 2021, 10:19 PM szEvEz, ***@***.***> wrote:

[2021-11-11 06:49] zhuxinkai commented on #5932
can comment it?

[2021-11-11 07:56] thomaschaaf commented on #7359
/remove-lifecycle stale

[2021-11-11 07:59] szEvEz commented on #7900
Hi,

[code]

[code]

[2021-11-11 08:06] zhuxinkai commented on #5932
I change the yaml file .
 secretName: ingress-nginx-admission
![image](https://user-images.githubusercontent.com/25274193/141261061-a6287766-449d-4bfb-b1f2-9480451758bc.png)

IT can work!!
![image](https://user-images.githubusercontent.com/25274193/141261103-4a5696e0-7b0c-4878-864f-6772d7336777.png)

[2021-11-11 09:18] longwuyuan commented on #7900
Timed out means something dropped the connection.
Does not seem like a bug in the controller to me.
It seems more like networking problem between the host os where you typed curl and this a2adbd8eddbef4c23ae9ea066f1fb0b4-3974f5a0c0f5038d.elb.eu-central-1.amazonaws.com .

Try networking tools like telnet, mtr, tcpdump etc .
You are better of discussiing this in at kubernetes.slack.com in the aws-pr

[2021-11-11 09:24] szEvEz commented on #7900
The issue is, if the ingress controller moves to a different node, the request times our there.

How to get access to kubernetes.slack.com? The sign in procedure does not seem to clear to me.

Thank you!

[2021-11-11 09:37] longwuyuan commented on #7900
Slack.k8s.io

My point is that I won't be able to see which network hop dropped the
packet.

Thanks,
; Long

On Thu, 11 Nov, 2021, 2:54 PM szEvEz, ***@***.***> wrote:

[2021-11-11 09:55] iamNoah1 opened #7902 "Enhance docs about ingressclass / multiple ingress controllers"
I have the impression that a lot of people struggle setting up multiple ingress controllers and using ingressclass correctly. The docs about using multiple ingress controllers is very sparse and I think we should provide more detailed examples.

/kind documentation
/remove-kind feature

/priority important-soon

[2021-11-11 09:55] iamNoah1 commented on #7902
/good-first-issue
/help

[2021-11-11 09:55] iamNoah1 commented on #7902
/triage-accepted

[2021-11-11 09:56] iamNoah1 commented on #7902
/triage accepted

[2021-11-11 10:40] kundan2707 commented on #7840
I am planning to add info in following file:

 kubectl-plugin.md

kubectl-plugin.md

readme.md

Please let me know if it seems good.

[2021-11-11 11:01] Evesy commented on #7823
Thanks @balonik -- Sounds like deleting & recreating the `IngressClass` is a viable option in that case. I will do some testing and confirm I see the same behaviour

[2021-11-11 12:13] #7082 closed

[2021-11-11 12:40] szEvEz commented on #7900
I fully understand, thanks for your help anyway!

I found the culprit - the target groups the load balancer creates have the attribute "Preserve client IP addresses" enabled. Disabling this setting works.

This blog explains the issue in more detail and provided me with the solution - https://focaaby.github.io/blog/eks-service-with-internal-nlb-but-gets-timeouts-randomly/

A question regarding the

[2021-11-11 12:48] metahertz commented on #7837
Hey all,  we added three new policies to [checkov.io](https://checkov.io)for detecting abuses of this CVE:

* The "All snippets" check, the most coverage, but we appreciate it may commonly be skipped as snippets are a common usecase (as per the conversations above).
* A more specific check for snippets containing LUA.
* A third check to prevent the use of ALIAS'ed locations in snippets.

This thir

[2021-11-11 13:32] iamNoah1 commented on #7840
@kundan2707 info about how to release should go to RELEASE.md. Info about the code should go into https://github.com/kubernetes/ingress-nginx/blob/main/docs/developer-guide/code-overview.md. At least IMHO.

[2021-11-11 16:20] carlcauchi opened #7905 "AWS NLB - Proxy Protocol v2 NOT enabled via the ingress-nginx"
Hi, I'm currently trying to get the AWS Proxy Protocol v2 option switched ON/enabled via the ingress-nginx on the NLB loadbalancer that the ingress-nginx is creating.

Also to note: SSL is being terminated on the NLB - so I'm using the SSL certificate generated by AWS along the SSL termination option on the NLB.

Config being used is from: https://raw.githubusercontent.com/kubernetes/ingress-nginx

[2021-11-11 16:30] balonik commented on #7079
Services will be always available also over the external LB. There is no way to specify to route Ingress only via internal loadbalancer. The internal loadbalancer is only an addition. If you need Services to be private you need additional ingress controller with internal LB only.

[2021-11-11 16:38] carlcauchi commented on #7675
@mprimeaux I'm having the same issue ingress-nginx controller - Could you kindly share how you have managed to go around this issue?

[2021-11-11 16:43] lchdev commented on #7652
Running into the exact same issue, also trying to set up two instances of nginx-ingress in the same namespace for public/private access. Seems a quite common scenario IMHO.

[2021-11-12 00:14] strongjz commented on #7799
Following from the error message [backend_ssl.go](https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/controller/store/backend_ssl.go#L75), which parses and tries to create the SSL cert [here](https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/controller/store/backend_ssl.go#L102) and ultimately uses [Crypto/tls](https://pkg.go.dev/crypto/tls#X509KeyPair) lib

[2021-11-12 00:14] #7799 closed

[2021-11-12 00:15] grosser opened #7907 "IngressClass should not set namespace"
https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/aws/deploy.yaml is wrong

there is a PR to support namespaces but it has a different syntax https://github.com/kubernetes/kubernetes/issues/97396

[2021-11-12 00:55] strongjz commented on #7907
All of the objects for ingress-nginx get deployed to ingress-nginx namespace. This deployment is not scoped just to ingress-nginx. IngressClass is a namespace scoped object so we deploy it to ingress-nginx.

/close

[2021-11-12 00:55] #7907 closed

[2021-11-12 00:58] grosser commented on #7907
it is not

[code]

[2021-11-12 01:10] strongjz commented on #7900
The AWS deployment sets [externalTrafficPolicy](https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/aws/deploy.yaml#L279) so traffic will not be forwarded from one node to another.

Also, it looks like this is a known issue,

https://github.com/kubernetes/cloud-provider-aws/issues/87#issuecomment-870992710

From the doc, you posted it looked like you need to set

```servic

[2021-11-12 03:10] jstangroome opened #7909 "request size metric histogram buckets are too small to give meaningful insights to real data sets"
**NGINX Ingress controller version**: 1.0.4

**What happened**:

The `nginx_ingress_controller_request_size_bucket` Prometheus histogram metric bucket sizes are too small, 10 buckets of 10 bytes each:
https://github.com/kubernetes/ingress-nginx/blob/controller-v1.0.4/internal/ingress/metric/collectors/socket.go#L163-L168

Consider this basic request which is 92 bytes, any modern browser's User-Age

[2021-11-12 06:47] longwuyuan commented on #7895
@hammadzz, if you have 2 controllers, can you show the complete and real commands used to install both the controllers, along with the config files like values file, or any other flags used in the command etc.

[2021-11-12 06:49] longwuyuan commented on #7895
/remove-kind bug
/kind support

We can add the kind-bug flag after the triaging shows the data related to the bug

[2021-11-12 07:35] zhuxinkai commented on #5932
add, at the second date .
I find a ture answaer, i belive.
delete all the svc. pods deployment , secret ,rs, cs, use yaml file when you apply  except kube-system namespace
like the under.
kubectl delete -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.4/deploy/static/provider/cloud/deploy.yaml
and apply the new
kubectl apply -f https://raw.githubusercontent.com/kuberne

[2021-11-12 08:09] dmathieu commented on #5883
/remove-lifecycle stale
I am working on this, though I'm current blocked by base image build timeouts.

[2021-11-12 10:01] rikatz commented on #5883
/lifecycle active
@dmathieu let me try to help you unblocking this during this/next week

[2021-11-12 10:34] iamNoah1 opened #7910 "Just one little remark :)"
Just one little remark :)

_Originally posted by @iamNoah1 in https://github.com/kubernetes/ingress-nginx/pull/7874#pullrequestreview-800101617_

[2021-11-12 10:34] iamNoah1 commented on #7910
weird

[2021-11-12 10:34] #7910 closed

[2021-11-12 11:02] iamNoah1 opened #7911 "Improve e2e testing"
Some e2e check that no error occurs, but don't check if the message equals an expected value. We could improve that

Affected files is https://github.com/kubernetes/ingress-nginx/blob/main/test/e2e/admission/admission.go

/triage accepted
/priority backlog
/good-first-issue

[2021-11-12 11:12] iamNoah1 commented on #5401
@shakaib-arif friendly reminder for answering the question of @strongjz :)

[2021-11-12 11:17] iamNoah1 commented on #6019
@irizzant @gmaiztegi @acobaugh please update to supported versions and check if you still experience this issue :)

[2021-11-12 11:18] iamNoah1 commented on #6027
/remove-lifecycle stale

reminder @rikatz

[2021-11-12 11:22] iamNoah1 commented on #6030
/lifecycle active

[2021-11-12 11:25] iamNoah1 commented on #6155
/triage accepted
/priority backlog
/help

[2021-11-12 11:26] iamNoah1 commented on #6178
/triage accepted

[2021-11-12 11:27] iamNoah1 commented on #6237
@tokers friendly reminder. Are you working on it or should we assign it to someone else?

[2021-11-12 11:28] iamNoah1 commented on #6291
closing this one. Feel free to open a new issue if you face problems again :)

/close

[2021-11-12 11:28] longwuyuan commented on #7905
Hi,
To help explain this better to any reader, I am trying to find out of there is text anywhere in the docs, that has any related comment on this issue. Does any section in docs refer to proxy_protocol version ?

I also am curious to know if you think that such a intricate configuration of a ELB, in the context of ELB being a classic LB, is left to the ingress-controller or to the AWS-Cloud-Contr

[2021-11-12 11:28] #6291 closed

[2021-11-12 11:38] iamNoah1 commented on #6634
/triage accepted
/priority important-longterm
/help

[2021-11-12 11:39] iamNoah1 commented on #6647
/lifecycle active
/triage accepted
/help
/priority important-soon

[2021-11-12 11:42] iamNoah1 commented on #6745
@rikatz @strongjz is this valid from a networking/security POV ?

[2021-11-12 11:45] iamNoah1 commented on #6752
Closing because of inactivity. Feel free to open a new issue :)

/close

[2021-11-12 11:48] iamNoah1 commented on #6822
@esteban1983cl @baudlord can you folks confirm that this is still an issue also with newer supported versions of ingress nginx? Otherwise we are still happy for any contribution :)

[2021-11-12 11:54] iamNoah1 commented on #6951
Feel free to open a new issue if the problem still occurs :)

/close

[2021-11-12 11:54] #6951 closed

[2021-11-12 11:55] iamNoah1 commented on #6973
@rinini friendly ping

[2021-11-12 12:00] iamNoah1 commented on #7016
/triage accepted
/priority important-longterm

[2021-11-12 12:47] iamNoah1 commented on #6030
https://github.com/kubernetes/ingress-nginx/issues/6030

[2021-11-12 13:10] iamNoah1 commented on #6030
/triage accepted
/priority important-longterm

[2021-11-12 16:04] TacoNaco47 commented on #5401
Going through this bloated thread and it seems there is no "general" solution yet?

`Error from server (InternalError): error when creating "ingress-demo.yaml": Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post "https://ingress-nginx-controller-admission.ingress-nginx.svc:443/networking/v1/ingresses?timeout=10s": context deadline exceeded`

I have the sam

[2021-11-12 17:21] #7243 closed

[2021-11-12 17:34] timblaktu commented on #4888
@TBBle sorry for commenting on a closed issue, but I need help that may be related to this issue. I've worked around this issue by reinstalling the helm chart with the below values, but **the resulting `ingress-nginx` controller pod on my Fargate-only EKS cluster always fails liveness and readiness probes on startup.**

I first increased  `livenessProbe:initialDelaySeconds` and `readinessProbe:ini

[2021-11-12 19:40] rikatz commented on #7773
@KuberDriver how are the other parts of this? Like Zeitgeist?

Thanks!

[2021-11-12 19:41] rikatz commented on #7268
Sorry folks, I have missed this one for v1.0.5

Will move to v1.0.6 or v1.1.0 and work on performance improvements

[2021-11-12 19:46] #7090 closed

[2021-11-12 19:46] rikatz commented on #4763
/help
/good-first-issue
This may not be hard to implement, as we already log when there is no endpoint.
It would be just registering new metric types and then calling something like n.metricCollector.IncOrphanIngress(namespace, name, type) being type something like "no-service" or "no-endpoints"

If no one picks up this one, I can work on it

[2021-11-12 19:52] rikatz commented on #7096
Actually the idea of testing the template on the OnUpdate is required as you may add some problematic directive that can break the whole server. If we just jump into reloading it, we may end with bad results if something goes wrong.

I may say that nginx -t is MORE REQUIRED for envs without admission webhooks enabled, as there is no early failure for users.

That said, if we still have this duplic

[2021-11-12 19:54] rikatz commented on #6506
Hi folks, please:
* Make sure you are running the latest version
* Send a way for us to reproduce this

That said, can you please let me know if this is still a problem?

Thanks

[2021-11-12 19:55] rikatz commented on #6340
yeah, I will cycle back to this as soon as I finish the other improvements :)

[2021-11-12 19:56] rikatz commented on #7909
@jstangroome I GUESS there is a PR to fix this. Can you check if this is the same problem?

If not and you are feeling confident, we need some help with PRs here :D Otherwise I can add this to my queue.

Thanks

[2021-11-12 20:24] haslersn commented on #6752
Please reopen, I started a draft PR: #7912

[2021-11-12 20:53] timblaktu commented on #7819
I'm seeing a similar issue with an `ingress-nginx` pod installed via this repo's helm chart with the following helm commands:

[code]

where `helm/nginx-values.yaml` contains the following to workaround [the fargate privilege escalation / port issue](https://github.com/kubernetes/ingress-nginx/issues/4888):

[code]

..and the apparent chart versions:

[code]

Environment is a fresh Fargate-only EK

[2021-11-12 21:04] timblaktu commented on #6329
@jainbhavya65 I'm curious if you discovered the root cause of this error. I'm encountering something similar described [here](https://github.com/kubernetes/ingress-nginx/issues/7819#issuecomment-967535749) and [here](https://github.com/kubernetes/ingress-nginx/issues/4888#issuecomment-967292508). Same basic behavior description, except in my case it's complaining about port 8443 (bc I used chart v

[2021-11-12 23:16] timblaktu opened #7913 "bind() to 0.0.0.0:8443 failed (98: Address in use) on EKS Fargate"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ingress controller
  Release:       v1.0.4
  Build:         9b78b6c197b48116243922170875af4aa752ee59
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"22

[2021-11-13 09:58] iamNoah1 commented on #6506
/triage needs-information

[2021-11-13 10:01] iamNoah1 commented on #6752
/reopen
/triage accepted
/priority backlog

[2021-11-13 11:28] apodoplelov commented on #4979
Please check if you've created correct Kubernetes secret object as described here: https://kubernetes.github.io/ingress-nginx/user-guide/tls/

[2021-11-13 12:18] TBBle commented on #4888
The problem is that 8443 is already bound for the webhook. That's why I used 8081 in my config, not 8443.

[2021-11-13 12:24] TBBle commented on #7913
Answered in more detail in [a different ticket](https://github.com/kubernetes/ingress-nginx/issues/4888#issuecomment-968059561). The problem is that port 8443 is the default port for the webhook, so you either need to also change the webhook port, or use a different port than 8443.

[2021-11-13 13:42] longwuyuan commented on #7913
/remove-kind bug
Fargate and serverless use would introduce networking that is different from vanilla "x" number of nodes use case

[2021-11-13 15:51] TBBle commented on #7913
The issue is unrelated to Fargate, the same configuration would have failed due to the command-line args shown. Note two things trying to listen on port 8443:
[code]

[2021-11-13 15:55] longwuyuan commented on #7913
Agreed

Thanks,
; Long

On Sat, 13 Nov, 2021, 9:21 PM TBBle, ***@***.***> wrote:

[2021-11-13 22:19] strongjz commented on #7893
Do you have the admission webhook disabled?

I was testing this with a local cluster and a default install. The admission webhook did not create the ingress object.

[code]

[code]

[2021-11-14 07:37] #7244 closed

[2021-11-14 12:11] tech4242 commented on #7294
@xinfang how did you resolve this? I am having the same issue

[2021-11-14 12:48] tech4242 commented on #6569
@cdanger how did you do it?

[code]

results in

`admission webhook "validate.nginx.ingress.kubernetes.io" denied the request: ------------------------------------------------------------------------------- Error: exit status 1 2021/11/14 12:40:24 [emerg] 597#597: "ssl_conf_command" directive is not allowed here in /tmp/nginx-cfg734736665:621 nginx: [emerg] "ssl_conf_command" directive is not allo

[2021-11-14 16:31] bmv126 opened #7916 "Use allowlist instead of whitelist"
Currently there are references to whitelist term in source code and in the publicly available documentation.

References:
https://github.com/kubernetes/ingress-nginx/blob/90c79689c46497636ac32a7e2828c6ab2dae2fd8/internal/ingress/annotations/annotations.go#L111
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#whitelist-source-range

The request here is to replace

[2021-11-15 02:14] mprimeaux commented on #7675
@carlcauchi Yes, mate. I will give you the detail tomorrow. My apologies for my late reply.

[2021-11-15 03:05] tarun-asthana commented on #7091
@zhaogaolong Could you explain your earlier comment pls. How many services did you have and how was it affecting the nginx ingress controller?

[2021-11-15 04:01] zhaogaolong commented on #7091
pod: 2w+
service: 2k+
ingress: 2k+
The impact on ingress controller has been described very clearly

[2021-11-15 06:37] tarun-asthana commented on #7091
@zhaogaolong how did you detect the impact? What monitoring tools are you using?

[2021-11-15 06:41] #7091 closed

[2021-11-15 06:43] zhaogaolong commented on #7091
promethues

[2021-11-15 07:49] ubergesundheit commented on #7096
Got me quite some time to remember what this was about and tried to backtrace what I was thinking seven months ago.

After looking into the latest source, I think `nginx -t` is still executed twice for people with enabled admission controller. In that sense my original issue comment seems to be nonsense. It must have been read (also fixed above):

---

For people with enabled admission controller,

[2021-11-15 10:46] #7231 closed

[2021-11-15 11:41] tanuj-soni2 opened #7918 "exec: Lua support was not enabled in v1.0.0 ingress-nginx version"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`): `5.11.0-40-generic`
- **Install tools**:
  - `Please mention how/where was the cluster cre

[2021-11-15 13:26] baturozgur opened #7919 "mod_security SecRuleEngine DetectionOnly does not log any attack"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS EKS
- **Kernel** (e.g. `uname -a`): `Linux ingress-nginx-2-controller-5c9457fb5b-226nm 5.4.149-73.259.amzn2.x86_64 #1 SMP Mon Sep 27 12:48:12 UTC 2021 x86_64 Linux`

[2021-11-15 13:32] mprimeaux commented on #7675
@carlcauchi Using the `ingress-nginx` chart, here's the related stanza:

[code]

You'll likely want to set the `proxy-real-ip-cidr` value to your backend CIDR block range assuming it isn't the same.

As a defensive cyber-resilience posture, I strongly encourage everyone to take note of the last stanza. This enables [NGINX Mod Security](https://github.com/SpiderLabs/ModSecurity) with [OWASP Core Ru

[2021-11-15 17:32] zigmund commented on #3898
/remove-lifecycle stale

[2021-11-15 18:01] unixfox commented on #4760
/remove-lifecycle stale

[2021-11-15 18:04] manzsolutions-lpreis commented on #5667
/remove-lifecycle stale

[2021-11-15 19:04] rikatz commented on #7839
/kind bug

[2021-11-15 20:39] hickey commented on #7510
This seems to still be an issue.

Currently using `1.0.4` installed from the ingress-nginx `4.0.6` helm chart. If `rbac.scope` is set to true during the helm chart installation, the service account is not able to list IngressClasses and none of the intended Ingresses are processed (log file shows that they have been ignored). RBAC Role (not ClusterRole) gets set correctly with the list, get, watch

[2021-11-15 20:43] rikatz commented on #7859
I'm marking this for v1.0.6.

I want to take a better look into our approach and how to solve it, and as always I'm open to suggestions here :)

[2021-11-15 21:33] rikatz commented on #5012
/lifecycle frozen

[2021-11-15 21:36] rikatz commented on #5012
@toonsevrin I've seen your proposal in k8s issue. So, my main concern with that approach here is Ingress is allowing users to download arbitrary files from the internet (not only CRLs) so a shared directory.

We've seen on really recent past that allowing users to configure arbitrary stuff on the running ingress controller may be bad: As an example, we may allow them to download some rogue certifi

[2021-11-15 23:13] #7016 closed

[2021-11-15 23:13] strongjz commented on #7016
/close

Merged in with #7806

[2021-11-15 23:57] strongjz commented on #7909
https://github.com/kubernetes/ingress-nginx/pull/7171 is the PR

[2021-11-16 00:52] larivierec commented on #7859
isn't the issue that the IP specified by the user is completely ignored?
most of the time we want to be bound to `0.0.0.0`.

However, we sometimes want to bind to specific interfaces.
The code from ![IsPortAvailable](https://github.com/kubernetes/ingress-nginx/blob/main/internal/net/net.go#L32) does not allow us to pass in an address.

What should happen is that if bind-address is not set, it shou

[2021-11-16 02:06] larivierec commented on #5496
/close

[2021-11-16 02:30] rikatz commented on #5496
/close
Thanks :)

[2021-11-16 02:31] #5496 closed

[2021-11-16 02:38] jimmyyyeh opened #7926 "deploy ingress nginx with AWS acm, getting Error syncing load balancer message"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.0.5

**Kubernetes version** (use `kubectl version`): 1.22.3

**Environment**:

- **OS** (e.g. from /etc/os-release): macOs Monterey 12.0.1
- **Install tools**: kops

**What happened**:

**What you expected to happen**:
When I deploy ingress-nginx with values.yaml like example:
[https://github.c

[2021-11-16 03:00] strongjz commented on #7837
Hi folks we just released [Ingress NGINX v1.0.5.](
https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.0.5) Thanks to  @rikatz who helped implement
[#7874](https://github.com/kubernetes/ingress-nginx/pull/7874) which added the option to sanitize annotation inputs

`annotation-value-word-blocklist` defaults are `"load_module,lua_package,_by_lua,location,root,proxy_pass,serviceacc

[2021-11-16 07:09] lijiansgit commented on #6291
upgraded to v1.0.4，no fixed .............. only adding the flag --enable-metrics=false is fixed

[2021-11-16 08:29] tarun-asthana commented on #7091
@zhaogaolong Which metrics in prometheus ?

[2021-11-16 09:21] Tomoku-dm opened #7927 "Ingress controller can't sent new requests balanced when set affinity-mode cookie on ingress"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ingress controller
  Release:       0.32.0
  Build:         git-446845114
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.17.10

**Kubernetes version** (use `kubectl version`):

Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.6", G

[2021-11-16 10:57] ppedrozzi commented on #7587
Hello everybody, I was able to solve the problem by upgrading the ingress-nginx to 4.0.6 and by adding the line `kubernetes.io/ingress.class: nginx` to the ingress resource. Here is the entire snippet:

[code]

(I saw that line in the example appearing when installing the helm chart)

[2021-11-16 10:57] #7587 closed

[2021-11-16 14:15] strongjz opened #7929 "Investigate if ingress-nginx is impacted by CVE-2021-43519"
The ingress-nginx team needs to investigate if supported versions are impacted by CVE-2021-43519 reported here
https://nvd.nist.gov/vuln/detail/CVE-2021-43519

/kind bug

[2021-11-16 14:41] r2sd commented on #5932
Finally, this worked for me. Run `kubectl edit configmap kube-proxy -n kube-system` and set `maxPerCore` under `conntrack` to `0` from `null`.

[2021-11-16 15:45] AlexLast opened #7931 "CORS broken in v1.0.5"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Flatcar Container Linux by Kinvolk 2905.2.3
- **Kernel** (e.g. `uname -a`): `Linux <redacted> 5.10.61-flatcar #1 SMP Tue Aug 3

[2021-11-16 16:06] larivierec commented on #7931
/assign

[2021-11-16 16:09] AlexLast commented on #7931
Thanks @larivierec - let me know if there's any more information I can provide that may help 👍

[2021-11-16 16:15] larivierec commented on #7931
i'm curious, do you have any logs
`Error parsing cors-allow-origin parameters. Supplied incorrect origin: <domain>`

in your logs? i'm wondering if your cors double needs to be explicitly in double quotes

[2021-11-16 16:21] AlexLast commented on #7931
This is what I see, so looks like the origin is in the slice:

[code]

[2021-11-16 16:28] larivierec commented on #7931
weirdly, i can't seem to reproduce this:

[code]

Ingress:

[code]

i'll  have to keep investigating, maybe a corner case i missed

[2021-11-16 16:34] AlexLast commented on #7931
Ahh, I think I see what's going on here.

Maybe I was a bit hasty in raising this, I didn't provide the origin header when testing with curl, and from looking at the changes in `v1.0.5` I'm guessing this is now a required header when deciding which origin to return in `Access-Control-Allow-Origin`.

Assuming there isn't any scenario where the client doesn't sends the `Origin` header - this is prob

[2021-11-16 16:37] larivierec commented on #7931
yes, in order to receive CORS headers you must provide an origin :)

[2021-11-16 16:40] AlexLast commented on #7931
Makes sense, apologies & thanks for your help, will close 👍

[2021-11-16 16:40] #7931 closed

[2021-11-16 16:43] larivierec commented on #7931
when you tested with your header did it work?

[2021-11-16 16:44] AlexLast commented on #7931
Yes, works fine when setting `Origin https://my-origin.my-domain.com`

[2021-11-16 16:51] larivierec commented on #7931
awesome, we'll reopen if it's really an issue!
thanks again for bringing this up

[2021-11-16 18:33] cmdub commented on #7900
Seeing similar issues @szEvEz has mentioned as well.

EKS Version: 1.21
nginx ingress controller : 1.0.4

Behavior:

nginx pod running on a single node, so only 1 node should show as healthy based on expected behavior. What is actually occurring is that the nodePort, on the node where the active nginx pod is running, used for the healthCheck is returning a 503 as shown below:

[code]
The healthChe

[2021-11-16 18:35] iamNoah1 commented on #7929
/triage accepted
/priority critical-urgent

[2021-11-16 18:50] rasvi24 opened #7932 "Virtual service support"
Is there any way to create ingress which points to an arbitrary domain? I use Istio and I want to preserve the host header. So I would like to try creating an internal service entry and want ingress to forward to this service host instead of a kubernetes service.

I tried upstream-service annotation it did not solve my problem. I had to set vhost as service host name. This again changes my host he

[2021-11-16 20:13] baturozgur commented on #7919
My problem was confusion due to sending both nginx and mod security logs to stdout. In concurrent mode main audit log file and individual audit log dump in /var/log/audit/ works as expected. This [PR](https://github.com/kubernetes/ingress-nginx/issues/6438) has a good example if someone encounters a similar issue.

[2021-11-16 20:13] #7919 closed

[2021-11-16 20:34] timblaktu commented on #4888
Thanks so much @TBBle - clearly cockpit error on my part, not understanding the innards of the ingress-nginx application and not being able to inspect the running container sufficiently - so I finally have installed ingress-nginx on eks-fargate with your suggestion (and a few other values):

[code]

Was slow getting back here bc I had to learn how to troubleshoot broken helm installations. Thanks

[2021-11-16 20:36] timblaktu commented on #7913
Thanks so much @TBBle, @longwuyuan - and sorry for the distraction - clearly this was cockpit error on my part, not understanding the innards of the ingress-nginx application and not being able to inspect the running container sufficiently.

I finally have installed ingress-nginx on eks-fargate with  the following values:

[code]

[2021-11-16 20:36] #7913 closed

[2021-11-16 23:57] ax-jgriffiths commented on #7755
[code]

I'm getting a similar error trying to create two resources using ingress-nginx 4.0.8 with two different names inside the same namespace.

From a coworker:
yep its a new resource in v4
[code]

[2021-11-17 02:45] longwuyuan commented on #7755
Two controller instances or 2 ingress resources?

Thanks,
; Long

On Wed, 17 Nov, 2021, 5:28 AM Joel Griffiths, ***@***.***>
wrote:

[2021-11-17 03:58] winterhalder commented on #7850
I want to second the importance of that work-around! Why isn't that in BIG BOLD LETTERS in the docs?!!

[2021-11-17 05:21] longwuyuan commented on #7927
/remove-kind bug
hi, Can you please upgrade to version 0.49.3 of the controller and update.
thanks.

/kind support

[2021-11-17 05:29] longwuyuan commented on #7926
Where did you get this annotation `aws-load-balancer-ssl-cert` ?

/remove-kind bug
/kind support

[2021-11-17 05:33] longwuyuan commented on #7932
Hi,

You may want to simply your problem description so that it explicitly points to a feature or functionality of this Controller.
Your current problem description is too vague and hypothetical. So you can try to do things like ;
- show an example http request
- show the ingress object related to that
- show a example backend
- show the change of headers from client request to ingress-controller

[2021-11-17 07:18] TBBle commented on #4888
No worries. And thank you for sharing a final, working setup. That's very valuable to have in a single place.

[2021-11-17 07:24] vast0906 opened #7933 "metrics not some metrics"
![image](https://user-images.githubusercontent.com/18095287/142154366-90defca9-636f-4dcd-8d38-9ab471c248bd.png)

hi，Why is nginx_ingress_controller_requests/nginx_ingress_controller_request_duration_seconds_bucket not in mine  metrics?

this is my deployment
![image](https://user-images.githubusercontent.com/18095287/142154633-a821192c-10d6-480e-b57e-f6e937fb2e5e.png)

[2021-11-17 07:44] vast0906 commented on #7933
Looks alike  #5755

[2021-11-17 07:58] irizzant commented on #6019
I've just tried an `Ingress` without the `/` path and with the same custom snipped shown [here](https://github.com/kubernetes/ingress-nginx/issues/6019#issuecomment-745342426) and the sticky session cookie is set

[2021-11-17 09:22] Choko256 commented on #6506
Still a problem, it worked fine during 4 hours, and adding a new ingress for another app made everything down. So I deleted the other app but my main app is still in timeout status.

I have two ingresses in the same namespace with different names and no other ingresses :

    # kubectl get ing -A
    NAMESPACE   NAME                             CLASS   HOSTS             ADDRESS       PORTS     AGE

[2021-11-17 09:40] Sokratis1904 opened #7934 "Default SSL Certificate Flag is not known"
**NGINX Ingress controller version**: nginx/1.19.9; Chart 4.0.8; App-Version 1.0.5

**What happened**: IngressController cannot be installed because the flag --default-ssl-certificate is not known

$ helm upgrade --install ingress ingress-nginx/ingress-nginx -n ingress --default-ssl-certificate=ingress/my-tls -f values-test.yaml
Error: unknown flag: --default-ssl-certificate

**What you expected t

[2021-11-17 10:24] iamNoah1 commented on #6506
@Choko256 have you configured your ingressClass correctly?

[2021-11-17 10:26] Choko256 commented on #6506
yes I have

    spec:
      ingressClassName: nginx

in my ingress yaml descriptors and as you can see in the list of ingresses, the class is registered correctly.

[2021-11-17 10:29] iamNoah1 commented on #6506
Is it configured also in the ingress resources correctly?

[2021-11-17 10:33] Choko256 commented on #6506
# kubectl describe ing -n mynamespace ingress-api
    Name:             ingress-api
    Namespace:        mynamespace
    Address:          10.71.54.27
    Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>)
    TLS:
        secret-cert-api terminates api.myapp.com
    Rules:
        Host             Path  Backends
        ----             ----  --------

[2021-11-17 10:41] Tomoku-dm commented on #7927
@longwuyuan
Thank you for your reply, i will deploy new k8s cluster with version 0.49.3 of the controller to test.

I would like to ask which part of the code of the 0.32.0 version  controller may cause not balance ?

[2021-11-17 10:45] longwuyuan commented on #7934
The way to configure with helm is the `--set` flag or having a custom values.yaml file. Please check docs of helm and please check the values.yaml file for the configurable options.

/close

[2021-11-17 10:45] #7934 closed

[2021-11-17 10:47] Choko256 commented on #6506
Ok I'll try that thanks!

[2021-11-17 10:58] longwuyuan commented on #6506
If there is a bug or a problem with the controller, then we can add that data here, change the title and track the bug/problem. For now let us close this issue and reopen it after we find some bug/problem related data. Others facing the same problem are advised to come talk on slack. Regards.

/close

[2021-11-17 10:58] #6506 closed

[2021-11-17 11:25] fethibilog commented on #6590
If any one still looking for a solution adding the tls attribute will only expose the https port. Here is an example.
`apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: cafe-ingress
spec:
  ingressClassName: nginx
  **tls:
  - hosts:
    - cafe.example.com
    secretName: cafe-secret**
  rules:
  - host: cafe.example.com
    http:
      paths:
      - path: /tea
        pathType: Pr

[2021-11-17 11:39] Tomoku-dm commented on #7927
I upgrade to version 0.49.3 of the ingress controller , still not balance .

And  use calico plugin in test k8s cluster,not use cilium .

[root@ocp-k8s-provisioning-3 ~]# k exec -it ingress-nginx-controller-646f7f7f8f-r2td2  -n ingress-nginx /nginx-ingress-controller version

NGINX Ingress controller
  Release:       v0.49.3
  Build:         7ee28f431ccddc4997ab088eff2698b94a8918a0
  Repository:

[2021-11-17 11:45] Daryjusz opened #7936 "Helm template does not contain information about serviceMonitor"
Hello
 I am trying to deploy ingress controller with service monitor, i am using helm values file which looks like that:
[code]
when i run helm template with my values file provided, service monitor is not visible.
helm template ingress-nginx/ingress-nginx --values values.yaml --version "4.0.5"

Does anyone had similar problem?
Thanks in advance for your replies.

[2021-11-17 13:33] gregorybleiker commented on #7820
I agree with @tgeci
I tried to install a second nginx ingress on Azure, and the only way to get it working was to use the k8s yaml instead of the helm chart. I also tried setting `extraArgs` but that didn't work either for me.
I think this is a rather common case and the two documentation links I found (https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress/ and https://kubernetes.

[2021-11-17 14:06] NilsGriebner commented on #7905
I'm running into the same issue. I'm using the helm chart to install the ingress controller and provide the same annotations as @carlcauchi.

[2021-11-17 15:41] pierluigilenoci opened #7937 "Alternative solution to add headers to an ingress"
I love #7837 mitigation and I agree that it should be implemented by default.
But this opens up problematic scenarios because the `'` character can be useful to add headers.

Example:
[code]

Ref: https://content-security-policy.com/

[2021-11-17 16:00] pierluigilenoci commented on #7837
@strongjz as requested I opened a FR/Bug report here #7937 ❤️

Thank you all

[2021-11-17 16:15] rikatz commented on #7937
Huum makes sense. Should we remove ' from the default list? Or verify if it comes with something else?

Or even create a directive to add headers? :)

[2021-11-17 16:21] aliusmiles commented on #7546
Deploying two ingress controllers, no matter single namespace or different, will produce two ValidatingWebhookConfigurations with the same [rules](https://github.com/kubernetes/ingress-nginx/blob/8e210b21e289e8419f71651c83e014bd90fa384b/charts/ingress-nginx/templates/admission-webhooks/validating-webhook.yaml#L17):
[code]

which results in all ingress resources being submitted to both controllers

[2021-11-17 16:23] aliusmiles commented on #7881
@riupie if you need to have both controllers with admissionWebhook running, possible workaround is to configure `admissionWebhooks.objectSelector` for both and add labels to ingress resources, as in https://github.com/kubernetes/ingress-nginx/issues/7546#issuecomment-971739859

[2021-11-17 16:55] pierluigilenoci commented on #7937
@rikatz personally I would prefer to have a specific directive for adding headers.

[2021-11-17 17:05] #7232 closed

[2021-11-17 17:07] pierluigilenoci opened #7938 "Alternative solution to deny path to an ingress"
The new snippet sanitizer #7837 is cool but blocks a behavior used by many users.
I'm talking about using `server-snippets` to block specific paths.

Example:
[code]

Perhaps it would be worth creating a directive to allow this behavior.
Not a particularly complex stuff.
Maybe just the possibility of throwing an HTTP error.
Or sending the request to the default backend.

[2021-11-17 17:08] pierluigilenoci commented on #7937
This is not the only "feature" cut by the sanitizer. Also #7938

[2021-11-17 17:10] pierluigilenoci commented on #7837
@strongjz another issue #7938 <3

Thank you again

[2021-11-17 17:29] torgerss commented on #5738
I have the same issue on 1.19.0 and 1.20.0 and 1.22.0 kubernetes using NGINX  helm chart ingress-nginx-4.0.7 (version 1.0.5). It rejects the use of the "location" word when in the ingress.

metadata:
  name: {{ template "content-services.shortname" . }}-share
  labels:
    {{- include "share.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    # Default limit is 1m,

[2021-11-17 17:30] #6828 closed

[2021-11-17 17:31] iamNoah1 commented on #6849
@kfirfer is this still relevant for you?

[2021-11-17 17:33] iamNoah1 commented on #6851
@slash-ro are you still experiencing this issues, also with newer versions of ingress nginx?

[2021-11-17 17:35] iamNoah1 commented on #6875
@rikatz @strongjz can you clarify?

[2021-11-17 17:40] iamNoah1 commented on #7059
Please reopen a new issue using the template if this is still an issue for you folks.

/close

[2021-11-17 17:40] #7059 closed

[2021-11-17 18:03] iamNoah1 commented on #7096
@rikatz friendly reminder

[2021-11-17 18:07] iamNoah1 commented on #7116
Closing due to inactivity. Feel free to open a new issue.

/close

[2021-11-17 18:07] #7116 closed

[2021-11-17 18:13] iamNoah1 commented on #7118
/lifecycle active
/area helm
/priority important-longterm

@NeckBeardPrince see this comment from @rikatz: https://github.com/kubernetes/ingress-nginx/pull/7128#issuecomment-950412596

[2021-11-17 18:16] iamNoah1 commented on #7119
/lifecycle active
/triage accepted
/priority important-longterm

[2021-11-17 18:17] iamNoah1 commented on #7120
@longwuyuan friendly ping

[2021-11-17 18:18] iamNoah1 commented on #7129
@kundan2707 friendly ping. Are you working on it?

[2021-11-17 18:35] iamNoah1 commented on #7140
@sudvid78 @BetterToAutomateTheWorld following up on @rikatz, can you confirm that this is still an issue for you also with newer versions of ingress nginx?

[2021-11-17 18:37] iamNoah1 commented on #7147
@mpanne closing this one. Feel free to open a new issue if you still experience the problem. @besha100 if you want to see the described feature, also feel free to open a respective issue.

/close

[2021-11-17 18:37] #7147 closed

[2021-11-17 18:40] strongjz commented on #7938
We understand that the default block list will remove some functionality. The list is can be edited to suit the Ingress-admin and users' needs, so folks can remove the '/' in the default and define their own block list.

[2021-11-17 18:40] iamNoah1 commented on #7154
To be honest I am not quite sure if this is the repo for the proposal. Is krew or kubectl cli repo not a more suitable place ? @strongjz @rikatz

[2021-11-17 19:06] morremeyer opened #7939 "Release 1.0.5 is breaking (Chart release 4.0.8), major version should be bumped"
## Notice

**Everyone reading this**: Please save your “this is unacceptable“ comments. This is an open source project, if you want to berate someone, ask their consent first and pay them for it.

**If you want to show that you share my opinion that this did not go well, please +1 or like this post, but keep the comments spam free.**

## Issue

**NGINX Ingress controller version** 1.0.5
**Kubernet

[2021-11-17 21:44] strongjz commented on #7939
/triage accepted
/priority critical-urgent

That is a valid point, I will discuss with it @rikatz

[2021-11-17 21:59] rikatz commented on #7939
Agreed! Sorry for the mess, we were so in a rush to fix this that the "we are breaking users" was not accounted :/

@strongjz you wanna tackle defaulting this to empty? Otherwise I can take care of this tomorrow :)

[2021-11-17 21:59] rikatz commented on #7939
@morremeyer thanks for the nice reporting on this and the consideration :) really appreciate it!

[2021-11-17 22:33] mzjp2 commented on #7939
Thanks for reporting this -- I was just about to come and report the same thing. I was using `{` and `}` in `nginx.ingress.kubernetes.io/auth-snippet` which seems like a valid use, but my installation has broken today on the latest `ingress-nginx`.

I agree with the above discussion (and thank you for the quick replies!) but as a side note, is it worth having whitelisted fields (like `auth-snippet

[2021-11-17 23:49] #7154 closed

[2021-11-17 23:57] morremeyer commented on #7939
@strongjz @rikatz Thanks for taking care of it, I really appreciate it.

I tried setting it to empty on my setup, which weirdly failed and was still rejecting ingresses for blocked characters. I didn't debug that much further though as I needed to get things running again.

I therefore set it to `thisvaluewillneverappear`, which worked.

Just want to mention this in case there is a possibility to

[2021-11-18 00:00] morremeyer commented on #7939
Disregard my previous comment please, I seem to have missed the added test when reading through the PR.

[2021-11-18 01:15] #7933 closed

[2021-11-18 02:54] cofyc commented on #6337
/reopen

[2021-11-18 06:48] janosmiko commented on #7939
Is it possible somehow to add custom locations blocks to the ingress currently?
Eg: I have a use case where I'd like to serve a static file:
[code]

Is there a workaround to do this?

[2021-11-18 07:34] Tomoku-dm commented on #7927
if  i set  `nginx.ingress.kubernetes.io/affinity-mode: persistent`   request is balance

[2021-11-18 08:35] pierluigilenoci commented on #7938
@strongjz in this specific case, the curly brackets must be removed from the block.

IMHO, the question must be seen from another point of view. If the list of blocked keywords was built that way, it is because the use of those keywords can compromise security.

My FR goes to try to restore a "feature" that many users implement (using a dirty trick) with a more elegant solution, which does not obl

[2021-11-18 08:42] Daryjusz commented on #7936
I was using wrong version of helm chart:
` helm template ingress-nginx/ingress-nginx --values values.yaml --api-versions monitoring.coreos.com/v1` this resolved my problem

[2021-11-18 08:42] #7936 closed

[2021-11-18 09:07] morremeyer commented on #7939
@janosmiko Yes, you can set the value of `annotation-value-word-blocklist` to an empty string `""`.

[2021-11-18 09:09] janosmiko commented on #7939
Thanks for pointing it out!

[2021-11-18 10:05] kundan2707 commented on #7840
@iamNoah1 i will make change as suggested by you and push PR for that

[2021-11-18 10:55] LoonyRules commented on #7747
Thought I would provide an update seeing as it's been a while.

The issue regarding memory usage spiking and then crashing due to no memory being left available seems to be resolved since our upgrade to 1.0.4, however, there's no guarantee this version fixed the issue directly. We perhaps just didn't run older versions (eg: 1.0.2) long enough to find out if it was still an issue in those. We will

[2021-11-18 10:59] BBQigniter commented on #7632
took a while for me to find this issue - please, update the documentation https://kubernetes.github.io/ingress-nginx/deploy/rbac/#namespace-permissions :)

[2021-11-18 13:48] mimmus commented on #7820
I got backward compatibilty with (deprecated) annotation, setting "--ingress-class" parameter by extraArgs in values.yaml.
In the meanwhile, I will try to migrate our ingresses to more standard "spec.ingressClassName" and then remove "--ingress-class".

[2021-11-18 14:36] visit1985 commented on #7546
@aliusmiles, thanks for the hint about `admissionWebhooks.objectSelector` and `electionID`.

The goal of introducing `IngressClass` was to replace the deprecated annotation `kubernetes.io/ingress.class`. Until this is completely solved, you could use `admissionWebhooks.objectSelector.matchAnnotations.kubernetes\.io/ingress.class` and keep the old annotation instead of introducing a new label on ea

[2021-11-18 15:02] iamNoah1 commented on #6027
/triage accepted

[2021-11-18 15:06] iamNoah1 commented on #6191
Going to close this. The version of ingress nginx used is not officially supported anymore. Feel free to open a new issue if the problem occurs with newer version.

/close

[2021-11-18 15:07] #6191 closed

[2021-11-18 15:35] iamNoah1 commented on #7212
@strongjz friendly Ping

[2021-11-18 15:37] iamNoah1 commented on #7543
@bishtsaurabh5 friendly ping

[2021-11-18 15:39] iamNoah1 commented on #7767
/triage accepted
/priority backlog
/remove-kind bug

[2021-11-18 15:41] iamNoah1 commented on #7784
/triage accepted
/priority important-longterm

[2021-11-18 15:42] iamNoah1 commented on #7882
@hypsrizzari can we then consider closing this one?

[2021-11-18 16:10] hypsrizzari commented on #7882
Definitely, thank you.

[2021-11-18 16:10] #7882 closed

[2021-11-18 16:28] brross commented on #7893
I double-checked and, indeed, I do have the validating webhook enabled. I'll have to investigate why it's not doing the proper thing in my test environment.

I do think emitting and event message for this would be useful in any case.

[2021-11-18 16:45] rrichardson commented on #7755
I think @ax-jgriffiths  is experiencing a slightly different problem.  I am not sure if ingress-nginx was ever intended to run two ingress-nginx controllers inside the same namespace.   I think they would at least have to be in separate namespaces.  Perhaps I'm wrong.

I think the fundamental issue here, is that even when deployed into separate namespaces, with `scope: enabled: true`,  a non-uniqu

[2021-11-18 16:49] ax-jgriffiths commented on #7755
I was able to workaround my problem by adding a different name for each resource:
[code]

Sorry for the extra noise.

[2021-11-18 17:48] jodevsa commented on #7784
@iamNoah1 is there any work still needed for this issue?

[2021-11-18 17:50] asettouf commented on #3511
Same issue.

[2021-11-18 18:16] igorcezar commented on #7546
@visit1985 as far as I know there is no `matchAnnotations` selector. If there was, it would be great for this scenario.

Here I got to the same workaround as @aliusmiles, but used `matchExpressions` instead, because my private ingress controller is the default in cluster and has `watchIngressWithoutClass` enabled, so this way it will deal with all ingress objects that doesn't belong to the public

[2021-11-18 20:12] ATownsend commented on #7755
Yes, @rrichardson that is EXACTLY what is needed. The name on the ClusterRoleBinding needs to have the NAMESPACE included on the name. PLEASE!

It's literally a one line change that affects almost nothing, but would make a huge difference to many folks out there.

You can actually run 2 of them in the same namespace because they're forced to have different names, HOWEVER you CANNOT run 2 in differ

[2021-11-19 08:07] kpbll commented on #7872
Could anybody make it clearer for me, should pure grpc (without reflection api etc) work over nginx-ingress-controller or only grpc-web is working? Thanks!

[2021-11-19 09:28] qingfengfenga opened #7945 "Configuring rewrite-target will make the entry point to [upstream-default-backend] 127.0.0.1:8181"
# use `/`

Ingress can get and jump to the correct Service Name and port

[code]

![image](https://user-images.githubusercontent.com/41416092/142596822-84501ab7-c6ba-4456-a236-c9d460f5bf3c.png)

# Use rewrite-target

What ingress gets is [upstream-default-backend] 127.0.0.1:8181

[code]

![image](https://user-images.githubusercontent.com/41416092/142596952-d9564e20-b82c-408d-abec-36a8b2a1aba2.png)

[2021-11-19 09:30] mkreidenweis-schulmngr commented on #7546
/remove-kind support

[2021-11-19 11:39] longwuyuan commented on #7872
I think need to test non reflection api grpc on non kubernetes ingress,
with just nginx as reverse proxy. If it works with non ingress and non
kubernetes (vanilla nginx reverse proxy), then we can configure ingress
controller potentially. @theunrealgeek for comments.

Thanks,
; Long

On Fri, 19 Nov, 2021, 1:37 PM Yury Kustov, ***@***.***> wrote:

[2021-11-19 11:50] jabdoa2 commented on #6798
This is fixed for us in 1.0.4 with the new --disable-full-test flag.

/close

[2021-11-19 11:50] #6798 closed

[2021-11-19 14:01] longwuyuan commented on #7945
not sure if I understand your question correctly.

But the result of rewrite-target in your example means that none of the
existing ingress rules matched the http request that was received.

If you have all valid paths under /. then you can just set the rule to
use pathType as Prefix and path as /.

Thanks,
; Long

On 11/19/21 14:58, qingfengfenga wrote:

[2021-11-19 17:13] ax-jgriffiths commented on #7837
I hate to ask a stupid question, but does this solve the alias exploit mentioned by @metahertz ?

https://github.com/kubernetes/ingress-nginx/issues/7837#issuecomment-966275417

Also, would things like this get caught by the filter?

[code]

[2021-11-19 18:31] #5521 closed

[2021-11-19 19:29] swgriffith opened #7947 "Helm install fails on AKS if Azure Policy 'privileged escalation' is enabled in 'deny' mode"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
NGINX Ingress controller
  Release:       v1.0.5
  Build:         7ce96cbcf668f94a0d1ee0a674e96002948bff6f
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"21",

[2021-11-19 20:13] chrispytoes opened #7949 "Add custom snippets to insert into the root "location /" block"
I need to define different proxy cache settings for different paths in my config, or only enable caching for specific paths, but currently the config can only insert the `nginx.ingress.kubernetes.io/server-snippet` annotation outside of the `location /` block.

This my server-snippet config:
[code]

This always results in 404 for the cached paths since the request does not go through the configure

[2021-11-19 23:45] timblaktu commented on #4888
Well, @TBBle the setup is "working" in the sense that the helm install process will succeed, the ingress controller pods will schedule and be run, but the ingress controller service will be stuck indefinitely in "Pending" EXTERNAL-IP, apparently "Ensuring Load Balancer" never completes:

[code]

This is the same behavior I had seen in an identical EKS cluster that I configured separately in anothe

[2021-11-20 04:35] TBBle commented on #4888
Just to be certain, you do have the [AWS Load Balancer Controller](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.3/) installed and functional on this cluster, right? That's the prerequisite for using `nlb-ip` or `external` for `service.beta.kubernetes.io/aws-load-balancer-type`.

Note that per [secure by default](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2

[2021-11-20 06:12] theunrealgeek commented on #7872
I will also take a look

[2021-11-20 08:55] AngelMsger opened #7950 "proxy_pass_header in configuration snippet is recognized as proxy_pass and dinied by admission webhook"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.0.5(7ce96cbcf668f94a0d1ee0a674e96002948bff6f)

**Kubernetes version** (use `kubectl version`): 1.22.4

**Environment**:

- **Cloud provider or hardware configuration**: Huawei Cloud HECS(Bare metal)
- **OS** (e.g. from /etc/os-release): CentOS 8.2
- **Kernel** (e.g. `uname -a`): Linux yak8s 4.1

[2021-11-20 10:32] bmv126 commented on #7950
This is because of the fix provided to fix  CVE.
More details in below link:
https://github.com/kubernetes/ingress-nginx/issues/7837#issuecomment-969750366

If you remove proxy_pass from block list. Your case should word work.

[2021-11-20 19:27] zzorica commented on #5738
same with nextcloud chart and its default snippet
* k8s 1.21.6
* ingress-nginx 4.0.8 (image 1.0.5)
[code]

`Helm upgrade failed: cannot patch "nextcloud" with kind Ingress: admission webhook "validate.nginx.ingress.kubernetes.io" denied the request: nginx.ingress.kubernetes.io/server-snippet annotation contains invalid word location`

[2021-11-20 20:53] strongjz commented on #7947
/close

putting this into v1.1.0.

[2021-11-20 20:53] #7947 closed

[2021-11-21 17:14] dintel commented on #7896
@longwuyuan any update?

[2021-11-21 20:21] Raag007 opened #7951 "Requirement not working - Set serviceAccount: ownServiceAccount and automountServiceAccountToken: false"
Hi - we are using this below command, and it works fine but doesn't meet the requirement.

In the second command, when we try to update a serviceAccount it doesn't update all the serviceAccounts for all the services under ingress-nginx,

And for automountServiceAccountToken we don't see an option to update that value. Please let me know if you have any suggestions or if I'm missing anything.

[2021-11-21 20:46] rbiassoni opened #7952 "Order of lua plugins execution is not guaranteed"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**:
EKS
- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`):
[code]

- **Install tools**:
  - `Please mention how/where was the cluster created l

[2021-11-22 05:45] qingfengfenga commented on #7945
I use HTTP to test, and the rewrite rule works normally. Is it because rewriting does not support HTTPS, or do I ignore something.

In addition, my certificate needs these three comments. I'm not sure if they conflict with the rewrite rules

[code]

[2021-11-22 05:47] qingfengfenga commented on #7945
I use HTTP to test, and the rewrite rule works normally. Is it because rewriting does not support HTTPS？or do I ignore something?

In addition, my certificate needs these three comments. I'm not sure if they conflict with the rewrite rules

[code]

[2021-11-22 09:02] zhdanov commented on #5738
Rollback to version 4.0.6 (ingress-nginx/ingress-nginx) works for me.

[2021-11-22 09:59] longwuyuan commented on #7896
hi, Sorry for delay. Can you kindly show ;
- kubectl get svc -A -o wide | grep -i ingress
- kubectl get ing -A -o wide
- kubectl -n <namespace> describe ing  # for your app
- kubectl -n <namespace> describe svc # for your app
- Your complete curl command
- Your logs of the controller pod for your curl command

[2021-11-22 11:06] Sh1ftry commented on #7837
On each sync the blocklist is logged with error level. Shouldn't it have info level and a bit clearer message like `Checking snippet annotations for blocklist: ...`
https://github.com/kubernetes/ingress-nginx/blob/e57d2f63fa7b30c8125cf308a490419ebf093f61/internal/ingress/controller/store/store.go#L826

[2021-11-22 11:15] longwuyuan commented on #7945
show this information ;
- kubectl get all -A -o wide | grep -i ingress
- kubectl get ing -A -o wide
- kubectl -n <namespace> describe svc <svcname>  # from app namespace
- kubectl -n <namespace> describe ing <ingressname> # from app namespace
- Your complete curl command exactly as you use it
- Your complete logs of the ingress controller pod for your curl command
- What you want to achieve. What

[2021-11-22 11:21] longwuyuan commented on #7951
Does a similar flag work during a fresh new install ?

[2021-11-22 11:28] muffl0n commented on #4628
@nicocti, thank you very much for your comment! This saved my day!

I added a PR to fix the documentation and would be glad for any feedback!

[2021-11-22 13:14] jkabat commented on #7939
I have tried that but unfortunately some FCGI annotations with empty values were blacklisted anyway... so I had to use @morremeyer solution...

[2021-11-22 15:55] carlosescura commented on #7895
Same issue here. No matter what, the new controller was routing all "class" ingress resources, but also the ones with `nginx` name that should be routed by an old ingress controller that I'm still migrating to `spec.ingressClass` from the old annotation style. Using the solution provided by @remytoma-xolver solved my issue. Adding the `extraArgs` solves the issue.

[2021-11-22 19:25] Raag007 commented on #7951
Good call out, let me try that and update this thread. Thank you.

[2021-11-22 20:27] shakaib-arif commented on #5401
@strongjz - In my cluster, I have 3 DNS configured using 6 ingress objects through a single ingress controller.

[2021-11-22 21:06] nnewc commented on #4402
Is there an alternative to this? Because of #7837 server-snippets are disabled in my cluster (RKE2).

[2021-11-23 00:03] Raag007 commented on #7951
@longwuyuan - we see the same behavior with the fresh and existing setup. Unable to create or update the NGINX services with own Service Accounts.

[2021-11-23 01:53] calvinbui commented on #7939
this didn't work for me

[2021-11-23 01:59] longwuyuan commented on #7951
Does this help
https://kubernetes.github.io/ingress-nginx/deploy/rbac/#service-accounts-created-in-this-example

On Tue, Nov 23, 2021 at 5:34 AM Anuraag ***@***.***> wrote:

--
; Long Wu Yuan

[2021-11-23 02:48] qingfengfenga commented on #7945
Thank you

What I need to do is rewrite to 'xxx.xxx.com/' when I access 'xxx.xxx.com/xxx' from the browser

I don't know if anyone has ever had a similar problem

I have done a test, Nginx proxy static files can be rewrite and HTTPS. I suspect that is a question of front-end code, it USES this framework to write https://docs.feathersjs.com/guides/

[2021-11-23 03:14] Raag007 commented on #7951
@longwuyuan the documentation which you've mentioned doesn't tell about how to create NGINX with our service accounts using Helm. Is this something you can help with?

[2021-11-23 04:04] longwuyuan commented on #7951
- I suggest that you install the ingress-controller without your own
service-account first.
- Then use the kubectl command to get a yaml for the serviceaccount.
- Same process for the other RBAC related objects.
- Save a copy of those yaml outputs.
- Then completely uninstall the ingress-controller.
- Then reinstall with your service-account but make sure that your
serviceaccount and other RBAC re

[2021-11-23 05:27] janosmiko commented on #7939
@calvinbui  how did you configure it?

[2021-11-23 06:31] SABERYJS opened #7959 "cors settting not working for me"
ingress config:
[code]
but browser show me cors error:
Access to XMLHttpRequest at 'http://gm.simplethai.t.petaplay.com/user_mgr/userInfo?uid=100001&num=859467525&sig=fb38805d4c9296d7eb42cdea638e6f1e&operator=martin&%E9%98%B2%E5%BE%A1=%E9%98%B2%E5%BE%A1&_=1637648601216' from origin 'http://simplethai.admin.t.petaplay.com' has been blocked by CORS policy: The request client is not a secure context

[2021-11-23 07:13] longwuyuan commented on #7959
/remove-kind bug
/kind support

Does it work if you configure a URL instead of *

[2021-11-23 07:30] SABERYJS commented on #7959
i try your solution,but it is not working

[2021-11-23 07:30] SABERYJS commented on #7959
i try your solution,but it is not working

[2021-11-23 07:35] longwuyuan commented on #7959
Can you show `kubectl describe ing <ingressname>`, and also the curl command

On Tue, Nov 23, 2021 at 1:00 PM SABERYJS ***@***.***> wrote:

--
; Long Wu Yuan

[2021-11-23 07:48] SABERYJS commented on #7959
question is weird

when i access from  one  site:http://game.admin.t.petaplay.com/，cors error happened ，but after that,i write a simple html page,follows:
[code]
nginx domain is  martinye.com
access success
[code]

when i access from another domain  http://game.admin.t.petaplay.com/，cors error same with before
ingress config:
[code]
same  backend service and port execpt  different host，in this sit

[2021-11-23 07:51] SABERYJS commented on #7959
for me question is:
can access from  martinye.com(127.0.0.1,local machine)，but  http://game.admin.t.petaplay.com/ failed，cors  occured

[2021-11-23 09:10] SABERYJS commented on #7959
anyone know why ?

[2021-11-23 09:47] longwuyuan commented on #7959
Check the recent change log

On Tue, Nov 23, 2021 at 2:41 PM SABERYJS ***@***.***> wrote:

--
; Long Wu Yuan

[2021-11-23 09:50] SABERYJS commented on #7959
ingress-nginx-4.0.6

[2021-11-23 10:01] longwuyuan commented on #7945
The original hostname and the rewrite hostname are the same in your email.
Is that a typing mistake.

On Tue, Nov 23, 2021 at 8:18 AM qingfengfenga ***@***.***>
wrote:

--
; Long Wu Yuan

[2021-11-23 10:04] #7025 closed

[2021-11-23 10:15] qingfengfenga commented on #7945
No, let me give you an example

I have a front-end that is normally the root directory to access Google.com

I no longer use the google.com address as the root directory and need to use it to expose the service, google.com/test

There is no routing in the code, so you need to use rewrite of Ingress to do this

As in the documentation example, I used the Nginx proxy static file the way the rewrite

[2021-11-23 12:15] larivierec commented on #7959
4.0.6 does not have my changes however, can you double check to make sure you're sending the "Origin : <any origin>" header?

[2021-11-23 13:41] SABERYJS commented on #7959
client must send Origin:  header ?

[2021-11-23 13:48] larivierec commented on #7959
yes, take a look at the small sequence diagram here:
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

[2021-11-23 14:17] SABERYJS commented on #7959
does  javascript ajax request  set  http header  Origin:  automatic  ?

[2021-11-23 14:37] rouke-broersma commented on #7895
We have this problem with these helm values:

public ingress:
[code]

private ingress:
[code]

[2021-11-23 15:03] larivierec commented on #7959
Not sure, you'll have to check

[2021-11-23 17:03] tjconcept commented on #3183
I suspect http://mailman.nginx.org/pipermail/nginx-devel/2014-February/005036.html is the underlying cause of this.
There's an explanation and a potential workaround here: https://stackoverflow.com/questions/40480528/how-to-set-nginx-uri-to-fix-empty-uri-in-redirect-to-named-location

[2021-11-23 17:06] #7939 closed

[2021-11-23 17:13] jamesmmccarthy opened #7960 "affinity-mode: persistent not very sticky when the original pod mapped via cookie goes away"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.5
  Build:         7ce96cbcf668f94a0d1ee0a674e96002948bff6f
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

------------------

[2021-11-23 18:49] iamNoah1 opened #7961 "Add helm version column to support table in readme"
For a better overview and transparency we should add column to the supported versions overview table that contains the helm version. That way it is easy to see which helm version includes which nginx ingress version.

/kind documentation

[2021-11-23 21:23] strongjz commented on #7961
/triage accepted
/priority backlog
/good-first-issue
/help-wanted

[2021-11-23 21:57] DickChesterwood commented on #7926
I'm also seeing this (in Kops - working ok in EKS). My workaround is to add a policy to the master node IAM Role (before applying deploy.yaml) as follows:
[code]
I've gone back through the github history and had the same 403 error from earlier versions, I have a gut feeling this might be kops recently tightening the policies they add to the master IAM role, rather than an ingress-nginx error.

[2021-11-23 22:10] pachalk commented on #5932
I am getting same issue with ingress-nginx-admission secret, tried editing create and patch job with ingress-ingress-nginx-admission-token-xxxxx still same error. Anyone have solution for this, i am using Chart version 3.11.1 ingress-nginx.
 Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
{"err":"secrets \"ingress-nginx-admission-token-xxxxx\" is

[2021-11-23 23:02] ohadbeck commented on #7961
/assign
Would like to use this as a first issue to familiarize myself with the contributing process.

[2021-11-23 23:26] rikatz commented on #7939
Hey folks.

We released v1.1.0 where the blocklist is empty by default

Please help us: test, check if the breaking change still persists, and also please please please configure at least a small sane default for your environment.

Thanks once more for the patience and help on this!

[2021-11-24 05:44] nmarandi opened #7966 "cannot upgrade ingress-nginx with helm upgrade --reuse-values"
I use this command to upgrade ingress-nginx:

`helm upgrade --reuse-values ingress-nginx ingress-nginx/ingress-nginx`

but I face this error:

[code]

**installed helm chart version: 3.34.0**
**upgrade to: 4.0.10**
**helm version: v3.7.0  and v3.7.1**

without **--reuse-values** it's works.

[2021-11-24 07:21] Lyt99 commented on #4667
@aledbf @rikatz @longwuyuan I'm afraid that the issue still exists in the latest version. Is there any plan to fix this problem?

[2021-11-24 07:37] Lyt99 commented on #4667
/reopen

[2021-11-24 09:25] batleforc opened #7967 "Proxy https://host to https://pod and http://host to http://pod"
**What do you want to happen?**

Hello, I'm in a case where I need to redirect all flux from my ingress domain and subdomain to a pod ( *.<my domain name> and <my domain name>).

If the incoming data come from 443 (https) I want it to go to 443 of my pod and the same for 80

**Is there currently another issue associated with this?**

Not at the moment, just my use case

 **Does it require a partic

[2021-11-24 09:55] amitay-strattic opened #7968 "Add enableServiceLinks override to helm chart to prevent "argument list too long" error"
NGINX Ingress controller
  Release:       v0.43.0
  Build:         f3f6da12ac7c59b85ae7132f321bc3bcf144af04
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.6

**Kubernetes version**
Server Version: version.Info{Major:"1", Minor:"18+", GitVersion:"v1.18.20-eks-8c579e", GitCommit:"8c579edfc914f013ff48b2a2b2c1308fdcacc53f", GitTreeState:"clean", BuildDate:"202

[2021-11-24 10:08] jimmyyyeh commented on #7926
I fix the problem, I add `--api-loadbalancer-type public` with create cluster command

[2021-11-24 10:28] Baklap4 commented on #7966
Getting the same issue. Updating from App version 0.47.0 to 1.0.4 and Chart Version: 3.33.0 to 4.0.6
Also tried upgrading to all version before 4.0.0 but this leads to the same error.

[2021-11-24 10:38] nmarandi commented on #7966
It is possible to export the current values to a file and then reference that file during upgrade:

[code]

[2021-11-24 10:41] Baklap4 commented on #7966
@nmarandi after the upgrade is a normal upgrade with `--reuse-values` possible again?

[2021-11-24 10:44] stevehipwell commented on #7442
We're also seeing this issue, any idea when this will be resolved?

Fundamentally no fields with a max length should be created by concatenating two strings together unless the combined max length of these strings cannot exceed the total max length. To solve this it looks like the arbitrary strings (such as "admission") could be shortened and helper functions could be added to make the strings in

[2021-11-24 11:22] knyttl commented on #7851
🙏

[2021-11-24 11:43] balonik commented on #6996
You can't use `use-proxy-protocol: "true"` with AWS NLB. It must be on the default `false`

[2021-11-24 12:58] mnoskoski commented on #7960
I have a very similar problem here.
I was using ingress in the version: ingress-nginx/controller:v0.34.1
Update to version: nginx-ingress:1.9.1

Curl in the old version nginx:

curl -k -I https://my-app.com/
HTTP/2 307
date: Wed, 24 Nov 2021 10:46:43 GMT
content-type: text/html; charset=utf-8
set-cookie: INGRESSCOOKIE=1637758004.058.315.171085; Path=/; Secure; HttpOnly
cache-control: no-store
loca

[2021-11-24 13:06] hd-deman commented on #6996
@balonik why?

[2021-11-24 13:23] zout opened #7969 "server and configuration-snippet invalid word {"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.5
  Build:         7ce96cbcf668f94a0d1ee0a674e96002948bff6f
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

------------------

[2021-11-24 13:34] kundan2707 commented on #7875
/assign

[2021-11-24 14:41] strongjz commented on #7969
We released 1.1.0 that has the list as an empty list so users can define the annotations of blocked words themselves.  https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.1.0

[2021-11-24 14:43] strongjz commented on #7969
Please upgrade to 1.1.0 and if the issue persists feel free to reopen this issue.

/close

[2021-11-24 14:43] #7969 closed

[2021-11-24 14:46] strongjz commented on #7938
We moved the blocked word to be empty as default and leave it to the users to update the list accordingly.  Please upgrade to v1.1.0 and test.

https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.1.0

If the issue persists please feel free to reopen this issue.

/close

[2021-11-24 14:46] #7938 closed

[2021-11-24 15:05] nmarandi commented on #7966
@Baklap4
it is a helm problem. https://github.com/helm/helm/issues/8026

if the value is defined in both versions, I think no error will happen.

[2021-11-24 15:20] balonik commented on #6996
@hd-deman nevermind, I missed that `externalTrafficPolicy` is set to `Cluster` instead of `Local`.

[2021-11-24 15:43] nickytd opened #7970 "opentracing error: opentracing_propagate_context before tracer loaded"
NGINX Ingress controller
  Release:       v1.0.5
  Build:         7ce96cbcf668f94a0d1ee0a674e96002948bff6f
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kubernetes version** (use `kubectl version`): v1.22.3
helm: ingress-nginx-4.0.9	app. version: 1.0.5

**What happened**:
Ingress configuration update results in:
2021/11/24 15:25:40 [error] 370#370: o

[2021-11-24 15:59] iamNoah1 commented on #6337
/lifecycle active
/triage accepted
/priority backlog

[2021-11-24 16:07] iamNoah1 opened #7971 "Improving Canary Weight Handling"
Follow up of #6337 and #6338

The percentage can be controlled via weight-total and weight. Having weight-total set to 1000 and weight to 2 would specify a percentage of 0,2%. If we allow weight to be a float value, we could simplify the process and remove the need of weight-total.

[2021-11-24 16:19] Jc2k commented on #6748
It would still be nice if this was implemented so that clusters running nginx-ingress weren't easy to fingerprint, like this:

https://search.censys.io/search?resource=hosts&q=%22Kubernetes+Ingress+Controller+Fake+Certificate%22

/remove-lifecycle stale

[2021-11-24 16:26] iamNoah1 commented on #7961
@strongjz just for information adding /good-first-issue automatically adds /help as well. At least AFAIK.

@ohadbeck go for it 👍

[2021-11-24 16:51] iamNoah1 commented on #6287
/lifecycle active
/good-first-issue

[2021-11-24 17:08] Raag007 commented on #7951
Excellent, I will try this and will keep you posted @longwuyuan

[2021-11-24 17:28] pierluigilenoci commented on #7938
@strongjz the new release certainly solves the problem of the breaking changes introduced but it does not solve the request of this issue, to have an elegant way to block certain URLs in an ingress.

[2021-11-24 18:20] #7875 closed

[2021-11-24 19:57] zout commented on #7969
Upgrading to 1.1.0 worked! Thanks!

[2021-11-24 21:08] cmotta2016 opened #7976 "Canary ingress not generating metrics to Prometheus"
NGINX Ingress controller
  Release:       v0.47.0
  Build:         git-7fca35315
  Repository:    https://github.com/kubernetes/ingress-nginx.git
  nginx version: nginx/1.20.1

**Kubernetes version** (use `kubectl version`): v1.18.20

**Environment**: Production

- **Cloud provider or hardware configuration**: AWS
- **Install tools**: kops
- **helm**: ingress-nginx-3.32.0 app version: 0.46.0

**Wh

[2021-11-24 22:27] ansilh commented on #6748
Hi @iamNoah1 , I've submitted a PR, but looks like there are few pending tasks to complete, including the CLA part. This is my first PR, so I might need some time to go through it.

[2021-11-24 22:56] Jc2k commented on #6748
I imagine the team will want it to not break `/nginx_status` and `/healthz` before they accept it, but fingers cross they have an idea on how you can fix it...

[2021-11-25 00:45] longwuyuan commented on #7966
In my experience --reuse values forces use of old image and digest.

On Wed, Nov 24, 2021 at 8:36 PM nader marandi ***@***.***>
wrote:

--
; Long Wu Yuan

[2021-11-25 00:50] longwuyuan commented on #4667
Please open a new issue and kindly help by making sure you provide full complete detailed steps to reproduce the problem. This way someone may be able to at least see the problem exactly as you see it. Prefer on a kind cluster.

[2021-11-25 04:46] theunrealgeek commented on #7872
ingress-nginx is just nginx under the hood and it does [natively support proxying gRPC](https://www.nginx.com/blog/nginx-1-13-10-grpc/), since gRPC uses HTTP/2 as its transport protocol. I don’t believe any special configuration is needed apart from the right config within nginx to handle gRPC correctly.

[2021-11-25 04:52] theunrealgeek commented on #7872
@markofranjic My main suspicion is with the `Path:` filter in your ingress which if it doesn’t match will land in a different part of nginx’s config and might result in the type of error you are seeing. Have you tried setting it to plain `/` like in the docs example if that makes any difference ?

Also just to confirm, the client is connecting to `grpc.example.com` which somehow points to the expo

[2021-11-25 05:09] ansilh commented on #6748
@Jc2k, To serve those urls with SSL handshake rejection enabled via SSH, we need a valid certificate for those urls (and also a way to give those certs). If we serve the Fake certificate for those, there is no point in enabling this, right?

[2021-11-25 05:33] Jc2k commented on #6748
So what I'd expect is for the setting to apply to 80 and 443, but health checks are on a different high port and that can still have the default cert (these are not exposed externally to the cluster so its fine).

[2021-11-25 05:42] Jc2k commented on #6748
E.g. looking at the manifest, the `/healthz` check is used by a `livenessProbe` and `readinessProbe` on port 10254. The probe seems to be setup for http, not https, so hopefully enabling this can still lead that url work on port 10254? Otherwise the pod gets marked as unhealthy all the time.

I'm not sure of a use case for there to be a default vhost on 80/443 at all though, to be clear. I'd be ha

[2021-11-25 06:07] longwuyuan commented on #7872
Just curious.
The traffic from client outside he cluster to the LB+Ingress-Controller is
not HTTP2 right ?

On Thu, Nov 25, 2021 at 10:22 AM Aditya Kamath ***@***.***>
wrote:

--
; Long Wu Yuan

[2021-11-25 06:23] kundan2707 commented on #7196
@mac8005 can you share steps to reproduce it?

[2021-11-25 06:26] kundan2707 commented on #7673
@calvinShan

Please reply to this for further investigation

[2021-11-25 06:33] pvlltvk commented on #7546
Having the same issue as described by @mkreidenweis-schulmngr. We have a http snippet with a custom log_format in one controller and use this log_format in ingresses that belong to this controller. The new version of nginx-ingress-controller's validating webhook rejects this ingresses, because other controllers in the cluster don't have this log_format:
` [emerg] 307#307: unknown log format "prod_

[2021-11-25 06:48] kundan2707 commented on #7684
@stl-victor-sudakov are you planning to contribute on this ?

[2021-11-25 06:51] kundan2707 commented on #7810
@conan-k-chang  any update on this ?

[2021-11-25 07:38] ansilh commented on #6748
Yes, the internal healthz is running on a nonstandard port, but the one for external is explicitly documented to be exposed to port 80 already, so it's covered there.

The nginx status is allowed for local host only, so it's not exposed to outside. Looks to me like this nginx_status is designed for a sidecar container.

[code]
Any other thoughts / suggestions?

[2021-11-25 10:55] kundan2707 commented on #7629
@ChipWolf  issue has been fixed. can you close it now?

[2021-11-25 11:16] #7290 closed

[2021-11-25 11:32] #7629 closed

[2021-11-25 11:48] utamas commented on #7079
Hi @balonik, I might be missing something here why it is not possible. I believe, on the lowest level, `nginx` can do this.
If you have a look on the [listen attribute](http://nginx.org/en/docs/http/ngx_http_core_module.html#listen) on the server block it supports binding to an `address`. So all what ingress controller would need to do is defined two server blocks, one that listens on the external

[2021-11-25 11:53] utamas commented on #7079
Btw, I'm already using two ingress controllers (as you and the internet suggested). I think it is just confusing (and might be even a bit dangerous) and this feature should be either secured or removed.

[2021-11-25 15:08] balonik commented on #7079
Hi @utamas Nginx runs in k8s. The traffic is forwarded from external Loadbalancer to k8s nodes. There is no external or internal IP for Nginx. For Nginx there is only what k8s networking provides.

[2021-11-25 15:53] elwood218 commented on #7950
How to remove from block-list? I don't see that option in helm chart?!

[2021-11-25 16:02] longwuyuan commented on #7960
Is it possible for you to kindly write down a step by step process to
recreate this problem using a kind cluster or a minikube cluster.

On Wed, Nov 24, 2021 at 6:28 PM Marcelo Noskoski Batista <
***@***.***> wrote:

--
; Long Wu Yuan

[2021-11-25 16:29] elwood218 commented on #7950
Ah ok found it (directly in the ingress-nginx values):
[code]

But anyway I was wondering because the documentation says that default is: `""` (empty)

[2021-11-25 21:28] RicardoS840 commented on #6609
Facing similar issue here. Besides the failing to connect to the kubernetes api-server we also were having wrong IP redirects, that is, the nginx-ingress-controller pods send traffic to (aparently but not sure) the correct kubernetes service but the service is pointing to pods IPs that don't match its label

[2021-11-25 23:23] #7295 closed

[2021-11-26 04:27] stl-victor-sudakov commented on #7684
I cannot until I get adequate understanding about the questions I have raised above.

[2021-11-26 05:27] theunrealgeek commented on #7872
So I tried setting up ingress-nginx with an ingress object like mentioned in this issue. I was using this [helloworld](https://github.com/grpc/grpc-go/tree/master/examples/helloworld) example and by default the client in this case doesn’t have TLS setup by default and I got logs pretty similar to the OP’s description:
[code]

A little debugging in nginx revealed that TLS was the problem. So I adde

[2021-11-26 06:46] onimsha opened #7978 "Helm chart should allow adding annotations for admission-webhooks Jobs"
Currently we're allowing to set the annotations for the `controller` , but not in the `admission-webhooks` Jobs. I think we should support it, for example in my use case is i want to add certain annotations to the Jobs to pass the `kube-linter` checks.

Proposed changing following files: `job-patchWebhook.yaml` and `job-createSecret.yaml`
[code]

[2021-11-26 07:49] jastBytes commented on #3426
It looks like I have a similar issue. But after a rollout restart of the nginx ingress controller it works and after a while it stops working. We're using k8s.gcr.io/ingress-nginx/controller:v1.0.5 and it seems that out of a suddon DNS resolving for external auth stops working. Restarting the controller fixes it.

[2021-11-26 09:47] skycyan opened #7980 "IngressClass spec.controller"
## spec.controller: \<value\>, where is the value here obtained? It is also not described in the official kubernetes documentation. Is it the HELM name ("helm -n ingress-nginx ls | awk'{print $1}'")?
[code]

[code]

[2021-11-26 10:19] kundan2707 commented on #7980
/assign

[2021-11-26 10:20] kundan2707 commented on #7980
/remove-kind-bug

[2021-11-26 10:24] kundan2707 commented on #7980
@skycyan  ```controller: k8s.io/ingress-nginx``` is default value in case of nginx ingress controller.
you can find here:
https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/multiple-ingress.md#multiple-ingress-controllers

[code]

[2021-11-26 10:24] kundan2707 commented on #7980
This info can be added to documention but it should be bug.

[2021-11-26 11:20] janethavi opened #7981 "NET_BIND_SERVICE should be parameterized as it is not a required capability"
`NET_BIND_SERVICE` capability should be parameterized as it is not a required capability. This is identified as a security policy compliance by Azure Cloud Defender. When the port binding is `8080` and `8081` this capability will not be required.

[2021-11-26 13:10] allen-servedio commented on #7885
This is closed by #7873

[2021-11-26 13:18] jamesmmccarthy commented on #7960
To clarify, these steps reproduce the issue as reported:

# Delete the old cluster
minikube delete

# Create a fresh cluster
minikube start --memory=4096 --install-addons=true --kubernetes-version=stable --cpus=2

# Setup the deployment, service, and ingress
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/baremetal/deploy.yaml
kubectl apply -

[2021-11-26 16:06] Jc2k commented on #6748
Interesting, thanks for digging into this. From your research into this nothing requires `/healthz` or `/nginx_status` on port 443. Thanks for updating the PR to point that out :) Hopefully the team will like this change.

[2021-11-26 16:25] #7299 closed

[2021-11-26 20:09] utamas commented on #7079
@balonik makes sense. Thanks for explaining.

[2021-11-27 01:43] jsalatiel commented on #7546
I have exactly the same use-case as  @rblaine95 ( split-dns scenario ).
For me this is also a bug and it needs to be fixed.

[2021-11-27 01:55] jsalatiel commented on #7546
@visit1985  matchAnnotations does not seem valid for k8s v1.21.6
error validating data: ValidationError(ValidatingWebhookConfiguration.webhooks[0].objectSelector): unknown field "matchAnnotations" in io.k8s.apimachinery.pkg.apis.meta.v1.LabelSelector

[code]

[2021-11-27 15:56] kundan2707 commented on #7967
@batleforc  can you share detail steps for your use cases ?

[2021-11-27 16:00] kundan2707 commented on #7981
@janethavi  bug label should not be applied on this.
suggested changes used to  be considered based on view of other members too.

[2021-11-27 16:02] kundan2707 commented on #7981
/remove-kind bug

[2021-11-27 16:02] kundan2707 commented on #7980
/remove-kind bug

[2021-11-27 16:09] TommyLike opened #7982 "How can I tell when an ingress object start to work?"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ingress controller
  Release:       v0.35.0
  Build:         git-12150e3
  Repository:    https://github.com/kubernetes/ingress-nginx.git
  nginx version: nginx/1.19.2

**What happened**:
When using ingress-nginx as our service gateway, it would be about 1-2 seconds after internal service g

[2021-11-27 17:34] batleforc commented on #7967
Hello, Yep, no problem.

I actually have one main cluster (Single node microk8s) named weebo for my personal purpose who has direct access to the web with a public ip.
In add to that I have a second cluster named kluster (k3s cluster with 3 node), this one doesn't have a direct acces to the web (no public ip).
I want with the help of weebo to expose kluster to the web (everything that go throught

[2021-11-27 23:55] longwuyuan commented on #7960
I could be wrong but my apoIogies as I myself would not be willing to consider this test as valid. This is because I am unclear of the impact of using the ingress-nginx pod itself as the source of the http requests. Look forward to your thoughts. And hoping someone else also is interested in reproducing this problem.

[2021-11-28 06:09] rra commented on #5547
/remove-lifecycle stale

[2021-11-28 09:37] longwuyuan commented on #7982
The log messages in the ingress-nginx controller pod contain some useful information.
Please come discuss this at kubernetes.slack.com in the ingress-nginx-users channel.

/close

[2021-11-28 09:37] #7982 closed

[2021-11-28 13:27] bmv126 commented on #7950
It is empty in latest release 1.1.0

More info below:
https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.1.0

[2021-11-28 19:38] tarun-asthana commented on #7091
@zhaogaolong would appreciate any leads for detecting this issue.

[2021-11-29 02:19] rikatz commented on #6748
/lifecycle active

[2021-11-29 02:23] rikatz commented on #6748
/triage accepted
/priority important-longterm

Thanks @Jc2k for the issue and @ansilh for the PR.

Let's keep the discussion about this implementation on the PR, (keeping this issue opened until the PR gets merged!)

Also, this makes me think about maybe we should write some blogpost/doc/whatever with sane and good security configurations in ingress. We don't want to break users/cases, but I'm see

[2021-11-29 02:33] #7911 closed

[2021-11-29 03:00] Tomoku-dm opened #7984 "affinity-mode balanced isn't balance for no cookie request"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: openstack + vm
- **OS** (e.g. from /etc/os-release): RHEL8
- **Kernel** (e.g. `uname -a`): 4.18.0-305.el8.x86_64
- **Install tools**:
  - `Please mention how/where wa

[2021-11-29 05:08] avinashbo opened #7985 "Upstream hashing considering the number of ingress objects and ports per backend (service)"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 0.44.0

**Kubernetes version** (use `kubectl version`): 1.19

**Environment**:

- **Cloud provider or hardware configuration**: AWS/EKS
- **OS** (e.g. from /etc/os-release): Amazon linux Version 2
- **Kernel** (e.g. `uname -a`): 5.4.156-83.273.amzn2.x86_64

- **How was the ingress-nginx-controller

[2021-11-29 05:23] longwuyuan commented on #7985
/remove-kind bug

Let us add the bug label after we have some data to post here pointing at the bug.

Have you looked at the nginx.conf that is created in the controller pod. I was wondering if a good analysis was done on the nginx.conf directives when the affinity is not working.

[2021-11-29 05:59] #7927 closed

[2021-11-29 06:23] agile6v opened #7986 "Ingress-nginx controller didn't check the validity of the prefix of annotation."
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

v1.1.0

**Kubernetes version** (use `kubectl version`):

v1.21.5

**Environment**:

- **How was the ingress-nginx-controller installed**:
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.0/deploy/static/provider/cloud/deploy.yaml

**What happened**:

If

[2021-11-29 07:24] ansilh commented on #6748
We have a hardening guide (based on CIS benchmark) ->
https://kubernetes.github.io/ingress-nginx/deploy/hardening-guide/
There is one item in the guide that CIS can improve to include `ssl_reject_handshake,` but this needs to be done on the Nginx core first by CIS.

[code]
Original request Ref:- https://github.com/kubernetes/ingress-nginx/pull/5881

If we keep CIS aside, then we can add a section

[2021-11-29 09:46] longwuyuan commented on #7960
ok. I saw that just now. Apologies.
My current thought is to follow the real use case. I am wondering if the cookie you used persists after the pod was delete by you manually and the endpoint removed from the related service.

I guess we need to reproduce this and check if the same cookie persists.

[2021-11-29 11:33] #7978 closed

[2021-11-29 14:03] jboesh opened #7987 "External OAUTH Authentication not working as described in https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/"
**NGINX Ingress controller version**
[code]

**NGINX Ingress controller version**: v1.0.5

**Kubernetes version**:
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Hetzner cloud
- **OS** (e.g. from /etc/os-release): Ubuntu vm's
- **Install tools**: the cluster is created with: https://github.com/vitobotta/hetzner-k3s

- **Basic cluster related info**:
  - `kubectl get nodes

[2021-11-29 14:08] fculpo commented on #7810
I also face this issue with latest 4.0.12 chart on a 1.19 cluster

It was my understanding that the semverCompare should not input those two family fields but they are still rendered...

[code]

[2021-11-29 15:30] david-woakes-n-able opened #7988 "Allow for rotation of CA certificate for mTLS"
Allow ingress to use two CA certificates to validate client certificates against. This allows for clients that have certificates signed by a CA certificates a grace period in which they can obtain updated client certificates.

[2021-11-29 15:45] awoimbee opened #7989 "Helm Chart: Default namespaceSelector for serviceMonitor"
**What do you want to happen?**
When I deploy the `ingress-nginx` controller to `my-namespace` and set `controller.metrics.serviceMonitor.enabled` to `true`, I want `controller.metrics.serviceMonitor.namespaceSelector` to be set to:
[code]

[2021-11-29 16:30] mxey opened #7990 "Option to disable usage of secrets completely"
Following up from https://github.com/kubernetes/ingress-nginx/issues/7837, as a defense in depth measure we would like to remove the RBAC rules for nginx-ingress to access secrets. We want to avoid having an externally reachable service that can read all secrets in a namespace or the whole cluster.

nginx-ingress still works without access to secrets and we don't use any features that need secrets

[2021-11-29 16:33] #6748 closed

[2021-11-29 19:21] Julia-Melgare opened #7991 "Have the option to use HTTPS for metrics endpoint"
**What do you want to happen?**
When I configure my nginx-ingress deployment, I would like to be able to use an HTTPS metrics endpoint instead of using HTTP. For reference, the nginxinc ingress controller has such a feature available as a flag: https://docs.nginx.com/nginx-ingress-controller/logging-and-monitoring/prometheus/

[2021-11-29 23:38] gmarkey commented on #6876
I am also not seeing nginx provide the intermediate certificate from my tls.crt. Installed from Helm chart v4.0.12.

[2021-11-30 02:16] brsolomon-deloitte opened #7992 "rewrite-target: /$2 causes incorrect Location response header for redirects"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): `Linux 4.14.252-195.483.amzn2.x86_64 #1 SMP Mon Nov 1 20:58:46 UTC 2021 x

[2021-11-30 03:03] brsolomon-deloitte commented on #2993
Still not documented

[2021-11-30 03:59] mirusky commented on #7260
Closed due the amazing documentation PR.

[2021-11-30 03:59] #7260 closed

[2021-11-30 05:56] longwuyuan opened #7993 "Change URL for dashboard manifest in OAUTH example"
/kind documentation
/area docs

The OAUTH example in docs   https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/,   uses a yaml manifest that has a spec for a deprecated api version (for the object of kind deployment).

This is the current link that uses outdated api spec ;
 https://raw.githubusercontent.com/kubernetes/kops/master/addons/kubernetes-dashboard/v1.10.1.yaml

[2021-11-30 06:03] longwuyuan commented on #7987
/remove-kind bug
/kind documentation
/area docs

You are using K8S version 1.22 and you should not be using the api apps/v1beta2 for the object kind deployment.

You can see the information related to this, like below ;
[code]

Since you used a yaml manifest for the dashboard not maintained by this project, it is likely that was the cause of the error. You even said that dashboard after you change

[2021-11-30 06:03] longwuyuan commented on #7993
Apologies as I creatd duplicate of https://github.com/kubernetes/ingress-nginx/issues/7987

[2021-11-30 06:03] #7993 closed

[2021-11-30 06:04] longwuyuan commented on #7987
/assign

[2021-11-30 06:25] longwuyuan commented on #7992
/remove-kind bug
/kind support
/triage needs-information

This does not seem like a bug.
Since the redirect-target annotation works on any cluster, I would suggest that you create a pod using image "nginx:alpine" and exec into the pod and create subdirs under the webroot, for trying out redirect-target annotation.

Or please write precise step-by-step detailed procedure to reproduce the problem, s

[2021-11-30 06:41] longwuyuan commented on #7810
/remove-kind bug

[2021-11-30 06:45] longwuyuan commented on #7989
The servicemonitor integration is not heavily worked on.
@awoimbee   Would you have any interest in contributing with a PR

[2021-11-30 07:47] muffl0n commented on #6876
Try this:
* Create a file with
1. Your certificate
2. Intermediate certificate
* Upload as a secret

This works for me while using the certificate as a default
[code]
->
[code]

[2021-11-30 07:58] AndrewNiven1 opened #7995 "Shift automountServiceAccountToken to deployment spec, rather than serviceAccount spec"
-- What do you want to happen? --

The ServiceAccount created for the controller sets automountServiceAccountToken: true by default. We have a security requirement that no ServiceAccounts have automountServiceAccountToken: true. If we set this setting to false in the SA, the ingress-controller pods fail to deploy as they cannot mount the SA token.

I would like to be able to set automountServiceAc

[2021-11-30 08:05] agile6v commented on #2993
Hi @brsolomon-deloitte @adoo123

Please see [Nginx's docs](http://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_redirect).

`proxy-redirect-from` and `proxy-redirect-to` will replace the first and the second parameter of Nginx's proxy_redirect directive respectively.

[2021-11-30 08:17] kundan2707 commented on #7968
Same issue occured in following version:
[code]
I create 8000 service in same namespace
after restarted nginx ingress controller
recieved following error :
[code]

[2021-11-30 08:33] kundan2707 commented on #7980
@skycyan if it solve you concern you can close this issue .

[2021-11-30 09:38] jboesh commented on #7987
Hi Longwuyyan,
the problem is indeed that you can't apply this yaml because you get that api version error:
`kubectl create -f https://raw.githubusercontent.com/kubernetes/kops/master/addons/kubernetes-dashboard/v1.10.1.yaml
`
I will put up a docs PR for this.

however I can't get the dashboard working with oauth2-proxy.
so when I go to dash.mydomain (in my case) I don't get redirected to the oaut

[2021-11-30 09:44] longwuyuan commented on #7987
Never used dashboard before.

Thanks,
; Long

On Tue, 30 Nov, 2021, 3:08 PM jboesh, ***@***.***> wrote:

[2021-11-30 09:52] jboesh commented on #7987
It's not about the dashboard, you can use oauth2-proxy for all your applications within the cluster right?
I suspect there is an error in the configuration. so in one of the following yamls

my oauth2-proxy.yaml looks like:
https://github.com/jboesh/test/blob/main/oauth2-proxy.yaml

and the ingress of the application (in this case the dashboard but could be any application):
https://github.com/jbo

[2021-11-30 10:28] longwuyuan commented on #7984
This is documentation

[code]

So this is all related to affinity annotation confiured, affinity based on cookie and only after that comes the concept of affinity-mode (taht too during the time when you scale a pod on which affinity is configured in ingress via servervice).

So if you set the affinity annotation and don't use cookies, I am not sure if that is even a valid test for the affinity-mod

[2021-11-30 10:45] longwuyuan commented on #7966
This is not a bug of the ingress-nginx helm chart.
This is more related to how helm works.
You can test this by using custom values for every single key:value pair in the default values.yaml.

Please describe what is the final goal you want to achieve.
If we get enough data during this triage process, that shows buggy behaviour, then we can re-apply the bug label. So for now I will remove the bug

[2021-11-30 11:00] longwuyuan commented on #7987
True. So one good way to test this not use the dashboard but use a deployment using the image nginx:alpine and test if the annotation works or not.

[2021-11-30 11:14] longwuyuan commented on #7990
just curious. have you tried to deploy a modified manifest, after downloading it from https://github.com/kubernetes/ingress-nginx/tree/main/deploy/static/provider

[2021-11-30 12:19] mxey commented on #7990
@longwuyuan I don't understand what you mean. Modified how?

[2021-11-30 12:21] Crazyigor1987 commented on #6335
Managed to fix this, by renaming the Imagelocation from "k8s.gcr.io" to "k8sgcr.azk8s.cn" as described here:
https://github.com/Azure/container-service-for-azure-china/blob/master/aks/README.md

[2021-11-30 12:55] afirth commented on #7810
@longwuyuan I strongly believe there's a bug somewhere here. The updated controller version has no impact.

1. [main readme](https://github.com/kubernetes/ingress-nginx#support-versions-table) indicates K8s 1.19 supported
2. [this](https://github.com/kubernetes/ingress-nginx/blob/30c0d2260d61fb942bb12ebf829e93dcb0b19988/charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml#L2) an

[2021-11-30 12:56] longwuyuan commented on #7990
Edited to remove objects of kind secret.

Thanks,
; Long

On Tue, 30 Nov, 2021, 5:49 PM Maximilian Gaß, ***@***.***>
wrote:

[2021-11-30 13:02] longwuyuan commented on #7810
I think your thoughts are reasonable. But I am hoping to know if using
v0.x.x of the controller is a workaround or not.

Thanks,
; Long

On Tue, 30 Nov, 2021, 6:26 PM Alastair Firth, ***@***.***>
wrote:

[2021-11-30 13:12] longwuyuan commented on #7810
Tuesday December 7th, 2021 is release date for K8S v1.23. I was thinking of
the impact that has on support matrix, in the context of K8S v1.19, with
relevence to the refactoring and PRs, just for supporting older Kubernetes
versions in Ingress-Controller v1.X.X

Thanks,
; Long

On Tue, 30 Nov, 2021, 6:32 PM Yuan, ***@***.***> wrote:

[2021-11-30 13:55] brsolomon-deloitte commented on #7992
Working on an MVCE today but I really don't think this is all that complex of an issue. The backend app redirects to `/hub` via the `Location` HTTP response header and that redirect should be rewritten to `/analytics/jupyter/lab/hub`. That is one of the core purposes of having a reverse proxy in the first place.

[2021-11-30 14:04] wswind commented on #6335
I don't think this will work. The proxy for azure only serves the servers created by azure cloud.  It's not available for others since last april

[2021-11-30 14:36] TechDawg270 opened #7997 "Helm Chart does not support configuration option "proxy-body-size""
**What do you want to happen?**
`proxy-body-size` is [listed as a configuration option ](https://github.com/kubernetes/ingress-nginx/blob/b615a6808d57195c73f2fcf8f82cc9f23329eaba/docs/user-guide/nginx-configuration/configmap.md#proxy-body-size), but is not implemented in the ConfigMap Helm chart template. When setting that value using Helm values files it does not change the associated nginx-ingre

[2021-11-30 15:16] jboesh commented on #7987
Ok what I did after some troubleshooting today:
helm repo add oauth2-proxy https://oauth2-proxy.github.io/manifests
helm repo update
helm install oauth2-proxy/oauth2-proxy --generate-name -f overwrite.yaml

how my overwrite.yaml looks like:
`https://github.com/jboesh/oauth/blob/main/overwrite.yaml`

and how a test application looks like (rancher/hello-world):
`https://github.com/jboesh/oauth/blob/

[2021-11-30 16:17] afirth commented on #7810
I'm working on a fix for this
/assign

[2021-11-30 16:19] #7566 closed

[2021-11-30 16:49] mxey commented on #7990
The problem isn't that nginx-ingress might have some secrets in its deployment manifest, but that it can read secrets globally.

[2021-11-30 21:24] David-Tamrazov commented on #7685
@80kk i'm running into this exact issue right now - could you explain how you got around it (if at all)?

[2021-11-30 23:09] edemen commented on #6851
I have just installed a fresh Ingress and default backend works fine
[code]

[2021-12-01 01:43] TechDawg270 commented on #7997
Upon further review, I did not have that value set properly under `Values.controller.config`. Once changing the value from being nested under `Values.controller` to `Values.controller.config` it is indeed working.

[2021-12-01 01:43] #7997 closed

[2021-12-01 04:59] longwuyuan commented on #7992
Will not happen because you specified that the redirected begins with a
slash "/" and is right away followed by the value of regexp group 2
"$2", implying that the desired path elements "|/analytics/jupyter/lab"
||are not included |

Thanks,
; Long Wu Yuan

On 11/30/21 7:25 PM, Brad Solomon wrote:

[2021-12-01 05:12] longwuyuan commented on #7987
Seeing your yaml is no use.
Show the output of commands which get the live state.
For example ;
- kubectl get all -A -o wide
- kubectl -n <namespace> describe ing <ingressname>
- kubectl -n <ingresscontrollernamespace> logs <ingresscontrollerpodname>
- What was your curl command or the URL you opened in your browser

[2021-12-01 05:14] longwuyuan commented on #7810
ok. that is good news.

Thanks,
; Long Wu Yuan

On 11/30/21 9:47 PM, Alastair Firth wrote:

[2021-12-01 06:46] jboesh commented on #7987
hi!
I executed the commands:
kubectl -n describe ing:
https://github.com/jboesh/oauth/blob/main/kubectl%20-n%20describe%20ing

kubectl get all -A -o wide
https://github.com/jboesh/oauth/blob/main/kubectl%20get%20all%20-A%20-o%20wide

kubectl logs -f -l app=oauth2-proxy
https://github.com/jboesh/oauth/blob/main/kubectl%20logs%20-f%20-l%20app%3Doauth2-proxy

So oauth2-proxy is running on oauth.bumhe

[2021-12-01 07:29] longwuyuan commented on #7987
I have to check more but where did you get this annotation for
"auth-response-headers". I don't see it in the docs.

Thanks,
; Long Wu Yuan

On 12/1/21 12:16 PM, jboesh wrote:

[2021-12-01 07:50] #7980 closed

[2021-12-01 08:10] jboesh commented on #7987
I saw it somewhere on the internet, I just removed it and applied the testapplication Hello again (hello.yaml)
unfortunately same issue ( internal server error )

[2021-12-01 09:04] longwuyuan commented on #7987
Does the ingress-controller pod logs explain anything ?

Thanks,
; Long Wu Yuan

On 12/1/21 1:40 PM, jboesh wrote:

[2021-12-01 09:19] jboesh commented on #7987
May I ask how to retrieve the ingress-controller pod logs?
do you know the command?

[2021-12-01 09:53] longwuyuan commented on #7987
Kubectl -n <controllernamespace> logs <controllerpodname>

Thanks,
; Long

On Wed, 1 Dec, 2021, 2:49 PM jboesh, ***@***.***> wrote:

[2021-12-01 09:54] jboesh commented on #7987
thanks I've just edited my post above

[2021-12-01 11:24] kundan2707 commented on #7986
@agile6v can you share yml file for your ingress?

[2021-12-01 11:24] kundan2707 commented on #7986
/assign

[2021-12-01 13:01] brsolomon-deloitte commented on #7992
@longwuyuan so what would working configuration look like to achieve this?

[2021-12-01 13:15] longwuyuan commented on #7992
Clearly type and describe what is the requested URL and what is the URL you want it to be redirected to. Then I can maybe comment. Thanks

[2021-12-01 13:27] iamNoah1 commented on #5547
/lifecycle active
/triage accepted

[2021-12-01 13:39] iamNoah1 commented on #6851
@slash-ro friendly ping

[2021-12-01 13:40] iamNoah1 commented on #7528
Already implemented

[2021-12-01 13:40] #7528 closed

[2021-12-01 13:59] brsolomon-deloitte commented on #7992
Sure, please let me know if this is clear:

- Load balancer is at `https://xxx.yyy.amazonaws.com`
- I request `https://xxx.yyy.amazonaws.com/analytics/jupyter/lab/`. This is routed via `Ingress` config to the `jupyter-proxy-public` service as described in original question here. This is the service for [JupyterHub](https://zero-to-jupyterhub.readthedocs.io/en/latest/index.html#)
- The page redirec

[2021-12-01 15:43] agile6v commented on #7986
You can create any ingress with an invalid prefix of annotation to reproduce this.

[2021-12-01 16:34] Zyava opened #8004 "Canary ingress makes service it uses unusable for other ingresses"
We still observe this issue with the following `ingress-nginx` version:

[code]

Steps to reproduce:
1. create 2 services:

[code]

2. create 2 ingresses pointing to each of the services from step 1:

[code]

3. create 2 more ingresses which should serve as virtual IP domain, pointing to each of the services from step 1, one normal and one with `nginx.ingress.kubernetes.io/canary: "true"` annotati

[2021-12-01 22:31] longwuyuan commented on #7992
With this specifications, I would suggest ;

- First try to remove all redirect configuration and see the result

- If failure in step above, then you have 2 options

- Option 1 is to set the value of the redirect-annotation to
"/|analytics/jupyter/lab/$2"|

- Option 2 is to use another annotation called "approot" and set its
value to "/|analytics/jupyter/lab|"-

Jupyter notebooks are a heavily us

[2021-12-02 01:09] mareq commented on #6609
Have just experienced exactly the same issue. I have several namespaces deployed automatically using the same template. Was getting either 502 Bad Gateway or 504 Gateway Time-out. At one point even got to the stage when namespace #1 suddenly started to work after deploying different commit, but when deploying the same commit on namespace #2, that one gave 502. Refreshed secrets and restarted pods

[2021-12-02 04:41] phuongleeo commented on #7905
I'm also experiencing this bug, my EKS is 1.18 version

[2021-12-02 04:54] kundan2707 commented on #7986
@agile6v annotations are not fixed.
annotations could be small or large, structured or unstructured, and can include characters not permitted by labels.
[code]
Accordin to above  `kubernetes.io/proxy-body-size: 8m.` is a valid annotation so there is n error.

[2021-12-02 04:56] kundan2707 commented on #7986
/remove-kind bug

[2021-12-02 07:57] changbaihe commented on #5932
me too. i also stuck on this step.
i use the deply file: https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/baremetal/deploy.yaml
os: ubuntu 20.04 ,k8s: v1.22.4
i find there are double secrets, show in follow:
![image](https://user-images.githubusercontent.com/23231392/144379615-95829840-537e-44a8-95fe-dab5f50ec5d9.png)

And, pods logs:
![image](https://user-ima

[2021-12-02 08:00] changbaihe commented on #5932
me too. i also stuck on this step.
i use the deply file: https://raw.githubusercontent.com/kubernetes/ingress-nginx/main/deploy/static/provider/baremetal/deploy.yaml
os: ubuntu 20.04 ,k8s: v1.22.4
i find there are double secrets, show in follow:
![image](https://user-images.githubusercontent.com/23231392/144379615-95829840-537e-44a8-95fe-dab5f50ec5d9.png)

And, pods logs:
![image](https://user-ima

[2021-12-02 08:10] longwuyuan commented on #8004
One can be redirected to default backend for more than one reason.

Please try Controller version 0.50.0 and update with the following info ;

- kubectl get all,ing -A -o wide
- kubectl -n prod describe po  webclient-prod1
- kubectl -n prod describe po  webclient-prod2
- kubectl -n prod describe svc  webclient-prod1
- kubectl -n prod describe svc  webclient-prod2
- kubectl -n prod describe ing  we

[2021-12-02 08:36] Zyava commented on #8004
@longwuyuan I'm sorry but your request is not relevant. I provided output of `curl localhost:10246/configuration/backends` command which clearly shows that there is no upstream created for `webclient-prod2` service (`"noServer": true`).

[2021-12-02 09:24] agile6v commented on #7986
Hi @kundan2707 I mean it is an invalid prefix in the annotation for ingress-nginx controller. Not whether the annotation format is valid.

[2021-12-02 11:37] iamNoah1 commented on #7296
/close

[2021-12-02 11:37] #7296 closed

[2021-12-02 11:38] iamNoah1 commented on #7269
/close

[2021-12-02 11:38] #7269 closed

[2021-12-02 11:56] longwuyuan commented on #8004
This issue https://github.com/kubernetes/ingress-nginx/issues/4667 implies that the backend will be common to 2 ingress objects but based on the field `ingress.spec.rules.hosts` being different, the `upstream` configured in nginx.conf should be different. I will be happy to be proved wrong but I think the value of the field `ingress.spec.rules.http.paths.backend.service` is used to configure upstr

[2021-12-02 12:32] Zyava commented on #8004
Yes, this is setup we wanted to use for our PROD environment but unfortunately we couldn't, since canary ingress makes service it is pointed to unusable for any other ingress. We eventually solved it via creating 2 additional services which leads to more work to keep all services in sync.

[2021-12-02 12:40] NilsGriebner commented on #7905
Here is what I did to get it working

1. Setup permissions for the AWS load balancer controller. I used [this](https://github.com/kubernetes-sigs/aws-load-balancer-controller/blob/main/docs/install/iam_policy.json) policy and bound it to my EKS worker. After that, deploy the AWS load balancer controller e.g. with the [helm chart](https://github.com/kubernetes-sigs/aws-load-balancer-controller/tree

[2021-12-02 12:43] Lyt99 commented on #8004
I believed that 'trafficShapingPolicy' in the backend info via `curl localhost:10246/configuration/backends` is used for the canary behavior.
But the same backend will share between ingress objects point to one service, it can be proved by its naming convention <namespace>-<service name>-<port>, and they are not related to the which host and path you use.

I've met this problem in our customer's p

[2021-12-02 12:46] longwuyuan commented on #8004
I think you should add your nginx.conf of the controller pod here, just for clarity.

[2021-12-02 12:47] Zyava commented on #8004
@longwuyuan VIP is just a name for (sub)domain, we can name it "main" instead. The idea is to switch (sub)domain from one service to another in blue/green manner (similar to how in the past people used to move IP from one VM to another).

Please ignore the naming (it might be not the best) and concentrate on the bug instead...

[2021-12-02 12:53] Lyt99 commented on #8004
Let me give another example:

[code]

we use `svc-prod` service in `base` and `base1` ingress for `test.example.com` and `test1.example.com`.
and then make a canary ingress f or `test.example.com` pointing to `svc-canary`.

we expected that we could access `svc-prod` from `test.example.com` without canary headers (`X-Canary: canary`) and `test1.example.com` with any headers.
but the fact is, when

[2021-12-02 13:21] longwuyuan commented on #8004
Just trying to know what problem you want to solve. Looks like you want
blue/green and Canary working together.

Thanks,
; Long Wu Yuan

On 12/2/21 6:17 PM, Dmytro Zavalkin wrote:

[2021-12-02 13:36] Zyava commented on #8004
No really, basically we want to have both services `webclient-prod1` and `webclient-prod2` to be always exposed on their own subdomains (ingresses) `webclient.prod1.domain.com` and `webclient.prod2.domain.com` and have another **main/VIP/you name it** subdomain (ingress) `webclient.domain.com` which we point to either `webclient-prod1` service or `webclient-prod2` service (or both with canary traf

[2021-12-02 13:51] Lyt99 commented on #8004
I think I know what's going on for @Zyava's problem.
I dig into the code and found NoServer means "skip generating server block in nginx.conf for this upstream". But it actually behaves "skip generating location block for this upstream" at https://github.com/kubernetes/ingress-nginx/blob/c0814c6f784e63f08768a935234afc201cf5a5f2/internal/ingress/controller/controller.go#L648-L650
And when use a can

[2021-12-02 14:19] david-woakes-n-able commented on #7988
No need for this I realise as you can have as many certificates as you like!

[2021-12-02 14:19] #7988 closed

[2021-12-02 15:54] jboesh commented on #7987
is resolved! I forgot to add this line to the custom ingresss-nginx configuration:

[code]

[2021-12-02 15:54] #7987 closed

[2021-12-02 16:18] patrickhuy commented on #7580
/remove-lifecycle stale

[2021-12-02 18:28] brsolomon-deloitte commented on #7844
You can also trigger this with:

[code]

Result:

[code]

[2021-12-02 19:28] brsolomon-deloitte commented on #7992
Okay, I have created a minimal example and think I am halfway to solving it.

Create Dockerfile for Flask app:

[code]

Create Kubernetes manifests:

[code]

Test requesting the service name from another pod (service is ClusterIP):

[code]

Okay - so at this point app "works" and service talks to it properly. Service is default ClusterIP and no Ingress has been introduced yet.

Next deploy ingress

[2021-12-02 21:35] dintel commented on #7896
Hi @longwuyuan
Following are command outputs and logs as you requested.
[code]
[code]
[code]
[code]

curl command: `for i in $(seq 20); do curl web.local; done`
ingress-nginx logs
[code]

[2021-12-02 21:45] brsolomon-deloitte commented on #7992
After pulling my hair out over this one I've come to a simple conclusion: host (subdomain)-based routing is much more painless and requires less configuration on the Kubernetes side. Specifically, I registered a domain with cloud provider, pointed it via A record to the Kubernetes ingress-nginx LoadBalancer service, and:

[code]

This works beautifully since there is no disagreement in the applica

[2021-12-03 00:45] longwuyuan commented on #7896
Sorry if my earlier list of commands was not explicit. I thought the intention was obvious to you. The info you provided is not complete. I don't see the describe output for all the ingresses and all the services.

[2021-12-03 04:44] Srinivas-Karre commented on #5690
@aledbf  looks like this issue exists across the versions, all the production logs gets piled up with this error log.

[2021-12-03 04:55] kundan2707 commented on #7129
@iamNoah1 anyone who want to look into it can proceed.
I am not looking into it atleast now

[2021-12-03 06:17] longwuyuan commented on #8004
Wondering if you are requesting a new feature

[2021-12-03 06:41] Lyt99 commented on #8004
@longwuyuan I wonder if it's by design that canary will take effects in upstream scope, lead to the canary rule can be applied to all ingress objects with the same service (which may not meet our expectation), and in the meantime, a canary service can't be used by another ingress as a primary upstream, cause the controller will not generate rules for it in `nginx.conf`

We've encountered the probl

[2021-12-03 07:27] Zyava commented on #8004
I don't understand how this can be a new feature and not a bug. Service used in a canary ingress can't be used in any other ingress - how come it can be considered as normal? Obviously, this "feature" (canary ingress implications) is currently not document anywhere...

[2021-12-03 08:54] longwuyuan commented on #8004
We can re-apply the bug label when the triaging is completed.
Basic canary functionality seems to be working.
@theunrealgeek any comments on this

[2021-12-03 09:53] hellolittlewei opened #8005 "nginx: [emerg] bind() to 0.0.0.0:80 failed (13: Permission denied)"
[root@web down]# helm get manifest ingress-nginx

---
# Source: ingress-nginx/templates/controller-configmap.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    helm.sh/chart: ingress-nginx-2.0.3
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx
    app.kubernetes.io/version: "0.32.0"
    app.kubernetes.io/managed-by: Tiller
    app.kubernetes.io/compo

[2021-12-03 09:54] markofranjic commented on #7872
Hi, If I understand I need to change the configuration in my C# code?

[2021-12-03 11:27] gdippolito opened #8006 "Allow ingress controller to set default annotations for ingress resources"
When configuring an ingress controller we can set some configuration via the config map. In Helm we can use the `controlller.config` to pass the configuration to avoid having to set those setting as annotations in the ingress resource.

It would be nice to also have a way to set some default annotations that all ingress resources that are using that particular `ingressClass` will inherit.

For exa

[2021-12-03 13:09] longwuyuan commented on #8005
Use https://kubernetes.github.io/ingress-nginx/deploy/
/remove-kind bug
/close

[2021-12-03 13:09] #8005 closed

[2021-12-03 15:03] kundan2707 commented on #7905
@carlcauchi  does above steps solve your issue ?

[2021-12-03 15:31] kundan2707 commented on #7986
@agile6v prefix that you have give which is matching but not same with one of the defined existing prefix.
User can define its own prefix which can be similar to existing prefix or entirely different from existing prefix. both will be valid

[2021-12-03 15:56] theunrealgeek commented on #7872
@markofranjic

Yes, most likely your code right now is not setting up TLS for the gRPC client, so that is what will need to be changed. Ingress->gRPC server will remain plaintext in this case, so that doesn’t need to change.

[2021-12-03 18:07] #7220 closed

[2021-12-03 18:48] jlunaq opened #8007 "Metric to monitor the expiration time of the certificates"
Hi everyone,

I'm looking for a metric which allow me to monitor the certificates expiration time, I saw that this was supported previously but not in the version I'm using which is v3.20.0 can anyone please let me know how can I access to this metric? I have the metrics service enabled but that metric is not being shown

[2021-12-03 22:53] larivierec commented on #8007
hello there, i'm unsure if this answers your question but this metric seems to have been there for a while.
See link below.
https://github.com/kubernetes/ingress-nginx/blob/ingress-nginx-3.2.0/internal/ingress/metric/collectors/controller.go#L126-L134

The regular ingress-nginx grafana dashboard has it : `avg(nginx_ingress_controller_ssl_expire_time_seconds{kubernetes_pod_name=~"$controller",names

[2021-12-04 11:06] raesene commented on #7837
As this is now publicly available, seems like the technical details in the HackerOne report for this issue could be useful for people looking to design/test mitigations https://hackerone.com/reports/1249583

[2021-12-04 14:40] kundan2707 commented on #7582
/remove-lifecycle stale

[2021-12-04 14:41] kundan2707 commented on #7582
@yukihonhk  friendly ping
please provide detail information to work on

[2021-12-04 14:41] kundan2707 commented on #7582
/assign

[2021-12-05 17:02] longwuyuan commented on #7328
/reopen
/important-longterm

[2021-12-05 21:28] xeor commented on #5401
I have a cluster where I use renovate to keep versions up to date. I redeploy the cluster almost every day, but the last couple of days, maybe a week, I have started seeing this error as well. Both the mentioned certificate issue, but also a timeout.
This have recently started happening, so this issue might have just become worse in the last couple of releases..

I have ~25 ingresses and run the i

[2021-12-06 02:30] #7135 closed

[2021-12-06 04:12] kundan2707 commented on #8006
@gdippolito  few annotations are already available with empty values. I think for some annotations to set some default value  at first we need to identify annitations which are generic in all cases inclucing rare used cases too.

[2021-12-06 09:48] elmariofredo opened #8010 "Official custom-error-pages image"
Build officially published [custom-error-pages](https://github.com/kubernetes/ingress-nginx/tree/main/images/custom-error-pages). If someone needs custom error pages there is no need to build custom image as we can map error pages from ConfigMap.

Please see my example gist https://gist.github.com/elmariofredo/6f99144f448c3b1f271c67069e6665bb. I did dig up image k8s.gcr.io/ingress-nginx/nginx-erro

[2021-12-06 13:40] brianharwell commented on #7222
/remove-lifecycle stale

[2021-12-06 14:14] antoineozenne commented on #6381
/remove-lifecycle stale

[2021-12-06 18:30] kd7lxl commented on #7196
The k8s API reference [defines `pathType: Prefix`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#httpingresspath-v1beta1-networking-k8s-io) and matching only on `/` boundaries:

Looks like this change in behavior was introduced here: https://github.com/kubernetes/ingress-nginx/commit/3f153add004e5265dd96ee920408a05499d352af#diff-afa0090e525757d0d04c207718b0d7dbf0961d2ccd9a4e

[2021-12-06 18:44] anuj0701 commented on #5401
It seems there are multiple errors for "failed calling webhook "validate.nginx.ingress.kubernetes.io": Post "https://ingress-nginx-controller-admission.ingress-nginx.svc:443/networking/v1/ingresses?timeout=10s": **<here>**

Like below:
1. context deadline exceeded
2. x509: certificate signed by unknown authority
3. Temporary Redirect
4. EOF
5. no endpoints available for service "ingress-nginx-cont

[2021-12-06 19:26] jyee021 opened #8016 "Support for Nginx version v1.21.x?"
Are there plans to adopt a later version of Nginx v1.21.x?  Looking at the change log, it appears there was adoption of Nginx  v1.20.1 with Ingress-nginx version v1.0.0, but that was retracted? Any history on why?

[2021-12-06 19:56] rikatz commented on #5667
/lifecycle frozen

[2021-12-06 21:09] regnaio commented on #1573
Apologies for the bump, but I was wondering if this is still the case today?

I'm currently trying to implement a similar setup. Thank you!

[2021-12-06 21:52] mouchar commented on #6358
I stumbled into this issue while troubleshooting the closely related problem. We use custom SSL port 5443 for ingress-controller instead of standard 443, but ingress-nginx always sends `X-Forwarded-Port: 443` to our backend. Sad thing is that even sending this header from the client to nginx doesn't help, it always returns a constant 443 value, regardless of $server_port. I believe the problem is

[2021-12-06 23:01] brsolomon-deloitte opened #8017 "Termination of TLS in Load Balancer with Helm chart config"
https://kubernetes.github.io/ingress-nginx/deploy/#aws shows the direct application of a YAML manifest using `kubectl apply -f`. It is confusing / unspecified whether applying this file will function as a patch on existing resources that have been deployed with the Helm chart.

What is the suggested workflow for configuring termination of TLS in the Load Balancer, when the ingress-nginx Helm chart

[2021-12-06 23:16] brsolomon-deloitte commented on #8017
There is also no mention of the change to a port named `tohttps` on 2443.

[2021-12-07 00:14] brsolomon-deloitte commented on #8017
Edit: Just a little scary to see it is actually done through a [shell script](https://github.com/kubernetes/ingress-nginx/blob/987a721723d9a7849aa25a40e48bd6cad5ac2dc7/hack/generate-deploy-scripts.sh)

[2021-12-07 03:48] longwuyuan commented on #8017
Recommend https://kubernetes.github.io/ingress-nginx/deploy/#tls-termination-in-aws-load-balancer-nlb

/remove-kind bug
/kind documentation
/area docs

[2021-12-07 03:56] longwuyuan commented on #8016
Retracted because building and applying patches/fixes worked better. History is in the CVE bug you can get from a search of issue.

[2021-12-07 06:36] #7312 closed

[2021-12-07 12:02] akshat-crypto commented on #6506
![image](https://user-images.githubusercontent.com/64367344/145025534-f9136488-3448-4836-9998-4b55f39498ae.png)

I am still facing this issue. Did anyone find the solution for this
minikube version: v1.23.2

[2021-12-07 13:13] webwurst commented on #4781
Possible follow-up: https://github.com/kubernetes/ingress-nginx/issues/7546

[2021-12-07 14:10] brsolomon-deloitte commented on #8017
@longwuyuan your reply includes the first link used in my original question, which is the very part of the documentation that this issue is about in the first place.

[2021-12-07 14:50] longwuyuan commented on #8017
Need some clarification here.

These words
[code]
seem to imply, that there are some possibilities, of that yaml file, being a patch of sorts, over and above and after a `helm` based installation of the ingress-nginx controller ?

If I am reading it wrong, I apologise. But if otherwise, then just want to state the obvious that `installing using helm` and `installing using the yaml file` are indepe

[2021-12-07 15:07] brsolomon-deloitte commented on #8017
Correct. So understood that it is not intended to function as an idempotent patch. Thank you for clarifying.

Considering that information, it seems like the suggested approach is not idiomatic and falls victim to several anti-patterns:

- Using the already-templated `deploy-tls-termination.yaml` is incompatible with an existing Helm-based deployment
- The docs suggest / imply that I should manual

[2021-12-07 15:28] longwuyuan commented on #8017
The recommendation begins and ends with that yaml. That's the curated part
and it works.

Users with insight opt to not use that curated yaml. I don't see ambiguity
yet but please feel free to submit a PR.

Thanks,
; Long

On Tue, 7 Dec, 2021, 8:37 PM Brad Solomon, ***@***.***> wrote:

[2021-12-07 16:40] #6337 closed

[2021-12-07 17:23] strongjz commented on #7960
/assign strongjz

[2021-12-07 17:34] strongjz commented on #7196
/assign @kd7lxl

[2021-12-07 17:34] JustinAvaLabs commented on #5524
/reopen

[2021-12-07 17:34] JustinAvaLabs commented on #5524
/remove-lifecycle rotten

[2021-12-07 17:34] strongjz commented on #7196
/priority longterm-important
/triage accepted

[2021-12-07 17:34] JustinAvaLabs commented on #5524
Were there any solutions to this issue?

[2021-12-07 22:48] k8s-triage-robot opened #8020 "Create a SECURITY_CONTACTS file."
As per the email sent to kubernetes-dev[1], please create a SECURITY_CONTACTS
file.

The template for the file can be found in the kubernetes-template repository[2].
A description for the file is in the steering-committee docs[3], you might need
to search that page for "Security Contacts".

Please feel free to ping me on the PR when you make it, otherwise I will see when
you close this issue. :)

[2021-12-08 00:23] strongjz commented on #7554
/lifecycle frozen

[2021-12-08 03:04] macropin commented on #7079
I'm not sure if this is related to the above, or a separate issue. But it seems that defining an internal load balancer also exposes the (public) cluster nodes to the internet on port 80/443. A rule similar to `k8s-fw-xxxxxx Ingress IP ranges: 0.0.0.0/0	tcp:80, 443` is added which is undesirable.

[2021-12-08 04:21] justaugustus commented on #8020
Thank you for creating a SECURITY_CONTACTS file. Please `/close` the issue.
/close

[2021-12-08 04:21] #8020 closed

[2021-12-08 06:19] aldemira commented on #5401
I'm having the same issue on a bare metal Debian 11 installation with flannel 1.15.1, and it turns out this is a problem with the flannel itself. Switching from vxlan to host-gw did it for me. Here is the issue I created:
https://github.com/flannel-io/flannel/issues/1511

[2021-12-08 10:45] agile6v commented on #7325
Hi @caruccio @aliencrash

`proxy-buffering` is turned off by default in ingress-nginx-controller. You should turn it on by setting annotation `nginx.ingress.kubernetes.io/proxy-buffering` to `"on"`. Otherwise, it will not cache anything.
And if the proxied server doesn't return `Cache-Control` or `Expires` header,  you can set a default cache time by `proxy_cache_valid 200 10m;` to cache the respo

[2021-12-08 11:29] sherifabdlnaby commented on #7811
I think this is becoming very important after [ #7837 - CVE-2021-25742](https://github.com/kubernetes/ingress-nginx/issues/7837) because we can't mitigate it without disabling the `*-snippet` annotations and the only method to add custom headers per ingress Object is using `configuration-snippet`...
[code]