[2022-01-24 13:22] longwuyuan commented on #8182
/triage-accepted

[2022-01-24 13:27] longwuyuan commented on #8182
/triage accepted

[2022-01-24 14:34] #8122 closed

[2022-01-24 14:55] strongjz commented on #8161
For right now it would have to be manual unfortunately as the Configmap is created outside helm and helm does not know about it. We would have to add it to the helm chart and update the code that manages the configmap, so that will take a little longer. I know this is not the answer you'd like to hear.

[2022-01-24 16:20] janosi opened #8183 "Support of multiple cookies from external authentication services without snippets"
The Kubernetes Ingress contoller supports the authentication of the incoming requests with an external authentication service. For example: https://kubernetes.github.io/ingress-nginx/examples/auth/oauth-external-auth/

If we consider the concrete example of the usage of the oauth2-proxy, and especially when it is used in the "cookie store based session management" mode: in many cases the session d

[2022-01-24 22:20] jemag commented on #8144
Before the current migration FAQ was there a note in the documentation regarding having to separate multiple ingress controllers in their own namespace?

I have not seen one, but I might have missed it. If there wasn't such a note,  I think a lot of people (like me), might have already done their setup with multiple ingress controllers in the same namespace, and, after upgrade, are just now realiz

[2022-01-24 23:16] larivierec commented on #8108
Hey there,

I'm unsure if that's necessary, isn't something like this what you need?

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#forwarded-for-header

[2022-01-24 23:28] larivierec commented on #8168
Hey there, so having a quick look this is an issue directly during parsing of annotations.
https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/annotations/cors/main.go#L135

It happens when everything in the slice is invalid. If one turns out to be invalid then it works fine.
Probably find a better way to do this.

[2022-01-25 01:17] bithavoc commented on #8108
@larivierec thanks for your answer, the solution you propose would work when the entire nginx is behind a proxy so it affects all locations at nginx level(ConfigMap), what I’m suggesting here would allow plugins to selectively modify the header per location.

there is no current annotation for ingress that allows to change the x-forward-header per ingresss, so a plug-in that does it would do.

tho

[2022-01-25 03:24] longwuyuan commented on #8168
@larivierec  I did not test yet but did you mean , the below works without panic ;
[code]
I have to check but there is no protocol in the last FQDN in thsi example and secondly the last FQDN is actually a repeated one.

So what invalidates and causes the panic. The missing protocol or the repeat

[2022-01-25 05:17] #7551 closed

[2022-01-25 06:34] L1ghtman2k commented on #8168
@longwuyuan, I think @larivierec meant: If one turns out to be ~~invalid~~ valid then it works fine.
The to answer your question:
If protocol is missing in ALL of the FQDNs(no matter what FQDNs are), then it will cause the panic

[2022-01-25 06:45] longwuyuan commented on #8168
Thanks @L1ghtman2k . I am not a developer and these are times I wish I was.
So this still comes down to checking & better handling of the value.
Have to wait for developer time on this, unless someone here wants to send a PR to do at least a validity check. And now that you think of it, a test is also needed in the CI.

[2022-01-25 09:07] SpecialYang commented on #8142
Is there an official document (e.g., RFC) to explicitly define these corner cases? @longwuyuan

[2022-01-25 11:59] toredash commented on #7330
@narqo
Did you try the suggested change to add a preStop hook to the affected deployment?

nginx will poll the k8s api at 1s interval for an updated EndPoint-list.
Source:
https://github.com/kubernetes/ingress-nginx/blob/362c97bd0976affb3d82074b65d46ae3f597692d/rootfs/etc/nginx/lua/balancer.lua#L25

For large endpoints, it can take time to compute the new list and reload the nginx procress. The re

[2022-01-25 12:53] larivierec commented on #8168
Yes exactly, my fault mobile keyboards cause more confusion sometimes than help.

Thanks for the clarification

[2022-01-25 15:45] mkasinat opened #8184 "IP Based restriction not working on ingress resource"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kops/minikube/kind etc.

[2022-01-25 18:39] maxisam commented on #8052
I have this problem as well. This one should be in the document.

IMHO, this part is not really clear to show how to preserve IP Address

And thanks to @xom4ek. Mine is working correctly now.

My setup is MetalLB + Weave

[2022-01-25 20:20] NeckBeardPrince commented on #8059
Running into this same issue when running locally for dev after upgrading from `0.45.0` to `1.1.1`.

`0.45.0` - Locally, we define a dummy maxmind license. You can see that though nginx did error, it didn't crash, and it continues to boot without problems.

[code]

`1.1.1` - Same set up and configuration, just updated version. The pod crashes and keeps looping. If I remove the `--maxmind-license-k

[2022-01-26 06:36] kd7lxl commented on #8059
The current behavior is to fatal when Maxmind license is defined and the database cannot be downloaded. There are various reasons this is desirable, such as compliance requirements that certain countries be blocked, etc.

One way to work around a Maxmind outage is to run a Maxmind mirror or caching proxy for your organization. This is recommended as a best practice by Maxmind to minimize load on t

[2022-01-26 06:40] harshasrimal opened #8187 "Can't read ingress-nginx controller pod's logs after configuring filebeat"
currently we are working on persist ingress-nginx logs,we implemented filebeat sidecar put forlogs to logstash,but we cannot read acces.log and error.log this path{/var/log/nginx/access.log} now we required read logs for this path, please give solution for this issue

ingress-nginx deployed manifest files like this

filebeat configmap

[code]

deployment file

[code]

[2022-01-26 08:55] SpecialYang commented on #8142
In this doc https://kubernetes.github.io/ingress-nginx/how-it-works/#building-the-nginx-model, i found that routes defined in more than one ingresses with the same host will be merged. Which is right direction?

[2022-01-26 09:50] NeckBeardPrince commented on #8059
I don't believe that, when the database was unable to be downloaded, nginx would disable Maxmind in `0.45.0`, without fatal.

This ```The GeoIP2 feature is enabled but the databases are missing. Disabling```  message alone does not support your claim. As I pointed out above in `0.49.0` a new feature https://github.com/kubernetes/ingress-nginx/pull/7242 to retry Maxmind downloads was added. This fe

[2022-01-26 10:18] longwuyuan commented on #8184
Because there is no data posted here that points at a possible bug or a problem in the controller, we can change this to kind support for now and apply the bug lable after the bug related data is posted
/remove-kind bug
/kind support

[2022-01-26 12:43] kundan2707 commented on #7572
/remove-lifecycle rotten

[2022-01-26 12:59] yankay opened #8189 "Replace go get with go install"
Starting in Go 1.17, installing executables with go get is deprecated.  ​go install may be used instead.

When we run `make misspell ` , there are some suggestion for us to upgrade :

![企业微信截图_1643201945251](https://user-images.githubusercontent.com/1469319/151167123-0eefc748-ee46-4b08-b3d2-0383f5662260.png)

Should we  refactor he scripts to use  `go install`

[2022-01-26 14:21] tao12345666333 commented on #8189
/assign

Thanks

[2022-01-26 14:59] mason-liu opened #8192 "doc: incorrect link in user-guide/tls/#automated-certificate-management-with-cert-manager"
For document https://kubernetes.github.io/ingress-nginx/user-guide/tls/#automated-certificate-management-with-cert-manager there is link "full example" (https://cert-manager.io/docs/tutorials/acme/ingress/) of cert-manager, but it does not exist, seems it has been changed to https://cert-manager.io/docs/tutorials/acme/nginx-ingress/

/kind documentation
/remove-kind bug

[2022-01-26 15:01] mqxter opened #8193 "enabling open tracing creates a dependency on the tracing endpoint"
adding this:
enable-opentracing: "true"
jaeger-endpoint: "http://otel-traces.observability.svc.cluster.local:14268/api/traces"
to enable tracing creates a dependency on the tracing endpoint
for example if the tracing endpoint is unanavalable nginx crashes with the following error:

Failed to construct tracer: Cannot connect socket to remote address { family=2, addr=xxxxxxxx, port=14268 }\nnginx: [

[2022-01-26 15:04] iben12 opened #8194 "kubectl plugin cannot be installed on Apple Silicon (darwin/arm64)"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
n/a

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.4", GitCommit:"b695d79d4f967c403a96986f1750a35eb75e75f1", GitTreeState:"clean", BuildDate:"2021-11-17T15:48:33Z", GoVersion:"go1.16.10", Compiler:"gc", Platform:"darwin/arm64"

[2022-01-26 15:06] longwuyuan commented on #8192
Hi,
Thanks for reporting this. Can you submit a docs pr.

Thanks,
; Long

On Wed, 26 Jan, 2022, 8:29 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-01-26 15:23] Naeim-Zarei commented on #8192
Hi @longwuyuan,

I am working on this issue and will submit a pull request once I am done.

Thank you!

[2022-01-26 16:00] kd7lxl commented on #8059
There was no retry attempt in your test case because `401 Unauthorized` is an unrecoverable error. 4xx errors mean the client has done something wrong and needs to fix it. In this case, the license key is wrong. No amount of retrying will fix that, so it doesn't retry this case. This is best practice when writing API clients. The desired and implemented behavior for this case in ingress-nginx vers

[2022-01-26 16:30] tao12345666333 commented on #8192
@Naeim-Zarei Thanks!

/assign @Naeim-Zarei

[2022-01-26 16:34] tao12345666333 commented on #7627
#8194  is another case.

I'm sorry for the delay, but I should be able to make time for it this week.

[2022-01-26 17:12] strongjz commented on #8192
/triage accepted

[2022-01-26 17:21] nwaelti commented on #6135
We have the exact same problem with ingress-nginx 1.1.1 on bare metal (deployed https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/static/provider/baremetal/deploy.yaml). Its a brand newly installed cluster on kubernetes 1.21.9...

[2022-01-26 18:17] OmarHawk commented on #7758
Hi,

I also just stumbled upon this and I think it was once working with PR #4958, but got then reverted with PR #6170. This is because in

https://github.com/kubernetes/ingress-nginx/blob/922e27fea7a2409f2a23a741b939ddfe01130324/rootfs/etc/nginx/template/nginx.tmpl#L1286

the variable $pass_access_scheme is used. While the comment of #6170 says it is working like that assuming the value is proper

[2022-01-26 18:40] OmarHawk opened #8195 "use-forwarded-headers config is ignored/bugged for X-Forwarded-Proto header"
Hi,

I just stumbled upon this and I think it was once working with PR #4958, but got then reverted with PR #6170. The configuration option use-forwarded-headers is ignored / unvoluntarily not being used for the transfered X-Forwarded-Proto header.

This is because in

https://github.com/kubernetes/ingress-nginx/blob/922e27fea7a2409f2a23a741b939ddfe01130324/rootfs/etc/nginx/template/nginx.tmpl#L12

[2022-01-26 19:56] iamNoah1 commented on #8170
/triage accepted
/priority important-soon

[2022-01-27 01:21] mmuric-sigsci commented on #7510
I'm still getting the same error when working with v.1.0.1.  - for the versions v.0.x.x, everything works fine.
Can you please follow up with the progress on this case?

[2022-01-27 02:52] #8189 closed

[2022-01-27 07:15] kundan2707 commented on #6919
/remove-lifecycle rotten

[2022-01-27 07:17] kundan2707 commented on #6919
@kartikeyachoudhary  Are you still facing issue?
If yes please provide information in issue templet. it will make all required information available for further investigation

[2022-01-27 07:18] kundan2707 commented on #6919
If your issue isresolved you can close this issue

[2022-01-27 07:19] kundan2707 commented on #6919
/triage need-information

[2022-01-27 07:51] kundan2707 commented on #8187
@harshasrimal can you provide infrmation in defined issue templet.
THis will help to get other information required to proceed further

[2022-01-27 07:51] kundan2707 commented on #8187
/kind support
/triage needs-information

[2022-01-27 07:59] iamNoah1 commented on #7510
@mmuric-sigsci is it an option for you to upgrade to the latest version?!

[2022-01-27 08:52] iamNoah1 commented on #8168
/priority important-soon

[2022-01-27 09:50] tegioz opened #8197 "Invalid `artifacthub.io/changes` annotation in Helm chart"
Hi!

This is Sergio, from Artifact Hub 👋

The entries in the AH changes annotation in the `ingress-nginx` [Chart.yaml](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/Chart.yaml) file are not valid. I think this issue was introduced in [this commit](https://github.com/kubernetes/ingress-nginx/commit/fc38b9f2aa2d68ee00c417cf97e727b77a00c175#diff-e72ddd685185c5bc7e7b0a56fc

[2022-01-27 09:52] kundan2707 commented on #8197
/assign

[2022-01-27 09:58] tegioz commented on #8197
Just in case it helps, AH has a [linter](https://artifacthub.io/docs/topics/cli/) that you can include in your CI workflows to catch this kind of errors early on. You can see an example of how it can be integrated [here](https://github.com/artifacthub/hub/blob/aa600286420fa901b0b71ba464eeb0d6fcfabc21/.github/workflows/ci.yml#L28-L38).

[2022-01-27 11:51] dfgrosso opened #8198 "Ingress Controller along with Service Mesh"
Hello everyone.

I'm just looking for tips here. I've been reading about Ingress Controllers and Services Meshes and I think I've understood the scope of each one: Ingress Controller for North-South traffic, Service Mesh for East-West traffic. From the theoretical POV seems very clear.
The problem was when I've started comparing tools.

1- Is ISTIO an Ingress Controller or Service Mesh or both? If

[2022-01-27 11:56] jsalatiel commented on #8059
"Another solution could be some way for you to declare that download failures are allowed in your systems, or **allowed only when a file is already present**. Maybe a new config option could be added to allow you to define this policy."

For me the best solution would be this one.

[2022-01-27 13:03] longwuyuan commented on #8198
Hi,
Istio is a mesh. This project is a ingress-controller that is based on Nginx and this project is not a mesh. Please see the docs of this project for information on how to use it.
For further questions like this, talk on ingress-nginx-users channel at kubernetes.slack.com. Its not possible to track new-user questions on github issues as there is shortage of resources. THanks.

/close

[2022-01-27 13:03] #8198 closed

[2022-01-27 13:08] longwuyuan commented on #8197
@tegioz thanks so much for helping us understand this, This was a mystery as to why the latest release was not showing up.

Is this a a valid line ;
[code]

[2022-01-27 13:11] longwuyuan commented on #8197
@kundan2707 can we talk on slack about this.

[2022-01-27 13:42] tegioz commented on #8197
No worries 🙂

I don't think so, when using certain characters in yaml (like `{}:[],&*#?|-<>=!%@`) it's best to quote them. Also, the changes view won't display markdown that way, so those links wouldn't be displayed as you may expect. If you want to include links I'd suggest using the structured format that supports them:

[code]

[2022-01-27 13:54] longwuyuan commented on #8197
@tegioz , thanks tons for this help. I was attempting to have links show up in the changelog and hence we landed here. How do others do it normally. Does everyone use the  structured format. I don't think it will make it easier for us to use structured format as we are generating the changelog manually https://github.com/kubernetes/ingress-nginx/blob/main/RELEASE.md .  So we might as well just rem

[2022-01-27 13:58] e3b0c442 commented on #6135
Seeing the same here, also a brand new cluster, k3s v1.22.5 (yes, I disabled traefik), installed with Helm chart 4.0.16. Default values used across the board in the Helm chart, except for setting the LoadBalancer IP.

[2022-01-27 14:35] tomikonio commented on #3837
Hi,
If this cannot be enabled in a per `ingress` resource basis, can we use a `server-snippet` or a `configuration-snippet` annotations instead ?

[2022-01-27 15:26] naseemkullah opened #8200 "prometheus metrics: add `path` label to `nginx_ingress_controller_requests`"
Since `path` is the ingress path, not the complete URI in NGINX, the cardinality is low, can we have this in `nginx_ingress_controller_requests`?

_Originally posted by @naseemkullah in https://github.com/kubernetes/ingress-nginx/issues/2924#issuecomment-1023329833_

use case: filter out health checks from external sources (e.g. [route53](https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/h

[2022-01-27 15:26] tegioz commented on #8197
You can also quote the full string if you'd like to keep it, this should work fine:

[code]

[2022-01-27 15:39] longwuyuan commented on #8197
Thanks a lot again. This helps a lot. Kundan kindly let us sync on slack.
RELEASE.md also needs update accordingly.

Thanks,
; Long

On Thu, 27 Jan, 2022, 8:56 PM Sergio C. Arteaga, ***@***.***>
wrote:

[2022-01-27 17:37] tao12345666333 commented on #8197
Just open a PR to add `ah lint` and fix the wrong format. #8204

[2022-01-27 17:45] tao12345666333 commented on #8200
SGTM.

[2022-01-28 00:37] jacobgad commented on #7686
If you quit docker desktop and then manually start it again the ingress controller started working again for me.

[2022-01-28 04:02] #7568 closed

[2022-01-28 07:32] gtrubach commented on #7724
/remove-lifecycle rotten

[2022-01-28 13:22] VengefulAncient commented on #7103
/remove-lifecycle stale

[2022-01-28 14:16] #8197 closed

[2022-01-28 17:59] yashodhanmohan commented on #7884
@dannysauer  @strongjz

The [tip at the top of the page](https://github.com/kubernetes/ingress-nginx/blob/65b8eeddec3ee6695587a67fd131e699159788d3/docs/user-guide/nginx-configuration/annotations.md?plain=1#L5-L8) mentions that annotation keys and values can only be strings and that other types must be quoted.

Do you think readers are missing out on it? In which case, how can we highlight it? I ca

[2022-01-29 02:55] longwuyuan commented on #8192
@Naeim-Zarei , please check my comment sin your PR.

I think @tacf has already changed that URL in his PR https://github.com/kubernetes/ingress-nginx/pull/8203

[2022-01-29 10:11] iamNoah1 commented on #8200
/kind feature
/priority important-longterm
/triage accepted

@naseemkullah please use the issue template in the future :) thx

[2022-01-29 11:49] glyhood opened #8206 "doc: Broken link for deploy.yaml for AWS NLB with TLS Termination"
There's a broken link in the documentation https://kubernetes.github.io/ingress-nginx/deploy/#aws which needs to be updated.

The deploy.yaml links in the AWS section should be updated/fixed for the TLS TERMINATION IN AWS LOAD BALANCER (NLB)

This doesn't work: https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/static/provider/aws/nlb-with-tls-termination/deploy.ya

[2022-01-29 12:12] #7435 closed

[2022-01-29 12:12] #7573 closed

[2022-01-29 14:10] longwuyuan commented on #8206
@glyhood , Thanks for reporting this. Verified that controller version in the URL is broken.
Now we need to figure out root cause and if other manifests also are broken.

@afirth , can you help on this. Need to know if there is any impact from kustomize based manifest generation and if other static manifests path also needs changing.

[2022-01-29 14:11] longwuyuan commented on #8206
/triage-accepted
/kind documentation
/area docs

[2022-01-29 14:11] longwuyuan commented on #8206
/remove-kind bug

[2022-01-29 14:15] longwuyuan commented on #8206
Just checked the GKE URL works with the controller version.
That means the problem is unique to https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml
And at least one uniqueness is that its under a subdir of the deploy subdir (double subdirs)

[2022-01-29 14:21] afirth commented on #8206
/assign @afirth

[2022-01-29 14:31] naseemkullah commented on #8200
ok, will do :)

[2022-01-29 14:40] afirth commented on #8206
This manifest was always a special case, aws is the only provider with two different manifests. Previously it was at `deploy-tls-termination.yaml`. I moved it to a subdir in #8099. The problem, I believe, is that the docs for latest follow `main`, not what was released. Since the manifest doesn't exist in the controller-v1.1.1 branch I don't really see how it can be fixed until the next release, b

[2022-01-29 15:01] longwuyuan commented on #8206
Thanks. Let's keep it open for now. Trying to make a chart release soon.
App release needs others input.

Thanks,
; Long

On Sat, 29 Jan, 2022, 8:11 PM Alastair Firth, ***@***.***>
wrote:

[2022-01-29 15:11] afirth commented on #8206
:+1: sounds good. I think the ideal solution would be to have versioned docs like e.g. [cert-manager](https://cert-manager.io/docs/). old, stable, next. But these are available in markdown form in the repo so :shrug:

[2022-01-29 15:14] longwuyuan commented on #8206
On another thought, the GKE manifests are "following the release". Do you
have any comments on what will url for other providers after next app
release. And if the ghpages website will update links in that kunctl apply
box.

Thanks,
; Long

On Sat, 29 Jan, 2022, 8:31 PM Yuan, ***@***.***> wrote:

[2022-01-29 15:15] #7574 closed

[2022-01-29 15:23] afirth commented on #8206
Only this manifest moved, no other providers should be affected. As to ghpages updating the links, I added there is a doc generator somewhere but I'm not familiar with it.

[2022-01-29 15:24] r00twayne commented on #6458
/remove-lifecycle rotten

[2022-01-29 20:01] bithavoc commented on #8108
@larivierec thanks for the help, I actually found a solution by combining a ConfigMap you mentioned and a snippet annotation at ingress level thanks to the included module [`headers-more-nginx-module`](https://github.com/openresty/headers-more-nginx-module#more_set_input_headers):

When an nginx ingress is behind Clouflare:

[code]

For regular cases where nginx is serving an ingress without cloud

[2022-01-29 20:01] #8108 closed

[2022-01-30 09:25] #7576 closed

[2022-01-30 11:27] #7246 closed

[2022-01-30 11:52] #8200 closed

[2022-01-30 11:54] vikomte commented on #6602
Have you managed to do it ? I'm still unable to run a simple website:

php:7.4-fpm -> /var/www/html/index.php ->  "<?php phpinfo(); ?>"

[2022-01-30 11:59] vikomte opened #8207 "> Has anyone been able to configure `nginx-ingress -> fpm` ? Been unable to configure this"
Have you managed to do it ? I'm still unable to run a simple website:

`php:7.4-fpm -> EXPOSE 4243 -> /var/www/html/index.php ->  <?php phpinfo(); ?>`

`ConfigMap -> SCRIPT_FILENAME: "/var/www/html/index.php"`

[code]

[code]

_Originally posted by @vikomte in https://github.com/kubernetes/ingress-nginx/issues/6602#issuecomment-1025126932_

[2022-01-30 12:29] vikomte commented on #4822
Have you managed to make it work ?

I am still unable.. ([#8207](https://github.com/kubernetes/ingress-nginx/issues/8207))

[2022-01-30 12:38] vikomte commented on #6897
Have you been able to make this work?

I am still unable (#8207)

[2022-01-30 23:00] jtackaberry opened #8208 "Exact pathType behaves the same as Prefix when another rule uses rewrite-target"
## Problem Statement

Consider the following Ingress definition which uses the `permanent-redirect` annotation to issue a 301 Redirect for matched path:

[code]

Querying `https://example.com/changelog` redirects as expected.

But what's *unexpected* is that when another Ingress rule is defined that uses `rewrite-target`, the above Ingress will also redirect `https://example.com/changelogfoobarbaz

[2022-01-31 01:50] longwuyuan commented on #8208
@jtackaberry Hi,
Thanks for reporting this. If what you are saying is true, then it looks a bug.
You can help out by kindly writing step-by-step instructions, that someone can copy/paste from, on their kind/minikube/kubeadm/other cluster, to reproduce this. This will basically complete triage and get some priority on the issue. There is lack of resources so clear data showing priority helps.

[2022-01-31 03:03] jtackaberry commented on #8208
@longwuyuan  done.  Apologies for not doing that to begin with.  It turned out the actual test case was a bit more complicated -- it required the precondition of having another rule that uses `nginx.ingress.kubernetes.io/rewrite-target`.  I've updated my original post with repeatable commands to reproduce the issue.

[2022-01-31 03:38] longwuyuan commented on #8208
Thank you very much for the steps. Was worried that controller broke api
specs.

Now, your update complicates the issue. So step1 request is kindly make
sure all ingress objects have defined ingress.spec.rules.host field. Need
to know behaviour with that field defined. Waiting for your update.

Thanks,
; Long

On Mon, 31 Jan, 2022, 8:33 AM Jason Tackaberry, ***@***.***>
wrote:

[2022-01-31 03:54] jtackaberry commented on #8208
Done. OP updated.

[2022-01-31 04:09] longwuyuan commented on #8208
Thanks. Did you check nginx.conf.

Kindly add more info. Please add kubectl describe for the service type
LoadBalancer created by the controller. Then for each ingress object,
please add the kubectl describe. After that, for each curl, please add the
log messages of the controller pod, related to that specific curl request.

Thanks,
; Long

On Mon, 31 Jan, 2022, 9:24 AM Jason Tackaberry, ***@***.*

[2022-01-31 04:18] jtackaberry commented on #8208
I probably won't be able to get to this until at least next weekend. If you think of anything further you'd like to see between now and then, please let me know.

For what it's worth, the test case is complete and repeatable and clearly demonstrates the bug.

[2022-01-31 04:26] longwuyuan commented on #8208
I think it's complete too but a person reproducing should compare the
state, the curl and the logs. Hope I can reproduce too.

Current thought is permanent redirect and rewrite are contending plus not
designed to be used together on one fqdn. It will be interesting to see
what server block contains in nginx.conf

Thanks,
; Long

On Mon, 31 Jan, 2022, 9:48 AM Jason Tackaberry, ***@***.***>
wrote:

[2022-01-31 04:36] longwuyuan commented on #8208
@nishant-jain-94, would you be interested to pair on this one

Thanks,
; Long

On Mon, 31 Jan, 2022, 9:56 AM Yuan, ***@***.***> wrote:

[2022-01-31 04:56] longwuyuan commented on #8208
@jtackaberry, it will be nice to see kubectl describe of ingress objects so
that the ingressClassName is verified.

Thanks,
; Long

On Mon, 31 Jan, 2022, 10:06 AM Yuan, ***@***.***> wrote:

[2022-01-31 05:37] #7585 closed

[2022-01-31 17:33] tarun-asthana opened #8212 "Issue with canary annotation"
When I am using these annotations:
[code]
the host goes down even when the main endpoint is unresponsive.

*Expected Behaviour:* The host should not go down when the main endpoint is unresponsive since canary-weight is 100.

[2022-01-31 17:56] nissy34 commented on #8212
A reorderable example

[code]

[code]

[2022-01-31 22:49] Cpcrook commented on #6135
@deryoman running across this today with AKS 1.22.2 and ingress-nginx 1.0.2).  Still troubleshooting.

[2022-02-01 03:43] nishant-jain-94 commented on #8208
Yes @Long. I have started running this on my machine. Yet to reproduce the
problem. Still working on it. Thank you.

On Mon, Jan 31, 2022, 10:26 Long Wu Yuan ***@***.***> wrote:

[2022-02-01 05:42] longwuyuan commented on #8208
Thank you Nishant. We can sync on slack.

Thanks,
; Long

On 2/1/22 9:13 AM, Nishant Jain wrote:

[2022-02-01 06:28] nwaelti commented on #6135
Don't know if that can help anyone else... On my end it was (or at least seemd to be) a misconfiguration of Calico. I'm on bare metal and the machines have 2 NICs, Calico took by default NIC 2 instead of NIC 1 and even though the machines were able to communicate, something was blocking nginx to work correctly. I still can't explain the ins and outs, but since I added the hint in Calico to use a s

[2022-02-01 15:53] jtackaberry commented on #8208
@longwuyuan  I've updated the "Steps to Reproduce" section in my original comment with the requested information.

[2022-02-01 19:45] ATownsend commented on #7755
I literally have a pull request open.

[2022-02-01 20:32] justinvogt87 opened #8214 "External auth request is sending upstream requests to IP addresses instead of FQDN, causing SSL error"
I have an ingress rule to which I've added oauth2-proxy redirects to our Keycloak instance per the docs (the `/oauth2/` path is elsewhere):

[code]

I'm doing SSL termination via an AWS NLB, and the host works fine to access the `app-dev.company-name.com/oauth2/start` to initiate a login, however I'm getting an error when I try to access the `/` path, and it seems like the upstream is sending to t

[2022-02-01 20:35] justinvogt87 commented on #8214
Here's the external auth request from the nginx.conf file on the pod:

[code]

[2022-02-02 03:51] #7565 closed

[2022-02-02 10:36] AlexisDuf opened #8215 "IP is not set on Ingress when using Multiple nginx Ingress controller in the same namespace"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`): v1.22.2

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **Install tools**: Terraform
- **Basic cluster related info**:
[code]

- **How was the ingress-nginx-controller installed**:
  - If helm was used then please sho

[2022-02-02 11:16] longwuyuan commented on #8215
Are you forced to install 2 instancs of the ingress-nginx controller in 1 namespace ? Or Do you have the option to use 2 different namespaces  with  only 1 instance of the controller installer, per namespace ?

[2022-02-02 12:44] #7079 closed

[2022-02-02 12:46] utamas commented on #7079
@macropin I think the issue described by you is a separate thing.

[2022-02-02 13:10] dev-samples opened #8216 "Error: admission webhook "validate.nginx.ingress.kubernetes.io" denied the request: host "xyz" and path "/" is already defined in ingress xxx"
I recently upgraded to k8s **1.22.4** and ingress-nginx version **4.0.16** and now its no longer possible to create two different ingress objects with the same host/path pointing to two different services (which need I need for a temporary workaround).

This worked fine in k8s **1.15** with e.g. something like this:

[code]

But in 1.22.4 with:

[code]

I get the error:
`
Error: admission webhook

[2022-02-02 13:22] AlexisDuf commented on #8215
No I'm not forced to install 2 ingress controller in the same namespace. But would like to understand what's going wrong

[2022-02-02 14:42] longwuyuan commented on #8215
Thanks for info.
There was a big refactoring due to a need to handle the deprecation of
ingress api v1beta1. From K8S v1.22 onwards ingreddClassName is the
preferred field inclusion in a ingress object. Long story short, you will
see some info related, I'm the controller pod logs.

/kind support
/remove-kind bug

Thanks,
; Long

On Wed, 2 Feb, 2022, 6:52 PM Alexis Dufour, ***@***.***>
wrote:

[2022-02-02 15:28] dev-samples commented on #8216
Yes as I mentioned I need this for a temporary workaround and not a permanent configuration. Also it seems strange that it works fine for 1.15 so I was also wondering if I was missing some configuration option that allows for this

[2022-02-02 16:28] nissy34 commented on #7857
/remove-lifecycle stale

[2022-02-03 09:26] kundan2707 commented on #8187
@harshasrimal  friendly reminder

[2022-02-03 11:09] winnieoursbrun commented on #8194
Workaround for lonely souls:

[code]

[2022-02-03 11:23] winnieoursbrun opened #8217 "Krew Plugin: ingress-nginx.yaml have too much `v` in version tag"
NGINX Ingress controller version:
Release:       v0.44.0
  Build:         f802554ccfadf828f7eb6d3f9a9333686706d613
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.6

Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.12", GitCommit:"2cb4598553d0a2ca5f3eb7980c99cd8236cc5011", GitTreeState:"clean",

[2022-02-03 12:15] kundan2707 commented on #8217
/assign

[2022-02-03 12:30] kundan2707 commented on #8217
/kind bug

[2022-02-03 12:34] kundan2707 commented on #8217
@winnieoursbrun  thank you for identifying issue.
I have fixed it

[2022-02-03 13:21] winnieoursbrun commented on #8217
Thank you !

[2022-02-03 13:21] #8217 closed

[2022-02-03 14:25] derbl4ck commented on #7992
I assume that this is still an open Issue. I have the same problem.

[code]
Currently I can see the following erroneous behavior:
[code]
I would expect the following behavior: `Location: https://services.someone.com/sample-service/bar`

@longwuyuan Are there any new findings already?

[2022-02-03 14:29] brsolomon-deloitte commented on #7992
Yes.

[2022-02-03 15:04] #7553 closed

[2022-02-03 20:03] dirien opened #8220 "bug: ArtifactHub sync broken?"
Hi,

Could you check the sync from the the chart repo to ArtifactHub? Currently ArtifactHub shows only version 4.0.13

![image](https://user-images.githubusercontent.com/38325136/152419874-1f38965c-206c-4408-8625-90c8c41b7c1b.png)

https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx

But the actual release is 4.0.16

![image](https://user-images.githubusercontent.com/38325136/15241998

[2022-02-03 21:28] longwuyuan commented on #8220
Thanks for reporting. Next helmchart release is expected to fix that. It
was caused by bad formatting of changelog.

Thanks,
; Long

On Fri, 4 Feb, 2022, 1:33 AM Engin Diri, ***@***.***> wrote:

[2022-02-04 02:38] brianmay commented on #8216
We have a genuine use case for this to work. We have two ingress-nginx instances, one for traffic from external sources, and one for traffic from internal sources.

We want to use an internal ingress to route traffic the the internal ingress-nginx, and the external ingress to route traffic to the external-nginx. There is no conflict or ambiguity. The IP routing makes sure that the traffic goes to

[2022-02-04 02:40] brianmay commented on #8216
Also while somebody posted a link to a workaround, would be good if somebody could paste the gist here, as not everybody is subscribed to that slack channel...

[2022-02-04 07:29] dirien commented on #8220
Hi @longwuyuan,

Cool thanks for the feedback! Looking forward.

[2022-02-04 07:29] #8220 closed

[2022-02-04 13:43] thomas-blaisot-su opened #8222 "Configuration of int values in the configmap are impossible"
**NGINX Ingress controller version**

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: GCP
- **OS** and **Kernel**  have no impact for this bug

[code]

- `kubectl get nodes -o wide`

[code]

- **How was the ingress-nginx-controller installed**: Helm
    - If helm was used then please show output of `helm ls -A | gre

[2022-02-04 14:19] derbl4ck commented on #7992
@theunrealgeek

[2022-02-04 18:10] Cpcrook commented on #7686
Thanks, @jacobgad & @LanDinh  -- the full quit -> re-open of Docker Desktop solved this for me.

Ran into this after resetting my local cluster and trying to deploy via garden.io -- the ingress controller deployment would just hang and eventually time out since resources were never ready.

[2022-02-04 23:47] Timdawson264 commented on #7357
Can confirm this is still occurring on v1.1.1
`k8s.gcr.io/ingress-nginx/controller:v1.1.1@sha256:0bc88eb15f9e7f84e8e56c14fa5735aaa488b840983f87bd79b1054190e660de`

[2022-02-05 11:27] xwjahahahaha commented on #6335
可以使用别人搬运的docker hub镜像代替解决，具体可以看[我的博客](https://blog.csdn.net/weixin_43988498/article/details/122792536)：我使用v1.1.1版本ingress控制器的yaml如下
`apiVersion: v1
kind: Namespace
metadata:
  name: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/instance: ingress-nginx

---
# Source: ingress-nginx/templates/controller-serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount

[2022-02-05 11:50] longwuyuan commented on #7992
the rewrite target value is a slash and followed by $2. There is no string like "sample-service" in that target so your expectation needs to be verified

[2022-02-05 23:40] ekovacs opened #8224 "inconsistent label cardinality on nginx_ingress_controller_requests prometheus metrics"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
  - it is a GKE managed cluster
- **Basic cluster related i

[2022-02-06 07:56] jatinTyagi98 commented on #8130
@longwuyuan  can you direct to me to the file which I should look into as I am new to k8s and helms.

[2022-02-06 08:45] longwuyuan commented on #8130
looking into a file may not provide all the help needed. please try to use the ingress controller in a private cluster. see if the documentation of the controller helps you understand better. the requirement is to add comments on each key in the /charts/ingress-nginx/values.yaml, that is missing comments/documentation inside the values.yaml file.

you could ask questions in slack, if there is no d

[2022-02-06 10:00] yevon commented on #1542
I'm getting this issue exactly with gitlab that uses http2 backend

[2022-02-06 10:04] yevon opened #8226 "backend: HTTP/2 stream not closed cleanly"
I'm getting  a "backend: HTTP/2 stream not closed cleanly" message when trying to use ingress nginx with gitlab. The setup is as follows:

Browser -> Ingress nginx (SSL + HTTP2) -> Gitlab(SSL + HTTP2)

Any ideas what could it be? I already tried setting the backend-protocol to HTTPS without luck, same error. I had to disable use-http2 in ingress-nginx in order to work.

[2022-02-06 11:20] #7325 closed

[2022-02-06 15:20] #7613 closed

[2022-02-06 17:20] #7618 closed

[2022-02-06 19:41] rikatz commented on #7546
chiming in :) @ElvinEfendi took a look and reimplemented the check, overall lgtm, I'm just taking some better view on it.

We can make a new release as soon as this gets merged IMO

[2022-02-06 20:28] #7546 closed

[2022-02-06 23:34] alex123012 commented on #4763
Hi!
Can I try to work on this?:)

[2022-02-06 23:42] rikatz commented on #4763
Sure, go for it. Ping us in ingress-nginx-dev in Slack if you need any help :)

[2022-02-06 23:46] rikatz commented on #4763
@alex123012 do a /assign as a comment so the bot will assign this issue for your.

Thank you very much for stepping forward :)

[2022-02-06 23:49] alex123012 commented on #4763
/assign

[2022-02-07 06:43] lijiansgit commented on #6291
@iamNoah1 Is it fixed?

[2022-02-07 09:08] iamNoah1 commented on #6291
@lijiansgit please open a new Issue

[2022-02-07 09:11] matti commented on #5401
I'm running everything with a while true loop - created 3x EKS 1.21 clusters at the same time and saw this error for ~5 minutes before it went away and the while true loop exited.

so could it be that you just need to retry for 5 minutes and then something :tm: happens?

[2022-02-07 09:36] lijiansgit opened #8228 "memory leak"
NGINX Ingress controller version: v0.41.2、v0.45.0、 v1.0.4
Kubernetes version : v1.18.8、v1.20.11

What happened:

When qps exceeds 15000 or more ，memory leak。
only adding the flag --enable-metrics=false is fixed , but metrics data none。

![图片](https://user-images.githubusercontent.com/18637692/152762235-d51e1667-64db-45e3-9adf-f6568b418aaf.png)

[2022-02-07 09:59] iamNoah1 commented on #8228
@lijiansgit issue template is there in order to be filled correctly because it makes it really easier for us to tackle the issue. Not filling the template correctly decreases the probability that the issue actually get solved. Kindly asking to fill the template with all information that you have available. Also please have a look at the supported versions table, as 0.41.2 and 0.45 are not supporte

[2022-02-07 10:01] iamNoah1 commented on #8226
/close

Please fill out the issue template correctly.

[2022-02-07 10:01] #8226 closed

[2022-02-07 12:17] Constantin07 commented on #2003
/remove-lifecycle stale

[2022-02-07 16:55] longwuyuan commented on #5401
Requires real time check if any network latency was occurring in addition
to any other errors or odd events visible in logs.

On Mon, Feb 7, 2022 at 2:42 PM Matti Paksula ***@***.***>
wrote:

--
; Long Wu Yuan

[2022-02-08 01:00] tao12345666333 commented on #6752
Typically, we would want to use the IP address of a LoadBalancer type of service to update the status of an Ingress resource.

These services are fixed in most scenarios, which is why ingress-nginx now uses command line parameters.

[2022-02-08 01:02] tao12345666333 commented on #6752
I'm trying to get a clearer understanding of your scenario and needs.

[2022-02-08 05:08] rmathagiarun commented on #8166
NGINX Ingress controller
Release:       v1.1.1
Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf
Repository:    https://github.com/kubernetes/ingress-nginx
nginx version: nginx/1.19.9
 
Server Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"9e5f344f6cdbf2eaa7e450d5acd8fd0b7f669bf9", GitTreeState:"clean", BuildDate:"2021-05-19T04:34:27Z", GoVersion:"go1.16.4", Co

[2022-02-08 09:55] mattsheerin commented on #8007
I think there is actually a serious observability bug here. On the latest controller at time of writing (v1.1.1) the metrics endpoint is not consistently returning the metric `nginx_ingress_controller_ssl_expire_time_seconds`. I can curl the metrics endpoint and see it in the output, then repeat a few seconds later and it's missing (with nothing happening in the cluster in between). This is causin

[2022-02-08 13:24] tmikulin commented on #8214
Hi I'm getting some similar errors, what version of kubernetes and ingress-controller are you using?

[2022-02-08 17:35] lbodtke opened #8229 "'auth-tls-verify-client: optional' does not forward with "verify: FAILED" on expired certificate"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.1.0

**Kubernetes version** (use `kubectl version`): version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.2", GitCommit:"f2fbef752f852512e05e85ebba94d05c90ee0354", GitTreeState:"clean", BuildDate:"2021-11-16T17:13:07Z", GoVersion:"go1
.16.8", Compiler:"gc", Platform:"linux/amd64"}

**Environmen

[2022-02-08 18:42] justinvogt87 commented on #8214
Here's the ingress controller:

[code]

The nodes with the Nginx pods are running `v1.22.4` of Kubernetes... The rest of the cluster is on `v1.22.2` I should probably get those standardized... Anyways, any ideas would be helpful!

[2022-02-08 19:33] moduspwnens commented on #4909
In case anyone runs into this and finds the issue on Google:

I saw this behavior with no clear explanation, but ended up resolving it by adding a `host` entry in the ingress's `spec.rules` which matched the entry I had in the `hosts` entry in the ingress's `spec.tls`. I previously hadn't specified that with the intention that all requests (regardless of HTTP Host header) go to that backend. I alr

[2022-02-09 03:43] deepdev1 commented on #552
I'm facing the same issue. The service works perfectly fine with the ClusterIP, but errors out on the External IP of the load balancer.

[2022-02-09 05:10] longwuyuan commented on #8228
/remove-kind bug

[2022-02-09 05:11] longwuyuan commented on #8224
/triage-accepted

[2022-02-09 05:15] longwuyuan commented on #8214
/remove-kind bug
/triage needs-information

Hi,
If you can write a step by step guide to reproduce, it will help a developer reduce time to review.

[2022-02-09 05:25] rmathagiarun commented on #8166
@longwuyuan  I posted the details in this issue as I found the issue similar to ours. Let me know if you would want me to open a new one with all the details.

[2022-02-09 05:29] longwuyuan commented on #8166
Can you upgrade to latest release and kindly answer the questions I asked earlier. Thank you.

[2022-02-09 07:42] kundan2707 commented on #8222
/assign

[2022-02-09 07:44] kundan2707 commented on #8222
Can you share which document you are referring ?

[2022-02-09 08:18] thomas-blaisot-su commented on #8222
I followed the types indicated in this table:
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#configuration-options

I tried to set the value as string but in that case it is not used in the generated configuration.
Looking at the go code it seems to me that the conversion from string to int must be explicit which is not the case for all the keys.

[2022-02-09 09:31] TeddyAndrieux commented on #5738
It seems to be the case with Ingress controller version 1.1.0 as well but seems fixed in 1.1.1

[2022-02-09 12:37] mathaharika opened #8231 "Patch against CVE-2021-23017 vulnerability for v0.35.1"
**What do you want to happen?**
I am trying to find a version of Nginx Ingress controller to upgrade that is patched against CVE-2021-23017 vulnerability. But I am restricted by Kubernetes version v1.10.0. The latest version I see that is compatible with this version of Kubernetes in v0.35.0. Can anyone confirm if this version is patched against the above mentioned vulnerability? If not, what is b

[2022-02-09 15:56] longwuyuan commented on #8231
There is no support for that Kubernetes version.
Unsure of results but latest release of the ingress-nginx controller, for your use case is 0.50.0

Please check the docs

[2022-02-09 17:28] tmikulin commented on #8214
@justinvogt87 is the oauth is running in your k8 cluster, you could try the **auth-url** with the service name....

[2022-02-09 19:17] yishaihl commented on #5576
@kev24uk hey maybe you can help me?
i need to pass this source url to the backend:  `https://something.com/consult/Q6psbroRO_?version=pr-af3807d629af4ff16e9840c563ec35369e797267` and i want to pass `/consult/Q6psbroRO_?version=pr-af3807d629af4ff16e9840c563ec35369e797267` what should be set in the conditional statement for `$request_uri` (if so) and for `upstream_balancer$` (if so) and for `"^/exam

[2022-02-09 23:21] tobernguyen opened #8232 "Nginx crashed - Worker process exited on signal 11 (core dumped)"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.0.3
  Build:         6e125826ad3968709392f2056023d4d7474ed4f5
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

------------------

[2022-02-10 05:01] longwuyuan commented on #8232
Can you please upgrade to latest release and update status.
There used to be some related problems but some fixes were made hence testing with latest releae my provide more information.

/remove-kind bug
/triage needs-information

[2022-02-10 05:05] mathaharika commented on #8231
Is there something I can do to patch v0.35.0 to handle the vulnerability?

[2022-02-10 05:23] longwuyuan commented on #8231
Not likely.
Reason is that there have been several updates after that version so there is hardly any chance to get developer time to assist you. Does version 0.50.0 not work for you ?

[2022-02-10 08:06] longwuyuan commented on #8007
There is not much developer time available so unsure when/how progress will be made. But if you can write a step-by-step process, at least someone can try to reproduce the problem to accept triage as complete. Regards,

[2022-02-10 09:05] mathaharika commented on #8231
I am getting this error when I try to use v0.50.0 -
`ingress-nginx requires Kubernetes v1.14.0 or higher`

[2022-02-10 09:11] longwuyuan commented on #8231
Oh ok.
sorry then, I have no other ideas.
what is the reason that you can not upgrade kubernetes ?

Seems completely no improvement in security that you don't want to run kubernetes that has been patched and fixed and improved for security & performance, but you want to patch only the  ingress-controller.

[2022-02-10 11:24] nlybe opened #8233 "Unknown flag "size-buckets""
NGINX Ingress controller
Release: v1.1.1
nginx version: nginx/1.19.9

**Kubernetes version (use kubectl version):**
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.3", GitCommit:"816c97ab8cff8a1c72eccca1026f7820e93e0d25", GitTreeState:"clean", BuildDate:"2022-01-25T21:25:17Z", GoVersion:"go1.17.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1",

[2022-02-10 11:34] dong-minglei commented on #6937
https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/#prometheus-and-grafana-installation
Wildcard ingresses
(https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/#wildcard-ingresses)
By default request metrics are labeled with the hostname. When you have a wildcard domain ingress, then there will be no metrics for that ingress (to prevent the metrics from exploding in card

[2022-02-10 11:57] dong-minglei opened #8234 "quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.33.0 with --metrics-per-host=false doesn't work"
There is no label of Wildcard ingresses under nginx_ingress_controller_requests

[2022-02-10 12:06] vnesbee opened #8235 "Changing of cors-* annotations has no effect"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.1.0, 1.1.1

**Kubernetes version** (use `kubectl version`): 1.21.5

**Environment**:

- **Cloud provider or hardware configuration**: GCP

- **How was the ingress-nginx-controller installed**: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/st

[2022-02-10 15:40] mqxter commented on #8193
any news on this?
is there a workaround perhaps?

[2022-02-10 20:45] zerkms commented on #6030
/remove-lifecycle stale

[2022-02-11 03:54] #7548 closed

[2022-02-11 06:35] dong-minglei commented on #8234
Resolved after upgrading to 0.46.0

[2022-02-11 06:35] #8234 closed

[2022-02-11 11:28] jatinTyagi98 commented on #8130
@longwuyuan I have added some comments in the values.yaml file and just to be sure that I am going in the right direction. Would you care to look into it ? I can create a PR with the minimum changes I have made and If you confirm that it is right then I will do the rest of the work.

[2022-02-11 11:48] kundan2707 commented on #8233
/remove-bug
/kind support

[2022-02-11 13:05] longwuyuan commented on #8130
@indhupriya Can you help on this one and comment on last update from @jatinTyagi98

[2022-02-11 13:06] longwuyuan commented on #8130
@indhupriya this is the one i was referring to on slack

[2022-02-11 13:57] jatinTyagi98 commented on #8130
@longwuyuan @indhupriya I have created a PR for the review . Any feedback would be helpful.

[2022-02-11 16:28] justinvogt87 commented on #8214
A few items here:

@tmikulin is partially right, I should use the service name when sending requests so then the request doesn't leave the cluster just to have to come back via external DNS entries.

To that point, I added a `rewrite` line to CoreDNS to shove any requests with `company-name.com` to Nginx instead, so in case myself or my develops use the FQDN, Nginx will just handle it.

And that s

[2022-02-11 16:28] #8214 closed

[2022-02-11 16:41] ryanzzff commented on #4853
@redfave I think my command and yours are basically the same, only the order of the namespace params are different.
(and both have the **pod** keyword that you highlighted)

[2022-02-11 21:33] Venthe opened #8238 "Failed to set DER cert"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

-------------------

[2022-02-11 21:35] Venthe commented on #8238
Certificates validated via `openssl verify -CAfile ./ca.crt int.crt`

CA cert is from the K8s cluster. Cluster is ephemeral as of now, so no harm in giving real certs

[2022-02-12 07:11] Venthe commented on #8238
As it turns out, the problem lied in the public key part of the intermediate CA being 512 bits -> when it should be at least 2048. In essence, default configuration hid the problem of SECLEVEL=2. To actually find the reason, I had to install ingress-nginx from the ingress itself, wherein I got 'ca key too small'
[code]

[2022-02-12 11:38] calexandre opened #8239 "Exposing same set of services via public and internal load balancers using a single ingress controller (split-view DNS setup)"
I have a solution on GKE that requires a split-view DNS setup as [pointed here](https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx#additional-internal-load-balancer).

Basically I have two identical DNS zones:
- public dns: `foo-zone.company.org` - this is public DNS zone which contains public (internet) resolvable DNS records
- private dns: `foo-zone.company.org` - this is

[2022-02-12 11:40] calexandre commented on #8239
/triage support

[2022-02-12 17:30] longwuyuan commented on #8239
You have correctly identified explicit real bare bones simple example for
what you described.
I don't know a solution at this moment but I think it will have to be
gathered by knowing what other users of the same scene are doing.
There was a PR not so long ago, that actually addressed the "ipaddress
config" part of it. I will have to check which one.

On Sat, Feb 12, 2022 at 5:10 PM Kubernetes Pro

[2022-02-12 17:31] longwuyuan commented on #8239
I meant to say "lack" of an example or documentation.

/kind documentation
/area docs
/triage-accepted

[2022-02-12 17:33] longwuyuan commented on #8239
@indhupriya I can pair with you, if you want to look at this.

[2022-02-12 17:37] longwuyuan commented on #8238
/remove-kind bug
Does your last message mean this is resolved.
If yes, then consider closing the issue.
Thank you for updating the resolution.

[2022-02-12 17:58] indhupriya commented on #8239
sure, @longwuyuan I can work on this.

[2022-02-12 17:59] indhupriya commented on #8130
will do @longwuyuan

[2022-02-12 23:08] calexandre commented on #8239
Thank you @longwuyuan and @indhupriya for looking into this.
In the meantime, does anyone have a clue how to achieve this setup?
I searched through the issues, and I can only find results where people are using two distinct instances of the `nginx-ingress-controller`...

[2022-02-13 15:23] #7600 closed

[2022-02-13 17:27] kevinlinglesas opened #8240 "Request tag for controller-v0.50.0/deploy/static/provider/kind/deploy.yaml"
Is it possible to establish a deploy/static/provider/kind/deploy.yaml that deploys ingress-nginx controller @ v0.50.0?
I was hoping to pick up fix for issue #7939.

[2022-02-13 18:33] #8224 closed

[2022-02-13 18:39] #8168 closed

[2022-02-13 18:47] #7810 closed

[2022-02-14 05:06] longwuyuan commented on #8240
https://github.com/kubernetes/ingress-nginx/blob/legacy/deploy/static/provider/kind/deploy.yaml

On Sun, Feb 13, 2022 at 10:57 PM Kubernetes Prow Robot <
***@***.***> wrote:

--
; Long Wu Yuan

[2022-02-14 05:07] longwuyuan commented on #8240
Please close the issue if solved

[2022-02-14 08:50] pierluigilenoci commented on #8026
@nitrocode we used the following annotations:
[code]

[2022-02-14 10:28] ThemeIT opened #8241 "Fix monitoring.md"
Hello,

i may found an outdated piece of documentation in the monitoring.md.

This is regarding the annotations that have to be done when having installed by not using helm.

monitoring.md states to add code to the DaemonSet while it does not use a DaemonSet in current versions anymore. Instead the code may be added to the controller-deployment (?).

![image](https://user-images.githubusercontent.

[2022-02-14 10:52] jzyrobert commented on #7848
/remove-lifecycle stale

[2022-02-14 11:48] ThemeIT commented on #8241
Link to related File

https://github.com/kubernetes/ingress-nginx/blob/main/docs/user-guide/monitoring.md

[2022-02-14 12:26] longwuyuan commented on #8241
Hi @indhupriya , kindly do the needful.

[2022-02-14 16:09] kevinlinglesas commented on #8240
Thank you @longwuyuan for that legacy branch reference.   I believe that deploy.yaml will work.    However, there's another aspect to this request that I didn't elaborate on well initially.

Automated tools that are currently leveraging other tagged controller versions via https://raw.githubusercontent.com/kubernetes/ingress-nginx with programable NGINX_VERSION env variable would desire to also be

[2022-02-14 17:15] longwuyuan commented on #8240
v0.50.0 was/is the last release of the legacy edition.
I think that is why it is missing that version number.
Can you fork and try to put a symlink and then try to open from your fork.
I don't even know if symlink works. If it does then quick PR can be done.
But since it is the last legacy release, you could even instrument your
tooling to just use "legacy" one time change. As there will not be ch

[2022-02-14 17:44] gdox opened #8242 "Relative URLs with auth-signin"
So I've been working with nginx for the specific purpose of enabling some kind of authentication on my cluster, using an ingress template for every service that looks something like this:

    apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      annotations:
        nginx.ingress.kubernetes.io/auth-url: "http://1.2.3.4/oauth2/auth"
        nginx.ingress.kubernetes.io/auth-signin:

[2022-02-14 18:14] strongjz commented on #7960
I was able to replicate this issue, initial had `10.244.0.10:80` then added 3 more pods and killed `.10` and all three started showing up `10.244.0.11:80,10.244.0.12:80,10.244.0.13:80`

/triage accepted
/priority important-longterm

[code]

[2022-02-14 21:41] #7650 closed

[2022-02-15 03:30] sunlintong commented on #7517
As https://github.com/kubernetes-sigs/gateway-api/releases/tag/v0.4.0, gateway api v1alpha2 has been released. Can we start implementing this :)

[2022-02-15 07:09] BBQigniter commented on #8092
yes, it seems it's only possible to enable it globally. You then can add to each ingress-definition that you do NOT want to trace the `enable-opentracing` annotation set to `false`
[code]
as far as I understood and tested. I have here finally a working ingress-nginx with opentracing enabled in combination with jaeger-agent which is ingesting the traces to an elastic APM-server.

if you add this an

[2022-02-15 08:54] attiss commented on #8183
`nginx.ingress.kubernetes.io/auth-response-headers` allows users to select headers to be passed to backend once authentication request completes. In some cases, it would be useful to override the `Authorization` header comes from the authentication request with the value of another header.

For example, in case of OAuth2 Proxy the `Authorization` header contains the OIDC ID token, but users might

[2022-02-15 09:42] ForeverSRC commented on #6736
I want to know whether  nginx-ingress-controller support proxy grpc service without TLS or not.

[2022-02-15 11:26] longwuyuan commented on #6736
Not in the current release.

Thanks,
; Long

On Tue, 15 Feb, 2022, 3:12 PM ForeverSRC, ***@***.***> wrote:

[2022-02-15 11:28] longwuyuan commented on #6736
But please do try the GRPC example in documentation and do a test with
grpcurl. Will wait for feedback from you.

Thanks,
; Long

On Tue, 15 Feb, 2022, 4:56 PM Yuan, ***@***.***> wrote:

[2022-02-15 11:56] iamNoah1 commented on #7755
@ATownsend can you please link that PR to this issue

[2022-02-15 12:00] #7902 closed

[2022-02-15 13:37] rikatz commented on #7517
@sunlintong we are a bit overloaded with some fixes that needs to be released, but PRs are always welcome :D @tao12345666333 is working on the design of this, feel free to reach us on Slack and jump in into the design and implementation :)

[2022-02-15 13:41] tao12345666333 commented on #7517
Yes, I'm working on the design, and I'm expected to send out a specific design draft and task split in the near future.

[2022-02-15 16:22] iamNoah1 commented on #6237
/help

[2022-02-15 16:28] kundan2707 commented on #8233
/remove-kind bug

[2022-02-15 17:01] adamcharnock commented on #6523
Yep, this just got me too while working on a new cluster. Nginx Ingress essentially DOSed CoreDNS, which caused all kinds of wierdness in the cluster.

[2022-02-15 17:50] iamNoah1 commented on #5667
/help

[2022-02-15 17:53] iamNoah1 commented on #8241
/triage accepted
/kind documentation
/priority important-soon

[2022-02-15 17:54] strongjz commented on #8240
the legacy branch is where all the available legacy deployment scripts. We are not planning to release legacy deployments on the main branch.

/close

[2022-02-15 17:55] #8240 closed

[2022-02-15 17:57] strongjz commented on #8239
/triage accepted
/priority backlog

[2022-02-15 21:52] kdryetyln opened #8243 "What is difference nginx.org/... annotations and nginx.ingress.kubernetes.io/... annotations ?"
Hi. I got an error. Error message is The ERR_FAILED 413. I know the reason for this error. I have to change nginx default settings.

However, while researching how to make changes on ingress yaml, I saw two different annotation prefixes. I leave the links below
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/
https://docs.nginx.com/nginx-ingress-controller/con

[2022-02-15 22:04] tobernguyen commented on #8232
@longwuyuan any updates?

[2022-02-15 23:17] RichardoC commented on #7119
/remove-lifecycle stale

[2022-02-16 02:46] indhupriya commented on #8241
/assign @indhupriya

[2022-02-16 03:31] longwuyuan commented on #8195
Apologies, the project does care for sure. There is acute shortage of
resources. Would you have any interest in submitting a PR.

Thanks,
; Long

On Tue, 15 Feb, 2022, 6:44 PM Jan, ***@***.***> wrote:

[2022-02-16 05:17] longwuyuan commented on #8232
I don't know its showing 1.0.3.
It should show 1.1.1

[2022-02-16 05:19] longwuyuan commented on #8243
/remove-kind bug
Please ask in the nginx.org forums or support channels.

[2022-02-16 07:38] dansanabria opened #8245 "Rate limiting Annotations not working with POST requests"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**:
Google GKE
- **Basic cluster related info**:
  - `kubectl get nodes -o wide`
[code]
- **How was the ingress-nginx-controller installed**:
Installed using helm:
[code]
[code]

-

[2022-02-16 07:39] iampetrovpavel commented on #8093
try nginx.ingress.kubernetes.io/ssl-redirect: "false"

[2022-02-16 08:13] OmarHawk commented on #8195
I would love to, but the company I do work for as an external employee is not having a process for signing a corporate CLA at the moment, so I think, it will be hard for me to contribute, short-term. But I just initiated the discussion about that there so that it hopefully will be possible in the future.

[2022-02-16 09:18] david-rozsa opened #8246 "Affinity setting affinity-canary-behavior: "legacy" doesn't fully restore old behavior"
**NGINX Ingress controller version**

v1.1.0

**Kubernetes version** (use `kubectl version`):

v1.21.2

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **OS** (e.g. from /etc/os-release): ubuntu
- **Kernel** (e.g. `uname -a`): 5.4.0-1062-azure

- **How was the ingress-nginx-controller installed**:
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/

[2022-02-16 09:18] pierluigilenoci commented on #7937
/remove-lifecycle stale

[2022-02-16 10:05] iamNoah1 commented on #8241
@indhupriya FYI you don't need to @yourself when you comment with "/assign" ;)

[2022-02-16 10:44] nishant-ketu opened #8247 "nginx_ingress_controller_ssl_expire_time_seconds metrics went missing"
**NGINX Ingress controller version**:
**Kubernetes version** : 1.23.0
- **Cloud provider or hardware configuration**: GCP
- **OS** (e.g. from /etc/os-release): COS
- **Install tools**: HELM

- **How was the ingress-nginx-controller installed**: HELM

**What happened**:

nginx_ingress_controller_ssl_expire_time_seconds is missing from metrics

**What you expected to happen**:
nginx_ingress_controll

[2022-02-16 12:31] sunlintong commented on #7517
Thanks for Reply, maybe I can get involved too and make it happen together :D

[2022-02-16 12:33] koolwithk opened #8248 "Aws classic load balancer tcp proxying issue"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`): v1.19.15-eks-9c63c4

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):  Amazon Linux 2
- **Kernel** (e.g. `uname -a`): 4.14.252-195.483.amzn2.x86_64

- **How was the ingress-nginx-cont

[2022-02-16 12:41] bishtsaurabh5 commented on #7517
@tao12345666333 I am also interested in working on Gateway API implementation . Can you please include me as well while sending out the draft proposal :)

[2022-02-16 13:21] kdryetyln commented on #8243
Okay. I will ask in the nginx.org forums. But, nginx.ingress.kubernetes.io/proxy-body-size didn't work. Maybe you can explain this issue.

[2022-02-16 14:14] WMP opened #8249 "From helm 3.22.0 to 3.40 is impossible to set ssl_dhparam"
**NGINX Ingress controller version**: 0.43.0

**Kubernetes version**: v1.16.13

**Environment**:

- **Cloud provider or hardware configuration**: rancher
- **OS** (e.g. from /etc/os-release): Ubuntu 20.04
- **Kernel** (e.g. `uname -a`):5.4.0-66-generic
- **Install tools**: rke

**What happened**:

After clean installation ingress-nginx from helm version 3.22.0, parameter ssl_dhparam isnt set in ng

[2022-02-16 15:01] ArchangelSDY opened #8250 "Avoid converting to certificate/key to DER first in certificate.lua"
I notice that currently certificate and key are converted to DER format first:

https://github.com/kubernetes/ingress-nginx/blob/c9f61211d3442953cadbf4e89357af500239c596/rootfs/etc/nginx/lua/certificate.lua#L251-L261

Since original certificate/key are in PEM format, also OpenResty provides [APIs](https://github.com/openresty/lua-resty-core/blob/master/lib/ngx/ssl.md#set_cert) for PEM directly, I'

[2022-02-16 15:41] calexandre commented on #8239
Hello, I'd like to give an update regarding the compromise I reached until we figure out a more elegant way.
Just to make things clear, like I described above, I'm using the following architecture:
- I'm using two `external-dns` instances and a single `nginx-ingress-controller` instance.
- I will refer to `external-dns-private` as the `external-dns` instance that handles the **private** DNS zone r

[2022-02-16 16:17] kundan2707 commented on #7212
/remove-lifecycle stale

[2022-02-16 16:29] kundan2707 commented on #8247
@nishant-ketu  can you share your instalation steps and how you confirmed nginx_ingress_controller_ssl_expire_time_seconds is missing?

[2022-02-16 17:24] kundan2707 commented on #8222
@thomas-blaisot-su  how and where you configured limit-req-status-code in configmap ?
I checked and its working well.
Can you describe all steps that you have performed in detail ?

[2022-02-16 17:25] kundan2707 commented on #8222
/remove-kind bug
/kind support

[2022-02-16 17:30] kundan2707 commented on #7840
/remove-lifecycle stale

[2022-02-16 17:39] kundan2707 commented on #8222
**The key and values in a ConfigMap can only be strings. This means that we want a value with boolean values we need to quote the values, like "true" or "false". Same for numbers, like "100".**

According to this **limit-req-status-code: 429** is not correct so its giving error.
**limit-req-status-code: "429"** it correct and i tested it works too

[2022-02-16 17:48] longwuyuan commented on #8249
I see this [image: image.png]

Can you try version 0.50.0
regards,
; Long

On Wed, Feb 16, 2022 at 7:44 PM Kubernetes Prow Robot <
***@***.***> wrote:

--
; Long Wu Yuan

[2022-02-16 17:50] WMP commented on #8249
I found this bug on 0.50, so it is affected.

śr., 16 lut 2022, 18:48 użytkownik Long Wu Yuan ***@***.***>
napisał:

[2022-02-16 17:51] longwuyuan commented on #8248
The project recommends NLB on AWS and not classic ELB.
Please check install docs

On Wed, Feb 16, 2022 at 6:04 PM Kubernetes Prow Robot <
***@***.***> wrote:

--
; Long Wu Yuan

[2022-02-16 17:55] longwuyuan commented on #8246
Have you tried with the selector field.

On Wed, Feb 16, 2022 at 2:49 PM Kubernetes Prow Robot <
***@***.***> wrote:

--
; Long Wu Yuan

[2022-02-16 18:55] kundan2707 commented on #8233
size-bucket is not part of configuration of controller so you cant set it as you did

size-bucket is parts of metrics not controller

[2022-02-16 18:55] kundan2707 commented on #8233
/assign

[2022-02-16 19:11] kundan2707 commented on #8156
@bobertrublik  do you still facing  issue ?

[2022-02-16 19:17] kundan2707 commented on #8212
@tarun-asthana
you can try following example with this you can easily deploy with canary annotation
https://github.com/ContainerSolutions/k8s-deployment-strategies/tree/master/canary/nginx-ingress

[2022-02-16 19:18] kundan2707 commented on #8212
/remove-kind bug
/kind support

[2022-02-16 19:51] tarun-asthana commented on #8212
Thanks @kundan2707 ! However I didn't get how your repo was different from my problem. We are using the same annotations.

[2022-02-16 22:36] ghost opened #8252 "500 instead of 404 for invalid urls with no default-upstream-backend"
When I curl http://appname.company.com/thisdoesnotexist, I received a 500 from nginx with the following log (notice that upstreamAddr is empty):
[code]
I have 3 clusters using extremely similar configurations (deployed using the same pulumi (terraform basically) code), dev.appname.company.com, staging.appname.company.com and appname.company.com the former 2 work fine and return a 404 as expected,

[2022-02-17 06:27] wzshiming commented on #7827
/remove-lifecycle rotten

[2022-02-17 07:46] thomas-blaisot-su commented on #8222
I retried it today and it works...
Don't understand why it wasn't since multiple teams members have tried.
I close the issue since it seems to only be a problem in our side.

Thanks for the help

[2022-02-17 07:46] #8222 closed

[2022-02-17 09:13] paka99 commented on #5342
how about use `nginx.ingress.kubernetes.io/server-snippet` annotation if you need to configure server block?
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-snippet

[2022-02-17 13:13] #7622 closed

[2022-02-17 14:53] vimento commented on #6716
Hi @AntonioL  Can you please paste the fix you added to static file yamls. I am not able to get it working. Moreover am using nodeport service rather than Loadbalancer type to expose the  ingress controller service.

[2022-02-17 15:06] rlewkowicz opened #8254 "Private node, public load balancer aws fails to ensure load balancer."
I'm on the latest everything as of the last week or so.

To clarify, this is NOT me looking for an internal loadbalancer. I can't google this without it showing a bunch of internal load balancer stuff.

I want my node group in a private subnet with the lb public routing to the private nodes on aws. I don't want my nodes going out the igw.

I get: message="Error syncing load balancer: failed to ens

[2022-02-17 15:23] rlewkowicz commented on #8254
I'm dumb, I just had messed up my locals working too late

[2022-02-17 15:23] #8254 closed, assigned to nobody

[2022-02-17 18:55] JDavis10213 commented on #7652
Hello, I too am having an issue running two ingress controllers in one namespace. After about 4 hours of troubleshooting I changed the namespace on my internal ingress and all started working immediately. The problem it was having was updating the ingress Load Balancer. Causing all services using that ingress to be down. All the ingress rules were stuck in "Schedule to sync" and never updated. Mov

[2022-02-17 19:04] mhsh64 opened #8255 "Using ingressClass in value file, does not add —ingress-class to pod/deployment args"
I am using ingressClass in value file, but when I fetch the manifests using value file, it does not add --ingress-class to deployment args

Is there any bug here?

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. fro

[2022-02-17 19:05] mhsh64 commented on #8255
I am using chart version 4.0.11

[2022-02-18 03:41] jungrae-prestolabs commented on #5401
I don't think deleting all `ValidatingWebhookConfiguration` is the solution of this
In my case, tThe problem with the cause was that the version were mixed (e.g. 1.1.1 and 0.47.0)
[code]

[2022-02-18 05:01] longwuyuan commented on #8255
/remove-kind bug

Please fill the details asked with relted information
Please show all the commands you typed and all the files you used

[2022-02-18 05:07] longwuyuan commented on #8252
you are rewriting to appname.company.com/$2 .... but there is no information like ;
- request sent to the lb
- all related rules in all related ingresses
- complete log of the controller related to the request you sent

So there is no idea which rule was matched and which backend was routed destination

/remove-bug

[2022-02-18 05:21] mhsh64 commented on #8255
Seems a bug in that version helm chart
I have used the latest version and looks fine

[2022-02-18 06:49] carl-jin-awx commented on #8085
@kundan2707  Hi man, a month has passed, any update?

[2022-02-18 07:00] Venthe commented on #8238
Not really, because ingress-ngings/kubernetes is incapable of telling me what's the problem. Either way, closing

[2022-02-18 07:00] #8238 closed

[2022-02-18 07:25] kundan2707 commented on #8255
@mhsh64  if everything is fine then you can close this issue

[2022-02-18 10:46] bh-tt opened #8257 "backend-protocol https does not work with tlsv1.3"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
NGINX Ingress controller
  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"23",

[2022-02-18 11:34] ramanNarasimhan77 commented on #8166
@longwuyuan  I am a co-worker of @rmathagiarun . We have used latest controller version released v1.1.1, and we see this issue happening frequently.

[2022-02-18 22:40] #8255 closed

[2022-02-19 13:47] longwuyuan commented on #8246
I take back my comment. I did not verify that you had the svc.spec.selector.app value set.

And yes, this looks like affinity is no longer honored. But now I am not a developer. And there is shortage of developer time on the project. Would you want to submit a PR. I think this is significant enough to get developer-time, if there is a PR .

[2022-02-19 13:49] longwuyuan commented on #8166
Some questions I asked earlier are not answered. Basically, some digging is required and specifics on which process was using memory high should be determined. Along with checking node resources at that point of time.

[2022-02-19 17:18] longwuyuan commented on #8257
I am reading here https://www.cloudflare.com/learning/ssl/why-use-tls-1.3/ and if that means that using TLS 1.3 disables use of TLS 1.2 then backward compatibility breaks.

I am not a developer and a developer needs to comment.

[2022-02-19 19:19] adroste commented on #2059
You can circumvent the problem by specifying the full URL in every rewrite, e.g.
[code]

Works great in combination with helm templates.

[code]

[code]

[2022-02-20 18:06] rittneje opened #8259 "Allow arbitary number of subdomain levels"
Currently we can add a wildcard in the domain names listed in the `nginx.ingress.kubernetes.io/cors-allow-origin` Ingress annotation. For example, `*.example.com` will allow `a.example.com`, `b.example.com`, and so on. However, it does not allow for more than one level of subdomain. For example, `a.b.example.com` is disallowed. This is ultimately because the regex that gets used disallows periods.

[2022-02-20 21:16] rikatz commented on #8257
As far as I remember, TLS v1.3 has a lot of compatibility changes, that means that it cannot co-exist with TLS v1.2. I might be wrong and need to re-read about it.

Have you tried in your specific ingress setting:

[code]
?

[2022-02-21 04:38] rmathagiarun commented on #8166
@longwuyuan

I can see that you have suggested us to test using controller version 0.5.x - We have been using v0.48.1 for a long time and have never faced this issue. We had to upgrade to v1.1.1 as v0.48.1(even the suggested version v0.50.x) is not compatible with K8s Version 1.22 and 1.23.

The core components of our product has remained the same on both the versions(0.48.1 and v1.1.1) and we are

[2022-02-21 05:15] longwuyuan commented on #8259
I believe this would be significant amount to work in terms of developer time for securing valid domains and rejecting invalid domains. And not to mention writing the corresponding tests.

If you have interest in submitting PR then maybe it will be looked at. But otherwise there is shortage of developer time due to some priority work in progress.

[2022-02-21 05:18] longwuyuan commented on #8248
/remove-kind bug

[2022-02-21 05:41] rittneje commented on #8259
@longwuyuan Can you expand upon what would be a significant amount of work? The implementation should be pretty trivial.

[code]

[2022-02-21 08:17] #8243 closed

[2022-02-21 10:21] bh-tt commented on #8257
The same error happens (nginx returns 502):
`2022/02/21 10:18:37 [error] 849#849: *5942535 peer closed connection in SSL handshake while SSL handshaking to upstream, client: 10.244.3.0, server: intranetws.k8s-intra-rd.local, request: "GET / HTTP/2.0", upstream: "https://10.244.7.109:8081/", host: "intranetws.k8s-intra-rd.local"`
ingress:
[code]
I have confirmed i can access the application itself

[2022-02-21 10:42] MeNsaaH commented on #8049
How is the docs here coming? The docs needs to discuss how to update already existing proxy headers like `X-Forwarded-Proto`,  I've been looking for how to properly set this, but can't find it anywhere.

[2022-02-21 13:27] wpjunior commented on #7760
Hello, I found the same bug, I will write a merge request fixing it.

[2022-02-21 15:30] MeNsaaH commented on #8049
@manikanth04 ^^

[2022-02-21 15:49] #7586 closed

[2022-02-21 17:25] longwuyuan commented on #8259
Tests would take time.

[2022-02-21 17:28] rittneje commented on #8259
Which tests? I tried adding some under e2e for this and it doesn't seem too bad.

[2022-02-21 17:48] dmakeienko commented on #7510
Encountered a similar issue on nginx 1.1.1 with helm chart 4.0.15

[2022-02-21 17:51] dmakeienko commented on #7519
Have a similar question as a @alex-vmw
So, we have a cluster with say 3 namespaces for separate environments/projects.
How it can be achieved? `kubernetes.io/ingress.class `annotation is deprecated and IngressClass is a cluster level resource that users have no permissions for

[2022-02-21 18:59] dmarkey commented on #3427
This worked for me:
[code]

[2022-02-21 21:52] strongjz commented on #7960
So I did some more testing and the route cookies stay consistent with the host it goes to but not the one it is sent.

Host 1 - cookieA
Host 2 - cookieB
Host 3 - cookieC

Send request, -b route=cookieA, delete Host 1, even though I'm sending it Host 1's cookie, the backend doesn't exist so Nginx is doing defaulting to round-robin.

`hello-8659d65944-m78wl` cookie `route=11f9af33462c6eeacb359a6b819

[2022-02-21 21:52] #7960 closed

[2022-02-21 22:01] strongjz commented on #8248
There are several annotations in the documentation that must be set up correctly

https://kubernetes.io/docs/concepts/services-networking/service/#other-elb-annotations

I would also check the security groups for the nodes.

See the discussion here as well https://github.com/kubernetes/ingress-nginx/issues/6292#issuecomment-763765042

AWS recommends using NLB or ALB with working with EKS.
- NLB ht

[2022-02-21 22:03] strongjz commented on #8248
/close

[2022-02-21 22:03] #8248 closed

[2022-02-22 02:18] rittneje opened #8264 "Allow wildcard port for localhost in cors-allow-origin"
When testing locally, we don't care to enforce what port developers host their local server on. For this reason `nginx.ingress.kubernetes.io/cors-allow-origin` should allow a wildcard port specifically in the case of localhost. That is, `http://localhost:*` and `https://localhost:*` should bot be legal origins in the list.

I feel it is unlikely that such wildcarding will be desirable for anything

[2022-02-22 04:15] rmathagiarun commented on #8166
@longwuyuan Any update on this. I have answered all the queries that you have posted, Let me know if you need any additional info.

**What other info is available ?**
Every time when we add/remove ingress, ingress controller gets reloaded (due to configuration changes). During this reload, memory utilisation shoots up.
I0218 13:29:45.249555 8 controller.go:155] "Configuration changes detected, bac

[2022-02-22 09:54] vvotekeb commented on #5299
we really need this feature

[2022-02-22 15:42] stevehipwell commented on #7442
/remove-lifecycle stale

[2022-02-22 19:52] qingvincentyin commented on #6722
My observation is consistent with your speculation that it's probably a bug in the krew plugin `ingress-nginx`.
So, the following output is unreliable (probably a bug in the plugin):
[code]

But the real `nginx.conf` is good and the whole system is working for me:
[code]

[2022-02-22 21:02] ppanyukov commented on #5238
Bump bump. Almost celebrating a 2 year anniversary -- time flies in lockdown! 😀 Would be nice to have a "fix" at some point. 😀

[2022-02-23 03:53] wanghonglei5181 opened #8265 "a suggestion ! how to disable metrics"
some times we do not need some metrics ,such as upstreamLatency,upstreamLatency may cost a lot of cpu times,it may cause open a lot of files 。
in my case,i have a machine with 20cores 64GBmemory 500GB sata disk,run a ingress controller controller with 50000+ qps
use go tool pprof http://localhost:10245/debug/pprof/profile,i found the function quantile.x cost a lot of cpu.

![图片](https://user-image

[2022-02-23 08:11] longwuyuan commented on #7519
If its hurting you badly, then you can install ingress-controller v1.1.1 3 times, with each one in 3 different namespaces.
Worst case scene, you can revert to the annotation. It will stay for a long time I think. Although the docs needs update on that aspect.
Thanks,
; Long

[2022-02-23 13:25] crinjes commented on #6155
/remove-lifecycle stale

[2022-02-23 14:43] tanuj-soni2 commented on #7918
Can anyone please look in to this issue or we have any kind of update for that?

[2022-02-23 15:05] ArchangelSDY commented on #8250
It turns out the OCSP API `ocsp.create_ocsp_request` requires a DER certificate. Then I'm going to cache a copy of DER object as well.

[2022-02-23 16:12] sniffer72 commented on #4206
kubernetes ingress controller fake certificate ingress.local = FIXED

The solution was to add this line to the nginx config specifying where to find the default cert.  Ours happens to be in the default namespace with the custom name of ssl-crt.

kubectl edit deployment ingress-nginx-controller -n kube-system

- --default-ssl-certificate=default/ssl-crt

[2022-02-23 16:50] sniffer72 commented on #4979
kubernetes ingress controller fake certificate ingress.local = FIXED

The solution was to add this line to the nginx config specifying where to find the default cert.  Ours happens to be in the default namespace with the custom name of ssl-crt.

kubectl edit deployment ingress-nginx-controller -n kube-system
- --default-ssl-certificate=default/ssl-crt

[2022-02-24 09:45] iamNoah1 commented on #6155
@jacklund somehow your message got lost in the chatter. Are you still willing to give it a try? Best advice is to join the [ingress-nginx-dev](https://kubernetes.slack.com/archives/C021E147ZA4/p1642760913186900) and maybe join the bi-weekly meetings to ask for help.

[2022-02-24 10:52] kundan2707 commented on #8247
/triage needs-information

[2022-02-24 11:45] attiss commented on #8183
After doing some more research and testing, it seems that the root problem is already solved in either the `auth_request` nginx module or the configuration in ingress-nginx has been changed and both of the cookies returned by OAuth2 Proxy are sent back to the client without having the snippet offered by the OAuth2 Proxy community.

---

## test Ingress resource

[code]

**Note that there's no conf

[2022-02-24 12:36] Ed87 opened #8268 "TLS termination not working properly in ingress-controller pod"
I have an issue with my  ingress-nginx which I setup for my k0s cluster as per guidelines [here](https://docs.k0sproject.io/v1.22.2+k0s.1/examples/nginx-ingress/). I also have a thread for the full issue [here](https://stackoverflow.com/questions/71233140/504-gateway-timeout-error-on-kubernetes-ingress).

So far I have drilled down the issue to the ingress-controller pod with command `ks logs ingr

[2022-02-24 12:43] janosi commented on #8183
Thank you @attiss ! Closing as the problem is not present anymore.

[2022-02-24 12:43] #8183 closed

[2022-02-24 17:09] pdefreitas commented on #7546
@rikatz This was merged but it wasn't released as part of 4.0.17. Any chance we can have it released?

[2022-02-24 17:28] #6850 closed

[2022-02-24 18:33] afakhri commented on #8215
+1

[2022-02-25 02:43] seyal84 commented on #2007
I'm really surprised to see that everyone is proposing solutions but their is not single final solution proposed and used by everyone.  Why is it such a mess with ngnix? 504 error is just bugging us alot as well

[2022-02-25 06:55] longwuyuan commented on #8215
Please install each instance of the ingress-nginx controller in its own namespace for now. This is a known problem and has much larger implications than possible on a typed conversation. Thanks.

[2022-02-25 11:48] elsbrock commented on #7120
I actually solved the problem and it was not caused by ingress-nginx but instead by the backend nginx. Too may nginx's involved ;)

I will therefore close the issue.

[2022-02-25 11:48] #7120 closed

[2022-02-25 12:09] TDTcloudteam commented on #6605
Any help on the below issue?

1. Purchased Azure App service certificate - Type of Wildcard domain
2. Mapped this Trusted SSL with Application gateway and the backend pool is of AKS(Ingress LB)
3. Communication on port 80 is successful but when on SSL(443) it is failing with the below error

Error:
The Common Name (CN) of the backend server certificate does not match the host header entered in the

[2022-02-25 12:37] avodaqstephan commented on #6605
@TDTcloudteam Please try with `test.com` instead of `*.test.com` or add both entries. I think the wildcard does not apply automatically to the root domain.

[2022-02-25 12:42] TDTcloudteam commented on #6605
@avodaqstephan  Thanks Have tried below too
hosts:
  test.com
secretName: aks-ingress-tls
rules:
 http:
  paths:
   path: /
   pathType: Prefix
   backend:
     service:
       name: nginxservice
       port:
       number: 80

[2022-02-25 12:43] MartijnWoudstra opened #8269 "Legacy TLS per Ingress Rule"
Legacy TLS can be enabled by the config map. This is good for legacy systems, but is enabled globally. This means all Ingress rules allow these ciphers and protocols. Is it possible to enable it in the config map, but not allow it in ingress rules? This prevents insecure traffic to more than needed paths.

[2022-02-25 12:53] armujahid commented on #7815
any update on this? I am also getting same issue with SSL termination on Ingress controller/NLB

[2022-02-25 13:37] longwuyuan commented on #7815
The issue template asks information that can be used to analyse the reported problem but it was ignored in this issue so not much chance for anyone to analyse data. At best you will get guesses.

[2022-02-25 13:40] longwuyuan commented on #8269
The problem description is too hypothetical and you may only get opinions.

If you can get precise with examples of what you are referring to, complete with example ingress, example ConfigMap, example http/https request etc etc, then maybe it will will be easier to get precise comments.

[2022-02-25 18:22] vosmax commented on #8092
You have a misconfiguration.
My versions:
[code]
My configs. I'm not using the `all-in-one` solution, so I use a collector service directly

Globally:
[code]

Enable tracing for required Ingress:
[code]

if you want to specify some parameters for Ingress just rewrite global value by adding annotation:
[code]

[2022-02-25 22:49] rittneje opened #8270 "Allow configuring cors in ConfigMap"
Currently we have to manually config CORS in the annotations for each individual Ingress. This is very annoying. Instead, there should be ConfigMap fields corresponding to all the CORS annotations that get used by default.

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#enab

[2022-02-25 23:00] romeomorcia-wipro commented on #8030
Nice catch. It would be nice if someone could make the changes to the code to make it work as it was before, unless there is a reason why it's this way and perhaps document them...

@rittneje: I've solved by editing manually the role and adding an additional entry to the ClusterRole right after the new ConfigMap, named after my ElectionID which is ingress-controller-leader, was created.

This is n

[2022-02-25 23:07] 45cali opened #8271 "semverCompare conditional is incorrect"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **OS** : EKS

- **How was the ingress-nginx-controller installed**:
  - Helm
[code]

- **Current State of the controller**:
- **Current state of ingress object, if applicable**:
- **Others**:

**What happened**:

H

[2022-02-26 01:05] BrammyS opened #8272 "Unable to find TLS secret"
**NGINX Ingress controller version**
 v 1.1.1

**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**:
DigitalOcean

- **How was the ingress-nginx-controller installed**:
[code]
[code]

**What happened**:

I have installed the ingress-nginx with the command mentioned above.
I created a TLS secret for the certificate first.
[code]
I a

[2022-02-26 01:07] BrammyS commented on #8272
The namespaces both match so I'm completely lost on why the controller can't find the secret.

[2022-02-26 05:26] longwuyuan commented on #8272
The logs are  telling you clearly that your cert has problems.

[code]

/close

[2022-02-26 05:26] #8272 closed

[2022-02-26 09:33] BrammyS commented on #8272
But what is the problem here?

[2022-02-26 12:34] tao12345666333 commented on #7546
We can make a release

[2022-02-26 13:11] rikatz commented on #7546
@tao12345666333 do you wanna start the release process?

[2022-02-26 13:16] tao12345666333 commented on #7546
Yes, I'll handle it

[2022-02-26 18:28] longwuyuan commented on #8272
Only you have access to your cert so only you can know the problem with your cert.

Thanks,
; Long

[2022-02-26 18:39] longwuyuan commented on #8271
If you look at the docs, then you will see that the project recommends to use a yaml manifest when installing on AWS.

And if you look at https://github.com/kubernetes/ingress-nginx/blob/1e66a54974856cd31fea0e203a7b97b955ebe792/deploy/static/provider/aws/1.20/deploy.yaml#L372 you will see the appProtocol field is set and populated.

While you have a workaround to fork and maintain your own chart,

[2022-02-26 18:44] longwuyuan commented on #8270
This will be helpful in certain use cases. But in some other use cases, mismatch of domains will actually inject the global CORS config into ingress rules where the global CORS config would not be desired.

[2022-02-26 20:23] rittneje commented on #8270
@longwuyuan What do you mean by "mismatch of domains"?

[2022-02-26 20:42] longwuyuan commented on #8270
Domain configured in the global CORS config and Domain of the value in the field ingress.spec.rules.host

[2022-02-26 20:54] rittneje commented on #8270
Seems like that could be resolved by allowing people to define global CORS settings per hostname then.

[2022-02-26 22:43] longwuyuan commented on #8270
Agreed. But the implementation has to be optional opt-in. Any change to the code needs to avoid a scene like "compulsory opt-in + optional opt-out".

[2022-02-26 23:56] longwuyuan commented on #8270
Yes, hence my comment, based on the assumption not everyone will want that. It could also break multiple current uses.

[2022-02-27 00:37] rittneje commented on #8270
I don't understand what you mean. Anyone using ingress-nginx would have to go and set this new proposed config map field. This has nothing to do with it being separate per hostname or not. If the config map field is not present, then there is no global CORS configuration, so in essence it defaults to exactly what you have today - CORS is disabled. And if the cluster operator (or whoever is in char

[2022-02-27 09:31] tao12345666333 opened #8274 "v1.1.2 Release"
This issue is in preparation for the v1.1.2 release.

We've made a lot of changes recently, and we thank everyone for their contributions. What prompted me to release this version is  https://github.com/kubernetes/ingress-nginx/issues/7546#issuecomment-1030899995

I'm going to handle the release process for v1.1.2 version, what do you think? @rikatz @strongjz  @longwuyuan
cc @kubernetes/ingress-ng

[2022-02-27 14:51] Erokos commented on #6506
Running the latest version of the chart `4.0.17` on the latest kubernetes version 1.23.4 on AWS EC2, configured by kubeadm yields the same results. Most of the time requests to my apps pass, but often timeout. I see this "Scheduled for sync" on every ingress resource in different namespaces. After I downgradeat my chart version to `4.0.6`, it worked as it previously did with that version. So in my

[2022-02-28 02:46] rittneje commented on #8083
I would like to point out that having the Ingress refer to the TLS certificate is actually a design flaw in Kubernetes. A certificate is aligned with a hostname. If two Ingresses on the same hostname specify different TLS certificates, you will get confusing results. (Namely, only the earliest Ingress is respected, I think.)

If ingress-nginx were fixed to allow configuring the mappings of hostnam

[2022-02-28 02:51] longwuyuan commented on #8083
Just to confirm, are you implying that one FQDN is not issued more than 1 certificate by any CA ?

[2022-02-28 02:56] rittneje commented on #8083
No, there are CAs that will do that. However, you have to prove ownership of all the domains (whatever that means to the CA in question). Regardless, it might be the case that you are getting certificates from different CAs for some reason. Or they are renewed via different processes (e.g., manual vs. cert-manager). Or any other number of legitimate use cases. ingress-nginx should not mandate how

[2022-02-28 03:10] longwuyuan commented on #8083
I f I create a ingress whose rules are a duplicate of an existing ingress object, the admission stops me from creating the duplicate ingress and also tells that its a duplicate. If I create a ingress whose rules have  similarities with rules in a existing ingress, BUT are not a duplicate, then the new ingress is created. This use-case allows for having a different certificate. Implying certificate

[2022-02-28 03:18] rittneje commented on #8083
I'm not sure what you mean. I can have two Ingresses for two completely distinct paths, but the same hostname. Currently, these two Ingresses have to refer to the same certificate, or else I get very confusing results. And because referencing secrets from another namespace is not supported, this is even more complicated, as the certificate secret has to be copied to all applicable namespaces. And

[2022-02-28 04:51] longwuyuan commented on #8083
ok thanks. Can we close this issue, since the tracking is in the one you mentioned.

[2022-02-28 04:52] winkee01 commented on #8083
Dis you solve my questions?

[2022-02-28 04:58] winkee01 commented on #8083
I don't agree with what you said about HTTP level and TLS level, URL path and hostname are two things, they shouldn't be coupled, and certificate is also another thing and should not be coupled with them. What you are saying is trying to couple certificate with hostname, that's not correct.

[2022-02-28 05:03] rittneje commented on #8083
@winkee01 Certificates are by definition coupled with hostname, because the SANs of the certificate are for specific hostnames. (Really hostname patterns, given that wildcards are a thing.) What they are not coupled with is URLs, because that is an HTTP level concern outside of TLS's jurisdiction. It is for this reason that the Ingress resource never should have had any reference to the certificat

[2022-02-28 05:09] longwuyuan commented on #8083
@winkee01 I asked to close this issue because your question is better presented in the sig-networking channel of the Kubernetes slack.

At a high level, your question does not address the basic fact about secrets. Secrets are namespace scoped in Kubernetes . Look at this link https://kubernetes.io/docs/concepts/configuration/secret/#restrictions

So its not like this ingress-nginx controller proje

[2022-02-28 05:10] winkee01 commented on #8083
@rittneje what I said is not about a certificate bound to a hostname, it's how a certificate is managed by a host and presented to a client that requests it, you can have your certificate anywhere as long as the request gets to you, and you present your certificate to the requester, you get what I mean?  and in the real-world, the domain service provider help mapping a domain to an IP, why would w

[2022-02-28 05:11] longwuyuan commented on #6506
Come discuss this in the ingress-nginx-users channel of the Kubernetes slack please. There is less resources to track support type use-cases in GitHub.

[2022-02-28 05:14] winkee01 commented on #8083
@longwuyuan I think you don't have a well understanding of this problem from the first reply you posted a long time ago, are you the only contributor to this project? why aren't there other contributors get to the question?

[2022-02-28 05:20] rittneje commented on #8083
@winkee01 I'm not sure how familiar you are with the inner workings of TLS, so just to be safe, I will explain how it works at a high level in the hopes of shedding further light on the issue here.

When you connect to an HTTPS server, the first thing that happens is your local client establishes a TCP connection. To do this, it has to contact a DNS server to translate the hostname to an IP addres

[2022-02-28 05:23] longwuyuan commented on #8083
Instead of making generic comments, I hope you can get specific. That way more helpful input will get chances.

For example, your statement is this ;
[code]

The first thought here is that, you should post a question to the cert-manager community as you want cert-manager to issue all certificates in one single namespace that you specify, regardless of which namespace the relevant ingress object(s)

[2022-02-28 05:26] winkee01 commented on #8083
@longwuyuan I am just curious is there any other member of this project who can post some comments, I already know your understanding of this problem. you are so eager to redirect and close an issue that was not addressed at all.

[2022-02-28 05:39] winkee01 commented on #8083
@rittneje it's so time wasteful to explain you with texts, I draw a diagram for you.
<img width="700" alt="CleanShot 2022-02-28 at 13 38 12@2x" src="https://user-images.githubusercontent.com/49930785/155930082-5c7d9f82-511c-4244-bd13-2ed8d8784ef0.png">

[2022-02-28 05:43] rittneje commented on #8083
@winkee01 Your diagram is only focused on DNS resolution, and does not cover the situation where there are multiple certificates.

It is possible to have one certificate with all three SANs in it, and for this you can already solve your problem by passing it as the default certificate to ingress-nginx at the command line (`--default-ssl-certificate`) and not mentioning any secret in your Ingresses

[2022-02-28 05:47] winkee01 commented on #8083
@rittneje I draw a new picture just to help you understand how certificates presented to clients, not how they are bound to one or multiple domain names. for separate certificates, I think I have drawn them very clear and specific in my original question.

[2022-02-28 05:57] winkee01 commented on #8083
and more, how to get cert1 is just a storage problem, cert1 can be stored anywhere in the world, as long as host1 or host2 can retrieve it and present it to the requester, so we have back to my original question! I just need a way to retrieve my certificate from any place (like in a different namespace).

[2022-02-28 05:57] rittneje commented on #8083
@winkee01 I think you may still be confused how TLS works. Your original diagram shows two certificates - one for web1.cc, and another for both soga.com and chat.io. The key here is, when a client first connects to the server (ingress-nginx), how does it know which of these two certs to send back? TLS does not allow it to send both, so it must choose. This is what the server name in the ClientHell

[2022-02-28 06:00] winkee01 commented on #8083
You mean a CA can issue two different certs on the same domain/hostname? no, that's not impossible, man.

[2022-02-28 06:02] rittneje commented on #8083
That's not what I was referring to at all. One server can have multiple certificates, each for a distinct hostname. (This is in fact the case you found yourself in.)

[2022-02-28 06:10] winkee01 commented on #8083
One server can store multiple certificates, come on man, you are wasting my time.

[2022-02-28 09:07] #7159 closed

[2022-02-28 09:19] amitay-strattic commented on #7968
/remove-lifecycle stale

[2022-02-28 11:29] WMP commented on #8249
What progress with this issue?

[2022-02-28 14:42] lyz-code commented on #8195
@OmarHawk did you find any patch until the problem is solved?

[2022-02-28 15:32] lyz-code commented on #8195
Using `proxySetHeaders` doesn't work either as then both headers are set:

[code]

Request headers:

[code]

[2022-02-28 15:56] juame opened #8276 "ConfigMap for ingress-controller-leader not named with <election-id>-<ingress-class>"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

NGINX Ingress controller
  Release:       v1.1.1
  Build:         a17181e43ec85534a6fea968d95d019c5a4bc8cf
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.9

**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"23

[2022-02-28 18:10] OmarHawk commented on #8195
no, I didn't. :-(

[2022-02-28 18:37] 45cali commented on #8271
But the chart is already using the logic im requesting here:
[code]

[2022-02-28 22:41] pierlucg-xs commented on #8252
The log from the controller is from a bad URL rewrite:
[code]

I have multiple k8s clusters, with the same-ish nginx setup (same version and config that differs only in hostnames).

For instance:
* `curl staging.appname.company.com/abcdef1234` -> 404 (expected)
[code]
* `curl appname.company.com/abcdef1234` -> 500
[code]

  What would explain the different behaviour between the two instances?

[2022-02-28 23:52] longwuyuan commented on #8276
/kind feature
hi,
There seems to be a long story behind this.
The code behind this is still work-in-progress.
If you install 2 instances of the ingress-nginx controller in the same namespace, there will be contentions and resulting failure to process to ingress objects. It is required currently that each instance of the ingress-nginx controller be installed in its own namespace. This status-quo re

[2022-03-01 00:18] philwelz commented on #6937
i can confirm this behavior on version v1.0.4 / 4.0.6 where the metric `nginx_ingress_controller_requests` is missing until you do any request (for example curl) to an ingress resource.

[2022-03-01 05:37] anilarora opened #8278 "Unable to support mixed wildcard and non-wildcard hosts"
Hello, all.  I'm having a bit of troubledeploying something similar to the wildcard host example as shown at https://kubernetes.io/docs/concepts/services-networking/ingress/ where one of the rules uses a specific hostname, while the other rule uses a wildcard host.

[code]

However, regardless of having using two resources or one combined resource, if I try to access https://hello-a01.plnkube.loca

[2022-03-01 08:21] longwuyuan commented on #8278
/remove-kind bug

Use the template of a new issue and add the information asked. That helps to get a perspective.
Look at the resulting nginx.conf inside the pod for the results of your current configuration to get insights.

[2022-03-01 08:44] luis-a-sanchez commented on #7261
Same issue here, version v1.1.1 is raising the same warnings when using the `http_snippet `annotation, making the config check fail.

[2022-03-01 10:06] iamNoah1 commented on #8250
/triage-accepted
/priority important-longterm

[2022-03-01 10:07] iamNoah1 commented on #8250
/triage accepted

[2022-03-01 10:16] iamNoah1 commented on #6919
/close

[2022-03-01 10:16] #6919 closed

[2022-03-01 10:17] thomasbruggink opened #8279 "Add support shareProcessNamespace to the helm chart"
Hi,

I'm trying to setup a side-car to write the NGINX access log to an internal log processor and would like to signal the NGINX process that it needs to re-open the file. With yml this can be done by adding `shareProcessNamespace: true` which allows a log rotate side-car to signal NGINX to re-open the logs files.
It seems this option is missing in the [helm chart deploymeny](https://github.com/k

[2022-03-01 10:27] eegseth opened #8280 "Annotations proxy-ssl-name & proxy-ssl-server-name not applied to config"
**NGINX Ingress controller version** : 1.1.0

**Kubernetes version** : 1.21.2

**What happened**:

When defining the following annotations, they are not applied to the nginx config:
nginx.ingress.kubernetes.io/proxy-ssl-server-name
nginx.ingress.kubernetes.io/proxy-ssl-name

**What you expected to happen**:

proxy_ssl_server_name and proxy_ssl_name directives should be present in nginx.conf under

[2022-03-01 11:25] BBQigniter commented on #8092
@vosmax
hmm, tried it now similarly to your config, but without the globally enabled opentracing I can't get it to work. As soon as I enable it in the ingress-config of the workload, I again get `nginx: [error] opentracing_propagate_context before tracer loaded`

maybe this has something to do with `jaeger-endpoint` you are using. I have to use the jaeger-agent with `jaeger-collector-host`

but ma

[2022-03-01 16:56] anilarora commented on #8278
Updated description of bug to provide more information as asked.  I am unsure how to really interpret the nginx configuration.

[2022-03-01 18:12] strongjz commented on #5883
@dmathieu looks like there some issues with building the image in prow https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-ingress-nginx-build-opentelemetry/1498713694396223488

[2022-03-01 19:04] jamesdruhan opened #8282 "Wrong IP Being assigned to Ingress Service Objects"
I am running a k8s cluster on bare metal (1 control plane + 2 worker nodes). I've setup a external HA Proxy load balancer to redirect http/https traffic to both worker notes on the ingress controller ports 80:31336/TCP,443:30964/TCP.

However none of the Ingress services I create do anything. The Ingress controller isn't redirecting to the appropriate service. When I create ingress services, it as

[2022-03-01 21:21] jamesdruhan commented on #8282
Solved this with --publish-status-address

[2022-03-01 21:21] #8282 closed

[2022-03-01 21:35] rittneje opened #8283 "nginx defaults to oldest ingress rule for auth and cors when no ingress rules match"
Reopening #6951. It is still a bug in v1.0.5 with EKS 1.20.

Also, if the oldest Ingress doesn't have any auth configured, then we observe that the CORS headers configured via annotations on the oldest Ingress are getting sent back on the 404 response.

NGINX Ingress controller version: 1.0.5

Kubernetes version (use kubectl version):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:

[2022-03-02 07:36] GeorgeCimpoies opened #8284 "limit-rpm annotation does not work as expected"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Bottlerocket OS
- **Kernel** (e.g. `uname -a`): 5.10.93
- **Install tools**: eksctl
  - `Please mention how/where was the cl

[2022-03-02 08:17] Lyt99 opened #8285 "Massive lock waits and memory increasing when enable metrics"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

`v1.22.3-aliyun.1`

**Environment**:

- **Cloud provider or hardware configuration**: `Alibaba Cloud`
- **OS** (e.g. from /etc/os-release): `Alibaba Cloud Linux (Aliyun Linux) 2.1903 LTS (Hunting Beagle)`
- **Kernel** (e.g. `uname -a`): `Linux iZbp

[2022-03-02 09:09] dmathieu commented on #5883
Sorry about that @strongjz. The nginx version was changed as a PR feedback, and I missed the checksum. #8286 fixes it.

[2022-03-02 11:12] PidgeyBE commented on #3753
Did anyone do this or work around this already?

[2022-03-02 11:59] bmv126 commented on #7510
When you use rbac.scope=true (namespace scoped) installation of ingress-nginx, the only way to make controller detect the ingress resource is to use the  `watchIngressWithoutClass: true` when installing ingress-nginx.

Another option is to use the deprecated annotation in ingress resource as mentioned in https://github.com/kubernetes/ingress-nginx/pull/8136.

[2022-03-02 14:26] vosmax commented on #8092
@BBQigniter glad to know that I could partially help.

Based on [nginx.tmpl](https://github.com/kubernetes/ingress-nginx/blob/controller-v1.1.1/rootfs/etc/nginx/template/nginx.tmpl) file everything is in the right place
I would suggest:
1. Pull out built nginx.conf and check that all is formatted and filled well
2. Try to use `jaeger-endpoint` instead of `jaeger-collector-host` to prove or disprov

[2022-03-02 16:06] CCOLLOT opened #8289 "Failed HTTP requests to app exposed via an ingress resource in the same cluster as the http client"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`): 1.21
[code]

**Environment**:

- **Cloud provider or hardware configuration**: `EKS`
- **OS** (e.g. from /etc/os-release):
[code]

- **Kernel** (e.g. `uname -a`): `5.4.172-90.336.amzn2.x86_64 #1 SMP Wed Jan 19 23:08:01 UTC 2022 x86_64 x86_64

[2022-03-02 17:40] kundan2707 commented on #8235
/remove-kind bug
/kind support

[2022-03-02 17:41] kundan2707 commented on #8235
@vnesbee
It should be **nginx.ingress.kubernetes.io/enable-cors: "true"**
update and check once

[2022-03-02 20:45] yellowmegaman commented on #5607
This is indeed a security issue, and I can't see any reason why not allow us to disable default rule to get rid of direct IP responses.

[2022-03-03 04:23] GregCKrause commented on #4433
Wanted to leave this here in case it helps anyone else. I was getting intermittent 502's (browser confusingly reported a CORS error), and eventually realized that my Kubernetes manifests were using a shared metadata selector label. Be sure these are unique for each service!

[2022-03-03 07:49] iamNoah1 commented on #7129
/unassign @kundan2707
/help

[2022-03-03 10:13] kundan2707 commented on #8247
@nishant-ketu  friendly reminder

[2022-03-03 10:24] kundan2707 commented on #8233
you cannot et these flag with command line. you need to set these in config file

[2022-03-03 10:26] froblesmartin opened #8292 "Changelog notes missing for Helm chart v4.0.16 and v4.0.17"
The docs at https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/CHANGELOG.md are missing the last 2 patch releases.

Is the Helm changelog going to be documented in some different way? If not, I can open a PR adding the changes :smiley:

/kind documentation
/remove-kind bug

[2022-03-03 10:50] tao12345666333 commented on #8292
The previous changelog should have been updated to the Chart.yaml file, not updated here

[2022-03-03 11:02] froblesmartin commented on #8292
Oh okay, then the list in Chart.yaml needs to be replaced on every release, or just add the new changes on top of the previous ones making the list huge after a while? :smile:

[2022-03-03 11:40] kundan2707 commented on #8212
@tarun-asthana  only change that i can observe is sequence of  **nginx.ingress.kubernetes.io/canary: "true"**
As per official documentation
annotations to configure canary can be enabled after nginx.ingress.kubernetes.io/canary: "true" is set

[2022-03-03 17:56] hacst commented on #7652
We also burned quite a bit of time on this. We have the same setup described by winromulus: One ingress controller with external and one with internal LB providing different ingress classes in the same namespace. They both serve various other namespaces. Setting different `controller.electionId`s works around the issue.

@longwuyuan you mentioned:

Could you elaborate on what namespace scoping mea

[2022-03-03 21:29] tarun-asthana commented on #8212
@kundan2707 Do you mean the double quotes on true is the difference?

[2022-03-04 03:59] #7739 closed

[2022-03-04 06:43] XiShanYongYe-Chang opened #8297 "Support deploy ingress controller on an existing kind cluster with dev-env.sh"
Can `dev-env.sh` support deploy ingress controller on an existing kind cluster, for example: `kind-host`.

[2022-03-04 08:46] edtshuma opened #8298 "Unable to start nginx-ingress-controller Readiness and Liveness probes failed"
I have installed using instructions at this [link](https://docs.k0sproject.io/v1.22.2+k0s.1/examples/nginx-ingress/) for the I**nstall NGINX using NodePort** option.

When I do ` ks logs -f ingress-nginx-controller-7f48b8-s7pg4 -n ingress-nginx`   I get :

`I0304 07:06:50.556061       7 flags.go:211] "Watching for Ingress" class="nginx"
W0304 07:06:50.556501       7 flags.go:216] Ingresses with an

[2022-03-04 10:01] #7754 closed

[2022-03-04 10:44] sakshigupta3 commented on #6135
We are also facing the same issue with ingress nginx 1.1.1 on a baremetal K8s server. Is there any reply/support from the devs here as I can see quite a few folks are facing these issues

[2022-03-04 13:50] kierenevans commented on #5286
/reopen
/remove-lifecycle rotten

The lack of `Cache-Control: private, no-cache, no-store, max-age=0, must-revalidate, stale-if-error=0` on the signin redirect means that redirects to authenticate can get cached by intermediate proxies like CDNs.

[2022-03-04 15:01] #7752 closed

[2022-03-05 00:06] demonfoo commented on #6569
I personally ended up patching the deployment like this:
[code]

including a custom `openssl.cnf` via a `kustomization.yaml`:
[code]

with contents of:
[code]

This gives me full control over the TLS 1.3 suites, and the suites I've chosen show up when I use TLS testing tools.

[2022-03-05 01:21] rittneje opened #8299 "mTLS headers must not be forwarded from original request"
We can enable mTLS for a service via the `nginx.ingress.kubernetes.io/auth-tls-*` annotations. This will cause ingress-nginx to forward information about the handshake result via the request headers. In particular, it sends `ssl-client-issuer-dn`, `ssl-client-subject-dn`, `ssl-client-verify`, and possibly `ssl-client-cert`,

If the service in question is accessible via both mTLS and non-mTLS, then

[2022-03-05 15:48] thakurchander opened #8301 "ingress nginx not redirecting http to https"
Here is the my yaml fine

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: front
  namespace: prod
  annotations:
    external-dns.alpha.kubernetes.io/ttl: "60"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "false"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.org/location-snippets: |
      prox

[2022-03-05 15:57] thakurchander commented on #8301
Here is the controller config
    ---
controller:
  config:
    compute-full-forwarded-for: "true"
    use-forwarded-headers: "true"
    proxy-body-size: "0"
  ingressClass: external-nginx
  ingressClassResource:
    enabled: true
    default: false
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:

[2022-03-05 16:09] longwuyuan commented on #8301
https://kubernetes.github.io/ingress-nginx/user-guide/tls/#server-side-https-enforcement-through-redirect

/close

[2022-03-05 16:10] #8301 closed

[2022-03-05 16:13] longwuyuan commented on #8289
/remove-kind bug

Use the template of a new issue and post the information asked in the template

[2022-03-05 16:15] longwuyuan commented on #8299
/remove-kind bug

Please use the template of a new issue and provide the information requested there. Thanks

[2022-03-05 16:28] thakurchander commented on #8301
Hey @longwuyuan - As per documentation we have to use ssl-force-redirection="true", But still facing the isssue with redirection.

When using SSL offloading outside of cluster (e.g. AWS ELB) it may be useful to enforce a redirect to HTTPS even when there is no TLS certificate available. This can be achieved by using the nginx.ingress.kubernetes.io/force-ssl-redirect: "true" annotation in the parti

[2022-03-05 18:00] shybbko commented on #7483
/remove-lifecycle stale

[2022-03-05 18:09] rittneje commented on #8299
@longwuyuan No, your issue template is full of irrelevant questions. This is a security hole that you need to fix. Re-add the bug label.

[2022-03-05 22:31] Ariseaz commented on #2724
Using helm ingress-nginx chart on EKS
Edit configmap ingress-nginx-controller
`kubectl edit configmap ingress-nginx-controller  -n ingress-nginx`
Add
`data:
  server-snippet: |
    listen 8000;
    if ( $server_port = 80 ) {
         return 308 https://$host$request_uri;
     }
  ssl-redirect: "false"`

Edit service/ingress-nginx-controller by adding
`meta.helm.sh/release-namespace: ingress-nginx

[2022-03-06 01:15] #7756 closed

[2022-03-06 03:31] nishant-ketu commented on #8247
Hey @kundan2707  We are installing the nginx-ingres using helm on gke cluster. We are using below helm charts.
https://github.com/kubernetes/ingress-nginx/tree/main/charts/ingress-nginx

How I confirmed that the metrics is missing is I went on to check the  http:localhost/metrics  in the nginx-ingress pods and nginx_ingress_controller_ssl_expire_time_seconds was missing. But strange part is that i

[2022-03-06 06:07] theunrealgeek commented on #7824
@longwuyuan I will try to read the config and see if what is raised is correct or we need to update the docs.

/remove-lifecycle rotten

[2022-03-06 06:10] longwuyuan commented on #7824
@theunrealgeek thank you

[2022-03-06 13:59] thakurchander opened #8303 "ingress nginx not redirecting http to https"
**NGINX Ingress controller version** :

**Kubernetes version** :
[code]

**Environment**:

- **AWS**:
- **Install tools**:
  - `AWS EKS Cluster`
- **Basic cluster related info**:
  - `kubectl version`
[code]

- **How was the ingress-nginx-controller installed**:
  - If helm was used then please show output of `helm ls -A | grep -i ingress`

[code]

  - If helm was used then please show output of `

[2022-03-06 14:07] longwuyuan commented on #8303
- Duplicate of https://github.com/kubernetes/ingress-nginx/issues/8301
- Please write down steps that someone can use to copy/paste into their own Minikube/kind cluster and verify a "bug" because the information posted here does not seem to be having enough data to demonstrate a bug
- I wonder why that yaml is unindented

/remove-kind bug

[2022-03-06 14:12] thakurchander commented on #8303
[code]

[2022-03-06 14:37] emwalker commented on #3158
I ran into this issue as well.  Looking through the contents of @jsdevtom 's [checklist](https://github.com/kubernetes/ingress-nginx/issues/3158#issuecomment-487347881), it occurred to me that I had deleted an annotation on the ingresses in order to complete an upgrade of the `ingress-nginx` helm chart, because that annotation was preventing the upgrade,  The annotation that was removed was `kuber

[2022-03-06 14:53] tao12345666333 commented on #8274
https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.1.2
https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.0.18

v1.1.2 has been released. I will close this one.
thanks @longwuyuan

/close

[2022-03-06 14:54] #8274 closed

[2022-03-06 15:11] thakurchander commented on #8303
what else information is you needed.

Simply I wanna redirect http-> https , if i set ssl-force-redirect to true then I get Error `ERR_TOO_MANY_REDIRECTS` on browser and in curl request I get `308 Permanent Redirect` , but when I set it to false it works(application is accessible on both http and https).

[2022-03-06 15:18] antoineozenne commented on #6381
/remove-lifecycle stale

[2022-03-06 15:25] longwuyuan commented on #6381
some work was done recently. Please check docs

[2022-03-06 15:34] antoineozenne commented on #6381
I don't see it. Can you please attach a link?

[2022-03-06 16:36] longwuyuan commented on #6381
https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/

[2022-03-06 16:57] VengefulAncient commented on #6381
This is a good start but the original issue stands. The entire Prometheus/Grafana stack with these dashboards needs to be made available as configurable part of the `ingress-nginx` Helm chart so it can be properly maintained by devops teams that implement `ingress-nginx` in their clusters. A manual deployment with `kustomize` is not a suitable solution. Therefore, this issue should be kept open.

[2022-03-07 00:57] longwuyuan commented on #6381
You are absolutely right. All your questions are valid and your suggestion is also valid.

But it can not be done because of best-practices. First there is lack of dev resources so radically modifying the helm-chart is out of the question. It can not be maintained if we introduce all the monitoring software into the helm chart.

Secondly, even though you have problems, the best-practice for dashbo

[2022-03-07 01:57] XiShanYongYe-Chang commented on #8297
Update like this:

[code]

[2022-03-07 04:45] rmathagiarun commented on #8166
@longwuyuan Any update on this. We have been hitting this issue quiet frequently.

[2022-03-07 05:08] longwuyuan commented on #8166
Hi, its unfortunate that you have a problem. I have made some attempts to drive this to some resolution but failed. So next  attempt I can make is suggest some info gathering.

You will requires some kind of a background or will have to get someone who has some kind of a history with performance related troubleshooting. Basically there are some steps like preparations to capture related informatio

[2022-03-07 10:30] #7761 closed

[2022-03-07 11:07] steveizzle commented on #7850
Seems to be fixed in newer version

[2022-03-07 11:14] brozekt-e opened #8306 "Release contains test data and private keys"
**NGINX Ingress controller version**: 1.1.1
**Kubernetes version**: n/a
**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS

- **How was the ingress-nginx-controller installed**: I couldn't even install

**What happened**:

I tried to import the image to our internal image repository. Images are scanned by Sysdig before the import. The scan result identified 2 STOPS (blocki

[2022-03-07 11:46] killbot99 opened #8308 "When Service changes from type ExternalName to ClusterIP, traffic still gets sent to old ExternalName IP"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.0.0-dev

**Kubernetes version** (use `kubectl version`): observed in 1.20 and 1.21

**Environment**: development

- **Cloud provider or hardware configuration**: Observed in GKE, but replicated in local kind cluster running on a macbook
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `u

[2022-03-07 15:43] yene opened #8310 "Helm template remove quotes from namespace"
Hi, small nitpick

If someone has time please remove the quotes from Helm namespace to make the output uniform.

test with
[code]

result:
[code]

[2022-03-07 16:51] digiserg commented on #3426
I can't say whether this is a coincidence or not but I've [disabled ipv6 DNS](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#disable-ipv6-dns) resolution and it has resolved the problem for us.

[2022-03-07 16:55] strongjz commented on #6745
Why not set the annotations

`nginx.ingress.kubernetes.io/from-to-www-redirect: "true"`

 `nginx.ingress.kubernetes.io/permanent-redirect: https://www.mysite.com/`

https://github.com/kubernetes/ingress-nginx/blob/main/internal/ingress/annotations/redirect/redirect.go#L53

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#permanent-redirect

[2022-03-07 17:29] kundan2707 commented on #8233
@nlybe  if your problem got resolved then you can close this issue.

[2022-03-07 17:32] kundan2707 commented on #7673
/remove-lifecycle stale

[2022-03-07 19:42] murilolobato opened #8312 "Ingress-nginx on new cluster creates load balancer that fails health check"
**NGINX Ingress controller version**: 1.1.2
**Kubernetes version**: 1.20
**Environment**: AWS EKS
- **Install tools**:
  - terraform aws eks module version 18+
- **Basic cluster related info**:
  - `kubectl version`
[code]
  - `kubectl get nodes -o wide`
[code]
- **How was the ingress-nginx-controller installed**: helm

**What happened**:

I had this issue when deploying a brand new kubernetes wit

[2022-03-07 20:15] nielsslot commented on #5464
I'm reopening this issue because it's still bugging me and I think I have an idea of how to fix it.

I believe that this bug could be related to the difference between the nginx variables $host and $http_host. There's [a StackOverflow question](https://stackoverflow.com/questions/15414810/whats-the-difference-of-host-and-http-host-in-nginx) about it. To summarize, the $http_host variable always co

[2022-03-08 00:00] tallclair commented on #5464
/remove-lifecycle rotten

[2022-03-08 07:39] huanghantao commented on #2116
Hi, how to open this metrics? I have configured `prometheus.io/scrape` for ingress-nginx deployment, but it seems that rps per backend is missing.

The image is `k8s.gcr.io/ingress-nginx/controller:v1.0.5`.

My core configuration is as follows:

[code]

[code]

I can confirm that prometheus has been able to fetch metrics but has not found rps per backend.

[2022-03-08 07:59] nlybe commented on #8233
@kundan2707 thanks for your replies. Actually it's not clear to me how to use this feature with helm if I can't use variables in values yaml file. Which config file do you mean?

[2022-03-08 10:57] fallmo opened #8314 "NGINX Ingress Controller DO Unknown error 404"
Have a kubernetes cluster on Digital Ocean, installed the NGINX Ingress Controller Plugin, but am receiving a 404 unknown error:
 "the server could not find the requested resource (get ingresses.extensions)" whenever I try to see the ingress section of the kubernetes dashboard. In addition, visits to load balancer ip return 404 not found

[2022-03-08 11:23] kundan2707 commented on #8314
@fallmo  with provided information its difficult to debug  issue.
Please provide information in pre-defined issue templet.

[2022-03-08 11:23] kundan2707 commented on #8314
/remove-kind bug

[2022-03-08 11:25] kundan2707 commented on #8314
/kind support
/triage needs-information

[2022-03-08 12:23] sherifabdlnaby commented on #7811
I believe this issue should be a priority after [CVE-2021-25742](https://github.com/kubernetes/ingress-nginx/issues/7837).
(commenting to keep issue open)

[2022-03-08 12:30] gijsdpg commented on #8026
I'm still running into this issue using `service.beta.kubernetes.io/aws-load-balancer-name` on a Nginx ingress nlb, no matter what we try the LB name ends up being a seemingly random string.

[2022-03-08 14:25] jvnn commented on #5402
Just a little update as it seems that people still occasionally run into this thread: we now have (for some time already) official documentation on how to enable monitoring of the ingress controller in Dynatrace:
https://www.dynatrace.com/support/help/setup-and-configuration/setup-on-container-platforms/kubernetes/instrument-ingress-nginx

[2022-03-08 18:23] longwuyuan commented on #8026
Setting name of AWS NLB is not supported.
Thanks,
; Long Wu Yuan

[2022-03-08 22:55] frederiko commented on #8161
If there's no one working on this, I would like to volunteer. How do we go about this?

[2022-03-09 00:29] jsalatiel commented on #5607
Imho we should have an easy way to just disable connection to the ip by using some config map entry.

[2022-03-09 01:48] longwuyuan commented on #8161
Pls are always welcome. This one though has deep roots. I think it will help if you present a elaborate analysis of the problem and the solution that the maintainers can review.

[2022-03-09 01:55] longwuyuan commented on #8312
You did not put the info requested by the issue template.
You did not copy/pase the error message or make a statement as to what is the problem statement.
What is the problem you are trying to solve ?

/remove-kind bug

[2022-03-09 02:25] longwuyuan commented on #6381
Pls are welcome as the project is short on dev time.

But I am not clear on several aspects. One significant one aspect being, the dashboard JSON/SourceCode is relevant to the Grafana chart and not the ingress-nginx controller chart.

I think you are proposing that we ship a grafana-chart-dashboard-json file in the project’s helm-chart releases, that will hopefully be extracted and used in a compl

[2022-03-09 02:28] longwuyuan commented on #8306
Please provide the complete scan report.

e2e tests may require keys as we build base image from source.

/remove-kind bug
/area security

[2022-03-09 04:18] longwuyuan commented on #8308
/remove-kind bug

(1) Your comment says you pointed a service of type externalName to a pod. That is not valid. This link hints at using service of type externalName to resolve to something outside the cluster. And it can not be an ipaddress but your comment says ipaddress.

(2) Next, for debugging this, the relevant information is the output kubectl commands which show the state of the objects as

[2022-03-09 04:22] longwuyuan commented on #8285
From all the data you have provided, it seems like you did a perf test by loading traffic and you got memory spike. Just to state the obvious, it seems a logical expected thing for memory usage to increase when you test with heavy load.

/remove-kind bug

[2022-03-09 04:26] Vyom-Yadav opened #8316 "Unable to configure rewrite-target."
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): controller: v1.1.1

**Kubernetes version** (use `kubectl version`):  v1.23.3

**Environment**:

`minikube`

- **How was the ingress-nginx-controller installed**:
`minikube addons enable ingress`

[code]

[code]

**What happened**:
As you can see there is a kubernetes-dashboard service running on p

[2022-03-09 04:28] longwuyuan commented on #8316
/remove-kind bug

[2022-03-09 04:58] longwuyuan commented on #8310
hey, the indentation is coming from which field the namespace is specified under.
if namespace field is under metadata then there is no indent. but if namespace field is a sub-field of another field, then it has indent in the `helm template` output

/cose

[2022-03-09 04:59] longwuyuan commented on #8310
/close

[2022-03-09 05:00] #8310 closed

[2022-03-09 06:47] Lyt99 commented on #8285
Yes, it's expected that memory usage increases when performing heavy load. But it seems not to be expected that metrics being enabled causes a huge memory consuming, which may cause OOM.

I think we can considered this problem a performance issue that can be resolved. IIUC, the root cause of this issue is, prometheus's Summary metrics need to recalculate the quantile, which is expensive and not lo

[2022-03-09 07:36] gijsdpg commented on #8026
Hi @longwuyuan, thank you for your answer. Sorry, I couldn't extract that information from this thread. I'm currently in contact with AWS support to see what can be done to address this issue. They argue this is an issue on the Nginx side (they even refer to the discussion in the Github issue), while I suspect it could be a missing parameter in the AWS API. Is there something AWS could do to addre

[2022-03-09 07:40] longwuyuan commented on #8285
I have not looked at the details yet, but if what you say is true, then this is a problem out of scope for ingress-nginx project I think. When there is heavy load and all cpu/memory is used up in scraping metrics and logging, it makes sense to know that recalculation or calculation or aggregation work will starve for resources and very likely OOM. I don't know if the metrics exposing code is out o

[2022-03-09 07:42] longwuyuan commented on #8026
As far as I know, there is no annotation to set the name of the lb in ingress-controller. I could be wrong. And maybe there is a annotation in the AWS ingress-controller. I have not checked.

Thanks,
; Long Wu Yuan

[2022-03-09 07:57] Lyt99 commented on #8285
I have some ideas and I will try them these days. If it works, I will submit a PR.

[2022-03-09 10:01] th-2021 opened #8317 "upstream-vhost and rewrite-target"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

1.1.2

**Kubernetes version** (use `kubectl version`):
1.23.4

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
Ubuntu 20.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the cluster created like kubea

[2022-03-09 10:17] longwuyuan commented on #8317
/remove-kind bug

[2022-03-09 11:17] kyma opened #8318 "Adding a location block to server-snippets makes requests 404"
**NGINX Ingress controller version** :
 v1.1.1

**Kubernetes version**
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.0", GitCommit:"cb303e613a121a29364f75cc67d3d580833a7479", GitTreeState:"clean", BuildDate:"2021-04-08T21:16:14Z", GoVersion:"go1.16.3", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"22", GitVersion:"v1.22.6", GitCommit

[2022-03-09 11:21] longwuyuan commented on #8318
/remove-kind bug
/kind support

[2022-03-09 11:47] Vyom-Yadav commented on #8316
Sorry for bothering, I was able to set it up and clarify my doubts, though a bit of research was needed, adding more examples to the documentation will help newcomers like me. I am closing this for now but if you agree on adding more examples, I will happily make a new PR as I believe examples for all annotations should be present.

[2022-03-09 11:47] #8316 closed

[2022-03-09 11:51] longwuyuan commented on #8316
Pls are always welcome

[2022-03-09 12:03] Vyom-Yadav commented on #8316
Just a quick question, does `rewrite-target` modify the actual URL? I am having inconsistent behavior with it modifying URL's might have to reopen this with more details.

[2022-03-09 14:59] strongjz commented on #8161
@frederiko Fork the repo, investigate the issue and put in a PR with new tests.

I have seen the pattern of creating empty config maps and letting the controllers update the config map with the info needed or a kubernetes job to do that.

[2022-03-09 15:10] brozekt-e commented on #8306
I totally get it, but there is no reason to have test data in the package. That data is needed only during development, not in production use, hence should not be included in the package which is distributed to end users.

[2022-03-09 15:13] longwuyuan commented on #8306
I complete agree on that.
Looks like your comment requires someone to look into how we build the base image now. Particularly those keys you are talking about.

But before all of that, I would personally like to see the full report you mentioned and I guess most others would too.

Thanks,
; Long Wu Yuan

[2022-03-09 15:56] yene commented on #8310
@longwuyuan thanks for having a look, but I was talking about that the quotes are not consistent, indentation is fine.

[2022-03-09 16:43] krotscheck commented on #7992
If I'm not mistaken, the issue here is that the service behind the nginx proxy is returning a relative redirect in the Location header, which the nginx proxy is ignoring. So a simple GET request would...

[code]
However, what we need is for nginx to reverse the rewrite in any Location headers
[code]
Is there some other way of accomplishing this?

[2022-03-09 16:50] kfox1111 commented on #6381
helm supports conditionals. Can just wrap the grafana dashboard in a conditional to enable it if the user wishes in the ingress-nginx chart. No need for a separate chart.

[2022-03-09 17:20] longwuyuan commented on #8310
Quotes are needed there for parsing.

Thanks,
; Long

On Wed, 9 Mar, 2022, 9:26 PM Yannick, ***@***.***> wrote:

[2022-03-09 17:24] longwuyuan commented on #8310
I will be happy to remove quotes if I am wrong. I just don't have the time
to test without quotes. You can try to test without quotes.

Thanks,
; Long

On Wed, 9 Mar, 2022, 10:50 PM Yuan, ***@***.***> wrote:

[2022-03-09 18:04] longwuyuan commented on #6381
I still feel PRs are welcome.

But a conditional or not conditional does not make sense to me because the ingress-nginx controller does not bundle the Grafana software so what is conditional “enablement” here !

Thanks,
; Long Wu Yuan

[2022-03-09 18:37] murilolobato commented on #8312
I put all the information that are relevant to the issue described

This issue contains a problem and a solution. I need more suggestions on how we can make this a known fact, so other people don't face this same problem. My initial suggestion, and I can totally help with this, is to create a entry on the install documentation telling this. And maybe some kind of error or error log in a case where

[2022-03-09 20:49] MattJeanes commented on #6381
My understanding is that enabling it would simply put a configmap on the cluster with special labels/annotations which is picked up by a special grafana sidecar container already on the cluster and automatically added into grafana. You can see an example of this here: https://github.com/prometheus-community/helm-charts/blob/main/charts/kube-prometheus-stack/templates/grafana/dashboards-1.14/grafan

[2022-03-09 20:50] kotalakshman opened #8320 "error listing AWS route tables"
NGINX Ingress controller version (exec into the pod and run nginx-ingress-controller --version.):1.21

Kubernetes version (use kubectl 1.21

Environment: AWS

Cloud provider or hardware configuration:AWS

OS (e.g. from /etc/os-release):

Kernel (e.g. uname -a):

Install tools:

Please mention how/where was the cluster created like kubeadm/kops/minikube/kind etc.
Basic cluster related info: Elastic

[2022-03-09 20:52] kotalakshman commented on #8320
triage/accepted

[2022-03-10 00:03] #7391 closed

[2022-03-10 01:43] longwuyuan commented on #6381
Ok. I did not read that yet.
Where is the sidecar. In the ingress-controller pod ?

Thanks,
; Long Wu Yuan

[2022-03-10 01:50] longwuyuan commented on #8308
ok. There are several components in play. The label selector changes the whole paradigm. Resolving a hostname to an ipaddress destination that is outside the cluster is the use case of externalName type service. Using a label selector means you are not going outside the cluster and instead of using a simple service of type clusterIP, you are using a service of type externalName to reach a pod that

[2022-03-10 02:17] bergerx commented on #6381
The ingress-nginx chart already has a `kind: ServiceMonitor` manifest, that can only be used if a prometheus-operator installed and configured to watch that manifest. That manifest tells prometheus-operator to configure prometheus how/where to scrape ingress-nginx metrics.

The proposed manifest here would be a similar addition with some minor differences. This one will tell the grafana chart (whi

[2022-03-10 03:58] longwuyuan commented on #6381
@bergerx I agree. Makes sense. Requirements are that it has to be optional with default as opt-out. I would love to try this but I have not done it before so if nobody tries for a long time, and I get time, then I will try.

[2022-03-10 05:26] longwuyuan commented on #8320
/close

[2022-03-10 05:26] #8320 closed

[2022-03-10 05:31] longwuyuan commented on #8303
See my comments above https://github.com/kubernetes/ingress-nginx/issues/8303#issuecomment-1059969246

[2022-03-10 06:11] thakurchander commented on #8303
Its fixed.
followed link https://lifesaver.codes/answer/http-https-redirect-on-tcp-elb-terminating-ssl-results-in-a-308-redirect-loop-2724

[2022-03-10 06:13] longwuyuan commented on #8303
/close

[2022-03-10 06:13] #8303 closed

[2022-03-10 10:32] kundan2707 commented on #8235
@vnesbee
please check and close issue if resolved

[2022-03-10 11:01] luryus commented on #8292
What's up with the chart changelog? Now there are entries for 4.0.18 (added in #8294), but they are badly formatted and seem to be mostly irrelevant to the chart. Chart.yaml contains some changes, but then again the changelog for 4.0.17 at Artifact Hub contains more irrelevant stuff (https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx?modal=changelog&version=4.0.17).

It's pretty diff

[2022-03-10 11:10] longwuyuan commented on #8292
- Yes, there was a mistake and Changelog is missing stuff.
- I made one effort to clean up so 4.0.18 has the changes.
- Click "get the markdown" button on Artifcathub to get the complete changelog.
- If someone want to put up a PR for updating/inserting the missing changelog for 4.0.17 and 4.0.16, you are welcome. But please work with me closely as the release process is not simple.

[2022-03-10 13:24] thakurchander commented on #2724
@Ariseaz - I applied the suggested workaround and its working. Thank you @Ariseaz

But , Today I installed pgadmin service in my EKS cluster and its redirection to special port 9000. Could you please suggest where I am doing mistake.

Below are the yamls

deployment.yaml

[code]

service.yaml

[code]

resource ingress yaml

[code]

[2022-03-10 14:07] #7763 closed

[2022-03-10 15:01] fred214 opened #8321 "Vulnerability CVE-2022-23308 for libxml2"
Hi, our scanner reported libxm2 v2.9.12-r1 has vulnerability, I think it belong to upstream, and already create issue https://github.com/alpinelinux/docker-alpine/issues/240.
I want to know what is the libxm2 used for? https://github.com/kubernetes/ingress-nginx/blob/main/images/nginx/rootfs/Dockerfile#L50, maybe I can remove it from base image.
As my understanding Alpine is base binary release, i

[2022-03-10 18:59] jatin711-debug commented on #7810
Still getting Errors from Command:->
kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/static/provider/cloud/deploy.yaml
----
Running on Docker Desktop.

[2022-03-10 19:17] vijaysimhajoshi commented on #3511
Following annotation configuration works

  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/auth-tls-verify-client: "on"
    nginx.ingress.kubernetes.io/auth-tls-secret: default/ca-root-cert
    nginx.ingress.kubernetes.io/configuration-snippet: |
      proxy_ssl_name "<hostname>";
    nginx.ingress.kubernetes.io/ingress.allow-http: "false"
    nginx.ingress.kub

[2022-03-10 20:06] killbot99 commented on #8308
I'll take a look at the affinity section of ingress-nginx like you recommend. Thank you for the advice, I appreciate it. I also posted on the kubernetes slack to see if anyone else has seen this.

[2022-03-10 20:36] killbot99 commented on #8308
in the mean time i reproduced again with the correct use of `ExternalName` and pointed the service to www.google.com.

Here's what the upstream endpoint looks like with `ExternalName`:

[code]

And here's what it looks like after changing the service to type ClusterIP, which us what is expected:

[code]

But what is unexpected is that the ingress controller is still forwarding traffic to www.googl

[2022-03-10 21:02] anj-kr opened #8323 "How to load config map when nginx server is started"
Hi

Looking for an example to understand how to load config map when UI(angular) application started in Nginx server rather than the application accessed from the browser.

Reason: Need to restrict the usage of accessing the config map values(json if mapped) directly with respect to the environment once the application is accessed from the browser and the network call to config map is visible.

[2022-03-11 00:11] bmv126 commented on #8308
How are you reapplying the service changes?
Is it via kubectl delete and create again or using kubectl apply ?

[2022-03-11 00:42] longwuyuan commented on #8308
If it is still forwarding to google, the logs will show that. So next step is to know how you sent your request and who resolved the host header in your request to google. GUI Browser or curl and was cache involved.
Thanks,
; Long Wu Yuan

[2022-03-11 01:06] longwuyuan commented on #8323
/close

[2022-03-11 01:08] #8323 closed

[2022-03-11 01:23] longwuyuan commented on #8321
Please show your scanner's report.

[2022-03-11 05:46] longwuyuan commented on #7967
No activity so assume solved hence closing
/close

[2022-03-11 05:46] #7967 closed

[2022-03-11 07:54] batleforc commented on #7967
Yo, no it didn't work, but the main project was put on hiatus

[2022-03-11 09:26] #8317 closed

[2022-03-11 10:08] atmosx opened #8327 "AWS NLB Annotations are getting ignored"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.1.0

**Kubernetes version** (use `kubectl version`): v1.21.5-eks-bc4871b

**Environment**: testing (?)

- **Cloud provider or hardware configuration**: AWS EKS v1.21.5-eks-bc4871b

- **How was the ingress-nginx-controller installed**: Generated YAMLs through chart `ingress-nginx-4.0.10` via `hel

[2022-03-11 10:16] longwuyuan commented on #8327
https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/annotations/#proxy-protocol-v2 documentation is not from this project.

/close

[2022-03-11 10:16] #8327 closed

[2022-03-11 11:20] atmosx commented on #8327
@longwuyuan and yet the documentation annotations [here](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/static/provider/aws/deploy.yaml) are a subset of [here](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.2/guide/service/annotations/) and there's no mention proxy protocol support.

Does this mean that `ingress-nginx` doesn't support modifyi

[2022-03-11 11:23] #7780 closed

[2022-03-11 12:05] longwuyuan commented on #8327
I think you can visit the docs of this project and reopen this issue once you have more precise questions. Sorry for confusion but the project is short on resources watching and resolving issues here, so  its better to discuss this kind of support questions at Kubernetes.slack.com .

/remove-kind bug
/kind support

[2022-03-11 13:22] MikeK184 opened #8328 "Issues with official controller-service yaml (ipFamilies)"
Hi there,

I wanted to point out that there is a "bug" with the official [controller-service.yaml](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/templates/controller-service.yaml#L40-L49). By default those features are enabled with Kubernetes Version 1.21 and not 1.20 [https://kubernetes.io/docs/concepts/services-networking/dual-stack/](https://kubernetes.io/docs/conce

[2022-03-11 13:44] killbot99 commented on #8308
Is it via kubectl delete and create again or using kubectl apply ?

The updates to the service are in-place with no deleting. We have observed this by updating via client-go (corev1 service update), using `kubectl apply`, and also using `kubectl edit <svcname>`

I'm using curl and setting the host header to connect to the controller running on my local kind cluster: `curl -H "Host: www.google.com"

[2022-03-11 14:25] longwuyuan commented on #8308
Something is out of place here. Why would you want to send host header as “www.google.com <http://www.google.com/>” ?

Please come to Kubernetes.slack.com and talk in the ingress-nginx-users channel. But before that, post the info I am listing below in the issue. Make sure this is a single post so that we are discussing a “state-in-time” of the objects related ;

[code]

Thanks,
; Long Wu Yuan

[2022-03-11 15:25] longwuyuan commented on #8321
removing label bug until the report is available here to look at

/remove-kind bug

[2022-03-11 15:27] #7678 closed

[2022-03-11 15:28] longwuyuan commented on #8321
grype does not see this CVE

<img width="679" alt="image" src="https://user-images.githubusercontent.com/5085914/157897235-94691076-70f3-461d-843a-82edb224dfff.png">

[2022-03-11 16:17] bmv126 commented on #8328
Potential workaround is mentioned in below comment
https://github.com/kubernetes/ingress-nginx/pull/7651#issuecomment-964122934

[2022-03-11 16:20] parkwart commented on #7546
tested it with chart version 4.0.18, the controller with validating webhooks did still process the one it shouldn't 😢

my setup:

two controllers with ingress-classes configured: nginx and nginx-private

nginx-controller - admission webhook enabled
nginx-private-controller - admission webhook disabled

workaround: disabled admission webhooks on both controllers it seems now to work.

[2022-03-11 16:22] killbot99 commented on #8308
Because www.google.com is the arbitrary DNS name I chose to set as the `ExternalName` target in the service so I can easily replicate the issue. I could have pointed it anywhere, but I chose there because it was easy.

Here is the state of all the objects you requested AFTER i have changed the service from type ExternalName (pointing to www.google.com), to ClusterIP (pointing to pod1). From what i

[2022-03-11 16:23] jsalatiel commented on #7546
It works for me. I will double check if I have both admission webhooks enabled just in case.

[2022-03-11 16:28] #7645 closed

[2022-03-11 16:28] #7657 closed

[2022-03-11 16:28] #7769 closed

[2022-03-11 16:40] rblaine95 commented on #7546
Can confirm that our setup (https://github.com/kubernetes/ingress-nginx/issues/7546#issuecomment-937565614) after upgrading to 1.1.2 (Chart v4.0.18) and enabling admission webhooks, is working exactly as expected.

**Unless** we use the deprecated `kubernetes.io/ingress.class` annotation.
But that annotation is deprecated, so I expect that.

[2022-03-11 16:43] parkwart commented on #7546
the annotation kubernetes.io/ingress.class is for legacy reason enabled on the controllers. as soon as all ingresses are migrated gonna remove the deprecated annotation feature and check it again, thx!

[2022-03-11 17:28] #7400 closed

[2022-03-11 17:28] #7771 closed

[2022-03-11 17:29] #7590 closed

[2022-03-11 17:29] longwuyuan commented on #8308
This is a support issue and was addressed here https://kubernetes.slack.com/archives/CANQGM8BA/p1646942395666269

/kind support
/close

[2022-03-11 17:30] #8308 closed

[2022-03-11 18:02] longwuyuan commented on #8025
@indhupriya , I had dropped the ball on this due to unavoidable reasons. But this seems still a valid work to be done. It will take a while to get this done but it will be fun. Do you want to pair with me on looking into this ?

[2022-03-11 18:04] longwuyuan commented on #8025
/lifecycle active

[2022-03-11 19:28] #7589 closed

[2022-03-11 20:09] wknapik commented on #5576
/remove-lifecycle rotten

[2022-03-11 21:17] chrisshino opened #8330 "TLS-Auth-verify-CN annotation"
### Context

If you have some services that use mTLS to authenticate their client's through ingress nginx, they can also perform a CN validation on the client certificates which allows them to implement a very basic access control model that the ingress tries to safeguard. In order to implement such client certificate CN check, the service owner would have to inject the following server-snippet in

[2022-03-11 21:18] chrisshino commented on #8330
I'd like to implement this feature, please assign it to me :)

[2022-03-12 03:28] #7778 closed

[2022-03-12 12:15] fred214 commented on #8321
https://github.com/alpinelinux/docker-alpine/issues/240
After I reported the libxml2 has update to 2.9.13-r0 in alpine:3.14 in 2022-03-11 01:00:28, https://pkgs.alpinelinux.org/packages?name=libxml2&branch=v3.14
I will re-scan the image after rebuild

[2022-03-12 14:06] unixfox commented on #6973
/remove-lifecycle stale

[2022-03-12 17:48] neerajjain92 commented on #7810
Getting this error
[code]

[2022-03-12 17:52] jatin711-debug commented on #7810
Yes. Did you got any work around this??

[2022-03-12 20:34] afirth commented on #7810
Use the appropriate folder under https://github.com/kubernetes/ingress-nginx/tree/main/deploy/static/provider/cloud for your kind version, and free to contribute docs accordingly :)

[2022-03-13 11:42] #7199 closed

[2022-03-13 12:16] Phoebus888 opened #8331 "I am using ingree-nginx v:v0.50.0. Unable to inject istio sidecar into ingress-nginx-controller"
![image](https://user-images.githubusercontent.com/45359605/158058962-e6be71a3-b575-4563-bd7c-bf3a62c159ef.png)
injection has no effect

[2022-03-13 12:52] #8331 closed

[2022-03-14 02:19] carl-jin-awx commented on #8085
@kundan2707  Another month will pass soon, any update?

[2022-03-14 07:52] amitkumar50 commented on #3657
`
# cat test.yaml
---
apiVersion: v1
kind: ConfigMap
data:
  test:
    - "1"
    - "2"
metadata:
  name: test-config

# helm install --dry-run --debug ./helm-chart/ --generate-name
install.go:173: [debug] Original chart version: ""

Error: unable to build kubernetes objects from release manifest: error validating "": error validating data: ValidationError(ConfigMap.data.test): invalid type for io.

[2022-03-14 10:54] NxSoftware commented on #3511
@vijaysimhajoshi  I may be wrong but that looks like it's configuring **backend** certificate verification rather than **client** certificate verification. This issue is about **client** certificate validation.

[2022-03-14 15:38] strongjz commented on #8330
/assign @chrisshino

[2022-03-14 15:53] strongjz commented on #8330
/triage accepted
/priority backlog
/kind feature

[2022-03-14 16:32] strongjz commented on #8321
My understanding is that Libxml2 is used for XML parsing, https://en.wikipedia.org/wiki/Libxml2

The [ngx_http_xslt_module](https://nginx.org/en/docs/http/ngx_http_xslt_module.html) requires Libxml2.

/triage accepted
/kind bug
/priority backlog

Once you get an answer back from the Alpine linux issue we can look to implement that fix.

Thank you,
James

[2022-03-15 00:18] Taymindis opened #8336 "Multiple ingress update cause reloaded N times of nginx instead of just one time for all"
There are 5 ingress which always been upgraded via using Helm.

Just wondering even If I upgrade 5 ingress's annotations, can it be just reloaded 1 time only?

[2022-03-15 00:30] mneira10 commented on #6567
Facing this issue ATM. Does anyone have a workaround?

[2022-03-15 06:13] longwuyuan commented on #8336
/remove-kind bug
/kind support

Please provide information that was requested in the new issue template.

`5 ingress upgraded` means 5 instances of ingress-nginx controller or 5 ingress objects. Looks more like ingress objects but just want to confirm.

If it is ingress objects, did you apply 5 yaml files at once or one by one.

What is the problem you want to solve ?

[2022-03-15 08:37] Taymindis commented on #8336
Hi @longwuyuan ,

We have our own helm which iterates to create ingress objects.

when we modify something on values that apply to relevant ingress.

I understand that if one ingress object changed, it will `RELOAD`, but what if I have 30 ingress objects which actually need to reload 30 times from ingress controller right?

Can it be done by just 1 reload in  specific amount of time detection of c

[2022-03-15 08:38] tirelibirefe commented on #3378
that's definitely make sense.
I use waf enabled ALB on EKS with ignress-nginx. Also ssl termination is handled by ALB centrally.

[2022-03-15 10:17] PrashantGSIN commented on #7836
I have got the similar problem. Installed nginx-ingress using helm with type loadBalancer and now the externalIP is showing in pending state. The kubernetesVersion: 1.23.4, Any resolution would be greatly appreciated.

[2022-03-15 11:10] Morriz opened #8338 "Unable to write event when scope set to other namespace then install namespace"
the controller is unable to write events in the `scope.namespace`, probably because it uses a Role that is bound to the install namespace:
[code]
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
1.21

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g.

[2022-03-15 15:47] longwuyuan commented on #8336
Someone attempted a hack for a custom behaviour related to disabling admission webhook temporarily, if I am not wrong. They were guided by an expert. While the admission webhook was disabled, the user changed objects and after completing all changes, they re-enabled admission.

I mentioned above incident because there may be ways to achieve it, but there is no feature as per your description. Let

[2022-03-15 16:15] strongjz commented on #8321
we discussed in the community 3/15 about upgrading to alpine 3.15. Let's test that and move forward with the update.

@fred214 can you the post the tool you used for scanning and the CVE for this vunl. Thanks

-James

[2022-03-15 16:26] strongjz commented on #6875
/assign @strongjz

[2022-03-15 17:27] tontondematt commented on #5968
can you please detail what you have done

[2022-03-15 18:22] cegganesh84 commented on #8321
Here is my scan report with acquasecurity/trivy
[code]

[2022-03-15 21:25] zer0stars opened #8339 "OpenSSL CVE-2022-0778"
OpenSSL Vulnerability:
https://www.openssl.org/news/secadv/20220315.txt

Opening this issue to track openssl upgrade.

[2022-03-16 01:34] longwuyuan commented on #8339
/remove-kind bug

Please post a scan report

[2022-03-16 03:13] marcpicaud commented on #7686
Same issue here. Docker Desktop 4.5.0 (74594) for Mac.

Resetting the k8s cluster through the Docker for Mac dashboard prevents ingress ressources to get an `Address` afterwards.

Restarting Docker Desktop fixes the issue, until the next time I reset the k8s cluster.

[2022-03-16 03:33] fred214 commented on #8321
The alpine:3.14 has update libxml2 version to 2.9.13-r0 in 2022.3.11, https://pkgs.alpinelinux.org/packages?name=libxml2&branch=v3.14
It has passed our scanner, thanks for the reply

[2022-03-16 05:05] longwuyuan commented on #7686
Hi,
The code in the ingress-nginx controller only runs some processes inside the cluster. For connecting from outside the cluster to anything inside the cluster, a service type LoadBalancer or a service type NodePort is created. The ipaddress of this service type LoadBalancer or the NodePort needs to be reachable from wherever you are sending a http request to it.

The "wherever" part in above sen

[2022-03-16 05:17] luryus commented on #8339
This can't require a scan report of any kind.

v0.50.0 image ships with openssl 1.1.1l. The linked advisory clearly shows that this is vulnerable, and the fix is in openssl 1.1.1n. As the n version was only released yesterday, this issue also affects ingress-nginx v1.1.2.

New images with updated openssl must be released for both v0.50 and v1.1. This has to be done ASAP.

[2022-03-16 05:22] longwuyuan commented on #8338
/remove-kind bug
/kind feature

Namespace scoping of the controller is work-in-progress. There are "big-picture" related issues that the developers are working on so namespace scope capability will be implemented after the higher priority work is completed. You can keep this open for now or close it and revisit this after 4-6 months. In the meantime, you can experiment with not using the scope key

[2022-03-16 05:32] longwuyuan commented on #8284
interesting observation. what other can you provide. can you try a tool that is not specialised like fort. something like for a for loop in bash etc.

We will require a very precise sequence of steps written down to reproduce this. we will need to avoid using the multiplier annotation since default is 5 and you are using the annotation value as 5. if you can write the precise step-by-step instruct

[2022-03-16 05:33] longwuyuan commented on #8284
/remove-kind bug
/triage needs-information

[2022-03-16 05:37] Vyom-Yadav commented on #8047
When are you planning to fix this, this issue is legitimate, I am facing the same problem, if any more details are required, let me know.

[2022-03-16 05:44] evoicefire commented on #8047
Sorry for late response. I hope to test this in more detail this week.
Thanks :)

On Wed, 16 Mar 2022 at 4:37 pm, Vyom Yadav ***@***.***> wrote:

[2022-03-16 05:51] longwuyuan commented on #8339
For someone to take action on this, a scan report showing the vulnerability would become the basis to take an action.
I take it that fix should be done without a scan report now.

Someone else thankfully reported a XML vulnerability and its visible in a scan as seen below. That helps a lot ;

[~]
% docker images | grep -i "ingress-nginx/controller"
k8s.gcr.io/ingress-nginx/controller             <

[2022-03-16 05:52] longwuyuan commented on #8321
/reopen

[~]
% docker images | grep -i "ingress-nginx/controller"
k8s.gcr.io/ingress-nginx/controller             <none>    7e5c1cecb086   2 weeks ago     286MB

% grype `docker images | grep -i "ingress-nginx/controller" | awk '{print $3}'`
 ✔ Vulnerability DB        [updated]
New version of grype is available: 0.34.1
 ✔ Loaded image
 ✔ Parsed image
 ✔ Cataloged packages      [113 packages]
 ✔ Sc

[2022-03-16 05:55] longwuyuan commented on #8321
@strongjz @rikatz @tao12345666333 , now there are 2 CVEs . This one and https://github.com/kubernetes/ingress-nginx/issues/8339 requiring a new base image and promotion.

/priority important-short-term

[2022-03-16 05:56] longwuyuan commented on #8321
/priority important-soon

[2022-03-16 06:12] longwuyuan commented on #8339
/priority important-soon

@luryus, you are right and I was wrong in asking for a scan report. Thanks for your clear comments. I think your comments are very helpful and exposes a major change that needed in the project.

 I think we are now facing the situation that there is no automated alert on a new vulnerability. So now we need to create automation to periodically check and alert for new vulne

[2022-03-16 06:21] longwuyuan commented on #8047
You are using TLS and you are talking about trailing slashes so check if this annotation [nginx.ingress.kubernetes.io/preserve-trailing-slash](https://kubernetes.github.io/ingress-nginx/#server-side-https-enforcement-through-redirect) is related to this issue https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#server-side-https-enforcement-through-redirect

[2022-03-16 06:24] longwuyuan commented on #8339
/kind bug
/triage accepted

[2022-03-16 06:25] longwuyuan commented on #8339
/priority backlog

[2022-03-16 07:32] Taymindis opened #8340 "Unable to get REAL-IP (Client IP) from Kubernetes Ingress"
I have follow the guideline

set the values from Helm

[code]

Enable the real-ip from configmap

[code]

# But it's getting kubernetes clustered ip which i do not want.

[code]

### However, i have tried to enable proxy protocol, but no luck is not working.

[2022-03-16 07:49] arpit20adlakha commented on #6736
We tried the above @longwuyuan but it does not work on port 80 with grpc without tls. The support for non tls grpc  traffic using an annotation would be very useful.

[2022-03-16 08:06] rmathagiarun commented on #8166
Hi @longwuyuan,

The issue can be reproduced by following the below steps,

1. Install ingress-nginx using Helm Chart - [helm-chart-4.0.17](https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-4.0.17) We updated ingressClass to APP-nginx-ingress-controller before installing.

2. Execute the following to create multiple ingress and observe the memory spike in Prometheus or Grafana GU

[2022-03-16 08:37] Vyom-Yadav commented on #646
If you are wondering how `rewrite ^(/app)$ $1/ permanent;` works, give https://www.nginx.com/blog/creating-nginx-rewrite-rules/ a read.

[2022-03-16 11:31] tomasfreund opened #8341 "Opentracing - ip set to "127.0.0.1""
When I enable opentracing in ingress-nginx, the spans have ip set to "127.0.0.1", this makes enriching the spans with kubernetes metadata impossible.

Expected behavior: ip should be set to the ip of the pod

version: helm chart v4.0.17 (controller v1.1.1)

[2022-03-16 11:35] tomasfreund commented on #8341
Attacing image for illustration - `service.name`,`opencensus.exporterversion`, `host.name` and `ip` come from ingress-nginx and ip is the one that needs to be fixed
<img width="782" alt="image" src="https://user-images.githubusercontent.com/27306314/158581026-10d9d61c-d222-4f6e-bb17-d9930b0ce238.png">

[2022-03-16 14:27] ThisIsQasim commented on #5731
This sounds like a no brainer. Can we please re-open this?

[2022-03-16 14:28] ThisIsQasim commented on #5731
/reopen

[2022-03-16 22:20] chris-67 opened #8347 "Content-Length Header is Injected for Files Larger than 16kb"
**Kubernetes version** (use `kubectl version`):
1.21.7

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the cluster created like kubeadm/kops/minikube/kind etc. `
- **Basic cluster related info**:
  - `kubectl version` 1.21.7
  - `kubectl get node

[2022-03-17 02:03] rthamrin commented on #6335
still not solution for the issue

[2022-03-17 02:35] longwuyuan commented on #8340
/remove-kind bug

Fill in the details that are requested in the issue template

[2022-03-17 04:23] longwuyuan commented on #8347
/remove-kind bug
/kind feature

I see some relevant text in Nginx docs  https://nginx.org/en/docs/http/ngx_http_js_module.html#js_header_filter ;
[code]

So more study is needed a developer's time is needed to even describe this problem in proper context and detail.

[2022-03-17 06:50] GeorgeCimpoies commented on #8284
@longwuyuan ok, please don't close this issue, give me some time and I will reproduce this on minikube and come back with details and instructions. Thanks!

[2022-03-17 08:04] longwuyuan commented on #8284
Apologies, if some communication sounded like closing issue. No intention or desire to close issue.

If there is a lack of actionable information, even then a closed issue can be reopened by you, so that tracking the problem is continuous.

The limit-rpm has not been reported in past few months. So it could be a unique use-case of having external and internal ingress-controllers resulting in some

[2022-03-17 08:09] longwuyuan commented on #8284
One other suggestion is please make the reproduce step minimalistic with 1 replica only to begin with. And also do no use any values file and let the defaults be configured as it is. If single replica + no custom-values can reproduce the problem, then it will be easier to debug.

[2022-03-17 09:31] longwuyuan commented on #8166
Hi @rmathagiarun ,

Spike in memory usage is expected in the procedure you have described. I don't see a memory leak or bug in that procedure.

Would you like to make the reproduce steps more elaborate and detailed. Something closer to real-use would help the developers.

[2022-03-17 09:46] kundan2707 commented on #8212
@tarun-asthana  i am asking change that i have observed which is sequence of annotations.
**nginx.ingress.kubernetes.io/canary: "true"** comes first

[2022-03-17 09:55] arpit20adlakha commented on #5983
We need this too, can someone please pick it up ?

[2022-03-17 10:33] tao12345666333 commented on #5983
let me reopen it

/reopen

[2022-03-17 11:32] rmathagiarun commented on #8166
@longwuyuan

Agree that spike in memory usage is expected due to multiple backend reloads. Our concern is why is the Pod not releasing the memory back even after successful reload. The Pod continues to hold the memory until it is restarted.

This is a real-case scenario, as we can have multiple ingresses created over a period of time on a cluster. Meanwhile, the Pod will continue to block the memo

[2022-03-17 13:51] longwuyuan commented on #8166
- I am not capable of discussions that have similarities with diving down a rabbit hole. So I can mostly discuss around data and prefer to avoid theories as the ingress-controller code is clearly capable of some things and incapable of other things

- Based on the reproduce procedure you typed, the behaviour observed is expected

- Why memory is not released can not be answered because there is no

[2022-03-17 16:39] timothyclarke commented on #8016
@jyee021 have you seen https://github.com/kubernetes/ingress-nginx/issues/7816 that appears to mitigate that CVE?

[2022-03-17 16:49] Tobrek opened #8348 "version 1.1.2 with opentelemetry sidecar"
Hello,
i try to use ingress-nginx version 1.1.2 with the open telemetry sidecar, but i got problems to run the pod with `Back-off restarting failed container`.

NGINX controller version: 1.1.2
kubectl version: Info{Major:"1", Minor:"23", GitVersion:"v1.23.3", GitCommit:"816c97ab8cff8a1c72eccca1026f7820e93e0d25"...}

nginx run on a minikube v1.25.2 environment and was installed by `minikube addons

[2022-03-17 23:12] sahilrajput03 commented on #6059
/reopen

[2022-03-18 02:23] Orwell-coder commented on #5932
i am get same issue.  the ingress-nginx-controller pod  is running but ingress-admission-create and ingress-admission-patch pod status is completed.
i use kubectl logs ingress-addmission-create command that i get

so，what  should i do for this?

[2022-03-18 07:25] rthamrin commented on #3251
how to check the algorithm load balancer? because I Lil bit suspect mine also is not round-robin.

[2022-03-18 12:23] rthamrin opened #8351 "please help : basic knowledge of nginx ingress algorithm"
this is might basic question, but I still have not found the answer. I run the Nginx ingress controller in my Kubernetes, I got li bit confused about which algorithm my Nginx ingress runs because I believe is round_robin as default. but I saw ewma there.
I tried to exec my Nginx-ingress-controller

root# kubectl exec ingress-controller-nginx-ingress-controller-lqvt7 -n ingress -- nginx -T

[code]

[2022-03-18 14:48] pdefreitas commented on #8336
I'm observing the same issue in our multiple ingress controller setup. To make things a bit more complicated the memory usage increases (and it is not flushed) on every backend reload (just like described in #8166).

[2022-03-18 15:45] tavoda opened #8353 "oauth2-proxy roles/groups"
### What do you want to happen?
Check roles after oauth2-proxy auth.
Normally I deploy different application and I would like allow access to this application based on specific role. At minimum one role per application (tekton app -> ROLE_TEKTON, myapp -> ROLE_MYAPP). However now is possible to define required roles only in oauth2-proxy (allowed-group parameter). Because of this I need to deploy f

[2022-03-18 20:22] sahilrajput03 commented on #8047
I don't know this issue is same for all ingress controllers ? coz I found this issue: https://github.com/kubernetes/ingress-gce/issues/109

[2022-03-18 21:54] qortex commented on #1984
Adding my experience here because I ended up here from google (and the above `logs` hint was instrumental in helping me debug the issue!)

For me, it was because GoDaddy improperly encodes the private key file it provides in `UTF8 with BOM`. This includes a byte at the beginning of the file causing the private key to be incorrect - and leading to the OP error.

The simple fix is to convert the fil

[2022-03-19 04:34] Taymindis commented on #8336
@longwuyuan @pdefreitas
The `nginx-ingress-controller` seemed consuming memory without releasing it, there are just 2 ingress objects only so far.

<img width="647" alt="image" src="https://user-images.githubusercontent.com/14217761/159106888-a6d476fd-8913-496a-9599-23c8c0d25d66.png">

[2022-03-19 04:39] #7370 closed

[2022-03-19 04:49] theunrealgeek commented on #6905
This problem is generally solved by having whatever is in the CN be also part of the SAN list.

From a standards perspective, the SANs list is supposed to be preferred ([ref](https://datatracker.ietf.org/doc/html/rfc2818#section-3.1))

   be used as the identity. Otherwise, the (most specific) Common Name
   field in the Subject field of the certificate MUST be used. Although
   the use of the Com

[2022-03-19 05:52] longwuyuan commented on #8047
What you have posted does not make sense in the context of pointing at a specific problem of any kind. The curl command is doing exactly what is expected as per configuration.

[2022-03-19 05:56] longwuyuan commented on #6905
Change the curl to send host header as foo.rancher.example.com . The behaviour posted is expected as per config and that is evident from the error message.

[2022-03-19 05:57] longwuyuan commented on #6905
/close

[2022-03-19 05:57] #6905 closed

[2022-03-19 06:00] longwuyuan commented on #8336
A complete event history and a complete k8s state is needed to make any comments about memory consumption. Please open a new issue to report a new problem. You originally asked for one single reload of nginx in response to multiple config changes. That is a different issue compare from this high-memory consumption issue.

[2022-03-19 06:21] Vyom-Yadav commented on #8047
@longwuyuan I don't think the original OP is going to respond, this issue is genuine, ingress-nginx does not rewrite when you have a trailing slash. See https://stackoverflow.com/questions/71424259/why-url-re-writing-is-not-working-when-i-do-not-use-slash-at-the-end for more information,

[2022-03-19 06:36] longwuyuan commented on #8047
With limited resources, we can discuss data and avoid discussions that are not based on any data. I see that requested URL is _www-dev.example.com/something_ and rewrite rule will not kick in because there is no $2 regexpgroup in that request.

Please respond with some data pointing a the http request and the config of the ingress object.

[2022-03-19 14:30] Taymindis commented on #8340
Issue fixed as this is not related kuberntes ingress, but the lb I am using

[2022-03-19 14:30] #8340 closed

[2022-03-19 14:31] kayrus commented on #7466
/remove-lifecycle stale

[2022-03-19 23:37] Taymindis opened #8357 "Ingress controller keep increasing the memory when new RELOAD action triggered"
<img width="633" alt="image" src="https://user-images.githubusercontent.com/14217761/159141935-1b2a3d91-5f80-47a5-854a-9147c2a7dcdf.png">

Previously was just 300-500Mi with 5 Ingress, now is 2GI with 5 Ingress as well due to many RELOAD actions been done.

[2022-03-19 23:38] Taymindis commented on #8336
Thanks for reminding, I have reported new [issue](https://github.com/kubernetes/ingress-nginx/issues/8357)

[2022-03-19 23:51] rthamrin commented on #7918
what algorithm did you run for the Lua? round_robin or ewma ?

[2022-03-20 02:41] longwuyuan commented on #8357
/remove-kind bug
Provide the information asked in the new issue template.
You will find more people in Kubernetes.slack.com in the ingress-nginx-users channel so maybe you can take the discussion there after you have provided all the related info here.

[2022-03-20 02:45] longwuyuan commented on #7918
/remove-kind bug

[2022-03-20 16:51] #7753 closed

[2022-03-20 17:33] WY-S opened #8358 "MountVolume.SetUp failed for volume "webhook-cert" : secret "ingress-nginx-admission" not found"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): v1.1.1

**Kubernetes version** v1.23.3

**Environment**:

- **Cloud provider or hardware configuration**: Azure

- **OS** (e.g. from /etc/os-release): Ubuntu 20.04.1 LTS

- **Kernel** (e.g. `uname -a`):

  uname -a
  Linux k8s-master 5.13.0-1017-azure #19~20.04.1-Ubuntu SMP Mon Mar 7 11:34:26 UTC

[2022-03-21 00:40] gnm3000 commented on #4853
@aledbf
german@german-AB350-Gaming-3:~/web/kubernates$  kubectl -n ingress-nginx describe pod ingress-nginx-controller-cc8496874-52sxc

Name:           ingress-nginx-controller-cc8496874-52sxc
Namespace:      ingress-nginx
Priority:       0
Node:           <none>
Labels:         app.kubernetes.io/component=controller
                app.kubernetes.io/instance=ingress-nginx
                app.kube

[2022-03-21 01:37] longwuyuan commented on #8358
Please provide information that is asked in the issue template and then re-open the issue.

You can also try https://github.com/kubernetes/ingress-nginx/blob/e51c15160e9b4d641fc9e289601676e1adc70e19/deploy/static/provider/cloud/1.23/deploy.yaml

/close

[2022-03-21 01:42] longwuyuan commented on #8348
Was this problem solved ! ;

0/1 nodes are available: 1 node(s) didn't have free ports for the requested pod ports.

[2022-03-21 01:43] longwuyuan commented on #8348
/remove-kind bug

[2022-03-21 02:55] #7838 closed

[2022-03-21 06:03] stevehipwell commented on #7570
/remove-lifecycle stale

[2022-03-21 09:14] longwuyuan commented on #7570
This is resolved in release v1.1.2 of the ingress-nginx controller

/close

[2022-03-21 09:34] stevehipwell commented on #7570
@longwuyuan I can't see mention of this in the release notes or in the documentation? Could you point me at the right place to evaluate the changes?

[2022-03-21 10:18] Kanshiroron commented on #7918
@rthamrin I don't really understand why it couldn't work with either of the two.
But we use the default value which is `round-robin`: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#load-balance

[2022-03-21 10:29] pdefreitas opened #8362 "Ingress controller keeps increasing the memory when new backend reload action triggered"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.1.2
**Kubernetes version** (use `kubectl version`): 1.21.9, 1.22.6

**Environment**:

- **Cloud provider or hardware configuration**: Azure Kubernetes Service (AKS)
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.6 LTS (Bionic Beaver)
- **Kernel** (e.g. `uname -a`): `Linux 5.4.0-1070-azure #7

[2022-03-21 11:01] longwuyuan commented on #8362
/remove-kind bug
/kind feature

Install each instance of the ingress-nginx controller in its own namespaces. Its documented.
The issues you have listed are not the same problem when compared in all related aspects.
When higher-priority issues are resolved, the developers will get time to work on namespace related functionality. For now, install each instance of the ingress-nginx controller in its

[2022-03-21 11:31] pdefreitas commented on #8362
@longwuyuan thanks for the prompt reply but there are multiple problems to address:
- There are multiple ticket open and comments reporting an usual amount of memory being consumed by latest ingress controller releases. Wouldn't it be worth to understand what causes it?
- In regards to the comment _namespace related functionality_ doe you believe it would cause high memory? Because with the config

[2022-03-21 11:44] longwuyuan commented on #8362
From my limited visibility, I can state that ;
- multiple distinct problems are likely experienced by one user, but not a large set of real users in production
- memory allocation and then failure to release is a very very precise short-description of a problem. But no user has provided a step-by-step procedure that someone else can copy/paste from and reproduce. Some of the the generic descriptio

[2022-03-21 11:47] longwuyuan commented on #7570
Maybe it should be more explicit in more places. But most people would not miss it in the Changeling https://github.com/kubernetes/ingress-nginx/blob/main/Changelog.md <https://github.com/kubernetes/ingress-nginx/blob/main/Changelog.md>

Thanks,
; Long Wu Yuan

[2022-03-21 12:02] stevehipwell commented on #7570
@longwuyuan firstly that PR isn't on the release page so it's quite easily missed, secondly it isn't related to this issue at all. This issue is about IngressClassParams and the use of them to carry the information that is currently carried in ingress controller specific annotations on the ingress object

Please could you re-open this issue.

[2022-03-21 12:05] longwuyuan commented on #7570
/reopen

[2022-03-21 12:08] longwuyuan commented on #7570
Sorry, re-opened. If there can be some detailed elaborate description, maybe someone can set priority on this, after comparing with the aws-load-balancer-controller. Although I fail to see any sort of  comparison between a ingress-controller and a load-balancer-controller, to begin with.

[2022-03-21 13:40] rthamrin commented on #7918
why did you say both of them did not work?

[2022-03-21 14:58] #7832 closed

[2022-03-21 15:09] ajchiarello opened #8363 "Helm Chart - Permit dropping capabilities from admission-webhook jobs"
I would like to specify the capabilities assigned to the pods used by the admission-create and admission patch jobs (specifically to drop all capabilities) in the helm chart's values.yaml.

[2022-03-21 16:57] WY-S commented on #8358
/reopen

[2022-03-21 16:59] WY-S commented on #8358
Hi [longwuyuan](https://github.com/longwuyuan) Thanks for checking.

I have added all I can think about.

[2022-03-21 17:21] samail opened #8364 "New helm chart version following fixes for CVE-2022-0778"
Do you plan to release a new helm chart version following fixes for CVE-2022-0778 ?

Thanks a lot

[2022-03-21 18:17] nurhun-kwentra commented on #6135
facing the same issue on GKE with master node version 1.21.6-gke.1500 & nodes with version 1.21.5-gke.1302 and
NGINX Ingress controller
  Release:       v1.1.1
  nginx version: nginx/1.19.9

Any solution/workaround ?

[2022-03-21 19:41] DarkWugWug commented on #8268
I stumbled on this same issue with k0s. I ended up following these installation step from ingress-nginx directly: (https://kubernetes.github.io/ingress-nginx/deploy/).

The specific command:
`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/static/provider/cloud/deploy.yaml`

Hope this helps!

[2022-03-21 21:34] stevehipwell commented on #7570
@longwuyuan this issue is specifically about moving the Ingress Nginx custom annotations, which are scoped to the IngressClass, into a strongly typed IngressClassParams resource. Being strongly typed would make it both easier to create and process the parameters. Being one to one with an Ingress Class makes it clearer what is set rather than processing all ingresses and merging the annotations.

T

[2022-03-21 21:39] longwuyuan opened #8367 "Fix deployment documentation - wrong semver"
/area docs
/kind documentation

This is urgent as become aware only now.
Version 1.1.2 has been released several days ago but the deployment documentation still says to install v1.1.1.
Example https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.1/deploy/static/provider/cloud/deploy.yaml

[2022-03-21 22:00] longwuyuan commented on #8367
/priority critical-urgent

[2022-03-21 22:46] #8367 closed

[2022-03-21 23:03] longwuyuan commented on #8268
Fill the details that are requested in the issue template and then re-open the issue.

/close

[2022-03-21 23:04] #8268 closed

[2022-03-21 23:13] jsoref commented on #7627
It was disabled by @aledbf in #5434 with no explanation.

[2022-03-21 23:18] longwuyuan commented on #8364
Its work in progress https://github.com/kubernetes/ingress-nginx/pull/8356

/close

[2022-03-21 23:18] #8364 closed

[2022-03-21 23:24] longwuyuan commented on #8358
- Delete using the same URL that you used to install
- Double check that it was clear uninstall and there are no trailing/lingering objects from previous install
- Read the docs on the ports that need to be open for this to work
- Use nectar or another tool to confirm that the required ports are open
- Install using the appropriate manifest for Azure  https://kubernetes.github.io/ingress-nginx/dep

[2022-03-21 23:25] #8358 closed

[2022-03-21 23:27] longwuyuan commented on #8363
Please re-open the issue after providing data requested in the issue template. Also help out by adding more context to the problem you want to solve.

/close

[2022-03-21 23:27] #8363 closed

[2022-03-22 07:49] longwuyuan opened #8369 "Update dev-env default specs for K8S version and dev-image tag"
For developers of ingress-nginx controller or others wanting to just set up a dev environment on laptop/locally, the docs for quick-start here https://kubernetes.github.io/ingress-nginx/developer-guide/getting-started/#local-build, ends up with K8S v1.21.1 and locally built controller image tag as v1.0.0-dev.

- We are already releasing builds for K8S v1.23.X so maybe we can set the default K8S ve

[2022-03-22 08:07] hemeda3 commented on #4498
@SwatantraYadav I had the similar issue, now my code is working this code works with Keycloack API backend, which is Identity Access management, this yaml files has ssl enabled,   not terminated by nginx. and it got passed to the K8 service that pass it to deployed pods those pods has SSL certs mounted from K8 Secret to folder in the pods.

hepe this is can. help:

[code]

[2022-03-22 09:15] rthamrin opened #8371 "how to implement ewma in annotation?"
hi everyone, I want to implement my "ewma" to my ingress resource to see the behavior of how ewma load balancer works.

so I install the ingress through helm and run the ingress resource

[code]

I try to change the annotation with : nginx.ingress.kubernetes.io/load-balance: ewma
and see the behaviour both of them,  I found not so much difference.

[code]
I found out after implement the annotation

[2022-03-22 09:25] longwuyuan commented on #8369
/kind cleanup

[2022-03-22 09:26] longwuyuan commented on #8369
/remove-kind feature

[2022-03-22 09:41] longwuyuan commented on #8371
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#load-balance

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#known-issues

/kind support
/close

[2022-03-22 09:41] #8371 closed

[2022-03-22 11:23] #8102 closed

[2022-03-22 11:51] Kanshiroron commented on #7918
@rthamrin there might have had a misunderstanding here. We do not use LUA for anything else but for WAF script. Regarding the load-balancer type, we use the default, being round-robin. Hope that answer your question.

[2022-03-22 12:38] tal-ayalon opened #8372 "Vulnerability in Nginx Ingress"
**NGINX Ingress controller version** :
[code]

**Kubernetes version**:
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
```GCP, GKE cluster```
- **Basic cluster related info**:
[code]
- **How was the ingress-nginx-controller installed**:
  ```kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.1.2/deploy/static/provider/cloud/deploy.ya

[2022-03-22 12:38] tao12345666333 commented on #7517
/assign

@bishtsaurabh5 sure, sorry for the long delay.

I will finish the proposal as soon as possible and send it out.

[2022-03-22 12:45] longwuyuan commented on #8372
I am not sure I am seeing what you are stating ;

% rg busybox *
images/opentelemetry/rootfs/Dockerfile
25:FROM busybox:latest

charts/ingress-nginx/values.yaml
573:  #   image: busybox
579:  #   image: busybox

charts/ingress-nginx/ci/deployment-extra-modules.yaml
10:      image: busybox

charts/ingress-nginx/ci/daemonset-extra-modules.yaml
10:      image: busybox

Can you please post a scan or s

[2022-03-22 12:51] tal-ayalon commented on #8372
@longwuyuan Thanks for the quick reply!!!

Yes, here is the scan:

[code]

[2022-03-22 13:21] longwuyuan commented on #8372
Thanks. We already have
https://github.com/kubernetes/ingress-nginx/pull/8356 for ssl and xml cve.
Let's check after next release that is coming soon.

Thanks,
; Long

On Tue, 22 Mar, 2022, 6:21 PM tal, ***@***.***> wrote:

[2022-03-22 14:11] fred214 opened #8373 "Load balancer type on AWS"
HI,
In [document](https://kubernetes.github.io/ingress-nginx/deploy/#aws), I noticed should be use nlb type load balancer on AWS, is it mandatory requirement?
As I know nlb has 4 layer communicate ability, but ingress run at 7 layer, Can I use alb or classic lb on AWS for basic functionality?

[2022-03-22 14:44] rthamrin commented on #7918
thank you brother, it is such a short answer but a lot of meaning for me. but let me try elaborate, to make me understand here. why me myself assume the ingress controller runs LUA/ ewma.

first, A lot of links refer to this for the load-balancer method to implement ewma [ link]( https://github.com/kubernetes/ingress-nginx/tree/f2e743f561963f140e39f66bd2480d1ab2e68ab6/rootfs/etc/nginx/lua/balancer

[2022-03-22 15:52] lucj opened #8374 "Cannot expose nginx-ingress with LoadBalancer Service on several Exoscale clusters"
**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

This issue is not about the nginx ingress controller not working but about a limitation when it is deployed on several clusters within the same Exoscale account due to the `service.beta.kubernetes.io/exoscale-loadbalancer-name: nginx-ingress-controller` annotation that could not be used several t

[2022-03-22 15:54] lucj commented on #8374
Pull request fixing the issue: https://github.com/kubernetes/ingress-nginx/pull/8365

[2022-03-22 16:28] rittneje commented on #7083
/remove-lifecycle stale

[2022-03-22 16:44] longwuyuan opened #8375 "Static manifests contain managed-by-Helm label"
- All static manifests under /deploy contain the field `{object}.metadata.labels.app.kubernetes.io/managed-by](http://metadata.labels.app.kubernetes.io/managed-by: Helm`

- For example https://github.com/kubernetes/ingress-nginx/blob/5c07c862e1f69e39da1e6b4121bba631f55e5651/deploy/static/provider/aws/1.23/deploy.yaml#L350

- This is invalid because these are static manifests and not part of the he

[2022-03-22 16:49] longwuyuan commented on #8375
/priority important-soon

[2022-03-22 17:09] JohannesLamberts opened #8376 "Allow custom-http-errors without proxy_intercept_errors"
### Use case

In our setup, we tried to replace the default NGINX-Error Page with custom error pages. One requirement is, that error-pages from backends are unchanged.

Example:
- If there is no matching ingress-route (404), the custom error page is shown
- If a backend returns a 404 status-code, the body/HTML of that response is shown
- If there is a misconfigured ingress-route (service does not

[2022-03-22 17:14] JohannesLamberts commented on #8376
I'd be open to contributing a merge-request, if that helps solving the issue :)

[2022-03-22 18:52] nishant-jain-94 commented on #8375
Sure @longwuyuan

[2022-03-22 19:35] nishant-jain-94 commented on #8375
Able to fix this. Few queries. When you execute `./hack/generate-deploy-scripts.sh`. Do you observe anything like `sed: 1: "/...": extra characters at the end of n command`? Or is it just on M1 Architecture?

[2022-03-22 20:52] anaclaudiar opened #8381 "Alpine 3.15 and OpenTelemetry Docker image"
There is a [problem with OpenTelemetry and Alpine 3.15](https://github.com/kubernetes/ingress-nginx/pull/8350#issuecomment-1072539220).

Docker build works fine with `FROM alpine:3.14.2`

Logs when trying to docker build the opentelemetry image with alpine 3.15:
[code]

**How to reproduce it**:
Inside ingress-nginx/images/opentelemetry/rootfs , do a `docker build .` It works fine when using 3.14.2

[2022-03-22 21:17] longwuyuan commented on #8375
- I forgot if I saw any text like you asked
- But whatever you see on your clone of your fork should get reported
- For sanity we should clone forks on a linux environ. Maybe a linux container if you are on MacOS
- I am not sure why you asked about M1 in particular. Maybe you are using a M1. But will gladly answer any question if you can explain. I am not on M1

[2022-03-23 01:06] longwuyuan commented on #8381
@anaclaudiar @strongjz @rikatz @tao12345666333  Please, humble request, let us just use alpine:3.14.4 and move ahead with the build for now. I tested locally and oentelemetry builds with alpine:3.14.4 and also gets the `openssl-1.1.1n` that we need for this whole exercise.

<img width="872" alt="image" src="https://user-images.githubusercontent.com/5085914/159601419-ef0503e1-3f3b-4587-88d8-0a88627

[2022-03-23 01:08] longwuyuan commented on #8381
/triage accepted

[2022-03-23 01:42] longwuyuan commented on #8374
/triage accepted

[2022-03-23 02:10] tao12345666333 commented on #8381
Did you see a specific reason?  Do we need to create an issue in the OpenTelemetry project?

[2022-03-23 02:12] longwuyuan commented on #8381
I saw this on the issue and also when I tried to build locally ;
[code]

[2022-03-23 02:13] longwuyuan commented on #8381
Personally I prefer to release patched controller first and then deal with alpine:3.15.1 compatibility later

[2022-03-23 05:28] longwuyuan commented on #8381
Created https://github.com/open-telemetry/opentelemetry-cpp-contrib/issues/125

[2022-03-23 08:19] mrszop opened #8383 "Sporadic "dropouts" after implementing whitelist-source-range via config"
TLDR; I was looking for a way to define a global whitelist based on source IP, since I'm running two NGINX Ingress controllers inside my cluster (ingress-nginx and ingress-nginx-internal). One without whitelist-source-range and one with whitelist-source-range for internal testing stuff. I've come around [whitelist-source-range](https://bityl.co/BRSN). After implementing, I'm getting sporadic diffe

[2022-03-23 11:37] aslafy-z opened #8384 "Allow setting custom-http-errors annotation to overwrite configmap values when empty"
When `nginx.ingress.kubernetes.io/custom-http-errors` is set to empty string ``, overwrite the configmap value with an empty list instead of skipping it.

[2022-03-23 13:55] kundan2707 commented on #7961
@ohadbeck  are you working on this ?

[2022-03-23 14:23] #7760 closed

[2022-03-23 14:24] Jc2k commented on #7760
/reopen

[2022-03-23 14:59] strongjz commented on #8372
Duplicate issue, we're working on fixing both of these currently.

openssl https://github.com/kubernetes/ingress-nginx/issues/8339
libxml https://github.com/kubernetes/ingress-nginx/issues/8321

/close

[2022-03-23 15:06] anaclaudiar commented on #8381
There is a PR already opened: https://github.com/kubernetes/ingress-nginx/pull/8382, I closed [my PR reverting the version too](https://github.com/kubernetes/ingress-nginx/pull/8380), since 3.14.4 is more recent. Also, where do you see e2e failing? I execute them locally (with `make kind-e2e-test`)  when I committed this change before, and they were all passing.

[2022-03-23 15:06] Vyom-Yadav commented on #8047
Sorry for the late reply, but when I use the above mentioned URL, rewrite rule kicks in and doesn't when I use trailing slash i.e `www-dev.example.com/something/`

In my case I was using it with `minikube`, `minikube addons enable ingress`, ingress configuration-
[code]
As far as the HTTP request is concerned, it is a simple get request,
`curl --location --request GET 'http://tutorial.com/link1'`

[2022-03-23 15:11] seanorama commented on #3543
Has anyone looked again at adding FIPS mode (with [NIST validation](https://csrc.nist.gov/projects/cryptographic-module-validation-program/certificate/3678))?

It would require:

1. Compiling Go with BoringCrypto.
2. Nginx which uses FIPS OpenSSL.
   1. This is easily done by building on top of `ubi` instead of `alpine`, as it comes with a FIPS openssl.

[2022-03-23 16:07] #8372 closed, assigned to nobody

[2022-03-23 19:58] longwuyuan commented on #8381
https://github.com/kubernetes/ingress-nginx/pull/8386 as a workaround

[2022-03-23 19:59] longwuyuan commented on #8381
/remove-priority critical-urgent

[2022-03-24 03:24] longwuyuan commented on #8381
The opentelemetry team updated that we just need to install `re2` and `re2-dev`. I tested by adding those 2 packages in build.sh in the apk command at https://github.com/kubernetes/ingress-nginx/blob/b6c7061e07423938410a175a5c295497ffe5f4ba/images/opentelemetry/rootfs/build.sh#L80 . The error from the original post of this issue is solved by adding `re2` and `re2-dev` with alpine:3.15.1 .

However

[2022-03-24 08:32] #7288 closed

[2022-03-24 14:18] jdiegosierra commented on #8312
@murilolobato So, his is working correctly?

![image](https://user-images.githubusercontent.com/27728978/159936255-47582afc-3e84-45c1-b337-e9247fbd363c.png)

[2022-03-24 14:35] murilolobato commented on #8312
@jdiegosierra No, your print screen shows a problematic configuration.

I have any information about your setup, but I would suggest you to check your cluster node-to-node communication.

[2022-03-24 14:40] AndyJS commented on #7885
#7873 is much appreciated, however the issue is still present if you require an internal service as part of the chart deployment in 4.0.18.

Snippet from my internal service with `EXTERNAL-IP <pending>`:
[code]

[2022-03-24 15:38] #7770 closed

[2022-03-24 16:18] damienleger commented on #5681
My solution to this spam of logs from 127.0.0.1 in `/var/log/modsec_audit.log`

Inspired by this rule https://github.com/coreruleset/coreruleset/blob/v3.4/dev/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf.example#L91

Here is my fix

[code]

And the implementation I have in ConfigMap in my early stage of testing modsecurity:

[code]