[2022-07-20 15:24] DataMinded commented on #8520
@tao12345666333

I found this https://github.com/alpinelinux/docker-alpine/issues/264#issuecomment-1189498803  which says the CVE-2022-30065 is still present in the 3.16.1 image

also as per this https://github.com/alpinelinux/docker-alpine/issues/264#issuecomment-1189499568

alpine 3.16.1 is supposed to fix https://github.com/advisories/GHSA-gq73-rh3m-3php according to the release notes : https:/

[2022-07-20 16:07] rikatz commented on #8839
@NissesSenap this worked? :)

[2022-07-20 16:10] #8800 closed

[2022-07-20 16:31] silandrew opened #8845 "Issue with running container"
**What happened**:

**What you expected to happen**:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
  - `Please mention how/where was the

[2022-07-20 16:47] longwuyuan commented on #8845
No info to analyse.
/remove-kind bug
/close

Thanks,
; Long

On Wed, 20 Jul, 2022, 10:02 PM Kubernetes Prow Robot, <
***@***.***> wrote:

[2022-07-20 16:47] #8845 closed

[2022-07-20 17:15] henricook commented on #4760
How do you think this issue will be resolved across webservers as a whole, it sounds like it might be a problem for software other than NGINX that does the same thing if I'm understanding correctly?

TL;DR Please let me know what/where I can file my upvotes so that I can cover up my website's performance woes with the new, faster protocol

[2022-07-20 17:22] davem-git commented on #7992
does this issue break the /healthz check in nginx? mine seems too

[2022-07-20 17:28] longwuyuan commented on #8844
/remove-kind bug

Can you please try v1.3.0 as per documented procedure to install and then post the information requested in the issue template. The information provided is not enough. After posting the info requested in the issue template, you can re-open this issue

/close

[2022-07-20 17:29] #8844 closed

[2022-07-20 17:33] longwuyuan commented on #8843
/remove-kind bug

- Do you see the same problem (wrong authority header) if you try the grpc example
- Its not related but don't you need TLS for HTTP2 as most implementation of GRPC are over TLS
- Do you absolutely need to use `appProtocol: grpc`, although seems unrelated to the header. Can you try the example grpc from docs as is without this `appProtocol: grpc` as well, just to get a baseline

[2022-07-20 18:51] clarax commented on #7277
@rikatz We have two ingress controllers(v1.2.0 and v 1.2.1) installed on a cluster(version: v1.22.9) Each controller has a different IngressClass A and B. When I try to create an ingress of ingress class A, the controller B complains "controller I0720 18:12:05.800513       7 store.go:425] "Ignoring ingress because of error while validating ingress class" ingress="B" error="no object matching key \

[2022-07-20 18:58] balacasa opened #8846 "431 - Header Field Too Long :: wants to update "large-client-header-buffers 4 100k" in kubernetes nginx ingress"
I tried nginx.ingress.kubernetes.io/large-client-header-buffers: 4 100k
nginx.ingress.kubernetes.io/proxy-add-original-uri-header: "false"
and nginx.ingress.kubernetes.io/server-snippet: |
      large_client_header_buffers 4 100k;

and also using help of ConfigMap data. Nothing works.
When I try to find ngnix config file in ingress-nginx-controller pods, large-client-header-buffers as 4 16k (defau

[2022-07-20 19:03] balacasa commented on #4593
@ElvinEfendi can we explain exact code of how to set proxy-add-original-uri-header as "false".
I tried in annotation,
annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /$1
    nginx.ingress.kubernetes.io/use-regex: "true"
    cert-manager.io/cluster-issuer: xxxxxxxxxxxxxxxx
    nginx.ingress.kubernetes.io/proxy-add-original-uri-header: "false"
    nginx.ingress.kubernetes.io/large-clien

[2022-07-20 19:14] ns-jhu opened #8847 "all ingress rules fails under a namespace doesn't work any more when ingress-nginx is redeployed."
I have done this destructive experiment  to check how reliable ingress-nginx is  under k8s cluster:

1. create some 3  ingresss with service, service1 with valid end point, but service2 without proper endpoint, and service3 is based on external name that is not reachable2. 2. 2.

this is a sample service without valid endpoint:
kubectl get endpoints -n clickhouse
NAME

[2022-07-20 19:25] shan-github-project commented on #5525
@AmilaDevops do you get any link or source how to create "default-http-backend related deployment and service under kube-system namespace "

[2022-07-20 20:28] GabySpalding opened #8849 "Pods Can't connect to New ingress"
We installed a secondary ingress and our pods can't connect to it. They appeared to be connected but we can't reach them from the outside.

[2022-07-20 23:29] jchenship commented on #8843
Will try but the grpc example is extremely similar to my steps to reproduce

I removed the `appProtocol: grpc` it has the same problem

I did use GRPC over TLS, where did you see TLS is not used ?  `grpc -insecure` is because I used a self signed certificate, but it still uses TLS.

[2022-07-20 23:58] ns-jhu commented on #8847
the sample log I see in the ingress pods  for the <none> end point  is:

I0707 17:20:04.152859       6 event.go:282] Event(v1.ObjectReference{Kind:"Ingress", Namespace:"clickhouse", Name:"error-reader", UID:"73d7c1f1-542e-4272-a343-5e5da1eba93a", APIVersion:"networking.k8s.io/v1beta1", ResourceVersion:"199191406", FieldPath:""}): type: 'Normal' reason: 'Sync' Scheduled for sync
W0707 17:20:04.2263

[2022-07-21 00:17] jchenship commented on #8843
I just tried, yes it has the same problem  (wrong authority header)

go code (just changed the return message to be `:authority` header)

[code]

kubernetes manifests

[code]

command

[code]

[2022-07-21 00:36] longwuyuan commented on #8847
Although the problem you are trying to present can be guessed about, there is another problem that the  project has stopped support for `ingress-nginx-3.29.0 0.45.0`.

- Please install the latest release of the controller
- Please post the output of `kubectl describe` for all the objects that are involved in your test
- Please post the entire log of the ingress-nginx controller pod
- Please post y

[2022-07-21 00:36] #8847 closed

[2022-07-21 00:41] longwuyuan commented on #8849
Please see below notes ;

- Please use this link to install multiple instance of the ingress controller https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster
- Please post all info that is asked in the issue template. The currently posted messages are not enough to make any useful comment
- Once the info is posted,

[2022-07-21 00:41] #8849 closed

[2022-07-21 00:51] longwuyuan commented on #8846
@balacasa the info you posted is too short and too limited.

- Please post the `kubectl describe` output of related objects
- Please post your complete curl command with -v flag and its response
- Please post the information asked in the issue template

After above steps are completed, please re-open the issue .

/remove-kind bug
/close

[2022-07-21 00:51] #8846 closed

[2022-07-21 01:39] pi3ch commented on #8844
I was getting same error after upgrading nginx controller using [non-Helm method](https://kubernetes.github.io/ingress-nginx/deploy/upgrade/#without-helm). Upgrading from 0.x version to 1.3.0 misses a number of configuration i.e. role, clusterrole and validationwebhook that requires update. Follow your provider deployment from https://github.com/kubernetes/ingress-nginx/tree/main/deploy/static/pro

[2022-07-21 04:15] balacasa commented on #8846
**kubectl describe ingress**

Name:             casaruleserver-ingress
Namespace:        ingress-basic
Address:          20.###.###.##
Default backend:  default-http-backend:80 (<error: endpoints "default-http-backend" not found>)
TLS:
  tls-secret terminates <domainName>
Rules:
  Host                   Path  Backends
  ----                   ----  --------
<domainName>
                         /(

[2022-07-21 04:23] balacasa commented on #8846
How to reopen the issue now?
/re-open

[2022-07-21 07:04] ayush-jain1 commented on #8461
I am getting same issue as well for ingress version 1.2.0 , suddenly pods are failing with error "port 80 is already in use. Please check the flag --http-port"

[2022-07-21 07:23] longwuyuan commented on #8461
There have been several successful installations, even after the release of v1.3.0 of the controller, so this does not look like a problem on the controller.

Second time mention seems relevant that a port being used can be detected but tools like lsof, netstat etc to know which process is owning the currently occupied port 80.

If someone can post a procedure that is a step-by-step instruction fo

[2022-07-21 07:45] longwuyuan commented on #8520
[code]

[2022-07-21 07:50] longwuyuan commented on #8842
/remove-kind bug

[2022-07-21 12:43] zohebs341 opened #8851 "K8s Version - 1.22.11 - Error when getting IngressClass nginx: the server could not find the requested resource"
Recently we have upgraded Azure AKS cluster from 1.21.7 to 1.22.11.

In k8s 1.22.11, nginx pod started crashing and it's in crashloopback. Pasting logs below:

I0721 10:57:15.997586       1 main.go:245] Starting NGINX Ingress controller Version=1.9.1 GitCommit=aa19bb4
W0721 10:57:16.022668       1 main.go:284] The '-use-ingress-class-only' flag will be deprecated and has no effect on versions of k

[2022-07-21 12:50] longwuyuan commented on #8851
@zohebs341 Please post the information asked in the issue template.

Once the information asked in the issue template has been posted, then re-open this issue.

/remove-kind bug
/close

[2022-07-21 12:50] #8851 closed

[2022-07-21 13:48] davem-git opened #8852 "nginx /healthz endpoint breaks when using an ingress with nginx.ingress.kubernetes.io/rewrite-target without a host"
**What happened**:

When creating an ingress without a host, and using `nginx.ingress.kubernetes.io/rewrite-target: /$2` the /healthz endpoint no longer works it give a 404

[code]
[code]

**What you expected to happen**:

I would expect the default  /healthz endpoint to not be affected

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

[2022-07-21 14:06] NissesSenap commented on #8839
Sorry for the delay @rikatz, I have verified and setting `- --internal-logger-address=127.0.0.1:11515` solved the issue.

I think I should have time some time later next week to create a PR in the helm chart unless someone else is quicker then me.

FYI to other people that might be following the issue the flags file have moved: https://github.com/kubernetes/ingress-nginx/blob/0cc43d5e5295a769fa6e9

[2022-07-21 14:52] strongjz commented on #8828
this may be something we have to check for with the MACOS test or just move the python script to run in a docker container as well.

[2022-07-21 15:08] strongjz commented on #8034
/lifecycle frozen

[2022-07-21 15:26] strongjz commented on #8852
/assign harry1064

/triage accepted
/priority backlog

[2022-07-21 15:29] strongjz commented on #8843
/assign @rikatz

[2022-07-21 15:31] strongjz commented on #8831
/assign @rikatz

/triage accepted
/priority backlog

[2022-07-21 15:36] strongjz commented on #8828
/triage accepted
/priority backlog
/area stabilization
/assign @strongjz

[2022-07-21 15:38] strongjz commented on #8824
/triage accepted
/assign @longwuyuan
/priority backlog

[2022-07-21 17:21] harry1064 commented on #8852
@strongjz @longwuyuan
I am able to reproduce this issue.
**Root Cause:**
When path is specified in Ingress  without host and rewrite annotation is specified, all the paths will go under server_name `_` and `location ~* "^/"` get added just before the `/healthz` which causes 404 Not found issue.

[2022-07-21 17:36] balacasa commented on #8846
I cant able to open this. Can someone suggest me to reopen this issue?

Thanks.

@longwuyuan @ncdc @gnufied

[2022-07-21 17:38] longwuyuan commented on #8852
Thanks. It was expected and kind of makes simple logical sense based on how server & location blocks get configured, in the general scheme of the controller lua pieces.
In my opinion this is a academic scene and not a real-world scene. But others may differ. My vote is wait for Ricardo to complete all the cp/dp split work and then ask if we want to allow this kind of use-case to begin with.

But t

[2022-07-21 17:46] longwuyuan commented on #8846
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#large-client-header-buffers

[2022-07-21 17:59] #8049 closed

[2022-07-21 20:59] robert-heinzmann-logmein commented on #7118
Looks like newer versions of k8s do not ship the batch/v1alpha1 version anymore and therefore the capacilities flag does not work anymore. The following patch should do the trick:
[code]

[2022-07-21 21:02] rikatz commented on #7118
@robert-heinzmann-logmein wanna send the PR? Then just tag me and I can approve it.

Also we dont support k8s <v1.20 anymore so fully dropping this API should be good

[2022-07-21 21:18] robert-heinzmann-logmein commented on #7118
Not sure, how about https://github.com/kubernetes/ingress-nginx/pull/7128 ? Following the discussions, I think as long as you support 1.20 (where this is still alpha) the toggle can not be removed right ?

[2022-07-21 21:54] Manouchehri commented on #3989
Was this ever resolved?

[2022-07-21 22:07] rikatz commented on #7118
Oh it is beta only on v1.21? :/

yeah we should wait until v1.25 and drop support to v1.20

[2022-07-21 22:08] rikatz commented on #7118
Also apparently that PR is stale, so if you are willing to open a new one lmk.

[2022-07-21 22:48] strongjz commented on #8819
/kind feature

[2022-07-21 22:53] strongjz commented on #7612
@kingledion Can you try with the latest version, we have some fixes in there for leader election.

https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v1.3.0

/priority backlog

[2022-07-21 23:03] strongjz commented on #7755
/close

Use the Helm `.Values.nameOverride` if you have two separate installations, that's what is there for.

[2022-07-21 23:04] #7755 closed

[2022-07-21 23:11] strongjz commented on #7652
Have you tried setting the electionID to separate values in the different releases?

https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L103

Let me know if that fixes it and we can add it to the documentation.

/triage accepted
/priority backlog
/lifecycle frozen
/assign @strongjz

[2022-07-21 23:18] strongjz commented on #8166
/priority critical-important
/triage accepted

[2022-07-21 23:19] strongjz commented on #8166
/priority critical-urgent

[2022-07-21 23:25] strongjz commented on #8030
Is this issue removed now that we moved to the leader election to leases?

https://github.com/kubernetes/ingress-nginx/pull/8733

@tao12345666333 I think we may need to update the docs as well https://github.com/kubernetes/ingress-nginx/blob/main/docs/deploy/rbac.md#namespace-permissions that may have been missed in the 1.3.0 release.

/priority backlog
/triage accepted
/kind documentation
/lifecy

[2022-07-22 03:12] rikatz commented on #8034
About RCEs, I agree partially, but I think if we have a problem that there is an RCE in Nginx (doable, due to all the leaks and template sanitization we have) + gRPC we may have a much bigger problem.

Also, as soon as we split all of this I want to make sure control plane is distroless and just the cp binary runs there.

Finally, I was thinking also that we still need some counter measures and ar

[2022-07-22 11:21] #8144 closed

[2022-07-22 11:35] strongjz commented on #7686
Unfortunately, this sounds like an issue with Docker Desktop and not ingress-nginx, since Contour has the issue as well, and restarting after a reset fixes the issues.

/close

[2022-07-22 11:35] #7686 closed

[2022-07-22 11:54] strongjz commented on #8813
/remove bug

What do you have annotation `auth-tls-verify-client` set to?

Looks like it supports `optional_no_ca`

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#client-certificate-authentication

[2022-07-22 12:38] tanuj-soni2 opened #8856 "Update NGINX to v1.23.1"
Please update the Nginx Version to v1.23.1

[2022-07-22 13:12] longwuyuan commented on #8856
https://github.com/kubernetes/ingress-nginx/issues/8799

/close

[2022-07-22 13:12] #8856 closed

[2022-07-22 13:16] longwuyuan commented on #8813
/remove-kind bug

[2022-07-22 13:20] davinkevin commented on #7686
For all interested, I've switched to `k3d` instead of Docker Desktop, it's working well for this use case and I'm able to created multiple cluster… so it's a major win for me and no more ingress issue like this.

[2022-07-22 13:30] tareksamni commented on #2615
@liviuf-ancas you just need to use `server-snippet` instead of `configuration-snipper`. Something like:

[code]

[2022-07-22 14:09] ATownsend commented on #7755
You're missing the point of this issue if you think that the name override works for this issue.

If you have the SAME named nginx installation on two different namespaces, it breaks.
It should not, this is not expected behaviour.

This is particularly important if your DEV and QA environments live on a single cluster, or if you're dealing with multi-tenant installations. Ironically NGINX is exact

[2022-07-22 14:14] kitos9112 commented on #7755
Yes, exact same thoughts here.

[2022-07-22 14:23] longwuyuan commented on #7755
@ATownsend & @kitos9112 , is this related to what you want to do https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster

[2022-07-22 18:11] clarax opened #8857 "Ingress of different ingress class is not ignored."
**What happened**:

I have a question on a potential bug of Ingress-Nginx. We have two ingress controllers, the default ingress controller in namespace ingress-nginx and custom controller b in namespace namepace-b, installed on a Kubernetes cluster(version: v1.22.9) Each controller has a different IngressClass: nginx and b. When I try to create an ingress of ingress class nginx, it failed with err

[2022-07-22 20:31] thmanders commented on #8813
Hello @strongjz ,
Thanks for your reply. I have the optional_no_ca but for some client the behavior is not the same if you present a list of ca or not. If you present a list of ca that doesn't correspond to the client certificate some libraries send an empty client certificate message during the handshake. Which is correct according to the tls1.2 rfc

[7.4.6](https://datatracker.ietf.org/doc/html/

[2022-07-23 00:29] longwuyuan commented on #8857
/remove-kind bug

- Use https://kubernetes.github.io/ingress-nginx/deploy/#aws to install the ingress-nginx-controller on AWS
- The issue template asks several pieces of information that people require to help understand the problem. Please edit your original message above and post all the info asked in the issue template. also kindly do not break the markdown format

[2022-07-23 02:41] fernandes-natanael commented on #8384
Hello guys, I would like to work on this issue,  can you give me more details on what exactly I need to do?

[2022-07-23 02:41] fernandes-natanael commented on #8384
/assign

[2022-07-23 05:18] #8265 closed

[2022-07-23 18:44] mblaschke commented on #7811
bump

[2022-07-23 23:38] Volatus commented on #8745
@fred214 This issue is waiting on https://github.com/kubernetes/apiserver to release `0.25.0` to get rid of the `gorestful` transitive dependency. As soon as that's live, I'll work on it.
/assign

[2022-07-24 00:54] Volatus commented on #8702
Seems that https://github.com/kubernetes/client-go/blob/v0.25.0-alpha.3/go.mod no longer has reliance on it so hopefully we can get rid of it once `v0.25.0` fully releases.

/assign

[2022-07-24 02:46] clarax commented on #8857
吹吹风大的小liny

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Long Wu Yuan ***@***.***>
Sent: Friday, July 22, 2022 5:29:30 PM
To: kubernetes/ingress-nginx ***@***.***>
Cc: clarax ***@***.***>; Mention ***@***.***>
Subject: Re: [kubernetes/ingress-nginx] Ingress of different ingress class is not ignored. (Issue #8857)

/remove-kind bug

  *   Use https://kubernetes.

[2022-07-24 04:02] phuongnt28 commented on #1664
could you please share fully your config? it's still not working for me. Thanks!

[2022-07-24 16:10] #8828 closed

[2022-07-25 02:50] #8749 closed

[2022-07-25 02:51] LianwMS commented on #8749
Upgrade to 1.3.0 and the curl 7 openssl is fixed

[2022-07-25 02:57] LianwMS commented on #8520
I also found that NEW version 1.3.0 is impacted by vulnerability of busybox with CVE-2022-30065

[2022-07-25 06:31] jchenship commented on #8843
bump for update , can you please at least try to reproduce and triage it first ?  thanks

[2022-07-25 06:55] NissesSenap commented on #8839
@rikatz you wrote earlier "Also be aware that as soon as you are binding to hostNetwork this port will be exposed in your host and someone can push rogue messages to the logger ".

Would you say it's better to not run the chrooted image to not expose the syslog address? Sadly I can't remove the hostNetwork config.

[2022-07-25 09:03] dud225 commented on #8216
This behaviour conflicts with the documentation:

[2022-07-25 09:11] Kanshiroron commented on #8799
Is the idea here to upgrade to v1.21.4 as the title suggest (which is already quite old), or to the latest version available `v1.23.1`?
Because v1.21 security support has expired 2 months ago: https://endoflife.date/nginx and we're looking for a bug fix that has been released on a newer version than `v1.21.4`.
Thanks

#8856

[2022-07-25 10:24] tpoindessous commented on #8194
/remove-lifecycle rotten

[2022-07-25 11:45] tao12345666333 commented on #8799
The current plan is to upgrade to v1.21 as the title, I will submit a PR within this week.

In fact this version is consistent with openrestry

[2022-07-25 12:14] Kanshiroron commented on #8799
Thanks @tao12345666333 for your quick answer.
If I understand correctly, the ingress nginx is build on top of OpenRestry, so we'll need to wait for OpenRestry to deliver a version based on the `1.23.1` version of nginx to have a chance to later see it in the ingress nginx right?

[2022-07-25 12:15] tao12345666333 commented on #8799
right

[2022-07-25 14:40] #8269 closed

[2022-07-25 15:41] ThijsFTW commented on #8584
Same for me with AKS

[2022-07-25 19:56] webcoderz commented on #8690
[code]

[2022-07-25 20:01] pgier commented on #8718
Setting `controller.service.enableHttp: false` on ingress-nginx-4.2.0 worked for me.  Are you able to upgrade to this version?

[2022-07-25 20:56] liad-haber commented on #3245
@VengefulAncient
Can you please share the working ingress manifest you used ?

[2022-07-25 21:14] vijayakrishnar opened #8867 "Nginx-ingress returning 500 internal server issue after upgrade aks cluster to 1.23.5"
AKS version: 1.23.5
Nginx-ingress image: k8s.gcr.io/ingress-nginx/controller:v1.2.1@sha256:5516d103a9c2ecc4f026efbd4b40662ce22dc1f824fb129ed121460aaa5c47f8

when we send request to aks it has to convert https call to http and forward to service, but it's returning 500 internal server error.

logs from nginx-ingress:

{[2022-07-25T18:52:54+00:00] "POST /pd/v1/filedump/syndication/query/byrequestid

[2022-07-25 23:52] michaelliau commented on #8469
I'm experiencing the same behavior. For OPTIONS requests coming from origins which do not match the allowed-origins configured through `nginx.ingress.kubernetes.io/cors-allow-origin`, there are no returned CORS headers. This is resulting in browsers thinking CORS is disabled.

I believe the issue is with how `nginx.conf` is being generated. Here's what I get generated for `cors-allow-origin=https:

[2022-07-26 00:36] larivierec commented on #8469
browsers thinking CORS is disabled.

Isn't this intended behavior?

You issue an OPTIONS request from origins which are not in the list of allowed origins, therefore you shouldn't receive CORS headers?

I do find that this is weird however.
In this example I would've expected a failure.

I'd have to look it up, it's been awhile :sweat:

[2022-07-26 03:46] longwuyuan commented on #8867
hi,
- the information you have posted is not enough to analyse.
- you can begin with checking the logs of your app pod.
- Post the information that is asked in the issue template
- add information that is relevant to the 500 response like
  - kubectl get svc,ing -A -o wide
  - kubectl describe ing -A
  - kubectl logs <ingresscontrollerpod>
  - Your complete and exact curl command
  - Any other inf

[2022-07-26 03:46] #8867 closed

[2022-07-26 07:33] VengefulAncient commented on #3245
@liad-haber

We use Helm for deploying `ingress-nginx`. The required configuration goes under `http-snippet` in `controller` section:
[code]

The resulting `ConfigMap` manifest looks like this:
[code]

[2022-07-26 07:49] liad-haber commented on #3245
@VengefulAncient
Much appreciated. We use helm as well.

[2022-07-26 09:48] nailgun commented on #8285
Please check https://github.com/kubernetes/ingress-nginx/pull/8728
It deprecates summary metrics and adds histogram metrics.

[2022-07-26 10:00] Lyt99 commented on #8285
It's great to see that metric has been deprecated.

But the deprecated `upstream_latency` metric will be preserved and still calculated [here](https://github.com/kubernetes/ingress-nginx/blob/bdc45d0dd9fa3079bafa821774dabc465f6aa807/internal/ingress/metric/collectors/socket.go#L327). It seems that the PR can not fix this problem.

Is there any plan to remove this metric in further version?

[2022-07-26 10:07] nailgun commented on #8285
Sure, but it's breaking change for monitoring tools. If we are ready to do so, I can update the PR to remove these metrics in single step.

[2022-07-26 11:44] larivierec commented on #8235
curious, do you have any of these error / warning logs in your file?
https://github.com/kubernetes/ingress-nginx/blob/32306381606c249b86cb2d5015c79f994251dad8/internal/ingress/annotations/cors/main.go#L136

[2022-07-26 16:34] michaelliau commented on #8469
The expected behavior for the CORS preflight request (the OPTIONS request) is that the server responds to all requests, regardless of origin, to indicate what type of requests are allowed on the resource. Browsers use the results of preflight requests to determine if the actual requests should be sent. The [Mozilla CORS documentation](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#prefligh

[2022-07-27 00:15] jsalatiel commented on #8059
/remove-lifecycle stale

[2022-07-27 03:39] jojotong opened #8871 "Metrics should probably contains a label like 'ingressClassName'"
I want each metric contains a label to point out it's ingressClass. Currently, is has a label `controller_class`, but this is ingressClass's controller, not ingressClass name.

[2022-07-27 03:42] jojotong commented on #8871
I found code here:
https://github.com/kubernetes/ingress-nginx/blob/f0490cbfbf29a7a05caaac29998dde56173ac2bb/internal/ingress/metric/collectors/nginx_status.go#L83-L104

[2022-07-27 09:01] NissesSenap commented on #8839
Was planning to start to do a contribution in the helm chart but remembered that the extraArgs is already in place (I'm already using it).

I will create a documentation PR to make this value a bit easier to find without having to read the code.

[2022-07-27 09:18] auxo86 opened #8874 "nodeSelector ingress-ready: "true" caused ingress-nginx-controller can't be schedule to any node on KIND cluster"
**What happened**:

nodeSelector ingress-ready: "true" caused ingress-nginx-controller can't be scheduled to any node on KIND cluster.

**What you expected to happen**:

Install NGINX Ingress controller successfully.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

1.3.0

**Kubernetes version** (use `kubectl version`):

Kubernetes version : 1.

[2022-07-27 09:38] longwuyuan commented on #8874
/triage-accepted
/area stabilization

Hi, yes, I was able to reproduce this problem.
Please try helm chart installation with defaults. It should work.
Also there this config https://github.com/kubernetes/ingress-nginx/blob/f0490cbfbf29a7a05caaac29998dde56173ac2bb/build/dev-env.sh#L100

[2022-07-27 09:39] longwuyuan commented on #8874
/triage accepted

cc @tao12345666333 @strongjz

[2022-07-27 09:45] longwuyuan commented on #8874
[code]

[2022-07-27 10:05] longwuyuan commented on #8874
And if I remove that nodeSelector, it installs and runs ;
[code]

So we need a PR to remove that `nodeSelector` from the static manifest for the kind provider. And that is slightly complicated because the manifest is generated via script.

@Volatus , do you have any interest in looking at this. Thanks

[2022-07-27 12:35] Vijayrajachandrasekar-Ageas opened #8875 "ingress communication issues"
Need you support on below issues, when we kubectl logs -f -n ingress-basic xxxxxxxxxx, i got below error

 Service "default/xxxxx" does not have any active Endpoint.

[2022-07-27 14:28] chance2021 commented on #5401
Make sure both our your nginx-ingress pod and service work properly. My case was that I was assigning the wrong public IP which didn't exist in the corresponding resource group in AKS.

[2022-07-27 14:33] longwuyuan commented on #8875
The information you have posted is not enough to analyse a bug or a problem.
- Please post the information that is requested in the issue template
- I suspect you can get faster and better support by discussing on the kubernetes slack
- Once you have posted the information asked in the issue-template, please feel free to reopen the issue

/kind support
/close

[2022-07-27 14:33] #8875 closed

[2022-07-27 17:00] Aryan-Deshpande commented on #7961
/assign

[2022-07-27 17:05] Aryan-Deshpande commented on #7961
Hey, I am assuming to go forward with this issue, I would need to look into the following Kubernetes versions in the table that I can refer online as to which helm version is to be added. Any suggestions.

[2022-07-27 18:17] longwuyuan opened #8879 "make dev-env on Intel Mac broken because of --load flag"
- There have been some discussions about this on community-meeting and slack
- `make dev-env` is broken on Intel macOS Monterey with docker context working fine and even `kind create cluster` working
- The error reported is `unknown flag: --load`
- Contributors with Intel Mac depend on this
- Not sure if this is a problem on M1 Mac or Linux

[code]

- docker and kind are working
[code]

/triage ac

[2022-07-27 22:05] jemag commented on #7517
Is the intent to implement the Gateway in this repository or create a new one to host that code?

If a new repository is created for this purpose, this could be a good opportunity to try and differentiate the project from the NginxInc one (https://github.com/nginxinc/nginx-kubernetes-gateway) and perhaps avoid some of the confusion going around (see: https://github.com/kubernetes/ingress-nginx/iss

[2022-07-28 08:31] kanonkanin commented on #8518
Hi.

We are facing the same issue after installing an AKS cluster with newer version of Kubernetes:

AKS Kubernetes version: 1.22.6 (latest possible)
Ingress version installed: nginx-ingress-0.14.0    2.3.0

Used to work (some lines removed):

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: xx-ingress
  namespace: staging
  annotations:
    kubernetes.io/ingress.class: nginx
spec:

[2022-07-28 13:29] longwuyuan commented on #8518
@kanonkanin, this api version `apiVersion: extensions/v1beta1` is deprecated in K8S v1.22

[2022-07-28 14:10] duhow opened #8882 "ingress-nginx blocks other Ingress requests if a Service does not exist"
**What happened**:

Ingress nginx stopped responding to our HTTP requests, due to an **Ingress** trying to refer to a **Service** that does not exist.

[code]

This happened after bumping from version `v1.2.0` to version `v1.3.0`.

After detecting the root cause for this problem and modifying the affected Ingress object to "not use the unexisting Service", nginx-controller reloads, and traffic sta

[2022-07-28 14:38] longwuyuan commented on #8882
/remove-kind bug
- This is not a bug or a problem with the controller
- If you have a rule configured with a backend and then you may have either deleted the backend or some other reason causes a missing backend
- Please post the information requested in the issue template
- Please describe the problem you want to solve that is a problem with the ingress-nginx-controller. Misconfiguration is not a

[2022-07-28 14:38] #8882 closed

[2022-07-28 14:41] fred214 opened #8883 "Vulnerability golang-runtime CVE-2022-30634"
Hi,
We use image `k8s.gcr.io/ingress-nginx/controller:v1.3.0`, and our scanner (Protecode) report:
[code]
[CVE-2022-30634](https://nvd.nist.gov/vuln/detail/CVE-2022-30634#vulnCurrentDescriptionTitle)

I noticed golang verion is 1.18 in go.mod, and NVD saids before Go 1.17.11 and Go 1.18.3 on Windows, does it mean it's a false positive?

[2022-07-28 14:44] duhow commented on #8882
@longwuyuan this problem is affecting the whole **ingress-nginx-controller**, as other **Ingress** objects which are defined correctly, have their Services and Pods up and working, were also **unaccessible**, caused by having a single **Ingress** which would refer to an unexisting Service.

Please reopen this issue.

[2022-07-28 14:53] kanonkanin commented on #8518
We use networking.k8s.io/v1 in the new version.
It is in this version where wildcard is not working. It works in extensions/v1beta1.
The problem is thus in the new version.

[2022-07-28 15:32] nvanheuverzwijn commented on #5667
This will also happen if you have a service pointing to a deleted deployment. The endpoints are effectively not there and the logs `Service "x" does not have any active Endpoint.` starts to appear. Nginx will become very unstable, throwing 503 left and right.
I know we should not have service pointing to deleted deployment but hey, this happened to us :(

[2022-07-28 16:53] akankshakothari opened #8884 "issue updating ingress to v1.3.0 from v1.2.1"
I am getting error when trying to update Ingress version

Error: INSTALLATION FAILED: template: ingress-nginx/templates/controller-deployment.yaml:2:4: executing "ingress-nginx/templates/controller-deployment.yaml" at <include "isControllerTagValid
" .>: error calling include: template: ingress-nginx/templates/_helpers.tpl:172:12: executing "isControllerTagValid" at <semverCompare ">=0.27.0-0" .Va

[2022-07-28 17:12] longwuyuan commented on #8884
- When you create a new issue, the template asks information
- It seems none of that information is provided here
- Just the error message posted is not enough to analyse the problem
- Please post the information asked in the issue-template
- The docs are here https://kubernetes.github.io/ingress-nginx/

At the very least, it is required to know current state and the exact command used to upgrade.

[2022-07-28 17:12] #8884 closed

[2022-07-28 20:49] appsailor commented on #8690
I am not able to get it working in linode k8s :( Any progress?

The install/upgrade hangs and fails after 5 min timeout:
ingress-nginx     	scoreblox-dev	2       	2022-07-28 20:37:10.817710075 +0000 UTC	failed  	ingress-nginx-4.1.3	1.2.1

related job stuck, not sure whats going on in there.
ingress-nginx-admission-create   0/1                      9m48s

- helm version

version.BuildInfo{Version:"

[2022-07-29 00:16] tao12345666333 commented on #8690
/assign

[2022-07-29 00:17] #8252 closed

[2022-07-29 01:18] #8276 closed

[2022-07-29 04:04] Divine1 opened #8885 "problem with latest chectl version: cloning sourcecode from gitlab private repository prompts for username/password even after adding `gitlab-oauth-config` secret"
my chectl version
<img width="443" alt="image" src="https://user-images.githubusercontent.com/10482177/181679571-f52a4217-747c-4b48-bc2d-742a35c5d2b6.png">

i have added my private organization gitlab account in `devfile`.
[code]
i have added `gitlab-oauth-config` secret in `eclipse-che` namespace.

<img width="1342" alt="image" src="https://user-images.githubusercontent.com/10482177/181679879-aa0

[2022-07-29 04:06] Divine1 commented on #8885
ticket was created in a wrong repository. so closing this ticket.

i recreated this ticket in https://github.com/eclipse/che/issues/21596

[2022-07-29 04:06] #8885 closed

[2022-07-29 04:21] zerkms opened #8886 "Possible race condition in startup and readiness probe"
**What happened**:

[Current ](https://github.com/kubernetes/ingress-nginx/blob/5e6093cf59628004f2948674eb1fc5dc0d560dff/deploy/static/provider/baremetal/deploy.yaml)

In the sample baremetal deploy it's suggested to have a deployment with the following readiness probe:

[code]

while updating some ingress-nginx settings with

[code]

I accidentally could catch the

[code]

which led me to a thoug

[2022-07-29 06:30] longwuyuan commented on #8886
/remove-kind bug

I am unable to reproduce this ;

<img width="1609" alt="Screenshot 2022-07-29 at 11 56 57 AM" src="https://user-images.githubusercontent.com/5085914/181697208-6debdcea-7443-4256-9e7a-3358ac5b45f0.png">

[2022-07-29 07:13] fred214 commented on #8883
I noticed it use `registry.k8s.io/ingress-nginx/e2e-test-runner:v20220624-g3348cd71e@sha256:2a34e322b7ff89abdfa0b6202f903bf5618578b699ff609a3ddabac0aae239c8` as build runtime, and in this image the golang version is `1.18.2`

If I understand correctly the linux platform will not be affacted, am I right?

[2022-07-29 08:04] vzemtsov opened #8887 "Null in Status-LoadBalancer in CRD ingress (1.3.0)"
**What happened**:

After update Nginx ingress controller from 1.2.1 to 1.3.0 in status ingress CRD disappeared loadBalancers IPs

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

- **How was the ingress-nginx-controller installed**:
I use Kubespray for install ingress-nginx control

[2022-07-29 08:43] AverageMarcus commented on #8527
/remove-lifecycle stale

[2022-07-29 09:40] adinhodovic commented on #8276
/reopen

[2022-07-29 09:51] tao12345666333 commented on #8091
@shafeeqes Yes! it's on my list, I will do it AFAP.

[2022-07-29 09:56] longwuyuan commented on #8887
Hi @vzemtsov,

- The information you have posted is not enough
- When you create a new issue, the issue-template asks questions that help to understand the problem
- Please edit your post and provide all that information
- If the service ingress-nginx-controller is not working as expected with a load balancer ip assigned to it, this can be the result of that state
- Please post information of the

[2022-07-29 09:57] #8887 closed

[2022-07-29 10:02] longwuyuan commented on #8883
based on that description, yes. But no tests are available.

The project will eventually bump go version.

[2022-07-29 12:17] #8280 closed

[2022-07-29 15:58] jonathan-backhaus commented on #8298
I'm having the same issue. AWS EKS

[2022-07-29 15:59] tabnul commented on #8760
I am also puzzling with this. We have an NLB loadbalancer and a ingress-nginx instance 1.2.0 as deployment.
Timeout settings are default in nginx (so 75s) and with long-running transaction at the end nginx logs the following.

`client closed connection while SSL handshaking, client: VPCIP.ADDRESS.OF.NLB, server: 0.0.0.0:443\n","stream":"stderr","time":"2022-07-29T11:14:57.972691602Z"`
_(x3 for eac

[2022-07-29 16:57] wguanicedew opened #8888 "allow proxy certificate in ingress-nginx, openssl X509_V_FLAG_ALLOW_PROXY_CERTS is not set"
With ingress controller v1.3.0, with a certificate (see command 1), it works ok. But if trying a x509 proxy ( see command 2), it will fail with error "400 The SSL certificate error". When using "--v=5" to enable debug mode,  in the ingress controller logs, I found some thing like "40:proxy certificates not allowed, please set the appropriate flag". It seems we need to set openssl X509_V_FLAG_ALLOW

[2022-07-29 20:14] zerkms commented on #8886
@longwuyuan it's not wondering:

1. Your demo ingress-nginx is empty, it takes much less time for nginx to start
2. You emit requests very infrequently - once ever 1 or 2 seconds, if there is race condition - it would be milliseconds

Does the code *guarantee* healthz port only serves after nginx has _fully initialised_ and is listening?

[2022-07-29 20:20] zerkms commented on #8886
In source code I found this:

1. https://github.com/kubernetes/ingress-nginx/blob/a581a7bebc1f4ff028f1e57dca0ce95abef78c62/cmd/dataplane/main.go#L92-L96
2. https://github.com/kubernetes/ingress-nginx/blob/a581a7bebc1f4ff028f1e57dca0ce95abef78c62/cmd/nginx/main.go#L152-L163

which starts healthz handler _before_ nginx. Hence a question: how healthz may be used as a readiness check?

[2022-07-30 05:58] abner423 commented on #8391
/assign

[2022-07-30 06:31] longwuyuan commented on #8391
@bm-skutzke
1. Why do you want to change that field's value ?
2. Why does the field's value need to be changed from linux ?
3. What is the problem that is being created for at least 1 year by that the value "linux" ?
4. Why do you need the field in the admissionwebhook jobs ?
5. What is the problem being created for at least one year now, with those fields missing in the create & patch jobs ?

[2022-07-30 06:32] longwuyuan commented on #8391
/remove-triage accepted

[2022-07-30 11:31] #8249 closed

[2022-07-30 17:34] #8278 closed

[2022-07-30 17:53] tao12345666333 commented on #8799
Open a PR #8889 for this one.
I need some time to finish it ASAP

[2022-07-31 16:16] #8819 closed

[2022-07-31 19:35] cebidhem commented on #8239
/remove-lifecycle rotten

[2022-07-31 21:16] LiadHaber commented on #3245
Does anyone knows if this can be done as an ingress resource annotation instead of controller config? E.g apply this configuration to a specific path/paths.
I want to enable this feature for only some of my ingresses, not all.
@VengefulAncient

[2022-08-01 03:12] lizhifengones opened #8891 "How to compile ingress-nginx based on k8s1.16 and fix CVE2021-23017 vulnerability?"
[code]

[2022-08-01 05:04] longwuyuan commented on #8891
/remove-kind bug

- It will not be possible to support Kubernetes version v1.16. Its too old and the changes since then are way too many to reconcile.

- You can see the support matrix in the project's README.md. There is a release planned to fix the buxybox + ssl_client related CVEs that are recent and known.

- Also post the information asked in the issue-template when you create a issue. It hel

[2022-08-01 05:04] #8891 closed

[2022-08-01 08:56] kgusarov opened #8893 "CVE-2022-30065 in busybox in k8s.gcr.io/ingress-nginx/controller:v1.3.0"
Hi!

AquaScan reports vulnerability in BusyBox inside controller image (`k8s.gcr.io/ingress-nginx/controller:v1.3.0`):

![image](https://user-images.githubusercontent.com/1231997/182111736-1e15e742-5af0-45d4-b541-9db5c77994d6.png)

Issue description: https://nvd.nist.gov/vuln/detail/CVE-2022-30065

While the exploitability of this issue doesn't seem to high (have to log in to container and execute

[2022-08-01 08:57] lizhifengones commented on #8891
I'm sorry for skipping the basic steps.

Can I build a k8s1.16 compatible version based on the image process of the main branch + the nginx-ingress-controller binary of the 0.26 branch? @longwuyuan

[2022-08-01 09:16] longwuyuan commented on #8891
You can not get much help from developers of the project but you can try on your own. Maybe checkout the commit that relates to that old release.

[2022-08-01 09:18] longwuyuan commented on #8893
We have built a baseimage with the patches that fixes busybox & ssl_client CVEs. We will release it later. But please do not expect timelines as everyone is busy with very high priority stabilization work.

[2022-08-01 12:04] zilinyo commented on #5932
兄弟 解决了没

[2022-08-01 16:36] mubarak-j commented on #5690
Any change this bug will be looked into during code freeze? 🤞🏼

[2022-08-01 19:21] longwuyuan commented on #8893
Since there is another issue also tracking the busybox+ssl_client CVE, you can close this as a duplicate, if that works for you.

[2022-08-01 21:16] sanyamgoel1988 opened #8898 "Ingress controller throws error while SSL handshaking to upstream intermittently"
I have a spring gateway with mTLS authentication running in kubernetes pod (with openJDK:17.0.2 as the base image).

Inside kubernetes I have a **cluserIP** service pointing to spring gateway pods ( 3 pods )

with SSL passthrough **enabled**, some requests pass and some fail with following errors:
Also, This happens intermittently
[code]
Here are the system details:

Kubernetes version 1.22
Cluste

[2022-08-02 02:20] longwuyuan commented on #8898
/remove-kind bug

Hi @sanyamgoel1988
- You have completely ignored all questions asked in the issue template. There is nothing to analyse so please post the information asked in the issue template
- The error states bad certificate which requires at least the information asked in issue template, in addition to the details on the certificates in question
- `"docker.n1-cec.int/ingress-nginx/controll

[2022-08-02 02:20] #8898 closed

[2022-08-02 02:22] longwuyuan commented on #8520
We have updated to alpine v3.16.1 with patches for busybox & ssl_client. It will be released later.

[2022-08-02 02:23] longwuyuan commented on #8893
duplicate of https://github.com/kubernetes/ingress-nginx/issues/8520

/close

[2022-08-02 02:23] #8893 closed

[2022-08-02 02:37] DataMinded commented on #8520
Sorry to ask like cause u guys are probably busy with other stuff, but
Is this not an version bump release hotfix ?

As it concerns a security issue would it not be the best path for a fast release with a fix. (patch/hotfix release , not sure what the correct terminology is here)
as for new features I understand because of the code freeze, there is a point for it, but as a security fix we should t

[2022-08-02 02:43] longwuyuan commented on #8520
@DataMinded true, security based fixes should be sooner than later.

In this case, busybox itself is not directly in play while using ingress objects and also ssl_client is used internally to the controller. So this is acceptable risk in the context of the timelines feasible/possible for releasing binaries with patched bits for those 2 CVEs.

The situation now is that the already complicated/manua

[2022-08-02 02:49] KeithTt commented on #8171
Have you figure out this?

[2022-08-02 03:39] DataMinded commented on #8520
@longwuyuan  Thnx allot for the explanation. Indeed I do not know the full context to make that distinction, but that sounds like a good reasoning.

[2022-08-02 07:29] kgusarov commented on #8520
Thanks! I understand your pain in cherrypicking stuff. Hope to see fixes soon.

P.S. From time to time we experience pain (especially in Aliyun Cloud) when Security Center blindly creates Critical Security Incident based on the findings and we have to patch everything ASAP (or at least describe, why busybox won't affect us and provide at least some virtual ETA to fix).

[2022-08-02 07:35] longwuyuan commented on #8520
Yeah, my guess is that the ssl_client vulnerability is causing the busybox CVE as well but not absolutely sure. Because busybox itself is a bunch of stuff. openssl is patches and this CVE points at the ssl_client. So my guess is that the ssl_client binaries do not initiate any connection to out-of-cluster destinations. Unless someone tries to connect to something on internet from inside the contro

[2022-08-02 12:45] liad-haber commented on #3245
For those seeing this issue, I found the solution to apply conditional logging for specific ingress resources only.
Declare the variable $logme at http context(Helm release configmap at our case).
`
        http-snippet: |
          map $cookie_SESSION $logme {
              "" $perhaps;
              default   0;
          }
          split_clients $request_id $perhaps {
              1%        1

[2022-08-02 14:51] tabnul opened #8900 "AWS NLB And ProxyV2 - longrunning transactions fail: client closed keepalive connection (104: Connection reset by peer)"
**What happened**:

We have issues with long-running transactions and were able to trace it back to the use of PROXYV2. We can solve it by disabling PROXYV2 and enabling SSL Passthrough - which is not an option for us. It seems the issue is with Nginx since SSL-passthrough does not use NGINX logic?

We use ingress-nginx 1.1.2, - SSL Termination in the ingress controller using cert-manager supplied

[2022-08-02 17:47] #8289 closed

[2022-08-02 19:12] michaelliau commented on #8469
/kind bug

[2022-08-02 19:21] michaelliau commented on #8469
Following up here to see if any additional information is required for triage. I've added the bug label to this issue as the code path for handling CORS requests from non-allowed origins does not exist (and was removed in https://github.com/kubernetes/ingress-nginx/pull/7614). This seems like a vulnerability in the current implementation where requests from undesirable origins, that should be hand

[2022-08-02 21:24] larivierec commented on #8469
I will try to take a look at this when I have time
Until then feel free to comment :)

[2022-08-03 06:55] #7824 closed

[2022-08-03 08:06] wantdrink commented on #8718
Thanks @pgier , that's great that higher version ingress introduces the property to support that.
I'll check if 4.2.0 supports K8S 1.18.5.

[2022-08-03 10:09] longwuyuan commented on #8718
v4.2.0 of controller does not support K8S v1.18.5
https://github.com/kubernetes/ingress-nginx/blob/main/README.md

/close

[2022-08-03 10:09] #8718 closed

[2022-08-03 10:32] CodeGlitcher opened #8901 "- --default-ssl-certificate ignores ca.crt"
**What happened**:

We have nginx deployed with the argument `- --default-ssl-certificate=infrastructure/k8s-cert`
This causes all our ingress rules to have default ssl.
For a new application we needed nginx to pass a client cert to the backend.
So we added:
[code]

However we kept getting a bad request when sending a client certificate.
After some trail and error I found that in the logs it said

[2022-08-03 12:00] antoineozenne commented on #8027
/no-stale

[2022-08-03 12:58] TomKeur commented on #8874
I'm not really sure that removing the `nodeSelector` label really solves the issue.
When checking out the docs at: https://kind.sigs.k8s.io/docs/user/ingress/#create-cluster

[code]

As you can see, they add the extra label. Because otherwise no port if forwared to your Docker container (and you're not able to use the Ingress), so you will face another problem.

You'll need to setup extra port map

[2022-08-03 18:26] alphabet5 commented on #8663
I would also like to see namespaceOverride added. I think the largest reason there isn't a lot of interest in this feature is that people just switch to a different chart. I've switched to [bitnami's helm chart](https://github.com/bitnami/charts/tree/master/bitnami/nginx-ingress-controller/#installing-the-chart)  for ingress-nginx which already includes the namespaceOverride option. It would be ni

[2022-08-03 19:46] vojkny opened #8903 "Allow to change path-matching policy to first-match"
Currently, nginx matches paths according to [documentation](https://kubernetes.github.io/ingress-nginx/user-guide/ingress-path-matching/#path-priority):

This might be useful if the developer is unable to prioritize the paths properly. However, this behaviour prevent us from implementing this:

[code]

Now consider following path:

`/legacy/one/two/`

Even though I wanted to prioritize the prefixe

[2022-08-03 19:47] knyttl commented on #7851
follow-up issue: https://github.com/kubernetes/ingress-nginx/issues/8903

[2022-08-04 05:41] longwuyuan commented on #8903
[code]

does the second regexp match the first one as well

[2022-08-04 05:51] longwuyuan commented on #8901
can you post the output of `kubectl get <ingressobjectname> -o yaml`

[2022-08-04 05:52] longwuyuan commented on #8901
/remove-kind bug

[2022-08-04 05:57] longwuyuan commented on #8900
[code]

Usually many uses use the field `externalTrafficPolicy` ;
[code]

This field not relevant here ?
/remove-kind bug

[2022-08-04 06:26] vap78 commented on #8469
Hi

I'm experiencing exactly the same problem. I deploy following ingress (anonymized):

`
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: internal
    meta.helm.sh/release-name: api
    meta.helm.sh/release-namespace: namespace
    nginx.ingress.kubernetes.io/cors-allow-origin: https://www.somehost.com
    nginx.ingress.kubernetes.io/enable

[2022-08-04 07:12] longwuyuan commented on #8874
@TomKeur I checked and yes, you are absolutely right.
While removing the nodeSelector with value "ingress-ready" from the manifest helps to complete the installation successfully and the pod becomes ready, the traffic still does not reach the ingress-controller pod, because the node is actually a container and there is no routing from the container tcp/ip stack to the pod running inside it.

So no

[2022-08-04 07:14] tabnul commented on #8900
Thanks, i will try this. However how does this solve the keepalive issue between the loadbalancer and the controller? (at least it looks like that is the issue here)

[2022-08-04 07:24] longwuyuan commented on #8900
Your post needs to explain the problem better on any keepalive issue.
My suggestion is ;
- First post the information asked in the issue template
- Change the config to use `externalTrafficPolicy: Local` and also use ssl_passthrough
- Update results
- Post a step-by-step procedure to reproduce the problem that someone can copy/paste in their minikube or kind cluster
- If you passthrough traffic to

[2022-08-04 07:26] auxo86 commented on #8874
@TomKeur Many Thanks for your help.
@longwuyuan Therefore, I add a new haproxy container for routing my http traffic to all the nodes and using DaemonSet instead of Deployment on ingress-controllers.

[2022-08-04 07:32] longwuyuan commented on #8874
@auxo86 , that is not related to ingress-nginx-controller.

First aspect ;
- There is no node with label "ingress-ready" so installing the yaml from kind provider fails
- Removing that affinity solves above problem of installation. You can test that by downloading yaml and removing that nodeSelector line for ingress-ready. Install will be success with pod running and service created as nodePort .

[2022-08-04 07:38] longwuyuan commented on #8874
/remove-kind bug

[2022-08-04 08:40] mezzofix opened #8904 "Kubernetes Nginx Ingress on AKS"
Trying to deploy the Kubernetes Nginx Ingress controller to an AKS cluster, however I can't figure out the following. According to [Create an ingress controller in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/ingress-basic?tabs=azure-cli)

`To control image versions, you'll want to import them into your own Azure Container Registry. The NGINX ingress controller Helm c

[2022-08-04 09:21] mthebridge commented on #8570
If it helps @fourstepper I hit the same issue - the problem is that you are mounting an empty volume at `/tmp`, but the newer nginx controller writes temporary files to `/tmp/nginx`.  Change your `extraVolumeMounts` path to `/tmp/nginx` and things should work!

[2022-08-04 10:30] longwuyuan commented on #8904
- Instead of the helm chart, you can see that this link https://kubernetes.github.io/ingress-nginx/deploy/#azure  suggests that you use this manifest https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/cloud/deploy.yaml .
- Also, for this kind of analysis, its better to post the information that is asked in the issue template
- The logs and events are needed to know the cu

[2022-08-04 12:36] broomfn commented on #1884
Apologies for hijacking an old ticket, but I'm experiencing a similar issue but on AKS, did anyone resolve the issue?

[2022-08-04 14:15] lgpasquale commented on #5401
I don't think you need both an ingress and an egress rule but just the ingress one. The first of these two rules  should be enough.

For anyone using the `terraform-aws-modules/eks/aws` module, you can add this to your configuration:
[code]

[2022-08-04 18:11] #7673 closed

[2022-08-05 02:48] jmli1024 commented on #7905
it's work for me, I think aws-load-balancer-type must be "external" and proxy_protocol_v2.enabled=true will be vaild;
`service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
  service.beta.kubernetes.io/aws-load-balancer-type: "external"
  service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: "instance"
  service.beta.kubernetes.io/aws-load-balancer-target-group-attributes:

[2022-08-05 02:52] auxo86 commented on #8874
@longwuyuan Hmmm...should we close this issue now?

[2022-08-05 04:32] longwuyuan commented on #8874
If your problem is solved then please close but if you think there is some improvement you can make in the documentation, then kindly help and submit a PR.

[2022-08-05 08:15] #8233 closed

[2022-08-05 08:29] auxo86 commented on #8874
@longwuyuan Maybe we should add some solution for existing kind k8s cluster?
However, it is hard to open port on exciting docker container.
I think it might be a nice method  to add a loadbalancer contrainer outside kind k8s cluster, but as you said, it is really out of scope of this discussion.

[2022-08-05 08:39] longwuyuan commented on #8874
The solution has existed for a long long long time. Its documented in kind documentation and I already pointed out how this project uses kind with a config file. Check links and messages above.

The problem here is that there is no easy and obvious documentation, in this project, to explain the use of kind cluster with a config file and that yaml manifest this prject creates. The documentation exi

[2022-08-05 09:57] morigs commented on #2535
@cmluciano
This is a very problematic area. It would be awesome to have a reflect origin annotation out of the box.
Could you please reopen the issue?

[2022-08-05 12:10] mjudeikis opened #8907 "Fail with NetworkPolicy enabled"
**What happened**:

When installing ingress into cluster with `NetworkPolicies` enabled using helm chart by default kubernetes API is **not** able to reach into validating webhook controller:

[code]
where `ingress.yaml`:
[code]
This is because kubernetes API can't talk with ingress controller (if not deployed into namespace with pre-existing `NetworkPolicies`)

This can be fixed if we deploy into

[2022-08-05 12:14] mjudeikis commented on #8907
Happy to contribute this in, if we can accepts this is something we want to support (I think we should as its prevents out-of-the-box usage)

[2022-08-05 12:18] longwuyuan commented on #8907
/remove-kind bug
/kind feature

[2022-08-05 13:19] tabnul commented on #8900
Thanks, your comments pointed me in the direction of a workaround solution.
This involves getting rid of the proxyv2 configuration in the loadbalancer itself. Unfortunately this comes with some specific issues (client preservation has some connection limitations) but i think we dan live with that.

I still think there is a structural issue with NLB + ingress-nginx using proxy protocol v2.

This wh

[2022-08-05 13:19] #8900 closed

[2022-08-05 14:07] longwuyuan opened #8908 "Improve docs for installation on kind cluster"
- `kind create cluster` is not enough to prepare for installation on kind
- The kind cluster cluster needs to be configured for a label "ingress-ready"  for the install to succeed
- And then the kind cluster needs to be configured for mapping hostPort or else even with a controllerpod running, traffic can not be routed to the pod
- The above info is available in the website of kind but not on this

[2022-08-05 14:07] longwuyuan commented on #8908
/remove-kind bug
/kind documentaion
/area docs

[2022-08-05 14:08] longwuyuan commented on #8908
/kind documentation

[2022-08-05 14:36] tao12345666333 commented on #8908
Just yesterday I encountered a similar issue

xref: https://github.com/apache/apisix-ingress-controller/issues/1209#issuecomment-1204341346
https://github.com/kubernetes-sigs/kind/issues/2860#issuecomment-1204339457

I agree with @BenTheElder , I think we should agree to put the relevant content somewhere, either in the corresponding ingress controller project or in the KIND project. This reduces

[2022-08-05 17:16] longwuyuan commented on #8908
Yeah, I will put the explaining text in the install documentation under kind section.

[2022-08-05 20:15] cattapan opened #8909 "Enabling of Default Backend access log for location / (404)"
Be able to enable access log for the default backend location /. It's super hard to troubleshoot errors 404, when the Host header is "wrong" (i.e: does not match any of the ingress rules)

[2022-08-06 11:27] longwuyuan commented on #8908
@tao12345666333 , after looking at this https://kubernetes.github.io/ingress-nginx/deploy/ one more time, I see we don't mention kind cluster, in the list of providers.

Secondly, the kind website docs are very very clear. So if a user ignores the kind documentation and faces the problem of install failing or traffic not routing to a kind cluster, it seems the best action is to point the user at t

[2022-08-06 11:27] #8908 closed

[2022-08-06 11:30] longwuyuan commented on #8874
@auxo86 , I think its best that users refer to the kind documentation https://kind.sigs.k8s.io/docs/user/ingress/#ingress-nginx and we don't need to change the docs in this project, because ;
- we don't even list kind as a provider in the deploy docs of this project.
- kind docs are clear and precise on how to use kind and this controller

/close

[2022-08-06 11:30] #8874 closed

[2022-08-06 12:40] jchenship commented on #8843
Just investigated a little bit more, I believe we need to add `grpc_set_header Host $http_host` again, which was removed in https://github.com/kubernetes/ingress-nginx/issues/3706 , because I can verify with `grpc_set_header Host $http_host` , the upstream can receive the `:authority` header correctly.

[2022-08-06 16:27] #8306 closed

[2022-08-06 18:16] strongjz commented on #8883
/area security
/triage accepted
/priority backlog
/kind bug

[2022-08-06 18:22] strongjz commented on #8907
@mjudeikis, I think this should be more documentation than a feature in the helm chart.

I could be persuaded that this should be a feature, but we also have to support it in the static deployments.

I also don't know if we should have tests for it or how we would; If all the e2e still pass, it would be good enough.

@rikatz @tao12345666333 thoughts? It should be documented to allow all traffic to

[2022-08-06 18:29] strongjz commented on #8904
Can you post the foo.yaml so we can see that is has the right values?

Do you mean that you couldn't pull the k8s.gcr.io images? and push them to your ACR?

[code]

/triage needs-information
/kind support

[2022-08-06 18:31] strongjz commented on #8907
We do document it here https://kubernetes.github.io/ingress-nginx/deploy/#webhook-network-access

Probably get do more, with a network policy page itself.

[2022-08-06 18:35] strongjz commented on #8904
`ingress-nginx-controller-764784f688-qbbq8` is the controller image

The patch is a Kubernete's job https://github.com/kubernetes/ingress-nginx/blob/main/images/kube-webhook-certgen/rootfs/README.md#overview

And the defaultBackend is disabled by default https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml#L766

If the controller is up and creating ingress-objects

[2022-08-06 18:35] #8904 closed

[2022-08-06 20:35] strongjz opened #8910 "Tracking aging dependencies in Ingress-nginx"
Tracking aging dependencies in Ingress-nginx using the idea of Libyear.

https://libyear.com/

`A simple measure of software dependency freshness. It is a single number telling you how up-to-date your dependencies are.`

Example current readout

total libyear count: 55.60 year(s)

We have dependabot enabled in the project so it would be helpful to understand why some of these deps are not getting

[2022-08-07 00:18] jchenship commented on #8843
also verified this issue from the e2e test assertion I added in the PR, e.g. if the nginx.tmpl is on main branch, while running this e2e test with assertion of `:authority` header to be `host` variable value https://github.com/jchenship/ingress-nginx/pull/1/files#diff-f907d78a8e7b472d34a4861d9df89d8c12fbe261ee27709380515d9f2bd8fbd5R123

it will fail, here is the output https://gist.github.com/jche

[2022-08-07 06:32] ksa-real commented on #8563
/remove-lifecycle stale

[2022-08-07 12:32] #8292 closed

[2022-08-07 17:40] knyttl commented on #8903
Yes, they are matching, that is why I need to keep the order like regular nginx. The problem with nginx ingress is that it changes the order. Please see the full description of the issue.

[2022-08-07 18:12] tao12345666333 commented on #7517
Thanks for your comment.

We plan implement Gateway API in this repo.

Currently we are doing some higher priority things like splitting cp and dp

[2022-08-08 06:23] mjudeikis commented on #8907
My challenge with this being only documentation is that helm charts can't configure ingress to running state without exteral actions. So if you use helm chart to bootstrap and manage your environments, you need to forkit/wrapp it with some other actions to create NetworkPolicy.

I don't think it should be part of the ingress code, but chart for sure.

[2022-08-08 06:59] CodeGlitcher commented on #8901
[code]

[2022-08-08 07:08] tosi3k commented on #6017
/reopen

[2022-08-08 09:04] longwuyuan opened #8911 "replace httpbin"
- https://kubernetes.slack.com/archives/C021E147ZA4/p1659815361972969
-
![image](https://user-images.githubusercontent.com/5085914/183380020-2565e7ed-5fa8-4841-b40f-64e230787e35.png)
- The project uses the app https://httpbin.org/  to create a workload for testing
- httpbin.org is not maintained since 4 years
- When we tried to build this project's test related images on alpine-v3.16.1 for a CVE f

[2022-08-08 09:17] PascalTurbo commented on #5835
When setting things up like explained by @mtparet I only find a log entry in ingress pods:

[code]

I even has no idea where I can look which file is mounted to check, if everything is right.

[2022-08-08 09:21] MalikMlitat commented on #8911
@longwuyuan I would like to solve this issue:

I started to contribute to many projects in github, and would like to contribute where I can :)

replacing an older url with a new one, and then check if the api got changed

yes

Click on my profile ;)

[2022-08-08 09:32] longwuyuan commented on #8911
- @MalikMlitat Please assign to yourself and go ahead.
- `make kind-e2e-test` must work after this change.

[2022-08-08 09:35] longwuyuan commented on #8911
- What is the ETA for completing this @MalikMlitat

[2022-08-08 09:39] MalikMlitat commented on #8911
no self assignment is possible

sue

it depends, if its only the url, this can be done today, but if there are more changes excepted due to api change maybe until end of this week

[2022-08-08 09:44] longwuyuan commented on #8911
what happens if you just use /assign

[2022-08-08 09:58] MalikMlitat commented on #8911
![image](https://user-images.githubusercontent.com/19836100/183392370-0cbc84f2-2025-495a-998d-16486e63caa3.png)

[2022-08-08 10:02] longwuyuan commented on #8911
that image does not show you posting /assign and the resulting message from bot. I don't even see your post "/assign" . Try to post just this and noting else `/assign`

[2022-08-08 10:15] MalikMlitat commented on #8911
/assign @MalikMlitat

[2022-08-08 12:21] Jojoooo1 commented on #8362
Having exactly the same issue withe a very similar config.

[2022-08-08 13:38] strongjz commented on #8911
/triage accepted
/priority backlog
/area stabilization

[2022-08-08 14:04] stalkerg commented on #7776
/remove-lifecycle rotten

[2022-08-08 14:05] stalkerg commented on #7776
/remove-lifecycle stale

[2022-08-08 15:54] Jojoooo1 commented on #8362
@pdefreitas after removing sticky session config (nginx.ingress.kubernetes.io/affinity: "cookie" [...]) it seems it has normalized in my case.

[2022-08-08 17:44] #8328 closed

[2022-08-08 19:25] UnrealCraig commented on #8247
This is really important for our monitoring; please reinstate the missing TLS lifetime metric.

[2022-08-08 19:26] UnrealCraig commented on #8247
/remove-lifecycle rotten

[2022-08-08 19:42] UnrealCraig commented on #8507
Those other ciphers don't exist for TLSv1.3; why would you want them?
TLSv1.3 has 3 standard ciphers and 2 optional ones.
The TLSv1.3 spec also doesn't allow RSA and cipher naming doesn't include key exchange type (because only Diffie Hellmann is allowed) so your attempted config could never by valid for 1.3, only for 1.2.

From OpenSSL docs: "Note that changing the TLSv1.2 and below cipher list h

[2022-08-09 02:29] domeales-paloit commented on #4888
@timblaktu Did you ever solve this? I have the same issue where the service load balancer is never created or becomes ready. The only thing I can think of is that the start-up time of the Fargate pod for the controller is impacting the ability for the load balancer to be created/resolved.

I also have the same set up on another cluster, and I got it working eventually, but I have no idea how I did

[2022-08-09 06:43] TBBle commented on #4888
You might be able to be better-helped if you share the description of the Ingress Nginx controller service, as @timblaktu did earlier.

Looking back that that message, I realise that I was probably right about it being missing AWS Load Balancer Controller, because there was an `EnsuringLoadBalancer` message from `service-controller`, which I _think_ is the one in the in-tree AWS Cloud Provider, bu

[2022-08-09 07:24] tao12345666333 commented on #8025
/remove-lifecycle rotten
/reopen

[2022-08-09 07:31] longwuyuan commented on #8025
/kind feature

[2022-08-09 07:32] longwuyuan commented on #8025
/area stabilization
This one slipped through the cracks. My bad :-(

[2022-08-09 08:25] YarekTyshchenko commented on #802
Unfortunately this means that nginx will use the default fake certificate. I know there is no intention to support non SNI clients in this ingress, but if I have this requirement, what are my options?

Even starting a fresh ingress controller on a new LoadBalancer with a single ingress configured as a default backend will still serve incorrect (self signed) certificate.

[2022-08-09 11:49] sklirg commented on #8469
I came across this issue while I was battling with CORS deployed in ingress-nginx because a web server I deployed did not ship it in its configuration, so I wanted to add it in nginx instead.

I was confused when I did not get the expected CORS behaviour when enabling cors and setting the expected allowed-origin(s) when testing with cURL:
[code]

Setting the allowed origins to `*` made it work (as

[2022-08-09 11:50] IakimLynnyk-TomTom commented on #4208
Still in waiting for some answers here please or may be anyone from people here has answer to the question?

[2022-08-09 12:13] rittneje opened #8915 "keep-alive ConfigMap option must be integer number of seconds"
At present the documentation for [`keep-alive`](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#keep-alive) is rather vague as to its type or unit.

In fact the nginx documentation it references for [`keepalive_timeout`](https://nginx.org/en/docs/http/ngx_http_core_module.html#keepalive_timeout) shows it with a unit suffix, as in Go's `time.ParseDuration`.

Fro

[2022-08-09 16:08] strongjz commented on #7929
1.3.0,1.2.0,1.2.1 didnt have it in the latest scans going to close this for now.

[2022-08-09 16:08] #7929 closed

[2022-08-09 17:30] #8824 closed

[2022-08-09 17:36] strongjz commented on #8487
I do not see this in recent trivy scans for 1.3.0, 1.2.1 or 1.2.0

@dustin-bo what scanner did you use to get his result?

[2022-08-09 18:17] vmpowercli commented on #8416
@mimmus  Can you please tell us how you are able to fix it? I created more than a couple of NLB Nginx ingress LBs and deleting them will no remove the security groups on the Worker node security groups.

Thankyou

[2022-08-09 18:24] DataMinded commented on #8520
Just as a note, the 4.2.1 release does not contain a fix for this

[2022-08-09 18:40] longwuyuan commented on #8520
Yes, it will appear in app version upgrade. This one is just chart version upgrade.

[2022-08-09 18:44] vmpowercli opened #8917 "Nginx ingress controller Max Security Group Rules EKS"
**What happened**:

**What you expected to happen**:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

**Kubernetes version** (use `kubectl version`): 1.22.9

**Environment**:

- **Cloud provider or hardware configuration**: EKS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2

- **How was the ingress-nginx-controller installed**:  ingress-

[2022-08-09 19:19] longwuyuan commented on #8917
/remove-kind bug
Hi @vmpowercli  ,
do you know if this problem is also visible, if you install using the deployment steps for EKS here https://kubernetes.github.io/ingress-nginx/deploy/#aws

[2022-08-10 01:09] domeales-paloit commented on #4888
Actually it turned out that in my case the half deployed AWS Load Balancer Controller - and this was the problem. I thought it has been deployed but it was missing a ServiceAccount from another process.

This works as expected on Fargate for me when using this https://github.com/kubernetes/ingress-nginx/issues/4888#issuecomment-964535071 (and a properly deployed AWS Load Balancer Controller)

[2022-08-10 03:41] vmpowercli commented on #8917
@longwuyuan  Trying it now and will let you  know how it goes

[2022-08-10 04:17] vmpowercli commented on #8917
@longwuyuan  I think it's creating a health check per every subnet as well "kubernetes.io/rule/nlb/health". Is there any way we can specify to use a separate security group per NLB ingress, not necessarily to use the EKS Worker node group?

[2022-08-10 06:06] kundan2707 commented on #8915
@rittneje  I agree keep-alive option  must be an integer number and same thing is mentioned in https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#keep-alive
<img width="356" alt="keep-alive" src="https://user-images.githubusercontent.com/56246024/183827061-a318f1b7-9d9e-4dd8-add7-e836720ef585.PNG">

It is also mention that even integers will be written as string i

[2022-08-10 06:06] kundan2707 commented on #8915
/remove-kind bug

[2022-08-10 07:23] twixthehero commented on #8194
thanks. before running `make`, i needed to set `GOBUILD_FLAGS` in `build/build-plugin.sh` before `go build` was being run

[2022-08-10 08:35] mimmus commented on #8416
We were missing some permissions in the IAM Role of EC2 instances.
And we reached the service quota for Maximum Number of rules in a Security Group.

[2022-08-10 10:16] dumitraand commented on #8017
Hello! For me it produces a 301 😢 I've been bashing my heads against the wall to make it work to no avail.

This is the ingress:
[code]
And this is the service
[code]

Am I doing something wrong? 🙏 Really the resources are scattered all over. And sorry if this is not the place to ask for help.

(I'm using version 1.3.0 installed with Helm for an EKS/NLB)

[2022-08-10 12:01] fanminshi opened #8919 "Disable leader-election"
In a single node k8s setup, there is no need to enable leader-election inside the ingress-controller. The issue with constant leader election lease renewal is that it adds unwanted writes to etcd. In return, those writes can reduce disk life-span on small and cheap edge device.

By analyzes etcd PUT operation, I noticed the following PUT within 8 minutes span.

[code]

Specially, I would like to t

[2022-08-10 13:00] devon-whil opened #8920 "HSTS Settings have no effect"
**What happened**:
I am setting the following in the configmap:
[code]
  But the response contains the below, which doesn't match what I have configured:
[code]

**What you expected to happen**:
I expect to be able to configure HSTS settings.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

[code]

**Kubernetes version** (use `kubectl version`

[2022-08-10 14:08] devon-whil commented on #8920
FYI - I removed "when HTTPS enabled" from the title because i'm not sure if it has anything to do with that.

[2022-08-10 14:40] fourstepper commented on #8570
Thanks @mthebridge , that helped :) Kinda bad on me to overlook that option.

[2022-08-10 15:07] devon-whil commented on #8920
Nevermind - I just noticed nginx was failing to reload due to a mistake in the configuration. Got that fixed and now everything is working as expected.

[2022-08-10 15:07] #8920 closed

[2022-08-10 16:38] drummerglen commented on #8282
Could add args to solve this problem.
spec:
      containers:
      - args:
        - /nginx-ingress-controller
        `- --publish-service=$(POD_NAMESPACE)/ingress-nginx-controller`   <--- add this args
        - --election-id=ingress-controller-leader

[2022-08-10 16:39] drummerglen commented on #8535
I reencountered this problem with ingress-nginx-controller v1.3.0
Add one args to resolve this problem.

spec:
      containers:
      - args:
        - /nginx-ingress-controller
        `- --publish-service=$(POD_NAMESPACE)/ingress-nginx-controller`   <--- add this args
        - --election-id=ingress-controller-leader

[2022-08-10 17:27] HsinHeng commented on #8760
@iusergii I found that listen so_keepalive parameter could enable tcp keepalive. You can enable it, maybe timeout problem will be resolved. Actually, I am a little confused about nginx keepalive (default 75s) and so_keepalive difference. Maybe keepalive parameter is related to HTTP/1.1 keepalive?

[2022-08-10 19:14] tao12345666333 commented on #8919
thanks for your report.

I have opened a PR to use LeaseLock for election. https://github.com/kubernetes/ingress-nginx/pull/8921
It will not use configmap anymore.

[2022-08-11 05:49] chathsuom commented on #8852
Facing the same issue. Following.

[2022-08-11 09:22] fanminshi commented on #8919
@tao12345666333 thanks for the PR. However, the new PR will redirect writes to `/registry/leases/ingress-nginx/ingress-controller-leader` instead. That will not solved my problem. It will be nice to make` ttl := 30 * time.Second ` configurable over the a flag.  I can put up a PR if needed.

[2022-08-11 09:33] tao12345666333 commented on #8919
Hahaha, yes.
Should there be no election when there is only 1 replica?

[2022-08-11 09:33] tao12345666333 commented on #8919
Of course, adjusting the time of ttl is also a solution

[2022-08-11 10:05] LuckyDogg commented on #8879
This problem also occurs on the M1 MAC, OS system is macOS Monterey

[2022-08-11 10:43] liucx1201 opened #8922 "How to add keep-Alive:timeout to configure"
How to ingress-nginx  add keep-Alive:timeout=300  to configure

Nginx is OK
![header](https://user-images.githubusercontent.com/40434832/184116484-465742fe-3aba-405a-b821-5a47d11d53f4.png)

No entry through ingress-nginx
Required in request header  keep-Alive:timeout=300

Please ask everybody

[2022-08-11 11:21] Stono opened #8923 "Chrome caches the 302 from auth redirects"
Hello!
We are using `ingress-nginx` with the auth configuration, and have had some problems from chrome caching the `302` that gets returned by nginx.

The headers we get back are:

[code]

I tried using the `auth-snippet` to set the cache control headers:

[code]

(I also tried `configuration-snippet` but that's not used as it doesn't get to that point).

But that doesn't work.  It feels like the

[2022-08-11 11:37] Stono commented on #8923
To show you how this manifests, you can see in this screenshot that the favicon 302 was cached.  Despite me having a valid session now, it's still being redirected, because of that cache.

<img width="1386" alt="Screenshot 2022-08-11 at 12 36 28" src="https://user-images.githubusercontent.com/1486729/184124958-8bf7772f-9b45-48cd-977a-84e221ced380.png">

[2022-08-11 11:52] Stono commented on #8923
Looking at the generated 302, i strongly believe this should have `cache-control` headers in there preventing any caching of redirects.

<img width="860" alt="Screenshot 2022-08-11 at 12 52 02" src="https://user-images.githubusercontent.com/1486729/184127416-3c8263e3-d2c7-436e-95dc-e309bc61cfdd.png">

As for my HSTS requirement, that's quite user-specific, so would probably need to be support via

[2022-08-11 12:23] fanminshi commented on #8919
`Should there be no election when there is only 1 replica?`
yes, that should be the expected behavior.

[2022-08-11 16:44] Aryan-Deshpande commented on #8911
Hey, if this is an issue that is not being worked on, I'll be able to work on this.

[2022-08-11 17:19] #8330 closed

[2022-08-12 03:50] alkdese commented on #7992
Does `more_set_input_headers "x-request-start: t=$msec";` work for you?
I get just "x-request-start: t="?

Here's what I'm doing

[code]

Running from a pod, returns correct `real path=/eow2temp/wd`

[code]

Ingress

[code]

But when I do from ingress I get `/` instead of `/a`.

[code]

[2022-08-12 04:22] #7627 closed

[2022-08-12 04:22] #8194 closed

[2022-08-12 04:22] #8483 closed

[2022-08-12 06:29] Stono commented on #8923
Another one to add would be `CDN-Cache-Control: no-cache, no-store, must-revalidate`

[2022-08-12 07:31] Stono commented on #8923
OK for anyone else coming to this, our work around was to build our own Dockerfile which `FROMs` the official one, and copies in an edited `nginx.tmpl` with the following change:

[code]

[2022-08-12 12:35] longwuyuan commented on #8879
@strongjz cc

[2022-08-12 12:48] longwuyuan commented on #8911
You can fork the project, make the changes and run `make kind-e2e-test` to see the results. Then update here. I plan to do the same.

[2022-08-12 12:50] longwuyuan commented on #8911
@MalikMlitat @Aryan-Deshpande , my preference is not to wait on this. I will also try the changes locally. If it works for me, then I will try to submit PR unless one of you beat me to it. Thanks

[2022-08-12 12:51] longwuyuan commented on #8911
/assign

[2022-08-12 13:22] fanminshi commented on #8919
I think we should add a feature flag such as `leader-elect=false` to turn it off.  kube-scheduler has the following flag.

[code]

https://kubernetes.io/docs/reference/command-line-tools-reference/kube-scheduler/

[2022-08-12 13:35] Aryan-Deshpande commented on #8911
/assign

[2022-08-12 14:29] Aryan-Deshpande commented on #8911
👍🏻

[2022-08-12 16:53] aleshaczech commented on #8554
If it's still relevant, I believe the issue is that when the namespace, where the `ingress-nginx` is about to be installed, has istio's injection enabled (namespace labelled with `istio-injection: enabled`), the `admission-create` job's pod will get the Envoy proxy (`istio-proxy`) injected, making it fail with the following error:

The solution is to disable Envoy injection for the job's pod.

Wit

[2022-08-12 19:21] skreienk opened #8925 "controller.ingressClassResource.controllerValue not carried through to the ingressclass or the pod arguments on helm chart"
**What happened**:  I installed two instances of ingress-nginx according to https://kubernetes.github.io/ingress-nginx/user-guide/multiple-ingress.  Despite having controller.ingressClassResource.controllervalue defaulted on the first instance and set to a different value on the second instance, both ingressclasses produced by the helm chart still point to controller: k8s.io/ingress-nginx.  The en

[2022-08-13 05:48] longwuyuan commented on #8925
sorry you had to face the problem.
Try this and update https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-multiple-instances-of-the-ingress-nginx-controller-in-the-same-cluster

/remove-kind bug

[2022-08-13 13:15] Aryan-Deshpande commented on #8911
@longwuyuan  Created the change and ran "make kind-e2e-test"
![image](https://user-images.githubusercontent.com/72693780/184495752-aca36015-ce87-4ee1-85f2-e2b8d5f33092.png)
Looks like the tests were passed. Can I create a PR?

[2022-08-13 13:30] #8341 closed

[2022-08-13 14:03] jchenship commented on #8843
Just a kind follow up on this issue @rikatz , let me know if there's anything else I can help, thanks in advance

[2022-08-13 16:31] #6237 closed

[2022-08-14 03:38] skreienk commented on #8925
@longwuyuan, that is the process I followed.  As I detailed above, the IngressClasses created do not reflect those changes when installing via helm.  You can force them into the pod arguments by also making them extra command line arguments in the helm chart, but that doesn't fix the IngressClasses.  If I understand how it SHOULD be working, I believe the helm chart should be putting those changes

[2022-08-14 05:26] longwuyuan commented on #8925
- I want to see if I can install 2 instances and face the same problem. Without argocd, can you give me a values file of helm command with flags for each instance of the controller installation ?
- How did you get this information. What command did you use to get this information
[code]

[2022-08-14 06:39] #8347 closed

[2022-08-14 17:39] kundan2707 commented on #8915
/close

[2022-08-14 17:39] #8915 closed

[2022-08-14 20:15] rittneje opened #8927 "keep-alive ConfigMap option must be integer number of seconds"
Reopening #8915 because the documentation was not fixed. cc @kundan2707

At present the documentation for [`keep-alive`](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#keep-alive) is rather vague as to its type or unit.

In fact the nginx documentation it references for [`keepalive_timeout`](https://nginx.org/en/docs/http/ngx_http_core_module.html#keepalive_ti

[2022-08-15 02:59] liucx1201 commented on #8922
@ElvinEfendi @tonglil @aledbf

[2022-08-15 08:29] mjudeikis commented on #8907
Would something like this ^^ be acceptable? Simple, disabled by default?

[2022-08-15 11:25] pierluigilenoci commented on #7937
/remove-lifecycle stale

[2022-08-15 14:27] skreienk commented on #8925
@longwuyuan I'm sorry, but when using ArgoCD the helm command will not return any information.  The only command output I can give you is from kubectl.  What I posted was excerpts from the yaml file being fed to ArgoCD.  I would be happy to give you the ArgoCD app yaml or the values file if you want them.  I ran yamllint on the file with no issues detected.  If I delete all the ArgoCD specific lin

[2022-08-15 14:49] #8351 closed

[2022-08-15 15:35] vmpowercli commented on #8416
@mimmus How did you fix the max rules in the security group? Every NLB that we created using nginx ingress uses same security group and its eating up rules which caused the max rules limits

[2022-08-15 16:28] skreienk commented on #8925
Took me about 10 hours but I finally figured out what was going on.

If I specify the values as parameters to helm it works perfectly in ArgoCD.  If I put the values in to ArgoCD as a values file these specific values don't get picked up.  It does see and use every other value I've got in there, but for some reason these particular values do not work in the values file.  I don't understand why it

[2022-08-15 17:27] ledbutter opened #8931 "Unresponsive When Including Full Cert Chain"
We are attempting to configure ingress resources using a self-signed cert chain:

Here is the ingress resource:

Trying to access this via curl in a VM in the same vnet, I get timeouts:

If I re-create the secret using a cert file that does not include the chain, only the server cert (only difference in this command from the other file is the name of the file passed in):

I instead get the expecte

[2022-08-15 18:22] longwuyuan commented on #8925
Whatever the root-cause, there is no problem to be solved in the ingress-nginx controller here as I am able to install and use multiple instances of the controller.

[2022-08-15 18:43] longwuyuan commented on #8931
- The cert format has to be what nginx expects so read up how cert and fullchain are concontenated together
- The certs you use are not a probem in the controller code so nothing can be changed in the ingress-nginx controller
- The issue does not have the information requested in the issue template so above comments assume you are using the controller released by this project

Please edit your pos

[2022-08-15 18:43] #8931 closed

[2022-08-15 19:01] ledbutter commented on #8931
Sorry, I was not prompted for a template when opening from the main issues list, will do

[2022-08-15 19:27] skreienk commented on #8925
Yep, at this point I'm just documenting for anyone else that finds this.  These are all the parameters I had to set or work with on both instances of ingress-nginx.  Also, when working in ArgoCD I had to supply them as helm parameters, they would not work as part of the values file.

controller.watchIngressWithoutClass
controller.ingressClass
controller.ingressClassByName
controller.electionID
con

[2022-08-15 19:27] #8925 closed

[2022-08-15 23:06] cdobbyn commented on #4760
Now that [rfc9114](https://datatracker.ietf.org/doc/rfc9114/) is publishes as a proposed standard theoretically webserver devs should probably be working on making this no longer experimental. Looks like traefik has it in experimental state for use with their ingress now, not that it helps ingress-nginx users.

[2022-08-15 23:19] cdobbyn commented on #4760
Looks like it saw quite a bit of iteration but not merged / released yet unless I'm reading that wrong.
https://hg.nginx.org/nginx-quic/graph/tip

[2022-08-16 01:54] strongjz commented on #4760
We are in the middle of a stabilization project, working reducing chess, making release faster and prepping for the gateway api. Right now an experimental is counterintuitive to that.

We support it eventually but right it is not a priority.

[2022-08-16 02:52] BearDare commented on #8461
I have the same problem, below is the relevant information
Version information:
Kubernetes: v1.21.14
Ingress-nginx: 1.2.0
nginx version: nginx/1.19.10
Docker version:  19.03.14
OS: CentOS Linux release 7.9.2009
Linux: 3.10.0-1160.el7.x86_64

use lsof -i:80 or netstat -lanp | grep 80 ,no related process found.

pods restarting continuously, ingress-nginx-controller  events show below event

`MountV

[2022-08-16 03:24] longwuyuan commented on #8461
Can you show kubectl get po,svc -A

Thanks,
; Long

On Tue, 16 Aug, 2022, 8:22 AM BearDare, ***@***.***> wrote:

[2022-08-16 04:44] BearDare commented on #8461
ok，
`:~$ kubectl get po,svc -A
NAMESPACE          NAME                                           READY   STATUS      RESTARTS   AGE
calico-apiserver   pod/calico-apiserver-6997db6c66-lqhrw          1/1     Running     0          3m7s
calico-apiserver   pod/calico-apiserver-6997db6c66-vd98d          1/1     Running     0          3m7s
calico-system      pod/calico-kube-controllers-79f7986874-4h4jd

[2022-08-16 04:52] kundan2707 commented on #8927
@rittneje  As i already stated in #8915
https://github.com/kubernetes/ingress-nginx/issues/8915#issuecomment-1210201898
It is already mentioned in document that yes it is an integer but we need to quote value like '100' for 100.

[2022-08-16 05:27] longwuyuan commented on #8461
- its a problem specific to your environment because I can install without this problem
- Neither in the post of the creator of this issue nor in your post, there is any information for anyone to analyse and understand the environment where the problem is happening
- managing the hosts of your cluster is not in the scope of this project
- You can install on minikube on laptop and verify that the c

[2022-08-16 08:02] fred214 opened #8932 "Vulnerability CVE-2022-30580"
Hi,
Our scanner(Protecode) reported go binary has vulnerability [CVE-2022-30580](https://nvd.nist.gov/vuln/detail/CVE-2022-30580)
[code]
I noticed go version in `registry.k8s.io/ingress-nginx/e2e-test-runner:v20220624-g3348cd71e` is 1.18.2, I think we can update the version >= 1.18.3 can fix this vulnerability.

[2022-08-16 08:41] longwuyuan commented on #8932
/triage accepted
Bumping go version will happen in near future

[2022-08-16 08:41] longwuyuan commented on #8932
/area stabilization

[2022-08-16 10:50] rittneje commented on #8927
@kundan2707 The documentation does not clearly state that it is the number of seconds. The nginx documentation it references says the value is supposed to have a unit suffix, but ingress-nginx hard-codes this to `s`, so this is particularly confusing. For example, nginx expects `75s` but ingress-nginx expects `75`.

[2022-08-16 22:04] PhotoTeeborChoka commented on #4674
Encountering this as well. Everything is defined, yet the certificate served for a wildcarded host is the default fake certificate. How did you manage to solve this issue?

[2022-08-17 04:00] #8357 closed

[2022-08-17 09:35] tokers commented on #8602
A configurable backend message might be a good option.

[2022-08-17 12:52] amirschw commented on #8449
/remove-lifecycle rotten

[2022-08-17 16:27] akashmantry commented on #7872
I have a similar issue where i just see this in the logs:
`35.153.65.211 - - [17/Aug/2022:16:26:49 +0000] "PRI * HTTP/2.0" 400 150 "-" "-" 0 0.001 [] [] - - - - 1a706808c86a6c9c50e454459411b85`

Did anyone find a solution?

[2022-08-17 19:03] smartaquarius10 opened #8933 "Vulnerabilities in the latest release?"
Team,

These vulnerabilities are coming in the latest release. As @strongjz suggested on slack channel, creating a bug here for the record. Would be grateful if you can update once its resolved.

| **CVE**        | **Description**                                                              | **Fix Status**       |
|----------------|-----------------------------------------------------------------

[2022-08-17 19:52] vmpowercli commented on #8917
Any help would be really appreciated

[2022-08-17 19:53] vmpowercli commented on #8416
Make sense now, thank you

[2022-08-17 21:05] malthe commented on #5983
@nicknovitski how far from this proposal is your existing work on this?

[2022-08-18 01:34] longwuyuan commented on #8933
We have updated baseimage to alpine 3.16.1 but now need to update to alpine v3.16.2 for the zlib CVE fix.
/triage accepted

[2022-08-18 01:35] longwuyuan commented on #8933
/assign

[2022-08-18 06:08] Xtigyro opened #8935 "[]string(nil): ipfamily IPv4 is not configured on cluster"
**What happened**:

I've tried to deploy the chart on an EKS cluster with cluster IP Family: IPv6.

My custom values:

[code]

I've been hitting the following error:

[code]

**What you expected to happen**:

I expected the chart to be deployed successfully with only IPv6 IP Family enabled.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.): 1.3.0

[2022-08-18 12:54] #8933 closed

[2022-08-18 13:23] ohauer opened #8936 "feature allow change for only clusterrole name"
**What happened**:

Installing multiple ingress-nginx with the helm chart in different namespaces are overwriting ClusterRole and ClusterRoleBinding as they are not uniq per namespace.

**What you expected to happen**:
Having ability to install multiple ingress-nginx in dedicated namespaces with uniq ClusterRoles / ClusterRoleBinding

**Environment**:

- **Cloud provider or hardware configuration*

[2022-08-18 13:53] ohauer commented on #8936
For testing use the following helm value file:

[code]
[code]

compare sections ClusterRole and ClusterRoleBinding in the vimdiff

[2022-08-18 13:57] longwuyuan commented on #8936
/remove-kind bug

Can you describe more on what you are trying to achieve with precise specifics. A clusterRole by definition is not scoped to a namespace, to state the obvious, to start with.

And then on top of that a cluster scoped object like clusterRole can be shared by multiple instances of the controller, as documented here https://kubernetes.github.io/ingress-nginx/#how-to-easily-install-m

[2022-08-18 14:27] ohauer commented on #8936
This will work, however for automation it is a nightmare to maintain 40+ dedicated ingress installations per cluster with the solution from documentation plus maintaining the value files since parameters are not declarative (installation with Argo from git repo)
With the simple fix it is possible to write one umbrella chart (with values from above) and apply it to several namespaces without any is

[2022-08-18 16:08] Xtigyro commented on #8935
My bad! Closing it...

[2022-08-18 16:08] #8935 closed

[2022-08-18 16:25] #8284 closed

[2022-08-18 17:46] mike-pt opened #8938 "nginx.ingress.kubernetes.io/server-snippets ignored on deploy"
**What happened**:

I added server-snippets to my ingress.yaml but it seems to be ignored by the controller

**What you expected to happen**:

The config in server-snippets block show show in nginx.conf

**NGINX Ingress controller version**

bash-5.1$ /nginx-ingress-controller --version
-------------------------------------------------------------------------------
NGINX Ingress controller
  Relea

[2022-08-18 18:06] longwuyuan commented on #8938
/remove-kind bug
You can try the permanent-redirect annotation https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#permanent-redirect. You don't really need a server-snippet for redirection

[2022-08-18 18:07] longwuyuan commented on #8938
/kind support

[2022-08-18 18:11] longwuyuan commented on #8936
I am not convinced that its a problem of the controller, that needs a fix.
That example shows parameters that can go into a values file too. That way you can just maintain 40+ values files.
On a different note, 40 instances of the controller on a single cluster implies 40 external-ip-addresses. It also means idling pods of the controller usually but may not be in your case, That detail is missing

[2022-08-18 18:15] mike-pt commented on #8938
tks

I need this to apply to multiple hosts though, I update the post as I see I missed that.

So i.e. I will have "api.oldDomain" "www.olddomain" in fact in one case even api.subdomain.oldDomain but for the last one I'm pretty sure I would need a second ingress...

With permanent redirect can you use variables? I found nothing indicating so but perhaps I missed it?

[2022-08-18 18:28] longwuyuan commented on #8938
- if multiple hosts are spec'd out in the same ingress object then the annotation is applicable ingress-wide hence to all hosts in that ingress object
- The value of the annotation does not take a variable or regexp
- We hardened the server-snippet functionality. Its likely that the regexp chars are not allowed but I am a not certain
- Personally, based on the info provided so far, annotation woul

[2022-08-18 18:35] mike-pt commented on #8938
I see, I remember there was a CVE related to this actually, I will trey  a simple location block just to confirm the feature works, and as you state it might not be the best for what I want, still I'm not quite sure how https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#permanent-redirect https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/

[2022-08-18 18:39] mike-pt commented on #8938
Btw I just used:

[code]

and nothing shows in nginx.conf, in logs I see:

[code]

I suppose if something was failing it would show here, but I will lookup how to enable more verbose logging, I've used nginx for years but its actually my first time within nginx-controller GCE ingress is proving to be very limited and we wanted a better solution.

[2022-08-18 18:44] longwuyuan commented on #8938
We ran with more freedom so far. But with the world becoming what it is, clever regexp is a risk not worth it, hence the hardening.

And yes, multiple ingresses it has to be. It just seems appropriate to have broken down config into multiple ingress objects, based on routing rules needed. We feel its safer while being scalable.

[2022-08-18 18:56] longwuyuan commented on #8938
On a completely different note, wondering why you just don't CNAME  old.domain to new.domain in the nameserver.

[2022-08-18 19:07] mike-pt commented on #8938
@longwuyuan this is for a domain migration and I wanted to be sure to cover all cases, there's old links and mobile apps so I wasn't 100% confident on just CNAME, specially for SEO reasons, but on most of these I don't actually need to care about SEO so that might actually not be a bad idea indeed.

In any case thanks for the replies, I think its still worth keeping this open in case someone wants

[2022-08-18 19:34] mike-pt commented on #8938
@longwuyuan I think this is actually fully disabled by default https://github.com/kubernetes/ingress-nginx/issues/7837 (docs didn't seem to have been updated though)

[2022-08-18 21:44] mike-pt commented on #8938
AH! It actually does accept nginx vars and with named captures this is pretty easy actually, here is my manifest:

[code]

(Don't add "http" block otherwise you need to fill in backend config which makes no sense for redirect)

In nginx.conf when we use a wild card for host it actually does it with named captures
[code]

Which enables us to use the vars in permanent redirect

On simpler setups one

[2022-08-18 21:46] mike-pt commented on #8938
AH! It actually does accept nginx vars and with named captures this is pretty easy actually, here is my manifest:

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "somename"
  annotations:
    nginx.ingress.kubernetes.io/permanent-redirect: "https://$subdomain.old-domain.com$request_uri"
spec:
  ingressClassName: nginx
  rules:
  - host: "*.oldDomain.com"

(Don't add "http" block

[2022-08-18 23:13] longwuyuan commented on #8938
awesome. nginx vars it is. yes, examples having this info would help. Please consider a docs PR. glad resolved. Please close if no other concerns.

[2022-08-19 06:53] dockercore commented on #4760
Expect to support http3.0 as soon as possible
     2022年08月19日 星期五 14时53分28秒  -0.422328 秒

[2022-08-19 11:41] sreelakshminarayananm commented on #8739
Will work on this change and will create a PR for same.

[2022-08-19 13:00] leonmsdev opened #8940 "Inserting TLS Wildcard Certificate with K8s Secret inside Nginx Ingress Helm Chart"
**What happened**:
We try to reference a Kubernetes Secret inside our Nginx Ingress. Our Ingress gets defined by the following values yaml.
https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/values.yaml
Our approach was to reference the Kubernetes Secret inside the extraArgs{ }, like shown in the official documentation.
[code]
If we do so, our nginx-defaultbackend pod crash

[2022-08-19 13:54] longwuyuan commented on #8940
/remove-kind bug
- Not directly related but recommended installation process is here https://kubernetes.github.io/ingress-nginx/deploy/#gce-gke
- The information provided is not enough to analyse. Some things to check before the installation of the controller are
  - existence of the namespace before the installation of the controller
  - existence of the secret in the secret in the namespace befo

[2022-08-19 16:02] sonjalim opened #8941 "DNS lookup attempted on externalNames that are IPs, causing errors in the logs"
**What happened**:
Getting error message for services that use IP in the `spec.externalName` field
[code]

**What you expected to happen**:
Expected these errors do not occur

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configura

[2022-08-19 16:48] sakshisharma84 commented on #8745
Hi, we found the same issue on k8s.gcr.io/ingress-nginx/controller:v1.3.0. Should I raise a separate request for v1.3.0?

[2022-08-19 17:08] #8938 closed

[2022-08-19 17:15] sakshisharma84 opened #8942 "Vulnerability CVE-2022-1996 in ingress-nginx:v1.3.0"
**What happened**:
Our scanner reported go-restful has vulnerability [CVE-2022-1996](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-1996) CVSS3 - 9.1

nginx v1.3.0 uses go-restful v2.9.5  - [ingress-nginx/go.mod at controller-v1.3.0 · kubernetes/ingress-nginx](https://github.com/kubernetes/ingress-nginx/blob/controller-v1.3.0/go.mod#L67).

If we can update the go-restful version to v3.8.0

[2022-08-19 17:30] Dark-Bob commented on #8941
It seems like it's not checking if it's an IP address and attempting to do a DNS look-up even if it is. From this discussion on the kubernetes forum, it seems like we should expect it to work?

[2022-08-19 17:48] longwuyuan commented on #8942
/triage accepted
/area stabilization
cc @tao12345666333 @rikatz @strongjz

[2022-08-19 17:56] longwuyuan commented on #8941
https://kubernetes.io/docs/concepts/services-networking/service/#externalname
[code]
Also this ;

[code]

An IP address in the value for that field can return a `A` record and not a CNAME as required

/remove-kind bug
/kind support
/close

[2022-08-19 17:57] #8941 closed

[2022-08-19 19:57] tao12345666333 commented on #8745
please see `@Volatus` 's comment. thanks

[2022-08-19 20:00] tao12345666333 commented on #8942
thanks for your report.
I think we can use #8745 for tracking.

I will close this one.
/triage duplicate
/close

[2022-08-19 20:00] #8942 closed

[2022-08-19 22:06] mc-zact commented on #8663
+1 for namespaceOverride

[2022-08-20 02:38] bmv126 commented on #8940
Hi @leonmsdev
The extraArgs that you are passing to defaulBackend is not correct.
Default-ssl-certificate extraArg option is not available for default Backend.
The default-ssl-certificate extraArgs can only be used for controller.

[2022-08-20 02:45] bmv126 commented on #8940
Only extraArgs/flags mentioned at https://github.com/kubernetes/ingress-gce/blob/fb05af364d69380c17fbd798e1ad8b3765e6457e/cmd/404-server/server.go#L33 can be passed

[2022-08-20 08:51] samip5 opened #8943 "FR: Use external svc for defaultBackend"
I would love to able to specify to use a defaultBackend but rather than deploy it via the chart, I would like to be able to just specify the svc name for it so it would use my existing errorpages deployment for it.

[2022-08-20 09:03] longwuyuan commented on #8943
This seems simpler is it not https://github.com/kubernetes/ingress-nginx/blob/a98c637872f8cfd878f66bf024f392d98e5ca729/charts/ingress-nginx/values.yaml#L768

You deploying on your own and then configuring controller to use it is 2 steps

[2022-08-20 09:18] samip5 commented on #8943
No that would create a new pod for it, which is what I don't want but rather say to use a existing deployment.

[2022-08-20 09:30] samip5 commented on #8943
Yup, that doesn't work like that:

[code]

If not enabled, it doesn't do anything and when enabled it creates a new pod with the helm chart.

[2022-08-20 10:30] Volatus commented on #8927
@rittneje

I'd prefer if the usage mirrored Nginx itself but that'd require a change that's likely breaking for some users, so for now we can just update the documentation.

/area stabilization
/priority important-longterm
/triage accepted
/assign

[2022-08-20 11:27] bmv126 commented on #8943
Use below flag to specify existing backend svc.
https://github.com/kubernetes/ingress-nginx/blob/a581a7bebc1f4ff028f1e57dca0ce95abef78c62/pkg/flags/flags.go#L60

You can specify via extraArgs in values.

[2022-08-20 16:26] abbasihsn commented on #4230
you should put `underscores_in_headers` in the `server` block, not in the `location/` block. for example:
[code]

[2022-08-21 13:02] amirschw commented on #8449
We're experiencing the exact same issue with "just" ~200 ingresses in our clusters.

[2022-08-21 14:40] longwuyuan commented on #8449
how many replicas of the ingress-nginx-controller pod and how many instances of the ingress-nginx-controller and how many nodes in the cluster ?

[2022-08-21 14:53] amirschw commented on #8449
It mostly happens in our busier clusters. In one of the latest examples that I checked there were 600 replicas of ingress controller and 900 nodes in the cluster.

[2022-08-21 14:55] longwuyuan commented on #8449
Is it 600 replicas of one single instance of the controller ?
How many instances of the controller in this 900 node cluster ?

[2022-08-21 15:05] amirschw commented on #8449
What do you mean by instance? IngressClass? If so, then the answer is yes - 600 replicas of one instance.

[2022-08-21 15:13] longwuyuan commented on #8449
One instance is one installation of the ingress-nginx-controller so thanks yes, one ingressClass would imply one installation of the ingress-nginx-controller.

This has been reported before and there is highest priority work in progress that includes attention to this, besides security. But the release of the new design is likely to emerge at the end of the current stabilization work-in-progress.

[2022-08-21 15:46] Volatus commented on #8922
@liucx1201
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#keep-alive

[2022-08-21 18:08] Staniel opened #8945 "upstream-keepalive-time in ConfigMap not translated to nginx.conf"
**What happened**:
I am trying to apply this config value: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#upstream-keepalive-time
I added this in the config map:
[code]
And then restart Ingress deployment. The nginx.conf file doesn't have this value set but the other 2 values are set correctly. The upstream section is:
[code]

**What you expected to happen**:

[2022-08-21 18:30] longwuyuan commented on #8945
Says directive appeared in nginx v1.19.10 but the controller you are using seems to be built on nginx v1.19.6.

Maybe try upgrading to latest release of controller and report status.

/remove-kind bug

[2022-08-21 18:55] yevon commented on #8469
Same issue here, it seems buggy to me. I'm using latest version, and it is returning access-control-allow-origin: * for any request without origin specified, or with an origin different that the defined in nginx.ingress.kubernetes.io/cors-allow-origin.

[2022-08-21 19:22] yevon commented on #8469
In my case was that the backend was returning wrong CORS headers (Allow *) and nginx is not overwritting them. If backend sends an *, nginx just append it to the nginx.ingress.kubernetes.io/cors-allow-origin response header. Is there a  way to overwrite this behaviour without modifying the backend?

[2022-08-22 06:34] leonmsdev commented on #8940
@bmv126 Thanks for your reply.

I already referenced the extraArgs with the default-ssl-certificate under the controller section.
(I adjusted the third code block with the controller.)

[2022-08-22 06:36] longwuyuan commented on #8940
@leonmsdev  https://github.com/kubernetes/ingress-nginx/issues/8940#issuecomment-1220710262

[2022-08-22 09:57] bmv126 commented on #8940
As this flag is passed to the controller pod. Not sure why default backend pod will fail for this flag
Can you share the values.yaml used and the failed pod logs.

[2022-08-22 10:37] PeterAndreus commented on #8425
/remove-lifecycle stale

[2022-08-22 13:51] amotl commented on #7261
Hi there,

it looks like more and more people are observing this, while I believe #8073 would have an appropriate fix already. Do you see any chance to merge this patch?

With kind regards,
Andreas.

/cc @WalBeh

[2022-08-22 14:14] vosmax commented on #8092
@BBQigniter
This is actually a proper way how to config jaeger agent daemonset for nginx controller.
Unfortunatelly, the documentation doesn't show it properly and transparent.
I have had to read the controller code to find it out.

To use node agent you need to get IP of the node
[code]

Now you may use this env variable in config:
[code]

Now you have node IP in config
[code]

[2022-08-22 14:30] rikatz commented on #7261
Hi,

we are dealing with this in the migration to nginx v1.21 :)

Jintao is looking into it :)

[2022-08-22 17:22] rittneje commented on #8259
/remove-lifecycle stale

[2022-08-22 17:22] rittneje commented on #8264
/remove-lifecycle stale

[2022-08-22 23:08] #8907 closed

[2022-08-22 23:14] #8839 closed

[2022-08-22 23:20] #8660 closed

[2022-08-22 23:30] #8927 closed

[2022-08-23 01:20] tao12345666333 commented on #8091
https://github.com/kubernetes/ingress-nginx/pull/8921 has been merged. I think we've done all the work related to this

[2022-08-23 01:59] longwuyuan commented on #8911
@MalikMlitat & @Aryan-Deshpande when will you complete this ?

[2022-08-23 05:05] souravsekhar commented on #8844
@longwuyuan - I upgraded Nginx controller to version 1.3.0. However, I still see the same issue.

![image](https://user-images.githubusercontent.com/30226357/186074017-299bd21c-b207-4724-8dde-057c6005a7a4.png)

The issue is intermittent though and is not frequent.

Any suggestions here?

[2022-08-23 05:12] lbogdan opened #8958 "Helm chart 4.2.2 broken because of the switch to Lease API"
Helm chart `4.2.2` is currently broken because of #8921, as it's referencing a controller image that still uses the ConfigMap leader election, but the `ingress-nginx` Role has the [ConfigMap permissions removed](https://github.com/kubernetes/ingress-nginx/pull/8921/files#diff-b4e8d91f1b346bd8035d93563ee80b6cecabcd47a49e1feb08c6c368135949dc).

[2022-08-23 05:51] rouke-broersma commented on #8958
@tao12345666333 I think you introduced this change just this morning. Any chance you could take a look at this?

[2022-08-23 05:56] tao12345666333 commented on #8958
thanks for your report.

I didn't actually notice that we were releasing a new version of the Helm chart.
I will do a quick fix

[2022-08-23 06:10] tao12345666333 commented on #8958
https://github.com/kubernetes/ingress-nginx/pull/8959

[2022-08-23 06:17] auwaerter commented on #8958
Hey @tao12345666333 i just found this issue as i was running into the same with the following log appearing after trying the new chart:

`E0823 05:16:54.075704       6 leaderelection.go:367] Failed to update lock: configmaps "ingress-controller-leader" is forbidden: User "system:serviceaccount:ingress-nginx:nginx-serviceaccount" cannot update resource "configmaps" in API group "" in the namespace

[2022-08-23 06:17] tao12345666333 commented on #8958
yes

[2022-08-23 06:18] auwaerter commented on #8958
Thanks a lot for your confirmation! :)

[2022-08-23 06:18] tao12345666333 commented on #8958
once #8959 been merged. we will publish new Helm chart  4.2.3

[2022-08-23 07:29] #8958 closed

[2022-08-23 07:30] tao12345666333 commented on #8958
Please try the latest versio v4.2.3, thanks!

[2022-08-23 07:36] auwaerter commented on #8958
Working perfectly fine to me, thanks a lot! :)

[2022-08-23 07:38] lbogdan commented on #8958
I can also confirm freshly installing `4.2.3` works fine.

[2022-08-23 08:58] stefanbethke opened #8961 "Affinity Cookie has illegal path value"
**What happened**:

When trying to enable sticky sessions, the path from the Ingress gets transferred to the nginx config verbatim, and nginx sets the path attribute of the cookie verbatim as well. This does not work correctly when also using the rewrite annotation, since the path is a regular expression.

[code]

The cookie being set for this looks like:
[code]
Note the regexp in the Path attribu

[2022-08-23 10:43] bmv126 commented on #8961
Have you tried this
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#use-regex

[2022-08-23 11:08] stefanbethke commented on #8961
D'oh, yes, thank you.

[2022-08-23 11:08] #8961 closed

[2022-08-23 11:34] fred214 opened #8962 "Log starts with warning "This might not work""
Hi,
I think it's a warning, does anyone can explain the message stand for?
[code]

[2022-08-23 11:47] LianwMS commented on #8520
Hi @longwuyuan May I know when will the fix version be released?

[2022-08-23 12:41] #8940 closed

[2022-08-23 13:55] DataMinded commented on #8520
Just as a note, Release 4.2.2 & 4.2.3 still do NOT contain a fix for this CVE

[2022-08-23 14:07] longwuyuan commented on #8520
if everything looks good, there will be a discussion on making the release this week or next week.

[2022-08-23 14:35] longwuyuan commented on #8962
it could be related to krew plugin. Are you using krew plugin.
cc @tao12345666333
Otherwise its just a warning from client-go doing some check

[2022-08-23 15:38] WoodyWoodsta opened #8964 "Enforce basic auth on all verbs except OPTIONS"
The current basic auth implementation is useless if you want to use the protected service backend with CORS.

As per [the spec](https://fetch.spec.whatwg.org/#cors-safelisted-request-header), `Authorization` is not an allowed preflight request header and so any client which attempts to send a preflight request will do so without the `Authorization` header. This means that setting the basic auth an

[2022-08-23 15:57] Aryan-Deshpande commented on #8911
We should be able to resolve this within the next 48 hours. I have successfully been able to build httpbun from scratch, working on multi-stage building in the dockerfile.

[2022-08-23 16:31] roeera commented on #7261
same issue

[2022-08-23 17:50] tao12345666333 commented on #8962
yes. you can ignore it

[2022-08-23 19:04] jsoref commented on #7261
@rikatz: what was wrong with https://github.com/kubernetes/ingress-nginx/pull/8073?

[2022-08-23 19:58] Timoses commented on #7794
/remove-lifecycle rotten

[2022-08-24 00:39] josiahbryan opened #8965 "DigitalOcean Version Doesn't Have Proper Annotations"
**What happened**:

No data shows for HTTP response times on DO LB Graphs

**What you expected to happen**:

Wrong annotations

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):

`ingress-nginx_controller-v1.2.1-do.yml`

Proper annotations should be included with the YAML. Here's the right annotations to include:

[code]

[2022-08-24 00:42] rikatz commented on #8633
/lifecycle active

[2022-08-24 03:02] longwuyuan commented on #8932
Can you please post your complete scan report here @fred214

[2022-08-24 03:21] longwuyuan commented on #8965
/remove-kind bug
/kind feature

@josiahbryan
I think this requires editing https://github.com/kubernetes/ingress-nginx/blob/main/hack/manifest-templates/provider/do/values.yaml and adding the new currently non-existing other annotations there. Please free to submit a PR.

But there is no proof like screenshots and configurations-snippets from a cluster that has these annotations and shows the metr

[2022-08-24 03:50] josiahbryan commented on #8965
Without these annotations, graphs on the digital ocean dashboard for the LB
show "No Data" on all the HTTP-related graphs. I would imagine that all
users would expect and want data for graphs since this is an
HTTP(S|2)-centric project (e.g. nginx) and the DO config is being offered.

Without the annotations specifying the HTTP ports, the graphs look
something like the attached screenshot. Note the

[2022-08-24 05:45] longwuyuan commented on #8965
- Are there cost implications to running those metrics ?
- Multiple DO users did not ask for those annotations to be available out of the box so do some users of DO prefer not having those annotations out of the box because there integrated observability like prometheus+grafana give them the info those annotations provide. This we do not know and maybe have to ask/survey.
- When the DO provider wa

[2022-08-24 05:47] josiahbryan commented on #8965
There is no cost implications. I'll let you submit the PR yourself if you
care enough about the users. Otherwise I'm not going to do the work for
you. I'm reporting this as an issue because it makes the software look
broken out of the box. This is clearly an issue, it's up to you if you want
to fix it or not. That's all I'm going to do for you right now. Good luck
and have fun!

On Wed, Aug 24, 20

[2022-08-24 05:50] longwuyuan commented on #8965
ok thanks. I will submit the PR

[2022-08-24 05:54] longwuyuan commented on #8965
Need to get specific on
[code]
Can you point me to a link for that annotation. Can't put "whatever" as value

[2022-08-24 05:58] josiahbryan commented on #8965
https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/master/docs/controllers/services/annotations.md#servicebetakubernetesiodo-loadbalancer-name

On Wed, Aug 24, 2022, 12:54 AM Long Wu Yuan ***@***.***>
wrote:

[2022-08-24 05:58] longwuyuan commented on #8965
Also, this one
[code]
I guess this one is for passthrough on the LB so TLS terminates on controller. Is your opinion that all users would want this

[2022-08-24 06:04] longwuyuan commented on #8965
I see that the existing LB will be renamed and also not using this annotation means it will set a name like `a-<serviceUID>`. I don't know if the out-of-the-box config should decide what name to set or to rename the existing LB.

Now, to me it seems that, an improvement would be to if write about the usage of these additional annotations in docs, so that users can edit the service to their taste,

[2022-08-24 06:20] fred214 commented on #8962
Thanks for the explanation

[2022-08-24 06:20] #8962 closed

[2022-08-24 06:39] longwuyuan commented on #8965
/triage accepted

[2022-08-24 06:51] longwuyuan commented on #8911
Thanks for update

[2022-08-24 08:08] ntpct1993 opened #8968 "Got lots of "failed to list|watch" error while installing with helm"
[code]

I got tons of these errors in the pod logs after the helm install

My current helm chart: 4.2.1
kubectl version: Client - v1.22.4  and Server - v1.21.13-gke.900

Please help me with this, if you need more info for the debug, feel free to leave a comment abt that

[2022-08-24 08:11] souravsekhar commented on #8844
@longwuyuan - Could you please re-open the issue? And please let me know, if you need more details or info on the issue

I have been seeing some more errors with the same 1.3.0 version

![image](https://user-images.githubusercontent.com/30226357/186366062-ef2f9ae7-11dd-4f2e-8135-a0931356db27.png)

[2022-08-24 08:25] jeroenj commented on #4115
I believe this is still relevant. For the time being you can also set this config by using the [`location-snippet`](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#location-snippet) option:

[code]

[2022-08-24 08:32] longwuyuan commented on #8968
/remove-kind bug
Please post the information asked in the issue template

[2022-08-24 11:54] #8745 closed

[2022-08-24 14:12] #8965 closed

[2022-08-24 15:41] cha7ri opened #8972 "The admission webhook is not working as expect: It doesn't prevent to user from creating two ingress resources that have the same host/path combination."
**What happened**:
I did a quick investigation and the issue seems to be [here](https://github.com/kubernetes/ingress-nginx/blob/69318355b167b2cd4eb6a9c90c1fc793200e982c/internal/ingress/controller/controller.go#L1729) this code check only the first host and return `nil` if it doesn't overlap. More details below:

The admission webhook is not working as expect: It doesn't prevent to user from crea

[2022-08-24 17:29] jaehnri commented on #8910
Hi, @strongjz!
Would you mind detailing what we want to achieve with this task? I've seen some projects put the libyear drift as a GitHub badge on top of the README, e.g., [libyear-node-action](https://github.com/s0/libyear-node-action). Is this our objective? If so, I could tackle it.
Thanks!

[2022-08-24 17:38] e0018328 commented on #8298
Jonathan, did you solve your problem?

[2022-08-24 18:02] longwuyuan commented on #8972
- The webhook has been working for a long time
- There should have been multiple reports of the problem if it was broken. So we have to wait for data that shows its broken
- The information you have provided is invalid
- The information you have provided is also incomplete as per the issue template
- I just used your reproduce procedure and it is a non-starter because there is no ingressClass and

[2022-08-24 18:02] longwuyuan commented on #8972
You can also upgrade to the latest release of the controller before you try to gather data

[2022-08-24 18:07] longwuyuan commented on #8972
/remove-kind bug

[2022-08-24 18:43] chancez commented on #1947
I managed to get it working but I had to configure TLS on the ingress and set the backend-protocol, despite the documentation clearly stating that other annotations have no effect when ssl-passthrough is enabled.

[2022-08-24 19:09] chancez commented on #8257
I'm also hitting this same issue with a GRPCS backend and `nginx.ingress.kubernetes.io/proxy-ssl-protocols: "TLSv1.3"` does not resolve the issue.

[2022-08-24 19:30] chancez commented on #8507
I was trying to do something similar to this today because I'm having trouble connecting to a TLS enabled gRPC service via ingress-nginx. The backend only supports TLS 1.3, and I can connect to it via port-forward.

nginx is failing with the following in the logs:
[code]

I then ran `ssldump` in the container to troubleshoot and see the following:

[code]

I'm not seeing `TLS_AES_256_GCM_SHA384` i

[2022-08-24 19:34] chancez commented on #8257
It might be that the cipher suites are incorrect:

https://github.com/kubernetes/ingress-nginx/issues/8507#issuecomment-1226152514

[2022-08-24 19:41] chancez commented on #8257
https://github.com/kubernetes/ingress-nginx/pull/7084 might also be related. Seems that even though I set proxy-ssl-ciphers it's probably not doing anything since it only works when `proxy-ssl-secret` is set.

[2022-08-24 19:48] UnrealCraig commented on #8507
No, that's the list of ciphers supported by the client, not the server. The ServerHello tells you which of those NGinX decided to use, in this case it rejected all of them.

[2022-08-24 20:02] chancez commented on #8257
For gRPC it might also be that `grpc_ssl_ciphers` isn't being set, but even when I try configuring it as a server-snippet/configuration-snippet, it doesn't change anything.

[2022-08-24 20:04] chancez commented on #8507
@UnrealCraig ah your totally right, I mixed up the client/server hellos. Then it seems it's failing due to protocol_version.

Looking at the docs for `grpc_ssl_protocols` this might be due to the default not having tls 1.3.

[2022-08-24 20:08] chancez commented on #8507
Yep that was it. So gRPC TLS backends that only support tls 1.3 fail because the default grpc_ssl_protocols doesn't have tls 1.3 enabled.

The following worked for gRPC with TLS termination at ingress, with TLS enabled on the backend:

[code]

[2022-08-24 20:19] cha7ri commented on #8972
@longwuyuan Sorry for not been specific about the reproduce procedure. I updated and tested it locally. please let me know if I have to provide more information.

[2022-08-24 22:12] evandam opened #8973 "service-upstream sending traffic to unhealthy/terminating pods"
**What happened**:

Ingress-nginx sends traffic to pods with failing readiness probes or a terminating state when using `nginx.ingress.kubernetes.io/service-upstream: "true"`. Trying to access the same services directly from another pod (ex: `curl podinfo.test.svc.cluster.local` results in the expected behavior of not routing traffic to an unhealthy pod.

**What you expected to happen**:

When a p

[2022-08-24 22:41] alanlekah commented on #8017
I don't understand why a working version of TLS termination with helm was removed from the README during the migration from the old repo. This is the only thing that I got working:

https://github.com/helm/charts/blob/master/stable/nginx-ingress/README.md#aws-l4-nlb-with-ssl-redirection

`controller:
  config:
    ssl-redirect: "false" # we use `special` port to control ssl redirection
    server-

[2022-08-24 22:42] longwuyuan commented on #8972
I think you are saying that the below config should be caught by webhook.
Currently I am not sure why it is not catching that. Maybe there should be a check and a test for it. But I think it is a waste of time and resource to deal with the use case implied by your reproduce code. Explaining is below
The bigger problem is something else which you don't want to comment on even after I pointed it out

[2022-08-24 23:11] longwuyuan commented on #8017
- I think we were/are convinced that the changed deployment docs were good
- That change happened months ago so this is the first report in months related to AWS deployment docs
- Can you confirm that the second section of this AWS deployment docs https://kubernetes.github.io/ingress-nginx/deploy/#aws , that relates to terminating  TLS on the NLB, instead of terminating on the controller, does not

[2022-08-24 23:24] alanlekah commented on #8017
- Right, I'm confirming that I tried the installation doc above in AWS (https://kubernetes.github.io/ingress-nginx/deploy/#aws) with no luck. I was stuck in the repetitive 308 redirect cycle that was reported before and closed.

- I completely understand there's way too much customization based on providers.

- I wouldn't have used the helm if the raw yaml manifest worked as-is but that old README

[2022-08-25 00:28] longwuyuan commented on #8017
@alanlekah now someone has to test it and so involves aws account and don't know if free tier works etc. But what is critical now is ;
- The project can not be publishing a broken AWS install procedure
- Based on above since you have graciously offered to help fix the current doc with a PR, please go ahead with that
- But the PR must fix the static yaml manifest first and adding a alternative meth

[2022-08-25 00:37] longwuyuan commented on #8017
@tao12345666333 @rikatz @strongjz this latest comment by @alanlekah says our deployment doc for AWS is broken. Do we just use our own personal accounts to test on AWS ?

[2022-08-25 00:59] alanlekah commented on #8017
@longwuyuan I'm not suggesting its the deployment doc thats broken. I may be suggesting that the deploy.yml at:

https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.3.0/deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml

may still have issues. I'm not terribly familiar with what the difference is between the helm chart that generates the working raw yaml and the f

[2022-08-25 01:03] rikatz commented on #8017
I know this may be cliche, but I don't have access or ideas on how AWS works. Can someone jump into our next call to show the problem? Maybe we can discuss what can be done there :)

[2022-08-25 01:40] alanlekah commented on #8017
Attaching the working yml for comparison ( [against the non-working one](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.3.0/deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml)
[deploy.yml.zip](https://github.com/kubernetes/ingress-nginx/files/9420576/deploy.yml.zip)
)

[2022-08-25 01:46] longwuyuan commented on #8017
With the latest updates from @alanlekah I think we some idea of the next action item. We need to diff the yaml that works for him and the manifest we publish. Maybe we paid attention to the vanilla aws manifest and messed up the nlb-termination one, as it is in a subdir.

@alanlekah that descriptive update from you was helpful as as I was typing this, I saw you posted the manifest you used. thanks

[2022-08-25 02:00] alanlekah commented on #8017
Something seems very off. For example: https://github.com/kubernetes/ingress-nginx/blob/main/deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml#L473

See this section in `controller-v1.3.0/deploy/static/provider/aws/nlb-with-tls-termination/deploy.yaml`:
[code]

Looks like that was fixed in the parent one but not in the TLS termination yaml?

To create the working yaml, I only did the

[2022-08-25 02:11] longwuyuan commented on #8017
i was about to post the diff so thanks, that is a great catch.

This confirms that our generate-deploy-script  needs improvement. I suspect the root cause is the subdir and the script traverses parent dirs and not subdirs.

We will fix it. Thanks again for reporting this and if you find other differences, please let us know.

@Volatus when you get a chance, can you please ping me on slack about th

[2022-08-25 02:27] longwuyuan commented on #8017
@alanlekah Does port 8443 ring any bells ?

I don't recall seeing port 8000 before but must have missed things so just asking. We will check anyways.

[2022-08-25 02:34] alanlekah commented on #8017
@longwuyuan Yes it does. Port 8000 is something I changed (from 2443). I'm not sure if it makes any difference though.

See the old docs for nginx.. https://github.com/helm/charts/tree/master/stable/nginx-ingress#aws-l4-nlb-with-ssl-redirection

8443 is the webhook one AFAIK.

[2022-08-25 02:38] longwuyuan commented on #8017
ok. thanks. once again good pointer on the old doc. the generate-deploy-script went through 3-4 iterations so using that history will be a rabbit hole. I think we are better off basing our fix on the old doc for sanity sake.

[2022-08-25 02:39] alanlekah commented on #8017
Something interesting is that turning the helm values.yml file into this also works without issue, so it doesn't make a difference on the name or port number (seems like):

[code]

[2022-08-25 02:42] longwuyuan commented on #8017
that is pretty useful info. saves testing that aspect at least. thank you very much. the task now is to instrument that automated generation of that manifest with these good configs we are learning here.

[2022-08-25 02:44] alanlekah commented on #8017
Yep. That `tohttps` is basically already what you have in the parent one. Interestingly, if you change this:

[code]
to:
[code]
the 308 permanent redirect issue returns. Hopefully that helps narrow it down even more.

[2022-08-25 02:55] longwuyuan commented on #8973
/remove-kind bug
@evandam I think your expectation is invalid but I am not an expert.
My comment is based on the fact a single upstream was chosen in nginx.conf (as a consequence of using this annotation). Without needing to state it implies that there is no alternative upstream to use https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#service-upstream .  This i

[2022-08-25 02:59] longwuyuan commented on #8017
got it. can't do 80 so instrumented another port but 308 should only be sent one time, the first time

[2022-08-25 07:15] ohauer commented on #8936
Sorry for late response but I was busy the last days with other stuff.

You are right this is not a a change for the controller itself but for the helm chart.

I will describe a little bit more our environment:

- several K8s clusters where teams can order a namespace to test / build there applications
- namespaces are isolated
- bunch of helm templates that are used by developers to install modul

[2022-08-25 07:46] fred214 commented on #8932
@longwuyuan In the post I already pasted the scan result by string, the screenshot looks like the same.

[2022-08-25 08:29] longwuyuan commented on #8936
Hi @ohauer thanks for your patience is helping simplify the problem you are facing.
To begin fresh, you said clusterroles are overwritten so I am showing a simple test that clusterroles are not overwritten and a new clusterrole is created ;
[code]

- You can see that clusterrole ingress-nginx-2 is created
- Let me also show you that a second ingressclass is created
[code]
- Also let me show you th

[2022-08-25 08:33] longwuyuan commented on #8932
thank you @fred214

[2022-08-25 09:34] ohauer commented on #8936
@longwuyuan plz. give me some time will do some additional tests during the next week.
One quick test I've done some min. before with the proposed parameters ended in 2800+ log entries on that ingress controller in 5 seconds, setting additional
[code]
helped here.

Will see how I can bring this in a few namespaces, but i already know that this will end in endless discussions with the architecture

[2022-08-25 10:48] #8285 closed

[2022-08-25 13:10] longwuyuan commented on #8936
I want to help any way I can.
So far I think you understand the problem details a lot.
Just that that information needs to get converted into a clear and precise description of what the bug/problem is, in the controller, Once that bug/problem is known, then talks can happen if it needs to be fixed and if yes, then when.

But as far as new features are concerned, the project got out of hand enough

[2022-08-25 14:15] julianxhokaxhiu opened #8974 "ModSecurity [uri "/is-dynamic-lb-initialized"] Host header is a numeric IP address"
**What happened**:

Enabling [ModSecurity with OWASP CRS](https://kubernetes.github.io/ingress-nginx/user-guide/third-party-addons/modsecurity/) brings this warning log over and over again:
[code]

The responsible piece of code triggering it seems to be this one: https://github.com/kubernetes/ingress-nginx/blob/main/internal/nginx/main.go#L62-L78

**What you expected to happen**:

The warning log

[2022-08-25 14:30] AlexisHW opened #8975 "When WAF deployed on namespace level it fails to get nodes on cluster level"
**What happened**:

Deployed waf with helm v. 4.1.4 to namespace level so that clustorrole is not created (as expected)
 helm_values.yaml
[code]
In the waf-controller pod logs there are multiple errors:
`"Error getting node" err="nodes \"ip-10-15-30-140.eu-west-1.compute.internal\" is forbidden: User \"system:serviceaccount:backoffice-test:waf\" cannot get resource \"nodes\" in API group \"\" at t

[2022-08-25 16:00] alanlekah commented on #8017
I believe it has to be 80 since its an issue with forwarding HTTP to HTTPS traffic. I was under the impression thats why the port 80 check was one part of the fix.

[2022-08-25 16:36] scalp42 commented on #8973
The issue is that switching to using endpoints creates other issues like being out of sync and needing the hooks with `sleep` as workaround 😅

[2022-08-25 21:15] mike-serchenia commented on #8643
/remove-lifecycle stale

[2022-08-25 21:37] dvbdard opened #8977 "Websocket connections timeout if a new ingress rule is applied while clients are connected"
**What happened**:

Web socket connections timeout 4 minutes after a new ingress rule is applied to the nginx ingress controller even if the connection is alive.

**What you expected to happen**:

To not timeout 4 minutes after applying a new rule.

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
1.3.0

**Kubernetes version** (use `kubectl vers

[2022-08-26 01:24] longwuyuan commented on #8911
/remove good-first-issue Because multiple experienced folks are working on it and getting blocked for lack of clarifications

[2022-08-26 01:24] longwuyuan commented on #8911
/remove-good-first-issue

[2022-08-26 01:25] longwuyuan commented on #8911
/remove-help-wanted
Because multiple experienced folks are working on it and getting blocked for lack of clarifications

[2022-08-26 01:26] longwuyuan commented on #8911
/remove-help

[2022-08-26 01:28] longwuyuan commented on #8911
/unassign @MalikMlitat

[2022-08-26 01:46] #8445 closed

[2022-08-26 04:07] JustryDeng opened #8978 "ingress-nginx-admission do not work. log show "got secret, but it did not contain a 'ca' key""
![image](https://user-images.githubusercontent.com/39783760/186818462-adb91566-959c-4862-aec7-2b9cda8ceb0a.png)

[code]

[2022-08-26 04:12] JustryDeng commented on #8978
Why does it report such an error?

[2022-08-26 06:38] 137-rick opened #8979 "fastcgi-ingress-annotations add more help info"
https://kubernetes.github.io/ingress-nginx/user-guide/fcgi-services/#fastcgi-ingress-annotations

config-map must special the DOCUMENT_ROOT for the doc root with php yii 2 framework

and add tips about about you can add more fastcgi_param => by manual  for php

[code]

[2022-08-26 06:51] #8968 closed

[2022-08-26 08:26] longwuyuan commented on #8977
@dvbdard, thanks for reporting this. I am not a developer so breakdown will be limited but I think the project has to accept this as a triage completed and a problem to be solved. Adding a new ingress object does reload config (nginx.conf) so a developer well aware of websockets has to hint at the impact of a nginx config reload to breaking eastablished websocket connections.

Can you please test

[2022-08-26 08:30] longwuyuan commented on #8978
The issue template asks questions
![image](https://user-images.githubusercontent.com/5085914/186858645-3424206a-0f03-4e93-8f76-5eff82f09c66.png)

Nobody can understand the context if you do not provide the information asked.

Please provide information asked in the issue template and then re-open the issue
/close

[2022-08-26 08:30] #8978 closed

[2022-08-26 08:33] longwuyuan commented on #8979
![image](https://user-images.githubusercontent.com/5085914/186859369-f1b6c021-d6bb-4e6a-b5b3-e182330ba1e4.png)

Above screenshot shows information asked in the issue template.

While it seems easy to guess that the issue is related to the fastcgi functionality,  anybody who can work on this needs the context and maybe a procedure to reproduce the problem and other details.

Please provide the info

[2022-08-26 08:34] #8979 closed

[2022-08-26 08:40] longwuyuan commented on #8975
/remove-kind bug

I don't think namespace scoped installation are possible with chart version 4.1.4 or even v4.2.3 .

[2022-08-26 08:41] zhujintao commented on #5932
原来是拉不到镜像，改下镜像仓库就可以了

[2022-08-26 08:59] AlexisHW commented on #8975
Then what's the reason for scoping params?
I thought
[code]
does exactly it by creating service account and role at ns level rather than cluster level.

[2022-08-26 09:17] longwuyuan commented on #8975
On a default installation, you will find 2 objects ;
- kubectl -n ingress-nginx describe role ingress-nginx
- kubectl describe clusterrole ingress-nginx

The more serious details have to be confirmed with the developer/maintainer but namespace scoping was working fine until K8S v1.22 arrived.

K8S v1.22 deprecated previous ingress api and also introduced other changes to the spec. All for good. Bu

[2022-08-26 11:17] rittneje commented on #8270
/remove-lifecycle stale

[2022-08-26 13:11] Starefossen commented on #8194
The solution to @twixthehero is no longer working. No build target for plugin any more.

[2022-08-26 13:41] goafabric commented on #8690
is there any progress for this issue ?

@goafabric remind me

[2022-08-26 13:44] dud225 commented on #8972
I confirm the bug, I'm facing the exact same issue you described.
I think that the line you highlighted is the culprit, I'd suggest to open a PR to remove it.

[2022-08-26 15:16] dbarranco opened #8980 "Geo-block configuration doesn't work at all on Ingress Helm Chart"
Hello team, thanks for the work on the Nginx-Ingress 🙇

These days I'm trying to enable geo-blocking for the Nginx-Ingress and I've noticed a weird behaviour between the [quick-start version](https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.3.0/deploy/static/provider/cloud/deploy.yaml) and the Nginx-Ingress Helm Chart.

**Describe the bug**

Following the [different tests r

[2022-08-26 16:22] #8883 closed

[2022-08-26 16:59] longwuyuan commented on #8980
/remove-kind bug
The chart is generic in its default configuration. You can see that there is maxmind related key in line 176 of the default values file.

One shortcut to make some progress is that you use the `helm template` command and generate a yaml manifest. Then compare that manifest with the static manifest that works.

[2022-08-26 17:53] #8137 closed

[2022-08-26 18:14] longwuyuan commented on #8690
Please try chart version 4.2.4 and update status.

[2022-08-26 18:17] longwuyuan commented on #8690
@Divine1 if your problem is solved by Chart version 4.2.3  or if no longer relevant, then kindly help and close the issue.

[2022-08-26 18:22] kosta1221 commented on #8626
/remove-lifecycle stale

[2022-08-26 18:25] longwuyuan commented on #5932
https://artifacthub.io/packages/helm/bitnami/nginx-ingress-controller

[2022-08-26 19:26] mike-pt opened #8983 "nginx.ingress.kubernetes.io/cors-allow-origin ignores "null""
I setup 2 ingress resources, one is a redirect and the other is a normal ingresss with hosts rules.

Due to the nature of the 301 the browser will send the next request with "Origin: null"

I tried adding null to nginx.ingress.kubernetes.io/cors-allow-origin

[code]

However this seem to be ingnored entierly

I fact I did:

[code]

And the example.org hosts shows in nginx.conf on the "http_origin"

[2022-08-27 06:45] goafabric commented on #8690
@longwuyuan thank u, will do eventually

[2022-08-27 08:59] longwuyuan commented on #8690
@goafabric that message was for the creator of this issue @Divine1  to track problems with more sanity

[2022-08-27 09:00] xtianus79 commented on #636
5 years later and this is not a standard feature? lol come on guys. http is not the only thing in the world. I think enough people said why they want to use this.

As well, it is highly recommended not to carry ssl traffic through to an MQTT broker. with that said, don't you think this would be a nice feature. Kubernetes is for clusters and besides Redis and Mongo DB this is a pretty important clu

[2022-08-27 14:31] novvoo opened #8985 "metrics about domains"
There is such a requirement. I want to report the health status of the domain name through metric (whether the domain name is resolved normally, and whether the loadbalance bound to the domain name is invalid). Currently, I use net::TcpStream to check the response status of port 80/443, but I cannot The function obtains all the domain names, which cannot be monitored in conjunction with prometheus

[2022-08-27 16:37] longwuyuan commented on #8985
By default, By default request metrics are labeled with the hostname. https://kubernetes.github.io/ingress-nginx/user-guide/monitoring/#wildcard-ingresses
I assumed you do get metrics by hostname which I assume you are calling as domain name.
Is this related ?

[2022-08-27 16:55] Divine1 commented on #8690
@longwuyuan i have not checked 4.2.3 yet , but if you believe that it is fixed, then i believe you (ofcourse until i verify/confirm it).

Will reopen this ticket if any issue.
Takecare. Have a nice day.

[2022-08-27 16:55] #8690 closed

[2022-08-27 17:22] longwuyuan commented on #8690
@Divine1 there was a long awaited PR that merged recently. So we would love to get feedback/confirmation. Thank you very much for taking time to update.

[2022-08-27 20:52] eriadam commented on #5455
Is this a no?

[2022-08-28 05:46] jingslunt commented on #8985
@longwuyuan
The hope is to enhance the monitoring indicators. The existing monitoring indicators are not enough. What is needed is to further detect whether the status of these hosts is alive.
Example：
- first get the hosts
[code]
- then scan the hosts alive
[code]

[2022-08-28 13:46] longwuyuan commented on #8985
@jingslunt understood.
I don't think there is developer time available to add this new metric now. It will be nice if someone who knows how to add that feature can help. The project is not adding features until December 2022 because there is high priority stabilization work in progress.

If you want to submit a PR, please go ahead because this seems like an improvement.

[2022-08-28 13:48] longwuyuan commented on #8983
/help

[2022-08-28 22:30] rittneje commented on #8283
/remove-lifecycle stale

[2022-08-28 23:28] alirezazamani opened #8987 "Issue with the Nginx on K8 1.22"
**What happened**:

I have recently encountered an issue that I cannot resolve. My nginx pods cannot get started. Here is the logs:
I0828 23:25:02.939911 7 main.go:230] "Creating API client" host=""
I0828 23:25:02.946584 7 main.go:274] "Running in Kubernetes cluster" major="1" minor="22" git="v1.22.12-gke.300" state="clean" commit="26604476cf3bcb64bec486e4b5880a5773a52e75" platform="linux/amd64"
I

[2022-08-29 02:02] longwuyuan commented on #8987
You have not answered he questions that are related to the problem and asked in the issue-template, so the info available is not enough to make helpful comments.

Is this during a new fresh install ?
Is this during a restart of the cluster ?
Where is the cluster. On cloud or on-premises ?
How was the controller installed ? Using helm or using a static yaml manifest ? Was there any values file cust

[2022-08-29 02:52] alirezazamani commented on #8987
This happen when new pod starts. For example, when I delete the pod, replica set will create new pod and this will show up.
The cluster in on cloud. gke cluster.
Deployed using static yaml manifest and customization. Others than secrets, there is no change.
Yeah the nodes and cluster were healthy. Other namespaces are fine but ingress nginx has this issue.

[2022-08-29 03:16] longwuyuan commented on #8987
The only information provided by you that is useful here is this line
[code]

I suggest you think about what information you provide here to others to analyze. Right now there is no information here for anyone  to analyze. The issue-template and my earlier message hints at the information you can provide for someone to analyze and help you.

[2022-08-29 03:43] alirezazamani commented on #8987
The only logs that I think can help here are these two lines:
I0828 23:25:03.821313 7 backend_ssl.go:65] "Adding secret to local store" name="xxxxxx"
I0828 23:26:00.812581 7 main.go:176] "Received SIGTERM, shutting down"

I am not sure why it takes one minute between these two logs.

[2022-08-29 06:22] amirschw opened #8988 "Populate backend service related variables when 413 is returned"
When requests to backend services have too large payload and 413 is returned, no service-related variables are populated. This makes it hard to track such errors on the backend service level, especially in clusters with a lot of different ingresses and backend services. Is there a way to populate any of these variables (namespace, ingress, service, path) so that they show up in the trace logs / me

[2022-08-29 06:33] longwuyuan commented on #8988
copy/paste the logs of the controller pod

[2022-08-29 06:53] amirschw commented on #8988
Here's an example. As you can see, the `$service_name` is empty:

[code]

And this is the log-format:
[code]

[2022-08-29 07:14] longwuyuan commented on #8988
I see `$service_name` here https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/log-format/ , if that is what you are looking for

[2022-08-29 07:20] amirschw commented on #8988
We do use `$service_name` as you can see in my previous message, but the issue is it doesn't have any value when the response code is 413.

[2022-08-29 07:24] longwuyuan commented on #8988
That means http request did not match any of the rules configured, across all the ingress resources, so there is no question of a backend_service related info being available as the request was not even routed. All you have is the request's headers so you need to play with request headers, as my my opinion. Wait for other comments i guess, to see if others have better idea.

[2022-08-29 07:38] amirschw commented on #8988
Thanks, but I don't think it's the issue because I do see the `$service_name` for the same kind of requests when the body isn't too large. It's not there only when the body is too large and nginx returns 413. Example:

[code]

[2022-08-29 07:44] longwuyuan commented on #8988
I don't know if you see the backend_ip. Do you see the backend ip when this happens ?
That means this is a very very special feature that someone could potentially work on after January 2023.

There is not enough information here.

[2022-08-29 07:52] hanselsen opened #8989 "TCP connection to Azure K8S always killed in 600 seconds"
**What happened**:

We are running a k8s cluster in Azure and one of the services is a TCP server with which clients are connecting and communicating.
These devices send out heartbeats every ~600s (+/- 10s) to keep the connection alive.
After our migration from VPS to Azure, the are disconnecting a lot.
After loads of troubleshooting with Azure support engineers, they came to the conclusion that i

[2022-08-29 10:09] Tomer20 opened #8990 "Readme shows different version than allowed"
**What happened**:

Tried to helm upgrade from `3.23.0` to `4.2.3`.
But got this error: `Error: chart requires kubeVersion: >=1.20.0-0 which is incompatible with Kubernetes v1.19.16-eks-a05fdea`

**What you expected to happen**:

Upgrade should succeed.
According to README.md (see [prerequisites](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/README.md#prerequisites):

[2022-08-29 10:22] amirschw commented on #8988
Do you mean `$upstream_addr`? If so, I don't see it when it happens, I just see `"-"` (as can be seen in the example I shared above).

Please let me know what additional information is missing and I'll try to provide it.

[2022-08-29 10:56] dbarranco commented on #8980
Found out that this is related to the `externalTrafficPolicy` Nginx-Ingress has configured.

Given that this is solved, it can be closed.

Thanks for your comments @longwuyuan

[2022-08-29 10:56] #8980 closed

[2022-08-29 11:20] longwuyuan commented on #8990
@Tomer20 If you are on K8S v1.19.0 then you can not use the latest of the controller on that.
The project dropped support for K8S v1.19 recently.
Best option would be upgrade K8S version on EKS to latest and then try the latest release of the controller.

[2022-08-29 11:36] longwuyuan commented on #8989
https://kubernetes.slack.com/archives/CANQGM8BA/p1661523312491389

[2022-08-29 11:36] goafabric commented on #8690
Feeback:

Problem persists with Helm Chart 4.2.3
On Latest Docker Desktop Kubernetes , Apple Silicon

Helm charts hangs with "waiting for condition".
Ingress Controller gets into ready state 1/1 though .. but is unusable afterwards

Did anybody verify that the new version is working on Docker Desktop ?

[2022-08-29 11:45] longwuyuan commented on #8989
@hanselsen , please post the basic info related to the problem. For example ;
- Exact and complete command used to install the controller along with he values file or the modified yaml manifest if applicable
- Show the real current live state of the cluster and the controller using commands examples like
  - `kubectl get svc,ing -A -o wide`
  - kubectl get events -A -o wide
- Your complete and exa

[2022-08-29 12:07] longwuyuan commented on #8989
@hanselsen , any chance you can write a step-by-step procedure that anyone can use to copy/paste on a minikube cluster, to reproduce this problem.

[2022-08-29 12:12] hanselsen commented on #8989
- The exact and complete command to install the controller is found in the description if I'm not mistaken.
- `kubectl get svc,ing -A -o wide`
[code]
- `kubectl get events -A -o wide`: `No resources found`
- I do not sent HTTP commands to the cluster, but a raw TCP socket. You can see the code in https://gitlab.com/cuebly/tcptest.
As I said, this code works perfectly in any other environment.

I a

[2022-08-29 12:23] longwuyuan commented on #8989
@hanselsen , thanks for the get output. It shows the tcp ports open. Can you confirm that your application used tcp port 9901 to open tcp sockets.

Its clear that the problem is a 10s timeout of keep-alive.

Its also clear that the suspect is the ingress-nginx controller.

The diligence needed is that we need to establish the 10second timeout for TCP connections. If the controller resets TCP conne

[2022-08-29 12:38] hanselsen commented on #8989
@longwuyuan uhm yeah. So I now see that I posted the `kubectl get svc,ing -A -o wide` of the wrong cluster.
This is the correct output:
<details><summary>Output</summary>

[code]

</details>

The port used is 9900 and port 9901 was used for the same server but with server-heartbeats. You can ignore that.

The problem is a 10 minute timeout. Not 10 seconds (luckily).

I now get why you want the min

[2022-08-29 13:14] longwuyuan commented on #8989
ok, on a different cloud, in the docs there is a reference to tcp timeout being fixed on the provider hence the time annotation value needs to be below that.

While there is no data here on Azure LB tcp timeout allowable/possible/configurable/default values, can you check that and set the value in the annotation to a couple of seconds less than 10minutes. Just a long shot because I think somewhere

[2022-08-29 13:15] AlexisHW commented on #8975
Good to know and thanks for the details.
Still will be waiting for developer to specify more details.

[2022-08-29 13:33] longwuyuan commented on #8989
Just FYI, for kubernetes that translates to this ;

Assuming a already existing default helm install of the controller ;
- helm -n ingress-nginx upgrade ingress-nginx ingress-nginx/ingress-nginx --set tcp.9900="default/test0:9900"
- kubectl create deployment test0 --image registry.gitlab.com/cuebly/tcptest --port 9900
- kubectl expose deployment test0 --port 9900

The client part of-course remains

[2022-08-29 13:52] hanselsen commented on #8989
@longwuyuan I tried your long shot, but no difference is seen when I change the timeout annotation from 30 to 20 or even 9 for example.
It should be ok because the value should be between 4 and 30 (https://cloud-provider-azure.sigs.k8s.io/topics/loadbalancer/#loadbalancer-annotations)

Awesome job translating the server to minikube! <3

[2022-08-29 14:01] dvbdard commented on #8977
@longwuyuan I have tried with different services (and even non existing one), without a domain name or ssl, applying the ingress rule before and after the service yaml, nothing seems to be impacting the timeout.

I think the timeout value comes from the Azure Load Balancer, although the connection should only drop after 4 minutes if it's not alive, which it is since a ping is sent every 15 secs.

[2022-08-29 15:07] Tomer20 commented on #8990
Thank you @longwuyuan for the quick reply.
I'm fine with it and will upgrade to latest available 3.x.x until we upgrade our EKS cluster, but still, i believe the [prerequisites](https://github.com/kubernetes/ingress-nginx/blob/main/charts/ingress-nginx/README.md#prerequisites) should be updated to:

[2022-08-29 15:41] longwuyuan commented on #8989
ok. Please try to reproduce on minikube or kind cluster. I will try to do the same. That will prove if the ingress-controller is doing this 10minute reset.

[2022-08-29 17:49] rittneje commented on #8651
/remove-lifecycle stale

[2022-08-29 17:49] rittneje commented on #8652
/remove-lifecycle stale

[2022-08-29 20:19] philomory commented on #8936
For our part, simply the ability to override the name of the ClusterRole and ClusterRoleBinding objects independently of the chart "fullname" field would be nice.

[2022-08-30 01:43] longwuyuan commented on #8936
@philomory Then you have to comment on the info I have provided. If you see above, I posted this ;
[code]
This information shows that the clusterrole names are not fixed to just `ingress-nginx` and that doing the install of the second-instance of the ingress-nginx-controller as per the link provided earlier, created a clsuterrole with a different name already. So the ability you mentioned already

[2022-08-30 01:57] philomory commented on #8936
@longwuyuan Right, but that requires changing the name of every single resource in the entire chart. The deployment is named `ingress-nginx-2`, the service is named `ingress-nginx-2`, etc. I'd like to override _just_ the name of the ClusterRole and ClusterRoleBinding. The other resources don't need weird names with `-2` in them, because only the ClusterRole and ClusterRole binding are cluster-wide

[2022-08-30 02:04] longwuyuan commented on #8936
@philomory , thank you very much. I think this last update from you is the appropriate description of this issue. That amounts to a feature that will help you a lot in your use case.

Need to wait for developer time on this.

[2022-08-30 03:23] vandhanaelango opened #8994 "Client max body size - Nginx/Aks"
I’m trying to increase the limit for  client_max_body_size to 5m in nginx configuration. This change is not reflected, it defaults to 1m and ends up with 413 error.

[2022-08-30 04:24] longwuyuan commented on #8994
@vandhanaelango the issue template asks questions that help provide context and some initial debug information.

Think of the information you have posted from others point of view, who want to help you solve your problem. Posting one sentence and expecting problem to get solved is unreasonable.

Please post all the information asked in the issue template. Someone can help analyze it for you. If yo

[2022-08-30 04:24] #8994 closed

[2022-08-30 06:35] souravsekhar opened #8996 "leaderelection.go:330] error retrieving resource lock ingress-nginx/ingress-controller-leader: Unauthorized"
**What happened**:

E0823 08:16:13.091797       8 leaderelection.go:330] error retrieving resource lock ingress-nginx/ingress-controller-leader: Unauthorized
E0823 08:16:13.343147       8 reflector.go:138] k8s.io/client-go@v0.23.6/tools/cache/reflector.go:167: Failed to watch *v1.Ingress: the server has asked for the client to provide credentials (get ingresses.networking.k8s.io)
W0823 08:16:14.35

[2022-08-30 06:49] longwuyuan commented on #8996
/remove-kind bug

Its hard to read the data as the markdown format is broken. Can you fix that.

Are you seeing these error messages after multiple attempts of installing the controller ? Did the previous attempts fail ?

[2022-08-30 07:10] amitay-strattic commented on #7968
/remove-lifecycle stale

[2022-08-30 07:22] bmv126 commented on #8996
@souravsekhar
Do you see any errors in k8s api server pod logs ?

[2022-08-30 07:32] hanselsen commented on #8989
@longwuyuan since there is a log file "Starting client", I see that it correctly executed the TcpClientTest executable.
I would guess that the correct values are not set in the startClient.sh. Can you confirm that this is setup correctly? Maybe share the contents?

[2022-08-30 07:41] longwuyuan commented on #8989
other values i tried were 9900/9901 and HEARTBEAT=[600000]

[2022-08-30 07:43] longwuyuan commented on #8989
as you can see, port 9900 is working because my telnet client can log messages on stdout of pod and tcpdump inside pod also shows network traffic.

But launching your client does not show any traffic on tcpdump or stdout of pod or netstat output inside pod.

[2022-08-30 08:29] hanselsen commented on #8989
Please remove the braces, since they indicate the a placeholder.
An example could be:
[code]

[2022-08-30 08:31] victorrodriguez1984 opened #8997 "Go restful binary update needed CVE-2022-1996"
trivy

 CVE-2022-1996

 1.3.0 and 1.20

 https://avd.aquasec.com/nvd/cve-2022-1996

[2022-08-30 08:56] longwuyuan commented on #8989
Thank you very much.
After removing braces, tcpdump and stdout showed connection and also netstat.
I started the script with `time` so now waiting to see if it dies in 10mins with the heartbeat set at 600000ms

[2022-08-30 09:29] longwuyuan commented on #8996
@souravsekhar this is now a known issue. I saw these 4 lines at 10 minute interval, while reproducing another issue
[code]
/triage accepted

Saw this messages in https://github.com/kubernetes/ingress-nginx/issues/8989 as well

[2022-08-30 09:30] longwuyuan commented on #8996
@tao12345666333 this is another issue where the same messages are seen
cc @rikatz

[2022-08-30 09:32] longwuyuan commented on #8989
/area stabilization

[2022-08-30 09:33] longwuyuan commented on #8996
/area stabilization

[2022-08-30 09:48] longwuyuan commented on #8997
I think this got addressed here https://github.com/kubernetes/ingress-nginx/pull/8976
Or I could be wrong

[2022-08-30 09:49] longwuyuan commented on #8997
cc @Volatus

[2022-08-30 09:50] Volatus commented on #8997
It is addressed except we haven't done a release after that PR.

[2022-08-30 09:52] longwuyuan commented on #8997
/triage accepted
Awaiting release of controller version 1.3.0+

[2022-08-30 09:57] souravsekhar commented on #8996
@longwuyuan - Sure, I will continue to watch this space for further updates or resolution of this issue.

[2022-08-30 11:54] Jimver commented on #6540
Couldn't you just remove the unit `s` from the template? Nginx uses seconds by default anyway right? So by removing the s you just let the user decide if they want to specify a unit.

So f.e. in https://github.com/kubernetes/ingress-nginx/blob/75cf26e15c496b6932942fd54d89a4ebf36ec67b/rootfs/etc/nginx/template/nginx.tmpl#L1402
You just need to remove the `s` at the end.

[2022-08-30 13:03] strongjz commented on #8997
Let's discuss in this week's community meeting or in slack about doing a release.

@rikatz @tao12345666333

[2022-08-30 13:03] tao12345666333 commented on #8997
okay

[2022-08-30 13:04] hanselsen commented on #8989
@longwuyuan hmmm. I do know that you have certain socket properties that are configurable, but I'm not sure about the exact differences between netcat and .net sockets.
I do know that using a Java server, the issue remains.
So, I have no idea why your netcat server is working.
The fact remains that without the minikube infra, the client-server application is working though.

[2022-08-30 14:06] acjohnson commented on #8247
It looks like `nginx_ingress_controller_ssl_expire_time_seconds` is missing when curling metrics from the `ingress-nginx-controller-metrics` service but only on some calls whereas other calls have the metrics

[code]
So somehow it seems the `nginx_ingress_controller_ssl_expire_time_seconds` metric is coming from a single pod in the deployment rather than all the pods

[2022-08-30 15:01] #8987 closed

[2022-08-30 15:29] erickroseira commented on #8690
FeedBack:

Problem still persists in Helm Chart 4.2.3

    Warning  Failed     11m                  kubelet            Failed to pull image "registry.k8s.io/ingress-nginx/kube-webhook-certgen:v1.3.0@sha256:549e71a6ca248c5abd51cdb73dbc3083df62cf92ed5e6147c780e30f7e007a47": rpc error: code = Unknown desc = failed to pull and unpack image "registry.k8s.io/ingress-nginx/kube-webhook-certgen@sha256:549

[2022-08-30 17:21] erickroseira opened #8998 "Ingress nginx chart cannot pull image"
**What happened**:

I am trying to install **ingress-nginx** chart version **4.2.3** using Pulumi (IAC tool), however the chart installation delays a lot and the process fail.

    kubernetes:helm.sh/v3:Release (ingress-nginx):
    warning: Helm release "ingress-nginx" was created but has a failed status. Use the `helm` command to investigate the error, correct it, then retry. Reason: failed pre-i

[2022-08-30 18:10] xtianus79 opened #8999 "Am I able to ssl tls terminate mqtt protocol or is it limited to http/s only? If not, how?"
I've installed ingress in this way via Helm.

[code]

What I am wondering is, can I rewrite, and thus terminate the incoming ssl mqtts:// traffic to tcp mqtt://.

The way I've setup the Ingress is in this way from a letsencrypt RA cert listed below. From here should I just be able to rewrite a backend service with port 1883? Would that work? Or will it not work because it's not http/s? If it won't

[2022-08-30 20:29] philomory commented on #8936
This is especially relevant with the `ClusterRoleBinding`, because it's a cluster-wide resource that is essentially namespace-specific (insofar as the ClusterRoleBinding created by the `ingress-nginx` chart bind the ClusterRole to a ServiceAccount in a specific namespace).

[2022-08-30 22:26] rtrindvg commented on #8998
Same problem for me. Won't add additional logs since the issue seems to be the exact same issue with the exact same pod/registry component and version.

[2022-08-31 02:32] longwuyuan commented on #8998
I just pulled the image and there is no problem in pulling the image.
Failure to pull image is not a problem of the controller.
[code]

/close

[2022-08-31 02:32] #8998 closed

[2022-08-31 02:35] longwuyuan commented on #8999
Plese use this doc to expose TCP service https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/

/close

[2022-08-31 02:35] #8999 closed

[2022-08-31 03:19] longwuyuan commented on #8936
/retitle feature allow change for only clusterrole name

[2022-08-31 13:41] melorthys commented on #3878
There is a workaround:
https://github.com/kubernetes-retired/contrib/issues/878#issuecomment-394313958

[2022-08-31 13:51] rosscdh commented on #7647
+1 still happening

[2022-08-31 13:51] kovaxur commented on #7970
Hi,
We have the same issue with Helm 4.2.3/ Controller 1.3

[2022-08-31 14:01] strongjz commented on #7647
/reopen
/lifecycle frozen

[2022-08-31 14:06] andremarianiello commented on #8687
What is blocking this, exactly?

[2022-08-31 14:48] longwuyuan commented on #8687
No blocker per se, but there is stabilization work in progress so lack of developer time. As soon as the higher priority stabiilization work is under control, some developer time will go into opentelemetry.

[2022-08-31 15:48] herrbpl opened #9002 "failed to set DER private key: d2i_PrivateKey_bio() failed, context: ssl_certificate_by_lua*"
**What happened**:

1. I installed nginx-ingress-controller on AWS EKS cluster, using Bitnami Helm Chart version 9.3.4 with following configuration:
[code]
2. I created ingress and TLS secret objects:
[code]
3. nginx controller says it is updating secret in local store:
[code]
4. nginx-ingress-controller fails to serve traffic with any TLS certificate (neither specified nor default fake one)
[code

[2022-08-31 16:11] longwuyuan commented on #9002
/remove-kind bug

Please install as per this https://kubernetes.github.io/ingress-nginx/deploy/#aws and update status.
Please make sure to edit all the information posted and replace with state of controller and related objects

[2022-08-31 16:12] longwuyuan commented on #9002
/retitle tls not working after bitnami chart installation

[2022-08-31 18:40] #8423 closed

[2022-09-01 02:15] tao12345666333 commented on #8989
No, I will check the code again

[2022-09-01 06:51] goafabric commented on #8690
@longwuyuan
i dont know if you see the comments, because the issue is already closed
but unfortunately the issue still persists for me inside docker desktip kubernetes

"Helm charts hangs with "waiting for condition".
Ingress Controller gets into ready state 1/1 though .. but is unusable afterwards"

Did anybody verify that its working now within docker desktop ?

@Divine1
Could you verify if this

[2022-09-01 07:10] lbodtke commented on #8229
/remove-lifecycle stale

Von: Kubernetes Triage ***@***.***>
Gesendet: Dienstag, 30. August 2022 21:43
An: ***@***.***>
Cc: Lars ***@***.***>; ***@***.***>
Betreff: Re: [kubernetes/ingress-nginx] 'auth-tls-verify-client: optional' does not forward with "verify: FAILED" on expired certificate (Issue #8229)

The Kubernetes project currently lacks enough contributors to adequately respond to all issu

[2022-09-01 07:50] #8424 closed

[2022-09-01 08:57] longwuyuan commented on #8690
@goafabric, please find people to discuss this with on the kubernetes slack in the ingress-nginx-users channel.

[2022-09-01 12:48] longwuyuan commented on #8989
@hanselsen i can confirm that there is nothing to fix on the ingress-controller here. I just opened a postgresql session from laptop to a postgresql server in a pod in minikube, and the prompt did not die for more than 12 minutes.

[2022-09-01 14:00] hanselsen commented on #8989
That is unfortunate for me to hear, but good for you that there is no issue on the ingress-controller.
I am still guessing where it could go wrong however. Considering all the info we have now.

- My setup is working when the server is running in docker on a VPS.
- My setup is not working when the server is running in Azure or Minikube (k8s + ingress-controller)
- My setup is working when the clie

[2022-09-01 14:02] strongjz commented on #9002
Several things complicate matters, it looks like Bitnami updates nginx to 1.22.0 while our image is still on 1.19.10

https://github.com/kubernetes/ingress-nginx/blob/main/images/nginx/rootfs/build.sh#L21

The image is Debian-based, docker.io/bitnami/nginx-ingress-controller:1.3.0-debian-11-r18

But you can still use the kubectl ingress-nginx plugin to see what certs the ingress pod has loaded in

[2022-09-01 16:20] tao12345666333 commented on #8972
I checked the actual generated rules, the nginx.conf actually generated in the two rules is the same (the part about cafe.example.com)

[2022-09-01 17:11] longwuyuan commented on #8989
It was discussed briefly in the community meeting today. I heard yet again a re-iteration of what is known that we don't ever drop the ball on a problem.

In this case the probability that the ingress-nginx-controller does something to drop a established TCP connection after 10 minutes is highly unlikely because of the tests conducted and inferences obtained.

Willing to work with you to establish

[2022-09-01 19:31] longwuyuan commented on #8989
It was discussed briefly in the community meeting today. I heard yet again a re-iteration of what is known that we don't ever drop the ball on a problem.

In this case the probability that the ingress-nginx-controller does something to drop a established TCP connection after 10 minutes is highly unlikely because of the tests conducted and inferences obtained.

Willing to work with you to establish

[2022-09-01 20:47] sooryaveeravalli opened #9004 "Ingress-NGINX controller v1.3.0 images: getting flagged as critical vulnerable images"
What scanner and version reported the CVE?
Vulnerability Scanning and Analytics / SHA Intel team reported this on our s360 dashboard under vulnerability management.

What CVE was reported in the scanner findings?
![image](https://user-images.githubusercontent.com/89127295/188005774-5d84b775-3971-43ca-8647-b7287dffb11d.png)
We got tagged for vulnerability names 'Alpine Linux Security Update for lib

[2022-09-01 21:03] mike-pt commented on #7937
actually looks like https://github.com/kubernetes/ingress-nginx/issues/7811 already offers some feedback on this

[2022-09-01 23:13] longwuyuan commented on #9004
Fix for those CVE has merged.
Release with fixes/patches for the mentioned CVEs is expected to be GA by 4th ot 5th of September, 2022

[2022-09-02 00:40] ebar0n commented on #5690
Same issue here, any update on this?

[2022-09-02 01:21] longwuyuan commented on #5690
The original post was asking for a feature to not log messages when canary weight is 0.
The other posts here are not precise on what problem is to be solved or what new feature is being asked.

[2022-09-02 02:49] LianwMS commented on #8520
Any updated?

[2022-09-02 03:22] longwuyuan commented on #8520
Will start release process.

Thanks,
; Long

On Fri, 2 Sep, 2022, 8:19 AM Liang Wang, ***@***.***> wrote:

[2022-09-02 06:01] owaisrehman commented on #4838
Hi Everyone,
Any updates on this behavior?
I'm more interested in why it is happening?
Recently I faced this issue as well
Environment Configuration:
  base nginx version: nginx/1.19.9
  ingress-nginx controller version: v1.1.1

[2022-09-02 07:27] goafabric commented on #8690
that's honestly a very very very odd answer ...
there is still a problem with ingress-nginx and kubernetes 1.24
be it in ingress-nginx itself or some configuration missing (on my side)
but at least some clues would be nice

i also tried the helm free installation this morning via kubectl
installation needs to be poked 2 times .. than it looks like its working
but ingress endpoints never become ava

[2022-09-02 08:56] longwuyuan commented on #8690
@goafabric I have iinstalled the controller 6 times yesterday and we can assume several other people will have installed it successfully too. So that is conclusive data that the controller per-se is not broken for install.

There are less resources to track and support on github. That too on issues that are closed. Please talk in slack for better engagement on this.

[2022-09-02 09:10] herrbpl commented on #9002
https://kubernetes.github.io/ingress-nginx/kubectl-plugin/
certs Output the certificate data stored in an ingress-nginx pod

This actually gives me: **exit status 126**

[2022-09-02 13:00] #8027 closed

[2022-09-02 13:15] 905049079 opened #9007 "Error: unknown command "/nginx-ingress-controller" for "kube-webhook-certgen""
kubernetes version 1.24.4

After I execute kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.3.0/deploy/static/provider/cloud/deploy.yaml

[root@192-168-1-15 ingress-nginx]# kubectl logs ingress-nginx-controller-5c49bdcb9b-5vx65
Error: unknown command "/nginx-ingress-controller" for "kube-webhook-certgen"
Run 'kube-webhook-certgen --help' for usage.

[2022-09-02 13:35] longwuyuan commented on #9007
@905049079 the information you have posted is not enough. Please provide the information asked in the issue template and then reopen this issue.

/close

[2022-09-02 13:35] #9007 closed

[2022-09-02 14:01] vhsantos opened #9008 "manifests to controller version 1.3.0 are out of date"
**What happened**:

After a problem that only generate images to the ingress-controller [8896](https://github.com/kubernetes/ingress-nginx/pull/8896) the manifests of controller version 1.3.0 are outdat. More specific, controller is on version 1.3.0 but kube-webhook-certgen is on v1.1.1.

examples:

* [baremetal](https://github.com/kubernetes/ingress-nginx/blob/controller-v1.3.0/deploy/static/prov

[2022-09-02 14:30] herrbpl commented on #9002
Found that others are having similar issues here: https://github.com/bitnami/charts/issues/12028

[2022-09-02 14:53] Kanshiroron opened #9009 "CORS are not sent with default backend"
**What happened**:

We have a service behind an ingress that is configured to use the default backend for some custom HTTP errors. CORS configuration has also been activated.
The ingress configuration is defined as bellow:

[code]

With this configuration, we're seeing following behavior:
- if we try to access the website from another (using CORS) we do not have any issue (no pb)
- if we access th

[2022-09-02 15:33] herrbpl commented on #9002
Confirming this works by downgrading Bitnami chart to nginx-ingress-controller-9.2.28, ie

[2022-09-02 17:01] #8376 closed

[2022-09-02 17:14] strongjz commented on #9002
Someone should test this with the ingress nginx helm chart to confirm whether the issue is in ingress-nginx or the bitnami derivative.

[2022-09-02 18:07] longwuyuan commented on #9008
/remove-kind bug

This is expected. #9010 will take care of this.

/close

[2022-09-02 18:07] #9008 closed

[2022-09-02 21:37] rikatz opened #9015 "Update Chart Testing to v3.7.0 in test image"
Our chart testing version is pretty old and started to fail.

We should update it in https://github.com/kubernetes/ingress-nginx/blob/main/images/test-runner/Makefile#L49

Please leave this for a first time contributor :)

/good-first-issue
/help

[2022-09-02 21:38] rikatz commented on #9015
/triage accepted
/priority important-soon

[2022-09-03 08:06] #8177 closed

[2022-09-03 13:00] mblaschke commented on #7811
bump

[2022-09-03 13:15] longwuyuan commented on #9009
@Kanshiroron , I am just curious. Does a normal default install of a nginx webserver, without kubernetes, add CORS headers to response, when your request does not match any vhost config ?

[2022-09-03 14:49] DataMinded commented on #8520
The controller-v1.3.1 does not contain any CVE's according to Prisma Cloud , Yay
Now we wait for a chart release

[2022-09-03 16:35] esigo opened #9016 "OpenTelemetry module"
This issue is for tracking the steps needed to be taken for using OpenTelemetry.

Currently, the OpenTelemetry compilation is done in #8585, but there is still one issue for loading the module (the init container copies the needed files to a wrong path).

Here is the list of steps:
1. implement loading the image with the controller (fix the init container path).
2. integration
3. user-interface.
4

[2022-09-03 16:35] esigo commented on #9016
Please assign the issue to me.

[2022-09-03 16:56] longwuyuan commented on #9016
You can just type & post  `/assign`

[2022-09-03 16:57] longwuyuan commented on #9016
And we need to add collector code and collector compilation to the Otel bits in Makefile, I am guessing. Or is that pluggable.

[2022-09-03 17:02] longwuyuan commented on #9016
And remove currently integrated bits of opentracing, jaeger, zipkin etc.

[2022-09-03 17:19] esigo commented on #9016
/assign

[2022-09-03 17:20] esigo commented on #9016
No, We don't need to change the Makefile. Everything is in init image.

[2022-09-03 17:44] fourstepper commented on #8555
Not rotten or stale

[2022-09-03 23:15] #8109 closed

[2022-09-04 02:11] longwuyuan commented on #9016
Will wait for your PR. You can begin the title with string "WIP" to indicate work-in-progress if you like. Looking forward to see your design

[2022-09-04 08:20] #8412 closed

[2022-09-04 09:09] goafabric commented on #8690
just for the people that may stumble here .. i found a workaround for my
docker desktop problem ... on apple silicon
it seems in later versions of docker desktop (4.11+)
the installation of the loadbalancer service of nginx can hang, because of not getting an ip or the port beeing blocked
this will be indicated by <pending> for the external ip

in this case cleanly uninstall ingress-nginx
and stop

[2022-09-04 14:50] mblaschke commented on #8027
/reopen

[2022-09-04 23:31] fernandes-natanael commented on #8384
/unassing

[2022-09-04 23:31] fernandes-natanael commented on #8384
/unassign

[2022-09-05 00:36] fred214 commented on #8932
Hi, do we have any plan to release the docker image with the Golang version udpate? we rely on the image released by community.

[2022-09-05 05:23] surbhiahuja commented on #9015
/assign @surbhiahuja

[2022-09-05 06:31] #8439 closed

[2022-09-05 06:54] robert-heinzmann-logmein commented on #7118
It seems 1.25 is out, so this looks unblocked.

[2022-09-05 06:57] herrbpl commented on #9002
Just confirming that issue persists with bitnami ngix-ingress-controller version 9.3.6:
- nginx ingress controller image bitnami/bitnami/nginx-ingress-controller:1.3.1-debian-11-r0
- backend image bitnami/nginx:1.22.0-debian-11-r34

[2022-09-05 07:03] surbhiahuja commented on #9015
@rikatz , seems chart testing version is already updated and merged in main.

[2022-09-05 07:08] longwuyuan commented on #8025
https://kubernetes.slack.com/archives/C021E147ZA4/p1662342800123939

[2022-09-05 07:28] herrbpl commented on #9002
Apparently, Bitnami is using VMware stacksmith to build their images and there is no repeatability actually for outsider to really build their images from source code. There is no way to verify that their controller has built from this code here. Its basically VMWare now. Dissappointing. Swapping.

[2022-09-05 07:40] vhsantos commented on #9008
Hey @longwuyuan thanks for your quick response.

I saw that the new version have been released and that the two images on the manifest make reference to the same version.
Nevertheless, should the [manifest v1.3.1](https://github.com/kubernetes/ingress-nginx/blob/tag-1.3.1/deploy/static/provider/baremetal/deploy.yaml) make reference to version 1.3.1 and not version 1.3.0 ??

[2022-09-05 08:49] longwuyuan commented on #8932
https://github.com/kubernetes/ingress-nginx/pull/9014

[2022-09-05 08:50] longwuyuan commented on #8690
:pray:

[2022-09-05 09:10] tao12345666333 commented on #9015
Thanks!

#9000 has been merged. I will close this one.

/close

[2022-09-05 09:10] #9015 closed

[2022-09-05 11:02] #8722 closed

[2022-09-05 13:03] msteiger commented on #3878
I'd be super interested in this issue getting fixed .. until now, I wasn't able to get it working with the workaround you refer to. Can you provide more details, please?

[2022-09-05 13:14] surbhiahuja commented on #8990
Can we please close the issue if no more work is required to be done on this one? I am trying to find my first PR, but due to such open/unmerged PRs, I am getting confused to pick the right one for me :)

[2022-09-05 13:32] surbhiahuja commented on #8922
@liucx1201 , May be this can help:
Using config-map, can help to add keep-alive:timeout
_kind: ConfigMap
apiVersion: v1
metadata:
  name: nginx-configuration
  namespace: ingress-nginx
  labels:
    app.kubernetes.io/name: ingress-nginx
    app.kubernetes.io/part-of: ingress-nginx
data:
  proxy-connect-timeout: "10s"
  proxy-read-timeout: "10s"
  client-max-body-size: "2m"
  keep-alive-requests: "

[2022-09-05 16:32] #8448 closed

[2022-09-05 16:44] tshaiman commented on #9004
tag in the new Helm chart (4.2.4 ) is still
tag: "v1.3.0"

[2022-09-05 18:57] longwuyuan commented on #9004
Its being fixed in https://github.com/kubernetes/ingress-nginx/pull/9023
The image and its sha is visible in the static manifests though. Under the deploy directory. Please check against that and close this issue or update fresh results. Thank a lot for reporting this.

[2022-09-05 19:12] longwuyuan commented on #9016
@esigo since that PR merrged, we will get image with LD_LIB_PATH. That is good for loading. But can you write here on in that other PR about the collector. Is it already compiled and ready for use with the current build ? If yes, is that also under the same /mount....... path ?

[2022-09-05 19:26] esigo commented on #9016
The collector has to be managed by the user. I have a sample here:
https://github.com/esigo/ingress-nginx/blob/dev2/tst/backend.sh
and here:
https://github.com/esigo/ingress-nginx/blob/dev2/tst/collector.yaml

[2022-09-06 04:22] souravsekhar commented on #8996
@longwuyuan - Based on the linked issue #8989 , there's nothing to be fixed in ingress-controller. However, I continue to see this issue at my side on an AWS EKS cluster.
Any suggestions here?

[2022-09-06 05:41] nofacer commented on #8504
Same here. Randomly got 503 but there's no releated logs in nginx-ingress-controller. After restarting it everything works fine. And after some days this will happen again.

[2022-09-06 06:03] longwuyuan commented on #8996
We released controller v1.3.1 and the leader election is done with lease-api now instead of a configmap.

If you can test the latest controller with a default install, making sure not to change or tweak anything, then it will be a useful base to work from. Need to see data from a default install of the latest controller in all detail and not just a few lines of logs.

[2022-09-06 09:33] Yongci commented on #8476
If your working host is an M1 chip, you must specify the architecture linux/amd64 when pulling the image

[2022-09-06 09:58] bmv126 commented on #8996
hi @souravsekhar
How often are you seeing these error messages ?
And is it only for ingress-nginx pod or other pods in the cluster which has interaction with api server having these errors ?

[2022-09-06 11:16] souravsekhar commented on #8996
Hi @bmv126, the errors are not frequent, once/twice in a week. And, yes I am seeing similar errors in aws-lb-controller pods
![image](https://user-images.githubusercontent.com/30226357/188622561-b3905ea7-07b3-44bf-80a2-680752a539f8.png)

[2022-09-06 13:30] strongjz commented on #9004
These CVE are resolved in the 1.3.1 release.

/close

[2022-09-06 13:30] #9004 closed

[2022-09-06 13:32] strongjz commented on #9016
/triage accepted
/priority backlog
/kind feature

[2022-09-06 13:33] strongjz commented on #9002
/close

Per @herrbpl comments

[2022-09-06 13:34] strongjz commented on #8990
/close

[2022-09-06 13:34] #8990 closed

[2022-09-06 13:35] strongjz commented on #8997
/close

This is resolved in the latest release, 1.3.1

[2022-09-06 13:35] #8997 closed

[2022-09-06 13:58] denissabramovs opened #9027 "Upgrade nginx lua module"
Check for recent changes: https://github.com/openresty/lua-nginx-module/compare/v0.10.20...master
export LUA_NGX_VERSION=b721656a9127255003b696b42ccc871c7ec18d59

Newer version of lua-nginx-module provides functionality to attach tls/ssl cert and key for ssl handshake.
In current version used in nginx here, it is not included, because it is about a year~ old.
It is time to upgrade i think.

Thank

[2022-09-06 17:43] #8433 closed

[2022-09-06 20:39] chaosun-abnormalsecurity commented on #8487
Any update on this please? Thanks!

[2022-09-06 21:02] nithril opened #9029 "if both http2 and proxy-buffering are configured, then download stalls"
**What happened**:

Download request of large file hangs when http2 and proxy-buffering are enabled on the ingress. There is no error message, the download progress simply stop.

It only happens with the combinaison of those 2 parameters

**What you expected to happen**:

**NGINX Ingress controller version** (exec into the pod and run nginx-ingress-controller --version.):
[code]

**Kubernetes vers

[2022-09-06 22:16] strongjz commented on #8487
It looks like there is an openrusty version,[1.21.4.1](https://openresty.org/en/ann-1021004001.html), that supports 1.21

Based on a very recent mainline [NGINX](https://openresty.org/en/nginx.html) core 1.21.4

https://openresty.org/en/ann-1021004001.html

Is that what we need to use to update? @tao12345666333 @rikatz

[2022-09-06 22:27] longwuyuan commented on #9029
@nithril if there is a problem with the ingress-nginx-controller that causes this download problem, then you should be able to easily reproduce this on minikube or kind cluster.

Is it possible for you to kindly test on a minikube or kind cluster and write down the step by step instruction to reproduce the problem for others to copy/paste on their minikube/kind cluster and debug the same download

[2022-09-06 23:09] longwuyuan commented on #9009
/help

[2022-09-06 23:32] tao12345666333 commented on #8487
yes! I'm working on this

[2022-09-07 06:01] TomKeyte opened #9030 "Specifying ingress resource defaultBackend no longer works and endpoints return 404"
**What happened**:
I use a defaultBackend specified on an ingress resource as a "fallback" option for the LB endpoint (and anything CNAME'd to it), which is just a service that redirects a user elsewhere.
After upgrading to the helm chart v4.2.5, the default backend specified in the ingress resource no longer works, and instead I see an nginx 404 page

**What you expected to happen**:
Continue for

[2022-09-07 06:30] nithril commented on #9029
@longwuyuan , I have added the instruction on my github repository: https://github.com/nithril/http2-nginx/tree/main/

Please let me know if you need more information

[2022-09-07 06:53] longwuyuan commented on #9029
@nithril I think we need a more precise description of the problem.

I download your pdf from a cluster created using kind. And all default configuration of ingress-nginx-controller. The file downloaded in 1 second or less. This is all default config of controller, default curl command with no rate-limit and from a kind cluster and the pod I am downloading from is a nginx:alpine based pod. I just

[2022-09-07 07:08] longwuyuan commented on #9030
@TomKeyte something seems not right right upfront. Your post shows controller version 1.3.0 but the chart version 4.2.5 is ships controller version 1.3.1

/remove-kind bug

[2022-09-07 07:17] longwuyuan commented on #9030
ah  its our problem. I see you typed chart version 4.2.5 but the `helm ls -A` output you posted shows you are running chart v4.2.4.

Chart version 4.2.4 is buggy. Please upgrade to chart version 4.2.5 and update status. You need to run `helm repo update` on your helm client or whatever automation is installing the chart.

[2022-09-07 07:25] TomKeyte commented on #9030
Apologies, the bug occurs on chart version 4.2.5
I downgraded to 4.2.4 to fix this issue (Which disappeared after downgrading)

[2022-09-07 07:37] nithril commented on #9029
@longwuyuan as described in the issue, the rate limit is a key factor to reproduce the issue on fast connectivity.

Moreover did you enabled http2 and proxy buffering?

[2022-09-07 07:40] adiii717 commented on #5401
correct, and this resolved issue for me on EKS 1.23
https://github.com/terraform-aws-modules/terraform-aws-eks#input_node_security_group_additional_rules

[2022-09-07 08:06] longwuyuan commented on #9030
Odd. Need to check where it originates from.

Can you please reproduce this on minikube/kind ?  If bugs shows up on minikube/kind cluster, then request you to kindly write a step by step instruction procedure that someone can use to copy/paste in their own minikube/kind cluster.

I Will check if there is any directly related to defaultbackend PR after v1.3.0

[2022-09-07 08:20] tosi3k commented on #6017
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-09-07 08:21] longwuyuan commented on #9029
Ah, I see I did not enable http2 or proxy buffering. And I now realize that you are reporting a problem in download, when these two changes are made to default.

I also see that there is yaml for the controller deployment. However it has cosmetic as well as non-cosmetic differences with the yaml that the project publishes. So now the work is to verify and validate all things that are modified in y

[2022-09-07 08:38] nithril commented on #9029
We tested as well with helm by using that values:
[code]

Do you need something more?

[2022-09-07 08:40] longwuyuan commented on #9029
I will try to reproduce with http2 and proxy-buffering on and update

[2022-09-07 09:18] longwuyuan commented on #9029
yes, I can reproduce that the download does not complete
![image](https://user-images.githubusercontent.com/5085914/188840607-8c4b7e4a-b900-4b33-ba5c-816952ada7e5.png)

So the info now available is that the total size of download is equal to the file size. That makes me think that this problem is linked to the proxy_buffer handling in http2. Something around locks or maybe the http2 protocol has s

[2022-09-07 09:21] longwuyuan commented on #9029
cc @rikatz @tao12345666333

[2022-09-07 13:08] strongjz commented on #9027
It is being investigated and tested by @tao12345666333

/assign @tao12345666333
/priority backlog
/triage accepted

[2022-09-07 13:10] tao12345666333 commented on #9027
yes. I will finish it ASAP

[2022-09-07 13:10] strongjz commented on #8653
/assign @tao12345666333

There are several issues related to this and @tao12345666333 is working on the upgrade.

[2022-09-07 16:57] #8212 closed

[2022-09-07 22:02] #8362 closed

[2022-09-07 22:46] DataMinded commented on #8520
Guess we can close this issue now,

controller-v1.3.1 / helm-chart-4.2.5 resolves the CVE's addressed in OP

Thanks for all the help & comments

[2022-09-07 22:46] #8520 closed

[2022-09-08 08:24] stephan2012 opened #9031 "Continued support for leader election transition logic"
The release notes for v1.3.1 state:

From an operational perspective, it is rather impractical to enforce a rollout of v1.3.0 before upgrading to a more recent version. Also, a breaking change in a _patch version_ does not comply with semantic versioning and is thus somewhat unexpected.

I would love to see continued support for the transition logic for at least two minor releases to allow for smo

[2022-09-08 09:33] tao12345666333 commented on #9031
Normally yes, semantically we shouldn't introduce any breaking changes.
The reality is that we are currently in a `stabilization project and feature request freeze` period [1], and we are indeed doing some updates and some important fixes.
But at the same time, we also found that we need to release a new version and push out some bugfixes.

In previous community meetings we discussed cherry-pickin

[2022-09-08 09:54] stephan2012 commented on #9031
@tao12345666333, your statement stresses that the transition logic should be carried on for new releases. It is normal to pick the latest bugfix release from a minor release branch and don’t waste time with a transition release.

[2022-09-08 10:03] longwuyuan commented on #9031
@stephan2012 there are multiple factors. Ideal situations have resources, opportunities and choices in more abundance. Just saying things are not ideal all the time and also saying that tremendous effort did go in. Deprecation of APIs in upstream K8S KEP, Number of Developers available, Timing and Process are some factors influencing the roadmap and delivery.

[2022-09-08 12:17] vadlakiran opened #9032 "port 80 is already in use. Please check the flag --http-port"
<!--

Welcome to ingress-nginx!  For a smooth issue process, try to answer the following questions.
Don't worry if they're not all applicable; just try to include what you can :-).
More info helps better understanding of the issue (needless to say).

-------------------------------------------------------------------------------
NGINX Ingress controller
  Release:       v1.1.1
  Build:         git

[2022-09-08 12:30] longwuyuan commented on #9032
Please answer the questions asked in the issue-template and then re-open the issue
/close

[2022-09-08 12:30] #9032 closed

[2022-09-08 14:55] kuzaxak commented on #8437
@longwuyuan I can confirm that on the latest image `gcr.io/k8s-staging-ingress-nginx/opentelemetry:v20220906-controller-v1.3.1-3-g981ce38a7` problem with `libopentelemetry_exporter_otlp_grpc.so` is reproducible.

[2022-09-08 14:58] longwuyuan commented on #8437
The new openteemetry image with the fixes has not been published yet. Hope to get it published in a day or 2.

[2022-09-08 15:23] longwuyuan commented on #9016
@esigo Please test this image after path fix
[code]

Based on your update, we can promote it or do other needful

[2022-09-08 15:26] longwuyuan commented on #8437
[code]
But not published yet and not even tested if its ok so if you want you can test

[2022-09-08 15:27] longwuyuan commented on #8437
@kuzaxak This issue is closed. Please track all opentelemetry things in https://github.com/kubernetes/ingress-nginx/issues/9016

[2022-09-08 15:45] longwuyuan commented on #9031
Non-authoritative guess of reason is that the implications are not feasible/viable choices/options to even consider, based on multiple factors.

[2022-09-08 15:59] kuzaxak commented on #8437
I tested exactly the same image, and it isn't working `gcr.io/k8s-staging-ingress-nginx/opentelemetry:v20220906-controller-v1.3.1-3-g981ce38a7`

[2022-09-08 16:00] kuzaxak commented on #9016
`gcr.io/k8s-staging-ingress-nginx/opentelemetry:v20220906-controller-v1.3.1-3-g981ce38a7` has the same error, can't load grpc module when enabling `load_module /modules_mount/etc/nginx/modules/otel/otel_ngx_module.so`

[2022-09-08 16:33] rainbowMorelhahahah commented on #4003
How do you solve

[2022-09-08 16:34] esigo commented on #9016
Hi @longwuyuan,
Thanks, it works.
Would it be possible to show me how you promote the image? Thanks

nginx.conf:
![image](https://user-images.githubusercontent.com/71217171/189175553-13aaacee-a7c3-4f42-ad44-e82dc6ad7f0c.png)

opentelemetry image:
![image](https://user-images.githubusercontent.com/71217171/189176819-7a93e225-0b2f-4e0c-a42e-d9ccfc7bbc82.png)

file on disk:
![image](https://user-imag

[2022-09-08 16:38] kuzaxak commented on #9016
<img width="1933" alt="Screen Shot 2022-09-08 at 19 37 58" src="https://user-images.githubusercontent.com/5330267/189177791-067cdbf3-0a1a-490d-ad40-35bb6d0dbe54.png">
<img width="728" alt="Screen Shot 2022-09-08 at 19 36 51" src="https://user-images.githubusercontent.com/5330267/189177807-6ec2ea94-bfef-453a-8699-c9c5d932d178.png">

[2022-09-08 16:41] longwuyuan commented on #9016
@kuzaxak you are using image built on 6th. The new image s built on 7th.

[2022-09-08 16:44] rexleimo opened #9033 "Proxy grpc path have prefix , no work !!!"
[code]

my proto

[code]

The test way

![image](https://user-images.githubusercontent.com/11493796/189179108-122f07f0-5369-41d2-a652-c41bc13ae972.png)

[2022-09-08 16:49] esigo commented on #9016
@kuzaxak your line 76 doesn't copy all the files that are needed.

[2022-09-08 17:16] kuzaxak commented on #9016
Let me clarify, extension is operational with my image: `public.ecr.aws/xqdo/x-qdo/opentelemetry:otel-b3multi-1.3.1-1`. I build extension with linking all dependencies inside one file. In that setup, you have only one `.so` file.

At the same time image, `gcr.io/k8s-staging-ingress-nginx/opentelemetry:v20220906-controller-v1.3.1-3-g981ce38a7` isn't working for me due to linked dependency search pa