[2021-05-21 08:36] #7151 closed

[2021-05-21 08:36] cristianburca commented on #2650
what was the issue here?

[2021-05-21 13:07] databus23 commented on #5701
Its not clear to me why this was closed. looking at the current nginx template its not obvious to me how the `X-Forwarded-Host` header can be preserved. It seems to me the header is always set to the host of ingress rule or maybe the `custom-nginx-upstream-vhost` setting. But to me this is not the same as being able to preserve the header from another downstream proxy. In my case I don't know the

[2021-05-21 14:36] #6663 closed

[2021-05-21 15:11] databus23 commented on #5701
Its not clear to me why this was closed. looking at the current nginx template its not obvious to me how the X-Forwarded-Host header can be preserved. It seems to me the header is always set to the host of ingress rule or maybe the custom-nginx-upstream-vhost setting. But to me this is not the same as being able to preserve the header from another downstream proxy. In my case I don't know the host

[2021-05-22 11:37] #6165 closed

[2021-05-22 17:46] kevgrig opened #7153 "ingress-nginx intermittently serves the default certificate instead of a configured tls certificate for rules without a host"
**NGINX Ingress controller version**:

Installed with the [Digital Ocean NGINX Ingress Controller 1-Click App](https://marketplace.digitalocean.com/apps/nginx-ingress-controller). Looks to be NGINX 0.44.0 through the 3.23.0 Helm chart:

`$ kubectl get deployment ingress-nginx-controller --namespace=ingress-nginx -o jsonpath='{.metadata.labels}'
{"app.kubernetes.io/component":"controller","app.kube

[2021-05-22 23:27] rgeraskin opened #7154 "Error while installing kubectl plugin with Apple M1 chip"
**NGINX Ingress controller version**: na

**Kubernetes version** (use `kubectl version`): v1.21.0

**Environment**:

- **Cloud provider or hardware configuration**: Apple M1
- **OS** (e.g. from /etc/os-release): macOs Big Sur 11.3.1
- **Kernel** (e.g. `uname -a`): Darwin Romans-Air.lan 20.4.0 Darwin Kernel Version 20.4.0: Thu Apr 22 21:46:41 PDT 2021; root:xnu-7195.101.2~1/RELEASE_ARM64_T8101 arm6

[2021-05-23 03:16] rikatz commented on #7145
Agreed with Antonio

Let's discuss this on our next meeting. I'll try to attend as well.

I know, as a user that it might be hard to see things getting deprecated but also this will make the code maintenance and evolution much better, as now we have a GA API that is around there for a while.

[2021-05-23 03:16] rikatz commented on #7145
/assign

[2021-05-23 05:18] lucasmaj commented on #5270
Any update on this?

[2021-05-23 07:34] gamunu commented on #6928
@thirdeyenick the SIGTERM is for the nginx controller process not nginx itself. Nginx controller issues SIGQUIT to the nginx process. https://github.com/kubernetes/ingress-nginx/blob/59a7f51cd4f0c41f214c520ca8b2a502946ed08e/internal/ingress/controller/nginx.go#L397

[2021-05-23 12:04] kevgrig commented on #7153
Tried a new cluster with a static manifest for 0.46.0 instead of the 1-Click App and it's the same problem:

[code]

[2021-05-23 15:51] #6931 closed

[2021-05-23 16:07] #6991 closed

[2021-05-23 18:49] toredash commented on #7097
What app is my-app? For node/express for instance, you need to use http-terminator (https://www.npmjs.com/package/http-terminator). I would not be surprised that this is an issue with your app terminating the http connections when it receives SIGTERM, instead of gracefully shutting down the connections.

Quick fix could be adding a lifecycle preStop hook on your my-app deployment and sleep for 60s

[2021-05-23 18:51] toredash commented on #7111
Difficult to help without the config or server block for that ingress

[2021-05-23 19:14] toredash commented on #6921
You service would need to support the PROXY protocol, and you need to enable it in your Ingress as well: https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/

[2021-05-23 22:44] mattduguid opened #7157 "first validating webhook "ingress-nginx-admission" appears to deploy into an empty namespace causing subsequent deployments to fail"
Attempting to install multiple ingress controllers and have made use of "controller.ingressClass" but the validating webhook appears to deploy into an empty namespace so first one works and second one fails as it conflicts, is there a parameter I've missed?

First one works fine,

_kubectl create namespace "helloworld1"
helm install "ingress-nginx" ingress-nginx/ingress-nginx --namespace "hellowor

[2021-05-24 02:23] zhaogaolong commented on #7091
no error logs in ingress-nginx.

I found the cause of the problem, I have a very large number of services and pods (2w+), resulting in a very large synchronization timing synchronization buckends cjson.decode time, which in turn increases the delay of p95 and p99

[2021-05-24 04:51] mattduguid commented on #7157
Rebuilt the k8s cluster and issue no longer a problem so suspect something lingering, I did need to use the following still to prevent conflict

helm install "ingress-nginx-helloworld1"...
helm install "ingress-nginx-helloworld2"...

[2021-05-24 04:51] #7157 closed

[2021-05-24 05:35] piyush94 commented on #7142
@tokers I typed that from my phone that's why it looks like that. Actually I found the issue to be with Rancher. Rancher seems to be adding single quotes around the HTTPS for some reason.
`nginx.ingress.kubernetes.io/backend-protocol: '"HTTPS"'`

After i edited the resource and removed the single quotes. It started working.
`nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"`

Thanks.

[2021-05-24 06:38] phuongTP1998 commented on #5886
I am getting the same issue

[2021-05-24 08:04] irbekrm commented on #7153
Hi @kevgrig ,

Thanks for opening the issue and all the detailed logs.

Have you checked the `Secret` that `cert-manager` creates?
Perhaps you could try to create a new ingress with the `Secret` pre-existing and see if the correct cert gets served. That would exclude the possibility that there is something wrong with the cert.

`cert-manager` won't do anything to force the ingress to serve the new

[2021-05-24 09:34] tokers commented on #7142
@piyush94 Got it.

[2021-05-24 09:34] tokers commented on #7142
Now it's time to close this issue @tao12345666333

[2021-05-24 11:53] Shubhamnegi commented on #668
Mine worked after updating  ingress-nginx-controller service. Updated targetPort for port 80 to http from tohttps
[code]

[2021-05-24 15:52] ShadyF opened #7158 "Azure public static IP gets deleted when uninstalling using helm"
**NGINX Ingress controller version**: v0.46.0 (Helm Chart v3.31.0)

**Kubernetes version** (use `kubectl version`): 1.20.5

**Environment**:

- **Cloud provider or hardware configuration**: Azure / AKS
- **Install tools**: Helm

**What happened**:
Installed `ingress-nginx` using `helm` on an AKS cluster and specified the loadBalancerIP to be a public static IP created beforehand.

Afterwards, unin

[2021-05-24 16:19] gamunu commented on #6883
@hameno apparently this is not properly documented. You have to escape commas/special characters when you use set parameters with helm.
eg:
`Name=abc\,env=stg`

https://helm.sh/docs/intro/using_helm/

[2021-05-24 17:32] elsbrock commented on #7120
![grafik](https://user-images.githubusercontent.com/77769/119385683-c9caf500-bcc6-11eb-9d85-6801fb46bf33.png)
same applies for 404s

[2021-05-24 18:51] wasker commented on #7158
I'd recommend opening bug on Azure/AKS. They had a number of issues with k8s v1.20+ treating pre-created static IP addresses as if AKS itself owns them.

An example of such issue: https://github.com/Azure/AKS/issues/2290

This issue might fall into the similar category of issues. I'd also recommend reproducing this problem with AKS v1.19 or earlier, because it looks like these problems cropped up

[2021-05-25 00:27] kfox1111 opened #7159 "helm, --namespace with --tcp-services-configmap."
**NGINX Ingress controller version**:
Helm chart version:
version: 3.23.0
ingress-nginx:
0.44.0

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.10", GitCommit:"98d5dc5d36d34a7ee13368a7893dcb400ec4e566", GitTreeState:"clean", BuildDate:"2021-04-15T03:20:25Z", GoVersion:"go1.15.10", Compiler:"gc", Platform:"linux/amd64"}

**Envir

[2021-05-25 07:21] thirdeyenick commented on #6928
Thank you very much for the information. This means that zero downtime deployments are already implemented, right?

[2021-05-25 07:30] azkore opened #7160 "Inconsistent logging of ip addresses with proxy protocol enabled"
**NGINX Ingress controller version**:

0.43.0

**Kubernetes version** (use `kubectl version`):

1.20.7

**Environment**:

- **Cloud provider or hardware configuration**:

AWS

- **OS** (e.g. from /etc/os-release):

Ubuntu 20.04.2

- **Kernel** (e.g. `uname -a`):

5.4.0-1048-aws #50-Ubuntu

**What happened**:

When proxy protocol enabled, requests not reaching any of ingresses (for example the ones

[2021-05-25 10:00] toredash commented on #7160
Is the ELB configured with proxy support? https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.1/guide/service/annotations/#proxy-protocol-v2

[2021-05-25 12:49] strongjz commented on #6237
/assign @tokers

[2021-05-25 15:55] #6433 closed

[2021-05-25 20:10] oxr463 commented on #6905
/remove-lifecycle stale

[2021-05-26 01:48] tokers commented on #6237
I'll submit a PR  as soon as possible, too hectic these days :(

[2021-05-26 01:53] tokers opened #7162 "multiple-cors-allow-origin support is incorrect, only one Origin header can be set"
**NGINX Ingress controller version**: latest master

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

The  multiple-cors-allow-origin support is pathological, only one Origin header can set.

See https://deve

[2021-05-26 03:17] tokers commented on #7162
Just use `map` is not suitable in ingress-nginx as it can be used only in `http` context, Cors settings are in location block.

[2021-05-26 07:00] icebearwen opened #7163 "Error generating self-signed certificate: could not create temp pem file /etc/ingress-controller/ssl/default-fake-certificate.pem: open /etc/ingress-controller/ssl/default-fake-certificate.pem675068813: permission denied"
sudo kubectl -n ingress-nginx  get po  -o wide
NAME                                                               READY   STATUS            RESTARTS    AGE   NODE
default-http-backend-7fd5d4f665-mtb6q   1/1          Running  	          0                 14m   node03
nginx-ingress-controller-htlst                        0/1     CrashLoopBackOff  7                 14m   node01
nginx-ingress-controll

[2021-05-26 07:34] azkore commented on #7160
@toredash yes, definitely, proxy protocol works and real ip addresses are there for all ingresses, it's just the logging part is missing in the default configuration

btw, isn't the proxy protocol on ELB configured automatically by the nginx controller itself if the controll is configured with use-proxy-protocol: "true" ?

[2021-05-26 08:16] foxylion opened #7164 "Update nginx to mitigate CVE-2021-23017"
**NGINX Ingress controller version**: 0.46.0
**Kubernetes version**: 1.20.5
**Environment**: (not relevant)

**What happened**:

Nginx published a [blog post](https://www.nginx.com/blog/updating-nginx-dns-resolver-vulnerability-cve-2021-23017/) that they fixed a security vulnerability in Nginx that might also affect the ingress-nginx controller.

**What you expected to happen**:

Update of the ngi

[2021-05-26 08:33] d-colwell commented on #5932
I am getting the same issues in AKS on k8s version 1.19

[2021-05-26 09:45] toredash commented on #7160
Oh is just the logging part ? Then you just need to configure it: https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#log-format-upstream

The proxy protocol setup should work out of the box.

More info here: https://docs.nginx.com/nginx/admin-guide/load-balancer/using-proxy-protocol/#changing-the-load-balancer-s-ip-address-to-the-client-ip-address

[2021-05-26 09:48] ofiry-tm opened #7166 "K8S Ingress controller redirect to the wrong path"
**NGINX Ingress controller version**:
nginx ingress controller helm chart version: 3.30.0 (app version: 0.46.0)

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.0", GitCommit:"641856db18352033a0d96dbc99153fa3b27298e5", GitTreeState:"clean", BuildDate:"2019-03-25T15:53:57Z", GoVersion:"go1.12.1", Compiler:"gc", Platform:"linux/am

[2021-05-26 10:26] longwuyuan commented on #7166
create one more ingress rule

Thanks,
; Long

On 26/05/21 3:18 pm, ofiry-tm wrote:

[2021-05-26 11:03] ofiry-tm commented on #7166
@longwuyuan  what do you mean ?

[2021-05-26 13:59] ofiry-tm commented on #7166
Thanks to my co-worker, we found a solution for the problem:

The solution is to add these annotations to the ingess resource:
[code]

meaning:

[code]

The issue was resolved.

[2021-05-26 14:00] #7166 closed

[2021-05-26 14:05] longwuyuan commented on #7166
When you yourself use annotation and redirect to /$2, I am not sure why you have the expectation you described as ;

[code]
maybe I am missing something.....

If you want a request without the "my-app" string in it ... then create another ingress object that does not do any redirection but looks for path _/some-path/_ and configure its backend also as _my-app-svc_

Or use the app-root annotation s

[2021-05-26 15:03] VGerris commented on #6773
Hi, any updates? If only just to fix documentation.

[2021-05-26 15:19] shanky53 opened #7167 "ingress object with host specific client certificate authentication"
/kind feature

Hello!

Feature to set nginx.ingress.kubernetes.io/auth-tls-verify-client (and possibly other client cert related annotations) host specific?

I have an app whose ingress object is defined as follows:

[code]

And the ingress in the helm chart looks like:

[code]

I would like to enforce client certificate authentication on mtls.myapp.local and not enforce it on tls.myapp.local
Righ

[2021-05-26 20:46] pgeez commented on #6061
/remove-lifecycle stale

[2021-05-26 21:56] azkore commented on #7160
Thanks, I will try log-format-upstream.

But the thing is - no additional configuration is required for any of ingresses, real ip addresses are shown in the logs when accessing them via the same ingress controller. It's just the requests that don't reach any of the ingresses (for example the ones ending in HTTP 400) show the load balancer ip instead.

That's why I think it is inconsistent. Would i

[2021-05-26 22:13] azkore commented on #7160
Here is the condition that ensures that real ip addresses are logged for all ingresses: https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L404-L410

But the same logic is missing here: https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L352

[2021-05-27 03:39] gopiextrahop commented on #6303
@aledbf I don't see this fix being in any of the releases. Looking at the changelog https://github.com/kubernetes/ingress-nginx/blob/master/Changelog.md I don't see https://github.com/kubernetes/ingress-nginx/pull/6306 as having made into any of the releases.

[2021-05-27 03:40] gopiextrahop commented on #6696
@aledbf I don't see this fix being in any of the releases. Looking at the changelog https://github.com/kubernetes/ingress-nginx/blob/master/Changelog.md I don't see https://github.com/kubernetes/ingress-nginx/pull/6697 as having made into any of the releases. I still see this issue in v0.43.0

[2021-05-27 05:44] gopiextrahop commented on #6303
I also ran into this issue. But then I updated to v0.46.0 and ran into a permission issue. I had to update my Cluster Role to add get to the `""` API group.
[code]

[2021-05-27 05:55] toredash commented on #7167
You would need to split the ingress in two:
[code]

[2021-05-27 06:00] gopiextrahop commented on #6696
I ran into a similar issue
[code]

I had to update my Cluster Role for ingress to add `get` to the `""` API group.
[code]

[2021-05-27 06:42] gopiextrahop opened #7170 "RBAC: Need to add "get" verb - pod resource - default API group - for nginx-ingress-clusterrole"
**NGINX Ingress controller version**: 0.46.0

**Kubernetes version** (use `kubectl version`): 1.18.12

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): NAME="Ubuntu"
VERSION="20.04.1 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.1 LTS"
VERSION_ID="20.04"

- **Kernel** (e.g. `uname -a`): Linux ip-172-20-27-12 5.4.0-1

[2021-05-27 07:38] cskarby commented on #7164
Hello. I tested to upgrade nginx to v1.21.0 by updating images/nginx/rootfs/build.sh (line 21 and 124), build the base image, publish to an alternative registry path, and then modify the BASE_IMAGE variable in the Makefile and build the controller. I've tested it and it works in my setup. However it will take time to get our legal advisor to approve the CLA, so don't wait for that, but the changes

[2021-05-27 07:46] longwuyuan commented on #7164
Nice to see useful info.

There is a lot going on that is related and non-trivial so maybe wait
till someone updates I guess.

Thanks,
; Long

On 27/05/21 1:09 pm, Christian Skarby wrote:

[2021-05-27 08:04] mstoetzer opened #7172 "May we add the nginx version to the changelog or in a version table?"
As the title states, it would be great to see, which nginx version is acutally used without needing to type

`docker run --rm k8s.gcr.io/ingress-nginx/controller:v0.46.0 nginx -version`

[2021-05-27 08:53] toredash commented on #7170
Are you by any chance trying to route traffic to a Service located in the namespace `kube-system`?

And in what namespace is your controller running in?

https://kubernetes.github.io/ingress-nginx/deploy/rbac/

It seems you have allowed nginx to read all secrets from the Cluster as a whole with that change, and I assume that was not your intention ?

[2021-05-27 09:42] evredinka commented on #6178
/remove-lifecycle stale

[2021-05-27 09:42] evredinka commented on #6178
/remove-lifecycle rotten

[2021-05-27 10:01] serhiiromaniuk commented on #6853
Hello there. But how to come up with multiple domains in a single ingress resource? I am still facing that strange thing on new resources, after platform upgrade.

[2021-05-27 10:20] serhiiromaniuk commented on #6853
My tmp fix is following new ingress resource >
[code]

[2021-05-27 10:21] pentago opened #7173 "Chart is broken"
Installing vanilla chart on fresh k3d cluster with:

`helm upgrade -i ingress-nginx ingress-nginx/ingress-nginx -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/charts/ingress-nginx/values.yaml

Release "ingress-nginx" does not exist. Installing it now.

Error: failed pre-install: timed out waiting for the condition

$ kubectl get pods
NAME                                   REA

[2021-05-27 10:37] longwuyuan commented on #7173
That is not even the documented installation command so you are on your own.

Did you attempt the documented install command.

Thanks,
; Long

On 27/05/21 3:51 pm, Goran wrote:

[2021-05-27 10:39] pentago commented on #7173
I don't think you have a clue what you're saying.

[2021-05-27 10:42] longwuyuan commented on #7173
Your installation attempt shows what clues you have.

Would you care to provide more information like below command outputs or
is that not possible;

helm repo list

helm repo search ingress-nginx

Thanks,
; Long

On 27/05/21 4:09 pm, Goran wrote:

[2021-05-27 10:50] pentago commented on #7173
I'm well aware o how to install chart, my example is to show that people who are using values.yaml to provide chart values will end up with broken install because the chart itself is broken.

I, and thousands of other people are using values.yaml file to provide values and are often syncing our values.yaml file with one provided in this repo.

[2021-05-27 10:51] pentago commented on #7173
Also, your help repo search attempt really shows your skills in this area.

[2021-05-27 10:59] AhmedSRamadan commented on #7173
Hello @pentago
I just faced same issue and it solved while commenting the  line number 523 in values.yml
 #repository:

[2021-05-27 11:25] wael-sadek commented on #7173
It seems like it needs to be removed from other entries as well.

[2021-05-27 11:40] pentago commented on #7173
@AhmedSRamadan @wael-sadek correct, that was an issue. Shouldn't this **repository** key be commented by default?
I see a lot of people, mostly beginners will break on this. Also the comment explaining the switch isn't verbose enough and doesn't explain the potential issue.

[2021-05-27 11:48] longwuyuan commented on #7173
(1) @pentago, for good reasons, you should care for what values you are passing in the values.yaml file and refrain from claims like "Chart is broken" You can submit a PR to fix a broken default values.yaml, to help everyone. The error message is explicit as to what happened as seen below.

[code]

(2) I installed the chart just now and worked so chart is definitely not broken. I did not have a ne

[2021-05-27 11:50] pentago commented on #7173
Chart it is broken. End of story.

[2021-05-27 12:06] AntoineCavaille opened #7175 "Connections errors during rolling update"
**NGINX Ingress controller version**: `v0.46`

**Kubernetes version**: `1.18`

**Environment**:

- **Cloud provider or hardware configuration**: `AWS - EKS`
- **OS**: `Amazon Linux 2`
- **Kernel**: `Linux 4.14.231-173.361.amzn2.x86_64  GNU/Linux`
- **Others**: `EKS cluster (eks.3) with an ingress-controller service of type Load Balancer (NLB) deployed with the ingress-controller helm chart`
- **Co

[2021-05-27 12:50] wael-sadek commented on #7173
You're absolutely correct. I was trying to install it and faced the same problem.

[2021-05-27 13:10] pentago commented on #7173
Submitted the [PR](https://github.com/kubernetes/ingress-nginx/pull/7174). Hopefully, it gets merged soon.

[2021-05-27 13:28] shanky53 commented on #7167
Thank you!

[2021-05-27 13:28] #7167 closed

[2021-05-27 14:07] peco8 commented on #6602
This should be officially supported. I configured nginx as a sidecar but I'm adding promtheus exporters for each (nginx, and php-fpm), and the log shipper as well. It will be so messy within the pod.

[2021-05-27 14:12] shanky53 opened #7176 "Error response in case of client certificate verification failure"
Hello,

I noticed that upon setting the following annotations in my ingress:

[code]

if the client fails to send a certificate, the error returned by nginx is a 400 http status code.
400 Bad Request
No required SSL certificate was sent
nginx/1.19.2

Whereas I would expect nginx to fail the request in tcp layer itself and not let it reach the app layer as CA check happens in TCP layer.
This usuall

[2021-05-27 14:31] gopiextrahop commented on #7170
Sorry for the false alarm. I updated my RBAC to what is here https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/aws/deploy.yaml and that fixed the issue. Please close issue.

[2021-05-27 14:56] toredash commented on #7170
You can close it yourself. I don't have right to do it

[2021-05-27 15:23] kevgrig commented on #7153
Started to explore the nginx Lua code that serves the cert and it looks like it'll be non-trivial to understand and add debug to, so for now I just used a workaround of [specifying a default certificate](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/tls.md#default-ssl-certificate) which works:

1. Edit the ingress-nginx deployment:
[code]
1. Under `spec/template/spec/cont

[2021-05-27 15:31] #7170 closed

[2021-05-27 16:18] originswift-sys commented on #5886
Me too. GRPC Web works though. A real pain

[2021-05-27 16:29] damienleger commented on #5968
My fix for this issue without deleting the validatingwebhookconfigurations. Inspired by https://github.com/kubernetes/ingress-nginx/issues/5968#issuecomment-700287814

[code]

[2021-05-27 17:04] irbekrm commented on #7153
I guess you could also experiment with creating a `cert-manager` `Certificate` for the ingress explicitly instead of using the `ingress-shim` annotation.

(I imagine that if the problem is that the config does not get re-loaded, perhaps having the `Secret` already pre-existing when the Ingress comes up could solve this?)

[2021-05-27 18:10] merlindorin commented on #6896
I can confirm we saw the same issue on GCP/GKE with version 0.45.0. Issue want also away with 0.43.0.

From our Compute engine, we also found that:

[code]

On this cluster, we have a lot of ingress (~200). We didn't see this issue on a similar cluster with quite similar ingress volume.

[2021-05-27 19:38] ralexrdz opened #7177 "CORS allow origin annotation set to domain won't stop request from localhost"
## I'm trying to **restrict access to a graphql backend only to its url and the front url**

i set the `ingress` manifest for the backend with these annotations

[code]

I thought that with this only through the front subdomain would be able to be accessed, but I did the test in my laptop using `curl` and i was able to make Graphql requests with out a problem.

I thought maybe I didn't set right t

[2021-05-28 02:53] ywk253100 opened #7178 "Does nginx ingress controller support configuring "merge slash"?"
Seems the "merge slash" in nginx ingress controller is off by default, is there any configuration can configure it?
The "merging slash" is useful for several use cases

[2021-05-28 06:42] qian-fei commented on #6064
How did you create it?

[2021-05-28 07:07] bglowacki commented on #5690
The same happens in v0.46.0.
We are using flagger 1.9.0 for automated canary release.
The issue goes away if I
a) delete canary ingress
b) upscale deployment that is inactive - waiting for a new release, so it seems that a problem is connected with a lack of active endpoints

[2021-05-28 08:11] shiraz-zscaler commented on #6896
Just learned about this issue the hard way! I confirm the issue is present on 0.46.0 as well. Planning a downgrade till the issue is fixed.

[2021-05-28 09:19] #7148 closed

[2021-05-28 09:28] R-omk opened #7180 "Use set_timeouts instead of set_timeout"
The function is messed up, these functions take a different number of arguments

https://github.com/kubernetes/ingress-nginx/blob/a8728f3d2cd5f12ec606f26a6605690a28de2541/rootfs/etc/nginx/lua/certificate.lua#L89

[2021-05-28 14:52] jianlongzhou commented on #6755
@yuenwah
From the configuration of ingress, the tls authentication from the client to the nginx controller is enabled, but the plaintext (no tls) parameter of grpcurl is still used?

[2021-05-28 16:40] ReillyBrogan commented on #6896
If I were someone interested in working on this (don't really have time ATM for something that we no longer use) my next steps would be to build a new Alpine source container using a musl library compiled from git source, and then use that source image to build a nginx-controller image and test that. There are a number of commits since the musl 1.22. release that mention changes to malloc in some

[2021-05-28 20:28] imranrazakhan commented on #5968
@liminghua999  Why you close this issue? I am still getting it with K8S 1.21.1 and 0.46.0 ingress.

[2021-05-29 08:42] OPSTime opened #7181 "ingress-nginx-defaultbackend fails to start"
**kubectl -n ingress-nginx get events --sort-by '{.metadata.creationTimestamp}'**
[code]

**kubectl -n ingress-nginx get pods,deploy**
[code]

**# kubectl -n ingress-nginx get endpoints**
[code]

**I changed the port of defaultBackend**
**cat values.yaml**
[code]

**Can't this port number be changed?**
**But I need a default-http-backend:80.**

**kubectl -n kubeapps describe ingress kubeapps**
[co

[2021-05-29 09:13] cpanato commented on #6773
I was reading and tried the ingress resource example in both 1.18 (not working) / 1.19/1.20 working.

not sure what you want to change, but if you want to open a PR to update the documentation we appreciate otherwise we can close this.

WDTY @rikatz @strongjz

[2021-05-29 09:14] cpanato commented on #6773
/remove-kind bug

[2021-05-29 10:36] amixpal commented on #5932
Whys the issue is closed?

[2021-05-29 11:28] Loja0919 commented on #5932
Whys the issue is closed?

[2021-05-29 15:25] #6703 closed

[2021-05-30 06:52] turgutsaricam commented on #5401
## If you have this issue with Minikube
What actually worked for me was to remove everything related to the Ingress controller, which are the `ingress-nginx-controller-admission` service, `ingress-nginx-controller` deployment, and the related Docker images. Some of these steps might not be necessary, I do not know. I just removed everything and let Minikube download the Docker images and create th

[2021-05-30 10:48] krichter722 commented on #6917
/remove-lifecycle stale

[2021-05-30 18:10] #7164 closed

[2021-05-30 19:44] rikatz commented on #7173
@pentago I would like to ask you to be a bit more polite. People here is trying to help you, and learning as well.

I kindly remember you all that we are under the CNCF and Kubernetes code of conduct, which is basically "be excelent with each other".

Aggressive comments will not be tolerated.

Thanks!

[2021-05-30 20:05] pentago commented on #7173
Scarry stuff.

[2021-05-30 20:06] #7173 closed

[2021-05-30 20:38] toredash commented on #7177
CORS is not the answer. I suggest reading up on CORS: https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS

But the short answer is that CORS does not limit e.g. curl to fetch resources through nginx

[2021-05-30 20:42] toredash commented on #7175
Limitations with NLB as the health check is only able to check its status every 10s.

Changing externalTrafficPolicy to Cluster should reduce but not eliminate the problem.

Another workaround is to rollout new deployment, wait, then set the previous deployment to not healthy in the target group, them finish the rollout.

[2021-05-30 22:28] zerkms commented on #6545
/remove-lifecycle stale

[2021-05-30 22:29] zerkms commented on #6307
/remove-lifecycle stale

[2021-05-30 22:48] strongjz commented on #7122
Looks like the documentation needs to be updated, the repository we host ingress images is here https://k8s.gcr.io
The latest image is k8s.gcr.io/ingress-nginx/controller:v0.46.0@sha256:52f0058bed0a17ab0fb35628ba97e8d52b5d32299fbc03cc0f6c7b9ff036b61a

Can you test, and update the documentation please.

[2021-05-30 22:50] strongjz commented on #7122
/remove-kind-bug

[2021-05-30 22:54] strongjz commented on #7122
/kind documentation

[2021-05-30 22:55] strongjz commented on #6937
Please upgrade to 0.46.0 and see if this is still an issue.

[2021-05-30 22:55] strongjz commented on #6937
/triage needs-information

[2021-05-31 07:51] AntoineCavaille commented on #7175
Thanks for your comment @toredash !
So yes, with `externalTrafficPolicy:Cluster` the rolling upgrades are transparent, but that just relocates the issue to the nodes scale-down. When a node is removed from the AWS pool, then connections are lost in the process.

Not sure to follow you on your workaround, could you give us some more precisions ?

[2021-05-31 10:13] toredash commented on #7175
Node-scale-down events are harder to solve as its an k8s issue:
https://github.com/kubernetes/kubernetes/issues/85643

For GKE, I worked around the issue by reducing the interval of health check performed by GCP:
https://github.com/kubernetes/ingress-nginx/issues/6281#issuecomment-705415770

For node-scale-down events ?

[2021-05-31 10:46] AlexisSellier opened #7188 "Using jaeger-endpoint result in nginx not able to reload"
**NGINX Ingress controller version**: 0.46.0

**Kubernetes version** (use `kubectl version`): v1.18.16-eks-7737de

**Environment**:

- **Cloud provider or hardware configuration**: aws
- **OS** (e.g. from /etc/os-release): Ams Linux image
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

When setting `enable-opentracing` to true and using  `jaeger-endpoint ` t

[2021-05-31 17:10] ralexrdz commented on #7177
any idea how could you restrict an endpoint so that can be accesible only through web calls from certain domain?

[2021-05-31 20:29] Sunil1821 commented on #6634
Is there any workaround for this ? I currently need this feature to proxy websocket connections with max-conns=1.

[2021-05-31 20:29] strongjz opened #7191 "Dropping support for older versions of k8s"
Per the discussions in the community meetings, we need to update our tests, dropping support for versions of Kubernetes, N-3. This includes adding 1.21 e2e tests and dropping 1.16/17/18 tests.

Stabilization discussion notes are [here](https://docs.google.com/document/d/1DKlpcV6DAW0DsBrzh-OLkZvJQmABCVfRIRWBWjc4zOs/edit#heading=h.3ggpu9bc2yw)
/kind feature

[2021-05-31 20:32] strongjz commented on #7191
/assign

[2021-06-01 03:54] answer1991 opened #7192 "Upgrade nginx to 1.20.1+ to fix CVE-2021-23017"
**NGINX Ingress controller version**:

mainline(master branch)

**What happened**:

[code]

**What you expected to happen**:

Upgrade nginx to 1.20.1+ to fix [CVE-2021-23017](https://www.nginx.com/blog/updating-nginx-dns-resolver-vulnerability-cve-2021-23017/).

**How to reproduce it**:

**Anything else we need to know**:

/kind bug

[2021-06-01 04:06] answer1991 commented on #7192
https://github.com/kubernetes/ingress-nginx/blob/9a9d7f70c753c40e5d11c0d7b715513e8706f297/rootfs/etc/nginx/template/nginx.tmpl#L376-L379

This line will generate `resolver` configuration and be potentially attacked.

[2021-06-01 04:08] answer1991 commented on #7192
closing in favor of https://github.com/kubernetes/ingress-nginx/pull/7179

[2021-06-01 06:10] answer1991 commented on #7192
We have not upgrade the ingress-nginx-controller base image:

https://github.com/kubernetes/ingress-nginx/blob/9a9d7f70c753c40e5d11c0d7b715513e8706f297/Makefile#L54

[2021-06-01 06:53] toredash commented on #7160
I'm not really sure since I'm not able to understand the issue fully. Could you provide to sample request logs ?

[2021-06-01 07:11] vigneshraaj opened #7193 "Not able to handle lowercase request methods"
**NGINX Ingress controller version**: 0.46.0
**Helm chart version**: 3.31.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**: helm
- **Others**:

**What happened**:

One of my client application is sending all the request

[2021-06-01 07:42] answer1991 commented on #7192
closing in favor of https://github.com/kubernetes/ingress-nginx/pull/7189

[2021-06-01 07:42] #7192 closed

[2021-06-01 07:51] luddskunk commented on #7115
I have the same issue. Found this thread helpful https://github.com/kubernetes/ingress-nginx/issues/2461

[2021-06-01 09:01] jlegido opened #7194 "Hability to enable only HTTP or only HTTPS with 'use-proxy-protocol' configmap"
First of all many thanks to all the people involved on this project for their time, I really appreciate it.

### What do you want to happen?

Being able to enable proxy protocol for:

* HTTP only
* HTTPS only

Currently if we enable 'use-proxy-protocol' configmap it translates, at nginx level, to:

[code]

So it enables for both, HTTP and HTTPS.

### Is there currently another issue associated wit

[2021-06-01 09:03] daseth opened #7195 "upgrade the Nginx to 1.20.1 or higher"
The nginx version in the most recent container image to date is 1.19.6 (i have deployed the 3.31.0 version of the Helm chart: https://github.com/kubernetes/ingress-nginx/releases/tag/helm-chart-3.31.0 )
This particular version and any version lower than 1.20.1 are prone to the vulnerability described here: http://mailman.nginx.org/pipermail/nginx-announce/2021/000300.html

Please update the contai

[2021-06-01 09:54] longwuyuan commented on #7195
Duplicate of https://github.com/kubernetes/ingress-nginx/issues/7192

Check PRs

Thanks,
; Long

On 01/06/21 2:33 pm, daseth wrote:

[2021-06-01 11:40] mac8005 opened #7196 "Changes in PathType from v0.40.2 to v0.46.0"
Hi!

Today we upgraded our Controllers from v0.40.2 to v0.46.0 and found some issues with our Ingress Rules

Requests to  `https://myspa.dummy.io/configs/myspa.json` (see the 's' in /config**s**/) are not forwarded to myspa-config service in v0.46.0 despite that `ImplementationSpecific` should use the default pathType "prefix".

**NGINX Ingress controller version**: v0.46.0

**Kubernetes version**

[2021-06-01 11:50] chirangaalwis opened #7197 "[Documentation] Missing Instructions for Enabling Monitoring with Prometheus"
**What happened**:
Proper [instructions](https://github.com/kubernetes/ingress-nginx/tree/master/charts/ingress-nginx#prometheus-metrics) to enable Prometheus based monitoring have not been provided in the [documentation](https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/monitoring.md).

**What you expected to happen**:
A concise guide for with accurate instructions has been

[2021-06-01 13:32] bnu0 commented on #6896
Just wanted to comment here that we are also experiencing this issue. Using `v0.46.0`.

[2021-06-01 14:04] dmeytin commented on #6915
Any one?

[2021-06-01 15:01] longwuyuan commented on #6915
Wider faster in slack

Thanks,
; Long

On Tue, 1 Jun, 2021, 7:34 PM dmeytin, ***@***.***> wrote:

[2021-06-01 18:21] chrisrecalis opened #7198 "Can't use ingress with only pathType: Exact"
**NGINX Ingress controller version**:
[code]
**Kubernetes version** (use `kubectl version`):
[code]
**Environment**:

- **Cloud provider or hardware configuration**: `minikube`
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`):
[code]
- **Install tools**:
[code]
- **Others**:

**What happened**:

Tried to use an ingress manifest that only included `pathType: Exact`. The c

[2021-06-01 18:54] jprogramtech commented on #6875
Has there been any resolution on this issue? I have been trying to update my current GKE ingress controller to point to a GCS bucket. Cluster has been updated to 1.19.9-gke.140. Every time I attempt to use the example posted by jkabat I keep getting the following error?

invalid ingress spec: could not find service "default/"; could not find service "default/

I do have a service created that inte

[2021-06-02 01:06] yury-kozlov commented on #5918
Just encountered a similar issue.
On the first ingress you have annotation `nginx.ingress.kubernetes.io/ssl-redirect: 'true'`. It is possible that when both ingresses are enabled, the first one always applies redirect to 443 (due to the the same host as another ingress). After adding `nginx.ingress.kubernetes.io/ssl-redirect: 'false'` to the second ingress (without tls) I guess both of them will w

[2021-06-02 04:42] tao12345666333 commented on #7195
it has been fixed  https://github.com/kubernetes/ingress-nginx/pull/7189

thanks！

/close

[2021-06-02 04:42] #7195 closed

[2021-06-02 06:58] jkabat commented on #6875
@jprogramtech as far as I know kind: StorageBucket is still not supported by ingress-nginx.

[2021-06-02 07:40] FLM210 opened #7199 "ngx_slb_alldoc() failed: no memory in server_traffic_status_zone "stream_server_traffic_status""
In our cluster, the business can not be called. If you look at the log, you will find this prompt before each error。
Who can help me give an idea? Tks
![error](https://user-images.githubusercontent.com/38482970/120442848-a4ba3e80-c3b8-11eb-95e0-d8c5fc41e447.png)

[2021-06-02 10:51] laukaichung commented on #6622
Completely agree with this one.

[2021-06-02 12:31] toredash commented on #7177
Thats not possible AFAIK.

If you need to restrict access to your backend, you need to add some sort of restriction or authentication. So this isn't really a nginx or CORS issue.

You could limit what client IPs could reach your backend, but its hard to manage since I assume your IP would change rather frequent,.

[2021-06-02 13:38] HsinHeng opened #7200 "aws nlb with ingress-nginx keep-alive timeout"
[aws elb connection idle timeout](https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#connection-idle-timeout): Ingress-nginx keep-alive timeout should be larger than aws elb connection idle timeout.
[Ingress-nginx nlb connection idle timeout](https://kubernetes.github.io/ingress-nginx/deploy/#nlb-idle-timeouts):  Ingress-nginx keep-alive timeout sho

[2021-06-03 01:00] #6713 closed

[2021-06-03 03:19] #7200 closed

[2021-06-03 11:08] tokers commented on #6569
You may use annotation [configuration-snippet](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#configuration-snippet) to add it.

[2021-06-03 13:47] DaleyKD commented on #7172
@mstoetzer I've been digging in this repo for hours to see if there was any EASY way to determine what version of NGINX (1.19.x or 1.20.x) was included in either the chart (v3.x) or the ingress (v0.4x.x).  Reading your issue leads me to believe that I'm not crazy.  There must not be an easy way.

[2021-06-03 13:48] sujith-subbiah-ey commented on #5723
/remove-lifecycle stale

[2021-06-03 14:12] uhinze commented on #1529
Just tried this and it works by setting dnsPolicy: ClusterFirstWithHostNet for me

[2021-06-03 15:20] medmedchiheb commented on #1171
Why this snippet does not work?
[code]

This also Does not work

[code]

But when I remove the if, it works

[code]

[2021-06-03 15:24] smileprem commented on #4909
Were you able to resolve this?. I verified everything mentioned in this ticket, all configurations are correct. I'm able to make calls successfully from curl/wget/postman on HTTP layer. When an IoT device tries to connect in TCP layer via modem, Nginx sends the fake certificate. There is no other option available in the client side to send `-servername` in the request.

[2021-06-03 17:27] mshade commented on #7191
Shouldn't 1.19 remain supported until 1.22 is out?

[2021-06-03 17:28] rocketraman commented on #6458
/remove-lifecycle rotten

[2021-06-03 20:20] DanielVilaFalcon opened #7204 "UDP traffic transparent forwarding"
I am trying to forward UDP packages in a transparent way, without changing the origin/client IP and Port, but I have not could the way.

I was looking for something like` proxy_bind $remote_addr` used in Nginx but there is nothing similar in ingress-nginx.

Could you help me pls?

Thanks in advance.

[2021-06-04 04:53] longwuyuan commented on #7204
can you show information like ;

[code]

[2021-06-04 05:13] longwuyuan commented on #7198
can you show ;
[code]

[2021-06-04 06:47] DanielVilaFalcon commented on #7204
I am not using an ingress to redirect the UDP traffic, I am using the UDP-service configmap:
`kubectl -n kube-system describe cm udp-services`
`Name:         udp-services
Namespace:    kube-system
Labels:       app.kubernetes.io/name=ingress-nginx
              app.kubernetes.io/part-of=ingress-nginx
Annotations:  <none>

Data
====
20003:
----
testing/pod1:20003:PROXY
20005:
----
testing/pod1:2000

[2021-06-04 06:51] sriramdboss opened #7205 "Adding Custom Nginx Module to ingress-nginx"
Can we have custom module like njs to the existing ingress-nginx image.

[2021-06-04 11:36] vsychov opened #7206 "Request new version of controller"
Hi,

controller-v0.46.0 that used in latest helm-chart-3.32.0 still have CVE-2021-23017, that was fixed in https://github.com/kubernetes/ingress-nginx/issues/7192.

Is it possible to create tag with this changes?

[2021-06-04 17:02] cdanger commented on #6569
ok thanks :-)

[2021-06-04 17:02] #6569 closed

[2021-06-04 19:11] #6368 closed

[2021-06-04 20:30] mpechner opened #7207 "Page ever reviewed?"
**NGINX Ingress controller version**: N/A

**Kubernetes version** (use `kubectl version`): N/A

**Environment**:

- **Cloud provider or hardware configuration**: N/A
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: N/A
- **Others**: N/A

**What happened**:

https://kubernetes.github.io/ingress-nginx/user-guide/external-articles/
When is the last ti

[2021-06-04 21:11] #6597 closed

[2021-06-05 01:37] kevgrig commented on #7153
@irbekrm If I understand correctly, you mean creating the certificate resource manually and then pointing to that in the ingress with `spec.tls.hosts` and `spec.tls.secretName` without `metadata.annotations.cert-manager.io/issuer`, right?

If so, I tried that and it didn't work:

1. Create certificate manually:
[code]
1. Certificate issued:
[code]
1. Certificate looks good:
[code]
1. Edit the ingr

[2021-06-05 03:03] longwuyuan commented on #7153
Show logs of your curl request from controller pod.

Thanks,
; Long

On Sat, 5 Jun, 2021, 7:08 AM kevgrig, ***@***.***> wrote:

[2021-06-05 06:33] kevgrig commented on #7153
@longwuyuan Hi Long, it shows a connection reset from the controller pod. The IP address is correct. What might this mean? Is this a potential networking issue inside Digital Ocean?

[code]

From outside the cluster, it works but shows the wrong cert:

[code]

[2021-06-05 06:54] longwuyuan commented on #7153
Please curl from outside and that should produce logs in the controller
pod. It is those log messages we could analyse. Kubectl logs -f
controllerpodname

Thanks,
; Long

On Sat, 5 Jun, 2021, 12:04 PM kevgrig, ***@***.***> wrote:

[2021-06-05 07:27] jlegido commented on #7194
I realise that a side effect is that letsencrypt challenges will fail, because of http://example.com/foo will return a 502.

As a workaround on my edge router I configured TCP 80 stream (thus layer 4) section with proxy protocol enabled:

[code]

[2021-06-05 08:36] longwuyuan commented on #7153
By any chance, does this relate to the problem you are facing https://kubernetes.github.io/ingress-nginx/user-guide/tls/#default-ssl-certificate

[2021-06-05 15:52] kevgrig commented on #7153
@longwuyuan Hi Long,

Yes, if I use `- --default-ssl-certificate=testns1/ingress1-cert`, then it works fine; I noted this workaround earlier in the issue (although it doesn't seem like a good solution): https://github.com/kubernetes/ingress-nginx/issues/7153#issuecomment-849725147

I'm a bit busy today but should be able to reproduce curl with controller logs later today or tomorrow.

Thanks for y

[2021-06-05 15:59] longwuyuan commented on #7153
ok.
The last octet of the ipaddress in the `kubectl describe` and the curl verbose log are different. Just want to confirm if that is expected.
Can you also please show `kubectl get ing -A -o wide` .

[2021-06-05 16:08] longwuyuan commented on #7153
another log message needed is the below sequence of steps and the related logs ;
[code]

[2021-06-05 17:10] kevgrig commented on #7153
I recreated the cluster and DNS A record between those tests so those were two different clusters. Now that I have active help with you, I will stick to a single cluster where we can diagnose the issue, thanks! I'll gather everything from scratch.

[2021-06-05 19:45] artemkrim commented on #6876
I have this promplem

[2021-06-06 14:47] MattJeanes commented on #6381
/remove-lifecycle stale

[2021-06-06 16:21] strongjz opened #7212 "Update generate-deploy-scripts.sh to also update the docs with new version"
As part of the Release process, we need to update the docs to pull the new version of Ingress-nginx. There is a script that updates the helm and ingress-nginx version in the charts but not the docos.

/kind feature

[2021-06-06 16:22] strongjz commented on #7212
The release documentation is here [RELEASE.md](RELEASE.md)

[2021-06-06 16:30] rikatz commented on #7212
/good-first-issue

[2021-06-06 16:31] rikatz commented on #7206
Released today: https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.47.0

/close

[2021-06-06 16:31] #7206 closed

[2021-06-06 16:34] rikatz commented on #6896
/kind bug

Hey folks, we've just released controller v0.47.0 -> https://github.com/kubernetes/ingress-nginx/releases/tag/controller-v0.47.0

Can you please confirm this still happens? It uses now nginx v1.20.1.

We are discussing again if we should start using Debian-slim instead of Alpine (Ingress NGINX already did that on past).

Thanks

[2021-06-06 16:35] rikatz commented on #6896
/remove-triage needs-information
/remove-triage not-reproducible
/triage accepted

[2021-06-06 16:49] strongjz commented on #7172
We are working on making changes to make things like this transparent.

The version of Nginx is controlled here in the build process

https://github.com/kubernetes/ingress-nginx/blob/master/images/nginx/rootfs/build.sh#L21

[2021-06-06 16:51] strongjz commented on #7172
We also document changes like this in the Changelog https://github.com/kubernetes/ingress-nginx/blob/master/Changelog.md#0470

[2021-06-06 17:12] strongjz commented on #7172
Added it to this PR https://github.com/kubernetes/ingress-nginx/pull/7214

[2021-06-06 17:12] strongjz commented on #7172
/assign

[2021-06-06 17:47] sstoyanovucsd opened #7215 "Released version 0.47.0 points to image v0.46.0"
The released version 0.47.0 still points to image v0.46.0

Ex. https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.47.0/deploy/static/provider/cloud/deploy.yaml

/kind bug

[2021-06-06 17:49] kevgrig commented on #7153
@longwuyuan Hi Long,

[code]

[code]

[code]

Current ingress:

[code]

[code]

Requested from external:

[code]

This resulted in the following in the log tail:

[code]

Requested from controller:

[code]

This resulted in the following in the log tail:

[code]

[2021-06-06 18:23] strongjz commented on #7215
thanks for that,  updated it in this PR https://github.com/kubernetes/ingress-nginx/pull/7217

[2021-06-06 18:23] strongjz commented on #7215
/assign

[2021-06-06 18:27] strongjz commented on #7215
/close

[2021-06-06 18:27] #7215 closed

[2021-06-06 18:29] strongjz commented on #7207
There's a lot of good points in that article that is still relevant.

[2021-06-06 18:30] strongjz commented on #7207
If you have others that we should add, please put in a PR.

[2021-06-06 18:30] strongjz commented on #7207
/close

[2021-06-06 18:30] #7207 closed

[2021-06-06 18:39] kevgrig commented on #7153
Also just to confirm that the referenced certificate is good:

[code]

[2021-06-06 18:50] strongjz commented on #7193
lower case get is **not** the proper verb from curl perspective, https://curl.se/docs/manpage.html#-X,  and ingress is responding with appropriate respond to a bad request.  Correcting the verb from user input does seem like the right way to fix a user error.

[2021-06-06 19:05] strongjz commented on #7154
Supporting more arch is more a feature than a bug.

/kind feature

[2021-06-06 19:07] strongjz commented on #7154
/kind remove bug

[2021-06-06 19:11] strongjz commented on #7116
What is your build setup? os? docker version?

This looks like a docker pull issue with the 3.13 verson of Alpine.

We have recently released v0.47.0 as well, which comes with a newer version of Nginx and Alpine.

[2021-06-06 19:26] strongjz commented on #7094
/assign

[2021-06-06 19:31] strongjz commented on #7056
What is the issue here? If you have an air-gapped environment, rebuild the image, and update the values during the helm deploy I am failing to see the issue here? Tags are mutable and enforcing the SHA, like @longwuyuan mentioned, ensures we know for certain what image is being deployed.

[2021-06-06 19:32] strongjz commented on #7154
/remove-kind bug

[2021-06-06 19:36] strongjz commented on #7199
What version of ingress-nginx, k8s, and other relevant information. Can you also post how to replicate this issue? It is not clear what is being asked in this issue. Please provide more information so we can help replicate and fix this issue.

[2021-06-06 19:44] strongjz commented on #7178
I suppose you could enable it with a custom config https://kubernetes.github.io/ingress-nginx/examples/customization/custom-configuration/

[2021-06-07 01:52] FLM210 commented on #7199
ingress-nginx version 0.15.0 , k8s version 1.13.2 ,os version  rhel 7.5 , kernel version 3.10.0-1160.el7.x86_64,docker version 18.9.5,All six of our servers have this problem, and the system load reached 50%

[2021-06-07 05:49] vigneshraaj commented on #7193
@strongjz Thanks for your prompt response. The issue we are facing is 2-fold,

1. Client is already build and shipped. So we are figuring out if we can handle this lowercase to uppercase as an interim solution. I understand that we have to update the VERB to uppercase, and we are working on a hotfix release for that. This could take some time, so thought if we can handle it on the server-side for

[2021-06-07 14:08] strongjz commented on #7094
/close

[2021-06-07 14:08] #7094 closed

[2021-06-07 14:58] gudipudipradeep opened #7220 "showing 400 Response code in ngnix logs while loadtest an api endpoint. but it is not even hitting the app pods in backend."
while we are load testing the api endpoint with 2000 request in 1minute ram-up time.
we are getting success for some request and some request are getting 400 in ngnix logs. but we could identify why we are getting 400 in nginx logs.
Actually 400 status requests are not even hitting my application pod from the ingress. it giving 400 response in ngnix pod it self . I am not sure what is the issue.
P

[2021-06-07 15:01] gudipudipradeep commented on #7220
When we are load testing, requestes are not hitting the backed application and showing 400 status code in ingress pods it self. only few of request only hitting the backed application pod. what can be the issue. Please help me.

[2021-06-07 15:13] jabdoa2 commented on #6896
We see this issue as well on 0.45. On Kubernetes clusters which frequently add ingresses (i.e. build systems) we see this multiple times per hour. Never seen this on production clusters with infrequent new ingresses. Will try 0.47 over the next days.

[2021-06-07 15:30] #6640 closed

[2021-06-07 21:25] pchang388 commented on #7025
Hi @longwuyuan,

I am also experiencing the same issue. I checked the slack thread but there was no progress on it.

I am using our own Prometheus instance and have added the additional scrape config (found here: https://github.com/kubernetes/ingress-nginx/blob/master/deploy/prometheus/prometheus.yaml) to prom and also set the pod scrape annotations for the controller pod(s). I am still only gathe

[2021-06-07 22:05] brianharwell opened #7222 "Unable to use SSI commands"
**NGINX Ingress controller version**: 0.46.0

**Kubernetes version** (use `kubectl version`): 1.18.15

**Environment**:
- **Cloud provider or hardware configuration**: On prem in vSphere

**What happened**:

I am trying to modify the date format for the access logs to include the milliseconds of the date and time. To do this I found you need to use [SSI](http://nginx.org/en/docs/http/ngx_http_ssi_

[2021-06-08 00:23] ramijebara commented on #6896
I will do the same on a test cluster and report back.

[2021-06-08 00:53] matthewfischer commented on #7115
I also have this issue running in an EKS cluster

[2021-06-08 00:53] matthewfischer commented on #7115
@luddskunk  what was the fix you tried, increasing worker shutdown timeout?

[2021-06-08 06:33] luddskunk commented on #7115
@matthewfischer The only way around it I can see is that setting up a new ingress class or increasing `worker-shutdown-timeout` depending on your use case, as mentioned in https://github.com/kubernetes/ingress-nginx/issues/2461#issuecomment-386342095.

Creating a new ingress class, does not really solve the problem at hand of breaking the websockets but at least solves so that other services does

[2021-06-08 07:36] jabdoa2 commented on #6896
Still happens on 0.47 for us. We got two crashes within a few hours. Error:
[code]

[2021-06-08 08:38] popawu commented on #6896
We also still have the issue on 0.47. Multiple crashes on ingresses patch/create:
[code]

We have a lot of ingresses (280) and frequent patch/create (development server).
Not a single crash since rollback to 0.43.

[2021-06-08 12:30] 4nte commented on #5932
Can we have this issue reopened please?

[2021-06-08 13:59] rblaine95 commented on #6030
/reopen
/remove-lifecycle rotten

[2021-06-08 14:28] longwuyuan commented on #7153
Can you show this in zoom sharescreen ?

[2021-06-08 14:43] kay-ramme commented on #6758
this seems to be related to

use-proxy-protocol

which needs to be turned on for requests coming through the NLB, but fails for this pod to itself, even if going through the NLB ..

[2021-06-08 14:47] kay-ramme commented on #6758
Cloud it be, that NLB fails to pass proxy-protocol data when the request comes from the same host the pod is running on ? ... 🤔

[2021-06-08 14:58] longwuyuan commented on #6758
Is it possible that if you are facing this problem, then you do the following steps and provide data as suggested in these steps ;

- Make sure you install the ingress-nginx-controller in the latest release
- Make sure that you install as per docs
- Show `kubectl get po,svc,ing -A -o wide`
- Show `kubectl -n <namespace> describe po` of the pod that should respond to curl
- Show `kubectl -n <namesp

[2021-06-08 16:28] rikatz commented on #7193
/close

NGINX is working properly. Request methods must always be upper case (try curl -X get www.google.com and you will have an error as well ;)

About 3: This is related to NGINX error pages, which you should probably set to a custom error page.

[2021-06-08 16:28] #7193 closed

[2021-06-08 16:29] rikatz commented on #7198
/triage accepted

[2021-06-08 16:35] rikatz commented on #7198
/priority important-urgent

[2021-06-08 16:36] rikatz commented on #7198
/priority critical-urgent

[2021-06-08 17:37] Daxcor69 commented on #7115
I never solved this issue, I had to abandon k8s/nginx-ingress for my use case.  To be fair, haproxy was no better on how it handled the websockets in k8s.  I  have to be honest, I am not expert in any way.  I am sure there are people using this setup successfully with WS but my use case, I couldn't afford the momentary breaks in the connection, where as most WS applications can handle it just fine

[2021-06-08 17:37] #7115 closed

[2021-06-08 17:54] vigneshraaj commented on #7193
@rikatz As I have already mentioned, we have a custom error handler for 400,404, ... Still this error is not being handled by the backend. Please check the logs that I've provided,

[code]

This is not getting forwarded to the custom backend

[2021-06-08 17:57] vigneshraaj commented on #7193
/open
/re-open

@rikatz  As I have already mentioned, we have a custom error handler for 400,404, ... Still this error is not being handled by the backend. Please check the logs that I've provided,

[code]

This is not getting forwarded to the custom backend

[2021-06-08 21:12] TViZoR commented on #7066
@arno-snop

Try the next configuration. This works with 0.47.0 for both networking.k8s.io/v1beta1 and extensions/v1beta1 Ingresses.

**matchPolicy: Equivalent** should be set Equivalent to allow ingress resource to be converted before validation.
**extensions** should be removed from apiGroups.

`apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: ing

[2021-06-08 22:55] vishrantgupta commented on #5273
@sri-05 which timeout connect or read?

[2021-06-09 00:05] wasker commented on #3717
@rikatz @strongjz @ElvinEfendi @cmluciano Can somebody help me by unblocking PR? I'm not even able to run tests for 2 weeks already.

[2021-06-09 00:52] kevgrig commented on #7153
@longwuyuan Yes, sure, thanks! What days and times are good for you? I'm in Pacific Time (PT)

[2021-06-09 01:45] longwuyuan commented on #7153
Are you on slack

Thanks,
; Long

On Wed, 9 Jun, 2021, 6:22 AM kevgrig, ***@***.***> wrote:

[2021-06-09 02:04] FLM210 commented on #7199
I didn't  setting requests and limits for the ingress pods.

[2021-06-09 03:20] kevgrig commented on #7153
@longwuyuan I'm not on Slack but I will join. I have a customer call in 40 minutes for work tonight and going to bed, but I'll join the Slack tomorrow...

[2021-06-09 04:31] longwuyuan commented on #7153
Great. Please use the ingress controller users channel or dm me.

Thanks,
; Long

On Wed, 9 Jun, 2021, 8:50 AM kevgrig, ***@***.***> wrote:

[2021-06-09 05:45] toredash commented on #7205
You can build your own version and add the modules.

Or you can mount the required files youself, rough gist explaining how here: https://gist.github.com/toredash/686cc43bf0bd969603242b14ca24c689

[2021-06-09 05:49] toredash commented on #7204
Your asking if nginx is able to keep the source IP and or source port from the user initiating the UDP stream to nginx ?

No, that is not possible in nginx. Nginx is acting as a proxy, it will create a new UDP stream upstream on behalf of the client.

[2021-06-09 05:52] toredash commented on #7180
/label bug

[2021-06-09 05:55] toredash commented on #7220
You need to provide more information if you expect help

[2021-06-09 06:15] vasicvuk commented on #7090
This would be very useful feature

[2021-06-09 08:41] EPNW opened #7225 "Add CRL support to Client Certificate Authentication"
According to the documentation on [Client Certificate Authentication](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#client-certificate-authentication) it is possible to set a

Unfortunally there is no (documented) way to make the ingress honor a Certificate Revocation List (CRL) when checking the client certificates. This would be a nice feature.

[2021-06-09 08:54] EPNW commented on #7225
It seems that this section [here](https://kubernetes.github.io/ingress-nginx/examples/auth/client-certs/) describes that it is possible to include the crl right into the `ca.crl` of the `nginx.ingress.kubernetes.io/auth-tls-secret`.

So while it's not possible to add an extra annotation for a different crl, it is possible to make the ingress honor a crl in some way.
Since this is enough for our us

[2021-06-09 08:54] #7225 closed

[2021-06-09 10:16] flyinggecko opened #7226 "Helm: Chart not using helm-flag '--namespace'"
**NGINX Ingress controller version**:  0.47.0

**Kubernetes version** (use `kubectl version`): Server Version: version.Info{Major:"1", Minor:"19+", GitVersion:"v1.19.9-gke.1900", GitCommit:"008fd38bf3dc201bebdd4fe26edf9bf87478309a", GitTreeState:"clean", BuildDate:"2021-04-14T09:22:08Z", GoVersion:"go1.15.8b5", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Cloud provider or hardwar

[2021-06-09 10:36] longwuyuan commented on #7226
__$ date
Wednesday 09 June 2021 04:03:44 PM IST
__$ k get ns
NAME              STATUS   AGE
default           Active   32d
ingress-nginx     Active   40m
kube-node-lease   Active   32d
kube-public       Active   32d
kube-system       Active   32d
logdna-agent      Active   16d
metallb-system    Active   19d
postgres          Active   8d
test              Active   19d
__$ helm -n helm-template-test

[2021-06-09 12:08] gudipudipradeep commented on #7220
we are using ngnix +uwsgi + Flask python application. When we are doing load testing our python application. Some of the request are not hitting the application server.   in the below logs it is not sending request to the pods.

192.168.162.115 - - [07/Jun/2021:14:37:01 +0000] "POST /models HTTP/1.1" 200 125 "-" "Apache-HttpClient/4.5.12 (Java/1.8.0_131)" **5338637 281.645 [default-api-eboltapi-80

[2021-06-09 12:22] eugeneromero commented on #5411
Seeing a similar issue, in my case with TLS certs used for mTLS. About half of the time, I am able to make `ingress-nginx` pick up the new certs by restarting the ingress-controller pod. But it is always a coin toss, as it does not always happen. I can easily confirm that the new certs are not being picked up, because I can generate two sets from two different CAs, and I can easily see which cert

[2021-06-09 15:53] kd7lxl commented on #6012
Since the docs indicate this is supported, it should be marked `/kind bug`, at least until removed from the docs.

[2021-06-09 15:57] longwuyuan commented on #7153
Please close the issue since resolved on zoom

[2021-06-09 15:59] longwuyuan commented on #7153
/remove-kind bug

[2021-06-09 20:59] AlexDHoffer opened #7227 "Helm: Chart not able to use CLI flags that do not have a value associated"
**NGINX Ingress controller version**: k8s.gcr.io/ingress-nginx/controller:v0.44.0@sha256:3dd0fac48073beaca2d67a78c746c7593f9c575168a17139a9955a82c63c4b9a

**Kubernetes version** (use `kubectl version`): 1.19.11

**Environment**: Helm chart version 3.23.0

- **Cloud provider or hardware configuration**: Azure Kubernetes Service

**What happened**:

The Helm chart only allows you to set CLI flags th

[2021-06-09 22:08] AlexDHoffer commented on #7227
My apologies, after reading the Helm chart source code I see that this indeed possible by setting the value as an empty string, e.g.:

[code]

Apologies, closing this issue.

[2021-06-09 22:08] #7227 closed

[2021-06-10 00:30] kevgrig opened #7229 "Digital Ocean YAML has the wrong image version"
Digital Ocean instructions: https://kubernetes.github.io/ingress-nginx/deploy/#digital-ocean

Shows:
[code]
However, this YAML references both 0.46.0 and 0.47.0:

[code]

/kind bug

[2021-06-10 04:50] kundan2707 commented on #7229
/ assign

[2021-06-10 05:44] longwuyuan commented on #7160
/triage needs-information
/remove-kind bug

[2021-06-10 06:38] razvan-moj opened #7230 "Wrong webhook cert after chart upgrade"
Upgrade from chart 3.6.0 to 3.33.0, Helm 3 Kops 1.18 cluster. Upgrade seems fine, traffic goes through, until any changes are attempted for any ingresses (including those not handled by this controller). Error is
`
cannot patch "any-service" with kind Ingress: Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post https://modsec01-nx-modsec-admission.ingress-c

[2021-06-10 06:50] longwuyuan commented on #7230
If there is a way to reproduce this, then write those step down in complete detail.

/triage needs-information
/remove-kind bug

[2021-06-10 08:24] myselfghost opened #7231 "ingress-nginx have two the same location"
**NGINX Ingress controller version**:0.43

**Kubernetes version** (use `kubectl version`):v1.20.6

ingress
[code]

the generated NGINX config is wrong
there are two ``` location ~* "^/finance/" ``` , two ```  location ~* "^/depositwithdrawal/" ``` , two ``` location ~* "^/quotechart/"  ```

nginx.conf

[code]

[2021-06-10 08:24] razvan-moj commented on #7230
Hi - it was a one-line change, see https://github.com/ministryofjustice/cloud-platform-terraform-modsec-ingress-controller/pull/7/files followed by `terraform apply` in https://github.com/ministryofjustice/cloud-platform-infrastructure/blob/main/terraform/aws-accounts/cloud-platform-aws/vpc/kops/components/components.tf#L93

All pods came up OK, traffic going through correctly, but any attempt to

[2021-06-10 09:13] AmazingTurtle opened #7232 "nginx crashed due to unknwon directive ext_upstream_timeout"
**NGINX Ingress controller version**:
v0.43.0
[code]

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**:
a local managed kubernetes hosting provider
- **OS** (e.g. from /etc/os-release):
I don't have access to that information (it's entirely managed by the hosting provider)
- **Kernel** (e.g. `uname -a`):
[code]

**What happene

[2021-06-10 09:26] tobias-zeptio opened #7233 "Controller not ensuring port is open in AWS NLB"
**NGINX Ingress controller version**:
0.46.0

**Kubernetes version**:
v1.20.4-eks-6b7464

**Environment**:
EKS
EC2-image: ami-04b0736d7c883f821
Kernel Version: 5.4.117-58.216.amzn2.x86_64
OS Image: Amazon Linux 2
Operating System: linux
Architecture: amd64
Container Runtime Version: docker://19.3.13

ingress-nginx chart installed using helm v3

**What happened**:

When updating the ingress-nginx-c

[2021-06-10 12:26] OscarNeira commented on #4838
@herman-d no, we still have same issue, we disable the chunck transfer for now.

[2021-06-10 12:26] adou0510 opened #7234 "split large configuration file"
we have more than 10000+ site ,the nginx.conf so big  about 500M

[2021-06-10 13:58] wangyysde commented on #7234
/cc @wangyysde

[2021-06-10 16:53] #6552 closed

[2021-06-10 21:10] ltagliamonte-dd commented on #6017
Let's not forget that `Endpoints` resources are going to be deprecated very soon.

[2021-06-11 03:30] lijiansgit commented on #6291
Is it fixed?

[2021-06-11 03:55] chris-ng-scmp commented on #6291
The latest version >= 0.46 has lower memory usage, but it comes with a bug that will cause the Nginx to hang when reloading a large config set ...

https://github.com/kubernetes/ingress-nginx/issues/6896

[2021-06-11 04:24] kevgrig commented on #7153
@longwuyuan Thank you for your time for the investigation. I started from scratch and found that the difference was that in the example we used, it had an explicit host:

[code]

Once I added an explicit host, then everything worked (including the cert-manager annotation shim). This was odd because [lacking a host should apply to all hosts](https://kubernetes.io/docs/concepts/services-networking/i

[2021-06-11 04:33] longwuyuan commented on #7153
You could change the title of the issue for coherence and then write
details steps to reproduce the problem.

Thanks,
; Long

On 11/06/21 9:54 am, kevgrig wrote:

[2021-06-11 05:00] kevgrig commented on #7153
@longwuyuan Updated title. Reproduction steps are no different although I've yet to try them outside of Digital Ocean. Note also that using helm did not help nor did manually fixing 0.46.0 to 0.47.0 that we observed (as detailed in #7229).

[2021-06-11 05:59] longwuyuan commented on #7153
Please post reproduce process in do channel on slack. There are some
wonderfully awesome do engrs there.

Thanks,
; Long

On Fri, 11 Jun, 2021, 10:30 AM kevgrig, ***@***.***> wrote:

[2021-06-11 10:35] Baklap4 commented on #6928
I'd like to see a confirmation from the team, but according to the linked sources it should already be implemented i think...

Maybe a pull request to remove it from the readme doc if that's the case

[2021-06-11 10:54] #6742 closed

[2021-06-11 11:21] kristopher-bredemeier-gcx commented on #5968
I ran into the the same problem. I fixed it by deleting and reapplying the `ingress-nginx-admission-patch` job.

[2021-06-11 15:00] fionera commented on #7232
We debugged this further and found out that this probably happens, because the config gets thrown through the sed/awk scripts without catching errors between them. In this example the Ingress-Nginx instance sees about 2100 definitions and the config is about 60MB. It nearly requires 2GB of memory now to not crash.

[2021-06-11 16:03] dfateyev opened #7237 "NGINX: 0.47.0 assets use link to v0.46 controller image"
**NGINX Ingress controller version**: v0.47.0

**Kubernetes version** (use `kubectl version`): any

**What happened**:

The ingress-nginx release v0.47.0 has links to controller v0.46.0 images in assests:
[code]
**What you expected to happen**:

The proper image version usage:
`
k8s.gcr.io/ingress-nginx/controller:v0.47.0@sha256:a1e4efc107be0bb78f32eaec37bef17d7a0c81bec8066cdf2572508d21351d0b
`

*

[2021-06-11 16:07] dfateyev commented on #7237
duplicate #7215

[2021-06-11 16:07] #7237 closed

[2021-06-11 16:09] longwuyuan commented on #7153
/triage needs-information

[2021-06-11 16:10] longwuyuan commented on #7234
/kind feature
/remove-kind bug

[2021-06-11 16:25] longwuyuan commented on #7233
Please write down detailed and accurate steps that somebody else can use to reproduce the issue

/remove-kind bug
/triage needs-information

[2021-06-11 16:30] kevgrig commented on #7153
Reproduction steps:

1. Create [Digital Ocean Kubernetes cluster](https://cloud.digitalocean.com/kubernetes/clusters/new) (a 1 node cluster works)
1. Click `Download Config File` and save to `~/.kube/config`
1. Install ingress-nginx either with [Helm](https://kubernetes.github.io/ingress-nginx/deploy/#using-helm), the [YAML file](https://kubernetes.github.io/ingress-nginx/deploy/#digital-ocean) (w

[2021-06-11 16:41] longwuyuan commented on #7153
If you tell about this to engineers from DO, in the k8s slack channel of
DO, maybe it will help a lot.

Thanks,
; Long

On 11/06/21 10:00 pm, kevgrig wrote:

[2021-06-11 17:04] kevgrig commented on #7153
@longwuyuan I see no evidence that this is related to DO. I opened a forum post with DO and received no response. I can open a support ticket. What specifically should I ask? All evidence points to the issue in ingress-nginx: adding the host in the ingress fixes the issue; subsequently, after removing the host from the ingress, the issue remains fixed. It appears to be related to ingress-nginx ini

[2021-06-11 21:59] #3593 closed

[2021-06-11 22:23] AmazingTurtle commented on #7234
maybe relates to #7232

[2021-06-12 00:01] #6609 closed

[2021-06-12 00:07] brycesteinhoff commented on #6728
@rittneje I think `proxy_ssl_trusted_certificate` being required with `proxy_ssl_verify on` in Nginx makes sense, because for Nginx to verify the upstream cert it has to know which CAs to verify against. It would just be nice if it would use the system's trust store by default, but it doesn't.

[2021-06-12 01:14] rittneje commented on #6728
I agree that turning on verification doesn't make sense with no root of trust. The problem is that one rogue annotation breaks everything. It would be better if just the one service with the bad annotation stopped working in such a circumstance. (This is a separate matter from the fact that I think it ought to use the system's trust store by default.)

[2021-06-12 05:29] longwuyuan commented on #7153
So this combo ;
1) `default-ssl-certificate` = Not configured in ingress-controller
(2) `ingress.spec.rules.host`: *
(3) `ingress.spec.tls.hosts`: example.myplaceonline.com
(4) `ingress.spec.tls.secretName: <cert with only above fqdn in subect>`

I think is explained in the ingress spec ;

__$ k explain ingress.spec.rules
KIND:     Ingress
VERSION:  networking.k8s.io/v1

RESOURCE: rules <[]Object>

[2021-06-12 09:01] #6733 closed

[2021-06-12 13:29] kevgrig commented on #7153
@longwuyuan That's very interesting. I found this in the [Ingress documentation](https://kubernetes.io/docs/concepts/services-networking/ingress/#tls):

It seems like it would be useful to print a warning about this somewhere? I doubt I will be the first person to hit this issue.

[2021-06-12 13:31] kevgrig commented on #7153
What I think confused me the most is that describing the ingress shows the following which suggests it's configured correctly. Maybe the describe command could be the place for a warning?

[2021-06-12 15:16] NorthWindTR opened #7238 "Hi, ALL, nice to meet you"
hi, xxxxxxxxxxxxx

[2021-06-12 15:16] #7238 closed

[2021-06-12 15:18] longwuyuan commented on #7153
In production, I have never seen blank-value ingress.spec.rules.host, if
ingress.spec.tls has values.

Thanks,
; Long

On 12/06/21 6:59 pm, kevgrig wrote:

[2021-06-12 15:41] kevgrig commented on #7153
Created PR https://github.com/kubernetes/ingress-nginx/pull/7239

[2021-06-13 11:41] tanneeru111 opened #7240 "Images to k8.gcr.io"
Can we please upload the docker.io/jettech/kube-webhook-certgen:v1.5.1 file to k8s.gcr.io location as we are facing the docker limits issues, and update the deploy.yaml files.

[2021-06-13 14:15] yingjunxu opened #7241 "nginx CVE-2021-23017"
**NGINX Ingress controller version**:
0.27.1
images:quay.io/kubernetes-ingress-controller/nginx-ingress-controller:0.27.1
**Kubernetes version** (use `kubectl version`):
1.15.6
**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): centos7.7
- **Kernel** (e.g. `uname -a`): 3.10.0-1062.el7.x86_64
- **Install tools**:
- **Others**:

**What happened**:

[2021-06-13 17:17] #7153 closed

[2021-06-13 18:41] rikatz commented on #7240
Hi,

where is this image referenced in our manifests/docs?

Thanks

[2021-06-13 18:54] rikatz commented on #7198
Can confirm here. Will work in this ASAP and maybe make a new bugfix release

[2021-06-13 18:59] rikatz commented on #7234
This seems a good approach, but will need some effort to implement.

If someone wants to tackle on this one after we merge the support for v1 API in ingress nginx I would be glad to review it :)

[2021-06-13 18:59] rikatz commented on #7229
We've fixed the manifests, can you please check if this error persists?

Thanks

[2021-06-13 19:39] kevgrig commented on #7229
@rikatz Where is the manifest? I'm using the Digital Ocean one from the ingress-nginx Getting Started guide and it still shows 0.46 in the 0.47 manifest:

[code]

[2021-06-14 05:03] giri-jeedigunta commented on #5265
I'm still facing this issue ... This is my config:

`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: react-app
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: letsencrypt
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    nginx.ingress.kubernetes.io/configuration-snippet: |
      more_set_input_headers "x-opco: default";
spec:

[2021-06-14 05:12] #6753 closed

[2021-06-14 10:08] jrpedrianes commented on #7082
We were having the same issue, and the problem was that we were using a headless service. When we change it everything works as expected.

see here: https://github.com/kubernetes/ingress-nginx/blob/844a02c276788e293480c080fe09f4d242545c82/internal/ingress/controller/nginx.go#L464

The main problem for us to detect the problem was that the TcpProxy doesn't log any error when it tries to start the c

[2021-06-14 11:01] vibhutisawant commented on #6504
/remove-lifecycle stale

[2021-06-15 02:33] zhaogaolong commented on #6953
/close

[2021-06-15 02:33] #6953 closed

[2021-06-15 06:15] tobias-zeptio commented on #7233
This is the service that manages the NLB. Otherwise the deployment is done using the helm chart.

During a chart update, port 80 was removed and then not added again to the NLB.

[code]

[2021-06-15 06:33] longwuyuan commented on #7233
Did the sg configure for port 6379

Thanks,
; Long

On Tue, 15 Jun, 2021, 11:46 AM Tobias Månsson, ***@***.***>
wrote:

[2021-06-15 07:11] tobias-zeptio commented on #7233
Yes, 6379 was there and wasn't removed.

[2021-06-15 07:15] longwuyuan commented on #7233
What did the cloudtrail logs say

Thanks,
; Long

On Tue, 15 Jun, 2021, 12:41 PM Tobias Månsson, ***@***.***>
wrote:

[2021-06-15 07:29] tobias-zeptio commented on #7233
Sorry, I haven't used cloudtrail before. So don't know what to look for.

[2021-06-15 07:41] longwuyuan commented on #7233
Can you show on zoom ?

Thanks,
; Long

On 15/06/21 12:59 pm, Tobias Månsson wrote:

[2021-06-15 07:50] tobias-zeptio commented on #7233
I wrote you on kubernetes slack, I don't have zoom.

[2021-06-15 08:14] longwuyuan commented on #7233
as discussed on slack, will wait to get all details like ;
- kubectl get all,ing,nodes -A -o wide
- kubectl describe of both controllers
- kubectl describe of both services cted by both controllers
- values.yaml
- any other info

[2021-06-15 08:37] webmutation opened #7243 "Helm Chart installation on private PKS Cluster PSP issue"
When trying to install ingress controller into a private cloud PKS cluster, does not have internet access... I have pushed the images to our private registry and I have also modified the values file registry to point to our private repository... however the helm installation gets stuck with the following message in the kubectl events

`Error creating: pods "ingress-nginx-admission-create-" is forb

[2021-06-15 08:56] florinciubotariu commented on #6919
/remove-lifecycle stale

[2021-06-15 10:43] longwuyuan commented on #7243
I think you should post information li ;

kubectl version

kubectl get all,nodes, -A  wide

helm ls -A

values file used

helm install command with --debug

run kubectl get events in a terminal before starting the install and
capture every event during the install

other info related

Thanks,
; Long

On 15/06/21 2:08 pm, Daniel Mendes wrote:

[2021-06-15 12:41] longwuyuan commented on #7243
also since its about psp, please also post the output of `kubectl get psp -A`

[2021-06-15 12:42] longwuyuan commented on #7243
/remove-kind bug
/triage needs-information

[2021-06-15 12:45] longwuyuan commented on #7241
/remove-kind bug

This repo did not release tht nginx/nginx-ingress:1.11.3 ... that is a different project so please close this issue

[2021-06-15 12:48] webmutation commented on #7243
Hi Long,

I posted the version 1.19, but here it is more complete.

[code]

The value file is the one on this repo with only the registry changed to our private registry.

Its an empty cluster, so there are no events, only the one I posted, it is stuck there. I see it creates a couple of secrets but nothing else, then it gets stuck with that PSP error.

Also my user does not have clusterrole permi

[2021-06-15 12:54] longwuyuan commented on #7241
/lifecycle rotten

[2021-06-15 13:37] longwuyuan commented on #7243
You can cluster admin to install or create psp for that webook etc.

Thanks,
; Long

On Tue, 15 Jun, 2021, 6:19 PM Daniel Mendes, ***@***.***>
wrote:

[2021-06-15 14:12] webmutation commented on #7243
We set now in all places, but it still fails with same error.

[code]

[2021-06-15 15:42] longwuyuan commented on #7243
No idea what you mean by set in all places. That error proves that there is
no issue with the release. The issue lies with your special use case of
authorization and psp to install. You can solve that by discussing on
slack. Better to close this issue and get support on slack.

Thanks,
; Long

On Tue, 15 Jun, 2021, 7:42 PM Daniel Mendes, ***@***.***>
wrote:

[2021-06-15 17:21] muffl0n commented on #6876
The flag was removed in https://github.com/kubernetes/ingress-nginx/commit/9c6873a55d1db5dd8a6d7ebb7cd24a84fe977146

[2021-06-15 21:39] brianpursley commented on #7145
+1 for this issue.  Can confirm it does not work w/ a 1.22 cluster.

From my controller logs:
[code]

[2021-06-16 00:19] #4188 closed

[2021-06-16 04:24] tangchen-blip opened #7244 "Use body_filter is not working"
How do I define NGINX variables in a Lua script when logging response content is not working when I am using the plugin
main.lua
[code]

nginx_configure

![image](https://user-images.githubusercontent.com/65538007/122157265-2754fa80-ce9d-11eb-922e-46108c294c88.png)

**ERROR:**  The resp_body variable cannot be found

How can edit main.lua？let it run

[2021-06-16 10:23] #6410 closed

[2021-06-16 10:35] sanzenwin commented on #3976
@m-dinesh-kumar 💯

[2021-06-16 10:39] holooloo commented on #6853
Hello there!
I have the same issue.
For a working solution, i`ve installed old, deprecated version of nginx(
`ingress.kubernetes.io/ssl-redirect: "False"` - is not a solution at all.

Please, fix it shortly

[2021-06-16 13:23] #3754 closed

[2021-06-16 13:37] slash-ro commented on #6851
The default backed used by ingress is one of the applications deployed in Kubernetes and not the one specified as helm parameter **--set defaultBackend.enabled=true**

Config comparison between   "ingress-nginx-3.33.0  0.47.0"(LEFT) and "ingress-nginx-3.16.1  0.41.2"(RIGHT) without **--set defaultBackend.enabled=true**
![image](https://user-images.githubusercontent.com/39301307/122227317-73189b80-

[2021-06-16 15:07] longwuyuan commented on #7140
/remove-kind bug
/triage needs-information

[2021-06-16 17:53] justinmchase commented on #7145
The cluster I am using is older and it would be great if there was a solution to continue forward while still supporting the older ingressclass version for a period of time at least.

[2021-06-16 19:41] pchang388 commented on #7025
Hi @nwaistd,

I did some digging and found a solution that works for us, I don't have a full understanding of everything so this may not be applicable for you or 100% correct but it seems the missing metrics are no longer present due to the commit made in the past as outlined in this issue: https://github.com/kubernetes/ingress-nginx/issues/3713. This commit made it so that ingress objects that do

[2021-06-16 19:50] juozasget commented on #5968
Running the `ingress-nginx-admission-patch` job fixed it for me as suggested by @kristopher-bredemeier-gcx

If you are looking for an easy way to trigger the ingress-nginx-admission-patch job. Helm chart version upgrade will trigger it.
`apiVersion: batch/v1
kind: Job
metadata:
  name: ingress-nginx-admission-patch
  annotations:
    helm.sh/hook: post-install,post-upgrade`

[2021-06-17 11:34] angeloimm opened #7246 "nginx-ingress and optional_no_ca issues"
Hi. I'm using kubernete nginx ingress controller. I have scenario where users must authenticate by using X509 client certificate.
We implemented a solution where the client certificate is totally checked and verified by a back-end application written in java.

In my old environment I had a nginx ingress controller whith the following versions:

- nginx version: nginx/1.17.10
- OpenSSL 1.1.1g  21 A

[2021-06-17 11:46] rittneje commented on #6951
/remove-lifecycle stale

[2021-06-17 13:15] kundan2707 commented on #7212
@strongjz  does it mean updation of Support Versions table in readme.md?

[2021-06-17 13:32] kundan2707 commented on #7229
@kevgrig
Following file is present in repo
https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/do/deploy.yaml
and issue is fixed in this yaml file

[2021-06-17 13:38] kundan2707 commented on #7231
@myselfghost  as this issue is already fixed in  rancher/rke#2543.
Can you close this issue ?

[2021-06-17 15:38] devopsangel commented on #6875
It sounds it is yet need to implement:  https://issuetracker.google.com/issues/182815525?pli=1

Unless `kind: StorageBucket` comes as custom resource from `nginx` controller.  Is there any guru who can confirm that?

[2021-06-17 15:39] kevgrig commented on #7229
@kundan2707 That looks good, thanks. Should a new release be spun so that [the instructions](https://kubernetes.github.io/ingress-nginx/deploy/#digital-ocean) point to that new yaml?

[2021-06-17 21:55] Mikxail opened #7250 "Client Cert authentication is not working"
**NGINX Ingress controller version**:
NGINX Ingress controller
  Release:       v0.45.0
  Build:         7365e9eeb2f4961ef94e4ce5eb2b6e1bdb55ce5c
  Repository:    https://github.com/kubernetes/ingress-nginx
  nginx version: nginx/1.19.6

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa

[2021-06-18 00:04] erikwilson opened #7251 "Basic Auth: deprecation of DES crypt"
When using a RHEL / CentOS / UBI 7 or 8 base image build of nginx several of the e2e tests fail due to DES deprecation with crypt.

ingress-nginx should default to SHA hashed passwords for basic auth, currently hashes generated from `openssl passwd -crypt` can replace `-crypt` with `-6`, and the following line should indicate a different hashing method in the salt, like `foo:$6$`

https://github.c

[2021-06-18 06:06] ghouscht commented on #6896
Is there anything we can do to help here? I'm thinking of building my own ingress-nginx image based on debian-slim and do some tests with that image. Because I think this issue maybe related to musl-libc in alpine 🤷🏻‍♂️

[2021-06-18 06:15] myselfghost commented on #7231
Did not fix the problem.

[2021-06-18 08:08] luryus commented on #6896
It could also be a good idea to try custom builds with newer LuaJIT or Alpine versions. Or try making images from commits between the 0.43.0 and 0.44.0 releases and verify that it really was the Alpine update that made the segfaults appear. These could be quick to try before making the Debian image?

We're running 0.46.0 in a single dev environment, and have only seen one segfault in about a month

[2021-06-18 08:34] ecktom commented on #6545
I came across the same issue and just fixed it using  the `nginx.ingress.kubernetes.io/configuration-snippet` annotation on the ingress like:

[code]

Just make sure to mount your configmap like
[code]

[2021-06-18 08:49] longwuyuan commented on #7231
Can you show `kubectl get ing -A -o wide`

[2021-06-18 12:39] TwoStone commented on #6896
Hi, we have seen this problem in our development cluster with 0.46 quite often, so we downgraded the image to 0.43.
We are still seeing this error in the logs from the 0.43 ingress after downgrading. Our ingress controller about 500+ ingress resources. If we can add anything to trace the cause of this issue pleas let us know.

[2021-06-18 13:05] rikatz commented on #6896
hey folks,

Thanks for your help and patience.

Yes, maybe testing with the new alpine might be something. Alpine 3.14 got some changes in syscalls that might lead to other problems (we discussed that in #ingress-nginx-dev on slack) so we are really considering moving to Debian slim in future releases as well.

I'm pretty low bandwidth today, but I can release in my personal repo a ingress-nginx i

[2021-06-18 14:24] kundan2707 commented on #7197
/assign

[2021-06-18 16:51] kayrus opened #7252 "Ability to access the upstream IPs"
I see that the `upstream_balancer` uses LUA to get the upstream IPs and ports. I'd like to access and print the upstream IPs per each backend. It would be great to retrieve peers values using LUA snippet.

/kind feature

[2021-06-18 17:31] kayrus commented on #7252
I've managed to get it using this snippet:

[code]

[2021-06-18 17:31] #7252 closed

[2021-06-18 17:35] pbradly opened #7253 "Helm install fails due to failing to find nginx-ingress-ingress-nginx-admission secret"
**NGINX Ingress controller version**: `0.47.0`
**NGINX Ingress Helm chart version**: `3.33.0`

**Kubernetes version** (use `kubectl version`):
`v1.19.11`
**Environment**:

- **Cloud provider or hardware configuration**:
Azure AKS managed cluster
- **OS** (e.g. from /etc/os-release):
AKSUbuntu-1804gen2containerd-2021.06.02

**What happened**:

- Create a brand new AKS Kubernetes cluster
- install i

[2021-06-18 19:50] Mikxail commented on #7250
Not a bug.
Incorrect using of curl.
I tried to request: `curl -v https://1.2.3.4 -H 'Host: myhost.host.com' --cert client.crt --key client.key -k` - it's not working.
Correct request: `curl -v https://myhost.host.com --resolve myhost.host.com:443:1.2.3.4 --cert client.crt --key client.key -k `

[2021-06-18 19:50] #7250 closed

[2021-06-18 23:16] #6868 closed

[2021-06-19 02:54] tao12345666333 commented on #7226
maybe we need add `namespace: {{ .Release.Namespace }}` to all resources templates.

/good-first-issue

[2021-06-19 04:09] longwuyuan commented on #7226
- `helm install` command honors the --namespace flag
-  This issue is about the `helm template` command and the namespace may not exist at the time of running this command. I don't know if that is a factor.
- I see at least the configmap template showing {{ .Release.Namespace}}
- I have tried `helm template` on a bitnami/mysql chart and it seems to do the expected thing

[code]
- While, as reporte

[2021-06-19 05:02] tao12345666333 commented on #7226
This is a known issue. As mentioned here https://github.com/helm/helm/issues/3553#issuecomment-521424132  the `helm template` command will ignore the `--namespace` flag.

So usually when we write helm chart, we will add `namespace: {{ .Release.Namespace }}` by default.

You only need to add this field for resources in the **namespace scope**
ref: https://kubernetes.io/docs/concepts/overview/workin

[2021-06-19 16:13] longwuyuan commented on #7226
@tao12345666333 bacongobbler's comments in that issue you linked make so much sense

[2021-06-19 20:05] jacklund commented on #6155
I'm sort of looking at it, although my Go is a little Rusty (sorry for the pun).

As a workaround, however, you can specify the pod-name with `--pod pod-name`. Since it's a daemonset, all the pods should be configured identically, so you can pick any of them.

[2021-06-19 21:51] rikatz commented on #6896
/priority critical-urgent
Let's check this next and maybe try to create two kinds of image (debian and alpine) to check the differences :)

[2021-06-20 11:22] ramanNarasimhan77 commented on #4836
I am still looking for some solution/workaround for this issue. Can this issue be reopened?

[2021-06-20 12:26] longwuyuan commented on #4836
I know nothing about multiplexing http1 & http2 on same port.
But I am curious if you want to try different targetPorts and see if the problem persists.
Because the official Argo-CD installer has different targetPorts for http & grpc https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

[code]

Also curious if the ArgoCD was installed with custom configuration to that u

[2021-06-20 15:30] rikatz commented on #7251
@erikwilson go ahead with the PR :) let's take a look!

Also changing this in the whole Ingress (to use basic auth as SHA) generates any impact? If not, cant we use SHA for everything and deprecate DES for good in all the images?

Thanks

[2021-06-20 15:32] rikatz commented on #7241
I dont think this is related to community ingress NGINX, so I'm closing this but feel free to reopen if this is not the case.

Thanks
/close

[2021-06-20 15:32] #7241 closed

[2021-06-20 15:34] rikatz commented on #7232
/triage accepted
Let's look at this next :) Maybe the approach to split the config files needs to be prioritized :)

[2021-06-20 15:35] rikatz commented on #7205
/kind support
Closing this, as the question was answered :)

[2021-06-20 15:36] rikatz commented on #7205
/close

[2021-06-20 15:36] #7205 closed

[2021-06-21 07:49] alison199 opened #7257 "Websocket 400 error"
**NGINX Ingress controller version**: 1.19 I think

**Kubernetes version** (use `kubectl version`): 1.18 I think

**Environment**: all except Development

- **Cloud provider or hardware configuration**: Kubernetes
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`): Python3
- **Install tools**: JupyterHub, Python3, Anaconda
- **Others**:

**What happened**:

Hi,

I'm using t

[2021-06-21 08:26] tao12345666333 commented on #7226
@flyinggecko Don't worry,  @longwuyuan has opened a PR #7256

[2021-06-21 10:27] joelhoisko commented on #6552
I have a similar issue, my custom changes to the `nginx.tmpl` files aren't being reloaded by the controllers.

I'm trying to clear some headers, and I've tried:
[code]

[2021-06-21 12:11] gxthrj commented on #6896
Just leave a comment. Although I can't bring you some useful debugging information, some information is available for reference.

I went to check other Nginx-based projects that use `Alpine 3.13` as the base image [APISIX](https://github.com/apache/apisix) / [APISIX Ingress Controller](https://github.com/apache/apisix-ingress-controller), also through some stress tests to simulate the environment,

[2021-06-21 12:31] TheSinding commented on #7257
I have the same error.
Is there something to be aware of in AKS ?

Cloud provider or hardware configuration: AKS
NGINX Ingress controller version: 0.43.0 (Chart version 3.22.0)

Kubernetes version (use kubectl version): 1.20.7

[2021-06-21 15:34] jabdoa2 opened #7259 "Readiness and Liveliness Probes fail when controller is reloading"
**NGINX Ingress controller version**: `0.43.0` and `0.47.0`

**Kubernetes version** (use `kubectl version`): `v1.18.15`

**Environment**:

- **Cloud provider or hardware configuration**: AWS with kops
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`): `Linux xxxxxxx 5.4.0-1035-aws #37-Ubuntu SMP Wed Jan 6 21:01:57 UTC 2021 x86_64 Linux`
- **Install tools**: Helm Chart `3.33.0`
-

[2021-06-21 16:28] AntoineCavaille commented on #7175
Quick update on our side before closing the issue.
We couldn’t find a way to properly handle scaling issue with ingress-nginx in AWS using an NLB. Our solution was to:

- Spin up a dedicated node pool with labels + taints and no autoscaling to run exclusively the ingress pods.
- Set the `ExternalTrafficPolicy` to `cluster`
- Use the ingress-nginx annotation `service.beta.kubernetes.io/aws-load-bal

[2021-06-21 16:28] #7175 closed

[2021-06-21 16:40] mirusky opened #7260 "Automatic Certificate from user custom domain"
- What do you want to happen?

We give our customers the ability to create their Online Events Platform as web pages. They look great, impress clients, and feel like they’re simply an extension of your website, namely through having content served via their own custom domain. As an example, “Fancy Corp” can serve their Event Platform att “events.fancycorp.com”.

So I'd like to configure automatic

[2021-06-21 19:32] #7198 closed

[2021-06-22 01:17] chris-ng-scmp commented on #6896
My company using 0.46 on the production cluster which has high usage but no issue at all.

But on the development cluster dose, the only difference is ingresses on the dev cluster are much more and keep reloading more frequent

[2021-06-22 02:32] gxthrj commented on #6896
It seems there is nothing  to do with  base image, but is related to the user’s usage scenarios. and encounters problems with frequent configuration updates and reload.

[2021-06-22 02:35] longwuyuan commented on #6896
I suspect the same so a stack trace of the dumped core comes to mind.

Thanks,
; Long

On Tue, 22 Jun, 2021, 8:02 AM kv, ***@***.***> wrote:

[2021-06-22 02:37] ReillyBrogan commented on #6896
@longwuyuan There's a backtrace in the first comment

[2021-06-22 08:27] sergeyshaykhullin opened #7261 "Some obsolete warnings logged"
**NGINX Ingress controller version**:

[code]

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

[code]

**What you expected to happen**:
No warnings are logged

**How to reproduce it**:
Install latest

[2021-06-22 12:48] samrakshak commented on #2724
@ngocketit got anything?

[2021-06-22 12:52] ngocketit commented on #2724
@samrakshak As I mentioned, putting the server snippet in Helm didn't work for me so I had to put it in every ingress (with `nginx.ingress.kubernetes.io/server-snippet` annotation) and it worked for me.

[2021-06-22 13:28] samrakshak commented on #2724
@ngocketit  now I am getting the following error:

 error:1408F10B:SSL routines:ssl3_get_record:wrong version number

I have used a AWS NLB and the certificate is being issued by certmanager/let's encrypt . I want TLS termination but I think as TLS is not termination I am facing this issue.

[2021-06-22 14:32] jackyh opened #7262 "streaming based load-balance support"
Hi, all:

I'm new to ingress-nginx. I would like to ask for your help here:
I need to implement a ingress load balance: say, I have only one client, this client will send request based on GRPC. At the server side, I will have three PODs with the same server. These PODs need to deal with the requests from client based on Streaming_ID, in other words, the request with the same Streaming_ID need to r

[2021-06-22 15:05] longwuyuan commented on #7262
Hi,

Welcome. There is more people active in kubernetes.slack.com, and there
are also some channels like#kubernetes-novice and #ingress-nginx-users,
there.

If you want you can choose to close this issue here and talk in those
slack channels first, while reading the docs of ingress at kubernetes.io
and docs of this ingress-controller at
https://kubernetes.github.io/ingress-nginx/ .

If ultimately

[2021-06-22 15:07] ecktom commented on #5679
I had the same issue and was able to get it working using the following setup:

nginx-conf:
[code]

annotations on ingress:
[code]

mounted nginx-modsecurity.conf:
[code]

I've not tested how to set this up globally but would assume it works with the server-wide snippets as well. Putting `modsecurity_rules_file` to the `configuration-snippet` like shown below did not work and resulted in the missi

[2021-06-22 15:52] rinoguglietta opened #7263 "customize or high Server header"
**NGINX Ingress controller version**: chart version v3.30.0

**Kubernetes version** (use `kubectl version`): 1.18.14

**Environment**: all

- **Cloud provider or hardware configuration**: AWS/Azure
- **OS** (e.g. from /etc/os-release): amazon linux 2/Ubuntu
- **Kernel** (e.g. `uname -a`): latest avail in AWS/Azure
- **Install tools**: default cloud provider
- **Others**: NA

**What happened**: ngi

[2021-06-22 16:30] strongjz commented on #3717
/priority important-soon

[2021-06-22 16:33] strongjz commented on #4621
Is this still an issue with the latest version of ingress-nginx? @pierluigilenoci

[2021-06-22 16:33] strongjz commented on #4621
/remove-kind bug
/triage need-information

[2021-06-22 16:35] strongjz commented on #5411
/priority important-longterm

[2021-06-22 16:36] strongjz commented on #5464
/priority important-longterm

[2021-06-22 16:36] tao12345666333 commented on #4621
/triage needs-information

[2021-06-22 16:37] strongjz commented on #5521
/priority backlog
/remove-kind bug
/kind feature

[2021-06-22 16:42] damiancurry commented on #5576
/assign

[2021-06-22 16:45] strongjz commented on #5690
/priority backlog

[2021-06-22 16:49] strongjz commented on #5723
/priority backlog

[2021-06-22 22:08] missedone commented on #3717
have the same issue, looking for PR #7169 being reviewed and merged soon. thx

[2021-06-23 05:31] longwuyuan commented on #7262
answererd in slack  https://kubernetes.slack.com/archives/C0X2V69D0/p1624421049256200

[2021-06-23 07:10] kundan2707 commented on #6847
@omerozery  can you close this issue as its already resolved?

[2021-06-23 07:11] kundan2707 commented on #6054
@Giancarlo1974  can you close this issue if its resolved ?

[2021-06-23 07:39] flyinggecko commented on #7226
Cool, is released and already in use. Thank you :+1:

[2021-06-23 07:39] #7226 closed

[2021-06-23 07:44] alison199 commented on #7257
Hi,

In my case I checked:

nginx version -> 1.19.1
kubernetes versions (all clusters) -> 1.18.6

[2021-06-23 09:46] kundan2707 commented on #7197
@chirangaalwis  Priividing only link to this document as note cule be a better option. it will required less change

[2021-06-23 09:56] wassy92x opened #7265 "Metadata of services are not shared with lua"
**NGINX Ingress controller version**: 0.47.0

**Kubernetes version** (use `kubectl version`): v1.20.2

**Environment**: Kind Cluster

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): Kind running on Windows (Docker-Desktop) with Ubuntu 20.10 as WSL2-Image
- **Kernel** (e.g. `uname -a`): 5.4.72-microsoft-standard-WSL2
- **Install tools**:
- **Others**:

**What h

[2021-06-23 10:00] kundan2707 commented on #7261
@sergeyshaykhullin  was it  completly fresh installation or you made changes to existing setup?

[2021-06-23 10:04] sergeyshaykhullin commented on #7261
@kundan2707 Existing setup, bumped version

[2021-06-23 10:16] nwaistd commented on #7025
@pchang388 Thank you so much! I'll test it and leave a comment soon.

[2021-06-23 10:58] kundan2707 commented on #7253
/assign

[2021-06-23 11:11] shahriak opened #7267 "Ingress-nginx load test at scale"
Hello,
I am trying to perform load tests comparing Istio and Linkerd + Nginx Ingress. The cluster I have consists of 100 nodes (for nginx + linkerd) with 100 Ingress replicas and 32 (38 node) service pods. I have also deployed Linkerd in HA mode. In addition, I added the following to the configmap to further improve the performance. The performance seems to degrade right after hitting 1K users ~53

[2021-06-23 11:23] wassy92x commented on #7265
I think I found the source of this issue.
Inside the nginx.go in the function configureBackends in line 932, is the service copied, but only the property `Spec` will be copied.

[2021-06-23 12:36] kundan2707 commented on #7229
@kevgrig  yes. In new release ymal file pointed by instruction will get updated.

[2021-06-23 12:37] kundan2707 commented on #7229
@kevgrig  this issue should be closed now.

[2021-06-23 13:24] alexfanat86 opened #7268 "Slow backend update"
**NGINX Ingress controller version**: 0.44.0

**Kubernetes version** (use `kubectl version`): v1.19.7

**Environment**:

- **Cloud provider or hardware configuration**: baremetal k8s cluster
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 5.10.32-051032-generic
- **Install tools**: Helm chart
- **Others**:

**What happened**:

We have baremetal k8s cluster.

[2021-06-23 14:24] Nikosef opened #7269 "Ingress-nginx and conditional headers"
Hello,

I would like to ask if there is a way to add conditional headers in ingress without using the "nginx.ingress.kubernetes.io/configuration-snippet" annotation since "if " directive has problems when used in location context, as per "if is evil", and it's not possible to have multiple "if" conditions.

In case there is not a solution to this right now, is it something that is planned to be ad

[2021-06-23 15:23] marcportabellaclotet-mt opened #7271 "pod disruption budget is created for default backend when default backend creation is disabled, but default backend replicas are set to 1 or more"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

PBD should not be created  when default-backend deployment creation is set to disabled

[2021-06-23 15:37] erikwilson commented on #7251
Thanks @rikatz! I think enforcing of SHA could be achieved by patching the nginx source for the base image, but it could also cause upgrade issues. Official docs like https://kubernetes.github.io/ingress-nginx/examples/auth/basic/ should probably be updated to use SHA hashing.

With the latest update of UBI8 as a base image for some reason I am no longer seeing crypt_r 500 errors using `openssl pa

[2021-06-23 18:32] jmthackett opened #7272 "Length of cors-allow-methods fields too short"
tl;dr max length of the cors-allow-methods annotation is 63 characters, but it should be longer, probably 255 characters or more.

**NGINX Ingress controller version**:
nginx-ingress-1.36.3  / 0.30.0
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"21", GitVersion:"v1.21.1", GitCommit:"5e58841cce77d4bc13713ad2b91fa0d961e69192", GitTreeState:"archive",

[2021-06-23 20:11] ecktom commented on #7263
The header is getting removed if you turn off server-tokens via the nginx-controller config.

See also:
https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#server-tokens
https://github.com/kubernetes/ingress-nginx/blob/master/rootfs/etc/nginx/template/nginx.tmpl#L341

[2021-06-23 20:44] frittentheke commented on #2924
/remove-lifecycle stale

[2021-06-23 20:46] rohitrav33ndran commented on #5238
I am having this problem now.  I add headers to configmap and the pod restart doesn't update the changes to nginx.conf.  Another observation is when multiple add_header statement to configmap and only one is retained on saving the changes.

[2021-06-23 21:20] #7145 closed

[2021-06-24 04:31] longwuyuan commented on #7267
Better chances of having more people look at this is in the \#kubernetes-users channel of kubernetes.slack.com.

You could close this issue and use slack for now until you have a need to reopen this issue.

[2021-06-24 08:54] Hessu1337 opened #7275 "CORS is broken"
**NGINX Ingress controller CHART version**: from 3.3.1 to 3.34.0(latest)

**Kubernetes version** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: GKE and Minikube
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: Helm
- **Others**:

**What happened**:

Annotations are written in Ingress object but are

[2021-06-24 09:22] Hessu1337 commented on #7275
nginx.conf file with chart version = 3.3.0
[code]

[2021-06-24 09:25] Hessu1337 commented on #7275
nginx.conf file with chart version = 3.34.0
[code]

[2021-06-24 13:25] iamNoah1 commented on #5411
Hi @hobti01 is that still an issue for you and have you tried using newer versions of ingress-nginx?

[2021-06-24 13:31] iamNoah1 commented on #5928
Hi @lachlancooper is that still an issue for you and have you tried using a newer version of ingress-nginx?

[2021-06-24 13:32] iamNoah1 commented on #6019
Hi @gmaiztegi @irizzant is still an issue for you guys and have you tried using newer version of ingress-nginx?

[2021-06-24 13:33] liggitt opened #7277 "Ignore ingress definitions for other ingressclasses"
**NGINX Ingress controller version**: v1.0.0-alpha.1

**Kubernetes version** (use `kubectl version`): v1.19+

**Environment**: all

- **Cloud provider or hardware configuration**: all
- **OS** (e.g. from /etc/os-release): all
- **Kernel** (e.g. `uname -a`): all
- **Install tools**: all
- **Others**: all

**What happened**: ingress definitions created intended to be serviced by other ingress contro

[2021-06-24 13:35] iamNoah1 commented on #6029
Hi @maxdevp @husak1984 @we4sz @mihaicracan is this still an issue for you guys? Which version ingress-nginx did you use and did you try using newer versions ?

[2021-06-24 13:37] liggitt opened #7278 "Handle or ignore non-service backends"
**NGINX Ingress controller version**: v1.0.0-alpha.1

**Kubernetes version** (use `kubectl version`): v1.19+

**Environment**: all

- **Cloud provider or hardware configuration**: all
- **OS** (e.g. from /etc/os-release): all
- **Kernel** (e.g. `uname -a`): all
- **Install tools**: all
- **Others**: all

**What happened**:

When constructing rows from ingress objects, non-service backends are not

[2021-06-24 13:38] iamNoah1 commented on #6238
Hi @champtar assuming this is still an issue for you, have you tried using newer versions of ingress-nginx?

[2021-06-24 13:41] iamNoah1 commented on #6245
Hi @AWSmith0216 @bjethwan @GerryWilko @MattJeanes @elmariofredo @benny-bp can you confirm that this issue still exists when using newer versions of ingress-nginx?

[2021-06-24 13:44] iamNoah1 commented on #6340
Hi @rnwolfe @winrono @jstachowiak is that still an issue for you guys and did you tried using newer versions of ingress-nginx?

[2021-06-24 13:45] MattJeanes commented on #6245
@iamNoah1 we have just disabled the webhook entirely, I would be happy to turn it back on if there has been a fix made for this issue but judging by the fact it's still open with no contributors contributing I would say it is likely still an issue.

[2021-06-24 13:50] florinciubotariu opened #7279 "connect() failed (111: Connection refused) while connecting to upstream (TCP ports exposed)"
**NGINX Ingress controller version**: v0.47.0

**Kubernetes version** (use `kubectl version`): 1.19

**Environment**:

- **Cloud provider or hardware configuration**: AKS
- **OS** (e.g. from /etc/os-release): N/A
- **Kernel** (e.g. `uname -a`): N/A
- **Install tools**: Helm

I have an application which acts as a FTP Server. The container has 2 ports exposed: 21 & 59xxx.

Deployment:
[code]
Service

[2021-06-24 14:20] liggitt opened #7280 "Handle named (non-numeric) ports correctly"
**NGINX Ingress controller version**: v1.0.0-alpha.1

**Kubernetes version** (use `kubectl version`): v1.19+

**Environment**: all

- **Cloud provider or hardware configuration**: all
- **OS** (e.g. from /etc/os-release): all
- **Kernel** (e.g. `uname -a`): all
- **Install tools**: all
- **Others**: all

**What happened**:

In pre-1.0 versions, numeric and string serviceport values were used:

htt

[2021-06-24 14:32] longwuyuan commented on #7275
I think I am able to reproduce at will ;

# v3.3.0 Test (chart v3.3.0)

[code]
## v3.3.0 nginx.conf

[code]

# v3.33.0 Test (chart v3.33.0)

[code]

## v3.33.0 nginx.conf

[code]

[2021-06-24 14:45] rnwolfe commented on #6340
@iamNoah1 Yes, still an issue.

I just updated to v0.47.0 from v0.34.1 and the redirect chain is still the same.

Here's the chain for the app mentioned in the original post but now running v0.47.0 in AWS.

Request URL | # Redirects | Status Code | URL
-- | -- | -- | --
http://connect.domain.com | 2 | 302 | http://connect.domain.com
  |   | 308 | http://connect.domain.com/admin/
  |   | 200 | http

[2021-06-24 15:23] longwuyuan commented on #7275
@Hessu1337 , the reason you are seeing the behaviour seems appropriate to me ;

See this screenshot
![image](https://user-images.githubusercontent.com/5085914/123288058-bf3a9000-d4fe-11eb-9db9-087a6e690160.png)

From whatever little I understood, CORS is a pre-flight request https://auth0.com/blog/cors-tutorial-a-guide-to-cross-origin-resource-sharing/

Pre-flight request is HTTP method "OPTIONS"

[2021-06-24 15:28] longwuyuan commented on #7275
lets wait for other comments to know if I got it wrong or if there is something else we should know.

[2021-06-24 15:31] longwuyuan commented on #7275
/remove-kind bug

[2021-06-24 15:40] auqf opened #7281 "what's the meaning of the ingress controller access log 's column and the forward rules?"

[2021-06-24 15:59] rikatz commented on #7277
/triage accepted
/priority critical-urgent
/assgn @rikatz

[2021-06-24 16:00] rikatz commented on #7278
/triage accepted
/priority critical-urgent
/assgn @rikatz

[2021-06-24 16:00] rikatz commented on #7278
/assign @rikatz

[2021-06-24 16:01] rikatz commented on #7280
/triage accepted
/priority critical-urgent
/assign @rikatz

[2021-06-24 16:15] #7281 closed

[2021-06-24 16:15] auqf commented on #7281
it's ok

[2021-06-24 18:11] iamNoah1 commented on #6245
@MattJeanes  can you confirm, that the issues still exist with newer version of ingress-nginx?

[2021-06-24 18:17] iamNoah1 commented on #6340
Thanks for the info @rnwolfe

/remove-lifecycle stale

[2021-06-24 18:31] #6800 closed

[2021-06-25 02:14] lachlancooper commented on #5928
Disabling TLS on an ingress isn't something we do very often, so I haven't encountered this bug recently. However it doesn't look like any of the related code has changed in the latest version, so I would expect this to still be a problem.

[2021-06-25 04:59] chirangaalwis opened #7283 "[AutoScaling] Kubernetes Ingress Object Metrics with Community NGINX Ingress Controller"
#### What would you like to be added:
A [custom metrics API implementation](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-custom-metrics) for capturing the request count per unit time of a Kubernetes Ingress resource object, when using the community NGINX Ingress Controller in order to be used as a metric for Horizontal Pod Autoscaling (HPA).

The ultimate

[2021-06-25 07:50] muffl0n commented on #7261
Having the same with Helm chart "ingress-nginx-3.33.0", App version 0.47.0

[2021-06-25 08:47] cappuccino5 opened #7284 "pods "ingress-nginx-controller-75557995f8-zf6j7" not found"
use  minikube

 kubectl logs ingress-nginx-controller-75557995f8-zf6j7 -n ingress-nginx -v5

[code]

 ingress status
[code]
What do I have to do to get the K8S service accessed externally!
Please help me solve this problem, thank you ..

[2021-06-25 09:01] cappuccino5 commented on #7284
oo  I restarted the container. Excuse me

[2021-06-25 09:01] #7284 closed

[2021-06-25 09:12] rinoguglietta commented on #7263
thanks, closing the issue

[2021-06-25 09:12] #7263 closed

[2021-06-25 09:25] PoojaGidaveer opened #7285 "ingress-controller metric: nginx_ingress_controller_requests is always 0"
We are running Performance Tests and we are forwarding the traffic via ingress resource but all of the nginx-ingress-controller metrics value are always 0.

The configuration on which nginx-ingress-controller binary is running :

     - args:
        - /nginx-ingress-controller
        - --default-backend-service=kube-system/nginx-ingress-controller-default-backend
        - --election-id=ingress-

[2021-06-25 12:39] #6808 closed

[2021-06-25 12:52] dkulchinsky opened #7286 "Linkerd headers injection"
Hello folks 👋🏼 long time fan and user of the controller!

We're also using Linkerd in all our clusters and we're now working to enable `Ingress mode` for the Linkerd proxy that is injected to the Ingress Controller pods this enables the use of features such as Traffic Splitting which is critical to our canary deployment strategy, in this mode additional headers are required to ensure Linkerd opera

[2021-06-25 16:23] snugghash commented on #4901
Not an expert but when you use an ingress controller it uses the `Host` to route traffic among all the ingress resources it has captured. If the Host for a request is not set, you will receive a 404. When I was testing with ingress-nginx helm chart v3.7.1, I verified that this is issue occurs and we get a 404 not found for the mirrored subrequest.

In addition the annotation `nginx.ingress.kuberne

[2021-06-25 22:05] semenovroman commented on #6245
Seeing this error on
[code]
[code]
[code]
One of controller pods stops reloading config, log:
[code]

I copied nginx.conf from that pod to inspect it manually, it ends with
[code]
If we manually kill the pod, new one restarts just fine.
We started seeing this behavior on different clusters after enabling validating admission webhook (the one that comes with helm chart). We changed pod labels and l

[2021-06-25 22:24] hobti01 commented on #5411
We do not specifically test for this failure.  We have implemented work-arounds to ensure certificates are reloaded and are not testing each release we use to see if this bug has been fixed.  Since it has been reported but several other users on newer versions it seems this remains an issue.

[2021-06-26 05:59] SpecialForce3331 opened #7288 "Where is least_conn load balance method?"
Hello! I see what in nginx-0.24.0  least_conn balancing method was removed.
Why? Maybe I can get this balancing method in another way?

/kind feature

[2021-06-26 09:10] nwaistd commented on #7025
I added host in ingress, and it worked.

[code]

I can get various status metrics from `localhost:10254/metrics` like this.

[code]

[2021-06-26 23:47] #6393 closed

[2021-06-27 19:18] rikatz commented on #7286
Hi @dkulchinsky this sounds like a great feature.

As we are right now focusing on moving to Ingress v1 API (and the ingress-controller v1 release), probably we wont have much bandwidth in a short term to implement this, but I would really happy to help you implementing this and maybe reviewing this to be released with V1.

WDYT?
/triage accepted
/priority backlog

[2021-06-27 19:22] rikatz commented on #7277
Thanks @liggitt

I'll take a look into this.

For my future me (or people helping) we need to:
* Implement the filtering
* Implement e2e tests and check if this filtering is working
  * Objects with IngressClass = nginx class should be parsed and served
  * Objects with IngressClass != controller ingress class should be filtered and ignored
  * Check this case with a bunch of ingress objects and t

[2021-06-27 19:38] rikatz commented on #7261
thanks for raising this. This seems a simple correction in nginx.tmpl file, so this might be a good first issue :)

Should be fixed [here](https://github.com/kubernetes/ingress-nginx/blob/93070faaff8443db3b800c69b31e3ba17e593582/rootfs/etc/nginx/template/nginx.tmpl#L291-L293)

Also, I would like to suggest that the new directives are documented as well in https://github.com/kubernetes/ingress-ngin

[2021-06-27 20:40] JacekDuszenko commented on #7261
Hey, want to take a stab a this.

[2021-06-27 20:40] JacekDuszenko commented on #7261
/assign @JacekDuszenko

[2021-06-27 20:54] #6804 closed

[2021-06-28 05:31] longwuyuan commented on #7275
@Hessu1337 Please close this issue now and you can reopen when you have more info

/lifecycle rotten

[2021-06-28 05:58] #6795 closed

[2021-06-28 06:38] adou0510 opened #7289 "blacklist-source-range"
we have more than 10000+ ingress ，want set deny  same ips for  all  ingress

[2021-06-28 08:12] iamNoah1 commented on #6307
Hi @PuneeshMotwani @TSASM @zerkms @danfromtitan can you guys confirm that the issue still exists with newer versions of ingress-nginx?

[2021-06-28 08:56] iamNoah1 commented on #6358
Hi @tpoindessous @kolorful @Uysim, can you guys can confirm that the issue still exists? Also with newer versions of ingress-nginx?

[2021-06-28 08:59] iamNoah1 commented on #6431
Hi @LucFauvel @zffocussss which version of ingress-nginx are you using? Can you confirm, that the issue still exists with newer versions of ingress-nginx?

[2021-06-28 09:30] liyin37 opened #7290 "ingress nginx cant save config file"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):
1.19.8

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release): kylinOS-arm64
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
when I create ingress for nacos
![image](https://user-images.githubusercontent.com/42507175/12361372

[2021-06-28 10:04] longwuyuan commented on #7290
@liyin37   if you are able to open the URL in a webpage then the ingress is at least routing traffic to the backend. it seems like you are reporting a error on that webpage but there is no information you have posted here that shows that the error is caused by the ingress-nginx-controller.

in any case, such issues are better reported in the slack channel ingress-nginx-users at kubernetes.slack.co

[2021-06-28 10:13] we4sz commented on #6029
@iamNoah1 We ended up changing the label on the planned feature to "nice to have" since it's not generating any business to the organisation. Don't know if it ever will be a priority to implement so stopped my research about this.

[2021-06-28 10:26] tao12345666333 commented on #7290
You can open the browser console to view the detailed response to this request

[2021-06-28 14:27] ecktom commented on #7289
how about https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#block-cidrs

[2021-06-28 14:30] dkulchinsky commented on #7286
Hey @rikatz, thanks for considering it and giving me the 👍🏼

I'm off on some PTO now, once I'm back I'll see if I can give this a shot, appreciate the offer to help 😄

[2021-06-28 14:55] pezzak opened #7292 "Daemonset status IP wrong"
**NGINX Ingress controller version**:

`k8s.gcr.io/ingress-nginx/controller:v0.46.0@sha256:52f0058bed0a17ab0fb35628ba97e8d52b5d32299fbc03cc0f6c7b9ff036b61a`

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: Bare Metal
- **OS** (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
- **Kernel** (e.g. `uname -a`): 4.15.0-124-generic

[2021-06-28 16:55] shibin-george opened #7293 "Updating ca secret for client-certificate doesn't update ingress until controller is restarted"
**NGINX Ingress controller version**: helm-chart-ingress-nginx-3.30.0

**Kubernetes version** (use `kubectl version`): 1.19

**Environment**:

- **Cloud provider or hardware configuration**: Azure AKS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
In my ingress, I have the following annottations to enable client-ce

[2021-06-28 17:01] #6540 closed

[2021-06-28 17:10] xinfang opened #7294 "Can't disabled sslv3 from ingress configmap"
NGINX Ingress controller version:
[code]

[code]
What happened:

I try to disabled sslv3 from ingress configmap.

1) crate new configmap and apply to nginx-ingress
[code]

2. add ssl_protocols to server-snipper in ingress yaml
[code]
3. apply both yaml and check nginx conf file
[code]
4.   cat the ingress-controller  /etc/nginx/nginx.conf file
[code]

every thing looks good , but scan result  stil

[2021-06-28 21:50] pzimno opened #7295 "Open Tracing collector failures should not cause ingress-nginx failure"
### Current Behavior
Currently having a failure within a jaeger trace collector results in ingress-nginx fully going down. Examples include the failure to resolve the `jaeger-endpoint ` config key and inability to connect to the port for that endpoint. This results in ingress-nginx not being able to reload the config which later leads to readiness check failures and downtime for all ingresses.

[c

[2021-06-28 22:56] #7133 closed

[2021-06-28 22:56] #7130 closed

[2021-06-29 01:03] xiaozhangcoach opened #7296 "How to prohibit the use of cipher suites containing CBC symmetric cryptographic algorithm in the TLS protocol to violate redline requirements?"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`):

**Environment**:

- **Cloud provider or hardware configuration**:
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

**What you expected to happen**:

**How to reproduce it**:

**Anything else we need to know**:

/kind bug

[2021-06-29 01:43] #7294 closed

[2021-06-29 06:31] yifan commented on #7135
I am getting the same error. there is ValidatingWebhookConfiguration `ingress-nginx-admission` available.

[2021-06-29 07:25] iamNoah1 commented on #6482
Hi @heweizhen0822 @zerthimon @wenhuwang can you guys confirm that the issue still exists with newer version of ingress-nginx?

[2021-06-29 07:27] iamNoah1 commented on #6504
Hi @vibhutisawant @alanjcastonguay can you guys confirm that the issue still exists with newer versions of ingress-nginx?

[2021-06-29 07:29] iamNoah1 commented on #6611
Hi @kfirfer @michael-bouvy can you guys confirm that the issue still exists with newer versions of ingress-nginx?

[2021-06-29 07:31] iamNoah1 commented on #6651
Hi @akunaatrium @nvtkaszpir which version of ingress-nginx are you guys using? Did you try using newer versions of ingress-nginx?

[2021-06-29 07:38] iamNoah1 commented on #6728
Hi @Okhoshi @rittneje can you guys confirm that the issue still exists with newer versions of ingress-nginx?

[2021-06-29 07:43] iamNoah1 commented on #6755
Hi @yuenwah @Hello-Linux @inge4pres @jianlongzhou can you guys confirm that this is still an issue with newer versions of ingress-nginx?

[2021-06-29 07:44] michael-bouvy commented on #6611
Hi @iamNoah1, my current version is v0.44, I haven't tested on newer versions but would be glad to hear from someone who has!

[2021-06-29 07:45] inge4pres commented on #6755
We don't experience this issue anymore, so for me it can be closed

[2021-06-29 07:47] iamNoah1 commented on #6758
Hi @manuasir @JihadMotii-REISys can you guys confirm that the issue still exists with newer versions of ingress-nginx?

[2021-06-29 07:50] iamNoah1 commented on #6822
Hi @esteban1983cl @aSapien @Nuru @stealthHat do you guys still consider this an issue?

[2021-06-29 07:54] iamNoah1 commented on #6825
Hi @vorozhko do you still consider this being an issue? For me, it looks more like something that maybe needs to be documented in a better way?! What do you think @rikatz? Or a support task?!

[2021-06-29 07:57] iamNoah1 commented on #6828
Hi @deliahu, do you still this being a bug in ingress-nginx?

[2021-06-29 07:57] Okhoshi commented on #6728
Hi @iamNoah1, from the code in master, I can see that the issue 2 explained in  https://github.com/kubernetes/ingress-nginx/issues/6728#issuecomment-827742389 is still there.

This is the root cause of this issue.

[2021-06-29 08:16] iamNoah1 commented on #6829
Hi @ngocketit is this still an issue for you? Did you try newer versions of ingress-nginx?

[2021-06-29 08:17] iamNoah1 commented on #6837
/remove-kind bug

[2021-06-29 08:19] iamNoah1 commented on #6850
Hi @xasor @olfway do you still see this issue? Have you tried newer versions of ingress-nginx?

[2021-06-29 08:20] iamNoah1 commented on #6871
Hi @batodev @eliabayev is this still an issue for you guys? Have you tried using newer versions of ingress-nginx?

[2021-06-29 08:23] iamNoah1 commented on #6874
Hi @kahootali is this still an issue for you?

[2021-06-29 08:24] iamNoah1 commented on #6874
/remove-kind bug

[2021-06-29 08:27] iamNoah1 commented on #6883
Hi @butnaruandrei @hameno do you consider this being a bug with ingress-nginx? or the respective helm chart? Looks more like a documentation enhacement.

/remove-kind bug
/kind documentation

[2021-06-29 08:29] iamNoah1 commented on #6887
/remove-kind bug
/kind support

[2021-06-29 08:30] iamNoah1 commented on #6887
Hi @SubashL did you solve your issue?

[2021-06-29 08:35] iamNoah1 commented on #6892
Hi @palfrey @kundan2707 do you consider this being a bug with ingress-nginx? Or is it maybe just a documentation enhancement request?

[2021-06-29 08:39] iamNoah1 commented on #6027
Hi @rocketraman did you try using the newest version of ingress-nginx?

[2021-06-29 08:46] iamNoah1 commented on #6893
Hi @gnulux,

see https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#ssl-passthrough
like @kundan2707 mentioned, it is disabled by default.

Can you consider closing this issue, as it is not really an issue, but more a misconfiguration?!

/remove-kind bug

[2021-06-29 08:51] iamNoah1 commented on #6905
@rikatz could you have a look at this one. There is also a PR, but as far as I understand, we don't want to do this. Also it is not considered being a bug.

/remove-kind bug

[2021-06-29 08:52] iamNoah1 commented on #6905
/kind design

[2021-06-29 08:58] iamNoah1 commented on #6912
Hi @li-adrienloiseau, do you still have this issue? Did you try newer versions of ingress-nginx? Looks for me more like a support issue than a bug.

/remove-kind bug
/kind support

[2021-06-29 08:59] palfrey commented on #6892
Bug. Not one I'm necessarily expecting to get fixed, as I've seen a bunch of other instances of this elsewhere and now have a local workaround.

[2021-06-29 09:00] iamNoah1 commented on #6912
My first guess that you try to install the chart in a different namespace than your services are.

[2021-06-29 09:02] iamNoah1 commented on #6925
Hi @jamesgetx, is this still an issue for you and have you tried using newer version of ingress-nginx?

[2021-06-29 09:06] iamNoah1 commented on #6929
Hi @mbrancato do you still have this issue? Have you tried using newer versions of ingress-nginx?

[2021-06-29 09:07] iamNoah1 commented on #6933
Hi @skywli is this still an issue for you and did you try using newer versions of ingress-nginx?

[2021-06-29 09:07] SubashL commented on #6887
Yes sir. Please close the issue.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Noah Ispas ***@***.***>
Sent: Tuesday, June 29, 2021 2:00:29 PM
To: kubernetes/ingress-nginx ***@***.***>
Cc: Subash Lingareddy ***@***.***>; Mention ***@***.***>
Subject: [External] Re: [kubernetes/ingress-nginx] Service does not have an endpoint issue for helm ingress nginx k8

[2021-06-29 09:10] iamNoah1 commented on #6934
Hi @dankitson, can you confirm this is still an issue with newer versions of ingress-nginx?

[2021-06-29 09:15] iamNoah1 commented on #6948
Hi @nyarly is this still an issue for you? Which version of ingress-nginx do you use and did you try updating to newer versions?

[2021-06-29 12:25] cgorbit opened #7297 "Speed up CheckIngress in admission hook by eliminating the deep copy"
Hi,

In the company where I working we have several k8s clusters and one dedicated to developers personal stands.
k8s is working in aws ec2 nodes.

Developer's cluster's nginx ingress controller config contains 120 `server` sections, 5271 `location` sections and have 19MB size as text config.

On such big config amission hook for each ingress update becomes too slow, it lasts about **7 seconds** n

[2021-06-29 12:27] mitom commented on #7080
@tokers has the option to set `worker_rlimit_core` ever been added? We're now facing this issue and more or less know the root cause for us (it's a chain of user error in configuring a number of certificates, which cert-manager seems to endlessly re-try to validate via the http solver but fails because they're not set up properly, which leads to ssl errors in nginx ingress which seems to lead to c

[2021-06-29 12:58] rikatz commented on #7297
/triage accepted
/kind cleanup
/priority important-longterm

Maybe this seems to be a good performance improvement. Accepting so other folks can look

[2021-06-29 13:55] phantooom opened #7299 "support health check"
now ingress-controller upstream health check  depends on k8s readiness probe.

for some case we need ingress controller check upstream health.

1. when a k8s worker node down. the pods in the node will remove from endpont after long time. we need quickly marked the upstream invalid.
2. the ingress-controller in region A & pod in region B. when the  network partition  happend we also need health ch

[2021-06-29 13:59] xasor commented on #6850
Hello @iamNoah1,

I have just updated to the latest version and I confirm it is still an issue.

[2021-06-29 14:20] AmitBenAmi commented on #7080
@mitom how did you come up with finding that the chain is the root cause?
Is it something you found out from the core dumps themselves?

[2021-06-29 14:28] rocketraman commented on #6027
@iamNoah1 If you see my comments above, I've periodically tried it against new versions of ingress-nginx several times. I'm not going to waste my valuable time doing so again while the issue continues to be ignored.

[2021-06-29 14:52] tao12345666333 commented on #6850
/triage accepted
/priority important-longterm

[2021-06-29 15:01] mitom commented on #7080
No, the core dumps only contained:
[code]
which doesn't mean anything to me really.

It is more or less an educated guess based on that around the time we have this issue the logs were spammed with invalid certificate errors in the controller.

[2021-06-29 15:27] juanbrein commented on #7288
+1

[2021-06-29 15:59] nyarly commented on #6948
Yes

[code]

[2021-06-29 16:11] vorozhko commented on #6825
Hi @iamNoah1, the issue initially affected Flagger https://github.com/fluxcd/flagger/issues/787, but it was resolved few week ago. The workaround was to delete canary ingress instead of setting it false.
So, issue with validation webhook and canary "false" combination didn't go anywhere.

[2021-06-29 17:39] esteban1983cl commented on #6822
Hi, @iamNoah1 I thinks that it still and issue. The follow code snippet doesn't allow manage insecure traffic I mean, http requests.

[code]
All the traffic include insecure requests will redirected over https protocol. This break the feature that keep insecure traffic. We need other kind of solution for AWS Load Balancers.

[2021-06-29 17:51] crocokyle commented on #3055
Just wanted to add to this that the documentation there really is just a near copy of what's at https://metallb.universe.tf/ and doesn't make it entirely clear how to integrate with Ingress NGINX. It would be helpful if there were some documentation on how to customize the standard baremetal manifest or an example deployment for Ingress NGINX with metallb. I've been looking for any sort of hint as

[2021-06-29 19:43] darkn3rd opened #7301 "Building FortuneBuilder app"
I need to test GRPC with ingress-nginx, as I will support mixed HTTP/1.1 and GRPC (HTTP/2) traffic through the ingress.  The instructions document using this application to test the solution, but it requires Bazel build tools, which adds a layer of complexity and dependencies that are currently broken (as this area has not been refreshed).  I understand that Bazel is the new shiny, but it would al

[2021-06-29 20:03] darkn3rd commented on #7301
I found that I need to add the following to `WORKSPACE` go forward with the

[code]

Now I am seeing other build errors:

[code]

[2021-06-30 00:40] rittneje commented on #6728
@iamNoah1 Indeed, this issue still exists, hence my open PR (#7084).

[2021-06-30 01:39] alanjcastonguay commented on #6504
Unknown. I have no s390x machine.

[2021-06-30 04:20] longwuyuan commented on #3055
How did you install ingress-nginx controller after making sure that
metallb was working.

Thanks,
; Long

On 29/06/21 11:21 pm, Crocokyle wrote:

[2021-06-30 04:29] longwuyuan commented on #6728
I wonder how nginx upstream (not the controller or any component of it) works in the scenario. Have to check nginx upstream docs.

[2021-06-30 04:48] longwuyuan commented on #6728
[code]

@rittneje when nginx upstream is not defaulting to a cert, would it be fair for ingress-controller to do that ?

[2021-06-30 06:21] xuming-code opened #7302 "There are some problems with nginx ingress running on AWS EKS"
Nginx ingress running on AWS eks for a period of time will result in load balancing unable to access nginx controller. what is the cause of this?

thanks.

[2021-06-30 06:29] wenhuwang commented on #6482
this issues still exists in 0.47.0 version.

[2021-06-30 07:48] muffl0n opened #7303 "Slow request via ingress, delay before "run request""
**NGINX Ingress controller version**:
Helm chart 3.33.0
ingress-nginx/controller v0.47.0

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:

- **Cloud provider or hardware configuration**: GKE 1.20.7-gke.1800

**What happened**:
Issuing a request via ingress to a java webapp takes a long time, mostly around 12s. Tested from outside as well as from inside the cluster.
Accessi

[2021-06-30 08:00] crocokyle commented on #3055
Hi @longwuyuan. I spoke a bit too soon. I installed ingress-nginx using the baremetal manifest at https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/baremetal/deploy.yaml

I guess I was making things a bit more complicated than they needed to be. Once I changed the `ingress-nginx-controller` service from `NodePort` to `LoadBalancer` everything seemed to work as expected

[2021-06-30 08:14] longwuyuan commented on #7302
Can you please show some information that this happened and how it
happened.

Thanks,
; Long

On 30/06/21 11:51 am, xuming-code wrote:

[2021-06-30 08:16] longwuyuan commented on #3055
That is nice. Glad resolved.

Thanks,
; Long

On 30/06/21 1:31 pm, Crocokyle wrote:

[2021-06-30 08:44] xuming-code commented on #7302
![微信图片_20210630163607](https://user-images.githubusercontent.com/81788056/123930247-2609ee80-d9c2-11eb-8508-7df23556fcc5.png)
After running normally for a long time, it suddenly appeared. Nothing in the nginx ingress controller pod log

Thanks.

[2021-06-30 08:46] longwuyuan commented on #7302
what is port 30733

Thanks,
; Long

On 30/06/21 2:14 pm, xuming-code wrote:

[2021-06-30 09:04] cmoulliard opened #7305 "Rejecting admission review because the request does not contain an Ingress resource but networking.k8s.io/v1, Kind=Ingress"
## Versions

**NGINX Ingress controller version**: 0.47
**Deploy yml file**: master
**Kubernetes version**: 1.21.1
**Environment**: MacOS
**Install tools**: kind (version 0.11.1)

## What happened

When we deploy an ingress resource on a kubernetes cluster 1.21.1 where ingress has been deployed using this file: https://github.com/kubernetes/ingress-nginx/blob/master/deploy/static/provider/kind/dep

[2021-06-30 09:06] aojea commented on #7305
ping @rikatz

[2021-06-30 10:15] knyttl commented on #7259
I am not sure whether this might help - but I used to have issues with dropping connections during conf reloading. I solved this with:

[code]

[2021-06-30 10:51] rittneje commented on #6728
@longwuyuan Not just fair, I would say it is absolutely required for ingress-controller to default to /etc/ssl/cert.pem, regardless of how insecure nginx itself chooses to be by default.

The various `proxy-ssl-*` annotations are currently tied too closely together: unless you set `proxy-ssl-secret` they are silently ignored. Since nginx is insecure by default, you won't even notice this has happe

[2021-06-30 10:55] kahootali commented on #6874
@iamNoah1 no, its fixed, will be closing this

[2021-06-30 10:55] #6874 closed

[2021-06-30 11:01] jabdoa2 commented on #7259
Guess that is always a good idea. We use exactly the same setting. This incident is different unfortunately. Our ingress often becomes unready and is sometimes restarted because readiness also does not respond in time. With enough reloads this happens multiple times per day.

[2021-06-30 11:17] lambchr commented on #6937
Hi @strongjz sorry for the delayed response. I upgrade to 0.47.0 and repeated my above test (created new debug ingress, waited for host and address to appear, checked if metric appeared) and could still not see any `nginx_ingress_controller_requests` metrics from the `/metrics` endpoint of any NGINX pod in the cluster. When I curled my new debug ingress and checked the NGINX pods `/metrics` endpoi

[2021-06-30 12:01] brocaar commented on #4836
I am experiencing the same issue and might have found the solution.

In my case I wanted to expose a single endpoint serving HTTP, WebSockets and gRPC. Without the `GRPC` backend annotation, HTTP and WebSockets would work, but gRPC did not work. With the annotation, gRPC and HTTP requests did work, but WebSockets were broken.

I created two ingresses, one matching the gRPC endpoint paths with the

[2021-06-30 13:23] vibhutisawant commented on #6504
@iamNoah1  The above mentioned error still persists in the latest version.

@aledbf Also Observed that the controller image mentioned in https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v0.47.0/deploy/static/provider/cloud/deploy.yaml , still points to v0.46.0.

[2021-06-30 15:13] amir-enote commented on #7113
Hey @crosvera
I'm seeing the same issue, however I'm not even specifying the ssl ports in my configuration. What exactly did you changed for that to work? I'm trying to figure it out myself for quite a while already. Thanks in advance!

[2021-06-30 17:07] cellConnect commented on #6853
Same here:
[code]
`curl -k about.mysite.com` works fine. However without -k:
`curl: (60) SSL certificate problem: unable to get local issuer certificate
More details here: https://curl.haxx.se/docs/sslcerts.html
...`

[2021-07-01 00:44] seizadi opened #7306 "kind nginx ingress validation webhook failed calling "validate.nginx.ingress.kubernetes.io": an error on the server ("") has prevented the request from succeeding"
**NGINX Ingress controller version**: v0.47.0

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.3", GitCommit:"1e11e4a2108024935ecfcb2912226cedeafd99df", GitTreeState:"clean", BuildDate:"2020-10-14T12:50:19Z", GoVersion:"go1.15.2", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"21", GitVers

[2021-07-01 06:17] BenTheElder commented on #7301
From the README.md for this image currently https://github.com/kubernetes/ingress-nginx/blob/e98e3f3b9d43b3a81a4e0c7b91204d5550d74449/images/grpc-fortune-teller/README.md:

I would guess Bazel 0.12 is substantially older than what you have installed, stable bazel is v4.1.0 now.

It's worth noting that this entire directory has a a few commits and hasn't really been actively developed https://githu

[2021-07-01 12:05] kundan2707 commented on #7306
/assign

[2021-07-01 12:41] kundan2707 commented on #7253
@pbradly  please update your chart version 3.8.0 or newer one

[2021-07-01 13:44] rikatz commented on #7305
/assign @cpanato

[2021-07-01 14:13] cpanato commented on #7305
thanks for opening this issue @cmoulliard
we did some tests and if you use the manifests from the main branch (aka master) it will fail because it is listening only to the V1 objects

I recommend you to use the manifests from the `release-v1beta1` branch, for kind : https://raw.githubusercontent.com/kubernetes/ingress-nginx/release-v1beta1/deploy/static/provider/kind/deploy.yaml

tested using the

[2021-07-01 14:13] rikatz commented on #7306
duplicate of #7305

Please take a look there, as we're suggesting people now to use the older nginx controller version in this case

/close

[2021-07-01 14:13] #7306 closed

[2021-07-01 14:14] cpanato commented on #7305
I will close this issue because if you use the manifests from the release-v1beta1 it works

/close

[2021-07-01 14:14] #7305 closed

[2021-07-01 14:15] cpanato commented on #7280
/assign @cpanato
/unassign @rikatz

[2021-07-01 14:29] sveronese opened #7310 "Can't find full compatibility matrix nginx-ingress version <-> k8s version"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`): v1.18.9

**Environment**:

- **Cloud provider or hardware configuration**: EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

I can't find a full compatibility matrix in the documentation. From the changelog I can see that version 0.4

[2021-07-01 14:42] seizadi commented on #7306
I did not find #7305 because before I opened this Issue I searched for open Issues. You had closed #7305 and also are closing this one so until search engines index these people will have a hard time finding them to resolve their Issues. I suggest you keep this Issue or #7305 open until you have fixed it with a PR, so that install using kind docs does not cause problem. If there is work around doe

[2021-07-01 16:20] cpanato commented on #7278
/assign @cpanato
/unassign @rikatz

[2021-07-01 17:19] quadrinho opened #7312 "kubernetes nginx check hash header from client"
**NGINX Ingress controller version**: Chart Version --> 3.290

**Kubernetes version** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**: A client send us an hash header that nginx should check with another hash string take fr

[2021-07-01 18:44] BenTheElder commented on #7306
xref: https://github.com/kubernetes-sigs/kind/pull/2306

[2021-07-01 18:44] BenTheElder commented on #7305
xref: https://github.com/kubernetes-sigs/kind/pull/2306

[2021-07-02 04:45] deliahu commented on #6828
@iamNoah1 I haven't tried to reproduce it in about a month or two, but my best guess is that it still is an issue.

Would you like me to run through the reproduction steps I posted to see if it's still happening?

[2021-07-02 06:47] darkn3rd commented on #7301
Bazel 0.12  seems analogous to using NCSA Mosaic when there is Firefox, as so much has change.  I doubt still the dependencies, which pulls stuff externally, would work.  Perhaps when I gain more Bazel experience, I could take a stab at this, but currently this is beyond my ken.  I was looking to test out the GRPC feature with a demo application, so I thought I would try to compile this, but well,

[2021-07-02 07:15] tao12345666333 commented on #7301
This example really hasn't been updated for a long time.

As @BenTheElder  mentioned, we are now spending more time on this project and need more help.

@BenTheElder  I know you have a lot of experience with Bazel, do you have time to help fix it?  :heart:

[2021-07-02 07:37] BenTheElder commented on #7301
I don't think bazel experience is necessary here, it's just go + grpc and can be adapted to the rest of the repo.

Someone should rewrite the whole app probably?, it's also still using gopkg.lock ...

I don't have a need for this myself, just trying to point out that to build it you probably need to use the tooling in the readme, or replace the build.

[2021-07-02 10:21] tao12345666333 commented on #7301
Thanks! You're right.

My previous idea was based on the upgrade build tool (Bazel), so I think this may require Bazel related experience. (Sorry to trouble you)

I just read the code of this app, it seems that it is just a sample program, and there is no strong dependency.
So it’s okay to update the build tool or rewrite it.

@darkn3rd Because this has nothing to do with the ingress-nginx itself,

[2021-07-02 17:26] ThisIsQasim opened #7315 "Ingress address disappears on alternate sync cycles"
**NGINX Ingress controller version**:
v0.47.0

**Kubernetes version** (use `kubectl version`):
v1.19.6-eks-49a6c0

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release): Amazon Linux 2
- **Kernel** (e.g. `uname -a`): 5.4.117-58.216.amzn2.x86_64 SMP Tue May 11 20:50:07 UTC 2021 x86_64 Linux
- **Install tools**: helm chart
- **Others**:

**Wha

[2021-07-02 19:35] BenTheElder commented on #7301
Yeah, I think it makes far more sense to throw out the existing build logic unless someone just needs to build it immediately, other than `go build` this should just need `//go:embed` and the protobuf codegen.

If you just need to build it now I'd try something like bazelisk + using the old version mentioned. It's apparent this sample is using extremely outdated tooling, I'm not sure if it makes s

[2021-07-02 22:04] darkn3rd opened #7316 "docs: gRPC examples"
**NGINX Ingress controller version**: 0.47.0

**Kubernetes version** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: Aure
- **OS** (e.g. from /etc/os-release): mac os
- **Kernel** (e.g. `uname -a`): Darwin joaquin-mba-pink.local 19.2.0 Darwin Kernel Version 19.2.0: Sat Nov  9 03:47:04 PST 2019; root:xnu-6153.61.1~20/RELEASE_X86_64 x86_64
- **Install

[2021-07-02 22:10] darkn3rd commented on #7316
I found the documentation in docs/examples/grpc.  Interesting in that they are really old, like before cert-manager, given `"stable.k8s.psg.io/v1"` apiVersion.  WOW.

[2021-07-03 06:00] tao12345666333 commented on #7316
Because this has nothing to do with ingress-nginx itself, I will remove the bug label.

/area doc
/remove-kind bug

[2021-07-03 06:01] tao12345666333 commented on #7316
/area docs

xref: #7301

[2021-07-03 06:03] tao12345666333 commented on #7316
/retitle docs: gRPC examples

[2021-07-03 06:04] tao12345666333 commented on #7312
Can you describe it in more detail? I don't fully understand.

[2021-07-03 06:26] tao12345666333 commented on #7159
/area helm

[2021-07-03 10:31] ThisIsQasim commented on #7315
From the logs I see that the ingress gets `Scheduled for sync`, the ingress status is unpublished and after 40 seconds it gets scheduled again but this time the status is published. I can also see that the status update requests are being throttled. I tried to increase the `sync-rate-limit` but that hasn't fixed the issue.

[code]

[2021-07-03 16:30] rittneje commented on #6287
/remove-lifecycle stale

[2021-07-03 19:10] freeseacher commented on #3898
/remove-lifecycle stale

[2021-07-04 09:47] boukeversteegh opened #7318 "Cannot safely upgrade digital ocean cluster due to clusterlint error"
**NGINX Ingress controller version**: 0.46
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

- **Cloud provider or hardware configuration**: Digital Ocean

**What happened**:

A new cluster patch upgrade is available for Digital Ocean. However, I am not able to safely upgrade, due to an **error** produced by `clusterlint`. I received the following mail from Digital Ocean:

[2021-07-04 14:40] Morriz commented on #4902
Seems this issue should not be closed then...can we reopen this? Why do we need per ingress toggle for global `SecRuleEngine On`? Must be a bug

[2021-07-04 17:51] quadrinho commented on #7312
Hello,

i need to check an Header  (from the client) that is hash encoded.

I need to check that the header from the client has the same string that Nginx can read from a secret.

For example the client send the Header "clien-hash" with this string inside the header:

fd2922e83eca60f0f547ace93f230d71468d3d55

Nginx needs to compare that string from another present in a secret or configmap.

Thanks

[2021-07-04 21:04] rikatz commented on #7280
@liggitt correction made by @cpanato works.

I also did tested with older ingress version and it was working with services with named ports but probably those files you found are something that we've missed and may have some problem in the future.

Tests made:
* Create a deployment with echoserver
* Expose echoserver service with a namedport (echosvc1) and the current  port (8080)
* Map an ingress

[2021-07-04 21:06] #7280 closed

[2021-07-04 23:58] rikatz opened #7320 "Update image versions"
Some things are really old in our base image. We probably need/want to update some things, as LuaJIT2 and some modules.

The file with build process is: https://github.com/kubernetes/ingress-nginx/blob/master/images/nginx/rootfs/build.sh

We need to update each of those modules, create the image and check if something breaks.

For example, a process here should be:
* Update all the versions and ch

[2021-07-05 14:15] alison199 commented on #7257
Hi,

This can be closed from my perspective.

I'll leave it open because TheSinding has added a comment as well

My issue was resolved adding the following configuration to the higher environment clusters

cd /data/apache_slab/apache/conf.d
vi rewrite_rules.app

    RewriteCond %{HTTP:Upgrade} =websocket [NC]
    RewriteRule /(.*)           wss://vs-avi-test-out-dev.xmp.net.intra/$1 [P,L]

Best re

[2021-07-06 04:27] caruccio opened #7325 "Directive proxy_cache not working"
**NGINX Ingress controller version**: v0.47.0

**Kubernetes version** (use `kubectl version`): Server Version: version.Info{Major:"1", Minor:"19", GitVersion:"v1.19.9", GitCommit:"c1ad2bc44e0c7f19a9db0879f7182ff556a8e5b4", GitTreeState:"clean", BuildDate:"2021-05-19T22:27:45Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"linux/amd64"}

**Environment**:

- **Cloud provider or hardware configurat

[2021-07-06 08:52] iamNoah1 commented on #6887
/close

[2021-07-06 08:52] #6887 closed

[2021-07-06 09:22] Payop commented on #5970
/remove-lifecycle stale

[2021-07-06 11:35] lukeplausin commented on #1600
I am having this issue with chart version 3.34.0. I'm passing traffic to an `ExternalName` backend on port 443. I can hit the service directly from the NGINX pod on that port without issues. I'm not sure exactly what the cause is, but in the NGINX logs the upstream URL is an IP address, and if I run curl using the IP address I get the same error as the logs. It's not quite clear where the IP addre

[2021-07-06 15:01] Hongbo-Miao commented on #6335
/remove-lifecycle stale

[2021-07-06 16:09] iamNoah1 commented on #7320
/assign

[2021-07-06 16:11] strongjz commented on #7180
@toredash is the issue correct or the code, you're comment was confusing.

[2021-07-06 16:12] strongjz commented on #7180
/kind bug

[2021-07-06 16:14] strongjz commented on #7204
If retaining the ip is needed, ingress-nginx doesn't seem the right choice as a technology.

/close

[2021-07-06 16:14] #7204 closed

[2021-07-06 16:17] strongjz commented on #7220
The bug template has a lot of information that helps us help you with this issue. We need to know the Ingress configuration, the versions for k8s and ingress-nginx. Was there scaling set up in the pod deployments etc.

/triage needs-information

[2021-07-06 16:20] strongjz commented on #7267
I agree with @longwuyuan This does seem more like support questions, Reach out to slack for help, if it does turn out to be an issue please feel free to reopen this issue.
/close

[2021-07-06 16:20] #7267 closed

[2021-07-06 16:20] strongjz commented on #7262
/close

[2021-07-06 16:20] #7262 closed

[2021-07-06 16:38] kd7lxl opened #7326 "Github Actions e2e test timeout"
The e2e tests are timing out in many PRs. Examples:
* https://github.com/kubernetes/ingress-nginx/pull/7228/checks?check_run_id=2964775649#step:8:20
* https://github.com/kubernetes/ingress-nginx/pull/7323/checks?check_run_id=2998567418#step:8:20
* https://github.com/kubernetes/ingress-nginx/pull/7322/checks?check_run_id=2997909397#step:8:20

[2021-07-06 16:42] iamNoah1 commented on #7037
/close

[2021-07-06 17:02] iamNoah1 commented on #6506
Hi @pangwawa @AfrouzMashayekhi @Krishna-teja @jrareas @tianhe-oi @jcbagtas, do you still have issues with ingress-nginx? I think that the [ingress-nginx-users](https://kubernetes.slack.com/archives/CANQGM8BA) slack channel might a better place to aks for help. Please consider closing this issue.

[2021-07-06 17:24] toredash commented on #7180
The issue is correct. Sorry for adding confusion.

I linked to the relevant upstream code to make it clear that the issue is indeed valid

[2021-07-07 06:41] toredash commented on #7325
Is your upstream returning any cache headers? With the current configuration I don't see any caching being active unless your upstream provides cache information via headers.

[2021-07-07 07:54] VladyslavKurmaz commented on #6178
I'm trying to debug such kind of issue during last couple of days. This is weird, because we have simplest possible configuration - serve static content for wagtail-based site. Plus, everything works fine, when we have replicas count equal 1. With any other values: Nginx ingress controller pod returns 504 and significantly increases response time when deliver other static files.
...
Cloud provider

[2021-07-07 07:57] chrko commented on #5012
/remove-lifecycle stale

[2021-07-07 09:51] #7310 closed

[2021-07-07 13:09] robincher commented on #6506
I am facing the same issue right, for some reasons it keep stuck on schedule for sync. Is there anyway to further debug this?

[2021-07-07 15:29] arturgspb opened #7327 "Ingress hangs request if upstream application not write into response for a long time (185 sec) after success connection"
Hello!

Can you please tell me if there is any limitation on the waiting time for data from upstream? If the upstream application send data to the stream every second, request done successfull. But app send a any symbol to response after the connection, and then sleep for more than 3 minutes, and then try to send something else, then the ingress nginx will not send anything to the client and, besi

[2021-07-07 20:07] iamNoah1 commented on #6828
@deliahu that would be awesome, maybe you could also use the 0.47.0 version. Thanks in advance.

[2021-07-07 20:23] iamNoah1 commented on #7097
Hi @kayrus, do you still consider this being a bug with ingress-nginx? And did you try using newer versions?

[2021-07-07 20:26] iamNoah1 commented on #7269
Hi @Nikosef, I think you would have more success asking the question in [this](https://kubernetes.slack.com/archives/CANQGM8BA) slack channel.

/kind support

[2021-07-07 20:28] iamNoah1 commented on #7096
/kind cleanup

[2021-07-07 20:39] iamNoah1 commented on #6849
/kind design

[2021-07-07 20:39] iamNoah1 commented on #6849
/remove-kind design
/kind feature

[2021-07-07 20:50] iamNoah1 commented on #6291
Could be potentially fixed with fixing #6896

/remove-lifecycle rotten

[2021-07-07 20:53] iamNoah1 commented on #6482
/remove-lifecycle stale

[2021-07-07 21:04] iamNoah1 commented on #7320
/remove-help

[2021-07-08 04:49] tschirmer commented on #6178
I ended up reporting this to AWS in a ticket, and the problems disappeared... they didn't say it was a problem at any time with their infrastructure though.

[2021-07-08 05:24] xuming-code commented on #7302
it is nginx ingress port
Thanks.

[2021-07-08 05:33] longwuyuan commented on #7327
Hi, I am not able to reproduce this using https://github.com/longwuyuan/python-crud-api .
Also, the information provided is not enough for a developer to reproduce the problem you describe at will.
More so, it looks like the problem you describe, needs a better description and a more coherent explaining as to which part of the ingress-controller is involved.
On a side, node, apps running in pods s

[2021-07-08 05:41] longwuyuan commented on #7301
/remove help-wanted

[2021-07-08 05:48] arturgspb commented on #7327
Hi, thx! I will try to prepare simple detailed configurations for ingress, service and pod in the near future.

[2021-07-08 06:09] longwuyuan commented on #7301
/remove-help

[2021-07-08 06:11] longwuyuan commented on #7327
the critical piece is the nginx reverse-proxy in the pod should handle http ... not gUnicorn

[2021-07-08 06:12] longwuyuan commented on #7327
/remove-help

[2021-07-08 06:16] longwuyuan commented on #7197
Update the docs as per https://dev.to/xaviergeerinck/monitoring-the-kubernetes-nginx-ingress-controller-with-prometheus-and-grafana-35gi

/assign

[2021-07-08 06:19] longwuyuan commented on #7325
/triage needs-information

[2021-07-08 06:19] longwuyuan commented on #7325
/remove-kind bug

[2021-07-08 06:19] #6772 closed

[2021-07-08 06:25] arturgspb commented on #7327
@longwuyuan I try Java Spring app and Python app (without gunicorn). The error is repeated.

[2021-07-08 06:51] longwuyuan commented on #7327
thanks for the info.
Can you use the same java or python app but with the config that I suggested :
[code]
So you can use any framework but please put a nginx reverseproxy in front of it, inside the pod, and update status

[2021-07-08 06:52] kayrus commented on #7097
@iamNoah1 yes, but it is very rare. I didn't have time to find a way to reproduce it 100%

[2021-07-08 06:56] arturgspb commented on #7327
Perhaps I misunderstood you. Let's clarify. For ingres, it is very important for any application start additional nginx outside the pod ?
For example: Ingress Nginx Controller -> Service -> Pod (Inside pod: Nginx Container -> App Container)

[2021-07-08 07:01] longwuyuan commented on #7327
Apologies for confusion. The data needed to gather is similar to what you
stated. But no need for yet another container. Just install nginx in the
same container as your app container. Only for this test.

Thanks,
; Long

On Thu, 8 Jul, 2021, 12:26 PM Artur Geraschenko, ***@***.***>
wrote:

[2021-07-08 08:45] arturgspb commented on #7327
I start nginx as second container in pod and proxy pass to localhost:8080 (java app)

[code]

------

My test client python3.6 with requests==2.25.1

[code]
Client stop request by timeout 6min

------

Simple php script output (launch in "php -a"):
[code]

------

Curl request on macos and linux is OK!
**But curl in windows subsystem for linux has same problem!!!**.

[code]

Additional nginx log h

[2021-07-08 08:50] longwuyuan commented on #7327
Just to understand this correctly, please confirm that, the problem now
is seen ONLY & ONLY on Windows WSL curl ? And the problem is NOT
happening on curl in Linux and MacOS ?

Thanks,
; Long

On 08/07/21 2:15 pm, Artur Geraschenko wrote:

[2021-07-08 09:00] arturgspb commented on #7327
Hi, I update details php client example.
Yes linux and macos curl works fine.
But Windows WSL curl, python3.6 (linux, macos), php 7.3.11 (macos) has problem.

[2021-07-08 09:03] longwuyuan commented on #7327
Then its certainly not a issue with the ingress-nginx-controller.
Can you try to use curl from the Windows Host OS ... like install curl for windows using Chocolatey or use Postman on Windows ... and completely bypass WSL. That should provide useful information.

[2021-07-08 09:04] longwuyuan commented on #7327
Also, there are many developers and engineers on slack. So maybe you should close this issue and come discuss this in kubernetes.slack.com in the channel ingress-nginx-users.

If you finally find a bug or a problem with the controller, you can come back here and re-open this issue and add the details of the bug/problem with the controller.

[2021-07-08 09:07] arturgspb commented on #7327
Sorry, by how about same problem in python3.6 (linux, macos), php 7.3.11 (macos)?
It looks very much like a global problem.

[2021-07-08 09:43] longwuyuan commented on #7327
So can we describe the problem as below ?
Problem in Linux, MacOS, Windows WSL <----> python3.6 php7.3.11
Problem only in Windows WSL                  <----> python3.6
NO PROBLEM in Linux & MacOS              <----> python3.7+

[2021-07-08 09:50] arturgspb commented on #7327
In comment above ( https://github.com/kubernetes/ingress-nginx/issues/7327#issuecomment-876254016 ) I wrote it.

Problem in Linux, Mac OS <---->  python3.6 client (example client in comment https://github.com/kubernetes/ingress-nginx/issues/7327#issuecomment-876254016)

Problem in Mac OS <---->  php7.3.11 client (example client in comment https://github.com/kubernetes/ingress-nginx/issues/7327#iss

[2021-07-08 10:12] drex333 commented on #6273
I have had the same issue and fixed it with ssl-passthrough. TLS GRPC needs to be the service who resolve the tls.
So, adding nginx.ingress.kubernetes.io/ssl-passthrough = "true" annotation in your ingress and --enable-ssl-passthrough in your controller config should work.

[2021-07-08 10:54] longwuyuan commented on #7327
With this data, I think more work is required to narrow down to the
root-cause.

If curl on MacOS and Linux does not have a problem and also browsers on
MacOS and Windows are not a problem, then obviously first thing to look
at is the clients because as far as the ingress-controller is concerned,
it is receiving http requests with the client as a header value only.

I am not sure if you feel that

[2021-07-08 11:22] arturgspb commented on #7327
HI! Start additional kubernetes cluster for clean testing =)

Install ingress nginx:

[code]

Scale ingress nginx
[code]

Install app:

[code]

**app.yaml**
[code]

Simple app is: https://github.com/arturgspb/slow-http-endpoint-test

And run simple python http client:

[code]

---

It's success request and response:

[code]

Server send "Hello World!" after delay.

---

**Pods and Ingress**

[code

[2021-07-08 14:15] longwuyuan opened #7328 "Replace fortune-teller app in e2e tests with gRPC github repo's official greeter app"
The e2e tests has a section for gRPC. it uses a app called fortune-teller seen at  https://github.com/kubernetes/ingress-nginx/blob/master/test/e2e/framework/grpc_fortune_teller.go . This app is outdated as it uses bazel for build and also fails to build in the current system. Replace this app with https://github.com/grpc/grpc-go/blob/91e0aeb192456225adf27966d04ada4cf8599915/examples/features/refl

[2021-07-08 14:32] longwuyuan commented on #7327
can you attach your nginx.conf from inside the controller pod to this issue as a file

[2021-07-08 14:39] arturgspb commented on #7327
[nginx.conf.zip](https://github.com/kubernetes/ingress-nginx/files/6785339/nginx.conf.zip)

[2021-07-08 14:41] caruccio commented on #7325
Yes, it replies with both headers `Cache-Control` and `Cache-Control`.
This is what I did.
Exec into app container to add cache headers

[code]

Request will respond with cache headers:

[code]

Still the cache is empty:

[code]

[2021-07-08 15:20] arturgspb commented on #7327
wget in macos doesn't work either

[2021-07-08 15:22] justinrush opened #7329 "race condition with server proxy_ssl_verify setting"
**NGINX Ingress controller version**: 0.47.0

**Kubernetes version** (use `kubectl version`): 1.19.11

**Environment**: We use a single nginx controller with a single host entry and use paths under the host to map to different backend services.

- **Cloud provider or hardware configuration**: AKS

**What happened**:

We have a number of ingress records defined under an existing nginx controller. W

[2021-07-08 15:45] longwuyuan commented on #7327
Apologies for asking. I have deployed your app with my FQDN and tested and I see the behaviours that you are mentioning. I can see ;
- Persistent connection
- Delayed response

I think I don't have enough knowledge to fully understand what is wrong here. So can you help out and explain a few things in very simple layman words :

(1) Why are you setting a timeout period of 18000 (eighteen thousand)

[2021-07-08 15:52] Kevin-Molina commented on #6758
Anyone end up figuring this one out?

[2021-07-08 16:01] arturgspb commented on #7327
Thank you.

We have an application that makes queries to the customer's databases. We have no control over the execution time of the request because SQL query and Views writes by customers. Typically, requests run from 1-2 seconds to 60 minutes. But queries in the database are also different - some quickly begin to slow give a lot of data, and some think for a long time before giving 100 rows. I s

[2021-07-08 16:14] longwuyuan commented on #7327
Ah ok.. the use-case is now clear. Sorry you had to face a downtime. Hope the root-cause was fixed.

So next help needed from you is very precise answer to the questions I asked. For example ;

(1) 75 seconds ?

(2) 240 seconds ?

(3) 240 seconds ?

(4) What you want ingress-controller to do and what its not doing now ?

[2021-07-08 16:49] arturgspb commented on #7327
For points 1,2,3, this is just an attempt to raise any timeouts as much as possible to fix the problem.

According to point 4, the expected behavior is that all ingresses will return when the application returns data. If the test application has a delay of 240 seconds, then the ingress should return the data to the client in about 240 seconds.

[2021-07-08 17:08] longwuyuan commented on #7327
My suggestion is that you close this issue for now and take this discussion
to kubernetes.slack.com in the ingress-nginx-users channel. There are many
developers and engineers there. This requirement is basically nginx and
http related and not so much related to the controller itself. Once you get
enough data from discussions that it's a feature neededbor a bug, you could
reopen this issue.

Thank

[2021-07-08 17:11] arturgspb commented on #7327
I cannot register or enter there, I need an invitation from the administrator.

[2021-07-08 17:14] longwuyuan commented on #7327
Can you show screenshot. What is the url you went to.

Thanks,
; Long

On Thu, 8 Jul, 2021, 10:41 PM Artur Geraschenko, ***@***.***>
wrote:

[2021-07-08 17:17] longwuyuan commented on #7327
https://kubernetes.slack.com/signup

Thanks,
; Long

On Thu, 8 Jul, 2021, 10:43 PM Yuan, ***@***.***> wrote:

[2021-07-08 17:17] arturgspb commented on #7327
I use google login.

![Снимок экрана 2021-07-08 в 20 17 10](https://user-images.githubusercontent.com/1708175/124964279-8388e580-e029-11eb-8080-25e5f41ea615.png)

[2021-07-08 17:36] longwuyuan commented on #7327
did you get this window

Thanks,
; Long

On 08/07/21 10:48 pm, Artur Geraschenko wrote:

[2021-07-08 19:26] arturgspb commented on #7327
I don't understand what I should do. I cannot signin or signup.

[2021-07-08 20:43] alopsing opened #7330 "Ingress Controller forwarding traffic to a POD(IP) even after termination"
**NGINX Ingress controller version**: 0.29.0

**Kubernetes version**: 1.19
[code]

**Environment**: Production
**Cloud provider or hardware configuration**: Amazon EKS
**OS**: Linux

**What happened**:

As soon as we delete a pod, we are seeing 502 errors in the NGINX Ingress controller. There is a small blip and seeing good amount of errors in our production.

**Log message:**
[code]

Note that t

[2021-07-08 21:07] rikatz commented on #7320
@iamNoah1 let me know if you need any help here :)

[2021-07-09 00:35] longwuyuan commented on #7327
Nobody else has reported signup problems so I am not sure what is going on.

[2021-07-09 01:03] kongbb commented on #7135
I am experiencing similar issue.

**NGINX Ingress controller version:**
chart:ingress-nginx-3.34.0
app version: 0.47.0

**Kubernetes version** (use kubectl version):
1.20.7

**Environment**:

Cloud provider or hardware configuration:
Azure AKS
OS (e.g. from /etc/os-release): Ubuntu 18.04.5 LTS
Kernel (e.g. uname -a): 5.4.0-1047-azure
Install tools:
Others:
**What happened:**
step 1: install nginx-

[2021-07-09 05:59] arturgspb commented on #7327
I still could not understand what I was doing wrong, it feels like I have to get an invite from the administrator before registering. "Don’t have an @ get-an-invite-at.slack.kubernetes.io email address?
Contact the workspace administrator at Kubernetes for an invitation. "
  But I didn't understand where to write for this))

---

I also want to note that I still think the problem with the inoperab

[2021-07-09 06:27] longwuyuan commented on #7327
Do you get the window to type gmail address?
I think only proxy-read-timeout is related to your sleep 240. Proxy write
and proxy connect are not related in my opinion. I will check the defaults
for that. But even then I guess that 240 seconds between 2 consecutive read
operation is very very doubtful. But most important info is that 240 second
sleep is not about 2 consecutive read operation. You a

[2021-07-09 06:46] arturgspb commented on #7327
No, I try signup with Google button. As for the manual entry of an email - there is no way in UI to enter an email with @gmail.com , you can try it yourself.

---

It is important that if the application writes any character every second to response, then the connection is not interrupted and the client receives everything and successfully terminates the connection. Even if url running time is 5 m

[2021-07-09 06:55] longwuyuan commented on #7327
Can you share screen in zoom ?

Thanks,
; Long

On 09/07/21 12:16 pm, Artur Geraschenko wrote:

[2021-07-09 06:56] longwuyuan commented on #7327
See the attached screenshot. I have confirmed that there is no invite
required

Thanks,
; Long

On 09/07/21 12:16 pm, Artur Geraschenko wrote:

[2021-07-09 07:45] longwuyuan commented on #7327
Once again I have tested your claim about python client. I don't see a problem at all. See the attached screenshot. I did this :
- I only used 1 annotation because only the read annotation is related to your sleep
- I set the proxy-read-timeout to 120 seconds
- I sent a request with sleep for 70 seconds, using your python code (requests module)
- I got a response to your python code in 70 seconds

[2021-07-09 07:59] muffl0n commented on #7303
I found the problem: When creating the credentials for the basic authentication I use, I set the computing time for the bcrypt algorithm to 17 (highest value) by mistake. This takes around 11 seconds on the cluster:
[code]
So the time nginx spent between 07:47:36 and 07:47:47 was used for calculating and comparing the hash. Unfortunately, this is not mentioned in the debug log.

I replaced the has

[2021-07-09 07:59] #7303 closed

[2021-07-09 08:22] arturgspb commented on #7327
Please try waiting 230 seconds for a response. Waiting for 70 seconds works great, I wrote it above.

[2021-07-09 08:26] arturgspb commented on #7327
problems with slack auth

https://user-images.githubusercontent.com/1708175/125048340-7bbc5600-e0a8-11eb-985d-1c989aaf38a5.mov

[2021-07-09 08:29] arturgspb commented on #7327
I also want to say that there were no timeout problems on the old nginx. Today I will try to simplify the configuration, maybe remove the Lua scripts in order to understand at what changes the ingress stops working normally.

[2021-07-09 09:02] arturgspb commented on #7327
By the way, I still don't understand if you are confirming the problem or not? In this comment, you wrote that you were able to reproduce the problem - https://github.com/kubernetes/ingress-nginx/issues/7327#issuecomment-876547735

[2021-07-09 09:20] longwuyuan commented on #7327
See screenshot below. 230 seconds with python client gives me "Hello World" after 230 seconds wait but you are claiming it does not. So it is a problem with your configuration and test.

![Screenshot_2021-07-09_14-38-35](https://user-images.githubusercontent.com/5085914/125054497-e4fd9280-e0c3-11eb-8c68-26fd2d3ba9ea.png)

I don't seea problem with the ingress-controller here.

[2021-07-09 09:24] arturgspb commented on #7327
Got it, thanks a lot for helping me check!

Earlier I understood you that you confirmed the problem, but apparently I misunderstood you (https://github.com/kubernetes/ingress-nginx/issues/7327#issuecomment-876547735). I close the task and will try to figure out the problems with the cloud provider.

[2021-07-09 09:24] #7327 closed

[2021-07-09 09:26] longwuyuan commented on #7327
I have informed slack-admins that you can not signup

Thanks,
; Long

On 09/07/21 2:54 pm, Artur Geraschenko wrote:

[2021-07-09 09:27] coderanger commented on #7327
Hi there, one of the Kubernetes Slack admins here. Unfortunately the built-in signup system in Slack doesn't offer all the functionality we need so you have to go to http://slack.k8s.io to register.

[2021-07-09 09:29] arturgspb commented on #7327
@coderanger Got it, it's works! Thx a lot!

[2021-07-09 11:25] iamNoah1 commented on #7097
/triage need-information

[2021-07-09 11:26] iamNoah1 commented on #7097
/triage needs-information

[2021-07-09 11:30] iamNoah1 commented on #7320
@rikatz have to get my hands on it first but will get back to you as soon as I need help. Thx :)

[2021-07-09 15:46] kd7lxl commented on #7326
No longer seeing this on PRs based on `master`.

[2021-07-09 15:46] #7326 closed

[2021-07-09 16:53] longwuyuan commented on #7330
/remove-kind bug
/triage needs-information

- Right before deleting manually, open another terminal and watch for ep objects and updated to the list of ep-objects
- Please post all the messages right around the time of the manual deletion
- Does this happen when you scale down

To reproduce this problem, please add information here ranging from ;
- kubectl get deploy,po,svc,ing -A -o wide
- kubect

[2021-07-09 16:58] longwuyuan commented on #7329
Please add information like ;

- kubectl get all -A -o wide | grep -i ingress
- helm ls -A
- nginx.conf from inside the ingress-controller pod
- kubectl get ing -A -o wide
- kubectl -n <namespace> describe ing <ingressname>
- Any other related information

/remove-kind bug
/triage needs-information

[2021-07-09 19:20] #7297 closed

[2021-07-09 22:23] jaunruh opened #7337 "502 response from nginx-ingress for every second request"
**NGINX Ingress controller version**: `k8s.gcr.io/ingress-nginx/controller:v0.47.0@sha256:a1e4efc107be0bb78f32eaec37bef17d7a0c81bec8066cdf2572508d21351d0b`

**Kubernetes version** (use `kubectl version`): `v1.21.2`

**Environment**: `prod` / `staging`

- **Cloud provider or hardware configuration**: Azure standard K8s
- **OS** (e.g. from /etc/os-release): `?`  // what OS? Of the client or where Ku

[2021-07-10 04:39] longwuyuan commented on #7337
/remove-kind bug
/triage needs-information

hi,
The 502 will be directly related to the http request, the headers therein, the ingress object, the backend service, annotaions on the ingress and any other ingress config. This is besides the controller. There is no relation with your environments and terraform, in the context of getting support here.

Kindly post the below information to this issue

[2021-07-10 05:36] longwuyuan commented on #7315
"The ELB address on the ingress stays the same."

Your information is not conclusive on what seems to be the problem. "same" above means what ... does the ipaddress change ?

/remove-kind bug
/triage needs-information

[2021-07-10 05:46] longwuyuan commented on #7312
hi,
Can you help by posting the following information :
- helm ls -A
- kubectl get all,ing -A -o wide | grep -i ingress
- kubectl -n <ingresscontrollernamespace> describe po <ingresscontrollerpodname>
- kubectl -n <ingresscontrollernamespace> describe svc <ingresscontrollersvcname>
- kubectl -n <appnamespace> describe pod <apppodname>
- kubectl -n <appnamespace> describe svc <appsvcname>
- kubectl

[2021-07-10 05:49] longwuyuan commented on #7302
Hi,

My suggestion is that you close this issue for now because this is related a lot of deep dive discussions on the config and the status. There are many developers and engineers on kubernetes.slack.com in the channel ingress-nginx-users and you can likely get more attention in the slack as compared to here.

If you discover some bug or a enhancement needed, you can come back here and reopen thi

[2021-07-10 05:49] longwuyuan commented on #7302
/remove-kind bug
/triage needs-information

[2021-07-10 05:53] longwuyuan commented on #7296
hi, the information you have posted is not very clear and simple enough to make a lot of helpful comments on. This seems like a a need for information on how the controller works. My suggestion is that you close this issue here and come talk in kubernetes.slack.com in the channel ingress-controller-users. There are developers and engineers there who are more often watching messages and so you may

[2021-07-10 06:04] ThisIsQasim commented on #7315
I might have phrased that incorrectly. The expected behavior would be that the loadbalancer address persists and does not disappear on alternate sync cycles.

[2021-07-10 06:24] longwuyuan commented on #7315
maybe better if you close this issue and come to kubernetes.slack.com in the ingress-nginx-users channel. More developers and engineers are available there so may help get more attention.

You can reopen later if you find a bug confirmed or a enhancement is needed.

[2021-07-10 06:49] longwuyuan commented on #7293
/remove-kind bug
/triage needs-information

The information you have provided can not be used to reproduce any problem or make any comments that would solve your problem. For example the state of before and after **"When I add another ca-cert to ca-secret "** is a guess at best.

Also this seems like more of a support issue on how to use kubernetes secrets and the ingress configuration of secrets.

[2021-07-10 08:29] longwuyuan commented on #7285
We are working on a fix for the docs
Have you tried this https://dev.to/xaviergeerinck/monitoring-the-kubernetes-nginx-ingress-controller-with-prometheus-and-grafana-35gi

/assign

[2021-07-10 08:29] longwuyuan commented on #7285
/area docs

[2021-07-10 08:30] longwuyuan commented on #7285
/remove-kind bug

[2021-07-10 08:37] longwuyuan commented on #7316
/assign

[2021-07-10 08:38] longwuyuan commented on #7301
/assign

[2021-07-10 08:39] longwuyuan commented on #7301
/area docs

[2021-07-10 08:40] longwuyuan commented on #7197
/area docs

[2021-07-10 08:41] longwuyuan commented on #7197
/remove-kind bug

[2021-07-10 08:42] longwuyuan commented on #7197
/remove-kind documentation

[2021-07-10 09:32] jaunruh commented on #7337
Since I obviously cannot have persistent 502 errors in our prod environment I have torn it down. I will setup a different environment next week and then follow your advice.

[2021-07-10 09:32] #7337 closed

[2021-07-10 10:00] longwuyuan commented on #7279
hi,
The information you provided does not show any bug in the ingress-nginx-controller. This seems to be more of a request for support to explain some networrk traffic to your app.

Please close this issue for now and come talk in kubernetes.slack.com in the channel ingress-nginx-users. There are many developers and engineers there who can comment on your issue. If there is some bug discovered lat

[2021-07-10 14:30] ulrichoke commented on #5932
This fix solve the issue for me:
< --ingress-class=nginx>  renamed to < --ingress-class=nginx2 > by editing the deployment as told by @AliBeddah

[2021-07-10 14:39] jabdoa2 commented on #6798
/remove-lifecycle rotten

[2021-07-10 16:30] longwuyuan commented on #7272
Hi, just curious, where is the documentation for the PROPFIND, CONNECT and OPTIONS methods ?
I was checking here https://nginx.org/en/docs/http/ngx_http_dav_module.html

[2021-07-10 16:41] jmthackett commented on #7272
They're not expressly part of nginx, but they're part of the WebDAV spec which adds HTTP verbs to pretty much all servers.

So http://msdn2.microsoft.com/en-us/library/aa142917.aspx is the right link (albeit a dated one) but the nginx docs themselves will in all likelihood not contain references to it. There's also the webDAV RFC with more here: https://datatracker.ietf.org/doc/html/rfc3744#sectio

[2021-07-11 11:14] longwuyuan commented on #7272
(1) Hi, Need your help some more. More curiosity. I am working with the latest release of ingress-controller and you seem to be using something else. So please show what controller you have installed and how other related resources are configured. Please add the output of these commands to the issue here as code snippet ;
- helm ls -A
- kubectl get all,ing,nodes -A -o wide
- kubectl -n <controller

[2021-07-11 11:15] longwuyuan commented on #7272
/remove-kind bug
/triage needs-information

[2021-07-11 20:39] toredash commented on #7330
Pretty sure this is related to the refresh cycle in nginx, which happens every second.

Please try to add a preStop hook on your affected deployment with a "sleep 10" command, and try to terminate a pod after the change is applied. I'm pretty sure this will point you to the real issue, and it isn't really nginx controller related.

[2021-07-11 22:10] #6549 closed

[2021-07-11 23:51] james-woods-mnf opened #7340 "How to Generate AWS Static Deployment File?"
**NGINX Ingress controller version**:

**Kubernetes version** (use `kubectl version`): 1.16

**Environment**:

- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release): Linux
- **Kernel** (e.g. `uname -a`):
- **Install tools**: Helm, Kubectl
- **Others**:

**What happened**:

I can get the ingress controller to work in AWS EKS by applying the file at https://raw.git

[2021-07-12 01:10] #4402 closed

[2021-07-12 01:38] longwuyuan commented on #7340
Hi,
Curious to understand why the obvious is not done. Like :
(1) Install with official link https://kubernetes.github.io/ingress-nginx/deploy/#aws
(2) Download the official link yaml and edit for namespace
(3) Use `helm template` against the latest chart

[2021-07-12 01:38] longwuyuan commented on #7340
/remove-kind bug

[2021-07-12 01:51] longwuyuan commented on #7340
/remove-kind documentation
/triage needs-information

[2021-07-12 04:27] tao12345666333 commented on #7330
This is a general question about **gracefully shutdown**.

[2021-07-12 05:07] bharathreddy-lab commented on #6506
I am facing the same issue. Any solutions?
`kubectl describe ing
Name:             default-backend-ingress-example
Namespace:        default
Address:          ****************.elb.ap-south-1.amazonaws.com
Default backend:  sample-service:80 (10.32.0.4:80,10.32.0.5:80,10.32.0.6:80)
Rules:
  Host        Path  Backends
  ----        ----  --------
  *           *     sample-service:80 (10.32.0.4:80,1

[2021-07-12 06:09] longwuyuan commented on #6506
hi,
Accessing your app through a ingress resource that is managed by ingress-nginx-controller is documented here https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/ and is discussed daily at kubernetes.slack.com in the ingress-nginx-users channel.
The usual problems range from firewalled port or ipaddress or misconfigurations.

Creating a issue here just for not being able t

[2021-07-12 06:28] xuming-code commented on #7302
ok thanks

[2021-07-12 06:28] #7302 closed

[2021-07-12 06:50] longwuyuan commented on #7271
/remove-kind bug
/kind feature
I think a little more information would help make some progress on this.
- What was the exact command you used to install the ingress-controller. Please show the complete command as it is including any values file, if used
- default-backend is disabled by default, in the helm chart, at least in the latest release of the ingress-nginx controller so hoping you can conf

[2021-07-12 06:53] longwuyuan commented on #7269
Hi @Nikosef , I don't think it is possible and I am not aware of a plan to add any such functionality.

I suggest you close this issue now and come talk in kubernetes.slack.com in the ingress-nginx-users channel as there are developers and engineers there that could comment on your message so more eyes on the issue.

/remove-kind support
/kind feature

[2021-07-12 07:10] longwuyuan commented on #7268
hi,
Just curious. Do you have prometheus installed for gethering metrics from the controller.

/kind enhancement
/remove-kind bug

[2021-07-12 07:12] longwuyuan commented on #7268
/kind feature
I think there is some work in progress on improving the performance during reload

[2021-07-12 07:20] longwuyuan commented on #7265
/remove-kind bug
/kind feature

[2021-07-12 07:49] alexfanat86 commented on #7268
Yes, we have

[2021-07-12 07:51] bharathreddy-lab commented on #6506
@longwuyuan  I wanted to join the workspace. How do I join? Do someone need to send the invite for the workspace?

[2021-07-12 08:00] longwuyuan commented on #6506
Slack.k8s.ioThanks, 
--
; Long

12 Jul 2021, 13:21 by ***@***.***:

[2021-07-12 08:26] marcportabellaclotet-mt commented on #7271
Here is my updated information:
You can reproduce the issue with the this values:
[code]

[code]

In the [pbd template](https://github.com/kubernetes/ingress-nginx/blob/master/charts/ingress-nginx/templates/default-backend-poddisruptionbudget.yaml#L1) file, there is a condition to create a pbd if default backend replicas are greater than 1.

The issue occurs in the scenario where I have disabled t

[2021-07-12 08:55] PavanVasisht29 commented on #7285
@longwuyuan we had already exposed the 10254 port and scraping the nginx metrics, still few of them weren't being captured, as mentioned above.

[2021-07-12 08:58] pierluigilenoci commented on #6191
/remove-lifecycle stale

[2021-07-12 10:40] longwuyuan commented on #7285
are you talking about the same cluster as the user who created this issue ?

[2021-07-12 10:44] PavanVasisht29 commented on #7285
Yuppee.

[2021-07-12 10:47] longwuyuan commented on #7285
show
[code]

[2021-07-12 10:53] PavanVasisht29 commented on #7285
[code]

[2021-07-12 11:09] longwuyuan commented on #7285
ok .. add other data related like prometheus details etc. describe what you expect to see and what is missing

[2021-07-12 12:10] PoojaGidaveer commented on #7285
@longwuyuan  we are running Performance Test. The flow is like below-
Load_Generator -> Connectivity-Proxy_Pod -> connectivity-proxy_ingress -> backend

So during the load we could see metrics of backend_ingress, but some how we are not seeing metrics of `connectivity-proxy_ingress`

for example- when queried `round(sum(irate(nginx_ingress_controller_requests[2m])) by (ingress), 0.001)` we can see

[2021-07-12 12:16] longwuyuan commented on #7285
![image](https://user-images.githubusercontent.com/5085914/125286130-0fa45100-e339-11eb-8675-b92c039cf627.png)

[2021-07-12 13:36] #7278 closed

[2021-07-12 14:19] PatTheSilent commented on #6611
I'm using 0.45 and it seems to be working as expected.

[2021-07-12 14:28] arturgspb commented on #7327
@longwuyuan hello! Sorry I wasted so much of your time on this issue. As it turned out, Yandex Cloud is configured in such a way that all long connections that do not transmit anything over the network for three minutes are dropped by the cloud.

---

For those who, like me, will face something similar. I talk with Yandex Cloud engineers to understand what network settings need to be set. Cloud en

[2021-07-12 14:39] longwuyuan commented on #7327
This actually helps anyone who will face the same issue in future. Appreciate the information you provided. I guess we can close the issue.Thanks, 
--
; Long

12 Jul 2021, 19:58 by ***@***.***:

[2021-07-12 15:53] iamNoah1 commented on #7320
/needs-triage

[2021-07-12 15:53] msschl commented on #5883
/remove-lifecycle stale

[2021-07-12 16:02] iamNoah1 commented on #7320
/help-needed

[2021-07-12 16:04] iamNoah1 opened #7343 "test"
/kind feature
/needs-triage

[2021-07-12 16:04] #7343 closed

[2021-07-12 19:16] #6731 closed

[2021-07-13 02:11] rikatz opened #7344 "Improve unit and e2e tests for ignoring non-service backends"
After PR #7332 @cpanato remembered me that I forgot to ask for unit and e2e tests 🤦‍♂️

As a follow up, those tests needs to be created:

* [ ] Create unit tests for cases where the backend exists, but not the Service field
* [ ] Create e2e tests for the same scenario, where an Ingress without a valid service backend should point to default backend

I'm marking this as a good first issue, first se

[2021-07-13 03:11] Debanitrkl commented on #7344
/assign

[2021-07-13 06:16] haslersn commented on #6752
/remove-lifecycle stale

[2021-07-13 08:01] Agentscreech commented on #4679
Just spend over an hour trying to debug this.

I was hitting this as well with curl v7.64.1 that my work Mac OS had.

Updated to the latest curl via brew (7.77.0 as of posting), made sure the path points to the brew version, now my scripts work fine with the large json files.

[2021-07-13 08:03] longwuyuan commented on #4679
You could close the issue then. Good this got documented. Thanks, 
--
; Long

13 Jul 2021, 13:31 by ***@***.***:

[2021-07-13 08:42] rraisal commented on #6292
Sorry @kappakappa I missed your comment. I configured following in the health checks.
---
Target type: Instance
Protocol: http
Port: 32467
On the Health Check Section:
Protocol: http
Path: /healthz
---
Make sure you edited the Security Groups as well

[2021-07-13 10:12] longwuyuan commented on #6752
Above sentence means what ?
It may be informative if you post the info from commands and outputs like ;
- kubectl get all,nodes,ing -A -o wide
- kubectl -n <controllernamespace> describe pod <controllerpod>
- kubectl -n <controllernamespace> describe svc <controllerservice>
- kubectl -n <appnamesopace> describe ing <ingressname>
- Your complete and excat curl command with options
- What you expect

[2021-07-13 10:56] haslersn commented on #6752
This is not a bug, but a feature request. Providing the outputs you requested will not be meaningful to the feature request.

If you don't understand the first sentence, just skip it. I think the rest of the text is quite clear:

[2021-07-13 11:06] longwuyuan commented on #6752
An ingress resource is processed by a ingress controller and the ingress controller ingests traffic coming in on the service it has created, with the relevance being the ip address assigned to the service created by the controller installation. With my limited know how, I am unable to understand how the ingress controller will process traffic, when the traffic is not even injected through its serv

[2021-07-13 12:04] haslersn commented on #6752
Basically all I want is to be able to configure `Ingress.spec.loadBalancer.ingress[].ip`. This is read by other tools, which, e.g., set DNS records based on it.

[2021-07-13 12:07] haslersn commented on #6752
The traffic will (when you don't do something very unusual) still go through the ingress controller's service:

[code]

[2021-07-13 12:21] longwuyuan commented on #6752
Are you considering submitting a PR for this change ?Thanks, 
--
; Long

13 Jul 2021, 17:37 by ***@***.***:

[2021-07-13 12:48] tao12345666333 commented on #7340
You can just run `hack/generate-deploy-scripts.sh` to generate it

[2021-07-13 20:36] bsod90 opened #7346 "New ExternalName services aren't detected consistently"
**NGINX Ingress controller version**: 0.46.0

**Kubernetes version** (use `kubectl version`): 1.18

**Environment**:

- **Cloud provider or hardware configuration**: AWS EKS
- **OS** (e.g. from /etc/os-release):
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:

We use https://github.com/metacontroller/metacontroller to listen for changes in our database and au

[2021-07-13 21:00] dkulchinsky commented on #7286
Hey folks, back from PTO and took a fresh look at this thing again and I figure that adding the linkerd header can be done using an existing method: https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/customization/custom-headers

So I configured the Chart values accordingly:
[code]

and this works as expected 😄

This adds the following to the controller's configmap:
[code]

and

[2021-07-13 22:24] james-woods-mnf commented on #7340
Hi Long,

Thanks for your response. In answer to your points:

1) We're running Kubernetes 1.16 and I think the latest Ingress controller isn't compatible with that version
2) I changed the namespace from 'ingress-nginx' to 'my-application-ingress-nginx' as you suggest but I get the following error:

Error: Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Pos

[2021-07-13 22:58] randysimplist commented on #5970
This issue has been documented for over a year with zero guidance from project maintainers or the community. Clearly this is impacting multiple projects including ones I am responsible for. If anyone has figured out the root cause or knows of a workaround please do share!

[2021-07-13 23:56] strongjz commented on #5970
Bitnami has released v0.47.0 version, can you please confirm that the issue still exist in that version as well?

The version of nginx in the base image was upgraded to 1.20 recently as well.

Also what environment are you deploying this too? version of k8s? Any and all details to reproduce this issue are helpful.

Thanks

[2021-07-14 00:50] bhasinkaran commented on #5720
Hi, I'm having a similar issue where there is an "Error obtaining X.509 certificate: unexpected error creating SSL Cert: certificate and private key does not have a matching public key: tls: private key does not match public key" and so later the certificate is not found. Do you have any advice regarding this?

[2021-07-14 02:04] james-woods-mnf commented on #7340
Thanks Jintao, I didn't notice that script, I'll give that a go!

[2021-07-14 03:38] amargherio commented on #5720
Based on the initial error, it looks like the private and public key don't match. Did the error message you mentioned come from the NGINX? If so, you may need to check the secret added to the cluster to determine if the key in the TLS secret matches the private key of the certificate.

[2021-07-14 04:15] Jishun opened #7347 "bring back Metrics tag Endpoint as a configurable option"
TLDR

There was a change that removed the tag `EndPoint` in ingress metrics,
this is the current state , the line is commented out :
https://github.com/kubernetes/ingress-nginx/blob/68357f8e671aaf4f6fad50d9f01fa2fe63e3c8ef/internal/ingress/metric/collectors/socket.go#L91

I understand this is to prevent the risk of such as a DDNS attack, and I totally agree with this change,

However, this is a ve

[2021-07-14 12:22] LoonyRules opened #7348 "wss:// connections getting fake KIC certificate but https:// getting self signed via cert-manager"
**NGINX Ingress controller version**: 7.6.6 (app version: 0.46.0) - taken from Lens

**Kubernetes version** (use `kubectl version`): 1.20.2

**Environment**:

- **Cloud provider or hardware configuration**: Digital Ocean Managed Kubernetes
- **OS** (e.g. from /etc/os-release): Debian
- **Kernel** (e.g. `uname -a`): 4.19.0.11-amd64
- **Install tools**: N/A
- **Others**: N/A

**What happened**: Setu

[2021-07-14 12:39] randysimplist commented on #5970
@strongjz, thanks very much for the suggestion.

I finally stumbled on a bit of success with this while tinkering with the various config map settings. It appears that these settings only work when `enable-real-ip` is enabled. Maybe the [docs](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/configmap/#enable-real-ip) need to be updated?

Furthermore, it's important to not

[2021-07-14 13:04] longwuyuan commented on #7348
Hi,
(1) Is this from letsencrypt "connect-example-com-ingress-cert" or is it self-signed ?
(2) Are you already aware of this but not using it for a reason  https://kubernetes.github.io/ingress-nginx/user-guide/tls/#default-ssl-certificate

/remove-kind bug
/triage needs-information

[2021-07-14 13:17] LoonyRules commented on #7348
Hello @longwuyuan,

1 - The certificate is self-signed and automatically created and managed by cert-manager.
2 - Was not aware of its existence and also not experienced enough with sysadmin in general as to why it'd be used rather than the cert manager + nginx ingress controller setup that a previous employee did for us. I'm essentially just continuing on with what was already implemented.
3 - Th